[2022-06-22 21:21] tamara-snyder commented on #1750
Figure out what [this comment](https://github.com/hackforla/website/issues/1750#issuecomment-881850027) is about

[2022-06-22 22:16] jbubar commented on #1750
@tamara-snyder I am happy to explain, but it is most likely no longer relevant

[2022-06-22 22:33] BeckettOBrien commented on #3093
Availability for this week: 6+ Hours
My estimated ETA for completing this issue: Less than 1 Hour

[2022-06-22 22:47] answebdev commented on #2455
I will be leaving the HfLA team, so I am moving this issue from ‘In progress’ to the ‘Prioritized Backlog’ on the Project Board. The following are notes for the next developer:

Out of the 10 Action Item tasks above, 8 of them have been completed. The following Action Items need to be completed (see Action Items section above in the issue):

 - [ ] The main navigation bar should dynamically get th

[2022-06-22 23:12] phuonguvan opened #3289 "Design System Audit: Text Elements: Events Page"
### Overview
We need to audit the Events page to know which ones have text elements that are missing text components.

### Action Items
- [ ] Find the page on the left panel of Figma
- [ ] Find the most recent Figma frame/version of that page (It should have a pink frame around it)
- [ ] For any texts that do not have the text components, make a line at the side of the texts and indicate what type

[2022-06-22 23:22] SAUMILDHANKAR opened #3290 "Create a wiki page about best practices for maintaining GitHub secrets"
### Overview
As a developer, I would like all the secrets being used in the website repo to be well maintained. In this issue, we will create a wiki page about the best practices for maintaining and resetting secrets in GitHub repos.

### Action Items
- [x] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will n

[2022-06-23 01:39] #3220 closed, assigned to alan-zambrano

[2022-06-23 01:45] #2804 closed, assigned to eodero

[2022-06-23 01:48] Olanrewaju-Ak commented on #3065
Progress: I have completed all the tasks in this issue
Blockers: none

[2022-06-23 03:53] tunglinn commented on #2808
Availability for this week: any day
My estimated ETA for completing this issue: 6/23/2022

[2022-06-23 03:54] tunglinn commented on #3271
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
About 48 hours.

[2022-06-23 08:15] #2650 closed, assigned to Zak234

[2022-06-23 15:45] ethanstrominger opened #3292 "Pre-work Checklist: Developer: [Ethan Strominger]"
I am working as a freelancer rather than on a team because of time conflicts (I am on East Coast).  Bonnie suggested I work on issue [2978)[https://github.com/hackforla/website/issues/2978].  I have started looking at the issue and working with alyssabenipayo

### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the

[2022-06-23 16:05] #3292 closed, assigned to ethanstrominger

[2022-06-23 18:38] clayton1111 commented on #3266
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

It took me about 8 hours to finish my pre-work. It took me longer than I was expecting to set everything up and understand the process. Now that I understand the process I am excited to work on more issues!

[2022-06-23 18:40] clayton1111 commented on #2811
Pull request has been submitted

[2022-06-23 19:11] tamara-snyder commented on #3271
@tunglinn I am reopening your Pre-Work because you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for more detail

[2022-06-23 19:20] tamara-snyder commented on #3268
Hi @AsherEngelberg, I am reopening your Pre-Work because you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for m

[2022-06-23 19:31] tunglinn commented on #2808
Provide Update
1. Progress: Completed issue action items
2. Blockers: PR reviews
3. Availability: 6/23-6/24
4. ETA: 6/23

[2022-06-23 19:32] tamara-snyder commented on #3093
Hi @BeckettOBrien, thanks for picking up this issue. Please move it to the In Progress column on the old Project Board (we aren't using the new one yet) so that no one else will mistakenly assign themselves to it from the Prioritized Backlog.

<img width="333" alt="Screen Shot 2022-06-23 at 3 30 25 PM" src="https://user-images.githubusercontent.com/57715733/175382085-4653c4a6-9d65-4600-98b3-ba9a5b

[2022-06-23 19:34] tamara-snyder commented on #3267
Hi @BeckettOBrien, I am unchecking the "Time spent so far" section since you haven't added a comment for that yet. Please check the box again once you have posted your "Time spent" comment.

[2022-06-23 19:39] ExperimentsInHonesty commented on #2935
@JessicaLucindaCheng This is not on the board, please decide what to do with it

[2022-06-23 19:41] JessicaLucindaCheng opened #3294 "Edit credit for Design image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-06-23 19:53] #3093 closed, assigned to BeckettOBrien

[2022-06-23 20:10] tamara-snyder commented on #2811
Hi @clayton1111, thanks for picking up this issue. Please move it to the In Progress column on the old Project Board (we ae not using the new one yet) so that no one else will mistakenly assign themselves to it from the Prioritized Backlog.

<img width="333" alt="Screen Shot 2022-06-23 at 3 30 25 PM" src="https://user-images.githubusercontent.com/57715733/175382085-4653c4a6-9d65-4600-98b3-ba9a5b9c

[2022-06-23 20:12] Sparky-code commented on #3189
Hi @a-sana I noticed you haven't made any comments or taken on any issues so I'm checking into to see if you are still interested in being part of Hack4LA? If I don't hear back from you by July 1st I will go ahead and take you off of the group.

If you are still involved Please move this issue to the In-Progress column on the Project Board.
<img width="336" alt="Screen Shot 2022-06-23 at 3 15 54 P

[2022-06-23 20:13] BeckettOBrien commented on #3267
Sorry, I accidentally posted it on a different issue. I'll move it here right away

[2022-06-23 20:13] BeckettOBrien commented on #3267
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? Probably 6-7 hours (including the internship onboarding meeting)

[2022-06-23 20:14] tamara-snyder commented on #3245
Hi @KalpanaTA, please add a progress update to your Pre-Work issue. If you are no longer interested in being a part of Hack for LA, let us know so that we can remove you from the roster. Thanks!

[2022-06-23 20:18] Sparky-code commented on #3190
Hi @RobenusW Can you elaborate a bit on which programs you are unable to download that you need for this? I don't have specific experience with getting things set up on a Chromebook but we should be able to get you up and running.

Please move this issue to the In-Progress column on the Project Board.
<img width="336" alt="Screen Shot 2022-06-23 at 3 15 54 PM" src="https://user-images.githubuserco

[2022-06-23 20:18] tamara-snyder commented on #3243
Hi @Mattre7, please move this issue to the In-Progress column on the old Project Board (we aren't using the new one yet).
<img width="336" alt="Screen Shot 2022-06-23 at 3 15 54 PM" src="https://user-images.githubusercontent.com/57715733/175392392-efbbb0d6-1481-4617-aa2b-e8ae5085c443.png">

[2022-06-23 20:23] tamara-snyder commented on #3242
Hi @seantokuzo, please move this issue to the In-Progress column on the Project Board.

<img width="336" alt="Screen Shot 2022-06-23 at 3 15 54 PM" src="https://user-images.githubusercontent.com/57715733/175392331-6e7aad04-56bd-46b9-9009-4cabe2947cd4.png">

[2022-06-23 20:27] Sparky-code commented on #3188
Hi @DonaldBrower Sorry for the slow reply

If you are having issues with Docker please see t[his thread](https://hackforla.slack.com/archives/C4UM52W93/p1655862959161349) on slack, it should solve the issue for now. We are working on a more permanent fix. A reminder to not use `git add .` when pushing changes to github as we do not want to push the altered docker-compose file.

Please move this is

[2022-06-23 20:27] JessicaLucindaCheng opened #3295 "Edit credit for Coding image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-06-23 20:29] #3150 closed, assigned to mmogri

[2022-06-23 20:29] tamara-snyder commented on #3148
Hi @scorbz9, please add a progress update to your Pre-Work issue. If you are no longer interested in being a part of Hack for LA, let us know so that we can remove you from the roster. If we don't hear back by July 1, we will go ahead and remove you from the website team. Thanks!

[2022-06-23 20:30] Sparky-code commented on #3149
Hi @loveshah751 I noticed you haven't made any updates or taken on any issues so I'm checking into to see if you are still interested in being part of Hack4LA? If I don't hear back from you by July 1st I will go ahead and take you off of the group.
Thanks!

[2022-06-23 20:32] tamara-snyder commented on #3126
Hi @oliviaywangn, I noticed that you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for more details.
I have unch

[2022-06-23 20:33] Sparky-code commented on #3147
Hi @KBWells77 my name is Devin, a member of the merge team. I'm checking in to see if you were able to get everything sorted out with your environment and moving forward with your prework. Please let me know if you are running into issues or if your availability has changed.

[2022-06-23 20:37] tamara-snyder commented on #3123
Hi @geedtd, I noticed that you still need to give an initial availability and ETA in the issue you self-assigned. Please keep your Pre-Work open until you have added your availability and ETA comment.

Please also provide a progress update on both your Pre-Work and the issue you're assigned to in the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/

[2022-06-23 20:42] Sparky-code commented on #3074
Hi @eodero it looks like you've been doing well with moving forward on your prework. I just wanted to check in about reviewing PRs and commenting your availability/eta on the issues that you review/assign yourself to. When those two things are done you should be good to go on closing out your prework checklist!

[2022-06-23 20:42] tamara-snyder commented on #3122
Hi @juliansmith0, I noticed that you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for more details.

[2022-06-23 20:43] JessicaLucindaCheng opened #3296 "Edit credit for Operations image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-06-23 20:43] tamara-snyder commented on #3121
Hi @Richey24, please add a progress update to your Pre-Work issue. If you are no longer interested in being a part of Hack for LA, let us know so that we can remove you from the roster. We will go ahead and remove you from the team if we don't hear back by July 1. Thanks!

[2022-06-23 20:44] Sparky-code commented on #3070
Hi @JayBarbanel I noticed you haven't made any updates to your prework or taken on a good second issue so I'm checking into to see if you're availability has changed and you are still interested in being part of Hack4LA? If I don't hear back from you by July 1st I will go ahead and take you off of the group.
Thanks!

[2022-06-23 20:49] Sparky-code commented on #3065
@Olanrewaju-Ak Looks like you're well and onboarded now, thank you for posting the issue updates.

[2022-06-23 20:49] #3065 closed, assigned to Olanrewaju-Ak

[2022-06-23 20:52] tamara-snyder commented on #2999
Hi @RyanCahela, please add a progress update to your Pre-Work issue. If you are no longer interested in being a part of Hack for LA, let us know so that we can remove you from the roster. Thanks!

[2022-06-23 20:56] Sparky-code commented on #3050
Offboarding due to no contact through github or slack

[2022-06-23 20:56] #3050 closed, assigned to greg-nice

[2022-06-23 20:56] tamara-snyder commented on #2964
Hi @poorvi4, I hope you had a nice vacation. Please provide a progress update on your Pre-Work Checklist and any issues/PRs you're assigned to when you're back.

[2022-06-23 20:59] Sparky-code commented on #2061
Avail: 3-4hrs
ETA: Ongoing
Blockers: Just combing through the audit spreadsheet, Working on making recommendations to the various elements.

[2022-06-23 21:00] tamara-snyder commented on #2592
Hi @harshitasao, I noticed you haven't left a progress update on your issue recently. Please comment an update if you're still interested in working on this issue.

[2022-06-23 21:00] tamara-snyder commented on #3107
Hi @JayBarbanel, I noticed you haven't left a progress update on your issue recently. Please comment an update if you're still interested in working on this issue.

[2022-06-23 21:01] Sparky-code commented on #3026
@Pauljsyi Checking in to see if you are still working on this issue or if your availability has changed. Please add your ETA and availability. Thanks!

[2022-06-23 21:03] Sparky-code commented on #2172
@juliansmith0 Checking in to see if you are still working on this issue or if your availability has changed. Please add your ETA and availability. Thanks!

[2022-06-23 21:04] Sparky-code commented on #2502
@macho-catt
Checking in to see if you are still working on this issue or if your availability has changed. Please add your ETA and availability. Thanks!

[2022-06-23 21:06] RobenusW commented on #3190
Hi, I am trying to use my father's computer, so i might be able to just download git a docker. I'll see if I am able to complete it and if this arrangement is sustainable. Thank you for your help, and I ll let you know if I encounter any problems.

[2022-06-23 21:12] ExperimentsInHonesty commented on #3131
This issue would usually have the milestone 01. Compliance.  However, it's specifically for the homepage launch, which has not happened yet.

[2022-06-23 21:13] a-sana commented on #3189
Hi Devin,

Thanks for reaching out. I wasn’t sure who to contact, but I messaged
Bonnie and the dev/engineering email in the first week mentioning that I
will join in a later cohort, but I’m not sure if those were the correct
inboxes to message or not.

If you can take me off the project for now until I rejoin later, that will
be great. Thank you so much!

Kindly,
Sana

On Thursday, June 23, 2022,

[2022-06-23 21:41] ExperimentsInHonesty commented on #2955
We will not be doing this automation.  We have decided instead to use the archive feature.

[2022-06-23 21:41] #2955 closed, assigned to nobody

[2022-06-23 22:45] JessicaLucindaCheng commented on #3294
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-06-23 22:46] JessicaLucindaCheng commented on #3295
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-06-23 22:46] JessicaLucindaCheng commented on #3296
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-06-23 23:19] BeckettOBrien commented on #3177
Availability for this week: 6+ Hours
My estimated ETA for completing this issue: Less than 1 Hour

[2022-06-24 00:01] #2155 closed, assigned to usaboo

[2022-06-24 00:28] KalpanaTA commented on #3245
Hi

Please remove me from the roster. I will not be working on this project as
my family got tested COVID positive.

Thank you.

Sorry for the inconvenience.

On Thu, Jun 23, 2022 at 1:14 PM Tamara Snyder ***@***.***>
wrote:

--
Thanks and Regards
Kalpana Thangam
*mailto*: ***@***.***
*Contact*: +14807380524
*LinkedIn:* https://www.linkedin.com/in/kalpana-thangam

[2022-06-24 00:44] JessicaLucindaCheng commented on #3023
@geedtd
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-06-24 01:30] raswani2023 commented on #2807
Availability for this week: I'm available tomorrow, Saturday afternoon, and most of Sunday as well.
My estimated ETA for completing this issue: I have completed the issue, just need to submit my pull request and have it reviewed, so hopefully very soon.

[2022-06-24 01:32] raswani2023 commented on #3273
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
It took me a while to get started with setting up my environment and downloading git, but assigning and completing an issue was relatively quick. It has probably taken me around 2 hours so far, plus the meeting times.

[2022-06-24 02:54] MCoding1 commented on #3272
.

[2022-06-24 03:47] #2808 closed, assigned to tunglinn

[2022-06-24 03:49] #2897 closed, assigned to oliviaywangn

[2022-06-24 12:59] tamara-snyder commented on #2141
My issue has been reviewed, edited, and approved by two people, so I am closing this issue.

[2022-06-24 12:59] #2141 closed, assigned to tamara-snyder

[2022-06-24 17:34] JessicaLucindaCheng commented on #2935
@ExperimentsInHonesty I'm going to go ahead and close it.

[2022-06-24 17:35] #2935 closed, assigned to nobody

[2022-06-24 19:08] ethanstrominger commented on #2978
Progress: Alyssa was working on this and I think I am now the only developer working on it.
- Reviewed issue description and followed all links.
- Ran script developed by Alyssa
- Tried out Google Docs to HTML converter (see findings)
- Planned out next steps
- Modified this issue description with actions.  Some of the actions are questions.

Blockers: None
Availability: Next week 8 hours.
ETA: 4

[2022-06-24 22:17] AsherEngelberg commented on #2806
1. Progress: Have forked the repository and figured out how to actually open and edit the code in VS code. Finished the issue and resolved the redundancy.
2. Having trouble with how to push the committed changes to the gitHub repository to submit to the pull request.
3. I have a lot of time this week to finish the issue.
4. I expect that this issue will be completed within the next week as it is a

[2022-06-25 01:32] kathrynsilvaconway opened #3300 "Update Events page alt text for HFLA Website image to adhere to WCAG"
### Overview

We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Action Items

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long.

[2022-06-25 03:15] oliviaywangn commented on #3126
1. Progress: First issue was merged, and submitted pull request for second issue.
2. Blockers: Being able to push things to personal repository (fixed).
3. Availability this week: 1 hr
4. ETA: 1 week

[2022-06-25 09:02] SAUMILDHANKAR commented on #2650
@Zak234 Thanks for adding your analysis for this issue. Looks like your observation is correct for the case mentioned in the issue description above however, there are a few more cases where the labels are getting added unexpectedly and sorry, I did not add them to the issue earlier.  Please notice that the GitHub action bot adds and removes the same label in:

- #2462 on Dec 9
- #2497 on Dec 2
-

[2022-06-25 14:50] #3177 closed, assigned to BeckettOBrien

[2022-06-25 15:18] matt-arofin commented on #2931
Status Update:
`ETA/Progress`: Awaiting PR merge

[2022-06-25 20:39] Mattre7 commented on #3243
Hi Tamara, sorry for the late response but hope I fixed it correctly!

On Thu, Jun 23, 2022 at 1:18 PM Tamara Snyder ***@***.***>
wrote:

[2022-06-25 21:15] Zak234 commented on #2650
I took a look at them and it looks like the first five have an issue
with add-update-label-weekly.yml
while the last two have an issue with issue-trigger.yml. I'll take a closer
look at the files but I also wanted to ask if you had any more recent
examples of the GitHub bot adding and removing update labels as the five
are all from last year and there may have been updates to the action in the
mea

[2022-06-25 22:55] Mattre7 commented on #2816
i. Available most of the time except for friday-sunday nights, as well as tuesday from 11-5

ii. Finished the issue fairly quickly, just added, committed, and pushed my changes. In the future I will be creating a new branch for the issue I am working on instead of just making the changes on my local master branch. I am hoping this can be reviewed so I can see if I pushed the changes correctly, and

[2022-06-25 23:00] Mattre7 commented on #3243
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

So far I would say I have spent somewhere around 6-8 hours including the onboarding and one of the meetings. A lot of my time was spent trying to figure out a docker-compose up issue until I found the solution in the

[2022-06-25 23:39] nathan944 opened #3302 "Design an SDG page for Hack for La's website"
### Overview
We need to design an SDG page for the hack for LA website, so that we can show our evidence based impact model as defined by the Measurement and Evaluation (M&E) professional standards.

### Action Items
#### Product
- [x] Define feature requirements

#### UI
- [ ] design the mockups using the HfLA design system
- [ ] get feedback from the PM

### Resources/Instructions
- [Hack for LA

[2022-06-26 02:18] nathan944 commented on #916
Progress: First mock video draft is completed, now it only needs revision
Blockers: None
Availability: 12 hours this coming week
ETA: Sunday 25/22

[2022-06-26 05:05] #2811 closed, assigned to clayton1111

[2022-06-26 05:19] #2810 closed, assigned to lilyarj

[2022-06-26 11:42] ethanstrominger commented on #2978
Progress: Created a script that recursively converts google docs to html and saves the html on to google drive.  Source and target directories are currently hardcoded.  I am currently storing in a repository on my github and will be meeting with Tamara Snyder, tech lead, to figure out where to store on HackforLA.  Repsitory is [here](https://github.com/ethanstrominger/html-markdown-googledocs-conv

[2022-06-26 15:38] tamara-snyder commented on #2027
### Agenda for June 26, 2022
Facilitator: Tamara Snyder

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Devin (Sparky-code) reviewed and merged PRs #3285, #3288, and #3298, re

[2022-06-26 15:49] ExperimentsInHonesty commented on #3290
@SAUMILDHANKAR There will need to be an action item to add something to the wiki so that people in the future can find the document.  Also, as much as possible should be added to the wiki except where it compromises security.

[2022-06-26 15:52] ExperimentsInHonesty commented on #3289
They should add a line from each text element and detail.  The ones in black should be the ones that are already set, the yellow lines should be the ones that need to be fixed.  The reason to annotate the ones that are fine, is so that as the lead, you can signoff on their audit.  Otherwise, you would have to recheck each element that does not have a line.

[2022-06-26 15:52] ExperimentsInHonesty commented on #3289
@phuonguvan They should add a line from each text element and detail.  The ones in black should be the ones that are already set, the yellow lines should be the ones that need to be fixed.  The reason to annotate the ones that are fine, is so that as the lead, you can signoff on their audit.  Otherwise, you would have to recheck each element that does not have a line.

[2022-06-26 16:26] clayton1111 commented on #3103
Availability for this week: 30 hours
My estimated ETA for completing this issue: <hour

[2022-06-26 16:32] Sparky-code commented on #3190
@RobenusW Great! from a quick search it looks like you should be able to get both of those on a chromebook.
From a couple resources I found for that, it looks decently straightforward:

https://www.geeksforgeeks.org/how-to-install-git-on-chrome-os/
https://chromeready.com/5214/install-docker-chromebook/

[2022-06-26 16:34] lilyarj commented on #3092
Availability: 2hrs
ETA: 6/26

[2022-06-26 16:37] Sparky-code commented on #3189
@a-sana Thanks for getting back to me, I would say the fastest way to get a response from the website dev team is going to be through the hfla-site slack channel

I'll take you off the group for now and we look forward to seeing you again in the future!
An FYI, as getting added to the various threads of H4LA is part of our onboarding process you'll probably have to go through onboarding again when

[2022-06-26 16:39] vaisali89 commented on #3003
Progress: Draft question for the survey ready for review. https://docs.google.com/document/d/1n1KInsUPAETTAH8UhScksXX8K9e-8VWv9MxQJ9AXWH4/edit

Blockers: What tool to use during the onboarding to send the survey to volunteers? Is Zoom polling an option?

Availability: 8 hours

ETA: July 3rd 2022

[2022-06-26 16:43] Sparky-code commented on #3026
@Pauljsyi I am going to unassign you from this issue as I have not seen any updates from you

[2022-06-26 17:08] lilyarj commented on #3270
Provide Update
1. Progress: Almost completed, just need to finish one or two more steps
2. Blockers: none
4. Availability: 3 hours
5. ETA: 6/27

[2022-06-26 17:10] #3270 closed, assigned to lilyarj

[2022-06-26 17:11] lilyarj commented on #3092
Provide Update

Progress: submitted a pull request
Blockers: none
Availability: 2 hrs
ETA: 6/27

[2022-06-26 17:13] tunglinn commented on #3096
Availability: Monday-Thursday 6 hours/day
ETA: 6/28/2022

[2022-06-26 17:20] gold-o commented on #2617
The changes indicated in the spreadsheet are ready to be made into issues, and an additional issue must be created that an alt text version of the sitemap will need to be created to accommodate accessibility requirements.

[2022-06-26 17:30] RobenusW commented on #2830
Availability: Tuesday-Thursday, Sunday
ETA: Sunday, July 3rd

[2022-06-26 17:32] JessicaLucindaCheng commented on #3130
- Progress: Completed writing 3 of the credits for the homepage redesign = 3 hours of work
- Blocker: None
- Availability: Possibly 2 hours each on Mon, Tue, Wed, Thu
- ETA: Sat, July 2, 2022 (maybe sooner)

[2022-06-26 17:34] JessicaLucindaCheng commented on #2689
- Progress: I still need to update this issue based on the comments in here: https://github.com/hackforla/website/issues/2689#issuecomment-1145512547
- Blockers: None
- Availability: 2 hours
- ETA: July 2, 2022 (at the latest but hopefully will get this done sooner)

[2022-06-26 17:35] usaboo commented on #2625
Hi @scarter31191 , sorry for the late response. I am pretty experienced with Github actions at this point. Would you want to set up a meeting with me at some point this week so that we could go over your issue?
You could also DM me on Slack!

[2022-06-26 17:37] JessicaLucindaCheng commented on #2746
- Progress: 75% done. Still needs to be done:
  - [ ] Remove anything that is repeated in the Getting Started section that is already in the pre-work.
  - [ ] Move resources to a different Wiki page and link back to Web Developer page.
  - [ ] See if anything in [About the Website Development Team](https://github.com/hackforla/website/wiki/About-the-Website-Development-Team) is duplicated elsewher

[2022-06-26 17:41] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the tea

[2022-06-26 17:45] RobenusW commented on #2830
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

About 3 weeks

[2022-06-26 17:45] JessicaLucindaCheng commented on #2807
@raswani2023 I have moved this issue back to the "In Progress" column. For the future, please leave the issue you are working on open and in the "In Progress" column.

Once your pull request is merged, there is automation that will close your issue and move it for you automatically. Thanks.

[2022-06-26 17:56] JessicaLucindaCheng commented on #2555
- Progress: Still need to fix the issues brought up in https://github.com/hackforla/website/issues/2555#issuecomment-1153288628
- Blockers: None
- Availability: 6 hours each Fri, July 1, 2022 and Sat, July 2, 2022
- ETA: Probably requires 6-12 hours of work. July 9, 2022 (but probably sooner)

[2022-06-26 17:58] riddle015 opened #3305 "Add H1 tags to homepage (DEMO)"
### Overview
As a developer we need to make sure that the website appears welcoming. For issue, we will increase the size of the headers on the homepage.

### Action Items
- [ ] Change h2 tags on website to h1 tags
- [ ] Check that the new header tags appear as intended
- [ ] `like this`

### Resources/Instructions
- [Credits page](https://www.hackforla.org/credits/)
- [How to work off of a featur

[2022-06-26 18:06] JessicaLucindaCheng commented on #2978
@ethanstrominger Since you are working on this issue, please move it to the "In Progress" column for the "Project Board". You can do this by clicking on the dropdown arrow (as circled below) and selecting "In Progress". Thanks.

<img src="https://user-images.githubusercontent.com/31293603/175827919-845d4e6e-a9bc-48b6-a093-be892399a3dd.png">

[2022-06-26 18:15] #3305 closed, assigned to nobody

[2022-06-26 18:26] olivioso commented on #2686
Update Issue #2686
Progress: Received feedback on partial draft of research plan. Got access to informed consent form. Met with developer to discuss prototype issue.
Blockers: Awaiting functioning prototype to write script for testing. Developer creating issue and will send prototype once ready.

[2022-06-26 18:29] Sparky-code opened #3306 "Update Hack for LA Alt Text on Events Page: our-locations-content.html"
### Overview

As developers we want to ensure that we ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). This issue addresses the alt text for the Hack for LA Website Project.

### Action Items

- [x] In the file `_includes/events-page/our-locations-content.html`, change [line 60](https://github.com/hackforla/website/blob/c88d715eeaca83a1665cfce48be1bead3f203fde

[2022-06-26 18:30] #3251 closed, assigned to olivioso

[2022-06-26 18:40] BeckettOBrien opened #3307 "Update Events page alt text for Undebate project image to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Undebate project on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt tex

[2022-06-26 18:40] kathrynsilvaconway opened #3308 "Update Events page alt text for Write For ALL image to adhere to WCAG"
### Overview

We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Action Items

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long.

[2022-06-26 18:50] Zak234 opened #3309 "Change alt text for LA TDM Calculator on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the LA TDM Calculator location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideall

[2022-06-26 18:53] tamara-snyder opened #3310 "Change alt text for Downtown LA 311 Data location image on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA 311 Data location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ide

[2022-06-26 18:53] riddle015 opened #3311 "Change alt text for Downtown LA Food Oasis location image on events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA Food Oasis location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. I

[2022-06-26 18:53] tunglinn opened #3312 "Change alt text for Downtown LA VRMS location image on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA VRMS location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-06-26 18:54] RobenusW opened #3313 "Change alt text for Downtown LA Hack For LA Website image on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA Hack for LA Website location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or to

[2022-06-26 18:55] usaboo opened #3314 "Change alt text for Downtown LA Civic Tech Index location image on Events page."
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA Civic Tech Index location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too l

[2022-06-26 18:56] raswani2023 opened #3315 "Change alt text for Downtown LA Home Unite Us location image on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Downtown LA Home Unite Us location on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long

[2022-06-26 19:13] blulady opened #3316 "Change alt text for Westside Expunge Assist image on events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Westside Expunge Assist location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Idea

[2022-06-26 19:33] #3082 closed, assigned to blulady

[2022-06-26 19:40] #2807 closed, assigned to raswani2023

[2022-06-26 21:54] SAUMILDHANKAR commented on #2400
Progress: Did some more reading, should have more updates on this, next week
Blockers: No blockers
Availability: 2 hrs
ETA: 7/5/22

[2022-06-26 23:15] SAUMILDHANKAR commented on #3290
@ExperimentsInHonesty I have added an action item to add the research information to a wiki page. This issue won't have any secure information related to our repo so all of the research can go on the wiki page. Thanks.

[2022-06-26 23:58] SAUMILDHANKAR commented on #2650
@Zak234 Thanks for getting back. There have been a few updates to the actions that you mentioned above but none of them seems to be directly about fixing this issue. It is possible that any other code change might have fixed this issue, but it would need more analysis. I will check my notes for a more recent example where this has occurred and let you know. Thank you.

[2022-06-27 01:40] tamara-snyder commented on #3307
Hi @BeckettOBrien, great job creating this issue! Just remember to add any new issues you create to the Project Board. Thanks!

[2022-06-27 01:59] tamara-snyder commented on #3315
Hi @raswani2023, great work creating this issue. Please remember to add any new issues you create to the Project Board. Thanks!

[2022-06-27 06:08] #3271 closed, assigned to tunglinn

[2022-06-27 06:25] tunglinn commented on #3096
Progress Update
1. Progress: completed changes
2. Blockers: waiting for PR reviews
3. Availability: Monday-Thursday 6hrs/day
4. ETA: 6/27/22

[2022-06-27 13:56] Zak234 commented on #2650
Let me know if you can find any more recent examples. I also wanted to make
sure that for the issue where its removing the milestone label that both
you and Adam are part of merge team, right? I'm going to be gone for the
next five days but I'll get back to this when available again.

On Sun, Jun 26, 2022 at 4:58 PM Saumil Dhankar ***@***.***>
wrote:

[2022-06-27 15:02] #3092 closed, assigned to lilyarj

[2022-06-27 17:09] lilyarj commented on #3232
Availability: 3 hrs
ETA: 6/28

[2022-06-27 17:11] lilyarj commented on #3232
When putting in Hannah Zulueta's slack id, it reads an error when you click on the link in my local website. So I went to slack and searched up Hannah Zulueta and found her slack id. That slack id when it is put in does not read an error when it is clicked, and it links to her account I believe.

[2022-06-27 17:53] AsherEngelberg commented on #3268
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Up to the initial ETA and availability, including the first meetings, this pre-work took me an estimated 20 hours. Mainly, it involved reading tutorials and familiarizing myself with the materials, and the meetings t

[2022-06-27 19:19] JessicaLucindaCheng commented on #3242
@seantokuzo I am moving this back into New Issue Approval because there is no milestone on it. A PM will put a milestone on it and move it back into In Progress for you. Sorry for the confusion.

[2022-06-27 19:25] JessicaLucindaCheng commented on #3190
@RobenusW I am moving this back into New Issue Approval because there is no milestone on it. A PM will put a milestone on it and move it back into In Progress for you. Sorry for the confusion.

[2022-06-27 19:26] JessicaLucindaCheng commented on #3190
From this  https://github.com/hackforla/website/issues/2830#issuecomment-1166599006, @RobenusW wrote:

[2022-06-27 19:45] tamara-snyder commented on #2607
## June 27 Meeting Agenda

### Prework to prep for meeting
- [x] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column
          -

[2022-06-27 20:06] tamara-snyder commented on #3148
Hi @scorbz9, I am reopening your Pre-Work because you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for more det

[2022-06-27 20:12] JessicaLucindaCheng commented on #3246
@LilyLuo001 I am re-opening this prework because you have not completed all the items in the pre-work. If you are still interested in volunteering at Hack for LA, please let us know by Monday, July 4, 2022. If we don't hear back from you by Monday, July 4, 2022, we will close your prework and mark you inactive in our roster. 

I will also be Slack messaging you and sending you an email as well.

[2022-06-27 20:14] tamara-snyder commented on #3063
Hi @matt-arofin, I am reopening your Pre-Work because you still need to do a progress update in the issue you are assigned to and report your time spent so far in this Pre-Work Checklist. Please keep your Pre-Work open until you have done these things. Please use the following format for providing a progress update:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/bl

[2022-06-27 20:20] tamara-snyder commented on #3152
Hi @arpitapandya, I am reopening your Pre-Work because you still need to report your time spent on the Pre-Work Checklist in a comment.

I have unchecked the item for the hours spent so far. Please check it off again once this is done.

[2022-06-27 20:26] a-sana commented on #3189
Thanks, Devin! I appreciate it and will do! :)

On Sunday, June 26, 2022, Devin Krizwold ***@***.***> wrote:

--

Sana I. Ahmed
UC Berkeley College of Environmental Design | May 2016
linkedin.com/in/-sana-ahmed | ***@***.***

[2022-06-27 20:34] JessicaLucindaCheng commented on #3272
@MCoding1 I am re-opening this prework and re-assigning you to this prework because you have not completed all the items in the pre-work. If you are still interested in volunteering at Hack for LA, please let us know by Monday, July 4, 2022. If we don't hear back from you by Monday, July 4, 2022, we will close your prework and mark you inactive in our roster.

[2022-06-27 20:38] BeckettOBrien commented on #3257
Availability for this week: 10 AM to 4 PM weekdays
My estimated ETA for completing this issue: 1-2 Hours

[2022-06-27 20:55] JessicaLucindaCheng commented on #3167
@sniux
Are you still interested in volunteering at Hack for LA? Please let us know by Monday, July 4, 2022 in a comment below. If we don't hear back from you by Monday, July 4, 2022, we will close your prework and mark you inactive in our roster.

I will also be Slack messaging you and sending you an email as well.

Also, if you are still interested, please also mark your membership as `Public` fo

[2022-06-27 21:15] ExperimentsInHonesty commented on #3167
I am closing this issue because Snigdha decided to go back to UX and rejoin the internship team

[2022-06-27 21:15] #3167 closed, assigned to nobody

[2022-06-27 21:17] #3272 closed, assigned to MCoding1

[2022-06-27 21:18] ExperimentsInHonesty commented on #3272
I have closed this issue, because Melodie has left the program

[2022-06-27 23:01] Sparky-code commented on #3273
Hi @raswani2023 Glad to see you getting through your prework! Can you link me the issue that you completed? I am unable to find it and for some reason am having your commit come up as part of someone elses issue. Thanks!

[2022-06-27 23:14] raswani2023 commented on #3273
@Sparky-code Hi, here is a link to the issue I completed: (https://github.com/hackforla/website/issues/2807). Not sure why my commit is coming up as part of someone else's issue. Let me know if there's anything I should do.

[2022-06-28 17:34] clayton1111 commented on #3294
Availability for this week: All day
My estimated ETA for completing this issue: End of day

[2022-06-28 19:07] #3096 closed, assigned to tunglinn

[2022-06-28 20:43] #3103 closed, assigned to clayton1111

[2022-06-28 21:25] JessicaLucindaCheng commented on #3257
@BeckettOBrien When you self-assign an issue (besides your prework checklist), please move it to the "In Progress" column.

[2022-06-28 21:26] BeckettOBrien commented on #3257
Sorry, done!

[2022-06-28 22:19] KBWells77 commented on #3147
Hello, I sorry for the delayed response, yes I do still plan to work on the team and finish getting my environment set up. I have been over seas the past two weeks and very busy since I got back. I will be back for the team meeting on July 5th if that it alright. I wasn’t completely sure how to announce my absence but I notified Tamara Snyder and she said it would be alright.
Thank you

Sent from

[2022-06-29 00:18] alan-zambrano commented on #3236
Availability: 3hrs
ETA: 6/30

[2022-06-29 00:25] Sparky-code commented on #3147
Hey @KBWells77 Thanks for the update! No worries, I must've missed that, I'll mention it to Tamara again and we'll look forward to seeing you on the 5th! Best practice is to post changes to your availability in the comments of the issue you're working on.

[2022-06-29 01:19] tamara-snyder commented on #2689
#### Onboard [Wilny Duong and Sarah Sanger]
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invita

[2022-06-29 01:58] Wny-Duong commented on #2010
### Agenda for June 28, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-06-29 02:13] mmogri commented on #2777
Progress: minimal (family obligations past couple weeks)
Blockers: TBD
Availability: >10 hours
ETA: 07/02/2022

[2022-06-29 02:30] tunglinn commented on #3135
Availability: Tuesday-Thursday 4 hours
ETA: 6/28/22

[2022-06-29 02:50] raswani2023 commented on #3088
Availability: I am available most afternoons.
ETA: I have created a PR, just waiting to get it reviewed

[2022-06-29 05:12] Annie-Truong opened #7460 "Interns Skill dashboard requirements"
### Dependency
- [x] https://github.com/hackforla/website/issues/6614 - While this issue is not closed, it has transitioned the work for this dashboard to this issue

### Overview
We need to identify and list out the requirements for the Skill dashboard in order to facilitate the work for a developer.

#### Details
We will recruit a developer to help us with creating labels (via GitHub Action) for

[2022-06-29 16:59] #3088 closed, assigned to raswani2023

[2022-06-29 18:11] #3068 closed, assigned to ericvennemeyer

[2022-06-29 18:17] ExperimentsInHonesty commented on #3294
Clayton posted this in slack today
[Clayton Brossia](https://app.slack.com/team/U03LSJHN3PT)
  [10:50 AM](https://hackforla.slack.com/archives/C4UM52W93/p1656525006451329)
Hi everyone. I assigned myself to work on issue [#3294](https://github.com/hackforla/website/issues/3294). I am supposed to be editing the file _data/internal/credits/ui-ux.yml, however the file does not exist. I have been able

[2022-06-29 18:38] #3236 closed, assigned to alan-zambrano

[2022-06-29 18:39] clayton1111 commented on #3294
![image](https://user-images.githubusercontent.com/107889868/176511410-d47c89d3-f428-4bbf-9818-58e00543520b.png)

[2022-06-29 18:44] clayton1111 commented on #3294
So I figured out that I was in the gh- pages feature branch. However when I try to switch to the feature-homepage-launch feature branch I get this error message:
![image](https://user-images.githubusercontent.com/107889868/176512298-e9f8eb1a-a37a-4155-9be6-5d26e54805fb.png)

[2022-06-29 19:08] #3135 closed, assigned to tunglinn

[2022-06-30 00:56] scorbz9 commented on #3148
Provide Update
1. Progress - This is the progress update for the pre work issue.
2. Blockers - None
3. Availability - 1hr
4. ETA - 6/29

[2022-06-30 00:56] #3148 closed, assigned to scorbz9

[2022-06-30 04:13] phuonguvan commented on #916
[Johnathan's Video](https://drive.google.com/drive/folders/1bOCThYoN0Xe8BHQ-617xPrY3eFDmdeK2)
This is for review with Bonnie so no further comments need to be placed.

[2022-06-30 04:17] phuonguvan commented on #3040
## 2022-06-29 Agenda

- [ ] Review [Gold's Issue](https://github.com/hackforla/website/issues/2617) as what is the alt text for the site map image and further action items need to be taken for the issue
- [x] Review [Johnathan's Video](https://github.com/hackforla/website/issues/916): Is it necessary to have details on how to make an issue as the issue mostly needs to show labeling the wrong tags

[2022-06-30 04:57] #3126 closed, assigned to oliviaywangn

[2022-06-30 05:00] oliviaywangn commented on #3131
Availability; 3 hrs
ETA: 1.5 week

[2022-06-30 07:01] phuonguvan commented on #3277
@sijiapitts Please give me updates on what you will be working on. Please also give me the Figma file so I can clean up the details on the issue.

[2022-06-30 16:39] epierotti3 commented on #2288
![Hero Sample 12](https://user-images.githubusercontent.com/44823677/175969451-fb04aca8-87d7-4236-9d65-04c96484d8c6.png)

[2022-06-30 18:05] JessicaLucindaCheng commented on #3294
@clayton1111

Sorry, I wasn't clear in the issue how to work off the feature branch. It looks like you may have figured it out since you have opened a pr. Let me know if you still need help with the blocker you were facing.

[2022-06-30 18:09] clayton1111 commented on #3294
@JessicaLucindaCheng Yes! At first I hadn't switched over to the feature branch (which was my first question). Then when I did I had this error (second question). But I was able to figure out how to fix it and just submitted the PR. Thank you for the support!

[2022-06-30 18:11] sijiapitts commented on #3277
@phuonguvan I have included the Figma link to the descriptions.

I will still be working on fixing the dropdown menu. But because we may add more toolkit categories in the future, we will need to change the web menu design to dropdown menus as well (like the project page and wins page). When working on this issue, I will use the project page as a reference.

[2022-06-30 19:02] RyanCahela commented on #2999
Progress: I've been working on rebuilding my personal portfolio site but I'm going to get back into completing issues.
Blockers: None right now.
Availability: I'll finish and close this issue once I assign myself to a new issue on Saturday 6/2/22.
ETA: "When do you expect this issue to be completed? Saturday 6/2/22"

[2022-07-01 02:19] tunglinn commented on #2933
Availability: 6 hours/Friday, Sunday, Monday
ETA: 7/4/2022

[2022-07-02 00:11] SAUMILDHANKAR commented on #2650
@Zak234 I was definitely part of the merge team when the label was removed and as far as I can remember Adam was part of the merge team as well though not 100% sure.

[2022-07-02 00:22] #2097 closed, assigned to scorbz9

[2022-07-02 13:48] summerharveyux commented on #2763
shared the presentation with the UXR team and a recording of the presentation with design lead Phuong, at Simone's request. will consider this project completed on my end as I address any additional questions from Phuong. She's asked (and I've answered) one question so far.

[2022-07-02 23:00] #2999 closed, assigned to RyanCahela

[2022-07-02 23:17] RyanCahela commented on #3217
Availability: Sunday 10AM - 5PM
ETA: 2 Hours

[2022-07-03 17:00] JessicaLucindaCheng opened #3328 "Create each program area page automatically using a layout"
### Dependencies
- [x] #6323
- [x] #4226
- [x] #4449
- [x] #3756
- [x] #4120
- [x] #4159
- [x] #2475
- [x] #3738
- [x] #3757
- [x] #3802
- [x] #4118
- [x] #4446
- [x] #4447
- [x] #4448
- [x] hackforla/website/issues/7425
- [x] hackforla/website/issues/8202

### Overview
We want each program area page created dynamically so we don't have to manually code each page.

### Action Items
#### For Develo

[2022-07-03 18:22] ExperimentsInHonesty commented on #2502
@jnmrles We have not heard from you since you self assigned this issue.  We are putting it back into the prioritized backlog

[2022-07-03 20:15] Zak234 commented on #2650
I took a closer look at the issue where it removed the "Ready for
Milestone" label and it looks like the issue is that when the issue trigger
runs that the check-labels.js file doesn't check if the issue creator is
part of the merge team and instead just considers the "Ready for Milestone"
label as an unwanted label all the time and removes it. I can write an
issue for it if you want.

On Fri, Jul

[2022-07-04 17:02] vaisali89 commented on #3003
Progress: Reviewed and tested the Zoom Poll option. I think that would be ideal and most convenient to conduct the survey.

Blockers: How many onboarding sessions to conduct the polls in? How many participants per session?

Availability: 8 hours

ETA: July 10th 2022

[2022-07-04 17:39] tunglinn commented on #2933
Progress: Understanding how Github actions work, duplicated repo into a private repo for testing.
Blockers: Unable to test actions in private repo.
Availability: M-Th (6 hours/each)
ETA: 7/11

[2022-07-04 20:24] #3232 closed, assigned to lilyarj

[2022-07-05 16:08] clayton1111 commented on #2112
ETA: End of the day
Availability: All day

[2022-07-05 16:54] lilyarj commented on #2634
Availability: 5hrs
ETA: 7/8

[2022-07-05 18:24] Zak234 commented on #2650
I talked with Bonnie in standup and she told me to go ahead and create the
issue, if thats okay with you?

On Sun, Jul 3, 2022 at 1:15 PM Sakari Salminiitty <
***@***.***> wrote:

[2022-07-05 20:49] BeckettOBrien commented on #3257
Reopening because the PR to fix this [broke the program areas and languages for project cards](https://github.com/hackforla/website/pull/3321#issuecomment-1173145624). I think I know how to fix it so I should be able to have another PR by EOD 7/5/22 (or EOD on whatever day the old PR gets reverted)

[2022-07-05 21:16] BeckettOBrien commented on #3257
@tamara-snyder I noticed that some of the projects use HTML in their descriptions, which would no longer work after escaping liquid injections. For example, this is what the Undebate project card would look like after this issue is resolved:
![image](https://user-images.githubusercontent.com/44044350/177417717-312ffef3-1c1b-4e22-9a6a-9a6601d5bb74.png)

[2022-07-05 22:00] mxajPrice commented on #3153
[Link](https://drive.google.com/file/d/1uWSqc5jU6feY3XSi9g178qnoOkan6enH/view?usp=sharing) to one-sheet.

[2022-07-06 01:51] JessicaLucindaCheng commented on #3294
Moving this to Questions/In Review because I am awaiting a response to this question in the associated PR. See: https://github.com/hackforla/website/pull/3325#issuecomment-1175686979

Edit: Nevermind.  I found the other pr that was merged #3326 and linked it to this issue. I'm not sure why the automation didn't work in linking the pr to this issue but I went ahead and manually linked it to this is

[2022-07-06 01:57] JessicaLucindaCheng opened #3331 "Edit credit for Data Science image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-07-06 01:57] JessicaLucindaCheng commented on #3331
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-06 02:01] SAUMILDHANKAR commented on #2650
@Zak234 Thanks for looking into it. I will let you and the current leads decide on if a new issue should be written for it or if it should be fixed as part of this issue.

Also, were you able to look into the other issues as well where the GitHub actions bot was adding and removing the status updated label? If these are 2 separate problems, then making a new issue would definitely be a good idea.

[2022-07-06 02:07] Zak234 commented on #2650
I believe that they are 2 separate separate issues. I'll take a closer look
at the status updated issue.

On Tue, Jul 5, 2022 at 7:01 PM Saumil Dhankar ***@***.***>
wrote:

[2022-07-06 02:15] JessicaLucindaCheng commented on #3294
See: https://github.com/hackforla/website/issues/3294#issuecomment-1175687534.

Since there is something wrong with the automation, I'm closing this issue manually.

[2022-07-06 02:15] #3294 closed, assigned to clayton1111

[2022-07-06 02:57] SAUMILDHANKAR commented on #2400
Progress: I setup a default version of CodeQL with GitHub actions workflow in one of the branches in my repo. Would be editing the workflow and testing out the functionality next.
Blockers: No blockers
Availability: 2 hrs
ETA: 7/12/22

[2022-07-06 17:03] Zak234 opened #3334 "GitHub Actions: Bot removing labels added immediately after issue creation"
### Dependency
-  The Github Actions bot does not appear to be removing the `ready for milestone` label when an issue is created with the label attached anymore

### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want to know why the GitHub action bot is removing the "Ready for Milestone" label when appli

[2022-07-06 18:28] ExperimentsInHonesty commented on #2634
This issue shows that summer did an update but the issue https://github.com/hackforla/website/issues/2763 still has the 2 week inactive label.  What is supposed to happen

On this issue it shows it might be adding it to soon https://github.com/hackforla/website/issues/2309

[2022-07-06 18:30] ExperimentsInHonesty commented on #2634
see this page https://github.com/hackforla/website/wiki/GHA:-add-update-label-weekly
https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions

[2022-07-06 18:44] Zak234 opened #3335 "Test"
Related to #3334

### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instruct

[2022-07-06 18:44] #3335 closed, assigned to nobody

[2022-07-06 19:18] tunglinn commented on #2933
I'm unable to access the action logs from the mentioned PRs (log retention is capped at 90 days for public repositories).
Overall, I found that PR label workflow fails to trigger along with the pull request instructions. I believe that the issue is not solely in the PR label workflow.

Here's a more detailed report of the mentioned issues:

For https://github.com/hackforla/website/pull/2918, PR la

[2022-07-06 21:22] tunglinn commented on #2933
Found https://github.com/hackforla/website/pull/3318, where a commit from a different user is added into the PR.
<details><summary>triggered both PR labels and PR request instructions workflow</summary>

![image](https://user-images.githubusercontent.com/86996158/177645355-ac50e7a3-1b78-47e1-a01b-52c3366f502a.png)
</details>
<details><summary>PR labels are good, but the PR request instructions com

[2022-07-06 23:13] sijiapitts commented on #3277
Blocker: Do we need a multi select dropdown (dropdown with check box) for the toolkit page?

Because the nature of the toolkit page, I think users rarely will need to select multiple categories at the same time. In this case, a single select dropdown may be more intuitive and easier to use.

[2022-07-07 03:11] JessicaLucindaCheng opened #3336 "Edit credit for Marketing image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-07-07 03:12] JessicaLucindaCheng commented on #3336
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-07 03:28] JessicaLucindaCheng opened #3337 "Edit credit for Accounting image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-07-07 03:29] JessicaLucindaCheng commented on #3337
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-07 17:11] BeckettOBrien commented on #3131
Availability: 3 Hours
ETA: EOD 7/7/22

[2022-07-07 18:10] tunglinn commented on #2933
Found a few PR with same issue with logs still intact!
https://github.com/hackforla/website/pull/3087 - false alarm, it seems like none of the workflow ran because there was a merge conflict of some sort merge conflict that Jessica mentioned.
<details><summary> Workflows don't run if there is a merge conflict </summary>

![image](https://user-images.githubusercontent.com/86996158/177847566-29ca5df

[2022-07-07 18:25] BeckettOBrien commented on #3257
Bonnie asked me to add some details about why this was closed to the issue itself:
Quote from Wilny about why it was being closed:

List of projects that would be affected:
- [Civic Tech Jobs](https://github.com/hackforla/website/blob/3312d645da70e3a651c59f09d3c4a78a75bfecaf/_projects/civic-tech-jobs.md?plain=1#L4)
- [Civic Tech Structure](https://github.com/hackforla/website/blob/3312d645da70e3a6

[2022-07-07 18:29] tunglinn commented on #2933
Hi all,
I'd like to test workflows on https://github.com/hackforla/website/pull/2969.
I'd like to remove a label, and then edit the PR to trigger the workflow. Bonnie and I discussed this and seems harmless. Also, there is some precedent as Saumil did it in https://github.com/hackforla/website/pull/2918.
Please let me know if this will cause problems.

[2022-07-07 18:36] ExperimentsInHonesty commented on #3257
## Why and where  is html used
### To create separate paragraphs
- Civic Tech Jobs
  - `The CivicTechJobs.org MVP website will be a platform to help prospective volunteers find inter disciplinary projects that will be useful for their career development while contributing to positive civic impact and a CMS for Hack for LA projects to be able to list their open roles.<br><br>The tool will match vol

[2022-07-07 18:51] ExperimentsInHonesty commented on #3257
I have detailed where HTML is used in the above referenced files https://github.com/hackforla/website/issues/3257#issuecomment-1178053761

Let's talk about other solutions at Sunday's team meeting

[2022-07-07 19:01] ExperimentsInHonesty commented on #3257
We should try some other solutions or paragraphs, such as

solution 1
[code]

solution 2
[code]
More solutions here: https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-in-yaml-over-multiple-lines

[2022-07-07 19:35] phuonguvan commented on #2617
@gold-o Bonnie said that she discussed the alt text for the site map at Sunday's meeting. Was there a note about this?

[2022-07-07 19:45] ExperimentsInHonesty commented on #916
Notes for changes to video

- Start the video with a Title page (instead of explaining)
- Don't use dark mode
- Use the regular issue creation tool, not this form based one
- Then paste in what you want to say in each section (have the part you want to copy off screen so it does not show up when you go to cut and paste)
- add the issue to the project board after you submit

[2022-07-07 20:31] ExperimentsInHonesty commented on #3257
@BeckettOBrien can you take a look at the solutions provided above and test them out in your local environment to see which might work for us.

I believe the issue is we were taking a shortcut, using html in the markdown/yml project files and there are already solutions for this that are suitable for these file types.

If we are able to use one of these solutions, we might be able to use the secur

[2022-07-07 21:08] BeckettOBrien commented on #3257
I couldn't get any of these solutions to actually produce a line break in the rendered site. I found that the liquid filter `newline_to_br` can be used to generate HTML line breaks, but those would be escaped and rendered as raw text on the site. Another possibility would be to modify the sanitization code to either only escape blacklisted tags (scripts, iframes, etc) or not escape whitelisted one

[2022-07-07 21:09] sdimran opened #3339 "Update Project Profile: [Civic Tech Jobs]"
### Overview
As a product manager of Civic Tech Jobs I want my project's details to be up to date on the HackforLA website

### Project card
Insert url of your project card here before sending; your card(s) can be found in this folder: https://github.com/hackforla/website/blob/gh-pages/_projects/civic-tech-jobs.md

### Action Items

- [ ] Civic Tech Jobs Team Leadership
   - [x] Please check off e

[2022-07-07 21:15] sdimran commented on #3339
We would like like to update our contributors for our active team:

**Remove:**

Sharad Gaurav (Product Manager)
Patty Costello (UX Researcher)
Sarah Williams (Software Developer)

**Add:**

Name - Salima Yacoubi Soussane
GitHub handle - Salimays
Role - Product Manager
SLACK ID - U03HUJM7YCX

Name - Kevin Park
GitHub handle - Enzyme3
Role - Backend Developer
SLACK ID - U02B1MG90PK

Name - Maria El

[2022-07-07 22:00] #3268 closed, assigned to AsherEngelberg

[2022-07-07 22:10] gold-o commented on #2617
@phuonguvan Yes, she mentioned that a solution for the site map alt text could be to have a text document laying out the content in the sitemap (using the same hierarchy). And then have a link below the site map that goes to the document. However, she mentioned that this will need to be a different issue. It is related to the comment I made above.

[2022-07-08 15:44] olivioso commented on #2686
Update Issue #2686
Progress: Reshared request for updated prototype.
Blockers: Awaiting functioning prototype to write script for testing. Developer creating issue and will send prototype once ready. (unfortunately, it was a few days before I saw a private slack email requesting that I resend info regarding the Figma prototype).
Availability: 6 hours in coming week
ETA: Hoping to review research p

[2022-07-09 01:09] #3217 closed, assigned to RyanCahela

[2022-07-09 19:19] Zak234 commented on #2650
I found some more recent issues with the status updated issue, so it looks
like it was never fixed. I can create a new issue for it but I was also
wondering if the To Update! label is still in use as it was also being
added and removed but I can find only one current issue with the label and
its 2 months old.

On Tue, Jul 5, 2022 at 7:06 PM Sakari Salminiitty <
***@***.***> wrote:

[2022-07-09 20:05] Zak234 opened #3341 "GitHub Actions: Bot adding and removing "Status: Updated" and "To Update!" label"
### Overview
There is a bug with the Github bot in which it both adds and removes the "Status: Updated" label. This should be fixed to avoid confusion and to make sure that the proper labels are being applied.

### Action Items
- [x] Please go through the wiki article on [Hack for LA's GitHub Actions](https://github.com/hackforla/website/wiki/Hack-for-LA's-GitHub-Actions)
- [x] Review the [add-lab

[2022-07-10 01:10] JessicaLucindaCheng commented on #3131
Not sure why the automations are not automatically linking the pr to this issue even though it has `Fixes #3131` in https://github.com/hackforla/website/pull/3338#issue-1297824354.

I have gone ahead and manually linked pr #3338 to this issue. See this comment: https://github.com/hackforla/website/pull/3338#issuecomment-1179632289

I will now manually close this issue as completed.

[2022-07-10 01:11] #3131 closed, assigned to BeckettOBrien

[2022-07-10 01:38] JessicaLucindaCheng opened #3342 "Add credit for Infinity image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <d

[2022-07-10 01:42] JessicaLucindaCheng commented on #3342
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-10 16:35] tamara-snyder commented on #2027
### Agenda for July 10, 2022
Facilitator: Tamara Snyder

- [x] Nominate a note-taker who will take notes during the meeting. Please note the names of members present in the meeting and other discussion topics of the meeting. After the meeting, Slack message Tamara with the notes.

**Let's celebrate our contributions/wins since last team meeting**
- Alan (alan-zambrano) opened PR 3322
- Beckett (Be

[2022-07-10 17:09] lilyarj commented on #2634
Progress: starting, read a bunch of material but haven't made any progress on the actual issue
Blockers: Git is acting up for me, and I am confused
Availability: 3 hours
ETA: 7/14?

[2022-07-10 17:16] mmogri commented on #2777
Progress: some
Blockers: TBD
Availability: >10 hours
ETA: 07/15/2022

[2022-07-10 17:51] sijiapitts commented on #3035
- Still working on Issue #3277  which is required for this issue

[2022-07-10 17:59] ExperimentsInHonesty opened #3343 "Research: update the wiki to use the new standard for research projects"
### Overview
We need to have a way to see all the research without having to look at issues, so that we can avoid duplicating work where necessary, or being able to duplicate effective methods when necessary.

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes

[2022-07-10 18:06] sijiapitts commented on #3277
1. Progress: Clarified the design direction for toolkit filters during the meeting on 7/10. We are trying to make the toolkit page filter work the same way as the landing page. Will create multiple filters(practice area, tools, and status) and checkboxs inside of dropdown (so people can select multiple items).
2. Blockers: No blockers
3. Availability: 5 hours
4. ETA: by the next meeting on 7/13

[2022-07-10 18:12] #3111 closed, assigned to Zak234

[2022-07-10 18:16] s-sanger opened #3344 "testing update to github actions for issue creators not on the website-write team"
### Overview

testing github actions update

### Action Items

Fixes #3111

https://github.com/hackforla/website/pull/3299#pullrequestreview-1033664950

### Resources/Instructions

May need to create a teams token in the  repo environment with read org and read user permissions

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:19] blulady opened #3345 "testing update to github actions for issue creators not on the website-write team #3344"
### Overview

testing github actions update

### Action Items

Fixes #3111

https://github.com/hackforla/website/pull/3299#pullrequestreview-1033664950

### Resources/Instructions

May need to create a teams token in the  repo environment with read org and read user permissions

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:28] kathrynsilvaconway commented on #2010
### Agenda for July, 12 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-07-10 18:31] s-sanger opened #3346 "test2"
### Overview

test2

### Action Items

checking

### Resources/Instructions

checking

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:32] blulady opened #3347 "test2"
### Overview

test2

### Action Items

non-dummy account

### Resources/Instructions

non-dummy account

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:34] raswani2023 commented on #2898
ETA: Just submitted a PR for the issue after being able to test it in my local repository to make sure the changes worked.
Availability: Monday, Tuesday, Wednesday

[2022-07-10 18:38] blulady opened #3349 "test3"
### Overview

ame issue

### Action Items

non dummy account

### Resources/Instructions

none

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:38] s-sanger opened #3350 "test3"
### Overview

test3

### Action Items

none

### Resources/Instructions

none

### Is there a dependency?

No

### If Yes, please explain

_No response_

[2022-07-10 18:47] tamara-snyder commented on #2689
#### Onboard Kathryn Silva Conway as Tech Lead
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [x] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [x] Inv

[2022-07-10 18:59] #3350 closed, assigned to nobody

[2022-07-10 19:04] #3349 closed, assigned to nobody

[2022-07-10 19:04] #3347 closed, assigned to nobody

[2022-07-10 19:04] #3346 closed, assigned to nobody

[2022-07-10 19:04] #3345 closed, assigned to nobody

[2022-07-10 19:04] #3344 closed, assigned to nobody

[2022-07-10 19:55] SAUMILDHANKAR commented on #2650
@Zak234 Thanks for looking into this. Sure, feel free to create an issue for that. Unless something came up regarding the To update! label recently, my understanding is that it is still being used. The reason there aren't too many of those labels currently might be because of a bug which would be addressed in the issue: #2634

[2022-07-10 23:24] JessicaLucindaCheng opened #3351 "Add credit for Citizen Engagement image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <d

[2022-07-10 23:30] JessicaLucindaCheng commented on #3351
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-10 23:36] Zak234 commented on #2650
Okay, thank you!

On Sun, Jul 10, 2022 at 12:55 PM Saumil Dhankar ***@***.***>
wrote:

[2022-07-10 23:37] JessicaLucindaCheng commented on #3130
Progress: Completed writing 8 of the credits for the homepage redesign = 6 hours of work
Blocker: None
Availability: 2 hours today and 8 hours Monday
ETA: Mon, July 11, 2022

[2022-07-10 23:43] JessicaLucindaCheng commented on #2607
Add to next agenda:
-  [ ] This issue is in the In Progress column but missing a milestone and still has "Ready for Milestone" label: https://github.com/hackforla/website/issues/3316

[2022-07-11 00:01] JessicaLucindaCheng commented on #3130
@ExperimentsInHonesty

Edit: Bonnie already answered my questions

## Hands credit
In the [redesigned homepage in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), there is a Hands credit listed; here is a screenshot of it:
  <details>
    <summary>Screenshot of Hands credit in Figma</summary>
    <img alt="" src="https://user-images.githubuserco

[2022-07-11 01:12] JessicaLucindaCheng opened #3352 "Add credit for Civic Tech Infrastructure image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the Credits webpage is up to date.

### Details
From the Homepage Redesign Credits in Figma, here is a screenshot of the credit's information for reference:
  <details>
    <summary>Click here to see the screenshot of the Civic Tech Infrastructure credit in Figma</summary>
    <img alt="" sr

[2022-07-11 01:13] JessicaLucindaCheng commented on #3352
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-11 01:23] JessicaLucindaCheng opened #3353 "Add credit for Diversity, Equity, Inclusion image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the Credits webpage is up to date.

### Details
From the Homepage Redesign Credits in Figma, here is a screenshot of the credit's information for reference:
    <details>
      <summary>Click here to see the screenshot of the Diversity, Equity, Inclusion credit in Figma</summary>
      <img

[2022-07-11 01:24] JessicaLucindaCheng commented on #3353
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-11 05:40] Zak234 opened #3354 "Fix Punctuation and Capitalization in Access the Data & food Oasis"
### Overview
We need to fix the capitalization and punctuation in food-oasis.md and access-the-data.md so we can keep everything understandable and up to standard on the website.

### Details
Below are screenshots of the tools currently on the Food Oasis and Access the Data webpages from the Hack for LA website as of 2022-09-04 (these tools are subject to change via another issue, so don't worry i

[2022-07-11 06:56] Zak234 opened #3355 "Replace 3 digit abbreviated hex color codes in _colors.scss"
### Overview
We need to replace the 3 digit abbreviated hex color codes in _colors.scss with its equivalent 6 digit hex color codes so that it fits in with the rest of the values on the page which are all 6 digit, which will promote readability.

### Action Items
Open _sass/variables/_colors.scss in VS Code or your IDE, then
- [x]  Change the line `$color-black: #333;` to `$color-black: #333333;`

[2022-07-11 16:00] ExperimentsInHonesty opened #3356 "Add this resource to the ToolKit External Resources section"
### Dependency
- [ ] When we are ready to prioritize the toolkit again
- #3357

### Overview
We want to add a new external resource to the website toolkit so that we can share this resource we use on teams with internal and external users

### Details
Unsplash: A Figma plugin allows you to use high quality stock images with just a click.

### Tool category
Figma

### Link
https://www.figma.com/com

[2022-07-11 16:07] clayton1111 commented on #2961
ETA: by end of day 7/14
Availability: 4 Hours

[2022-07-11 16:10] ExperimentsInHonesty opened #3357 "Update toolkit yml files to include a new fields"
### Overview
We need to add new fields and change a field to the Internal and External Resources files for the toolkit, so that we can have filters similar to what exists on the homepage.

### Action Items
- [x] Add the field to all files listed below
- [x] identify which files need info for the new fields and add them to a comment on this issue, so that the Guides team can provide the information

[2022-07-11 18:14] lilyarj commented on #2634
I'm un assigning myself from this issue, Bonnie think it might be a large issue

[2022-07-11 18:28] AsherEngelberg commented on #2438
Availability: The Rest of the Day

ETA: 6:00 PM

[2022-07-11 19:52] #2612 closed, assigned to bishrfaisal

[2022-07-11 19:54] #2616 closed, assigned to nobody

[2022-07-11 20:03] JessicaLucindaCheng commented on #3186
@MohamadAlsyouf If you are still interested in volunteering with the Website Team at Hack for LA, please leave a comment below with your progress on this pre-work checklist by Monday, July 18, 2022. If we do not hear back from you by Monday, July 18, 2022, we will close your pre-work checklist

[2022-07-11 20:04] #2614 closed, assigned to nobody

[2022-07-11 20:14] JessicaLucindaCheng commented on #3149
Closing this prework since we haven't heard back.

[2022-07-11 20:14] #3149 closed, assigned to nobody

[2022-07-11 20:16] JessicaLucindaCheng commented on #3118
I think this issue is related to issue #2061

[2022-07-11 20:26] #3189 closed, assigned to nobody

[2022-07-11 20:27] JessicaLucindaCheng commented on #3189
Closed issue as a-sana plans re-join HfLA at a later time.

[2022-07-11 20:43] JessicaLucindaCheng commented on #3187
@angieintech Please give a progress update on how you are doing on this prework checklist in a comment below. If we do not hear back from you by Monday, July 18, 2022, we will be closing this prework checklist and marking you as inactive in our roster.

I will be Slack messaging and emailing you as well.

[2022-07-11 20:53] tamara-snyder commented on #2607
## July 11, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-07-11 20:56] BeckettOBrien commented on #2221
Availability: 3 Hours
ETA: EOD 7/11/22

[2022-07-11 21:00] JessicaLucindaCheng opened #3358 "Add credit for Environment image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <d

[2022-07-11 21:01] JessicaLucindaCheng commented on #3358
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-11 21:18] angietechcafe commented on #3187
For my progress update, I'm currently working on steps 1.1 - 1.6.

[2022-07-11 21:46] angieintech commented on #1443
My website build time is 112.253 seconds. It gave me a load error on the file webrick.

[2022-07-11 21:52] ExperimentsInHonesty commented on #2614
- This issue was used to create #3132 and now is done.

[2022-07-11 22:20] angieintech commented on #2909
Availability: Thursday evening
ETA: A week or two from now.

[2022-07-11 22:39] angietechcafe commented on #2817
Availability for this week: Thursday evenings
My estimated ETA for completing this issue is next Thursday or the Thursday after.

[2022-07-11 23:09] RobenusW commented on #2830
Progress: I am a little behind
Blockers: "Difficulty making edits, because when typing on VSCODE the edits dont showup on my branch
Availability: 1 and half hours
ETA: Tuesday of next weeks

[2022-07-11 23:11] RobenusW commented on #2830
Sorry about the delay, I have just been busy personally, I promise to get back on track

[2022-07-12 01:00] Zak234 opened #3360 "Guide Pages: improve WCAG for Building a Reporting Dashboard and 2FA"
### Overview
We need to add alt text to the hero image of some guide pages so that they are Web Content Accessibility Guidelines (WCAG) compliant.

### Details
Alt text helps people using text to speech browsers understand the content in images if the image communicates something not written on the page (e.g., a navigation button with a picture of a map on it, to indicate you can see a map by clic

[2022-07-12 01:05] Zak234 commented on #2956
Availability: All day
ETA: 2-3 days

[2022-07-12 01:11] tunglinn commented on #2933
Did some testing in existing PRs. I removed a label, updated the top PR comment, which should trigger the PR label workflow to re-add the label.

<details><summary>When testing in an already merged pull request #3291, the PR label action is able to be triggered.</summary>

![image](https://user-images.githubusercontent.com/86996158/178377883-9ffb7564-28d6-445a-b0e4-416343d2335d.png)
</details>

<d

[2022-07-12 01:11] kathrynsilvaconway opened #3361 "Creating issues to update alt texts on About Us page"
### Dependency
 - [x] #3382
 - [x] #3383
 - [x] #3397
 - [x] #3398
 - [x] #3402
 - [x] #3401
 - [x] #3404
 - [x] #3396
 - [x] #3400
 - [x] #3399
 - [x] #3403

### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this epic, we will write issues to change the alt text for the images in the [About Us page](https://www.hackforla.org/about/)

[2022-07-12 20:25] ExperimentsInHonesty commented on #2898
Which GHA are you working on.  See this directory: https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions

[2022-07-12 21:15] ExperimentsInHonesty commented on #3153
### Overview
[One Sheet](https://drive.google.com/file/d/1uWSqc5jU6feY3XSi9g178qnoOkan6enH/view?usp=sharing)

### New Description
With government policies increasingly relying on data and data analysis, it becomes imperative to increase citizens' access and understanding of local government data in order to be effective advocates for their communities.

We are currently working on an MVP, which is

[2022-07-13 00:44] JessicaLucindaCheng commented on #2933
@tunglinn I noticed this pr doesn't have labels on it and has `Fixes #3316` so the automation should have put labels on it. The pr is #3340

[2022-07-13 00:55] JessicaLucindaCheng commented on #3246
Closing this issue because I have not heard back from Lily and marking Lily inactive in the roster.

[2022-07-13 00:55] #3246 closed, assigned to LilyLuo001

[2022-07-13 00:59] tunglinn commented on #2933
@JessicaLucindaCheng I think it's because there's a merge conflict. I mentioned a case similar to this in this comment https://github.com/hackforla/website/issues/2933#issuecomment-1178023100. Do we want it to run even if there's a merge conflict?

Another piece of evidence is that Lint SCSS didn't run either.

[2022-07-13 01:05] BeckettOBrien commented on #3257
Putting a link to the decision record for this issue here before its closed:
[https://github.com/hackforla/website/wiki/DR:-Sanitize-project-markdown-to-prevent-Liquid-Injection-attacks](https://github.com/hackforla/website/wiki/DR:-Sanitize-project-markdown-to-prevent-Liquid-Injection-attacks)

[2022-07-13 01:08] RobenusW commented on #2830
Progress:Just need to check off dependencies
Blockers: Just waiting for merging
Availability: 1 and half hours
ETA: Sunday of this week, if not sooner

[2022-07-13 01:13] luke-karis commented on #2901
ETA and Availability Update
ETA: July 15
Availability: Tuesday, Thursday 1-2 hours
Blockers: None

[2022-07-13 01:19] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
 Remove anything that is repeated in the Getting Started section that is already in the pre-work.
 Move resources to a different Wiki page and link back to Web Developer page.
 See if anything in [About the Website Development Team](https://github.com/hackforla/website/wiki/About-the-Website-Development-Team) is duplicated elsewhere and can be removed, n

[2022-07-13 01:21] JessicaLucindaCheng commented on #2689
- Progress: I still need to update this issue based on the comments in here: https://github.com/hackforla/website/issues/2689#issuecomment-1145512547
- Blockers: None
- Availability: 2 hours
- ETA: July 17, 2022 (at the latest but hopefully will get this done sooner)

[2022-07-13 01:22] JessicaLucindaCheng commented on #2676
- Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to re-audited if there were changes to the page since it was audited.
- Blockers: None
- Availability: Not sure about this week
- ETA: Not sure this will be completed before I leave

[2022-07-13 01:33] angietechcafe commented on #3187
Update
1. Progress - submitted a pull request to issue #2817
2. Blockers - Sunday - Wednesday, Friday, and Saturday
3. Availability - Thursday evenings
4. ETA - I hope to fix my first good issue this Thursday or next Thursday.

[2022-07-13 02:17] #3257 closed, assigned to BeckettOBrien

[2022-07-13 02:53] blulady commented on #3175
#### Onboard Neev Liberman, Justin Dingeman
- [x ] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at htt

[2022-07-13 03:12] Wny-Duong opened #3364 "Pre-work Checklist: Developer: [Demo]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-13 03:14] jdingeman opened #3365 "Pre-work Checklist: Developer: Justin Dingeman"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-13 03:17] neevliberman opened #3366 "Pre-work Checklist: Developer: Neev Liberman"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-13 14:45] #2817 closed, assigned to angietechcafe

[2022-07-13 17:07] lilyarj commented on #2222
Availability: 3hrs
ETA: 7/14

[2022-07-13 19:55] tunglinn commented on #2933
I've been unable to replicate the bug.

Is it possible that it was a bug on the server side (GHA)?
https://www.githubstatus.com/ mentions some degraded performance around the time of the PRs with this bug.

[2022-07-14 00:19] seantokuzo commented on #2875
Availability for this week: W: 4-7, Th 5-7
My estimated ETA for completing this issue: By end of Thursday, 7/14

[2022-07-14 00:21] seantokuzo commented on #3242
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

1-2 hrs (2 week break, life got busy)

[2022-07-14 00:39] MohamadAlsyouf commented on #3186
Hi @JessicaLucindaCheng I am still interested in volunteering with the Website Team. I apologize for the inactivity, I've been interviewing, self studying, and taking job assessments. I am currently on the task of setting up my developer environment and I will work on this as soon as I can. Thanks for reaching out, have a good rest of the week!

[2022-07-14 00:45] #3242 closed, assigned to seantokuzo

[2022-07-14 01:17] nathan944 opened #3370 "Create SDG page"
### Overview
Create SDG page to be added to Hack for La website

### Action Items
- [ ] Product
   - [ ] ideate
   - [ ] define feature requirements
   - [ ]  make issues for UI/Development
      - [ ] UI
         - design the mockup
         - get feedback from product
     - [ ] Development
        - develope according to figma

### Resources
[figma file](https://www.figma.com/file/0RRPy1Ph7HafI

[2022-07-14 20:23] #2875 closed, assigned to seantokuzo

[2022-07-15 01:10] angietechcafe commented on #3187
How many hours did it take you to finish the pre-work, including adding your initial ETA and availability for your good first issue, including attending your first meetings? It took me several hours to complete my pre-work due to my new work schedule, fixing docker, and learning more about pull requests.

[2022-07-15 02:12] Wny-Duong commented on #2502
Availability: (07/14-07/17): 4 hours, (07/18-07/22): 6 hours
ETA: 07/22, Friday.

[2022-07-15 02:34] #2898 closed, assigned to nobody

[2022-07-15 02:34] angietechcafe commented on #3306
i. Availability: Thursday evenings
ii. ETA: Most likely by next Thursday

[2022-07-15 14:19] arpitapandya commented on #3152
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?:
Time spent: 6hrs to complete
Availability: 6hrs for next week
Blockers: None, I am submitting late as my laptop was in service few weeks.

[2022-07-15 14:34] arpitapandya commented on #3342
Availability for this week: 6hrs
My estimated ETA for completing this issue: 2hrs

[2022-07-15 14:46] ExperimentsInHonesty commented on #3277
### Filters Needed

- ~Program~ Practice Areas (Product Management, Design, Research, etc.)
- Tool (Figma, GitHub, Miro, etc.)
- Type (article, plugin, video, guide, etc.)
- Status (Completed, Work In Progress, Depreciated)
- Contributors (for internal guides all contributors will be listed)
- Source (Hack for LA, Code for America, Other)

### Example of left filter from another project
http://civ

[2022-07-15 15:04] ExperimentsInHonesty commented on #3277
@sijiapitts fyi, I opened this issue to have the development team add the other filter content to the code so that when the design is done, they can make the new filters right away
- https://github.com/hackforla/website/issues/3357

[2022-07-15 16:35] akhaleghi commented on #2763
Data science community of practice family photo...
<img width="904" alt="Screen Shot 2022-07-14 at 8 04 50 PM" src="https://user-images.githubusercontent.com/7635911/179268008-8876be66-3ce7-4a2c-9d4b-099db9157cae.png">

[2022-07-15 23:36] #2812 closed, assigned to jdingeman

[2022-07-15 23:59] #3306 closed, assigned to angietechcafe

[2022-07-16 02:56] angietechcafe commented on #3187
I finished my first and second good issues. Now I'm working on my first small issue.

[2022-07-16 03:14] angietechcafe commented on #3166
i. Availability: Thursdays
ii. ETA: Next Thursday or the Thursday after.

[2022-07-16 04:58] tunglinn commented on #2933
Team has decided to close this issue and write up a decision report.

[Decision report](https://github.com/hackforla/website/wiki/DR:-Squashing-PR-GitHub-Actions-bug,-not-adding-labels-or-instructions) has my findings and recommended steps to take if the bug does appear again.

[2022-07-16 04:58] #2933 closed, assigned to tunglinn

[2022-07-16 06:10] Zak234 commented on #2956
I looked at the issues and it seems like the reason issues #2560 and #2707 were moved was due to poor labelling on the issues. For #2400, it looks like it was just an issue with the person accidentally closing and reopening their issue which caused the action to run. I discussed with the tech leads and Bonnie about whether we should change which labels send and prevent issues from going to the QA

[2022-07-16 06:12] #2956 closed, assigned to Zak234

[2022-07-16 06:31] Zak234 commented on #2104
ETA: 1 day
Availability: Anytime

[2022-07-16 08:08] JessicaLucindaCheng commented on #3265
1) For future reference, I have taken a screenshot of the default "Who has access" and "Manage access" settings of the beta project board when we did the initial test migration:
    <details>
      <summary>Click here to see screenshot of the settings</summary>
      <img src="https://user-images.githubusercontent.com/31293603/179346498-06ec9c61-a29a-4f88-9e8c-8f1035c0f151.png" alt="">
    </detai

[2022-07-16 08:20] JessicaLucindaCheng commented on #2607
Add to next agenda:
- FYI: Read the info in this comment: https://github.com/hackforla/website/issues/3265#issuecomment-1186115078

[2022-07-16 08:56] JessicaLucindaCheng commented on #3187
@angieintech You don't have to actually complete a medium, small

[2022-07-16 08:59] JessicaLucindaCheng commented on #3187
@angieintech
- You don't have to actually complete a small, medium, and large issue to close this prework.
- However, you do need to put a weekly progress report (which includes Progress, Blockers, Availability, ETA) in an issue you self-assign (not including this prework) if the issue takes you longer than 5 days to complete. Thus, I have unchecked a couple of checkboxes above, which you can chec

[2022-07-16 23:07] arpitapandya commented on #2953
- Time spent: 6hrs to complete
- Availability: 6hrs for next week
- Blockers: None for this issue

[2022-07-16 23:09] arpitapandya commented on #2953
@JessicaLucindaCheng
- Found a bug which can be a separate new issue to work on(or it's already in issues list) in [Getting Started html](https://github.com/hackforla/website/blob/gh-pages/pages/getting-started.html),
- At present Step 3 and Step 4 in [Getting Started page](https://www.hackforla.org/getting-started) isn't pointing to correct card.
- changes required for the link Step 3 and Step 4

[2022-07-16 23:17] #3152 closed, assigned to arpitapandya

[2022-07-17 01:47] JessicaLucindaCheng opened #3376 "Update feature-homepage-launch branch"
### Overview
As developers, we want the feature-homepage-launch branch updated with changes from the gh-pages branch so that
- the feature branch contains the latest code changes from gh-pages, and
- developers working on issues based on the feature branch will have the most up-to-date code.

### Action Items

#### Developer Updating the Branch
- [ ] From How to update a feature branch with change

[2022-07-17 03:55] JessicaLucindaCheng opened #3377 "feature-homepage-launch branch: Fix projects' info pages' styling of the header"
### Overview
As developers, we need to fix the styling of the first header in the projects' info pages in the feature-homepage-launch branch so that it matches the styling of those pages on the live website.

### Details
<details>
  <summary>Click here to see examples of what the header should look like on the current projects' info pages</summary>
  <img width="960" alt="100Automations" src="http

[2022-07-17 09:04] SAUMILDHANKAR commented on #2400
Progress: Not much progress, still need to make changes to the workflow.
Blockers: No blockers
Availability: 2 hrs
ETA: 7/29/22

[2022-07-17 15:48] matt-arofin commented on #3063
Update on my first issue closed (#2793):

1. Progress - task completed, pull request merged
2. Availability - 2 hours daily, Wednesday, Friday, Saturday
3. Time Spent on pre-work so far - 6.5 hours

[2022-07-17 16:19] vaisali89 commented on #3003
Progress: Integrating the questions onto Zoom4.
Blockers: Need to discuss the comfort level of Bonnie to launch the poll during onboarding.
Availability: 8 hrs
ETA: July 18th 2022

[2022-07-17 16:51] blulady commented on #2027
### Agenda for July 17, 2022
Facilitator: Sarah

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Sakari

**Let's celebrate our contributions/wins since last team meeting**
- Robenus (RobenusW) opened their first PR with Hack For LA 3362
- PR merg

[2022-07-17 17:01] Zak234 commented on #2104
Update:
Made changes and tested code. Changes 1, 2 and 3 do not work as intended while the rest seem to be working fine. Will try and update changes 1, 2 and 3 to work properly.

ETA: 1 day

[2022-07-17 17:03] tunglinn commented on #3357
Availability: M-Th 6 hours/day
ETA: 7/21

[2022-07-17 17:17] tunglinn commented on #3357
[2FA](https://github.com/hackforla/website/issues/511)
- Tools
  - GitHub
- Contributors
  - Danielle Nedivi
  - Ruben Sanchez
- Source: Hack for LA?
- Recommended By:

[Creating Kanban projects](https://github.com/hackforla/knowledgebase-content/issues/155) - "Create a Guide/Template: Agile Development/Scrum/Kanban"
- Tools
  - Kanban
- Contributors
  - Qiqi Zheng
- Source: Hack for LA
- Recommen

[2022-07-17 17:19] #2931 closed, assigned to matt-arofin

[2022-07-17 17:28] tunglinn commented on #3357
Finding guides information:
- https://github.com/orgs/hackforla/projects/3
- https://github.com/hackforla/knowledgebase-content/issues/104
- Or track down last changes of those .yml files.

[2022-07-17 18:06] alice-milmac opened #3379 "Pre-work Checklist: Researcher: Alice MillerMacPhee"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-17 18:10] aksanna opened #3380 "Pre-work Checklist: Researcher: Anna Kirstine Schirrer"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-17 18:23] ExperimentsInHonesty commented on #3379
After you are added to the roster, @vaisali89 will add you to these teams, and then you can self assign this issue
https://github.com/orgs/hackforla/teams/website/members
https://github.com/orgs/hackforla/teams/website-write/members

[2022-07-17 18:24] ExperimentsInHonesty commented on #3380
After you are added to the roster, @vaisali89 will add you to these teams, and then you can self assign this issue
https://github.com/orgs/hackforla/teams/website/members
https://github.com/orgs/hackforla/teams/website-write/members

[2022-07-17 18:40] JessicaLucindaCheng commented on #2953
@arpitapandya
Thanks for bringing this up! It's already in the [issues spreadsheet] (https://docs.google.com/spreadsheets/d/1qEiDFUKPCVH3JNzGQSKl_HMl9vqNv8Z9gGrvw9MyYvU/edit#gid=772902542) as row #19. It actually should be the larger, detailed cards 3 and 4 should be switched so it matches the header order as per the Figma design.

Also, please leave your issue in the In Progress column. When your

[2022-07-17 18:52] tunglinn commented on #3357
Here are the guides that need to be checked/clarified.

2FA: source? HfLA or Other (GitHub)

[Creating Kanban projects](https://github.com/hackforla/knowledgebase-content/issues/155) - "Create a Guide/Template: Agile Development/Scrum/Kanban" VS Using Kanban project (https://github.com/hackforla/knowledgebase-content/issues/16)

[Figma for open source projects](https://github.com/hackforla/knowled

[2022-07-17 21:43] #2961 closed, assigned to clayton1111

[2022-07-17 22:18] gold-o commented on #3117
Progress: I have redesigned the SDG section and padding for the citizen engagement cards on the website page. I still have to redesign the SDG section for the mobile page, but I have a few questions.
Blockers: N/A
Availability: 4-5 hours
ETA: By the end of this week (by 07/23)
Pictures (optional): "Add any pictures of the visual changes made to the site so far."
![Screen Shot 2022-07-17 at 3 15 41

[2022-07-18 01:15] poorvi4 commented on #2220
ETA: 3-5 hours
Availability: Sunday-Tuesday 2 hours each day, 8-10 pm

[2022-07-18 04:30] #2221 closed, assigned to BeckettOBrien

[2022-07-18 15:39] #2953 closed, assigned to arpitapandya

[2022-07-18 15:46] kathrynsilvaconway opened #3382 "Update alt text for Zero Hunger image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-18 16:40] kathrynsilvaconway opened #3383 "Update alt text for gender-equality image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-18 17:15] clayton1111 commented on #2306
Availability: all week
ETA: 7/25

[2022-07-18 17:58] kathrynsilvaconway commented on #2010
### Agenda for JULY 19, 2022

#### Meeting start

- [ ] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-07-18 19:17] arpitapandya commented on #3342
Time spent: 6hrs to complete
Availability: 6hrs for next week
Blockers: None for this issue

[2022-07-18 19:32] arpitapandya commented on #3296
Availability for this week: 6hrs
My estimated ETA for completing this issue: 2hrs

[2022-07-18 21:17] JessicaLucindaCheng commented on #2607
## July 18, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-07-18 21:22] alice-milmac commented on #2705
Progress: Self-assigned the issue
Blockers: Need to get access to "user groups" document linked above under "Action Items"
Availability: 4+ hours

[2022-07-18 21:57] ExperimentsInHonesty commented on #3265
It seems like when we migrated, it brought the automation rules at the time.  When we tested this by changing what happens to reopened PRs (no longer added to in progress, instead added to PR needs review) it did not update the automations listed here: https://github.com/orgs/hackforla/projects/15/workflows/1671601  Although it looks like not all of the automations got migrated, because reopening

[2022-07-18 23:14] vaisali89 commented on #3003
Progress: Added the questions into the onboarding deck and Zoom 4 as polls, ready to be tested on July 18th 2022.

[2022-07-18 23:45] BeckettOBrien commented on #2065
Availability: 9 AM to 5 PM PST weekdays
ETA: EOD 7/20/22

[2022-07-19 02:20] ethanchen7 opened #3386 "Pre-work Checklist: Developer: Ethan Chen"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-19 02:21] jbialkin98 opened #3387 "Pre-work Checklist: Developer: Josh Bialkin"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-19 02:46] d-perez-8 opened #3388 "Pre-work Checklist: Developer: Daniel Perez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-19 02:47] CalvinTan607 opened #3389 "Pre-work Checklist: Developer: [Calvin Tan]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-19 04:49] jdingeman commented on #3094
i. Availability: Everyday after 4pm
ii. ETA: EOD 7/19

[2022-07-19 13:28] ExperimentsInHonesty commented on #2288
![Project Card](https://user-images.githubusercontent.com/44823677/176914496-545eb0fb-d84d-411e-9710-308b3e7ca6ff.png)

[2022-07-19 14:02] olivioso commented on #2686
Update Issue https://github.com/hackforla/website/issues/2686
Progress: No progress.
Blockers: Awaiting functioning prototype.
Availability: I will be unable to complete tasks associated with this issue. I must step away from volunteering due to an unexpected move.

[2022-07-19 16:02] #3187 closed, assigned to angietechcafe

[2022-07-19 16:08] angietechcafe commented on #3166
My update:
1. Progress - Working on creating a JavaScript comment for this issue.
2. Blockers - Sun-Wed, Fri, and Sat
3. Availability - Th evenings
4. ETA - Th evening

[2022-07-19 16:35] ExperimentsInHonesty commented on #2686
We need to look at https://www.usdigitalresponse.org/ because they have solved the menu with multiple items vs the ones with just one page, by using a V icon

[2022-07-19 17:07] Zak234 commented on #2104
My mistake. Change 3 works fine but changes 4 and 5 don't.

[2022-07-19 18:25] ExperimentsInHonesty commented on #3357
delete the following fields and content from the files in this folder: https://github.com/hackforla/website/tree/gh-pages/_guide-pages

"short description"

In the file: https://github.com/hackforla/website/blob/gh-pages/_includes/guide-card.html

change from
[code]
change to
[code]

[2022-07-19 18:43] aksanna commented on #3380
i. Availability: July 19 + 21,  26 + 27, August 2 + 3

ii. About 12 hours

iii. ETA: First week of August.

[2022-07-19 18:43] ExperimentsInHonesty commented on #3357
change the status of all coming soon's to be Work in Progress, change the active to be Completed in the files in this folder: https://github.com/hackforla/website/tree/gh-pages/_guide-pages

In the file: https://github.com/hackforla/website/blob/gh-pages/_includes/guide-card.html
---
change from
[code]

to

[your code here]

---
This code will have to check for status==completed and give the link

[2022-07-19 18:50] aksanna commented on #2706
i. next two weeks until first week of august 2022
ii. about 12 hours to complete
iii. first week of august 2022

[2022-07-19 19:03] ExperimentsInHonesty commented on #3357
- change the word `provider-link` to `resource-url`  in the files
- [x] in this folder: https://github.com/hackforla/website/tree/gh-pages/_guide-pages
- [x] https://github.com/hackforla/website/blob/gh-pages/_data/internal/toolkitresources.yml
- [x] https://github.com/hackforla/website/blob/gh-pages/pages/toolkit.html
- [x] https://github.com/hackforla/website/blob/gh-pages/_includes/guide-card.h

[2022-07-19 19:05] ExperimentsInHonesty commented on #3357
Here is the complete list of fields that should be available when done (replacement name is in parens)

title:
description:
image:
provider-link (resource-url)
display:
card-type:
category (practice-areas):
status:

recommended-by
tools
contributors
source

[2022-07-19 19:16] arpitapandya commented on #3296
Time spent: 6hrs to complete
Availability: 6hrs for next week
Blockers: None

[2022-07-19 20:25] alice-milmac commented on #2705
Progress: Review summary of user groups
Blockers: None
Availability: 4 hours
ETA: Draft of Interview Guide complete by 7/20

[2022-07-19 21:11] arpitapandya commented on #3337
Availability for this week: 6hrs
My estimated ETA for completing this issue: 2hrs

[2022-07-19 21:34] arpitapandya commented on #3337
Time spent: 1hr to complete
Availability: 6hrs for next week
Blockers: None

[2022-07-19 21:41] aksanna commented on #2706
Progress: revising user interview guide for advisors, checking in with Wednesday team to follow up on recruits for interview incl. Q on where to recruit and how many. Link to user groups in Overview inaccessible e.g. use open link: https://docs.google.com/document/d/1w72QFeBa-S32O9djdERvPxR3kq89AiulRP_2Ezdt66A/edit

[2022-07-19 23:41] neevliberman commented on #2813
Availability for this week: Every day except Wednesday, Thursday
My estimated ETA for completing this issue: 24 hours

[2022-07-19 23:44] neevliberman commented on #2813
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

~144 hours

[2022-07-20 02:29] luke-karis commented on #2901
ETA and Availability Update
ETA: July 21
Availability: Wednesday, Thursday 1-2 hours
Blockers: None

[2022-07-20 03:05] BeckettOBrien opened #3396 "Update alt text for Sustainable Cities image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Sustainable Cities and Communities goal logo on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate o

[2022-07-20 03:07] lilyarj opened #3397 "Update alt text for Decent Work image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-20 03:09] luke-karis opened #3398 "Update alt text for wins-cup image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-20 03:13] jdingeman opened #3399 "Update alt text for Partnerships image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-20 03:14] Wny-Duong opened #3400 "Update alt text for peace-justice image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the peace-justice image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt

[2022-07-20 03:15] neevliberman opened #3401 "Update alt text for Climate Action goal logo on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-20 03:17] tunglinn opened #3402 "Update alt text for Wins-Card Mobile image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Radical Inclusivity image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally

[2022-07-20 03:20] Zak234 opened #3403 "Update alt text for Sustainable Development Logo image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Sustainable development logo image on the [About Us page](https://www.hackforla.org/about/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long

[2022-07-20 03:25] kathrynsilvaconway commented on #3175
#### Onboard Brian Aguda
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com/

[2022-07-20 03:28] blulady opened #3404 "Update alt text for metrics-pie-chart image on the About Us page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). In this issue, we will change the alt text for the Metrics pie graph image on the [About#Metrics](https://www.hackforla.org/about/#metrics).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. I

[2022-07-20 04:02] braguda opened #3406 "Pre-work Checklist: Developer: Brian Aguda"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-07-20 04:41] braguda commented on #2820
ETA: End Of Day 07/21/2021
Availability: 2Hours

[2022-07-20 16:44] #3094 closed, assigned to jdingeman

[2022-07-20 16:47] tunglinn commented on #3357
Also, figure out svg vs link-svg.

link-svg is the bottom right icon for external resources.

Action items:
- deleted link-svg from toolkitresources.yml
- every external resource will have the same bottom right icon (made this change in toolkit.html

[2022-07-20 17:51] BeckettOBrien commented on #2065
I'm working on writing a section of the issue that shows how to check an action's dependencies for updates but I need to clarify what you mean by "dependency" for actions. Does it include npm dependencies for actions that run scripts or is it just for external actions like `actions/checkout`?

[2022-07-20 19:07] jdingeman commented on #3365
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
- It took me about a week to get to this point in the pre-work checklist. This is considering my commitments with school and working full time. Approximately cumulative 5 hours.

[2022-07-20 19:09] jdingeman commented on #3026
Availability for this week: 4 hours
My estimated ETA for completing this issue: EOD 7/21/2022

[2022-07-20 19:32] vaisali89 commented on #2498
### Meeting: 7/20/22

### Participants:
 - Vaisali Krishna Kumar
 - Sandarsh Pandey
 - Neha Syed
 - Emily Tat
 - Alice MillerMacPhee
 - Anna
 - Vanessa Murray
 - Shima Houshyar
 - Karen Munnelly

### Things to discuss:
- [x] Introductions
- [x] Onboard new members
- [x] Research updates
- [x] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filte

[2022-07-20 21:30] EmilyTat opened #3408 "Pre-work Checklist: Researcher: Emily Tat"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-20 21:31] vzpeopledesign opened #3409 "Pre-work Checklist: Researcher: Vanessa Murray"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-20 21:31] kpmunnelly opened #3410 "Pre-work Checklist: Researcher: Karen Munnelly"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-20 21:31] nehasyed97 opened #3411 "Pre-work Checklist: Researcher: Neha Syed"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-20 21:33] shimahoush opened #3412 "Pre-work Checklist: Researcher: Shima Houshyar"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-07-20 22:22] #3026 closed, assigned to jdingeman

[2022-07-21 01:39] gregpawin commented on #3056
Updated Product manager to current product manager

[2022-07-21 02:21] #2805 closed, assigned to trz832

[2022-07-21 17:57] raswani2023 commented on #2395
Availability: 3hrs
ETA: Saturday

[2022-07-21 23:06] JessicaLucindaCheng commented on #3352
There are some differences between an actual image we use and the one we link to on the Credits page. I think the image may have been edited by a HfLA designer by looking at previous version of the redesigned homepage in Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15962%3A100862.
1. How do we tell if it is edited by a HfLA designer?
2. If it it is edited by

[2022-07-21 23:44] JessicaLucindaCheng commented on #3360
@Zak234 Thanks for writing this issue! I have added this issue to the Project Board. Please remember to add any issues you write to the Project Board in the future. Thanks. 😄

[2022-07-22 00:06] JessicaLucindaCheng commented on #3353
There are some differences between an actual image we use and the one we link to on the Credits page. I think the image may have been edited by a HfLA designer by looking at previous version of the redesigned homepage in Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15962%3A100862.
1. How do we tell if it is edited by a HfLA designer?
2. If it it is edited by

[2022-07-22 01:36] JessicaLucindaCheng opened #3415 "Add credit for Justice image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the Credits webpage is up to date.

### Details
From the Homepage Redesign Credits in Figma, here is a screenshot of the credit's information for reference:

  <details>
    <summary>Click here to see the screenshot of the Justice credit in Figma</summary>
    <img src="https://user-images.g

[2022-07-22 01:37] JessicaLucindaCheng commented on #3415
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-22 01:42] JessicaLucindaCheng opened #3416 "Add credit for Social Safety Net image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the Credits webpage is up to date.

### Details
From the Homepage Redesign Credits in Figma, here is a screenshot of the credit's information for reference:
  <details>
    <summary>Click here to see the screenshot of the Social Safety Net credit in Figma</summary>
    <img src="https://user

[2022-07-22 01:42] JessicaLucindaCheng commented on #3416
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-22 01:44] luke-karis opened #3417 "Google Apps Script: Fix extra empty JSON field problem"
### Overview
In the _wins-data.json and wins-data.json at the end of each Wins entry, there is "":"", which wasn't there in the current _wins-data.json and current wins-data.json in gh-pages. The objective of this ticket is to figure out why this is happening and implement a fix.

### Action Items
- [x] Obtain access to the Google Apps Script in the admin drive from the technical lead
- [x] Become

[2022-07-22 01:48] JessicaLucindaCheng opened #3418 "Add credit for Voting & Representation image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <d

[2022-07-22 01:48] JessicaLucindaCheng commented on #3418
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-22 02:40] angietechcafe commented on #3166
Update: I had to delete my git branch and will try to fix the pull request issue no later than this weekend.

[2022-07-22 03:18] #2222 closed, assigned to lilyarj

[2022-07-22 16:59] sandarshp commented on #2662
Progress - Stuck at Action Item 6

Blockers - Need Miro login credentials to access the personas

Availability - 6 hours/week

ETA - 29th July

[2022-07-22 21:06] neevliberman commented on #3366
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Around 140 hours

[2022-07-22 23:03] lilyarj commented on #2668
Availability: 3 hrs
ETA: 7/27?

[2022-07-23 00:39] JessicaLucindaCheng commented on #3415
The link to the specific image says, "Page not found". Here is the link: https://unsplash.com/photos/bvHcG6334dE

Is this okay?

[2022-07-23 00:50] JessicaLucindaCheng commented on #3416
For this credit, the link for the image is: https://unsplash.com/photos/lyiKExA4zQA
  <details>
    <summary>Click here to see the image from Unsplash</summary>
    <img src="https://user-images.githubusercontent.com/31293603/180583999-965a026a-2fdc-461d-8355-a553334b31cf.jpg" alt="">
  </details>

It doesn't look exactly like the contents of this image we are using:
  <details>
    <summary>Click

[2022-07-23 01:08] JessicaLucindaCheng opened #3423 "Add credit for Workforce Development image for redesigned homepage"
### Overview
We need to add a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <d

[2022-07-23 01:13] Wny-Duong commented on #2502
Progress: Created projects-check.html file and page with current-projects-check.html and current-projects-check.js files based off of dependencies of the original projects pages. The createFilter function was also reworked to return only a technologies and languages filter based off of the original combined technologies filter, which are visible and can be "used."

Blockers: The languages filter d

[2022-07-23 01:20] JessicaLucindaCheng commented on #3423
This issue would usually have the milestone 01. Compliance. However, it's specifically for the homepage launch, which has not happened yet.

[2022-07-23 01:34] JessicaLucindaCheng commented on #3130
- Progress: Completed writing all the issues. Still need to do the following once my blockers/questions are answered
  - [ ] Once all the issues are written and added to the "Dependency" section above,
    - [ ] Unassign myself
    - [ ] Add a "Dependency" label to this issue
    - [ ] Move it to the "Ice Box" column
    - [ ] Change the labels so it is a Small complexity issue, size: 0.5pt, role:

[2022-07-23 01:45] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-07-23 01:52] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
 Remove anything that is repeated in the Getting Started section that is already in the pre-work.
 Move resources to a different Wiki page and link back to Web Developer page.
 See if anything in [About the Website Development Team](https://github.com/hackforla/website/wiki/About-the-Website-Development-Team) is duplicated elsewhere and can be removed, n

[2022-07-23 03:13] JessicaLucindaCheng commented on #2689
- Progress: I'm done editing this issue.
- Blockers: None
- Availability: N/A
- ETA: Done

[2022-07-23 03:15] JessicaLucindaCheng commented on #2689
@kathrynsilvaconway I am unassigning myself from this issue and assigning you to it because I assume you will be in charge of onboarding new merge team members and tech leads.

[2022-07-23 20:16] blulady commented on #2027
### Agenda for July 23, 2022
Facilitator: Sarah

- [ ] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Zakari

**Let's celebrate our contributions/wins since last team meeting**
- Beckett(BeckettOBrien) revie

[2022-07-24 13:49] #2813 closed, assigned to neevliberman

[2022-07-24 17:59] raswani2023 commented on #2395
Discuss during team meeting 2022-07-24. Discussed that there was confusion about why this was needed. There is already a GitHub automation that adds new PRs directly into PR Needs Review column. Kathryn to follow up with Matt about it.

[2022-07-24 18:43] aksanna commented on #2706
Progress: identified advisors to recruit for interview from Bonnie. Three persons for this issue suffice:

Dr Cynthia Kiser – email: [cynthiakiser@gmail.com](mailto:cynthiakiser@gmail.com) – Slack: @cnk
Nathan Danielsen – email: [nathan.danielsen@gmail.com](mailto:nathan.danielsen@gmail.com)
Dean Church – email: [paridox@hotmail.com](mailto:paridox@hotmail.com)

[2022-07-24 18:44] ExperimentsInHonesty commented on #2705
Existing partners
LADOT - Los Angeles Department of Transportation
LACP - Los Angeles,
DONE

Perspective Partners
GitHub
[Wins Apps](https://oclawin.org/about-ocla/contact-us/)

Future prospective partners
Ruby for Good
Codesmith
General Assembly
other bootcamps

[2022-07-24 22:51] neevliberman commented on #3095
Availability: 3 hours
ETA: 7/24

[2022-07-25 01:37] angietechcafe commented on #3166
Update:
Progress: I will attempt to fix a merge conflict issue I discovered from the pull request.
Blockers - Sun-Wed, Fri, and Sat
Availability - Th evenings
ETA - Th evening

[2022-07-25 18:02] d-perez-8 commented on #2815
Availability for this week: Monday, Tuesday & Thursday from 5-6
My estimated ETA for completing this issue: End of day

[2022-07-25 18:52] tunglinn commented on #3357
New Wiki Template page can be found here: https://github.com/hackforla/website/wiki/Toolkit-files-template

[2022-07-25 18:55] d-perez-8 commented on #3388
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

This has taken about 8 hours to reach this point.

[2022-07-25 20:01] #3095 closed, assigned to neevliberman

[2022-07-25 20:25] tunglinn commented on #3357
All changes are done.

One little blocker: I've changed the code so the practice area also filters for External Resources. However, the External Resource cards are in a special container (guides don't have one), that centers the External Resource card.
<details><summary>Take a look.</summary>

![image](https://user-images.githubusercontent.com/86996158/180867720-e07be1ca-bef8-4f10-8c79-9d03d7538b7

[2022-07-25 21:24] #3269 closed, assigned to Zak234

[2022-07-25 21:25] ExperimentsInHonesty commented on #3048
Hi @ericvennemeyer if you are still on the team, please let us know in the issue.  Someone said you might be on vacation, etc.  Please note that in this issue, so we don't reach out uncessarilyl

[2022-07-25 21:27] JessicaLucindaCheng commented on #2607
## July 25, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-07-25 21:27] ExperimentsInHonesty commented on #3107
@JayBarbanel we are unassigning you from this issue, because we have not heard from you since you self assigned on may 17.

[2022-07-25 21:30] ExperimentsInHonesty commented on #3070
Closing this issue because assignee stopped responding and did not finish or respond on his issue since may 17 https://github.com/hackforla/website/issues/3107

[2022-07-25 21:30] #3070 closed, assigned to JayBarbanel

[2022-07-25 21:31] ExperimentsInHonesty commented on #3144
Closed issue because the assignee never responded.

[2022-07-25 21:31] #3144 closed, assigned to Khadijahibidapo

[2022-07-25 21:32] ericvennemeyer commented on #3048
Hi @ExperimentsInHonesty sorry, I've been working on the Docker issue for so long that I stopped paying attention to the prework checklist notifications. I was also recently on vacation, but back now and will close out this issue soon.

[2022-07-25 21:34] ExperimentsInHonesty commented on #2172
@juliansmith0 I don't see any activity on this issue, so I am going to unassign and put back into the prioritized backlog.  If you are still working on it, please reassign, move to in progress  and update the issue

[2022-07-25 21:36] ExperimentsInHonesty commented on #3122
@juliansmith0 closing this issue.  If its in error, because you have not left the team, but rather are just on leave, then please reopen and give us an update.

[2022-07-25 21:36] #3122 closed, assigned to juliansmith0

[2022-07-25 21:39] ExperimentsInHonesty commented on #3188
@DonaldBrower we see you did two issues and then we didn't hear from you anymore.  Are you still interested in working on the hfla website?

[2022-07-25 21:39] Zak234 commented on #3147
@KBWells77 It doesn't look like there has been any activity on this issue since June, so we are closing it. If this is a mistake and you are still planning on working on the team, please reopen this issue and complete it.

[2022-07-25 21:39] #3147 closed, assigned to KBWells77

[2022-07-25 21:39] ExperimentsInHonesty commented on #2502
@Wny-Duong don't forget to remove the 2week inactive label when you do your update.  Thanks!

[2022-07-25 21:40] kathrynsilvaconway commented on #3023
@geedtd  Hi, I am unassigning you from this because we haven't heard from you in quite a while. If you would still like to be a part of the HFLA dev team, you can reassign yourself and update your status.

[2022-07-25 21:42] ExperimentsInHonesty commented on #2816
@Mattre7 the last update we had from you, you said

I am checking to see what happened.  We don't see a PR

[2022-07-25 21:43] kathrynsilvaconway commented on #3123
@geedtd I am closing this issue because we have not heard from you in a long time. If you would like to remain on the Hfla team, you can always reopen it.

[2022-07-25 21:43] #3123 closed, assigned to geedtd

[2022-07-25 21:43] ExperimentsInHonesty commented on #3123
@geedtd I see that you were able to get through the first two issues, but never self-assigned anything harder.  Are you planning on come back to the team?

[2022-07-25 21:49] ExperimentsInHonesty commented on #2592
@harshitasao I am removing you from this issue because we have not heard from you since May.  If you are still working on it, you can reassign and move back into the inprogress.

[2022-07-25 21:55] tunglinn commented on #3121
@Richey24 Will be closing the checklist due to lack of activity. Let us know if you are still interesting in working on the hfla website!

[2022-07-25 21:55] #3121 closed, assigned to Richey24

[2022-07-25 21:58] ExperimentsInHonesty commented on #2215
@troywzhu removing you from this issue for lack of response.  If you still want to work on the team, please reach out to the tech leads in the hfla site channel for help.

[2022-07-25 22:00] Zak234 commented on #2964
@poorvi4 It looks like you are making good progress on issues and that you have already completed your first progress report, so we're going to close this issue as it seems like you have finished your pre-work checklist.

[2022-07-25 22:00] #2964 closed, assigned to poorvi4

[2022-07-25 22:12] kathrynsilvaconway commented on #2689
#### Onboard Sakari (merge)
- [ ] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation
  - [ ] Acc

[2022-07-25 22:15] JessicaLucindaCheng commented on #3223
@ExperimentsInHonesty I'm not sure if the first Action Item in this issue https://github.com/hackforla/website/issues/3143 needs to be completed before this issue can be worked on. In other words, does this issue need a Dependency?

Bonnie's A: It seems well answered in the comment that follows this

[2022-07-25 23:37] #2104 closed, assigned to Zak234

[2022-07-26 06:19] Mattre7 commented on #2816
Hi Bonnie! I am so sorry it has been a while since I tended to this issue. A little while ago I got some help from some leads in a meeting and they helped me create a branch specifically for the issue I was working on (I had just been working on my main branch from my fork). Originally I thought I had created a pull request but then realized I hadn't. Still refamiliarizing myself with this process

[2022-07-26 17:47] raswani2023 commented on #2113
ETA: Tomorrow
Availability: 2hrs

[2022-07-26 19:11] tunglinn commented on #3357
Removed container (external-resource-container) that shifted External Resources to the left.
<details><summary>According to PR #1999, the container was created to match the design in Figma.</summary>
When I checked Figma, that design no longer exists. Also, the current design team has been reworking the toolkit page.
</details>

I also consulted Bonnie for the decision to remove external-resource-

[2022-07-26 22:40] Zak234 commented on #2010
### Agenda for July 26, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-07-26 23:13] ericvennemeyer commented on #2809
i. `Availability`: Tuesday 7/26 4pm-5:30pm, Thursday 7/28 2pm-6pm

ii. `ETA`: EOD on Thursday 7/28

[2022-07-26 23:16] ericvennemeyer commented on #3048
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

It took several months, but I'm a special case--I ended up working on a Docker error issue I encountered while going through the pre-work checklist and sidelining the rest of the checklist items until now.

[2022-07-26 23:46] #2815 closed, assigned to d-perez-8

[2022-07-27 02:27] jdingeman commented on #2298
Availability: 4 hrs
ETA: EOD 7/27

[2022-07-27 02:40] #3388 closed, assigned to d-perez-8

[2022-07-27 02:51] arpitapandya commented on #2626
Availability : 6 Hrs
ETA: EOD 2022-07-28

[2022-07-27 02:53] #3342 closed, assigned to arpitapandya

[2022-07-27 02:54] #3337 closed, assigned to arpitapandya

[2022-07-27 02:55] #3296 closed, assigned to arpitapandya

[2022-07-27 15:44] alice-milmac commented on #2705
Progress: Based on conversation with Bonnie at HfLA website meeting on 07-24-2022, for this project partners will be defined as existing governmental and non-profits partners. In the future we should consider conducting additional interviews with perspective and future partners but now we are prioritizing building those relationships (i.e. don't want to tax the nascent relationship with an intervi

[2022-07-27 16:46] Zak234 opened #3433 "Investigate Herokuapp Ownership and Setup"
### Overview
We need slack invites to come from a role account instead of an individual HFLA member. We also need to create documentation of this setup and maintenance requirements so that our organization can be more sustainable.

### Details
- We use the SlackIn Extended to invite people to our Slack workspace
- SlackIn Extended is hosted on Herroku ([Slack Invite](https://hackforla-slack.heroku

[2022-07-27 20:05] #2809 closed, assigned to ericvennemeyer

[2022-07-27 21:35] phuonguvan opened #3434 "Pre-work Checklist: Designer: Jolleen Opula"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-07-27 21:43] #3379 closed, assigned to alice-milmac

[2022-07-27 22:06] nathan944 commented on #916
Progress: Third mock video draft is completed after feedback from the team was given and ready for revision
Blockers: None
Availability: 12 hours this coming week
ETA: Sunday 27/22

[2022-07-27 22:09] ExperimentsInHonesty commented on #2306
@clayton1111 given that the 29th is your last day, and you have not yet submitted a pr.  Are you going to submit one or will you be annotating this issue.  I am concerned if you submit a pr and then are not able to fix any changes anyone finds, that it will tie the whole thing up.

[2022-07-27 22:15] #3273 closed, assigned to raswani2023

[2022-07-27 22:29] clayton1111 commented on #2306
@ExperimentsInHonesty Figuring out how to test the GHA took a lot longer than I was expecting, so I have been working on creating a guide to explain how to to test GHA items. My plan is to annotate this issue since I won't have enough time to submit a PR and give reviewers enough time to fix everything!

[2022-07-27 22:51] ericvennemeyer commented on #3048
All pre-work checklist items complete. Good first issue successfully completed and merged.

[2022-07-27 22:51] #3048 closed, assigned to ericvennemeyer

[2022-07-27 23:27] ericvennemeyer commented on #3107
i. `Availability`: Wednesday 7/27 - 1 hour
ii. `ETA`: EOD Wednesday 7/27

[2022-07-28 17:31] #3267 closed, assigned to BeckettOBrien

[2022-07-28 17:49] Zak234 opened #3437 "Refactor CSS for Home Page Footer on Smaller Screens for Redesigned Homepage"
### Overview
Currently, when you compress the HfLA home page on a computer screen, the CSS for mobile doesn't activate. We need to update the CSS so that the mobile CSS is activated for the compressed Home Page to ensure the intended formatting.

### Action Items
- [x] Feature Branch: You will be working off a feature branch called feature-homepage-launch. Please follow ["Step 1: Create your branc

[2022-07-28 18:14] clayton1111 commented on #2306
Updates: Did not finish issue because I had difficulties figuring out how to test GHAs locally and my internship is ending. Changed focus to help create a guide explaining how to test GHAs. Link to [act library](https://github.com/nektos/act#homebrew-linuxmacos) that lets you test GHAs locally.

[2022-07-28 18:39] #3266 closed, assigned to clayton1111

[2022-07-28 22:25] Aveline-art opened #3440 "Add 100 automations website to HackForLA.org"
### Overview
As a user, I want to be able to find links to our web applications on the Hack for LA website so that I can easily access them. For this issue, let's add 100automations.org to the project card for 100 Automations.

### Action Items

- [x] Open _projects/100-automations.md in VS Code or your IDE, then under `links` add the following:
[code]
- [x] Using Docker to view the website locall

[2022-07-29 01:18] #3107 closed, assigned to ericvennemeyer

[2022-07-29 01:35] Mattre7 commented on #2816
Leaving an update on this page. Ended up closing my first pull request and starting from scratch due to quite a few merge conflicts due to an outdated fork/branch of the website. Recently opened a pull request where the only conflicts are the changes I was tasked with on the issue, has already been approved by one, waiting for further approval.

[2022-07-29 01:35] #2816 closed, assigned to Mattre7

[2022-07-29 01:37] #3243 closed, assigned to Mattre7

[2022-07-29 02:22] Mattre7 commented on #3400
i. Availability: Available to work tonight, Friday-Sunday I will be able to work in the mornings.
ii. ETA: Likely can have this done by tonight, should not take long

[2022-07-29 02:39] Mattre7 commented on #3400
Caught a spelling error in the instructions above, Intitutions should be Institutions, made that change in my commit.

Pull request is now opened and pending review. Only one file change with no other conflicts

[2022-07-29 02:55] angietechcafe commented on #3166
Update: I fixed the merge issue from tonight's meeting. I moved the edited .js file to a different folder, and it's now ready for review.

[2022-07-29 14:40] #3400 closed, assigned to Mattre7

[2022-07-29 15:28] neevliberman commented on #2479
i. Availability: 3 hours
ii. ETA: 7-30-2022

[2022-07-29 15:55] neevliberman commented on #2479
Question: It looks like the linked issue is closed, so I'm attempting to see if reverting the version number will break anything, but I'm unsure how to test a linter. Any insight?

[2022-07-29 16:51] #3166 closed, assigned to angietechcafe

[2022-07-29 19:45] ethanstrominger commented on #2978
.

[2022-07-30 06:07] Mattre7 commented on #3358
i. Availability: A few more hours tonight, Saturday (7/30) and Sunday (7/31) available until 4 pm.

ii. ETA: I believe it is already finished unless I need to make any changes, just waiting on reviews of the pull request now.

[2022-07-30 21:38] kathrynsilvaconway commented on #2027
### Agenda for July 31, 2022
Facilitator: Kathryn

- [ ] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Danny (d-perez-8) closed his pre-

[2022-07-31 15:19] ethanstrominger commented on #2978
ARCHIVED FOLLOWING TASKS AS NO LONGER APPLICABLE:
ARCHIVE: New approach - see
- [] Call from node script  and write to directory
- [] Create subdirectories that match phase
- [] Identify where to store Google Docs used for testing.
- [] Document process for importing and exporting from Google Apps Script and doing source control
- [] Create automated test using "Gold Data" created when a conversio

[2022-07-31 16:20] CalvinTan607 commented on #2909
i. Availability: 7/31
ii. ETA: About 10 minutes

[2022-07-31 16:28] sandarshp commented on #2662
Progress - Discussed with Bonnie the need to interview volunteers on 7-24-22. Preparing the interview guide.

Blockers - None

ETA - 8-5-22

[2022-07-31 16:34] JessicaLucindaCheng commented on #2909
@CalvinTan607 This issue isn't ready to be worked on yet because it was still in the Ice Box column when you picked it. I am unassigning you from this issue and moving this back to the Ice Box.

For how to find issues to work on, please read [Part 2: How the Website team works with GitHub issues](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#part-2-how-the-website-team-works-w

[2022-07-31 16:40] CalvinTan607 commented on #2909
Oh sorry I misunderstood, I will go look for another issue on the Prioritized Backlog.

[2022-07-31 16:44] #3366 closed, assigned to neevliberman

[2022-07-31 16:56] CalvinTan607 commented on #2818
i. Availability: 7/31
ii. ETA: Before the end of 7/31

[2022-08-01 02:35] vaisali89 commented on #2680
Updated the information with new template

[2022-08-01 04:25] #3190 closed, assigned to RobenusW

[2022-08-01 09:06] Mattre7 commented on #2451
i. Availability: All day Monday (8/1), Tuesday evening, all day Wednesday and Thursday

ii. ETA: I believe I finished the issue earlier today, just finished opening a pull request detailing my experience with the issue, now waiting to be reviewed

[2022-08-01 12:38] kathrynsilvaconway opened #3447 "Update Project Card for Access the Data"
### Overview
As a deleloper, I need the details of all Hack for LA projects to be up to date on the website. For this issue, we will update the Access the Data project card.

### Action Items

 - [x] Go to the file _projects/access-the-data.md
 - [x] Update the image to the  [current logo](https://drive.google.com/file/d/1GVGG8ie6eRbQUjUj2aM9tyPGhhUTs91W/view?usp=sharing)
  - [x] Replace the proje

[2022-08-01 12:56] ethanstrominger commented on #2978
Progress: Archived previous repository and started new repository https://github.com/ethanstrominger/hfla-googledocs-converter.   Previous repository could files in a folder and subfolders in Google Docs and convert to html.  However, this is now being abandoned as an already completed npmjs package.  New repository has this package installed without any other changes as a starting point.
Blockers

[2022-08-01 17:08] SAUMILDHANKAR commented on #2400
Progress: Would be working on the workflow changes this week.
Blockers: No blockers
Availability: 2 hrs
ETA: 8/10/22

[2022-08-01 18:20] #3102 closed, assigned to d-perez-8

[2022-08-01 20:28] #2818 closed, assigned to CalvinTan607

[2022-08-01 23:20] JessicaLucindaCheng commented on #3447
@kathrynsilvaconway Is this from this issue https://github.com/hackforla/website/issues/3153? If yes, you don't need to re-write it. You can just check the original issue and see if it is "ready for milestone". This will be a little different than

[2022-08-01 23:22] Zak234 commented on #3433
I have been unable to contact Nina but I did some more investigating by myself and I believe we may be able to just rehost the invite with role account.

[2022-08-01 23:23] JessicaLucindaCheng commented on #3447
@kathrynsilvaconway Is this from this issue https://github.com/hackforla/website/issues/3153? If yes, for these types of issues, I usually didn't rewrite them but just made sure that anything that **wasn't** checked off had information in a comment below as to what they wanted changed. If there was anything **not** checked off **and** they did **not** provide information for it in the comment belo

[2022-08-01 23:31] JessicaLucindaCheng commented on #3447
@kathrynsilvaconway Is this from this issue https://github.com/hackforla/website/issues/3153? If yes, for these types of issues, I usually didn't rewrite them but just made sure that anything in the original issue that **wasn't** checked off had information in a comment below as to what they wanted to be changed. If there was anything **not** checked off **and** they did **not** provide informatio

[2022-08-02 00:15] JessicaLucindaCheng commented on #3290
@SAUMILDHANKAR Is this ready for a "ready for milestone" label? If yes, please add the "ready for milestone" label and remove the "ready for dev lead" label. Thanks.

[2022-08-02 01:22] kathrynsilvaconway commented on #3447
Thanks for your input, it is always helpful. When I started trying to add the action items to #3153, I felt like I was just rewriting the entire issue. It seemed more effective to just make a new one.

This one feels more like two separate issues to me. #3153 is a request submitted for changes to be made, and the issue I wrote is a list of actionable items for devs. I don't want to over-simplify t

[2022-08-02 02:45] JessicaLucindaCheng commented on #2554
This issue has been completed with the merging of pull request #3183. However, there is an issue with the linking between this issue and that pr. (I even tried linking it manually but I was unable to.)

Thus, I'm closing this issue as completed.

[2022-08-02 02:45] #2554 closed, assigned to Wny-Duong

[2022-08-02 20:24] ethanstrominger commented on #2978
Blockers: See bottom of issue description for info on blockers.

[2022-08-02 21:21] vaisali89 opened #3448 "Preference Testing options for Toolkit page"
### Overview
Conduct Preference testing of options provided by the design team for the Toolkits page. Four variations of design have been provided for testing.

### Action Items
- [x] Have Bonnie add you to the 1password vault so that you can get access to our email address website-research@hackforla.org
- [x] Read [this article](https://usabilityhub.com/guides/preference-testing) in order to get

[2022-08-02 21:43] vaisali89 commented on #2763
Hi @phuonguvan , could you provide an update on this issue?  Would your team need another round of preference testing to finalize on the image to be used or were the findings provided by Summer previously sufficient?

[2022-08-02 23:25] kathrynsilvaconway opened #3449 "Update Resource Cards On Projects Pages"
### Overview
As a developer, I need our site to align with our current design standards to give our users a more consistent experience. For this issue, we will update the resource cards on the individual projects pages to accommodate multiple lines of text.

### Action Items

 - [x] Implement OPTION 3 in this [updated Figma design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Webs

[2022-08-03 21:20] arpitapandya commented on #3440
Availability for this week: 6hrs
My estimated ETA for completing this issue: 2hrs

[2022-08-03 21:47] phuonguvan commented on #916
- ask if we're supposed to use the cover page
- explain that frontend are developers
- explain that UI is designer
- copy the fixed spelling
- click submit the issue
- circle the roles (ex. product, UI, dev) for each time you're trying to explain the labeling of the correct roles

[2022-08-03 23:03] phuonguvan commented on #3040
## 2022-08-03 Agenda
- [x] How to add @JolleenI to Github's access
- [x] Review [Johnathan's Video](https://drive.google.com/drive/folders/1bOCThYoN0Xe8BHQ-617xPrY3eFDmdeK2): Ask about the cover page and more suggestions on the video
- [x] Review [Gold's Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3625%3A0): Should the mobile design have the SDG image as 16

[2022-08-04 03:40] arpitapandya commented on #3440
Time spent: 1hr to complete
Availability: 6hrs for next week
Blockers: None

[2022-08-04 17:45] kathrynsilvaconway commented on #2339
@ExperimentsInHonesty I'm a little confused about the third checkbox on this issue. It says we need to change it to look the the mobile design on Figma, but the the Figma link is to a desktop version.

[2022-08-04 21:11] kathrynsilvaconway commented on #3034
@ExperimentsInHonesty Am I writing an issue to update the project page to the most recent Figma design? Just checking because this one is ready for dev, but it doesn't have any explicit action for me to take.

[2022-08-05 02:33] #3440 closed, assigned to arpitapandya

[2022-08-05 03:38] arpitapandya commented on #2299
Availability for this week: 6hrs
My estimated ETA for completing this issue: 5hrs

[2022-08-05 06:14] arpitapandya commented on #2299
Time spent: 1hr to complete
Availability: 6hrs for next week
Blockers: None, but I was confused whether the checkbox information I have used is correct? or I misunderstood

[2022-08-05 14:06] alice-milmac commented on #2705
Progress: Updated Research Plan and semi-structured interview template for partner interviews.

Blockers: None

Availability: 10 hours

ETA: Peer review of interview template at UXR meeting on 08-10-2022

[2022-08-05 20:56] Zak234 commented on #3433
I did some more digging and I don't think we can actually remove Nina. This is because the slack API token that slackin extended uses is a legacy token type that has since been deprecated and can no longer be created. The reason slackin extended still works for us is due to slack not removing legacy tokens that are still in use as ours is. However, this also means we can't change that token out an

[2022-08-05 23:23] Wny-Duong commented on #2502
Progress: Progress has been much slower than I'd like it to be because of personal issues. However, this issue is very close to finished. The Languages and Technologies filter now both work properly. They can be used to filter project cards on the projects-check page and they maintain the frequency of the filter tags in the filter bar themselves, as seen in the images below.

The long delay in del

[2022-08-07 16:48] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-08-07 16:49] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: None
Availability: Not sur

[2022-08-08 15:01] ethanstrominger opened #3453 "Tech issue: Unable to change Toolkit page"
### Overview

The first item on the toolkit page says "HackforLa requires 2FA...".  I changed every occurrence of the phrase and the change does not show up.

### Action Items

TBD

### Resources/Instructions

- Deploy HfLA to Docker following instructions in Contributing.md.
- Change everywhere in source code it says "HfLA requires 2FA" to "Elephant"
- The change does not show up on the Toolkit p

[2022-08-08 18:11] ExperimentsInHonesty commented on #3433
@Zak234 What is the token tied to exactly?  Is it her email address, it is the slack username or is it the slack ID?

[2022-08-08 19:37] #3364 closed, assigned to Wny-Duong

[2022-08-08 19:56] JessicaLucindaCheng commented on #3437
@Zak234 Thanks for writing this issue! There were a couple things I noticed:

1) The footer on the feature-homepage-launch branch looks like this
    <details>
      <summary>Click here to see what the footer looks like on the redesigned homepage</summary>
      <img width="188" alt="Footer-redesigned-homepage-mobile" src="https://user-images.githubusercontent.com/31293603/183502629-ff9eae47-122f-

[2022-08-08 21:00] JessicaLucindaCheng commented on #2607
## 2022-08-08 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-08-08 21:38] d-perez-8 commented on #3339
Availability: All day Monday, Tuesdays & Thursdays 5-6
ETA: End of day

[2022-08-09 00:09] CalvinTan607 commented on #3104
i. Availability: 8/8
ii. ETA 10 minutes

[2022-08-09 00:31] JessicaLucindaCheng commented on #2555
- Progress: Still need to fix the issues brought up in https://github.com/hackforla/website/issues/2555#issuecomment-1153288628
- Blockers: None
- Availability: 6 hours
- ETA: Aug 9, 2022

[2022-08-09 02:44] kathrynsilvaconway commented on #2010
### Agenda for August 8th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and po

[2022-08-09 03:43] abenipa3 commented on #3453
@ethanstrominger I investigated this issue. If deleting the _site folder doesn't work, then it seems we need to hit the refresh button after every change made to the code files. Here are the steps I took to test this:

- I ran docker per our `Contributing.md`
- Tested by changing "HfLA requires 2FA" to "Elephant" as well as "Our toolkit" to "Our Elephant" using code files `pages\toolkit.html` and

[2022-08-09 13:59] ethanstrominger commented on #3453
@alyssabenipayo Clearing the cache did not work for me but deleting _site did, followed by docker-compose-down and docker-compose up.  I will experiment later and once I get something that works, I will update the guide.

[2022-08-09 20:03] tunglinn commented on #3357
Add
resource-url-completed:
resource-url-wip:
resource-url-depreciated:

resource-url-wip link at "work in progress" if status is work-in-progress.

Other details will be settled at Friday's guide meeting (8/12/2022)

[2022-08-09 20:29] JessicaLucindaCheng commented on #2555
I worked on creating the Privacy Policy page and that pull request was merged, so the page is viewable on the website at https://www.hackforla.org/privacy-policy now. However, I had a convseration with Bonnie about discrepancies I noticed in the content in the Google Doc and Figma design. From that conversation with Bonnie, the following changes were requested:
- [x] Edit the Privacy Policy conten

[2022-08-09 22:15] sijiapitts commented on #3191
Created a few versions. Waiting for review. Design file: [Figma link](https://www.figma.com/file/kiB0pk0XrLq2ZTLz8lcleD/zoom-background?node-id=0%3A1)

[2022-08-10 00:16] CalvinTan607 commented on #3023
i. Availability: 8/9 - 8/10
ETA: By the end of 8/9

[2022-08-10 01:16] #3104 closed, assigned to CalvinTan607

[2022-08-10 02:10] JessicaLucindaCheng commented on #2555
- Progress: Completed changes and opened a pr
- Blockers: None
- Availability: Will update if there are changes requested
- ETA: Will update if there are changes requested

[2022-08-10 02:49] blulady commented on #3175
#### Onboard John Barrett
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com

[2022-08-10 03:04] JohnJBarrett22 opened #3458 "Pre-work Checklist: Developer: John Barrett"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-10 03:35] giroz opened #3459 "Pre-work Checklist: Developer: Matthew Toledo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-10 20:17] vaisali89 commented on #2498
### Meeting: 9/11/22

### Participants:

- [ ] Neha Syed
- [x] Karen Munnelly
- [x] Vanessa Murray

### Things to discuss:
- [ ] Discuss research updates
- [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
 view [prioritized backlog](https://github

[2022-08-11 01:11] ExperimentsInHonesty commented on #3448
Hi @nehasyed97 After meeting with Sija today, I setup this Figma page in our Figma account, so that we could do testing internally (with team on Sunday) before we go to external users via usability hub

 https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=19750%3A127094

I also created the following items in the slack channel so we can do voting https://hackforla.slack.co

[2022-08-11 02:57] JohnJBarrett22 commented on #2814
i. Availability: (When are you available to work on the issue/answer questions other programmers might have about your issue?) - I am have open availability, minus doctor appointments for my Wife that are not consistent. Consider me open.
ii. ETA: (When do you expect this issue to be completed?) The issue will be completed by the end of the night on 8/10/22.

[2022-08-11 03:57] #3339 closed, assigned to d-perez-8

[2022-08-11 04:39] phuonguvan commented on #3040
## 2022-08-1- Agenda
- [x] Review [Gold's Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3625%3A0): Should the mobile design have the SDG image as 16pt font? It looks really tacky
- [x] For the [Text Components issue](https://github.com/hackforla/website/issues/3289), how should we add the text components? We can [add the text components](https://www.figma.com

[2022-08-11 07:06] phuonguvan opened #3461 "Archive former screens in Figma"
### Overview
The current Figma has too many prototypes and pages so many members are having a long and hard time accessing it.

### Action Items
- [ ] For every page after (Site Map), copy all of the prototypes
- [ ] Paste the prototypes into the Archived Figma
- [ ] Delete older prototypes that do not have a frame around them (ex. pink, green, blue, black) in the Current Pages Figma
- [ ] Make a

[2022-08-11 14:23] alice-milmac commented on #2705
Progress: Peer reviewed interview template during weekly UXR meeting. Edited to address comments and considerations. Need to get template for email recruitment, possible follow-up message, consent for interview and to record interview, HfLA email address and Calendly log-in credentials.

Blockers: None

Availability: 6 hours

ETA: Request PM review of interview template at HfLA meeting on 08-16-20

[2022-08-11 18:42] ericvennemeyer commented on #3331
i. `Availability`: Thursday 8/11 - 2hrs, Friday 8/12 - 2hrs
ii. `ETA`: EOD Friday 8/12

[2022-08-11 20:25] #2814 closed, assigned to JohnJBarrett22

[2022-08-11 20:42] JohnJBarrett22 commented on #3458
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

I haven't attended a full meeting yet outside of onboarding, just a partial on Tuesday and will be a part of the open business hours tonight. Everything else has taken about two hours as I am double and triple checki

[2022-08-12 02:32] Zak234 commented on #3433
@ExperimentsInHonesty It should be tied to her slack ID.

[2022-08-12 08:13] giroz opened #3464 "Change line 4 for the content field from`content: icon` to`content-type: image`"

[2022-08-12 08:14] giroz opened #3465 "Remove line 11 for the type field`type: icon`"

[2022-08-12 13:26] sandarshp commented on #2662
Progress - Working on the interview guide. Should have it ready for peer review by the next research Team Meeting.

Blockers - None

Availability - 6 hours

ETA - 8-17-22

[2022-08-12 16:26] d-perez-8 commented on #3336
Availability: Friday, Saturday
ETA: 1 hour

[2022-08-12 20:16] kpmunnelly commented on #2763
Progress: Assigned this task to myself on Wed, Aug 10.
    Blockers: Need to obtain Zoom shots from Bonnie and access to Usability Hub.
    Availability: I should have about 2-3 hours this coming week and the following week...Weeks of Aug 15 and 22 will be busy as semester starts.

[2022-08-12 23:33] ericvennemeyer commented on #2172
i. `Availability`: Weds 8/17 - 2hrs, Thurs 8/18 - 3hrs
ii. `ETA`: EOD Thursday, 8/18

[2022-08-12 23:42] #3331 closed, assigned to ericvennemeyer

[2022-08-13 05:17] giroz commented on #2821
Availability: 8/12/22
ETA: 8/13/22

[2022-08-13 09:41] #2555 closed, assigned to JessicaLucindaCheng

[2022-08-13 16:42] JohnJBarrett22 commented on #3404
i. Availability: (When are you available to work on the issue/answer questions other programmers might have about your issue?) Almost anything aside from shifting doc appointments for my Wife.
ii. ETA: (When do you expect this issue to be completed?) This issue is completed, pending review and merge.

[2022-08-13 16:45] JohnJBarrett22 commented on #3404
Progress: This was just a good second issue project. It is complete and pending review and merge. Once that is done, I will move to the next tier of issues."
Blockers: N/A
Availability: 30ish minutes total, 2 for the issue itself and the rest making sure I did git commands correctly.
ETA: Issue is done.
Pictures (optional): N/A

[2022-08-13 20:18] #3404 closed, assigned to JohnJBarrett22

[2022-08-14 01:05] neevliberman commented on #3295
Progress: Claimed issue, need more time to look at it: very busy
Blockers: None
Availability: 2 hours
ETA: 2022-08-20

[2022-08-14 16:28] JessicaLucindaCheng commented on #2555
Design Team: In the mobile and desktop [Figma design for the Privacy Policy page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17845%3A137765), the "Effective date" section's content is missing and the "Questions" header is missing. See [this comment in the Google Doc](https://docs.google.com/document/d/19x1KsMTU-QBdopiV08HSBQ0i4g1ChrcPZ8ZXmUK50cY/edit?disco=AAAAbF

[2022-08-14 16:44] vaisali89 commented on #2705
@alice-milmac Alice this is the [document](https://docs.google.com/document/d/1WeY1pWjlaazO754TPw7JWRjo_t4Em2Tv2nPlue1TIBw/edit) with the consent form wording as you asked. Hoping this will be helpful

[2022-08-14 17:06] blulady commented on #2027
### Agenda for August 14 2022
Facilitator:

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders**
  - [x] Will open the floor for any announcements
  -

[2022-08-14 22:32] nehasyed97 commented on #3448
1. Progress: Completed issue today (14/08/2022) via live preference test. Out of 17 voters, 14 displayed a preference towards Toolkit Dark bg - option 3. While the issue is complete, I will be reaching out to individuals with civic tech jobs to understand the way in which they conduct preference tests. This will help uncover if there are any ways to improve our current method.
2. Blockers: I am no

[2022-08-14 22:49] fyliu opened #3469 "Make a table"
### Overview

We need to make an issue to test making an issue

### Action Items

- [ ] thing1
- [ ] thing2

### Resources/Instructions

https://github.com/hackforla/website/issues/new?assignees=&labels=&template=blank-issue-form.yml

### Is there a dependency?

Yes

### If Yes, please explain

- #102

[2022-08-14 22:49] ExperimentsInHonesty commented on #3469
This was a test issue

[2022-08-14 22:49] #3469 closed, assigned to nobody

[2022-08-15 21:02] JessicaLucindaCheng commented on #2607
## 2022-08-16 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-08-15 21:09] ExperimentsInHonesty commented on #3433
https://hackforla.slack.com/join/shared_invite/zt-1ebi41ov6-wBbFoW3bbpd1~EQEAX5kdA#/shared-invite/email/expanded-email-form

[2022-08-15 21:10] ExperimentsInHonesty commented on #3433
https://join.slack.com/t/hackforla/shared_invite/zt-1ebi41ov6-wBbFoW3bbpd1~EQEAX5kdA

[2022-08-15 22:07] tunglinn commented on #3357
Revert changes with description and short-description in each guide file. The variable description is currently being used on the actually guide page, but the new system will have it all in the markdown file from the converter.

Create new system that will use description if short enough (will have to define this), otherwise use short-description.
The guide card adjusts to the size of the descript

[2022-08-15 22:16] tunglinn commented on #3357
On the current Toolkit page, the titles of completed vs in progress guide cards are not aligned.

[2022-08-16 04:28] #3458 closed, assigned to JohnJBarrett22

[2022-08-16 04:28] JohnJBarrett22 commented on #3458
All tasks completed and feeling more confident with each passing day in the process. Will continue to dig into issues, begin code reviews and be engaged in meetings to grow/develop.

[2022-08-16 04:55] JohnJBarrett22 commented on #3355
i. Availability: Open availability.
ii. ETA: Behind on answering this, just completed this task.

[2022-08-16 23:08] kathrynsilvaconway commented on #2010
### Agenda for August 16th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and p

[2022-08-17 02:23] lilyarj commented on #2668
ETA: 8/20
Availability: 3hrs

[2022-08-17 03:06] d-perez-8 commented on #2198
Availability: Wednesday, Thursday 4:30-6 Pacific
ETA: 08/17/22 EOD

[2022-08-17 03:13] #3336 closed, assigned to d-perez-8

[2022-08-17 16:54] #3355 closed, assigned to JohnJBarrett22

[2022-08-17 19:39] vaisali89 opened #3473 "Update Project Profile: Hack for LA Website"
### Overview
As a product manager of Hack for LA Website, I want my project's details to be up to date on the HackforLA website

### Project card
Insert url of your project card here before sending; your card(s) can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects

### Action Items

- [x] [Hack for LA Website Team Leadership
   - [x] Please check off everything

[2022-08-17 19:44] vaisali89 commented on #3473
Add
Vaisali Krishna Kumar
@vaisali89
UX Research Lead
U028RCG9Z44

[2022-08-17 20:52] sandarshp commented on #2662
Progress - Created the  [interview guide](https://docs.google.com/document/d/1oSopjimDx6oRhWnJWDmfli80C29x73zJ3T9lhJbnsdE/edit) Link attached. Next step is to get it peer reviewed and approved.

Blockers - None

ETA - Waiting for the next meeting.

[2022-08-17 20:54] sandarshp commented on #2662
Progress - Created the [interview guide](https://docs.google.com/document/d/1oSopjimDx6oRhWnJWDmfli80C29x73zJ3T9lhJbnsdE/edit). Next step is getting it peer reviewed and approved.

Blockers - None

Availability - 6 hours

ETA - Next meeting

[2022-08-17 21:07] geedtd commented on #2200
Availability: Thursday and Friday before 3PM
ETA: Thursday 8/18 Before 8PM

[2022-08-18 20:48] alice-milmac commented on #2705
Progress: PM reviewed and approved template and research plan during Sunday's website meeting on 08-14-2022. We discussed the process for contacting participants and decided that Bonnie would email partners because of their established relationship. Her email will include recruitment text and method for the partner to schedule their interview. I will conduct each interview provided the participant

[2022-08-18 23:43] ericvennemeyer commented on #2172
Hey hey, I was unable to work on this as I'd hoped yesterday, so I'm running a little behind. I will also be offline from now until Monday morning. Please see below for update.

i. `Progress`: Fixed the bug in ST, page is now correctly filtered when navbar links are entered as hashes in the URL. However, with my current solution there is a visible flicker on the page when all cards are loaded befo

[2022-08-19 00:50] kathrynsilvaconway commented on #2689
#### Onboard Arpita Pandya (Merge)
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation
  -

[2022-08-19 04:31] abenipa3 commented on #3453
@ethanstrominger Hello, checking in - Have you informed dev leads regarding this issue? Was it viewed by dev leads as well? It seems like this issue was used as a Q&A which I'm not sure it's meant to be used this way.

[2022-08-19 16:05] ethanstrominger commented on #2978
Progress: Created a document with info about requirements, deployment, "jekyllifying", how to package for npmjs, and more.  Info needed: Bonnie thought Alyssa had made code that converted How to Set Reminders in Slack to a version that looks good on the website and replicates screenshot on figma.  I sent Alyssa a slack
Blockers: None.
Availability: 0 this week (on vacation) 8 the following week
Pl

[2022-08-19 20:12] jdingeman commented on #2776
Availability: Every day after 3pm
ETA: Sunday, August 28 EOD

[2022-08-19 20:15] jdingeman commented on #2776
Will begin issue after my [medium issue pull request](https://github.com/hackforla/website/pull/3436) is merged.

[2022-08-19 21:07] #2821 closed, assigned to giroz

[2022-08-19 21:21] #2298 closed, assigned to jdingeman

[2022-08-20 01:27] abenipa3 commented on #2978
***** SEE https://docs.google.com/document/d/1Tx17ewpeI8r7u_-nSazJtUPjKsFeiSYWu-qmJAsbV3I/edit# *****

@ethanstrominger Thanks for reaching to me with this! Posting the following steps here for our team's reference.

Added this comment/documentation under this issue's Resources/Instructions as well.

### Here are the steps to how we produce the MD file with the Apps Script:
- Must access to HfLA G

[2022-08-20 22:21] luke-karis commented on #2901
ETA and Availability Update
ETA: August 23
Availability: N/A
Blockers None

This is done I just need the go ahead to actually implement my code changes in the main scripts. Hopefully I will be able to do that at this Tuesday's meeting

[2022-08-20 23:30] blulady commented on #2027
### Agenda for August 08 2022
Facilitator: Sarah

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Sakari merged #3470 and reviewed P

[2022-08-21 16:49] #3411 closed, assigned to nehasyed97

[2022-08-21 17:21] SAUMILDHANKAR commented on #2400
Progress: I was able to run a few tests using the CodeQL workflow which is now setup in my repo and below are the main observations:

1. Currently, CodeQL only scans vulnerabilities for some of the programming languages including JavaScript. This should be useful for our project since we have a lot of JavaScript code.
2. CodeQL workflow can be setup for a repo and can be customized similar to how

[2022-08-21 22:48] abenipa3 commented on #3170
Added a new action item:

<details> <summary> Image - Current Output </summary>

When clicked, it points below the heading rather than directly at the heading. For instance, the arrow as seen in the image below points to the first sentence of `When to use Reminders` after clicking on the `When to use Reminders` link from the sticky navigation bar.

![image](https://user-images.githubusercontent.co

[2022-08-22 01:20] jdingeman commented on #2776
When prompted to create a copy of the Google Data Studio environment, I am presented with this issue
![image](https://user-images.githubusercontent.com/88953806/185820524-52ea80b6-b311-438a-8c5e-ed7f3536d7a4.png)

I am not sure why the data sources are "unknown" but perhaps we can try to fix that. I don't want to try and rename the whole thing and affecting the data that is already transferred int

[2022-08-23 17:16] ericvennemeyer commented on #2172
**Update:**

All points in this issue have been addressed:
1. URL filtering bug has been fixed and ST refactored into it's own file in assets/js
2. Styling in SB has been refactored into _toolkit.scss

I did notice that there's an additional bug not mentioned in the original issue: when filtering the page via URL hash, the associated navbar link is not highlighted. For example, if I enter the URL

[2022-08-23 23:14] kathrynsilvaconway commented on #2010
### Agenda for August 23rd, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and p

[2022-08-24 01:32] kcoronel opened #3481 "Update Project Profile: BallotNav"
### Overview
As a product manager of BallotNav want my project's details to be up to date on the HackforLA website

### Project card
Insert url of your project card here before sending; your card(s) can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects

https://github.com/hackforla/website/commit/f262cf7b87be1b558b534cb739ba11de2f423ee4

### Action Items
#### Ba

[2022-08-24 18:06] #2820 closed, assigned to braguda

[2022-08-24 21:15] blulady opened #3487 "Create documentation for projects-check page"
### Dependency
- [x] #4427
- [x] #3636
- [x] #5677

### Overview
We need to document for the dev and product teams how the https://www.hackforla.org/projects-check page works

#### Details
- This issue was created  in response to this issue #2502, and the pr made it possible https://github.com/hackforla/website/pull/3452

### Action Items
- [x] Create documentation on the projects-check hidden pag

[2022-08-25 01:34] ericvennemeyer opened #3488 "Keep local Docker images up to date"
### Dependency
- #5897 when the bot is working again, review issue to see what we need to do.

### Overview
As a member of the website development team, I want to make sure my local Docker environment always matches the GitHub Pages environment. This issue is to create a procedure for developers to periodically update their local Docker images.

### Action Items

- [x] Review the background notes

[2022-08-25 04:31] vzpeopledesign commented on #3005
**Progress**: Currently reviewing the first draft of the UXR quiz.
**Blockers**: 1. The editing process  2. Figure out why "Determine what teams are available to join and create a list. Look for teams that are seeking Leads as well." is necessary when a link to the project page can be provided.
**Availability**: I have 6 hours availability Fri/Sat and then 2 hours availability Sunday
**ETA**: Quiz

[2022-08-25 04:58] #3365 closed, assigned to jdingeman

[2022-08-25 18:42] ericvennemeyer opened #3489 "Clean up selectors in _toolkit.scss"
### Overview
As a developer on the website team, SCSS code is easier to understand and maintain when it does not contain duplicate selectors. This issue is to consolidate duplicate selectors within `_toolkit.scss`.

### Action Items

- [x] Duplicate selectors are present in three places within [_toolkit.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/components/_toolkit.scss). For e

[2022-08-26 00:17] kathrynsilvaconway commented on #3489
@ericvennemeyer Nice work writing this up, Eric. I am removing the draft label,  it is ready for approval.

[2022-08-26 00:59] #2502 closed, assigned to Wny-Duong

[2022-08-26 15:27] alice-milmac commented on #2705
Progress: Finalized interview template and language for recruitment email. Next steps are to coordinate email and scheduling logistics with PM.

Blockers: Need to finalize logistics of scheduling interviews (i.e. how my availability will be listed in the calendar, how I will get notified about scheduling, what if someone needs to cancel and reschedule)

Availability: 3 hours

ETA: Finalize plans a

[2022-08-26 19:08] nehasyed97 commented on #3448
Progress: I have spent the last few days playing around with Figjam to come up with a model that could (potentially) be used for preference testing moving forward. Currently, I have come up with 3 different models and will use our team call on Sunday to decide on the most efficient one.
Blockers: As I am very new to Figjam and teaching myself how to navigate it, the models I am coming up with are

[2022-08-26 20:47] neevliberman commented on #2205
i. Availability: 2 hrs
ii. ETA: 30 minutes

[2022-08-27 21:10] kathrynsilvaconway opened #3492 "Update PR Review Wiki with Clarification on Deleting Branch"
### Overview
As a developer, I need directions in our PR Review wiki to be as clear as possible. For this issue, we will add a step to the wiki directing devs to delete their branch after reviewing a PR.

### Action Items
- [x] In the wiki called "How To Review a PR Wiki", add the following in step 3, after the sentence "Outlined below are steps to download the collaborator's branch into your own

[2022-08-28 02:02] kathrynsilvaconway opened #3493 "Update Contributing.md With Improved Git Hygeniene Practices"
### Overview
We need our documentation for working on issues to be as up-to-date as possible and to reflect best practices for Git Hygiene, so all developers can create the same quality of code.

### Action Items
- [x] In our Contribiuting.md, at the end of section 2.7.a,
  - [x] add the following:
IMPORTANT: Before you push your local commits to your repository, sync your fork to the main Hack Fo

[2022-08-28 02:41] kathrynsilvaconway opened #3494 "Add Merge Team to Current Project Team/Update Lead Info (Website)"
### Overview
As a member of the Hack for LA Website team, I want the information on the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website) to be up to date. For this issue, we will be updating the Current Project Team section of the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website).

### Action Items
 - [x] Remove

[2022-08-28 11:04] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: None
Availability: Not sur

[2022-08-28 11:04] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-08-28 16:19] blulady commented on #2027
### Agenda for August 28, 2022
Facilitator: @blulady

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. @Zak234

**Let's celebrate our contributions/wins since last team meeting**
- @Zak234 reviewed #3482 and merged #3482
- @ericvennemeyer opened P

[2022-08-28 16:24] nathan944 commented on #916
Progress: Script completed, recording and editing need to be taken care of
Blockers: None
Availability: 2 hours this coming week
ETA: Sunday (9/4/22)

[2022-08-28 17:00] #3494 closed, assigned to kathrynsilvaconway

[2022-08-28 17:03] arpitapandya commented on #2299
Availability for this week: 6hrs
My estimated ETA for completing this issue: 5hrs

[2022-08-28 17:10] Zak234 commented on #3433
I was able to contact Nina and am trying to set up a meeting time.

[2022-08-28 18:41] vaisali89 commented on #2705
@alice-milmac please add the link to the document with email script under resources.

[2022-08-28 23:18] #2172 closed, assigned to ericvennemeyer

[2022-08-29 08:51] vaisali89 commented on #3003
Progress: Bonnie has collected data during 2-3 onboarding sessions. The data needs to be analyzed and findings need to be synthesized

Blockers: I cannot access the Zoom4 accounts (zoom and Gmail) due to security reasons because I'm in a different location. @ExperimentsInHonesty it would be helpful if you could link the survey data collected to the issue if possible.

Availability: 8 hours

ETA: S

[2022-08-29 16:56] kathrynsilvaconway commented on #2699
Notes for updating the template:

# Agenda for August, 29th, 2022

## Prework to prep for the meeting
**Must do:**
- [ ] Check the bottom of the Prioritized Backlog for any developer issues (`label:"role: front end"`, `label:"role: back end/devOps"`, `label:"role: dev leads"`) that are miss prioritized and reprioritize them.
- [ ] Check New Issue Approval for the following labels:
  - [ ] `label:"

[2022-08-29 17:29] d-perez-8 commented on #2199
Availability: 8/29/22
ETA: 1 hour

[2022-08-29 18:17] vzpeopledesign commented on #3005
Progress: I need to implement the changes suggested by Bonnie and present the product to her
Blockers: None at this moment
Availability: I have the next 2 weeks until 9/11
ETA: 9/8

Bonnies notes:

Two slides
read the list of items and give yourself 0.5 point if you have familiarity and a point if you have done it.
Slide 1 UX skills
Slide 2 Management Skills
Write your score on your post it
As sli

[2022-08-29 19:43] JessicaLucindaCheng commented on #2699
@kathrynsilvaconway Sorry for the confusion. I thought I had closed this issue. If you are looking for the Dev/PM agenda, it's here: https://github.com/hackforla/website/issues/2607

Edit: The technical leads agenda is not the same as the dev/pm agenda. The prep work for the technical leads agenda is something totally separate from the dev/pm agenda. The tasks in this issue are not something you h

[2022-08-29 20:17] JessicaLucindaCheng commented on #2699
@SAUMILDHANKAR I'm closing this agenda since we aren't using it anymore.

@kathrynsilvaconway I am closing this agenda/issue. If you want something similar to this and have meetings with other dev leads, feel free to open a new issue and just copy what you need from this.

[2022-08-29 20:17] #2699 closed, assigned to SAUMILDHANKAR, JessicaLucindaCheng

[2022-08-29 20:21] kathrynsilvaconway commented on #2607
## 2022-08-29 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-08-29 20:42] #3074 closed, assigned to nobody

[2022-08-29 20:44] #3188 closed, assigned to DonaldBrower

[2022-08-29 20:58] kathrynsilvaconway commented on #3063
@matt-arofin Hi Matt, are you still interested in working with Hack for LA? If so, go ahead and comment your availability to finsih your checklist. If I don't hear back, I will just close this issue. Thanks!

[2022-08-30 14:23] kathrynsilvaconway opened #3499 "IGNORE THIS ISSUE #1 TESTING GITHUB WORKFLOWS"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS