[2021-09-09 17:38] Aveline-art opened #2244 "Update Regex in find-linked-issue.js"
### Overview
As a developer, we need to fix bugs in our code as it arises. For this issue, we will be correcting a bug in find-linked-issue.js.

### Action Items

- [ ] Find the regex denoted below in find-linked-issue.js
- [ ] Replace it with the updated regex

### Resources/Instructions
[find-linked-issue.js](https://github.com/hackforla/website/blob/gh-pages/github-actions/utils/find-linked-iss

[2021-09-09 19:32] macho-catt commented on #1980
### Currently Trying and Testing

### I. Store API key in a Google Doc
**Info:**

1. Need a secret folder in an admin google drive to store google doc (we have this already)
2. Need the ability to reference that google doc in Google App Script
   - If the wins google sheet and google app script are in the same google drive as the secret folder, we can use the DriveApp Class
   - If the wins google

[2021-09-09 20:55] IpshitaSingh commented on #2045
Progress: Done
Blockers: Faced a little difficulty locating the file to be changed; Docker not correctly refreshing the page
Availability: 2 hours
ETA: N/A
Pictures:
Before-
<img src = "https://user-images.githubusercontent.com/60215488/132760480-17393c33-8b65-42b6-a677-6fb418273c10.jpg" width="650" height="300" >
After-
<img src = "https://user-images.githubusercontent.com/60215488/132760336-fcfd

[2021-09-09 21:37] macho-catt commented on #2145
Progress: I have a working prototype of creating a KVF from google app script and updating a github repo. This can be implemented pretty easily.

Blockers: How to implement our API key in Google App Script #1980

[2021-09-09 23:37] kristine-eudey commented on #2106
**Meeting Date:** 9/9/21

**Participants:** Kristine, Anh, Janie, Alyssa, Kristin, Ashley, Simone, Basu

**Things to discuss:**
- Weekly standup - What progress have you made on issues you're working on in the past week? What are your goals for the coming week?
- We need to bring more designers onto the team! Know anyone?
- Figma organization (quick recap for those who missed last meeting)
- Remin

[2021-09-10 04:12] #2101 closed, assigned to blakes24

[2021-09-10 04:34] #2177 closed, assigned to linds-fonnes

[2021-09-10 06:37] adam-abundis commented on #1850
Because it is an epic. Should I remove the tag? And should I create a separate `Epic` label @ExperimentsInHonesty ?

[2021-09-10 06:48] adam-abundis commented on #2162
@macho-catt I am good with rewriting the issue action item on this issue to reflect standardizing the pdf view.

[2021-09-10 14:16] Basu3040 commented on #2015
Progress:  We will work on re-writing the homepage header, recruiting script for research participants, and on crafting the usability test for the homepage.
Blockers: None
Availability: 2-3 hours of individual and collaborative work.
ETA: 09/20/21

[2021-09-10 14:24] Basu3040 commented on #1968
Progress: HfLA research team will work on this issue. I have assigned myself and Simone.
Blockers: None
Availability: 2 hours of collaborative work
ETA: 9/20/2021

[2021-09-10 15:36] benrempel commented on #2193
@arghmatey @macho-catt any suggestions? I'll try again myself, but you probably know CSS better than I do so I wanted to ask if anything looks obvious to you

[2021-09-10 16:40] arghmatey commented on #2193
@benrempel Sorry - I didn't see your first comment! I tried it out locally and it's working for me. Based on your last picture, it might not be applying correctly. Can you look at the style through Chrome Dev Tools and verify it's not returning an error?

[2021-09-10 17:05] Aveline-art commented on #2014
@alyssabenipayo I have discussed with @ExperimentsInHonesty about the demo days and we have decided that it would end up being less work to have the website staged on a separate repo rather than pursue netlify. Going to close this issue. Thank you for all the work you have put into this! I have learned a lot from you and I hope you have learned a lot as well!

[2021-09-10 17:05] #2014 closed, assigned to Aveline-art

[2021-09-10 17:31] ExperimentsInHonesty commented on #1842
~@abuna1985 @macho-catt Can you add a size to this issue and then add the "Ready for Prioritization" label~

[2021-09-10 17:35] Aveline-art commented on #2188
@ExperimentsInHonesty That's fine! I have added #1534 as a dependency.

[2021-09-10 17:38] Aveline-art commented on #2108
@ExperimentsInHonesty We do not send out an email upon wins submission, as far as I can tell, except maybe beyond a default google email. I have tested it and did not receive an email.

[2021-09-10 17:49] Aveline-art commented on #2127
@ExperimentsInHonesty I am not sure what exactly is being asked of us. Would you like us to create some chart or graphic that clears up what the flow of the GHA is?

[2021-09-10 21:59] Aveline-art commented on #2027
### Agenda for September 12, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
- [x] Go through developer review column
- [x] Assign pull requests
- [x] Monthly workflow demo (see above): Progress Report creation
- [x] Go through new issue approval
- [x] Reminder to give a status report by the Sunday meeting

[2021-09-10 22:08] aalieu commented on #2078
1. Just starting
2. None yet
3. Flexible
4. By next Tuesday's meeting

[2021-09-10 22:25] arghmatey opened #2246 "Change Wins form to our internal "Share Your Wins" form"
### Dependency
- #2021

### Overview
We need to update the "Share your wins" link on the wins page to redirect to our internal ["Share your wins"](https://www.hackforla.org/share-your-wins/) form. The link is currently directing to a google form.

### Action Items
- [ ] Verify "Share your wins" form is functioning correctly, and pushes user submitted data to Wins Responses Google Sheet
- [ ] Chang

[2021-09-10 22:32] ExperimentsInHonesty commented on #1543
@Aveline-art thank you for updating the issue.  Feel free to hid my comment above if it might confuse someone later.

[2021-09-11 00:06] benrempel commented on #2193
@arghmatey ah I misunderstood, I had set `height: max-height;` which is not valid. Now I see, I'm supposed to replace the property "height" with "max-height", so `max-height: 100px`

[2021-09-11 00:18] arghmatey commented on #2193
@benrempel I apologize - I should have written that action item much differently. Sorry to have held you up!

[2021-09-11 02:47] arghmatey commented on #2246
Closing issue temporarily while security issues with API keys and google scripts are worked out. Issue can be reopened once we are confident and ready to implement.

[2021-09-11 03:51] ktlevesque19 commented on #2207
Progress: Just assigned, not started
Blockers: None at this time
Availability: I'll be tackling this early next week in the evenings
ETA: I expect to be done by this upcoming Thursday 9/16

[2021-09-11 04:38] #2080 closed, assigned to mehmehmehlol

[2021-09-11 19:17] #2193 closed, assigned to benrempel

[2021-09-11 20:40] Abel-Zambrano commented on #2076
Progress: Finished working on the displayed filter title. I discovered a new issue where there's something being populated in the filter list with zero value.
Blockers: n/a
Availability: 5hrs
ETA: 9/13

[2021-09-11 20:56] adam-abundis commented on #2045
@IpshitaSingh This seems to be a weird caching bug within the Docker build. Basically, any .yml or .json file won't reflect the update in the Docker build. Our workaround is at the bottom of this section in the contributing guide https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#Prepare-your-changes-to-push-to-your-repository . I am going to edit to emphasize the steps needed to b

[2021-09-11 21:36] adam-abundis opened #2248 "Update instructions for hard rebooting Docker in Contributing.md"
### Overview
We need to provide better instructions for developers when data files within Docker are updated and not updating properly. We should also add a title so we can use it as a link to provide instructions to perform a hard reboot of Docker.

### Action Items
- [x] Add title link to the Table of Contents
- [x] replace the final sentence of the section [Prepare your changes to push to your

[2021-09-11 21:52] adam-abundis opened #2249 "Research and Provide a Demo of Unit Test Implementation for HfLA Repo"
### Overview
We need to see if it is feasible to implement unit tests for JavaScript functionality within the Hack for LA website repo, both within GitHub Action files and within client-side JavaScript.  Ideally the same test framework would be used for unit testing both the back end and front end JavaScript.

### Action Items
- [x] Research implementation of unit tests in a Jekyll environment, wi

[2021-09-12 03:37] abenipa3 commented on #1630
# Update: Implementing Links to Social Media Icons

- We wanted to see how the converter would work when implementing a link to social media icons as seen below.
![image](https://user-images.githubusercontent.com/38295612/132970847-7dc8cf0d-7f80-40ce-967c-2c96729208d2.png)

- I used the Google Docs to Markdown Add-on to convert and this was the result: (without any changes):
![image](https://user-

[2021-09-12 04:05] ahoang94 commented on #1051
I have updated the [Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15514%3A99250) to include a draft with Bonnie's updated copy.

[2021-09-12 16:51] kristine-eudey commented on #2130
Edited to reflect above comments: nosql was replaced with Figma. See current list on [Figma - Homepage Redesign](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15505%3A99314)

[2021-09-12 16:58] kristine-eudey commented on #2057
View most up to date versions **v.1 - abbreviated program areas section**  & **v.2 - full program area section** here: [Figma - Homepage Redesign](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15505%3A99314)

[2021-09-12 17:11] Zak234 commented on #1940
Most of the action is finished, the only thing left is using REST API to update the comment with the proper text. I'm having difficulty getting the API to work as I've never used one before. I don't know when it will be finished due to school and time availability.

[2021-09-12 17:13] SAUMILDHANKAR commented on #1901
@averdin2 should this still be open?

[2021-09-12 17:25] arghmatey commented on #2135
Progress: Researched action items. Created issues were needed, and attached issues that already existed.
Blockers: Time!
Availability: 2 hours
ETA: Monday 9/13
Pictures: N/A

[2021-09-12 17:54] ExperimentsInHonesty commented on #1696
@Basu3040
Organizations that we are going to ask for grant money from, who will fund things in LA but only if they can be useful beyond LA.
Corporate impact investors who want to work with global concerns

[2021-09-12 18:01] macho-catt commented on #1980
### Update:
We looked at both options, and although they can work, there are still some security concerns. For example, if a developer accidentally leaves a console.log or Logger.log on a variable that uses the key, then the key will still be leaked. We need a way to  hide the key from being viewed by console.log.

Some more ideas were floated, and this is a list of some of the ideas that could be

[2021-09-12 18:32] ExperimentsInHonesty commented on #2232
Review with team what has been written so far and see if they recommend other items

[2021-09-12 18:40] Aveline-art commented on #1945
* Progress: "What is the current status of your project? What have you completed and what is left to do?"
* Blockers: "Difficulties or errors encountered."
* Availability: "How much time will you have this week to work on this issue?"
* ETA: "When do you expect this issue to be completed?"
* Pictures: "Add any pictures of the visual changes made to the site so far."

[2021-09-12 18:48] ExperimentsInHonesty commented on #2014
@Aveline-art This issue ended up in UAT.  Because that is where issues go when you close them.  So an extra manual step will be needed in future to move it to the done column

[2021-09-12 18:50] ExperimentsInHonesty commented on #2009
@Aveline-art Should this spreadsheet be linked in the WIKI?

[2021-09-12 19:39] GLRJr commented on #2117
just finished, it only needed the front matter for jekyll.

[2021-09-12 20:20] adrian-zaragoza commented on #2027
### Post-meeting notes, September 12, 2021

<details>
<summary>Click for notes</summary>

Always design by committee.
No Announcements
Developer team meeting discussion items:

- Add your duplicate classes #1901
  - Added a comment to the ticket looking for an update if the ticket should be open.
- Github issue forms
  - Adrian to do tickets to move issue templates to github issue forms
  - Add a

[2021-09-12 21:36] Aveline-art commented on #2009
@ExperimentsInHonesty No, because the spreadsheet is an audit that is now outdated. Unless there is a further need for it, it should be deleted.

[2021-09-12 21:39] Aveline-art commented on #2014
@ExperimentsInHonesty On the main point, I can be mindful about sorting issues myself, but is there a guideline to sort research-type issues (or dev issues that does not involve PRs) into UAT or done? Will there ever be a vested interest in reviewing research-type issues? Or is UAT purely visual-based? But even if so, are some non-visual-based issues still of interest to review at UAT? I feel the

[2021-09-12 21:51] Aveline-art opened #2251 "Feasibility: Creating a development environment for our website, Phase 1"
### Overview
As a developer, we are interested in creating environments for our websites that are friendly for the whole team to review. For this issue, we will create a demo to test and document ways our workflow will change due to creating a development and UAT environment.

### Action Items

- [x] Read the Resources/Instructions below to get a sense of what a development and UAT environment is.

[2021-09-13 01:11] Aveline-art commented on #2206
@ExperimentsInHonesty As per our discussion earlier today concerning automation on the UAT column, I want to make sure that we are creating automation that meets stakeholder demands, and would not conflict with the PM team's need. This current automation performs this task:

#### This automation

However, today you asked for a new automation that performs this task:

#### New proposed automation

[2021-09-13 10:29] kevngaleu commented on #2037
1. Progress: List of projects on the slide deck made. I have checked projects that have wording and SDGs. The remaining work to do is to check the matching of SDGs selected with respective projects.
2. Blockers: No blockers
3. Availability: 2-3 hours individual and collaborative work

[2021-09-13 14:44] ExperimentsInHonesty commented on #2015
@Basu3040 I want to suggest a rewrite of this to make it clear we are not soliciting donations and to make sure it gets a response.  Are you ready for me to post this if you agree with changes?

💸 **HfLA UX Research team is conducting research into what motivates people to donate to social causes.**

📋 If you or someone you know has donated to a social cause and would be willing to be interviewed

[2021-09-13 14:46] Basu3040 commented on #2015
@ExperimentsInHonesty Sounds good. I agree with you and please post this on the channel. In the meantime, we are working on writing a script to recruit participants.

[2021-09-13 20:36] ExperimentsInHonesty opened #2255 "Add new project to website: Design Systems"
### Overview

We need to add a new project to the hack for la website so that our project list can be current

### Project Details
- Name: Design-Systems
- Name of future project.md file: design-systems.md
- Files you will need to upload to the website repository: design-systems.jpg and design-system-hero.jpg
- Where you will store the files:
   - images go in this folder: /assets/images/projects

[2021-09-13 22:39] abenipa3 commented on #1630
## Minutes 9/13/21

- Discussed how we want allow edits to our Guide.
  - Decided to use Github's New Issue Template and Google Forms.
- Discussed if we could add Slack icon image to Heading in What is Slack's Doc.
- Discussed Redesign: Font and Spaces between paragraphs
 - Voted on font sizes.
   - Our team decided to use [When (36px - H1), Type (24px - H2), Type (20px - H3)](https://user-images.

[2021-09-14 01:21] ExperimentsInHonesty opened #2257 "Update the hackforla.org website team member list"
### Overview
We need to update the hack for LA website with the current team members.

### Action Items
- [ ] Update the roster to mark people as active or inactive
- [ ] Make sure all team members are on the roster

### Resources/Instructions
I uploaded [photos](https://drive.google.com/drive/folders/1PqqNU3BuYpVlLt2yeQ1wbd80UNmux2m0?usp=sharing)  for the following people from linkedin:
- [ ] Bon

[2021-09-14 03:05] #2203 closed, assigned to adam-abundis

[2021-09-14 03:18] macho-catt commented on #2162
Updated the post to be in line with #2211

[2021-09-14 03:44] macho-catt opened #2258 "Refactor GH-Action: Move "Add Missing Labels To Issues" workflow to "Issue Trigger""
### Overview
As a member of the backend team, github actions are much more maintainable and easier to understand if they are structured based on triggers and functionality. For this issue, we want to refactor and move [add-missing-labels-to-issues.yml](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/add-missing-labels-to-issues.yml) to be a part of [issue-trigger.yml](https://

[2021-09-14 04:03] #1585 closed, assigned to R-Tomas-Gonzalez

[2021-09-14 05:13] glenflorendo commented on #1892
Progress: Working through it. I was delayed, since I didn't know how to test GH Actions locally. Though, I found a way to do that now, so development should speed up now.

Blockers: N/A

Availability: I'm generally available during the evenings for this week and the weekend.

ETA: I aiming to have a PR ready by end of this week.

[2021-09-14 06:05] adam-abundis commented on #2010
### Agenda for September 14th, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped

[2021-09-14 19:20] ExperimentsInHonesty commented on #2015
Slacked in the general channel

Bonnie  12:20 PM
@channel :money_with_wings: HfLA UX Research team is conducting research into what motivates people to donate to social causes.
:clipboard: If you or someone you know has donated to a social cause and would be willing to be interviewed (expected duration 45 mins), please contact @Basudhara Sen @Simone Campbell  via our channel #hfla-site-ux   -- Pro

[2021-09-14 22:01] sheltoG commented on #1730
**Progress**: Created a [Google Doc](https://docs.google.com/document/d/1oAf3KGd8aSYjcXNAV_TZM6TcBpE0-NMGj46_U6FHz9E/edit?usp=sharing) with an introduction on what google analytics is and how to gain access to the google analytics account for the Hfla page.
**Next Steps**: Identify the business objectives for Hfla website and build a strategy on how we can measure them. After defining how we can m

[2021-09-15 03:20] Aveline-art commented on #1891
### Agenda for September 16, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] We will exclusively discuss a [roll out plan ](https://github.com/hackforla/website/issues/2251#issue-994291702)for moving us into development and UAT branches
- [x] @macho-catt will demo google apps script security for wins form
- [x] Reminder to give a status report by the Sunday meeting

[2021-09-15 04:13] #2163 closed

[2021-09-15 14:30] Aveline-art opened #2264 "Creating a development and UAT environment, Phase 3, admin tasks"
### Dependency

- [ ] #2266

### Overview
As a developer, we are interested in creating environments for our websites that are friendly for the whole team to review. For this issue, we will create new repositories and provide domain names to host other versions of the website.

### Action Items
- [ ] Provide a domain name that is appropriate for hosting the DEV repository

#### The following must

[2021-09-15 14:36] Aveline-art opened #2265 "Creating a development environment, Phase 4, env setup"
### Dependency

- [ ] #2264

### Overview
As a developer, we are interested in creating environments for our websites that are friendly for the whole team to review. For this issue, we will configure environments created in phase 3.

### Action Items

- [ ] Moves file from hackforla/website to hackforla/website-uat.
- [ ] Host the files added to hackforla/website-uat under the provided UAT domain

[2021-09-15 14:38] Aveline-art opened #2266 "Creating a development environment, Phase 2, documentation"
### Dependency

- [x] #2251

### Overview
As a developer, we are interested in creating environments for our websites that are friendly for the whole team to review. For this issue, we will document our findings from the feasibility tests on #2251 so that this information will be available to future maintainers of our separate environments.

### Action Items

- [x] Read the Resources/Instructions

[2021-09-15 16:16] #1407 closed, assigned to JackRichman

[2021-09-15 19:09] ExperimentsInHonesty commented on #2021
@anonymousanemone Thank you for your work.  This issue will be released to development.

[2021-09-15 19:14] ExperimentsInHonesty commented on #1730
Use the prioritization areas here https://docs.google.com/spreadsheets/d/1g3QQH2qsWGa11KgpvE-RdlhEfqD-8gdw1TJAV0LNzl8/edit#gid=1754442892

[2021-09-15 19:52] ExperimentsInHonesty commented on #2212
Bonnie to make sure dean has access to edit privacy policy
Connect Shelton with Dean re privacy policy
Get Shelton draft from TDM calculator of consent message

#1968 Kayode is going to listen to interview and do a first draft of text - Add link here to your draft
#2037 Kevin will review the projects against the slide deck and review the sdgs

- [x]  Make issue for bug fix to header #2269
   - htt

[2021-09-15 19:55] ExperimentsInHonesty commented on #1730
Please all these docs into a folder and convert your existing doc to the guide format
Guide Template: https://docs.google.com/document/d/1kV29V-mRPBNRRfIbYHrz05FElC02Dh6egaMANlxaZrM/copy
Header template: https://docs.google.com/drawings/d/1YJI1pKheA2uZfI8ICTtR8soJLuhqhoTUrzfv8YQerE4/copy

[2021-09-15 19:59] arghmatey opened #2267 "Update profile icons to open in new tab on Wins page"
### Overview
As a user while on the wins page, clicking on a Linkedin or Github link on a modal should open that profile page in a new tab. Currently - when clicking on a submission's Linkedin or Github ***on a modal window***, the link opens in the current tab.

The modal links are dynamically created, and the `target` attribute needs to be added to that function.

### Action Items
- [x] Locate t

[2021-09-15 21:15] sheltoG opened #2268 "Change description text for CoP URL on Getting Started PAge"
### Overview
We need to change the description text for a URL on the Getting Started Page.

Currently the text on the page is as follows:
[Join your Community of Practice's Slack channel](https://www.hackforla.org/communities-of-practice) for access to announcements, meeting zoom links, and helpful resources.

We need to update it to:
[Join your Community of Practice ](https://www.hackforla.org/co

[2021-09-15 21:35] ExperimentsInHonesty opened #2269 "Fix header bug"
### Overview
We need to fix a bug that has crept into the site on some of the headers so that they go back to being consistent with the design systems for the website.

### Details of where to find the bug
https://www.hackforla.org/communities-of-practice
https://www.hackforla.org/about/
https://www.hackforla.org/join
https://www.hackforla.org/project-meetings

### Resources/Instructions
<details>

[2021-09-15 21:39] ExperimentsInHonesty commented on #2269
@hackforla/website-merge On some recent merge, a few pages headers got broken. Please add a size to this issue and assign it immediately.

[2021-09-15 21:55] ExperimentsInHonesty commented on #2069
@janieche please remove "looking for" and replace "Location" with  "Program Area"

[2021-09-15 22:15] Aveline-art commented on #2269
@glenflorendo Are you still working on #1892? If not, it needs to go back into the backlog before you can take a second issue, unless it involves collaborative work.

[2021-09-15 22:56] ExperimentsInHonesty opened #2270 "Add Program Area: Brigade Organizers Playbook"
### Overview
We need to add program area information to the Brigade Organizers Playbook project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/briga

[2021-09-15 23:05] ExperimentsInHonesty opened #2271 "Add Program Area: Green Earth OS"
### Overview
We need to add program area information to the Green Earth OS project so that it will show up when we add the program areas filter.

### Action Items
- [ ] Review the project.md file model in the Resources section
- [ ] Add the following text to the file indicated in the Resources section
- [ ] See visual changes on the [Projects page's](https://www.hackforla.org/projects/) Green Eart

[2021-09-15 23:08] ExperimentsInHonesty opened #2272 "Add Program Area: Jobs for Hope"
### Overview
We need to add program area information to the Jobs for Hope project so that it will show up when we add the program areas filter.

### Action Items
- [ ] Review the project.md file model in the Resources section
- [ ] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/jobs-for-hope.md

U

[2021-09-15 23:11] ExperimentsInHonesty opened #2273 "Add Program Area: New Schools Today"
### Overview
We need to add program area information to the New Schools Today project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/new-schools-tod

[2021-09-15 23:16] ExperimentsInHonesty opened #2274 "Revise the Program Area: Access the data"
### Overview
We need fix a misspelling of the program area information in the Access the Data project so that it will show up when we add the program areas filter.

### Action Items
- [x] Revise the text in the file indicated in the Resources section
- from
[code]
  - to
[code]

### Resources/Instructions
File location to make the change: _projects/access-the-data.md

URL for UAT to check the page

[2021-09-15 23:28] ExperimentsInHonesty opened #2275 "Add Program Area: Adopt Civic Art"
### Overview
We need to add program area information to the Adopt Civic Art project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/adopt-civic-art.m

[2021-09-15 23:31] ExperimentsInHonesty opened #2276 "Add Program Area to Project: Criminal Sentencing"
### Overview
We need to add program area information to the Criminal Sentencing project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/criminal-sent

[2021-09-15 23:40] ExperimentsInHonesty opened #2277 "Add Program Area: Curbmap"
### Overview
We need to add program area information to the Curbmap project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/curbmap.md

URL for UAT t

[2021-09-15 23:44] ExperimentsInHonesty opened #2278 "Add Program Area: Light the Way"
### Overview
We need to add program area information to the Light the Way project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/light-the-way.md

U

[2021-09-15 23:47] ExperimentsInHonesty opened #2279 "Add Program Area: Shared Housing"
### Overview
We need to add program area information to the Shared Housing project so that it will show up when we add the program areas filter.

### Action Items
- [ ] Review the project.md file model in the Resources section
- [ ] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/shared-housing-pro

[2021-09-15 23:50] ExperimentsInHonesty opened #2280 "Add Program Area: Spare"
### Overview
We need to add program area information to the Spare project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/spare.md

URL for UAT to ch

[2021-09-16 03:07] macho-catt opened #2282 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-09-16 03:08] #2282 closed, assigned to nobody

[2021-09-16 03:09] macho-catt commented on #2282
Testing API request but put the wrong URL. Closing.

[2021-09-16 04:43] adrian-zaragoza opened #2283 "Convert Blank Issue Template to Github Form Issue"
### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to GitHub Form issues.

### Action Items

- [ ] Create a blank-issue-form.yml file in this [folder ](https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_TEMPL

[2021-09-16 08:00] abenipa3 commented on #2213
Progress: Created mobile mockups for the Technologies and CoP sections. [[Figma Link]](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15663%3A100278)
Blockers: N/A
Availability: 5
ETA: Completed - Looking forward to feedback.
Pictures:

<details> <summary> Technologies Section  </summary>

![Mobile - Technology](https://user-images.githubusercontent.com/38295612/1335

[2021-09-16 14:23] Basu3040 commented on #2015
Progress: 1. Participant recruitment script has been posted in the general channel
                2. Potential participants have contacted and team and we are scheduling the interviews
                2. We have started working on the script for recruiting corporates
Blockers: None
Availability: 3-4 hours every week (both individual and collaborative)
ETA: 10/15/21

[2021-09-16 18:50] #2153 closed, assigned to adam-abundis

[2021-09-16 18:56] macho-catt commented on #2145
Same as last week.

Progress: I have a working prototype of creating a KVF from google app script and updating a github repo. This can be implemented pretty easily.

Blockers: How to implement our API key in Google App Script #1980. I have a demo tonight to present during the backend meeting.

[2021-09-16 19:06] macho-catt commented on #1980
### Update:
I have a demo to present to the team tonight.

Currently, I have this following structure inspired by [this article](https://community.airtable.com/t/api-key-protection-for-google-apps-script/37026):

- A folder (let's call it hfla-test) in my own google drive to mimic the admin folder/drive
- A secret folder within hfla-test that will have strict permissions set. The encoded API key i

[2021-09-16 20:27] kristine-eudey commented on #2190
This looks great, thanks for compiling everything and identifying all the nav elements used, that was a ton of pages to look through! Just one thing left, which is to extract the nav elements you identified and copy them to create a sort of menu, similar to the way things are organized within the [design system](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3

[2021-09-16 21:46] kristine-eudey commented on #1051
@ahoang94 I worked on a version that incorporated the copy you wrote along with the changes requested by the product team, please see this newest version [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15634%3A99905). This copy was signed off on by Bonnie and PMs, but it needs work in terms of formatting/fitting the content in the header in a way that works. Pl

[2021-09-16 21:59] ExperimentsInHonesty commented on #2212
Program Area Audit https://docs.google.com/spreadsheets/d/1wkzmWck-aGTzGxiryYEUhGbKRJX8rDDT3RLsAn-E-9o/edit#gid=0

[2021-09-16 22:22] kristine-eudey commented on #1969
The design portion of this issue is completed and can be found in the red box here: [Figma - Footer](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14814%3A95261).

As per team discussion and vote, we're moving forward with the navigational structure highlighted in the red box and listed as "version 2". This design moves away from grouping pages based on the current

[2021-09-16 23:09] kristine-eudey commented on #2106
**Meeting:** 9/16/21

**Participants:** Kristine, Basu, Anh, Simone, Janie, Alyssa, Ashley

**Things to discuss:**
- Weekly standup
- Sunday meetings
- Participant recruitment and interview
- Script to recruit corporates
- New researcher recruitment
- Review Issues
   - Guide Pages (Alyssa)

**Things discussed:**
- Weekly standup
   - Kristine
     - Worked on the Home Page.
     - Updating the he

[2021-09-16 23:59] kristine-eudey commented on #2129
@janieche please provide an update on this issue. Thank you!

[2021-09-17 03:36] SAUMILDHANKAR commented on #1891
### Post-meeting notes, September 16, 2021

<details>
<summary>Click for notes</summary>
<br>

Meeting start: 7 PM

Note taker: Saumil

Few points about the roll out plan from @blakes24
- need to transition from 1 production branch to dev and UAT branches
- actually 3 separate repositories
- discussion on viability plan
- plan similar to 3 websites would be running at the same time
- (workflow) cu

[2021-09-17 04:10] Aveline-art commented on #2027
### Agenda for September 19, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
- [x] Go through developer review column
- [x] Assign pull requests
- [x] Monthly workflow demo (see above): Issue creation
- [x] Recap today's meeting
- [x] Reminder to give a status report by the Sunday meeting

[2021-09-17 05:30] #2269 closed, assigned to glenflorendo

[2021-09-17 06:18] Aveline-art commented on #2251
@hackforla/website-pm Please let us know that, if we create a dedicated environment for UAT, what is the ideal setup? That is, if the developers create this environment what are the MVP requirements?

[2021-09-17 08:47] abenipa3 commented on #1630
- Progress:
   - Completed
      - Adjusted font sizes and spaces (32px) of Mockup accordingly, [[Figma Mockup Before Consulting with Design]](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15601%3A99874)
      - Consult with Design Team to see if the Font Size and Spaces are agreeable.
      - Created a new mock-up with feedback provided by Design.
         - Adjust

[2021-09-17 13:40] Basu3040 commented on #2096
This has done!

[2021-09-17 13:40] #2096 closed, assigned to Basu3040

[2021-09-17 16:18] ExperimentsInHonesty commented on #2232
[Link to see the board by Good First Issue and the Prioritized backlog column is highlighted](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22good+first+issue%22#column-7198257)
[Link to see the board by Good Second Issue and the Prioritized backlog column is highlighted](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+good+second+i

[2021-09-17 16:22] ExperimentsInHonesty commented on #2232
# This came from the BOP project

### Reporting progress
- Be sure to check the box when you finish an action item.
- Report your progress weekly in a comment below using the following format:
     - Progress: 
     - Blockers: 
     - Availability :
     - Estimated date of completion:

### Stopping mid issue 
#### Reasons:
- Got personally busy, can’t finish
-  Only want to do a specific type of

[2021-09-17 16:40] ExperimentsInHonesty commented on #2232
provide guidance that the only thing on the board new developers and designers need to pay attention to are

Developers & Designers
Prioritized Backlog
In Progress

Developers
Pull Requests

Once a developer has had their good first issue and good second issue PRs approved then they can look at the "PR Needs review (Automated Column, do not place items here manually)" column to find [good first is

[2021-09-17 22:36] ahoang94 commented on #1051
@kristine-eudey I have created [5 layout options](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15831%3A100334) for the updated copy!

[2021-09-18 18:50] janieche commented on #2129
1. Progress: Not started
2. Blockers: n/a
3. Availability: 2 hours this weekend and 6 hours this upcoming week
4. ETA: 9/23
5. Pictures: n/a

[2021-09-18 19:24] janieche commented on #2213
1. Progress: Created updated mobile mockups for the Join Us, Wins, and Get in Touch sections. [Figma Link](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15855%3A100459)
2. Blockers: N/A
3. Availability: 3
4. ETA: Updates from feedback completed - looking for
<img width="258" alt="Screen Shot 2021-09-18 at 1 21 59 PM" src="https://user-images.githubusercontent.com/12

[2021-09-19 00:41] ExperimentsInHonesty commented on #2104
@abuna1985 this issue is pinned to the [issues homepage](https://github.com/hackforla/website/issues)  Can  you explain why?

[2021-09-19 00:41] ExperimentsInHonesty commented on #1850
@abuna1985 this issue is pinned to the [issues homepage](https://github.com/hackforla/website/issues)  Did you pin it or someone  else?

[2021-09-19 03:20] #2047 closed, assigned to linds-fonnes

[2021-09-19 07:07] adam-abundis commented on #1850
@ExperimentsInHonesty I did pin it. I thought pinning an issue was individual, not for the whole group. My apologies.

[2021-09-19 07:10] adam-abundis commented on #1850
Progress
1. Moved some PR for issues within here to completion. No new issues were created.
2. Time
3. Should have some time Tuesday to update issues and determine remaining focuses
4. ETA: TBD

[2021-09-19 07:18] adam-abundis commented on #2104
@ExperimentsInHonesty My apologies. I thought pinning an issue was for individual views not for the entire team. The issue has been unpinned.

[2021-09-19 16:19] #1969 closed, assigned to SaashaG

[2021-09-19 16:52] ktlevesque19 commented on #2207
Progress: Not started
Blockers: None at this time
Availability: This week got crazy at work, planning to tackle this early this week
ETA: Expect to be done by this upcoming Thursday 9/23

[2021-09-19 17:08] GLRJr commented on #2117
created new pull request with front matter changed

[2021-09-19 17:11] adam-abundis commented on #1901
Closing this issue. If there is a need to document duplicate styles, please re-open this issue.

[2021-09-19 17:11] #1901 closed, assigned to nobody

[2021-09-19 17:26] adam-abundis commented on #1498
@celinevalentine Can you please provide an update on resolving the merge conflicts on your pull request/issue update? We do not want to accidentally remove you from this issue.

[2021-09-19 17:28] janieche commented on #2069
Additional notes from 9/19 meeting:
* Remove "looking for" and replace "Location" with "Program Area"
* Create mobile mock version of the dropdown
* Note size and behavior of each dropdown boxes
* Update resting state with current filter options
* Organize screens from top-down and left-to-right for most updated screens
* final set of screens get a red line around them

[2021-09-19 17:36] janieche commented on #2016
Notes from 9/19 meeting:
* Format screens, bottom and left-to-right for most recent mocks
* Include desktop version too
* Use pink/red rectangle
* Comment that designs have been signed off by product and is ready for development when changes are made

[2021-09-19 17:58] janieche commented on #2016
[Designs in the red box](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15307%3A98621) have been signed off by product and is ready for development.

[2021-09-19 18:28] adam-abundis opened #2286 "Design System: Audit Dropdown Element"
### Dependency
- [x] #3635
- [ ] Waiting for wiki to be moved to its new repo and be ready for new content

### Overview
As a developer, we need to audit the HTML, CSS, and JavaScript for the dropdown element in order to ensure best practices are being applied.

### Action Items
- [x] Find all instances of the HTML, CSS, or (inclusive) JS code for the dropdown element from all pages (one can be fo

[2021-09-19 21:05] Abel-Zambrano commented on #2076
Progress: Need to separate JS code to assets/js
Blockers: Liquid syntax errors
Availability: 5hrs
ETA: 9/24

[2021-09-19 23:23] christina245 commented on #656
I have stepped back from this project so please reassign this issue. I will be adding more versions of this page shortly for the next user to build from.

[2021-09-20 00:08] Aveline-art commented on #2206
@blakes24 As per today's meeting, I have reworded the issue to better match PM intentions. Feel free to continue this issue and undraft your PR when it is ready for review. Thank you so much for working on this issue!

[2021-09-20 00:20] ExperimentsInHonesty opened #2287 "Add new project to website: Civic Tech Jobs"
### Dependency
~Waiting on Civic Tech Jobs team to complete gathering of assets https://github.com/hackforla/CivicTechJobs/issues/36~

### Overview

We need to add a new project to the hack for la website so that our project list can be current

### Project Details
- Name: Civic Tech Jobs
- Name of future project.md file: civic-tech-jobs.md
- Files you will need to upload to the website repository

[2021-09-20 01:53] #1945 closed

[2021-09-20 02:02] Aveline-art commented on #2076
@Abel-Zambrano *psst*

<details>
<summary>Hint</summary>
<br>
https://stackoverflow.com/questions/58517425/how-do-i-include-liquid-global-variables-defined-using-jekyll-in-a-javascript-fi
<br>
</details>

[2021-09-20 03:18] ExperimentsInHonesty opened #2288 "Add new project to website: Tech Work Experience"
### Dependency
- https://github.com/hackforla/internship/issues/248

### Overview

We need to add a new project to the hack for la website so that our project list can be current

### Project Details
- Name: Tech Work Experience
- Name of future project.md file: tech-work-experience.md
- Files you will need to upload to the website repository:
   - tech-work-experience.png
   - tech-work-experienc

[2021-09-20 04:22] ExperimentsInHonesty opened #2289 "Add new project to website: Guides Team"
### Dependency
<del>https://github.com/hackforla/guides/issues/38</del>

### Overview

We need to add a new project to the hack for la website so that our project list can be current

### Project Details
- Name:  Guides Team
- Name of future project.md file: guides-team.md
- Files you will need to upload to the website repository: guides-team.jpg and guides-team-hero.jpg
- Where you will store the

[2021-09-20 19:55] glenflorendo commented on #1892
Progress: Almost done, but I'm trying to see if I can improve things any further.
Blockers: N/A
Availability: A few hours per night.
ETA: Hopefully, by Sunday 9/25.

[2021-09-20 20:23] kevngaleu commented on #2037
Progress: Task completed. I have checked all projects that have wording and SDGs and proposed SDG that fit where needed. Since the SDGs are global goals, I have mostly used "indicators" to check SDGs that are aligned to localized national targets and city government plans and policies of LA. Then the choices were made based on the intended impact of the respective project in line with those target

[2021-09-20 21:24] sheltoG commented on #1797
9/21

**Product Management**
- Discuss removing the project team section on Hfla projects

**UX Research**
- Please suggest on the script to recruit corporate donors
https://docs.google.com/document/d/1Vxn0QV8bfk6yk3J91-aQ3PqANMHF7_0XCkwuaCtdjs4/edit

**Design**
[Homepage ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15962%3A100862)
[Projects page header](https://

[2021-09-21 03:16] #2248 closed, assigned to adam-abundis

[2021-09-21 04:33] adrian-zaragoza opened #2290 "Convert Mobile_responsiveness Template to Github Form Issue"
### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to GitHub Form issues.

### Action Items

- [x] Create a Mobile_responsiveness.yml file in [this folder](https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_T

[2021-09-21 04:39] #2244 closed, assigned to mdhailwood1

[2021-09-21 04:48] adrian-zaragoza opened #2291 "Convert Communities of Practice information updates Template to Github Form Issue"
### Dependency
~~https://github.com/hackforla/website/issues/2202~~

### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to GitHub Form issues.

### Action Items
- [ ] Create a new communities-of-practice-information-update

[2021-09-21 04:54] adrian-zaragoza opened #2292 "Convert Project Profile Card review and update Template to Github Form Issue"
### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to GitHub Form issues.

### Action Items
- [x] Define the form elements and their behavior
  - [x] Review with product and Front End Lead
- [x] Create a project-profile-ca

[2021-09-21 04:57] adam-abundis commented on #2010
### Agenda for September 21st, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped

[2021-09-21 04:59] adrian-zaragoza opened #2293 "Convert Suggest a feature or new content for HackforLA.org to Github Form Issue"
### Dependency
- [ ] Waiting to see if anyone uses this issue to suggest improvements and the fields we want are stable. When proven stable this issue can be released.

### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to

[2021-09-21 05:04] adrian-zaragoza opened #2294 "Convert Suggest a guide Template to Github Form Issue"
### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process. The current issue forms require the person to replace the text, and is less user-friendly compared to GitHub Form issues.

### Action Items

- [ ] Create a suggest-a-guide.yml file in [this folder](https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_TEMPLAT

[2021-09-21 05:08] adrian-zaragoza opened #2295 "Convert Suggest an external resource Template to Github Form Issue"
### Dependency
We have to define a need for this.  ~No one has ever used the current issue to suggest a feature, so the existing template has not been validated as being the information we need to collect.~  This might not be true.  We need to see where the button goes.

### Overview
As an issue creator, we want to implement issue templates for issue creation to streamline and simplify the process

[2021-09-21 05:16] adrian-zaragoza commented on #2027
### Post-meeting notes, September 19, 2021

<details>
<summary>Click for notes</summary>

- Announcements: None
- Development Review
  - Issue #1901 Issue was closed. If this still is still open, please reopen.
  - Issue #1977
    - Saumil made an issue in his repo, need to configure in progress project column.
    - Configure secrets to your repo
      - https://docs.github.com/en/actions/referen

[2021-09-21 17:01] macho-catt commented on #1980
### Update

- Fixed and moved functions in my prototype to be more secure.
- Added descriptive info via console.log for each step so it can be debugged if something goes wrong (although this could definitely be expanded upon).

### To do

- Need to write documentation on everything for future devs / leads
- Need to implement the actual transfer to using the admin drive
    - Wins form responses an

[2021-09-21 19:18] sheltoG opened #2296 "Ensure that all project links are included in the project page"
### Overview
We need to make sure the same links are available on both the project card and project page to

<details>
  <summary>Current project card (100 automation) - 4 links</summary>
  <h3>An example that highlighs links within project card</h3>
  <img alt="project card example" src="https://user-images.githubusercontent.com/36433204/134233503-65ff9bdd-cff7-4b10-b647-03b8315dd192.png" />
</de

[2021-09-21 20:02] #2016 closed, assigned to janieche

[2021-09-21 21:06] arghmatey commented on #2135
Remaining issues have been created or linked. Closing issue.

[2021-09-21 21:06] #2135 closed, assigned to arghmatey

[2021-09-22 00:27] adrian-zaragoza commented on #2128
Issues have been created to convert existing issue templates to github forms. Closing this issue.

[2021-09-22 01:11] Aveline-art opened #2298 "Create a new issue form for feasibility"
### Overview
As a developer, we want to standardize issue templates that are repeatedly used. For this issue, we will create an issue form template for feasibility related issues.

### Action Items

- [x] Create a feasibility-issue-template.yml file in [this folder](https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_TEMPLATE)
- [x] This template needs the following fields:
  - [x] Ti

[2021-09-22 01:16] Aveline-art opened #2299 "Create a new issue form for GitHub Actions"
### Overview
As a developer, we want to standardize issue templates that are repeatedly used. For this issue, we will create an issue form template for GHA-related issues.

### Action Items

- [x] Create a gha-issue-template.yml file in [this folder](https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_TEMPLATE)
- [x] This template needs the following fields:
  - [x] Title
  - [x] Depe

[2021-09-22 06:53] Zhu-Joseph commented on #2095
Progress: Started
Blockers: None so far
Availability: Random hours here and there
ETA: Within a couple of days

[2021-09-22 15:46] Basu3040 commented on #2015
Progress:
1. Participants have been contacted and the interviews are scheduled
2. The script for recruiting corporates is finished and reviewed by Bonnie
Blockers: None
Availability: 3-4 hours every week (both individual and collaborative)
ETA: 10/15/21

[2021-09-22 17:07] abenipa3 commented on #1630
# Minutes 9/22/21

- Reviewed [new formatting suggestions](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=18%3A17645) on design.
   - Feedback:
     -  Bring back font for headings (Bold and Regular) as seen in the [previous design](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=18%3A16839).
     - [Figma / Type Space Figma Youtube Video Re

[2021-09-22 18:45] ExperimentsInHonesty opened #2301 "Return good first issue label to its original title"
### Overview
We need to rename the label "size: good first issue" back to the original wording back to "good first issue" so that we are using the standard Github tag

#### Details
GitHub promotes this label and other entities use like [Hacktoberfest](https://hacktoberfest.digitalocean.com/) use it when encouraging people to find open source projects to work on.

### Action Items
- [x] Identify wh

[2021-09-22 18:47] ExperimentsInHonesty commented on #2301
@macho-catt @Aveline-art I am moving this from a conversation in slack to this issue because this is now urgent.  Octoberfest planning kickoff meeting has just happened and none of our issues are going to qualify.  Please move any Slack DMed conversations you had to this issue and let's get this fixed asap.

Slack conversation from 2021-09-04

[code]

[2021-09-22 19:32] macho-catt commented on #2301
I can fix this right now and open a PR.

[2021-09-22 19:33] macho-catt commented on #2227
Fixing so we can fix #2301

[2021-09-22 23:26] #2227 closed, assigned to macho-catt

[2021-09-22 23:47] adam-abundis commented on #2095
@Zhu-Joseph don't forget to move columns in the project board from the `Prioiritzed  Backlog` column to the `In progress (actively working)` column after you assign yourself the issue. This can be achieved in the Project section on the right-side menu under the Labels section.

[2021-09-23 00:40] macho-catt commented on #2301
@ExperimentsInHonesty the label can now be returned to "good first issue." Thanks

[2021-09-23 00:47] macho-catt opened #2303 "test issue - good first issue"
### Overview
testing gha- to close

[2021-09-23 00:48] macho-catt commented on #2303
testing github action, and it works. Closing.

[2021-09-23 00:48] #2303 closed, assigned to nobody

[2021-09-23 01:47] abenipa3 commented on #2213
Progress:

- Applied feedback from our last meeting.
- Updated mockups for Community of Practice and Technologies according to our latest Desktop Updates.
- [Figma Link](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16034%3A100670)

Blockers: Struggled with font sizes of the numbers under Technologies.

<details> <summary> Technologies Preview </summary>

![image](h

[2021-09-23 01:47] Abel-Zambrano commented on #2076
@Aveline-art Thank you!!

[2021-09-23 15:02] Aveline-art commented on #2301
Closed because the task is finished.

[2021-09-23 15:02] #2301 closed, assigned to nobody

[2021-09-23 15:04] Aveline-art commented on #2268
@robertestrada If you are actively working on this, please move it to the in progress column after assignment. Thank you!

[2021-09-23 15:05] Aveline-art commented on #2180
@R-Tomas-Gonzalez Are you working on this issue? If so, please move it from the backlog to the in progress column. Thank you!

[2021-09-23 15:24] R-Tomas-Gonzalez commented on #2180
Moved! Thank you

[2021-09-23 15:39] #1441 closed, assigned to averdin2

[2021-09-23 15:45] janieche commented on #2069
1. Progress: Completed (pink rectangle). Created 3 versions to account for changing dropdown heights for different
2. Blockers: None
3. Availability: n/a
4. ETA: 9/23, looking for feedback or confirmation it's ready to go!
5. Pictures:
<img width="583" alt="Screen Shot 2021-09-23 at 9 44 56 AM" src="https://user-images.githubusercontent.com/12770042/134540033-bc760695-bfe6-49a4-82b6-5e07dc149444.p

[2021-09-23 17:53] robertestrada commented on #2268
Understood, thank you for the direction!

[2021-09-23 18:48] kristine-eudey commented on #2057
Completed [homepage figma design ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16091%3A101199)

**Notes:**
- Section heading font size has been changed from Title 1 to Title 2. I will discuss this with design team at tonight's meeting and decide which version to put forward, both versions are fully designed and labeled on the Figma. My preference is for the update

[2021-09-23 20:13] abenipa3 commented on #1630
# 9/23/21 Updates

## Design

- Updated mock-up with Guide Authors' social media icons.
- Added two more mock-ups displaying shadow and an _orange_ border around images.
   - Note: Some images were dark to see the black line, so decided to use orange to match [the selected color box](https://user-images.githubusercontent.com/38295612/134618114-34d012d0-d952-4870-bcbb-a3c5905fb576.png).
   - Design

[2021-09-23 21:55] macho-catt commented on #1891
### Agenda for September 23, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Discuss issues with time sensitive labels
    - [x] How can we advocate developers to prioritize picking up these issues?
- [x] title-classes discussion
    - [x] Source: https://github.com/hackforla/website/discussions/2297
    - [x] What's the best way of modifying our title-classes without

[2021-09-23 21:56] macho-catt commented on #1891
### Post-meeting notes, September 23, 2021

<details>
<summary>Click for notes</summary>
<br>

### Time sensitive labels
- We can ask Bonnie to create a new milestone that is 00 and assign these labels here. That way, they can be placed at the top of the priority
- We can also go over these issues during the dev meetings and promote them to devs that don't currently work on an issue
- If nobody ha

[2021-09-24 01:20] abenipa3 commented on #2106
**Meeting:** 9/23/21

**Participants:** Kristine, Simone, Basu, Janie, Alyssa

**Things to discuss:**
- New Member
- Weekly standup
- UX Research: Home Page
- Review Issues

**Things discussed:**
- Danya will onboard in the General HfLA meeting as a UX Designer.
- UX Research Team
  - Need the designs to use for the testing.
  - Interview schedule in this [spreadsheet].(https://docs.google.com/spr

[2021-09-24 04:06] #2095 closed, assigned to Zhu-Joseph

[2021-09-24 07:32] adam-abundis commented on #2255
Screenshots of the proposed changes

<details>
  <summary>Click here to screenshots of the proposed Design Systems project card</summary>
  <h3>Project card (desktop)</h3>
  <img src="https://user-images.githubusercontent.com/21162229/134635555-cad32989-cf87-4bac-bba3-6c3d0b8cdf3e.jpg" />
  <h3>Project card (mobile)</h3>
  <img src="https://user-images.githubusercontent.com/21162229/134635379-c61c

[2021-09-24 07:38] adam-abundis commented on #2255
Update
1. Completed changes. Awaiting approval from @hannahlivnat to complete PR
2. Just awaiting PM approval
3. Will be available Sunday/Monday to complete this
4. By the end of next week.

[2021-09-24 15:17] ExperimentsInHonesty commented on #2045
@IpshitaSingh we have not heard from you for two weeks.  It looks like you made the change from the screen shots and then had a little issue with your PR but you have not made a new PR since then.  Are you going to be able to make a new one?  Please let us know your availability and any challenges you are having.

[2021-09-24 16:46] ExperimentsInHonesty opened #2304 "Wins Randomizer for homepage"
### Overview
We need a randomizer for the new homepage so that we can give visibility to different volunteer types.

### Action Items
- [ ] Provide which wins go in the wins randomizer (add names and screenshot to resources section)
  - [x] Front End
  - [x] Backend/Devops
  - [ ] PM
  - [x] Design
  - [x] Research
  - [ ] Business Analyst
  - [ ] Data Science
  - [ ] Content
  - [ ] Marketing
  -

[2021-09-24 16:54] IpshitaSingh commented on #2045
@ExperimentsInHonesty I'd like to apologise for the delay; there's an issue with my local repo and since I've been completely swamped with work, I haven't got around to fixing it and making another PR.
I can make one by next week but if this needs to be urgently done, it'd be best if I could un-assign myself.

[2021-09-24 16:59] Zhu-Joseph commented on #2275
Progress: Started updating info
Blockers: None so far
Availability: Random hours here and there
ETA: By next week

[2021-09-24 17:08] Aveline-art commented on #2283
Hi @adrian-zaragoza . Sorry to make this more complicated, but I just remember that there also needs to be a Dependency portion to the issue form. The way it works would be akin to:

- [ ] Is there a dependency?
- [ ] If yes, please specify ________

Can you add this in? I know this might be a hassle, since this is a good first issue.

[2021-09-24 17:34] Aveline-art commented on #2027
### Agenda for September 26, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
- [x] Go through developer review column
- [x] Assign pull requests
- [x] Monthly workflow demo (see above): 4th Sunday: Labels, milestone usage, and issue approval process
- [ ] Go through 'To Update !' labels and reach out
- [ ] Recap today's meeting
- [ ] Reminder to giv

[2021-09-24 17:51] Aveline-art commented on #2304
This is placed in questions and review to bring awareness to this, and to make sure that the last action item (linking this to the HPRe issue, will not be forgotten) should the HPRe issue be made.

[2021-09-24 18:00] macho-catt commented on #2145
Progress: I have a working prototype of creating a KVF from google app script and updating a github repo. This can be implemented pretty easily.

Blockers: Need to write documentation for #1980 then implement the change for token

[2021-09-24 18:11] Aveline-art commented on #1563
@amnak1284 This issue has grown stale over time, so we will release it back into the backlog. If you are still interested in working on this issue, feel free to pick it up again or contact us on Slack. Thank you!

[2021-09-24 18:18] abenipa3 commented on #1630
# Minutes 9/24/21

- Reviewed mockups. [Figma Link](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=26%3A6759)
   - Feedback:
     - Design Team and Guides Team prefer shadow background borders around images.
     - Spaces: Images must show that they are associated with a specific step. Experimented with sizes.
         - First Attempt: [32px size](https://user-images.g

[2021-09-24 18:51] macho-catt opened #2306 "GitHub Actions: Automatically move a newly created issue into the Project Board"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want newly created issues to automatically be placed in the Project Board.

### Action Items

- [x] Review the notes below to understand the GitHub actions architecture we are currently moving towards
- [x] This should be a new job under the ["Issue Trigg

[2021-09-24 19:51] ExperimentsInHonesty commented on #2283
@adrian-zaragoza I removed the Ready for Milestone label.  Please address what Ava said above.

@macho-catt  Good First Issues and Good Second issues need to be explicit, and it seems that there is part of the issue that opens up the possibility of doing something other than the instructions at the top.  The decision about doing the optional action should be made before this issue is released.  Or

[2021-09-24 20:50] #2078 closed, assigned to aalieu

[2021-09-24 21:47] Hanastevenson commented on #2255
Hi @abuna1985

Thanks for the update. The project card works. The Project profile needs some adjustment. In the current screen shot provide by you there seems to be little padding from the top of the artwork to the navigation.

Please see below the preferred layout. I've left in the bounding box to illustrate. The artwork size needs to be reduced to align with the sides of the 'project overview' w

[2021-09-24 21:50] Hanastevenson commented on #2255
@ExperimentsInHonesty Do we need to review the copy? Highlighting the fact this initiative goes across 20+ product teams?

[2021-09-24 22:11] macho-catt commented on #2271
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:13] macho-catt commented on #2270
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:14] macho-catt commented on #2272
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:15] macho-catt commented on #2273
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:15] macho-catt commented on #2274
Looks like #2259 is addressing this. We can close when that is merged.

[2021-09-24 22:17] macho-catt commented on #2275
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:17] macho-catt commented on #2276
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:18] macho-catt commented on #2277
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:18] macho-catt commented on #2278
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 22:19] macho-catt commented on #2279
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

@mdhailwood1 please note this change for your PR. Thanks!

[2021-09-24 22:20] macho-catt commented on #2280
@abuna1985 and I discussed that we'll modify the "program area" text to "programs" as a result of "program areas" not being valid html attribute name due to spacing. This is in regards to fixing #2076 and addressed in PR #2259.
Modifying the action item of this issue as a result.

[2021-09-24 23:54] adrian-zaragoza commented on #2283
Hi @Aveline-art and @ExperimentsInHonesty I have updated the code block on the issue comment and added a dropdown with "Yes" and "No" for Is there a dependency?. I also added a textbox to explain further if there is a dependency.
Does the dependency portion need to be added to the other github issue forms? If so, which ones?

I ran the code in my repo and this is how the form looks like.
<details>

[2021-09-25 00:02] Aveline-art commented on #2283
@adrian-zaragoza I believe the blank issue form will suffice for now. Just to be sure, an issue with a dependency will ultimately look like #2266. I know the exact format might not be possible with issue forms, but we can play around once the form has been uploaded and created.

[2021-09-25 00:25] ktlevesque19 commented on #2207
@kristine-eudey I've completed three options in the blue box to the right, ready for review!

This may be a separate issue for once this page goes to development, but I did want to note that the card rows probably won't line up perfectly as they do in the initial page design unless we decide to standardize the card size and leave room for 2 rows of icons always, or limit to one row before expandin

[2021-09-25 01:24] #2117 closed, assigned to GLRJr

[2021-09-25 02:02] JasonEb opened #2307 "Test"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-09-26 02:06] linds-fonnes commented on #2116
Progress: Moved the script from wins.html lines 24-480 to its own JS file.
Blockers: Need to figure out how to reassign both the localData and gitHubData variables that were previously assigned in the HTML file using Liquid.
Availability: 5 hours
ETA: By Oct 1
Pictures: N/A

[2021-09-26 05:18] abuna1985 commented on #2255
@Hanastevenson The profile page styling is prebuilt for all projects. If we change the styling for the specific project page, it would affect all project pages.

[2021-09-26 05:29] adam-abundis commented on #2296
@sheltoG This is a super vague issue. How would one know to find the appropriate link if one is not given?

Maybe it would be better to have a checklist from each given project to ensure the person taking this issue is clear about what needs to be done.

[2021-09-26 14:34] ExperimentsInHonesty commented on #2255
@Hanastevenson i think we took this text from the one sheet. Maybe we should revisit both.

[2021-09-26 16:25] macho-catt commented on #2283
We can remove the context and feedback areas for now and create a future issue to add these options. I will update the post so that this can be labelled as a good second issue.

I am also editing the requirements so that instead of deleting the old blank-issue-.md file, we keep it and rename it to blank-issue-template.md. Then we make the new form to be blank-issue-form. That way if we ever want t

[2021-09-26 16:36] adam-abundis commented on #2255
@Hanastevenson For the background picture, we may need to have the picture shrunk down and transparent space around it to align the photo and the content box below. The current styling is that the photo stretches the full width of the page for all project info pages.

[2021-09-26 16:39] macho-catt commented on #2127
We can discuss this workflow during one of the dev meetings (either Tue or Thu) and get feedback from developers to see which makes sense.
Currently, it works like this:

1. If I create an issue and I don't add any labels:
    - the three labels for "missing" will be added: "size missing", "feature missing", "role missing"
2. If I create an issue with only one of the required labels (for example,

[2021-09-26 18:14] Basu3040 opened #2309 "Script and messaging to recruit donors in the interview process: HfLA website"
### Overview

We need script and the messaging, and tools to be able talk with donors.

#### Details: This is related to HfLA website redesign project where we are interviewing donors/financial partners to understand their motivations for donations of money, time, and/or services.

### Action Items

- [x] Create a script
- [x]  Edit the [existing research plan](https://docs.google.com/document/d/1

[2021-09-26 18:22] Basu3040 commented on #2309
Progress: The script has been created with Calendely invite.
Blockers: None
ETA: 10/4/2021

[2021-09-26 19:05] ExperimentsInHonesty commented on #2045
@IpshitaSingh we can wait.  Thank you for the update.  Please keep us updated weekly.

[2021-09-26 19:07] blakes24 commented on #2206
Progress: I have made the requested changes and updated my PR
Blockers: none
Availability: 5 hours
ETA: pending review
Pictures: NA

[2021-09-26 19:15] mdhailwood1 commented on #2279
Matthew, will do!

Progress Report)
1. Progress: Haven't been able to address it yet
2. Blockers: No blockers to report outside of availability
3. Availability: Sunday, Monday, Tuesday
4. ETA: I expect to complete this by Tuesday (9/28)
5. Pictures: None

[2021-09-26 19:38] macho-catt commented on #2275
@Zhu-Joseph please note the above change for your PR. Thanks!

[2021-09-26 21:06] macho-catt commented on #2258
Picking up and fixing this issue so I can fast track it and use this as an example / template for future gha refactoring

[2021-09-26 23:01] ExperimentsInHonesty commented on #2206
@macho-catt when you review the code, if it seems like there are two many conditionals, ask @blakes24 to review this summary which Matthew, Adam and I came up with during our lead meeting today.

All issue/PR that contain the following go to UAT:
front end  that are not hard label
back end issues that are soft label

[2021-09-26 23:08] ExperimentsInHonesty commented on #1842
@abuna1985 I changed my mind.  please make a new issue from this just for development, mention it in a comment on this issue.

[2021-09-26 23:11] janieche commented on #2069
Notes on final designs in the [pink rectangle](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15313%3A103303):
* Version A - The mega menu is 768px wide and 412px high for the current number of technologies pictured. The scroll bar is not triggered for this size and number of options.
* Version B - If more technologies are added, the box gets longer/taller taking the

[2021-09-26 23:18] blakes24 commented on #2027
### Post-meeting notes, September 26, 2021

<details>
<summary>Click for notes</summary>
<br>

- Announcements: none
- Review column:
  - #2255 will discuss with design and PMs
  - #2127 missing labels comments
     - Need to add documentation to wiki to be linked in Additional resources
     - explain next steps for issue
     - Missing labels reminder - add comment that if you're not sure what l

[2021-09-26 23:24] ExperimentsInHonesty commented on #1969
@abuna1985 have a true/false flag for displaying the new content, and the content is driven by a markdown file.

[2021-09-26 23:28] ExperimentsInHonesty commented on #1051
@kristine-eudey I thought we either decided which one, or we were going to let the team vote.  But this didn't seem to make the agenda today.  Can you followup on this so that it has one version of the site in the red box.

[2021-09-27 08:50] abenipa3 commented on #1630
# Update 9/27/21

- Adjusted hierarchy for spaces with two new mockups and annotated on Figma. (Our team wanted to add more breathing room between the Steps and Images.)
   - Mockup 1 [[Figma Link]](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=45%3A2511) [[Image Preview]](https://user-images.githubusercontent.com/38295612/134875133-9fec45bf-736b-48fe-abd7-5352270d36d

[2021-09-27 10:09] IpshitaSingh commented on #2045
@ExperimentsInHonesty Noted! Thanks for understanding

[2021-09-28 12:07] KayodeAlabi commented on #1968
I have been unwell. Just got back now.

See you in 2 days.

On Fri, Sep 24, 2021 at 8:04 AM github-actions[bot] <
***@***.***> wrote:

[2021-09-28 15:11] kristine-eudey commented on #2207
As decided at 9/26 team meeting, we'll move forward with **Option A for the desktop version** and **Option B for mobile version** and is ready for development.

- Context on decision: We decided on this option, just the "See More" to bring up the modal since the behavior of this is different from behavior (accordion expansion) that the down arrow currently relates to on the site. The down arrow wi

[2021-09-28 15:26] kristine-eudey opened #2311 "Create hero image best practices template for Project Pages"
### Overview
We need to create a template/best practices sheet for hero images on Project pages so that project teams have the guidance they need to select/create an image that works well within the standard design of the page.

### Action Items
 **Design:**
- [ ] Review all current Project pages and look for any issues with hero images currently being used.
- [ ] Create written guidelines as well

[2021-09-28 15:30] #2258 closed, assigned to macho-catt

[2021-09-28 15:31] #2206 closed, assigned to blakes24

[2021-09-28 15:38] kristine-eudey opened #2312 "Create new gradient overlay for Projects pages"
### Overview
We need to create a new gradient for the hero-image overlay on Project pages so that it looks smooth and visually pleasing, and is applied consistently to Project page hero images.

### Action Items

- Determine best format for this gradient (.svg, .png, etc) Consult with dev team if necessary to determine this.
- Create new gradient in Figma, using standard desktop screen size and he

[2021-09-28 17:02] Basu3040 commented on #2015
Progress: Participants have been contacted and the interviews are scheduled.
HfLA zoom will be used to interview participants and record their responses.
Blockers: Interviewees are canceling interviews
Availability: 3-4 hours every week (both individual and collaborative)
ETA: 10/15/21

[2021-09-28 18:11] Hanastevenson commented on #2255
@abuna1985 are you able to provide the dimensions so @ahoang94 can re-format the project header?
We have an Issue for reformatting. https://github.com/hackforla/design-systems/issues/123

[2021-09-28 19:00] kristine-eudey commented on #1797
Meeting 9/28/21

**Participants :**

**Things to discuss:**
Design:
2 new issues for approval: #2311 & #2312

**Things discussed:**

**Actions to take:**

[2021-09-28 19:15] kristine-eudey commented on #2057
@arghmatey the design is ready, can you please make an issue for development? After making the issue you can close this one. Thank you!

[2021-09-28 19:25] kristine-eudey commented on #2069
@abuna1985 can you please make an issue for this and add a dependency for completion of #1051? Thanks!
UPDATE 10/6/21 - Issue #1051 is completed so this should be good to go.

[2021-09-28 19:26] kristine-eudey commented on #1051
When decision is made, add correct header to all new/current iterations in Figma.

[2021-09-28 19:27] kristine-eudey commented on #2169
@abuna1985 design portion of this issue is complete, please make development issue. Thank you!

[2021-09-28 23:36] blakes24 commented on #2251
**Update**

- Github Actions can be used to move changes between repos
- also possible to use Travis CI but there's no clear benefit, and it requires extra setup
- [Git Sync Action](https://github.com/marketplace/actions/git-sync-action)  seems to be the best option - it can be triggered to sync the prod repo to the current state of any branch from the dev repo
- other actions are possible dependi

[2021-09-28 23:49] Aveline-art commented on #2180
@abuna1985 Is this issue for a whole page? If so, it might prove easier to complete and review if the page is divided into multiple issues.

[2021-09-29 00:45] adam-abundis commented on #2010
### Agenda for September 28th, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped

[2021-09-29 01:55] Aveline-art commented on #1989
@ExperimentsInHonesty I noticed a P-feature label on this. Does this involve a new page for the website? The issue itself is very unclear.

[2021-09-29 05:05] IpshitaSingh commented on #2045
Progress: Done
Blockers: Issue with local repo(now resolved)
Availability: 2 hours
ETA: N/A

[2021-09-29 07:13] adam-abundis commented on #2016
#2180 was created for building a desktop/mobile view of the Citizen Engagement page.

[2021-09-29 15:02] sheltoG commented on #950
Items that have bad links. @ExperimentsInHonesty can you validate which of this projects are active?

1. 5:00 pm - 6:00 pm BallotNav
2. 8:00 pm - 8:45 pm Operations Group Weekly Meeting
3.  7:00 pm - 8:00 pm Youth Justice Nav Team Meeting
4.  7:00 pm - 8:00 pm GreenEarthOS Team Meeting
5.  3:00 pm - 4:00 pm Youth Justice Nav Team Meeting

[2021-09-29 15:47] #2076 closed, assigned to Abel-Zambrano

[2021-09-29 16:50] Aveline-art opened #2316 "Wiki: Create a wiki for milestone information"
### Dependency
- [x] #1534
- [x] #3636

### Overview
As a member of the team, we need to have a basic understanding about our project board. For this issue, we will create a milestone wiki that will provide basic information about how our milestone system works.

### Action Items
- [x] Create a wiki that notes all of our current milestones.
- [x] We are currently in the process of moving the old w

[2021-09-29 17:11] #2268 closed, assigned to robertestrada

[2021-09-29 17:55] arghmatey opened #2317 "Develop Homepage Redesign"
### Overview
We need to develop the new Homepage Redesign based on Figma file provided by design.

### Action Items

- [x] Develop the redesigned Home page
     - [x] Ensure applicable design system classes are applied throughout
     - [x] Add new icons on [credits page](https://www.hackforla.org/credits/)
     - [x] Move or create 'includes' files into home-page folder nested in the _includes fo

[2021-09-29 17:58] arghmatey commented on #2057
@kristine-eudey New issue create - #2317. Closing this issue! Thank you!

[2021-09-29 17:58] #2057 closed, assigned to kristine-eudey

[2021-09-29 21:52] macho-catt commented on #1891
### Agenda for September 30, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Quick Wins demo with the new google apps script implementation
- [x] Idea from @Aveline-art: create a single source of truth for all the yml / md files that acts like a "database" so we only need to query / reference this source
    - [x] How would this look like?
        - [x] Could it be a

[2021-09-30 04:15] elizabethhonest opened #2318 "TEST ONLY - Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-09-30 04:15] macho-catt commented on #2318
test issue created from API. Closing...

[2021-09-30 04:15] #2318 closed, assigned to nobody

[2021-09-30 04:27] elizabethhonest opened #2319 "TEST ONLY - Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-09-30 04:28] macho-catt commented on #2319
test worked. closing

[2021-09-30 04:28] #2319 closed, assigned to nobody

[2021-09-30 05:14] macho-catt commented on #2145
Blockers: Need to finish documentation for #1980, then transfer wins responses to admin drive

[2021-09-30 05:16] macho-catt commented on #1980
Did testing today. Everything works.

Final things to do:
 - get approval to move wins form and responses to admin drive
 - currently, the triggers for the google app script cannot be edited so to avoid having post requests for every daily trigger, I commented out those code so the script does not do anything. When we move over to the admin drive, I will set up everything under an admin account. I

[2021-09-30 23:49] kristine-eudey commented on #2106
**Meeting:** 9/30/21

**Participants:** Kristine, Basu, Anh, Anya, Simone, Ashley, Kristin, Alyssa

**Things to discuss:**

- #1051
- #1630

**Things discussed:**
- Introductions. Welcome, Anya 🙌
- Weekly Standup
   - Basu and Simone:
      - Interviews for Home Page Redesign this past week.
      - Usability Testing: If anyone knows a Donor, please contact them to ask if they're interested in bei

[2021-10-01 00:58] ashleylin1 commented on #2190
Progress: Finished adding navigation component menu
Blockers: None
Availability: Weekends
ETA: Finished
Pictures:
![image](https://user-images.githubusercontent.com/54569038/135549801-ba59a203-43e4-4f2f-869b-0c228bc193ad.png)
![image](https://user-images.githubusercontent.com/54569038/135549837-52c2c127-ed54-43be-bed2-1f60f92dc943.png)

[2021-10-01 03:35] macho-catt commented on #1891
### Post-meeting notes, September 30, 2021

<details>
<summary>Click for notes</summary>
<br>

- Did Wins demo
    - Might be a good idea to put an ID for each object
    - Bring up on Sunday meeting to transfer wins to admin drive
- Having a single source of truth is a good idea in general
    - A JSON file might become unmaintainable in the long run
    - We may just be trying to recreate a non-

[2021-10-01 07:40] abenipa3 commented on #1630
Progress:

- Annotated hierarchy for spaces between text and images. [[Link]](https://github.com/hackforla/website/issues/1630#issuecomment-927661838)
- Consulted with Design Team today regarding design. Design Team voted on mockup as seen below.

Blockers: N/A
Availability: 6
ETA: Completed - Just want to follow up with Guides Team before we begin the development phase.
Pictures: [[Figma Link]](h

[2021-10-01 17:30] adrian-zaragoza commented on #2176
Progress: Researched the tablet classes, icons, and breakpoint variables. Reviewed figma file.
Blockers: None.
Availability: I won't be available much this week to work on it. I will have more time on Monday.
ETA: Friday, Oct 8

[2021-10-01 21:44] #2275 closed, assigned to Zhu-Joseph

[2021-10-01 22:14] R-Tomas-Gonzalez commented on #2180
1. I have finished making this site today and have made a PR for it.
2. None. Needs review
3. Done with this issue. Sent in PR
4. Done.
5. None.

[2021-10-03 02:15] adam-abundis commented on #2027
### Agenda for October 2nd, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Make announcements
    - [x] @abuna1985 would like to present his vision to the team. [Summary can be found on this wiki page](https://github.com/abuna1985/website/wiki/Vision-for-the-Hack-for-LA-Development-Team)
    - [x] Added a [dev team leadership contact card](https://github.com/hackforl

[2021-10-03 06:09] SAUMILDHANKAR commented on #1977
Progress: The project is still in progress. I am able to add inactive labels as required by the issue, however, during testing I have come across some unexpected behavior (related to to update label and assignee logs) which still needs to be addressed.
Blockers: I have encountered errors related to to update label and assignee logs
Availability: 20 hrs
ETA: 10/10/2021

[2021-10-03 06:33] adam-abundis commented on #2255
@Hanastevenson My apologies for the delay. The dimensions for the hero will stay the same as the current image @ahoang94 (1500x700). We just need to add space between the image and border to match the text alignment.

[2021-10-03 06:36] adam-abundis commented on #2255
Update
1. Waiting for an updated hero image with extra space between the content and border. Will implement and provide updated screenshots when available.
2. Just need an updated image from @ahoang94 (My apologies for the delay in this update)
3. Will be available Tuesday and Thursday Afternoon
4. ETA 7-10 days.

[2021-10-03 15:58] elizabethhonest opened #2326 "TEST"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-10-03 16:00] macho-catt commented on #2326
testing script. closing

[2021-10-03 16:00] #2326 closed, assigned to nobody

[2021-10-03 16:10] ahoang94 commented on #2255
@abuna1985 New image files in PNG and SVG format have been saved to the "Branding and Assets" folder. I have resized the header artwork so that the primary image matches the width of the white content boxes that are to show below, but please advise if the Developer team has determined a suggested measurement for the top & bottom margins.

[2021-10-03 16:11] elizabethhonest opened #2327 "TEST 2"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-03 16:12] #2327 closed, assigned to nobody

[2021-10-03 16:15] kristine-eudey opened #2328 "Gathering images to represent Civic Tech Infrastructure program area on homepage"
### Overview
We need to find an image which best represents the Civic Tech Infrastructure program area for the [new homepage design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16301%3A101535).

### Action Items

- Do you have an idea for an open-source image which best represents Civic Tech Infrastructure?
- If so we'd love to see it!
- Please post the image, alo

[2021-10-03 16:30] elizabethhonest opened #2329 "TEST ONLY - Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-03 16:30] #2329 closed, assigned to nobody

[2021-10-03 16:36] elizabethhonest opened #2330 "TEST"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-03 16:37] #2330 closed, assigned to nobody

[2021-10-03 16:38] elizabethhonest opened #2331 "TEST"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-03 16:39] Basu3040 commented on #2304
Progress:  Callout of wins has been posted on the ui-ux slack channel!

[2021-10-03 16:39] macho-catt commented on #2331
script now works in the admin drive on form submit

[2021-10-03 16:39] #2331 closed, assigned to nobody

[2021-10-03 16:41] Basu3040 commented on #2015
Progress: 3 interviews are done and will start analysing the data next week
Blockers: 2 more interviewees are required
Availability: 3-4 hours every week (both individual and collaborative)
ETA: 10/15/21

[2021-10-03 16:49] kristine-eudey commented on #2304
Callout for UI-UX wins has been posted to the ui-ux slack channel in [this post](https://hackforla.slack.com/archives/C017ESHSMNG/p1633279435126900) and I will be contacting the CoP leads to ask them to call this out in the meetings and ask people to submit their wins.

[2021-10-03 23:10] adam-abundis commented on #2027
# Announcements for 10/03/2021

- I (@abuna1985) will be the technical lead working with @macho-catt  who is managing the back-end issues as back-end tech lead. We also have a website-merge team (@blakes24, @averdin2  @arghmatey ) that help merge approved pull request that is ready for production.

- I wrote down my visions and action items for the near future to get there in my [vision wiki artic

[2021-10-03 23:52] ExperimentsInHonesty commented on #2202
### Overview
As a Community of Practice Co-Lead, I need my CoP's details to be up to date on the HackforLA website.

### Action Items
Change CoP name: NO

Change Description: NO

Change Leadership Type: NO

Change Slack Link: NO

Remove person(s) and info from CoP file: YES
Name: Niven Prasad

Add person(s) and info to CoP file: YES
Name: Ebele O.
Title: Co-lead
GitHub Handle: ebele-oputa
Slack Me

[2021-10-04 00:02] ExperimentsInHonesty commented on #2128
We need to do a pilot on a new issue.  Before rolling out.  So I have reopened this issue.  Please see this comment for what we are trying to accomplish.  Matthew can give you more details if you need them https://github.com/hackforla/website/issues/2202#issuecomment-933053132

[2021-10-04 00:40] ExperimentsInHonesty commented on #2078
@adam will make an issue to have all the svgs on the credits page for these badges appear larger.  Will coordinate with @kristine-eudey to determine if images on credits page are supposed to be similar in size to each other or related to the size they appear on the site.  My preference is that they would be mostly the same size as each other.

[2021-10-04 02:19] ExperimentsInHonesty commented on #1619
@aalieu The FAQ text still needs to be updated.  Here is screenshot from Figma (check the red box)

![image](https://user-images.githubusercontent.com/37763229/135784108-d9a9abc5-0d32-4fea-94f3-dab62933235a.png)

[2021-10-04 02:41] ExperimentsInHonesty commented on #1797
**Meeting:** 10/5/21

**Things to Discuss:**
1.  Discuss if there are any changes we need to make to the [wins](https://www.hackforla.org/wins/ ) page to make it more accessible.  For instance, does it matter that we do not have the word sort or filter next to the drop downs?
2.  Discuss if we are going to make accessibility changes to [Credits](https://www.hackforla.org/credits/ ) page.  Guidance

[2021-10-04 04:51] #2279 closed, assigned to mdhailwood1

[2021-10-04 05:02] #2207 closed, assigned to ktlevesque19

[2021-10-04 06:59] macho-catt opened #2332 "Refactor JS: Update program area liquid variable"
### Overview
As a developer, it is best practice to keep variable names as close to its purpose/definition as possible. For this issue, change the markdown key from 'programs' to 'program-area' and fix any JS related files that uses liquid to import those keys.

### Details
The markdown key for Program Areas was recently changed from 'program areas' to 'programs' to bypass an html issue regarding

[2021-10-04 07:06] #2332 closed, assigned to macho-catt

[2021-10-04 07:09] macho-catt commented on #2274
re-addressed and fixed in #2333

[2021-10-04 07:09] #2274 closed, assigned to nobody

[2021-10-04 18:28] Basu3040 opened #2334 "Create demographic survey for donors"
### Overview
We need to create a survey in the google form for the website redesign project. This survey will help collate the demographic data of both individual and corporate donors.

### Action Items
1. Create a survey in the google form

### Resources/Instructions
https://docs.google.com/document/d/1ELtk7H_uubatggRcTO9imHzdheeiPWkDLs3KZepMwh0/edit
#2015

[2021-10-04 18:29] Zak234 commented on #1940
Don't have time to continue working on this issue due to school. For anyone who picks this up, the most promising solution seemed to be either using REST API  using Update Issue or to add a separate comment with the notes on feature-branches though you would have to convince leadership on the second option.

[2021-10-04 18:34] adam-abundis commented on #2255
@ahoang94 Where is the path to the 'Branding and Assets' folder? Could you provide a direct link to the image?

[2021-10-04 22:29] ahoang94 commented on #2255
@abuna1985 Apologies, I thought you had access to the folder.

SVG: https://drive.google.com/file/d/1C5SWxzXOOYAD72XSMcDCBCc27Z0VbVSG/view?usp=sharing
PNG: https://drive.google.com/file/d/1aoukvj0QbBcBs8nlzgJuzcNYwDu4uYFC/view?usp=sharing

[2021-10-04 22:54] ahoang94 commented on #2213
1. Progress: Created updated mobile mockups for the hero banner & Program Areas sections, including several different carousel options. [(Figma Link)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15514%3A100330)
2. Blockers: N/A
3. Availability: 3
4. ETA: TBD; awaiting feedback come Thursday's meeting

[2021-10-05 01:18] adam-abundis commented on #2232
# Working Example

### Overview
This template will provide steps to set up your development environment and begin contributing to the Hack for LA Website team

### Action Items
- [ ] Go to the Contributing.md document - https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md
    - [ ] Complete [Step 2: Installing Git](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#In

[2021-10-05 04:06] abenipa3 commented on #2213
Progress: Created new mockups for [technology](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16634%3A101973) and [CoP](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16634%3A101974) sections.
Blockers: N/A
Availability: 2
ETA: TBD; awaiting feedback.

<details> <Summary> Technology </summary>

![image](https://user-images.githubusercon

[2021-10-05 16:54] macho-catt commented on #2032
Putting this as a dependency because we found an interesting issue for #1977 that may be related to this. Basically, if an issue was recently assigned but it falls under the timing window for asking to update an issue, it asks for an update even though it was recently picked up.

@SAUMILDHANKAR tagging you for your info

[2021-10-05 18:04] elizabethhonest opened #2335 "Test Issue creation"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-05 18:05] macho-catt commented on #2335
Testing API when wins is in admin drive. It works :)

[2021-10-05 18:05] #2335 closed, assigned to nobody

[2021-10-05 18:07] macho-catt commented on #2161
This is fixed since in the tests I've done we only get one issue creation per google form submission.

[2021-10-05 18:09] macho-catt commented on #2160
@sobe-an @ExperimentsInHonesty
This is implemented as part of my moving the wins to the admin drive.
#2336 is an example where the labels are updated. I kept the "new-win-submission" label. Do we want this removed as well?

Currently there are no other automations that use the "Role: Administrative" label, but there is one issue that uses it: #2264

Also picking this issue up because currently the

[2021-10-05 18:17] elizabethhonest opened #2336 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-05 18:27] elizabethhonest opened #2337 "Test - button on wins page points to new link"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-10-05 18:27] macho-catt commented on #2337
testing that the button on the website now points to the new link under the drive. Closing bec it works :)

[2021-10-05 18:27] #2337 closed, assigned to nobody

[2021-10-05 18:32] macho-catt commented on #2336
This one is a legit submission btw (not part of my tests), and is submitted by an Evan Yang on 9/2/2021. However, it got lost in the ether (it was during the time we removed the API token so we can secure it) so I'm resubmitting this through the issue creation API so it can be addressed.

[2021-10-05 18:52] kristine-eudey commented on #1051
Final version is complete and the Figma design can be found in the pink rectangle [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15831%3A100334)

@abuna1985 this is now ready for a dev issue.

[2021-10-05 19:05] ahoang94 commented on #1051
@kristine-eudey @abuna1985

I think there might be a discrepancy with the size of the artwork. It is currently set to 372px in height, but according to the [design system](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=6207%3A40530) it should be 240px. Kristine, please advise.

[2021-10-05 19:13] adam-abundis commented on #2010
### Agenda for October 5th, 2021

- [x] Designate a note-taker who will follow up on issue creation
     - [x]  Note next steps for agenda items, issues that need to created.
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [x] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan

[2021-10-05 19:28] ExperimentsInHonesty commented on #1797
Design & Research to make an issue for new team member prework
Design to make an issue to review making typograph changes to allow for Bold, Medium, Regular

[2021-10-05 19:43] kristine-eudey commented on #1051
@ahoang94 thanks for spotting that! Can you correct it? I can then go in and copy the adjusted version over to all the other new designs that incorporate it.

[2021-10-05 20:06] ahoang94 commented on #1051
@kristine-eudey The layout has been corrected in the "Final Version" artboard. I used Figma's auto layout feature to include built-in top and bottom margins (per the design system), which should help guide its placement on other artboards/designs:
![Screen Shot 2021-10-05 at 1 03 16 PM](https://user-images.githubusercontent.com/85914721/136094735-43f85c8d-f5db-45cf-8534-f3631a38767a.png)

I also u

[2021-10-05 21:14] glenflorendo commented on #1892
Progress: I'm just about done! However, I would like to go over a few clarifying questions, probably with @macho-catt and @abuna1985. I can bring it up on our Thursday night meeting unless y'all want to meet earlier!

Blockers: N/A

Availability: I am available almost every afternoon and evening this week (except Wednesdays).

ETA: Hopefully, by end of the week. I just need a few things clarified.

[2021-10-05 22:56] macho-catt commented on #1892
@glenflorendo I can DM you on slack for my availability

[2021-10-06 00:38] adam-abundis opened #2339 "Update the card format for the Wins page for Desktop/Mobile"
### Overview
We need to update the Sass(CSS) for the win page cards in order to match the [Figma file (design with dark blue border)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16207%3A101187) provided by the design team

### Action Items
- [x] Ensure the cards within **desktop view** of the Wins page match `Option B`  within the [The Wins Page Figma design (with

[2021-10-06 00:42] adam-abundis commented on #2207
Created #2339 to complete dev portion of this issue.

[2021-10-06 02:04] Aveline-art commented on #2179
* Progress: Have not started.
* Availability: 5 hours
* ETA: By this weekend

[2021-10-06 02:48] glenflorendo commented on #1892
@macho-catt Thanks for clarifying with me! I'll get this done soon. 😄 ✌🏽

[2021-10-06 03:55] #2045 closed, assigned to IpshitaSingh

[2021-10-06 16:20] ExperimentsInHonesty commented on #1927
@arghmatey what is the url for the design system?

[2021-10-06 16:23] kristine-eudey commented on #1051
@ahoang94 looks great! See [final design here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15831%3A100334). Closing issue as all design objectives have been met. This is now ready for development.

[2021-10-06 16:23] #1051 closed, assigned to ahoang94

[2021-10-06 16:26] arghmatey commented on #1927
@ExperimentsInHonesty https://www.hackforla.org/design-system

[2021-10-06 16:26] #2069 closed, assigned to janieche

[2021-10-06 16:36] kristine-eudey commented on #2190
Thank you @ashleylin1! Issue complete. Mobile navigation audit can be found here: [Figma - Mobile Navigation Audit](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15122%3A95165)

[2021-10-06 19:24] ExperimentsInHonesty commented on #2336
@macho-catt this should end up in the review column automatically instead of the new issue approval column.

[2021-10-06 19:24] ExperimentsInHonesty commented on #2336
I have reviewed and approved.

[2021-10-06 19:24] #2336 closed, assigned to nobody

[2021-10-06 19:57] macho-catt commented on #2336
I can change the code / make an issue to put it under Review. Thanks

[2021-10-06 21:45] macho-catt opened #2341 "Fix spelling typo in yml file name from envirnoment to environment"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
As a developer, we need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [x] Correct a spell

[2021-10-06 21:54] macho-catt opened #2342 "Change alt text for Citizen Engagement program area"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
As a developer, we need to provide clear and descriptive alt text on the Citizen Engagement Program Area page so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we

[2021-10-07 03:51] macho-catt commented on #1891
### Agenda for October 6, 2021

- [x] Designate a note taker
- [x] @blakes24 will demo the dev/uat/prod structure
- [x] Check the linked google doc to review the alt text for certain images
    - [Google link](https://docs.google.com/spreadsheets/d/1abMlPOX88zHTV29E4BFxAYwahCxgJN28Mn95cXr8jak/edit?usp=sharing)
    - The primary goal is to create new first issues for incoming developers
    - The s

[2021-10-07 15:54] ExperimentsInHonesty commented on #2341
@macho-catt I updated the overview and the action items to conform to our standard issue format.

[2021-10-07 16:31] ExperimentsInHonesty commented on #2342
@macho-catt  I removed the original text you had on the overview and integrated the information into the Resources section and the new Overview.

[2021-10-07 19:11] kristine-eudey commented on #2106
**Meeting:** 10/7/21

**Participants:** Basu, Anh, Simone, Kristin, Kristine, Alyssa, Adam

**Things to Discuss:**
- Naming the HfLA Design System
- Review homepage mobile design
- Design System Inquiry from Guides Team (Alyssa)
   - Accessibility Issue about using strong vs bold and em vs italics [[Resource]](https://help.siteimprove.com/support/solutions/articles/80000448460-accessibility-bold-v

[2021-10-07 19:43] kristine-eudey commented on #2130
Moving issue to ice box since we are no longer incorporating technologies icons on the homepage.

[2021-10-07 20:44] abenipa3 commented on #1630
# Minutes 10/7/21

- Reviewed updated mockup. [[Figma Link]](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=50%3A1666)
   - Feedback:
     - Design Team and Guides Team agree with the changes.

# Action Items

## Design

- [x] Issue about using strong vs bold and em vs italics https://help.siteimprove.com/support/solutions/articles/80000448460-accessibility-bold-vs-str

[2021-10-07 23:11] macho-catt opened #2344 "Fix typo for Write for All under Accomplishments: from langugage to language"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [ ] Correct the spelling mistake in

[2021-10-07 23:17] macho-catt opened #2345 "Fix typo for Food Oasis under Accomplishments: from lising to listing"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [ ] Correct the spelling mistake in

[2021-10-07 23:20] macho-catt opened #2346 "Fix typo for 311 Data under Accomplishments: from comprensive to comprehensive"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [x] Correct the spelling mistake in

[2021-10-07 23:35] macho-catt opened #2347 "Fix typo for Undebate under Accomplishments: from engagment to engagement"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [x] Correct the spelling mistake in

[2021-10-07 23:37] macho-catt opened #2348 "Fix typo for Undebate under Accomplishments: from thorughout to throughout"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to keep code quality standards high on this project so that we can model best practices for new developers and team pride.

### Action Items
- [x] Correct the spelling mistake in

[2021-10-07 23:48] macho-catt opened #2349 "Update LA TDM Calculator Highlight under Accomplishments"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We need to fix inaccurate information on the website. Currently, the highlight for LA TDM Calculator is a copy of Food Oasis' highlight.

### Action Items
- [x] Update the information on

[2021-10-08 05:06] Chetana16032002 commented on #2345
I have corrected the issue can you please assign this to me and add a hacktoberfest-accepted label😅

[2021-10-08 08:11] SAUMILDHANKAR commented on #1891
### Post-meeting notes, October 7, 2021

<details>
<summary>Click for notes</summary>
<br>

- @blakes24: demo on main and uat. Possible issue: no custom url to test with (spare url can be used inclusivity.org)

- alt text issues need reference from UX team (maybe audit)

- project.md files should be source of truth, can go ahead with refactoring. Note: higher priority than regular refactoring tick

[2021-10-08 11:48] Brymmobaggins commented on #2347
kindly assign this issue to me

[2021-10-08 12:23] Basu3040 commented on #2304
Progress:  Call-out has been posted on ui-ux channel
Blockers: Waiting for people to respond

[2021-10-08 12:30] Basu3040 commented on #2015
Progress: We have started analyzing the data
Blockers: Corporate donors need to be contacted
Availability: 3-4 hours every week (both individual and collaborative)
ETA: 10/15/21

[2021-10-08 16:33] abenipa3 commented on #1630
# Minutes 10/8/21
- Updated team with Design Team's responses regarding font-weights.
  - Will discuss this with the entire team on Sunday.
- Updated team with Design Team's responses regarding Accessibility Test for Design System.
  - [x] Look into Figma Plug-In that helps test accessibility.  Reach out to UI-UX Channel.

# Action Items
- [x] Create mock-ups with different styles for Guide Author

[2021-10-08 16:45] macho-catt commented on #1980
This has been completed

[2021-10-08 16:45] #1980 closed, assigned to macho-catt

[2021-10-08 16:46] macho-catt commented on #2145
This is completed

[2021-10-08 16:46] #2145 closed, assigned to macho-catt

[2021-10-08 17:46] arghmatey commented on #2317
Progress: Almost all sections of homepage are developed and styled to be mobile responsive.
Blockers: Dependency on issue. Styling of communities of practice gradient may not be possible as is (researching and testing currently). Mobile version not completed yet, but [issue](https://github.com/hackforla/website/issues/2213) is created and being worked on.
Availability: 1 hour tomorrow morning (Sat

[2021-10-08 17:47] abenipa3 commented on #2213
Progress:

- Our team reviewed full mock-ups yesterday during Design Meeting.
- Action Items are as seen in https://github.com/hackforla/website/issues/2106#issuecomment-938078849

Blockers: N/A

Availability: 2 (Alyssa)

ETA: TBD

Notes: Downloaded free mobile app called Figma Mirror to test visuals of our full mock-up. (Can't create previews at the moment because the app keeps disconnecting on m

[2021-10-08 19:04] adam-abundis commented on #2347
@Brymmobaggins Thank you for showing interest in this issue. We don't actually "assign" issues. In order to claim issues, you can join a volunteer onboarding meeting and can be added to the Hack for LA organization/website repo. Feel free to check out our Getting Started page (https://www.hackforla.org/getting-started) and our guide to contributing (https://github.com/hackforla/website/blob/gh-pag

[2021-10-08 19:09] sacamp commented on #2334
created the survey, ready for use.
Located in the UX research drive [https://docs.google.com/forms/d/1O8I7EM1b8dP9DPCMWtsekCLVzyyn-TI77U3hYNrOHzs/edit]

[2021-10-09 00:02] blakes24 commented on #2251
Update

- we decided on a 3 "branch" structure
- there will be a main and a UAT branch in the dev repo
- there will be a manually triggered github action to merge changes into the UAT branch
- the site will be built from the UAT branch of the dev repo
- there will be a manually triggered github action that moves changes from the UAT branch to the production repo
- examples of the github actions -

[2021-10-09 18:02] macho-catt commented on #2345
@Chetana16032002 Thank you for showing interest in this issue. We don't actually "assign" issues. In order to claim issues, you can join a volunteer onboarding meeting and can be added to the Hack for LA organization/website repo. Feel free to check out our Getting Started page (https://www.hackforla.org/getting-started) and our guide to contributing (https://github.com/hackforla/website/blob/gh-p

[2021-10-09 18:10] Abel-Zambrano commented on #2125
Progress: Fixed footer on 404 page.
    Blockers: Generating the "redirecting" page.
    Availability: 5hrs
    ETA: 9/13/21

[2021-10-09 18:12] Abel-Zambrano commented on #2125
@blakes24 Hello, do you have any steps or a specific link/url that I can use to generate the "redirect" page?

[2021-10-09 18:27] macho-catt commented on #2125
@Abel-Zambrano, you can manipulate the line in the code:
[code]
Change content from 0 to 5 for example, for five seconds. Change the time to as long as you want so you can look at the page.
[Line in code](https://github.com/hackforla/website/blob/7750bd39e6546ef9ef0e82c4d04ffbea3c157329/_layouts/redirect.html#L7)

[2021-10-09 18:35] macho-catt commented on #1498
Celine informed me that she won't be able to finish the issue. Closing the attached PR and putting this back to the backlog. For the next person working on this, feel free to look at #2011

[2021-10-09 20:48] #2251 closed, assigned to blakes24

[2021-10-10 01:39] Zhu-Joseph commented on #2158
Progress: Reviewing CSS sheet and code
Blockers: None
Availability: Random hours here and there
ETA: End of week

[2021-10-10 03:50] adam-abundis commented on #2158
@Zhu-Joseph I have added an action item. My apologies for not being clear with the issue. If you need assistance creating styling for the buttons, feel free to reach out to me.

[2021-10-10 03:56] adam-abundis commented on #2078
#2263 was created and merged. No need to create a new issue.

[2021-10-10 04:58] macho-catt opened #2353 "Google Apps Script: Newly created issues should be placed under the 'Review' column"
### Overview
To streamline the review process for new wins submission, issues created from the Google Apps Script should be automatically placed under the 'Review' column of the project board.

### Action Items
- [x] Understand how GitHub API works
    - [x] This particular issue would be a POST request to the Projects API of GitHub
- [x] Request access for the google app script from one of the te

[2021-10-10 05:15] macho-catt opened #2354 "Review the alt text for program-area page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the program area page.

### Details
Developers identified that some alt texts in the program areas page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. Accord

[2021-10-10 06:01] linds-fonnes commented on #2116
Progress: Need to make requested changes to add in the see more/less functionality to JS file from HTML file
Blockers: None
Availability: 5 hours
ETA: Sunday night
Pictures: No visual changes

[2021-10-10 06:09] adam-abundis opened #2355 "Update Projects Page Header to match the new Figma design"
### Overview
We need to update the HTML content and CSS styling so that we match the [Updated Figma Design for the Projects Page Header](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15831%3A100334)

#### Before Changes
<details>
  <summary>Current - Projects Page Header - Desktop</summary>
  <h3>Current - Projects Page Header - Desktop</h3>
  <img src="https://user

[2021-10-10 06:11] adam-abundis commented on #1051
@kristine-eudey Created #2355 to complete the dev portion. Moving this to the `Done` column

[2021-10-10 07:08] adam-abundis opened #2356 "Add Giving icon to Credits Page"
### Overview
We need to add the Give image to the Credits page so that we can maintain image use compliance standards

### Action Items
- [x] In your editor, go to `_data/internal/credits` folder and create a file called `giving.yml`
- [x] Fill in the `giving.yml` file with the following code
[code]
- [x] Save the updated `giving.yml` file and verify you can see the Giving icon in the Credits page

[2021-10-10 07:10] adam-abundis commented on #2169
@kristine-eudey #2356 has been created to add an icon to the Credits page. Moving this issue to the `Done` column

[2021-10-10 08:47] adam-abundis opened #2357 "Add GitHub link to Community of Practice Card"
### Overview
We need to add the Community of Practice GitHub link to the Community of Practice card so we can provide the end-user with more information about our communities.

#### Current CoP Card

<details>
  <summary>Current site Community of Practice card (PM) - desktop view</summary>
  <h3>Current site Community of Practice card (PM) - desktop view</h3>
  <img src="https://user-images.github

[2021-10-10 08:48] adam-abundis commented on #1979
#2357 was created to complete the dev implementation of this design

[2021-10-10 09:23] Aryannath commented on #2349
Hi i have a PR for this at #2358

[2021-10-10 15:50] kristine-eudey opened #2360 "UX Designer pre-work checklist"
---
name: 'Pre-work Template - Design'
about: 'New Design team members should start with by making this issue for themselves. '
title: 'Pre-work Checklist: Designer: [replace brackets with your name]'
labels: 'role: design', 'good first issue'
assignees: ''

---

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Acti

[2021-10-10 16:18] kristine-eudey opened #2361 "Adding additional font sizes and weights to HfLA Design System - Feasibility/Desirability Assessment"
### Overview
As designers, we need to have more flexibility in terms of font sizing and weight within the HfLA Design System.

### Action Items

- [x] Review current Design System font size/weight options and guidance around usage.
- [x] Assess which are currently being used, where, and with what frequency on the site.
- [x] Determine if and where additional font size and/or weight options would b

[2021-10-10 16:26] kristine-eudey commented on #1841
@ashleylin1 can you please provide an update on this issue?

- Progress:
- Blockers:
- Availability:
- ETA:

[2021-10-10 16:40] kevngaleu commented on #2037
Progress: Projects double-checked.
Blockers: @ExperimentsInHonesty Please need clarification on what informations need to be filled in based on the new google sheet provided (Program Area Audit). Should I simply do the same work for the new projects added in that sheet (for example "Design Systems") and add them to the checking list above, and to the PowerPoint (under the appropriate program area)

[2021-10-10 16:45] adam-abundis commented on #2027
### Agenda for October 10th, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Make announcements
    - [ ] @abuna1985 would like to update the team on the current progress of our project
    - [ ] Share wins/celebrations for the week
         - [ ] Congrats to Blakely (@blakes24) for providing a demo of our dev/prod prototype at Thursday's meeting.
         - [ ] Congr

[2021-10-10 16:55] kristine-eudey commented on #2213
Version for team discussion [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16852%3A102341)

[2021-10-10 17:01] ktlevesque19 commented on #2171
Progress: Just started
Blockers: None at this time
Availability: Will work on this today and evenings this week
ETA: Will be complete by Thursday 10/14

[2021-10-10 17:02] SAUMILDHANKAR commented on #1977
Progress: Came across 2 issues which will be worked upon separately. Trying a slightly different approach now to add labels and working on the required code changes.
Blockers: None
Availability: 10 hrs
ETA: 10/18/2021

[2021-10-10 17:40] ExperimentsInHonesty commented on #2190
@ashleylin1 and @hackforla/website-design  Analyze  audit to determine findings and propose next steps

[2021-10-10 17:48] ExperimentsInHonesty commented on #1950
@abuna1985 please UAT this

[2021-10-10 19:16] blakes24 commented on #2027
### Post-meeting notes, October 10, 2021

<details>
<summary>Click for notes</summary>
<br>

- Hacktoberfest good first issues
	- gh actions don't work outside organizations
	- add prerequisite to issues - read contributing guide
	- send back comment if PR doesn't have correct format
	- update contributing guide to clarify steps for making a pull request
	- create a special Hacktoberfest message f

[2021-10-10 20:07] adrian-zaragoza commented on #2202
Progress: The template is complete. Here is the [link](https://github.com/adrian-zaragoza/website/issues/new?assignees=&labels=role%3A+product&template=demo-communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice)
Blockers: None
Pictures: "Add any pictures of the visual changes made to the site so far."
<details>

[2021-10-10 21:53] macho-catt commented on #2160
Completed, closing the issue

[2021-10-10 21:53] #2160 closed, assigned to macho-catt

[2021-10-10 21:55] macho-catt commented on #1442
@macho-catt will rewrite the Overview and Action items to conform to our current standard + explain how it should work with the existing linting action

[2021-10-10 22:11] ExperimentsInHonesty commented on #2296
100 Automations
Change Readme link
From: https://github.com/OpenSourceAutomations/OSA-Website/blob/master/README.md
To: https://github.com/100Automations/Website/blob/gh-pages/README.md

[2021-10-10 23:07] ExperimentsInHonesty commented on #2202
@adrian-zaragoza

Great work, just a few minor changes

1. sometimes the CoPs will not be changing either adding someone or removing someone.  So there needs to be an option to say NO changes to either of the fields.
2. The following text should be at the bottom of the issue and is not changeable (no need for a form field)
[code]

When you are done with these changes, please put this in the review

[2021-10-11 01:23] abenipa3 commented on #1630
# Sunday Meeting Minutes (10/10/21)
- Discussed mock-ups with different styles for Guide Authors
  - Feedback: Adjust font size for "Peer Created" and "The guide..."
    - Updated font size. [[New Mockup Link]](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=97%3A3831)
  - Question: Is there a way to copy presets (Font Type Sizes) from Hack for LA's Figma to Guides Team

[2021-10-11 03:28] ExperimentsInHonesty opened #2362 "Add text to readme to encourage stars."
### Overview
We should update the README so that we can encourage more people to star our repo so that we can get noticed.

### Action Items
- [ ] Add the following text to the bottom of the website's readme file

[code]

### Resources/Instructions
This code comes from this: https://github.com/nastyox/Repo-Roster
location of file to edit in your IDE: **gh-pages/README.md**

[2021-10-11 06:22] adam-abundis commented on #2027
# Announcements for 10/10/2021

@abuna1985 will update the Contributing.md file to provide a clear example of completing a pull request. He will also be creating a custom message for the Hacktoberfest participants about how to get their pull requests merged.

@abuna1985 Has created a poll for the design system name. The design team chose 3 names and now we will be listing our preference from 1-6 b

[2021-10-11 08:31] abenipa3 commented on #1630
# Mockup Updates - Guide Authors

Made updates to mockups from the Sunday meeting's feedback.

- The first mockup has "Peer created" and "This guide..." both with font-size: 18px
- The second mockup has "Peer created" with font-size: 18px and "This guide.." 16px

Please see the [[link]](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=97%3A3831) for the updated mockup! F

[2021-10-11 19:06] adam-abundis opened #2363 "Audit all Project Card/Page links to verify up to date information"
### Overview
We need to go through all of our project card/page links so that we ensure end-users are provided their expected result

<details>
  <summary>Click to see example of links within project card</summary>
  <h3>An example that highlighs links within project card</h3>
  <img alt="project card example" src="https://user-images.githubusercontent.com/36433204/134233503-65ff9bdd-cff7-4b10-b64

[2021-10-11 19:06] adam-abundis commented on #2363
Update project links: 100 Automations
Overview: We need the 100 Automation links on the hackforla.org website to be up to date

Reason for change: The current link resolves/redirects but it has the old GitHub org name.

**Action Items**
Change Readme link
From: https://github.com/OpenSourceAutomations/OSA-Website/blob/master/README.md
To: https://github.com/100Automations/Website/blob/gh-pages/REA

[2021-10-11 19:08] adam-abundis commented on #2363
Update project links: 311-data

**Action Items**
No changes needed

[2021-10-11 19:23] adrian-zaragoza commented on #2202
@ExperimentsInHonesty I have made the changes. Please see the updated form [here](https://github.com/adrian-zaragoza/website/issues/new?assignees=&labels=role%3A+product&template=demo-communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice)

I had a question as I was creating the form. Why are "Change CoP name:",

[2021-10-11 20:04] ExperimentsInHonesty commented on #2255
@abuna1985 Can we get a PR in for adding the design systems team to the website today?

[2021-10-11 21:27] ExperimentsInHonesty commented on #950
1. Active
2. Active Now called Devops or Ops Community of Practie
3. Active
4. Active
5. Active

[2021-10-12 01:26] jonarcisse opened #2364 "Update Project Profile: Open Community Survey"
### Overview
We need to update the Open Community Survey project so that we provide the end-user with accurate and up-to-date information.

### Action Items

- [x] **Remove** the following people from the **leadership** property:
https://github.com/hackforla/website/blob/28e0442c16482fbd21171604402e93cd94099e2a/_projects/open-community-survey.md#L22-L27
- [x] **Add** the following people from the

[2021-10-12 02:24] ebele-oputa commented on #2364
- Update current team:

*Remove Chianta Dorsey

Add the following:
Sonu
Data Analyst
[Slack](https://hackforla.slack.com/team/U027JBTAGSX)
[Github](http://github.com/sonu-k)

Snow
UX Researcher
[Slack](https://hackforla.slack.com/team/U029J3LT0TS)
[Github](http://github.com/LAStorm)

Amy Wilkins
UX Researcher
[Slack](https://hackforla.slack.com/team/U0231JD5BC2)
[Github](http://github.com/amy-c-w)

[2021-10-12 02:34] ebele-oputa commented on #2364
@jonarcisse send a slack message to the #hfla-site slack channel, asking for someone to be assigned the issue.

[2021-10-12 05:18] adam-abundis commented on #2255
@ExperimentsInHonesty @Hanastevenson Thank you so much for your patience. My apologies for the delay. I have submitted pull request #2365. I will also attach screenshots below for you to see the final changes made.

<details>
 <summary>Project Card/Page final version (<strong>desktop</strong>)</summary>
  <h3>Hack for L.A. projects design systems page - desktop version</h3>
  <img alt="Hack for L.

[2021-10-12 06:10] #1619 closed, assigned to aalieu

[2021-10-12 07:16] #2116 closed, assigned to linds-fonnes

[2021-10-12 08:17] adam-abundis commented on #2010
### Agenda for October 12th, 2021

- [x] Designate a note-taker for the meeting
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [x] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you find progressing on

[2021-10-12 18:01] kristine-eudey commented on #1797
**Meeting:** 10/12/21

**Things to Discuss:**

- Kristine to update team (for Basu, who can't make it to the meeting) on research progress.
- Review progress on [homepage mobile version](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16865%3A102493).

**Decisions made**
- More top and bottom padding will be added to sections of mobile design for homepage (diverting f

[2021-10-12 19:24] ExperimentsInHonesty commented on #2360
Design is finished with this issue.  Its ready for product to turn into a template and add milestone.

[2021-10-12 19:30] ExperimentsInHonesty commented on #2129
@janieche Hope you are ok.  Can you please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-10-12 19:34] #1842 closed, assigned to ahoang94

[2021-10-12 22:07] kristine-eudey commented on #2213
Hi @alyssabenipayo @ahoang94 and @janieche! I made some tweaks to the mobile homepage as per the feedback from Sunday's meeting, along with incorporating changes based on feedback from a meeting I had today with Bonnie and the Product team. Please take a look at the updated version [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16865%3A102493) and let's discus

[2021-10-12 22:54] adam-abundis opened #2366 "Update the CONTRIBUTING.MD file to have more visual examples/edits"
### Overview
We need to update the CONTRIBUTING.MD file to provide more visual examples and edits so that we can make the document relevant to new members of the team

### Action Items
- [x] Update the Table of Contents
- [x] Add `back to top` links at the end of each section
- [x] update welcome message for new members
- [ ] Add message for Hacktoberfest members
- [ ] Provide contributor expectat

[2021-10-12 22:56] kristine-eudey commented on #1256
Design is ready for discussion and review. [Figma - New Nav Bar](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14120%3A92883)

In order to make our entire site accessible through the top level navigation and create an effective hierarchy of information, I organized the pages into logical buckets (mirroring those in the new footer design).

The goal of this new struc

[2021-10-12 22:58] kristine-eudey commented on #916
I am self assigning this issue. ETA is Tuesday 10/26.

[2021-10-12 23:01] kristine-eudey commented on #2311
Hi @ahoang94, I thought you were assigned to this issue but just realized it was still in the backlog and you weren't assigned. Are you currently working on it? If so can you please provide an update here so we can keep track of it? Thank you!

[2021-10-12 23:11] kristine-eudey commented on #2106
### Meeting: 10/14/21

### Participants:
Simone, Basu, Anh, Kristin
### Things to Discuss:
- **Weekly Stand-Up**
   - *New process*: we will run the weekly stand-up from the In-Progress board, discussing the status of each issue that's currently assigned to someone on the team. The goal of this is to keep better track of in-progress issues, encourage the practice of providing regular updates on is

[2021-10-13 00:21] ahoang94 commented on #2311
@kristine-eudey I plan on working on this issue this week, and I hope to be done by Sunday's meeting!

[2021-10-13 01:56] macho-catt commented on #2161
closing as my recent tests on the admin drive have generated one notifications each

[2021-10-13 01:56] #2161 closed, assigned to macho-catt

[2021-10-13 02:17] macho-catt commented on #2363
**Access the Data**

Action Items
No changes needed

**BallotNav**

Action Items
No changes needed

**Update project links:  Brigade Organizer's Playbook**

Reason for change: The current link for slack resolves but leads to an archived channel

Action Items
Review the slack link and ensure that it points to the right one

**Update project links:  Civic Opportunity Project**

Reason for change: Th

[2021-10-13 02:19] adrian-zaragoza commented on #2363
Update project links: Open Community Survey

Action Items
No changes needed

[2021-10-13 02:20] adrian-zaragoza commented on #2363
Update project links: VRMS

Action Items
No changes needed

[2021-10-13 02:23] adrian-zaragoza commented on #2363
Update project links: Write for All

Action Items
Demo Link goes to http://writeforall.org/ but end up with the error below.

<details>
  <summary>Click to see error</summary>
<img src="https://user-images.githubusercontent.com/77212035/137056105-fcbdb024-07d9-4bdf-9d4f-cc8d9f30a678.png" />
</details>

[2021-10-13 02:25] SAUMILDHANKAR commented on #2363
Update project links: Expunge Assist
Overview: We need the Expunge Assist links on the hackforla.org website to be up to date

Reason for change: The current link resolves/redirects but it has a different channel link.

Action Items
Change slack link
From: https://app.slack.com/client/T04502KQX/CDWKEBYBB
To: https://app.slack.com/client/T04502KQX/CN8NXTPK5

There's an issue about updating the expu

[2021-10-13 02:26] adrian-zaragoza commented on #2363
Update project links: Youth Justice Nav

Action Items
No changes needed

[2021-10-13 02:27] adrian-zaragoza commented on #2363
Update project links: Heart

Action Items
No changes needed

[2021-10-13 02:34] adrian-zaragoza commented on #2363
Update project links: HelloGOV

Action Items
Github link points to its own hellogov github account
Slack link points to the fola slack channel

[2021-10-13 02:34] SAUMILDHANKAR commented on #2363
Update project links: Food Oasis
Overview: We need the Food Oasis links on the hackforla.org website to be up to date

Reason for change: The current link resolves/redirects but it has a different channel link.

Action Items
Change slack link
From: https://hackforla.slack.com/archives/C6JBH478W
To: Unknown

[2021-10-13 02:36] adrian-zaragoza commented on #2363
Update project links: Public Tree Map

Action Items
Github link points to its own Hello Tree Map github account

[2021-10-13 02:37] mdhailwood1 commented on #2363
Update project links: Spare
Action Items
Change Site Link
From: http://whatcanyouspare.org/
To: Unknown

Update project links: Not Today
Action Items
No changes needed

Update project links: New Schools Today
Action Items
No changes needed

Update project links: Jobs for Hope
Action Items
No changes needed

Update project links: Work for la
Potential Action Items
Github-Linked to hunterowens repo

[2021-10-13 02:39] SAUMILDHANKAR commented on #2363
Update project links: GreenEarthOS
Overview: We need the GreenEarthOS links on the hackforla.org website to be up to date

Reason for change: The current overview link redirects to page not found.

Action Items
From: https://github.com/hackforla/product-management/blob/master/project-one-sheets/GreenEarthOS
To: Unknown

There is already an issue created for this: #2162

[2021-10-13 02:42] SAUMILDHANKAR commented on #2363
Update project links: Home Unite Us
Overview: We need the Home Unite Us links on the hackforla.org website to be up to date

Links for Demo, test site and site are not working.

[2021-10-13 02:46] SAUMILDHANKAR commented on #2363
Update project links: LA TDM Calculator
Action Items
No changes needed

[2021-10-13 02:48] SAUMILDHANKAR commented on #2363
Update project links: Lucky Parking
Action Items
No changes needed

[2021-10-13 14:31] kristine-eudey commented on #2328
**Progress:** Posted this call-out in Slack channels but didn't get any engagement with it/image submissions. I will search for images and come up with 3-5 alternate images for the team to consider.

**Slack call-out:**
Hi website team! The UX team is currently searching for a photo which best represents the Civic Tech Infrastructure program area for the new homepage and we would love your input!

[2021-10-13 15:07] kristine-eudey commented on #2304
**UI-UX Progress:** Posted this call-out on the ui-ux channel:

Thank you so much! :two_hearts:

I have also reached out directly to former members of our team to ask if they would be willing to submit a win. Will re-post on the ui-ux channel again today to try to drum up more submissions.

**Blockers** People from ui-ux don't seem to be submitting many Wins so we only have the 4 currently on the

[2021-10-13 17:50] kevngaleu commented on #2212
Meeting: 10/06/2021

Participants: @ExperimentsInHonesty @KayodeAlabi @kevngaleu

Things discussed:
Review of current issues of Kayode #1968 and Kevin #2037

[2021-10-13 17:52] kevngaleu commented on #2212
Meeting: 10/13/2021

Participants:

Things to discuss:
- Google Analytics presentation by Shelton
- Review of ongoing PM issues

Things discussed:

Actions to take:

[2021-10-13 19:36] ExperimentsInHonesty commented on #2037
@kevngaleu Yes to the above question

[2021-10-13 21:02] Hanastevenson commented on #2255
@abuna1985 @ExperimentsInHonesty
Hi Adam,
Thank you for the update. One small query, on the mobile design are you able to shift the H1 down so there is less padding between the H1 and the card? I understand this may be an extra ticket as it could affect all other project cards, please proceed.

[2021-10-14 04:35] abenipa3 commented on #2213
Hi @kristine-eudey! I saw the changes to the mobile homepage - the updates look great on the Technology and CoP sections! Thank you!

[2021-10-14 15:58] macho-catt commented on #1891
### Agenda for October 14, 2021

- [x] Designate a note taker
- [x] Circle back to the JSON files idea
    - [x] For wins-data.json, create individual YML files for each wins entry
    - [x] Generated via GitHub actions
    - [x] Would this make referencing wins easier?
- [x] Collection files end in .MD while _data files end in .YML
    - [x] Why is there a distinction?
    - [x] Should we keep th

[2021-10-14 21:53] ashleylin1 commented on #1841
Progress:

There is an accessibility issue in that the text inside the green circles is too small to read on mobile.
<img src="https://user-images.githubusercontent.com/54569038/137396588-de79d880-1089-401e-959e-70fac73d5401.jpg" width=30% height=30%>

According to our Design System on typography, the smallest accessible text for mobile is 16px:
<img src="https://user-images.githubusercontent.com/

[2021-10-14 21:57] Basu3040 commented on #2304
I have reached out to ui-ux alums of hfla via LinkedIn. Will keep you updated.

[2021-10-15 03:51] blakes24 commented on #2266
Link to wiki: https://github.com/hackforla/website/wiki/Development-and-Production-Environments

[2021-10-15 09:32] abenipa3 commented on #1630
## Update

Progress:

- Reached out to UI-UX Channel to inquire about Figma Plug-In that helps testing accessibility.
  - No response, but read from Figma's article that recommended some plug-ins we can look into.
    - [[Article Link]](https://www.figma.com/blog/design-for-everyone-with-these-accessibility-focused-plugins/)
- Updated Mockups as seen in this [comment](https://github.com/hackforla/

[2021-10-15 14:06] Abel-Zambrano commented on #2125
Progress: Fixed footer on 404 page.
Blockers: currently out of town
Availability: be back 10/16
ETA: 10/16

[2021-10-15 15:05] ExperimentsInHonesty commented on #1630
@alyssabenipayo

### Figma
We liked the same size font for each set of words in the Authors section.
I also changed the wording a little bit.

I noticed on the mobile that the font size is 15, I thought that the minimum font size for accessibility was 16.  Is 15 being used across our site on mobile?

### Markdown Converter Documentation
Is is not possible to delete or fix some automatically some r

[2021-10-15 16:03] abenipa3 commented on #1630
# Things Discussed on 10/15/21

## Markdown Converter Documentation
- Could we build a GHA to minimize the errors?
- How about converting the google doc to word have it local into images?
  - See if Markdown converter that's desktop or not web-based?
  - Something in our own server?
- CSS will control the spaces between the headings/subheadings.
  - If there is anything that needs editing in the G

[2021-10-16 08:21] adam-abundis commented on #2232
## Update - 10/16/2021
1. Progress: I would like to pivot to updating the Contributing.md as a source of truth this is a more detailed and living document
2. Blockers: Unsure about adding another issue that needs to be monitored by the website-merge team. I would prefer to update the contributing.md and provide a clear path to setting up/work on issues.
3. Availability: now-Sunday evening
4. ETA:

[2021-10-16 08:40] adam-abundis commented on #2366
## Update - 10/16/2021

1. Progress: 60% completed. Updated title structure, table of contents, added/updated following sections: project board, claiming an issue, working on an issue, pull requests, contributor expectations
2. Blockers: Time
3. Availability: I Will work on this all day Saturday/Sunday afternoon & evening
4. ETA: Saturday/Sunday
5. Pictures: N/A

[2021-10-16 08:47] adam-abundis commented on #1850
## Update - 10/16/2021

1. Progress: None
2. Blockers: Working on multiple projects and this one has a lower prioritization
3. Availability: I Will work on this next Wednesday (10/20)
4. ETA: N/A
5. Pictures: N/A

[2021-10-17 08:24] ktlevesque19 commented on #2171
Just completed this. @kristine-eudey I did have a quick question on this! The reference style seemed to be drop down menus that had more of a tab header. I completed with the wider menu type, which was in the reference but also included a tab version on the side. It also felt like it might help to have a gray color bar when pressed before the menu changes over to the selection since we no longer h

[2021-10-17 15:43] kristine-eudey commented on #2190
Moving issue back to prioritized backlog, ready for a new designer to take the issue from here and proceed with the analysis.

[2021-10-17 15:44] kristine-eudey commented on #2311
@ahoang94 just checking in to see if you'd like to discuss this during the meeting today. If so just put in Questions/In Review and we can discuss!

[2021-10-17 15:47] kristine-eudey commented on #1841
Thank you @ashleylin1! I moved this to questions/in review so we can flag it to share your findings with the larger team at today's meeting.

[2021-10-17 16:10] adam-abundis commented on #2027
### Agenda for October 17th, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Make announcements
    - [x] @abuna1985 would like to present his progress with updating the contributing.md
    - [x] @abuna1985 Update on pull request review
    - [x] Share wins/celebrations for the week
         - [x] Congrats to  Lindsey (@linds-fonnes) for accepting a job offer!!!! She

[2021-10-17 16:26] sheltoG opened #2368 "Collect IP addresses from new volunteers to exclude from Google Analytics"
### Dependency
Launch homepage and revisit the practically

### Overview
We need to exclude the IP addresses of volunteers from Google Analytics to filter the traffic volunteers generate in visiting the website from normal users .

### Action Items
- [ ] Research a way to get the public ip address of a volunteer
    - [ ] Most likely this will implement some API from a third party service like Clo

[2021-10-17 16:28] ahoang94 commented on #2311
@kristine-eudey I talked to @abuna1985 about this issue at Thursday's meeting, and we came to the conclusion that the developers need to tinker with the header's formatting on the project pages before we can start work on a template. As shown in the video below, the padding of the artwork is entirely dependent on the size of the browser window, and so I believe that the developers are going to try

[2021-10-17 16:56] SAUMILDHANKAR commented on #1977
Progress: Have made progress with the new approach. Conditional part of adding the labels, adding comments and cleanup are pending. I will be working with the issues in my branch to make sure all labels are added as expected.
Blockers: Not at this moment
Availability: 10 hrs
ETA: 10/25/2021

[2021-10-17 17:29] Basu3040 commented on #2309
Done!!

[2021-10-17 17:31] kristine-eudey commented on #2328
### Civic Tech Infrastructure - New image options:
<details>
  <summary> Option 1</summary>

  ## Option 1
![jacek-dylag-nhCPOp4A2Xo-unsplash](https://user-images.githubusercontent.com/16949503/137634902-1f2f8082-ca7a-4093-8427-81b5fa3e3932.jpeg)

</details>
<details>
  <summary> Option 2</summary>

  ## Option 2
![abraham-barrera-8Nn49K7Snow-unsplash](https://user-images.githubusercontent.com/169

[2021-10-17 17:41] Basu3040 commented on #2015
Progress: Interview 4 is done and we are analyzing the data
Blockers: Only individual donors are interviewed
Availability: 2-3 hours a week
ETA: 10/31/2021

[2021-10-17 18:31] #2122 closed, assigned to nobody

[2021-10-17 19:19] ExperimentsInHonesty commented on #1927
We are marking this issue closed

The current layout of the design system pages does not conform to the design system.
- [ ] ~Finalize design system pages~ - this will need to be a new issue (which has as its dependency, the design system team making new mockups for development).

[2021-10-17 19:19] #1927 closed, assigned to arghmatey

[2021-10-17 22:23] macho-catt commented on #2146
Progress: I have an idea of what I need to remove so we can completely transfer to the new file
    Blockers: None
    Availability: 2 hrs
    ETA: Next week
    Pictures: n/a

[2021-10-17 22:24] macho-catt commented on #1892
Hi @glenflorendo, any updates on this? Thanks :)

[2021-10-17 22:25] macho-catt commented on #2179
Hi @Aveline-art, any updates on this? :) Thanks

[2021-10-17 22:27] macho-catt commented on #1958
Hi @averdin2, I will DM you on slack to find out more info on how you want to move forward on this. Thanks :)

[2021-10-17 22:28] ExperimentsInHonesty commented on #2255
@abuna1985 does not seem connected to the repo because its not showing "All Time Contributors" section
see https://www.hackforla.org/projects/design-systems

![image](https://user-images.githubusercontent.com/37763229/137647187-5f24dcea-1928-41ba-a7e4-2548807b396b.png)

[2021-10-17 22:42] Aveline-art commented on #2179
* Progress: Started the wiki page
* Blockers: Could not complete it due to a sudden personal problem. Cannot say when it will resolve.
* Availability: N/A
* ETA: N/A

[2021-10-17 22:44] ExperimentsInHonesty commented on #1619
@aalieu Thank you for the changes!

[2021-10-17 23:15] macho-catt commented on #2368
@ExperimentsInHonesty I just thought of this after the meeting ended, but if we're only getting the first three octets of the public IP (i.e. 10.100.100.xxx), then all 254 possible clients in that octet will be excluded from google analytics. That means if, for example, my public IP was 10.100.100.02 and we exclude 10.100.100.xxx, then valid users with IPs ranging from 10.100.100.03 until 10.100.1

[2021-10-17 23:33] ExperimentsInHonesty commented on #2368
@macho-catt Yeah, after we spoke I found this https://help.analyticsedge.com/article/filter-working-from-home-employees-in-google-analytics/ which gives a way to exclude users but as it points out in the article, that excludes them retroactively, so given that our developers are people who will have visited the site and converted to members, that would artificially depress our numbers.  Its really

[2021-10-17 23:39] ExperimentsInHonesty commented on #2368
Here is another article that is worth talking about https://mixedanalytics.com/blog/exclude-self-google-analytics-no-fixed-ip/

[2021-10-18 03:41] adam-abundis commented on #2027
### Post-meeting notes, October 17, 2021

<details>
<summary><strong>Click here</strong> for notes</summary>
<br>

<br>
</details>

[2021-10-18 03:48] adam-abundis commented on #2027
# Announcements for 10/17/2021

* @abuna1985 will have updated contributing.md will be merged within the next few days

* **The results are in!!!** The top 3 names for our design system name are:
  * `Fabric`
  * `Nucleus`
  * `Biblio`

Our **final** round of voting has started and will end at 10 AM PST next Sunday (October 24).

**Vote for design system name here:** https://app.usabilityhub.com/d

[2021-10-18 04:25] ExperimentsInHonesty opened #2370 "Site Audit: Alt text"
### Overview
We need to have our site meet Accessibility standards for alt text so that we can meet our mission of inclusivity.

### Action Items

- [ ] List all site pages for audit below.
- [ ] Review the article for the instructions about which type of images should not have alt text.
- [ ] Review the images on the site and designate which images get alt text and designate this on the Alt text

[2021-10-18 04:49] abenipa3 commented on #1630
Update as of 10/17/21

Created two new mock-ups, including Contribution Page under Guide Authors and a page card called Share this Guide.

Figma Link [[here]](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/Guides-Team-Figma?node-id=115%3A2079)

[2021-10-18 07:34] arghmatey commented on #2317
Progress: Updated technology section's mobile responsiveness. Created gradient for communities of practice section.
Blockers: Dependency on issue.
Availability: 2 hours on Monday 10/18.
ETA: Based on blockers.

**Next steps**: Create draft pull request. Create javascript logic for random win to be displayed on home page load and set up with the wins that have been chosen.

[2021-10-18 14:47] ExperimentsInHonesty commented on #1630
@alyssabenipayo please add the links to the text at the bottom of the figma page. See the [Slack Reminder google docs](https://docs.google.com/document/d/1YxwE3Edz7xXPVZ156wbIaPlQj7UUssIWN-ctTqbBilE/edit#bookmark=id.u9me4hpyc1kc) guide for appearance of sample text

Please also move the Share this Guide section to the bottom.

Also we changed the text above the pictures of the authors (in the slac

[2021-10-18 18:15] abenipa3 commented on #1630
# New Guide Design Updates

## MVP

<details> <summary> Desktop </summary>

![image](https://user-images.githubusercontent.com/38295612/137784633-e35596a0-8061-42ba-82ae-bac8696f0cb8.png)

</details>

<details> <summary> Mobile </summary>

![image](https://user-images.githubusercontent.com/38295612/137784645-af11f7dd-8a99-49b9-babe-9a124eb4696e.png)

</details>

## Post-MVP

<details> <summary> De

[2021-10-18 23:58] adrian-zaragoza commented on #2176
Progress: Created a pull request with changes.

[2021-10-19 17:07] kristine-eudey opened #2374 "Add missing projects on "Share your Wins" form"
### Overview
We need to add the 9 projects that are currently missing to the "Share your wins" google form so that it is up to date, reflects all projects, and allows all members of HfLA projects to submit their wins.

### Action Items
- [x] Message any of the current team leads / website-merge team to get access to the wins form located in the admin drive
- [x] Add these projects to the Google fo

[2021-10-19 18:29] kristine-eudey commented on #1841
Final version for development is here: [Donate Page (Mobile) - Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17065%3A104582) Changes from current live version are annotated with notes.

[2021-10-19 18:30] kristine-eudey commented on #1797
**Meeting:** 10/19/21

**Things to Discuss:**

- [x] Projects missing on Wins submission form - which role should this issue be for? #2374
- [x] Design seeking review/approval for updated [mobile Donate page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17065%3A104582) #1841
- [x] Please amplify the call-out for Civic Tech Infrastructure image submissions. Call-out

[2021-10-19 21:54] adam-abundis commented on #2364
@jonarcisse What is the **role** are we assigning to the following members that need to be added:
* Amy Wilkins
* JoAnne Narcisse
* Jasmine Kim

[2021-10-19 22:10] macho-catt commented on #2368
Looks like there are other options too, based on these two articles I read:

https://www.daniloaz.com/en/5-ways-to-exclude-your-own-visits-from-google-analytics/
https://www.analyticsmania.com/post/how-to-exclude-internal-traffic-in-google-analytics-4/

So IP filtering and using a third party browser extension are mentioned as well, but to add to those we can either use:

1) Cookies on each device

[2021-10-19 22:23] adam-abundis commented on #2255
@hackforla/website-merge reopening this issue to make edits and get all-time contributors added

[2021-10-19 22:27] macho-catt commented on #1891
### Post Meeting notes, October 14, 2021

<details>
<summary>Click for notes</summary>
<br>

**Wins Page JSON file**
- It might be smarter to just use unique IDs for each wins page entry. Once the unique IDs are set up, we won't even need the YML files since we can just iterate through the list and look for the specific ID we want
- If we have 50+ wins entry, that's 50+ YML files to maintain. That

[2021-10-19 22:59] #2176 closed, assigned to adrian-zaragoza

[2021-10-19 23:10] #2158 closed, assigned to Zhu-Joseph

[2021-10-20 00:00] #2349 closed, assigned to adam-abundis

[2021-10-20 00:04] adam-abundis commented on #2349
@hackforla/website-merge I have accepted @Aryannath pull request and have merged the changes. Closing this issue.

Thank you again @Aryannath for your contribution! ⭐ ⭐ ⭐

[2021-10-20 00:13] arghmatey commented on #2317
Connected with design regarding Program Areas images. The images I exported out of Figma are too small and appear grainy. Older versions of images were 360px, though show pixelated on the Program Areas page. I suggest they be imported at 900px width to insure they appear clear throughout the site.

[2021-10-20 00:23] #2346 closed, assigned to adam-abundis

[2021-10-20 00:28] adam-abundis commented on #2346
@hackforla/website-merge I have accepted @SumayyaZiyad pull request and have merged the changes. Closing this issue.

Thank you again @SumayyaZiyad  for your contribution! ⭐ ⭐ ⭐

[2021-10-20 00:47] adam-abundis commented on #2010
### Agenda for October 19th, 2021
- [ ] Openeing (30 minutes)
    - [x] Designate a note-taker for the meeting
    - [x] Don't forget to sign in to [vrms.io](https://vrms.io)
    - [x] Determine as a team our meeting format (15 minutes)
    - [ ] Determine how we are going to resolve the project update issues (15 minutes)

- [x] Announcements (5 minutes)
    - [x] Greet new members (if any)
    -

[2021-10-20 03:30] adrian-zaragoza commented on #2162
Hi @sobe-an , the screenshots of the fixes are below. I will be creating a pull request for the changes.

<details>
<summary>Bonnie's GitHub Link Update</summary>

![image](https://user-images.githubusercontent.com/77212035/138023581-0856f46e-87a7-47e8-b10d-e668f7e70141.png)

</details>

<details>
<summary>Overview Link Update</summary>

![image](https://user-images.githubusercontent.com/77212035/

[2021-10-20 03:40] rpbracker commented on #2328
### Civic Tech Infrastructure -- more image ideas:

<details>
  <summary>DTLA PM Time Lapse Option 1</summary>
![A long exposure photo of Downtown Los Angeles at night, showing part of a freeway and skyscrapers](https://user-images.githubusercontent.com/14296840/138025011-611cd8dd-cd50-4527-8514-c83a64610a18.jpg)

[Pexels](https://www.pexels.com/photo/city-road-traffic-street-6136571/)
</details>

[2021-10-20 05:54] #2162 closed, assigned to adrian-zaragoza

[2021-10-20 13:13] kevngaleu commented on #2037
1. Progress: Tasks completed. I added the new projects to the ppt slide deck and updated the checklist above. I took the initiative to complete the list of the projects into the Program area audit sheet and did a little bit of formatting to ease the remaining work (assigned corresponding milestones, the status of the project, program area...). Since I was not sure of the intention behind the sheet

[2021-10-20 14:54] ExperimentsInHonesty commented on #1630
@alyssabenipayo

- [x] MVP desktop, the icons for the users are not lining up together.
![image](https://user-images.githubusercontent.com/37763229/138115823-2d5f82bd-4ff7-4787-9d13-d9544abdc34a.png)
please make it look like the MVP mobile
![image](https://user-images.githubusercontent.com/37763229/138116038-53d1255b-97bd-4173-bbab-382cee857704.png)

- [x] The authors names and links should be fol

[2021-10-20 15:34] #2345 closed, assigned to macho-catt, Chetana16032002

[2021-10-20 18:07] jonarcisse commented on #2364
@abuna1985 apologies, I just noticed they were not included. It has been updated now with 1 additional team member added this week, Shika Zhou. Will this be assigned to someone this week?

[2021-10-20 19:08] ExperimentsInHonesty commented on #1879
This issue has been completed, you can see the final designs here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15901%3A100458

[2021-10-20 19:08] #1879 closed, assigned to kevngaleu

[2021-10-20 19:16] ExperimentsInHonesty commented on #2180
Hi!  @R-Tomas-Gonzalez  - I noticed that you did a pr which should have created the page on the site, can you tell me what the url of the page will be, so that I can see it (e.g., https://hackforla.org/citizen-engagement/)

[2021-10-20 19:18] ExperimentsInHonesty commented on #2180
@R-Tomas-Gonzalez I did not see a screenshot of the mobile view in this pr https://github.com/hackforla/website/pull/2324  did you do the break points for mobile too?

[2021-10-20 20:23] ExperimentsInHonesty commented on #2037
Changes
- added data validation to create drop downs with all the options to the following columns
   - milestone
   - Status
   - Program Area

- Added red color to highlight when the program area is missing from the project file

[2021-10-20 21:09] ExperimentsInHonesty opened #2382 "Add Program Area: HelloGov"
### Overview
We need to add program area information to the HelloGov project so that it will show up when we add the program areas filter.

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Add the following text to the file indicated in the Resources section
[code]

### Resources/Instructions
File location to make the change: _projects/hellogov.md

URL for UAT

[2021-10-20 21:27] ExperimentsInHonesty opened #2383 "Add new project to website: EMS Triage Tracker"
### Overview
We need to create a project card for the closed project called EMS Triage Tracker so that people can see the projects we have completed.

### Project Details

- Name: EMS Triage Tracker
- Name of future project.md file: ems-triage-tracker.md
- Files you will need to upload to the website repository: ems-triage-tracker.jpg and ems-triage-tracker-hero.jpg
- Where you will store the file

[2021-10-20 21:56] ExperimentsInHonesty opened #2384 "Add Program Area to Jobs for Hope Project Details"
### Overview
We need to add program area information to the Jobs for Hope project so that it will show up when we add the program areas filter.

### Action Items
- [ ] Review the project.md file model in the Resources section
- [x] Add the following text to _projects/jobs-for-hope.md
[code]

### Resources/Instructions
File location to make the change: _projects/jobs-for-hope.md

URL for UAT to che

[2021-10-20 22:38] R-Tomas-Gonzalez commented on #2180
Hi Bonnie! Yes, https://hackforla.org/citizen-engagement is the endpoint to reach this page. However, the original merge in pull request #2324 was reverted due to issues mentioned by @macho-catt. The new pull request #2375 addresses the concerns linked in the former pr. I can add a mobile view preview to pull request #2324 if you'd like, or I can leave it be. I'll also message you on slack concern

[2021-10-20 23:52] macho-catt opened #2385 "Google Apps Script: Add unique IDs as object keys for each wins entry"
### Dependency
- [x] #3722
- [x] #3641
- [x] #4134
- [x] #2147

### Overview
To expedite the process of locating a specific wins entry, each wins entry (which is also a javascript object) should have a unique ID as a key.

### Action Items
- [x] Follow sections 1-3 in the Wins Apps Script Development Process[^3].  Note that in this issue you will be modifying both Apps Scripts `wins-form-responses

[2021-10-21 00:45] ExperimentsInHonesty commented on #1708
@kristine-eudey it looks like all the related guides have images (they are checked off), what are the next steps on this?

[2021-10-21 01:43] Abel-Zambrano commented on #2125
Hey @macho-catt . I tried doing this and nothing changes. Am I supposed to see a redirect page on every link that's clicked on the site or is there something else I need to do?

[2021-10-21 02:06] DrIffathsultana opened #2386 "Update Project Profile: Civic Tech Index"
### Overview
We need to update the Civic Tech Index project so that we can provide end-users with up to date

### Action Items

- [x]  **Remove line 23-28** from `projects/civic-tech-index.md`
https://github.com/hackforla/website/blob/68ecfb601f6aa7a5b2be52d53768ba70e320b47d/_projects/civic-tech-index.md#L23-L28
- [x]  **Remove line 41-46** from `projects/civic-tech-index.md`
https://github.com/ha

[2021-10-21 06:18] adam-abundis commented on #2366
Reopening to do 1 more round of edits

[2021-10-21 06:33] adam-abundis commented on #2255
Reopening for 1 more round of edits

[2021-10-21 06:54] adam-abundis commented on #2255
@Hanastevenson Can you please add the following topic to the Design Systems repository (https://github.com/hackforla/design-systems):

* `hack-for-la`

**Note:** I have included [a link for an article from GitHub on how to add topics](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics)

This wi

[2021-10-21 07:09] adam-abundis commented on #2232
Closing this issue. Decided to add all of the information into our Contributing Document

https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md

[2021-10-21 07:44] adam-abundis commented on #2125
@Abel-Zambrano use the `donation-form` link within https://www.hackforla.org/donate/

When you click on it, it will open a new tab with the redirect page followed by the Code For America Donation page.

[2021-10-21 15:30] macho-catt commented on #2125
@Abel-Zambrano  as @abuna1985 mentioned, the redirect link only works for redirections. For a list of possible redirections, you can refer to this directory in the code: https://github.com/hackforla/website/tree/gh-pages/redirections

Now every time you go to a permalink from that directory (like the donate permalink, which is pointing to /codeforamerica) it will first lead you to the redirect pag

[2021-10-21 17:50] jenjen26 commented on #2328
### Civic Tech Infrastructure Image Ideas
[Port of LA](https://unsplash.com/photos/5WQJ_ejZ7y8)
[Judge Harry Pregerson interchange](https://unsplash.com/photos/k5w21D7PgMk) - there are lots of different images of this
[View of city ](https://unsplash.com/photos/0YWaDPylkYA)

[2021-10-21 20:24] #1841 closed, assigned to ashleylin1

[2021-10-21 20:41] kristine-eudey commented on #2171
Hi Kristin, sorry for the delay in following up on your question! I think the gray box for pressed state is great and let's go for the version circled below, rather than the one on the right which matches the reference style on the Projects page. In looking back at that menu, I think it was made larger to accommodate one menu item that was very long and necessitated the larger box. I think keeping

[2021-10-21 20:47] kristine-eudey commented on #2171
Design portion of this issue is completed and can be found here: [Figma - Toolkit Mobile](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17125%3A107543) This is now ready for a front-end issue to be created.

[2021-10-21 20:47] #2171 closed, assigned to ktlevesque19

[2021-10-21 21:02] kristine-eudey commented on #2213
@arghmatey I have a question about the feasibility of using a different version of the CoP gradient box for the mobile version:

- In effort to make the design of this section more cohesive and translate better to a side-scroll, I'm wondering if it would be possible (and if it would be a huge amount of additional work) to use this version for mobile?
- CoP names inside the colored box, rather than

[2021-10-21 21:08] kristine-eudey commented on #2106
### Meeting: 10/21/21

### Participants: Simone, Kristine, Basu, Kristin, Adam, Jackie

### Weekly Stand-Up (via [Project Board - In-Progress](https://github.com/hackforla/website/projects/7#column-7198228)) / Updates:
 - Introduction of the participants
 - Job update of Basu
 - How to transition from HfLA to new jobs smoothly (allowing team members to lead)
 - How to include PMs in our meetings?

[2021-10-22 00:43] sacamp commented on #2334
Progress: done. Found at the following: https://docs.google.com/forms/d/1O8I7EM1b8dP9DPCMWtsekCLVzyyn-TI77U3hYNrOHzs/edit?usp=sharing

[2021-10-22 00:43] #2334 closed, assigned to sacamp

[2021-10-22 07:28] glenflorendo commented on #1892
Hey @macho-catt! Sorry for the delay. I had a busy week, but things have settled down. I'm just about done. I think it would be great if we could demo this a bit. I made some changes, so it would be great to make sure this behaves as expected. 😸

[2021-10-22 07:33] abenipa3 commented on #1630
Update: Not much to update while I'm away this past week, except:

- Started making adjustments according to https://github.com/hackforla/website/issues/1630#issuecomment-947748753.
- Added [design system](https://www.figma.com/file/Jz8KoGTBIxdx9jRxBWrEsF/?node-id=1%3A6) to Guides Figma.
- Found [this article](https://dominate.design/move) that shows how to add components from HfLA Figma to Guides

[2021-10-22 14:10] Basu3040 commented on #2304
Progress: We have reached out to HfLA alumni.
Blockers: A few of the projects are missing and Kristine has created an issue for the developers.
Availability: We are dependent on the submission
ETA: TBD

[2021-10-22 14:19] Basu3040 commented on #2015
Progress: We are creating the persona for the project
Blockers: It is hard to recruit donors for the interview process
Availability: 4-6 hours individually and collaboratively
ETA: 10/30/2021
Pictures: https://docs.google.com/document/d/18vYTKszsGAVnhrQodkHp7HS3FQOQ6eClmogf_ePCD1g/edit

[2021-10-22 14:46] Basu3040 opened #2389 "Make prework issue template: UX Researcher"
### Overview

Need a pre work template so new people can know how to make a new issue and know what to do when they first arrive

### Action Items

- [x] Write a draft in comments of new template
- [ ] Ask team members for advice on what should go in template

### Resources
The same issue but for Designers https://github.com/hackforla/website/issues/2360

[2021-10-22 17:51] arghmatey commented on #2213
@kristine-eudey I should be able to implement that with little effort. I'll have some time to work on this on Sunday, and will keep you posted if I run into any problems. Thanks!

[2021-10-22 23:08] #1565 closed, assigned to chrisfoose

[2021-10-23 00:45] ahoang94 commented on #2311
As mentioned in my last comment, this issue is now dependent on some developer work, and so I will move this to the prioritized backlog and remove my assignation for the time being.

[2021-10-23 04:01] #2347 closed, assigned to edeneault

[2021-10-23 04:28] adam-abundis commented on #2125
@Abel-Zambrano I found the following issues with both the projects page & wins page

<details>
  <summary>Click here to see projects page gif</summary>
<p>Noitice when there is 1 card, the footer goes under the card and the height stays as long as the dropdown filter menu</p><strong>The footer is not at the bottom</strong>

![Projects - Hack for LA](https://user-images.githubusercontent.com/211622

[2021-10-23 04:47] adam-abundis opened #2391 "Implement new design for Toolkit Mobile Menu"
### Overview
We need to implement the Figma design provided by the design team to build our mobile menu for the Toolkit page so we can provide a better user experience

<details>
  <summary><strong>Click here</strong> to see current mobile view of the Toolkit page</summary>

![Screenshot 2021-10-22 213442](https://user-images.githubusercontent.com/21162229/138542735-15bc4ccc-8129-4088-9fbb-8b8b5de

[2021-10-23 04:48] adam-abundis commented on #2171
Created #2391 for the dev implementation of the toolkit mobile menu design

[2021-10-23 04:58] adam-abundis opened #2392 "Implement new Figma design to Donate page (mobile view)"
### Dependency
- #3661

### Overview
we need to implement the Figma design for the mobile version of the Donate Page so that we make the page more clear for the user

<details>
  <summary>Current Donation Page</summary>

  <img src="https://user-images.githubusercontent.com/21162229/150029562-4aa5fce7-deef-4053-8ba5-6506b919df4a.png" />
</details>

<details>
  <summary>Donation Page (Figma Design)

[2021-10-23 04:59] adam-abundis commented on #1841
Created #2392 for dev implementation of the donate (mobile) design.

[2021-10-23 05:01] adam-abundis commented on #1950
@ExperimentsInHonesty No other issues were found.

[2021-10-23 05:48] adam-abundis opened #2393 "Implement the new design for the footer: desktop"
### Dependency
- [x] #2958
- [x] https://github.com/hackforla/website/issues/3023
- [x] https://github.com/hackforla/website/issues/3026
- [x] https://github.com/hackforla/website/issues/2802

### Overview
We need to create a dynamic footer based on the [Figma Design of our Footer](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14814%3A95261) so that we have a more u

[2021-10-23 05:49] adam-abundis commented on #1969
Created #2393 for dev implementation of the footer

[2021-10-24 16:35] SAUMILDHANKAR commented on #1977
Progress: The labels are getting added and removed as expected in the test environment, however, a promise error is being returned for the postcomment function. Will fix this before sharing the final version with Mathew.
Blockers: Need some more time to fix posting comments
Availability: 10 hrs
ETA: 11/2/2021

[2021-10-24 16:54] kristine-eudey commented on #2213
Great, thank you @arghmatey! Final design for development can be found here: [Homepage - Mobile Design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16905%3A102823). The design portion of this issue is done so I'll close this issue. @arghmatey or @abuna1985 , if you need to make a dev issue or anything for this, feel free to take it from here. Thanks!

[2021-10-24 16:54] #2213 closed, assigned to janieche, abenipa3, ahoang94

[2021-10-24 16:56] adam-abundis commented on #2027
### Agenda for October 24th, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Make announcements
    - [x] @abuna1985 has an announcement
- [x] Share wins/celebrations for the week
    - [x] Congrats to Chris (@chrisfoose) for getting his 1st pull request (#2387 ) merged! Feel free to pick up any issue with the label `size: good second issue`. 🚀 🚀 🚀
    - [x] Congrats

[2021-10-24 17:09] kristine-eudey commented on #1256
Design portion of this issue will be finished by Tuesday, 10/26.

[2021-10-24 18:41] edeneault commented on #2027
Hello,

I don’t seem to have a meeting in my schedule today… could I be added to this schedule or alternatively how do I add myself?

Kindly,

Etienne

Sent from my iPhone

[2021-10-24 18:43] ExperimentsInHonesty commented on #2213
The Development issue is https://github.com/hackforla/website/issues/2317

[2021-10-24 19:44] adam-abundis commented on #2027
@edeneault My apologies for the confusion. I have sent a calendar invite to your Gmail address for the Sunday All Team meeting (10 AM PST - 12 PM PST) as well as the Tuesday Dev meeting (7 PM PST - 8 PM PST). You can also find meeting links in our `Website Team Meeting` card here: https://github.com/hackforla/website/projects/7#card-47984166

[2021-10-24 19:57] adam-abundis commented on #2027
# Announcements for 10/24/2021

* @abuna1985 will be stepping down from the technical lead position. His last day as tech lead will be 10/31/2021. Tuesday's Dev meeting will go over how the team will be organized. I highly recommend you come and help shape the leadership team moving forward.
* The ALL Team meeting next Sunday (October 31st) **has been canceled**. Please enjoy your Halloween weeken

[2021-10-24 21:35] ExperimentsInHonesty commented on #1900
This issue needs to be rewritten.
Create a Spreadsheet (what is the info we need to collect? e.g. Name of image, current location, page(s) it appears on, proposed location, etc.)
List every image that appears on the website
Fill out the sheet for that image
...

[2021-10-24 21:42] ExperimentsInHonesty commented on #2391
@abuna1985 something is wrong with the link to the screenshot above

[2021-10-24 21:47] ExperimentsInHonesty commented on #2362
@abuna1985 I wrote this issue, so it would be good if someone else reviewed it to see if anything else needs to be added.

[2021-10-24 21:56] adam-abundis commented on #2391
@ExperimentsInHonesty The drop-down image has been updated and is now visible.

[2021-10-24 22:27] ExperimentsInHonesty commented on #2232
UI/UX prework issue https://github.com/hackforla/website/issues/2360

[2021-10-25 02:22] macho-catt opened #2395 "GitHub Actions: Place newly opened PRs into the Project Board"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want newly created pull requests (prs) to automatically be placed on the Project Board.

### Action Items
- [x] Review the notes below to understand the GitHub actions architecture we are currently moving towards
- [x] This should be a new job under the [

[2021-10-25 03:18] adam-abundis commented on #2342
claiming this issue because @rashmeesinha has a pull request (#2379 ). But they must reformat the initial comment in the PR. Will check on Wednesday (10/27) to see if any information is updated.

[2021-10-25 04:58] adam-abundis commented on #2386
@DrIffathsultana  `Update Product manager's meeting times to Sunday 9am to 11am.`

This needs to be updated by the VRMS team

[2021-10-25 05:51] arghmatey commented on #2317
Mobile design has been completed via #2213. New action item added to implement mobile designs.

[2021-10-25 06:09] DrIffathsultana commented on #2386
Ok, Thanks for letting me know that  Meeting times will be updated by VRMS.

[2021-10-25 08:58] abenipa3 commented on #1630
# New Guide Design Updates (10/25/21)

## MVP

<details> <summary> Desktop </summary>

![image](https://user-images.githubusercontent.com/38295612/138667611-3e5dcd46-8b59-4760-ac57-607a4b6f0e95.png)

</details>

<details> <summary> Mobile </summary>

![image](https://user-images.githubusercontent.com/38295612/138667638-1d660e33-988c-4af9-b8a4-69187858e1ff.png)

</details>

## Post-MVP

<details> <

[2021-10-25 10:34] adam-abundis opened #2396 "Update Getting Started Page: icon alignment in page step cards"
### Overview
We need to update the step cards icon alignment so that the Getting Started page matches the Figma design.

<details>
  <summary><strong>Click here</strong> to see the current step card icon alignment (<strong>before changes</strong>)</summary>

![getting-started-before-changes-desktop](https://user-images.githubusercontent.com/21162229/138683533-11a5cc83-a4fd-430c-8f98-eee0ae53ebd3.p

[2021-10-25 18:34] adam-abundis opened #2397 "Update the Technologies dropdown in the Projects page to match the Figma design"
### Overview
We need to update the ~` Technology`~ `Languages / Technologies` dropdown menu on the Projects page to match the newly created Figma design so that we can provide a better user experience for our end-user.

### Details
With the addition of Languages into the now Languages / Technologies dropdown (formerly Technologies dropdown), this issue had to be modified to take into account the i

[2021-10-25 18:35] adam-abundis commented on #2069
Created #2397 to complete the dev implementation of the projects dropdown

[2021-10-26 08:26] #2255 closed, assigned to adam-abundis

[2021-10-26 08:36] adam-abundis commented on #2010
### Agenda for October 26th, 2021
- [x] **Opening (30 minutes)**
  - [x] Designate a note-taker for the meeting
  - [x] Don't forget to sign in to [vrms.io](https://vrms.io)
    - [x] Determine new  leadership structure (25 minutes)
- [x] **Announcements (5 minutes)**
    - [x] Greet new members (if any)
    - [x] Don't forget to vote for the final round of the Hack for LA design system name: http

[2021-10-26 09:53] #1893 closed, assigned to adam-abundis

[2021-10-26 09:53] #2151 closed, assigned to adam-abundis

[2021-10-26 09:53] #2366 closed, assigned to adam-abundis

[2021-10-26 16:48] macho-catt opened #2400 "GitHub Actions: Implement CodeQL"
### Overview
As a developer, we need to ensure that we write secure code and defend against vulnerabilities. To do so, we need to configure code scanning using [CodeQL](https://codeql.github.com/docs/codeql-overview/about-codeql/#:~:text=CodeQL%20is%20the%20analysis%20engine,against%20databases%20extracted%20from%20code.).

### Action Items
- [x] Research and investigate how we can use CodeQL

[2021-10-26 19:14] ExperimentsInHonesty commented on #2389
---
name: 'Pre-work Checklist'
about: 'All new Research team members should start by making this issue '
title: 'Pre-work Checklist: Researcher: [replace brackets with your name]'
labels: 'role: ux researcher', 'good first issue'
assignees: ''

---

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [

[2021-10-26 21:42] ExperimentsInHonesty opened #2401 "Identify all mispelled words on site and make issues to fix"
### Overview
Our website needs to be free of misspellings so that our reputation for quality is maintained.

### Action Items
- [x] Identify which VS Code plugin to use for future development
- [x] Make issues from the notes from design
- [x] add all notes from list below in resources, by page  - to a spreadsheet (see if design has already made one) #2597
- [x] Audit all the pages to find misspell

[2021-10-26 22:56] #2146 closed, assigned to macho-catt

[2021-10-27 02:33] #2048 closed, assigned to edeneault

[2021-10-27 03:42] macho-catt commented on #1571
hi @amnak1284, can you move this to the "in progress" column of the project board please? Thanks!

[2021-10-27 06:11] isletprogramiz commented on #2401
Can i work on this issue @ExperimentsInHonesty

[2021-10-27 13:24] kellychoe commented on #2328
Hi-Pulled bunch so that you can edit to what you're looking for.  hope this helps.https://www.figma.com/file/wj6W2Hc0su6EOUxzMTmWpr/Civic-Tech-Infrastructure-Imags?node-id=0%3A1

[2021-10-27 21:26] adam-abundis commented on #2364
Reopening this issue to update the project Repo ID to match the Open Community Survey repo

[2021-10-27 22:03] adam-abundis commented on #2364
@jonarcisse The Open Community Survey project page has been updated! Let me know if you have any other questions.

[2021-10-28 04:05] Aveline-art commented on #2179
* Progress: Have not made progress being away for the week.
* Blockers: Nothing so far.
* Availability: 4 hours
* ETA: Probably next week

[2021-10-28 05:49] #2180 closed, assigned to R-Tomas-Gonzalez

[2021-10-28 05:54] adam-abundis commented on #2342
This issue is now available again. If @rashmeesinha wants to submit another pull request for this issue, they will need to leave a comment here letting us know they are still working on it.

[2021-10-28 08:21] adam-abundis commented on #2363
All immediate issues have been resolved via other PRs. Closing this issue.

[2021-10-28 18:25] adam-abundis commented on #2289
@ExperimentsInHonesty Made comment of an updated project page in https://github.com/hackforla/guides/issues/38

Issue tasks have now been completed.

[2021-10-28 23:34] kristine-eudey commented on #2106
### Meeting: 10/28/21

### Participants: Anya, Simone, Jenna, Kristine, Jacqueline, Alyssa, Anh

### Weekly Stand-Up (via [Project Board - In-Progress](https://github.com/hackforla/website/projects/7#column-7198228)) / Updates:

- If you have not updated your issue this week, please take a minute to do so now~
- Github intro / refresher

### Design Critique / Sharing work in progress:

### Items D

[2021-10-28 23:48] kristine-eudey commented on #2328
Progress: Submissions have been gathered.
Blockers: None
Availability: 1.5 hours this week to compile all the images, and make a selection to share with the team. I will also create a composited image showing some icons from current Civic Tech projects on the screen of the iPad shown in the [current image](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16091%3A101199

[2021-10-28 23:50] ahoang94 commented on #2154
@kristine-eudey Upon browsing the [Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17291%3A106505), I found that a Copy button had been designed at some point.

- I have gone ahead and revised the button to adhere to the design system's colors and as well as the minimum text size for accessibility.
- I also created a tooltip to be displayed once the Copy b

[2021-10-29 01:03] abenipa3 commented on #1630
# Guide Pages Design System Update

The following notes will be used as a reference for our Design Team in updating our Guides Pages Design System:

- Font Size Hierarchy
  - Heading 1 - 36px
  - Heading 2 - 24px
  - Heading 3 - 20px

- Space Hierarchy
  - Between Step # and Image - 24px
  - Between Image and Next Step - 48px
  - Between Sections - 48px
  - Between Sections and Subsections - 40px

[2021-10-29 01:18] abenipa3 commented on #1630
## 10/28/2021

Progress:

- Edited CSS to match space hierarchy from design
- Added a new hero section to the guide page.
- Doing research on alternative Doc to Markdown converters.

Blockers:

- Figuring out how to extract _Guide Authors_ section from content to place it in its own page card.
- Need to edit JavaScript to have arrow follow the user as they scroll.

Availability: Open

ETA: 11/6/21

[2021-10-29 02:52] ExperimentsInHonesty opened #2407 "Experiment with embedding an iframe of the project into"
### Overview
We want to be able to test displaying the projects on the project pages on the hfla site using iframe and see how this works for us.

### Action Items
- [x] Decide where and how we would store the iframe info for project cards
- [x] create a flag or other method for the pages to know when to display the extra card and iframe per page
- [x] embed the iframe into a new extra card on the

[2021-10-29 16:22] adrian-zaragoza commented on #2128
Progress: The communities of practice demo is complete. See #2202
Blockers: None

[2021-10-29 16:24] adrian-zaragoza commented on #2202
I added an update to this on a comment above, but here it is again.
 I have made the changes. Please see the updated form [here](https://github.com/adrian-zaragoza/website/issues/new?assignees=&labels=role%3A+product&template=demo-communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice)

I had a question as I was

[2021-10-29 22:28] macho-catt commented on #1892
@glenflorendo reached out to you on slack, sorry I missed your message!

[2021-10-29 22:47] macho-catt opened #2408 "Tooltip with long text cuts off when hovering over wins icons"
### Overview
We have to fix a visual bug on the wins page to present information accurately and maintain site professionalism.

### Details
On the [wins page](https://www.hackforla.org/wins/), when hovering over one of the wins icons, the tooltip cuts off if the text is two lines long.

<details>
<summary>Click for example</summary>

![Capture](https://user-images.githubusercontent.com/48004150/13

[2021-10-29 23:29] sacamp commented on #2015
Progress: Persona created, final research presentation being prepared
Blockers: none
Availability: 4-6 hours individually and collaboratively
ETA: 11/07/2021
Pictures: https://docs.google.com/document/d/18vYTKszsGAVnhrQodkHp7HS3FQOQ6eClmogf_ePCD1g/edit

[2021-10-29 23:39] macho-catt opened #2409 "GitHub Actions: Modify: Add Update Label to Issues Weekly"
~### Dependency~
~#1977~

### Overview
We need to ONLY notify developers that we need an update if necessary to move things forward, so that the requests for updates don't start getting ignored and the issue become hard to read.

### Details
Currently, the GitHub action will ask a developer for an update on an issue even if they have an open PR. Modify the JS of [this](https://github.com/hackforla

[2021-10-30 06:15] adam-abundis commented on #1850
@macho-catt I am assigning this issue to you for now. Please make an announcement during our Tuesday meeting that we need someone to take over this epic task and help manage the implementation of the design system.

Thank you.

[2021-10-30 06:32] ghost commented on #1571
Progress: Currently I cloned the repository and was able to set up the project locally and get the site to run. The only thing left to do is change the alt text and then create the pull request
Blockers: Currently there are no blockers
Availability: I will have around 3 hours
ETA:  this issue should be done by tomorrow
Pictures: no images of changes so far

[2021-10-30 13:50] edeneault commented on #2091
Progress: In progress.
Blockers: No blockers.
Availability: Will have availability to complete this week.
ETA: "Monday Nov 1st is the target.

[2021-10-30 18:43] Abel-Zambrano commented on #2125
Progress: Complete
Blockers: Waiting for merge approval
Availability: n/a
ETA: n/a

[2021-10-30 20:41] danielhalper opened #2410 "About us page"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-10-31 00:27] macho-catt commented on #1891
Closing, because Thursdays are now office hours

[2021-10-31 00:27] #1891 closed, assigned to macho-catt

[2021-10-31 02:21] arghmatey commented on #2317
Progress: Getting through mobile design.
Blockers: Week became busy with interviews. Not all wins are chosen, but im going to move forward with the ones we have. Figured launch can happen with those chosen or fillers can be picked then replaced.
Availability: A few hours on Sunday, then a large chunk of time on Monday.
ETA: Wednesday 10/3

[2021-10-31 16:48] adam-abundis commented on #2363
Reopening so @macho-catt can make remaining issues for all remaining links that need o be updated

[2021-10-31 18:13] adam-abundis commented on #2027
# Announcements for 10/31/2021

* The ALL Team meeting today (October 31st) **has been canceled**. Happy Halloween! 🎃 🎃 🎃

* Here are the results for the Hack for LA Website Design System name:

<details>
  <summary>Click here to see the detailed final vote</summary>

  ![Screenshot 2021-10-31 103045](https://user-images.githubusercontent.com/21162229/139595164-9d926a53-f80d-4b9c-a09b-ef6dd3d0ae74

[2021-10-31 19:46] adrian-zaragoza commented on #2357
Status: PR for this issue has been created. PR #2412

[2021-10-31 21:57] macho-catt commented on #2410
@danielhalper it looks like you opened a new issue but did not change the content of the post. If this was a mistake, please edit your issue. Otherwise I will close it. Thanks

[2021-10-31 22:34] ExperimentsInHonesty commented on #2154
@ahoang94 @kristine-eudey question for ya'll - seems like the button for copying should be red instead of black to match other buttons on our site.  No?  Also, do we have an amount of time that we want the copied tool tip to be there?  Or does it go away when you move away from it with your cursor.

![image](https://user-images.githubusercontent.com/37763229/139603358-ccc56549-55ed-47e5-8294-7ca57

[2021-10-31 22:36] ExperimentsInHonesty commented on #2289
@abuna1985 Please remove the N/A from partners

[2021-10-31 23:05] ExperimentsInHonesty commented on #2364
@abuna1985 can you move joanne to 2nd.

[2021-10-31 23:08] ExperimentsInHonesty commented on #2386
@abuna1985 Please

- [x] remove Olivia
- [x] reorder the people to have in x position
   - 2 - Levi
   - 3 - Kevin
   - 4 - Iffath
- [x] rename bonnie's role to Agile Coach and Stakeholder Rep

[2021-11-01 02:58] ExperimentsInHonesty commented on #1797
11/2/21
Items for our agenda https://github.com/hackforla/website/projects/7#card-71939341

[2021-11-01 03:22] ExperimentsInHonesty commented on #2130
@kristine-eudey where did the logo images end up getting stored?  In figma someonewhere, google drive?  Can you add the links into this issue?

[2021-11-01 03:25] ExperimentsInHonesty commented on #1995
Duplicate issue

[2021-11-01 03:25] #1995 closed, assigned to nobody

[2021-11-01 03:32] ExperimentsInHonesty commented on #798
We will not be focusing on external event milestones for this project, because this project has no funding.  We will save the organizations dated milestones for community or government projects.

[2021-11-01 03:32] #798 closed, assigned to nobody

[2021-11-01 03:45] ExperimentsInHonesty commented on #186
- Create demographic survey for donors https://github.com/hackforla/website/issues/2334
- Homepage Research - Donors / Partners / Advisors https://github.com/hackforla/website/issues/2015
- UX Research for the Impact page content https://github.com/hackforla/website/issues/1696
- Provide City/Donor Contact Info for Homepage Redesign UX Research Interviews https://github.com/hackforla/website/issue

[2021-11-01 05:06] ExperimentsInHonesty commented on #2401
@isletprogramiz I don't see that you have joined the hackforla website team.  Have you been to our onboarding?  Or how did you find us?  We welcome new contributors, I want to make sure you have access to our tools.

[2021-11-01 05:09] ExperimentsInHonesty commented on #1329
@blakes24 we got the design done, so now the issue will go into the prioritized backlog.

[2021-11-01 05:11] ExperimentsInHonesty commented on #1329
- @blakes24 opps.  Adam already made an issue for implementing.  its #2391  I will close this one.  Just letting you know since you had been assigned. The new issue is in the backlog.

[2021-11-01 05:11] #1329 closed, assigned to nobody

[2021-11-01 05:19] ExperimentsInHonesty commented on #2360
@kristine-eudey Please test the template and see if you have any changes https://github.com/hackforla/website/issues/new?assignees=&labels=good+first+issue%2C+role%3A+design&template=pre-work-template---design.md&title=Pre-work+Checklist%3A+Designer%3A+%5Breplace+brackets+with+your+name%5D

[2021-11-01 06:34] ExperimentsInHonesty commented on #2383
![emstriagetrack](https://user-images.githubusercontent.com/37763229/139644230-b47c572b-b51d-455c-b628-3fdcf1722587.png)

alt text: EMS Triage Tracker Logo

[2021-11-01 08:21] ExperimentsInHonesty commented on #2383
Hero
![ems-triage-tracker-hero](https://user-images.githubusercontent.com/37763229/139642581-bc3a81d6-5569-430c-b280-6dc6e3f3bb76.png)

[2021-11-01 08:41] ExperimentsInHonesty commented on #2396
@abuna1985 reminder to divide this into two issues

[2021-11-01 15:37] #2410 closed

[2021-11-01 16:17] #1987 closed, assigned to macho-catt

[2021-11-01 16:40] edeneault commented on #1743
Question/clarification: Are these new typography classes meant to only affect the sizes of the "toolkit" page?  or should they be set-up to be applied "site wide"?

[2021-11-01 16:42] #2289 closed, assigned to macho-catt

[2021-11-01 17:29] #2364 closed, assigned to macho-catt

[2021-11-01 18:01] #2386 closed, assigned to macho-catt

[2021-11-01 18:18] adam-abundis opened #2417 "Update Getting Started Page: header text"
### Overview
We need to update the styling for our header text so that it makes the page more readable.
<details>
  <summary><strong>Click here</strong> to see the current header text (<strong>before changes</strong>)</summary>

  ![getting-started-header-text-before-desktop](https://user-images.githubusercontent.com/21162229/138681123-acafc401-e88f-476a-937d-5f6428ae6111.jpg)
</details>
<details>

[2021-11-01 19:25] kristine-eudey commented on #1256
New top-nav design is completed, approved, and can be found here: [Figma - Top Nav Redesign](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17368%3A107075)

[2021-11-01 19:43] adam-abundis commented on #2232
@ExperimentsInHonesty Engineering pre-work issue template has been created.

@macho-catt I would present the pre-work issue template to the team on Tuesday for feedback. I would also have someone present it to Bonnie on Sunday.

[2021-11-01 19:43] kristine-eudey commented on #2130
@ExperimentsInHonesty the logo icons are stored on our google drive. The link is in the resources section of the issue, and also here: [Google Drive - Technology icon .svg files](https://drive.google.com/drive/folders/1Vq4_CAM0vbJWQLsszne2PeQu5y3r3MeO?usp=sharing)

[2021-11-01 20:15] ExperimentsInHonesty opened #2419 "Update Project Profile: Design Systems"
### Overview
As a product manager of Design Systems I want my project's details to be up to date on the HackforLA website

### Project card
URL where existing file can be found
https://github.com/hackforla/website/blob/gh-pages/_projects/design-systems.md

### Action Items
- [x] Add the following team members to the Leadership section of the project card
Name: Hana Stevenson
Role: Product Manager

[2021-11-01 20:30] kristine-eudey commented on #2154
Hi @ExperimentsInHonesty and @ahoang94  I took a look at the context of the Design System pages in which this copy button will live, and based on what I saw there, along with reviewing the design system guidance I think the above button styling (light with dark hover state) is the best option. Some of my thinking behind this:

- The pages these will be used on will provide guidance on buttons, amo

[2021-11-01 20:36] kristine-eudey commented on #2360
@ExperimentsInHonesty Looks great! Only one change please:

Please change the last bullet point to say:
- Meet with team lead to introduce you to the project, introduce you to the GitHub board, and receive your first assignment.

[2021-11-01 22:23] kristine-eudey opened #2421 "tsdgsadgdfg"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less
sdfs
### Action Items

### Resources/Instructions

[2021-11-01 22:29] #2421 closed

[2021-11-01 22:29] elizabethhonest opened #2422 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-11-01 22:43] kristine-eudey commented on #1797
### Meeting: 11/2/21

### Things to Discuss:

**From Bonnie:**
- the Current Pages tab on the [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A0) needs to be updated
   - Kristine question: (Working on issue for this now and need clarification) Is "Current Pages" section intended to show the versions of pages that are currently live on the site, or the m

[2021-11-02 07:37] isayakmondal commented on #2422
Hey, this link is asking for access. Could you please allow it?

[2021-11-02 07:53] Zhu-Joseph commented on #2392
Progress: Going through Figma and SCSS
Blockers: None so far
Availability: Random hours here and there
ETA: End of the week

[2021-11-02 15:40] macho-catt commented on #2422
@isayakmondal this link is only for PMs / leads of the website team. I don't see you in our organization. Did you wish to contribute to the team?

[2021-11-02 15:41] macho-catt commented on #2353
This is completed

[2021-11-02 15:41] #2353 closed, assigned to macho-catt

[2021-11-02 16:03] isayakmondal commented on #2422
Well, I'm a newbie in this field and I'm just learning to contribute to open source and looking for `good first issues`. So if there's something that is under my caliber then I'd love to contribute. @macho-catt

[2021-11-02 16:52] macho-catt commented on #2010
### Agenda for November 2, 2021

#### Meeting Start
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Assign note taker

#### Stand-up update (5-10 minutes)
- [x] Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What current blockers stop

[2021-11-02 17:16] macho-catt commented on #2362
@chrisfoose can you put this to "in progress" under the project board please? Thanks