[2020-09-24 20:37] drubgrubby commented on #403
I have not made a pull request on this because the mobile version doesn't look quite right yet.  I'm not sure if I should include that in the same pull request, or merge this and make the mobile version a separate issue/PR.

Option A: Do the fixes to the mobile and include it in the same PR
Option B: Do a PR for the current work and make a separate issue/PR for the mobile site.

[2020-09-24 21:01] drubgrubby opened #748 "hack-nights page name-change related cleanup"
### Overview
We have changed ../website/hack-nights-page.html to ../website/hack-nights.html.

We now have both:
../_sass/components/hack-nights-page.scss
and
../_sass/components/_hack-nights.scss

It appears that some of the tags from hack-nights.scss are used on pages other than hack-nights pages.

We also have both:
../website/hack-nights.html
and
../website/_includes/hack-nights.html

### Acti

[2020-09-24 21:30] cnk commented on #403
Either is fine. If you don't have a lot of time, perhaps pushing this now. Even without mobile fixes it is certainly better than the current version.

[2020-09-24 22:15] alexandrastubbs commented on #614
We are moving the Join Us information to a new page. I will make an issue for this.

[2020-09-24 22:28] alexandrastubbs commented on #162
@jbubar can you provide an update on the issue and any changes to the mobile? Please share screenshots!

[2020-09-26 18:47] rblaz001 commented on #386
Updated the README and merged Develop branch to master. I'll be driving to Austin starting Monday 9/28 and should be in my new apartment Thursday 10/1.

[2020-09-27 15:32] KianBadie commented on #555
From new pr #750 :

The reason why this is in a new pr is because I accidentally shared my changes with Ruben on the wrong branch, resulting in the changes being unable to merge cleanly into the toolkit branch that the old pr #728. My apologies. I added Ruben as a co-author, so credit will still be given to him for this page.

Visually, I think the desktop halfscreen and Pixel 2XL landscape can be

[2020-09-27 15:33] #555 closed, assigned to ruben1s

[2020-09-27 15:50] KianBadie commented on #615
My apologies, I wanted to get the script done this weekend, but I had a busier weekend than usual and was not able to complete it. It is almost there though, to the point where I am confident I can get it done on Monday

1. Progress - The script is almost done with incorporating the contributors tool.
2. Blocks - None
3. Availability - Monday afternoon
4. ETA - Will have a pr with the new script M

[2020-09-27 17:17] ExperimentsInHonesty commented on #614
I have signed off on design and this page can go to development

[2020-09-27 17:26] ExperimentsInHonesty commented on #748
change the page name to events.html

[2020-09-27 17:27] ExperimentsInHonesty commented on #403
#748 also related

[2020-09-27 17:44] ExperimentsInHonesty commented on #162
@jbubar Please work on the More link next

[2020-09-27 17:47] ExperimentsInHonesty commented on #162
@jbubar let's have a conversation about adding in a column for approval.

[2020-09-27 17:49] ExperimentsInHonesty commented on #700
@Excursionpreneur Please provide an update
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-09-27 18:05] ExperimentsInHonesty opened #751 "Toolkit page refinement"
### Overview
The toolkit page needs some refinement to match our quality standards

### Action Items
- [x] make Getting the Most Out of GitHub Issues a coming soon (hotfix)
- [x] make images and tiles smaller
- [x] make sure images go to the top of tiles
- [x] mobile improvements
   - [x] landscape mobile version needs to be fixed
   - [x] text running over the edge

### Resources/Instructions
htt

[2020-09-27 18:59] ExperimentsInHonesty opened #752 "Create a Join Us page"
### Overview
We have multiple ways to bring volunteers into hack for LA besides projects, we need a page that provides a pathway for all types of contributions

### Action Items
- [x] Product
   - [x] Add general content to page to be augmented as needed
- [x] UI
   - [x] Mock up an about page that is of the same illustrative design quality as the rest of the site.
- [ ] Development
   - [x]  Crea

[2020-09-27 19:19] ExperimentsInHonesty commented on #695
I am closing this issue.  I will open a new one for the changes to project card.  I have also opened a ticket at VRMS for the meeting time addition.

[2020-09-27 19:19] #695 closed, assigned to nobody

[2020-09-27 19:23] yuikomajima commented on #752
Here's a pass at the Join us page using the icon you suggested. If we can consolidate the partner with us forms into 1 (by adding a question - are you gov't, non-profit etc.) then it could be cleaner without having 3 CTAs. https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3058%3A21055

[2020-09-28 03:12] ExperimentsInHonesty commented on #752
The three forms are slightly different.  But I'm will to take a look again at the questions and see if we can't revise things

[2020-09-28 16:07] alexandrastubbs opened #754 "Update Government Form"
### Overview
We need to update the government survey under 'Getting in touch with us' to better reflect the CTA on the page driving to it.

### Action Items
- [x] Re-structure the survey per the instructions below
- [x] Test survey to make sure it is working correctly

### Resources
[Government Master Survey](https://docs.google.com/forms/d/1kNV7f_BmaTXyqDh7nzuFXt7BMs0pzVOd8TD26dDFbTw/edit)

### I

[2020-09-29 01:07] KianBadie commented on #746
@MasSamH Added @thadk to the card that links to @thadk's GitHub and the BOP CFA Slack link. Going to merge [this](https://github.com/hackforla/website/pull/755) pull request once I get a confirmation.

![Screenshot from 2020-09-28 18-01-20](https://user-images.githubusercontent.com/18221058/94500631-b2c61880-01b4-11eb-8e64-386f9687cb78.png)

[2020-09-29 17:22] MasSamH commented on #746
Hi Bonnie, are you okay to grant permission to Kian for the pull request to
get the card live?

Thanks Sam

On Tue, 29 Sep 2020 at 02:07, Kian Badie <notifications@github.com> wrote:

[2020-09-29 22:23] cnk opened #756 "Add conditional so our GitHub actions only run on the main fork"
If we allow GitHub actions to run on all forks, then when developers go to sync their fork with the hackforla/website repo, there are often conflicting commits that really don't matter (two identical copies of vrms_data.json with different commit SHAs). The README tells everyone to disable GitHub actions on their fork - which works but requires an extra, manual step.

Change our current 3 GitHub a

[2020-09-29 22:42] KianBadie commented on #746
@MasSamH I actually have the ability to merge, and was looking for a confirmation from yourself! Thank you very much, I will now merge this.

[2020-09-29 22:43] #746 closed, assigned to KianBadie

[2020-09-30 03:34] drubgrubby commented on #748
This is complete and a Pull has been Requested.

This main part of this was renaming hack-nights.html to events.html.

In addition, there was some cleanup to related files:

Add underscores to .scss files for consistancy
Remove undescore from _main.scss
(cnk suggested the above two changes to keep naming convention consistent)
Change hack-nights-page.scss to _events.scss
Delete ../website/_include

[2020-09-30 14:49] alexandrastubbs commented on #754
All done. New survey can be found here: https://docs.google.com/forms/d/1kNV7f_BmaTXyqDh7nzuFXt7BMs0pzVOd8TD26dDFbTw/edit

@ExperimentsInHonesty feel free to review if you'd like

[2020-09-30 19:08] alexandrastubbs commented on #743
I have now identified the issue, but working through how to resolve.

For any question that allows the user to 'check all that apply', those responses are being incorrectly dropped into the spreadsheet. More specifically Column D collects ALL responses and separates with a comma (,). In Column E and F, the answers are dropped to the bottom of column (below all the other responses) and stacked on t

[2020-10-01 00:44] KianBadie commented on #615
I have made a pull request #757 to update the GitHub Data Script. Awaiting review from @cnk and @ruben1s

**Edit**: I have pushed commits to PR #757 since I have commented this. See the PR for updates/summary of changes.

[2020-10-01 03:45] cnk opened #759 "Misc. CSS fixes"
### Dependency
#577 - has been closed/completed

- [ ] Move .meetings-message css class to an appropriate shared file and remove duplicates
- [ ] active::after is used in 2FA guide page and getting-started-page.html/scss - move somewhere and remove dups

- [  ] Fix another issue with active:after. Because active::after is defined in getting-started-page.scss for desktop views, it applies to events

[2020-10-01 03:54] #748 closed, assigned to drubgrubby

[2020-10-01 05:05] ExperimentsInHonesty commented on #748
Page still has issues on mobile I am reopening ![image](https://user-images.githubusercontent.com/37763229/94770247-20736f80-0382-11eb-9fee-efab62b1c9bf.png)

[2020-10-01 12:02] drubgrubby commented on #748
@ExperimentsInHonesty - I was going to do the work on the mobile site on issue #403, where all of the other work on the hack-nights/events page was done; this issue was intended to simply be a cleanup issue, then we added the name change at the last meeting (which also probably should have been added to the other issue). I'm happy to do the mobile work attached to this issue instead, but then we c

[2020-10-01 14:32] ExperimentsInHonesty commented on #748
Sounds good

[2020-10-01 21:46] alexandrastubbs commented on #162
We need to have a column with the title display added to the spreadsheet and if the column does not have the value 'true' in it, then we do not display. @jbubar @efrenmarin45

[2020-10-01 21:48] alexandrastubbs commented on #700
@Excursionpreneur Please provide an update
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-10-01 22:02] alexandrastubbs commented on #752
@yuikomajima looks great! Could you play with the circles in the donation section so that they 1) take up a bit more space 2) illustrate the quantity we spend toward each thing (i.e. monthly = most spend, annual = middle spend, occasional = least spent)? Also maybe we change their color (green for money?) and the formatting of the section so that it is more consistent with the other modules.

[2020-10-02 00:39] jbubar commented on #162
@alex, @ExperimentsInHonesty  I can that out, I can add a column with a value of true or false. Thanks for clarifying alex.
I am working on the more link this week. I will share my progress tomorrow

[2020-10-02 00:46] jbubar commented on #162
@alexandrastubbs @ExperimentsInHonesty do you want to give the winner (person who fills out the form) the choice to display it or not?
or is it more for us to monitor it?

[2020-10-03 02:26] yuikomajima commented on #752
made the above changes. To make the format more consistent, it might be better to have the expense breakdown in text to not have 3 images in one module. https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3058%3A21055

[2020-10-03 17:50] jbubar commented on #162
Progress: I added a column on the google sheet that allows for approval to display cards on the wins page.
![Screen Shot 2020-10-03 at 10 24 01 AM](https://user-images.githubusercontent.com/53061723/94998303-c8955e00-0565-11eb-8421-259333da5d3d.png)
I also added the logic to exclude pages that do not have "display" in column N.

Blocks: I had some conflicts with git, so I need to work that out bef

[2020-10-04 15:12] KianBadie commented on #751
1 week late, but adding this here for documentation purposes:

Pr #753 made the "Getting the Most Out of GitHub Issues" guide a coming soon guide. However, a weird bug was happening that required some other changes. Here is my note from the PR:

An important note: for the hotfix, I changed the image of the "Building a Survey Reporting Dashboard" because the image was causing some really weird bugs

[2020-10-04 16:11] KianBadie commented on #751
Screenshots for changes below. I have made updates to the page that include:
- Restructuring HTML and CSS so that guide cards and resource cards use same classes (except for one used for the resource svg icons)
- Making images go to top of tiles
- Mobile view on landscape now shows cards as 2 column grid

Something in-between last week and this week made the text in the cards no longer overflow. I

[2020-10-04 19:38] yuikomajima commented on #752
please see here for mobile view. Please review and update copy! https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3058%3A21055

[2020-10-05 01:39] alexandrastubbs opened #765 "Address Onboarding Improvements Suggestions"
### Overview
We need to address the suggestions for how to improve onboarding that are collected in the onboarding survey.

### Action Items
- [ ] Review the suggestions and bucket based off of theme
- [ ] Identify next steps for resolving suggestions
- [ ] Identify method to share updates or lack of updates to those who suggested

### Resources/Instructions
[Survey suggestions](https://www.hackfo

[2020-10-05 01:41] alexandrastubbs commented on #162
@jbubar not sure if you discussed in the meeting today, but this is more for us to monitor. By filling out the form, it is sort of assumed that they are opting in to being featured on the page.

[2020-10-05 18:58] ExperimentsInHonesty commented on #595
@yuikomajima I updated the site map with all the guides that were not listed and a current menu and future menu.  I also added utilized a version of the horizontal split card on the live pages that are changing and the idea that you had to put the status of the cards on the card to distinguish them from the other stages where the site is not live.
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/

[2020-10-06 01:20] KianBadie commented on #751
From discussion with @ExperimentsInHonesty , I am going to try to experiment with reducing the card size to be smaller by reducing the font/size of the images. Will be using the project cards for reference, as they are determined to be already readable.
![Screenshot from 2020-10-05 18-19-00](https://user-images.githubusercontent.com/18221058/95148070-507e9200-0737-11eb-87fb-5fcd21d54002.png)

[2020-10-07 02:19] sena-ji commented on #738
https://github.com/sena-ji/website/commit/ff046e3b8e643ee710a995e4d149377a49dd255c

I finished the commit and Cynthia accepted the change @ExperimentsInHonesty.
I can't find the pull request, so I hope this is sufficient enough!

[2020-10-07 02:19] #738 closed, assigned to sena-ji

[2020-10-07 03:16] KianBadie commented on #751
@ExperimentsInHonesty
I have put the template for the "coming soon" guide cards below. On the live site, the 3 guides that have the same description/short-description are "Create a Kanban Project Board from Our Template", "Getting the Most Out of GitHub Issues", and "Using Kanban Project Boards for Team Effectiveness (#209)". I could not find the issues for the other 2 guides. These might be them

[2020-10-07 16:15] #754 closed, assigned to alexandrastubbs

[2020-10-07 16:16] #743 closed, assigned to alexandrastubbs

[2020-10-07 20:37] alexandrastubbs opened #767 "Google Analytics Phase 2"
### Dependency
Need to update site with new page launches before creating new funnels. More specifically, need to complete the issues below before we should dive further into GA.
- [x] Wins Page, #162
- [x] About Us Page, #614
- [x] Update site navigation, #793
- [x] Create Sitemap, #595

### Overview
Now that we have the basic GA tracking in place, we need to create goals and funnels that reflect

[2020-10-07 23:29] alexandrastubbs commented on #745
So far, the following labels have been created:

1. Feature - Analytics
2. Feature - Project Pages
3. Feature - Toolkit
4. Feature - Guides (maybe should delete if this is redundant to Toolkit)

I am using [this work](https://docs.google.com/spreadsheets/d/12L6YE47DliyZyEwaOGCINfnQd-9dRW_Pwd941dIWufQ/edit#gid=0) that I did previously to guide future label creation.

I also realize that I should ch

[2020-10-08 03:27] KianBadie commented on #751
Posting this hear to get some feedback even though it is still a WIP. @ExperimentsInHonesty, what do you think about the max size for the resource cards being this big? (screenshot below)

This is only the desktop view. I have not really implemented this on smaller screens. Right now, if you start to minimize the page the list goes into a 2 column grid and the cards get even bigger. But if you lik

[2020-10-08 14:56] ExperimentsInHonesty commented on #745
Let's review before you start labeling all the issues

[2020-10-08 21:21] alexandrastubbs commented on #751
@KianBadie yes, let's try this

[2020-10-08 21:51] alexandrastubbs commented on #752
@yuikomajima all good, we updated copy and moved some things around. This is ready for development.

[2020-10-08 21:52] alexandrastubbs commented on #595
@ExperimentsInHonesty updated the menu (this should not change any of the page titles on the pages themselves, only the way they appear on the menu)

[2020-10-08 22:29] alexandrastubbs commented on #595
We have done a first draft of the site map page (https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3164%3A18) which is where this will live.

Can you replace the header image and the images/icons for each section as needed? @yuikomajima

[2020-10-08 22:31] alexandrastubbs commented on #739
@sena-ji any updates on this?

[2020-10-08 22:35] sena-ji commented on #739
@alexandrastubbs Sorry I haven't gotten any time to work on this issue since I got assigned to it. I will get it done by Friday.

[2020-10-08 22:39] #403 closed, assigned to cnk, drubgrubby

[2020-10-08 22:41] alexandrastubbs commented on #731
This has been completed. #769

[2020-10-08 22:41] #731 closed, assigned to nobody

[2020-10-08 22:43] #691 closed, assigned to nobody

[2020-10-08 22:43] alexandrastubbs commented on #691
We are going to be changing the whole footer, so this is not necessary.

[2020-10-08 22:45] alexandrastubbs commented on #744
Fix the other two surveys, government is complete.

[2020-10-08 22:48] alexandrastubbs commented on #162
@jbubar please provide progress?

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-10-08 22:54] #730 closed, assigned to nobody

[2020-10-09 02:20] #739 closed, assigned to sena-ji

[2020-10-09 19:01] ruben1s commented on #705
Here are the files:
[contributorsTXT.txt](https://github.com/hackforla/website/files/5357001/contributorsTXT.txt)

[2020-10-09 19:01] ruben1s commented on #705
Unfortunately, I cant upload the csv file because github doesnt support it.

[2020-10-09 19:19] alexandrastubbs commented on #744
[Transportation Survey](https://docs.google.com/forms/d/e/1FAIpQLSeb5zITlv_OewbT_k0UMNw6kail8-vKIyjM3E9qPMLYR6qiYw/viewform) - OK as is
[Government Survey](https://docs.google.com/forms/d/e/1FAIpQLSfxe8Os2nAd8TJ__qPDgWoxuzZ_SAQ0kQGGDlnlNvGRqL5ppA/viewform?fbzx=-8173372901423551535) - fixed
[Non-profit Survey](https://docs.google.com/forms/d/e/1FAIpQLSfZWLHCQ_dCSiGC9b6ykZIRrnrw_2XZJ8HyOV6mFDbepGxGx

[2020-10-09 19:19] #744 closed, assigned to ExperimentsInHonesty, alexandrastubbs

[2020-10-09 23:03] KianBadie commented on #615
#757 was merged a couple days ago!

[2020-10-09 23:16] KianBadie commented on #751
Merged an update for toolkit that did these things:
- Restructured scss by screen width to make it easier to edit the page.
- Restructured classes used by components to make it easier to edit page (resource cards and guide cards use the same classes for the most part).
- Reorder headers to descending order for accessibility
- Update styling rules to add decrease size of cards and improve display o

[2020-10-10 00:11] KianBadie commented on #751
**All screenshots for mobile on this comment are taken on my actual phone, so it might not be able to be replicated using chrome dev tools**

I did not have much time to fiddle around with [this](https://github.com/hackforla/website/issues/751#issuecomment-703269760) bug. But from my brief fiddling I found some really interesting things. Unfortunately, I was not able to solve it.

So I deleted som

[2020-10-11 05:57] efrenmarin45 commented on #162
**Progress:** Met with Kian a while back to discuss how I would go about fleshing out the Github avatar url.
**Blocks:** I have been away taking care of my Dad and have limited time to work on this.
**Availability:** Friday - Sunday
**ETA:** Ongoing

[2020-10-11 16:58] daniellen00 commented on #577
Progress: Finished 'CSS dump' for all components, continuing to work on recommendations for first phase of standardizing main site components (buttons, page card, etc). Will attend Developers meeting this Tuesday to finalize.

Blocks: Limited time this past week

[2020-10-11 17:19] rblaz001 commented on #386
**Progress**
Starting work on GitHub Actions for Jekyll Gather Data Types.

Still don't have much feedback on what a user expects for GitHub Action related features but will start by having issue generation based off of verify by template. Need to figure out a system that will track issues generated by Jekyll Gather Data Types to prevent redundant issue generation.

Blockers: Starting work and 10/

[2020-10-11 17:30] ExperimentsInHonesty commented on #705
Excellent job

[2020-10-11 17:31] #705 closed, assigned to ruben1s

[2020-10-11 17:44] KianBadie commented on #751
@ExperimentsInHonesty structure for a guide card. Short-description and description has the chances of being the same. It is used in the case when description is too long for a guide card and a shorter summarized description works better.
[code]

[2020-10-11 19:21] yuikomajima commented on #595
Updated - https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/?node-id=3164%3A18

[2020-10-11 19:33] yuikomajima commented on #678
Created desktop version for this. If it looks alright we would need the copy and also all of the 5 groups of practice so we can get imagery for all. https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25943

[2020-10-12 07:32] ExperimentsInHonesty commented on #751
@KianBadie here is the file detail for all the coming soon guides
[code]

[2020-10-12 08:48] ExperimentsInHonesty commented on #678
@yuikomajima

I updated the figma page to have the names of the groups.  Here is all the other details

Communities of Practice started at Hack for LA in 2020, post covid.  These communities have been a vital connection point in our fully remote organization, that has enabled us to connect people across projects in ways that are both meaningful for the individuals and have helped the organization

[2020-10-14 01:54] drubgrubby commented on #616
Please see comments on PR #779
https://github.com/hackforla/website/pull/779#issue-503008456
https://github.com/hackforla/website/pull/779#issuecomment-708094318

[2020-10-14 20:52] daniellex0 opened #780 "Standardize Toolkit Page Header CSS"
### Overview
The Toolkit page's header is currently inconsistent with other similar page headers. Adjust CSS (padding and text) to conform with rest of HfLA site.

### Action Items
- [ ] Follow instructions outlined in [this Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3214%3A34) to standardize Toolkit page header
     - [ ] Adjust text size, font weigh

[2020-10-15 02:59] drubgrubby commented on #614
@alexandrastubbs @ExperimentsInHonesty - The header text for the about us page and the getting started page is almost identical, yet not quite identical.  Is that intentional?  Do we want them to be more different? More the same?

I got the text for this off of the figma.  (I'm just getting started, so please don't judge anything else yet ;-)

<img width="1440" alt="Screen Shot 2020-10-14 at 7 54

[2020-10-15 18:58] daniellex0 commented on #614
@drubgrubby Hi David, sorry I know this isn't directed at me but I got an alert about this comment- the header title seems to be the same (48px bold) but do you mean the left-aligned header paragraph and text size? Or the layout with the image to the right? If you mean those, yes this page's header layout is meant to look slightly different from the Getting Started page one so it should be fine, b

[2020-10-15 19:07] drubgrubby commented on #614
@daniellex0 - Thanks for responding.   I'm actually talking about the content of the text that's under the title. The About us page is, "We bring together civic-minded volunteers to build digital products...", and the Getting Started page says, "Hack for LA brings together civic-minded volunteers who build digital products...".  It seems strange to me that the text on these two pages is so close,

[2020-10-15 21:15] alexandrastubbs commented on #615
@KianBadie is there anything left outstanding for this issue?

[2020-10-15 21:18] alexandrastubbs commented on #162
@jbubar please provide an update!

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-10-15 21:20] alexandrastubbs commented on #209
Update: Most content is represented in the google doc. The next step is to start to format with powerpoint so all images are represented accurately and layout is clear for when this is passed off to design.

[2020-10-15 21:23] alexandrastubbs commented on #745
Status: Will flesh this out into a formal proposal for next week

[2020-10-15 21:24] alexandrastubbs commented on #751
Any updates on this @KianBadie ?

[2020-10-15 21:26] alexandrastubbs commented on #759
@daniellen00 any update on this?

[2020-10-15 21:27] alexandrastubbs commented on #733
@ruben1s can you share an update? is this all complete?

[2020-10-15 21:28] alexandrastubbs commented on #700
@sena-ji any progress on this?

[2020-10-15 21:33] alexandrastubbs commented on #614
@drubgrubby the text is intentional! There will ultimately be a rewrite of the getting started page later so we can make them consistent then. Thanks for flagging!

[2020-10-15 21:34] KianBadie commented on #733
@alexandrastubbs I believe pr #781 fixes this. If it does, I will review today and if it looks good I will merge it.

**Edit**: @alexandrastubbs my apologies, I was not able to get to reviewing @ruben1s's pr today, but I will have more time tomorrow.

[2020-10-15 21:53] alexandrastubbs commented on #751
Getting the Most Out of GitHub Issues: Each of Hack for LA’s GitHub project repositories (repos) use issues to track and organize ideas, enhancements, and tasks. All team members will use GitHub issues to communicate in our multifunctional teams.

Create a Kanban Project Board from Our Template: We have created simple templates that work for all types of projects, from initiatives to software deve

[2020-10-15 23:07] ruben1s commented on #733
I have a PR for this issue @alexandrastubbs

[2020-10-16 00:47] #616 closed, assigned to drubgrubby

[2020-10-16 01:12] sena-ji commented on #700
Discussed the issue with Danielle! Will get it fixed soon.

[2020-10-16 21:42] KianBadie commented on #615
@alexandrastubbs sorry for the lack of updates. Me and @ExperimentsInHonesty met on Monday to discuss the action item "article to publish on Medium regarding the topic". From that conversation, we created a general idea/outline of how we want the article to be. So I have to create my part of that draft. Which is writing a medium-level overview of the research/explanation that went into achieving t

[2020-10-16 22:37] KianBadie commented on #751
@ExperimentsInHonesty @alexandrastubbs
The only concerns I have left regarding the issue are 3 things:
1. iPhone 5 on landscape has a large "Zoom" logo
2. iPad Pro screen widths attempts to left justify cards because it is just slightly large than the screen width used where the cards become a more centered 2 column list. I am using a predefined width created on the site, [`$bp-below-desktop`](htt

[2020-10-17 00:59] KianBadie commented on #780
**From PR** #788:

I'll be specific in what I did to match/respond to the specificity of the directions.
- Made title of page exact same as getting started by removing toolkit page specific class (now it just takes styling rules from h1 tag just like getting started page).
- Made font size, max width, padding, and margin of header paragraph the same exact values as the getting started header parag

[2020-10-17 23:56] daniellex0 commented on #780
Sorry, just saw this! @KianBadie this all sounds great, I think these edits are good to go! And agreed about rem measurments.

There is a chance the header paragraph will look pretty big with the same font size as the Getting Started page one because there is a lot more text, but we can get to that when these styles are fully standardized. If it does look absurdly big though, feel free to make it

[2020-10-18 13:40] drubgrubby commented on #614
Progress:
Getting up and running on this.  The header is done and I have a "lorem ipsum" page up with all of the sections.  I'm working on the sticky navigation and making each section open and close for mobile, and hope to have at least that done this week.  After that I will begin to populate the sections with the appropriate information, cursing as I go, no doubt.

Blockers:
Other than the thin

[2020-10-18 15:33] KianBadie commented on #615
1. Progress - I created a first draft of an outline based on the meeting me and @ExperimentsInHonesty in had this past Monday.
2. Blocks - None
3. Availability - Thursday and Friday afternoon.
4. ETA - Attempting to have a draft based on the outline I created by next week.

[2020-10-18 15:55] KianBadie commented on #780
@daniellex0 No worries! And sweet!

For sure, I'll wait for the meeting today to see if we'll just keep it as is or if I should add that quick fix. I also realized that I didn't make the computed px distance between the header paragraph and the page title/page image 70px as requested. However, again, it is the same as the getting started page. Also, a difference between the getting started page is

[2020-10-18 16:27] rblaz001 commented on #386
No progress to report. Worked on wins page and previous status and availability still stands.

[2020-10-18 17:05] daniellex0 commented on #577
Update: I didn't have enough time to work on this because of an unexpectedly slammed week, but will work on it this week and attend Dev meeting to discuss recommendations.

[2020-10-18 17:10] KianBadie commented on #615
Will be joining next Tuesday's (10/18) ops meeting to ask for review. If ops team is not able to provide review, I will follow with @ExperimentsInHonesty to see alternative options for review.

[2020-10-18 17:25] alexandrastubbs commented on #162
Google form: https://docs.google.com/forms/d/1ZhyJ98nrscV3c09RT_E_sJXrHkKcUt6_a1qoChH5pQ4/edit

Need to limit wins to a single win in order to make sure the styling is consistent and to limit clutter on card. @ExperimentsInHonesty can you confirm you are aligned? This would be for the what do you want to celebrate question in google form.

[2020-10-18 17:34] alexandrastubbs commented on #733
This has been completed per https://github.com/hackforla/website/pull/781

[2020-10-18 17:34] #733 closed, assigned to ruben1s

[2020-10-18 17:35] KianBadie commented on #751
Discussed with @alexandrastubbs that issues 1 and 2 in the [above comment](https://github.com/hackforla/website/issues/751#issuecomment-710683178) are ok and we can move on from those. Issue number 3 is something to work on, however. I can work on this tomorrow 10/19 and I am confident I can have a pr open tomorrow that will close this issue!

[2020-10-18 17:43] alexandrastubbs commented on #780
@ExperimentsInHonesty let us know if visual review is OK here - https://github.com/hackforla/website/pull/788

[2020-10-18 17:44] KianBadie commented on #780
@ExperimentsInHonesty I added some more small updates to try to make this more identical to the getting started page. So things are a bit different from the early screenshots I put. I have not done a thorough comparison on mobile, but I did add a gif below trying to show how the page looks at different widths (I did not show the difference in the "Guides (We Made These!)/External Resources" header

[2020-10-18 18:07] ExperimentsInHonesty commented on #780
@KianBadie Yes, please merge the improvements along the way!  The top looks much better.

[2020-10-18 18:16] ExperimentsInHonesty commented on #780
@yuikomajima this is perfect!  I am moving this to development.

[2020-10-18 18:16] ExperimentsInHonesty commented on #595
@yuikomajima This is perfect! I am moving this to development.

[2020-10-19 23:31] sena-ji commented on #700
@alexandrastubbs @ExperimentsInHonesty I got the background for the press section to be white. But I am having difficulty adding a white background to the others beyond the press section.

![image](https://user-images.githubusercontent.com/42919318/96522448-3f01b380-1228-11eb-889e-d77ac266e6f0.png)

I believe the boxes are placed on top of the default background (beige-ish color). So I will go ahe

[2020-10-20 00:04] KianBadie commented on #780
@ExperimentsInHonesty will do! I'm going to add one suggestion @drubgrubby mentioned in the review and then I will merge it very soon today!

**Edit**: Merged!

[2020-10-20 00:18] #780 closed, assigned to KianBadie

[2020-10-20 01:47] alexandrastubbs commented on #745
Proposal for labels:

Feature - Analytics (_complete_)
Feature - Project Pages (_complete_)
Feature - Toolkit (_complete_)
Feature - Organizational Page --- would like this to cover other pages like home page, about us, join us, etc. If this gets to be too much, we can divide it up.

After doing some sifting through the issues, I don't think we need to create any other new labels. We would be cate

[2020-10-20 03:24] KianBadie commented on #751
@alexandrastubbs sorry for not following through with my promised delivery time; I will not have a pr to fix this tonight. I did work on it, and I do have a fix of sorts. There were some last things I was double checking and I ended up not wrapping all of it up tonight. I will try to have a pr for this tomorrow though, as the last things I have to wrap up are quick/short.

[2020-10-21 02:16] alexandrastubbs commented on #162
@jbubar has limited time so we are handing off remaining work to @ruben1s . @jbubar will provide an update on what he has completed and what is left to do.

[2020-10-21 03:28] sena-ji commented on #700
@alexandrastubbs @ExperimentsInHonesty @KianBadie
Found the root of the issue with the dev team. In the _guide-pages.scss file, there is a style rule at the top:
body {
  background-color: $color-pink;
}
There is a page that relies on this rule -> On the toolkit page below the picture where it says "Development Design Project Management Professional Development", 2FA for the bottom half of the pag

[2020-10-21 08:00] jbubar commented on #162
@ruben1s  for the MVP we need to create the '_see more_' functionality, and add github avatar photos.

### see more:
Different for mobile(expands downwards) and desktop(modal popup) as you can see in the [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1284%3A102).
Raudel was able to build out the modal functionality for desktop view, here is [his branch](https

[2020-10-21 23:53] #751 closed, assigned to KianBadie

[2020-10-22 00:55] KianBadie commented on #615
Mid week update:
- I have started a draft based on an outline all in [this](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit) Google Doc in the `Hackforla.org Website` drive. From our meeting last Monday, me and @ExperimentsInHonesty plan on writing the content for the article in that doc.
- I did plan on joining the "ops" meeting last night to ask for code revi

[2020-10-22 14:39] alexandrastubbs commented on #615
@KianBadie no worries, totally understand, although I wouldn't feel bad attending the ops meeting and asking for help. If it is anything like the product meeting, the structure is pretty fluid and it is all about individuals coming with topics for discussion.

An alternate option would be to reach out to someone directly. @ExperimentsInHonesty any ideas on someone who might be willing to donate so

[2020-10-22 21:08] alexandrastubbs commented on #615
@ExperimentsInHonesty is reaching out to people individually to identify someone willing to mentor on this topic.

[2020-10-22 21:17] alexandrastubbs commented on #700
@sena-ji looks like @KianBadie said there is additional work to be done on the PR, #790. Please provide an update when this is resolved!

[2020-10-22 21:19] #725 closed, assigned to ruben1s

[2020-10-22 21:21] alexandrastubbs commented on #689
@rblaz001 hey, do you have a copy that lists all of the different fields that should exist that would be useful to updating the template in the wiki?

https://github.com/hackforla/website/wiki/Template-of-a-project.md-file

[2020-10-22 21:22] alexandrastubbs commented on #678
@yuikomajima any updates on this?

[2020-10-22 21:29] KianBadie commented on #615
Thank you for understanding @alexandrastubbs and thank you for reaching out to people @ExperimentsInHonesty. I will be tuned in to this issue to be ready for any updates as I continue to work on the article :+1:

[2020-10-22 21:58] alexandrastubbs commented on #595
@yuikomajima we attempted to add the donate button to the site map as it looks on site (a button), but in doing so we realized that we don't know where the site map that is reflected on the site map page is coming from. It is not the same one that you see [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3148%3A74). It would be best if we could have the most up t

[2020-10-22 22:08] yuikomajima commented on #595
Hmm I think I actually never updated the sitemap and left to what was created before. I just updated it to [the sitemap](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3374%3A20867) dated 10/22/2020bordered in red.

[Figma file to sitemap page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3374%3A21124)

[2020-10-22 22:15] alexandrastubbs commented on #184
We would like to add a section on the homepage that highlights our impact, something to the degree of 'See Our Impact". This would ideally link to 1) Completed projects and 2) Impact Areas (not created yet).

Dependency: https://github.com/hackforla/website/issues/795

[2020-10-22 22:16] alexandrastubbs commented on #116
Thank you for your contribution with the list above, @S-Vairon. All of these things have made it into our site iteration, some already live and some yet to come. We are closing this issue now.

[2020-10-22 22:16] #116 closed, assigned to nobody

[2020-10-22 22:20] alexandrastubbs commented on #268
Add
[code]

to shared housing card.

[2020-10-22 22:30] #293 closed, assigned to nobody

[2020-10-22 22:31] alexandrastubbs commented on #493
Duplicate of https://github.com/hackforla/website/issues/614. Closing.

[2020-10-22 22:31] #493 closed, assigned to nobody

[2020-10-22 22:32] alexandrastubbs commented on #273
We have decided not to do this in favor of adding this as a section on the Join Us page about ways to contribute.

[2020-10-22 22:32] #273 closed, assigned to nobody

[2020-10-22 23:14] rblaz001 commented on #689
Sure, I'm not home at the moment but I'll try to get you the information later tonight.

[2020-10-23 02:14] yuikomajima commented on #678
updated with above changes. I just put in some images from unsplash but please lmk if there are any specific ones we'd like to use.  https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25943

[2020-10-23 15:31] alexandrastubbs opened #793 "Update HfLA Site Navigation"
### Overview

We need to update the top navigation on the Hack for LA site so that it reflects our newest priorities and links to the new pages we have created.

### Action Items

Development
- [x] Rearrange the site navigation as instructed below
- [x] Confirm all links are working & push live

### Resources

Current navigation: 1) Toolkit 2) Projects 3) Press 4) Connect
New navigation: 1) Events

[2020-10-23 17:51] alexandrastubbs opened #794 "Getting the Most out of Github Issues Guide"
### Dependency
New Issue for figuring out how we can use markdown and then this issue will be restructured. #1085

### Overview

The 'Getting the most out of Github Issues' guide is complete, but not live due to a problem with how it is showing up visually. We need to fix the visuals so that we can get it live in our toolkit.

### Action Items
Development
- [x] Discuss with Danielle how the CSS sh

[2020-10-23 17:52] alexandrastubbs commented on #794
Hannah Livnat was the developer for the Survey Reporting Dashboard page btw, in case you'd like to understand what she did to make that page work.

[2020-10-23 18:22] alexandrastubbs opened #795 "Create project groups based on Impact Area"
### Overview

We would like to create 'Impact Areas' that help illustrate what civic initiatives our projects are benefitting.

### Action Items

Product
- [ ] Create the buckets/impact areas
- [ ] Identify placement opportunities to highlight these impact areas across site

### Resources
[SDGs to reference](https://sdg.lamayor.org/#:~:text=Los%20Angeles%20SDG%20data%20reporting%20platform&text=Th

[2020-10-23 18:46] alexandrastubbs opened #796 "Complete Credits Page"
### Overview

We need to add the remaining images to the credits page, as it is currently about half way complete.

### Action Items
- [x] Edit each of the existing md files to add title-link and related URL
   - [x] Commit
- [x] Make md files for each of the other images we are using across the site and put them in this issue
   - [x] Create them in branch and commit

### Resources

[Figma File t

[2020-10-23 18:49] alexandrastubbs opened #797 "Add credits to the footer"
### Overview

We need to link to the credits page from the footer so that visitors to our site can see where we are sourcing our imagery & iconography from.

### Dependancy
Privacy Policy

### Action Items

Design
- [ ] Re-design footer so that it includes credits link
- [ ] Get approval on new design

Development
- [ ] Update the footer to reflect new design

### Resources
[Credits page](https://

[2020-10-23 18:51] alexandrastubbs commented on #797
@yuikomajima we would love if you could take a pass at the new footer design if you have a chance. Let us know if you have any questions.

[2020-10-23 18:58] alexandrastubbs opened #798 "Create & tag for Summit Milestone and Brigade Congress Milestone"
### Overview

In an effort to get ahead of future big events, we need to create milestones and their corresponding roadmaps that will get us to completion.

### Action Items

Product
- [ ] Create milestones
- [ ] Tag appropriate, existing issues to milestones
- [ ] Create new, necessary issues to tag to milestones

### Resources
[Milestones](https://github.com/hackforla/website/milestones)
*Add in

[2020-10-23 19:51] alexandrastubbs opened #799 "Update Wiki with Team Meeting Information"
### Overview

Add new language to the readme that informs about what the Hack for LA Website team does and when it meets.

### Action Items

- [ ] Add new language under the 'Website' portion of readme
- [x] Link to the Team Meetings card on the project board

### Resources
[Hack for LA Team Wiki](https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-website-team)
[Read me where new

[2020-10-23 19:55] alexandrastubbs commented on #799
Proposed language to build from:

This site is responsible for helping all members get involved and finding their place within the Hack for LA community. The Hack for LA website helps to communicate the volunteer journey and each project's mission and goals. We'd love to have you on the team. Please review the team meeting times and make sure that they work for your schedule.

[2020-10-24 05:21] aahvocado commented on #689
Not completely certain of the task but I just did a quick comparison between the template and the current `100-automations.md` file. The only thing that the template has over the file is the `tools` field.

The `partner` field also has a `#` symbol in front of it, making it a header in the markdown but I don't know if that's an issue.

Let me know if there are other requirements for this issue, @a

[2020-10-24 11:49] rblaz001 commented on #689
The All Data Types sheet has all the datatypes currently used for the project cards. @alexandrastubbs

https://docs.google.com/spreadsheets/d/1i-lFTd5ysOpYHeXFPgyTfg4b4rhy3XfVQ3VmEua5au0/edit#gid=2000472151

Reminder that the entries that are comma delimited are nested entries. For example leadership,links,github corresponds to
[code]

Sorry for the delay

[2020-10-24 17:46] KianBadie commented on #615
1. Progress - I think I have finished a draft of the article that I am comfortable with. Here is another link to the [google doc](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit%EF%BF%BC) (you have to scroll down a little bit to get to the article content).
2. Blocks - None
3. Availability - Thursday and Friday afternoon 10/29 and 10/30
4. ETA - Will determine

[2020-10-24 20:16] ExperimentsInHonesty commented on #311
@cnk Closing this issue.  Ultimately we decided that rewarding the most contributions over time so people could see themselves rising in the rankings was more valuable than initial encouragement to the final outome.

[2020-10-24 20:16] #311 closed, assigned to nobody

[2020-10-24 23:50] ExperimentsInHonesty opened #800 "Update 100 Automations Project card"
### Overview

We need to update the 100 Automations project to reflect its current logo and so that its brand identity can be consistent across all platforms.

### Action Items
- [x] change 600x400 image out with the image listed under resources
- [x] change alt text to read: 100 Automations logo depicted as a 1 and two intermeshed gears surrounded by a open left bracket,  forward slash and closin

[2020-10-25 14:18] drubgrubby commented on #614
**Progress**
The JavaScript for the sticky side nav-bar is (mostly) done.  I hit some roadblocks along the way and ended up re-doing the content part of the page in grid, rather than flexbox, so it took longer than I hoped.

Next up: Doing the mobile coding so the content appears and disappears as per the figma.  After that I'll fill in the content for the various section.

**Blockers**
Still work

[2020-10-25 16:29] ruben1s commented on #162
Update:
   Haven't made any significant progress on the mobile layout. I need to get with devs and @jbubar to go over his logic/code.

[2020-10-25 16:47] daniellex0 commented on #577
Progress: Currently getting into the weeds with naming conventions, but hopefully [survey](https://app.usabilityhub.com/do/7d339e2d2c8c/6585) and further discussion will provide direction. Will attend dev meeting again this week and try to lock down recommendations.

Blocks: limited time this past week, and fear of making wrong decisions for the future of the site!

[2020-10-25 17:06] ExperimentsInHonesty commented on #615
@ExperimentsInHonesty needs to review the google doc and @channel for peer review

[2020-10-25 17:07] daniellex0 commented on #759
Sorry about the delayed response- still figuring this out now that I have joined the development environment.

[2020-10-25 17:09] ExperimentsInHonesty commented on #162
@efrenmarin45 @rblaz001 - heard you all are going to bring this across the finishline.  Please provide an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-10-25 17:16] ExperimentsInHonesty commented on #689
@aahvocado please see Raudel's comment above https://github.com/hackforla/website/issues/689#issuecomment-715903712

[2020-10-25 18:21] yuikomajima commented on #797
Mockups: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/?node-id=3417%3A3

[2020-10-25 18:22] yuikomajima commented on #678
Updated photo and button size: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25943

[2020-10-25 19:57] ExperimentsInHonesty commented on #678
@yuikomajima looks good.  I'll send this to development

[2020-10-25 20:03] ExperimentsInHonesty commented on #797
@yuikomajima is there a reason why we are getting rid of
![Screen Shot 2020-10-25 at 1 01 45 PM](https://user-images.githubusercontent.com/37763229/97117643-47436e00-16c2-11eb-8f4c-0f4305de7298.png)

Also, we probably need to have a privacy policy on the site.  So what about moving the credits the bottom left.  Something like this:
Privacy Policy | Credits

[2020-10-25 20:08] ExperimentsInHonesty commented on #595
@yuikomajima ok thanks!  This looks perfect.  I am sending this off to development.

[2020-10-27 20:44] sena-ji commented on #700
@alexandrastubbs Sorry this issue is taking a while. I went through all of the pages to identify the ones that need fixing. I am almost done with the exception of one page that I need help with. Will ask the developers for their opinion at the developers meeting!

[2020-10-28 22:10] KianBadie commented on #615
1. Progress - Added new images based on our meeting from last Sunday 10/25. Also changed one of the images of code into an actual code block, and modified some of the wording. Will be awaiting further feedback!
2. Blocks - None
3. Availability - Thursday/Friday afternoon
4. ETA - Will determine once next steps are determined

[2020-10-29 01:53] ExperimentsInHonesty commented on #693
@gregpawin If I might suggest a little rewrite, since the city hasn't asked us for our help in this area yet.

Visualization of parking data to assist in understanding of the effects of parking policies on a neighborhood by neighborhood basis in the City of Los Angeles.

[2020-10-29 02:26] ExperimentsInHonesty opened #801 "Update Record Clearance project"
### Overview
Update the record clearance project card to keep up with the current status of project

### Action Items
- [x] Change the wording on the project card for record clearance to:

[code]
- [x] Add link to overview

### Resources
[Overview](https://docs.google.com/document/d/1JFZGKxeEBWVak_GATgIt0Knyr9_gJ15CBirynebb4tg/preview)

[2020-10-29 03:21] gregpawin commented on #693
Made suggested change. Ready to go.

[2020-10-29 21:54] alexandrastubbs commented on #209
Guide is complete [here](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit).

@ExperimentsInHonesty please review once you have a chance.

[2020-10-29 22:02] alexandrastubbs commented on #745
All labels have been created and tagged to open issues. Going to close this issue now.

[2020-10-29 22:02] #745 closed, assigned to alexandrastubbs

[2020-11-01 01:55] KianBadie commented on #615
I'm going to try review the new section I added to the article tomorrow morning and add/changing anything that is necessary. Just in case i don't get to that, however, here is my update:
1. Progress - Added a section to the [draft](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit) retelling our experience/solution to the abuse rate limit errors we were experienc

[2020-11-01 17:47] drubgrubby commented on #614
**Progress**
The JavaScript programming for nav, accordion, and misc other things is done.

I have begun adding content to the various sections...well, more accurately, I've added content to one section.  The beatings will continue until morale improves. (I'll keep adding content until all of the content has been added).

**Blockers**
Overwhelming pre-election anxiety.

**ETA**
Hopefully I'll have

[2020-11-01 18:06] #699 closed, assigned to nobody

[2020-11-01 18:08] daniellex0 commented on #577
Progress: Created classname rules for buttons with feedback from dev team- will wait to hear feedback at website team meeting before creating Github issue to make changes.

Blocks: limited time

[2020-11-01 19:24] daniellex0 commented on #577
Next steps: Add Button section to Style Guide file in Figma with all standards/class names. Then create Github issue to enact changes across the site.

[2020-11-01 19:32] ExperimentsInHonesty commented on #797
design accepted

[2020-11-01 19:41] ExperimentsInHonesty opened #802 "Privacy Policy"
### Overview

We need a privacy policy to comply with current legal guidelines

### Action Items
Product
- [ ] write a privacy policy in markdown
- [ ] Move #797 from icebox to prioritized backlog

Development
- [ ] Deploy page

### Resources
https://311-data.org/privacy

[2020-11-01 19:56] ExperimentsInHonesty commented on #632
@alexandrastubbs  christina will take this on she needs to be added to the project

[2020-11-02 20:09] combinatorist opened #803 "Onboarding video doesn't work"
This link gives a "down for maintenance" heroku page: https://github.com/hackforla/website/blob/gh-pages/getting-started.html#L53 (maybe undebate is down ... ?)

[2020-11-03 00:28] ExperimentsInHonesty commented on #803
@combinatorist yep, it broke.  we plan to replace it, but have not done so.  Thanks for the reminder.

[2020-11-03 15:19] combinatorist commented on #803
Cool - FWIW, I was interested in the video itself in case you have it
somewhere else I could access it or just email it or something ... :)

On Mon, Nov 2, 2020 at 6:28 PM Bonnie Wolfe <notifications@github.com>
wrote:

[2020-11-03 19:41] jbubar commented on #162
Changed the data type of the card data for readability and to make it easier to change, including Raudel's additions
![Screen Shot 2020-11-03 at 11 38 50 AM](https://user-images.githubusercontent.com/53061723/98032791-6086a180-1dc9-11eb-803b-b37b60218b41.png)
![Screen Shot 2020-11-03 at 11 39 25 AM](https://user-images.githubusercontent.com/53061723/98032800-63819200-1dc9-11eb-8f06-ffabaa4454be.pn

[2020-11-07 02:20] ExperimentsInHonesty opened #804 "Update ballotnav project"
### Overview
We need to update the ballotnav project card to reflect the current status of the project

### Action items
- [ ] update looking for to say: See comment below
- [ ] update project card to say: See comment below

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/_projects/ballot-nav.md

[2020-11-07 02:25] ExperimentsInHonesty commented on #680
already addressed on #800

[2020-11-07 02:25] #680 closed, assigned to nobody

[2020-11-07 02:38] kcoronel commented on #804
**Project Card Edits:**
This project came to exist during the 2020 presidential election. In the midst of voters having to decide voting at the polls which carried the possibility of covid-19 infection, while at the same time, the USPS unreliability. Although the presidential election has passed, we believe voters will continue to utilize mail-in-ballots for future elections due to accessibility a

[2020-11-07 21:59] ExperimentsInHonesty commented on #802
I added the privacy policy from LATDM but its not finished yet

[2020-11-07 22:01] ExperimentsInHonesty commented on #797
Here is an example of shopify's footer https://www.shopify.com/
![Screen Shot 2020-11-07 at 2 01 38 PM](https://user-images.githubusercontent.com/37763229/98452180-c80e5b00-2101-11eb-8fed-81fff026a5f9.png)

[2020-11-08 15:22] kmlhsn opened #806 "content under "Guides (We Made These!)" in Toolkit should be in the middle."
### Overview
content under "Guides (We Made These!)" in Toolkit should be in the middle.

### Details
content under "Guides (We Made These!)" in Toolkit is on the left side. It should be in the middle
### Resources
(Any documents, links, etc. that would be helpful)
![image](https://user-images.githubusercontent.com/32615215/98469232-7dc3d180-2208-11eb-98a1-a7e22fcbce42.png)

[2020-11-08 17:31] drubgrubby commented on #614
**Progress**
To paraphrase Kirsten Dunst in Elizabethtown, "I failed.  I failed, I failed, I failed, I failed, I failed.  I failed."

For a variety of reasons, both internal and external, I did not get this page completed this week.  Rather than spend the coming week wearing a hair-shirt and enumerating my failings, I will instead redouble my efforts to complete this issue.

**Blockers**
I love th

[2020-11-08 17:38] daniellex0 commented on #577
Status: I didn't get to work on this because this insane election week took over my life and psyche, but I will finish it asap now that I am back to normal

[2020-11-08 17:47] KianBadie commented on #615
1. Progress - Continued to make small edits to the [article](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit) and someone was able to review and open a [a couple issues](https://github.com/100Automations/true-github-contributors/issues) for the "True GitHub Contributors" repository.
2. Blocks - None
3. Availability - Evenings/nights on the weekdays
4. ETA - Thi

[2020-11-08 19:00] ExperimentsInHonesty commented on #632
@christina245 see component audit in figma for header styles - recommend using the same one as getting-started or project team meetings or credits

[2020-11-09 01:42] #700 closed, assigned to sena-ji

[2020-11-10 02:28] drubgrubby commented on #614
@alexandrastubbs @daniellex0 - I just want to confirm that this text from the figma is the correct text for "National Day of Civic Hacking" ;-)  If not, where might I find actual text to use?

<img width="358" alt="Screen Shot 2020-11-09 at 6 22 41 PM" src="https://user-images.githubusercontent.com/68244054/98619876-f6826680-22b8-11eb-8d80-bcca0b7cb2df.png">

[2020-11-10 06:04] ExperimentsInHonesty commented on #614
@drubgrubby lol

[2020-11-10 15:27] alexandrastubbs commented on #614
Definitely not the right text lol... I did not create copy for this page, @daniellen00 any thoughts here?

[2020-11-10 18:12] daniellex0 commented on #614
@drubgrubby haha yikes, I think that was what the original copy said and I forgot to point it out, good catch! @ExperimentsInHonesty @alexandrastubbs Should I move it under the 2020 column and include some of [these](https://www.codeforamerica.org/events/national-day-of-civic-hacking-2020) details from this year's event?

Something like:
"In 9/2020 Hack for LA joined over 40 Code for America briga

[2020-11-11 02:56] ExperimentsInHonesty commented on #614
Sorry all.  I created the copy.  It's just a placeholder.  We really should make it so this section gets its text from a markdown file so I can change it out as needed @drubgrubby @daniellen00 @alexandrastubbs

[2020-11-11 20:25] drubgrubby commented on #614
@ExperimentsInHonesty - It would be great to pull the content for this section from a markdown file of some sort.  I'm going to suggest that we make that a later version of the page and a separate issue.

[2020-11-12 01:39] drubgrubby commented on #614
@alexandrastubbs @daniellex0 @ExperimentsInHonesty
Where do the links in this point to?
-> Survey results
-> See app
-> Learn more

<img width="541" alt="Screen Shot 2020-11-11 at 5 36 16 PM" src="https://user-images.githubusercontent.com/68244054/98884278-7ee14280-2444-11eb-802d-9595b930cd7e.png">

[2020-11-12 01:53] ExperimentsInHonesty commented on #614
There used to be info in the figma file about where the links go.  Can you check to see if it's missing now.  If so I'll redocument, but would prefer not to.  Sent from my phone @drubgrubby

[2020-11-12 05:21] daniellex0 commented on #614
Sorry just saw this- @drubgrubby I just copied and pasted the links right next to the final figma mockup for your reference

[2020-11-12 22:15] alexandrastubbs commented on #162
@jbubar @rblaz001 @efrenmarin45 @ruben1s I am not sure who is actually handling this at this point, but we need an update ASAP, as we would like to get this out the door this week.

[2020-11-12 22:19] alexandrastubbs commented on #689
@aahvocado are you still intending to work on this? Can you share an update?

[2020-11-12 22:21] alexandrastubbs commented on #632
@christina245 this is where you should put your work in progress: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3625%3A0

I have invited you to edit the Figma, you should see an email in your inbox.

[2020-11-12 22:30] alexandrastubbs commented on #717
@drubgrubby You last comment on this said this:

Has that happened yet? If it has not, is there an issue we should be watching for the associated dependency?

[2020-11-12 22:32] drubgrubby commented on #717
Not waiting on anything.  Just line it up for me and I'll do it as soon as about us page is done. Should be a quick one.

[2020-11-12 23:31] #601 closed, assigned to ExperimentsInHonesty, alexandrastubbs

[2020-11-12 23:36] #460 closed, assigned to ruben1s

[2020-11-12 23:41] alexandrastubbs commented on #806
Thank you for the suggestion! We chose this layout after testing it with the content center and left-justified. People prefer the left-justified because some of the sentences span multiple lines and when we centered the text below, it looked off.

[2020-11-12 23:41] #806 closed, assigned to nobody

[2020-11-12 23:51] #266 closed, assigned to nobody

[2020-11-12 23:52] #265 closed, assigned to nobody

[2020-11-12 23:53] #98 closed, assigned to nobody

[2020-11-13 05:46] christina245 commented on #632
Got it! Can someone share the Google docs with me?

[2020-11-13 05:46] christina245 commented on #632
Got it! Can someone share the Google docs with me?

On Thu, Nov 12, 2020 at 2:22 PM Alex Stubbs <notifications@github.com>
wrote:

[2020-11-13 19:15] ExperimentsInHonesty commented on #800
@hisergiorojas Hi Sergio, I had another change for this issue.  I see you have not yet put in a PR for this.  So here is a sentence to add to the description:

Also, if you could add to the looking for:
[code]

[2020-11-13 20:00] ExperimentsInHonesty opened #807 "Create a guide: Choosing the right stack for your open source project"
### Overview
We have had some great conversations about which technology stacks and why.  We need a guide that encapsulates that advice for new volunteers and to explain to existing volunteers why we use one tech over another.  Should contain project examples.

### Details
- [ ] Identify common tech stacks on various projects
- [ ] Add explainer text for each stack
- [ ] This guide issue needs to

[2020-11-13 23:45] aahvocado commented on #689
Wow, thanks for the ping @alexandrastubbs! It's been hard wading through the noise of github emails.

I made yet another comparison with the sheet that @rblaz001 linked and here are the fields that `100-automations.md` is missing:
- `completed-contact`
- `hide`
- `leadership,links,linkedin`
- `tools`

And as mentioned earlier, there's a `#` symbol in front of the `partner` field.

I think I'm most

[2020-11-15 02:56] KianBadie commented on #615
1. Progress - I created another draft of the [article](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit#) (skip to page 13 to start reading) based on the meeting we had last Sunday. I also updated the `true-github-contributors` repository to add a Getting Started section (which modified some of the current content in the readme to morph into a getting started se

[2020-11-15 17:53] drubgrubby commented on #614
**Progress**
The About Us page is ABD (All but done).  All of the content has been added to the various sections, there is programming in place for the various things that need programming...with the exception of:
1) The little arrow on the sticky navigation isn't where it's supposed to be (hopefully the dev team can help me sort that out today).
2) The accordion javascript needs to be amended for

[2020-11-15 18:01] daniellex0 commented on #577
Progress: Added Button Section to Style Guide in Figma.

Next steps: Do more testing on class changes, run any questions by Dev Meeting on Tue. Discuss Style Guide layout/Figma functionality with Yuiko. Continue onto other components.

[2020-11-15 18:11] jbubar commented on #162
Making an update comment here. I am hoping to hand this off because I am moving pretty slowly, but in the mean time I have made some progress.
here is a repl to show my progress on the see more button functionality for mobile.
https://repl.it/@jbubar/see-more-testing

I have been able to make a proof of concept for the see more functionality for mobile, now I just have to add it to the webpage and

[2020-11-15 18:15] ExperimentsInHonesty commented on #386
@rblaz001 checking in on you.  Let's catch up on what you need from me on this issue.

[2020-11-15 18:53] ExperimentsInHonesty commented on #268
The page that gets edited is https://github.com/hackforla/website/blob/gh-pages/_projects/shared-housing-project.md

[2020-11-16 20:44] ExperimentsInHonesty commented on #800
@hisergiorojas can you provide an update on your progress?

[2020-11-16 21:20] alexandrastubbs commented on #632
Confirming google doc has been shared.

[2020-11-17 02:11] hisergiorojas commented on #800
I finished with the issue I just need to make a pull request.

[2020-11-18 04:15] #800 closed, assigned to hisergiorojas

[2020-11-20 21:47] alexandrastubbs commented on #767
Dependency: Need to update site with new page launches before creating new funnels. More specifically, need to complete the issues below before we should dive further into GA.

1. Wins Page, #162
2. About Us Page, #614
3. Update site navigation, #793
4. Create Sitemap, #595

[2020-11-21 00:31] jbubar commented on #162
@ExperimentsInHonesty @alexandrastubbs I made a pull request. It has the see more expandable feature. @drubgrubby looked over it and is waiting on your approval for one thing...

I added a see less button that was not on the figma. (pictures below)

For desktop there is no need for a see less button because you can click away from the modal, but in mobile, the user could use a way to shrink a card

[2020-11-21 20:57] ExperimentsInHonesty commented on #162
@alexandrastubbs @jbubar @drubgrubby seems like a good solution.

[2020-11-22 00:11] KianBadie commented on #615
1. Progress - I made a new draft of the [article](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit#) based on the comments made to it last Sunday 11/15. I resolved the google doc comments that I felt I addressed, and left other ones open with my responses so that they can be read.
2. Blocks - None
3. Availability - Saturdays
4. ETA -

I will be fiddling with the

[2020-11-22 06:04] efrenmarin45 commented on #162
Posting a quick update on the progress I've made in regards to adding users Github photos onto the wins page. Still running into walls and trying to get the solution to run. I do not yet have a workable solution and will be working on this throughout the week to make sure we have this figured out.

My availability will be mornings M/W/TH/F. I will be reaching out to @jbubar to keep him updated on

[2020-11-22 17:52] drubgrubby commented on #614
**Progress**
So close...

I put in a PR.  There are still a couple of things to complete before code review, and merging.

https://github.com/hackforla/website/pull/811#issue-525327993

**Blockers**
The linear nature of time.

**ETA**
Wednesday this should be ready for code review and follow-up visual review.

[2020-11-22 18:02] daniellex0 commented on #577
Progress: Finished recommended changes to standardize buttons across site. Just have a few questions and should be ready to implement

Next steps: Move onto next components

[2020-11-24 16:45] alexandrastubbs opened #813 "PRACTICE ISSUE: Update Website Project Page"
### Overview

We need to update the website projects card with the newest leadership information so that visitors have the most accurate information.

### Action Items

Product
- [ ] Check for outdated leadership info
- [ ] Document most up-to-date info

Development
- [ ] Update with newest information

### Resources

[Website project page](https://www.hackforla.org/projects/website)

[2020-11-24 16:48] alexandrastubbs commented on #813
Not a real issue, just practice for training new PMs. Closing.

[2020-11-24 16:48] #813 closed, assigned to alexandrastubbs

[2020-11-29 09:58] #268 closed, assigned to hit1st

[2020-11-29 10:07] ExperimentsInHonesty commented on #614
@drubgrubby - confirming that you saw the comment on the PR https://github.com/hackforla/website/pull/811#issuecomment-733452961

[2020-11-29 10:09] ExperimentsInHonesty commented on #162
@jbubar confirming that you saw this: https://github.com/hackforla/website/pull/808#issuecomment-731847161

[2020-11-29 10:16] ExperimentsInHonesty commented on #698
@sena-ji are you still working on this issue, or should I unassign you?

[2020-11-29 10:24] ExperimentsInHonesty commented on #802
@Rankazze Here is a empty doc for you to start your draft in: [Hackforla.org privacy policy draft doc](https://docs.google.com/document/d/19x1KsMTU-QBdopiV08HSBQ0i4g1ChrcPZ8ZXmUK50cY/edit#heading=h.wt4woon64tf1)

[2020-11-29 14:27] drubgrubby commented on #614
**Progress:**
I have completed the corrections from Danielle's visual review.

I have to re-do the script for the accordion on the letter from the executive director as that section is different and I don't seem to be able to shoehorn the current code into it.

I cannot figure out how to make the about-us.js file work from the assets folder.  It is currently in the _includes folder.  Need some hel

[2020-11-29 16:48] ExperimentsInHonesty commented on #614
@drubgrubby yes the project titles on the accomplishment section should be links to the project pages

[2020-11-29 17:30] efrenmarin45 commented on #162
**Progress**: Throughout the week I was able to break into the first layer of the JSON file. I can show some data in the console so some progress was made.
**Blockers**: So the JSON file is like an onion. It has several layers and multiples steps needed to iterate through it. I was able to get to through the first layer and can pull up the zero indexed item but no more than that. I have not been a

[2020-11-29 17:43] sena-ji commented on #698
I’m still working on it. I think I’ll be done by Tuesday after I make some adjustments and ask some questions to the dev team.

[2020-11-29 17:56] daniellex0 commented on #577
Progress: Finished recommendations for standardizing page cards- just need to run some questions by team.

Next steps: Start implementing changes to buttons and page cards across site. Move onto standardizing heading sizes, and then finish component library with class names.

[2020-11-29 18:20] ExperimentsInHonesty commented on #657
i believe the bug is because of hide:true and we need to look at the JS and figure out what needs to be added so that we can make sure that anything that has hide true doesn't end up in the filter.

[2020-11-29 18:26] drubgrubby commented on #614
@cnk - https://github.com/drubgrubby/website/tree/dar_about-us-page
I'm trying to figure out how to move the _includes/about-us.js into the assets folder, but can't make it work.  All of the things I've tried are at the bottom of about-us.html.

[2020-11-29 19:07] jbubar commented on #162
@ExperimentsInHonesty, I fixed the issue.

"See more" is not shown if it is not necessary.

you can see the photos on the [pull request](https://github.com/hackforla/website/pull/808#issuecomment-735439635)👍

[2020-11-29 19:12] ExperimentsInHonesty commented on #614
@daniellen00 to add animated gif to google drive and put the link here

[2020-11-29 19:36] ExperimentsInHonesty commented on #796
@yuikomajima will make a zip file with all the images

[2020-11-29 21:27] ExperimentsInHonesty opened #815 "Impact page"
### Dependency
- #1696

### Overview
We need a page that communicates HfLAs global impact

### Action items

UX/UI

- [ ] Redesign the page to properly fit a full screen
- [ ] Design the mobile view of page

UX Writing

- [ ] Define areas of the page and write content
   - [x] title: Impact
   - [ ] description of page: Hack for LA is based in LA but had contribs and impact globally
   - [ ] Why d

[2020-11-30 02:50] #793 closed, assigned to hit1st

[2020-11-30 03:00] jbubar opened #817 "Add a link to the Wins Page (suggestion)"
### Overview
Add a link to the wins page in the nav bar

### Details
Will link to the "/wins" page.
Order of nav bar: Events, Projects, Press, Connect, Toolkit, Wins. (my suggestion)

This is a suggestion based on a conversation that I had with @ExperimentsInHonesty.
![Screen Shot 2020-11-29 at 6 57 18 PM](https://user-images.githubusercontent.com/53061723/100564046-b9d0dc00-3274-11eb-90a5-3888375

[2020-11-30 03:54] jbubar opened #819 "Clean up the _data/navigation/main.yml"
### Overview
We need to remove the unused icons for our nav bar and standardize the use of quotes in the menu, to close out our updating of the menu from the old format to the new.

### Details
- [x] Remove unnecessary lines of code for each of the nav items:
   - [x] Remove the svg's from the repo if they are not used elsewhere on the site
- [x] Identify if we need the single quote for menu items

[2020-12-01 20:58] drubgrubby commented on #614
@ExperimentsInHonesty - I'm adding hyperlinks to the accomplishments page.  For most of them I linked to the project page on hackforla.org.  There were two that I wasn't sure where to point the link.  This is what I did, let me know if you would like to link to anything else.

National Day of Civic Hacking: https://www.codeforamerica.org/events/national-day-of-civic-hacking-2020
Climate Collabatho

[2020-12-01 21:13] drubgrubby commented on #614
I'm done with everything I can do (or everything I'm going to do) until I hear from reviewers and get the couple of things I'm waiting on.

Waiting on:
- Text of Letter from the Executive Director
- Animated gif for the donation section

Thank you for your support.

[2020-12-02 03:22] #817 closed, assigned to jbubar

[2020-12-02 04:21] ExperimentsInHonesty commented on #819
ldkfsldkfjlkdjflskjflksdjflkdfj

[2020-12-02 05:09] ExperimentsInHonesty commented on #794
**Notes from a slack convo with @hannahlivnat who can be contacted on Slack at Hannah Livnat
Hannah said: ...I  made the guide arrows as reusable sass mixins within the main github issue guide scss page so any developer should be able to achieve the correct affect by using the correct mixins and class names.  https://github.com/hackforla/website/blob/gh-pages/_sass/components/_guide-pages.scss**

[2020-12-04 19:14] #614 closed, assigned to drubgrubby

[2020-12-04 22:28] #801 closed, assigned to daniellex0

[2020-12-05 00:24] ExperimentsInHonesty opened #826 "Record Clearance project update"
### Overview
We need to update the record clearance team display to reflect the current team members

### Action Items
- [x] List each team member
   - [x] Name
   - [x] role
   - [x] Github handle
   - [x] slack member id
- [x] indicate anyone to remove

### Resources
https://www.hackforla.org/projects/record-clearance-project

[2020-12-05 01:18] j100892 commented on #826
**Name:** Daniel Lee
**Role:** Project Lead & Product Manager
**Github Handle:** j100892
**Slack Member ID:** U01BU7LQFHB

**Name:** Daniel Xiao
**Role** Tech Lead
**Github handle:** aahvocado
**Slack Member ID:** U01CQR12PA8

Need to Remove: Kelsey Justis, Angelina Molina, Wesley Rowe

**Meeting Times are now:** 9:30 - 10:00 PM PST

**Updated Information:**:

The Record Clearance Project aims to

[2020-12-06 07:12] efrenmarin45 opened #827 "Wins Page See More Bug"
**Overview**
While on the live Wins page, if an entry requires the user to use the 'see more' function, the pop up is of another win and not the one intended. See below for example:

You select an entry
![Screen Shot 2020-12-05 at 11 06 24 PM](https://user-images.githubusercontent.com/51544521/101273923-be9eff80-374e-11eb-8448-2cfdf23451d0.png)

Click See More and this comes up
![Screen Shot 2020-

[2020-12-06 07:42] jbubar commented on #827
Great find!
This is my bad!
I will fix it right now.

[2020-12-06 08:23] jbubar opened #830 "Project Page mobile view needs some help."
### Overview
We are in need of a css wizard to fix a few problems on the mobile view of the projects section on the main page
![Screen Shot 2020-12-06 at 12 08 32 AM](https://user-images.githubusercontent.com/53061723/101275158-50f7d100-3758-11eb-8228-c5c518828127.png)

### Details
- [x] `.project-header` and `.project-pitch` need space between them.
- [x] The styling on the filter list needs to b

[2020-12-06 14:27] #657 closed, assigned to nobody

[2020-12-06 15:49] KianBadie commented on #615
1. Progress - The [article](https://docs.google.com/document/d/1y0XIlpqPzVSrBtM6ganAzW7Sn3A7Pa4NtEitoE0GD7I/edit#) is ready for more review. I added test cases for modification that I wrote last week. Me and Jonathan Shin will get in touch this upcoming week to review the package again.
2. Blocks - None
3. Availability - Saturdays
4. ETA -

[2020-12-06 17:29] daniellex0 commented on #577
Progress: Implemented page card changes across site (after some struggle). Currently in the middle of standardizing the remaining page elements (headers, page card spacing, etc)

Next steps: Finish standardizing headers, page card spacing, and work on component library/class names. Make everything presentable and understandable.

[2020-12-06 18:14] ExperimentsInHonesty commented on #819
@hisergiorojas Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-12-06 18:16] ExperimentsInHonesty commented on #756
@hit1st Please provide an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-12-06 18:18] ExperimentsInHonesty commented on #615
@ExperimentsInHonesty @KianBadie will get together during the week. 12/8/20 kian will send invite

[2020-12-06 18:29] ExperimentsInHonesty commented on #162
1. the last column will have a display version which will be for the purposes of reviewing the content
2. please edit the win for sam.  Currently displays as
[code]

[2020-12-06 18:44] ExperimentsInHonesty commented on #698
as per discussion at last developer meeting @sena-ji will update the code to only put the loading image on the dashboard page.

[2020-12-06 18:51] jbubar commented on #162
![Screen Shot 2020-12-06 at 10 48 15 AM](https://user-images.githubusercontent.com/53061723/101289317-8d571b80-37b0-11eb-8782-4c84529b3c8c.png)
Olivia Chiong came up with the idea to have a slack bot send a message to the group when there is a new win submitted!

in this message:
- the content of  the win
- a link to the wins sheet
- a description of how to approve a win

[2020-12-06 18:54] ahdithebomb opened #831 "Fix Language Display"
### Overview

We need to figure out what is wrong with the script that pulls the language files from each GitHub project repository and displays on site.

### Action Items

- [ ] Read the Wiki to identify how the script is supposed to work.
- [ ] Check the functionality of the script.
- [ ] Identify what is causing the blockage/breakage.
- [ ] Prescribe fix.
- [ ] Review with the team.
- [ ] Make

[2020-12-06 18:58] yuikomajima commented on #815
figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/?node-id=3491%3A1

[2020-12-06 19:04] #717 closed, assigned to drubgrubby

[2020-12-06 19:07] #827 closed, assigned to nobody

[2020-12-06 19:13] ExperimentsInHonesty commented on #815
Dubai, San Pauo/Brazil, Netherlands, Argentina, India

US
New York, SF, Ohio, Seattle, Pittsburg, Kansas, Florida, Hawaii

[2020-12-06 19:17] saumyashh commented on #815
Saumya, Pittsburgh. LinkedIn: https://www.linkedin.com/in/saumyasharma95/

[2020-12-06 19:19] munaz77 commented on #815
Dubai, United Arab Emirates - https://www.linkedin.com/in/munasmusthafa/

[2020-12-06 19:33] munaz77 opened #833 "Create Program Areas page"
### Overview

We need to create a program area page so that people can browse by topic area.

### Action Items

Product

- [x] To define the program areas required.
- [x] Write a header text.

Design

- [x] Use communities of practice as base the template replacing the team members with project links based on project display from events page location view.

Development

- [ ] Reach out to @daniell

[2020-12-06 19:36] KianBadie commented on #831
@ExperimentsInHonesty the languages are back on the site.

The cause of the error was that when I rewrote the github actions data fetching script in pull request #757, I made the mistake of saving language data to the [github-data.json](https://github.com/hackforla/website/blob/gh-pages/_data/github-data.json) file without the `data` field. I stored the languages as `languages: [language1, languag

[2020-12-06 19:43] yuikomajima commented on #815
Updated the page with the pins per location and added the 2 members + Alex on the spotlight.

[2020-12-06 20:35] yuikomajima commented on #833
Took a pass at the desktop version here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/?node-id=4452%3A21046

I added just the program area that have projects under them for now. Heart seems like it's a project, not a program area. There are projects that are not on the site that we'd need photos for and project pages. There were also some projects on the site that are not reflected in the doc

[2020-12-07 04:20] hit1st commented on #756
@ExperimentsInHonesty my apologies.  I have been unable to work on this issue until today.

[2020-12-07 17:46] drubgrubby opened #835 "About-us page updates and bug fixes [Master Issue]"
### Overview
The about-us page is a new page that was merged as an MVP.  There are a number of additions and corrections that now need to be addressed.  This issue is intended to serve as a master issue that will keep track our progress.

### Details
Each new issue will be described in a new comment.  There should be a description with a checkbox on each comment so we can check it off when it has

[2020-12-07 17:51] drubgrubby commented on #835
- [x] In tablet view, the sticky navigation covers up the main content
- [x] On really wide screens the sticky navigation drifts away from the content

### Description
This issue was addressed in @ jbubar's review of the original PR: https://github.com/hackforla/website/pull/811#issuecomment-738679119

And also here: https://github.com/hackforla/website/pull/811#discussion_r536309009

[2020-12-07 17:59] drubgrubby commented on #835
- [x] Clean up _about-us.scss file

### Description
There are many classes in this file that would probably be better off being moved to different "master" .scss files so that they can be used more easily on different pages.  Additionally, the file could be somewhat better organized to so that future coders working on this page won't curse my name quite so much.

I think it would be good to work w

[2020-12-07 22:52] ExperimentsInHonesty commented on #162
Hi @jbubar I added a column and created a formula so that all the details submitted would roll up to one cell that could be read easily.  I then hid the other columns  - See example:
![Screen Shot 2020-12-07 at 2 33 23 PM](https://user-images.githubusercontent.com/37763229/101414838-b1435b80-389b-11eb-8ba2-a7a35bb18184.png)

[2020-12-07 23:04] ExperimentsInHonesty commented on #162
There is a weird thing happening with the text alignment
![image](https://user-images.githubusercontent.com/37763229/101415843-704c4680-389d-11eb-9cab-ffd8a6e596cf.png)

[2020-12-07 23:15] jbubar commented on #162
@ExperimentsInHonesty That google sheet thing is really cool. I will see if I could deliver on that over the weekend.

as for the strange text alignment thing, that happens when the teams or roles are more than one line. I have some ideas for how to fix this, but it is going to take some tinkering.

[2020-12-08 21:12] ExperimentsInHonesty commented on #538
@harishlingam sorry for the delay in getting back to you on this.  Seriously sorry.  I have asked to new pms to give it a review and then we will meet to discuss comments.  And then follow up with you once we have our final suggestions.

Talk to you soonish.

[2020-12-08 21:43] ahdithebomb commented on #275
We are closing this issue and starting a new one for the current quarter.

[2020-12-08 21:43] #275 closed, assigned to switchzer0, ExperimentsInHonesty

[2020-12-08 21:48] Olivia-Chiong opened #838 "2020 Q4 Project Profile Card Updates"
### Overview
Quarterly tracking issue for Project Profile cards on website

### Details

- [x] Create new column for Project Profile cards tracking
- [x] Create template for project cards
- [x] At next meeting, get Product Managers to select 3-5 projects to manage
- [x] Each Product Manager should create an issue for each project
   - [x] Move the Project Cards for each Project to the Product Mana

[2020-12-08 21:56] ahdithebomb commented on #209
Please review the article and add use the comment feature for any questions you may have before the next team meeting.

https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit

[2020-12-08 22:04] Olivia-Chiong commented on #838
@ExperimentsInHonesty Please provide list of projects that require update for Q4

[2020-12-08 22:16] nielseny commented on #387
Bonnie will assign to new 311 PM after project interviews/updates.

[2020-12-09 00:24] Olivia-Chiong commented on #838
@ExperimentsInHonesty I've updated the template with title template and need you to review and commit the changes please.

[2020-12-09 03:31] hisergiorojas commented on #819
It's is recommended to use quotes on string with a special character such as '#'

[2020-12-09 04:26] ExperimentsInHonesty commented on #815
@yuikomajima I love the page and the map, I think it came out great.

[2020-12-09 18:33] #693 closed, assigned to daniellex0

[2020-12-09 18:51] #698 closed, assigned to sena-ji

[2020-12-09 22:31] jbubar commented on #756
We merged this yesterday. I checked it out today and it appears not to break anything, which is good! However I am not convinced that it did anything in the first place.

Here is my fork before I pushed the upstream changes
![Screen Shot 2020-12-09 at 2 25 13 PM](https://user-images.githubusercontent.com/53061723/101696495-0bbef200-3a2b-11eb-936b-60a89fa6af9b.png)

Here is my fork after I pushed t

[2020-12-09 22:39] jbubar commented on #756
I reopened this issue just to have a discussion about it.
If you look at [other people forks](https://github.com/hackforla/website/network/members), you can see that they either do not have gh-actions enabled or it is disabled automatically. I think this might be a github feature.

Here is what it said on my fork when I enabled github actions. For me, this was the default.
![Screen Shot 2020-12-09

[2020-12-10 02:54] hit1st commented on #756
That's interesting.  I don't even have an actions tab on my fork.

<img width="1646" alt="Screen Shot 2020-12-09 at 6 52 23 PM" src="https://user-images.githubusercontent.com/22206381/101715181-d5e03480-3a4f-11eb-8a23-c5b164f51083.png">

[2020-12-10 06:56] hit1st commented on #756
After reviewing https://github.community/t/stop-github-actions-running-on-a-fork/17965/2
Here is a screenshot
<img width="723" alt="Screen Shot 2020-12-09 at 10 34 51 PM" src="https://user-images.githubusercontent.com/22206381/101730865-a17c7080-3a6f-11eb-99fe-80bebcef5c1c.png">
It seems to me that adding the conditional to the actions in the hackforla/website repo is only one step.  Every forked

[2020-12-10 20:35] drubgrubby commented on #835
- [x] Put up actual text of Letter form the executive director.

### Description
The page currently has lorem ipsum for the letter.  We need to put up the actual text.

[2020-12-10 20:45] drubgrubby commented on #835
- [x] Minor CSS edits from Josh and Danielle's visual reviews.

### Description
Some things just aren't where they're supposed to be.  Extreme CSS tweaking should fix the problem(s).  In the issue I will make a list of the specific changes.

The major visual issues will get their own issue.

The sub-issue for danielle's visual review fixes is: #851

[2020-12-10 21:01] drubgrubby commented on #835
- [x] Replace static image with animated gif in the donations section

### Description
The image I originally used was a static image.  It needs to be replaced with the intended animated gif.

### Resources
![HfLA-Donate](https://user-images.githubusercontent.com/68244054/101829408-d3c9b480-3ae7-11eb-80ba-094fddd75401.gif)

https://github.com/civictechindex/CTI-website-frontend/issues/60#issuecomm

[2020-12-10 21:05] drubgrubby commented on #835
- [x] In SDG section, left row of images gets smaller when minimizing the page before it switches over to mobile view.

### Description
Make it stop doing this:
<img width="643" alt="Screen Shot 2020-12-10 at 1 03 16 PM" src="https://user-images.githubusercontent.com/68244054/101829677-3a4ed280-3ae8-11eb-99c4-931ac79410cf.png">

Images should be the same size.

[2020-12-10 21:08] drubgrubby commented on #835
- [x] Make the Wins card link to the wins section

### Description
Currently, the wins card on the about us page links to dean's linked-in account.  As there wasn't a live wins page at the time, this made sense.  Now, however, it probably makes more sense to link it to the wins page.

### Resources
http://localhost:4000/wins

Sub-issue: #848

[2020-12-10 21:12] drubgrubby commented on #835
- [x] Make the Metrics card look better in tablet view

### Description
The metrics card degrades in unpleasant ways in tablet view.  Make it better.

In tablet view the cards look different:
![Screen Shot 2020-12-10 at 1 11 15 PM](https://user-images.githubusercontent.com/68244054/101830362-40917e80-3ae9-11eb-8a53-c4fb120079d4.png)

In full screen the cards look the same:
![Screen Shot 2020-12-10

[2020-12-10 21:17] drubgrubby commented on #835
- [x] Center header text when it first switches to mobile view

### Description
When it first switches to mobile view there is a lot of white space to the right of the text and image.  That should probably be centered as soon as it switches view.

![Screen Shot 2020-12-10 at 1 14 01 PM](https://user-images.githubusercontent.com/68244054/101830712-c9101f00-3ae9-11eb-9297-5aa210d648c5.png)

Should l

[2020-12-10 22:06] drubgrubby commented on #835
- [x] If possible, get rid of "!important" in the .is-active tag.

### Description
See Josh's comment here: https://github.com/hackforla/website/pull/811#discussion_r536302574

(I can't figure an easy way to do this, and it doesn't seem like it's worth the time to figure it out.  "!important" is available for a reason)

[2020-12-10 22:08] drubgrubby commented on #835
- [x] Add "cursor:pointer" to .read-more/.read-less tags

###Description
See Josh's comment here: https://github.com/hackforla/website/pull/811#discussion_r536302574

sub-issue:  #848

[2020-12-13 02:06] drubgrubby opened #842 "About-us page scss cleanup"
### Description
There are many classes in this file that would probably be better off being moved to different "master" .scss files so that they can be used more easily on different pages.  Additionally, the file could be somewhat better organized to so that future coders working on this page won't curse my name quite so much.

### Resources
_sass/components/_about-us.scss

### ToDo

- [ ] Clean u

[2020-12-13 03:23] drubgrubby commented on #842
Questions for the committee:
1) I moved .page-card into _sass/elements/_cards.scss. Do you think this works as a generc "page-card", or should we name it something more specific.
--> Change page-card on about-us page to specific class for the page.

2) I did not move the class .grid-2-column - a 2 column layout using css grid.  Should we make column layouts generic, or should I name this specific

[2020-12-13 16:13] KianBadie commented on #615
1. Progress - Met with @ExperimentsInHonesty this past week and edited some of the article. The whole articles has not been reviewed yet. Jonathan and I did not meet this week. I had a slightly busier schedule with work this week and decided to give the issue a rest for the week.
2. Blocks - None
3. Availability - Saturdays
4. ETA -

[2020-12-13 17:47] daniellex0 commented on #577
Progress: Designed most of designer-facing component library / style guide, but still need to add more components and standardize more (typography, etc), plus finalize more class names.

Next Steps: Finish component library / style guide and wire it up on Figma, work on developer-facing design system documentation, implement changes on site.

[2020-12-13 17:54] drubgrubby commented on #842
### How it's going
With the answers to the above questions I will make the final changes and do a PR.

[2020-12-13 18:13] ahdithebomb commented on #804
@ExperimentsInHonesty just sent it to Randall.

[2020-12-13 18:17] ahdithebomb commented on #747
@ExperimentsInHonesty  will upgrade @ahdithebomb, @Munasmusthafa, @pawan92, @ltung05 permissions.

[2020-12-13 18:17] ahdithebomb commented on #747
@ahdithebomb will make a template for this.

[2020-12-13 19:09] munaz77 commented on #162
@jbubar will change the font to standard, and add bullet points in the description.

[2020-12-13 19:18] christina245 commented on #632
I've added 4 of the projects and rewrote their descriptions to better fit the message of the page. Each card has the SDG it meets. I've also added cards for the partners and workshops.

[2020-12-13 19:25] drubgrubby commented on #835
- [x] Does this page, and other pages, need a specific tablet view?

[2020-12-13 19:34] ltung05 commented on #819
@drubgrubby please provide a review of the above suggestion and directions for proceeding

[2020-12-13 19:42] ltung05 commented on #209
Review the article again and leave any comments for new product managers in the future.
@pawan92 @ahdithebomb @ltung05 @Munasmusthafa @IAgbaje

[2020-12-13 20:03] ltung05 commented on #632
Add more description to the "User-Centered Design Workshops"

Change "Our Partners" to "Organizations We Worked with" or similar wording

[Slide deck for design thinking workshop from brigade congress](https://docs.google.com/presentation/d/1OCu3T80hHokqsswgbOPrR8Kp65dI5guZ-ZQaKpwj9O0/edit#slide=id.ga392a9252c_1_0)

@ExperimentsInHonesty will find the url for the video

[2020-12-13 20:15] ltung05 commented on #803
Produce a new video for the self onboarding process.

Transcribe the original video (only what Bonnie said) and spread the recording across multiple PMs.

otter.ai

[Original Onbaroding Video](https://cc2020.enciv.org/hackforla-projects)

@ExperimentsInHonesty will send the link to the next onboarding session

[2020-12-13 20:27] IAgbaje commented on #602
### Personas

- [ ] Product Managers
- [ ] New volunteers
- [ ] Sponsors/Donors
- [ ] Local Community

### User Stories for a Product manager

- [ ] As a product manager, i want to give a brief introduction about HackforLA.
- [ ] As a product manager, i want to be able to encourage people to join my project.
- [ ] As a product manager, i want to advertise the specific skill sets required in my pro

[2020-12-14 20:54] ExperimentsInHonesty commented on #603
We need to revise the team leads on this page.  Please add the following information:
- [x] Who to remove/or revise
- [x] Who to add
   - [x] Name
   - [x] Role
   - [x] Slack member ID
   - [x] Github handle

[2020-12-14 20:55] ExperimentsInHonesty commented on #603
- [x] Revise
   - [x] Bonnie's title to be: Agile Coach / Stakeholder Rep
   - [x] Kian's title to be: Technical Advisor
 - [x] Remove
    - [x] Alex
 - [x] Add
    - [x] David Rubinstein
       - [x] role: tech lead
       - [x] slack member id: U015FP47R5G
       - [x] github handle: drubgrubby
    - [x] Danielle Nedivi
       - [x] role: Design Lead
       - [x] slack member id: U013U4VN8V7

[2020-12-15 01:25] drubgrubby commented on #835
- [x] Change page name to "about"

### Description
Change page name to "about"

[2020-12-15 01:26] drubgrubby commented on #835
- [x] Change link from http to https on vrms.io link in the metrics section
Sub-issue: #848

[2020-12-15 01:27] drubgrubby commented on #835
- [x] Make partner images in the partners section into links

[2020-12-15 01:39] drubgrubby opened #844 "Create a complete list of HfLA partners"
### Overview
The about-us page has a "Partners" section where images/logos for HfLA's partners are displayed.  In order to insure that proper attribution is given, we need a complete and accurate list of HfLA partners.

### Action Items
- [x] Compile a list of all partners from the Hack for LA website
- [ ] Inquire of all HfLA projects who their partners are.
- [x] Make a list, preferably one that

[2020-12-15 03:02] drubgrubby commented on #819
@ltung05 I believe this was the page that Sergio's recommendation came from: https://stackoverflow.com/questions/19109912/yaml-do-i-need-quotes-for-strings-in-yaml

It says: Use quotes if your value includes special characters, (e.g. :, {, }, [, ], ,, &, *, #, ?, |, -, <, >, =, !, %, @, \).

Since some of the links on the menu are to specific places on the page, and hence use the '#' character, th

[2020-12-15 04:25] drubgrubby commented on #842
I decided to just to a basic cleanup of the page, rather than get too concerned with creating new scss files and all kinds of other things that are really part of componentizing the website.  I was getting distracted from getting the about-us page finished.  So, I left the new .scss pages that I had already made and moved files into and now I'm moving on.

[2020-12-15 05:54] nielseny commented on #538
I've added my comments to the draft outline

[2020-12-15 21:04] ahdithebomb commented on #804
This needs a rewrite.

[2020-12-15 21:09] ahdithebomb commented on #386
@ExperimentsInHonesty messaged @rblaz001 the following via slack.

[2020-12-15 21:28] ltung05 commented on #803
https://us02web.zoom.us/rec/play/EFWVbX5WWqCG42hkGzWVoef-iXnFTH1mrQW5w4JLqidNeZfezbld_n2hWhab0-fyaNiuPkhA12zQicfy.c-Z7rUyTO51h3oKs

Audio File for Onboarding Meeting 12/14/2020

I Will transcribe the conversation and combine it with my meeting notes and work with @ExperimentsInHonesty

[2020-12-15 21:29] ahdithebomb commented on #803
@ExperimentsInHonesty  sent @ltung05 the link for the audio.

[2020-12-15 21:34] IAgbaje commented on #603
- [x] Add
  - [x] Ibraheem Agbaje
    - [x]  role: Product Manager
    - [x] slack member id: U01FKL1DN48
    - [x] github handle: [@IAgbaje]

[2020-12-15 21:38] pawan92 commented on #603
- [x] add
   - [x] Pawan Murthy
   - [x] Product Manager
   - [x] Slack member ID: U01FMQTN8MU
   - [x] github handle: [@pawan92 ]

[2020-12-15 21:41] ahdithebomb commented on #603
Add

- [x] Ahdithan Uthayakumar
  - [x] role: Product Manager
  - [x] slack member id: U01FDAPULJE
  - [x] github handle: [**@ahdithebomb** ]

[2020-12-15 22:13] drubgrubby opened #846 "About page: Replace static image with animated.gif in donations section"
### Description
The image used is a static image and needs to be replaced with the intended animated gif

### Resources
https://github.com/civictechindex/CTI-website-frontend/issues/60#issuecomment-673788199

http://localhost:4000/about-us#donations

### Steps

- [x] Add image to directory
- [x] Change resource to use new image
- [x] Delete old image
- [x] Mark as complete on master issue #835

[2020-12-16 00:09] pawan92 commented on #632
@christina245 Could I have access to those google docs as well?

[2020-12-16 01:02] drubgrubby opened #848 "About-us: Misc. small fixes."
### Description

I'm going to try to fix a few smaller issues on the about us page on this issue.  I'm not sure how many I'll get done before I make a PR, so look at the comment below to see what I did.  (It will be as much stuff as I can get done before the meeting tonight).

[2020-12-16 02:09] drubgrubby commented on #848
1) Add "s" to the "http" for the vrms link in the metrics section - https://github.com/hackforla/website/issues/835#issuecomment-744962748

2) Add 'cursor: pointer' to read-more and read-less tags so it shows the cute little hand when you hover over the link - https://github.com/hackforla/website/issues/835#issuecomment-742830634

3) Changed the color of the active navigation link to 333 from soli

[2020-12-16 03:19] #842 closed, assigned to drubgrubby

[2020-12-16 03:26] #747 closed, assigned to ahdithebomb

[2020-12-16 09:23] munaz77 commented on #603
Add

- [x] Munas Musthafa
  - [x] role: Product Manager
  - [x] slack member id: U01F6KA8094
  - [x] github handle: [**@munasmusthafa** ]

[2020-12-18 02:17] drubgrubby opened #851 "About-us: misc styling fixes"
### Description
Fix the styling issues from @daniellex0 's visual review of the about us page.

### Step by step

- [x] Fix space between header text and image
- [x] More whitespace below header text
- [x] More "pink" between header and text
- [x] Make sticky nav narrower
- [x] Check sticky nav padding
- [x] Change nav donation text to "Make a donation"
- [x] Make sure the page cards are using the

[2020-12-18 05:14] KianBadie commented on #615
Sorry for the lack of activity. I have been much busier with work the past week and a half, and have been using my free time to just do something non code related. The deadline for my work project is this Monday, which is when I can continue activity on this.

[2020-12-18 05:14] KianBadie commented on #831
Sorry for the lack of activity. I have been much busier with work the past week and a half, and have been using my free time to just do something non code related. The deadline for my work project is this Monday, which is when I can continue activity on this.

[2020-12-20 00:56] Olivia-Chiong opened #852 "Update Project Profile: 100 Automations"
### Overview
Please make the following updates to the 100 Automations project card.

### Project card
https://www.hackforla.org/projects/100-automations

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [x] title
- [x] description
- [x] image
- [x] leadership
- [x] links
  - [x] Github
  - [x] Sl

[2020-12-20 01:01] Olivia-Chiong commented on #852
- Please update the project leadership by referencing this [issue](https://github.com/100Automations/Website/issues/89).
- Please remove from looking - Static Site Architect, Content Writer
- Please add from looking - UI/UX Designer

[2020-12-20 01:13] Olivia-Chiong opened #853 "Change the root URL of Slack IDs"
### Overview
We need to change the root URL of Slack IDs so that the appropriate slack workspace is selected.

### Action Items
- [x] Change all references that start with https://app.slack.com/team/ to https://hackforla.slack.com/team/

### Resources/Instructions
[Slack Helpfile](https://slack.com/intl/en-gb/help/articles/360003827751-Create-a-link-to-a-members-profile-)

[2020-12-20 03:56] #848 closed, assigned to drubgrubby

[2020-12-20 04:30] #846 closed, assigned to drubgrubby

[2020-12-20 12:09] ltung05 commented on #803
**Progress:** The transcript has been uploaded, see the following link:
https://otter.ai/u/sJ3Ghmp4JeZaeZ4DG2HceFKbrZk
**Blocks:** Lack of time last week, will compile meeting notes and highlight key findings in this transcript for the new video.
**Availability:** Should be available most of next week.
**ETA:** End of the upcoming week

[2020-12-20 17:53] daniellex0 commented on #577
Progress: Added more components to library, finalized typography and text rules, made progress on standardizing header/page layouts, started drafting explainer for developers and dev notes on Communities of Practice page.

Next Steps: Finish standardizing header/page layouts, add mobile/tablet versions of components, finalize class names for all components, wire up reusable components on Figma, fi

[2020-12-20 18:11] pawan92 commented on #819
@hisergiorojas standardize the navigation links found on _data/navigation/main.yml to have single quotes.

[2020-12-20 18:14] pawan92 commented on #162
@jbubar Can we get an update on this?
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-12-20 18:15] pawan92 commented on #587
@ExperimentsInHonesty has not worked on the issue. ETA unknown

[2020-12-20 18:22] pawan92 commented on #632
@ExperimentsInHonesty Checked the video is not ready in the cfa channel/brigade conference content.

[2020-12-20 18:27] pawan92 commented on #632
@christina245 Change "Our Partners" to "Organizations We Worked with" or similar wording

[2020-12-20 18:34] pawan92 commented on #835
@drubgrubby david will make individual issues for each item and close this when issues are created

[2020-12-20 18:36] ahdithebomb commented on #538
I've added my comments to the online draft.

[2020-12-20 18:37] ahdithebomb commented on #209
I've added some comments to the document.

[2020-12-20 19:21] drubgrubby opened #854 "Is the blank "New Issue" template too complicated?"
### Overview
The new "blank issue" template is very complicated and I feel like I need separate instructions to create a new issue.  (In my opinion) we should either make the template cleaner or simpler, or we should have a no-frills version if you know how a new issue is supposed to go, and just want to make one.

### Action Items

- [x] Create a simpler "blank issue" template
or
- [x] Create a n

[2020-12-20 19:48] ahdithebomb commented on #602
User Stories that definitely apply

### Prospective Member
- [x] As a user, I want to get a quick snapshot of the organization's activity without too much time or effort, so that I can determine right away whether or not I want to get involved.
- [x] As a prospective member, I would like to know how I can get involved in a project for the city.

### Project Leader
- [x] As a project leader, I want

[2020-12-20 19:50] ahdithebomb commented on #602
List of user stories that might be related to the feature
- https://github.com/hackforla/website/projects/6#card-28481493
- https://github.com/hackforla/website/projects/6#card-29010005

[2020-12-20 20:08] ahdithebomb commented on #833
There is a typo in the Hack For LA Card
![Screen Shot 2020-12-20 at 12 08 22 PM](https://user-images.githubusercontent.com/44422322/102723357-1e9fb500-42bc-11eb-89b1-9c6985c43439.png)

[2020-12-20 20:15] ahdithebomb commented on #833
**Projects on hold**
- [ ] New Schools Today
- [ ] Jobs for Hope
- [ ] Spare

Citizen Engagement
- [x] 311 Data
- [x] Engage
- [x] Food Oasis
- [x] Lucky parking

**Civic Tech Infrastructure**
- [x] 100 Automations
- [x] Civic Opportunity Project
- [x] Civic Tech Index
- [x] Civic Tech Structure
- [x] VRMS

**Under Development**
- [x] Home Unite us
- [x] LA TDM Calculator
- [ ] Not Today

**Enviro

[2020-12-20 20:26] drubgrubby commented on #851
While I was at it, I fixed the wayward nav-bar issue as part of this issue.

[2020-12-20 20:39] ahdithebomb commented on #833
@yuikomajima please add the following

- [ ] Add Program Area (Name:Justice)
   - [ ]  Record Clearance Project
   - [ ] Heart
   - [ ]  Racial Justice - Not on Website
   - [ ] Juvenile Justice:Know your rights

- [ ] Add Community Survey Project to Vote/Representation Program Area

- [ ] Add Not Today Project to Under Development Program Area

- [ ] Please alphabetized the Program Area

[2020-12-20 20:46] ahdithebomb commented on #833
We are going to create a new issue to evaluate the project Program Area against the USDG's to see if it is appropriate to add to this page.

[2020-12-20 21:11] ahdithebomb opened #856 "Update Project Profile: Ballot Nav"
### Overview
Please review the following information for your project and provide any updates

### Project card
 https://www.hackforla.org/projects/ballot-nav

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github
  -

[2020-12-20 21:11] ahdithebomb opened #927 "Update Project Profile: Civic Opportunity Project"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
 https://www.hackforla.org/projects/civic-opportunity-project

### Action Items

- [x] Civic Opportunity Team Leadership
   - [x] Please check off everything that is ok t

[2020-12-20 21:19] ahdithebomb opened #857 "Update Project Profile: 311 Data"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/311-data

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github
  - [ ]

[2020-12-20 21:19] ahdithebomb opened #957 "Update Project Profile: 311 Data"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/311-data

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [x] image
- [x] leadership
- [ ] links
  - [ ] Github
  - [ ]

[2020-12-20 21:46] Arjayellis commented on #804
DRAFT: BallotNav is a tool that aims to help prevent disenfranchisement by providing reliable and up to date information on ballot drop off locations across the US. By partnering with organizations across the country, we hope to become a trusted resource for voters in upcoming elections. Due to distrust in the postal service, misguided information from the media, an inconsistent pool of resources

[2020-12-20 21:48] Arjayellis commented on #804
For open roles, in terms of urgency and that we have actual work for: UX Researcher, Marketing and PR, External partners, Fundraisers

[2020-12-20 22:44] yuikomajima commented on #833
ok the above updates made here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4452%3A21047

[2020-12-21 03:37] ExperimentsInHonesty commented on #804
@Arjayellis are we partnering with orgs?  If so which ones

[2020-12-21 03:53] Arjayellis commented on #804
No luck yet.

[2020-12-21 16:59] ExperimentsInHonesty commented on #804
@Arjayellis then please leave that part out, because it brings up a question about if the partners are non partisan, so its better to remove it

[2020-12-21 17:01] tarang100 commented on #603
- [x] Add
   - [x] Tarang Gupta
   - [x] Role: Product Manager
   - [x] Slack member ID: U01FN9BAYTY
   - [x] Github handle: [@tarang100 ]

[2020-12-21 17:59] ExperimentsInHonesty commented on #804
BallotNav is a tool that aims to help prevent disenfranchisement by providing reliable and up to date information on ballot drop off locations across the US.   While some states have detailed information about ballot drop off locations, others leave it up to the local jurisdiction to publish that information.  In some states, Counties, Towns, Parishes, etc, do not have websites, so there is no rel

[2020-12-21 18:07] ExperimentsInHonesty commented on #833
@yuikomajima do we have to credit any of the images on the credits page?

[2020-12-21 18:08] yuikomajima commented on #833
the photography is all from unsplash which is free stock photos so i think we are fine.

[2020-12-21 23:04] ahdithebomb opened #859 "Medium Article: Hack for LA UCD Case Study"
### Overview

We need to create an article around UCD for Hack for LA to create more awareness of opportunities to join and the type of work we do.

### Action Items

- [ ] Review sample articles
- [ ] Brainstorm article content
- [ ] Create a brainstorm and draft document
- [ ] Create flow diagram of UX process
- [ ] Draft outline of article
- [ ] Review/revise article outline
- [ ] Draft article

[2020-12-22 02:22] drubgrubby commented on #804
@ExperimentsInHonesty - I don't see any changes to the "looking for".  Are we just making sure that the "Looking for" in the above comment (https://github.com/hackforla/website/issues/804#issuecomment-749112577) are included in the list, or are we supposed to remove everything that's not on that list, so only the things on that list (UX Researcher, Marketing and PR, External partners, Fundraisers)

[2020-12-22 02:50] drubgrubby opened #860 "About us page - Letter from the Executive Director"
### Overview
The about us page needs the text for the Letter From the Executive Directory for the first section of the page.

### Action Items

- [ ] Write the Letter From the Executive Director

### Resources/Instructions
https://www.hackforla.org/about-us
 [draft](https://docs.google.com/document/d/1jS-ljYnk4B9O00JDyQQd1SD1IRQC5nM4bc5-FXiiS2Y/edit)

https://github.com/hackforla/website/blob/gh-p

[2020-12-22 02:53] drubgrubby opened #861 "About Us -> Fix shrinking images in SDG section"
### Overview
In SDG section, left row of images gets smaller when minimizing the page before it switches over to mobile view.

<img width="643" alt="Screen Shot 2020-12-10 at 1 03 16 PM" src="https://user-images.githubusercontent.com/68244054/101829677-3a4ed280-3ae8-11eb-99c4-931ac79410cf.png">

### Action Items
Make it stop doing that.

### Resources/Instructions
https://www.hackforla.org/about-u

[2020-12-22 03:04] drubgrubby opened #862 "About Us -> Make the Metrics card resizing more graceful"
### Overview
The Metrics card in the Metrics section of the about-us page degrades poorly in tablet view.

In tablet view the cards look different:
![Screen Shot 2020-12-10 at 1 11 15 PM](https://user-images.githubusercontent.com/68244054/101830362-40917e80-3ae9-11eb-8a53-c4fb120079d4.png)

In full screen the cards look the same:
![Screen Shot 2020-12-10 at 1 11 30 PM](https://user-images.githubus

[2020-12-22 03:22] drubgrubby opened #863 "About us -> Make partner images into hyperlinks"
### Overview
We need to ensure that the Partners' images on the HfLA About Us webpage are hyperlinked to each partner's respective website

### Action Items
- [x] Refer #844 to find the latest list of partners for all HfLA Projects
- [x] Ensure that the partner images on the about-us webpage are complete. (That it contains the images for all of our partners)
- [x] Make the partner images into hype

[2020-12-22 03:27] drubgrubby opened #864 "Rename about-us page to about"
### Dependency
~#966 #967 #862~

### Overview
We need to rename the page to from about-us to "about" to maintain consistent naming convention throughout the project.

### Action Items

- [x] There is an _about.scss file.  Figure out if is it still being used for anything, and if it can be renamed, deleted, etc.
- [x] Rename the about-us page to about
- [x] Rename _about-us.scss to _about.scss (unl

[2020-12-22 03:27] #835 closed, assigned to drubgrubby

[2020-12-22 19:07] ahdithebomb opened #865 "Update Project Profile: [Civic Tech Index]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/civic-tech-index

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github

[2020-12-22 19:07] ahdithebomb opened #939 "Update Project Profile: Civic Tech Index"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/civic-tech-index

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [x] title
- [x] description - refer to changes
- [x] image
- [x] leadership - refer

[2020-12-22 19:28] ahdithebomb opened #866 "Update Project Profile: [Civic Tech Structure]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/civic-tech-structure

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Gi

[2020-12-22 19:28] ahdithebomb opened #940 "Update Project Profile: Civic Tech Structure"
### Overview
Update the Civic Tech Structure project with the information in the comments below

### Project card
https://www.hackforla.org/projects/civic-tech-structure
location of file for changes: _projects/civic-tech-structure.md

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [x] title
- [

[2020-12-22 21:21] IAgbaje commented on #632
@pawan92 , Please remind us what the to-do item is for this issue.

[2020-12-22 22:03] ahdithebomb opened #867 "Project Card Issue Updates - Engage, Food Oasis, Home Unite Us, Civic Opportunity"
### Overview

We need to create an issue for each project to funnel any updates they have to the website team

### Action Items
- [x] Get updates from the following 4 projects
    - [ ] Engage https://github.com/hackforla/product-managment/issues/36
    - [x] Food Oasis https://github.com/hackforla/product-managment/issues/35  -@pawa92 will go to team meeting
    - [x] Home Unite Us https://github

[2020-12-22 23:16] abenipa3 commented on #826
Hello everyone,  quick updates:

- I updated the organization with the new information.
- Removed Kelsey Justis, Angelina Molina, Wesley Rowe.
- Added Daniel Lee and Daniel Xiao.

I just need to update the meeting times but will push what I have so far to my repo so we could discuss it in tonight's meeting.

Thank you!

[2020-12-23 03:17] abenipa3 commented on #826
@j100892 May you please confirm if the meeting day is on Monday?

After this confirmation, we would like to reach out to VRMS (@Rankazze @ExperimentsInHonesty ) to change the meeting times to 9:30 - 10:00 PM PST on the confirmed day.

[2020-12-23 03:25] j100892 commented on #826
@alyssabenipayo Hey! Sorry for not updating this in the ticket but our meeting times have changed and I haven't had the the chance to let VRMS know. Here are the new times:

We currently have three meetings:

Dev meetings Thurs. @ 6 PM PST - 7PM PST   // Design & Research meetings Tues.  @ 6 PM PST - 7 PM PST  // Team meetings Biweekly Mon. @ 6 PM PST - 7 PM PST

[2020-12-23 03:35] #804 closed, assigned to nobody

[2020-12-23 05:48] johnr54321 commented on #957
Assigning to Pras to take a shot at it.

[2020-12-24 17:41] pawan92 commented on #632
@IAgbaje There were 2 things that had to be done for this:
- [ ] Change "Our Partners" to "Organizations We Worked with" or similar wording
- [ ] Add more description to "User centered Design Workshop"

I modified both of those on Figma design and would love some feedback

[2020-12-24 18:20] IAgbaje opened #869 "Project Card Issue Updates - Public Tree Map"
### Overview

We need to create an issue for each project to funnel any updates they have to the website team

### Action Items
- [ ] Get updates from the following 2 projects
    - [ ] Public Tree Map

#### Action Items per Project
- [ ] Create an issue using [Project Profile Card review and update Issue Template](https://github.com/hackforla/website/issues/new?assignees=&labels=Role%3A+Product+M

[2020-12-25 00:13] daniellex0 commented on #851
I added my notes for some more adjustments on Figma under 'Round 3 notes' to the right (it's getting really close!):

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692

[2020-12-27 00:50] abenipa3 commented on #826
@j100892 Hello! Thank you for updating us with the new meeting times.

@Rankazze @ExperimentsInHonesty May we please update the meeting times for Record Clearance to the following? Thank you.

Dev meetings Thurs. @ 6 PM PST - 7PM PST
Design & Research meetings Tues. @ 6 PM PST - 7 PM PST
Team meetings Biweekly Mon. @ 6 PM PST - 7 PM PST

[2020-12-27 09:47] ltung05 commented on #803
**Progress:** The transcript has been highlighted, summarized some key takeaways and topics we can speak to with the new introduction video, see attached.
**Blocks:** Need to brainstorm with @ExperimentsInHonesty on how long the new video should be, sequences/topics/information we should cover
**Availability:** Should be available most of next week.
**ETA:** TBD

[20201215 Onboarding.docx](https:/

[2020-12-27 12:49] tarang100 opened #875 "Update Project Profile: Engage"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/engage

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github
  - [ ] S

[2020-12-27 12:49] tarang100 opened #1033 "Update Project Profile: Engage"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/engage

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information

[2020-12-27 12:57] tarang100 opened #876 "Update Project Profile: Food Oasis"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/food-oasis

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github
  - [

[2020-12-27 13:04] tarang100 opened #877 "Update Project Profile: Home Unite Us"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/home-unite-us

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github

[2020-12-27 13:04] tarang100 opened #953 "Update Project Profile: Home Unite Us"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/home-unite-us

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated infor

[2020-12-27 17:11] tan-zhou commented on #927
Leadership
Name: Tan Zhou
Role: UX Research Lead
Slack member ID: UPMSC27G8
Github Handle: tan-zhou

[2020-12-27 17:46] daniellex0 commented on #577
Progress: Researched and designed standard UI grid system, learned how to wire up the Figma components from Yuiko, made progress with adding mobile elements to design system, made progress with standardizing header/page layouts including mobile, made progress on standardizing class names, continued drafting documentation/explanations.

Next steps: Finish header/page layouts standardization (mobile

[2020-12-27 17:55] drubgrubby commented on #851
### Progress
Against my better judgement, I decided to fix some javascript bugs (while I was there) and this has turned into a blood pressure raising...fun party.

I have two little things to finish on this:
1) Remove the event listeners for the accordion when switching from desktop to mobile
2) Make the sticky nav stick in the right place when going from mobile to desktop.

### ETA
Saying when I

[2020-12-27 18:00] KianBadie commented on #831
I double checked the things I mentioned in the above comments. It seems like the current fix works perfectly fine and no other places in the project depend on the old way of referencing the languages data. The only reason I would see changing the structure back is to keep consistency between the different data sets (as contributors data is accessed by `<Contributors Data Set>.data` as opposed to a

[2020-12-27 18:14] pawan92 commented on #957
@pras4u Can we have an update on this please?
1. Progress: 
2. Blocks: 
3. Availability: 
4. ETA:

[2020-12-27 18:17] ahdithebomb commented on #162
@jbubar has a solution for the quote being in the wrong place.  Formatting the question mark, will talk to the development team this week.

[2020-12-27 18:22] pawan92 commented on #632
@christina245 Please provide an update:
1. Progress: 
2. Blocks: 
3. Availability: 
4. ETA:

[2020-12-27 18:26] ltung05 commented on #803
@ExperimentsInHonesty & @ltung05 to review this issue on Tuesday PMs meeting

[2020-12-27 18:36] christina245 commented on #632
We've decided to add some more content:

- [ ] add an Impact section
- [ ] reach out to the team members of the projects to get a better understanding of the project to see what else would be important to include on the page

[2020-12-28 01:36] Olivia-Chiong commented on #852
Update completed by @mdothman

[2020-12-28 01:36] #852 closed, assigned to nobody

[2020-12-29 19:19] ahdithebomb commented on #940
I found another PM for the project & pinged them on the existing request in the Slack Channel. Waiting on their response currently.

[2020-12-29 21:33] ahdithebomb opened #879 "Update Project Profile: 311 Data, Civic Tech Index, Civic Tech Structure"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Action Items
- [ ] Get updates from the following 3 projects
    - [x] 311 Data  https://github.com/hackforla/product-managment/issues/38
    - [x] Civic Tech Index  https://github.co

[2020-12-29 21:38] ahdithebomb opened #880 "Update Project Profile: [LA TDM Calulcator]"
### Overview
Please review the following information for your project and provide any updates

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://www.hackforla.org/projects/tdm-calculator

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below

[2020-12-29 21:39] ahdithebomb opened #881 "Update Project Profile: [Lucky Parking]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/lucky-parking

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
   - [ ] Name
   - [ ] Role

[2020-12-29 21:39] ahdithebomb opened #937 "Update Project Profile: Lucky Parking"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/lucky-parking

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [x] title
- [x] description
- [x] image
- [ ] leadership
   - [x] Name
   - [x] Role

[2020-12-29 21:41] ahdithebomb opened #882 "Update Project Profile: [New Schools Today]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/new-schools-today

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
   - [ ] Name
   - [ ] Ro

[2020-12-29 21:41] ahdithebomb opened #938 "Update Project Profile: New Schools Today"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/new-schools-today

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
   - [ ] Name
   - [ ] Ro

[2020-12-29 21:52] ahdithebomb opened #885 "Update Project Profile: LA TDM Calculator, New Schools Today, Lucky Parking"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Action Items
- [ ] Get updates from the following 3 projects
    - [x] LA TDM Calculator  https://github.com/hackforla/product-management/issues/37
    - [x] Lucky Parking  https://gi

[2020-12-29 21:55] ahdithebomb opened #886 "Update Project Profile: [Public Tree Map]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/public-tree-map

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] title
      - [ ]

[2020-12-29 21:59] ahdithebomb opened #887 "Update Project Profile: [Record Clearance Project]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/record-clearance-project

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] title

[2020-12-29 21:59] ahdithebomb opened #949 "Update Project Profile: Record Clearance Project"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/record-clearance-project

### Action Items

- [x] [INSERT TEAM NAME HERE] Team Leadership
   - [x] Please check off everything that is

[2020-12-29 22:01] ahdithebomb opened #888 "Update Project Profile: [Undebate]"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/undebate

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] title
      - [ ] descrip

[2020-12-29 22:01] ahdithebomb opened #954 "Update Project Profile: Undebate"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/undebate

### Action Items

- [ ] Undebate Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if n

[2020-12-29 22:11] ahdithebomb opened #889 "Update Project Profile: Public Tree Map, Record Clearance Project, Undebate"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Action Items
- [ ] Get updates from the following 3 projects
    - [x] Public Tree Map https://github.com/hackforla/product-managment/issues/46 @ExperimentsInHonesty has reached out.

[2020-12-29 22:17] tarang100 opened #890 "Kanban Onboarding Flowchart"
### Overview
We need a flowchart to visualize how issues move on the board to get new PMs up to speed

### Action Items

- [ ] Product
   - [x] Contact Thad K for Miro Board access
   - [x] Contact Gio to learn about his availability for the Miro lesson (Mention our 4pm EST Tuesday meeting and 2pm EST Sunday meeting)
   - [ ] Coordinate with team if the meeting time is outside the team meetings (B

[2020-12-29 22:24] ltung05 commented on #803
@ltung05 converted word doc to google doc:
https://docs.google.com/document/d/1k0HYLcEhqAWLliokM_FRfva-vRjz0uEgFRCeaNFZb1k/edit

@ExperimentsInHonesty suggested making this 5-minute video, @ltung05 will review the document once again and extract more key points from the meeting, as well as analyzing the original onboarding video to come up with topics to talk about in the new video.

[2020-12-30 03:02] ExperimentsInHonesty opened #891 "Add project vertical information to project cards: Citizen Engagement"
### Overview
We need to add the vertical information to each project for Citizen Engagement so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] 311
- [x] Engage
- [x] Food Oasis
- [x] Lucky Parking

### Resources/Instructions
Project files are located at [/gh-p

[2020-12-30 03:22] ExperimentsInHonesty opened #892 "Add project vertical information to project cards: Civic Tech Infrastructure"
### Overview
We need to add the vertical information to each project for Civic Tech Infrastructure so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] Civic Tech Index
- [x] 100 Automations
- [x] Civic Opportunity Project
- [x] Civic Tech Structure
- [x] VRMS

[2020-12-30 04:03] ExperimentsInHonesty opened #893 "Add project vertical information to project cards: Diversity Equity and Inclusion"
### Overview
We need to add the vertical information to each project for Diversity Equity and Inclusion so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [ ] Write for All

### Resources/Instructions
Project files are located at [/gh-pages/_projects](https://gith

[2020-12-30 04:16] ExperimentsInHonesty opened #894 "Add project vertical information to project cards: Environment"
### Overview
We need to add the vertical information to each project for Environment so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [ ] Public Tree Map

### Resources/Instructions
Project files are located at [/gh-pages/_projects](https://github.com/hackforla/

[2020-12-30 04:19] ExperimentsInHonesty opened #895 "Add project vertical information to project cards: Justice"
### Overview
We need to add the vertical information to each project for Justice so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] Record Clearance
- [x] Heart

### Resources/Instructions
Project files are located at [/gh-pages/_projects](https://github.com/h

[2020-12-30 04:35] ExperimentsInHonesty opened #896 "Revise project vertical information to project cards"
### Overview
We need to add the vertical information to each of the projects below so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
- [ ] revise the Key/Value pair on the
   - [ ] from `vertical: 'Under Development'`
   - [ ] to: `vertical: 'Social Safety Net'
- [ ] on the following projects mark down files
   - [ ] Home Unite Us
   -

[2020-12-30 04:59] ahdithebomb opened #897 "Onboarding Docker-Users Group Issue"
### Overview
We need to provide an easier way for local user accounts to access Docker so that new members can complete the onboarding process.

### Action Items
- [x] Write a wiki about Windows 10 Home + other editions Docker setup
- [x] Add the appropriate wording and link to the read me file in the repo

### Resources/Instructions
https://github.com/hackforla/website/wiki/Adding-local-user-acco

[2021-01-01 01:53] #892 closed, assigned to ItsLaszlo

[2021-01-03 12:11] daniellex0 opened #902 "Update Developers' Wiki README"
### Overview
- We need to update the Dev README to include details about creating a second branch, in order to prevent the same mistake most new devs have been making.

### Action Items

- [x] UX Writing
   - [x] Update the Readme with details discussed at last dev meeting

### Resources/Instructions

- [Google doc draft](https://docs.google.com/document/d/14IeaRuvQEdAO1JS6m7S9J4MkiSz__71fm55sPIXj

[2021-01-03 14:40] tarang100 commented on #890
- [X] Contact Thad K for Miro Board access - I contacted Thad for Miro Board Access, who was kind enough to provide the same. The link to Miro Board provided by Thad is https://miro.com/app/board/o9J_lZjN3yQ=/
- [X] Contact Gio to learn about his availability for the Miro lesson (Mention our 4pm EST Tuesday meeting and 2pm EST Sunday meeting) - I contacted Gio regarding the Miro lesson, who shared

[2021-01-03 17:30] daniellex0 commented on #577
Progress: Researched developer-facing design system documentation, made progress with standardizing class names, , continued drafting documentation/explanations, continued finessing design system (type scale, colors, added option for dev-facing addition to Figma file, etc)

Next steps: Finalize developer-facing design system documentation, finalize header/page layouts standardization/templates, wi

[2021-01-03 17:33] ltung05 commented on #803
@ltung05 not available to join the meeting this Sunday, will update Bonnie on Tuesday about this issue.

[2021-01-03 17:56] abenipa3 commented on #603
Hello everyone:

I updated the HFLA Team page card with the following:

- Added UX Researcher (Category: UI/UX) to HFLA's newest needs.
- Revised roles for Bonnie and Kian.
- Removed Alex
- Added the new team leads: David, Danielle, Ibraheem, Pawan, Ahdithan, Munas, and Tarang.

Please see below for the screenshots:
![image](https://user-images.githubusercontent.com/38295612/103485856-43ad2100-4da

[2021-01-03 18:09] ahdithebomb commented on #833
Design accepted, Thank You.

[2021-01-03 18:12] jbubar commented on #162
Progress: I have reorganized the structure of the card and css to fix the quote formatting problem, and I have implimented danielle's new design. I just need to add the finishing touches.
Blocks: I did not want to break and rewrite everything, but I bit the bullet and did it.
ETA: Tues Dev meeting
Avaibility: limited, I am finishing up my coding boot camp and the next few weeks will be really busy

[2021-01-03 18:16] #891 closed, assigned to Melissa-Vasquez

[2021-01-03 18:22] ahdithebomb commented on #902
@jbubar will review and @dmcneary + @rh5140 are going to review it while doing their 1st/2nd PRs.

[2021-01-03 19:29] ahdithebomb commented on #603
Need to make the following modifications.
- [x] Need to add Cynthia's GitHub handle, and slack member ID, include Technical Advisor as role
- [x] Remove Munas's card as he is no longer involved

[2021-01-03 19:50] ahdithebomb commented on #632
@ExperimentsInHonesty  will provide a slide deck for the User Center Design Workshop for Empower LA.
@christina245  will rework the card for UXDCW to include the deck.

[2021-01-03 20:20] #902 closed, assigned to rh5140, dmcneary, daniellex0

[2021-01-03 20:22] ahdithebomb opened #904 "Add project vertical information to project cards: Diversity, Equity & Inclusion"
### Overview
We need to add the vertical information to each project for Diversity, Equity & Inclusion so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [ ] Write for All

### Resources/Instructions
Project files are located at [/gh-pages/_projects](https://githu

[2021-01-03 20:26] ahdithebomb opened #905 "Add project vertical information to project cards: Environment"
### Dependencies
GreenEarthOS does not yet exist.  They are working on it: https://github.com/hackforla/GreenEarthOS/issues/3

### Overview
We need to add the vertical information to each project for Environment so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
- [x] Add the Field and Value
[code]
- [x] to the following projects mark do

[2021-01-03 20:29] ahdithebomb opened #906 "Add project vertical information to project cards: Justice"
### Dependency
Waiting on a Racial Justice Card to be created - Issue needs to be created

### Overview
We need to add the vertical information to each project for Justice so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] Record Clearance Project
- [x] Heart

[2021-01-03 20:30] tarang100 opened #907 "Add project vertical information to project cards: Workforce Development"
### Overview
We need to add the vertical information to each project for Workforce Development so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] Work for LA
- [ ] Hack for LA

### Resources/Instructions
Project files are located at [/gh-pages/_projects](https

[2021-01-03 20:31] ExperimentsInHonesty commented on #795
duplicate

[2021-01-03 20:31] #795 closed, assigned to nobody

[2021-01-03 20:34] tarang100 opened #908 "Add project vertical information to project cards: Vote / Representation"
### Overview
We need to add the vertical information to each project for Vote / Representation so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] BallotNav
- [x] UnDebate
- [x] HelloGov

### Resources/Instructions
Project files are located at [/gh-pages/_proje

[2021-01-03 20:36] abenipa3 opened #909 "Linking Information on Docker to the ReadMe"
### Overview
We need to link Ray's Windows 10 Docker Set-up Wiki Page to the Read-Me so that the future Windows-related errors will be easier to be resolved for onboarding members.

Use the following quote in the readme:

### Action Items
- [x] Attach the link [Windows docker-users group error guide](https://github.com/hackforla/website/wiki/Adding-local-user-accounts-to-the-docker-users-group-on-

[2021-01-03 20:37] tarang100 opened #910 "Add project vertical information to project cards: Under Development"
### Overview
We need to add the vertical information to each project for Under Development so that when we launch the Project Verticals page it will automatically include each project.

### Action Items
Add the Field and Value
[code]
to the following projects mark down files
- [x] Home Unite Us
- [x] LA TDM Calculator
- [x] Not Today

### Resources/Instructions
Project files are located at [/gh-pa

[2021-01-03 20:42] ahdithebomb opened #911 "Markdown file vertical format update"
### Overview
We need to update the Vertical values format to include single quotes  so that we maintain a consistent format across the various verticals

### Action Items per Markdown file
- [x] Update where it currently says vertical:  value to vertical:   'value'

For Example, if it says the below
[code]
Change it to
[code]

### Project Markdown files to update
- [x] 311
- [x] Engage
- [x] Food

[2021-01-03 20:58] abenipa3 commented on #603
Files modified and commit merged.

Please see more details here #901. Screenshots included below:
![image](https://user-images.githubusercontent.com/38295612/103488810-b45f3800-4dc4-11eb-8c9f-682746c6ad6c.png)
![image](https://user-images.githubusercontent.com/38295612/103488674-79103980-4dc3-11eb-9876-b269a3abe0ef.png)

[2021-01-03 21:02] jbubar opened #912 "Fix the adding remote section of the readme"
### Overview
we need a clearer explanation for setting up git remotes so that people make fewer mistakes when setting up their git repos

The command `git remote add upstream https://github.com/hackforla/website.git` is in the wrong place and should be moved up.
The `git remote show origin` section is not clear enough.

### Action Items
- [x] put the `git remote add upstream https://github.com/hac

[2021-01-04 08:01] rh5140 commented on #909
I mistook the actual hackforla website repo for my fork of it and approved my pull request without asking anyone to review.  It's "#909 linked docker-users group error guide to README #914" (I didn't realize that the pull request would get its own number and put the issue number at the beginning of my message.) What should I do about this?

I don't think I should be reverting the change and making

[2021-01-04 19:08] rh5140 commented on #909
Cynthia says the pull request looks fine! Closing the issue now.

[2021-01-04 19:08] #909 closed, assigned to rh5140

[2021-01-05 02:07] pawan92 commented on #880
Comments:

- Leadership is missing github handle
- Links is missing test site, demo site and site
- Assuming looking is for open roles? Would like to verify
- Tools: is it same as resources? Verify

[2021-01-05 05:41] ExperimentsInHonesty commented on #312
https://williambuck.dev/
https://github.com/wsbuck/Slack-Redact

[2021-01-05 06:19] ExperimentsInHonesty commented on #706
related issue with additional requirements https://github.com/hackforla/product-managment/issues/20

[2021-01-05 09:32] ExperimentsInHonesty commented on #209
we need to review this deck and figure out where in this guide it goes and it could also use an update: https://docs.google.com/presentation/d/1XUSHMjSEPwIHcLUK4aLrXFMSp6SmZpxFTCqLJtZU2g8/edit#slide=id.p

[2021-01-05 10:18] ltung05 commented on #803
Updated with comments and ideas we can develop on for the new onboarding video, to be discussed with Bonnie for the next step:
https://docs.google.com/document/d/1k0HYLcEhqAWLliokM_FRfva-vRjz0uEgFRCeaNFZb1k/edit

[2021-01-05 17:49] ahdithebomb commented on #939
@Olivia-Chiong will be providing some updates by Sunday.

[2021-01-05 18:29] ahdithebomb commented on #957
@pras4u will provide updates after this week's Team Meeting.

[2021-01-05 21:22] ahdithebomb opened #915 "Set up Miro account for HackforLA website team"
### Overview
We need to setup a Miro Account so that the HackforLa website team so that we can begin to use Miro for relevant projects.

### Action Items
- [x] Follow the instructions in the Create a Miro Account guide
   - [x]  Check to see if there is an email hackforla@gmail.com
      - [x] If no, create one
      - [ ] If yes, recover password for it

### Resources/Instructions
[Create a Miro

[2021-01-05 22:05] pawan92 opened #916 "Create a Mock Video to instruct common kanban tagging mistake"
### Overview
We need a mock video of a person creating an issue and assigning the wrong tags.

### More detail
According to the "How to use the Kanban board document", `adding the front end tag to an issue because it will eventually need front end support is not the correct way to use a tag. Instead, the tag should be assigned once it is at that stage. This is helpful so that issues can be filtere

[2021-01-05 23:22] ExperimentsInHonesty commented on #940
Change description to move second paragraph

Each of the 80+ Code for America Brigades is an experiment which generates valuable learnings and new effective processes and practices. However, Brigades and other civic tech volunteer organizations need not start from scratch. This project aims to improve existing structures and create new ones that make it easier to share replicable processes and pra

[2021-01-06 01:03] ExperimentsInHonesty commented on #940
team needs to update the looking for.  I'll bring it up in tomorrow am's meeting.
I need to validate what languages the work thad and jon are doing is in.

will have to check to see what the logic is for presenting cfa links instead of hfla links in slack.

[2021-01-06 02:55] pras4u commented on #957
Attached WIP Requirements...Will give you an update post our team meeting @ahdithebomb
[H4LA – 311-data Project Card.pptx](https://github.com/hackforla/product-managment/files/5773676/H4LA.311-data.Project.Card.pptx)

[2021-01-06 03:30] rh5140 commented on #897
Finished as part of Issue #909

[2021-01-06 03:30] #897 closed, assigned to rh5140

[2021-01-06 03:36] jbubar commented on #819
Kenneth @kenman79 is interested in taking on this issue. He can assign himself once he has been added to the github

[2021-01-06 03:43] jbubar commented on #756
@cnk Can you look at this issue? In the developer meeting, we were leaning towards closing it. It appears that github actions are disabled on people forks by default.

[2021-01-06 03:46] #912 closed, assigned to dmcneary

[2021-01-06 04:06] abenipa3 commented on #603
Hi @ExperimentsInHonesty , this pull request was merged. Just waiting for your approval to close this issue. Thank you!

[2021-01-06 06:23] jbubar opened #917 "Move svg's to the assets/images"
### Overview
There are three svg's on the events page that should be moved to the assets/images/events

### Action Items

- [x] Create an events folder in ./assets/images
- [x] copy and paste the svg's into their own files, and name them appropriately
- [x] replace the svg's with img HTML tags and check the events page to make sure it looks the same. https://www.hackforla.org/events
- [x] update t

[2021-01-06 06:24] jbubar commented on #796
In the developer meeting today we discovered that some of the svgs' are in the html files directly. So I opened this issue to fix it. #917

[2021-01-06 17:54] tarang100 opened #918 "Adding 'Label' Information to the Guide on Getting the Most Out of GitHub Issues"
### Dependency
~Issue #794  assigned to @alyssabenipayo~
- [ ] The wiki for the website team is working and there are pages about the labels.

### Overview
We need to add the following details to the Guide on [Getting the Most Out of GitHub Issues](https://www.hackforla.org/guide-pages/github-issues.html) to enable a more comprehensive understanding for new volunteers

### Action Items
- [x] Add t

[2021-01-06 18:17] martham0 commented on #917
There is one more image on the toolkit page that needs to be moved to the assets/images/guides
https://www.hackforla.org/toolkit

[2021-01-06 19:53] jbubar commented on #796
@ExperimentsInHonesty @daniellex0 On the figma it lists the artist as "stories", and I just wanted to check its accuracy with you both before i merged.
![Screen Shot 2021-01-06 at 11 52 46 AM](https://user-images.githubusercontent.com/53061723/103813924-b3711500-5015-11eb-916d-f0f6b8304c7c.png)

[2021-01-06 19:59] ItsLaszlo commented on #796
Created md files in credits for the remaining icons used across the site. However, I did not make them for 3 of the icons(Issue #917) due to them being embedded directly into the svg tag.

Waiting for confirmation on the above to merge.

[2021-01-06 20:29] ItsLaszlo opened #921 "ReadMe Update: Issue updates & update pull requests"
### Overview
The Using Git section is missing a line on writing an issue update after completing said issue. Would also be helpful to add a section about editing code on pull requests after submitting them.

**The possible line to add regarding issue updates:**

Step 8/9
Make sure to include pictures of any visual changes made to the site and document your edits on the PR so that the reviewer can

[2021-01-06 20:31] ItsLaszlo commented on #921
@ExperimentsInHonesty  Hi Bonnie, can you look this over and let me know whether this would be beneficial to add to the read me. Thanks.

@jbubar keeping you in the loop

[2021-01-06 23:48] daniellex0 commented on #796
@martham0 Yeah that should be fine, stories is apparently the name of the organization that put these images on Freepik and I don't see any specific names beyond that- https://www.freepik.com/stories

[2021-01-07 04:03] ExperimentsInHonesty opened #922 "Add project to website: Youth Justice Nav"
### Overview
Add the new project Youth Justice Nav to the website

### Action Items
- [x] Make a markdown page called youthjusticenav.md from the content [here](https://github.com/hackforla/YouthJusticeNav/issues/1#issuecomment-752819904)
  - [x] make sure that is formatted to standard
- [x]  add the images from this [comment](https://github.com/hackforla/YouthJusticeNav/issues/1#issuecomment-7558

[2021-01-07 17:12] Baleja commented on #940
languages are python, R & Colaboratory.

[2021-01-08 00:39] Olivia-Chiong commented on #939
@ahdithebomb our project information update is ready and available on this [issue](https://github.com/civictechindex/CTI-website-frontend/issues/164)

[2021-01-08 02:11] KianBadie commented on #831
I currently have a branch that reverts things to the old way "`languages.data` instead of just `languages`" which keeps keeps the structure of the data similar to the contributors data set. Like I mentioned earlier, I'm not sure if  the `data` property is necessary, since all these data sets just have one property (which is the `data` property). But I think that topic is outside this issue (sorry

[2021-01-08 04:15] pras4u commented on #957
![311_Mockup](https://user-images.githubusercontent.com/44175476/103973727-ff5eaf80-5124-11eb-909c-0d2cfd263b12.png)
Please use the attached mockup for the new hero image for 311 project card

[2021-01-10 00:55] ItsLaszlo commented on #917
I have created the remaining necessary svg files in the corresponding folders (Hacknights) as well as md files in the credits folder. Only need to link them on the page now.

[2021-01-10 02:52] dmcneary commented on #922
Screenshots:
- Home page card:
  ![image](https://user-images.githubusercontent.com/43227293/104113153-a0777280-52ab-11eb-9149-e0498cd1b32e.png)
- Project page:
  ![image](https://user-images.githubusercontent.com/43227293/104113170-d3ba0180-52ab-11eb-9c25-1318d4ee65ec.png)

[2021-01-10 05:33] Rankazze commented on #922
Looking good.

[2021-01-10 07:20] jbubar commented on #162
Progress: I have not made much progress this week. I put in only an hour or so.
Blocks: had to refactor the read more functionality
ETA: next week's meeting January 17th.
Availibility: only a few hours this week, but a whole day on the weekend

[2021-01-10 17:15] daniellex0 opened #923 "Standardize all buttons across the site"
### Overview
We need to standardize the buttons across the entire HfLA site. This is to ensure visual consistency, and to make it easier and more efficient for developers to insert buttons when creating new pages.

### Action Items

UI/UX
- [x] Audit all buttons on site
- [x] Determine standard button features (colors, sizes, etc)

Development
- [x] Determine CSS class names and properties for sta

[2021-01-10 17:25] daniellex0 commented on #577
Progress: Added CSS and context screenshots to all components in Figma design system page, made progress with implementing button changes on site, continued drafting documentation/explanations, continued finessing design system

Next steps: Finish implementing button changes and push by Tue dev meeting, finalize developer-facing design system documentation, finalize header/page layouts standardiza

[2021-01-10 17:33] KianBadie commented on #615
It seems like this issue has lost some traction. However, I am willing to make availability for whenever I'm needed to work on the article. Please correct me if I'm wrong, but I believe the state of the article is that it is waiting for more review from modifications I have made. So like I said, feel free to let me know if I'm needed for anything like reviewing. Or, please let me know if I'm wrong

[2021-01-10 18:18] pawan92 commented on #819
@KenMan79
1. Progress: None
1. Blockers: computer problems
1. Availability: good
1. ETA: 1/10/21

[2021-01-10 18:21] pawan92 commented on #906
@evancchen
1. Progress: Unable to install docker
2. Blockers: Computer problem
3. Availability: After wednesday
4. ETA: 1/17/21

[2021-01-10 18:25] dmcneary commented on #922
1. Progress: Awaiting review
1. Blockers: none
1. Availability: open
1. ETA: 1/10/21

[2021-01-10 18:26] pawan92 commented on #911
@trtincher
1. Progress: Work is completed but unsure about submitting a PR
2. Blockers: Questions about submitting a PR
3. Availability: good
4. ETA: 1/10/21

[2021-01-10 18:29] pawan92 commented on #908
@rh5140 Please put an update on your issue
1. Progress:
2. Blockers:
3. Availability:
4. ETA

[2021-01-10 18:32] #756 closed, assigned to hit1st

[2021-01-10 18:32] pawan92 commented on #756
Dev team all in agreement on closing this issue. Different peoples repo behave differently.

[2021-01-10 18:35] pawan92 commented on #794
@alyssabenipayo Please update your issue with following information
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-01-10 18:48] pawan92 commented on #921
@martham0 Bonnie asked for an update to the details on how to do update on your issue

[2021-01-10 19:53] tarang100 commented on #209
@pawan92 will suggest some additional language for comment on page 3
@tarang100 will sign-up for Miro and make a flowchart (issue #890 )

[2021-01-10 19:55] ltung05 commented on #803
@ltung05 to keep working on the document prior to reviewing it with @ExperimentsInHonesty on 1/11/2021

[2021-01-10 19:55] tarang100 commented on #890
Link to instructions for setting up Miro Board
https://github.com/hackforla/knowledgebase-content/issues/7

[2021-01-10 19:57] #796 closed, assigned to ItsLaszlo

[2021-01-10 20:08] dmcneary commented on #922
Ran into issue with post-merge sync with fork vs. upstream - will add a line clarifying this process in README

[2021-01-10 20:11] rh5140 commented on #908
Update: Sorry, I didn't know there was an update format.

1. I finished but didn't actually complete the process of making a pull request on the website when I made the commit ;________; I opened the link to the website and called it a day before clicking "New Pull Request" lmao
2. Now I don't know how to make the pull request based on a past commit. I did some googling and tried checking the git

[2021-01-10 20:41] jbubar opened #925 "add github avatar photo"
### Overview
Add github photo for each wins card if they approve..
If they include a github link and give permission to use it, find the photo in the [_data/github-data.json](https://github.com/hackforla/website/blob/gh-pages/_data/github-data.json), and replace the default avatar img with it.
![Screen Shot 2021-01-10 at 12 20 38 PM](https://user-images.githubusercontent.com/53061723/104134442-5ab

[2021-01-10 20:42] tarang100 commented on #1033
Remove Teddy from leadership
@ExperimentsInHonesty says there is currently no product manager for Engage

[2021-01-10 21:01] rh5140 commented on #908
UPDATE: I HAVE SUCCESSFULLY MADE MY PULL REQUEST!

I made a new branch and restarted haha.

[2021-01-10 21:04] #869 closed, assigned to pawan92

[2021-01-10 21:04] pawan92 commented on #869
This is a duplicate of #889

[2021-01-10 21:35] tarang100 commented on #587
We are reconsidering making this because of the difficulty in monitoring updates

[2021-01-10 21:43] ExperimentsInHonesty commented on #819
@KenMan79 is still having computer issues.  He sent me this on slack to add to the issue comments and asked me to remove him from the issue while he gets his computer sorted out.

[code]

[2021-01-10 22:02] ExperimentsInHonesty commented on #922
I sign off on the look.  Looking forward to seeing it on the website!

[2021-01-11 02:14] abenipa3 commented on #794
Hello @pawan92, this is my progress so far.

I updated the HTML and SCSS files for Getting the Most out of GitHub Guide as seen below so that the arrow points are positioned properly on full screen. Restructuring was not needed.

(Full Screen Version Preview)
![image](https://user-images.githubusercontent.com/38295612/104141715-f2cc9800-536c-11eb-98e9-2d22dd481fda.png)
(Mobile Version Preview)
![i

[2021-01-11 05:45] gregpawin commented on #937
description: Helping the city planners and the community make informed decisions about parking policies in the City of Los Angeles
slack link: https://hackforla.slack.com/archives/CPFDMSV6V
test site: https://www.luckyparking.info (currently not 100% operational)
demo and site: not ready yet

Will update leadership tomorrow

[2021-01-11 20:25] ExperimentsInHonesty opened #932 "Add a project card to the website: open community survey"
### Overview
We need to add the open community survey project to the website so that we can onboard new people.

### Action Items
- [x] Development
   - [x] see issue for details about project card
   - [x] Identify if any items are missing
   - [x] Create new assets locally (project.md file and images)
   - [x] take screen shots and add them to issue for stakeholder confirmation
   - [x] put in P

[2021-01-11 23:59] ltung05 commented on #803
Document finished. @ExperimentsInHonesty to test this format with the onboarding session tonight and receive updated feedbacks from the meeting. @ExperimentsInHonesty will record the meeting and @ltung05 will use Otter to pick up the comments again and see if we can further improve this document.

Also discussed splitting the video into several shorter versions and/or adding a transcript for newco

[2021-01-12 03:14] abenipa3 commented on #794
- Progress: Approximately 85% done with updating the Getting the Most out of Github Guide.
- Blocks: Need to figure out how to resolve the visual issue when viewing in iPad mode. (UPDATE 1/14+1/16: Reached out to Hannah for questions.)
- Availability: Open
- ETA: 1/17 for the Getting the Most out of Github Guide. Wiki Page TBD

[2021-01-12 04:31] #908 closed, assigned to rh5140

[2021-01-12 04:55] #917 closed, assigned to ItsLaszlo

[2021-01-12 15:05] pawan92 commented on #209
I have updated the document addressing my comment on page 3.

[2021-01-13 01:07] gregpawin commented on #937
# Project Leadership:

Product Owner / Data Science Lead: Greg Pawin
https://hackforla.slack.com/team/UUEQF3AJG
gregpawin

Product Manager: Abhinav Bommakanti
https://hackforla.slack.com/team/U01EW24KL3V
abhib87

Full-Stack Developer Lead: Matthew Ginther
https://hackforla.slack.com/team/U013GNM93U1
mg78856

Full-Stack Developer: David Kim
https://hackforla.slack.com/team/U3MNUEQJ3
hyomiTheTech

F

[2021-01-13 01:39] gregpawin commented on #937
Does that seem satisfactory?

[2021-01-13 02:52] jbubar opened #934 "Rewording the git flow"
### Overview
I thought we could use this issue to discuss how to word the git flow.

here is the part that I am thinking of editing:

It might be easier to use the following commands.

@KianBadie showed me this git flow and I have been doing it since.
It appears that new contributors have been a bit confused by what is happening in the current git flow, so I thought I would bring this up

### Acti

[2021-01-13 03:32] jbubar opened #935 "standardize our prettier automatic code editing"
### Overview
In the dev meeting @trtincher and @martham0  noticed that our code extensions were changing the code in our pull requests unintentionally. We need to come up with a solution to standardize this.

### Action Items

- [ ] Come up with a solution
- [ ] get bonnies approval
- [ ] finish writing out issue

### Resources/Instructions
Possible solutions
- github actions
- CI tools (travis ci

[2021-01-13 03:34] #911 closed, assigned to trtincher

[2021-01-13 05:22] daniellex0 opened #936 "Add mayor quote portion to bottom of About Us page"
### Overview
We need to replace the screenshot of the mayor's quote on the bottom of the [About Us page](https://www.hackforla.org/about-us) with code so that it can be visible to search engines, etc.

Note: The About Us page is in progress and being worked on by @drubgrubby who is on a break right now so please don't edit any of the other code on this page, but this quote portion should definitel

[2021-01-13 16:06] ahdithebomb commented on #879
Update
- [x] Civic Tech Index information is gathered.
- [x] Civic Tech Structure information is gathered
- [x] 311 Data Information is gathered

[2021-01-13 17:22] ltung05 commented on #803
New onboarding session (on 1/12/2021) audio file provided by @ExperimentsInHonesty:
https://us02web.zoom.us/rec/play/DiaB1eOFE9pn4ws5SMY_ShMlkjhFMlEQnts5Cx-CAp10AYUyC_NtxETRbzVOFMrfbIkT8nQjVzZkvSvG.WWWgFmP_gosod-RZ

@ltung05 to transcribe and extract information from it

[2021-01-13 18:15] ExperimentsInHonesty commented on #209
@pawan92 Add glossary items to the doc and a screen shot for the no:projects search on the issues tab

[2021-01-13 18:18] ExperimentsInHonesty commented on #893
duplicate

[2021-01-13 18:18] #893 closed, assigned to nobody

[2021-01-13 18:55] pawan92 commented on #938
Reached out to Josh on slack Jan 12. He replied "he will look into this and and we will have to make big changes"

[2021-01-13 18:58] tarang100 commented on #953
Reached out to Alex Le on Slack on 13th January 2021 at 7:17 am (PST) / 8:47 pm (IST)

Tarang Gupta  8:47 PM

Alex Le  9:04 PM

'

[2021-01-13 19:11] tarang100 commented on #867
Engage - Waiting till Bonnie has assigned a PM
Food Oasis - Have to attend their team meeting on Thursday
Home Unite Us - PM Alex has said that she will get back to me. I will check with her during the team meeting on Sunday

[2021-01-13 19:23] ahdithebomb commented on #938
No update needed, for now, the project is being put on hold.

[2021-01-13 19:24] ahdithebomb commented on #938
Action Item
- [ ] Change Project Status to On Hold

[2021-01-13 19:39] ahdithebomb commented on #957
Action Items for Product Manager
- [ ] Please provide a text string with commas to indicate your technologies.

Notes
Languages are pulled automatically from your Github repository.

[2021-01-13 19:55] ahdithebomb commented on #957
We provided the updated meeting times to VRMS, up to Product Manager to follow up @captain-nimo
https://github.com/hackforla/VRMS/issues/458

[2021-01-13 19:59] Olivia-Chiong commented on #939
**Update project description with** "Our goal of the project is to create a comprehensive, searchable index of all civic tech open source software projects around the world. We have created the framework and an interest list. We are currently working on building out the website and other marketing tools that demonstrate the power of the index."

**Leadership update**

Bonnie Wolfe
Slack ID: UE1UG1

[2021-01-13 20:13] ahdithebomb commented on #957
Leadership changes
- [ ] Remove
    - [ ] Jake Mensch
    - [ ] Ryan Swan
- [ ] Add

Name: Matt Webster
Role: Backend Lead
Github: mattyweb
Slack Id:  URLNVEEB0

[2021-01-13 20:14] ahdithebomb commented on #957
@captain-nimo will add the list of technologies.

[2021-01-13 20:22] ahdithebomb commented on #940
We need to figure out how to CFA/Slack links might work different HfLA Slack links

[2021-01-13 20:23] ahdithebomb commented on #879
Check to make sure that 311 Data Information's fully updated and will close once complete.

[2021-01-13 20:31] ExperimentsInHonesty commented on #618
change title from onboard to Getting to know us
temporarily removing the onboarding video
adding the wins

[2021-01-13 20:35] #915 closed, assigned to tarang100

[2021-01-13 20:41] Olivia-Chiong commented on #702
![image](https://user-images.githubusercontent.com/75456721/104508162-ae274380-559c-11eb-82d0-7a06b9168519.png)

[2021-01-14 18:11] mcspach commented on #905
@ahdithebomb
I will go ahead and push a branch with the one change I was able to make.
The reason this issue is not able to be completed:
1. There is already a field and value for vertical in Engage, and this doesn't specify whether to replace or add another value.
2. As of now, there is no file inside of _projects folder for project '#climate-collabathone' OR 'Railstats LA'.

If there is a quick

[2021-01-14 22:58] KianBadie commented on #934
@jbubar oooh I have been brushing up on my git and I would love to try to put the knew things I learned into practice through this :+1: I'll contribute to this soon.

[2021-01-15 02:35] j100892 commented on #949
Leadership Update:

Product Manager(s):

E-mail: gretchenschwab@gmail.com
Slack:@Gretchen
Github Handle: ggrrettcchhenn

E-mail: piercemyranda@gmail.com
Slack:@Myranda Pierce
Github Handle: myrandi

Test Site: https://hackforla.github.io/record-clearance/

[2021-01-15 03:09] pras4u commented on #957
@ahdithebomb please find attached the final set of requirements. let me kn
[H4LA – 311-data Project Card v3.pptx](https://github.com/hackforla/product-management/files/5818173/H4LA.311-data.Project.Card.v3.pptx)
ow in case of questions.

[2021-01-15 03:58] captain-nimo commented on #957
@ahdithebomb, the technologies I've mentioned earlier seems like a bit backdated. Please find the updated list below (I'll delete my earlier comment to avoid confusion). Let me know if you need anything else.

`Technologies: ReactJS, Redux, Material-UI, Mapbox, AWS, Python, FastAPI, Redis, PostgreSQL, Prefect, Docker, Figma, Adobe CC, Miro`

[2021-01-15 13:23] IAgbaje commented on #702
https://docs.google.com/document/d/16WCSaq85CctipRCDernAdGn5jtKqK3wVGNXjpv1dOck/edit?usp=sharing

[2021-01-15 21:26] dmcneary commented on #925
Issue completed. Edited function makeCards to check if permission is granted to use Github profile picture in `wins-data.json`, then searches each project in `github-data.json` for the winner's Github URL in contributors. If found, the user's Github ID is recorded and used to retrieve the profile picture from Github. If the winner's Github URL is not found in contributors, or permission is not gra

[2021-01-15 23:21] quyenvhle commented on #953
Image:
![HUU-Logo V1 (1) (1)](https://user-images.githubusercontent.com/26660349/104786825-08223780-575c-11eb-95c9-ad4976563f75.png)

Leadership:

Role: HUU Tech Lead
GitHub Handle: tylerthome
Slack Id: ULN1M6UAH

Role: Product Manager
GitHub Handle: abbyhipp
Slack Id: U0189RUQM7Y

Role: Calendar Tech Lead
GitHub Handle: javaprincess
Slack Id: U014ZPWTJV6

Link

Looking: Product Manager, React Exp

[2021-01-16 17:49] ahdithebomb commented on #707
Chatted with @jbubar & @daniellen00 this week to gather initial information. We will conduct additional research to finalize the following sections.
- [ ] Image Formats
- [ ] Sizing Best Practices

Overall first pass of the guide to be completed in 2 weeks with mock-ups.

[2021-01-16 17:50] ahdithebomb commented on #707
Linke to the guide
[Guide](https://docs.google.com/document/d/17AbUtj9aIA8G88O8AVJnyL1jz4cNQ3x740cmzO-2yzk/edit)

[2021-01-17 00:49] rh5140 commented on #936
1/16 Update

1. Progress: Read site architecture page, downloaded Jekyll. Played Flexbox Froggy to familiarize myself with flexbox. I looked at the About Us Figma page briefly.
2. Blockers: Don't know how to access the part of the CSS w/ the mayor's quote, don't know how I would format the two little quote things in the top corner. Perhaps I need to familiarize myself with the site architecture mo

[2021-01-17 16:33] rfambro2 commented on #927
@tarang100  - This looks fine to me. Sorry for the delay.

[2021-01-17 17:26] tarang100 commented on #954
Posted the issue in the Undebate Slack channel on 14th January 2021 at 10:42 PM IST / 9:12 AM PST

Reached out to David on Slack on 17th January 2021 at 10:53 PM IST / 9:23 AM PST

[2021-01-17 17:33] daniellex0 commented on #577
Progress: Created [pull request](https://github.com/hackforla/website/pull/944) to standardize buttons across the site, created [new wiki page](https://github.com/hackforla/website/wiki/Standardized-Components) called Standardized Components as dev-facing documentation about design system, worked on editing newer Figma pages to be consistent with design system, continued working on standardizing c

[2021-01-17 17:35] ltung05 commented on #803
**Progress:** Was busy with interview prepping and home project last week. Working on this today after the team meeting.
**Blocks:** N/A
**Availability:** Will be busy for the upcoming week but will dedicate time for this task
**ETA:** Will be done before Wednesday PM meeting

[2021-01-17 17:39] KianBadie commented on #615
As a follow up to my previous comment, I am almost done combing the codebase. I want to wrap things up today. But if not today I want to wrap it up Tuesday. As always, feel free to let me know when the article-related things need to be attended to.

1. Progress - Combed about 85% of the codebase
2. Blocks - Further feedback/review on the article.
3. Availability - I can make time as needed!
4. ETA

[2021-01-17 17:44] ahdithebomb commented on #859
Progress:  Got directions from @ExperimentsInHonesty on the next steps and have begun to brainstorm for the survey.
Blocks: N/A
Availability: I Will coordinate with @nielseny and work on this over the weekend.
ETA: We will have a first pass of the survey before Tuesday's meeting.

[2021-01-17 17:48] drubgrubby commented on #851
**Progress**

...okay, where was I?

The two items in the previous comment still need to be fixed.  I am going to see if @KianBadie has a few minutes to brainstorm this with me this week.

**Blockers**
Time. (I have to get my mother's apartment cleared out this week.)

**ETA**
I'm not going to have a lot of time this week, but hopefully I can get these done by next Sunday

[2021-01-17 18:06] dmcneary commented on #925
1/17 update for meeting:
Progress: Completed, PR awaiting review
Blockers: none
Availability: open
ETA: finished

[2021-01-17 18:09] ahdithebomb commented on #799
Progress: N/A
Blockers:  Need additional clarification for Step 1.
ETA: Will be complete before next HfLA Website PM meeting.

[2021-01-17 18:14] tarang100 commented on #934
Most well developed projects move their technical instructions for contributing from a ReadMe to a CONTRIBUTING.md

[2021-01-17 18:15] tarang100 commented on #934
@jbubar will connect with Cynthia and invite her to a developer team meeting

[2021-01-17 18:16] jbubar commented on #910
Fixed by #942

[2021-01-17 18:16] #910 closed, assigned to trtincher

[2021-01-17 18:26] evancchen commented on #906
There isn't a project markdown file for #racial-justice

[2021-01-17 18:29] tarang100 commented on #906
After the pull request is approved the issue will need to be put in the prioritized backlog with the dependency of needs racial justice card

[2021-01-17 18:32] jbubar commented on #162
No update.. going to merge @dmcneary's pull request then I will push my changes on the reformat of the quotes

[2021-01-17 18:33] ddfridley commented on #954
@tarang100
Please update the **description** to:

The **demo link** appears under links on the top level product card, but does not appear under links on the level below that.
For **Leadership/Role** can you do something like "Stake Holder/Technical Lead"
For **Leadership/Github Handle** mine is ddfridley is that what you are looking for?

[2021-01-17 18:45] #922 closed, assigned to dmcneary

[2021-01-17 19:04] jbubar opened #946 "Another css fix"
### Overview
Another Css fix needed on the main page:
![Screen Shot 2021-01-17 at 11 02 31 AM](https://user-images.githubusercontent.com/53061723/104853121-a248c380-58b3-11eb-9339-b4c471b7b4b5.png)

### Action Items
- [x] check out the _includes/forms/contact-us.html file
- [x] check out the _sass/components/_contact-us.scss file
- [x] identify the class that you need to add some stylings to
- [x]

[2021-01-17 20:19] mdothman opened #947 "Setting Up SSH keys for new github users"
### Overview
We need to update the Hack for LA README.md so that it has documentation for setting up ssh keys for users who might run into authorization issues.

### Action Items
- [ ] Discuss with development team where to add text to README.md
- [ ] Add some text saying something to the effect of: if you experience an SSH error, please let the development lead know, so that we can model your exp

[2021-01-18 01:01] abenipa3 commented on #794
UPDATE 1/19/21
- Progress: ~Visual issue resolved - Created a pull request. Will start on writing the wiki page.~ Still need to resolve visual issue (this time on mobile).
- Blocks: Arrows are pushed on top of the elements. Experimenting with media query so that it will work on all devices.
- Availability: Open
- ETA: GitHub Issues, hopefully, 1/20/21...Wiki Page - TBD

[2021-01-18 04:12] evancchen commented on #906
Pull request made, waiting for approval

[2021-01-18 09:46] rh5140 commented on #936
1/18 Update

1. Progress: No change from 1/16, and I'm posting this comment now because I don't expect there to be any change before the Tuesday meeting. The indie game I helped work on releases at noon, so I have spent many hours this weekend getting ready for that :(
2. Blockers: I have not yet had the time to unblock myself regarding the previous blockers :(
3. Availability: Very busy this week

[2021-01-18 14:37] tarang100 commented on #953
@quyenvhle thanks for providing the update! Appreciate it
I had a question though; could you please help me understand why there is no information mentioned against the 'Technologies' and 'Tools' section in your comment? Is it because these sections do not need to be updated or is there another reason?

[2021-01-18 14:54] tarang100 commented on #954
@ddfridley thanks for sharing the update! Please see my responses below

1. Thanks I will get the description updated
1. I am not sure what you mean. The only place that I can see the demo link is under the "Resources" section. Am I missing something here? Please see the following screenshot for reference
![image](https://user-images.githubusercontent.com/75314672/104929671-3147ff80-59ca-11eb-9d6a

[2021-01-18 15:38] tarang100 commented on #949
@j100892 thanks for providing the update! However, could you please share this update in the following format?

- [ ] Member Name:
- [ ] Role:
- [ ] Slack Member ID: [Please refer to [this link](https://medium.com/@moshfeu/how-to-find-my-member-id-in-slack-workspace-d4bba942e38c) to understand how to find the Slack Member ID]
- [ ] Github Handle:

Sharing my details in the above-mentioned format f

[2021-01-18 17:53] ExperimentsInHonesty commented on #940
In order to display the words CfA Slack: before their name link we need to write some logic that looks at the link to see if its a cfa or a hfla slack link.  Before we do that, we need to do a mockup of how the page will look different.

[2021-01-18 23:33] ggrrettcchhenn commented on #949
- [x]  Member Name: Gretchen Howard
- [x] Role: Product Manager
- [x] Slack Member ID: U01GC5HU9AB
- [x] Github Handle: ggrrettcchhenn

- [x] Member Name: Myranda Pierce
- [x] Role: Product Manager
- [x] Slack Member ID: U01E521NT2L
- [x] Github Handle: myrandi

[2021-01-19 15:25] tarang100 commented on #949
Thanks @ggrrettcchhenn! Using this comment to compile the updates shared above, for easy reference by the developers.

Leadership Update:

Member Name: Gretchen Howard
Role: Product Manager
Slack Member ID: U01GC5HU9AB
Github Handle: ggrrettcchhenn

Member Name: Myranda Pierce
Role: Product Manager
Slack Member ID: U01E521NT2L
Github Handle: myrandi

Test Site: https://hackforla.github.io/record-c

[2021-01-19 17:31] tarang100 opened #950 "Review Meeting Links provided on the HfLA Events and Project Meetings pages"
### Dependency
- [x] #3701
- [x] #4252 once this is closed
  - [ ] and a new issue has been made from it and closed.

### Overview
We need to check every meeting link provided on the Events and Project Meeting pages on the HackforLA Website to ascertain any broken or incorrectly mapped meeting links so that visitors to our website can get the most accurate information

### Action Items

- [x] Plea

[2021-01-20 03:28] drubgrubby commented on #906
After we create a Racial Justice card we need to add vertical: 'Justice' to it.  Until then...

[2021-01-20 05:16] dmcneary commented on #946
Would it be suitable to stuff these options into a dropdown menu with one submit button?
[code]
or something like that...I could try and tackle this between taking breaks from my current assigned issue if that works.

[2021-01-20 07:36] quyenvhle commented on #953
@tarang100 Those are to be updated. We need to check with the team to consolidate our list of tools/technologies, but will update it by 11:59 pm tomorrow the latest (Jan 20).

[2021-01-20 15:07] #925 closed, assigned to dmcneary

[2021-01-20 18:06] ahdithebomb commented on #879
I will double-check the new 311 data provided and consolidate all new changes into a single comment.

[2021-01-20 18:07] pawan92 commented on #889
No response from Emily of public tree map. Discuss with Bonnie at next weeks Hack for LA product meeting what next steps are.
Ongoing conversation with David Friddly from Undebate

[2021-01-20 18:08] ltung05 commented on #803
Still working on extracting the transcript, will arrange a separate meeting with Bonnie upon completion.

[2021-01-20 18:11] pawan92 commented on #867
@tarang100 Please provide an update
Progress:
Blockers:
Availability:
ETA:

[2021-01-20 18:15] pawan92 commented on #885
Update:
LA TDM Calculator: Kevin has updated with information to be updated regarding the project
Lucky Parking: Done
New Schools Today: Project status needs to be changed to "On Hold" Created a ticket for this: https://github.com/hackforla/website/issues/955

[2021-01-20 18:21] ahdithebomb commented on #890
@tarang100  please provide an update on the current status.

[2021-01-20 18:54] ahdithebomb commented on #799
I included the team meeting times and made it the first call-out on the wiki.

[2021-01-20 18:55] pawan92 commented on #702
@IAgbaje Please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-20 18:56] ahdithebomb commented on #799
https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-website-team

[2021-01-20 20:51] #853 closed, assigned to abenipa3

[2021-01-21 01:51] #949 closed, assigned to Treidexy

[2021-01-21 02:05] jbubar commented on #946
@dmcneary that is a good idea. Lets ask @daniellex0

[2021-01-21 02:06] jbubar commented on #946
@daniellex0 do you think it would be a good idea to have a drop down with options and one button? instead of the three buttons
[david's idea](https://github.com/hackforla/website/issues/946#issuecomment-763338967)

[2021-01-21 02:22] daniellex0 commented on #946
@jbubar @dmcneary Hmm that might be a bit of a dramatic change for the home page layout right now, but def something we can consider for the near future since work is (slowly but surely) underway on a home page redesign.

Is this a common screen size? Is it phone landscape or something like that? If it's not a common screen size then it might not be an issue. If it is, would it be possible to add

[2021-01-21 03:45] quyenvhle commented on #953
@tarang100 Updated tools and technologies. Let us know if you have any questions!

[2021-01-21 18:01] tarang100 commented on #953
@quyenvhle thanks for the update! Really appreciate the quick reverts! Will let you know if there are any further questions

[2021-01-21 18:14] tarang100 commented on #953
**Note for Developers** - Please utilize the information provided in Alex's comment. Link to comment given below https://github.com/hackforla/website/issues/953#issuecomment-761248700

[2021-01-21 18:26] tarang100 commented on #867
**Progress**
- **_Civic Opportunity Project_**: Project Card added to Prioritized Backlog for front end development
- **_Home Unite Us_**: Project Card added to Prioritized Backlog for front end development
- **_Engage_**: Waiting for Bonnie to confirm the appointment of new PM(s)
- **_Food Oasis_**: Have reached out multiple times, both on the Slack channel and personally, to Jenny but haven't go

[2021-01-21 18:41] tarang100 commented on #889
**Progress**

- **_Record Clearance Project:_** Front end development completed and issue closed by Josh Bubar. Daniel Lee (Member of Record Clearance Project) has confirmed that the front end done, is as per his preference
- **_Undebate:_** Project Card completed and moved to Prioritized Backlog for front end development
- **_Public Tree Map_**: No response from Emily on my requests. Since the me

[2021-01-21 23:04] ddfridley commented on #954
- [x] 1 - done
- [ ] 2 - Can the links section at the top of the page include a link to the demo, the way that the summary card does:
![image](https://user-images.githubusercontent.com/3317487/105423121-ce3caf80-5bf9-11eb-8d71-7aec39790040.png)

![image](https://user-images.githubusercontent.com/3317487/105422561-ca5c5d80-5bf8-11eb-8c81-30f5429e142b.png)

- [ ] 3 - For Leadership/Role can you do s

[2021-01-22 03:31] tarang100 commented on #954
_**For the developers** - Please see this comment for details on all information to be updated._

- Please update the **description** to:

- Please update **leadership** to:

    Role: Stake Holder/Technical Lead
    Slack Member ID: U6RCX5XRD
    Github Handle: ddfridley

- Please update the **links section** to:

[2021-01-22 19:21] #923 closed, assigned to daniellex0

[2021-01-22 19:24] #921 closed, assigned to ItsLaszlo

[2021-01-22 20:19] pawan92 opened #955 "Change New Schools Today Project status to "On Hold""
### Overview
As a product manager, I want to change the status of New Schools Today from "Active" to "On Hold" so community is aware we are not currently working on this project

### Project card
https://www.hackforla.org/projects/new-schools-today

### Action Items

- [ ] Change Project status to "On Hold"

[2021-01-24 05:20] ahdithebomb commented on #859
Progress: Got feedback from @ExperimentsInHonesty on the first draft of the survey. We will make the necessary changes and circle back.
Blocks: N/A
Availability: I Will coordinate with @nielseny to make the necessary revisions.
ETA: We will have the revised version ready for our sync up next week.

[2021-01-24 05:58] ahdithebomb commented on #799
Progress: I updated the meeting times into markdown table form.
Blocks: N/A
Availability:  Flexible next weekend depending on the additional changes that need to be made based on feedback.
ETA: TBD

[2021-01-24 07:38] ahdithebomb commented on #957
**Overview**
Please review the following information and update the 311 data project card

**Images**
- [x] Update the background image.
![311_Mockup](https://user-images.githubusercontent.com/25173228/106981838-c5d39100-6730-11eb-821b-e2983118aded.png)

**Leadership changes**
- [x] Remove
    - [x] Jake Mensch
    - [x] Ryan Swan
    - [x] John Ritchey
- [x] Add

Name: Matt Webster
Role: Backend

[2021-01-24 07:58] ahdithebomb commented on #879
Progress: I transferred the issue after cross-referencing 311 Data's Deck and left a single comment on what needs to be updated for development, Civic Tech Index is also transferred for Front End work.
Blocks:  @ExperimentsInHonesty's approval/clarification for Civic Tech Structure.
Availability: TBD
ETA: TBD, depends on when the assignee gets can complete it.

[2021-01-24 08:06] ItsLaszlo commented on #595
1. Progress: Currently have the layout of the page done. Need to add the css
2. Blockers: None as of yet.
4. ETA: By next Sunday meeting 1/31.

[2021-01-24 08:22] ahdithebomb commented on #707
Progress: Got directions from @ExperimentsInHonesty on what overall improvements need to be made.
Blocks: N/A
Availability: I Will coordinate with @daniellen00 and make necessary updates.
ETA: End of this upcoming week.

[2021-01-24 09:48] tarang100 commented on #890
**Update**

I have created a draft flowchart for review. The same can be reviewed [here](https://miro.com/app/board/o9J_lYkT8vo=/); also providing an updated image of the flowchart below for reference. The flowchart has also been added to the Kanban Guide Document [here](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit?disco=AAAALJJVwrg).

![Kanban Onboarding Fl

[2021-01-24 12:05] daniellex0 opened #958 "Standardize all page cards across the site"
### Overview
We need to standardize the page cards across the entire HfLA site. This is to ensure visual consistency, and to make it easier and more efficient for developers to insert page cards when creating new pages.

### Action Items
UI/UX

- [x] Audit all page cards on site
- [x] Determine standard page card features (colors, sizes, etc)

Development

 - [x] Determine CSS class names and prop

[2021-01-24 12:20] daniellex0 opened #959 "Make the Toolkit page's category-filtering banner functional"
### Overview
We need to make the banner for filtering categories on the Toolkit page functional so that the banner will have a purpose, and so that users can filter the guides by the category the are interested in (Development, Design, Project Management, Professional Development). Keep in mind there are a few guides right now, but many more to come.

### Action Items
Research
- [x] Determine how

[2021-01-24 15:43] trtincher commented on #752
1. Progress: The mobile layout and style is 98% done
2. Blockers: Very small mobile has issues with long titles
3. Availability: Thursday, Friday, Sunday
4. ETA: Sunday 1/31/21
![Screen Shot 2021-01-24 at 9 26 20 AM](https://user-images.githubusercontent.com/35665684/105635462-8780cc80-5e28-11eb-9db5-3b3bf4a8f961.png)
![Screen Shot 2021-01-24 at 9 26 35 AM](https://user-images.githubusercontent.co

[2021-01-24 17:14] KianBadie commented on #615
Sorry for the delays, again. I wrapped up all the testing I wanted to do yesterday. All that is left for me is to check my changes on actual data, merge my branch, and update the package on npm. I wanted to do this this morning before 10am. However, I unfortunately slept past my alarm, so it will be done later this afternoon. So I will be commenting soon when that is done.

I think the package has

[2021-01-24 17:19] KianBadie commented on #615
Sorry for the delays, again. I wrapped up all the testing I wanted to do yesterday. All that is left for me is to check my changes on actual data, merge my branch, and update the package on npm. I wanted to do this this morning before 10am. However, I unfortunately slept past my alarm, so it will be done later this afternoon. So I will be commenting soon when that is done.

I think the package has

[2021-01-24 17:20] pawan92 commented on #577
@daniellex0 Could you update please
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:22] pawan92 commented on #162
@jbubar Any new updates?
Progress
Blocks
Availability
ETA

[2021-01-24 17:23] pawan92 commented on #759
@daniellen00 Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:24] daniellex0 opened #960 "Standardize Toolkit Page with CSS Fixes"
### Overview
We need to standardize the CSS styling of the Toolkit Page so that it will be more consistent with the rest of the HfLA website.

### Action Items
Front-End Development
- [ ] Review the HfLA site architecture
- [ ] Review the CSS fixes on the Toolkit page file on Figma
- [ ] Implement the CSS fixes on the Toolkit page's .scss file

### Resources/Instructions
[Toolkit page Figma file (

[2021-01-24 17:26] pawan92 commented on #851
@drubgrubby Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:27] pawan92 commented on #794
@alyssabenipayo Could you update please
Progress:
Blocks:
Availability:
ETA:

[2021-01-24 17:32] pawan92 commented on #209
Update:
Progress: Addressed all necessary comments and reached out via slack to commentors to take a look again. Added borders for images as well.
Blockers: N/A
Availability: Yes
ETA:

[2021-01-24 17:33] pawan92 commented on #830
@martham0 Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:35] abenipa3 commented on #794
Progress: Reformatting the github-issues-guide.scss so that it would use the classes from the _guide-pages.scss
Blocks: Need to stabilize arrows so that it doesn't move on the overlay image on mobile devices.
Availability: Open
ETA: GitHub Issues - 1/30...Wiki Page - TBD

[2021-01-24 17:35] IAgbaje commented on #702
Task has been completed.

[2021-01-24 17:37] pawan92 commented on #918
@ashleylin1 Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:38] pawan92 commented on #678
@dmcneary Could you update please:
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:40] drubgrubby commented on #851
Progress:  I did not get the JavaScript issues fixed this week.

Blockers: I have to get my mother's apartment cleared out by this week and it's taking longer than I thought.

Availability:  I'm hoping to get to work on Tuesday and be available through the end of the week.

ETA: My plan is to strip the JavaScript out of this issue and make a Pull Request for all of the styling fixes by Tuesday.  I

[2021-01-24 17:40] pawan92 commented on #958
@daniellex0 Could you update please
Progress:
Blockers:
Availability:
ETA:

[2021-01-24 17:48] daniellex0 commented on #577
**Progress:** Button standardization has been implemented across the site. Finished updating the new pages that are going into development for consistency with design system (& wrote guidelines for devs working on them), started creating issues for developers to standardize other pages on site with specific guidelines (Toolkit page), met with new designers to walk through design system and site la

[2021-01-24 17:49] ashleylin1 opened #961 "Update Project Profile: [Project Name]"
### Overview
We need a X for Y reason

### Action Items
- [x] Product
   - [x] ideate
   - [x] define feature requirements
- [ ] UI
   - [ ] design the mockup
   - [ ] get feedback from product
- [ ] Product
   - [ ] signoff
- [ ] Development
   - [ ] design according to figma
- [ ] Product
   - [ ] UAT and signoff

### Resources
[figma file]()

[2021-01-24 17:51] ahdithebomb commented on #618
**Proposed Changes**

- [ ] **Step 1 Change Name from Onboard -->  To Get Informed**
   - [ ]  I think it makes more sense to have step 1 be re-worded as more of a new prospective member comes to the page and learns about what is HfLA, the types of people involved, and some of the wins that the volunteers have achieved since joining. This provides a well-rounded perspective for members to make an

[2021-01-24 17:51] ashleylin1 commented on #961
fake issue created for issue https://github.com/hackforla/website/issues/918 screenshot

[2021-01-24 17:51] #961 closed, assigned to nobody

[2021-01-24 17:58] ahdithebomb commented on #618
Progress: I made some initial proposed changes to the wins page.
Blocks: Getting feedback/clarity if I am on the right track or not.
Availability: Primarily end of next week/weekend.
ETA: End of this upcoming week.

[2021-01-24 17:58] dmcneary commented on #678
1/24 update:
Progress: boilerplate
Blockers: mostly time, should be more free going forward
Availability: open
ETA: 1/31

[2021-01-24 18:04] ltung05 commented on #803
Progress: Adding comments to the original onboarding document, highlighted in yellow
Blocks: Time!
Availability: Available besides Monday and Tuesday
ETA: I will finish adding comments today and arrange a separate meeting with @ExperimentsInHonesty to review

[2021-01-24 18:09] ashleylin1 commented on #918
Progress: Created draft on Figma
Blockers: Need some parts of the instruction text to be looked over and added to. For the last task, I added a fake screenshot but I don't know what to write for the text explaining why only the first role label is used.
Availability: Weekdays after 3pm
ETA: not entirely sure what this means

[2021-01-24 18:12] y20s commented on #934
@jbubar And @cnk decided to keep the readme to protect for if someone changes their gh-pages branch
We will be creating a new issue for separating contributing content and the readme. Issue: https://github.com/hackforla/website/issues/962

[2021-01-24 18:13] #934 closed, assigned to cnk, KianBadie

[2021-01-24 18:14] jbubar commented on #162
@dmcneary's pull request #943 was added.
progress: fixed the quotations on one branch, and started the new design for the modal on another
Blocks: ran into a problem w Jekyll, and need to some significant changes to the code for this.
availability: limited
ETA: in two weeks

[2021-01-24 18:21] pawan92 opened #962 "Separate contributing content and the readme"
### Overview
We need to separate contributing content and the readme so the instructions are more clear.

### Action Items

- [x] Separate contributing content and the readme. We decided to keep the readme to protect for if someone changes their gh-pages branch

### Resources/Instructions

[2021-01-24 18:29] y20s commented on #830
@jbubar will comment on pr with required changes

[2021-01-24 18:30] christina245 commented on #632
The UXDCW card has been reworked. I just need the video to add to the bottom left hand corner from @ExperimentsInHonesty or if anyone else has it.

[2021-01-24 18:38] daniellex0 commented on #936
Note for team: the dependency for this is David R.'s About Us page going live, so this is not a time-sensitive issue

[2021-01-24 19:49] #927 closed, assigned to DanielekPark

[2021-01-24 19:55] ExperimentsInHonesty opened #963 "Update sitemap page status and Figma"
### Overview
We need the sitemap to be up to date and a clearer way of seeing what status pages are in on our Figma

### Action Items
- [x] Add status to all pages in figma under drafts
- [x] Add the pages to the current drafts page
- [ ] review page status with Product Team
- [ ] update the site map illustration and add it to the sitemap page

### Resources/Instructions
[Figma sitemap](https://ww

[2021-01-24 20:36] tarang100 opened #964 "Update Project Profile: Public Tree Map"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Action Items
- [ ] Get updates from the following project
    - [ ] Public Tree Map https://github.com/hackforla/product-managment/issues/46 @ExperimentsInHonesty has reached out.

##

[2021-01-24 20:39] tarang100 commented on #889
This issue completed. Please refer to https://github.com/hackforla/website/issues/964 for updates on the Project Profile for Public Tree Map

[2021-01-24 20:39] #889 closed, assigned to tarang100

[2021-01-24 20:54] ExperimentsInHonesty opened #965 "Create project card: Brigade Organizers Playbook (BOP)"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x]  An

[2021-01-24 20:55] ahdithebomb commented on #965
![bop](https://user-images.githubusercontent.com/37763229/106353359-d0100e00-629e-11eb-810c-2435cd6a4aa0.png)
alt text: Brigade Organizer's Playbook Extension Project

![bop-hero](https://user-images.githubusercontent.com/37763229/106353468-97bcff80-629f-11eb-81dc-9fd3c3eef57e.png)

Each of the 80+ Code for America Brigades is an experiment which generates valuable learnings and new effective proc

[2021-01-24 23:43] daniellex0 commented on #759
Progress: I will get to this after I create shared scss files for reusable page cards and cards- components of this detail will be a little later in the process
Blockers: The other bigger reusable components in the design system need to be done before this