[2022-08-30 14:25] #3499 closed, assigned to nobody

[2022-08-30 15:31] kathrynsilvaconway opened #3500 "IGNORE THIS TESTING WORKFLOWS #2"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-08-30 22:50] kathrynsilvaconway opened #3501 "IGNORE THIS TESTING WORKFLOWS #3"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-08-30 23:34] kathrynsilvaconway opened #3504 "IGNORE THIS workflow test 4"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-08-31 00:23] kathrynsilvaconway commented on #2010
### Agenda for August 30th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and p

[2022-08-31 00:56] lilyarj commented on #3351
ETA: 8/30
Availability: 2hrs

[2022-08-31 02:48] mariareeves opened #3507 "Pre-work Checklist: Developer: [Maria Reeves]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 02:48] abdiaz2018 opened #3508 "Pre-work Checklist: Developer: Abraham Diaz"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 02:53] attali-david opened #3509 "Pre-work Checklist: Developer: David Attali"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 03:06] Unity7 opened #3510 "Pre-work Checklist: Developer: Bay Bui"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 03:08] kathrynsilvaconway commented on #3175
#### Onboard David Attali Maria Paula Reeves
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at htt

[2022-08-31 03:09] plang-psm opened #3511 "Pre-work Checklist: Developer: Phillip Sanchez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 03:09] junjun107 opened #3512 "Pre-work Checklist: Developer: [June Zhao]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-08-31 03:48] attali-david commented on #2822
ETA 8/31 EOD
Availability: 8/31 and 9/1

[2022-08-31 04:09] abdiaz2018 commented on #1076
ETA: end of day of 31st
availability: 6 hours

[2022-08-31 04:09] plang-psm commented on #2694
ETA: end of day 9/2/2022
Availability: 6hours

[2022-08-31 04:12] abdiaz2018 commented on #2825
ETA: end of day 31st
Availiability: 6 hours

[2022-08-31 04:15] blulady commented on #2027
### Agenda for September, 11 2022
Facilitator:

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders**
  - [x] Will open the floor for any announcements

[2022-08-31 04:26] plang-psm commented on #2831
ETA: end of day 9/2/2022
Availability: 6hrs

[2022-08-31 16:56] lilyarj commented on #1398
Availability: 2hrs
ETA: 9/3/22
Blockers: can't find check boxes on the website at all

[2022-08-31 16:59] lilyarj commented on #1398
@kathrynsilvaconway Using the site map I've looked through like all of the pages on the hack for la website and I can't find a single checkbox, what should I do?

[2022-08-31 21:41] alice-milmac commented on #2705
Progress: Added the link for email recruitment text under resources above.

Blockers: Need to finalize logistics of scheduling interviews (i.e. how my availability will be listed in the calendar, how I will get notified about scheduling, what if someone needs to cancel and reschedule)

Availability: 6 hours

ETA: Finalize plans at Sunday's meeting on 09-11-2022. Plan to conduct partner interviews

[2022-08-31 22:06] attali-david commented on #3509
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Onboarding took ~3 hours, and I've spent ~2 hours working on pre-work.

[2022-08-31 22:52] mariareeves commented on #2824
i. I can work on the issue M-F between from noon to 1:30pm. Saturdays & Sundays 9am to noon.
ii. by September 10th

[2022-09-01 00:39] #2822 closed, assigned to attali-david

[2022-09-01 14:56] attali-david commented on #3101
Availability: 9/2 - 9/4
ETA: 9/1 EOD

[2022-09-01 16:27] averdin2 commented on #1398
@kathrynsilvaconway There are checkboxes on the homepage under "Current Projects" dropdowns. There may be other checkboxes in other dropdowns across the site.
![Screen Shot 2022-09-01 at 9 26 06 AM](https://user-images.githubusercontent.com/10714770/187965039-e055208b-45ed-4fe8-83b1-8420ed63c723.png)

[2022-09-01 19:32] matt-arofin commented on #3063
Hi @kathrynsilvaconway,I'm still interested, but my availability will be limited. Will block off time to close this issue and pick up a new one next week 😃

Availability:
09/05/22 - 1 hour
09/07/22 - 1 hour
09/08/22 - 2 hours
09/09/22 - 2 hours

[2022-09-01 21:44] ExperimentsInHonesty commented on #3186
@MohamadAlsyouf checking in on you again.  Please give us an update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any

[2022-09-02 00:11] plang-psm commented on #3511
Availability for this week: 3 hrs
   My estimated ETA for completing this issue: End of 9/2/22

    How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
6hours

    Provide Update
    1. Progress - Awaiting review and merge
    2. Blockers - none
    3. Availability - 3

[2022-09-02 00:39] lilyarj commented on #1398
@averdin2 Thank you so much I like completely missed that lol

[2022-09-02 02:53] #3101 closed, assigned to attali-david

[2022-09-02 19:47] #2299 closed, assigned to arpitapandya

[2022-09-02 20:01] arpitapandya commented on #2249
Availability for this week: 6hrs
My estimated ETA for completing this issue: 10hrs

[2022-09-02 23:02] attali-david commented on #3418
Availability: 9/3 - 9/4
ETA: 9/2 EOD

[2022-09-02 23:04] bishrfaisal commented on #3223
@ExperimentsInHonesty It seems like this issue overlaps with action one item of issue #3143, so there is no dependency. Issue is ready to be given a milestone.

[2022-09-02 23:20] #2825 closed, assigned to abdiaz2018

[2022-09-02 23:26] bishrfaisal commented on #3274
@ExperimentsInHonesty This issue is ready for milestone. After that we can attend to issue #3229 and remove its dependency label.

[2022-09-02 23:28] bishrfaisal commented on #3354
@ExperimentsInHonesty Issue looks good and ready for milestone.

[2022-09-02 23:39] bishrfaisal commented on #3447
@ExperimentsInHonesty Issue is ready for milestone and good to go. Please advise on merging this issue with #3153 or keeping it separate as it is.

[2022-09-02 23:48] bishrfaisal commented on #3489
@ExperimentsInHonesty Issue is well written and specific. Ready for milestone.

[2022-09-03 04:46] abdiaz2018 commented on #3198
Availability: 3 hours
ETA: end of day on Saturday

[2022-09-03 15:27] #2831 closed, assigned to plang-psm

[2022-09-03 20:59] 7kram commented on #3223
@JessicaLucindaCheng @ExperimentsInHonesty No dependency. Maybe add a link to "Wins research presentation deck" under the Resources/Instructions section. Otherwise, it's ready for a milestone.

[2022-09-03 21:52] 7kram commented on #3274
@ExperimentsInHonesty

* Maybe change title to "Review and update wiki page: GHA: add update label weekly"
* 1st and 3rd Action Items are the same thing (remove the 3rd one)

Agree with @bishrfaisal Issue is completed and is ready for milestone. We should now make the necessary updates in issue #3229 (updating google spreadsheet tab and removing dependency label)

[2022-09-04 00:33] 7kram commented on #3354
@ExperimentsInHonesty I agree with @bishrfaisal

Maybe add a "good first issue" label since it's a quick edit to the two markdown files.

[2022-09-04 00:43] 7kram commented on #3447
@ExperimentsInHonesty Really organized and clear! I don't think #3153 is an issue as long it refers to this one. I would suggest adding "closing issue #3153" as an Action Item once everything else has been completed.

Note: There is a "time-sensitive" label but I'm not seeing a reference to when it should be completed.

Bonnie's A:
- #3153 will go into the UAT column as soon as the changes have be

[2022-09-04 01:09] 7kram commented on #3489
@ExperimentsInHonesty very clear and straight-forward! We can add a "good second issue" label for new members.

Maybe move the last action item: "comparing toolkit page" to an **Acceptance Criteria** section at the end

[2022-09-04 16:47] ExperimentsInHonesty commented on #3274
@SAUMILDHANKAR Step 1 and 3 in the action items are very similar (they both go to the same link).  And we assume there was a reason for providing it twice.  Can you update the issue to make it clearer what you want them to do in step 1 and 3 that is different?

Step 1: Read the information about the add-update-label-weekly GHA [here](https://github.com/hackforla/website/wiki/GHA:-add-update-label-

[2022-09-04 17:22] attali-david commented on #2592
i. Availability: 9/4-9/6
ii. ETA: 9/6 EOD

[2022-09-04 17:48] ExperimentsInHonesty commented on #3003
We looked into the zoom4  account and could not find any of the launched polls.  So we will do a new poll test on 2022-09-12.  Please remind Bonnie at next team meeting to export them into this issue or the drive.

[2022-09-04 17:51] ExperimentsInHonesty commented on #2688
#### Onboard Akram 2022-09-04
- [x] Google Drive
   - [x] Add to drive as Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
- [x] GitHub Teams
     - [x] Add to read team
        - [x] Change membership to maintainer
     - [x] Add to team write
        - [x] Change membership to maintainer
     - [x] Add to PM team
        - [x] Change membership

[2022-09-04 18:32] #3418 closed, assigned to attali-david

[2022-09-04 18:42] ExperimentsInHonesty commented on #2688
@7kram I have assigned this issue to you.  The next step is to onboard Bishr which I believe you have scheduled for 2022-09-05 10:00 am PST

[2022-09-04 18:48] ExperimentsInHonesty commented on #3447
@kathrynsilvaconway There is a new [one sheet](https://drive.google.com/file/d/1uWSqc5jU6feY3XSi9g178qnoOkan6enH/view) (also known as an overview page) listed in https://github.com/hackforla/website/issues/3153#issuecomment-1182507813

It will have to be downloaded by the person working on this issue, and then put in the proper directory in our repo. Please revise the steps in the action items acc

[2022-09-04 19:00] ExperimentsInHonesty commented on #3489
[7kram](https://github.com/7kram) said

@7kram
- I agree with moving the comparing toolkit page to acceptance criteria section.  I did that.
- Good second issues are more prescriptive than this, because the purpose of a good second issue is to test your development environment.  Good Small issues are actually issues which require you to make some decisions or otherwise be an independent engineer.

[2022-09-05 01:23] plang-psm commented on #3097
i. Availability: 6hrs
ii. ETA: end of 9/7/22

[2022-09-05 17:07] 7kram commented on #2688
#### Onboard Bishr 2022-09-05
- [x] Google Drive
   - [x] Add to drive as Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
- [x] GitHub Teams
     - [x] Add to read team
        - [x] Change membership to maintainer
     - [x] Add to team write
        - [x] Change membership to maintainer
     - [x] Add to PM team
        - [x] Change membership

[2022-09-05 18:29] ExperimentsInHonesty opened #3520 "Update Project Profile: HackforLA website team"
### Overview
As a product manager of the hackforla.org website team I want my project's details to be up to date on the HackforLA website

### Project card
URL of my project card: https://github.com/hackforla/website/blob/gh-pages/_projects/website.md

### Action Items

- [X] hackforla.org website Team Leadership
   - [X] Please check off everything that is ok the way that it is, and if not, pleas

[2022-09-05 18:34] ExperimentsInHonesty commented on #3520
### Check the times on these and open a ticket with VRMS for changes
PM Meeting, Wed 12:00 pm - 1:00 pm
UI-UX Meeting, Thu 5:00 pm - 6:00 pm
UX Research, Wed 2:00 pm - 3:00 pm
UX Design, Wed 2:30 pm - 3:30 pm

[2022-09-05 18:36] ExperimentsInHonesty commented on #3520
### People to add
- Name: Akram Nour
  - GitHub handle: 7kram
  - Role: PM
  - SLACK ID: U03UW53122J
- Name: Bishr Aboobaker
  - GitHub handle: bishrfaisal
  - Role: PM
  - SLACK ID: U03VDRGD34P
- Name: Vaisali Krishna Kumar
  - GitHub handle: vaisali89
  - Role: Researcher
  - SLACK ID: U028RCG9Z44
- Name:
  - GitHub handle:
  - Role:
  - SLACK ID:

### People to remove
- Simone Campbell
- Provid

[2022-09-05 18:41] ExperimentsInHonesty commented on #2688
#### Offboard Providence
  - [x] 1password setup
    - [x] remove from team vaults
       - [x] hackforla.org website vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [x] GitHub
     - [x] demote member to read only team and remove from write team
- [x] Figma
  - [x] remove from team
- [x] Gmail
   - [x] remove filter to forward all

[2022-09-05 23:55] mariareeves commented on #3507
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
- One week.

[2022-09-05 23:55] mariareeves commented on #3507
- How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
One week.

[2022-09-06 01:28] mariareeves commented on #3507
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
One week

[2022-09-06 01:59] #3198 closed, assigned to abdiaz2018

[2022-09-06 02:22] #3097 closed, assigned to plang-psm

[2022-09-06 20:47] attali-david commented on #2592
Blocker: I've read all the documentation referenced in the instruction, but I don't understand the documentation for the context actions/github-script. As described [here](https://github.com/actions/toolkit/blob/main/packages/github/src/context.ts), I don't see how I can access the project card ID in order to delete it.

What I've done so far:

1. I created a yml file under .github/workflows based

[2022-09-06 20:51] d-perez-8 commented on #2286
Availability: Tuesday - Thursday
ETA: End of day Wednesday

[2022-09-06 21:13] d-perez-8 commented on #2286
**Blocker**: I have created the spreadsheet [here](https://docs.google.com/spreadsheets/d/1Ss_l-_xANUsfcpTMdR-skdKiTEgZidL3UnenBupXkZc/edit#gid=774837932) from a template already existing in the [audit folder](https://drive.google.com/drive/folders/1yxGQ64wP5aN-4-0UC1RF0nYBhNaRCNsA), and I would confirmation that this is what was need. Thank you!

[2022-09-07 00:08] plang-psm commented on #3520
i. Availability: 10hrs
ii. ETA: end of 9/9/22

[2022-09-07 01:07] jdingeman commented on #2776
UPDATE:
Progress: Unchanged. Need administrative approval for updating data studio.
Blockers: Mentioned in progress.
Availability: Every day after 3pm
ETA: Hopefully by next Monday, 9/12

[2022-09-08 03:41] abdiaz2018 commented on #2211
ETA: end of day friday
Availability: 2 hours

[2022-09-08 05:23] phuonguvan commented on #3461
Progress: Completed archiving all of the pages except the organizational dashboard and Our Projects Page (In Design)
Blockers: Organizational Dashboard frames are not updated and I don't get what is the Our Projects Page
Availability: 2-3 hours
ETA: By tomorrow

[2022-09-08 06:09] phuonguvan commented on #3040
## 2022-09-07 Agenda
- [ ] Clean up the Project Board
- [ ] Ask help for [Resume Content Building Tool](https://docs.google.com/spreadsheets/d/1J2uhQomDIKrkur7xCJubyC__XoeStIETiu0-NqBrfSk/edit#gid=1869629152)

[2022-09-08 06:19] phuonguvan commented on #3040
- [ ] ask Bonnie about Miro- is it still relevant? And do we have login?
- [ ] Review [Gold's Issue](https://github.com/hackforla/website/issues/2617) as what is the alt text for the site map image and further action items need to be taken for the issue
- [ ] There was an issue about auditing the class codes but I could only find the class codes for button sizes so are we auditing that?
- [ ] Ther

[2022-09-08 06:24] phuonguvan opened #3522 "Design System Audit: Text Elements: Site Map Page"
### Overview
We need to audit the site map page to know which text elements are missing text components so that we can fix them in Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for the site map page.  If you can't

[2022-09-08 06:26] phuonguvan opened #3523 "Design System Audit: Text Elements: Getting Started Page"
### Overview
We need to audit the Getting Started page to know which text elements are missing text components so that we can fix them in Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for the Getting Started page.

[2022-09-08 06:31] phuonguvan opened #3524 "Design System Audit: Text Elements: Credits Page"
### Overview
We need to audit the Credits Page to know which text elements are missing text components so that we can fix them in Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for the Credits Page. If you can't fin

[2022-09-08 06:34] phuonguvan opened #3525 "Design System Audit: Text Elements: Join Us Page"
### Overview
We need to audit the Join Us page to know which text elements are missing text components so that we can fix them in Figma, and ensure consistency with the Design System and Implementation by the website team.
### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for the Join Us Page.  If you can't fin

[2022-09-08 06:37] phuonguvan opened #3526 "Design System Audit: Text Elements: Individual Projects Page"
### Overview
We need to audit the Individual Projects page to know which text elements are missing text components so that we can fix them in the Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for Individual Project

[2022-09-08 06:40] phuonguvan opened #3527 "Design System Audit: Text Elements: Project Team Meetings Page"
### Overview
We need to audit the Project Team Meetings to know which text elements are missing text components so that we can fix them in Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for the Project Team Meetings

[2022-09-08 06:41] phuonguvan opened #3528 "Design System Audit: Text Elements: Toolkit Page"
### Dependency
- [ ] When we prioritize the toolkit again

### Overview
We need to audit the Toolkit page to know which text elements are missing text components so that we can fix them in the Figma, and ensure consistency with the Design System and Implementation by the website team.

### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on

[2022-09-08 06:42] phuonguvan opened #3529 "Design System Audit: Text Elements: Wins Page"
### Overview
We need to audit the Wins Page to know which text elements are missing text components so that we can fix them in the Figma, and ensure consistency with the Design System and Implementation by the website team.
### Action Items
- [ ] Go to Sample of Audit Figma page
   - [ ] Copy the Template section
- [ ] Find the page on the left panel of Figma for Wins Page.  If you can't find it,

[2022-09-08 07:18] 7kram commented on #3228
@ExperimentsInHonesty I'd recommend adding a milestone for **security** since the issue mainly concerns GitHub secrets

[2022-09-08 07:23] 7kram commented on #3522
@ExperimentsInHonesty Lets add a **"Know HFLA"** milestone since the issue involves working with the Site map page.

[2022-09-08 07:24] 7kram commented on #3523
@ExperimentsInHonesty Lets add the **"Onboarding Flow"** milestone

[2022-09-08 16:28] 7kram commented on #3524
@ExperimentsInHonesty Let's add a milestone for **"Compliance"**

[2022-09-08 16:29] 7kram commented on #3525
@ExperimentsInHonesty Ready for an **"Onboarding Flow"** milestone

[2022-09-08 16:30] 7kram commented on #3526
@ExperimentsInHonesty Ready for an **"Onboarding Flow"** milestone

[2022-09-08 16:31] 7kram commented on #3527
@ExperimentsInHonesty Ready for an **"Onboarding Flow"** milestone

[2022-09-08 16:31] 7kram commented on #3528
@ExperimentsInHonesty Needs a **"Homepage launch"** milestone

[2022-09-08 16:32] 7kram commented on #3529
@ExperimentsInHonesty Needs a **Know HFLA** milestone

[2022-09-08 16:34] 7kram commented on #3448
@ExperimentsInHonesty Because it involves toolkit, lets add the **Homepage Launch** milestone

[2022-09-08 16:35] 7kram commented on #3277
@ExperimentsInHonesty Lets add a **Homepage launch** milestone to the issue

[2022-09-08 16:38] 7kram commented on #3440
@ExperimentsInHonesty Issue has been closed but we can add an **Onboarding Flow** milestone

[2022-09-08 19:53] ExperimentsInHonesty commented on #3523
@7kram I ended up adding the milestone Technical debt to all of these related issues where the page is live, and we are auditing the titles and other elements to make sure they are using the correct ones in the design system, and then again we will check to see if they are using the correct ones in dev.  This is polishing, which is where technical debt always goes.  If this issue has something to

[2022-09-08 19:57] 7kram commented on #3355
@ExperimentsInHonesty **Technical debt** for milestone

[2022-09-08 20:15] 7kram commented on #3523
Aah ok, I see. Thanks

On Thu, Sep 8, 2022 at 12:54 PM Bonnie Wolfe ***@***.***>
wrote:

[2022-09-08 21:20] ExperimentsInHonesty commented on #3244
Hi @troywzhu 😃!  I noticed that you joined the Hack for LA website team on June13th and did a PR in your first week.  But we have not seen any other issues self-assigned and PR merged since then 😭.  Will you be coming back?  Do you have feedback for us?

[2022-09-08 21:23] 7kram commented on #3245
@KalpanaTA Sorry to hear about that! We'll mark you inactive on the roster but just know that your welcome to join back anytime and re-open this issue.

[2022-09-08 21:23] #3245 closed, assigned to nobody

[2022-09-08 21:31] bishrfaisal commented on #3406
Hi @braguda  😃!  I noticed that you joined the Hack for LA website team on June13th and did a PR on the 23rd of August.  But we have not seen any other issues self-assigned and PR merged since then 😭.  Will you be coming back?  Do you have feedback for us?

[2022-09-08 21:43] bishrfaisal opened #3530 "Cleanup Project Board: Pre-work"
### Overview
We need to review, message, prioritize, and move on the board all pre-work issues so that we can improve retention and reduce unnecessary work.

### Action Items
- [ ] Create a comment for the person whose pre-work you are going to check
- [ ] paste template into comment
- [ ] check all the items
- [ ] write draft message (don't add their GitHub handle to it yet)

### Resources/Instru

[2022-09-08 21:48] ExperimentsInHonesty commented on #3530
### Calvin Tan
- Date they opened prework issue: 2022-07-18
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 4
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [x] Closed Issues
      - [x] PR and was it successfully closed

### Resources
- [URL for Issue tab wi

[2022-09-08 21:56] ExperimentsInHonesty commented on #3530
### Sandharsh
- Date they opened prework issue: 2022-06-15
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [ ] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 2
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

sent 2022-09-19

[2022-09-09 00:50] kathrynsilvaconway commented on #3447
@ExperimentsInHonesty I added the action item to close #3153 . Also, updating the overview link with the new one sheet.

[2022-09-09 00:51] #3357 closed, assigned to tunglinn

[2022-09-09 01:05] #3520 closed, assigned to plang-psm

[2022-09-09 03:33] jdingeman commented on #2776
Added data source into main data studio.
![image](https://user-images.githubusercontent.com/88953806/189266386-69f842e1-a672-44a5-96bd-12790207510e.png)

Ready for issue close unless formatting is needed. @kathrynsilvaconway @ExperimentsInHonesty

[2022-09-09 09:59] vaisali89 commented on #2949
WIKI page updated .

[2022-09-09 16:45] alice-milmac commented on #2705
Progress: All documents associated with this issue have been linked under resources

Blockers: Need to finalize logistics of scheduling interviews (i.e. how my availability will be listed in the calendar, how I will get notified about scheduling, what if someone needs to cancel and reschedule)

Availability: 10 hours

ETA: Finalize plans at Sunday's meeting on 09-11-2022. Plan to conduct partner i

[2022-09-10 16:56] bishrfaisal commented on #3530
### Anna Kirstine Schirrer
- Date they opened prework issue: 2022-07-17
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 2
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

- M

[2022-09-10 17:13] bishrfaisal commented on #3530
### Vanessa Murray
- Date they opened prework issue: 2022-07-20
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [ ] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 2
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

- NOTE: Cur

[2022-09-10 17:16] bishrfaisal commented on #3530
### Shima Houshyar
- Date they opened prework issue: 2022-07-20
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [ ] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 1
   - [ ] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

Message: Hi

[2022-09-10 17:20] bishrfaisal commented on #3530
### Matthew Toledo
- Date they opened prework issue: 2022-08-09
- Role: Front-end
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [ ] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 1
   - [ ] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

Message: Hi Mat

[2022-09-10 17:25] bishrfaisal commented on #3530
### Maria Reeves
- Date they opened prework issue: 11 Days ago
- Role: Front-end and devOps
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 2
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [x] Closed Issues
      - [x] PR and was it successfully closed

- NOT

[2022-09-10 17:28] bishrfaisal commented on #3530
### Abraham Diaz
- Date they opened prework issue: 11 days ago
- Role: Front-end
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 1
   - [ ] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

NOTE: Abraham ha

[2022-09-10 21:57] nathan944 opened #3532 "Create SDG page to be added to Hack for La website"
### Overview
Create SDG page to be added to Hack for La website

### Action Items
- [ ] Product
   - [ ] ideate
   - [ ] define feature requirements
   - [ ]  make issues for UI/Development
      - [ ] Design
        - [ ] design the mockup
        - [ ] get feedback from Product
     - [ ] Front-end
         - [ ] develop according to Figma

### Resources
[Figma File](https://www.figma.com/file/0

[2022-09-10 23:36] #3532 closed, assigned to nobody

[2022-09-10 23:51] nathan944 opened #3533 "Create SDG page to be added to Hack for La website"
### Overview
Create SDG page to be added to Hack for La website

### Action Items
- [ ] Product
   - [ ] ideate
   - [ ] define feature requirements
   - [ ]  make issues for UI/Development
      - [ ] Design
        - [ ] design the mockup
        - [ ] get feedback from Product
     - [ ] Front-end
        - [ ] develop according to Figma

### Resources
[Figma File](https://www.figma.com/file/0R

[2022-09-11 01:49] #3504 closed, assigned to nobody

[2022-09-11 02:44] kathrynsilvaconway commented on #3059
@ExperimentsInHonesty  @sanya301  This issue was unassigned because it was abandoned by a dev who left the team without notice. It was written back in April. Before I put it back into the prioritized backlog, I wanted to verify that the info is still accurate. What changes, if any, do we need to make?

[2022-09-11 04:07] 7kram commented on #3530
### Rachel S
- Date they opened prework issue: 2022-06-15
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 1
   - [ ] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

#### Draft Messag

[2022-09-11 04:27] 7kram commented on #3530
### Emily Tat
- Date they opened prework issue: 2022-07-20
- Role: User Research & Designer (separate pre-work issues)
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 3
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it

[2022-09-11 04:44] 7kram commented on #3530
### Karen Munnelly
- Date they opened prework issue: 2022-07-20
- Role: User Research
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 2
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [ ] Closed Issues
      - [ ] PR and was it successfully closed

#### Draft

[2022-09-11 04:48] 7kram commented on #3530
### Calvin Tan
- Date they opened prework issue: 2022-07-18
- Role: Back-End
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 7
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [x] Closed Issues
      - [x] PR and was it successfully closed

#### Draft Message
H

[2022-09-11 15:56] 7kram commented on #3530
### David Attali
- Date they opened prework issue: 2022-08-30
- Role: Back end/Front end
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 10
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [x] Closed Issues
      - [x] PR and was it successfully closed

#### Dr

[2022-09-11 15:59] arpitapandya commented on #3423
ETA : 1hrs
Availability : 6 hrs

[2022-09-11 16:05] ExperimentsInHonesty commented on #2698
Date: 2022-09-11
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
  - I added new roles, sizes and features to the exclusion list
  - I added missing labels to 4 issues
  - I added 7 issues to the project board
- [x] Report what the numbers are on

[2022-09-11 16:07] ExperimentsInHonesty commented on #3145
This is being moved back to the new issue approval since it does not have a dependency listed

[2022-09-11 16:10] ExperimentsInHonesty commented on #2464
@kathrynsilvaconway I show this issue as having been moved by you from New Issue Approval to Icebox on August 1st.  Can you explain why it should be there or what you intended.

[2022-09-11 16:18] 7kram commented on #3530
### Phillip Sanchez
- Date they opened prework issue: 2022-08-30
- Role: Front end
- [x] Review issue
   - [x] Self Assign
   - [x] Add role label
   - [x] Mark check boxes
- [x] Lookup Github handle on the issue tab
   - [x] How many issues total: 8
   - [x] Any issues other than pre-work
   - [x] Any open issues
   - [x] Closed Issues
      - [x] PR and was it successfully closed

#### Note
Phil

[2022-09-11 16:21] ExperimentsInHonesty commented on #3449
@JohnJBarrett22 Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures or links* (if necessary): "Add any pictures or links th

[2022-09-11 16:22] ExperimentsInHonesty commented on #3448
@nehasyed97
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures or links* (if necessary): "Add any pictures or links that w

[2022-09-11 16:26] ExperimentsInHonesty commented on #3449
BTW.  After this issue is done, please choose issues that match your criteria (size, and role) from the prioritized backlog, instead of the new issue approval column.  I noticed that this issue and #3355 both came from new issue approval.

[2022-09-11 16:28] blulady commented on #2027
### Agenda for September 11, 2022
Facilitator: Arpita

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @arpitapandya  merged PR #351

[2022-09-11 16:33] #3045 closed

[2022-09-11 16:41] ExperimentsInHonesty commented on #3254
@angieintech Where in the [dev prework template file](https://github.com/hackforla/website/blob/gh-pages/.github/ISSUE_TEMPLATE/pre-work-template--dev.md) do you think the text about the steps could be completed in any order should go.

After you have answered, please add the ready for dev lead label to this issue and remove the draft label

[2022-09-11 16:49] ExperimentsInHonesty commented on #2830
@RobenusW I noticed you moved this back to new issue approval.  Are you trying to unassign yourself from the issue?

[2022-09-11 16:50] ExperimentsInHonesty commented on #3377
@JessicaLucindaCheng what should we do with this issue?

[2022-09-11 16:51] ExperimentsInHonesty commented on #3437
@Zak234 Jessica sent you a message about this issue, bumping this back into your inbox

[2022-09-11 16:56] ExperimentsInHonesty commented on #3056
@gregpawin @macho-catt can you tell me what is going on with this issue?  I thought Matt was taking care of it, but I don't see the changes on the website.  If Matt is not going to do them, then @gregpawin if you could give this a final update, I will push this to the prioritized backlog so that a developer on our team can do it.

[2022-09-11 18:28] ExperimentsInHonesty commented on #2572
- Dev has taken the handoff and the new issue is https://github.com/hackforla/website/issues/3449

[2022-09-11 18:33] ExperimentsInHonesty commented on #2606
- This issues that Kathryn made is the handoff issue completed.  https://github.com/hackforla/website/issues/3449

[2022-09-11 18:51] 7kram commented on #1797
@vaisali89

## 2022-09-21 Agenda and Notes

### Prepwork to prep for meeting
- [x] Review and prepare items that have [ready for research lead](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22ready+for+research+lead%22#column-15235217) labels in the new issue approval column, so that they if you have any questions for product that you can add them to this agenda.

###

[2022-09-11 19:01] #3023 closed, assigned to CalvinTan607

[2022-09-11 20:28] gregpawin commented on #3056
Last I spoke to Matt he said the issue required someone to review and we
were waiting for a review from the dev team. Unfortunately, the issue has
been open so long, I'd have to redo the team roster at this point. I'll
write another note on the issue tonight.

On Sun, Sep 11, 2022 at 9:56 AM Bonnie Wolfe ***@***.***>
wrote:

[2022-09-11 23:25] #3063 closed, assigned to matt-arofin

[2022-09-11 23:33] kathrynsilvaconway commented on #3403
@KBWells77 Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-09-11 23:45] kathrynsilvaconway commented on #3406
@braguda  Hi, your checklist has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will close this issue. Thanks!

[2022-09-12 00:22] kathrynsilvaconway opened #3535 "IGNORE -TEST"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-09-12 02:21] kathrynsilvaconway commented on #2607
## 2022-9-12 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-09-12 02:29] kathrynsilvaconway commented on #3244
@troywzhu Hi, your checklist has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will close this issue. Thanks!

[2022-09-12 02:55] kathrynsilvaconway commented on #3386
@CalvinTan607 Hi, your checklist has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will close this issue. Thanks!

[2022-09-12 03:02] #3535 closed, assigned to kathrynsilvaconway

[2022-09-12 03:56] 7kram commented on #3389
@CalvinTan607 Hey Calvin!

We saw that you completed a small issue
- #3023 so we went ahead and closed it for you. Thanks for your help 🙌!

On another note, your last activity was on 8/9. Are you coming back to take on a medium issue or do any Pull Request reviews? Let us know, either way.

If you do come back... Here is where to start
- go up to the top of this issue and do the remaining Action I

[2022-09-12 18:14] JessicaLucindaCheng commented on #2572
@ExperimentsInHonesty The issue you linked to isn't related to fixing the alt text on the credits page. Also, I don't think an epic and its issues were written for devs as the follow-up to this issue for alt text on the Credits page. So, I will put this back into the New Issue Approval column with a "ready for dev lead" label.

@kathrynsilvaconway Could you check if issues were written to fix the

[2022-09-12 19:30] alice-milmac commented on #2705
Progress: Finalized recruitment plan with Bonnie. This week I will:
1 experiment with scheduling though the HfLA research email address to ensure the process works
2 create a spreadsheet with participants information that Bonnie will complete during the next website meeting
3 finalize recruitment email draft including Bonnie's signature to send out during the next website meeting

Blockers: Cannot

[2022-09-12 20:49] JessicaLucindaCheng commented on #3377
@ExperimentsInHonesty I updated the issue. It is ready for you to review and add a milestone if you think it is ready for it.

[2022-09-12 20:55] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-09-12 20:56] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: None
Availability: Not sur

[2022-09-12 21:17] ExperimentsInHonesty commented on #3473
Looks like these changes have already been made.  Closing this issue
[screencapture-hackforla-org-projects-website-2022-09-12-14_16_02.pdf](https://github.com/hackforla/website/files/9551879/screencapture-hackforla-org-projects-website-2022-09-12-14_16_02.pdf) - clicking link will download the pdf

![screencapture-hackforla-org-projects-website-2022-09-12-14_16_02](https://user-images.githubuserco

[2022-09-12 21:18] #3473 closed, assigned to nobody

[2022-09-12 21:23] ExperimentsInHonesty commented on #2634
@kathrynsilvaconway will review the issue and determine if its fine the way it is once a large label is added, or if it needs further clarity.  If it needs further clarity, reach out to Saumil to talk about next steps

[2022-09-12 21:28] ExperimentsInHonesty opened #3539 "Feasibility review: Galaxy Fold breakpoints"
### Overview
We need to know if it makes sense to accommodate the Galaxy Fold device and other folding devices so that our site can be widely viewable by many devices, without creating work that won't result in a significant number of devices/users accommodated

### Action Items

- [ ] Check in with product / Google Analytics for numbers of people using device
- [ ] Check with design how many page

[2022-09-12 21:32] ExperimentsInHonesty commented on #2339
- I created the new issue #3539 Now we can close this

[2022-09-12 21:44] ExperimentsInHonesty commented on #3447
- I have updated the issue to say to follow back up with the Stakeholder once the PR has been merged on issue #3153

[2022-09-12 22:00] JessicaLucindaCheng commented on #2728
- An issue needs to be made for scraping languages for any projects with multiple repos. See this comment for more info: https://github.com/hackforla/website/issues/2728#issuecomment-1086902818

[2022-09-12 22:11] ExperimentsInHonesty commented on #3034
@kathrynsilvaconway Please make an issue for development to take the change to the project pages layout and make it into new code for the project pages.  Do this in a new feature branch.  Here is the page that they will edit https://github.com/hackforla/website/blob/gh-pages/_layouts/project.html

[2022-09-12 22:17] 7kram opened #3540 "Calendar: Removing inactive members"
### Overview
We need to remove every member with an "x" by their name for the HfLA Website Team meeting to make room for new members.

### Prerequisite
- [x] Need to have access to the HfLA website 1Password vault

### Action Items
- [x] Look for the weekly Sunday "HfLA Website Team Meeting" on Google calendar.
- [x] Find the owner of the team meeting
   - [x] Log into the associated Gmail account

[2022-09-12 22:18] 7kram commented on #3540
Hey @ExperimentsInHonesty Are there any resources I should add to the issue? Please review the issue and see if I should make any changes. Thanks

[2022-09-12 22:40] gold-o commented on #3117
Progress: I have completed the desktop design for the issue
Blockers: For the mobile version, when the font is changed to 16pt and the image is resized, it changes the design. It would be good to explore the best way we can design the mobile version of this page with the new SDG sizing.
Availability: N/A
ETA: The issue is completed

![Screen Shot 2022-09-12 at 3 35 58 PM](https://user-images.githu

[2022-09-12 22:43] gold-o commented on #3117
The issue is completed. For the mobile version, developers will use the original SDG image with the 90 pixels sizing.

[2022-09-12 22:43] #3117 closed, assigned to gold-o

[2022-09-13 02:12] kathrynsilvaconway commented on #3512
@junjun107
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this iss

[2022-09-13 02:12] kathrynsilvaconway commented on #3510
@Unity7 Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this issue.

[2022-09-13 02:13] kathrynsilvaconway commented on #3387
@jbialkin98
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this is

[2022-09-13 02:14] kathrynsilvaconway commented on #3386
@ethanchen7
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this is

[2022-09-13 02:33] kathrynsilvaconway commented on #2777
@mmogri
Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-09-13 02:40] aricforrest opened #3541 "Pre-work Checklist: Developer: Aric Forrest"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-13 02:41] palomasoltys opened #3542 "Pre-work Checklist: Developer: Paloma Soltys"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-13 02:41] carolemlago opened #3543 "Pre-work Checklist: Developer: Carole Lago"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-13 02:44] GRISONRF opened #3544 "Pre-work Checklist: Developer: Rafaela"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-13 02:56] justinPemberton opened #3545 "Pre-work Checklist: Developer: justin pemberton"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-13 03:21] kathrynsilvaconway opened #3546 "Find Linter and Matching VS Code Plugin to Spell Check Site"
### Dependency
- #2401

### Overview
Our website needs to be free of misspellings so that our reputation for quality is maintained. For this issue, we will find a third party linter and VS Code plugin to spell check all text in pull requests that will appear on the website.

### Action Items

 - [x] Research various third party linters to find one we can use to check pull requests for spelling err

[2022-09-13 03:47] kathrynsilvaconway opened #3547 "Add Problem, Solution, and Impact Sections to Project Pages"
### Overview
We need to design an additional section in the project page code that displays the Problem, Solution, and Impact & SDG info on each individual project page so that development can build the content into the site.

### Details
<details><summary>Click here to see screenshot of proposed Figma design</summary>

![image](https://user-images.githubusercontent.com/88953806/201247614-7f18b5ef

[2022-09-13 04:00] kathrynsilvaconway commented on #2634
@ExperimentsInHonesty  @SAUMILDHANKAR

I've bumped the size on this issue up to large and moved it back to the prioritzed backlog. While it is definitely more complex than we originally believed, it is straight forward enough that I still think it can be done in one issue.

[2022-09-13 04:11] kathrynsilvaconway commented on #2395
Clarification in respronse to @raswani2023 's comment above: This issue seeks to create automation that will automatically place PRs on the board when they are opened. Currently, they do NOT automatically go on the baord, but must be placed there manually under the projects section. Once they are on the board, we already have automation in place that will put them in "PR Needs Review" column.

[2022-09-13 04:23] blulady commented on #2592
Again, it's late for me but let me know if [this](https://github.com/marketplace/actions/create-or-update-project-card) is not helpful...

[2022-09-13 04:35] kathrynsilvaconway commented on #3254
@ExperimentsInHonesty @JessicaLucindaCheng @blulady @arpitapandya @SAUMILDHANKAR
Can we take a quick vote on whether or not this addition to the prework remplate is necessary? Currently, under the special notes section, point 3 says:

"The action items listed below should mostly be worked on in a sequential order. However, you don't have to wait on one if you can proceed with the others, For insta

[2022-09-13 04:40] kathrynsilvaconway commented on #3437
@Zak234
Hi, Sakari. Is this issue ready to be approved, or are you still working on it? Please let me know if you need any help this so I can get it approved and in the queue.

[2022-09-13 05:03] kathrynsilvaconway commented on #2932
I am returning this issue to the prioritized backlog because this dev has left HfLA.

[2022-09-13 06:33] kathrynsilvaconway commented on #3175
#### Onboard Aric Forrest, Bay Bui, Suman and Azania Baker
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with

[2022-09-13 14:04] arpitapandya commented on #3254
If I focus what's under Action Items? Yes, sequential order matters. Whereas, the second line depends on what the new dev thinks what's important in it to follow in sequence, as I am aware that there're few list of actions that they complete while Onboarding meeting and thenafter they checkmark whether they already completed(for eg. slack, GitHub handle, figma). The third line example(meeting) see

[2022-09-13 16:11] kathrynsilvaconway commented on #2010
### Agenda for September 13th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update an

[2022-09-13 18:54] Unity7 commented on #3510
@kathrynsilvaconway I am still working on this issue. I was out for labor day weekend. My apologizes for the delay. Yes I will be attending Tuesday meeting today.

[2022-09-13 21:29] ethanstrominger opened #3549 "Agenda does not show up as a template"
### Overview

Create Agenda is missing from New Issue templates

### Action Items

- Read https://github.com/hackforla/product-management/wiki/Agenda-Format
- Tried creating a new issue - no template.
- Template showed for open-source-community when creating a new issue
https://github.com/hackforla/open-community-survey/issues/new/choose
<img width="600" alt="image" src="https://user-images.github

[2022-09-13 21:48] ethanstrominger opened #3550 "Agenda for discussing functionality of issue 2978 - convert markdown to HTML"
## Meeting Agenda

### Prework to prep for meeting
- [x] Filled out this agenda

### Recurring items:
- [ ] [Status](https://docs.google.com/document/d/1Tx17ewpeI8r7u_-nSazJtUPjKsFeiSYWu-qmJAsbV3I/edit#heading=h.n3l0nsw3ylk)

### New Items

#### Convert Google Docs to Markdown
- [ ] Bonnie - make this an official project
- [x] Recruit the "Flag" team
  - "Flag" is a Code for Boston project that is

[2022-09-13 22:07] mariareeves commented on #2824
Sorry for the delay. I am very newbie to all of this and had a hard time getting familiar.

* Progress: Done
* Blockers: Had a hard time getting familiar with all the applications needed to work on the issue.
* Availability: N/A
* ETA: Delivered
* Pictures (optional): N/A

[2022-09-13 23:19] #1630 closed, assigned to abenipa3

[2022-09-14 00:56] #2451 closed, assigned to Mattre7

[2022-09-14 01:18] kathrynsilvaconway commented on #2607
## 2022-09-19 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-09-14 02:08] lilyarj commented on #1398
Progress: Not a lot
Blockers: I have a problem with git, and I don't think I have access to the figma page
Availability: 3hrs
ETA: idk

[2022-09-14 02:52] kathrynsilvaconway opened #3552 "Pre-work Checklist: Developer: DEMO Your Name"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-14 02:54] Suman2795 opened #3553 "Pre-work Checklist: Developer: Suman"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-14 02:56] AzaniaBG opened #3554 "Pre-work Checklist: Developer: Azania Baker-Garcia"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-14 03:05] AzaniaBG commented on #2826
ETA: 09/15/2022
Availability: 3 hours

[2022-09-14 03:08] Unity7 commented on #2828
ETA: 9/15/22
Availability: 2 Hours

[2022-09-14 03:27] #3552 closed, assigned to nobody

[2022-09-14 04:29] phuonguvan opened #3555 "Update Policy Design Figma"
### Overview
On the [Privacy Policy Figma page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17845%3A137765) mobile and desktop frames, the "Effective date" section's content is missing and the "Questions" header is missing.

### Action Items
- [ ] Look at the live Privacy Policy page to see how the Effective Date and Questions header/content should look (It is cor

[2022-09-14 15:11] JessicaLucindaCheng commented on #3254
@kathrynsilvaconway I think that's clear. However, I'm not a new developer and it might be confusing or unclear for new developers. I suggest asking the junior developers on the team about it during a meeting.

[2022-09-14 15:50] JessicaLucindaCheng commented on #3546
@kathrynsilvaconway
- I don't think #2909 and #2401 are dependencies for this issue. Dependencies are issues that need to be completed before this issue can be worked on. Issue #2909 is to be completed **after** this issue is done because we want the misspellings to be corrected **after** we find the linter so we have something for the linter to find.
  - [x] completed
- You should include the lis

[2022-09-14 18:06] mariareeves commented on #2924
i. Availability:  Mon-Fri 12-1pm MT
ii. ETA: 9/18/22

[2022-09-14 20:39] #3423 closed, assigned to arpitapandya

[2022-09-14 20:51] sijiapitts commented on #3277
We did usability testing with the entire team on 9/11 to check what works best for Hack for LA website regarding filter items. We showed the team members two options, as seen [here](https://www.figma.com/file/MVRUNtLFjuamihX8PQg2Ic/Hack-for-LA-about%2Faccomplishment-and-Toolkit-page?node-id=459%3A391177).

The team decided that the best option for our website would be:

- Filter items should stay

[2022-09-14 20:51] arpitapandya commented on #2249
Availability : 6hrs
Progress: I am working on it.
Blockers: None
ETA: 2022-09-19

[2022-09-14 20:58] AzaniaBG commented on #2830
Submitted PR for this issue. I spent about an hour on this.

[2022-09-14 21:04] AzaniaBG commented on #3554
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
It took me about 2 - 3 hours; the day after onboarding I attended my first meeting where I added my initial ETA and availability for the "good first issue." I just submitted a PR for my "good first issue." :)

[2022-09-15 02:22] braguda commented on #3406
ETA: 9-15-2022
Availability: 3 hours

[2022-09-16 00:25] geedtd commented on #3027
Availability this week Friday-Sunday before 2PM
Estimated Completion Sunday around Noon, unless I run into unforeseen bugs

[2022-09-16 00:55] plang-psm commented on #1750
i. Availability: 8hrs
ii. ETA: 9/20/22

[2022-09-16 01:56] Unity7 commented on #3510
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

3 hours roughly

[2022-09-16 01:57] Unity7 commented on #3510
Provide Update
1. Completed First Issue
2. Waiting on Approval and Merge
3. Availability - Waiting on medium size issue
4. ETA - Waiting on medium size issue

[2022-09-16 02:34] kathrynsilvaconway commented on #3175
#### Onboard Carole Lago, Paloma Soltys, Rafaela Grison
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bo

[2022-09-16 02:36] braguda commented on #3406
Availability: 9-16-2022
ETA: 1 hour

[2022-09-16 02:39] abdiaz2018 commented on #2211
Availability: 3 hours
ETA: Thursday night

[2022-09-16 03:15] abdiaz2018 commented on #2481
All overview links work correctly. #2211

[2022-09-16 03:16] palomasoltys commented on #2827
ETA: End of day - 09/16/22
Availability: 1h

[2022-09-16 03:53] abdiaz2018 commented on #2210
Availability: 6 hours
ETA: saturday night

[2022-09-16 03:58] #2824 closed, assigned to mariareeves

[2022-09-16 04:08] #2826 closed, assigned to AzaniaBG

[2022-09-16 14:39] #3448 closed, assigned to nobody

[2022-09-16 20:11] #2828 closed, assigned to Unity7

[2022-09-16 20:27] arpitapandya commented on #2776
I had a meeting with @jdingeman on 2022-09-15. We reviewed all the relevant changes and it's correct and working. Also, meets all the issue requirements and a working copy. Great job @jdingeman

[2022-09-16 20:27] #2776 closed, assigned to jdingeman

[2022-09-17 00:29] plang-psm commented on #3511
All items have been completed.

[2022-09-17 01:25] Unity7 commented on #3100
ETA: 9/18/2022
Availability: 2 hours

[2022-09-17 18:48] vzpeopledesign commented on #3005
Update: Putting together the UX Researcher Quiz slides for Bonnie's review, slides created will be based on the above outline
Ready by: 9/18/2022

[2022-09-18 00:37] JessicaLucindaCheng commented on #2211
Developer has added the following comment in the homepage launch issue: https://github.com/hackforla/website/issues/2481#issuecomment-1248871301. Thus, I'm closing this issue as completed.

[2022-09-18 00:37] #2211 closed, assigned to abdiaz2018

[2022-09-18 01:29] #3295 closed, assigned to neevliberman

[2022-09-18 02:24] luke-karis commented on #2901
This is finally done!

[2022-09-18 04:39] kathrynsilvaconway commented on #2901
We have demoed the changes and this issue is now complete.

[2022-09-18 04:43] JessicaLucindaCheng opened #3562 "Guides Team card: Make Program Area show"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-09-18 16:05] alice-milmac commented on #2705
Progress: Finalized email recruitment text and process and created spreadsheet for participant contact information. Next steps:
1 establish open Zoom link for interviews that can be added to calendar event text
2 discuss how to proceed if we don't hear back from any participants (e.g. email goes to spam, how long to wait before contacting again)

Blockers: Final approval for email and Zoom link fo

[2022-09-18 16:09] lilyarj commented on #2306
Availability: 3hrs
ETA: 9/20

[2022-09-18 16:12] arpitapandya commented on #2027
### Agenda for September 18, 2022
Facilitator: Arpita
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @AzaniaBG opened PR #3423 and

[2022-09-18 16:13] ExperimentsInHonesty commented on #3546
@kathrynsilvaconway Good News!  I figured out how to find the CI/CD spell checkers, so that we can try to find the pair that we are looking for.  Here are the ones that work on GitHub.  This probably includes action.  So they may not all be suitable.  What we are looking for it one that works on PRs or commits.
https://github.com/marketplace?type=&verification=&query=spell

[2022-09-18 17:03] d-perez-8 commented on #2286
Progress: I have learned how to create permalink to add to the spreadsheet.
Blockers: No blockers at the moment.
Availability: Will have time today and tomorrow, and I expect to finish it by Monday

[2022-09-18 17:08] bishrfaisal commented on #2688
#### Onboard Stephanie 2022-09-18
- [x] Google Drive
   - [x] Add to drive as Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
- [x] GitHub Teams
     - [x] Add to read team
        - [x] Change membership to maintainer
     - [x] Add to team write
        - [x] Change membership to maintainer
     - [x] Add to PM team
        - [x] Change members

[2022-09-18 17:14] jdingeman commented on #2485
ETA: Friday EOD
Availability: After 3pm each day

[2022-09-18 17:35] 7kram commented on #3520
### People to add
- Name: Simone Samuels
  - GitHub handle: Steph112792
  - Role: PM
  - SLACK ID: U03SJS7LYCC

[2022-09-18 18:33] alice-milmac opened #3563 "Research Plan: Toolkit Page Filter"
### Overview
We need to create a research plan so that we can uncover the value of including a new filter within the website. More specifically, we would like to understand if including a "Recommended by" filter will add value for users.

### Action Items

- [x] Create new "RP" label (i.e. RP014)
- [x] Include "RP014" label within Issue
- [x] Create "R014: Research Plan: Toolkit Page Filter" folde

[2022-09-18 19:59] #2827 closed, assigned to palomasoltys

[2022-09-19 02:30] kathrynsilvaconway commented on #3449
@JohnJBarrett22  Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-09-19 02:34] kathrynsilvaconway commented on #2777
This dev has left HfLA or has not responded to messages for 7 days. I'm returning this issue the the Prioritized Backlog.

[2022-09-19 02:38] kathrynsilvaconway commented on #3244
This dev has left HfLA or has not responded to messages for over two weeks. I'm closing this prework checklist.

[2022-09-19 02:38] #3244 closed, assigned to trz832

[2022-09-19 03:56] #2924 closed, assigned to mariareeves

[2022-09-19 16:36] ExperimentsInHonesty commented on #2662
Hi @sandarshp  😃! I noticed that you joined the Hack for LA website team on June 15th but have not finished the Pre-work process or closed any issues.

Will you be coming back?  Please let us know so that we can unassign you from this issue if you are not going to work on it.

Do you have feedback for us?

[2022-09-19 16:39] ExperimentsInHonesty commented on #3253
Hi @sandarshp
- I left a message for you on the issue you are assigned to #2662

[2022-09-19 16:43] ExperimentsInHonesty commented on #2706
@aksanna We have not had an update from you on this issue since July 24th.  I am unassigning and putting it back into the prioritized backlog

[2022-09-19 16:48] ExperimentsInHonesty commented on #3380
Message: Hi @aksanna  😃! I noticed that you joined the Hack for LA website team on July 17th and have not had any activity since July 24, 2022

- I have unassigned you from #2706

Will you be coming back in the future?

Please share any feedback you have for us on this issue

[2022-09-19 16:56] ExperimentsInHonesty commented on #3507
@mariareeves I am closing this issue.  Congrats you are fully onboarded and clearly on your way.  I look forward to seeing your continued progress.

[2022-09-19 17:00] ExperimentsInHonesty commented on #3509
Hey @attali-david, hope you're doing well. I saw that you closed/PR merged 3 issues 🙌 Thanks for your help!

I also noticed you completed most of the onboarding process.

Please finish checking off the action items on so that you can complete your pre-work checklist. Thanks 😃

[2022-09-19 19:56] JessicaLucindaCheng commented on #2316
@ExperimentsInHonesty This issue is missing a milestone and nobody is assigned to, so I am moving this back to New Issue Approval.

[2022-09-19 20:59] JessicaLucindaCheng commented on #3328
@ExperimentsInHonesty For this issue, should projects without Program Area information (such as problem, solution, impact, etc) just show a card with those information fields blank or should it say, "TBD"?

For example, 100 Automations doesn't have Program Area info:
<img width="787" alt="Screenshot 2022-09-19 135838" src="https://user-images.githubusercontent.com/31293603/191115410-9934f710-e464-

[2022-09-19 21:23] JessicaLucindaCheng commented on #3415
- Ans from Bonnie: Instead of a link to the image, find a link to the author's page and use that link instead of the link to the image

[2022-09-19 21:23] JessicaLucindaCheng commented on #3130
### Notes
From Dev/PM meeting with Bonnie on September 19, 2022,
- Q: Did you want me to write an issue for the Hands credit even though I don't currently see it being used on the Homepage?
  - A: No, we don't need to write an issue for it because research/design is still trying to figure out what image is the best to use.

### Progress Update
- Progress: Still need to contact Kristine Eudey and c

[2022-09-19 21:30] ExperimentsInHonesty commented on #3433
@Zak234 Hi Sakari.  It seems like the invite is broken now.  Can you connect with me, and let me know what exactly has changed.  Its been broken for a few weeks.

[2022-09-19 21:34] alice-milmac opened #3565 "Agenda for Bonnie's Help with Website UX Research"
### Overview
This issue tracks the agenda for my request for Bonnie's assistance in obtaining contact information for partners to be interviewed as part of the website UX Research process.

## [09-19-2022 ]  Meeting Agenda

### Prework to prep for meeting
- Completed interview template and email recruitment template
- Created spreadsheet to list contact information for HfLA partners to be intervie

[2022-09-19 21:41] ExperimentsInHonesty commented on #3549
@ethanstrominger please dont remove the missing labels. Until the labels that are supposed to be there are added.

[2022-09-19 21:43] AzaniaBG commented on #3106
Availability: 09/19/2022 3 PM - 5 PM
ETA: 09/20/2022 by 6 PM

[2022-09-19 22:08] alice-milmac commented on #2705
Progress: Ran out of time during Sunday's meeting, 09-18-22, for Bonnie to add participant contact information to the spreadsheet. On 09-19-22 I sent Bonnie a request for the information and created an agenda for that request. Resolved issue with Zoom link and can move forward with contacting and scheduling participants.

Blockers: Need contact information for interview participants

Availability:

[2022-09-19 22:09] ExperimentsInHonesty commented on #3434
@phuonguvan did Jolleen leave the team?  If so, please add a note to this issue and close it.  It will automatically move it to the correct column

[2022-09-19 22:24] JolleenOpula commented on #3434
I was away for a family emergency then got covid afterwards but I’ll check
out the issue and get it done this week.

On Mon, Sep 19, 2022 at 6:09 PM Bonnie Wolfe ***@***.***>
wrote:

[2022-09-19 22:39] JessicaLucindaCheng commented on #3358
Closing this issue because pr #3444 was merged.

[2022-09-19 22:39] #3358 closed, assigned to Mattre7

[2022-09-19 23:14] JessicaLucindaCheng commented on #3328
- From Dev/PM meeting on September 19, 2022, Bonnie said
  - If there is no info, it should be blank similar to how it is seen in that image.

- [x] Add the info about blank image to the issue. Note: I decided against it being blank because I want to take into consideration that there could be blank fields in the future when the page is live. Thus, in order to maintain a professional looking websi

[2022-09-19 23:48] JessicaLucindaCheng commented on #3265
Copying notes related to the board migration from the Dev/PM agenda on 2022-09-19 (https://github.com/hackforla/website/issues/2607#issuecomment-1246112979) to here:
- Board migration
  - PM dislikes how the top nav/menu is for the beta project board (but this isn't something we at HfLA can do anything about.)
  - The automations dealing with issues within certain columns should still work. Howeve

[2022-09-20 01:53] braguda commented on #3406
I have a block. I'm trying to get my local repository running on Docker but when I run "docker-compose up" I'm getting the error message "Mounts denied. The path is not shared from the host...". So far I've tried:

1. Going to Preferences --> Resources --> File Sharing and then adding the path to the folder but when I click on "Apply and Restart", nothing happens.
2. Deleting and starting a new co

[2022-09-20 05:41] Mattre7 commented on #3489
i. Availability: Sundays and Mondays. Rest of the days I work, but can still do a little bit, especially after 9 PST.
ii. Likely Tuesday 9/20 (tomorrow), at the latest, Sunday 9/25.

[2022-09-20 16:39] carolemlago commented on #2829
i. Availability: Tuesday (10am - 2pm PST) and Wednesday (9am - 1pm PST)
ii. ETA: Tuesday (9/20) by EOD.

[2022-09-20 18:31] mariareeves commented on #3447
i. Availability: Mon-Thus 12-13pm and Friday 9-13pm
ii. ETA: 9/30/22

[2022-09-20 23:14] aricforrest commented on #2832
Availability: 3 hours
ETA: 9/21/2022

[2022-09-20 23:36] aricforrest commented on #3541
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

3.5 hours

[2022-09-21 01:08] kathrynsilvaconway commented on #2010
### Agenda for September 20th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update an

[2022-09-21 02:49] kathrynsilvaconway commented on #3175
#### Onboard Sonali Martinez-Najera, Michael Magen, Rolando Zarate
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboard

[2022-09-21 03:10] michaelmagen opened #3569 "Pre-work Checklist: Developer: Michael Magen"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-21 03:11] sonalinajera opened #3570 "Pre-work Checklist: Developer: [Sonali Martinez-Najera]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-21 03:12] rolzar opened #3571 "Pre-work Checklist: Developer: Rolando Zarate"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-09-21 03:23] blulady commented on #3290
availability: 22-9-23/26
eta: 22-9-29

[2022-09-21 03:26] sonalinajera commented on #2833
ETA: End of day on 9/25
Availability: 2hrs

[2022-09-21 03:27] michaelmagen commented on #2842
Availability: 2hrs
ETA: 9/23/22 end of day

[2022-09-21 03:43] jdingeman commented on #2485
Blocker: It does not look like the files in the [_projects collection](https://github.com/hackforla/website/tree/gh-pages/_projects) have links to their respective hackforla.org/ pages like the currently used .yml files. To properly link the projects the same way they are currently, I think would need to add a link to each .md file to include their hackforla page link.

e.g.
**Currently Used:**
Th

[2022-09-21 04:56] yiminng opened #3572 "Update Project Profile: Food Oasis"
### Overview
As a product manager of Food Oasis I want my project's details to be up to date on the HackforLA website. As developers, we need to update the Food Oasis project's description, leadership, partner, and tools.

### Action Items
- [x] Observe the existing syntax of the [front matter block](https://jekyllrb.com/docs/front-matter/) inside of the [food-oasis.md](https://github.com/hackforl

[2022-09-21 06:02] fancyham commented on #3572
Hi, Yiming, I’m a UX/UR Lead aka design/research lead

[2022-09-21 14:34] #3106 closed, assigned to AzaniaBG

[2022-09-21 14:54] arpitapandya commented on #2668
ETA: EOD 2022-09-30
Availability: 6hrs

[2022-09-21 14:58] arpitapandya commented on #2249
I have unassigned in order to gain more understanding to create GHA first before I test

[2022-09-21 16:18] ExperimentsInHonesty commented on #3256
@kathrynsilvaconway you mention that they should

But there is no mention that they should check to see if the pages that use it still work.... and I am left wondering if there are other steps they have to do to make sure the files that use the code know where to find it.

--

Also, when you use the issue making template, please delete the no dependency part or anything else that is unnecessary to

[2022-09-21 16:23] ExperimentsInHonesty commented on #3377
@JessicaLucindaCheng I am confused, how did a problem creep in on the project info pages?  Why did they change at all?  What do they have to do with the Homepage launch?

[2022-09-21 16:41] ExperimentsInHonesty commented on #2455
@phuonguvan we need to discuss this issue because it shows a header that is not consistent with the designs in red on the Figma page for the homepage launch https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=9477%3A88938 - Please find all the issues related to the header and footer, and the related Figma pages and add all of that to our agenda so that we can discuss at o

[2022-09-21 16:48] ExperimentsInHonesty commented on #3493
@kathrynsilvaconway I updated the overview to reflect the format required `We need to do X for Y reason`

[2022-09-21 17:03] ExperimentsInHonesty commented on #3493
**@kathrynsilvaconway @7kram  figured out that if you use four backticks to surround the three backticks, you can get a code block within a code block.  Copying the code block above gives us:**

IMPORTANT: Before you push your local commits to your repository, sync your fork to the main Hack For LA website repository. `git pull upstream` will ensure that your local repository is up-to-date with th

[2022-09-21 17:20] sei1122 commented on #3572
Can you change my role to Senior Product Designer?

[2022-09-21 17:58] GRISONRF commented on #2834
Availability: wednesday (1pm - 5pm MST)
ETA: Wednesday

[2022-09-21 19:37] sandarshp commented on #2662
Hi @ExperimentsInHonesty My apologies for not being regular with the updates. I think I will unassign myself from this issue. Things have been getting busy work wise and I don't think I'll be able to put the required hours at HfLA in the near future. I would love to get involved again early next year if that's alright. My workload will be more manageable then.

Thanks!

[2022-09-21 20:35] carolemlago commented on #3543
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

7h

[2022-09-21 21:14] carolemlago commented on #3543
Provide Update
1. Progress - finished my pre-work issue
2. Blockers - just to get familiar with all the instructions and documentation
3. Availability - Tue, Wed, and Thu from 10 am to 12pm
4. ETA - Done

[2022-09-21 21:15] #3543 closed, assigned to carolemlago

[2022-09-21 21:26] #2829 closed, assigned to carolemlago

[2022-09-21 21:28] #2832 closed, assigned to aricforrest

[2022-09-21 21:59] #3100 closed, assigned to Unity7

[2022-09-21 22:21] aricforrest commented on #2215
Available: 3 hours
ETA: 9-23-22

[2022-09-21 22:26] #2834 closed, assigned to GRISONRF

[2022-09-21 22:38] JessicaLucindaCheng commented on #3377
@ExperimentsInHonesty

The problem crept in on the project info pages when the SCSS class `hero-inner` was removed from home.scss as part of pr #2373, which was the initial pr on the feature-homepage-launch branch.

I think it changed/problem happened because a lot of the code originally in home.scss was removed/changed in order to style the redesigned homepage, including the removal of class `her

[2022-09-22 02:13] Unity7 commented on #3129
ETA: 9/23/22
Availability: 2 Hours

[2022-09-22 08:34] yiminng commented on #3572
https://github.com/hackforla/VRMS/issues/1216

[2022-09-22 16:09] AzaniaBG commented on #3351
ETA: 09/23/2022 by 5 PM
Availability: 09/23/2022 2:30 PM - 5 PM

[2022-09-22 16:09] carolemlago commented on #3098
Availability: Friday 3h
ETA: By Saturday morning

[2022-09-22 19:48] mxajPrice commented on #3153
Kevin Chu has left the project and no longer needs to be added as the UX/UI Design Lead.

[2022-09-22 20:08] tunglinn commented on #1543
Availability: 9/23, 9/24-25 after 6pm, various times next week
ETA: end of 9/30

[2022-09-22 20:23] jdingeman commented on #2485
Blocker: I am unsure how to access the [_projects collection](https://github.com/hackforla/website/tree/gh-pages/_projects) using Liquid. It does not seem to react the same way as the [/data/internal/program-areas](https://github.com/hackforla/website/tree/gh-pages/_data/internal/program-areas) collection.

When I tried to debug, I found that the page will display all of the data in the program-ar

[2022-09-22 22:53] GRISONRF commented on #3099
Availability: Friday 10/22
ETA: Thursday 09/22 @ 6pm MST

[2022-09-22 23:38] GRISONRF commented on #3099
I have a question.

The issue description says I need to change line 101, but the file only has 80 lines.
The referred line is the 79th in my current code.

I noticed the link is pointing to a commit made in January this year, so I'm assuming that's why, and I just need to change line 79, right?

[2022-09-23 01:22] kathrynsilvaconway commented on #3118
@ExperimentsInHonesty
How are the resource links meant to be displayed at these dimensions? Should they be left justified and three across like this? Should it be four across for the first row and two underneath? This issue addresses the fact that the links are left justified in the mobile view when they should be centered. Do we want them centered here too?
![image](https://user-images.githubuser

[2022-09-23 01:38] kathrynsilvaconway commented on #3547
@JessicaLucindaCheng This one is almost ready to go. How do I create a feature branch for it?

[2022-09-23 01:45] kathrynsilvaconway commented on #3545
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this issue. Thanks!

[2022-09-23 02:40] michaelmagen commented on #3569
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
1.5 hours

[2022-09-23 03:51] jdingeman commented on #2485
I tried to experiment with changing the file paths around and here's what I've found:

- Referencing `site` will only work if followed by any path in /_data, it does not work with any other path at the same level as _data
- I tried copying all of the .md files from the _projects collection into their own folder _within_ the /_data folder as its own subfolder (/_data/internal/project-test), and in

[2022-09-23 17:52] #1750 closed, assigned to plang-psm

[2022-09-23 21:26] Unity7 commented on #3510
Progress: Working on my first small issue, it is complete
Blockers: Windows Docker is having an issue with W2K license?
Availability: 4 HOURS
ETA: 10/8/22 for entire issue to be closed

[2022-09-23 21:28] Unity7 commented on #3129
Having issues with Windows Docker.

Issue is ready to merge but I cannot get windows docker to load to make the screen shot to finish the PR.

[2022-09-24 00:34] #2842 closed, assigned to michaelmagen

[2022-09-24 00:44] #3099 closed, assigned to GRISONRF

[2022-09-24 00:49] arpitapandya commented on #3098
Hey @carolemlago when you self-assign an issue from the Prioritized backlog please move it to In Progress (actively working)

[2022-09-24 00:53] #3098 closed, assigned to carolemlago

[2022-09-25 02:10] JessicaLucindaCheng commented on #3265
From Slack on 2022-09-24, copying [Bonnie's Slack post on why we should hold off on migrating to the beta project board](https://hackforla.slack.com/archives/C010LNXH2JY/p1664038089408699?thread_ts=1664038078.883259&cid=C010LNXH2JY) to here:

Additional [post by Bonnie](https://hackforla.slack.com/archives/C010LNXH2JY/p1664038827172699?thread_ts=1664038078.883259&cid=C010LNXH2JY):

[2022-09-25 14:44] vzpeopledesign commented on #3005
Final result now part of the Onboarding Slide deck pegs 23-25. Project completed. May need follow up if the parameters of choosing a UXR leader aren't working.

[2022-09-25 15:09] Unity7 commented on #3510
Provide Update
1. Submitted PR for small issue, still need to finish medium / large
2. No current blockers, waiting for PR to merge
3. 4 hours
4. 10/8/22 for entire issue to close

[2022-09-25 16:21] arpitapandya commented on #2027
### Agenda for September 25, 2022
Facilitator: Arpita
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @carolemlago opened PR #3567
-

[2022-09-25 16:24] kpmunnelly commented on #2763
Progress: Was able to connect with Summer Harvey on this issue b/c some info was missing from drive and it was unclear if this issue was complete. The following 4 preference tests were conducted:
Pref test 1: Original homepage image Vs. New stock image
Pref test 2: Goofy selfie (w/ tongues sticking out) Vs. Happy/professional selfie (w/out tongues sticking out)
Pref test 3: Happy/professional self

[2022-09-25 16:26] kpmunnelly commented on #2763
Progress: Was able to connect with Summer Harvey on this issue b/c some info was missing from drive and it was unclear if this issue was complete. Summer confirmed that the following 4 preference tests were conducted:
Pref test 1: Original homepage image Vs. New stock image
Pref test 2: Goofy selfie (w/ tongues sticking out) Vs. Happy/professional selfie (w/out tongues sticking out)
Pref test 3: H

[2022-09-25 16:36] 7kram commented on #3492
@kathrynsilvaconway Hey, we made some formatting edits to this issue to make it more clear, can you confirm the steps are still accurate with your original intention Thanks

[2022-09-25 16:41] ExperimentsInHonesty commented on #3492
@kathrynsilvaconway please only put the links into the resources section, unless absolutely necessary.  We have added the ready for dev lead label and removed the ready for milestone.  Please put the ready for milestone label back on when you have cleared this issue.

NOTE to pms: this issue will get a Team Workflow milestone.

[2022-09-25 17:07] #3508 closed, assigned to abdiaz2018

[2022-09-25 17:28] ExperimentsInHonesty commented on #2949
@vaisali89
The following seems like it makes sense

- name of the research:  Impact Page Research (on this issue)
- Name of wiki page: Research 7 : Impact Page Research
- URL of wiki page: https://github.com/hackforla/website/wiki/Research-7-:-Impact-Page-Research
- Google Drive: R007: Impact Page Research

But then the labels for it do not  (no issues tied to label)
- label for RP7: Best Practice

[2022-09-25 18:16] ExperimentsInHonesty commented on #3563
@vaisali89 please see the example of the TWE research plan template and guide to filling out the template https://github.com/hackforla/internship/wiki/UX-Research-Guides-Templates

[2022-09-25 21:47] neevliberman commented on #2355
Availabilty: 1 hr
ETA: 9-28-22

[2022-09-26 00:40] jbialkin98 commented on #3387
Yes I am! I'll attend a meeting this week.

[2022-09-26 14:36] AzaniaBG commented on #1674
ETA: 09/28/2022 by 5 PM
Availability: 09/26/2022 3 - 4 PM; 09/27/2022 2 - 4 PM; 09/28/2022 2 - 4 PM

[2022-09-26 15:05] #3129 closed, assigned to Unity7

[2022-09-26 15:44] GRISONRF commented on #3377
Availability: 3h 09/26/2022
ETA: 09/26/2022

[2022-09-26 17:07] mariareeves commented on #3447
I have a blocker. I am having trouble pushing my branch - I am able to see the changes I made in the website using docker . Here is what I have done:

- I made a commit
- then I used the command git push --set-upstream origin update-project-card-3447
- then there were some conflicting changes and I tried git fetch upstream
git checkout -b upstream-gh-pages --track upstream/gh-pages as the "CONTRIB

[2022-09-26 19:06] palomasoltys commented on #2925
Availability: 3-4pm EST
ETA: EOD

[2022-09-26 20:33] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: None
Availability: Not sur

[2022-09-26 20:34] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-09-26 20:38] braguda commented on #3194
Availability: Wednesday 9-28-2022
ETA: 8:00PM PDST

[2022-09-26 20:39] JessicaLucindaCheng commented on #3547
1) > @JessicaLucindaCheng This one is almost ready to go. How do I create a feature branch for it?

It should be the same as creating a branch in your forked repo (but I could be remembering wrong because it has been a long time since I have create a new branch in the HfLA repo). Here is the GitHub documentation for how to do it. https://docs.github.com/en/pull-requests/collaborating-with-pull-req

[2022-09-26 21:28] tunglinn commented on #1543
Bot looks at queue file.
Process  and parses file.
Sends message at appropriate times and appropriate channels.

<details><summary>As of 9/27/22, we'll be building a "Traditional Slack App", which doesn't require a paid Slack plan.</summary>

![image](https://user-images.githubusercontent.com/86996158/192383748-55c526e9-55be-4f49-bcf4-cef3e8336e95.png)
</details>

Looks like Tim from VRMS is worki

[2022-09-26 21:38] JessicaLucindaCheng commented on #3328
- `citizen engagement card data` comment should be changed to `program area card data` in the project md files
- Then update the wiki for the project md file templates
- If a project has multiple program areas, the problem, solution, sdg, etc info will be the same on the cards for each project. The same card/program area info will just show up on multiple pages.

[2022-09-26 22:03] JessicaLucindaCheng commented on #1850
- [x]  The mobile "accordion" on the About page is different than the accordion on the Getting Started page. (Clarify this in a new comment below.)
- [x]  Add additional action items to add a wiki page to the issue above.
- [x] Add the following to the issue above:
  - Auditing/Finding where each component is by looking at Figma and on the live webpage and also on not yet live pages in [Figma](htt

[2022-09-26 22:08] alice-milmac commented on #2705
Progress: Added participant information to recruitment spreadsheet and have started emailing participants.

Blockers: None

Availability: 15 hours

ETA: Depends on hearing back from participants and scheduling interviews. Will touch base with the team at our next meeting on Sunday 10-08-2022

[2022-09-26 22:09] alice-milmac commented on #3565
Got all of the necessary information to contact participants for the Partner Persona project.

[2022-09-26 22:09] #3565 closed, assigned to alice-milmac

[2022-09-26 22:51] carolemlago commented on #2025
i. Availability: Tue 3h
ii. ETA: Wed by EOD

[2022-09-27 23:44] rolzar commented on #3562
Availability for this week: 10hrs
My estimated ETA for completing this issue: 10/1

[2022-09-28 01:05] #2925 closed, assigned to palomasoltys

[2022-09-28 01:06] #3489 closed, assigned to Mattre7

[2022-09-28 01:24] kathrynsilvaconway commented on #2010
### Agenda for September 27th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update an

[2022-09-28 01:31] #2215 closed, assigned to aricforrest

[2022-09-28 01:41] kathrynsilvaconway commented on #3512
Hi, we are closing this issue because we have not heard back from you in over two weeks. If you do decide to return to HfLA, please reach out and let us know. We can reopen this checklist in the future if necessary.

[2022-09-28 01:41] #3512 closed, assigned to nobody

[2022-09-28 01:46] kathrynsilvaconway commented on #3553
@Suman2795 Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this iss

[2022-09-28 01:48] kathrynsilvaconway commented on #3386
@ethanchen7 Hi, we are closing this issue because we have not heard back from you in over two weeks. If you do decide to return to HfLA, please reach out and let us know. We can reopen this checklist in the future if necessary.

[2022-09-28 01:48] #3386 closed, assigned to nobody

[2022-09-28 01:51] kathrynsilvaconway commented on #3186
@MohamadAlsyouf Hi, we are closing this issue because we have not heard back from you in over two weeks. If you do decide to return to HfLA, please reach out and let us know. We can reopen this checklist in the future if necessary.

[2022-09-28 01:51] #3186 closed, assigned to nobody

[2022-09-28 01:55] kathrynsilvaconway commented on #3389
@CalvinTan607 Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 14 days, we will close this

[2022-09-28 02:10] jdingeman commented on #2485
Blocker: While my previous blocker proved to not really be much of an issue, I have discovered that the statement (assuming we use `{% for project in site.projects %}`)
`{% if program_areas[1].program-area == project.program-area %}` does not not seem to yield expected results.
While we can display each of the `program-area` of each file independent of each other, but despite being the exact same

[2022-09-28 02:26] blulady commented on #3290
Progress update:
got side tracked
Availability: 22-10-1/2
ETA: 22-10-3

[2022-09-28 02:28] carolemlago commented on #2954
Availability: 2-5pm Wed/Thu
ETA: 6pm Thursday

[2022-09-28 02:51] kathrynsilvaconway commented on #3175
#### Onboard Josh Bialkin
- [ ] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com

[2022-09-28 03:07] jbialkin98 commented on #2836
ETA: End of day 9/28
Availability: 1 hour

[2022-09-28 04:01] aricforrest commented on #2485
@jdingeman the jekyll _projects files are including program-areas as a list/array. You'll need to loop through each of these before the comparison. Take a look at the snippet below.

[code]

[2022-09-28 04:20] jdingeman commented on #2485
This worked! I am curious as to why it hadn't worked when we changed the program-area in 311-data.md from
[code]
to
[code]

Nonetheless, thank you so much!!

[2022-09-28 05:26] neevliberman commented on #2355
I'm a bit confused, wasn't #3087 merged? Didn't that code make all the changes requested here? Maybe there's an update to the design here that I'm not catching, but it seems like the code that [Jaretzbalba](https://github.com/Jaretzbalba) wrote made all the changes necessary. If somebody can help me understand that'd be great!

[2022-09-28 06:59] aricforrest opened #3587 "Update docker-compose to remove the previously generated site and Jekyll metadata before building"
### Overview

Jekyll does not always rebuild every file in the _site directory every build. This can cause old versions of files to be served.

### Action Items

- [x] Update the `docker-compose.yml` file to run the `jekyll clean` command before the existing `jekyll serve` command.
- [x] Test updating a file in `_projects` to ensure the update reflects immediately when running `docker-compose up`.

[2022-09-28 07:19] aricforrest commented on #2485
As I said on the call, the changes in `311-data.md` didn't work because jekyll was not rebuilding the files so it still treated the `project.program-area` as the original array. I discovered if you run `jekyll clean` it will delete the full `_site` directory and jekyl metadata. The jekyll serve command (docker-compose.yml runs this) will then rebuild all files ensuring you have the latest version.

[2022-09-28 15:06] 7kram commented on #3099
@arpitapandya I'm still seeing the original alt text. Refer to the screenshot:
<img width="503" alt="Screen Shot 2022-09-28 at 8 05 15 AM" src="https://user-images.githubusercontent.com/107599650/192815085-d48fd21f-fbdf-4473-b268-55d572845c5f.png">

[2022-09-28 15:20] 7kram commented on #3316
@ExperimentsInHonesty Hey I'm still seeing the origin alt text. Refer to the screenshot:
<img width="468" alt="Screen Shot 2022-09-28 at 8 20 03 AM" src="https://user-images.githubusercontent.com/107599650/192818762-658c60d8-c1a5-4632-bc5f-52f2b6fb9b73.png">

This issue should be reviewed by a dev lead and returned to the prioritized backlog if necessary.

[2022-09-28 16:00] blulady commented on #2600
Good Morning Hiram,
We have a volunteer who is interested in working on this issue and it looks like you haven't done any progress reports or updates. I would hate to take this away from you if you've done the work but if you haven't started, we'd like to re-assign this issue. If I don't hear back from you by next week, we'll assume you aren't interested.

[2022-09-28 16:33] bishrfaisal commented on #2806
@ExperimentsInHonesty The requested changes have not been implemented by the developer, as seen in the following screenshot.
![Capture](https://user-images.githubusercontent.com/112529990/192836691-28b84682-f420-4343-bbae-82b914d60054.JPG)
Sending back to dev lead and adding to new issue approval column.

[2022-09-28 17:03] 7kram commented on #2569
We need accessibility testing on the "skills" icons to determine if the speech bubbles work with people with visual acuity issues.

If yes, we will remove all alt text for these "skills" icons

If no, recommend a course of action

[2022-09-28 17:04] 7kram commented on #2027
Please add this to your agenda:

https://github.com/hackforla/website/issues/2569#issuecomment-1261204054

[2022-09-28 19:58] michaelmagen commented on #3195
Availability: 3 hours
ETA: EOD 9/29/22

[2022-09-28 23:43] jdingeman commented on #2485
Awesome, thanks so much for the explanation and insight!

[2022-09-28 23:49] jdingeman commented on #2485
@kathrynsilvaconway @blulady @arpitapandya I am almost ready to open a pull request, however I wanted to propose a possible list of "good second issues".
The current page has hyperlinks for each project leading to their hackforla.org/projects/[project name] page, but the md files do not have those links. I am fine with going through and adding them to the files, but I wanted to run this by you all

[2022-09-29 16:30] blulady commented on #2485
This is a great idea, let's chat about it tonight and see what Kathryn thinks.

[2022-09-29 17:03] jbialkin98 commented on #3387
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

This has taken me somewhere around 6 hours in total, including attending two meetings.

[2022-09-29 17:18] #3387 closed, assigned to jbialkin98

[2022-09-29 20:00] Unity7 commented on #2626
Availability: 4 Hours
ETA: 10/1/22

[2022-09-29 20:01] Unity7 commented on #3510
Provide Update

1. Working on Medium Issue
2. No current blockers
3. 4 hours
4. 10/8/22 for entire issue to close

[2022-09-29 21:28] carolemlago commented on #2954
Availability: 10AM - 1PM FRI (waiting on initial approval and merge to complete dependency issues)
ETA: 6pm Friday

[2022-09-30 01:26] #3194 closed, assigned to braguda

[2022-09-30 01:37] #3195 closed, assigned to michaelmagen

[2022-09-30 02:08] plang-psm commented on #2021
Availability: 6hrs
ETA: 10/3/22

[2022-09-30 03:12] jdingeman opened #3592 "Link projects in program areas page to project page"
### Overview
We need to ensure that the Hack for LA project page links are attached to their respective project cards on [program areas page](https://hackforla.org/program-areas.html).

### Details
Developers have noted that the files in [/_projects](https://github.com/hackforla/website/tree/gh-pages/_projects) do not have the links for their respective project pages. Previously, when a user click

[2022-09-30 04:24] rolzar commented on #3571
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

3.5 hours.

[2022-09-30 06:05] rolzar commented on #3562
Blocker: Did the change mentioned above but nothing changed in the card.
<img width="973" alt="image" src="https://user-images.githubusercontent.com/44422381/193201325-d9bba8e0-d101-4ecb-a4be-655214ff8d2c.png">
<img width="925" alt="image" src="https://user-images.githubusercontent.com/44422381/193201452-54fa17c5-b065-4a65-a99e-6463063a2df0.png">

[2022-09-30 15:47] kpmunnelly commented on #2763
Progress: Was able to connect with Phuong. She was not sure if this issue is complete or not. Mentioned that maybe we could possibly make a design homepage mockup of the selfie and the research team could do tests on the design mockups of the selfie and the original hero image to users. However, she is stepping down and is not sure if anyone will be working on these mockups.

Blockers: Unclear if

[2022-09-30 21:36] #2485 closed, assigned to jdingeman

[2022-09-30 21:52] #2954 closed, assigned to carolemlago

[2022-09-30 22:40] #2836 closed, assigned to jbialkin98

[2022-10-01 01:10] aricforrest commented on #3481
Availability: Friday - Monday 9am - 12pm
ETA: 10/3/2022

[2022-10-01 20:02] #3563 closed, assigned to nehasyed97

[2022-10-01 22:48] Unity7 commented on #2626
Availability: 4 Hours
ETA: 10/8/22
Blockers: Unable to render img files with alt text attribute in project.html. Might need a better understanding of the stack that is being used to render the md file.

Currently the image src is being pulled from the md file but not able to attach the alt text along with the img being rendered through a variable.

[2022-10-02 00:43] #3562 closed, assigned to rolzar

[2022-10-02 00:45] #3481 closed, assigned to aricforrest

[2022-10-02 05:05] tunglinn commented on #1543
My plan is to integrate the functionality above into [Tim's app](https://github.com/tmshkr/vrms).

[2022-10-02 16:00] Suman2795 commented on #3553
Hi @kathrynsilvaconway! Unfortunately I was unavailable due to an emergency situation, but I will be there for the next meeting on Tuesday at 7pm. Thanks.

[2022-10-02 16:27] bishrfaisal commented on #2607
- PRS are not closing issues that are on the feature branch.  We need to write a GHA for that.
  - PR #3574 did not automatically close issue #3351
  - PR #3582 did not automatically close issue #3377
- #3099
   - This issue highlights the fact that providing line numbers is unnecessary and sometimes leads to incorrect information because the files get updated in the meantime.  Everyone can alread

[2022-10-02 16:32] bishrfaisal commented on #3569
@michaelmagen Great work on your first two issues! We are looking forward for you to self-assign to a [small](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+small%22+label%3A%22role%3A+front+end%22) issue.

[2022-10-02 16:36] ExperimentsInHonesty commented on #3542
@palomasoltys Great work on your first two issues!  Don't forget to self assign a good [small](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+small%22+label%3A%22role%3A+front+end%22) issue.

[2022-10-02 16:47] ExperimentsInHonesty commented on #3406
@braguda

- We (the PM team) noticed you left a comment above mentioning docker issues.  Did you get them resolved?
   - [x] resolved
   - [ ] still having docker issues
-  You checked off some boxes on this issue but the items were not done yet.  We unchecked them, here are the details:
    - Progress report: When you have been working on an issue long enough for it to be both 5 days and cross a

[2022-10-02 16:59] ExperimentsInHonesty commented on #3544
@GRISONRF I am reopening this issue.  Until you have had an issue that has been open for more than 5 days and crosses a Friday, you won't get the prompt to provide an update (progress report).  Let's leave this issue open until then.  After that is completed, then you will need to tell us how long it took for you to complete this issue (we are trying to track how long the entire onboarding process

[2022-10-02 17:01] michaelmagen commented on #3354
Availability: 3 hours
ETA: 10/4/22

[2022-10-02 17:08] ExperimentsInHonesty commented on #3511
@plang-psm I noticed that you have taken on another medium size issue instead of a large size issue.  Just checking if that was intentional.

I am reopening this issue so that we can see you do an update on a coding issue (although I appreciate that you put an update on this issue.

[2022-10-02 17:15] 7kram opened #3596 "Update Project Profile: HackforLA website team"
### Overview
As a product manager of HackForLA website team I want my project's details to be up to date on the HackforLA website

### Project card
URL of my project card: https://github.com/hackforla/website/blob/gh-pages/_projects/website.md

### Action Items

- [x] HackForLA Website team Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provi

[2022-10-02 17:16] arpitapandya commented on #2668
Progress: I have added job and `.md files for the message`. I am working on the script.
Blockers: I do not have blockers.
Availability: 10 hrs
ETA: 2022-10-15

[2022-10-02 17:18] 7kram commented on #3596
### People to add
- Name: Stephanie Samuels
  - GitHub handle: Steph112792
  - Role: PM
  - SLACK ID: U03SJS7LYCC

[2022-10-02 17:45] #3351 closed, assigned to AzaniaBG

[2022-10-02 17:46] ExperimentsInHonesty commented on #3351
Manually closing  (instead of the PR closing it on merge) this issue because its on a feature branch, so build in automations are not working.

[2022-10-02 17:46] ExperimentsInHonesty commented on #3377
Manually closing  (instead of the PR closing it on merge) this issue because its on a feature branch, so build in automations are not working.

[2022-10-02 17:46] #3377 closed, assigned to GRISONRF

[2022-10-02 18:17] ExperimentsInHonesty commented on #3546
@kathrynsilvaconway issue #2401 is not a dependency, its the issue that informs the making of this issue. https://github.com/hackforla/website/issues/2401#issuecomment-1146721700

[2022-10-02 18:32] plang-psm commented on #3511
@ExperimentsInHonesty Hi Bonnie, my apologies for closing out. I must've misread the issues section. I'll close out once I complete a large issue. And yes, I did pick up another medium issue because my previous one was significantly reduced due to some complications with the issue being outdated This resulted in me only having to do a simple link change. I didn't feel like I got to experience a re

[2022-10-02 18:45] ExperimentsInHonesty commented on #2021
@vaisali89 we need to know if any of the previous research proved that people prefer a single page form or they prefer the progressive version of the wins form.  I could not find any info in here about that in research presentation https://docs.google.com/presentation/d/1RU80s0ep8azGb7V3IUQ3N-8dDmzQH7oV1nn8q_peTUY/edit#slide=id.p

but I didn't dive into the rest of the docs on here https://github.

[2022-10-02 20:28] blulady commented on #2607
- talked about going through all recently closed PR's but I think we realized it was just the feature branch
 - https://github.com/hackforla/website/wiki/Meet-the-Team (need to add Justin? https://github.com/orgs/hackforla/teams/website-merge/members
 - Need to go through New Issue Approval [Column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22ready+for+dev+lead%22+

[2022-10-02 20:31] jdingeman commented on #3449
ETA: Wednesday 10/5/22 EOD
Availability: after 3pm each day

[2022-10-03 16:03] 7kram commented on #2212
Add to next agenda meeting:

**Look at the issues with no assignees in the in-progress column**
[Link to progress board](https://github.com/hackforla/website/projects/7?card_filter_query=no%3Aassignee#column-7198228)

[2022-10-03 16:41] 7kram commented on #2607
Add to next meeting agenda:

- https://github.com/hackforla/website/issues/2569#issuecomment-1261204054

[2022-10-03 21:12] JessicaLucindaCheng commented on #1850
@ExperimentsInHonesty
- Is the issue #3289 supposed to be one of the [Design System Audit: Text Elements](https://github.com/hackforla/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22role%3A+design%22+Design+System+Audit%3A+Text+Elements)?
- Ans: Yes

[2022-10-03 21:13] blulady opened #3598 "Create decision record for Using Dependabot to update GHA"
### Overview
We need a decision record for Using Dependabot to update GHA so that we are clear about what we need to do and it's easy for people to find the history behind the issue.
#### Details
A lot of our Github Actions are not the latest version. We want to be notified when our GHA dependencies are out of date. The issue below was created before the GH Dependabot was updated to include alerts

[2022-10-03 21:29] JessicaLucindaCheng commented on #1850
The arrow to show more for a card on the [About page](https://www.hackforla.org/about/) is different than the accordion on the [Getting Started page](https://www.hackforla.org/getting-started).

<details>
  <summary>Click here to see the arrow to show more for a card on the About page in mobile view</summary>

   ![hfla-about-more-info-arrow](https://user-images.githubusercontent.com/31293603/1962

[2022-10-03 22:20] alice-milmac commented on #2705
Progress: Conducted one partner interview and will send follow-up emails to the remaining two this week if they do not schedule. This week I will analyze the interview conducted on 09-30-2022 to uncover emerging themes.

Blockers: None

Availability: 8 hours

ETA: Depends on hearing back from the remaining two participants. Will touch base with the team at our meeting this Sunday 10-08-2022

[2022-10-04 00:08] GRISONRF commented on #2392
Availability: 10/04/22 all day.
ETA: 10/06

[2022-10-04 01:06] blulady commented on #2392
Hey,
I am moving this to the in progress column. Please be sure to move the issues you assign yourself into the In Progress column on the Project Board in the future.
Thank You,
Sarah

[2022-10-04 01:36] kathrynsilvaconway commented on #3492
@7kram Yes, everything here looks good.

[2022-10-04 02:11] kathrynsilvaconway commented on #2592
@attali-david
Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. Also, plese reach out on Slack if you are still having a blocker, we can help. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-10-04 02:13] kathrynsilvaconway commented on #2286
@d-perez-8 Hi, just checking in to see if you need any assistance with this issue. Be sure to comment your ETA and Availability for the week, and please do reach out on Slack if you are having a blocker.

[2022-10-04 02:16] kathrynsilvaconway commented on #3027
@geedtd
Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-10-04 02:17] #3389 closed, assigned to CalvinTan607

[2022-10-04 02:19] kathrynsilvaconway commented on #2833
Hi, this issue has not been updated in over 2 weeks. If you are still interested in working with HfLA, please let us know by updating your ETA and Availability. If we don't hear back within 7 days, we will unassign you from this issue and put it back in the queue. Thanks!

[2022-10-04 06:47] rolzar commented on #3196
Availability: 5 hrs.
ETA: 10/7.

[2022-10-04 17:12] d-perez-8 commented on #2286
@kathrynsilvaconway Hi Kathryn. I do not need assistance yet, but I am still working on it! ETA by EOD, and I'm available all day today.

[2022-10-05 00:36] kathrynsilvaconway commented on #3283
@JessicaLucindaCheng I was about to put a ready for milestone label on this, but I notice you added the draft label recently. Is there anything else that needs to be done with this one right now?

[2022-10-05 00:58] kathrynsilvaconway commented on #3570
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 7 days, we will close this issue. Thanks!

[2022-10-05 01:11] kathrynsilvaconway commented on #3247
@tiffany-wong I am closing this issue, as it has no content. It may have been opened in error,

[2022-10-05 01:11] #3247 closed, assigned to nobody

[2022-10-05 03:17] tunglinn commented on #1543
Started [this spreadsheet](https://docs.google.com/spreadsheets/d/1VsXISNeregvOrMPK1yV-39OR3Fyi1fsU1IajTlqYyCo/edit?usp=sharing) that will list all existing slack apps and its functionalities to see what can be consolidated into one slackapp.

Also, not sure why we have 12 apps even though we should cap out at 10.

I've setup the environment with the help of Tim. Will be waiting for him to merge a

[2022-10-05 10:19] JessicaLucindaCheng commented on #3283
@kathrynsilvaconway

Thanks for checking if the issue is ready for milestone. 😀 I think I put the Draft label because I saw the title has "[DRAFT]" in it but I didn't really read it. However, if you read it and think it is ready for milestone, you can
- remove [DRAFT] from the title
- remove the Draft label
- then add a ready for milestone label.
- Also, remove the following at the bottom of the i

[2022-10-05 16:08] ExperimentsInHonesty commented on #2613
I QAed this sheet, it is ready for dev leads to make good first and second issues out of it.

[2022-10-05 16:08] #2613 closed, assigned to nobody

[2022-10-05 16:14] #2617 closed, assigned to nobody

[2022-10-05 16:21] ExperimentsInHonesty commented on #2615
No images on this page need any alt text and the live page has only alt="", so there are no further steps to do

[2022-10-05 16:21] #2615 closed, assigned to iilashi

[2022-10-05 21:03] carolemlago commented on #2600
i. Availability: 1-4PM Tue and Wed
ii. ETA: 1PM Thu

[2022-10-06 20:07] plang-psm commented on #2210
i. Availability: 6hrs
ii. ETA: 10/16/22

[2022-10-06 20:23] plang-psm commented on #2210
Blocker: I believe this may have already been completed. Found in the Wiki as [Styling with Reusable Components](https://github.com/hackforla/website/wiki/Standardized-Components).

[2022-10-06 23:55] GRISONRF commented on #2392
I haven't made any progress with this issue. I will unassign and move it back to the 'Prioritize Backlog' so it can be re-assigned to someone else. Something came up and I won't have time to work on this for the next few days.

[2022-10-07 03:14] braguda commented on #3238
Availability: 2 hours
ETA: 10/10/2022

[2022-10-07 03:37] braguda commented on #3406
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

It took my about 5 and a half hours to complete my pre-work including my first good issue, and my first meetings. This also includes the time it took me to get docker up and running on my machine.

[2022-10-07 03:49] braguda commented on #3406
Provide Update
1. Progress: I have gone through all of the steps on the checklist,
2. Blockers: The major blocker I had was setting up Docker on my machine. I was able to work with Sarah and Justin to get through it during a Tuesday meeting.
3. Availability: 1 hour
4. ETA: 10/06/2022

[2022-10-07 13:40] Suman2795 commented on #2844
ETA: 8 oct 2022
Availability : 3-4 hrs

[2022-10-07 14:18] AzaniaBG commented on #3554
Provide Update
1. Progress: I just checked the last two remaining boxes for 1. adding myself to the roster (that was done when i first onboarded) and 2. all tasks completed.
2. Blockers: Can I close this request or do i wait for a lead to do it?
3. Availability: 10/7/2022 7 AM - 10 AM; after 2 PM
4. ETA: Today

[2022-10-07 17:24] Suman2795 commented on #3553
Hey @kathrynsilvaconway, I am working on my first issue and have made a pull request for it. I wanted to ask what are the next steps I need to do to review and merge it. Thanks!

[2022-10-07 21:37] #3354 closed, assigned to michaelmagen

[2022-10-08 13:33] AzaniaBG commented on #3554
I'm removing the `2 weeks inactive` label, since that's not the case as of yesterday :)

[2022-10-08 13:47] AzaniaBG commented on #2173
Availability: 7 AM - 8 AM 10/8/2022; 7 AM - 8 AM 10/9/2022; 10 AM - 11 AM 10/10/2022; 1 - 4 PM 10/11/2022
ETA: 10/11/2022 by 7 PM

[2022-10-08 17:33] d-perez-8 commented on #2286
I am finished with this issue and looking for it to get reviewed. Here is the [Spreadsheet](https://docs.google.com/spreadsheets/d/1Ss_l-_xANUsfcpTMdR-skdKiTEgZidL3UnenBupXkZc/edit#gid=774837932) @hackforla/website-merge

[2022-10-09 00:44] arpitapandya commented on #2355
@neevliberman Apologies for the confusion, I am unassigning you because this issue has been already completed but remained open. @Jaretzbalba made all the necessary changes with [PR](https://github.com/hackforla/website/pull/3087) has been approved and merged to `feature-homepage-launch` branch. The issue remained open since the merge team forgot to close the issue manually after the merge.

PS: w

[2022-10-09 00:45] #2355 closed, assigned to Jaretzbalba

[2022-10-09 06:10] 7kram commented on #2571
I QAed this sheet and it's now ready for dev leads to make good first and second issues out of it.

[2022-10-09 13:05] bishrfaisal commented on #2572
I QAed this sheet, it is ready for dev leads to make good first and second issues out of it.

[2022-10-09 13:17] bishrfaisal commented on #2616
I QAed this sheet, it is ready for dev leads to make good first and second issues out of it.

[2022-10-09 13:50] Unity7 commented on #3510
Progress: Working on the Medium size issue and pending last Large size issue
Blockers: Currently stuck on the Medium size ticket
Availability: 4 Hours
ETA: 10/15/22

[2022-10-09 15:31] arpitapandya commented on #2027
### Agenda for October 9, 2022
Facilitator: Arpita
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @jdingeman opened PR #3597
- @blu

[2022-10-09 16:40] ExperimentsInHonesty commented on #3256
@kathrynsilvaconway left you a note above, and it looks like you did not address what I mentioned, but changed the labels back to ready for milestone.  Please address https://github.com/hackforla/website/issues/3256#issuecomment-1253935127

[2022-10-09 16:50] ExperimentsInHonesty commented on #2571
I agree its ready for dev leads to make issues

[2022-10-09 16:52] ExperimentsInHonesty commented on #2572
I agree, the spreadsheet is ready for dev leads to make new issue from it.

[2022-10-09 16:55] ExperimentsInHonesty commented on #2616
I agree, the spreadsheet is ready for dev leads to make new issue from it.

[2022-10-09 17:01] ExperimentsInHonesty commented on #2567
### Figma
[code]

### GitHub
[code]

### Zoom
[code]

[2022-10-09 17:11] ExperimentsInHonesty commented on #2567
@JessicaLucindaCheng
We have images on the toolkit page that are svgs, do we have guidance in our wiki about using aria tags for svgs?  If not, we will need to have that added and the development issue created from this issue should reflect it.  You could put the svg part of updating the WCAG on one Medium size issue, while making issues for all the rest of the images using the template for alt ch

[2022-10-09 17:35] ExperimentsInHonesty commented on #3277
- [ ] Create new issues:
   - [x] Adapt new Projects page Filters and Search design to Toolkit page
   - [x] Adapt new Projects page Filters and Search design to Wins page
- [ ] Put a screen shot of the New designs in this issue and a link to the Figma file
- [x] Close issue (which will send it to Q&A
- [ ] Q&A/Product will review and send to dev leads for new development issue creation.

[2022-10-09 18:04] kpmunnelly commented on #2763
Progress: I am removing myself from this issue for now b/c after talking with Bonnie it has been realized there are a few next steps that need to be taken care of by design before more research is conducted
Next steps:
- Design will collect Zoom images from missing teams and create a new stitched image.
- Design will incorporate the new Zoom image into the homepage, so research can test it
- When

[2022-10-09 18:09] kpmunnelly commented on #2706
Progress: Assigned this task to myself on Sun, Oct 9
Blockers: Need to read through the issue history to understand where this was left off.
Availability: 5 hours split between Mon and Fri.

[2022-10-09 18:39] ExperimentsInHonesty commented on #3447
Project image size did not conform, here is new size 600x400 image

![accessthedata](https://user-images.githubusercontent.com/37763229/194773926-4126abba-4547-4a05-95ee-f0cb01b77129.png)

[2022-10-10 00:29] arpitapandya commented on #3447
Availability: 30 minutes
ETA: EOD 2022-10-09

[2022-10-10 01:18] #2844 closed, assigned to Suman2795

[2022-10-10 01:34] arpitapandya commented on #2286
Will review by EOD 2022-10-10
Availability : 4hrs

[2022-10-10 17:20] #3447 closed, assigned to arpitapandya

[2022-10-10 18:37] alice-milmac commented on #2705
Progress: Sent follow-up emails to the remaining partner participants (n=2). Analyzed data from first interview and compiled this in the Affinity Mapping doc linked in issue description above. After talking with Bonnie at the Sunday website team meeting the plan moving forward is:
-Email two remaining participants on Wednesday 10-12-2022 and cc Bonnie on the email. If they schedule, I need to upda

[2022-10-10 19:26] blulady commented on #2286
@d-perez-8
Thanks for working on this Danny!! I noticed this instruction "Research online on what the standards are in terms of HTML tags, accessibility, etc for this component." I was wondering if I missed where you put the research?

[2022-10-10 19:45] blulady commented on #2286
Do the drop downs on the https://www.hackforla.org/ and https://www.hackforla.org/#press count too?

[2022-10-11 02:41] MattPereira opened #3602 "Pre-work Checklist: Developer: Matt Pereira"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:41] esantiano opened #3603 "Pre-work Checklist: Developer: Eric Santiano"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:43] gstemmann opened #3604 "Pre-work Checklist: george stemmann"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:47] str-xjua24 opened #3605 "Pre-work Checklist: Developer: [Joshua Juarez]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:53] DmitriiTsy opened #3606 "Pre-work Checklist: Developer: Dmitrii Tsyplakov"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:53] erniep278 opened #3607 "Pre-work Checklist: Developer: Ernie Pelayo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:53] jond34 opened #3608 "Pre-work Checklist: Developer: Jonathan Delgadillo Lorenzo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:54] Skydodle opened #3609 "Pre-work Checklist: Developer: Johnny Wu"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:54] jyaymie opened #3610 "Pre-work Checklist: Developer: Jamie Park"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:54] ldaws003 opened #3611 "Pre-work Checklist: Developer: Leon Dawson"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:55] h3nry-m opened #3612 "Pre-work Checklist: Developer: Henry Mu"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:55] t-will-gillis opened #3613 "Pre-work Checklist: Developer: Will Gillis"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 02:59] dwightdiesmo opened #3614 "Pre-work Checklist: Software Engineer: Dwight Diesmo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-11 17:10] blulady commented on #3290
Progress: sitting down with this now
Blockers: just haven't had time
Availability: 6 hours this week
Eta: unknown
Pictures: None, probably won't be any, we'll see

[2022-10-12 01:31] kathrynsilvaconway commented on #2010
### Agenda for October 11th, 2022
Facilitator: Kathryn

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and

[2022-10-12 02:38] kathrynsilvaconway commented on #3175
#### Onboard Dwight Diesmo, George Stemann, Jamie Park, Johnny Wu
- [ ] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [ ] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [ ] If they are not a member, tell them to go sign up for onboardi

[2022-10-12 02:39] blulady commented on #3175
#### Onboard Dmitrii Tsyplakov, Henry Mu, Eric Santiano, Joshua Juarez, Will Gillis, Suman

- [x] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them

[2022-10-12 02:43] braguda commented on #3238
Update:
Progress: I've found the page where the source code is supposed to be.
Blocker: I can't find the img tag where the alt needs to be changed. I tried to look into donate-card.html to see if I could find the code that needed changed but I came up empty. The directions say to look on line 45 however there is no line 45 on pages/donate.html nor donate-card.html.
Availability: 2 hours
ETA: 10/13

[2022-10-12 03:07] Skydodle commented on #2843
ETA: end of day on 10/22
availability: Fri to Sat, will try to finish this on Wed 10/19 if not then latest 10/22 EOD

[2022-10-12 03:07] MattPereira commented on #2845
**Availability:** 2 hours a day
**ETA**: end of day 10/11

[2022-10-12 03:08] jond34 commented on #2871
i. Availability - i can start working on this this Sunday. I expect to finish this in two weeks, bythe 25th :-)

[2022-10-12 03:19] gstemmann commented on #2848
ETA: October 20, 2022
Availability: 6 hours per week

[2022-10-12 03:25] blulady commented on #3175
#### Onboard Henry Mu
- [ ] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [ ] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [ ] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com/hac

[2022-10-12 03:27] blulady commented on #3175
#### Onboard eric santiano
- [ ] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [ ] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [ ] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.co

[2022-10-12 04:05] MattPereira commented on #2845
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
* 1 hour

[2022-10-12 13:32] AzaniaBG commented on #2174
Weekly update: I'm almost finished with the write-up, but I have a question that I was not able to address at Tuesday's meeting, so my new ETA is 10/13/2022 by 8 PM. I'll post my question in Slack.
Availability: 6:30 - 7:30 am 10/12/2022; 1 - 2 pm  and 5 pm - 8 pm 10/13/2022

[2022-10-12 14:05] AzaniaBG commented on #2173
Weekly update: I'm almost finished with the write-up, but I have a question that I was not able to address at Tuesday's meeting. I will also be attending Sunday's meeting to discuss this issue, so my new ETA is 10/16/2022 by 10 AM.
Availability: 6:30 - 7:30 am 10/12/2022; 1 - 2 pm  and 5 pm - 8 pm 10/13/2022; 6:30 - 7:30 am 10/15/2022

[2022-10-12 16:40] ExperimentsInHonesty commented on #2569
This issue is ready for dev leads to make the issue to change the alt text on the wins page

1. Turns out tooltips do not replace alt text.  Alt text is still needed on the main wins page, but will have to disappear when you go to the see more (because then the same text appears next to the image).

To experience what It's like for a blind person, you can install this [screen reader chrome extensi

[2022-10-12 16:43] ExperimentsInHonesty commented on #2354
Not ready for dev lead. Need another going over, adding the images that are missing from the spreadsheet and if a change is needed.

When it is ready, make sure you add this text All the issues are going to be good first or good second and only involve having empty alt text. (i.e., all of the images on the page are decorative).

[2022-10-12 18:34] d-perez-8 commented on #2286
@blulady Hey Sarah. I attached the research google doc on google sheets, and I have included it in the folder.

The drop-downs on the homepage are the same ones that are on the projects page. I included the homepage in the same line as the projects page on the google sheet.

I did not see drop-downs on [press](https://www.hackforla.org/#press). I checked the desktop and mobile views, and it appear

[2022-10-12 21:50] bishrfaisal commented on #2612
This issue is ready for dev leads to make good first and second issues out of, with one exception. Please ignore the wins card under the Accomplishments subheading on the About page and do not create beginner issues on it.
![Capture](https://user-images.githubusercontent.com/112529990/195454493-84189ab6-5394-4341-9fd8-21a18e9aa3a1.JPG)
This is something that needs to be discussed in depth since it

[2022-10-13 02:57] DmitriiTsy commented on #2850
Hi, guys.

Availability: Thursday, Friday, Sunday
ETA: Monday 17 oct

[2022-10-13 17:28] michaelmagen commented on #2632
Availability: 4 hours
ETA: 10/16/22

[2022-10-13 17:53] gstemmann commented on #3614
Availability for this week: 6 hours
My estimated ETA for completing this issue: 6 hours

[2022-10-13 17:54] gstemmann commented on #3614
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
3 hours

[2022-10-13 18:49] gstemmann commented on #2846
Availability: PST flexible
ETA: Oct 20, 20021

[2022-10-13 21:58] jyaymie commented on #2847
Availability for this week: 4 hours
My estimated ETA for completing this issue: 10/15/22

[2022-10-13 22:00] jyaymie commented on #3610
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? Under an hour

[2022-10-14 02:17] DmitriiTsy commented on #3197
Hi guys,

My availability: Friday 14 oct
ETA: Friday 14 oct

[2022-10-14 02:26] #2847 closed, assigned to jyaymie

[2022-10-14 02:39] tunglinn commented on #1543
For Sunday meeting:
Tim's slack app has a lot of functions as of now, including setting meetings via Google Calendar, a sort of roll call system for who's attending which meeting, etc.

Should we build upon Tim's current app to fulfill the criteria of this issue? Or start a new app?
(For example, one concern is that there's a lot more _stuff_ in Tim's app that might increase the probability of iss

[2022-10-14 02:39] kathrynsilvaconway commented on #2689
#### Onboard Justin Dingeman (Merge)
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation

[2022-10-14 03:16] #2846 closed, assigned to gstemmann

[2022-10-14 03:22] #2850 closed, assigned to DmitriiTsy

[2022-10-14 03:26] #2845 closed, assigned to MattPereira

[2022-10-14 03:33] arpitapandya commented on #3238
As discussed I am unassigning @braguda and closing this issue.

The changes have been already made by the linked [issue](https://github.com/hackforla/website/issues/2886) found under resources of the current issue and [PR](https://github.com/hackforla/website/pull/2982/files) has been merged and all the changes have been addressed.

[2022-10-14 03:34] arpitapandya commented on #3238
https://github.com/hackforla/website/pull/2982/files

[2022-10-14 03:54] jdingeman opened #3619 "Add Merge Team to Current Project Team"
### Overview
As a member of the Hack for LA Website team, I want the information on the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website) to be up to date. For this issue, we will be updating the Current Project Team section of the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website).

### Action Items
 - [x] Remove

[2022-10-14 05:24] plang-psm commented on #2210
See link below for the procedure created in the Wiki. @hackforla/website-merge

https://github.com/hackforla/website/wiki/How-to-deal-with-duplicate-style-classes

[2022-10-14 14:21] esantiano commented on #2848
Availability for this week: 10AM-1PM EST
My estimated ETA for completing this issue: 11AM EST

[2022-10-14 15:01] esantiano commented on #2848
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? 3 hours to finish pre-work + initial ETA and availability on good first issue. 2 hours for meetings.

[2022-10-14 15:25] plang-psm commented on #3511
Progress: My current progress is awaiting review for my medium issue. The only thing left to complete is a large issue.

Blockers: No blockers at this time other than waiting for review but I did encounter many blockers while trying to do a medium issue that were out of my control.

Availability: 4hrs

ETA: TBD I plan to take my first large issue within the next week when my medium issue is merged

[2022-10-14 16:37] carolemlago commented on #2600
Progress: I haven't been able to progress as much with this issue since due to doubts that haven't been answered
Blockers: I'm not sure if there's a gradient file to use or if I should apply a gradient overlay using CSS. All resources links send me to the same Figma project board.
Availability: Wed 10am-3pm, Thu 5pm-7pm
ETA: Fri 1pm

[2022-10-14 17:04] MattPereira commented on #3199
**Availability**: 3 - 6 PM
**ETA:** End of Day 10/14/22

[2022-10-14 18:50] MattPereira commented on #3602
1. **Progress**: Completed most of the checklist items but still need to attend another weekly meeting and dive into Figma
2. **Blockers**: No difficulties or errors encountered
3. **Availability**: 6 hours
4. **ETA**: End of day 10/20/22
5. **Pictures**: No visual changes made to site yet

[2022-10-14 19:16] gstemmann commented on #3614
Provide Update
1. Progress - finished the first good issue yesterday and the PR was merged
2. Blockers - balancing time for work and life
3. Availability - 6 hours
4. ETA - Oct. 24, 2022

[2022-10-14 19:35] gstemmann commented on #3397
Availability: 6 hours
ETA: Oct, 24, 2022

[2022-10-14 20:24] jyaymie commented on #3201
Availability: 4 hours
ETA: 10/16/22 EOD

[2022-10-15 02:59] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure about this week
ETA: Not sure this will be completed before I leave the

[2022-10-15 03:00] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: None
Availability: Not sur

[2022-10-15 15:37] AzaniaBG commented on #2173
## Write Up:
<details>
<summary>Research Findings:</summary>

* [WCAG success criteria](https://www.w3.org/WAI/WCAG21/quickref/#info-and-relationships) for determining information, structure, and relationships programmatically can be satisfied with `nav`. The `<nav>` element is used to group navigation links, making them easier to locate and skip past. If more than one `<nav>` element is used on o

[2022-10-15 15:46] AzaniaBG commented on #2173
Update: I added my Write Up via comment and Released #2174 by moving the issue to the "New Issue Approval" column. I'll be attending Sunday's meeting (tomorrow) to discuss re-design.

[2022-10-15 20:35] #3199 closed, assigned to MattPereira

[2022-10-15 20:49] #3197 closed, assigned to DmitriiTsy

[2022-10-15 22:05] #3201 closed, assigned to jyaymie

[2022-10-15 22:48] t-will-gillis commented on #2823
Progress:
Blockers:
Availability: I have October 15-16 (Sat-Sun) free to work on this
ETA: Assuming I have no problems, by Sunday the 16th
Pictures (optional):

[2022-10-15 23:04] t-will-gillis commented on #3613
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Total time 3-4 hours +/- including attending the first meeting (but not including the orientation meetings). This also includes installing/ restarting/ reinstalling docker, etc.

[2022-10-16 01:27] t-will-gillis commented on #2823
Progress: Main part complete, waiting for review
Blockers: none
Availability:
ETA: once it is reviewed...
Pictures (optional):

[2022-10-16 06:20] Suman2795 commented on #3202
Availability:3-4 hours
ETA:16 Oct 2022

[2022-10-16 06:54] sijiapitts opened #3626 "Design a fix for the dropdown menu design for toolkit page"
### Overview
During a site audit on Figma design file and on the website, we noticed that the drop-down menu design is not consistent. Each page has its own font size, margin, padding, etc.

We decide the first step is to fix the dropdown menu on the toolkit page. Afterwards, we will move on to the projects page and wins page.

- Project page issue #3277
- Wins page issue #3627

### Update
The UI

[2022-10-16 07:06] sijiapitts opened #3627 "Fix the dropdown menu design for wins page"
### Dependency
We decide the first step is to fix the dropdown menu on the toolkit page. Afterwards, we will move on to the projects page and wins page.

- Toolkit page issue #3626
- Project page issue #3277

### Overview
During a site audit on Figma design file and on the website, we noticed that the drop-down menu design is not consistent. Each page has its own font size, margin, padding, etc.

[2022-10-16 07:13] sijiapitts commented on #3277
The design has been completed and approved. The final design (ready for developers) can be found [here ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24096%3A281035) or under the project description.

In Figma, I have added some notes to the side and added additional comments on the design to better help the developers understand the design and interaction.

[2022-10-16 07:14] #3277 closed, assigned to sijiapitts

[2022-10-16 12:47] Unity7 commented on #2626
Progress: Received guidance, resources, and direction to make the next steps
Blockers: Need better understanding of jekyll
Availability: 4
ETA: 10/19/22

[2022-10-16 12:50] Unity7 commented on #3510
Progress: Working on Medium size issue, completed reading and doing all the task
Blockers: Medium Task
Availability: 4
ETA: 10/22/22

[2022-10-16 14:55] DmitriiTsy commented on #3606
Hi.

Availability: Everyday, flexible PST
ETA: 3 days. Tuesday, 18 oct

How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

15 hours

[2022-10-16 15:34] 7kram commented on #2354
Page has been QAed and is ready for dev lead to make issues to change alt text out of it

[2022-10-16 15:44] JessicaLucindaCheng commented on #2567
@ExperimentsInHonesty No, we don't have guidance in our wiki about using aria tags for SVGs.
1. Did you want me to write up the Wiki page or create an issue for someone to write up the Wiki page?
2. All the images, except for the one in the header (line 2 in the spreadsheet), are inline SVGs, so they will all need to follow the guidance for SVGs to comply with WCAG.

[2022-10-16 16:01] JessicaLucindaCheng commented on #2567
I did some research on how to make SVGs compliant. I'm going to list those links here for future reference for myself when writing dev issues for updating the Toolkit page SVGs to be WCAG compliant:
- See "SVGs that are decorative": https://www.scottohara.me/blog/2019/05/22/contextual-images-svgs-and-a11y.html
- For non-decorative SVGs, see "2. Inline SVG": https://css-tricks.com/accessible-svgs/

[2022-10-16 16:11] JessicaLucindaCheng commented on #2929
I may need to redo this issue. Instead of putting the SVGs into a img HTML tag, the SVGs should be made WCAG compliant by editing them directly or use JS to do it.

Edit: Never mind. Bonnie said if possible, placing them in img tags is the best solution.

[2022-10-16 16:35] 7kram commented on #3238
@arpitapandya the instructions in the issue you referenced are incorrect (sometimes we make mistakes and future issues are meant to correct them). The gif image that shows how to donate is strictly decorative. The intent behind WCAG guidelines is that if you need the text in the image in order to navigate then it must be included in the alt text, otherwise it's omitted. The image just demonstrates

[2022-10-16 16:38] 7kram commented on #2617
QAed and ready for dev lead to make issues out of this.

[2022-10-16 16:43] 7kram commented on #2612
All issues have been created for alt text. They can be found here:

- https://github.com/hackforla/website/issues/3361

[2022-10-16 16:53] arpitapandya commented on #2027
### Agenda for October 16, 2022
Facilitator: Arpita
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @MattPereira opened PR #3615 #36

[2022-10-16 16:55] bonniewolfe commented on #2567
Given that this issue is mostly svg aria/alt text changes and only one normal alt image, the issues that gets made from this should probably be two issues
- [ ] Write wiki article on how to make Aria and alt text labels for SVG
- [ ] Update all the images alt and aria on the Toolkit page (using wiki)
  - this issue will have a dependency of issue 1 getting done.

[2022-10-16 17:16] vzpeopledesign commented on #2662
I am assigning myself this issue and will check in with Vaisali on next steps by Wednesday 10/19.

[2022-10-16 17:21] 7kram commented on #2886
- https://github.com/hackforla/website/pull/2982/files
This merge shows that the updates were made, however, the updates don't show on the live site
- https://www.hackforla.org/donate/
- https://github.com/hackforla/website/blob/gh-pages/_includes/donate-card.html

[2022-10-16 17:59] jyaymie commented on #3596
Availability: 5 hours
ETA: 10/18/22 EOD

[2022-10-16 18:07] kpmunnelly commented on #2706
Progress: Reviewed the history of the issue. Bonnie recommends splitting into 2 categories: Internal Advisors and Service Donors. Will move forward with revising script focusing on Internal Advisors for the first set of interviews.
Blockers: n/a
Availability: 5 hours split between Mon and Wed.

[2022-10-16 18:10] #2848 closed, assigned to esantiano

[2022-10-16 18:16] 7kram commented on #1543
@tunglinn Hey Tung, I'm going to un-assign you from this issue. Its being moved to the questions/in review column

[2022-10-16 20:08] blulady opened #3630 "Update Donate page image's alt text to adhere to WCAG (again)"
### Overview
We need to update the donate page image's alt text to provide alt text that adheres to the Web Content Accessibility Guidelines (WCAG).

### Action Items
- [x] make the correction to the file
    - [x] from `alt="join us card image"` to `alt=""`
    - [x] from  `alt="donation chart"` to ` alt="Hosting, mailing list services, Zoom accounts, domain names, stickers, t-shirts"`
    - [x]

[2022-10-16 23:01] ExperimentsInHonesty commented on #1543
@tunglinn I do not want to build our app on top of Tim's app.

Slack is a platform that is intent on being for pay, and they can reduce features at anytime.  We are not building VRMS in slack, rather it uses slack to send message, and that functionality could be moved to any other communication platform (discord, whatapp, ect.).

So all we are trying to build here, now, is an app that allows a var

[2022-10-17 10:22] Skydodle commented on #3609
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Including first meeting about 3-4 hours.

[2022-10-17 16:11] bishrfaisal commented on #3547
@kathrynsilvaconway It looks like you still have one more part in the action items that need customizing

[2022-10-17 16:17] bishrfaisal commented on #3492
@kathrynsilvaconway Is there a tool that the team commonly uses on Mac and PC for screen recordings? If so, is it in our wiki? Can we link to that wiki page in the resources section?

[2022-10-17 16:26] bishrfaisal commented on #3587
@aricforrest @kathrynsilvaconway good work creating this issue, there are just a few minor items remaining before we can approve this.

This issue is missing the following:
- It does not have a [size points label](https://github.com/hackforla/website/labels?q=size) - we need points labels in addition to t-shirt sizes.
- If there is no dependency on this issue, please remove

[2022-10-17 16:37] bishrfaisal commented on #3196
Hey @rolzar, we see that you have taken up your second issue. Awesome work so far! It has been 2 weeks since you self-assigned, have you run into any obstacles? If so, please let us know and we would be happy to help!

[2022-10-17 16:44] bishrfaisal commented on #3571
Hey @rolzar, I see that you have completed most of your action items. Great work 🙌! If you have already finished all of the action items, please check them off accordingly so we can close this issue.

[2022-10-17 20:12] AzaniaBG commented on #2174
Per yesterday's meeting, I updated this issue with an additional action item: Implement accessibility recommendations from Write up. I also added a link to the write up.

[2022-10-17 20:13] JessicaLucindaCheng commented on #2607
## 2022-10-17 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-10-17 20:20] MattPereira commented on #3493
Availability: 1 PM - 3 PM
ETA: End of Day 10/17/22

[2022-10-17 20:27] #3397 closed, assigned to gstemmann

[2022-10-17 20:35] JessicaLucindaCheng commented on #1850
Audit duplicate SCSS classes and figure out if they need to be removed or if the properties need to be combined so that the class is only declared once (aka refactored into one class). See the following links:
  - https://github.com/hackforla/website/blob/c3245f774b714aebfba93a071a829c45d697c329/_sass/components/_home.scss#L222-L338
  - https://github.com/hackforla/website/blob/gh-pages/_sass/comp

[2022-10-17 20:40] #2823 closed, assigned to t-will-gillis

[2022-10-17 20:48] arpitapandya commented on #2668
Progress: Not much progress.
Blockers: I do not have blockers.
Availability: 10 hrs
ETA: 2022-10-25

[2022-10-17 21:04] aricforrest commented on #3587
@bishrfaisal I've added a size points label and removed the dependency section.

[2022-10-17 21:14] aricforrest commented on #3417
Availability: Monday-Wednesday 5 PM - 7 PM PST
ETA: 10/19/2022

[2022-10-17 21:22] ExperimentsInHonesty commented on #3630
- Update this issue to include fixing the animated gif to be empty alt as well https://github.com/hackforla/website/issues/3238.
- Then close 3238

[2022-10-17 21:23] ExperimentsInHonesty commented on #3238
- We are going to replace this issue with https://github.com/hackforla/website/issues/3630

[2022-10-17 22:38] ExperimentsInHonesty commented on #2607
## 2022-10-24 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-10-17 22:52] #3202 closed, assigned to Suman2795

[2022-10-17 22:53] #3203 closed, assigned to jbialkin98

[2022-10-17 22:54] #2843 closed, assigned to Skydodle

[2022-10-17 23:21] d-perez-8 commented on #2286
@hackforla/website-merge Can I get a review on this please 🙂

[2022-10-17 23:30] t-will-gillis commented on #3204
i. Availability: Tue 18 Oct 1-5 pm, Th 20 Oct 1-5 pm
ii. ETA: Fri 21 Oct 5 pm

[2022-10-17 23:42] #3238 closed, assigned to nobody

[2022-10-17 23:43] blulady commented on #2886
We are replacing this issue with this issue #3630

[2022-10-17 23:45] blulady commented on #2568
Replaced both of these issues with #3630

[2022-10-17 23:48] #2886 closed, assigned to Jaretzbalba

[2022-10-18 00:48] h3nry-m commented on #2694
Hello all!
  **Progress**: I've successfully setup my local environment and was able to get Docker up and running. I've also found the necessary documentation to complete the last step of this issue
  **Blockers**: I only have read access to the Figma account and just requested editing capabilities
  **Availability**: About 6 hours total in the evening
  **ETA**: Sometime by the end of this week p

[2022-10-18 00:55] braguda commented on #3406
1. Progress: I have gone through all of the steps on the checklist,
2. Blockers: The major blocker I had was setting up Docker on my machine. I was able to work with Sarah and Justin to get through it during a Tuesday meeting.
3. Availability: 1 hour
4. ETA: 10/06/2022

[2022-10-18 00:58] braguda commented on #1982
Availability: 2 hours
ETA: 10/19/2022

[2022-10-18 01:20] #3596 closed, assigned to jyaymie

[2022-10-18 01:32] jyaymie commented on #2392
Availability: 3 hours per day
ETA: 10/21/22 EOD

[2022-10-18 18:47] jyaymie commented on #2392
Implementation of the new Figma design involves increasing the font size of the text in the green circles. This part of the Donate page, however, is an image. (See line 34 of [website/donate.html](https://github.com/hackforla/website/blob/9a7168d42d43d5de8cc6e3995402bd8746e6b17a/pages/donate.html).)

I'd like to know if I am to re-create the image using HTML and SCSS or if there is a new image ava

[2022-10-18 20:42] JessicaLucindaCheng commented on #2392
@jyaymie You can download the image from here: https://drive.google.com/drive/folders/1Pd07M-1hocCBrISiQ3x136-FivC9NLh1

It's the donation-chart-for-mobile.svg

[2022-10-18 20:54] jyaymie commented on #2392
Ah, there it is! Thanks so much, @JessicaLucindaCheng!

[2022-10-18 21:42] blulady opened #3634 "Updating Wiki: Creating a Repo"
### Overview
We need to create a new repository to put the Website Wiki for increased security and navigability. After the new repository is created, we will be installing MkDocs and uploading the Website Wiki into the new repository.

### Action Items
- [x] decide on a name for the new repository
- [x] create a new repository for the wiki within the specs of the MkDoc documentation
- once the rep

[2022-10-18 21:54] jyaymie commented on #2392
Text alignment in the mockup is different from how it is on the current website. Here is an example:

<details><summary>Mockup of the Final Version</summary>
<img width="403" alt="Screen Shot 2022-10-18 at 2 43 45 PM" src="https://user-images.githubusercontent.com/104411072/196550870-76b905da-4bc2-4ae0-a1e3-98f76001a253.png">
</details>

<details><summary>Current Donation Page</summary>
<img width

[2022-10-18 22:17] blulady opened #3635 "Updating Wiki: Install MkDocs"
Dependency
- #3634

### Overview
We need to install MkDocs into the new repository so that we can start to move the content from old wiki to new wiki

### Action Items
- [x] research MkDoc requirements
- [x] make a record of the research/requirements and choose a place in the wiki to keep the research
 - [x] read the documentation on MkDocs for any additional info you might need to install (and up

[2022-10-18 22:47] blulady opened #3636 "Updating Wiki: Move Current Wiki to New Repository"
### Dependency
- [x] #3634
- [x] #3635

### Overview
We need to move the current Wiki into the new repository so that we can have increased security and navigability.

### Action Items
- [x] Read the documentation that was updated by issue #3635
  - [x] Read the website-wiki repo's [README.md](https://github.com/hackforla/website-wiki/blob/main/README.md)
- [x] Read the documentation in https://gi

[2022-10-18 22:59] alice-milmac commented on #2705
Progress: Emailed two remaining participants on Wednesday 10-12-2022 and cc'd Bonnie on the email. They hadn't scheduled by 10-18-2022, so the request for them to schedule (and a note for Bonnie to email David about the interview) was included in the TDM team meeting presentation for 10-18-2022 [TDM presentation](https://docs.google.com/presentation/d/1l8qEhuv759MAvrXB1am_4jsUuzLyfRA7NDRSPuwB0FY/e

[2022-10-19 01:15] kathrynsilvaconway commented on #2010
### Agenda for October 18th, 2022
Facilitator: Arpita

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and p

[2022-10-19 02:19] PeterSYoo opened #3637 "Pre-work Checklist: Developer: Peter Yoo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-19 02:28] jdingeman commented on #2600
@carolemlago from what I understand from the issue, it seems you will need to place the image somewhere in the [assets folder](https://github.com/hackforla/website/tree/gh-pages/assets) and then apply the image to the to the Project page as an overlay.
The issue doesn't specify what format, so I recommend experimenting with the different image formats.

[2022-10-19 02:32] MatthewBozin opened #3638 "Pre-work Checklist: Developer: Matthew Bozin"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-19 02:34] blulady commented on #3290
Progress: have searched the internet for best practices, did speak with a dev about how they handle theirs -very project specific, recommends changing often especially if we have logs because they can print out the secrets
Blockers: haven't found a good protocol to apply, need to talk it over with the team
Availability: 6 hours this week
Eta: unknown
Pictures: None, probably won't be any, we'll se

[2022-10-19 02:39] arpitapandya commented on #3175
#### Onboard Peter Yoo & Matt Bozin & Patrick Oh
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at

[2022-10-19 02:40] carolemlago commented on #2600
@jdingeman Great! One quick question: is there a specific file I need to save and apply? All the resources links redirect me to the figma board so I'm not sure. Thx

[2022-10-19 02:50] AzaniaBG commented on #2173
@blulady I spoke with @sijiapitts on the design team regarding re-design recommendations and she provided this [link to Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24263%3A284261) with 3 possible designs (current, larger font-size, same font-size, different color) for the sticky side nav. Should this link also be added to #2174?

[2022-10-19 02:54] patrickohh opened #3639 "Pre-work Checklist: Developer: Patrick Oh"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-19 02:54] jdingeman commented on #2600
Click on Export on the right side and download from there.
![image](https://user-images.githubusercontent.com/88953806/196586336-fbf11dc3-3d23-4669-a353-55773739285e.png)

[2022-10-19 03:17] roslynwythe opened #3640 "Pre-work Checklist: Developer: Roslyn Wythe"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-10-19 03:23] gstemmann commented on #2649
Availability: 6 hours
ETA: Oct 24, 2022

[2022-10-19 03:37] aricforrest opened #3641 "Add latest version of Google Apps Scripts to GitHub"
### Overview

The Google Apps Scripts used by the website project should be added to the website git repository. This will allow version control and tracking of changes made to the App Scripts over time.

### Action Items

- [x] Obtain view access to wins-form (response) Sheet and gh-requests (Doc) in the admin Google drive share from a technical lead
- [x] Install node.js and npm (if they are not

[2022-10-19 03:41] gstemmann commented on #2777
Availability: 6 hours
ETA: Oct 24, 2022

[2022-10-19 05:22] t-will-gillis commented on #3204
Completed, awaiting pull request review

[2022-10-19 13:49] kathrynsilvaconway commented on #3612
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 7 days, we will close this issue. Thanks!

[2022-10-19 15:11] kathrynsilvaconway commented on #3570
Hi, we are closing this issue because we have not heard back from you in over two weeks. If you do decide to return to HfLA, please reach out and let us know. We can reopen this checklist in the future if necessary.

[2022-10-19 15:11] #3570 closed, assigned to sonalinajera

[2022-10-19 15:50] h3nry-m commented on #3612
Hello! I have been working through the pre-work checklist and attended the meeting yesterday. I originally had an issue assigned but we spoke and you thought it was more appropriate for the design team so I have to find another issue.

[2022-10-19 15:51] kathrynsilvaconway commented on #3605
Hi there, are you still interested in working with Hack for LA? If you are, please leave a comment on this issue and attend one of our weekly dev team meetings so we get get you fully onboarded to our website team. Meetings are Tuesdays at 7pm pst and Sundays at 10am pst. Please let us know if you have any questions. If we do not hear back from you within 7 days, we will close this issue. Thanks!

[2022-10-19 16:28] 7kram commented on #3553
@Suman2795, congratulations on getting your good first and second issues merged 🙌. Please review the unchecked action items above and complete/check them off so that we can close this pre-work issue.

We don't see that you're assigned to a small issue yet. Are you clear about what to do next?

Here are some links to the board sorted by size: small issues: [Frontend](https://github.com/hackforla/we

[2022-10-19 16:29] #3545 closed, assigned to justinPemberton

[2022-10-19 16:30] 7kram commented on #3545
We closed the issue because we didn't hear back from you. You can always come back to the community by joining a meeting and reopening the issue!

[2022-10-19 16:47] Suman2795 commented on #3553
@7kram I have checked all the action items above for this issue to be closed and also assigned myself to a small issue.

[2022-10-19 17:59] carolemlago commented on #2600
@jdingeman Thank you

[2022-10-19 21:01] jyaymie commented on #2392
_**UPDATE**_
1. Progress: I re-ordered content in the donation section and updated the donation chart image.
2. Blockers: Those changes I made are actually written out on Figma, but I am wondering if I need to also implement other changes that are not specifically described. These include text alignment, a box shadow on the gif, and spacing between text and images. Following last night's Developer

[2022-10-20 00:18] aricforrest commented on #3417
Blocker - Unable to replicate the bug of empty key value pairs in JSON in my own Google Apps Scripts instance using a copy of `Wins-form (Responses)` sheet.

@luke-karis created this issue on July 21, 2022 and completed updating another Wins process issue #2901 on September 17, 2022 so I'm wondering if this bug has already been resolved. Data in any columns after O in the spreadsheet would cause s

[2022-10-20 00:51] #3493 closed, assigned to MattPereira

[2022-10-20 00:52] #3204 closed, assigned to t-will-gillis

[2022-10-20 02:36] braguda commented on #1982
Update-
Progress: Currently working on issue
Blocker: I am reading through the comments and am a little confused on whether this issue was already resolved on another pull request.
Availability: 2 hours
ETA: 10/20/2022

[2022-10-20 02:44] braguda commented on #3630
Availability: 2 hours
ETA: 10/20/2022

[2022-10-20 03:46] Suman2795 commented on #2438
Availability: Weekend,3-4 hours
ETA:Sunday,23/10/22

[2022-10-20 15:38] ethanstrominger opened #3644 "Meeting Agenda for OPS issue 2978"
## Meeting Agenda

### Prework to prep for meeting
- [x] Filled out this agenda

### Recurring items:
- [ ] [Status](https://docs.google.com/document/d/1Tx17ewpeI8r7u_-nSazJtUPjKsFeiSYWu-qmJAsbV3I/edit#heading=h.n3l0nsw3ylk)

### New Items

#### Convert Google Docs to Markdown

### Notes from Meeting

### Task Items

### Discussed
- [x] ops - Review of proposed architecture for Phase 2 -[Phase 2](

[2022-10-20 18:10] blulady commented on #2286
The one on press is the same drop down that is on the home page and projects page.

[2022-10-20 18:24] MattPereira commented on #2292
Availability: 10 AM - 2 PM
ETA: 10/23/22

[2022-10-20 19:14] blulady commented on #2286
Thanks for attaching the Research document. I took a look at it and It would be helpful to have a bit more discussion on the accessibility aspect. I saw that you attached a really awesome article. I was hoping you could maybe include some of the key points from that article about accessibility and tags. And maybe a paragraph at the end summarizes your research findings stating which tags are prefe

[2022-10-20 19:22] blulady commented on #2286
[Building Accessible Menu Systems](https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/)

[2022-10-20 20:07] blulady commented on #2286
[Building Accessible Menu Systems](https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/)
Some things you might include
"Navigation systems are really tables of content and this is how tables of content are structured. The only thing that really makes us think “menu” is the styling of the nested lists and the way they are revealed on hover or focus."
"That’s where some go wron

[2022-10-20 20:08] blulady commented on #2286
Also a brief summary/discussion of [True Menus](https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/#true-menus) and [Keyboard And Focus Behavior](https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/#keyboard-and-focus-behavior) would provide a lot of clarity to whoever reads this Research and is perhaps the most important part to mention and reference.

[2022-10-20 20:18] patrickohh commented on #2849
Availability for this week: Thursday - Friday
My estimated ETA for completing this issue: Same day

[2022-10-20 20:19] patrickohh commented on #3639
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
About 2 hours

[2022-10-20 21:14] #3602 closed, assigned to MattPereira

[2022-10-20 23:23] Unity7 commented on #2626
Progress: Reading documentation on Jekyll and reviewing a ticket with a similar issue as reference
Blockers: Need more time to go over documentation
Availability: 4
ETA: 10/23/22

[2022-10-21 02:04] #2849 closed, assigned to patrickohh

[2022-10-21 03:39] #3630 closed, assigned to braguda

[2022-10-21 03:52] str-xjua24 commented on #3605
Yes! Sorry I got caught up with something these past couple of days and was away from my computer. I attended an onboarding meeting last Tuesday 10/11 and just need to finish my pre-work checklist. I should be available for this Sunday's meeting on 10/23  and should have the pre-work checklist and my first issue completed by then.

[2022-10-21 04:47] gstemmann commented on #2777
Sizes are being referenced in 2 JS files (So, there is no spreadsheet required, according to the action items in the issue, and no changes have been made to the code.)

Both instances are in the [Github Actions Folder](https://github.com/hackforla/website/tree/gh-pages/github-actions).

1. [post-labels-comment.js](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-issue/add-

[2022-10-21 14:56] blulady commented on #2632
Hi @michaelmagen,
So we went ahead last night and made the edit you suggested.
Unfortunately now google search links directly to the CODEOFCONDUCT.md instead of the html.
We're going to role it back but  @jdingeman recommended looking at
https://github.com/jbranchaud/til/blob/master/html/prevent-search-engines-from-indexing-a-page.md

[2022-10-21 15:05] blulady commented on #2592
@attali-david
Hey David, are you still working on this issue? If you are not please let me know and you can unassign yourself and find a different issue. If I don't hear back from you in a week, I'll assume you are done.
Thanks!!

[2022-10-21 18:21] aricforrest commented on #3417
Google's Advanced Protection enabled on an account prevents running Apps Scripts from unverified/unapproved apps. A work around is to add the following block at the top of the script, but due to the `Wins-form (Responses)` using the `ghrequests` library from another Google Doc, this is not an option.
[code]
I am creating a new Google account without Advanced Protection enabled and sharing the Goog

[2022-10-21 19:04] aricforrest commented on #3417
The API token for the `elizabethhonest` GitHub account is not valid. The admin guide states this needs to be updated every month and it looks like it was last updated 1/30/2022.

[2022-10-21 20:40] Sparky-code commented on #2061
Note for new assignee:
This issue was expanded from the original scope to include proposed implementation by instance of each card class.
I was unable to finish this portion of the issue due to starting a new job. I think this issue should be completed as is and a new issue written to address suggestions and implementation in line with 'atomic' principles.

[2022-10-21 20:51] esantiano commented on #3200
Availability for this week: 2 - 5PM Friday All Day Saturday
My estimated ETA for completing this issue: 10/21/22

[2022-10-21 21:59] MattPereira commented on #2292
## **Form Elements & Behavior**
### **Overview**
- `type: markdown` | Description of issue that will be created using this GitHub form
### Project Name
- A `type: dropdown`  list of all HFLA project names
### Project Card URL
- A `type: dropdown`  list of all the file names in the https://github.com/hackforla/website/tree/gh-pages/_projects/ folder
### Title, Image, Links, and Meeting Times
- Star

[2022-10-22 00:12] arpitapandya commented on #2210
Removing inactive label as @plang-psm provided an update for the issue and reached out that he might not be 100% active for about 2 weeks/more due to a dental problem.
I am unable to review this week.

[2022-10-22 01:18] DmitriiTsy commented on #1982
@braguda Hi Brian? Do you have any updates regarding this issue by any chance?
If there is another PR with the solved issue I can put this task to "help wanted"

[2022-10-22 01:21] MatthewBozin commented on #2851
Availability: Evening 10-21-2022
ETA: End of day 10-21-2022

[2022-10-22 01:22] MatthewBozin commented on #3638
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Two hours over three days!

[2022-10-22 02:04] DmitriiTsy commented on #1982
<img width="466" alt="Screen Shot 2022-10-21 at 19 00 12" src="https://user-images.githubusercontent.com/101737790/197311827-92a382cd-ea99-4a10-a161-1eda2af4bd3a.png">

i. Availability: 2 hours
ii. ETA: 10/21/2022

@JessicaLucindaCheng Could you, please, close this issue?

[2022-10-22 04:01] Abel-Zambrano commented on #1982
Can I please be removed from these emails.

Thank you
Sent with Spark
On Oct 21, 2022 at 7:04 PM -0700, Dmitrii ***@***.***>, wrote:

[2022-10-22 17:27] #3200 closed, assigned to esantiano

[2022-10-23 06:35] #2851 closed, assigned to MatthewBozin

[2022-10-23 06:41] str-xjua24 commented on #2852
Availability for this week: All Week
My estimated ETA for completing this issue: 10/23

[2022-10-23 06:44] str-xjua24 commented on #3605
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? 6-8hrs

[2022-10-23 16:08] bishrfaisal commented on #3196
Hi @rolzar! We haven't heard from you since October 4th (19 days ago). Hope you are okay. We have un-assigned you from this issue. Please feel free to pickup a new issue from the prioritized backlog when you return!

[2022-10-23 16:15] bishrfaisal commented on #3571
- @kathrynsilvaconway Bonnie and I unassigned rolzar from their good second issue https://github.com/hackforla/website/issues/3196 because it had been more than 14 days since they self-assigned with no updates other than availability. Can you or someone from the merge team reach out to them via slack and email them to find out if they are okay and coming back?

- [ ] If they are coming back, move

[2022-10-23 16:16] ExperimentsInHonesty commented on #3610
@jyaymie thanks so much for your updates.  You are flying through the setup and issues.  Can wait to see how you far you go!

[2022-10-23 16:16] #3610 closed, assigned to jyaymie

[2022-10-23 16:25] ExperimentsInHonesty commented on #3613
@t-will-gillis Good work with your issues and updates in comments.  You are almost done on this issue, you just need to check off the remaining items above.

[2022-10-23 16:27] bishrfaisal commented on #3609
Hi @Skydodle! Great work closing and merging your first issue! We see that you have not picked up a good second issue. Here is a convenient link for you to find a [good second issue to self-assign in the prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+front+end%22+label%3A%22size%3A+good+second+issue%22#column-7198257).

If you have any que

[2022-10-23 16:34] ExperimentsInHonesty commented on #1982
@Abel-Zambrano Hope you are doing well.  Sadly, we cannot remove you from notifications.  Only you can do that.  Open this issue and click the button  `Notifications`

![image](https://user-images.githubusercontent.com/37763229/197404163-b7d0551d-4cfe-4419-aa91-a798530dee68.png)

[2022-10-23 16:34] ExperimentsInHonesty commented on #1982
I am closing this issue.  Not sure why it was still open  But will send to dev leads in case I am missing something.  Unassigning @DmitriiTsy

[2022-10-23 16:34] #1982 closed, assigned to nobody

[2022-10-23 16:41] ExperimentsInHonesty commented on #3606
@DmitriiTsy Sorry for the confusion on issue https://github.com/hackforla/website/issues/1982.  I agree, it probably should be closed, or if work remains to be done, it needed to be made clearer.  I unassigned you.  Please find a new [small issue in the prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+small%22+label%3A%22role%3A+front+end%22

[2022-10-23 17:11] blulady commented on #2027
### Agenda for October 23, 2022
Facilitator:

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Eric

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders**
  - [x] Will open the floor for any announceme

[2022-10-23 17:12] ExperimentsInHonesty commented on #3554
@AzaniaBG This is ready to be closed.  Thanks!

[2022-10-23 17:12] #3554 closed, assigned to AzaniaBG

[2022-10-23 17:15] #3124 closed, assigned to mchavezm

[2022-10-23 17:54] blulady commented on #2286
@d-perez-8 Isn't feeling well and is also going on Vacation until November 10th so he won't be able to keep working on this issue.

[2022-10-23 18:01] jyaymie commented on #2392
During today's All Team meeting, it was revealed that more changes needed to be made to the design. This issue should be picked back up when the redesign is complete.

Changes to the current design include:
- Replacing the top "Donate to Hack for LA" section with the "Running Hack for LA costs money" section
- Correcting the font size of the section titles
- Creating a way to clearly define the di

[2022-10-23 18:35] jyaymie commented on #2600
Availability: 4 hours each day
ETA: EOD 10/26

[2022-10-23 18:47] esantiano commented on #2479
Availability for this week: 2 PM- 4PM
My estimated ETA for completing this issue: 10/25/22

[2022-10-23 19:13] gstemmann commented on #2777
Progress: The issue is being reviewed by the merge team to be ready to close, since this type of issue does not require a Pull Request.
Blockers: N/A
ETA: 10/30/2022

[2022-10-23 19:21] gstemmann commented on #3614
Provide Update
1. Progress: moving to my medium issue today
2. Blockers: none
3. Availability: 6 hours
4. ETA: 10/31/2022

[2022-10-23 22:45] blulady opened #3651 "Add a visual demo of Reviewing a Pull Request"
### Overview
One of our devs created an outstanding visual guide to reviewing a pull request. It would be helpful to link the demo to the Contributing Wiki. Find a good place to add a link and store the files so this can be added to the wiki.

### Action Items
- [ ] Research where to store the file
- [ ] Read the [CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)

[2022-10-24 06:15] jyaymie commented on #2600
I exported what I think is the gradient image file (Screen Shot 2020-08-23 at 9.13 1.png) on Figma, but the image contains devices:

![Screen Shot 2020-08-23 at 9 13 1](https://user-images.githubusercontent.com/104411072/197456739-7ae56b7d-d80f-4753-94e1-2ac8486b847a.png)

I also noticed that the gradient appears to be going in a diagonal direction as the top right corner is brighter than the top

[2022-10-24 14:50] AzaniaBG commented on #2626
@JessicaLucindaCheng ~ I'm reviewing the PR for this issue and came across [this resource](https://www.w3.org/WAI/tutorials/images/functional/#example-2-logo-image-within-link-text) for using alt text with a logo. Would it be okay to reference this as a resource in addition to the resources already provided?

[2022-10-24 16:13] 7kram commented on #3596
Just checked the project page and updates were made.

[2022-10-24 16:28] 7kram commented on #2292
Our product team needs updates to the project card. Once you're ready for us to user test the feature, here are the changes that we will be making:

### People to Remove
Phuong Van
Sakari Salminiitty

### People to Add
Name: Sijia Pitts
* GitHub handle: sijiapitts
* Role: Senior Designer
* SLACK ID: U03CBK89KUY

[2022-10-24 16:41] 7kram commented on #3277
See the previous comment from Sijia.

Additional Note for Dev Lead Writing This Issue:
This is a new visual version of how the filters will appear. When refactoring it, the goal is to make it a component that can be re-used on multiple pages with different filters specified

[2022-10-24 16:49] bishrfaisal commented on #2459
Product has created a comment above with all of the new program information, please revise this issue as appropriate so that the changes can get implemented.

Change required
the current partner.yml file does not have program areas field
the new version will have it.  The comment contains the replacement content.

[2022-10-24 20:16] MattPereira commented on #2292
Thanks for the update @7kram ! :+1:

Here is a link to the current state of the new form: [Proposed GitHub Form](https://github.com/MattPereira/website/blob/convert-project-profile-card-2292/.github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml)

Are you able to handle approval of this template so that I can complete the following action item on this issue?

[2022-10-24 20:40] JessicaLucindaCheng commented on #2626
@AzaniaBG

Thanks for reviewing the PR! Sure, I added it to the Resources section above.

[2022-10-24 21:13] blulady commented on #3492
Added screen share software.

[2022-10-24 21:15] tunglinn commented on #2634
Availability: 6-8pm PST for the whole week
ETA: 10/26 (assuming I understand the issue, after the developer meeting)

Read through the code, not entirely sure where the bug is. Checked some issues with "2 weeks inactive" label, and it looks good.

Also, thinking ahead, I'll need to figure out how to test the action.

[2022-10-24 21:23] blulady commented on #3256
Changes requested have been made.

[2022-10-24 21:28] blulady commented on #3056
@gregpawin @ychu196
Can you guys give us an update on changes you want to the Hack For LA Page Lucky Parking

[2022-10-24 21:29] blulady commented on #3059
Changes are no longer accurate. Send to product to decide what to do.

[2022-10-24 22:04] ExperimentsInHonesty commented on #3277
once you make the issue stick it in the icebox with the following

[code]

[2022-10-24 22:26] ldaws003 commented on #2853
Progress: just started
    Blockers: None
    Availability:  6 hours
    ETA: 10/24/2022
    Pictures (optional):

[2022-10-24 22:41] jdingeman commented on #2600
Hi @jyaymie. I think I see what's going on now. It doesn't look like the gradient file exists on its own fro you to use. I cannot find it on Figma or in the repo. I will talk to Design to see if they have any insight.

I would say for the time being and you are willing to try it out, try editing the CSS in _project-page.scss to expand the linear gradient to more closely match the Figma prototype.

[2022-10-24 22:43] ExperimentsInHonesty commented on #3437
Sakari seems to have left the project.  Please review his issue and Jessica's comments and prepare the issue for milestone

[2022-10-24 22:53] ExperimentsInHonesty commented on #3165
This issue bounced around.  Dev leads need to check that the issue makes sense before putting ready for milestone label back on.

[2022-10-24 22:59] ExperimentsInHonesty commented on #3641
Before this issue can get ready for milestone it will need a cleanup. Only fields that have content you need should be in the issue, so for instance, the title and an empty dependency are not wanted.

[2022-10-24 23:01] JessicaLucindaCheng commented on #2699
**Must do:**
- [ ] Check the bottom of the Prioritized Backlog for any developer issues (`label:"role: front end"`, `label:"role: back end/devOps"`, `label:"role: dev leads"`) that are miss prioritized and reprioritize them.
- [ ] Check New Issue Approval for the following labels:
  - [ ] `label:"role: front end"`
  - [ ] `label:"role: back end/devOps"`
  - [ ] `label:"role: dev leads"`
  - [ ] If

[2022-10-24 23:44] michaelmagen commented on #2632
Progress: Need to check with others about testing of new approach
Blockers: Initial approach did not work, attempting new approach to solve problem
Availability: 4 hours
ETA: 10/25/22

[2022-10-24 23:52] #2852 closed, assigned to str-xjua24

[2022-10-25 00:03] jyaymie commented on #2600
Thanks so much for looking into this, @jdingeman! I'll go the CSS route in the meantime.

[2022-10-25 00:06] blulady commented on #3641
Please don't clean up this issue until we have a chance to bring it up with the team on Tuesday October 25

[2022-10-25 00:18] blulady commented on #2010
### Agenda for October 25, 2022
Faciltator: Justin D

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. - Matt Toledo

#### Stand-up update (5-10 minutes)
Each member will give a quick

[2022-10-25 00:49] blulady commented on #1982
It looks like the wins-feature-1 branch has already been merged. The comment history  mentions that the issue was addressed by another PR, it would be nice if they had included the link to that PR. I also took a look at the wins page and it looks like the picture referenced by this [comment](https://github.com/hackforla/website/issues/1982#issuecomment-907823063). I think we are good.

[2022-10-25 01:05] MatthewBozin commented on #3284
Availability for this week: 10-24-2022
My estimated ETA for completing this issue: 10-24-2022

[2022-10-25 01:06] blulady commented on #2634
@tunglinn, moving this to the in progress column.

[2022-10-25 01:09] blulady commented on #2689
@kathrynsilvaconway should I remove the two weeks inactive label?

[2022-10-25 01:11] blulady commented on #2400
@SAUMILDHANKAR hasn't responded since August, sending this back to New Issue Approval to see if anything needs to happen with it before we return it to Prioritized Backlog.

[2022-10-25 01:14] blulady commented on #2592
Sending this back to New Issue Approval to see if anything needs to happen before moving it back to the prioritized backlog.

[2022-10-25 01:17] blulady commented on #2632
Thanks for updating. I'll remove the two-weeks inactive label but feel free to do it yourself.

[2022-10-25 01:20] blulady commented on #3501
@kathrynsilvaconway can we close these?

[2022-10-25 01:21] blulady commented on #2673
@frankstepanski are you still working on this?

[2022-10-25 01:22] blulady commented on #3500
@kathrynsilvaconway this one too?

[2022-10-25 01:31] t-will-gillis commented on #3492
i. Availability: 9-5 Thursday 10/26/22
ii. ETA: 5 pm 10/26/22

[2022-10-25 01:39] ychu196 commented on #3056
@blulady Greg and I are looking into this right now.

[2022-10-25 01:43] blulady commented on #3547
Looks like @kathrynsilvaconway addressed Jessica's concern 2(since concern number one was Jessica answering Kathryn's question) when she changed the action item to `Submit a pull request. Remember that your changes will be merged into the newly created faeture branch, not gh-pages.`