[2022-10-25 02:30] patrickohh commented on #3205
i. Availability: Today (10/24)
ii. ETA: By tonight

[2022-10-25 03:08] blulady commented on #3437
Great eye as always @JessicaLucindaCheng!! I believe I have made the corrections she recommended. Linking to the eature-homepage-launch _footer.scss and _footer.html as well as replacing the image. Did I replace it with the right image from figma? This was the image under option 2 in the red square? I didn't see anything labeled feature-homepage-launch....

[2022-10-25 04:44] roslynwythe commented on #3403
i. Availability: 10/24 - 10/26
ii. ETA: By 10/26

On Mon, Oct 24, 2022 at 5:43 PM github-actions[bot] <
***@***.***> wrote:

[2022-10-25 07:45] ldaws003 commented on #3611
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

It took about 3.5 hours.

[2022-10-25 08:58] roslynwythe commented on #3403
Hi I've run into a problem.  Before creating my issue branch I used ‘Sync Fork’ on Github to sync my fork (roslynwythe/website) from hackforla/website.  Then several hours later when I was ready to push my local commits to the repository, I attempted to do another sync using my local CLI:
[code]

I went to GitHub to my fork page and clicked Sync Fork, and the message said there are no updates to f

[2022-10-25 09:22] SAUMILDHANKAR commented on #3274
@ExperimentsInHonesty: Sorry, missed the notification and didn't fix this earlier. I have updated the link in step 1 to [this](https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions#add-update-label-weekly). So, if the person working on this issue decides to make changes to the summary, they would need to check both the links i.e. in Step 1 and Step 3 as per your comment.

[2022-10-25 14:07] AzaniaBG commented on #2174
Update: at the All-Team meeting Sunday, we discussed the new Figma designs Sijia created based on WCAG recommendations set forth in #2173. Bonnie approved one of the options and Sijia put [this final design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692) in a pink box. I'm not able to edit the Figma to add this issue number, but I gave it to @sijiapitts

[2022-10-25 14:09] AzaniaBG commented on #2173
Update: at the All-Team meeting Sunday, we discussed the new Figma designs Sijia created based on WCAG recommendations set forth in this issue. Bonnie approved one of the options and Sijia put [this final design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692) in a pink box. I'm not able to edit the Figma to add this issue number, but I gave it to, and I

[2022-10-25 15:26] blulady commented on #2210
@plang-psm I am so sorry it took me so long to get to reviewing this issue.
You did an **OUTSTANDING** job creating this page. Your Wiki page is through, clear and direct.
However I don't see any explicit instructions on what to do when a developer comes across a duplicate style class. Maybe just one more section that explains what happens when you come across a duplicate style class. If you find

[2022-10-25 21:54] h3nry-m commented on #3612
**How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?**

Finishing up the pre-work up to this point took a bit more than two weeks. It took me a while to get setup. The meetings I've been attending weekly and I just created a pull request for my good first issue.

[2022-10-25 21:55] h3nry-m commented on #3612
Provide Update
1. Progress: Just submitted my first pull request for my good first issue.
2. Blockers: N/a
3. Availability: Weeknights
4. ETA: N/a

[2022-10-25 22:05] JessicaLucindaCheng commented on #1850
Availability for editing issue: Not sure. Dependent on when I get my computer's Internet fixed.
ETA for completing edits: Wednesday, November 17, 2022 (if I am able to get my computer's Internet issue fixed by then)

To Dos
- [ ] @JessicaLucindaCheng needs to edit the epic more to make it clearer for dev leads.
- [ ] Have the dev leads read the epic to make sure it is clear and sign off on it
- [

[2022-10-25 22:14] JessicaLucindaCheng commented on #3547
@blulady thanks for taking a look at this issue!

- [x] I'm going to add the `ready for dev lead` label back on and remove the `Ready for milestone` label because you still need to address [Bishr's comment](https://github.com/hackforla/website/issues/3547#issuecomment-1281117570):

- [x] Once you address Bishr's comment above and think this issue is clear enough for a developer to work on,
  - [x]

[2022-10-25 22:58] PeterSYoo commented on #2855
Availability: 10am - 12:30pm, 4pm-9pm PST / Mon - Sun
ETA: 10/25/22

[2022-10-25 23:45] DmitriiTsy commented on #3256
Hi guys, hi world!

Availability: 2 hours
ETA: 2 hours

[2022-10-25 23:57] Aveline-art commented on #2174
@AzaniaBG I personally think that's a good idea, but feel free to also consult the team lead on this matter as well.

[2022-10-26 00:06] #3284 closed, assigned to MatthewBozin

[2022-10-26 00:08] #3205 closed, assigned to patrickohh

[2022-10-26 00:13] #2857 closed, assigned to h3nry-m

[2022-10-26 00:25] sijiapitts commented on #2173
Update: Issue number 2174 has been added to Figma next to the design frame.

[2022-10-26 00:59] sijiapitts opened #3661 "Redesign Donate page (mobile view)"
### Overview
When developers were working on implementing the Donate page (mobile view) design, they noticed some unclear instructions. Text alignments, box shadows... have different styles than the ones on the current website. But it wasn't clear to them if they should implement the Figma style. More details can be found in [Issue #2392 ](https://github.com/hackforla/website/issues/2392)

As the

[2022-10-26 01:18] blulady commented on #3547
@JessicaLucindaCheng Was this one of the ones we went through with Bonnie?

[2022-10-26 01:26] aricforrest commented on #3417
- `elizabethhonest` bot GitHub API token updated and set to expire in 30 days.
- Manually called `Wins-form (Responses)/Code.gs` `main()` function to perform push of updated `_wins-data.json` and `wins-data.json` files without changes to JSON file building logic.
- Commit [6bd12b3](https://github.com/elizabethhonest/website/commit/6bd12b33e57d430246a4cec2f49a29c620a27a8b) and [d464f52](https://git

[2022-10-26 01:41] blulady commented on #2173
Looks like amazing work as always @AzaniaBG. You did everything the issue asked and more. I love the test sections of the comment you left. Do you think I could possibly ask you to do one more thing and add this to the wiki? It would be a shame if we had all of this great info on how to make a sticky side nav and just left it in a comment on an issue somewhere.

[2022-10-26 02:13] blulady commented on #3571
I reached out to Rolando Zarate by slack and email. Hopefully we hear back and he's ok.

[2022-10-26 02:31] AzaniaBG commented on #2173
@blulady ~ thank you! yes, of course ~ i can add it to the wiki. Can you clarify which wiki i should add it to?

[2022-10-26 02:47] jyaymie commented on #2600
During the dev meeting today (10/25/22), I learned that the gradient image file could not be found. I will go forward with implementing the gradient change via CSS and apply it to both desktop and mobile screens.

[2022-10-26 03:02] #2632 closed, assigned to michaelmagen

[2022-10-26 03:02] aricforrest commented on #3641
Title and dependency fields have been removed.

[2022-10-26 03:15] jdingeman commented on #2607
## 2022-10-31 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-10-26 03:49] blulady commented on #3641
Thanks for letting us use this as an example.

[2022-10-26 04:12] blulady commented on #2174
@AzaniaBG @Aveline-art How could I possibly disagree if both of you agree. Yes, we should update the about page.

[2022-10-26 04:23] blulady commented on #2173
I think this would be a good place. What do you think? Between Styling with reusable components and How to read and interpret issue labels?
![Screenshot (273)](https://user-images.githubusercontent.com/67162265/197933997-f24c30d0-657b-4275-bce1-a406852ec897.jpg)

[2022-10-26 06:12] sijiapitts commented on #3661
I created [two solutions ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24457%3A284739). Waiting for review in the next team meeting.

[2022-10-26 08:56] JessicaLucindaCheng commented on #3437
@blulady Thanks for making the changes! Remember to remove the `Draft` label off of an issue when you add a `Ready for Milestone` label on it. I went ahead and did it this time.

I replaced the image of the current redesigned homepage footer with a gif to illustrate the problem better and because the original image was out of date.

[2022-10-26 08:58] roslynwythe commented on #3640
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Answer: 4 hours

[2022-10-26 09:20] JessicaLucindaCheng commented on #2555
- Design issue #3555 has been written to address the discrepancies in Figma.

[2022-10-26 09:33] JessicaLucindaCheng commented on #1850
Availability for editing issue: Not sure. Dependent on when I get my computer's Internet fixed.
ETA for completing edits: Thursday, November 3, 2022 (if I am able to get my computer's Internet issue fixed by then)

[2022-10-26 09:34] JessicaLucindaCheng commented on #3376
Availability for editing issue: Not sure. Dependent on when I get my computer's Internet fixed.
ETA for completing edits: Thursday, November 4, 2022 (if I am able to get my computer's Internet issue fixed by then)

[2022-10-26 09:43] JessicaLucindaCheng commented on #2972
Since the filters are being redesigned to be uniform/standardized across the website, we are no longer going to implement this issue. Once Design standardizes the filters across the website and dev issue #3256 is completed, a new issue will be created for a developer to implement the standardized filters.

[2022-10-26 09:43] #2972 closed, assigned to nobody

[2022-10-26 09:45] JessicaLucindaCheng commented on #3328
Availability for editing issue: Not sure. Dependent on when I get my computer's Internet fixed.
ETA for completing edits: Friday, November 5, 2022 (if I am able to get my computer's Internet issue fixed by then)

[2022-10-26 12:06] Skydodle commented on #3609
Hello @bishrfaisal Thank you so much for reviewing and merging my first issue! I'm excited to move forward. However, I'm currently prepping for an interview and has notified the team on Slack that I will be out until 10/28. I will get back as soon as possible. Thank you for your help!

[2022-10-26 15:31] blulady commented on #3437
@JessicaLucindaCheng Thank you!! We need all the help we can get.

[2022-10-26 16:48] ExperimentsInHonesty commented on #3117
Hi Dev leads.

The latest version is on [this figma frame labeled final version](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24474%3A284697)

If you are unclear what needs to be done, please bring this to the sunday or monday meeting.

[2022-10-26 17:54] blulady commented on #2699
Hey @JessicaLucindaCheng This is such an useful tool. I am super grateful that you shared it with us. I was going through it and got confused and was hoping you could clarify.

- [ ] Check ~~New Issue Approval~~ for the following labels:
  - [ ] `label:"role: front end"`
  - [ ] `label:"role: back end/devOps"`
  - [ ] `label:"role: dev leads"`
  - [ ] If there are any with the above labels and

[2022-10-26 18:21] AzaniaBG commented on #2174
Updated issue with approved Figma design for sticky side bar nav (with note that this design should be followed to satisfy WCAG). Feel free to modify as necessary  :)

[2022-10-26 18:22] AzaniaBG commented on #2173
Add write up to Wiki ETA: 10/27/2022 by 5 PM; Availability: 10/27/2022 10 am - 11 am; 4 - 5 PM

[2022-10-26 18:34] blulady commented on #3165
The file had been reformatted to another location. Location has been updated and the comment hasn't changed.

[2022-10-26 18:50] blulady commented on #2459
@bishrfaisal when you say "revise this issue"... Does that mean that I make a new issue and cite the original issue? Or should I add a comment to clarify for the dev what should happen? Or do I edit the original issue?

[2022-10-26 19:58] bishrfaisal commented on #2459
@blulady you can edit the original issue to clarify instructions for dev. You could also leave a comment if necessary. No need to make a new issue in this case. Thanks!

[2022-10-26 20:22] blulady commented on #3277
Reached out to Sijia with questions.

[2022-10-26 20:25] blulady commented on #3277
- Should we do some research about accessibility like we were going to with issue #2286 (Do we still need to do this audit if the drop down menu is changing?) or Azania's issue #2173

[2022-10-26 22:32] vzpeopledesign commented on #2662
1. Created a persona and ran it by UXR team. Will run it by Bonnie to assess and evaluate further need of research: user interviews, survey > to create a second persona.
2. Need to finish migrating sticky notes in Miro to bring all insights to light and complete the Miro board.
3. Sticky note migration ETA: 4 hrs max to be completed by Oct 30.

[2022-10-27 00:53] tunglinn commented on #1543
VRMS member, Fang, suggested to ask #admin channel for access to the "VRMS Slack Integration Module" slack app. The folks in #admin suggested to ask Bonnie. Looks like this has gone full circle, and we don't know who has access to the app or where the app exists.

[2022-10-27 02:31] tunglinn commented on #2634
[This is what a timeline looks like.](https://api.github.com/repos/github/roadmap/issues/493/timeline)
Or you can use this format to access the timeline for any issue: https://api.github.com/repos/OWNER/REPO/issues/ISSUE_NUMBER/timeline

If there are many, many events, you can choose how many events you want to see by adding "?per_page=100" or whatever number to the end of the URL above.

Trying t

[2022-10-27 03:00] PeterSYoo commented on #2855
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

It took me 2 hours.

[2022-10-27 03:01] PeterSYoo commented on #2855
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-10-27 03:21] str-xjua24 commented on #3278
Availability: All week
ETA: 10/27

[2022-10-27 17:30] AzaniaBG commented on #2173
Added link to write up in Wiki
<details>
   <summary>Wiki after link added </summary>

![WikiAfter](https://user-images.githubusercontent.com/52610573/198358634-8907cc8e-4adc-4419-afe9-9bff65f5b4be.jpg)

</details>

[2022-10-27 19:00] roslynwythe commented on #3196
Availability: 10/27, 10/28 daytime, 10/29 evening, 10/30
ETA: 10/30

On Thu, Oct 27, 2022 at 12:01 AM github-actions[bot] <
***@***.***> wrote:

[2022-10-27 21:23] roslynwythe commented on #3196
I'm still proceeding down the pre-work checklist and just learned that not supposed to assign a "good second issue" until my first issue PR has been merged, so therefore I am unassigning myself.

[2022-10-27 22:27] blulady commented on #2173
Thank you. I believe this issue is closed.

[2022-10-27 22:27] #2173 closed, assigned to AzaniaBG

[2022-10-27 23:05] aricforrest commented on #3417
Issue is ready for review @hackforla/website-merge

[2022-10-28 01:13] blulady commented on #3547
I reached out to @kathrynsilvaconway and she explained to me `Oh, the 'link to project page' is just supposed to a be link to the HTML that is to be worked on. This was a very rough draft when I wrote it, I just didn't have the link handy. Bonnie asked me to make it extremely clear that there is only one file to update. She didn't want a dev to think they had to update a separate file for every pr

[2022-10-28 01:39] blulady commented on #3546
Using the spelling errors to check if the Spell-Checker we use is a brilliant idea but I am uncertain about some of the items that are in the [list](https://github.com/hackforla/website/issues/2401#issuecomment-1146721700) because:
`- line 41 "your" to "you're" Mobile_responsiveness.yml *grammatical error*
- line 33 `each changes` to `each change` in Mobile_responsiveness.yml *grammatical error*
-

[2022-10-28 02:36] blulady commented on #3034
- Not sure why this showed up in New Issue Approval today, but it is closed by issue #3547. If there is anything else we need to do with this, please make a comment, otherwise I think it can go into the done column.

[2022-10-28 02:58] #3403 closed, assigned to roslynwythe

[2022-10-28 03:37] #2855 closed, assigned to PeterSYoo

[2022-10-28 04:10] arpitapandya opened #3669 "IGNORE: THIS IS FOR TESTING PURPOSE ONLY"
PS: Please do not add labels to this issue. I will close it when ready.
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning

[2022-10-28 05:18] arpitapandya opened #3670 "IGNORE : THIS IS FOR TESTING ONLY"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-10-28 14:44] arpitapandya commented on #3669
Hey @gstemmann, Thank you for working on this issue and leaving notes.

Here are my notes to add for the next developer to work on #3109.

Currently, we have GHA that first checks for labels. If there's a missing `Size` series label, then it throws a `size: missing` label. It will post a [comment](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-issue/add-missing-labels-to

[2022-10-28 14:45] arpitapandya commented on #2777
Hey @gstemmann, Thank you for working on this issue and leaving notes.

Here are my notes to add for the next developer to work on #3109.

Currently, we have GHA that first checks for labels. If there's a missing `Size` series label, then it throws a `size: missing` label. It will post a [comment](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-issue/add-missing-labels-to

[2022-10-28 14:48] #2777 closed, assigned to gstemmann

[2022-10-28 15:02] #3669 closed, assigned to arpitapandya

[2022-10-28 15:50] Unity7 commented on #3510
Progress: Project is complete
Blockers: None
Availability: 0
ETA: Needs to be closed

[2022-10-28 16:07] ExperimentsInHonesty commented on #3626
Hi  @sijiapitts  We revised the fields we need on the toolkit page to include Technologies.  Can you add that?

[2022-10-28 18:42] sijiapitts commented on #3626
@ExperimentsInHonesty Done.  Here is [the updated design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24499%3A284862)

[2022-10-28 19:00] blulady commented on #3290
Progress: Have spoken to mentor/other Developers about GH Secrets maintenance was advised to change regularly and that often times they can be printed out by logs
Blockers: Other more pressing concerns have prevented me from having a discussion with the team about how we want to handle this
Availability: a few hours on Monday
ETA: After I speak with everyone else, I am looking forward to making a

[2022-10-28 19:19] DmitriiTsy commented on #3606
Progress: I completed all steps for this checklist task;
Blockers: No blockers;
Availability: I spent around 5 more hour this week;
ETA: Completed

[2022-10-28 20:10] roslynwythe commented on #3196
Availability: daytime 10/28, all day 10/30 and 10/31
ETA: 10/31

On Fri, Oct 28, 2022 at 11:34 AM github-actions[bot] <
***@***.***> wrote:

[2022-10-29 00:48] PeterSYoo commented on #3206
Availability for this week: 5pm-9pm PST
My estimated ETA for completing this issue: 10/29

[2022-10-29 20:01] ldaws003 commented on #3210
Availability: Saturday 5:00pm to 10:00pm and all day on Sunday
ETA: Saturday at night.

[2022-10-29 20:30] blulady commented on #2459
@Suman2795
Hey,
My bad. This issue was supposed to go into New Issue Approval Column. I am going to unassign this issue and put it in the correct column.
All Apologies,
Sarah

[2022-10-29 21:04] alice-milmac commented on #2705
Progress: Completed all interviews and data analysis and created the following research-based artifacts:

- Partner Persona
- Research Recommendations

Blockers: None

ETA: Research Plan is complete and I will present my findings in a brief presentation during Sunday's website meeting on 10-30-2022

[2022-10-30 03:14] #3206 closed, assigned to PeterSYoo

[2022-10-30 08:01] #3640 closed, assigned to roslynwythe

[2022-10-30 15:50] kpmunnelly commented on #2706
Progress: Reviewed script with research lead and research team. Will share with Bonnie at Sunday meeting (10/30)
Blockers: n/a
Availability: 3 hours split between M/W/F

[2022-10-30 16:24] ExperimentsInHonesty commented on #2010
@kathrynsilvaconway @blulady Why is this issue closed?

[2022-10-30 16:31] bishrfaisal commented on #3109
Good work writing this issue! I have one suggestion that we could discuss during today's team meeting. Would it be possible for Github automation to only detect the keywords of the size, such as:
- "Large"
- "Medium"
- "Small"
- "Good second issue"
- "good first issue"
- "Third Issue"

We would like this to be irrespective of capitalization and whatever word comes before such as:
- "Size"
- "Compl

[2022-10-30 16:34] ExperimentsInHonesty commented on #1734
2022-10-30 All Team Meeting Agenda
- [x] https://github.com/hackforla/website/issues/3109 - we added a new requirement
- [x] https://github.com/hackforla/website/issues/2010 - asking why Katherine closed it
- [x] https://github.com/hackforla/website/issues/3034 - it's in the last comment on the issue.  This is how the handoff issues work.  The designers or researchers finish the issue, it gets acc

[2022-10-30 16:49] arpitapandya commented on #2027
### Agenda for October 30, 2022
Facilitator: Arpita
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- @ldaws003 opened PR #3676
- @str

[2022-10-30 16:49] gstemmann commented on #2286
i. Availability: Tuesday 6-9 pm
ii. ETA: 11/10/22

[2022-10-30 16:59] JessicaLucindaCheng commented on #2699
@blulady I'm so sorry for the delay in responding to you. My computer's wifi/Internet is still causing me problems.

Good catch! Sorry for the confusion. It should say, "[ ]  If it already has a milestone, check the issue event logs and comments to see why it is still in the _**New Issue Approval column**_."

I fixed it in the comment/checklist: https://github.com/hackforla/website/issues/2699#iss

[2022-10-30 17:08] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: I'm having issues with Internet connection
Availability: Not sure about this week
ETA: Not sure this

[2022-10-30 17:09] JessicaLucindaCheng commented on #2746
Progress: 75% done. Still needs to be done:
Remove anything that is repeated in the Getting Started section that is already in the pre-work.
Move resources to a different Wiki page and link back to Web Developer page.
See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed somewhere else.
Blockers: I'm having Internet issues

[2022-10-30 17:19] ExperimentsInHonesty commented on #3626
Here is the order for design

1. Status: Active, Draft, Depreciated
1. Practice Area
1. Tools
1. Resource Type
1. Technologies
1. Source
1. Contributors

[2022-10-30 17:20] JessicaLucindaCheng commented on #2567
### Notes
- It was decided at the Dev/PM meeting on Monday, October 24 that if possible we should use `<img>` HTML tags with the src linking to the SVG image in our repo.
- If this isn't possible, then we could use aria labels as Bonnie suggested above: https://github.com/hackforla/website/issues/2567#issuecomment-1280008491

### Progress Update
- Progress: Wrote this issue: #2929. Will need to wr

[2022-10-30 17:34] ExperimentsInHonesty commented on #1734
2022-11-13

[2022-10-30 18:54] #2438 closed, assigned to Suman2795

[2022-10-30 19:06] t-will-gillis commented on #3492
I have a blocker:

so far:
- I cloned `https://github.com/hackforla/website.wiki.git` into my local branch,
- made appropriate edits to the file `How-to-Review-Pull-Requests.md`,
- and added a GIF to `image/how-to-review-pull-requests`.
- Also: I am able to preview the changes by copying the edits into the file at `https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests/_edit`

**Blo

[2022-10-30 21:44] sijiapitts commented on #3626
The design is [completed](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24519%3A284897), and ready for development.

![image](https://user-images.githubusercontent.com/37763229/200191859-d6354884-0461-4f38-9175-adb840da437c.png)

[2022-10-30 21:45] #3626 closed, assigned to sijiapitts

[2022-10-30 22:42] yiminng commented on #3572
Made an update to team roster - Removed Rylan, and changed meeting times

[2022-10-31 01:50] t-will-gillis commented on #3613
Progress: I have been reviewing PRs; current issue I am working on is Size: Small and it is #3492
Blockers:  I have a blocker on #3492 and have placed a request for help on Slack hfla-site and Status: Help Wanted on the issue.
Availability: Monday is shot for me, Tuesday 11/1 available 10-5
ETA: I am complete with the actual revisions and with the associated gif. Otherwise, see the issue for the p

[2022-10-31 02:04] #2479 closed, assigned to esantiano

[2022-10-31 10:09] JessicaLucindaCheng opened #3678 "Toolkit page: Hide suggest buttons"
### Overview
On the Toolkit page, we want to temporarily hide the currently non-functional `Suggest a guide` and `Suggest a resource` buttons so that visitors cannot select or click buttons on our website that do not function yet.

### Details
We are hiding the buttons until we figure out how the buttons will function when they are clicked, such as where the buttons lead to.
<details>
  <summary>C

[2022-10-31 10:11] JessicaLucindaCheng commented on #3678
For finishing writing this issue:
- Blocker: Internet problem with my computer.
- Availability: Not sure; dependent on resolving my Internet problem
- ETA: November 7, 2022 (dependent on resolving my Internet problem)

[2022-10-31 15:11] esantiano commented on #3603
Provide Update
1. Progress: 33/34 tasks finished. Need to provide a progress update.
2. Blockers: None
3. Availability: 3-5PM
4. ETA: 10/31/2022

[2022-10-31 16:25] 7kram commented on #3532
This is a duplicate of - #3370

[2022-10-31 16:45] ExperimentsInHonesty commented on #2401
- This is 100% resolved by the creation of https://github.com/hackforla/website/issues/3546

[2022-10-31 16:47] ExperimentsInHonesty commented on #3546
@blulady - I am not sure what you are talking about here.  And I don't think I need to know because that issue is totally resolved by the creation of this issue.

[2022-10-31 16:56] ExperimentsInHonesty commented on #3546
@blulady you said

I agree.  We should add the errors from the [list](https://github.com/hackforla/website/issues/2401#issuecomment-1146721700)
to the [Misspelled list spreadsheet](https://docs.google.com/spreadsheets/d/1qDD7n9XbogIJgDh6mcgdEJAH1x3FMoPnGYNt3pKhhUk/edit#gid=0) and differentiate between misspellings and grammar errors.  Keeping in mind, the solution is not to create the perfect spre

[2022-10-31 17:06] ExperimentsInHonesty commented on #3546
@blulady Product is taking this issue back temporarily until we are finished updating the spreadsheet.

[2022-10-31 18:38] #3196 closed, assigned to roslynwythe

[2022-10-31 18:44] #3278 closed, assigned to str-xjua24

[2022-10-31 20:29] arpitapandya commented on #2853
Reopening this issue, as not done, and commits reverted which was merged by mistake and coming from the wrong branch. @ldaws003 If you wanna work on this issue again feel free to take it and assign yourself again, once your current PR gets approved and merged. I am gonna unassign you for now as you won't be able to work on 2 issues at the same time.

[2022-10-31 20:52] JessicaLucindaCheng commented on #3153
@mxajPrice Please let us know if the changes we made match what you asked for by adding a comment to this issue. Thank you.

[2022-10-31 21:54] ExperimentsInHonesty commented on #3487
- [x] Product team is going to add it to their monthly actives to check each this page to see if any of the language or technologies are not properly assigned and then reach out to projects

- [ ] Add the following example to the wiki file on how to use the project's-check page

[code]

[2022-10-31 21:55] ExperimentsInHonesty commented on #3056
@ychu196 we are going to close this issue if we don't get an instructions from you by Sunday 2022-11-5.  We keep having to revisit it, unnecessarily

[2022-10-31 21:59] ExperimentsInHonesty commented on #3222
@JessicaLucindaCheng @SAUMILDHANKAR If we have some issues for Data Scientists or we think some issues are going to be made, please add any details here that would help

[2022-10-31 22:56] ExperimentsInHonesty commented on #2626
@Unity7 Hi, it turns out your issue has a larger fix needed.  Basically the resources cards should have specific alt text based on which ones they are

So for instance
- If its GitHub or Slack, then the alt text is `alt=""` for all the individual project pages
- If its the Hack for LA Getting Started Guide then `alt="Hack for LA` for all the individual project pages
- If its the wiki, site or over

[2022-10-31 23:26] gregpawin commented on #3056
Apologies! We'll get back to you before Sunday.

On Mon, Oct 31, 2022 at 2:56 PM Bonnie Wolfe ***@***.***>
wrote:

[2022-11-01 00:02] PeterSYoo commented on #3619
Availability for this week: 5pm-6pm PST Sun-Sat
My estimated ETA for completing this issue: 11/01

[2022-11-01 02:11] luiderek opened #3682 "Pre-work Checklist: Developer: Derek Lui"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-01 02:14] vmaineng opened #3683 "Pre-work Checklist: Developer: Mai Vang"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-01 02:26] lytravis opened #3684 "Pre-work Checklist: Developer: Travis Ly"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-01 02:30] michaelmagen commented on #2929
Availability: 4 hours
ETA: 11/6/22

[2022-11-01 02:34] lytravis commented on #3684
After opening issue, I received the following email.

![image](https://user-images.githubusercontent.com/78827449/199146106-5bce5054-4b5f-476f-b26b-b4100b5080e7.png)

[2022-11-01 02:38] Adastros opened #3685 "Pre-work Checklist: Developer: Danny Do"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-01 04:21] #3210 closed, assigned to ldaws003

[2022-11-01 05:01] ldaws003 commented on #2853
ETA: Monday 11:00pm
Availability: 10:00pm - 12:00am

[2022-11-01 05:13] #3619 closed, assigned to PeterSYoo

[2022-11-01 08:15] Suman2795 commented on #3598
Availability: weekend
ETA:7th oct 2022

[2022-11-01 16:41] luiderek commented on #2856
Availability for this week: 10am-8pm PDT
My estimated ETA for completing this issue: < 2 hours

[2022-11-01 16:42] luiderek commented on #3682
~ 3 hours

[2022-11-01 22:22] plang-psm commented on #2210
Hi @blulady , thank you for the review! My apologies for not being more direct, but the first two sections below the overview are supposed to be the steps a developer should follow when coming across a duplicate style. It covers checking to see if the component has already been made and simply needs implementation, or if it has not, then the developer should move onto how to create a reusable comp

[2022-11-01 22:58] PeterSYoo commented on #3437
i. Availability: 4pm-5pm PST 11/01/22
ii. ETA: 11/03/22

[2022-11-01 23:19] plang-psm commented on #2210
@blulady I went ahead and changed a few things, including the format to make the instructions much more clear. Please let me know if this clarifies the instruction concern. https://github.com/hackforla/website/wiki/How-to-deal-with-duplicate-style-classes

[2022-11-01 23:29] plang-psm commented on #2210
Progress: Finished edit the document
Blockers: None
Availability: 2hrs
ETA: Completed -- awaiting review
Pictures (optional): N/A

[2022-11-01 23:31] plang-psm commented on #3511
Progress: Resubmitted my medium issues, and need to complete a large issues.
Blockers: None
Availability: 2hrs
ETA: Medium issue completed, Large issue TBD
Pictures (optional): N/A

[2022-11-02 00:33] wendybarrios opened #3688 "Pre-work Checklist: Developer: Wendy Barrios"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-02 00:51] jdingeman commented on #3492
Wiki page has been updated by @t-will-gillis. Reviewed the page and it is published on the hackforla repo. All instructions followed. Closing this issue in place of PR.

[2022-11-02 00:51] #3492 closed, assigned to t-will-gillis

[2022-11-02 01:39] str-xjua24 commented on #3605
Progress: Checklist done
Blockers: No difficulties
Availability: All afternoons
ETA: This week

[2022-11-02 02:35] jyaymie commented on #2216
Availability: Flexible all days
ETA: 11/3/22 EOD

[2022-11-02 04:14] #2853 closed, assigned to ldaws003

[2022-11-02 04:46] luiderek commented on #2174
Got curious about what was behind the sticky-bug.
As far as quick and dirty solutions goes, inside `assets/js/about.js`:
- changing the event listener of `scrollHandler` from "wheel" to "scroll"
- replacing the `STICKYNAVTOP` from a fixed constant to the BoundingClientRect.y of the nav element + 30
![swipe sidebar](https://user-images.githubusercontent.com/12964172/199396009-e18fa4f8-56ee-4a84-b6c

[2022-11-02 05:29] 7kram commented on #2612
All issues have been created for alt text for this page so I'll go ahead and move it to the done column. You can refer to the comment above https://github.com/hackforla/website/issues/2612#issuecomment-1280006194

[2022-11-02 06:13] roslynwythe commented on #3641
Availability: all day 11/1/2022, morning 11/2/2022
ETA: 1 day after granted read access to Google Apps Script in the admin Google drive share

[2022-11-02 07:28] roslynwythe commented on #3641
To understand the flow of 'win' data I looked in the Site Architecture doc and noticed that the Google Apps Script and 'win' submission data was not described.  Is there other documentation?  If not, I suggest that it be added and I would like to contribute to that effort.

[2022-11-02 16:55] 7kram commented on #3547
Product thinks that the reason for the feature branch was that it would show up for all project pages even if there isn't any information for the Problem, Solution, and Impact in the projects .md file and that we were going to wait to launch the feature until all information for each project was collected.

If this is an accurate assessment on why we needed a feature branch, let's solve this inste

[2022-11-02 18:53] roslynwythe commented on #3641
requested access to Google Apps Script from @kathrynsilvaconway

[2022-11-02 19:45] jyaymie commented on #2216
I am not sure what is meant by "id identifiers". To me, the only thing distinguishing a yml file from another is the file name itself and not anything inside the file. Is there a yml file in `_data/internal` containing an invisible value that I can use as an example?

Any assistance is appreciated. Thank you!

[2022-11-02 20:55] SZwerling opened #3690 "Pre-work Checklist: Developer: Seth Zwerling"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-02 23:01] t-will-gillis commented on #2266
i. Availability:
ii. ETA: Wednesday, Nov 9, 5pm

[2022-11-03 01:13] roslynwythe commented on #2147
i.  Availability - 6 to midnight 11/2, 10 am - 2 pm and 4-7 pm on 11/3
ii. ETA EOD 11/3 (assuming I am granted access to the Google Apps Scripts on 11/2)

[2022-11-03 01:13] roslynwythe commented on #3641
I unassigned this issue, as I was advised that it was not ready.

[2022-11-03 01:44] luiderek commented on #3592
Availability: 10am-10pm PDT
ETA: < 4 hours

[2022-11-03 02:23] #2856 closed, assigned to luiderek

[2022-11-03 03:52] Aparna1Gopal opened #3691 "Communities of Practice information updates: UI/UX"
### Overview
We want to update the information in the UI/UX CoP card so that the information is accurate.

### Action Item
- [x] In _data/internal/communities/ui-ux.yml, update the file to reflect the information written below:

  ### remove person(s)

  Name: Felicia Swafford
  Name: Kevin Wang

  ### Add person(s)

  Name: Aparna Gopal
  Title: Co-Lead
  GitHub Handle: Aparna1Gopal
  Slack Membe

[2022-11-03 04:41] jyaymie commented on #2216
I've unassigned myself because of a sudden change in availability. There is no progress to report. @Aveline-art shared the following to help further explain the issue:

Okay, so here is the gist. In HTML the id attribute is used to identify an HTML object. For example:
[code]
Now imagine that you have a function that programmatically inserts these ids, say for instance:
[code]
This function will w

[2022-11-03 08:37] KarinaLopez19 opened #3693 "Communities of Practice information updates: Data Science"
### Overview
We want to update the information in the Data Science CoP card so that the information is accurate.

### Action Item
- [x] In _data/internal/communities/data-science.yml, update the file to reflect the information written below:
  - [x] **Remove person(s)**
    - [x] Ryan Swan
  - [x] **Add person(s)**
    - [x] Name: Karina López
      Title: Co-lead
      GitHub Handle: KarinaLopez1

[2022-11-03 18:03] juliagab56 opened #3694 "Update Project Profile: VRMS"
### Overview
As a developer, we need to ensure our project's details are up to date on the HackforLA website. We need to update the VRMS project's leadership to include the current team members and remove some of the old team members.

### Action Items
- [x] Observe the existing syntax of the [front matter block](https://jekyllrb.com/docs/front-matter/) inside of the [vrms.md](https://github.com/h

[2022-11-03 19:01] juliagab56 commented on #3694
I'd like to update the "current project team" section of VRMS to reflect current team members.

1. Name: Julia Gab
   Github: juliagab56
   Role: Lead UX Designer
   Slack ID: U03AS9FBAAU

2. Judy Lee
JudyLee533
UX Designer
Slack ID: U03K7Q1FV3P

3. Alex Lee
heyitsalexander
Product Manager
Slack ID: U03PC4KKGAG

4. Amanda Glover
AmandaGlover-PM
Product Manager
Slack ID: U042G8B7RB3

5. Josh Bubar

[2022-11-03 20:51] JessicaLucindaCheng commented on #3027
@geedtd Since we haven't heard back from you, I'm unassigning you from this issue.

[2022-11-03 21:06] JessicaLucindaCheng commented on #3283
@bishrfaisal I saw you added a milestone and removed the `Ready for Milestone` label. Can this issue be prioritized in the Prioritized Backlog column yet?

[2022-11-03 21:22] JessicaLucindaCheng commented on #3453
@ethanstrominger This issue with not being able to see changes made on the website is already addressed in our [CONTRIBUTING.md section 2.7.b.i. What if you cannot see your changes locally within Docker?](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#i-what-if-you-cannot-see-your-changes-locally-within-docker).

In the future, if you have questions, please reach out to us on S

[2022-11-03 21:24] JessicaLucindaCheng commented on #3453
Closing this issue because  [CONTRIBUTING.md section 2.7.b.i. What if you cannot see your changes locally within Docker?](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#i-what-if-you-cannot-see-your-changes-locally-within-docker) already exists on how to address this problem

[2022-11-03 21:24] #3453 closed, assigned to nobody

[2022-11-03 21:37] JessicaLucindaCheng commented on #3464
I think this was opened by accident when an Action Item was clicked. Thus, I'm closing this issue.

[2022-11-03 21:37] #3464 closed

[2022-11-04 00:49] patrickohh commented on #3651
Availability: 11/3 - 11/6
ETA: By 11/4

[2022-11-04 16:25] #3541 closed, assigned to aricforrest

[2022-11-04 17:04] roslynwythe commented on #2147
I was advised by Aric that issue #3641 should be completed before this one.

[2022-11-04 19:23] arpitapandya commented on #3641
Hey @roslynwythe looks like you moved this issue from `New Issue Approval` column, Have you confirmed since it's not moved to `prioritized backlog` by pm. Please read my message on slack channel

[2022-11-04 19:26] arpitapandya commented on #3641
I understand that I and Aric discussed that this issue is a priority before working on #2147 but this issue must move to `prioritized backlog` to work on by PM so that you can work. If you have confusion then please chat on slack.

[2022-11-04 19:29] arpitapandya commented on #3641
@roslynwythe Apologies, I have to un-assign you from this issue, Once it's in `prioritized backlog` hopefully by next Monday, then you're free to assign yourself and do the work.

[2022-11-04 20:37] roslynwythe commented on #3641
@arpitapandya I apologize, I shouldn't have changed the Project Board setting.  I'll check back on Monday.  Thanks.

[2022-11-04 21:46] MatthewBozin commented on #3638
Progress: Done!
Blockers: Was waiting for the automated github-actions response to respond to!
Availability: 11/4/2022 Evening PST
ETA: 11/4/2022 Evening PST

[2022-11-04 21:48] #3638 closed, assigned to MatthewBozin

[2022-11-04 22:56] #3592 closed, assigned to luiderek

[2022-11-05 00:53] jdingeman commented on #3256
Hello Team,

Added a couple of items to clarify the issue:

- Changed name from `dropdown_filters.scss` to `_dropdown_filters.scss` to match naming convention
- Added item to import new file into `main.scss` and delete the import statement, otherwise this will break the page

[2022-11-05 03:46] tunglinn commented on #2634
Great to see the bug on this issue! github-actions added "2 weeks inactive" despite it being only 9 days.

1. Progress: I understand the code. However, I'm focusing on finding a way to test any changes.
2. Blockers: It's been a real difficulty in figuring out how to test the code. Currently trying to use [this](https://github.com/nektos/act) to use a dummy .json to test different examples of issue

[2022-11-05 04:07] Adastros commented on #2858
Availability this week (PST):
- Weekdays: 9 - 11:30 PM
- Saturday - Sunday: 10 AM - 12 PM, 2 - 11 PM

My estimated ETA for completing this issue: 1 - 2 hours

[2022-11-05 05:19] MatthewBozin commented on #3165
Availability: 11/05/2022 morning, 11/07/2022 evening, 11/08/2022 morning.
ETA: By 11/08/2022.

[2022-11-06 02:26] luiderek commented on #2174
Availability: 1pm - 11pm PDT
ETA: 1-2 weeks, depending on blockers I run into.

Still not entirely sure about how to set up components for this project, and how much of the past code could be reused to make it accessibility compliant. Will likely draft a call for help in slack within a few days once I get a better sense of where I'm lacking knowledge.

[2022-11-06 02:31] t-will-gillis commented on #3613
Progress: beginning #2266
Blockers: none as of yet
Availability: Tuesday 11/8, Thursday 11/10
ETA: TBD

[2022-11-06 17:34] bishrfaisal commented on #2400
@blulady Have we tried to reach Saumil by Slack or email?

[2022-11-06 17:37] gstemmann commented on #2286
Progress: I have reviewed the past work and spreadsheets that were completed.
Blockers: No blockers at the moment.
Availability: Will have time today

[2022-11-06 17:50] bishrfaisal commented on #2114
We need clarification on what the action items in this section mean.

[2022-11-06 17:56] 7kram commented on #1734
2022-11-06 All Team Meeting Agenda
- [x] #3277 - Ask about Sarah's comment on research for accessibility
- [x] #2114 - We need clarification on what the action items in this section mean.
- [x] #3641 - We're confused about the action items in the issue

[2022-11-06 17:59] JessicaLucindaCheng commented on #3130
### To Dos
- [ ] Kristine Eudey follow up with her on the images that were modified and figure out who modified each image
- [ ] Change one small issue with a modified image into one medium issue to add an "Altered by" field and with the designer's name, and add dependencies to other 2-3 small issues that are similar to it

### Progress Update
- Progress: Still need to do above To Dos but didn't g

[2022-11-06 18:04] ExperimentsInHonesty commented on #3356
We need to revisit the format given that we have made some changes to the fields since we  made this issue.  Find the url of the spreadsheet with the current field names.

Once done we need to mock up what an addition would look like and re write this issue to contain that info for the addition (similar to project file updates)

- title: Unsplash
  description: A Figma plugin allows you to use hig

[2022-11-06 18:21] ExperimentsInHonesty commented on #2114
- $color-red: #fa114f;
  - _sass/components/_guides.scss
     - `text-decoration-color: #fa114f;`
     - `color: #fa114f;`
  - _layouts/guides.html
     - `ref="https://www.google.com/"style="color: #fa114f;" >`
  - _guide-pages/how-to-set-reminders-in-slack.md
     - `color: #FA114F;`
  -  pages/guides.html
     - `href="https://www.google.com/"style="color: #fa114f;" >`
     -  `color: #FA114F;`

[2022-11-06 18:40] ExperimentsInHonesty commented on #2112
This issue got reopened, because we did an manual check and found that on one color alone there were at least 5 changeable instances that did not get changed.

- $color-red: #fa114f;
  - _sass/components/_guides.scss
     - `text-decoration-color: #fa114f;`
     - `color: #fa114f;`
  - _layouts/guides.html
     - `ref="https://www.google.com/"style="color: #fa114f;" >`
  - _guide-pages/how-to-set-

[2022-11-06 18:47] 7kram commented on #2113
This issue got reopened, because we did a manual check and found that on two of the colors, there were 3 changeable instances that did not get changed.

- $color-darkblue: #030d2d;
   - _sass/components/_guides.scss
[code]
- $color-white: #fff;
   - _sass/components/_guides.scss
     - `color: #fff;`
     - `background-color: #fff;`

[2022-11-06 19:17] JessicaLucindaCheng commented on #2114
- PMs will be re-auditing the following issues:
  - #2112
  - #2113
  - #2198
  - #2199
  - #2200
  - #2204
  - #2205
- If a PM finds any hard-coded colors, the corresponding issue above will be re-opened by the PMs for a dev to redo the issue.
- This issue will be placed back in the Ice Box until all issues in the Dependency are complete again.

[2022-11-06 19:18] ExperimentsInHonesty commented on #2114
Additionally, the issues will need to be fully audited once they are completed.

[2022-11-06 19:24] #2198 closed, assigned to d-perez-8

[2022-11-06 19:24] ExperimentsInHonesty commented on #2198
Re audited this issue, all necessary changes were made.

[2022-11-06 19:28] #2205 closed, assigned to neevliberman

[2022-11-06 19:29] ExperimentsInHonesty commented on #2205
This has been audited and every instance was caught appropriately.

[2022-11-06 19:32] JessicaLucindaCheng commented on #2199
- This has been re-audited and the following color variables were not used anywhere in the code:
  - $color-lightyellow
  - $color-papayawhip
- Thus, these colors should be removed from
  - [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss)
  - [/_sass/elements/_color-styles.scss](https://github.com/hackforla/website/blob/gh-pages/_sass

[2022-11-06 19:33] bishrfaisal commented on #2200
This has been audited and every instance was caught appropriately.

[2022-11-06 19:33] #2200 closed, assigned to geedtd

[2022-11-06 19:38] 7kram commented on #2204
This has been re-audited and the following color variables have been removed:
$color-royalblue: #4169e1
$color-babyblue: #a4d5ff

[2022-11-06 19:40] #2204 closed, assigned to lindseyindev

[2022-11-06 19:49] JessicaLucindaCheng commented on #2114
Here is a screenshot example of searching `color` hard-coded and not currently a variable:
<img width="960" alt="image" src="https://user-images.githubusercontent.com/31293603/200191768-6d68b5e4-6782-4c84-8e30-1b18bfe305ed.png">

[2022-11-06 20:06] ExperimentsInHonesty commented on #3641
@aricforrest

## Item 1 - FYI
I changed the formatting of your issue so that it conforms with norms (Overview, action items, etc.).

## Item 2 - FYI
I added this at the bottom of the action items
- [ ] Create wiki page which describes where things are, and how they interact and how to maintain them

## Item 3 - Question
Jessica and the PMS went over this issue and don't understand if you are sugge

[2022-11-06 20:44] ExperimentsInHonesty commented on #3277
- I don't think issue has anything to do with the sticky nav #2173.  If you think it does, please be specific in your note.

[2022-11-06 20:50] ExperimentsInHonesty commented on #3277
@blulady I am unclear what you are asking in your comment above

I tried to look at the issue you reference, but it's too big for that.  It has so much info in the comments and there is no summary at the top.  In fact, I have no idea what work is left to be done on that issue, because all the checkboxes are checked.  If the comments require new work, they should be summarized into action items in

[2022-11-06 21:02] ExperimentsInHonesty commented on #3626
The design is [completed](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24519%3A284897), and ready for development.

This is probably a medium size issue for front end

[2022-11-06 21:16] ExperimentsInHonesty commented on #3547
Jessica and I reviewed this at Sunday's lead meeting and decide a feature branch is not necessary.  Instead, the developer who will code this needs to add logic that [prevents the card from displaying if there isn't problem information (`project.problem`) in the .md file for that project

Please rewrite the issue to remove the branch details and add in the new info about the logic

[2022-11-06 21:33] JessicaLucindaCheng commented on #3488
To dev leads:
Are any of the devs up to speed and know what this issue is about? If no devs are, then is there a strong backend developer that can get up to speed on the issue and then meet up with Bonnie and Eric to get up to speed on the next steps, and get a hand off from Eric?

[2022-11-06 21:39] JessicaLucindaCheng commented on #3254
Next steps on this issue is to bring this up at the next meeting with the dev team and take a quick vote on whether or not the suggested change in [this issue](https://github.com/hackforla/website/issues/3254#issue-1272946053) is needed in the prework template?

[2022-11-06 21:42] ExperimentsInHonesty commented on #3546
@blulady Bishir and I updated the spelling list, including adding a column that indicates if it's a spelling or grammar issue.  The person working on this is welcome to skip the grammar problems if the linter does not do them, we could do that with a separate linter on another issue if necessary.  I don't want trying to find the perfect linter to be the enemy of finding a serviceable linter.

Make

[2022-11-06 21:44] JessicaLucindaCheng commented on #2010
Please bring up issue #3254 with the team. See this comment for more info: https://github.com/hackforla/website/issues/3254#issuecomment-1304900574

[2022-11-06 21:47] ExperimentsInHonesty commented on #3056
@greg, I am closing this issue.  Should you want some changes to the hackforla website, please have @ychu196 open a [new project profile update issue](https://github.com/hackforla/website/issues/new?assignees=&labels=P-Feature%3A+Project+Info+and+Page%2C+role%3A+back+end%2FdevOps%2C+role%3A+front+end%2C+Size%3A+Small%2C+size%3A+0.5pt%2C+time+sensitive&template=project-profile-card-review-and-updat

[2022-11-06 21:47] #3056 closed, assigned to nobody

[2022-11-06 22:07] ExperimentsInHonesty commented on #3693
I approve these changes.  I will add the bio on a different page.  Just send this back to product when finished.

[2022-11-06 22:07] ExperimentsInHonesty commented on #3691
I approve these proposed changes

[2022-11-06 22:21] ExperimentsInHonesty commented on #3627
@sijiapitts Please update with the size label you think this should have

[2022-11-06 22:35] ychu196 opened #3697 "Update Project Profile: Lucky Parking"
### Overview
As a product manager of Lucky Parking I want my project's details to be up to date on the HackforLA website

### Action Items
 In the [_projects/lucky-parking.md](https://github.com/hackforla/website/blob/gh-pages/_projects/lucky-parking.md) file, update the `leadership` variable as follows (the order is important):
 - [ ] name: Yuting Chu
    - [ ] role: Product Manager Lead
    - [

[2022-11-07 17:14] ExperimentsInHonesty commented on #3697
@ychu196 Please finish filling out the checklist below

   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in a new
      - [ ] links
         - [ ] GitHub
         - [ ] Slack
         - [ ] Test Site
         - [ ] Demo Site
         - [ ] Site
      - [ ] technologies
      - [ ] partner
      - [ ] tools
      - [ ] status
 -

[2022-11-07 17:18] ExperimentsInHonesty commented on #2698
Date: 2022-11-7
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
  - add the docker feature to the feature link
  - add an issue to the project board (project update)
- [x] Report what the numbers are on issues that are missing labels (e.g., size,

[2022-11-07 17:31] ExperimentsInHonesty commented on #1674
This was on an agenda 2022-10-02

https://github.com/hackforla/website/issues/1674
do we want a note about prioritizing using docker/discouraging people from using Jekyll
Bonnie:
Ethan had an issue with Docker (took a long time), figured out how to run Jeykll
without docker -not a high priority until it is
We should talk to Ethan about how to walk through it.
https://github.com/hackforla/website/i

[2022-11-07 17:40] 7kram commented on #2607
### Add to the next meeting Agenda:
Discussion about icebox for Sunday meeting

[2022-11-07 17:43] ExperimentsInHonesty commented on #3080
Reviewed and approved submission

[2022-11-07 17:43] #3080 closed, assigned to nobody

[2022-11-07 17:44] ExperimentsInHonesty commented on #3180
Reviewed and approved submission

[2022-11-07 17:44] #3180 closed, assigned to nobody

[2022-11-07 18:00] AzaniaBG commented on #1674
I think website leads (@kathrynsilvaconway, @blulady) were trying to figure out whether it should be an issue at all...

[2022-11-07 18:05] ExperimentsInHonesty commented on #2698
#### [role- ignore](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role+missing%22+-label%3A%22ignore%3A+demo%22+-label%3A%22ignore%3A+duplicate%22+-label%3A%22ignore%3A+no+longer+a+problem%22+-label%3A%22ignore%3A+no+longer+planned%22+-label%3A%22ignore%3A+test%22)
Icebox: 2
New Issue Approval: 8
Prioritized Backlog: 0
In Progress: 1
Done: 21
Questions and Review: 1

[2022-11-07 18:05] ExperimentsInHonesty commented on #2698
#### [features](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22feature+missing%22+-label%3A%22ignore%3A+demo%22+-label%3A%22ignore%3A+duplicate%22+-label%3A%22ignore%3A+no+longer+a+problem%22+-label%3A%22ignore%3A+no+longer+planned%22+-label%3A%22ignore%3A+test%22)
Icebox: 3
New Issue Approval: 5
Prioritized Backlog: 0
In Progress: 1
Done: 12
Questions and Review: 0

[2022-11-07 20:08] #2858 closed, assigned to Adastros

[2022-11-07 20:46] aricforrest commented on #3641
@ExperimentsInHonesty

### Item 1 & 2
Thanks for updating the issue!

### Item 3
When I originally created this issue I didn't have experience with [clasp ](https://github.com/google/clasp) and just saw the need to add the Apps Scripts to GitHub. I was worried at an organization level permissions would be a hurdle using clasp but it appears it simply depends on the same Google Drive permissions we

[2022-11-07 21:46] JessicaLucindaCheng commented on #2607
## 2022-11-07 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-11-07 22:13] bishrfaisal commented on #3283
@JessicaLucindaCheng Yes, I went ahead and prioritized it in the Prioritized Backlog. Thanks for pointing that out.

[2022-11-07 22:28] ExperimentsInHonesty commented on #3641
@aricforrest Thanks for the response.
Please make a new issue for the CLASP evaluation/decision record
Write-up the benefits to our team and the changes it will require, and what the potential downside is, and the merge team/dev leads to review, discuss with you and make a team recommendation.  Then, if it's accepted, rewrite this issue.

In the meantime, add a dependency label to this issue, and

[2022-11-07 22:57] roslynwythe commented on #950
Availability: 3-7 11/7, 1-11 pm 11/8
ETA:  11pm 11/8

[2022-11-07 23:00] jdingeman commented on #2010
### Agenda for November 8, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. - Roslyn Wythe

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn

[2022-11-08 00:28] roslynwythe commented on #950
It's been more than a year since the audit (task) list was generated so it is quite out of date.  If a meeting did not appear on the current Events page, I did not mark the task as completed.  I followed every link on the Events page and found that these links should be updated:

- [x] Monday 5:30 - 6:30 pm Design Systems Weekly Meeting - should link to https://www.hackforla.org/projects/design-sy

[2022-11-08 01:00] jdingeman commented on #2027
### Agenda for November 13, 2022
Facilitator:

- [x] Sign into [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. -- Roslyn

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders

[2022-11-08 02:25] ychu196 commented on #3697
@ExperimentsInHonesty Done as per your request
- [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in a new
  - [x] links
    - [x] GitHub
    - [x] Slack
    - [x] Test Site
    - [x] Demo Site
    - [x] Site
  - [x] technologies
  - [x] partner
  - [x] tools
  - [x] status

[2022-11-08 02:50] roslynwythe commented on #950
@tarang100 please advise re: status of this issue and position on Project Board.  Thanks

[2022-11-08 04:44] Adastros commented on #3685
Provide Update
1. Progress: 28 out of 34 tasks complete. Pending attending meetings to complete issue.
2. Blockers: None
3. Availability:  9 - 11:30 PM Weekdays, Sunday 10AM - 10PM
5. ETA: 13NOV22

[2022-11-08 05:55] Adastros commented on #3207
Availability this week: 9 - 11:30 PM weekdays, 10AM - 10PM Sunday
ETA: < 2hours

[2022-11-08 12:14] ldaws003 commented on #2113
ETA: Tuesday by 3:00pm
Availability: Tuesday 2:00pm to 6:00pm, Wednesday 12:00pm-5:00pm

[2022-11-08 12:28] Skydodle commented on #3208
Availability: Wednesdays, Fridays & Saturday

ETA: By Sunday 11/13 end of day

[2022-11-08 15:50] ExperimentsInHonesty opened #3701 "Fix Events page bug with VRMS data not displaying"
### Overview
We need to get the VRMS team meeting data back onto our Events page so that people can see when we have meetings.

### Details
I made an update with the VRMS team in their database for the DevOps community of practice team and its meeting schedule, and now the events page on the hackforla.org website is not loading the data.  We need to figure out why and then work with them on a fix

[2022-11-08 17:43] kpmunnelly commented on #2706
Progress: Have emailed the 3 participants identified by Bonnie and invited them to signup for an interview between Nov 14-21
Blockers: n/a
Availability: 3 hours split between W and F

[2022-11-08 19:47] JessicaLucindaCheng commented on #2114
I updated the Action Item

[2022-11-08 20:06] JessicaLucindaCheng commented on #2113
@ldaws003 Thanks for working on this issue! I just want to let you know I just updated the Action Items to make them clearer.

[2022-11-08 23:17] t-will-gillis commented on #2592
i. Availability: Tu, W, Th 2-5 pm
ii. ETA estimated: F 5 pm

[2022-11-08 23:32] roslynwythe commented on #3634
Availability: 3:30 - 11:30 11/8, 10 am - 8 pm 11/9, 10 am - 7 pm 11/10
ETA: 11/11

[2022-11-08 23:53] SZwerling commented on #3690
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
I have spent three hours so far. The first dev meeting is tomorrow.

[2022-11-08 23:53] SZwerling commented on #2859
Availability for this week: I plan to be available one hour each day to work on this issue.
My estimated ETA for completing this issue: I believe it will take about three hours to complete this issue.

[2022-11-09 00:23] JessicaLucindaCheng commented on #2400
@bishrfaisal I sent Saumil an email today using the websitedevs@hackforla.org account and also private messaged him in Slack.

[2022-11-09 01:02] JessicaLucindaCheng commented on #2806
Reopening issue because the changes requested in the issue were not implemented yet.

[2022-11-09 01:15] JessicaLucindaCheng commented on #3316
Reopening because the alt text has not been changed as requested in the issue.

[2022-11-09 01:16] tunglinn commented on #2634
Was able to test some issues in my own repository. However, in order to test in this repo, I would need an authorization token. Is this something I could have access to, or just do all the testing in my own repo?

[2022-11-09 01:23] JessicaLucindaCheng commented on #3678
For finishing writing this issue:
Blocker: None. I fixed my Internet.
Availability: 6 hours
ETA: November 13, 2022

Edit: Finished drafting issue

[2022-11-09 02:15] jdingeman opened #3704 "HfLA: DEV LEAD Meeting Agenda Thursday📝"
### Overview
This issue tracks the agenda and notes for the Dev Leads meeting

### Action Items
- [ ] Add the Date of the next meeting below
- [ ] Link the Agenda/Notes from meeting

### Resources/Instructions

#### Template
[code]

#### Prior and upcoming meetings

[2022-11-09 02:16] JessicaLucindaCheng commented on #2400
@SAUMILDHANKAR responded with the following Slack message:

Thus, I will be moving this issue back to the In Progress column.

Please remember to post progress updates (Progress, Blockers, Availability, ETA) in this issue. Thanks.

[2022-11-09 03:02] jdingeman commented on #3449
Blocker: Branch does not pass linter for some reason. Unsure of best solution to this. I think it may have to do with updating stylelint as some rules were deprecated in [new version](https://stylelint.io/migration-guide/to-14/).

[2022-11-09 03:31] essbee808 opened #3706 "Pre-work Checklist: Developer: Sheena Bonilla"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:31] Satenik-Ba opened #3707 "Pre-work Checklist: Developer: Satenik"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:33] angelenelm opened #3708 "Pre-work Checklist: Developer: Angelene Manalo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:33] annierm18 opened #3709 "Pre-work Checklist: Developer: Aine Fitzgerald Coleman"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:39] luiderek commented on #2174
Update, (It's been 3 days, but I think I've had decent progress.)
https://github.com/luiderek/hfla-website/tree/standardize-sticky-sidenav-2174

1. Progress

Addressed the strange scrollhandler behavior by changing it's listener to `scroll` from `wheel`.

Moved / renamed `about.js` to `elements/sticky-nav.js`.

Moved some CSS properties from `components/_about.scss` to `elements/_sticky-nav.scss`.

[2022-11-09 03:41] luiderek commented on #3682
https://github.com/hackforla/website/issues/2174
Put down the first progress update.

[2022-11-09 03:47] juleanrod opened #3710 "Pre-work Checklist: Developer: Julian Rodriguez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:47] ychang49265 opened #3711 "Pre-work Checklist: Developer: YooJin Chang"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 03:53] JijiTheCreator opened #3712 "Pre-work Checklist: Developer: Luis Herrera"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Special Notes
1. It may take you a few weeks to finish this issue, because p

[2022-11-09 04:00] jdingeman commented on #950
@ExperimentsInHonesty please see above comment from @roslynwythe for links that are outdated

[2022-11-09 06:16] ldaws003 commented on #2113
ok, thanks

[2022-11-09 10:18] JessicaLucindaCheng commented on #3328
Issue writing update
Availability for editing issue: 6 hours
ETA for completing edits: November 22, 2022

[2022-11-09 11:40] roslynwythe commented on #3027
Availability: 10 am - 7 pm 11/9, 10 am - 6 pm 11/10, 10 - 2 11/11, 10 -2 11/13, 10-noon 10/14
ETA: 11/15

[2022-11-09 15:58] JessicaLucindaCheng commented on #3376
Availability for editing issue:6 hours
ETA for completing edits: November 22, 2022

[2022-11-09 17:53] vzpeopledesign commented on #2662
Need another user persona for long term volunteers. Current volunteer addresses our short term volunteers: 0 - 6 month average. We need a persona for the long term volunteer.

Next steps:
1. Write interview script by reviewing the script previously used and making any necessary additions/changes.
2. Get contact list from Bonnie and outreach
3. User interview
4. Post analysis on Figma
5. Create per

[2022-11-09 18:25] ExperimentsInHonesty commented on #1878
@sijiapitts I think you are working on redesigning the donate page and this old issue came up.  Let's reconcile where you are working on the new instructions for reformatting the page.

[2022-11-09 18:28] ExperimentsInHonesty commented on #1994
This has been updated separately and the communities of practice that are dormant have been left off.

[2022-11-09 18:28] #1994 closed, assigned to ExperimentsInHonesty

[2022-11-09 18:41] ExperimentsInHonesty commented on #2673
Dev leads, please review the issue and determine what remains to be done, revise the issue, leave a note about what was changed and then add ready for milestone label.

[2022-11-09 19:40] roslynwythe commented on #3027
@JessicaLucindaCheng please advise - From Figma I see that in desktop view, the three location images are displayed in a single row, and in the mobile version, they appear in a single column.  However Figma contains no tablet design, so I'm wondering, in tablet view would it be ok if one of the images wraps down to the next row?  Please see the Toolkit page http://localhost:4000/toolkit/, in the E

[2022-11-09 20:17] ExperimentsInHonesty commented on #1797
## 2022-11-09 Agenda and Notes

### Prework to prep for meeting
- [x] Review and prepare items that have [ready for research lead](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22ready+for+research+lead%22#column-15235217) labels in the new issue approval column, so that they if you have any questions for product that you can add them to this agen

### Recurring items:

[2022-11-09 20:26] #3252 closed, assigned to hellorachelschwartz

[2022-11-09 20:27] #3408 closed, assigned to EmilyTat

[2022-11-09 20:27] #3412 closed, assigned to shimahoush

[2022-11-10 00:24] SAUMILDHANKAR commented on #2400
Progress: I have set-up the CodeQL workflow in a branch in my repo and ready for demo. @kathrynsilvaconway  @blulady, @bishrfaisal @JessicaLucindaCheng Please advise on an appropriate time for the demo. My availability is flexible and I have added preferred time below as well.
Blockers: No blockers
Availability: Thursday 11/10 6-9 PM Pacific Time, Sunday 11/13 10AM - 1 PM Pacific Time, Tuesday 11/

[2022-11-10 01:08] ExperimentsInHonesty commented on #2698
Date: 2022-11-09 5:08 PM PDT
### Did you have to update the 0/0 links above?
- [ ] no
- [x] yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
    - added 8 issues to board.  7 being prework issues because we had onboarding last night

### what the numbers are on issues that are missing labels (e.g., si

[2022-11-10 01:59] JessicaLucindaCheng commented on #3254
@jdingeman I saw you brought this up in the meeting yesterday. Did you all vote on whether the suggested change in https://github.com/hackforla/website/issues/3254#issue-1272946053 is needed in the prework template? Or is it already clear enough with:

[2022-11-10 02:14] jdingeman commented on #3254
@JessicaLucindaCheng we hadn't taken a vote but we asked the devs to look over the issue and let us know since not everyone was at the meeting. Personally, I think it is already clear enough with the way that statement is written. We have had new devs ask us before if they need to complete one step before the other, and with this, I don't imagine they would question it and they can move on with th

[2022-11-10 03:03] JessicaLucindaCheng commented on #2802
- In addition to #3115, issue #3678 was created to temporarily hide the Suggest a guide and Suggest a resource buttons

[2022-11-10 17:22] sijiapitts commented on #3661
Design has been [updated](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24579%3A285100) according to feedback.

[2022-11-10 17:24] sijiapitts commented on #1878
@ExperimentsInHonesty The design has been [updated](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24579%3A285100) according to your feedback. Issue number is [#3661](https://github.com/hackforla/website/issues/3661)

[2022-11-10 18:47] #2859 closed, assigned to SZwerling

[2022-11-10 18:48] #3207 closed, assigned to Adastros

[2022-11-10 18:50] #3208 closed, assigned to Skydodle

[2022-11-10 20:14] #3682 closed, assigned to luiderek

[2022-11-11 01:33] jdingeman commented on #3704
## November 10, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-11-11 02:31] jdingeman commented on #3109
Here are some relevant links so we can discuss this issue later:

- https://github.com/hackforla/website/wiki/Hack-for-LA's-GitHub-Actions
- https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions
- https://github.com/hackforla/website/wiki/GHA:-issue-trigger

[2022-11-11 02:42] jdingeman commented on #3693
Hey PMs, I edited the issue and linked the resources for the dev. Is there a page that the bio will show up in as per Bonnie's comment?

[2022-11-11 04:24] luiderek commented on #2174
Taking a break on this issue until I get a better sense of it's scope / ways to achieve it.

Current blockers:
- about.html's structure is unique to the codebase (importing html sections) and not easily generalizable
- it is unclear if there are other instances that would be using the sticky sidebar component to build the component to accommodate
- there are currently 2 different implementations o

[2022-11-11 04:24] #3449 closed, assigned to jdingeman

[2022-11-11 06:39] Adastros commented on #2904
Availability this week (PST): 9 - 11:30 PM Thursday, 10 AM - 10 PM Sunday
ETA: End of day Sunday 13NOV22

[2022-11-11 08:29] ldaws003 commented on #2113
Hi Jessica, should I replace all hard coded colors that show in the  "Blacks, Greys, White" section, or only white, black and mediumgrey?

[2022-11-11 15:57] #3651 closed, assigned to nobody

[2022-11-11 15:58] #3165 closed, assigned to MatthewBozin

[2022-11-11 16:00] Suman2795 commented on #3598
progress: filling the issue template ,will  complete soon.

[2022-11-11 20:23] kpmunnelly commented on #3410
Progress: Completed

[2022-11-11 20:54] michaelmagen commented on #3569
1. Done
2. None
3. 1 hour
4. Done
5. None

[2022-11-11 20:55] michaelmagen commented on #2929
1. Working through tasks
2. Time, working on finishing the task soon.
3. 4 hours
4. 11/15/22

[2022-11-12 17:26] DmitriiTsy commented on #3256
Availability: 6 hours
ETA: 2 hours

[2022-11-12 17:51] DmitriiTsy commented on #3606
Progress: I completed all steps for this checklist task;
Blockers: No blockers;
Availability: 10 hours
ETA: Completed

[2022-11-13 02:02] #2113 closed, assigned to ldaws003

[2022-11-13 02:31] jdingeman commented on #2673
Hello team. I just looked through this issue and located the "broken" link. It looks like the link in [2.7 Working on an issue](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#27-working-on-an-issue) does lead to `https://github.com/hackforla/website/wiki/How-to-Use-Git-GUI-(Graphical-user-Interface)-in-Visual-Studios-Code` and is not broken, however the link under [2.7.c Workin

[2022-11-13 04:20] ldaws003 commented on #2675
Availability: Sunday 12:00pm - 5pm, Monday 3:00pm to 6:00pm, Tuesday 9:00am-5:00pm, and Wednesday 4:00pm-8:00pm
ETA: Wednesday 5:00pm

[2022-11-13 11:05] roslynwythe commented on #3027
Progress: large screen looks good, mobile version almost ready, need a bit of work on tablet version.  The location images are not scaling properly moving between mobile and tablet views.

Blockers: This isn't blocking yet but I will need access to Figma to update styles for event-card, also I'm unclear on the process for updating Figma (version control?).  Request made to @kathrynsilvaconway

Ava

[2022-11-13 16:21] JessicaLucindaCheng commented on #2113
@ldaws003 Sorry, I didn't see your comment to me until now. In the future, please @ mention me so that I get notified. Thanks.

[2022-11-13 16:32] JessicaLucindaCheng commented on #2114
The following colors don't have variable names and should be included in this issue's audit. However, this list is not exhaustive and the person assigned to this issue will need to do a more thorough search/audit of our codebase.
- `#000000`
- `#efefef`

[2022-11-13 16:35] JessicaLucindaCheng commented on #3222
Will find the issues related needing a Data Scientist
Availability: 1 hour
ETA: Monday, November 14, 2022

[2022-11-13 16:37] JessicaLucindaCheng commented on #2746
Progress: My Internet is finally fixed. 75% done. Still needs to be done:
- [ ] Remove anything that is repeated in the Getting Started section that is already in the pre-work.
- [ ] Move resources to a different Wiki page and link back to Web Developer page.
- [ ] See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed some

[2022-11-13 16:43] JessicaLucindaCheng commented on #3547
@jdingeman

I'm putting `ready for dev lead` back on because we didn't apply the logic info in the issue itself. Sorry for not catching that when we were working on this together on Thursday. Please add information about the logic in the issue.

Let me know if you have questions.

[2022-11-13 16:46] JessicaLucindaCheng commented on #2676
Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
Blockers: None. I fixed my Internet.
Availability: Not sure about this week
ETA: November 30, 2022

[2022-11-13 17:09] ExperimentsInHonesty commented on #2698
Date: 2022-11-13 9:30 AM PT

### Did you have to update the 0/0 links above?
- [x] no
- [ ] yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - add a role missing label to one issue

### what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (ope

[2022-11-13 17:24] ExperimentsInHonesty commented on #3167
i added the role labels that I think matched what her goals were, which was to expand her backend experience with practical script writing and front end, so that she could learn to build a website.

[2022-11-13 17:26] ExperimentsInHonesty commented on #3149
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:29] ExperimentsInHonesty commented on #3189
@a-sana we are doing some analysis of why different roles drop off before completing the team's onboarding process.  If you have a moment to help us classify this, could you let us know if you identify as
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:30] ExperimentsInHonesty commented on #3545
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:31] ExperimentsInHonesty commented on #3186
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:31] ExperimentsInHonesty commented on #3386
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:32] ExperimentsInHonesty commented on #3512
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:33] ExperimentsInHonesty commented on #3245
@KalpanaTA Just wanted to drop a line to send our best wishes to you and your family.

[2022-11-13 17:34] ExperimentsInHonesty commented on #3246
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:35] ExperimentsInHonesty commented on #3050
If we interview this person, ask if they are (radio options)
- [ ] front end
- [ ] back end
- [ ] both

[2022-11-13 17:43] ExperimentsInHonesty commented on #2698
We (product) should address the issues with no size before our next audit

[2022-11-13 17:57] gstemmann commented on #3614
Progress: I'm working on my medium issue currently
Blockers: I will be starting a new job this week so I may be taking 7 days off or so.
Availability: N/A
ETA: This pre-work checklist is completed

[2022-11-13 17:58] ExperimentsInHonesty commented on #3691
### Overview
We want to update the information in the UI/UX CoP card so that the information is accurate.

### Action Item
- [ ] In _data/internal/communities/ui-ux.yml, update the file to reflect the information written below:

  ### remove person(s)

  Name: Felicia Swafford
  Name: Kevin Wang

  ### Add person(s)

  Name: Aparna Gopal
  Title: Co-Lead
  GitHub Handle: Aparna1Gopal
  Slack Membe

[2022-11-13 17:59] ExperimentsInHonesty commented on #3691
Original cleaned up version (from form)
---
### Overview
We want to update the information in the UI/UX CoP card so that the information is accurate.

### Action Item
- [ ] In _data/internal/communities/ui-ux.yml, update the file to reflect the information written below:

  ### Remove person(s) and info from CoP file?

  YES

  ### If YES on remove person(s) edit the below to provide the informati

[2022-11-13 18:02] 7kram commented on #1734
2022-11-13 All Team Meeting Agenda

- [x] #3691 We'd like a cleaner version of the issue before it gets the "ready for milestone" label
- [x] #3701
- [x] Did you hear back from new people on Slack? (ex. #3571)

[2022-11-13 18:23] ExperimentsInHonesty commented on #2871
@jond34 When you start working on an issue please move it to the in progress column.  We have done that for you here.  Can you also please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA:

[2022-11-13 18:24] JessicaLucindaCheng commented on #3254
@jdingeman If you think we don't need to implement this issue because the info in the developer checklist is clear enough, then please
- [x] Close this issue with a comment on why we are not implementing this issue
- [x] Also, add an appropriate `Ignore` label

Edit: I added a `ready for dev lead` label since this issue requires a dev lead to decide if this is needed.

[2022-11-13 18:30] ExperimentsInHonesty commented on #3608
@jond34 I noticed that you had self assigned an issue on 2022-11-11 and provided availability.   You did not move it to the in progress column, so it didn't get scheduled for our usual (please provide an update comment).

Please review this prework and continue following the steps.

[2022-11-13 18:44] #3410 closed, assigned to kpmunnelly

[2022-11-13 18:48] #3614 closed, assigned to gstemmann

[2022-11-13 18:53] blulady commented on #3175
#### Onboard Angelene Manalo and Ernie Pelay
- [x] Person leading onboarding: please introduce yourself
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at htt

[2022-11-13 18:59] #3609 closed, assigned to Skydodle

[2022-11-13 19:20] Skydodle commented on #3678
Availability: Wednesday, Saturday, Sunday

ETA : Sunday 11/20 by the end of day

[2022-11-13 19:30] blulady commented on #2909
We looked it up [policymaking](https://www.collinsdictionary.com/dictionary/english/policymaking) can be one word. We are going to close this issue.

[2022-11-13 19:34] #2909 closed, assigned to nobody

[2022-11-13 19:35] gstemmann commented on #3604
Progress: I'm working on my medium issue currently
Blockers: I will be starting a new job this week so I may be taking 7 days off or so.
Availability: N/A
ETA: The pre-work checklist can now be closed

[2022-11-13 20:06] justinPemberton commented on #3545
Sorry I was unaware of this issue until now  I will start working on this now

[2022-11-13 21:21] blulady commented on #2607
## 2022-11-14

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column
          - [ ] [Fronten

[2022-11-13 23:07] blulady commented on #3571
He got back to me on slack [Rolando Zarate11:11 AM](https://hackforla.slack.com/archives/D0483FTTFU3/p1667326301092449)
"Sorry I have not been available in the past weeks. Got it all figured out and should be back next week. Thank you for your patience." But I haven't seen nor heard from him...

[2022-11-13 23:19] blulady commented on #3488
I am familiar with the issue. I think having the extra step in the work flows is good for familiarizing the developers with simple docker commands as well as being a simple solution to this problem. @JessicaLucindaCheng is there a particular reason a meeting is necessary?

[2022-11-13 23:33] blulady commented on #3277
@ExperimentsInHonesty All apologies for being unclear. What I was trying to suggest was that we should do research on how to make the drop down menu accessible like Azania did [here](https://github.com/hackforla/website/issues/2173#issuecomment-1279768721)? Or should I just move forward in creating an issue to create the drop down menu for the projects page?

[2022-11-13 23:47] blulady commented on #2027
### Agenda for November 20, 2022
Facilitator:

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. George

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders**
  - [x] Will open the floor for any announc

[2022-11-14 00:25] blulady commented on #1674
I reached out to @ethanstrominger and he told me I was mistaken, that he didn't have any issues with docker. Is there another Ethan who might have had this issue?

[2022-11-14 01:38] gstemmann commented on #2286
Progress: I went over more expectations on the research document with some members of the merge team.
Blockers: No blockers
Availability: I have interviews and I'm stating a new job (unrelated to the interview) so I will not be active/available this week.

[2022-11-14 01:48] #2292 closed, assigned to MattPereira

[2022-11-14 02:06] MattPereira commented on #2292
Ready for research to test with project managers : [Link to Project Profile Card Review & Update](https://github.com/hackforla/website/issues/new?assignees=&labels=P-Feature%3A+Project+Info+and+Page%2C+role%3A+back+end%2FdevOps%2C+role%3A+front+end%2C+Size%3A+Small%2C+size%3A+0.5pt%2C+time+sensitive&template=project-profile-card-review-and-update.yml&title=Update+Project+Profile%3A+%5BProject+Name

[2022-11-14 02:20] Adastros commented on #3685
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Approximately 8 hours

[2022-11-14 02:23] Adastros commented on #3685
All tasks for pre-work checklist completed.

[2022-11-14 02:23] #3685 closed, assigned to Adastros

[2022-11-14 02:24] MattPereira commented on #3334
Availability: 8 - 10 PM
ETA: 11/20/22

[2022-11-14 04:18] jdingeman commented on #2395
ETA: 11/23/2022
Availability: Sporadic availability due to work, mostly afternoons/evenings after 3:30pm

[2022-11-14 14:55] AzaniaBG commented on #1674
That is the same Ethan I spoke with @blulady. I was under the same impression, but perhaps it was just easier for him to use Jekyll?

[2022-11-14 17:05] bishrfaisal commented on #916
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures or links* (if necessary): "Add any pictures or links that will help ill

[2022-11-14 17:06] bishrfaisal commented on #3437
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures or links* (if necessary): "Add any pictures or links that will help ill

[2022-11-14 17:17] bishrfaisal commented on #1734
2022-11-20 All Team Meeting Agenda
- [ ] https://github.com/hackforla/website/issues/3191 We would like to discuss this issue with the team and get their opinion on what the best zoom background is for the HfLA organization.

[2022-11-14 17:26] ExperimentsInHonesty commented on #3191
@sijiapitts please see the example provided at the top of this issue.  The current mockup is not dynamic.  The example has movement in the design so that when the person is speaking it draws your attention to them in a way that makes them seem powerful
![image](https://user-images.githubusercontent.com/37763229/201725483-a501d5ca-fbd9-420d-8d01-e7d14e0dc141.png)

The mockups you provided have our

[2022-11-14 17:27] ExperimentsInHonesty commented on #3191
Also, if you don't have time for this, feel free to move it back to the prioritized backlog, in order, and remove yourself from it.

[2022-11-14 17:33] ExperimentsInHonesty commented on #2435
Hi Dev leads, there is several things that need to be done here.  we have added it to todays dev/pm meetings for clarification.

I met with Joel.  We need to mark this project as on hold and replace the demo link with this url https://hackforla.github.io/writeforall/

[2022-11-14 17:38] bishrfaisal commented on #2662
Hello @vzpeopledesign, since you are actively working on this issue it needs to be in the in-progress column. We have moved it for you 😄  In the future please move it to that column when you self-assign.

[2022-11-14 17:57] bishrfaisal commented on #2576
Bonnie needs to get their current information. The issue that was a dependency was out of date.

[2022-11-14 21:26] JessicaLucindaCheng commented on #3693
If needed for future reference, here is the content of the original request submitted by KarinaLopez19:

### Remove person(s) and info from CoP file?

YES

### If YES on remove person(s) edit the below to provide the information required. If NO, delete the template in the field below:

Ryan Swan

### Add person(s) and info to CoP file?

YES

### If YES on add person(s), edit the below to provide t

[2022-11-14 21:40] JessicaLucindaCheng commented on #3693
@jdingeman I went ahead and edited this issue more because PMs wanted it to be more clear. See this issue as an example:
- #3691

Also, I think Bonnie wanted this passed back to PMs after it was implemented, so I went ahead and added the `ready for milestone` label and removed `ready for product` label for now. Sorry for my confusion.

[2022-11-14 22:06] angelenelm commented on #2860
- Availability: 10AM - 5PM PST Monday thru Friday
- ETA: Should be completed by the end of this week :)

[2022-11-14 22:11] angelenelm commented on #3708
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

About 8 hours including meeting times

[2022-11-14 22:12] JessicaLucindaCheng commented on #3547
@jdingeman Thanks for making the requested changes! However, in the future, please write a comment saying that you addressed what was asked/requested so we know it has been done.

[2022-11-14 22:58] JessicaLucindaCheng commented on #2607
- > JC: Can dev lead(s) get back to Saumil about his demo for his issue: https://github.com/hackforla/website/issues/2400#issuecomment-1309580146? Thanks.

  - Sarah said she would get back to him

  - [ ] create the new channel called hfla-site-onboarding
  - [ ] edit the prework issue to remove them finding people to dm on the merge team and replace with reference to the channel
  - [ ] add a no

[2022-11-14 23:27] ExperimentsInHonesty commented on #3277
@blulady I think we can make an issue for dev to build this function and while they are building it, take into account accessibility of navigating the filters with keyboard.  See these [Resources come from this comment from Z on another issue](https://github.com/hackforla/website/issues/2173#issuecomment-1279768721)

### Resources
- [Keyboard Accessible - sufficient techniques](https://www.w3.org/

[2022-11-14 23:32] ExperimentsInHonesty commented on #3256
@DmitriiTsy Turns out we are trying to make sure that the filters are navigable by keyboard, not sure if the work you are doing on this issue needs to take that into account, but I thought I would drop you the resources Z has gathered

### Resources
- [Keyboard Accessible - sufficient techniques](https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=211#principle2)
- [Using CSS when component rec

[2022-11-14 23:38] ExperimentsInHonesty commented on #1674
I think it's worth making if someone want to, and we are short of issues that are frontend OR backend AND medium.  It's possible no one will ever need it, but that's why it has the milestone it does.

Most problems that this solution would address are already addressed in https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#i-what-if-you-cannot-see-your-changes-locally-within-docker

[2022-11-15 04:31] blulady commented on #2400
@SAUMILDHANKAR So sorry I missed this!! Could you make any of the Website Meetings this week? We'll make room for you whenever you are ready.

[2022-11-15 06:08] patrickohh commented on #2459
i. Availability: 11/15 - 11/18
ii. ETA: 11/16 evening

[2022-11-15 07:54] SAUMILDHANKAR commented on #2400
@blulady Thank you for getting back. Sure, planning to attend the Tuesday dev meeting.

[2022-11-15 08:03] Adastros opened #3720 "Update blank-issue-form.yml file name to blank-issue-form-with-dependency.yml"
### Overview

We want to change the file name of `blank-issue-form.yml` to `blank-issue-form-with-dependency.yml` to clarify the purpose of the file. This will also make locating the file easier for future developers.

### Action Items

- [x] In the `.github/ISSUE_TEMPLATE/` folder, change the file name of `blank-issue-form.yml` to `blank-issue-form-with-dependency.yml`

### Testing Instructions
C

[2022-11-15 23:51] blulady commented on #2010
### Agenda for November 15, 2022

#### Meeting start
- [x] Saumil will be dropping by to give a demo on [CodeQL](https://github.com/hackforla/website/issues/2400)
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting

[2022-11-16 00:20] aricforrest opened #3722 "CLASP for Google Apps Scripts development evaluation / decision"
### Overview
Evaluate if Google's CLASP (Command Line Apps Script Projects) should be utilized for Google Apps Script development.

### Action Items
**Understand what Google Apps Scripts and Google CLASP is:**
- [x] [Google Apps Scripts](https://www.google.com/script/start/) are serverless JavaScript runtime for G Suite.
- [x] [Google CLASP](https://github.com/google/clasp) is a command-line tool

[2022-11-16 01:01] JessicaLucindaCheng commented on #3222
@ExperimentsInHonesty

I couldn't find any open issues or issues to be made related to having a Data Scientist. However, if I remember correctly, the topic of recruiting a data scientist came up when we had a team discussion about getting some stats on how far people get through the matriculation process, including
 - how far they have gotten through the prework,
 - good first issue,
 - good secon

[2022-11-16 03:15] PeterSYoo commented on #3437
Blockers: I'll be joining a hackathon from Nov 16 - Nov 21, but I'll be available again from Nov 21st!

[2022-11-16 03:55] michaelmagen commented on #2929
Blocker: Having trouble with fixing the spacing between the image and text after applying the changes.

[2022-11-16 04:44] MattPereira opened #3723 "Ignore"
Note: The cards that use `toolkit-default-card-image.png` will look different than on the live site depending on what view you are using to view it using developer tools. On the live site, the image gets cut off as you view it in smaller and smaller views using developer tools. such as mobile view. However, since we are switching to using `toolkit-default-card-image.png`, the image is the same but

[2022-11-16 05:04] blulady commented on #2689
#### Onboard Matt Pireira &  Philip Sanchez to Merge Team
- [ ] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)

[2022-11-16 05:26] MattPereira commented on #3723
My bad on this one. I accidentally clicked the "convert to issue" button while trying to collaboratively help problem solve during tonight's meeting.

[2022-11-16 05:26] #3723 closed, assigned to nobody

[2022-11-16 05:57] blulady opened #3724 "Project information updates: Website"
### Add person(s) and info to CoP file?

YES

### If YES on add person(s), edit the below to provide the information required. If NO, delete the template in the field below:

Name: Philip Sanchez
Title: Merge Team
GitHub Handle: plang-psm
Slack Member ID: U03UG3VCRK6

Name: Matt Pereira
Title: Merge Team
GitHub Handle: MattPereira
Slack Member ID: U045XKKB5DH

#### Resources:
folder where files ar

[2022-11-16 17:45] ExperimentsInHonesty commented on #3661
Design approved.

[2022-11-16 17:45] #3661 closed, assigned to sijiapitts

[2022-11-16 17:50] ExperimentsInHonesty commented on #950
- I am going to stick this issue in the icebox with dependency being the fixing the events page vrms connection #3701

When this issue comes out of the icebox, I will check to see if changing the data at VRMS fixes the link automatically.
- The change will need to be made at vrms.io
- then checked the next day after data updates

If that does not fix it, this issue should be turned into an issue f

[2022-11-16 17:52] ExperimentsInHonesty commented on #3661
This is ready to be made into a development issue to change the current donate Mobile and desktop layout.  Dev can extrapolate from the mobile version what the changes the desktop should be.

[2022-11-16 21:27] #3678 closed, assigned to Skydodle

[2022-11-16 21:29] vzpeopledesign commented on #2662
Today: Potential list of long term volunteers gathered and outreach email ready for clearance from Vaisali
Next: Send outreach emails > Interview > Analyze > Persona
Goal is to send outreach emails between 11/17/22 - 11/22/22

[2022-11-16 23:03] wendybarrios commented on #2873
Availability for this week: Wednesday, Thursday, Saturday
My estimated ETA for completing this issue: Sunday, November 20

[2022-11-16 23:05] wendybarrios commented on #3688
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? 5 hours

[2022-11-16 23:41] #3550 closed, assigned to ExperimentsInHonesty

[2022-11-16 23:41] #3644 closed, assigned to nobody

[2022-11-16 23:42] #3549 closed, assigned to nobody

[2022-11-17 00:30] #2860 closed, assigned to angelenelm

[2022-11-17 00:37] sijiapitts commented on #3191
Unassigning myself from this issue. I don't think I have the skillset to make animated/video zoom backgrounds.

[2022-11-17 18:36] blulady commented on #3290
Talking to Devs this weekend.

[2022-11-17 19:17] blulady commented on #3598
Hey Suman we chatted about this yesterday but I forgot to ask you to link this issue on that issue when you create it.

[2022-11-17 19:37] esantiano commented on #2112
ETA: 11/18/22
Availability: 3 Hours

[2022-11-17 19:37] angelenelm commented on #3211
**Availability**: 10AM - 5PM PST Mon-Fri
**ETA**: End of day November 17, 2022

[2022-11-17 20:17] #2873 closed, assigned to wendybarrios

[2022-11-18 01:04] blulady commented on #3488
Hey, I know that there was a concern about releasing this issue having to do with the location of the image. Then I misplaced the image's broken link. Can you please comment with the URL of the broken link?

[2022-11-18 02:32] Suman2795 commented on #3598
I will link the issue. Thanks Sarah!

[2022-11-18 02:57] blulady commented on #2607
## 2022-11-21 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-11-18 20:39] t-will-gillis commented on #3613
1. Progress: Still working on my medium issue, then will continue to the large issue
2.  Blockers: medium issue is taking a lot of time
3.  Availability: currently, 11/18-11/20 available to progress on issues
4.  ETA: dependent on finishing the medium and large issues
5. Pictures: n/a

[2022-11-18 20:50] allthatyazz opened #3731 "Update Project Profile: Design Systems"
### Overview
As a developer, we must ensure our project's details are up to date on the HackforLA website. We need to update the [Design Systems](https://www.hackforla.org/projects/design-systems) "Project Overview" links and "Current Project Team".

### Action Items
- [x] Observe the existing syntax of the [front matter block](https://jekyllrb.com/docs/front-matter/) inside of [_projects/design-s

[2022-11-18 22:26] #3211 closed, assigned to angelenelm

[2022-11-18 22:45] blulady commented on #1674
@ExperimentsInHonesty
Ethan Strominger
  [1:50 PM](https://hackforla.slack.com/archives/C04C1AV1M33/p1668808203138679)
Aziana - See thread below, followed by a summary
Hey Ethan, do you think that your experience would allow you to complete this [issue](https://github.com/hackforla/website/issues/1674)?
Ethan Strominger  [7:12 AM]
Yes.  However, I had volunteered to document Jekyll earlier and Azi

[2022-11-19 06:31] Adastros commented on #3587
Availability: 2 - 8 PM 20NOV22, 9 - 11PM 21NOV22, 22NOV22
ETA: 11PM 22NOV22

[2022-11-19 18:08] ethanstrominger commented on #1674
Plan:

- Create a separate markdown on deploying in jekyll.  Indicate in the document that if you run into issues, support may be limited and you may be asked to try Docker.

- Link to this file from contributing.md with same caveat as above.

[2022-11-19 18:12] kpmunnelly commented on #2706
Progress: Have scheduled and conducted 1 interview. Have not heard back from Cynthia or Nathan. I have added more interview time slots through Dec 3.
Blockers: n/a
Availability: 3 hours split between W and F

[2022-11-19 19:01] ExperimentsInHonesty commented on #2576
Am closing issue.  New issue will get made

[2022-11-19 19:01] #2576 closed, assigned to nobody

[2022-11-19 23:43] bishrfaisal opened #3732 "GitHub Actions: Automatically Move Issues with Completed Dependencies from Ice Box"
### Overview

As a product manager, I want to ensure that our kanban board is organized for all teams to increase productivity. In order to achieve that, we need to create a GitHub action automation that automatically moves issues with completed dependencies from the Ice Box to the New Issue Approval column.

### Action Items
- [ ] Refer to the Resources section to understand the GitHub actions ar

[2022-11-20 05:26] angelenelm commented on #3691
**Availability**: 9AM - 3PM PST M-F
**ETA**: End of day November, 21 or 22, 2022

[2022-11-20 07:44] ldaws003 commented on #2675
Progress: Downloaded the files from the drive and will be going through Google App Script docs before trying to find the bug
Blockers: N/A
Availability: Monday 4:00pm to 7:00pm, Wednesday 2:00pm to 5:00pm, Friday: 5:00pm to 8:00pm
ETA: Saturday

[2022-11-20 15:34] JessicaLucindaCheng commented on #3130
### To Dos
- [x] Kristine Eudey follow up with her on the images that were modified and figure out who modified each image.
  - No need to contact Kristine.
    - I found Kristine was assigned to these issues as the designer: #2057 and #2328
    - Also, Bonnie confirmed it was Kristine.
- [x] Add an `altered-by` field with the designer's name
- [ ] Write a medium issue to have the "Altered by:" fi

[2022-11-20 15:45] JessicaLucindaCheng commented on #3488
We discussed this at the [2022-11-14 Dev/PM meeting](https://github.com/hackforla/website/issues/2607#issuecomment-1312825527). Here are the notes copied from the meeting:
- [ ] Setup an issue for meeting with Eric
  - [ ] Sarah will link to issue
  - [x] Bonnie will add her links
  - [ ] Whoever is going to lead the meeting read through these issues **before** the meeting:
    - [ ] https://githu

[2022-11-20 17:17] DmitriiTsy commented on #3256
Thank you for these resources. It's amazing

 P.S. I'm on vacation till 11/28/2022

[2022-11-20 18:00] 7kram commented on #3109
It was determined that this is not feasible because of "size: missing"

- [ ] Research if it would be possible for Github automation to only detect the keywords of the size, such as:
          - "Large"
          - "Medium"
          - "Small"
          - "Good second issue"
          - "good first issue"
          - "Third Issue"
        We would like this to be irrespective of capitalization and

[2022-11-20 18:31] blulady opened #3734 "Issue Demo"
### Dependency
- #2027

### Overview
We are fixing a thing because it being broken interferes with these other things.

### Action Items
- [ ] thing 1
- [ ] thing 2
- [ ] thing 3

### Resources/Instructions
REPLACE THIS TEXT - Provide links to resources or instructions that may help with this issue. This can include files to be worked on, external sites with solutions, documentation, etc.

[2022-11-20 18:34] #3734 closed, assigned to nobody

[2022-11-20 18:41] kpmunnelly commented on #2706
Progress: Bonnie messaged Cynthia on Slack on 11/20 and emailed Nathan on 11/20 to followup on the recruitment email I sent.
Blockers: Need one more name and contact - Bonnie will look for the name/contact of one other possible participant: Sr Developer who was in Civic Tech Index, knows Docker and helped Sakari.
Availability: 3 hours split between M and W

[2022-11-20 18:44] #3434 closed, assigned to JolleenI

[2022-11-20 18:50] ExperimentsInHonesty commented on #3627
- see this answer to what to do about accessibility on the wins icons https://github.com/hackforla/website/issues/2569#issuecomment-1276457318

[2022-11-20 19:26] blulady commented on #3175
#### Onboard Satenik
- [x] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com/hack

[2022-11-20 19:40] Satenik-Ba commented on #2673
Availability: 11/21/22
ETA: 1hr

[2022-11-21 15:34] ExperimentsInHonesty opened #3735 "Improve Documentation for wins form in wiki"
### Overview
We need to document how we do the wins page `on form submit`  trigger so that we can do the same on other forms

### Details
I was looking for how we did formatting of the spreadsheet from a normal form response to a review layout for the wins page spreadsheet in the wiki, but it only references it as "on form submit" trigger

### Action Items
- [ ] Identify how this is done
- [ ] Doc

[2022-11-21 20:32] #3708 closed, assigned to angelenelm

[2022-11-21 21:43] blulady commented on #3735
Hey if I am understanding the issue correctly, the [google apps script](https://script.google.com/home/projects/18uQ6VT7PGZ5skTLD-KDACf3DpMCMPi0WCcl2hBKhTFhi8F0tJKuq0Z9A/edit) attached to the [Wins-form(Responces)](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917) is in charge of updating the Wins-form(Resoponces) with the human readable forma

[2022-11-21 23:18] #3212 closed, assigned to SZwerling

[2022-11-22 01:25] blulady commented on #2027
### Agenda for November 27, 2022
Facilitator: Justin

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. - Phillip

**Let's celebrate our contributions/wins since last team meeting**
-

**Announcements & Reminders**
  - [x] Will open the floor for a

[2022-11-22 01:57] JessicaLucindaCheng opened #3738 "Citizen Engagement (desktop): Update padding/margins and SDG image size"
### Overview
We want to update the size of the Sustainable Development Goal (SDG) image and adjust the padding and margins on the Citizen Engagement page for the desktop view so that
- the website reflects the updated design
- and is more accessible.

### Details
Below is a screenshot of the updated Citizen Engagement page desktop design but please view and inspect the design in Figma to see speci

[2022-11-22 01:58] JessicaLucindaCheng commented on #3117
- This is the dev issue to implement the new design: #3738

[2022-11-22 03:45] blulady commented on #3735
@ExperimentsInHonesty This is a really great idea, I would suggest that we make an issue template for issues that change the function of the website by adding a section called `###Update The Wiki `where we ask developers who have made changes to the way the website functions to update the changes in the wiki (and if that functionality doesn't have a wiki to create one).

[2022-11-22 04:19] JessicaLucindaCheng commented on #3738
Availability for writing issue: 6 hours
ETA to finish writing issue: Mon, Dec 1, 2022

[2022-11-22 04:22] tunglinn commented on #2634
Once again, the GHA is activating before 2 weeks. Although this makes me wonder if it was designed to do so, because the action only runs once a week, so the comment is (usually) either early or late.
Progress: I have connected the testing method to my own repo.
Blockers: Need access to a read token to test on website repo.
Availability: 5-6 hours across the week
ETA: Hopefully before next Monday

[2022-11-22 18:27] ychang49265 commented on #3711
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

About 6 hours including attending first meeting

[2022-11-22 18:43] ychang49265 commented on #3711
Provide Update
1. Progress - Prechecklist close to complete
2. Blockers - Need to be added to google drive & calendar
3. Availability - flexible
4. ETA - latest end of the week

[2022-11-22 20:48] MattPereira commented on #2010
### Agenda for November 22, 2022

#### Meeting start
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. - George Stemmann

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popco

[2022-11-23 01:15] Unity7 commented on #2626
--For GitHub and Slack the code is using an SVG and we aren't able to associate alt text attribute with SVG since it uses a title tag instead. Nothing is to be done for this one.

--For Hack for Lack Getting started guide the code is using an SVG and we aren't able to associate alt text attribute with SVG since it uses a title tag instead. Nothing is to be done for this one.

--it sounds like this

[2022-11-23 01:18] Unity7 commented on #3510
Progress: Project is complete
Blockers: None
Availability: 0
ETA: Needs to be closed

[2022-11-23 01:18] #3510 closed, assigned to Unity7

[2022-11-23 03:03] jdingeman commented on #2673
Hi @Satenik-Ba, please leave the issue that you work on open until the associated pull request has been merged. Merging the pull request will automatically close the issue.

[2022-11-23 03:41] MattPereira opened #3742 "Testing "Ready for Milestone" label bug (Apply label during creation)"
### Overview
Testing if the GitHub action bot removes the "Ready for Milestone" label when applied during issue creation

### Action Items
- [x] watch to see if bot removes the label

### Resources/Instructions
- #3334

[2022-11-23 03:42] blulady commented on #2607
## 2022-11-28 Meeting Agenda

### Prework to prep for meeting
- [x] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-11-23 03:49] #3742 closed, assigned to nobody

[2022-11-23 04:01] MattPereira commented on #3742
- This was a test for #3334 to see if the github actions bot will remove the Ready for Milestone label if it is added before issue creation

[2022-11-24 03:18] Satenik-Ba commented on #3213
Availability: 11/23/22
ETA: 1hr

[2022-11-24 18:54] #2673 closed, assigned to Satenik-Ba

[2022-11-24 19:23] #3691 closed, assigned to angelenelm

[2022-11-24 21:00] blulady commented on #3735
Hey the `ready for dev lead` was left on this issue but I haven't received confirmation that I am on the right track for this issue.
I am putting `ready for product`/`milestone` on this to get a response.

[2022-11-24 21:39] blulady commented on #3277
Drafting up this issue, saw that issue #3626 is also `ready for dev lead` per the comment quoated above do we want to make this issue a dependency for #3626?
- #3626

[2022-11-25 00:02] blulady opened #3744 "Fix the dropdown menu design for projects page"
### Dependency
- #3256

### Overview
During recent audits, the team realized that the drop-down menu design is not uniform. In an attempt to unify all drop-down menus the design team has redesigned the drop-down menu. This issue is to implement the new uniform design specifically on the projects page.

### Action Items
- [x] Update the drop-down menu on the projects page to reflect the design in F

[2022-11-25 00:06] blulady commented on #3277
So I went to make the new issue and went ahead and looked at issue
- #3256
And realized that the issue was no longer in the icebox and is currently being worked on. I went to take a look at that issue and that issue has the Developer creating a file called _dropdown_filters.scss in the elements folder. It looks like this is where I should have the developer working on this issue put the css they w

[2022-11-25 00:07] blulady commented on #3277
So I went to make the new issue and went ahead and looked at issue
- #3256
And realized that the issue was no longer in the icebox and is currently being worked on. I went to take a look at that issue and that issue has the Developer creating a file called _dropdown_filters.scss in the elements folder. It looks like this is where I should have the developer working on this issue put the css they w

[2022-11-25 00:24] blulady commented on #3626
- So if I am reading this correctly, you want this issue completed before issue #3744, so the instructions to create the CSS for the drop-down menu belongs in the issue that will correspond to this issue and not in #3744

[2022-11-25 21:54] gstemmann commented on #2286
Progress: Still progressing through the research and writing up the document with a new format
Blockers: Moving and started new job along with family time through the holidays
Availability: Friday Sat 11a - 3pm
ETA: Dec 3

[2022-11-25 22:19] #3213 closed, assigned to Satenik-Ba

[2022-11-26 06:36] SAUMILDHANKAR commented on #2400
Progress: Did the demo for this issue on 11/15. Below are the notes from the team discussion:
- The preferred frequency for running this workflow should be once a week.
- Need more research on if and when this workflow might exceed the billing quota.
- Should include screenshots of how to add code scanning for languages other than JavaScript to the workflow
- Seek more info on how to add custom qu

[2022-11-26 18:43] #2929 closed, assigned to michaelmagen

[2022-11-26 18:48] ExperimentsInHonesty commented on #3571
@rolzar I am closing this issue.  We hope to see you back next year.

[2022-11-26 18:48] #3571 closed, assigned to rolzar

[2022-11-26 18:54] ExperimentsInHonesty commented on #3277
- @blulady thanks for the info
-  I added a dependency label to #3744 and put it in the icebox

[2022-11-26 19:02] ExperimentsInHonesty commented on #3626
- Both #3744 and the new issue you will create from here will have the dependency #3256

- Next step, create the issue and add the dependency

[code]

[2022-11-26 19:03] ExperimentsInHonesty commented on #3626
@blulady

- Both #3744 and the new issue you will create from here will have the dependency #3256

- Next step, create the issue and add the dependency

[code]

[2022-11-26 19:20] ExperimentsInHonesty commented on #3735
@blulady you are on the right track.  If we could document this more fully in the wiki that would be good. And the idea of adding update the wiki to all relevant issues is great.

[2022-11-26 19:24] ExperimentsInHonesty commented on #3011
The only part of this issue that is missing, is make sure to setup the right wiki and folder structure for this research. please write in steps of what they should do.

[2022-11-26 19:24] vzpeopledesign commented on #2662
Today: Finished sending out all interview invites via email, slack, and LinkedIn. All names contacted are colored grey in the Longterm Volunteer Interview List Google Sheet doc to mark those I have reached out to vs those I have not.

I have made a Calendly link so they can book time with me and I extended it out 2 months in case no wants to interview during the holiday season

Next steps: wait fo

[2022-11-26 19:31] ExperimentsInHonesty commented on #3651
@patrickohh Why did this get moved to the done column.  If it was a mistake, no problem, what status does it have.  If its been agreed that this issue will not be worked on, then please explain.

[2022-11-26 19:35] patrickohh commented on #3651
@ExperimentsInHonesty It might have been my mistake. I assumed since the pull request was committed and merged that it was done. Sorry for the confusion and if it was the wrong tag to move this issue to!

[2022-11-26 19:53] ExperimentsInHonesty commented on #3448
@nehasyed97 You closed the issue but there are no details of what the final determination was

[2022-11-26 20:17] ExperimentsInHonesty commented on #2600
Hi All,

It took me about 5 min to find the gradient image in our Figma.  So it occurs to me that the dev team might need a refresher and possibly some documentation about how to find things if they get moved.

In the meantime, here is the file's new location https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24996%3A285234&t=VH2yEoPVb8SMTAOs-0

Should we make a new issu

[2022-11-26 21:00] ExperimentsInHonesty commented on #2172
There is a [comment from Eric](https://github.com/hackforla/website/issues/2172#issuecomment-1224382184).  Then some additional commits.  Did Eric take care of it in the PR that closed this issue? If yes, please note that in a comment, and move this to the done column.  If not, please create a new issue

[2022-11-26 23:38] Aveline-art opened #3746 "Remove duplicate `alt` field in youthjusticenav.md"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-11-27 01:08] gstemmann commented on #2286
# Write up:
Summary:
Navigation Submenus can be great with mouse and keyboard. But with touchscreens and for accessibility purposes, it's better to have a single menu with all available options. So when you press the top-level ["Shop"](https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/82a634a6-cfbc-4e9b-a6ad-a79476025c7e/1-menu-buttons-large-opt.png) link in our exam

[2022-11-27 02:13] MattPereira commented on #3334
#### Progress :
- Finished the first two action items
- Tested if the `Ready for Milestone` label is removed by GH bot if added during issue creation #3742
- Tested if the `Ready for Milestone` label is removed by GH bot if added after issue creation #3747
#### Blockers :
- I do not understand why the github action bot removes the `Ready for Milestone` label if applied during issue creation. I sus

[2022-11-27 03:41] MattPereira opened #3747 "Testing "Ready for Milestone" label bug (add label after creation)"
### Overview
- Replicating the creation of #2676 where the github-actions bot removed the `Ready for Milestone` label

### Action Items
- [x] create this issue with same labels as #2676
- [x] add issue to the Project Board
- [x] add the `Ready for Milestone` label
- [ ] watch to see if github-actions bot removes it

### Resources/Instructions
- Trying to solve #3334

[2022-11-27 03:50] ExperimentsInHonesty commented on #2585
- This has been followed up with this new issue https://github.com/hackforla/website/issues/3035

[2022-11-27 03:54] ExperimentsInHonesty commented on #2699
@JessicaLucindaCheng Did you mean for this issue to be closed?  If yes, just leave a note on it, briefly explaining why.

[2022-11-27 04:02] ExperimentsInHonesty commented on #2901
It says this issue is complete, but I added a true to one of the responses over a week ago, and it's still not showing up.  There are some items that are unchecked for the merge team.  Please review.

[2022-11-27 04:04] ExperimentsInHonesty commented on #2776
product needs to review

[2022-11-27 04:11] ExperimentsInHonesty commented on #2392
- We originally made one include and used it in two places in this issue
https://github.com/hackforla/website/issues/2451

- Now we are going to change things up a bit on the new redesign.  Please add this to a meeting agenda for product and dev leads to discuss https://github.com/hackforla/website/issues/3661

[2022-11-27 04:24] ExperimentsInHonesty commented on #2650
The following issues got made
- https://github.com/hackforla/website/issues/3334
- https://github.com/hackforla/website/issues/3341

[2022-11-27 04:25] ExperimentsInHonesty commented on #3341
This issue had not been added to the project board.  It got added on Sept 11, but no additional action since then.  Please review.

Extra details
- This issue was created from: https://github.com/hackforla/website/issues/2650

[2022-11-27 04:33] ExperimentsInHonesty commented on #2485
Hi Devs, and specifically @jdingeman After we had a conversation at one of our meeting about how to do it, a different approach was taken than is mentioned above.  I want to make sure that an explanation of that method is documented in the wiki.  If it is not, please make an issue for that to be done.

[2022-11-27 04:39] ExperimentsInHonesty commented on #2299
Sample new issue from the form https://github.com/hackforla/website/issues/new?assignees=&labels=&template=gha-issue-template.yml&title=Sample+form+for+GitHub+actions+

[2022-11-27 04:41] ExperimentsInHonesty commented on #2298
Here is a link to open a new feasibility issue using the template created https://github.com/hackforla/website/issues/new?assignees=&labels=&template=feasibility-issue-template.yml&title=Standard+Feasibility+Issue+Template+

[2022-11-27 04:43] ExperimentsInHonesty commented on #3166
Changed the wording to

[2022-11-27 04:48] ExperimentsInHonesty commented on #2898
~I just looked at the PR and it looks like one file was deleted and another had all the logic removed from a function.  Is there a reason why we didn't delete the function?  Not advocating that, just asking for a second look to make sure we cleaned up what we were intending to, and that~ This change  needs to be properly documented in the wiki and in this issue.  See my question from the 12th.

[2022-11-27 04:59] ExperimentsInHonesty commented on #2155
- There was a comment from Saumil in the PR https://github.com/hackforla/website/pull/2962#pullrequestreview-989699924

Did this happen in the PR or was there a new issue made for it?

Please add the answer and link any relevant issues.

[2022-11-27 05:22] ExperimentsInHonesty commented on #2955
I don't think there is a decision record for this. I am adding a ready for product label on it and sticking it in the new issue approval column so that we can write something up about the process.

[2022-11-27 05:31] ExperimentsInHonesty commented on #3034
Moving back to done and archiving.  It was in the new issue approval column because an issue had not been made, you just didn't see it until the day you mentioned it.

[2022-11-27 05:35] ExperimentsInHonesty commented on #2190
I am moving this back to new issue approval column to indicate that the new design lead, or product team will have to make an issue for the changes needed to expand the design system.

[2022-11-27 05:40] ExperimentsInHonesty commented on #2958
I want to make sure before I archive this that the requirements have been translated to a development issue on the feature branch

[2022-11-27 05:43] #3153 closed, assigned to nobody

[2022-11-27 05:51] ExperimentsInHonesty commented on #3734
@blulady I noticed you closed this.  Can we put an ignore label on this? I remember creating this in a meeting, but am not sure why.

[2022-11-27 06:01] ExperimentsInHonesty commented on #3651
Hi @patrickohh according to your PR #3696 , in the contributing file you made the following changes

### Before:
For new volunteers, check this [wiki on completing pull request reviews](https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests) and our [wiki on creating issues](https://github.com/hackforla/website/wiki/How-to-create-issues) for more ways to contribute to the project.

[2022-11-27 06:09] ExperimentsInHonesty commented on #2728
I don't know if an issue got made for scraping the multiple repos, but it has not yet been mentioned here.  After it's found or remade it should be mentioned here and then this issue moved to QA

[2022-11-27 06:34] ExperimentsInHonesty commented on #1674
@ethanstrominger If you are still working on this, it should be in the in progress column.  If you are working on another issue and plan to pick this one up later, please let us know if it has any dependencies (like a different issue HAS to be completed before this can be worked on).

[2022-11-27 06:34] patrickohh commented on #3651
Yes that is correct! @ExperimentsInHonesty

[2022-11-27 06:37] ExperimentsInHonesty commented on #3637
Hi Peter,

Hope you had a good thanksgiving and hackathon!  The issue you were working on is still in the prioritized backlog (at the time of this writing).  Here is a link to the board sorted by Medium Front End issues: https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+medium%22+label%3A%22role%3A+front+end%22

Currently, there are only 2 available.

[2022-11-27 07:00] ExperimentsInHonesty commented on #2459
Once the pr has been accepted, this issue should go back into the new issue approval (closed) with a `ready for product` label so that we can audit the outstanding items and (changes to an image and partner titles) and make a new issue.

[2022-11-27 07:03] #3406 closed, assigned to braguda

[2022-11-27 07:06] ExperimentsInHonesty commented on #3684
@lytravis checking in on you.  It looks like you have not done a good first issue yet.  How are things going?

[2022-11-27 07:11] ExperimentsInHonesty commented on #3690
Hi @SZwerling, I hope you had a great holiday.  I hope you will take on a small issue.  Here is the link to see the small and front end issues on the board https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+front+end%22+label%3A%22size%3A+small%22  Choose something from the Prioritized Backlog.

[2022-11-27 07:15] ExperimentsInHonesty commented on #3607
Hi @erniep278 I noticed you never self-assigned this issue.  I have assigned you.  Please give us an update about how your coming along with the action items.

[2022-11-27 07:16] ExperimentsInHonesty commented on #3607
Also, please add the role front end or back end or both

[2022-11-27 07:19] ExperimentsInHonesty commented on #3683
@vmaineng I see you had not self-assigned yourself to this issue yet, so I assigned you.  Please update the role label to front end, back end, or both.

[2022-11-27 07:24] ExperimentsInHonesty commented on #3688
Hi @wendybarrios I hope you had a great holiday.  It looks like you are ready for a good second issue.  Here is a link to the project board, filtered by good second issues and backend so you can take the one from the top of the prioritized backlog.
https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+back+end%2Fdevops%22+label%3A%22size%3A+good+second+issue%22

[2022-11-27 07:25] ExperimentsInHonesty commented on #3712
Hi @JijiTheCreator I saw that you had not self-assigned this issue yet.  I have assigned you.  Please add the appropriate role label: front end, back end or both.

[2022-11-27 07:35] ExperimentsInHonesty commented on #3711
@ychang49265
I see that the holiday has us a little behind.  I have added you to the Google Drive and sent you the calendar invites.

[2022-11-27 07:36] ExperimentsInHonesty commented on #3709
Hi @annierm18 I see you had not yet self-assigned this issue.  I have assigned you now.  Please pick the right role labels: front end, back end or both.

[2022-11-27 07:38] ExperimentsInHonesty commented on #3706
Hi @essbee808 I see that you have not yet assigned yourself to this issue.  I have assigned you.  Please pick the appropriate role labels: front end, back end or both.

[2022-11-27 07:56] ExperimentsInHonesty commented on #3731
I have added the ready for dev lead label.  This is our first test of the new form.  It looks like they are making very limited changes.  How do we proceed?

[2022-11-27 08:00] ExperimentsInHonesty commented on #3720
@Adastros is this a draft or are you ready for it be looked at by the dev leads?

If it's a draft, please add the `draft` label
if it's ready for review by the dev leads add `ready for dev lead`

[2022-11-27 08:07] ExperimentsInHonesty commented on #3694
I approve the proposed changes, but the issue needs to be formatted for the developers

[2022-11-27 08:12] ExperimentsInHonesty commented on #3634
I cant remember what I was supposed to call the wiki.

[2022-11-27 08:26] ExperimentsInHonesty commented on #2385
I moved this issue from the icebox to the new issue approval column because the dependency has been satisfied.

[2022-11-27 08:41] ExperimentsInHonesty commented on #3118
moved this from the icebox to new issue approval because the dependency is satisfied.

[2022-11-27 08:43] #2459 closed, assigned to patrickohh

[2022-11-27 09:04] ExperimentsInHonesty commented on #3592
While reviewing this page, I see that the project mini card doesn't work for long titles
https://www.hackforla.org/program-areas.html
![image](https://user-images.githubusercontent.com/37763229/204127212-63daac38-ad5d-4bb8-8415-81c57357f35d.png)

[2022-11-27 09:20] ExperimentsInHonesty commented on #3208
This issue is QAed and is fine.

While I was QAing this issue, I realized that there is also alt text in the markdown project files for the image we use on the homepage and on the mini card.
1. We have to make an epic to clean those up so that they are WCAG compliant in case we do need to use them
2. Some of the images contain text that is not conveyed in the text below the images on the home & pr

[2022-11-27 09:22] ExperimentsInHonesty commented on #3678
Is this documented in the wiki?

[2022-11-27 09:29] ExperimentsInHonesty commented on #2904
The form created can be see here: https://github.com/hackforla/website/issues/new?assignees=&labels=&template=blank-issue-form.yml

[2022-11-27 09:33] ExperimentsInHonesty commented on #2904
If we have two versions of the form.  One with Dependency and one without, why does it ask you on the dependency one if you have a dependency?

![image](https://user-images.githubusercontent.com/37763229/204128346-d3b55845-ea2a-43b6-ad48-a1df0c33afe3.png)

[with dependency](https://github.com/hackforla/website/issues/new?assignees=&labels=&template=blank-issue-form.yml)
[without dependency](https:

[2022-11-27 09:51] ExperimentsInHonesty commented on #3604
@Georgema20 please finish customizing this issue with your name in the title and the appropriate role label.  Then you can reclose it.

[2022-11-27 15:31] kpmunnelly commented on #2706
Progress: Heard back from Nathan on 11/24. He is on vacation through mid-December. Have asked if we can connect in January when I return from traveling.
Blockers: Have not heard back from Cynthia Kiser or Philip Price Fry. Need one more name and contact - Bonnie will look for the name/contact of one other possible participant: Sr Developer who was in Civic Tech Index, knows Docker and helped Sakar

[2022-11-27 15:36] JessicaLucindaCheng commented on #2699
@ExperimentsInHonesty This was closed on Aug 29 with this comment: https://github.com/hackforla/website/issues/2699#issuecomment-1230814921
Here is the content of the comment:

The recent comments in this issue between Sarah and me came about because Sarah asked about a workflow for checking the board and I referred her to my checklist from this issue. However, this issue isn't being used as an ag

[2022-11-27 15:41] JessicaLucindaCheng commented on #2746
Progress: My Internet is finally fixed. 75% done. Still needs to be done:
- [ ] Remove anything that is repeated in the Getting Started section that is already in the pre-work.
- [ ] Move resources to a different Wiki page and link back to Web Developer page.
- [ ] See if anything in About the Website Development Team is duplicated elsewhere and can be removed, not needed, or should be placed some

[2022-11-27 15:46] JessicaLucindaCheng commented on #2676
- Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
- Blockers: None. I fixed my Internet.
- Availability: Not sure about this week
- ETA: November 30, 2022

[2022-11-27 16:31] JijiTheCreator commented on #3712
Hi @ExperimentsInHonesty I believe I have not been added to the website-write and website teams, could you please add me if possible, thank you.

[2022-11-27 17:39] #3747 closed, assigned to nobody

[2022-11-27 17:44] lytravis commented on #3684
Hey Bonnie,
 My apologies, I've been out on holiday visiting family.  I plan to work on it on Monday.  Sorry for the inconvenience.

[2022-11-27 17:44] lytravis commented on #3684
Hey Bonnie,
My apologies, I've been out on holiday visiting family. I plan to work on it on Monday. Sorry for the inconvenience.

[2022-11-27 18:32] ldaws003 commented on #2675
Progress: Read through documentation, will be searching for the bug solution
Blockers: N/A
Availability: Friday 8:00am-5:00pm, Saturday (all day), Sunday (all day)
ETA: Sunday

[2022-11-27 18:33] ExperimentsInHonesty commented on #2464
Not having heard from Kathryn I am moving this back to the new issue approval column

[2022-11-27 19:00] ExperimentsInHonesty opened #3748 "ER: Wins token needs monthly update"
### Emergent Requirement - Problem
On The API token for the elizabethhonest needs to be updated every month and it doesn't look like it's happening automatically or being managed manually all that well.  At the time of discovery it had not been updated for 4 months

### Issue you discovered this emergent requirement in
- #3417

### Date discovered
2022-10-21

### Did you have to do something tempo

[2022-11-27 19:09] ExperimentsInHonesty commented on #3734
We used this when I was demoing how to write an issue and can be ignored

[2022-11-27 19:20] ExperimentsInHonesty commented on #3651
I will create an ER for this to either remove or remake the slide deck.  We will need to talk to @AzaniaBG about the original deck.

[2022-11-27 19:23] annierm18 commented on #3709
@ExperimentsInHonesty Thank you! Am I already a part of the website-write team? I believe I still need to be added to the Google Drive, which would involve me briefly joining another onboarding meeting. I would like to choose both frontend and backend, but cannot edit the labels yet.

[2022-11-27 19:25] PeterSYoo commented on #3637
Hi Bonnie,

I decided to unassign myself from my issue and take a step back from Hack
for LA currently. I moved the issue back to prioritized backlog, I think I
did it correctly if not I'm sorry. I realized I have way too much on my
plate in my life at the moment. With taking courses, interview prepping,
creating portfolio pieces, doing hackathons, and working on previously
committed projects with

[2022-11-27 19:26] JessicaLucindaCheng commented on #3328
I need to add an Action Item to add a wiki page documenting the program-area.html layout

[2022-11-27 19:27] ExperimentsInHonesty commented on #2898
Please make a new issue to document this change appropriately in the [wiki, GHAs](https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions), which should include marking a GHA as depreciated with details why.

[2022-11-27 19:36] ExperimentsInHonesty commented on #2600
We agreed to reopen the issue.  The dev leads will need to
1. remove old references to the figma file
2. add the the new link in the [hfla figma, design system page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=24996%3A285234&t=VH2yEoPVb8SMTAOs-0) to resources
3. keep Justin's comment about how to export
4. hide all the other irrelevant comments

[2022-11-27 19:41] ExperimentsInHonesty commented on #3634
call the repository website-wiki

[2022-11-27 19:47] ExperimentsInHonesty commented on #3592
Product to make a new issue to deal with the long titles.
We have to look at why the titles are long, can they be shortended and is there a limit

[2022-11-27 19:52] arpitapandya commented on #2172
- Yes, #3483 closes this issue and is taken care of by Eric. The additional commits are because of the stale branch and later resolving merge conflicts. There is also another issue #3489 created (came up and discussed), and PR #3581  merged for that separately for removing the duplicate CSS selectors.

[2022-11-27 19:53] ExperimentsInHonesty commented on #3208
This whole thing was resolved by changing the alt text for vrms to "Volunteer Relationship Management (VRMS)" in the spreadsheet related to this issue.
https://github.com/hackforla/website/issues/2613

There are no other outstanding items.

[2022-11-27 20:04] ExperimentsInHonesty commented on #3678
Document what happened in our wiki page for the Toolkit and then when the design gets relaunched we can decide how and where we are brining the buttons back.

[2022-11-27 20:09] ExperimentsInHonesty commented on #2904
## Change the following section items

### "Is there a dependency?"
1. Please remove the YES/NO question
### "If Yes, please explain"
1. Change the title of text area from `If Yes, please explain` to `Add Dependencies (ideally by issue #)`
1. Inside the text area add the default text
`- [ ]`

[2022-11-27 20:21] ExperimentsInHonesty commented on #3604
YOU NEED TO ADD THE ROLE LABEL

[2022-11-27 20:24] #3604 closed, assigned to gstemmann

[2022-11-27 20:35] JessicaLucindaCheng commented on #2699
- Also, here is the new dev leads agenda: #3704

[2022-11-27 20:42] ExperimentsInHonesty commented on #2634
@tunglinn @blulady I don't have any idea how to give someone a read token for the website repo or why it's needed.  Can you write something up about it, and figure out where that would live in our wiki.  See revised resources above.

[2022-11-27 20:53] plang-psm commented on #3511
Progress: Resubmitted my medium issues, awaiting review. Will jump into Large issue while I await review.
Blockers: None
Availability: 8hrs
ETA: TBD
Pictures (optional): N/A

[2022-11-27 21:52] angelenelm commented on #2199
**Availability:** 10AM - 3PM PST Nov 28, 30, Dec 1, 2, 2022
**ETA:** End of day Dec 2, 2022

[2022-11-27 23:53] gstemmann commented on #3604
Very sorry. The role label is now added and my name is replaced in the brackets.

[2022-11-28 00:20] Satenik-Ba commented on #3693
Availability: 11/28/2022
ETA: 1hr

[2022-11-28 02:49] jdingeman opened #3750 "Consolidate Reusable Functions in github-actions"
### Overview
Developers have noted that certain javascript functions in [github-actions](https://github.com/hackforla/website/tree/gh-pages/github-actions) are being declared and defined across multiple files. We want to make these functions reusable within the codebase so they are not being defined multiple times for the same function across different files.

### Action Items
- [x] Look through t

[2022-11-28 06:36] h3nry-m commented on #3209
**Progress: "What is the current status of your project? What have you completed and what is left to do?"**
Currently complete!
**Blockers: "Difficulties or errors encountered."**
No blockers.
**Availability: "How much time will you have this week to work on this issue?"**
This weekend.
**ETA: "When do you expect this issue to be completed?"**
Just completed.

[2022-11-28 12:05] JessicaLucindaCheng commented on #2199
@angelenelm Thanks for working on this issue! Can you please check if the color equivalents of the hex colors were used in the code before deleting the color variables and its associated class? (See the Action Item(s) I added and the list of "Hard-coded colors can be one of the following color types:" above in the issue.) Thanks.

[2022-11-28 17:36] ExperimentsInHonesty commented on #3328
@JessicaLucindaCheng where you have the instructions :

Instead of it leaving the project off the display, let's have it give some default text instead

[2022-11-28 21:02] wendybarrios commented on #3316
Availability for this week: [Tuesday/Thursday/Friday]: (9:00 am - 12:00 pm and 5:30 pm - 7:00pm)
My estimated ETA for completing this issue: Tuesday, November 29

[2022-11-28 21:13] tunglinn commented on #2634
The problem I'm still working on is how to connect my local repo of the website to the data on GitHub. It is available freely using the "https://api.github.com/repos/OWNER/REPO/issues/ISSUE_NUMBER" format, but the documentation for the REST API requires a [token](https://docs.github.com/en/rest/issues/issues?apiVersion=2022-11-28#get-an-issue).

Using nektos act also requires a token to link the l

[2022-11-28 23:29] tunglinn commented on #2634
I have completed a testing protocol for this issue, and will update my ongoing documentation of this process.

Update on fixing the bug: I've noticed we're using the event 'cross-referenced' as an indicator of a PR linked to the issue. However, this condition doesn't check if the PR is from the current assignee. For example in issue #2395, this GHA is detecting the last PR from a previous user.

[2022-11-28 23:53] JessicaLucindaCheng commented on #3328
@ExperimentsInHonesty

I updated the action item with your requested change.

[2022-11-28 23:58] patrickohh commented on #3547
i. Availability: 11/29 - 12/3
ii. ETA: 12/1 Evening

[2022-11-29 01:10] jdingeman commented on #2155
@ExperimentsInHonesty, I just checked the repo and it looks like these functions are still being declared in multiple places, so I think it'd be best that we write a new issue to consolidate these functions in a utils folder like Saumil said. It'll require some investigation across the .js files as there are some functions like obtainLabels() in check-label-preliminary-update.js that does not take

[2022-11-29 01:32] JessicaLucindaCheng commented on #3328
From Dev/PM with Bonnie, the following changes need to be made:
- [ ] Write a small issue (add to dependency section in 3328) - Rename citizen-engagement-cards.html to something relevant program-area-page-card-layout.html and figure out where the name is calling it and change it there
- [ ] Write a Medium issue (add to dependency section in 3328) - Change the logic: if it doesn't have the program

[2022-11-29 01:37] JessicaLucindaCheng commented on #2676
- Progress: Some pages were audited but we never got through all the wiki pages before there were some major changes to some pages and some additions to the wiki. Also, any pages that have already been audited may have to be re-audited if there were changes to the page since it was audited.
- Blockers: None. I fixed my Internet.
- Availability: Not sure about this week
- ETA: November 30, 2022

[2022-11-29 01:43] ExperimentsInHonesty commented on #2689
Every person who was onboarded has to be offboarded when they leave and then their comment pair (onboarding and offboarding) can be closed.

[2022-11-29 01:47] JessicaLucindaCheng commented on #3704
- Figure out who will be in charge of onboarding and offboarding dev leads: #2689

[2022-11-29 01:54] ExperimentsInHonesty commented on #3509
Messged him on Slack 2022-11-28 5:53pm

[2022-11-29 01:57] ExperimentsInHonesty commented on #3603
It looks like Eric has assigned himself a new issue that is about 11 days old.  Check on him again next time this issue has 2 weeks inactive, unless he has finished off what he needs to do and has closed this.

[2022-11-29 02:00] Satenik-Ba commented on #3707
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? 2weeks

[2022-11-29 02:01] ExperimentsInHonesty commented on #2668
@arpitapandya please either provide an update or return this issue to the prioritized backlog

[2022-11-29 02:04] #3707 closed, assigned to Satenik-Ba

[2022-11-29 02:27] arpitapandya commented on #2668
- Hey @ExperimentsInHonesty sorry, for not leaving feedback.
- Progress: I have already worked on this issue, I am testing it.
- Once it's tested locally I will submit PR.
- No blockers

[2022-11-29 02:28] ExperimentsInHonesty commented on #2435
@blulady I updated the instructions to make this issue easier to process

[2022-11-29 02:38] #3209 closed, assigned to h3nry-m

[2022-11-29 02:39] #3587 closed, assigned to Adastros

[2022-11-29 03:12] #3693 closed, assigned to Satenik-Ba

[2022-11-29 03:13] jdingeman commented on #3693
@hackforla/product-managment, per item in issue, I am tagging this as ready for product and returning to new issue approval.

[2022-11-29 03:28] jdingeman commented on #2395
Update:
Blockers: I need to study GHAs more in depth to get an understanding of how to write the program. Testing is dependent on having a copy of the project board so I can see if the actions are working. But the actions that already exist on the website's project board do not work on my project board.
ETA: Hopefully by next Friday, 12/9

[2022-11-29 03:33] jdingeman commented on #2592
Dev has reached out regarding this issue and is actively working on it.

@t-will-gillis, when you get a chance, please provide a progress update on this issue to note down your blockers and availability.

[2022-11-29 03:37] jdingeman commented on #3710
Reached out to @juleanrod via slack for a status update.

[2022-11-29 03:54] angelenelm commented on #2199
@JessicaLucindaCheng Sorry I only just saw your comment after my PR was merged! I did see that the rgb equivalent of the ```lightyellow``` variable (```#ffff97```) was used in

- ```_sass/components/_home.scss```
- ```_sass/components/_projects-page.scss```
- ```_sass/components/_projects.scss```

for the project status indicator. the ```papayawhip``` color equivalents were not found anywhere in t

[2022-11-29 06:39] Adastros commented on #3720
Hi @ExperimentsInHonesty, it is ready to be looked at by the dev leads. I'll add the `ready for dev lead` label

[2022-11-29 06:44] Adastros commented on #2904
Availability this week (PST): 9 - 11 PM 29NOV22 , 30NOV22
ETA: 11PM 30NOV22

[2022-11-29 14:47] ExperimentsInHonesty commented on #3608
@jond34 I see that you have not updated your good first issue
- https://github.com/hackforla/website/issues/2871 with your status.

If you are stuck, we want to help you.  Can you let us know what the blocker is?  Or if you have decided not to be on the team?

[2022-11-29 14:48] ExperimentsInHonesty commented on #2871
Sent @jond34 a message on Slack to see if he responds there.

[2022-11-29 14:53] ExperimentsInHonesty commented on #3710
@juleanrod It looks like we have not heard from you since you opened this issue.  Are you still interested in being on the team?

[2022-11-29 14:58] #3569 closed, assigned to michaelmagen

[2022-11-29 15:02] ExperimentsInHonesty commented on #2904
@Adastros I moved this to the in progress column.  Please do that in future when you self assign

[2022-11-29 15:26] ExperimentsInHonesty commented on #2393
Once this issue is done, please send back to product with a note for them to ask design and research to confirm the order they want the Join Us footer items in.

[2022-11-29 18:56] t-will-gillis commented on #2592
Progress: Have familiarized with GHAs have run test functions and set up test PRs/ MergePRs in own repo
Blockers: I am unclear/ would like to have clarification about what is currently happening (both automatically and manually) with MergedPRs and what we would like to have happen with MergedPRs.
Availability: Tuesday meeting, rest of week 11/29-12/4
ETA: Once unblocked, will be able to move to th

[2022-11-29 22:24] juleanrod commented on #3710
@jdingeman @ExperimentsInHonesty My apologies; I'm still very much interested in being part of the team. I will continue working on it today and likely be able to participate today in my first team meeting.

[2022-11-29 22:25] juleanrod commented on #3710
Availability for this week: 6hrs
My estimated ETA for completing this issue: 6hrs

[2022-11-29 22:28] juleanrod commented on #3710
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
2 hours so far

[2022-11-29 22:36] juleanrod commented on #3710
Provide Update
1. Progress: 27/34 tasks
2. Blockers: Family member not doing well
3. Availability: 6hrs
4. ETA: 11/29/2022

[2022-11-29 23:01] jyaymie commented on #2393
Availability: 11/29/22 - 12/2/22
ETA: 12/2/22

[2022-11-29 23:54] 7kram commented on #656
~@alexandrastubbs The "Draft Research Plan" doc under resources is private. If you are the owner of this doc, can you please make it public? :)~

I think determining what KPIs and ancillary services are provided should be a part of the action items for the issue

[2022-11-30 01:23] h3nry-m commented on #3437
Hi all!
i. Availability: During the work week evenings
ii. ETA: Just sent a pull request. Please review and let me know if I understood the objective correctly.

[2022-11-30 01:30] #3710 closed, assigned to juleanrod

[2022-11-30 02:49] blulady commented on #2010
### Agenda for November 29, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Rosyln

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the

[2022-11-30 03:55] blulady commented on #2592
@hackforla/product-management-maintainers @hackforla/product-managment @ExperimentsInHonesty
"If a reviewer merges a pr and moves it to the Project Board, the GitHub action should move it to the correct column in the Project Board and then remove it" Need clarification what column the merged pr needs to be moved on to in the project board. What is the correct column in the Project Board that it ne

[2022-11-30 04:01] jdingeman commented on #3175
#### Onboard Mai Vang
- [x] Person leading onboarding: Justin
- [x] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [x] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [x] If they are not a member, tell them to go sign up for onboarding with Bonnie at https://www.meetup.com/hackforla/events. If t

[2022-11-30 04:02] Biuwa opened #3755 "Update Project Profile: [TDM Calculator]"
### Overview
As a developer, we must ensure our project's details are up to date on the HackforLA website. We need to update the [TDM Calculator](https://www.hackforla.org/projects/design-systems) page's links and leadership.

### Action Items
- [x] Observe the existing syntax of the [front matter block](https://jekyllrb.com/docs/front-matter/) inside of [_projects/tdm-calculator.md](https://githu

[2022-11-30 04:10] jyaymie commented on #2393
@ExperimentsInHonesty

The current Contact Us link - `/#contact-us` - takes me to the top of the home page where I can't find any info for contacting HfLA. I wanted to know if I have the correct link. Thanks!

<details>
<summary>Where the Contact Us link takes me:</summary>

![Screen Shot 2022-11-29 at 7 46 35 PM](https://user-images.githubusercontent.com/104411072/204705638-628e4113-bdaf-4625-962

[2022-11-30 04:39] 7kram commented on #918
why is this under the action items?

some of these action items are unclear

[2022-11-30 04:41] 7kram commented on #3142
I understand what needs to be done for the issue but there are random links with no info on what they lead to. Needs to be clear

[2022-11-30 04:48] 7kram commented on #3724
Is this for product? Also, I believe there is a [template](https://github.com/hackforla/website/issues/new?assignees=&labels=P-Feature%3A+Project+Info+and+Page%2C+role%3A+back+end%2FdevOps%2C+role%3A+front+end%2C+Size%3A+Small%2C+size%3A+0.5pt%2C+time+sensitive&template=project-profile-card-review-and-update.yml&title=Update+Project+Profile%3A+%5BProject+Name%5D) for updating project cards.

[2022-11-30 04:52] 7kram commented on #2435
We can remove the product label and add front/back end so that devs can work on it

[2022-11-30 15:10] JessicaLucindaCheng commented on #3117
@ExperimentsInHonesty I just want to confirm a couple of notes:

- Gold O. wrote:

  - Does this mean changes only need to be made for the desktop view of the Citizen Engagement page?
    - Ans from Bonnie: Yes, only changes for desktop

- You wrote:

  - I don't see a frame labeled final version. Do you mean the frame labeled "Newest Version"?
    - Ans from Bonnie: Yes, newest version

[2022-11-30 15:14] JessicaLucindaCheng commented on #3738
Issue Writing Update:
- Progress: This issue is ready for milestone but I wanted to confirm that changes only need to be made in the desktop version and the Figma frame developers should refer to is labeled "Newest Version".
- Blocker: Awaiting response to this: https://github.com/hackforla/website/issues/3117#issuecomment-1332315647
- Availability for writing issue: 6 hours
- ETA to finish writin

[2022-11-30 15:19] JessicaLucindaCheng opened #3756 "Rename citizen-engagement-cards.html"
### Dependency
- #3757
- #3738
- #3802

### Overview
We are going to rename the `citizen-engagement-cards.html` to `program-area-pages-cards.html` so that the name of the file reflects the purpose of the card better.

### Details
The cards will be used in the future on more than just the Citizen Engagement webpage [see Resources/Instructions 1]. The card will be used for future program area pages,

[2022-11-30 15:21] JessicaLucindaCheng commented on #3756
### Issue writing ETA and availability
- Availability: 6 hours
- ETA: Fri, Dec 9, 2022

### To Dos
- [x] Add this issue to the dependency section in #3328
- [ ] Add Action Items
  - [ ] Rename citizen-engagement-cards.html to something relevant program-area-page-card-layout.html
  - [ ] Figure out where the name is calling it and change it there too

[2022-11-30 15:38] JessicaLucindaCheng opened #3757 "Citizen Engagement page: Display a message if missing program area detailed info"
### Overview
On the Citizen Engagement webpage [1], we want to display a message on a project's program area card if the project is missing program area detailed information so
- we make sure the page doesn't break and
- we maintain a professional-looking website.

### Action Items
#### Developer
- [x] Read Citizen Engagement wiki page [2]
- [x] If a project's Markdown file is missing one of the f

[2022-11-30 15:48] JessicaLucindaCheng opened #3758 "ER: github-actions bot removing Draft label"
### Emergent Requirement - Problem
The github-actions bot is removing the `Draft` label. This happens when the `Draft` label is added after clicking the "Submit new issue" button.

### Issue you discovered this emergent requirement in
- #3738
- #3757
- #3756

### Date discovered
November 21, 2022

### Did you have to do something temporarily?
- [x] YES
- [ ] NO

I had to reapply the "Draft" label.

[2022-11-30 16:08] JessicaLucindaCheng commented on #3758
Finishing this ER:
- Progress: Almost done but I need to step away before I can complete filling out the ER
- Availability: 6 hours
- ETA: Thu, Dec 1, 2022

Update: Finished writing ER

[2022-11-30 16:20] 7kram commented on #2908
Did we ever reach out to the Hacktoberfest organizers?

Is this still an issue in 2022/23?

[2022-11-30 17:14] ExperimentsInHonesty commented on #656
The file was in the old drive, I have made the drive view access for current pms.  Anyone being assigned to this issue will need that access.

[2022-11-30 17:26] ExperimentsInHonesty commented on #656
Metrics we could get if the member shared this info with us weekly.  (consider using a form for weekly reporting)

### What they see
Analytics: Private to you
Discover who's viewed your profile: X profile views
Check out who's engaging with your posts: X post impressions
See how often you appear in search results.: 246 search appearances

### Example
![image](https://user-images.githubusercontent.

[2022-11-30 17:26] bishrfaisal commented on #3058
@ExperimentsInHonesty I do not have access to the old drive. It would be helpful to add instructions on how to get access to that and include it in the action items. Also, is the item that is being moved the last item in the "path to folder" on the [Drive Migration Spreadsheet](https://docs.google.com/spreadsheets/d/1bpkAT5T4U7mZoLTCBlntUmQkFbbcGT3jKug3CWn5AYw/edit#gid=0)?

[2022-11-30 17:34] ExperimentsInHonesty commented on #656
Premium features
Keywords used to search
chart with weekly metrics for views
stats about companies, industries, locations viewing your profile

What they are missing (skills or words wise) against other candidates when they apply
Being able to message anyone
LinkedIn learning

[2022-11-30 17:40] bishrfaisal commented on #1968
The link to the interview with bonnie/research team is not working.

[2022-11-30 20:03] vaisali89 commented on #1797
## 2022-11-30 Agenda and Notes

### Prework to prep for meeting
- [x] Review and prepare items that have [ready for research lead](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22ready+for+research+lead%22#column-15235217) labels in the new issue approval column, so that they if you have any questions for product that you can add them to this agen

### Recurring items: