[2021-05-07 07:40] qiqicodes opened #1527 "Change yml file name"
### Overview
in the "./_data/internal/credit" directory, "secutiry.yml" should be "security.yml".
![Screen Shot 2021-05-07 at 12 38 53 AM](https://user-images.githubusercontent.com/68657634/117414958-9c133d00-aecc-11eb-95f3-56611631f6db.png)

### Action Items
- [x] change file name from "secutiry.yml" to "security.yml"
- [x]  run site locally and make sure nothing is broken

### Resources/Instruct

[2021-05-07 17:45] #1505 closed, assigned to jamesberke

[2021-05-07 17:51] daniellex0 commented on #1051
Assigning to @qtsash because this is time sensitive (and @shinhope is assigned another issue)

[2021-05-07 18:08] daniellex0 commented on #1289
1. Progress
2. Blocks
3. Availability
4. ETA

[2021-05-07 19:36] #1511 closed, assigned to paulsvh

[2021-05-07 20:13] qiqicodes commented on #1413
pr fixes issue

[2021-05-07 20:13] #1413 closed, assigned to RobertaFricker

[2021-05-07 20:14] #1426 closed, assigned to danyc23

[2021-05-07 20:23] qiqicodes commented on #1031
@glenflorendo Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-07 20:32] qiqicodes opened #1531 "Make wins' page modal overlay keyboard navigable"
### Overview
Individual wins' card and wins' page modal overlay is not keyboard accessible.

### Action Items
- [x] make "...see more" tab-able
- [ ] focus on modal overlay when displayed
- [x] make escape available to modal overlay

### Resources/Instructions
[Accessible Links](https://www.htmldog.com/guides/html/advanced/links/)
[Creating an Accessible Modal Dialog](https://bitsofco.de/accessibl

[2021-05-07 23:06] glenflorendo commented on #1031
@qiqicodes

Progress:
- [ ] Action Item 1: In progress. Most of the requested updates have been implemented.
- [ ] Action Item 2: Not Started
- [ ] Action Item 3: Not Started

Blockers:

- ~~Meeting times on the specific project page are fetched from the VRMS API. I asked Alex Anakin to help get this updated on their end~~
- Awaiting Engage project image hero. @BryonPm

Availability:
I have a lot

[2021-05-07 23:26] #1115 closed, assigned to sena-ji

[2021-05-07 23:30] #1458 closed, assigned to jamesberke

[2021-05-08 04:19] abenipa3 commented on #1515
Progress: Just assigned this issue to myself.
Blocks: N/A
Availability: Will be available starting on 5/13 to work on this issue.
ETA: I might have some progress on 5/15.

[2021-05-08 04:30] abenipa3 commented on #1525
Progress: Created two mock-ups as seen below and ran what I have so far with our design team.
<details> <summary> Preview </summary>

![image](https://user-images.githubusercontent.com/38295612/117526607-3762eb80-af7b-11eb-995a-81a52f385f7c.png)

</details>

Blocks: N/A - Just opened this issue.

Availability: Busy most of this week with a hackathon. Won't be able to attend the meetings on Sunday

[2021-05-08 04:53] jbubar commented on #1526
I think we should make this into a million good first issues!

[2021-05-08 05:18] jbubar opened #1532 "Need to change the alt tag"
### Overview
Alt on the events page for meetup icon needs update.

### Action Items
- [ ] Change the alt attribute value to 'meetup logo'

[code]

### Resources
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/pages/events/left-col-content.html#L2

[2021-05-08 07:23] #1425 closed, assigned to erikaBell

[2021-05-08 07:24] #1432 closed, assigned to erikaBell

[2021-05-08 07:28] erikaBell commented on #1130
- Figure out how to trigger google app script through a cron job, within the context of the app script
- Implement, said trigger, every 24hours and extract "TRUE" data from sheets & write to file in hack4la/website/_data/external/_wins-data.json

[2021-05-08 21:23] Aveline-art commented on #1374
After a week, I have completed a [first draft](https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests)! (Horray!) I've polished it as much as I can, so I would appreciate any feedback.

For the person reviewing this, (perhaps @jbubar or @averdin2 or someone else?), can you let me know your thoughts on the following:

1. Are there further steps I can take to improve conciseness, clar

[2021-05-08 21:26] Aveline-art commented on #1374
* Progress: First draft is finished. Will wait for feedback before planning my next steps.
* Availability: Tues, Thurs, Fri night. Sat all day.
* ETA: Within a week after feedback.

[2021-05-09 01:16] qiqicodes commented on #1510
@sanchece Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-09 01:19] qiqicodes commented on #1346
@wendywilhelm10 Can you let us know your progress in regards to this issue? Thank you =]

Progress: I think I know what I need to change, so going ahead with what I think is correct.
Blockers: I ask Danielle if what I think needs to change is indeed correct.  I though she wrote this issue but Bonnie did.  Waiting to hear verification from Danielle about my assumptions.
Availability: I have time to

[2021-05-09 01:40] qiqicodes commented on #1379
@ashleylin1 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:00] qiqicodes commented on #1378
@Lol-Whut Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:03] qiqicodes commented on #1416
Progress: trying out UI component libraries, such as storybook, styleguidist, etc... to see which one fits our needs best
Blockers: need to arrange a meeting to discuss the tradeoffs

[2021-05-09 02:05] qiqicodes commented on #1482
@Rosalyn-broddie Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:07] qiqicodes commented on #1479
https://github.com/hackforla/website/pull/1491#issuecomment-834726437

@qaz6209031 Can you let us know your progress in regards to the PR linked to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:10] qiqicodes commented on #799
@tarang100 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:15] qiqicodes commented on #1442
@AmyMendelsohn Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:17] qiqicodes commented on #1498
@evancchen Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 02:19] qiqicodes commented on #1051
@SaashaG Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-09 14:58] daniellex0 commented on #1346
@wendywilhelm10 just responded to your question on slack, sorry about the delay!

[2021-05-09 15:10] daniellex0 commented on #1379
This is completed- closing issue!

[2021-05-09 15:10] #1379 closed, assigned to ashleylin1

[2021-05-09 16:15] #1079 closed, assigned to nobody

[2021-05-09 16:25] daniellex0 commented on #1135
Progress: Discussed CMS with developers and designed a rough draft

Next Steps: Finish mobile design and backend CMS

ETA: 2 weeks

[2021-05-09 17:07] daniellex0 commented on #1510
Hey @sanchece sorry we didn't make this clear when this was assigned, but this issue is urgent because it is live on the site and looks wrong, so we are assigning this to @qiqicodes to finish quickly.

Feel free to let her know if you've already started working on this and/or grab another issue. Thank you and sorry for not making this more clear from the beginning!

[2021-05-09 17:36] christina245 commented on #656
I've started a draft. Let me know what feedback anyone has and what other info we need on there. I don't know what members we want to feature either.

[2021-05-09 18:58] qiqicodes opened #1534 "Use Jekyll Doc or MkDocs for Hack for LA project documentation"
### Dependencies
- [x] #3636
- [ ] #2676
- [x] #1416
This issue is a dependency for any other works related to the wiki. Some notes on our processes can be found in our drive in a folder titled Temporary Wiki.

### Overview
Currently our documentation is on [wiki's page](https://github.com/hackforla/website/wiki). Hack for LA use Jekyll to generate Hack for LA live site with GitHub pages. It would

[2021-05-09 23:47] #1483 closed, assigned to daniellex0, qiqicodes

[2021-05-10 04:50] AmyMendelsohn commented on #1442
@qiqicodes

I ran into some issues getting ESlint running locally.

Unfortunately, I think I don't have enough time to dedicate to this right now. I will unassign this from me.

[2021-05-10 13:30] SaashaG commented on #1051
I will work on it today and let you know. Thanks

[2021-05-10 17:33] SaashaG commented on #1051
I have started the header but would love to get some feedback. @daniellex0 let me know when you have time to discuss.

[2021-05-10 18:17] averdin2 opened #1536 "Update Record Clearance name"
### Overview
The name of Record Clearance project was changed to Expunge Assist. We need to update the Program Areas page and Events page to reflect this change.

### Action Items
- [ ] Change the name of Record Clearance Project to Expunge Assist in [justice-card.yml](https://github.com/hackforla/website/blob/gh-pages/_data/internal/program-areas/justice-card.yml).
- [ ] Change the name of Cleara

[2021-05-10 18:37] averdin2 opened #1537 "Remove Record Clearance image file"
### Overview
The name of the Record Clearance Project was changed to Expunge Assist. We need to replace and remove record-clearance.jpg to reflect this change.

### Action Items
- [ ] Replace record-clearance.jpg with expunge-assist.png in [justice-card.yml](https://github.com/hackforla/website/blob/gh-pages/_data/internal/program-areas/justice-card.yml).
- [ ] Change the image_alt to read "Expung

[2021-05-10 19:52] qiqicodes commented on #656
@christina245 If you put your current draft in the #hfla-site in our slack community and ask for feedback. We can move forward as a group.

[2021-05-10 20:01] qiqicodes commented on #1378
@Lol-Whut What do you have in mind for fixing the color variables? We can work together with the UI/UX team on naming the variables.

[2021-05-11 01:08] #1510 closed, assigned to sanchece

[2021-05-11 01:19] #1507 closed, assigned to grhhhh

[2021-05-11 05:23] jbubar opened #1538 "update the lodash depenency in /github-actions/github-data/package.json"
### overview
<details>
    <summary>github wants us to update our package.json file... it says it is high severity</summary>

![Screen Shot 2021-05-10 at 10 12 54 PM](https://user-images.githubusercontent.com/53061723/117762067-45b04200-b1dd-11eb-8d8d-a69326b5b869.png)

</details>

### action items
- [ ] change the version to 4.17.21?

https://github.com/hackforla/website/blob/348e6c8e9857182e07b9

[2021-05-11 20:12] averdin2 commented on #1441
I set up a GitHub action on my own [repo](https://github.com/averdin2/Web_Dev_Practice). For the actual GitHub action, I went with [Super-Linter](https://github.com/marketplace/actions/super-linter). In my initial research, I didn't find this GitHub action, but I think it is way better than the previous one I found as it was made by GitHub. I am also still sticking with [Stylelint](https://styleli

[2021-05-11 20:18] averdin2 commented on #1441
I am making a comment for some action items I still need to do.
#### Action Items
- [x] Set up SCSS in my personal repo and test linter
- [x] Test linting GitHub action check with forked PRs
- [ ] Figure out any other potential CSS linting rules wanted
- [x] See if plugin will work for linting unused CSS classes
- [ ] Research how to use above plugin with GitHub Actions
- [x] Research other ways t

[2021-05-11 22:28] akibrhast commented on #1538
lodash updated. Closing this.

[2021-05-11 22:28] #1538 closed, assigned to akibrhast

[2021-05-12 02:14] jamesberke commented on #1439
I began work on this issue by creating a new local issue branch from the latest commit in the hackforla/wins-feature-1 branch. If anyone else has to contribute to a branch other than gh-pages, the easiest way to achieve this is finding the hash of the most recent commit in the desired branch and creating a new local branch based off that.

command line example: git checkout -b wins-comma-fixes 72f

[2021-05-12 02:17] josiehandeveloper commented on #1390
If you don't already have a text editor feel free to download VS Code

[2021-05-12 02:29] josiehandeveloper commented on #1028
@ExperimentsInHonesty Should we use Zapier or Google Apps Script?
Akib said that he already has feasible solutions using Google Apps Script

[2021-05-12 02:59] qiqicodes commented on #1526
https://github.com/hackforla/website/issues/1456#issue-866837802

More files will need to have alt text audit

[2021-05-12 03:07] averdin2 commented on #1427
@GLRJr The button in question is for the join us page

[2021-05-12 03:16] averdin2 commented on #1441
@sanchece here is that other ES Lint issue if you wanted to look into this a bit (https://github.com/hackforla/website/issues/1442). Again, I was thinking of implementing this with Super-Linter. I think it should actually not take too long once I figure out if the CSS linter will work.

[2021-05-12 03:18] averdin2 commented on #1442
This issue is very closely tied with (https://github.com/hackforla/website/issues/1441). Once I finish up the CSS linter, my idea was to use the same GitHub action with ESLint. See the GitHub action here: https://github.com/marketplace/actions/super-linter

[2021-05-13 03:56] Aveline-art commented on #1374
@jbubar I have made my final edits to the new wiki. Let me know if any further changes are needed, and if not, you are ready to close this issue!

Note: I could not drag and drop the images so I've added them to a directory in the wiki repo. As far as I can tell, the directory is invisible in the Github interface, but is viewable in a local repo. Is this an appropriate location to store the images

[2021-05-13 17:00] akibrhast commented on #1374
@Aveline-art in regards to images, have you tried this?
https://docs.github.com/en/communities/documenting-your-project-with-wikis/editing-wiki-content#adding-images

[2021-05-13 18:24] #1536 closed, assigned to nobody

[2021-05-13 18:24] #1537 closed, assigned to grhhhh

[2021-05-13 18:32] SaashaG commented on #1051
Progress: 50%
Availability: Sunday 5/16
ETA: 5/15

![image](https://user-images.githubusercontent.com/83323065/118170453-19bcd880-b3f8-11eb-8455-6cad71df2e43.png)

[2021-05-13 20:47] Aveline-art commented on #1374
@akibrhast Yes, that is how the images were added to the wiki.

[2021-05-14 00:54] jbubar opened #1542 "nav bar is covered by project filterlist dropdown"
### Overview
Currently the project selectiong dropdown covers the nav bar when you scroll down... we can fix this with a z-index.

<details>
    <summary>screenshot</summary>

![Screen Shot 2021-05-13 at 5 45 49 PM](https://user-images.githubusercontent.com/53061723/118204617-7da0ca80-b413-11eb-9162-3d478b56042c.png)

</details>

### Action Items
- [x] in the _sass/components folder locate the _he

[2021-05-14 06:30] glenflorendo commented on #1031
Progress:
- [x] Action Item 1: Done.
- [ ] Action Item 2: Awaiting review from Bryon
- [ ] Action Item 3: Not Started

Blockers:
- Awaiting review from Bryon

Availability:
Monday, Thursday, Friday evening.

ETA:
?

Pictures:
![engage-project-page](https://user-images.githubusercontent.com/9373317/118230806-10a52900-b443-11eb-94f3-1bba578bad55.png)
![project-page](https://user-images.githubusercon

[2021-05-14 09:33] abenipa3 commented on #1525
**Progress:**
- Created three more hi-fi wireframes of the web pages.

<details><summary>Screenshot of Wireframes</summary>

![mock-up-3-4-5](https://user-images.githubusercontent.com/38295612/118251221-23782780-b45c-11eb-9b60-59b8338a9a94.png)

</details>

- Created a lo-fi wireframe of Guide Pages. mobile version

<details><summary>Sketch of Wireframe (Mobile Version)</summary>

![low-fi-mobile-

[2021-05-14 17:22] Rosalyn-broddie commented on #1289
1. Progress: We conducted a set of post-onboarding interviews during which we received input for in-progress features for the Roles page.
2. Blocks: Waiting for Bonnie to return
3. Availability: I can attend an upcoming onboarding session to interview volunteers
4. ETA: We're looking to conduct more post-onboarding interviews to get input on some of our ideas for the homepage. We're also going to

[2021-05-14 18:35] shinhope commented on #1383
Progress: almost done, just waiting for Civic Tech Structure

[2021-05-15 08:03] qiqicodes commented on #1521
@josiehandeveloper Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:04] qiqicodes commented on #1506
@paulsvh Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:09] qiqicodes commented on #1329
@danyc23 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:14] qiqicodes commented on #1439
@jamesberke  Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:18] qiqicodes commented on #1130
@erikaBell Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:19] qiqicodes commented on #1165
@Linda-OC Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:21] qiqicodes commented on #1441
@averdin2 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:23] qiqicodes commented on #1416
Progress: Same progress
Blockers: Likely we will meet next week to discuss the tradeoffs

[2021-05-15 08:24] qiqicodes commented on #577
@daniellex0 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:26] qiqicodes commented on #815
@ashleylin1 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:27] qiqicodes commented on #1515
@alyssabenipayo Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:28] qiqicodes commented on #1531
@grhhhh Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:29] qiqicodes commented on #1427
@GLRJr Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:31] qiqicodes commented on #1442
@averdin2 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-15 08:35] #1346 closed, assigned to wendywilhelm10

[2021-05-15 10:13] abenipa3 commented on #1515
Progress: <STRIKE>Planning to work on it today (5/15). Will update this post before our Sunday meeting.</STRIKE> Started working on creating the mobile version with CSS. Experimenting between hiding the navbar and creating an accordion.

<details><summary>Screenshot for mobile version without navbar</summary>

![image](https://user-images.githubusercontent.com/38295612/118406687-b61def80-b631-11eb

[2021-05-15 10:14] abenipa3 commented on #1525
Update: Reviewed wireframes today (5/14) with Design Team. Decided to continue ideating. Added a new mockup in addition to the ones mentioned in the previous post.

<details><summary>Screenshot of Wireframe</summary>

![GH-Issues-Mock-Up-Desktop](https://user-images.githubusercontent.com/38295612/118407200-6f7dc480-b634-11eb-9f7d-0b99084fd0ac.png)

</details>

[2021-05-15 15:22] erikaBell opened #1543 "Feasibility: Automated Onboarding Slack Messages"
### Overview

As a developer, we occasionally need to do feasibility testing to discover new technology that may improve our team. For this issue we will explore the viability of sending automated slack messages through a bot.

### Action Items

- [ ] Discover whether a bot on slack can perform these things:
  - [x] Add a custom bot created by HackForLA. (already done by VRMS team).
  - [ ] Send o

[2021-05-15 16:45] GLRJr commented on #1427
I'm working o  this this today, I'll prolly have it finished by this
afternoon.

On Sat, May 15, 2021, 01:29 Qiqi Zheng ***@***.***> wrote:

[2021-05-15 18:14] paulsvh commented on #1506
@qiqicodes Of course, I've hit a couple of snags, see below:

Progress: Created a new .yml called 'teamwork.yml' for the teamwork image, used the other image yml files in _data/internal/credits as a template. To the best of my knowledge, this new 'teamwork.yml' is correct.

Blockers:

- After creating this new 'teamwork.yml' I'm not seeing it added to the UL in "credits-list unstyled-list" where I

[2021-05-15 19:19] josiehandeveloper commented on #1521
Hi sorry for the delay @qiqicodes I'm working on it now

[2021-05-15 20:04] erikaBell commented on #1130
FINISHED (-:

[Google App Script maintaining wins page data updates](https://script.google.com/u/1/home/projects/1jySuEtxGfrQpuX1zinjH7sGlqevEnakVx9hGTaCnx-z0K6dQTwRVGMlI/edit)

[2021-05-15 20:04] #1130 closed, assigned to erikaBell

[2021-05-15 22:00] erikaBell commented on #1061
@jbubar Can I close this???

[2021-05-15 22:04] erikaBell commented on #1070
@jbubar @akibrhast should this be closed after what we did today?

[2021-05-16 02:17] GLRJr commented on #1427
I need some help with this

Progress: all the parts are there, however, I'm having trouble converting the Figma css over to HTML

Blockers: I need help with Figma.

Availability: I can work on this anytime tomorrow before 7pm, or during the week after 5pm

ETA: if I can get unblocked this could be finished tomorrow.

Picture:
![image](https://user-images.githubusercontent.com/29311777/118383360-da

[2021-05-16 07:23] jbubar commented on #1070
Not yet. But maybe it should be reworded

[2021-05-16 09:12] daniellex0 opened #1548 "Adjust styling of Wins page with badges"
### Overview
We need to adjust the styling of the version of the Wins page with badges (not live yet) to make it more consistent with the original Figma design.

### Action Items
- [x] Access the "wins-feature-1" (not gh-pages) branch to view the Wins page with badges code
- [x] Change the margin between the badges and the wins quote paragraphs to **1em** 0 0 6.5rem (instead of 2em 0 0 6.5rem)
- [

[2021-05-16 09:30] daniellex0 opened #1549 "Add "See less" button and move "See more" button in mobile Wins page with badges"
### Overview
In the version of the Wins page with badges (not live yet), we need to move the "see more" button in the mobile Wins page to be consistent with the original Figma design, and we need to add a "see less" button to the mobile Wins page so that users can collapse back the Wins cards that they expanded.

### Action Items
- [x] Access the "wins-feature-1" (not gh-pages) branch to view the

[2021-05-16 09:45] daniellex0 opened #1550 "Adjust styling of Wins page with badges in mobile"
### Overview
We need to adjust the styling of the version of the Wins page with badges (not live yet) in mobile to make it more consistent with the original Figma design.

### Action Items
- [ ] Access the "wins-feature-1" (not gh-pages) branch to view the Wins page with badges code
- [ ] Change the badge sizes in mobile collapsed cards:
   - [ ] In ".wins-badge-icon" class only in **mobile** and

[2021-05-16 09:53] qiqicodes commented on #1526
Progress: Tracking all icons and images from sources to better naming them.
Blocker: none
Availability: late Sunday afternoon

[2021-05-16 15:03] daniellex0 opened #1551 "Adjust layout of Wins page cards with badges"
### Overview
We need to adjust the layout of the cards on the version of the Wins page with badges (not live yet) to make it more consistent with the original Figma design.

### Action Items
- [ ] Access the "wins-feature-1" (not gh-pages) branch to view the code for the Wins page version with badges
- [ ] Try to adjust the layout of the Wins card with badges so that there is always the same (smal

[2021-05-16 15:21] daniellex0 opened #1552 "Add an 'x' to exit out of the modal overlay on the Wins page"
### Overview
We need to add an 'x' to the pop-up modal overlay on the Wins page so that users can have a second, clear option to escape it (other than clicking on the background- the only current option)

### Action Items

UX/UI Design
- [x] Review the current modal overlay design on the [Wins page](https://www.hackforla.org/) by clicking one of the pink "see more" buttons in desktop
- [x] Access

[2021-05-16 15:26] #1134 closed, assigned to nobody

[2021-05-16 15:27] #1133 closed, assigned to nobody

[2021-05-16 15:42] daniellex0 opened #1553 "Standardize the page card classes in the About page"
### Overview
We need to standardize the page card classes used in the About page to be consistent with the Design System

### Action Items
- [ ] Read the [wiki about standardized components ](https://github.com/hackforla/website/wiki/Standardized-Components)(reusable classes)
- [ ] Review the About page's current page card class (just ".page-card--about")
- [ ] Try to figure out which classes to u

[2021-05-16 15:56] daniellex0 opened #1554 "Change all project.md files to include "Program Area" Instead of "Vertical""
### Overview
We need to replace all mentions of "Vertical" with "Program Area" instead in all project.md files (including the [wiki](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file)) because these have been renamed (referring to the social cause of the project)

### Action Items
- [x] Find where the "Vertical" is in the project.md files
- [x] Replace all "Vertical" mentions

[2021-05-16 16:21] daniellex0 commented on #1135
Progress: Discussed potential backend CMS with developers

Next Steps: Hear from Bonnie about backend CMS. Finish mobile design and backend CMS

ETA: 2 weeks

[2021-05-16 16:23] daniellex0 commented on #577
Progress: Continued adding remaining pieces to design system including documentation.

Blockers: Waiting for Bonnie to return to ask about reworking the wiki, having a dedicated webpage for components, etc. Also busy schedules.

Next Steps: Finish dev documentation, finish standardizing layouts / misc cards / typography classes, finish implementing auto layout and componentizing design system.

ET

[2021-05-16 16:42] daniellex0 opened #1555 "Design a disabled button for Communities of Practice page"
### Overview
We need to design a disabled button to add to the design system, to be used in the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) for inactive groups (i.e. Ops)

### Action Items
- [x] Research how disabled buttons look in other companies' design systems via Design Systems Repo (https://designsystemsrepo.com/design-systems) and/or [Design Systems for

[2021-05-16 17:10] Aveline-art opened #1556 "Adding new wiki to CONTRIBUTING.md"
### Overview
We need to add a new [wiki](https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests) to the CONTRIBUTING.md. This wiki further informs new volunteers on ways they can contribute to our project!

### Action Items
- [x] Create a new section at the end of CONTRIBUTING.md, with an appropriate title (perhaps, "What's next" or "Other Documentation")
- [x] Add the wiki to the n

[2021-05-16 17:17] Rosalyn-broddie commented on #1482
Progress: Started looking for more examples to pull inspiration from
Blocks: Haven't gotten a chance to start designing the page yet
Availability: I'll have some extra time this week to start designing some options for this page
ETA: Uncertain

[2021-05-16 17:19] grhhhh commented on #1531
Progress:
Fixed: Made esc key available on modal. Made "See more..." tab-able.
Blockers: Researching solutions to bring focus to modal.

[2021-05-16 17:46] josiehandeveloper commented on #1374
Best wiki article I've seen!!! 5 STARS A++

[2021-05-16 17:46] #1374 closed, assigned to Aveline-art

[2021-05-16 17:47] jamesberke commented on #1439
Progress: Will be done by EOD 5/16/21
Blockers: Needed to pull from new branch to use the Icons

[2021-05-16 18:50] jbubar commented on #1552
Guide for the git
https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch

[2021-05-16 18:50] jbubar commented on #1551
Guide for git
https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch

[2021-05-16 18:51] jbubar commented on #1550
guide for git https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch

[2021-05-16 18:51] jbubar commented on #1549
guide for git https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch

[2021-05-16 18:51] jbubar commented on #1548
Guide for git
https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch

[2021-05-16 18:54] akibrhast commented on #1070
I think it should be closed,.

None of the action items in this issue is relevant anymore. Even the dependency isn't relevant anymore.

Because of the aforementioned reasons this issue should be closed.

[2021-05-17 08:09] qiqicodes opened #1558 "Change Alt Text for Brochure Image on Credit page"
### Overview
Alt text for Brochure image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Multiple people working around a lit lightbulb concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/brochure.yml#L10

[2021-05-17 08:10] qiqicodes opened #1559 "Change Alt Text for Action Icon on Credit page"
### Overview
Alt text for Action Icon on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Action Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/act.yml#L10

[2021-05-17 08:12] qiqicodes opened #1560 "Change Alt Text for Building Image on Credit page"
### Overview
Alt text for Building Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Team discussion concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/building.yml#L10

[2021-05-17 08:16] qiqicodes opened #1561 "Change Alt Text for Business Image on Credit page"
### Overview
Alt text for Business Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'One-on-one video conference concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/business.yml#L10

[2021-05-17 08:19] qiqicodes opened #1562 "Change Alt Text for Button Image on Credit page"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-05-17 08:23] qiqicodes opened #1563 "Change Alt Text for Calendar Time Icon on Credits page"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-05-17 08:26] qiqicodes opened #1564 "Change Alt Text for Check Icon on Credit page"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We want to provide updated alt text for the  `Check` icon so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we can achieve our mission of inclusivity.

### Action

[2021-05-17 08:37] qiqicodes opened #1565 "Change Alt Text for Meeting Icon on Credit page"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
We want to provide updated alt text for the  `Meeting` icon within the Credit page so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we can achieve our mission of

[2021-05-17 08:39] qiqicodes opened #1566 "Change Alt Text for Contact Image on Credit page"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-05-17 08:40] qiqicodes opened #1567 "Change Alt Text for Delegate Icon on Credit page"
### Overview
Alt text for Delegate Icon on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Delegate Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/delegate.yml#L10

[2021-05-17 08:45] qiqicodes opened #1568 "Change Alt Text for Design Image on Credit page"
### Overview
Alt text for Design Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Design Community Concept Illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/design.yml#L10

[2021-05-17 08:47] qiqicodes opened #1569 "Change Alt Text for Designer Life on Credit page"
### Overview
Alt text for Designer Life Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Designer Life concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/designer-life.yml#L10

[2021-05-17 08:55] qiqicodes opened #1570 "Change Alt Text for Email Icon on Credit page"
### Overview
Alt text for Email Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Email (at) icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/email.yml#L10

[2021-05-17 09:02] qiqicodes opened #1571 "Change Alt Text for Give Icon on Credit page"
### Prerequisite
Please make sure you have read the **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue

### Overview
As a developer, I want to provide updated alt text for the  `Give` icon so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we can achieve our mission of inclusivity

[2021-05-17 09:06] qiqicodes opened #1572 "Change Alt Text for Location Icon on Credit page"
### Overview
Alt text for Location Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Arrow, gps, location, marker, navigation icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/locations.yml#L10

[2021-05-17 09:13] qiqicodes opened #1573 "Change Alt Text for Meetings Icon on Credit page"
### Overview
Alt text for Meetings Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Meeting Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/meetings.yml#L10

[2021-05-17 09:15] qiqicodes opened #1574 "Change Alt Text for Meetup Logo on Credit page"
### Overview
Alt text for Meetup Logo on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Meetup Logo'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/meetup.yml#L10

[2021-05-17 09:17] qiqicodes opened #1575 "Change Alt Text for Office Worker Icon on Credit page"
### Overview
Alt text for Office Worker Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Office Worker Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/office-worker.yml#L10

[2021-05-17 09:19] qiqicodes opened #1576 "Change Alt Text for Partnership Icon on Credit page"
### Overview
Alt text for Partnership Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Partnership Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/partnership.yml#L10

[2021-05-17 09:21] qiqicodes opened #1577 "Change Alt Text for People Image on Credit page"
### Overview
Alt text for People Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Team spirit concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/people.yml#L10

[2021-05-17 09:24] qiqicodes opened #1578 "Change Alt Text for People Image on Credit page"
### Overview
Alt text for People Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Fireside discussion concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/people2.yml#L10

[2021-05-17 09:27] qiqicodes opened #1579 "Change Alt Text for Photo Roster Icon on Credit page"
### Overview
Alt text for Photo Roster Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Photo Roster Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/photo-roster.yml#L10

[2021-05-17 09:29] qiqicodes opened #1580 "Change Alt Text for Process Image on Credit page"
### Overview
Alt text for Process Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Organizing projects concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/process.yml#L10

[2021-05-17 09:35] qiqicodes opened #1581 "Change Alt Text for Redo Icon on Credit page"
### Overview
Alt text for Redo Icon on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Redo Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/redo.yml#L10

[2021-05-17 09:38] qiqicodes opened #1582 "Change Alt Text for Resume Icon on Credit page"
### Overview
Alt text for Resume Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Resume Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/resume.yml#L10

[2021-05-17 09:41] qiqicodes opened #1583 "Change Alt Text for Review Icon on Credit page"
### Overview
Alt text for Review Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Review Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/review.yml#L10

[2021-05-17 09:43] qiqicodes opened #1584 "Change Alt Text for Rocket Icon on Credit page"
### Overview
Alt text for Rocket Icon on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Rocket Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/rocket.yml#L10

[2021-05-17 09:45] qiqicodes opened #1585 "Change Alt Text for Security Icon on Credit page"
### Overview
Alt text for Security Icon on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Security Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/secutiry.yml#L10

[2021-05-17 09:48] qiqicodes opened #1586 "Change Alt Text for Technology Image on Credit page"
### Overview
Alt text for Technology Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Secure data concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/technology.yml#L10

[2021-05-17 09:51] qiqicodes opened #1587 "Change Alt text for Video Conference Icon on Credit page"
### Overview
Alt text for Video Conference Icon on Credit Page needs update.

### Action Items
- [x] Change the alt attribute value to 'Video Conference Icon'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/video-conference.yml#L10

[2021-05-17 09:53] qiqicodes opened #1588 "Change Alt Text for Winner Image on Credit page"
### Overview
Alt text for Winner Image on Credit Page needs update.

### Action Items
- [ ] Change the alt attribute value to 'Winner holding trophy concept illustration'

[code]

### Resources/Instructions
https://github.com/hackforla/website/blob/90a20d1e088b0a05a286af101f82135ad4774e39/_data/internal/credits/winner.yml#L10

[2021-05-17 09:56] qiqicodes commented on #1526
Created 31 good first issues

[2021-05-17 09:56] #1526 closed, assigned to qiqicodes

[2021-05-17 22:18] danyc23 commented on #1329
Blockers:  Haven't find any blockers yet.
Progress: Working on it.
ETA: May 19, 2021

[2021-05-18 00:34] averdin2 commented on #1442
Es Lint Getting Started: https://eslint.org/docs/user-guide/getting-started
Es Lint Config: https://eslint.org/docs/user-guide/configuring/
Es Lint Rules: https://eslint.org/docs/rules/

[2021-05-18 02:55] daniellex0 commented on #1552
1. Progress
2. Blocks
3. Availability
4. ETA

[2021-05-18 03:37] ggrrettcchhenn commented on #1500
sorry about this, I am connecting with our designers to get a better image to you for our project card.

[2021-05-18 09:35] Linda-OC commented on #1165
Progress:  None yet
Blockers: Locating the code that needs to be changed
Availability: 4 hrs
ETA:  By  5/19

[2021-05-19 00:43] Olivia-Chiong commented on #707
hey @daniellex0 and @ruqpyL2 is someone reformatting this guide? Could I get an update please?

Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:48] daniellex0 commented on #707
This is actually finished! It just needs final review by @ExperimentsInHonesty or whoever is interested/qualified to provide final review (there have already been lots of reviews before, and their feedback was incoporated):

https://docs.google.com/document/d/1w9EIJYe-HL5dVbTnp8dTiyOM_KDR9VH8RBM77bR30Co/edit

[2021-05-19 02:18] snooravi opened #1590 "Update Project Profile: Access The Data"
### Overview
As a product manager of Access The Data I want my project's details to be up to date on the HackforLA website

### Project card
access-the-data.md

### Action Items

- [ ] Access the Data Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] title
      - [x] description

[2021-05-19 02:20] snooravi commented on #1590
We would like to update the following:
1. Slack (#access-the-data)
2. One Sheet (https://docs.google.com/document/u/1/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit?usp=drive_web&ouid=105965128627887163675)

[2021-05-19 02:45] qiqicodes commented on #1506
@paulsvh look at [this issue](https://github.com/hackforla/website/issues/1558#issue-893064148
)'s alt text for inspiration.

### Resources/Instructions
https://cliquestudios.com/alt-text/
[How to write effective alt tag for images](https://medium.com/nyc-design/how-to-write-effective-alt-tags-for-images-9f888f36992f)
[WebAIM](https://webaim.org/techniques/alttext/)

[2021-05-19 20:10] daniellex0 commented on #1051
This is looking really good, thank you for following the design system! I know there are a ton of tiny details to follow that are easy to miss, so I made a few adjustments (made the paragraph line height 137%, and adjusted some spacing).

Can you make the following adjustments:

- [x] In mobile, change "Join Us" to the new page title
- [x] In desktop, maybe the paragraph width 508px

Thank you!

[2021-05-19 20:31] daniellex0 opened #1592 "Vertically center the Homepage filter tags text"
### Overview
We need to vertically center the text on the homepage filter tags so that they match the original Figma design. They used to look correct, but some update apparently changed them recently.

### Action Items
- [x] View the filter tags on the [homepage](https://www.hackforla.org/#) (select any filter item and the pink tag will show up)
- [x] View the original homepage filter tags design

[2021-05-19 23:25] SaashaG commented on #1051
I have updated the design...
![image](https://user-images.githubusercontent.com/83323065/118897310-fbfbe180-b8d7-11eb-8246-c20a00b7d873.png)

[2021-05-20 04:51] daniellex0 commented on #1500
@ggrrettcchhenn No worries, thank you!

[2021-05-20 06:01] daniellex0 commented on #1051
@SaashaG Perfect, looks good!

[2021-05-20 06:25] daniellex0 opened #1593 "Match the Projects Page on Figma to the Homepage Projects layout"
### Overview
We need to make sure the Projects Page on Figma matches the Homepage projects layout so that the FIgma will match the final design of the page (since the project cards currently on the homepage will be moved to their own Projects page).

### Action Items
- [x] Review the layout of the [homepage](https://www.hackforla.org/) project cards and filter dropdowns
- [x] Match the layout of t

[2021-05-20 06:30] daniellex0 commented on #1593
How to measure measurements in mobile with "inspect"-

Select both of these:
<img width="127" alt="Screen Shot 2021-05-19 at 11 28 33 PM" src="https://user-images.githubusercontent.com/67400366/118929973-08913180-b8fa-11eb-9a96-49aff5bcaff7.png">

And then you can measure to replicate the designs of the filter dropdowns in mobile:

<img width="378" alt="Screen Shot 2021-05-19 at 11 24 40 PM" src="

[2021-05-20 06:58] daniellex0 opened #1594 "Adjust margin in mobile Wins page header"
### Overview
We need to make the margin smaller between the heading and button in the Wins page in mobile, to make the header look less distorted.

### Action Items
- [x] Decrease the margin in the [Wins page](https://www.hackforla.org/wins/) header between the heading ("Let's celebrate together!) and button ("Share your wins") to **32px** (instead of 56px)

### Resources/Instructions
[Wins page](

[2021-05-20 07:48] daniellex0 opened #1595 "Standardize Events page in mobile"
### Overview
We need to standardize the Events page in mobile to match our design system

### Action Items
- [x] Change the white subheadings font size to 28px (convert to rem) **only in mobile sizes** (see image below)
- [x] Change the white subheadings font size to 32px (convert to rem) **only in tablet sizes**
- [x] Decrease the margin between the header and first subheading to 44px **only in m

[2021-05-20 08:21] daniellex0 opened #1596 "Standardize Program Areas page header in mobile"
### Overview
We need to standardize the Program Areas page header in mobile to make it consistent with other pages and our design system.

### Action Items
- [x] Standardize the Program Areas page header in mobile (see annotated screenshot below)
   - [x] Decrease the margin between heading and top nav bar to 32px (2rem)- this should be done by just removing the margin-top: 2.25rem) - **only in mo

[2021-05-20 08:30] daniellex0 opened #1597 "Increase the font size of the Communities of Practice page heading in mobile and tablet"
### Overview
We need to increase the size of the heading in the Communities of Practice page in mobile and tablet so that it is consistent with our Design System

### Action Items
- [x] Increase the size of "Communities of Practice" heading to 32px (2rem) **only in mobile sizes**
- [x] Increase the size of "Communities of Practice" heading to 40px (2.5rem) **only in tablet sizes**

### Resources/I

[2021-05-20 08:55] daniellex0 opened #1598 "Standardize Credits page header in mobile"
### Overview
We need to standardize the Program Areas page header in mobile to make it consistent with other pages and our design system.

### Action Items
- [x] Standardize the Credits page header in mobile (see annotated screenshot below)
   - [x] Decrease the "Credits" heading font size to 32px (convert to rem) **only in mobile sizes**
   - [x] Also (while you're at it)- increase the heading fo

[2021-05-20 09:16] daniellex0 opened #1599 "Increase the font size of the Sitemap page heading in mobile and tablet"
### Overview
We need to increase the size of the heading in the Sitemap page in mobile and tablet so that it is consistent with our Design System

### Action Items
- [x] Increase the size of "Site Map" heading to 32px (2rem) **only in mobile sizes**
- [x] Increase the size of "Site Map" heading to 40px (2.5rem) **only in tablet sizes**

### Resources/Instructions
[Site Map page](https://www.hackfo

[2021-05-20 18:11] #1542 closed, assigned to iamtreetop

[2021-05-20 18:16] #1521 closed, assigned to josiehandeveloper

[2021-05-20 22:18] daniellex0 opened #1600 "Replicate mobile version of Getting Started page in Figma"
### Overview
We need to add a mobile version of the Getting Started page in Figma, because there is currently no mobile version on there (only desktop).

### Action Items
- [ ] Examine the current mobile version of the [Getting Started page](https://www.hackforla.org/getting-started) using Right click > "Inspect" in your browser to measure margins, font sizes, etc (ask @daniellex0 for guidance, an

[2021-05-20 22:18] daniellex0 commented on #1600
How to measure measurements in mobile with "inspect"-

Select both of these:
<img width="127" alt="Screen Shot 2021-05-19 at 11 28 33 PM" src="https://user-images.githubusercontent.com/67400366/118929973-08913180-b8fa-11eb-9a96-49aff5bcaff7.png">

And then you can measure specific elements of the page to replicate the designs of the Getting Started page in mobile:

<img width="283" alt="Screen Sho

[2021-05-20 23:07] grhhhh commented on #1531
I’m exploring possible solutions for trapping focus in the modal and could use some guidance:

-The inert property seems to be well liked in the a11y community, although it would require installing a polyfill package to support it. Implementation might look like writing a function that gives inert = true to all elements outside the modal while the modal is open. https://developer.mozilla.org/en-US

[2021-05-21 10:12] abenipa3 commented on #1525
Progress: Created four more hi-fi wireframes of the web pages + the mobile designs. Will review with the Design team on Friday.

Blocks: N/A

Availability: Open!

ETA: 5/22/21

[2021-05-21 10:14] abenipa3 commented on #1515
Progress:

- Created wireframes for the mobile designs as mentioned in #1525.
- Applied the media query works in the prototype to hide nav-bar in all mobile devices as seen below. [Repo here](https://github.com/alyssabenipayo/guidepages-prototype).

![githubissue](https://user-images.githubusercontent.com/38295612/119271047-9ac45e80-bbb4-11eb-8887-9a3d59888664.gif)

Blocks: N/A

Availability: Open

[2021-05-21 18:08] #1555 closed, assigned to shinhope

[2021-05-21 18:09] daniellex0 commented on #1555
We don't need to make a disabled button after all

[2021-05-21 19:40] averdin2 opened #1602 "What is needed for site backend"
### Overview
We need to determine the necessary technologies and costs for implementing a backend for the Hack for LA website. We also need to take into account the various functions that this backend would implement. For example, we have already discussed that we want a backend for creating a jobs page.

We still need to discuss things like how teams would add jobs to this page and if we need use

[2021-05-21 22:22] #1554 closed, assigned to Aveline-art

[2021-05-22 01:15] #1439 closed, assigned to jamesberke

[2021-05-22 20:42] jamesberke commented on #1592
@daniellex0 What native resolution is your screen? I can't seem to recreate this bug.

[2021-05-22 21:07] #1588 closed, assigned to glenflorendo

[2021-05-23 01:10] #1506 closed, assigned to paulsvh

[2021-05-23 02:05] daniellex0 opened #1605 "Standardize About page header and body in mobile"
### Overview
We need to standardize the About page header and body in mobile to make it consistent with other pages and our design system.

### Action Items
- [ ] Decrease the About page header paragraph text font size to 16px **(only in mobile)**
- [ ] Change margin between "About" heading and header paragraph to **28px** (instead of 30px) **(only in mobile)**
- [ ] Increase the margin between th

[2021-05-23 02:23] daniellex0 opened #1606 "Standardize Toolkit page header in mobile"
### Overview
We need to standardize the Toolkit page header in mobile to make it consistent with other pages and our design system.

### Action Items
- [ ] Remove the extra margin about the "Our Toolkit" heading ("margin-top: 2.25rem" property under ".toolkit-header__text" h1 class - **only in mobile**
- [ ] Increase the margin between the "Our Toolkit" heading and the header paragraph to 36px tot

[2021-05-23 02:49] daniellex0 opened #1607 "Standardize Join Us page header in mobile"
### Overview
We need to standardize the Join Us page header in mobile to make it consistent with other pages and our design system.

### Action Items
- [x] Increase "Join Us" heading font size to 32px (instead of 24px) **only in mobile**
- [x] Decrease header paragraph text font size to 16px (instead of 18px) **only in mobile**
- [x] Wrap standard ".header-container" class around Join Us header (r

[2021-05-23 02:58] daniellex0 opened #1608 "Standardize Sitemap page header class"
### Overview
We need to standardize the Site Map page header class to make it consistent with other pages and our design system.

### Action Items
- [ ] Wrap standard ".header-container" class around Sitemap page header (instead of only the current ".header-container--sitemap" class)
   - [ ] leave any additional properties (flex-direction etc.) in that additional ".header-container--sitemap" clas

[2021-05-23 05:33] daniellex0 opened #1610 "Adjust Program Areas page image cards in mobile"
### Overview
We need to make the [Program Areas page](https://www.hackforla.org/program-areas)'s image cards match those on the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) (shorter images)

### Action Items
- [x] Review the page card image in mobile on the [Program Areas](https://www.hackforla.org/program-areas) page (incorrect - too tall - see below)
- [x] Re

[2021-05-23 05:52] daniellex0 opened #1611 "Separate Communities of Practice page header paragraph into two in mobile"
### Overview
We need to separate the one paragraph in the Communities of Practice page header into two paragraphs in mobile so that it matches the original Figma design

### Action Items
- [x] Review the [Communities of Practice](https://www.hackforla.org/communities-of-practice) page in mobile - note large header paragraph is technically two paragraphs, but they are merged (only in mobile) - see

[2021-05-23 06:21] daniellex0 opened #1612 "Standardize mini project cards in Programs Areas and Events pages"
### Overview
We need to standardize the mini project cards in the Program Areas and Events pages to make them ready for the design system (to become reusable components)

### Action Items
- [ ] Change the color outline of the mini project cards in the Communities of Practice page to hex# **AEAEAE** (instead of # C4C4C4)
- [ ] Change the border-radius of the mini project cards in the Communities of

[2021-05-23 06:32] daniellex0 opened #1613 "Add and Automate meeting times in Communities of Practice page"
### Overview
We need to add meeting times to the Communities of Practice page so that it is ready to share, and we need to try to automate those meetings time so that they don't need to be manually updated

### Action Items
- [x] Verify whether the meeting times in the Communities of Practice page can be automated (pull data from the same VRMS source as the schedule in the [Events page](https://ww

[2021-05-23 07:19] daniellex0 opened #1614 "Replace incorrect mini project cards in Program Areas page with correct ones"
### Overview
We need to replace the incorrect mini project cards in the Program Areas page with the correct ones, so that the page is ready to share.

### Action Items
- [x] Replace all of the mini project cards in the Program Areas page that are not consistent with the ones in the Program Areas [Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4452%3A21046

[2021-05-23 07:26] daniellex0 opened #1615 "Fix Access the Data Github Link"
### Overview
We need to fix the Access the Data Github link, because it currently leads to a nonexisting page

### Action Items
- [x] Locate the [project.md file](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file) for Access the Data
- [x] Replace the Access the Data Github link with this correct one: https://github.com/hackforla/access-the-data

### Resources/Instructions
[A

[2021-05-23 07:35] daniellex0 opened #1616 "Change homepage "Getting Started" button to "Join Us""
### Overview
We need to change and redirect the large homepage "Getting Started" button to "Join Us" because it should now lead to that page.

### Action Items
- [ ] Replace text in the homepage "Getting Started" button to "**Join Us**"
- [ ] Redirect the button to the [Join Us page](https://www.hackforla.org/join)

### Resources/Instructions
[Homepage](https://www.hackforla.org/#)
[Join Us page](

[2021-05-23 07:45] daniellex0 opened #1617 "Link all Program Areas page mini project cards"
### Overview
We need to link all of the mini project cards in the Program Areas page to their project pages so that this page can be ready to share.

### Action Items
- [ ] Link all of the project mini cards in the [Program Areas](https://www.hackforla.org/program-areas) page to their matching project page
   - [ ] Link URL via the pink text link (currently they all lead back to Program Areas page

[2021-05-23 09:09] daniellex0 commented on #1592
@jamesberke Mine is 2560 x 1600 , but it seems to be similar when I check different screen sizes in Inspect.. can you take a screenshot of how it looks on your screen?

[2021-05-23 10:21] daniellex0 opened #1618 "Adjust margin in Getting Started Page"
### Overview
We need to adjust a margin in the Getting Started page to make it more evenly aligned

### Action Items
- [x] In the top page card of the Getting Started page, add more margin between the "Next Actions" list and the divider line below it, so that it will match the margins surrounding the line above it (both in desktop and mobile)

### Resources/Instructions
[Getting Started page](http

[2021-05-23 10:27] daniellex0 opened #1619 "Develop Updated Getting Started page"
### Overview
We need to update the Getting started steps because they are out of date, and update the layout to fit the new steps.

### Action Items

Design/Product

- [x] Review [Getting Started](https://www.hackforla.org/getting-started) page and determine what needs to be updated, and how
   - [x] Review the user flow with the civic tech team
   - [x] Mockup quick ideas for how to update page

[2021-05-23 11:14] qiqicodes commented on #1549
Progress: read the codebase for wins pages, figure out the responsible divs to make "see less" happen.
Blocker: none

[2021-05-23 16:05] daniellex0 commented on #1135
Progress: Talked with Bonnie about backend CMS. Updated backend CMS

Next Steps: Determine direction of backend before moving forward

ETA: N/A

[2021-05-23 16:07] daniellex0 commented on #1416
Progress: Heard about different way to approach wiki reorganization from Bonnie, but waiting for buy-in from dev team. Still figuring out feasibility of Storybook/Styleguidist vs. dedicated web page for component documentation
Blockers: Busy week for everyone

[2021-05-23 16:09] daniellex0 commented on #577
Progress: Standardized more mobile versions of pages, created dev issues that will help with wrapping up the design system, continued adding remaining pieces to design system including documentation.

Blockers: Waiting for dev agreement about reworking the wiki, having a dedicated webpage for components, etc. Also busy schedules.

Next Steps: Finish dev documentation, finish standardizing layouts

[2021-05-23 16:55] cherrijeong commented on #1600
Progress: Marked area in red in [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A0)
Blockers: Getting started page possibly getting updated soon?

[2021-05-23 17:20] Rosalyn-broddie commented on #1482
Progress: Designed a couple of potential options for the 404 error page, but haven't fleshed them out yet
Blocks: Stopped working on the 404 page for a little while in order to focus attention on the homepage
Availability: I'll have some time to work on some more options this week
ETA: 1 week

[2021-05-23 17:37] Sihemgourou commented on #1265
The solution is : add list of approved categories to project template file https://github.com/hackforla/website/wiki/Template-of-a-project.md-file
- Developers should check looking for updates in that file.
- All of the items in the template file that have predefined arrays should have all of their values listed in the template file.
- PM's should check all project cards changes against template.

[2021-05-23 17:49] Sihemgourou commented on #1477
Devs will work on contributing file instructions to maintain -I capabilities while helping new devs

[2021-05-23 17:51] Sihemgourou commented on #1028
@akibrhast Bonnie said Google Apps Script is fine.

[2021-05-23 18:01] Sihemgourou commented on #1534
Existing wiki site information architecture should be refined using the side menu before implementation of Jekyll doc wiki

[2021-05-23 18:25] jamesberke commented on #1592
@daniellex0 here's what it looks like for me

<img width="854" alt="Screen Shot 2021-05-23 at 11 21 10 AM" src="https://user-images.githubusercontent.com/58538332/119272166-88005880-bbb9-11eb-93ee-4cf431b8e885.png">

[2021-05-23 18:34] qiqicodes commented on #1592
This is what the filter tags look like on firefox mac

<details>
<summary>Filter tag bug on Firefox Mac</summary>
<img src="https://user-images.githubusercontent.com/68657634/119272452-c64a4780-bbba-11eb-8cb5-5f66a7c19f2d.png">
</details>

[2021-05-23 18:34] Aveline-art commented on #1592
This is my page on Danielle's resolution. Shown on firefox on windows.

![screenshotilovescreenshots](https://user-images.githubusercontent.com/62368440/119272442-bd597600-bbba-11eb-9d21-3bd384070833.png)

[2021-05-23 19:17] jbubar opened #1621 "Create wiki guide on adding images to wiki"
### Overview
We would love to teach people on how to add images to our wikis!!!!!

### Action Items
- [ ] create a new wiki with an appropriate title
- [ ] describe how images can be added to our wiki...

### Resources/Instructions
Rough outline:
1. clone the wiki repo
<details>
    <summary>relavent screenshot</summary>

![Screen Shot 2021-05-23 at 12 12 14 PM](https://user-images.githubuserconte

[2021-05-23 19:19] averdin2 commented on #1390
In regards to this issue, we decided not to include anything regarding command-line shells at this time. I added a brief recommendation to use VS Code at the top of the contributing file. See the screenshot below for that specific update.

<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/10714770/119273741-28a64680-bbc1-11eb-899e-f9a10b54cfd5.png)
</detai

[2021-05-23 19:24] jbubar opened #1622 "Add sidebar to wiki"
### Overview
We need a custom sidebar for the wiki so that we can navigate and find articles easily

### Action Items
- [x] create the custom sidebar (see option below the regular sidebar in the [wiki](https://github.com/hackforla/website/wiki)) following the new categories outlined in the [wiki file audit](https://docs.google.com/spreadsheets/d/1ZfLAUfpxjblvfobdewQ0SkQ9I2HqheD56c5ogrcYdiA/edit#gi

[2021-05-23 19:26] Aveline-art commented on #1622
@daniellex0 Is this the sidebar that you were referring to: [sidebar for expunge project](https://github.com/hackforla/expunge-assist/wiki)

[2021-05-23 19:38] jbubar opened #1623 "Create a document to become dev team leadership"
### Overview
Need a roadmap to leadership, so that folks can move into different leadership roles in the org!

### Action Items
- [x] make a draft
- [x] discuss with leadership... Bonnie
- [x] Finalize google doc draft
- [x] Create a wiki article from draft
  - [x] Complete wiki article first draft
  - [x] Obtain feedback for first draft
  - [x] Complete wiki article second draft
  - [x] Obtain fe

[2021-05-24 02:31] akibrhast commented on #1390
@averdin2 @jbubar Can the linked PR be removed from draft mode and merged yet ... ?

[2021-05-24 20:06] averdin2 commented on #1390
@akibrhast Yeah, I think it can be removed from draft and merged. I'll remove it from draft.

[2021-05-24 20:17] Linda-OC commented on #1550
I pushed my changes, but it automatically merged to Hack for LA branch somehow....sorry.  Please find my changes in the commit that referenced this issue above.  If everything looks ok, could we close this issue?  Thank you! @jbubar @daniellex0  @erikaBell
Worked with Akib on this and he said it is good to go!

[2021-05-25 16:16] ggrrettcchhenn opened #1629 "Update Project Profile: Expunge Assist"
### Overview
Please update the PMs on our project.

### Project card
https://www.hackforla.org/projects/expunge-assist

### Action Items

- [x] Expunge Assist Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] title
      - [x] description
      - [ ] image
      - [ ] leadership

[2021-05-25 16:25] ggrrettcchhenn commented on #1629
**Leadership Update:**

- [ ] Remove Myranda Pierce
- [ ] Add Apurva Barve
Member Name: Apurva Barve
Role: Product Manager
Slack Member ID: U01Q1P81HGB
Github Handle: apurvabarve
(please keep Andan & Gretchen as PMs)

**Looking Update:**

- [ ] Remove Product Manager
- [ ] Add React Developer
Please keep all other roles (Marketing & Communications, UI Designer, Graphic Designer)

Image update comi

[2021-05-25 19:55] ExperimentsInHonesty opened #1630 "Work flow for guides to appear on the website"
### Dependency
- [x] Waiting for a PM to get assigned to Guides (ask Bonnie or Olivia for status if necessary)
- [x] ~Waiting until PMs have identified all guides that are ready (at least 5 are needed for this test)~

### Overview
As PMs we need guides to be easy and fast to add to the website so that we have our guides appear on the website as soon as possible.

### Action Items
- [x] Define the

[2021-05-25 20:05] ExperimentsInHonesty commented on #1630
proposed work flow
a guide gets assigned in the CoP
assignee reaches out to HfLA design team to ask for an image via a template issue on hfla github
designer posts back on the guide issue with image details
new issue on hfla github with finished guide pdf url and image details previously provided - issue is auto labeled to development

[2021-05-25 20:11] ExperimentsInHonesty commented on #1630
we need to make it so that the pdfs load in the browser window using github.

[2021-05-25 22:17] daniellex0 opened #1635 "Figure out how to link to a guide pdf on Toolkit page"
### Overview
We need to figure out how to link out to guide pdf's from the [Toolkit page](https://www.hackforla.org/toolkit/) guide cards, as an interim solution until all guide pages have their own webpages

### Action Items
- [ ] Figure out potential ways to link out to a pdf (without requiring users to download the pdf) from the [Toolkit page](https://www.hackforla.org/toolkit/) guide cards

[2021-05-25 22:23] daniellex0 commented on #1622
@Aveline-art Yes exactly 👍

I need to update @ruqpyL2 's [spreadsheet](https://docs.google.com/spreadsheets/d/1ZfLAUfpxjblvfobdewQ0SkQ9I2HqheD56c5ogrcYdiA/edit#gid=534478216) with Bonnie's edits and then we can start moving forward with this

[2021-05-25 22:42] jbubar commented on #1378
@Lol-Whut Could you share your progress on this so that we can give it to a new contributor?

Thanks for your contributions

[2021-05-25 23:49] qiqicodes commented on #1549
Progress: spoke with Danielle in regards to the consistency of the `...see more` feature on wins card. Figuring out the logics to incorporate the consistent wins card design.

- [ ] put `...` after the truncated wins card text
- [ ] put `see more` at the bottom right of each standard sized wins card
- [ ] put `see less` at the bottom right of each expanded wins card
Blocker: none

[2021-05-26 02:08] abenipa3 commented on #1525
Progress:
- Reviewed with Design and Product.
- Next Objectives:
   - Make mobile designs for new wireframes.
   - Include collapsible submenu design

Block: N/A
Availability: Open
ETA: 5/29/21

[2021-05-26 02:10] abenipa3 commented on #1515
Progress:

- Reviewed wireframes with Design and Product as stated in #1525
- Next Objective:
   - Add code with a collapsible menu to the prototype.

Block: N/A
Availability: Open
ETA: 5/29/21

[2021-05-26 02:27] wendywilhelm10 commented on #1550
@jbubar will create a new issue to make sure the desktop wins icon is accurate.

[2021-05-26 02:31] wendywilhelm10 commented on #1553
Could you please update your issue Sena?

[2021-05-26 02:32] SaashaG commented on #1593
I am finished with this issue. Let me know if you have any comments..
![image](https://user-images.githubusercontent.com/83323065/119594051-14bd3900-bda9-11eb-91bb-2d2dc0b0e3cb.png)

[2021-05-26 02:38] wendywilhelm10 commented on #1479
An attempt to address this issue has been made in the pull request #1491.  The next person assigned to this issue please feel free to continue the work off of the changes applied in the above mentioned pull request.  The only changes that need to be applied as mentioned in the pull request.
https://github.com/hackforla/website/pull/1491#pullrequestreview-657438594

[2021-05-26 02:53] abenipa3 commented on #1515
Feedback from Dev Team: We learned that the most feasible way to develop is to hide the nav-bar.

Will have the prototype ready by Sunday.

[2021-05-26 02:54] wendywilhelm10 commented on #1427
How's your progress coming along?  @GLRJr

[2021-05-26 02:56] wendywilhelm10 commented on #1442
@sanchece How is the progress on the Es Lint Rules?

[2021-05-26 02:58] wendywilhelm10 commented on #1329
@danyc23 Could you please update your issue?

[2021-05-26 04:12] jbubar commented on #1550
@averdin2 and I decided to revert the changes. I think there was a bit of confusion around what is being asked here.

Please reach out to me or alex.

@Linda-OC you were on the right track that we need to make some changes to the css, but we also need to make some changes to the HTML file.. This might require some JS! Yay

[2021-05-26 04:48] Linda-OC commented on #1550
Thank you!  I'll reach out to you and Alex on Slack and we can go from there.

[2021-05-26 13:26] #1559 closed, assigned to arghmatey

[2021-05-26 14:41] HackforLABot opened #1642 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 14:44] HackforLABot opened #1643 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 14:45] #1642 closed, assigned to akibrhast

[2021-05-26 15:19] #1643 closed, assigned to akibrhast

[2021-05-26 15:20] HackforLABot opened #1644 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 15:26] akibrhast opened #1645 "test issue"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-05-26 15:26] #1645 closed, assigned to nobody

[2021-05-26 15:35] HackforLABot opened #1646 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 15:35] #1646 closed, assigned to nobody

[2021-05-26 15:35] #1644 closed, assigned to nobody

[2021-05-26 15:36] HackforLABot opened #1647 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 15:38] HackforLABot opened #1648 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 15:39] HackforLABot opened #1649 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 15:40] #1647 closed, assigned to nobody

[2021-05-26 15:40] #1648 closed, assigned to nobody

[2021-05-26 15:40] #1649 closed, assigned to nobody

[2021-05-26 15:59] HackforLABot opened #1650 "red"
red@email.com

[2021-05-26 15:59] #1650 closed, assigned to nobody

[2021-05-26 16:09] HackforLABot opened #1651 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:09] #1651 closed, assigned to nobody

[2021-05-26 16:12] HackforLABot opened #1652 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:14] HackforLABot opened #1653 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:15] HackforLABot opened #1654 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:16] HackforLABot opened #1655 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:16] HackforLABot opened #1656 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:17] #1652 closed, assigned to nobody

[2021-05-26 16:17] #1653 closed, assigned to nobody

[2021-05-26 16:17] #1654 closed, assigned to nobody

[2021-05-26 16:17] #1655 closed, assigned to nobody

[2021-05-26 16:17] #1656 closed, assigned to nobody

[2021-05-26 16:20] HackforLABot opened #1657 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:21] HackforLABot opened #1658 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:22] HackforLABot opened #1659 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:24] HackforLABot opened #1660 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:24] HackforLABot opened #1661 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:25] #1657 closed, assigned to nobody

[2021-05-26 16:25] #1658 closed, assigned to nobody

[2021-05-26 16:25] #1659 closed, assigned to nobody

[2021-05-26 16:25] #1660 closed, assigned to nobody

[2021-05-26 16:25] #1661 closed, assigned to nobody

[2021-05-26 16:32] HackforLABot opened #1662 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 16:32] HackforLABot opened #1663 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 17:17] HackforLABot opened #1664 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 17:18] #1662 closed, assigned to nobody

[2021-05-26 17:18] #1663 closed, assigned to nobody

[2021-05-26 17:18] #1664 closed, assigned to nobody

[2021-05-26 17:26] HackforLABot opened #1665 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 17:32] HackforLABot opened #1666 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 17:50] akibrhast commented on #1028
This feature has now been implemented. Below is the link to the google app script and the functions that makes this work

- https://script.google.com/home/projects/1jySuEtxGfrQpuX1zinjH7sGlqevEnakVx9hGTaCnx-z0K6dQTwRVGMlI/edit
[code]

[2021-05-26 17:51] HackforLABot opened #1667 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-26 17:55] #1665 closed, assigned to nobody

[2021-05-26 17:55] #1666 closed, assigned to nobody

[2021-05-26 17:55] #1667 closed, assigned to nobody

[2021-05-26 23:36] GLRJr commented on #1427
I need some help with this

Progress: I figured out the problems with the CSS but I'm having trouble with the font

Blockers: the font isn't the the same even tho the code is.

Availability: just contact me but anytime after 5

ETA:It will be done when ever the problem is solved

Picture:
![image](https://user-images.githubusercontent.com/29311777/119744281-82687400-be40-11eb-8b23-0136ff3fa98f.png

[2021-05-27 00:28] BryonPm commented on #1033
@glenflorendo Please replace existing website text with:

Engage is a civic participation platform that makes it easier for constituents to offer their feedback on policy issues that local Councils are considering. Engage aims to increase access for community stakeholders who are unable to attend public meetings or may otherwise feel unheard by their local government.

The team will provide you wi

[2021-05-27 07:17] abenipa3 commented on #1525
Added new wireframes for mobile!

![mobile_guidepage](https://user-images.githubusercontent.com/38295612/119782368-f62a7100-be80-11eb-9322-6ec655dbe4ec.png)

[2021-05-27 18:55] averdin2 commented on #1441
The Stylelint [plugin](https://www.npmjs.com/package/stylelint-no-unused-selectors) I was looking into seems to not work for me. May need some help to see if this is still a viable option to get linting on unused class selectors. Otherwise, I think we don't lint for this. The only other tools I have found are ones that remove unused class selectors, which I don't think we want to do.

[2021-05-27 19:45] averdin2 commented on #1441
The GitHub action appears to work properly for forked repo pull requests on the main repo.

[2021-05-29 03:13] danyc23 commented on #1329
Blockers: No blockers.
Progress: Still working on it.
ETA: June 2, 2021

[2021-05-29 18:09] #1617 closed, assigned to grhhhh

[2021-05-29 18:13] #1597 closed, assigned to arghmatey

[2021-05-29 18:40] #1615 closed, assigned to iamtreetop

[2021-05-30 04:07] abenipa3 commented on #1515
Progress:

Added page-card and media query to hide the nav-bar as seen below.

<details><summary>Screen capture for page-card update</summary>

![image](https://user-images.githubusercontent.com/38295612/120091624-c1f1c300-c0c1-11eb-89ac-8f4afeabe4f9.png)

</details>

<details><summary>Screen capture for Media Query Update</summary>

![prototype-guide-page](https://user-images.githubusercontent.co

[2021-05-30 04:39] qiqicodes commented on #1383
@shinhope Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-30 04:55] qiqicodes commented on #1456
@pascuas Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-30 05:00] qiqicodes commented on #1289
@Rosalyn-broddie Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-30 05:03] qiqicodes commented on #1600
@cherrijeong Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-30 05:04] qiqicodes commented on #1592
@jamesberke Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-30 05:38] abenipa3 commented on #1525
Progress:

Added new mobile wireframes with submenus as seen above.

Note: As stated in #1515, Dev Team agreed that it would be more feasible to have no navigation bar in mobile mode. Media query has been added to the prototype.

![image](https://user-images.githubusercontent.com/38295612/120114732-67924a00-c135-11eb-97aa-7c9c1d5ecaf0.png)

Block: N/A

Availability: Open

ETA: Ready for Review

[2021-05-30 06:33] Aveline-art opened #1669 "Using Google's Apps Script to Automate On-boarding Processes"
### Overview
Several of the backend development leads have been discussing the feasibility of using Google Apps Script to automate several processes when new, potential volunteers complete the [Remote Onboarding Survey](https://docs.google.com/forms/d/e/1FAIpQLScXnJSyCXgO_RCAuCyOkG4sqGILpAepTlJ0HOaK4H_ccEVmNw/viewform). The goal of this feature is to improve productivity and workflow, and help new

[2021-05-30 08:46] cherrijeong commented on #1600
@qiqicodes @daniellex0

Progress: It's done and in a red marked area in [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A0)
Blockers: The web version of the dropdowns on the very bottom (frequently asked questions) is not prototyped in Figma, so I kept them as dropdowns without content inside. If that needs to be laid out on Figma, I can come back to it.
A

[2021-05-30 09:32] daniellex0 opened #1671 "Develop Projects Page"
### Overview
We need to develop the Projects page so that our project cards can move there from the home page, and it can eventually be linked to from the homepage/top nav.

### Action Items
- [x] View Projects page design on [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=532%3A1454) (in blue rectangle)
- [x] Add the new header, basing the code off of design

[2021-05-30 16:09] daniellex0 opened #1672 "Design mobile version of Role Description page"
### Overview
We need to design the mobile version of the Role Description page so that the page will be ready to go to development.

### Action Items
- [ ] View all of the draft mobile versions of the Role Description page that the design team worked on in the [Roles (WIP) Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5326%3A26395) (in blue rectangle on

[2021-05-30 16:27] daniellex0 commented on #1593
Great job 👍 . Closing issue and sending to development.

[2021-05-30 16:27] #1593 closed, assigned to SaashaG

[2021-05-30 16:48] daniellex0 commented on #1135
Progress: Continued working on backend CMS, learned more about direction of Roles page/Roles board.

Blockers: Limited time

Next Steps: Finish backend CMS design.

ETA: 6/2

[2021-05-30 16:48] wendywilhelm10 commented on #1613
Progress: I have made coding change.  Just need to create pull request.
Blockers: None
ETA: Will create pull request today.

[2021-05-30 16:51] daniellex0 commented on #577
Progress: Made progress with dev documentation of DS now that there us agreement about wiki redesign, standardized more mobile versions of pages on site, created more dev issues that will help with wrapping up the design system, continued adding remaining pieces to design system including documentation.

Blockers: Waiting for agreement about having a dedicated webpage for components, etc.

Next St

[2021-05-30 16:53] daniellex0 commented on #1416
Progress: Moving forward with wiki reorganization and reformat. Still determining whether to have dedicated web page for component documentation
Blockers: Limited time
Next steps: Meeting this week about stylebook, move forward with making updates to wiki

[2021-05-30 16:56] jamesberke commented on #1592
Progress: Identified the CSS that is not working and am looking for alternatives.

Blockers: Found new issue with Firefox compatibility, but the css we are using should be compatible with modern firefox browsers so I need to do a little more digging to find what the issue is.

[2021-05-30 17:04] Rosalyn-broddie commented on #1289
Progress: Danielle and Hope conducted interviews with new volunteers to get feedback on the HFLA homepage wireframes (I wasn't feeling well and wasn't able to attend). We got feedback that has been incorporated into new iterations that will be shown to users outside of the HFLA organization and that aren't already familiar with the website.
Availability: I'll be available to hold interviews with p

[2021-05-30 17:17] sayalikotkar commented on #1602
Backend team:
Josh @jbubar
Ava @Aveline-art
Jo @josiehandeveloper
Alex @averdin2
Erica @erikaBell
Akib @akibrhast

[2021-05-30 17:18] sayalikotkar commented on #1602
Update 05/29 - Josh will set up the google calendar for the team meeting on thursdays at 7 30 pm PDT and will open the issue to let the VRMS team know about the new meeting time @jbubar

[2021-05-30 17:21] sayalikotkar commented on #1343
Update 05/29: Bonnie Sihem & Sayali will clean up the roster this week.

[2021-05-30 17:25] sayalikotkar commented on #1608
@grhhhh how can we help you? looks like this item got moved to links/questions/review but we are not clear why.

[2021-05-30 17:27] #1028 closed, assigned to akibrhast

[2021-05-30 17:32] HackforLABot opened #1673 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-05-30 17:47] Rosalyn-broddie commented on #1482
Progress: Have a couple of options ready for an MVP, but I'll continue working on other options (animated, gifs, etc.) for the future
- Option 1: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?page-id=9616%3A0&node-id=9630%3A97224&viewport=1648%2C761%2C0.284930020570755&scaling=min-zoom
- Option 2: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?page-

[2021-05-30 17:47] abenipa3 commented on #1515
Feedback from Sunday Meeting: We would like to update the mobile prototype where the table of contents is hiding at the top (hamburger menu) while a top scroll button appears after the user scrolls through the page.

Note for future references (potential new issue): Create an accordion for mobile.

[2021-05-30 17:55] Aveline-art commented on #1623
ToDo:

- [ ] Add some way to contact people regarding blockers to leadership
- [x] Get feedback from previous leads that had graduated from H4LA.
- [x] Check in with @Olivia-Chiong and see if this process follows the projects she manages
- [x] Contact other teams for their process, and training for interdisciplinary skills of new members prior to moving to other teams
- [x] Gain feedback during de

[2021-05-30 18:08] christina245 commented on #656
Made new versions of the page on Figma.

[2021-05-30 18:11] Aveline-art commented on #1669
### To Discuss

- [ ] Should we move forward with this feature or abandon it?
- [ ] If so, what are the criteria for an MVP?
- [ ] After creating the MVP, what other features are required?

[2021-05-30 18:16] Aveline-art commented on #1623
Possible technical features:

- Use github actions to track contributions (will this require a backend or a local file storage)?
- Pathways for various items such as a way to assign mentors or ways to assign larger issues
- How will people view their currently leadership "checklist"? Will it be part of the website? Or live elsewhere?

[2021-05-30 18:17] abenipa3 commented on #1525
Feedback from Sunday Meeting:

- Experiment with designing new wireframes that will include the feedback from dev team #1515 (adding the sections at the top as well as a top scroll.)
- Note for future references (potential new issue): Create an accordion for mobile.
- Use the image below as references:
![image](https://user-images.githubusercontent.com/38295612/120138961-5e809780-c18c-11eb-80e0-11

[2021-05-30 18:19] GLRJr commented on #1623
Please review the [google document](https://docs.google.com/document/d/1fiFSfDClz3156Sp6aFyPcHM8Jq4h9PC7jZXtQhXhwi4/edit)
add some comments and unassign yourself from this issue.
we want to create a very clear pathway to team leadership and beyond. And we would like your feedback.

[2021-05-30 18:30] GLRJr commented on #1669
Discussed in Dev meeting, Currently it only adds people to the community of practice github repo.
- we need to know if the on-boarding google form was useful?
- Do we want it to add them to specific team's google drive and github repo?
- Should we add the contributor to the community practice google drive?

[2021-05-30 18:41] GLRJr commented on #1531
@grhhhh Do you need more eyes on this? Akib mentioned that you and Jo went over this. If you still have questions about this feel free to back it back int the Dev team meeting column.

[2021-05-30 21:00] jbubar opened #1674 "Create documentation for how to run our site with jekyll"
### Overview
Sometimes docker does not work, so we should have some documentation about how to use jekyll.

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wiki at this time. Thus, we will be adding wiki content through a different pr

[2021-05-30 21:03] jbubar commented on #1674
@cnk @akibrhast do we need a Gemfile? and also, are there any flags to add to the `jekyll serve` command that would be useful?

[2021-05-30 23:45] BryonPm commented on #1031
@glenflorendo Please replace hero image with the image below.
![image](https://user-images.githubusercontent.com/76059921/120123920-405c6c80-c177-11eb-87b1-c03081218aa5.jpeg)

[2021-05-31 15:34] cnk commented on #1674
To run Jekyll without Docker, one would need a Gemfile. The problem is, if there is a Gemfile in the repository, it interferers with the built in Gemfile in the Docker container.

Since the important thing is that our code match what GitHub is going to do with our files once pushed, I have been reluctant to do anything other than use the prebuilt, already working, Docker container. If you still wa

[2021-05-31 20:29] pascuas commented on #1456
@qiqicodes sorry for the delay. Just finished.
<img width="900" alt="Screen Shot 2021-05-31 at 1 26 41 PM" src="https://user-images.githubusercontent.com/59798280/120239877-1c029d80-c214-11eb-8165-a5490615c999.png">
<img width="895" alt="Screen Shot 2021-05-31 at 1 26 53 PM" src="https://user-images.githubusercontent.com/59798280/120239884-22911500-c214-11eb-9477-9804fe10c60d.png">
<img width="897

[2021-06-01 03:34] #1456 closed, assigned to pascuas

[2021-06-02 00:04] sena-ji commented on #1553
Was busy with some unexpected school assignments. Will generate a pull request with the fixes by the end of this week.

[2021-06-02 02:52] daniellex0 opened #1680 "Update Project Profile card instructions and process"
### Overview
We need to update the process and instructions for PM's from other projects updating their project profile cards on the Hack for LA website.

### Action Items
- [ ] Review the [current PMs' template](https://github.com/hackforla/product-management/issues/new?assignees=&labels=documentation%2C+feature%3A+project+profile+card&template=update-project-profile---name-of-project-.md&title=U

[2021-06-02 06:58] daniellex0 opened #2473 "Update Project Profile: [name of project]"
### Overview
We need to cleanup the current way for projects to do updates via new issues so that it can be easier for all involved

### Action Items
- [ ] Gather all the information about the various methods
- [ ] Review the template provided by Danielle and Sihem below

### Resources/Instructions
[Current template](https://github.com/hackforla/website/issues/new?assignees=&labels=P-Feature%3A+Pr

[2021-06-02 19:10] #1608 closed, assigned to grhhhh

[2021-06-02 19:16] #1616 closed, assigned to DGnzl

[2021-06-02 19:19] #1592 closed, assigned to jamesberke

[2021-06-02 19:57] jbubar commented on #2473
@daniellex0 this is really great!
We should change it on website repo asap

[2021-06-03 18:44] #1605 closed, assigned to nobody

[2021-06-04 00:36] jamesberke commented on #1635
@daniellex0 if this is a temporary solution I think the best way link the PDF's is to host them as static assets and use an <href> tag to link them.

I did this on my portfolio site for my resume. If you want to see it's here [portfolio](https://www.jamesberke.dev)

[2021-06-04 03:12] akibrhast commented on #1602
###  Determine which technologies need to be used.

- Confirmed using react as front end with potentially redux
- Express as the backend
- Postgres as the database
- Ensure application is containerized with docker.

###  Determine the monetary costs of using these technologies.
- Currently negligible as we will be running on the free tiers.

[2021-06-04 03:24] daniellex0 commented on #1635
@jamesberke Awesome, thank you for the head's up about this!!

[2021-06-04 03:24] akibrhast opened #1685 "Come Up With User Stories For Roles/Jobs Page"
### Overview
We need to generate user stories to reach a consensus about the functionality of the civic tech job.

### Action Items
- [ ] Create User Stories for the jobs page
- [ ] Use the existing job boards for reference to potential user stories

### Resources/Instructions
Existing Job Boards:
- https://github.com/hackforla/engineering/projects/2
- https://github.com/hackforla/UI-UX/projects/3

[2021-06-04 04:58] Aveline-art opened #1686 "Propose a new system for creation of issues regarding updates to Project Profile cards"
### Overview
Product Managers of the Hack for LA projects have indicated that the current system for updating their project cards on the website is cryptic, cumbersome, and error prone. Therefore, the development team has been in talks about a potential alternative.

For more information on our current process for updating cards, please see this related issue:
[#1680 Update Project Profile card in

[2021-06-04 05:00] Aveline-art commented on #1686
@daniellex0 Hi Danielle! This is the issue/discussion for the long term solution to addressing PM concerns regarding updating Project Profile cards. Feel free add anything to the discussion here or join us for the backend meeting. ~~We will review and revisit this topic starting next backend meeting.~~ June 6, 2021, @Aveline-art note: project evolved into a separate team.

[2021-06-04 05:15] Aveline-art opened #1687 "Embedding Code for America donation box to HackForLa website"
### Overview
The [HackforLA Join Us page](https://www.hackforla.org/join) contains a section titled "Make a donation to Hack for LA". Within this section is a link to [Code For America's donation page](https://www.codeforamerica.org/donate/), where potential donors can submit their donation. This creates a two step process to donate to our parent organization. We propose that it might be more favo

[2021-06-04 13:17] SaashaG commented on #1552
I believe this is completed. Let me know how it looks.
![image](https://user-images.githubusercontent.com/83323065/120807127-9cc3e100-c515-11eb-9185-e1c7a8a1c795.png)

[2021-06-04 17:19] cherrijeong commented on #1600
Progress: Design's done--in a red marked area in [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A0)

[2021-06-04 17:39] paulsvh commented on #1685
-As a volunteer job-seeker, I want to be able to find and learn about open roles on the Hack 4 LA team so that I can potentially pursue one of these roles. (e.g. the roles are presented/described in a list accessible to volunteers)

-As a project manager, I want to be able to create, update, and remove job postings for roles available within the Hack 4 LA team. (e.g. project managers get full CRUD

[2021-06-05 06:52] arghmatey commented on #1685
As a project manager, I want to receive a notification in my project's main Slack channel when a volunteer is interested in one of my job postings.

As a volunteer, I want the ability to filter new job opportunities based on my role, preferable technologies, program area I'm interested in, personal experience level, specific project name, and availability for meeting times.

[2021-06-05 16:31] wendywilhelm10 commented on #1685
As a full-stack developer and volunteer, I want to be able to find open positions in the different projects offered by Hack 4 LA.  I would like to use this platform to increase my skills in the technologies I have been learning so that I can eventually find a job using these skills.

[2021-06-05 20:36] wendywilhelm10 commented on #1671
Progress: Started and have a couple of questions.
Blockers: Need some questions answered.
Availability: Open
ETA: Week or two

[2021-06-05 21:24] grhhhh commented on #1685
- As a project manager, I want my volunteer role to be easy to search for so that candidates can find it without difficulty.

_These specifically reference functionalities represented on the Figma design_:
- As a project manager, I want my project meeting times to be displayed on the role description so that candidates know our meeting schedule.

- As a project manager, I want my volunteer role to

[2021-06-06 04:53] daniellex0 commented on #1600
Looks great, thanks Cherri!

[2021-06-06 04:53] #1600 closed, assigned to cherrijeong

[2021-06-06 05:25] daniellex0 commented on #1687
Thanks for creating this issue! I will say, this was brought up as an option by a PM - but they mentioned, and I agree, that Bonnie might not want this at all. So there is a big chance this will be a no-go, but it's good to double check just in case!

[2021-06-06 05:28] daniellex0 commented on #1680
Draft issue:

- https://github.com/hackforla/product-management/issues/263

[2021-06-06 05:36] daniellex0 commented on #1686
Thank you so much for creating this issue @Aveline-art ! So I actually took a stab at drafting an issue because I discussed this with the PM's at their Community of Practice meeting, and they were asking for the new language asap.

Everyone please feel free to add any thoughts/edits/etc- I sent it to Josh a few days ago but would love feedback from everyone (the PM's are also reviewing this appare

[2021-06-06 05:53] daniellex0 opened #1688 "Update Toolkit page's filter banner font weight"
### Overview
We need to update the font weight of the unselected categories in the Toolkit page filter banner so that they are more legible.

### Action Items
- [x] Change the font-weights of the unselected filter categories on the [Toolkit page](https://www.hackforla.org/toolkit/) to 'normal' instead of 300
   - [x] Make sure not to affect the selected (pink) category- which should stay bold, as

[2021-06-06 05:53] abenipa3 commented on #1515
Progress: Added scroll to top button for mobile.
<details><summary>Screen capture</summary>

![scrolltop](https://user-images.githubusercontent.com/38295612/120914126-cdf4fc00-c650-11eb-9c3a-39e57514721f.gif)

</details>

Block: Will review new wireframes with design team.

Availability: Open

ETA: TBD

[2021-06-06 05:59] abenipa3 commented on #1525
Progress: New mobile wireframes with scroll to the top button and Guide Title Banner.

![image](https://user-images.githubusercontent.com/38295612/120914249-a5b9cd00-c651-11eb-9c73-0ef43ee333d4.png)

Block: N/A

Availability: Open

ETA: TBD

[2021-06-06 06:18] #1613 closed, assigned to wendywilhelm10

[2021-06-06 06:30] #1612 closed, assigned to evancchen

[2021-06-06 06:41] #1618 closed, assigned to DGnzl

[2021-06-06 06:46] daniellex0 opened #1689 "Fix reusable page-card class from design system"
### Overview
We need to change all instances of the class ".page-card-base" to just ".page-card" because the "base" was added temporarily when a different ".page-card" class used to exist. Now that it has all been standardized, all instances should be switched to just ".page-card" to be consistent with the design system standard syntax.

### Action Items
- [x] In _cards.scss change ".page-card-bas

[2021-06-06 06:55] daniellex0 opened #1690 "Standardize technology name in Not Today project card"
### Overview
We need to standardize the name of a technology (React Native to just React) in the [Not Today](https://www.hackforla.org/projects/not-today) project description so that it is standardized and doesn't throw off the technology filter.

### Action Items
- [ ] Under technologies in the [Not Today](https://www.hackforla.org/projects/not-today) project description, change React Native to j

[2021-06-06 07:06] daniellex0 opened #1691 "Update Project Membership - Hack for LA Website"
### Overview
We need to update the membership listing on the [Hack for LA Website project page ](https://www.hackforla.org/projects/website)

### Action Items
**All Hack for LA website team members:**

- [ ] Submit the following information in a new comment below:
- **name:** First Last
- **role:**
- **slack:** 'https://hackforla.slack.com/team/xxxxxx' **(see Slack note below)
- **github:** 'https

[2021-06-06 07:28] daniellex0 opened #1692 "Standardize the Guide pages in mobile"
### Overview
We need to standardize the existing Guide pages while we wait for the future guide page updates to be implemented

### Action Items
- [ ] In the [2FA guide page](https://www.hackforla.org/guide-pages/2FA) **only in mobile**, adjust the margin around the page cards (here called "section containers") to margin: 0 0 7% 0 (instead of 2% 12%)
- [ ] This is for all screen sizes (mobile/desk

[2021-06-06 07:32] #979 closed, assigned to nobody

[2021-06-06 07:32] #1052 closed, assigned to nobody

[2021-06-06 07:34] #1504 closed, assigned to nobody

[2021-06-06 07:36] #1635 closed, assigned to nobody

[2021-06-06 07:44] daniellex0 opened #1693 "Add missing periods in the Getting Started page"
### Overview
We need to make sure there are periods at the end of every text section in the [Getting Started page](https://www.hackforla.org/getting-started) for consistency

### Action Items
- [ ] Add a period to the end of every mini paragraph in the Getting Started page
   - [ ] Don't add periods to the numbered list under 'Next Steps'

### Resources/Instructions
[Getting Started page](https://

[2021-06-06 07:58] daniellex0 opened #1694 "Adjust size of header CTA button on homepage"
### Overview
We need to adjust the size of the large header button on the homepage because now that the text is shorter ("Join Us"), the button isn't large enough/doesn't draw enough attention compared to the button below it.

### Action Items

- [x] A new standard button class  "**.btn-xl-long**"  should be added to the design system via [_buttons.scss](https://github.com/hackforla/website/blob/g

[2021-06-06 08:11] daniellex0 opened #1695 "Require the Wins page submissions include text"
### Overview
We need to require that submissions for the Wins page include text, so that we don't have any blank wins cards once the badge icons are implemented (for ex, Abigail Hipps' Wins card will be blank and only include one icon)

### Action Items
- [x] Find a way to require that the Wins page Google form submissions include text (not only checking off the checkboxes)

### Resources/Instruct

[2021-06-06 09:14] daniellex0 opened #1696 "UX Research Roadmap for the Impact page content"
### Overview
We need to conduct UX Research to determine what would be the most effective content for the Impact page, to properly appeal to our target users.

### Action Items
- [x] Determine what forms of UX Research will be appropriate for determining potential content for the Impact page
   - [ ] Interviews, C&C Analysis
- [ ] Determine what content (data, quotes, etc) is feasible/possible to

[2021-06-06 09:24] daniellex0 opened #1697 "Update mobile version of Events page in Figma"
### Overview
We need to update the mobile version of the [Events page on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=62%3A94) so that it is consistent with the website

### Action Items
- [x] Examine the current mobile version of the [Events page](https://www.hackforla.org/events/) using Right click > "Inspect" in your browser to measure margins, font sizes

[2021-06-06 09:24] daniellex0 commented on #1697
How to measure measurements in mobile with "inspect"-

Select both of these:
<img width="127" alt="Screen Shot 2021-05-19 at 11 28 33 PM" src="https://user-images.githubusercontent.com/67400366/118929973-08913180-b8fa-11eb-9a96-49aff5bcaff7.png">

And then you can measure specific elements of a page in mobile by hovering over them and/or click on them and looking at the styles/css panel of inspect

[2021-06-06 09:35] daniellex0 opened #1698 "Replicate mobile version of Project page"
### Overview
We need to add a mobile version of the Project page in Figma, because there is currently no mobile version on there (only desktop).

### Action Items
- [ ] Examine the current mobile version of the [Project page](https://www.hackforla.org/projects/100-automations) using Right click > "Inspect" in your browser to measure margins, font sizes, etc (ask @daniellex0 for guidance, and see m

[2021-06-06 09:35] daniellex0 commented on #1698
How to measure measurements in mobile with "inspect"-

Select both of these:
<img width="127" alt="Screen Shot 2021-05-19 at 11 28 33 PM" src="https://user-images.githubusercontent.com/67400366/118929973-08913180-b8fa-11eb-9a96-49aff5bcaff7.png">

And then you can measure specific elements of the page to replicate the designs of the Project page in mobile:

<img width="283" alt="Screen Shot 2021-0

[2021-06-06 09:58] daniellex0 opened #1699 "Replicate mobile version of Project Meeting Times page based on Design System"
### Overview
We need to add a mobile version of the [Project Meeting Times page in Figma](https://www.hackforla.org/project-meetings), because there is currently no mobile version on there (only desktop).

### Action Items
- [x] Design the mobile version of the [Project Meeting Times](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=925%3A0) page on Figma (in pink rect

[2021-06-06 14:16] akibrhast commented on #1685
- As a project manager I would like to have the ability to start creating a new open role and save it in an unfinished state, without making the role live
- As a project manager I would like to have the ability to create new open roles based on an existing template.
- As a project manager I would like to have a dashboard to view all the people and their resume/background that applied to a role I c

[2021-06-06 15:30] Sihemgourou commented on #1691
Name : Sihem Gourou
Role : Product manager
Slack : https://hackforla.slack.com/team/U021GM545UG
Github : https://github.com/Sihemgourou

[2021-06-06 16:10] daniellex0 commented on #1469
Update: We will discuss this in the design team- sorry about the delay, the homepage redesign is getting priority in discussions right now

[2021-06-06 16:18] daniellex0 commented on #707
Progress: Guide was reviewed and approved- I just need to move around some of the sections per feedback and it will be ready.
Blocks: None
ETA: Tue

[2021-06-06 16:20] daniellex0 commented on #1416
Progress: Figured out that can use expandable arrows for wiki sidebar organizations. Met about Storybook, which will be way too difficult to implement without React (let alone with). Dedicated web page for component documentation looking like best option right now.
Blockers: Limited time
Next steps: Move forward with making updates to wiki

[2021-06-06 16:24] daniellex0 commented on #577
Progress: Moving forward with wiki sidenav with expandable arrows, deciding not to use Storybook for dev documentation because it is too complicated to implement (even with React, not to mention without)- dedicates webpage is looking like best option, standardized more mobile versions of pages on site, created more dev issues that will help with wrapping up the design system, continued adding rema

[2021-06-06 16:26] daniellex0 commented on #1135
Progress: Working on assigning dedicated designer(s) to roles page/project

Next Steps: Finish backend CMS design.

ETA: 1 week

[2021-06-06 17:27] sayalikotkar commented on #1669
06/06:
Decisions-
Move forward with this. Create a separate design sprint for this initiate. Sayali to create meeting & take forward:

[2021-06-06 17:36] sayalikotkar commented on #1673
- [x] Akib to fix the review tab

[2021-06-06 17:44] sayalikotkar commented on #1265
06/06: Create new strike team, led by Sihem to reimagine the process of PMS adding & updating their project cards.

Team to work on this:
Champion- Sihem
Developers- @erikaBell  (backend), @arghmatey (frontend)
UX- ? (@daniellex0 to check in the UX/UI community of practice)
Bonnie & Olivia
PMs from the friday community of practice meeting

[2021-06-06 17:50] #1687 closed, assigned to averdin2, akibrhast, jbubar, Aveline-art, daniellex0, erikaBell

[2021-06-06 17:52] Aveline-art commented on #1687
### June 6, 2021

Closed due to feasibility issues and soon to be obsolete due to HackForLA 501(c)(3) designation with own private donation box.

[2021-06-06 17:53] sayalikotkar commented on #1691
Daneille will add a slack id column in the team roster & the team has to update their own slack ids in there

[2021-06-06 17:53] jbubar commented on #1685
- as a future contributor, I would like to see the open roles, in order to decide if I have the skills to contribute to a project
- as a veteran contributor, I would like to see what the projects are up to, so that I can get a quick commit in on a project

[2021-06-06 18:49] wendywilhelm10 commented on #1623
6/6/2021 - We will leave this on for a week to receive responses and then create an issue to add this information as a wiki.

[2021-06-06 18:52] wendywilhelm10 commented on #1602
Bonnie said this is going to move to it's own project, separate repo, and it will have it's own team.  Currently the new project is on stand-by because it's looking for a PM.

[2021-06-06 18:52] #1602 closed, assigned to jbubar

[2021-06-06 18:59] wendywilhelm10 commented on #1265
This issue was beautifully worded by Ava and the devs team suggests we continue discussion over there.  #1686 @Sihemgourou please close this issue if you agree.

[2021-06-06 19:09] jbubar commented on #1033
@kathyfregoso @BryonPm The link to the Site, & Test Site provided in this issue are not working on my computer.

<details>
    <summary>screenshot of error</summary>

![Screen Shot 2021-06-06 at 12 07 58 PM](https://user-images.githubusercontent.com/53061723/120937009-d8021380-c6bf-11eb-9e3d-45d6be2446ee.png)

</details>

[2021-06-06 19:26] arghmatey commented on #1614
@daniellex0 Hi Danielle! There are a few 'placeholder' mini project cards in the Figma file that require an image, but no such image exists in the repo. I found two placeholder image paths are currently being used on the page, but neither file actually exists in the repo: `/assets/images/projects/project-in-formation.png` and `/assets/images/projects/placeholder.jpg`. I'm wondering if you know whe

[2021-06-06 19:50] akibrhast commented on #1686
---

[2021-06-06 19:52] akibrhast commented on #1265
Closing this issue, as Home Unit Us card terminology has been updated.

[2021-06-06 19:52] #1265 closed, assigned to nobody

[2021-06-06 21:05] Aveline-art commented on #1622
@daniellex0 Just want to make sure this issue does not die. Can anyone be assigned to it at the moment? Is the work on this in progress?

[2021-06-06 21:19] daniellex0 commented on #1622
Thank you for checking on this @Aveline-art ! I will meet with @ruqpyL2 to work on this, but in the meantime I wanted to just make double triple sure devs are ok with the new categories. I already shared the doc in a dev meeting in the past but I'm not sure many people looked at it beyond a passing glance, especially the 2nd/3rd tabs with the new categories. What do you think would be the best way

[2021-06-06 23:21] Aveline-art commented on #1622
Got it! I will move it to the dev meeting discussion items and it will most likely be picked up Tuesday. The document is a little cryptic, though, so I am unsure if the team can comment on it. Can you or @ruqpyL2 post some discussion questions relating to your possible concerns? I do not think the team have experience exploring our wiki very often, so it is hard to form an opinion on the categorie

[2021-06-06 23:26] Aveline-art commented on #1685
1. As a volunteer, I want to be able to search for projects that explores my areas of interest.
2. As a volunteer, I want to clearly know how to submit my intention to apply for a project.

@akibrhast Can we get some PMs to document their own user stories, if not already?

[2021-06-07 17:10] daniellex0 commented on #1622
@Aveline-art just double checking, did you notice the second and third tabs? Those describe each wiki article and which category it can fit into

[2021-06-07 17:20] jamesberke commented on #1498
@daniellex0 does this still need to be fixed? The history of this issue is a bit confusing to me. It's just an issue with the flex direction and justify content, so a super easy fix

[2021-06-07 22:15] Aveline-art commented on #1622
Thank you for letting me know! I have taken a look at it, and just to be sure, do you have any specific concerns that you would like the devs to address or would you like us to make general comments and observations?

[2021-06-08 19:53] daniellex0 commented on #632
Needs to be reviewed with Bonnie for direction

[2021-06-08 20:05] daniellex0 commented on #1135
Added Ingrid as designer for Civic Tech Jobs board

[2021-06-08 20:05] #1135 closed, assigned to daniellex0

[2021-06-08 20:06] daniellex0 commented on #1672
Please provide update

1. Progress
2. Blockers
3. Availability
4. ETA

Thank you!

[2021-06-08 20:15] daniellex0 commented on #656
@christina245 Can you please provide an update about the new version of your questions? Thanks!

[2021-06-08 21:16] sena-ji commented on #1553
I tried to include most of the standardized classes as much as possible without changing things. I know it was mentioned to not touch the letter from the ED but if I deleted the white background from the .page-card--about class and use .card-primary class, the letter itself did not have a white background. So added the .card-primary to the letter from the ED. Same with the box shadow around the ed

[2021-06-08 23:57] daniellex0 commented on #1622
@Aveline-art  I think it would mostly be helpful to know if they agree with the categories/the way the different articles are organized into the categories. And if they have any suggestions for changes/improvements. Because we don't want anyone upset or annoyed when these changes are made! :)

[2021-06-09 01:18] alexilee commented on #2473
This is great, thanks for doing this. Two places where I got confused:
1. Which project board should we create the issue? I think the answer is HfLA website team's board but it might be good to call it out explicitly.
2. I got confused whether the Devs section was intended for a dev on my team or the HfLA website team. I see it described at the top but I think it could be clearer. Maybe something

[2021-06-09 01:19] #1031 closed, assigned to glenflorendo

[2021-06-09 01:29] abenipa3 commented on #1525
Progress: Created new wireframes for mobile and desktop. (Prototype + Full Version of the Github Guide Page)

<details><summary>Screenshot of Updated Prototype (Mobile Only)</summary>

With Two Lines
![iPhone 8 - 78](https://user-images.githubusercontent.com/38295612/121278651-ed299e80-c887-11eb-94f9-2d4287f35a8f.png)

With One Line
![iPhone 8 - 79](https://user-images.githubusercontent.com/382956

[2021-06-09 01:50] jbubar commented on #1623
@KianBadie @cnk @drubgrubby  we would love your opinion on this issue.

[2021-06-09 02:17] ghost commented on #1623
Per Olivia at PM CoP meeting, I am adding the following suggestions for non-technical skills for dev leadership:
-Ability to teach others (code/processes), not in the formal sense, more like share knowledge
-Ability to communicate with non-tech

[2021-06-09 02:19] natenateo commented on #1623
What about a required reading list? I would suggest a scrum book, Annie Duke "How to Decide", Trout "Positioning: The Battle for Your Mind", and Peter Thiel "Zero to One".

[2021-06-09 02:58] marcobarrera commented on #1622
On behalf of the dev team, we are very impressed with the work yall have done. Thank you @daniellex0 @ruqpyL2 We spoke about the categories and we have some suggestions:
1. We would like site architecture and code templates split into separate categories rather than one.
2. We want a new category titled How To. The articles that fall under these would be the 4 How To Wikis.
3. Ensure file name sty

[2021-06-09 03:38] arghmatey commented on #1614
@daniellex0 Disregard my question! I was shown how to export images from Figma during the developers meeting today!

Thanks!

[2021-06-09 04:12] Aveline-art commented on #1623
Suggestion:

Mentors should take a part in reviewing their mentee's first and second PR review.

[2021-06-09 04:31] drubgrubby commented on #1623
There's a ton of useful and important things on that document, and I think it will be really helpful for people who want to be team leaders.

I think the challenge is separating what are actually "steps to leadership" from everything else so it's clear what people who want to be team leaders can work on.    A lot of things on that document - completing onboarding, doing increasingly difficult issu

[2021-06-09 19:58] #838 closed, assigned to ExperimentsInHonesty

[2021-06-09 20:13] Sihemgourou commented on #1343
We are missing slack ids for some active members, please open the roster and add your slack id. See tutorial :
How to find a Slack user ID
Click on a user name within Slack.
Click on "View profile" in the menu that appears.
Click the more icon "..."
Click on "Copy Member ID."

[2021-06-09 20:16] Sihemgourou commented on #1671
@wendywilhelm10  who do you need to answer the question ? Product, design, devs or others ?

[2021-06-09 20:30] Sihemgourou commented on #1673
@akibrhast
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 20:31] Sihemgourou commented on #1477
@averdin2
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 20:36] Sihemgourou commented on #1531
@grhhhh
I noticed that your PR seems to be waiting on additional review, feel free to talk to the person responsible for the review OR to  reach out to the general channel to get this unstuck ;

[2021-06-09 20:48] Sihemgourou commented on #1289
@rohit-309
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 20:51] Sihemgourou commented on #1441
@averdin2
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 20:55] Sihemgourou commented on #1549
@qiqicodes
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 20:59] Sihemgourou commented on #1442
@averdin2 @sanchece
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 21:01] Sihemgourou commented on #1550
@Linda-OC
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 21:04] Sihemgourou commented on #1482
@Rosalyn-broddie
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 21:16] Sihemgourou commented on #1594
@daniellex0
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-09 23:38] #1672 closed, assigned to cherrijeong

[2021-06-10 14:17] akibrhast commented on #1695
Brief Overview has now been marked as required. This should fulfill the above requested requirement. @daniellex0
![image](https://user-images.githubusercontent.com/32349001/121541078-f6745180-c9d4-11eb-9175-ea6ce358fd59.png)

[2021-06-10 14:37] #1532 closed, assigned to marcobarrera

[2021-06-10 16:26] akibrhast commented on #1673
The submission by Ava has been reviewed and the review tab has been fixed and stylized.

You can review the changes made [here](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit#gid=1706218917).

@ExperimentsInHonesty To look at the changes and to close this issue if approved.

[2021-06-10 17:24] akibrhast commented on #1623
I have made a wiki in regards to this, feel free to edit and comment on it.

https://github.com/hackforla/website/wiki/Becoming-A-Developer-Team-Lead-At-Hack-For-LA

[2021-06-10 19:37] Sihemgourou commented on #1548
@daniellex0 @wendywilhelm10 this issue seems done for me !
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-10 20:14] HiThereImCam commented on #1694
@daniellex0 Hi Danielle, the "Share your wins" button in the wins-hero.html shares the btn-xl class. What would you like me to do with the "Share your wins" button?

[2021-06-10 20:14] qiqicodes commented on #1549
Progress: Figuring out the css and logics to insert ellipsis (…) into HTML

- [ ] put `...` after the truncated wins card text

Blocker: none

[2021-06-11 02:00] #1599 closed, assigned to paulsvh

[2021-06-11 03:00] daniellex0 commented on #1686
UX designers joining strike team meeting will be @daniellex0 and @ ryan curtis on Slack (from UX Community of Practice/Expunge Assist)

[2021-06-11 03:08] daniellex0 commented on #1552
Final 'x' modal design agreed upon:

<img width="576" alt="Screen Shot 2021-06-10 at 8 08 10 PM" src="https://user-images.githubusercontent.com/67400366/121625074-9b1f7f00-ca27-11eb-93b0-fa94ab9eb73e.png">

[2021-06-11 03:19] daniellex0 commented on #1614
@arghmatey Got it, great!

[2021-06-11 03:21] daniellex0 commented on #1289
This phase of UX Research has been completed

[2021-06-11 03:21] #1289 closed, assigned to nobody

[2021-06-11 03:22] daniellex0 commented on #1695
@akibrhast Perfect, thank you!

[2021-06-11 03:29] daniellex0 commented on #1694
@HiThereImCam oh shoot, good catch... hmm.. I'l ask about this as the UX meeting tomorrow, and will get back to you on this!

[2021-06-11 03:31] daniellex0 commented on #1594
Hey @Sihemgourou btw this issue is in the Prioritized Backlog and hasn't been assigned yet, so there's no update until someone self-assigns it :)

[2021-06-11 04:12] akibrhast commented on #1695
Resolved!

[2021-06-11 04:12] #1695 closed, assigned to akibrhast

[2021-06-11 04:45] Aveline-art opened #1707 "GitHub action: Adding Issue Labels to Pull Requests"
### Overview

We need to have the pr's automatically populated with the same labels as the related issue so that the same methodology that people use to pick issues to work on can be used for prs to review (pick the issue that matches your current level).

### Details
Pull requests range in complexity and scope, and potential reviewers currently have a hard time deciding which pull requests to rev

[2021-06-11 05:11] Aveline-art commented on #1623
Agenda for Document Finalization Meeting, Friday, June 10, 2021 @ 6 PM PST (9 PM EST)

Below is the agenda for the emergency meeting. Several new points were identified and summarized during the Backend meeting on June 9th, detailed below. They are to be reviewed along with the [STEPS TO HFLA WEBSITE LEADERSHIP document ](https://docs.google.com/document/d/1fiFSfDClz3156Sp6aFyPcHM8Jq4h9PC7jZXtQhXh

[2021-06-11 06:30] #1689 closed, assigned to glenflorendo

[2021-06-11 09:28] daniellex0 opened #1708 "Add illustrations to guide cards in Toolkit page"
### Overview
We need to match illustrations to our guide cards on the Toolkit page so that each guide can have a unique, fitting image.

### Action Items
- [ ] Select one of the guides in the full guide topics list below
- [ ] Find an illustration that matches the topic of the guide, and also matches the style of illustrations on the Hack for LA website overall
   - [ ] Choose the illustration (or

[2021-06-11 13:33] #1553 closed, assigned to sena-ji

[2021-06-11 13:46] #1595 closed, assigned to Aveline-art

[2021-06-11 16:01] akibrhast opened #1709 "Clean up the website-write team"
### Dependency
- #1343

### Overview
The [website-write team](https://github.com/orgs/hackforla/teams/website-write/members) currently has too many inactive  members, or members who are no longer a part of hackforla.

- Active Member: Someone who has made a contribution to the website repository or wiki within the last 3 months
- Contribution: Code Contribution, Comment Contribution, Wiki Edit Con

[2021-06-11 16:09] akibrhast opened #1710 "website-write team is outdated"
### Dependency
- #1709

### Overview
The website-write team has a tendency to get outdated due to the "revolving doors" nature of the hackforla organization. This is not optimal since the website-write team has write permissions to website repo. Thus this list needs to be kept up to date.

### Action Items
- [ ] Write a github action that trims the people from the following teams who has not been

[2021-06-11 16:24] akibrhast commented on #1623
I have copy pasted the entirety of google docs into a wiki page
- https://github.com/hackforla/website/wiki/Being-A-Part-Of-Hack-For-LA-Team

We can use this during our meeting tonight to do markdown edits and finalizations
- https://stackedit.io/app#

[2021-06-11 17:09] Olivia-Chiong commented on #2473
I think this could be connected to a Google Form which would make filling it up easier.

[2021-06-11 17:10] ggrrettcchhenn commented on #2473
I LOVE that you have directions at the top. I got confused every time I've submitted one of these cards in the past about how to get the team's attention.

- Please add the correct image dimensions (this is something I've messed up in the past)
- Might help to add where we can find what technologies and tools our team is using
- Define status? Is it just Active or Inactive, or are there defined st

[2021-06-11 17:16] akibrhast commented on #1707
That is a good idea! But it should be its own issue and its own action. Something along the lines of:
- Create a github action called "request-linked-issue-on-pr.yml" that auto adds a comment[Please link an issue to this PR] to a PR if the PR has no linked pull request
- the trigger for the gh action should be  "On New PR creation + 20mins"

[2021-06-11 17:48] daniellex0 opened #1711 "Draft Case Study for Homepage Design"
### Dependency
Finishing the homepage launch.  When milesone 03 is completed https://github.com/hackforla/website/milestone/3

### Overview
We need to draft a case study for the homepage design process because it will help boost volunteers' portfolios and it will serve as a reference for future HfLA site volunteers

### Action Items
- [ ] Brainstorm session about the design process of the homepage

[2021-06-11 17:48] Sihemgourou opened #1712 "Synchronize "Status- needs updates" and a default comment"
### Overview
The tech, design and product leads on the website team needs to be able to ask for update on issues just by adding the "needs update" label.

### Details
Ideally, this default entry should appear by itself after putting the "needs update" tag.

![Capture d’écran 2021-06-11 à 19 45 04](https://user-images.githubusercontent.com/55627107/121728621-d1273680-caed-11eb-8c63-9f848b63bc3a.p

[2021-06-11 19:36] #1629 closed, assigned to nobody

[2021-06-11 21:13] HackforLABot opened #1714 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1106372497)

[2021-06-11 22:27] Sihemgourou opened #2450 "Hackforla-site Project card issue"
### **Overview**

We need to update the information about the project [INSERT PROJECT NAME] so that it is up-to-date on the Hack for LA website

### **Action Items**

Please check the standardized format for each element on the template

**PMs**

Please put in a comment the element that needs changes + changes to implement

- [ ]  title [of project]
- [ ]  description [of project]
- [ ]  image
<NO

[2021-06-11 23:33] #1680 closed, assigned to daniellex0

[2021-06-11 23:39] akibrhast commented on #1714
Approved

[2021-06-11 23:39] #1714 closed, assigned to akibrhast

[2021-06-12 00:06] Sihemgourou commented on #1690
@daniellex0 this needs to be included on the project card issue, we need to create a list of standardized technologies to avoid this type of issue from reiterating.

[2021-06-12 00:08] Sihemgourou commented on #2473
To do :  we need to create a list of standardized technologies

[2021-06-12 00:12] #1590 closed, assigned to HiThereImCam

[2021-06-12 00:24] #1061 closed, assigned to nobody

[2021-06-12 00:28] #1285 closed, assigned to nobody

[2021-06-12 00:28] #1070 closed, assigned to nobody

[2021-06-12 00:54] #799 closed, assigned to tarang100

[2021-06-12 01:03] Sihemgourou commented on #1690
@alfredosumosav
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-12 01:07] Sihemgourou commented on #1498
@jamesberke yes, it needs to be fixed to match the figma :)

[2021-06-12 01:21] Sihemgourou commented on #1378
@jbubar, Is @pascuas still on this issue ?

[2021-06-12 01:24] Sihemgourou commented on #1427
@GLRJr Your PR seems to have an answer, did you check it ?
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-12 01:36] Sihemgourou commented on #1329
@danyc23
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-12 02:03] #994 closed, assigned to nobody

[2021-06-12 03:04] #1519 closed, assigned to alexeysergeev-cm

[2021-06-12 04:39] Aveline-art opened #1717 "wins-feature-1: Badges container penetrates background of fixed menu"
### Overview
In our [wins-feature-1](https://github.com/hackforla/website/tree/wins-feature-1) branch of the website project, when the badges container is expanded in mobile (or when then .wins-page-tablet class is added), the container somehow "penetrates" the background of the menu. Below is a sample of such behavior: note that "I setup 2FA" appears on the fixed menu.

<details>
<summary>Image o

[2021-06-12 05:15] Aveline-art opened #1718 "wins-feature-1: Correct "setup" to "set up""
### Overview
One of the badges of our wins-feature-1 branch says, "I setup 2FA", when scrolled over. "setup" should be spelled as "set up".

### Action Items
- [x] Go through the architecture of the wins-feature-1 branch to locate the problem
- [x] Correct the problem until the badges show "I set up 2FA" when scrolled over
- [x] Fix should include edits to the wins-form in our project's google dri

[2021-06-12 05:17] Aveline-art commented on #1718
Note to future assignee. This issue is deceptively simple, but is also a lot of fun! You will have to read a lot of code and will quickly get a taste of our site's architecture just by working on this issue. If you have trouble or feel that you need some supervision/counsel, please do not be afraid to reach out to someone!

[2021-06-12 06:50] Aveline-art commented on #1623
Eureka! 20 days later, this is done! ([link here](https://github.com/hackforla/website/wiki/Being-a-Part-of-the-Hack-For-LA-Team)). @akibrhast did a lot of work before I brushed up some of the points. If anyone can, we would love some feedback, comments, and correction on this draft. Feel free to @ anyone! I am overjoyed to finally have this done!

[2021-06-12 09:29] Sihemgourou opened #1720 "**Cards**"
Cards can be added to your board to track the progress of issues and pull requests. You can also add note cards, like this one!

[2021-06-12 09:30] Sihemgourou opened #1721 "Redesign home page"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-06-12 10:05] #156 closed, assigned to nobody

[2021-06-12 10:06] #905 closed, assigned to nobody

[2021-06-12 10:07] #906 closed, assigned to nobody

[2021-06-12 10:08] #184 closed, assigned to nobody

[2021-06-12 10:08] #387 closed, assigned to ExperimentsInHonesty

[2021-06-12 10:10] Sihemgourou commented on #1033
@kathyfregoso @BryonPm Could you provide the right links please ?

[2021-06-12 10:15] #1119 closed, assigned to nobody

[2021-06-12 10:20] #1219 closed, assigned to nobody

[2021-06-12 10:21] #1395 closed, assigned to pawan92, alexilee, ExperimentsInHonesty

[2021-06-12 10:24] #386 closed, assigned to akibrhast

[2021-06-12 10:26] #689 closed, assigned to nobody

[2021-06-12 10:47] #807 closed, assigned to nobody

[2021-06-12 10:48] #701 closed, assigned to ExperimentsInHonesty

[2021-06-12 10:54] #688 closed, assigned to nobody

[2021-06-12 10:57] #794 closed, assigned to nobody

[2021-06-12 11:16] Sihemgourou opened #1722 "**Cards**"
Cards can be added to your board to track the progress of issues and pull requests. You can also add note cards, like this one!

[2021-06-12 11:16] Sihemgourou opened #1723 "Fix alignment of News section in About page #1498"

[2021-06-12 12:11] #1259 closed, assigned to Oluwafemi-Jegede

[2021-06-12 12:12] #969 closed, assigned to Oluwafemi-Jegede, tarang100

[2021-06-12 12:28] #1105 closed, assigned to Oluwafemi-Jegede

[2021-06-12 12:31] #1621 closed, assigned to nobody

[2021-06-12 12:54] #436 closed, assigned to nobody

[2021-06-12 12:54] #1057 closed, assigned to nobody

[2021-06-12 12:59] Sihemgourou commented on #1500
Hello ! @ggrrettcchhenn
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-12 13:04] #1691 closed, assigned to nobody

[2021-06-12 13:09] #587 closed, assigned to Sihemgourou

[2021-06-12 13:09] Sihemgourou commented on #1686
Related issues :
https://github.com/hackforla/product-management/issues/263
https://github.com/hackforla/product-management/issues/266
https://github.com/hackforla/website/issues/1343

[2021-06-12 13:11] #765 closed, assigned to nobody

[2021-06-12 13:12] #529 closed, assigned to nobody

[2021-06-12 13:16] Sihemgourou commented on #1712
@Aveline-art  I transfered your note here :
#New potential issue:
Create a bot or github action that automatically adds the Needs Update label along with a comment for instructions. This will help us ensure team members are on-track and receive the help they need!

Do people want this? Is it feasible?

[2021-06-12 13:17] Sihemgourou opened #1724 "#About Meetings"
Please write here the questions for the development meeting :

- [x] New team members do not know that doing PR reviews is part of their contribution to H4LA
- [x] How to get this information out there?
- [x] Proposal: Have one meeting a month dedicating to teaching members how to do PR reviews
- [x] Desired outcome: Teach members how to do PR reviews and get the information out there.

What are e

[2021-06-12 13:25] #1690 closed, assigned to alfredosumosav

[2021-06-12 13:31] Sihemgourou commented on #1619
Needs to validate the user flow with the product team. @ashleylin1 lets schedule a meeting !

[2021-06-12 13:35] #1287 closed, assigned to ExperimentsInHonesty

[2021-06-12 13:40] Sihemgourou commented on #1383
@shinhope
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-12 14:26] #1548 closed, assigned to wendywilhelm10

[2021-06-12 14:37] #707 closed

[2021-06-12 17:14] #610 closed, assigned to nobody

[2021-06-12 19:23] Sihemgourou commented on #1482
This looks good, great job @Rosalyn-broddie we can move this to development !

Lets go with this option : https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?page-id=9616%3A0&node-id=9630%3A97224&viewport=1648%2C761%2C0.284930020570755&scaling=min-zoom

[2021-06-12 19:26] BryonPm commented on #1033
@eselkin Please provide a time update for the site error message if possible.

[2021-06-12 19:40] #1723 closed, assigned to nobody

[2021-06-12 19:51] #1712 closed, assigned to akibrhast

[2021-06-12 19:54] HackforLABot opened #1727 "test"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-06-12 19:58] daniellex0 commented on #1469
Closing because we are working on this in issue #1619

[2021-06-12 19:58] #1469 closed, assigned to daniellex0

[2021-06-12 20:00] Sihemgourou commented on #1619
@ExperimentsInHonesty should we involve the civic opportunity team ?

[2021-06-12 20:04] #1727 closed, assigned to nobody

[2021-06-12 21:42] #1721 closed

[2021-06-12 22:09] Sihemgourou opened #1728 "Filter the technologies by categories"
### Overview
As a prospect volunteer, I want to be able to filter the project by technologies.

### Action Items
Development
- [ ] Make sure to update the [technologie categorisation sheet](https://docs.google.com/spreadsheets/d/146oHxCjQrmzXnj6luRgdnFaBc-2pNEr2PCxfmmvLaZU/edit#gid=0) with what appear on the website listing
- [ ] Create the filter with the different categories in the sheet (ex: ba

[2021-06-12 22:19] Sihemgourou commented on #1076
@ExperimentsInHonesty could you please review the draft so that we can move on with this issue ?

[2021-06-12 22:20] Sihemgourou commented on #1673
It seems ok for me. I suggest to close the issue

[2021-06-12 22:35] HackforLABot opened #1729 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-12 23:09] #767 closed, assigned to Sihemgourou

[2021-06-12 23:10] Sihemgourou opened #1730 "Google Analytics"
### Dependency
- [x] #3863
- [ ] After homepage relaunch

### Overview
As a product manager, I need GA to track activity on the hackforla website so that we can understand user behavior

### Details
for this issue, you will need access to the website 1password account
### Action Items
- [ ] Get access to the GA account
- [ ] Get access to the webadmin@hackforla.org email
- [x] Write up a summary o

[2021-06-13 01:55] abenipa3 commented on #1525
Progress: Applied changes to the hero section as suggested by Design Team.
Block: Need to vote on which hero design do we like best.

<details><summary>View Screenshots Here</summary>

**With Two Lines**
Desktop
![image](https://user-images.githubusercontent.com/38295612/121792991-ec5a7a80-cbaf-11eb-883a-119cbd3e61d9.png)

Mobile
![image](https://user-images.githubusercontent.com/38295612/12179295

[2021-06-13 02:01] abenipa3 commented on #1515
Progress: Scroll to top button bug fixed! Also added links to the page card, which will only appear on mobile.

![scrolltopandlinks](https://user-images.githubusercontent.com/38295612/121794099-7f001700-cbba-11eb-8cad-6ea3aa2469d7.gif)

Would like feedback on the links on page card as seen in the GIF above.
Had to create a div in markdown file for it to work. Any suggestions?
![image](https://user

[2021-06-13 02:59] Aveline-art commented on #1707
* Progress: Event triggers are set up. Currently trying to extract Linked Issue number. github env does not log linked issues in comments. Will need to use regex to extract linked issue's value.
* Blockers: Weighing the pros and cons of two methods of reading first comments. Through API or a potentially buggy github native env?
* Availability: Sunday, Wednesday, Friday, Saturday.
* ETA: By Tuesday

[2021-06-13 12:52] SaashaG commented on #1708
Est Completion Date 6/16/21

[2021-06-13 15:44] sayalikotkar commented on #1669
Progress: have not been able to initiate as I was traveling last week. Will be kickstarting in the week of 14 June.-
Blockers: none
Availability: 2 hours
ETA: not known yet

[2021-06-13 16:01] #1606 closed, assigned to marcobarrera

[2021-06-13 16:16] daniellex0 commented on #577
Progress: Got final feedback from devs about sidenav reorganization and their blessings to move forward with some edits; created issue for it to be implemented. Got approval from Bonnie to create a dedicated webpage for documenting reusable components. Standardized more mobile versions of pages on site, created more dev issues that will help with wrapping up the design system, continued adding rem

[2021-06-13 16:18] daniellex0 commented on #1416
Progress: Got approval for dedicated web page for component documentation, and got approval (with a few edits) from Bonnie and devs for wiki reorganization.
Next steps: Implement updates to wiki. Design dedicated webpage for documenting components and have it developed.

[2021-06-13 16:19] akibrhast commented on #1623
I believe this issue can now be closed.

[2021-06-13 16:26] daniellex0 commented on #1622
@marcobarrera Thank you so much for all reviewing it and for the feedback! This feedback all sounds great (as long as Bonnie approves too).

As soon as this gets the go-ahead, @ruqpyL2 and I agreed this could be a good dev issue if anyone wants to take on implementing this.

[2021-06-13 16:37] akibrhast commented on #1673
In a stylistic sense the review tab has been fixed. However I have discovered a new bug in the excel sheet where a new wins submission causes a skip column behaviour in the review tab. The current formula used in the Display Review column is as below.

[code]

Example:
- Row 32 corresponds to Responses B32
![image](https://user-images.githubusercontent.com/32349001/121815318-d26a7780-cc43-11eb-860

[2021-06-13 16:50] jbubar commented on #1104
Changed the draft pr to review. thanks Sihem for bringing this to my attention. sorry folks
#1314

[2021-06-13 16:52] jbubar commented on #1390
There is a pr for this. awaiting review

[2021-06-13 16:54] daniellex0 opened #1733 "Update Sitemap page and add to footer"
### Overview
We need to officially update the HfLA website sitemap because it is outdated.

### Action Items
Design
- [x] Explore the current sitemap iterations in the [Sitemap Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1558%3A13110)
   - [x] Explore the 'legend' for differences between each type rectangle of
- [x] Update sitemap according to current

[2021-06-13 17:15] GLRJr commented on #1343
Asked team members during meeting to update Slack Id, Next Step: revisit who is missing.

[2021-06-13 17:36] GLRJr commented on #1622
Decision is: Join Us will move to the home page and the About Us link will get a summary paragraph that references that there is more history and roadmap information available.

[2021-06-13 17:49] akibrhast commented on #1673
@ExperimentsInHonesty Requested that she needs to make sure "She doesn't look at things she has already reviewed/looked at",

True,False,Unreviewed[Default State]
Sort by new wins submission[Unreviewed on top] , Followed By True, False

[2021-06-13 17:51] GLRJr commented on #1709
During the weekly PM meeting team will deactivate inactive members.

[2021-06-13 17:52] ashleylin1 commented on #1619
1. Progress: Created 3 drafts on Figma to shorten the content on the page; I lessened the number of icons and condensed the information but it's still pretty wordy with many tasks listed on the page
2. Blocks: need to discuss the desired user flow and whether parts of it can be automated (ex. being added to the roster, Github, Google Drive, etc)
3. Availability: anytime after 4pm PST this week
4.

[2021-06-13 17:59] abenipa3 commented on #1515
Feedback from 6/13 Meeting:

- We want to avoid having to add HTML in the markdown so Akib suggested toc.
    - Will revisit the toc prototype to test it!
- ETA: Latest 6/19. Earliest 6/15.

[2021-06-13 18:31] akibrhast commented on #1724
Spend time on Developer meeting both on sunday and tuesday and do at least one pull request review with the crowd, and sell the wiki link that ava wrote https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests

[2021-06-13 19:00] Sihemgourou commented on #1730
Update: Tried with @ExperimentsInHonesty number, the text message for the double authetification didn't work. We will try to reset the double authentification :)

[2021-06-13 19:21] jbubar commented on #1669
This week, I would like to make a temporary one for the hfla website team, because I am getting tired of adding ppl to the google doc and calendar invites.
https://gist.github.com/Aveline-art/970743447633716be2ca3e264ac3421c

[2021-06-13 19:23] ggrrettcchhenn commented on #1500
![expungement-banner600x400](https://user-images.githubusercontent.com/27507664/121819463-0cd31500-cc42-11eb-8f21-afb65b0d0873.png)
sorry for the delay! we plan to update one more in line with our product branding in the coming weeks, but this one is the right dimensions for now and doesn't repeat our project name.

[2021-06-13 19:33] Sihemgourou commented on #1329
@danyc23 has been missing for more than 2 weeks.

[2021-06-13 19:40] Sihemgourou commented on #1442
@averdin2 is on vacation. Please tell us when you are back :)

[2021-06-13 19:46] Sihemgourou commented on #1500
@ggrrettcchhenn will give us a temporary image :)

[2021-06-13 19:50] Sihemgourou opened #1734 "HfLA: ALL TEAM Meeting Agenda☀️"
### Overview
This issue tracks the agenda for the HFLA website team and weekly roll call.

Please check in on the [Roll Call Spreadsheet]()

### Weekly Agenda
[21/06/20](https://github.com/hackforla/website/issues/1734#issuecomment-864607554)
[21/06/27](https://github.com/hackforla/website/issues/1734#issuecomment-864609580)
[21/07/18](https://github.com/hackforla/website/issues/1734#issuecomment-

[2021-06-13 22:18] Sihemgourou commented on #1673
Hello @akibrhast is there a way to notify the person who submitted the wins form that it is published ? This could be nice if the person wants to share it !

[2021-06-13 22:27] Sihemgourou commented on #1104
Hey @jbubar , thanks for the update ! Could your link the PR to the issue ?
Btw, are we going to use the Css form and leave the gform ?

[2021-06-14 07:18] Linda-OC commented on #1550
COLLAPSED (Before) - Icons in mobile were 1.7em
![2021-06-13 (8)](https://user-images.githubusercontent.com/67043889/121860601-b642f680-cc94-11eb-9641-f576737d1191.png)

COLLAPSED (After) - Icons in mobile are now 1.4em
![2021-06-13 (16)](https://user-images.githubusercontent.com/67043889/121860635-c2c74f00-cc94-11eb-859b-e1e7aa5f4838.png)

EXPANDED (Before)- Icons in mobile were 1.5em
![2021-06-1

[2021-06-14 15:51] shinhope commented on #1383
Progress: still waiting for Civic Tech Structure

[2021-06-14 16:34] ebele-oputa commented on #1851
https://github.com/hackforla/product-management/issues/263

[2021-06-14 18:05] akibrhast commented on #1482
@Rosalyn-broddie Could you please restructure the Figma designs for the error page such that it uses the grid system. Using the grid system is typically more industry standard and on top of that it also allows for easier creation of responsive UI, faster.

- Please componentize the Figma Designs as well. Such that the spaces between the two separate components are clear and distinct.
- The page it

[2021-06-14 18:26] #963 closed, assigned to nobody

[2021-06-14 18:28] #503 closed, assigned to ExperimentsInHonesty, alexandrastubbs

[2021-06-14 19:14] HiThereImCam commented on #1694
@daniellex0 Hi Danielle, any update on this?

[2021-06-14 19:26] #618 closed, assigned to nobody

[2021-06-14 19:48] Sihemgourou commented on #1051
@daniellex0 this seems finished right?

[2021-06-14 19:53] Sihemgourou commented on #1416
Hey @daniellex0, should we start the implementation of the design system in the code base ? we can already start with the validated part right ?

[2021-06-15 04:24] #1531 closed, assigned to grhhhh

[2021-06-15 06:53] daniellex0 opened #1739 "Create a Donate page"
### Overview
We need to create a dedicated Donate page so that users clearly know how to donate directly to Hack for LA before they visit the Code for America donate page.

### Action Items

Design
- [x] Review the donate gif and instructions in the bottom of the [Join Us page](https://www.hackforla.org/join)
- [x] Create a new page on Figma for the donate page
- [x] Design a donate page with the

[2021-06-15 16:27] akibrhast commented on #1685
@sharadgaurav7 I am going to unassign myself from this one for the moment and close this issue. I am  linking you to this just in case the information here is useful for us . The user stories and the information on this issue can be transferred to the new civictechjobs repository - https://github.com/hackforla/CivicTechJobs/issues

[2021-06-15 16:27] #1685 closed, assigned to sharadgaurav7

[2021-06-15 18:57] daniellex0 commented on #1416
Hey @Sihemgourou , some of it is already implemented! For example buttons and page cards, which are the most common reusable components throughout the site, are already standardized. The other big piece left is standardizing headings, and I discussed this with Akib yesterday about how to have developers help with that. But yes, there are some more pieces that need to be implemented 👍

[2021-06-15 18:58] daniellex0 commented on #1051
@Sihemgourou Yes the design is finished and being developed- we just need to fix the copy (the paragraph in the header)

[2021-06-15 19:12] sayalikotkar opened #1742 "Add sort by feature to the project board"
### Dependency
- [x] #3635
- [x] #3636
- [ ] wait until the wiki is working again

### Overview
We need to be able to sort the board by feature labels so that we can see the progress of any given feature

### Action Items

- [x] Add 'Feature missing' label to all issues without a feature label
- [x] For all 'Feature missing' issues, assign the appropriate feature label or create a new label if nee

[2021-06-15 20:51] akibrhast commented on #1416
@daniellex0 What is the next step that developers can take to help with that?

[2021-06-15 21:31] Sihemgourou commented on #1416
I am going to create an issue about that

[2021-06-15 21:35] Sihemgourou opened #1743 "Implement Design system heading typography in the code base"
### Overview
We need to implement the headings part of the design system as classes in the code base so that our heading sizes are no longer attached to h1/h2/h3 tags etc and can no longer negatively affect the accessibility/hierarchy of the web pages for people using screen readers

### Action Items

- [x] Go to the [Figma Design System page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack

[2021-06-15 21:39] Sihemgourou commented on #1500
I'll bring it up at the next CoP

[2021-06-15 21:42] Sihemgourou commented on #1742
We'll talk about that tomorrow at our product meeting :)

[2021-06-15 23:59] #1614 closed, assigned to arghmatey

[2021-06-16 01:09] daniellex0 commented on #1694
Yes! I'd like there to be a new standard button size- "**.btn-xl-long**"  (similar to how we have a btn-md-narrow).

The properties for it should be:

.btn-xl-long {
height: 72px;
padding: 0 80px;
border-radius: 100px;
font-size: 1.5rem;

  @media #{$bp-below-tablet} {
height: 60px;
padding: 0 70px;
border-radius: 60px;
font-size: 1.25rem;  }}

And that class should be applied to the homepage Join

[2021-06-16 01:52] ggrrettcchhenn commented on #1500
@Sihemgourou We noticed that some other projects have one image for their preview card, and a second image as their project page header. Could we submit a hero image as well? what are the correct dimensions / requirements for the project page header image? thank you!

[2021-06-16 01:57] connie-yu-dotcom opened #1748 "Update Project Profile: Civic Tech Index"
Updated by @Aveline-art June 16, 2021

### Overview
As a product manager of Civic Tech Index, the project needs to be up to date on the HackforLA website

### Project card

https://www.hackforla.org/projects/civic-tech-index

### Action Items

- [x] Update current project team
- [x] Remove the 3 currently listed open roles on the project card
- [ ] Remove the Tuesday Developer meeting
- [x] For de

[2021-06-16 02:00] connie-yu-dotcom commented on #1748
1. Please update the current project team to the following:
<img width="785" alt="Screen Shot 2021-05-04 at 8 41 45 PM" src="https://user-images.githubusercontent.com/80801490/122146400-f933d400-ce24-11eb-944e-58e4e470e77f.png">

2. No open roles please remove the 3 currently listed on the project card
<img width="493" alt="Screen Shot 2021-06-15 at 9 58 55 PM" src="https://user-images.githubuserc

[2021-06-16 02:26] abenipa3 commented on #1515
Updated ETA: 6/19.

[2021-06-16 02:47] daniellex0 opened #1749 "Provide feedback about the "Being a Part of the Hack For LA Team" wiki page"
### Overview
We need to gather feedback/edits/suggestions from new volunteers on the team about the "Being a Part of the Hack For LA Team" wiki page to make sure that it is as effective and clear as possible.

### Action Items
- [ ] Read the [Being a Part of the Hack For LA Team wiki page
](https://github.com/hackforla/website/wiki/Being-a-Part-of-the-Hack-For-LA-Team#phase-2-how-to-train-yourself

[2021-06-16 03:35] aliibsin commented on #1378
@jbubar will reach out to @pascuas on slack to see if he's still working on this issue

[2021-06-16 03:51] aliibsin commented on #1498
@jamesberke can you update us on your progress with this issue?

[2021-06-16 03:56] Aveline-art opened #1750 "Contributing.md: feature branch"
### Overview
The [contributing guide ](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)is an important documentation on situating new members to the team. Currently, it is lacking critical information about reviewing or creating non-default-branch (for example, the [wins-feature-1 branch](https://github.com/hackforla/website/tree/wins-feature-1)\).

### Action Items
- [x] Add fe

[2021-06-16 03:57] aliibsin commented on #1671
@wendywilhelm10 could you please ask your question to the HfLA slack channel and @ the people you want to answer it? that way other people may be able to answer your question as well.

[2021-06-16 03:59] aliibsin commented on #1442
unassigned @averdin2 because he's on too many issues

[2021-06-16 04:04] aliibsin commented on #1749
@hackforla/website-write please leave your feedback

[2021-06-16 14:54] #1707 closed, assigned to Aveline-art

[2021-06-16 14:58] akibrhast opened #1753 "TEST ISSUE 1"
### Overview
(Share some background on who would find the guide useful, what topic is should provide guidance on, and why it should be created. Additionally, if you are interested in writing this guide yourself, please include that information here.)

### Details
(Share as many details as possible regarding what the guide would be about.)

### Resources
(Include any resources that you have found h

[2021-06-16 14:58] akibrhast opened #1754 "TEST ISSUE 2"
### Overview
(Share some background on who would find the guide useful, what topic is should provide guidance on, and why it should be created. Additionally, if you are interested in writing this guide yourself, please include that information here.)

### Details
(Share as many details as possible regarding what the guide would be about.)

### Resources
(Include any resources that you have found h

[2021-06-16 14:58] akibrhast opened #1755 "TEST ISSUE 3"
### Overview
(Include a sentence that describes how Hack for LA teams are using this resource. For example:

Figma:  Our design team uses Figma to create wireframes and mockups.  
  Github : We use github for our project management and to streamline development.
  Zoom:  HackforLA uses zoom for onboarding and weekly meetings)

### Link
(Place link to resource here)

[2021-06-16 15:53] #1556 closed, assigned to Zak234

[2021-06-16 17:23] #1753 closed, assigned to nobody

[2021-06-16 17:23] #1754 closed, assigned to nobody

[2021-06-16 17:23] #1755 closed, assigned to nobody

[2021-06-16 18:56] sayalikotkar commented on #1669
Progress: Initiated meeting request with team
Blockers: Need to discuss with PMS & Bonnie to get clarity on specific objectives of this sprint

[2021-06-16 19:15] Sihemgourou commented on #1515
@alyssabenipayo We are putting this back into in progress. Tell us if you need some review :)

[2021-06-16 19:53] csseu commented on #1416
1. Have all go-aheads now to finish wiki
2. My job
3. This weekend
4. This weekend

On Wed, Jun 16, 2021, 12:24 PM github-actions[bot] ***@***.***>
wrote:

[2021-06-16 19:55] Sihemgourou commented on #1416
@ruqpyL2 this issue is about the design system, your answer is about the wiki, do you think the two issues are interdependent ?

[2021-06-16 20:07] csseu commented on #1416
Yes, at the start of the project we decided that wiki should clearly point
to the design system. Since the wiki is/was a hot mess, that would have
been difficult. So organizing the wiki was the first phase of making sure
folks could eventually find the design system.

On Wed, Jun 16, 2021, 12:55 PM Sihemgourou ***@***.***> wrote:

[2021-06-16 20:23] Sihemgourou commented on #1669
We have to add everyone from the write team to the base team

[2021-06-17 02:48] wendywilhelm10 commented on #1671
Here are pictures from my branch for the requested changes:
![projects](https://user-images.githubusercontent.com/44912633/122323178-afb2ba00-cef4-11eb-815c-b4004a417bb2.PNG)
![credits_after](https://user-images.githubusercontent.com/44912633/122323190-b4776e00-cef4-11eb-92c6-26b72ed32809.PNG)
Here is the existing credits header part:
![credits_before](https://user-images.githubusercontent.com/449

[2021-06-17 03:03] SaashaG commented on #707
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link: https://storyset.com/illustration/image-upload/pana#default&hide=Plants&hide=simple
Attribute: <a href="https://storyset.com/online">Online illustrations by Storyset</a>

[2021-06-17 03:12] SaashaG commented on #1708
Complete: 06/16/21
Figma link: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967
( Blue Rectangle)
![image](https://user-images.githubusercontent.com/83323065/122325257-3ae17f00-cef8-11eb-8bc8-66caf2120ca1.png)

[2021-06-17 04:16] #1574 closed, assigned to Abel-Zambrano

[2021-06-17 04:24] #1578 closed, assigned to Zak234

[2021-06-17 07:40] Sihemgourou commented on #1730
Update : waiting for @Olivia-Chiong  and @ExperimentsInHonesty to solve the issue

[2021-06-17 20:36] Sihemgourou commented on #1076
Waiting for the wins page to be ready (mostly badges++)

[2021-06-17 21:59] GLRJr commented on #1427
made suggested changes updating pull request for feedback
![image](https://user-images.githubusercontent.com/29311777/122477336-6312c180-cf7c-11eb-8f57-42b95dcaa549.png)

[2021-06-17 22:05] benrempel commented on #1576
I fixed this locally, should I push now?

As far as I can tell, partnership.yml isn't referenced anywhere in the site. This same partnership icon is used in the "join us" page, but directly references the .svg file, with its own alt text. Is that an issue? Still getting a sense of the architecture.

https://github.com/hackforla/website/blob/3054d9ff1540fccec4630a3aa5b5b76d4b36d9b3/pages/join-us.ht

[2021-06-17 22:59] daniellex0 commented on #1671
@SaashaG worked on this so I'll let her respond :)

[2021-06-17 23:36] Zak234 commented on #1694
Should the .btn xl-long class replace the xl class or just create a new .btn xl-long class and change the button from xl to xl-long?

[2021-06-17 23:47] HackforLABot opened #1766 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 00:06] HackforLABot opened #1767 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 00:20] HackforLABot opened #1768 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 00:30] HackforLABot opened #1769 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 00:35] HackforLABot opened #1770 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 01:24] daniellex0 commented on #1694
@Zak234 the second option please! Not replace, but instead it will be an additional class. And the homepage Join Us button will then change from btn-xl to btn-xl-long. Thanks!

[2021-06-18 02:13] HackforLABot opened #1772 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 02:30] Zak234 commented on #1694
Got it, thanks for the clarification!

[2021-06-18 03:37] Aveline-art commented on #1724
Backend meeting June 17, 2021 Notes
- Sorting through new labels. There are size labels and roles labels, but also a lot of misc. labels. When are they supposed to be used? How are we going to relay the intent behind these labels to our team?

Add-ons:
- How do we feel about people working on a new issue when one issue is under a pull request review? Is this desirable? Should there be a maximum nu

[2021-06-18 06:33] abenipa3 commented on #1525
Issue Completed:
- Design Team voted for the designs as seen below!
- Will implement designs in the prototype from #1515 :)

<details><summary>View Screenshots Here</summary>

**With One Line (Shorter, Same length as text)**

Desktop
![image](https://user-images.githubusercontent.com/38295612/122516502-b5c39c00-cfc3-11eb-9dae-347628335809.png)

**Mobile (Note: Screenshot taken via Figma Mirror)**

[2021-06-18 06:34] #1525 closed, assigned to abenipa3

[2021-06-18 07:26] Sihemgourou commented on #1076
I have to review the draft to validate it with Bonnie

[2021-06-18 07:29] Sihemgourou commented on #1378
Thanks ! And p'ease remove their assignments if they don't answer anymore :)

If so, also put the issue back to the prioritized backlog

[2021-06-18 14:00] SaashaG commented on #1671
Hi. I think its safe to assume its the correct sized image, if you copied it from Figma.

[2021-06-18 15:25] HackforLABot opened #1776 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 15:27] HackforLABot opened #1777 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 15:41] HackforLABot opened #1778 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 16:05] #1766 closed, assigned to nobody

[2021-06-18 16:05] #1767 closed, assigned to nobody

[2021-06-18 16:05] #1768 closed, assigned to nobody

[2021-06-18 16:05] #1769 closed, assigned to nobody

[2021-06-18 16:05] #1770 closed, assigned to nobody

[2021-06-18 16:05] #1772 closed, assigned to nobody

[2021-06-18 16:05] #1776 closed, assigned to nobody

[2021-06-18 16:05] #1777 closed, assigned to nobody

[2021-06-18 16:05] #1778 closed, assigned to nobody

[2021-06-18 16:37] akibrhast commented on #1673
As requested above the changes I have implemented in the review sheet ensures that the latest wins submission always appears on the top. Folks that are reviewing it only needs to look at the latest one. The true and false values are color coded and mapped to the 'Responses' sheet. That sheet exist for programmatic interface only and a reviewing will almost never need to open that.

<details>
<summ

[2021-06-18 16:48] HackforLABot opened #1779 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-18 16:50] #1779 closed, assigned to nobody

[2021-06-18 17:00] jbubar commented on #1576
@benrempel Great question! yes go ahead and create a pr.

partnership.yml is part of a collection that gets referenced in the credits page with some fancy liquid jekyll syntaxy stuff
https://github.com/hackforla/website/blob/115f01be3684952b6e5c7d39918289d0678255c9/pages/credits.html#L22

and for the second question. I think they are supposed to be different, because they are on different pages.

[2021-06-18 17:03] akibrhast commented on #1724
I believe we should ask all the developers to connect their github account and their slack account together. That way the new PR notification feature created by @arghmatey that is running on the hfla-site-pr will be able automatically be able to notify said people on their PRs that has been stalled for a long time.

[2021-06-18 17:13] benrempel commented on #1576
ah got it! I was trying to figure out where partership.yml was used in the site. Now I get what's going on- I think you're right and there's no issue here

[2021-06-18 17:36] ggrrettcchhenn commented on #1500
hero image dimensions: 1500 x 700 px

[2021-06-18 21:00] HackforLABot opened #1781 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-19 00:01] #1567 closed, assigned to Abel-Zambrano

[2021-06-19 00:09] #1582 closed, assigned to aliibsin

[2021-06-19 02:08] #1390 closed, assigned to averdin2, abenipa3, jbubar

[2021-06-19 02:55] akibrhast commented on #1781
Reviewed and Approved

[2021-06-19 02:56] #1781 closed, assigned to nobody

[2021-06-19 02:57] akibrhast commented on #1673
@Sihemgourou Potentially . Yes. But I think we would need to plan out the sharing concept behind it

[2021-06-19 15:42] Sihemgourou commented on #632
Update:

- [x] Created a new issue for Ali (about Finding right SDG for projects)
- [x] Still cleaning this issue

[2021-06-19 16:10] HackforLABot opened #1786 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-06-19 16:11] Aveline-art opened #1787 "GitHub Actions: Fixes to adding-labels-to-pull-request action"
### Overview

The recent GitHub action (adding labels to pull request) is currently lacking a couple of key features and fixes. Implement the features listed in the below action items.

### Action Items
- [x] Look for an alternate to the pull_request_target event to prevent malicious code injections into GitHub action execution
- [x] ~~Have the code exit successfully, but quietly in the event of n

[2021-06-19 16:16] Sihemgourou commented on #1673
@akibrhast
Bonnie and I validated the spread sheet.
This is great ! https://github.com/hackforla/website/issues/1786

We can close this issue !

[2021-06-19 16:17] #1786 closed, assigned to nobody

[2021-06-19 16:17] Sihemgourou commented on #1673
We just saw this appear and this is great ! https://github.com/hackforla/website/issues/1786

[2021-06-19 16:25] Aveline-art opened #1788 "GitHub Actions: New bot to add comments when linked issue is not present"
### Overview
Dependency #1787

The adding-labels-to-pull-request GitHub action currently only adds labels to pull requests. It would be nice to have an additional workflow that leaves a comment in the pull request in the event that a linked issue is not found.

### Action Items
- [ ] In the interest of maintainability, create a separate file for the new workflow
- [ ] Possible psudocode:
  - [ ] R

[2021-06-19 16:30] Sihemgourou commented on #1673
- [ ] @Sihemgourou will make a new issue for : Finding a way to notify the person who submitted the wins form that it is published. This could be nice if the person wants to share it ! (maybe a thank you note + ask for donation)

[2021-06-19 16:51] Aveline-art commented on #1788
Closed due to new pull request template.

[2021-06-19 16:51] #1788 closed, assigned to nobody

[2021-06-19 16:57] akibrhast commented on #1673
Closing per @Sihemgourou suggestion above, since it has been validated by sihem and bonnie above.

[2021-06-19 16:57] #1673 closed, assigned to akibrhast

[2021-06-19 20:11] #1718 closed, assigned to marcobarrera

[2021-06-19 21:42] Sihemgourou opened #1789 "Research on the Wins submission process"
~### Dependencies
- #1551
- #1717
- #1845~

### Overview
We want people to share their wins on social media so that HfLA's exposure is increased and other people will join us as volunteers and/or potentially make a donation.

### Additional Detail
* Primary goal : **Create Engagement and Traffic to HFLA.org**
As a submitter of a win, I want to be notified when my submission is published on the HFL

[2021-06-19 22:18] Sihemgourou commented on #1709
Done.

[2021-06-19 22:18] #1709 closed, assigned to Sihemgourou

[2021-06-19 22:26] pascuas commented on #1378
@Sihemgourou my apologies! I am.

[2021-06-19 22:37] Sihemgourou commented on #1619
Suggestions (To address during next meeting) :

Overview
- [x] Why do we need the description text, what is its value ? "Hack for LA brings together civic-minded ..."
- [x] Adopt our Standard should be on Step 4

Step 1 :
- [ ] Review the title to something like " Start your onboarding process", because you have to do the "before the meeting" before attending the onboarding session
- [x] Shorten t

[2021-06-19 22:47] Sihemgourou commented on #1378
Perfect  !
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-19 22:48] Sihemgourou commented on #1477
~~@Aveline-art~~

@averdin2
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-19 22:49] Sihemgourou commented on #656
@christina245
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-19 22:51] Sihemgourou commented on #656
@daniellex0
Please remove their assignments if they don't answer anymore :)

If so, also put the issue back to the prioritized backlog

[2021-06-19 23:29] Aveline-art commented on #1787
* Progress: Currently just opened and started. Have found workflow_run as a safer alternative to pull_request_target. Currently investigating it's Pros and Cons and feasibility for our purposes.
* Blockers: None so far, but once work is done, I would require a second pair of eyes to help with condensing, refactoring, and clarifying the code for maintainability purposes.
* Availability: A bit of ti

[2021-06-20 05:02] daniellex0 commented on #1671
@wendywilhelm10 Also Wendy as long as it has the same specs as Figma it should be right:

Mobile:

<img width="244" alt="Screen Shot 2021-06-19 at 10 01 35 PM" src="https://user-images.githubusercontent.com/67400366/122662713-f5b48b80-d149-11eb-99fc-a068b5ed83b9.png">

Desktop:

<img width="279" alt="Screen Shot 2021-06-19 at 10 01 28 PM" src="https://user-images.githubusercontent.com/67400366/122

[2021-06-20 05:49] daniellex0 commented on #1619
I'll address these since I attended the Tuesday meeting- but don't forget @Sihemgourou we all had decided we are planning to do UX Research for the next round of iterations to validate what really works best for volunteers, so we can make bigger changes once that happens. We don't want to assume too much and make too many big changes before we do some research and validate the changes.

This is ho

[2021-06-20 06:51] abenipa3 commented on #1515
Progress: We finalized the design on Thursday with the Team. Currently implementing it to the prototype.
![image](https://user-images.githubusercontent.com/38295612/122664929-2bad3c00-d159-11eb-82d5-6fbebf70ec0e.png)

Block: None.

Availability: Open

ETA: 6/26/21

[2021-06-20 07:22] daniellex0 opened #1791 "Fix the margin in header-container class"
### Overview
We need to fix the ".header-container" class because for some reason it is no longer providing the correct margin to cover the top nav bar, and most of our headings are now too close to the top nav bar as a result

### Action Items
- [x] Try to figure out what went wrong - the .header-container class margin used to cover the whole height of the top nav so that the header-container pad

[2021-06-20 07:37] daniellex0 opened #1792 "Fix Events page card title in mobile"
### Overview
We need to make sure the "Online Project Team Meetings" page card title **in mobile** is on two lines instead of one so that there is more breathing room between the title and the icon/arrow surrounding it.

### Action Items
- [ ] Adjust the title of the second card"Online Project Team Meetings" **in mobile only** to be on two lines, matching the original designs on [Figma](https://ww

[2021-06-20 07:48] daniellex0 opened #1793 "Fix Communities of Practice page header image size"
### Overview
We need to fix the Communities of Practice page's header image so that it matches the original Figma design, and looks more proportional with the text

### Action Items
- [x] Figure out why the header image in the [Communities of Practice](https://www.hackforla.org/communities-of-practice) page is currently 300x240 size when it is supposed to be 384x240
- [x] Fix to make sure it now h

[2021-06-20 08:15] daniellex0 opened #1794 "Update Project Description pages"
### Overview
We need to remove the "Getting Started" page card from the Project Description pages, and instead move the "Getting Started" resource card to the end of the Resources page card, because the Getting Started card is currently redundant and unnecessary. PM's agreed about this at their Community of Practice meeting.

### Action Items
- [ ] Remove 'Getting Started' page card from the proje

[2021-06-20 14:01] #1568 closed, assigned to mgodoy2023

[2021-06-20 15:50] KenMan79 commented on #1749
I'd like to say this is excellent, what do you think of this?
"The first step to becoming a leader is to: Share your intention of becoming a Leader within our Team!"

[2021-06-20 16:01] margaretgeary commented on #1749
Could I please be removed from the emailing list? My email is
***@***.***
Thank you!

On Sun, Jun 20, 2021 at 11:50 AM Kenneth Luster ***@***.***>
wrote:

[2021-06-20 16:13] sena-ji commented on #1749
I think we recorded some examples of reviewing PRs from the meetings. If we have a guide on how to do PRs, maybe we can link them within the first section just like how we linked "Helpful documents: How To Lead Team Meetings" in the third section.

Maybe we can also expand on what "request for changes" are. Not sure if everyone will know exactly what that means.

[2021-06-20 16:17] KenMan79 commented on #1749
@sena-ji this makes sinnce

[2021-06-20 16:31] sayalikotkar opened #1795 "Automate onboarding processes across all projects"
### Overview
The objective is to automate some of the onboarding processes for new volunteers when they join HfLA AND when they join a particular project. New volunteers should have to provide their information (email address, time preference etc.) only once when they join HfLA, and the same information should be automatically used to onboard them when they join communities of practice or a specif

[2021-06-20 16:36] sayalikotkar commented on #1795
Progress: Set up meeting with Akib, Ashley & Olivia to gather inputs on current onboarding process on 06.21.2021
Blockers: Getting availability from the rest of the team members. Will set up a separate meeting with them.
Availability: 2 hours
ETA: Not known

[2021-06-20 16:38] sayalikotkar commented on #1669
Created a separate issue #1795 for automating the onboarding process across all projects.

[2021-06-20 16:45] daniellex0 commented on #1622
Progress: Confirming some questions with devs about new wiki

Blockers: Busy schedules

Next Steps: Implementing new wiki this week, meeting with Candace to discuss next steps

ETA: 1 week

[2021-06-20 16:46] ashleylin1 commented on #1619
1. Progress: I created a new design that retains the original step order and includes step 2 of joining the community of practice. I also replaced the old icons with new ones that are from the same icon family to improve consistency (the old ones had different line widths) and the links to the icon source for attribution. One of the design versions also has a potential side navigation bar similar

[2021-06-20 16:46] wendywilhelm10 commented on #1671
Progress: Almost done.
Blockers: None.
Availability: Open
ETA: Day or two

[2021-06-20 16:56] daniellex0 commented on #577
Progress: Ideating webpage for documenting components. Finalizing wiki sidebar before implementing this week with Candace. Helped create more dev issues that will help with wrapping up the design system, continued adding remaining pieces to design system.

Next Steps: Continue ideating and designing dedicated webpage for components, finish dev documentation, implement wiki sidebar this week with C

[2021-06-20 17:16] Sihemgourou commented on #1623
Closed because now we move to getting feedback (see issue https://github.com/hackforla/website/issues/1749))

[2021-06-20 17:16] #1623 closed, assigned to averdin2, GLRJr, arghmatey, wendywilhelm10, Aveline-art, evancchen, josiehandeveloper, Linda-OC

[2021-06-20 17:19] sayalikotkar commented on #1742
Progress: Added 'Feature missing' label to all issues without a feature listed.
Next steps: Assign a feature label to each of these issues together with the product team and Bonnie in the PM meeting

[2021-06-20 17:32] christina245 commented on #656
The questions have been organized depending on the interviewee.

https://docs.google.com/document/d/1T_xwVgdl7KBOKODke92yRPR5Cu_A0TAWovE9jfYiFEU/edit

The next step is to create a research plan like this one: https://docs.google.com/document/d/143MYvgdetufZtXZQT4CfmAyRIbbnXPgg6wsMu6dq1UI/edit

[2021-06-20 18:04] Sihemgourou commented on #1789
We will review this issue with @ExperimentsInHonesty before starting to work on this issue

[2021-06-20 19:12] #1586 closed, assigned to adam-abundis

[2021-06-20 20:27] Sihemgourou commented on #1734
### Agenda 21/06/20

- [ ] Brief on leading dev team
- [ ] Improving the development to design handoff

[2021-06-20 20:33] Sihemgourou opened #1796 "HfLA: ALL TEAM PRE Meeting Agenda 2021"
### Overview
This issue tracks the **PRE meeting** agenda for the HFLA website team. Don't hesitate to write here your suggestions, questions or other things that you want to talk about during the meeting !

### Action Items
- [ ] Add next meetings items below in a comment

[2021-06-20 20:43] Sihemgourou commented on #1734
Agenda 21/06/27

- [ ] Go through all the feature missing issues

[2021-06-20 20:44] Sihemgourou commented on #1734
Agenda 21/06/27

- [x] Go through all the feature missing issues
- [x] Choose a timekeeper
- [x] New organization for issue review during the ALL TEAM
- [ ] Should we remove the question about getting the github picture and take it directly ? Because we are already showing all the contributors pitcures on the project profile cards (see akib comment in PR toggle see more/see less on wins card #1732

[2021-06-20 21:05] Sihemgourou opened #1797 "HfLA: PM/ORG/UX Meeting Agenda of 2022"
# Dependency
When we have a new research lead

### Overview
This issue tracks the agendas and notes for the meeting that PM has with UI/UX

Template:
[code]

Participants :

Things to discuss:

Things discussed:

Actions to take:

### Weekly Agenda
[21/06/20](https://github.com/hackforla/website/issues/1797#issuecomment-864617999)
[21/06/21](https://github.com/hackforla/website/issues/1797#issueco

[2021-06-20 22:08] Sihemgourou commented on #1797
Meeting 21/06/20

Participants : @ExperimentsInHonesty & @Sihemgourou

Done:

- Assigned feature labels to issues with feature missing + created new labels
- Cleaned the project board
- Made some comments about the Getting started page #1619
- @Sihemgourou has now access to the google analytics account #1730
- @Sihemgourou has been made owner of the HFLA Github so that she can edit the website wri

[2021-06-21 07:03] csseu commented on #1622
OK, I put up a [sidebar](https://github.com/hackforla/website/wiki) with the categories and expansions.

![image](https://user-images.githubusercontent.com/23020878/122718622-033d4480-d222-11eb-8fdc-caac00734c2d.png)

**TIL:**
+ You can make branches on wiki repos, but nobody can see the branch without cloning it to their machine
  + You could then try to render it using gollum
  + But the github

[2021-06-21 15:09] ashleylin1 commented on #1619
Progress: Created a mobile version of the updated design and clarified w/Danielle about the above items
Blockers: need feedback on the design and whatever is decided in regards to UX research for this page
Availability: I will likely not be able to attend Sunday meetings for a while due to a timezone difference but I am mostly available after 4pm PST

[2021-06-21 16:02] #1610 closed, assigned to arghmatey

[2021-06-21 17:14] pascuas commented on #1378
Will reach out to a member to clarify what is needed for this issue.
Availability: Evenings this week.
ETA: End of week.

[2021-06-21 17:25] akibrhast commented on #1724
Things to discuss with @Sihemgourou :

- Possible emailing solution for wins submission
- Changing labels for the auto issue created by wins submission
- Issue template for the wins submission
- This PR - https://github.com/hackforla/website/pull/1732
- Adding descriptions to the newly created labels
- Discussion permission levels - https://docs.github.com/en/organizations/managing-access-to-your-

[2021-06-21 18:29] mgodoy2023 commented on #1165
Here are the new project image files that have been adjusted to 600pixels x 400pixels. I set all of the resolutions to a standard 72dpi, as that is the standard used for online images.

100 automations:
![100automations](https://user-images.githubusercontent.com/86011089/122809778-657a6180-d283-11eb-9e79-c6ede138a354.png)

Home Unite Us:
![home-heart](https://user-images.githubusercontent.com/8601

[2021-06-21 18:39] Sihemgourou commented on #1797
Meeting 21/06/21

Participants : @akibrhast  & @Sihemgourou

Things discussed:
- Wins page :
   - The github pitcures are not showing on the page. There is a bug.
   - Should we remove the question about getting the github pitcure and take it directly ? Because we are already showing all the contributors pitcures on the project profile cards (see akib comment in PR #1732)
   - Should we have the l

[2021-06-21 20:09] mgodoy2023 commented on #1165
Hi @daniellex0, please review these images and advise on next steps. Thank you!

[2021-06-21 21:15] csseu commented on #1622
@daniellex0 and I looked at alternate styling of the sidebar. There are competing requests: 1) to have larger text than the default (approx h2 size) for at least the categories, and 2) have the expansion arrows.

header tags are not compatible with the `<summary>` tag; the arrows do not align with the text (current appearance). Some will find this OK and others not.

I looked into injecting custom

[2021-06-21 23:20] mgodoy2023 commented on #1165
Hi again @daniellex0, I updated the images in a [new pull request](https://github.com/hackforla/website/pull/1802#issue-674955386) and adjusted the Home Unite Us image the way you said to. Please review the images and let me know about any next steps. Thank you!

[2021-06-22 01:26] ebele-oputa commented on #1851
To be updated:
[Github](https://github.com/hackforla/open-community-survey)
We're not looking for any roles right now
Tools (include the following): Figma
Technologies: Markdown
Partners: LA Department of Neighborhood Empowerment (DONE)
LA Neighborhood Councils (NCs)
LA Department of Transportation (LADOT)
LA City Planning Department (LACP)

[2021-06-22 01:32] ebele-oputa commented on #1851
Current team:
*Remove Phoebe

Add the following:
Ebele O.
Product Manager
[Slack](https://hackforla.slack.com/archives/D01R3EN5DG9)
[Github](https://github.com/ebele-oputa)

Chianta Dorsey
UI/UX Researcher
[Slack](https://hackforla.slack.com/team/U022B5EJFME)
[Github](https://github.com/csdorsey)

Bernard Adesina
UX Designer
[Slack](https://hackforla.slack.com/archives/D025891DF41)
[Github](https:

[2021-06-22 01:34] ebele-oputa commented on #1851
@Olivia-Chiong Is there anything else that should be done to this issue?

[2021-06-22 13:45] #1579 closed, assigned to vickiychung

[2021-06-22 14:25] #1576 closed, assigned to benrempel

[2021-06-22 20:12] Sihemgourou commented on #1797
Meeting 21/06/22

Participants :  @Sihemgourou & @ExperimentsInHonesty & @daniellex0

Things discussed:

Home page :
- We want to test the design with people who do not know us (people with a donator profil would be ideal)
Getting started page :
- Discussed about the suggestions in [this comment](https://github.com/hackforla/website/issues/1619#issuecomment-864471995). (All checked boxes are chang

[2021-06-23 02:14] abenipa3 commented on #1515
Progress: (Update for Tuesday's Meeting) Still currently implementing the design into the prototype.
![image](https://user-images.githubusercontent.com/38295612/123024522-081f0700-d38e-11eb-82ce-b5c9bb46c5a2.png)
Blocker: Will be busy till Thursday. Preparing for an interview.
Availability: Open
ETA: 6/26/21

[2021-06-23 03:20] #1550 closed, assigned to Linda-OC

[2021-06-23 03:54] adam-abundis opened #1816 "Add comments to _sass/variables/_layout.scss"
### Overview
We need to add documentation to our layout variables so people understand what they are and how to use it

### Action Items
- [x] Add documentation that clarifies use cases of sass variables

### Resources/Instructions
[Variable to document](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_layout.scss
)
[
8 Best Practices for Perfect CSS Documentation](https://webde

[2021-06-23 04:05] adam-abundis opened #1817 "Broken icon parser in the "wins-feature-1""
### Overview
Hi! I've noticed some anomalies with the wins-feature-1 branch but I am unsure if it has to do with the metadata? I've messed with it a little, and sometimes the bug appears and sometimes it does not. I have deleted the metadata (./site and .jekyll-metadata) but the bugs seem to persist? If someone can confirm that this is happening and indeed bugs with the page, please make an issue

[2021-06-23 04:42] Aveline-art commented on #1787
Thoughts on action item: Have the code exit successfully, but quietly in the event of no linked issue

This had been an unexpected development. Having an explicit failure in the event of no linked issue (or incorrectly formatted issue) alerts the creator of the pull request on problems with their pull request. This pushes them to fix the issue rather than wait for a reviewer to explicitly correct

[2021-06-23 04:45] sayalikotkar commented on #1669
06/22/2021 Update:

Had a quick conversation with Josh. Thinking of having 2 separate google forms - one for onboarding people to HfLA communities of practice and separate forms for onboarding people to projects. To begin with we want to create a prototype for the HfLA website project. It would have the following automations:

1. Adding the person to Github team repo
2. Adding the person to team's

[2021-06-23 04:52] akibrhast commented on #1787
Good Point. Given that that's the case, and we actually saw it being helpful in correcting mariannas PR. I am thinking we should leave the failing loudly option that you have currently implemented.

Because the other use case of a pull request not having an issue linked is very rare, and most of the time is done due to some manual and explicit reasons.

[2021-06-23 05:00] akibrhast commented on #1534
Existing wiki site information architecture has been refined

[2021-06-23 05:02] akibrhast commented on #1445
To discuss with @Aveline-art

[2021-06-23 05:05] akibrhast commented on #1290
instructions on how to submit a pull requests have been added to the new contrib file

[2021-06-23 05:05] #1290 closed, assigned to nobody

[2021-06-23 05:07] akibrhast commented on #947
Our readme currently has no instructions in regards to ssh keys

[2021-06-23 05:07] #947 closed, assigned to nobody

[2021-06-23 05:28] Aveline-art opened #1818 "Refactor Wins page JS code"
### Overview
The script for the wins page could use a little bit of clean up. In the interest of maintainability and readability, the code may need a bit of revision.

Before starting, please see [this comment](https://github.com/hackforla/website/issues/1818#issuecomment-879535414).

### Action Items
- [x] Obtain an understanding of the JS code for the wins page and the way that code functions

[2021-06-23 12:13] Sihemgourou commented on #1619
Comment for @ExperimentsInHonesty
<details>
<summary>Here is my suggestion for the top of the page</summary>

![Capture d’écran 2021-06-23 à 14 10 58](https://user-images.githubusercontent.com/55627107/123094494-3b64a300-d42d-11eb-9986-28b523e48435.png)

</details>

[2021-06-23 16:48] #1575 closed, assigned to nobody

[2021-06-23 16:49] #1569 closed, assigned to aalieu

[2021-06-23 16:50] #1693 closed, assigned to alexeysergeev-cm

[2021-06-23 16:51] #1611 closed, assigned to aliibsin

[2021-06-23 16:58] #1694 closed, assigned to Zak234

[2021-06-23 17:02] #1792 closed, assigned to adam-abundis

[2021-06-23 17:06] #1607 closed, assigned to josiehandeveloper

[2021-06-23 19:33] sayalikotkar commented on #1622
@ruqpyL2 @daniellex0 The PMs got together & reviewed it, we want o know if the below format works for everyone. It works for us

[Home](Home)

<details>
<summary>Onboarding Links</summary>

<br>

+ [Joining the HfLA Team](Joining-the-HackforLA.org-Website-Team)
+ [Introduction to the Project](Introduction-to-the-Project)
+ [Being Part of the HfLA Dev Team](Being-a-Part-of-the-Hack-For-LA-Team)
+ [

[2021-06-23 20:03] Sihemgourou commented on #1797
Meeting 21/06/23

Participants : @Sihemgourou & @ExperimentsInHonesty @sayalikotkar

Things discussed:
- VRMS: David from the VRMS team, is working on something that will affect the jobs team, he's building a CMS for people to update their meeting time and any infos that the projects hold on the website.
- Wins page:
- Getting started page => "Start your Hack for LA volunteer journey"
- Wiki : Cha

[2021-06-23 20:53] Sihemgourou commented on #1797
Meeting 21/06/23

Participants : @Sihemgourou & @daniellex0

Things discussed:
Getting started:
- @daniellex0 said: It's ok if the header is not standardized because this page is unique + the other pages are not standardized either
- Ashley will come back with more ideas about the headers
- We have to write hypothesis about the flows to analyze on GA

Home page research:
- Why do we want to involv

[2021-06-23 21:00] csseu commented on #1622
Sure, works for me.

[2021-06-23 23:38] Aveline-art commented on #1787
Notes on action item: Investigate why this action does not run on pull request merging forks to non-default branches (aka wins-feature-1)

Based on testing, I have come to the conclusion that there are two reasons why actions does not trigger on non-default branches.

1) GitHub actions runs the yml files in ```.github/.workflows``` **for the _"into"_ branch**. This means that when the structure of

[2021-06-24 00:18] Aveline-art commented on #1818
@akibrhast ping, testing

[2021-06-24 00:20] akibrhast opened #1820 "Do not break anything! The page should function the same way before and after"

[2021-06-24 00:20] #1820 closed

[2021-06-24 05:32] daniellex0 opened #1823 "Replicate mobile version of Wins page"
### Overview
We need to adjust the mobile version of the [Wins page in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0), because the current version on there is not the right standard mobile width for our Figma designs (should be 375px wide)

### Action Items
- [x] Update the mobile version of the [Wins page](https://www.figma.com/file/0RRPy1Ph7HafI3qO