[2020-06-01 17:08] cnk commented on #547
No I am referring to this empty repository: https://github.com/civictechindex/database

It has no contributors so https://api.github.com/repos/civictechindex/database/contributors does not return any data and that is causing an error message to be included in the GitHub data we use in the HackForLA website

[2020-06-01 17:13] ExperimentsInHonesty commented on #223
There is currently no tool for jekyll sites but there there is plenty of tools for creating xml site maps so it seems as if one is not needed.  Here is a good one https://www.xml-sitemaps.com/. We should clean up our site and then add an xml sitemap to google and then if we want to we can create a graphic representation of it using the XML file.

I am going to rename this issue so it more accurate

[2020-06-01 17:23] wesrowe commented on #13
@ExperimentsInHonesty We don't have any way of sorting "good" email subscribers from bad. But the original CAPTCHA issue was for Contact Us, which had a text-entry field and therefore was more spammable... But given that no one can remember ever getting an email from Contact Us, and we think it never worked right, I don't know why this captcha issue was created in the first place.
So with that con

[2020-06-01 22:27] ye-susan commented on #529
Thanks Bonnie, I've change the link to the correct one

[2020-06-02 19:23] ye-susan commented on #323
Thanks Harish,
@ExperimentsInHonesty  @harishlingam  Please see the screenshot of the mobile version, as we didn't have a Figma design for mobile - I'll submit the PR with your approval.
![image](https://user-images.githubusercontent.com/49918375/83560755-94346700-a4cb-11ea-9ce3-2d56de93ea9a.png)

[2020-06-03 02:17] ashlingam commented on #346
1. Progress
2. Blocks - None
3. Availability - This week
4. ETA - Next Tuesday

[2020-06-03 02:18] #13 closed

[2020-06-03 02:29] ashlingam commented on #529
@ampers-and @jbubar Please review the documentation on this Wiki page: https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture

[2020-06-03 02:38] ashlingam commented on #323
@ye-susan Could you please increase the spacing between the bottom of the Getting Started button and the text above the Transportation button? Thanks!

[2020-06-03 02:39] #270 closed, assigned to nobody

[2020-06-03 03:14] ExperimentsInHonesty commented on #494
Current roles:

Business Analyst
PM
Content
UI/UX
Development
Ops
Data
QA
SEO/Marketing

[2020-06-03 05:11] leestella748 commented on #403
Mobile wireframes: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=961%3A181
Mobile prototype: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=926%3A2438&viewport=-2382%2C-8117%2C0.29358410835266113&scaling=min-zoom

[2020-06-03 05:44] ExperimentsInHonesty commented on #403
@leestella748  we get rid of the white line at the bottom before the footer (on the mobile)?

[2020-06-03 06:09] leestella748 commented on #403
@ExperimentsInHonesty Done.  However, the mobile version of our Getting Started page has the white line, so if we want to stay consistent we should have someone go back in and reduce the margin.

[2020-06-03 08:05] ExperimentsInHonesty commented on #403
@leestella748 indeed it does.  I’ll put removing that in a new issue.

[2020-06-03 20:43] #551 closed, assigned to jbubar

[2020-06-03 21:04] ExperimentsInHonesty commented on #551
do not need to do the work on hold because it turns out it was already set to zero.

[2020-06-03 21:25] ExperimentsInHonesty opened #558 "Update looking for section of each project md file to include category"
### Overview
Updating our logic for how we pull skills from the project.md files to accommodate the inclusion of Category, for future filtering.

### Action Items

- [ ] Replace this format in the mark down files.

[code]

With this format
[code]

- [ ] Edit https://github.com/hackforla/website/blob/gh-pages/_includes/project-card.html to change the way it processes but keep it displaying the same

[2020-06-03 21:31] ExperimentsInHonesty opened #559 "Updating the looking for on various project"
### Overview
Project Engage, Food oasis and Website would like an update on what they are looking for

### Action Items
See spreadsheet for changes (green and red)
https://docs.google.com/spreadsheets/d/1xnrwTL4kCFhecLQmXwFWVPyWjgc3DC6aQYWq8ZF_QDI/edit#gid=0

[2020-06-03 21:50] ye-susan commented on #323
Will do, I'll be pushing a PR for this issue. The mobile should look like this:
![image](https://user-images.githubusercontent.com/49918375/83692814-8e14b800-a5a9-11ea-8705-c3dbe34e25de.png)

[2020-06-04 02:14] ExperimentsInHonesty commented on #403
@leestella748 ok, so I was wrong to say to remove that white section, because its literally everywhere (all the project pages), etc.  Sorry! Can you put it back?

[2020-06-04 03:48] ye-susan commented on #556
fixes #561

[2020-06-04 05:31] leestella748 commented on #403
@ExperimentsInHonesty Done!  Anything else that you'd like changed before it's ready for the dev team?

[2020-06-04 05:36] #323 closed, assigned to ye-susan

[2020-06-04 05:56] ExperimentsInHonesty commented on #403
Nope that it.  I’ll find out who is looking for something good.  And I’ll go to the prioritized backlog and make sure it’s actually prioritized so you can start on next!

[2020-06-05 18:44] ashlingam commented on #403
@leestella748 @ExperimentsInHonesty This looks great! If I could add one minor comment, I would reduce the weight of font in the white drop down buttons to medium (i.e. "Meetup Events" "Online Project Team Meetings").

[2020-06-05 22:21] leestella748 commented on #403
@harishlingam Done!

I'll put links here for the dev team:
Desktop & mobile wireframes: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1028%3A2382
Mobile prototype view: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=926%3A2438&viewport=-459%2C-3206%2C0.1227351650595665&scaling=min-zoom

[2020-06-07 00:23] ashlingam opened #562 "Create Survey Reporting Dashboard Guide Page"
### Overview
Create Survey Reporting Dashboard guide to walk users through the process of linking a Google Form to a spreadsheet, processing and cleaning the spreadsheet, and finally visualizing the data in Google Data Studio.

### Action Items
- [x] UI
   - [x] Collect screenshots for all phases of process
   - [x] Draft copy explaining all steps in each phase of process
   - [x] Create Figma moc

[2020-06-07 01:10] ashlingam commented on #562
@ExperimentsInHonesty @wesrowe I have made a guide page for building a survey reporting dashboard. Google Data Studio has its limitations (is not as full-featured as a tool like Tableau) and may compete with UI design considerations when implemented. However, it may be a worthwhile tool for UX research/design on some project teams.

[2020-06-07 03:30] leonelRos commented on #533
@harishlingam  @ExperimentsInHonesty
I removed the "About" from the navbar, replaced with "Connect". I also replace the mobile version with "Connect" and the anchor starts at "Want to know more about... "

<img width="1028" alt="Screen Shot 2020-06-06 at 8 26 11 PM" src="https://user-images.githubusercontent.com/50648001/83959628-fd9dd800-a833-11ea-809b-522b9a85c785.png">

<img width="157" alt="Sc

[2020-06-07 16:11] ExperimentsInHonesty commented on #553
Thanks for the explainer.  So no bug after all.  @ye-susan is this explained in the wiki?

[2020-06-07 16:25] ashlingam opened #567 "Add instructions concerning Google Analytics snippet to Wiki"
### Overview
We have implemented Google Analytics on our website. Please add instructions concerning the implementation of Google Analytics snippet to Wiki. References #503.

Google Analytics code snippet:

### Action Items
- [x] Add instructions concerning Google Analytics snippet to wiki

### Resources/Instructions

[2020-06-07 16:43] ashlingam opened #568 "Add attributions for all images used on website in code"
### Overview
Add attributions for all images on website. See Figma files for attribution links.

### Action Items
- [ ] See Figma files for attribution information associated with vector graphics.

### Resources/Instructions

[2020-06-07 16:48] ExperimentsInHonesty commented on #511
Make this whole page but leave off the vrms stats.  We will add them later.

[2020-06-07 17:00] ExperimentsInHonesty commented on #514
Please see mockups here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=695%3A3802

[2020-06-07 17:37] ashlingam opened #570 "Update Readme.md to get overview of site architecture"
### Overview
Update Readme.md file to add instruction to developers. Add two new steps: (i) direct users to become acquainted with overview of site architecture and (ii) set up of Docker.

### Action Items
- [x] Add step directing users to get overview of site architecture
- [x] Add step directing users to set up Docker

### Resources/Instructions

[2020-06-07 17:54] ExperimentsInHonesty commented on #552
Team decided on left image  (center align) because right image (left align requires a redesign of other pages.  Left aligned is probably preferable in the future but we will address when we have sass components setup.

[2020-06-07 17:55] ashlingam opened #571 "Create Credits page"
### Overview
Create credits page for website. This page will house attributions for all images, graphics, and photographs used.

### Action Items
- [x] Content strategy
   - [x] Research attribution requirements for different image sources on the web. Identify pricing and attribution placement requirements.
   - [ ] Purchase subscription (if appropriate) to image source web site
- [x] UI/UX
  - [x

[2020-06-07 18:04] ExperimentsInHonesty commented on #503
If stable, next week, exclude these ips from GA
Bonnie: 107.184.87.14
CNK: 66.215.74.250 - same 6/14
Yuiko: 172.91.110.17
Stella: 47.136.122.181
Susan:  24.24.137.226
Ruben: 172.113.122.208
Danielle: 104.175.48.39
Josh B: 76.168.134.2
 

[2020-06-07 18:08] yuikomajima commented on #571
Noun Project guidelines: https://thenounproject.zendesk.com/hc/en-us/articles/200509928-How-do-I-give-creators-credit-in-my-work-

[2020-06-07 18:09] yuikomajima commented on #571
Freepik guidelines: https://support.freepik.com/hc/en-us/articles/208976585-Attribution-How-when-and-where-

[2020-06-07 18:14] ExperimentsInHonesty commented on #511
go ahead and put the new mockup in this figma file tab: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=695%3A0

[2020-06-07 18:36] #568 closed, assigned to nobody

[2020-06-07 21:00] yuikomajima commented on #571
Credits page mocked up here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1074%3A1

If this looks OK, we can ask Stella and Danielle too add any images/icons they have used into this page as well. (Or have them share me a link and I can input)

[2020-06-08 02:03] ExperimentsInHonesty commented on #178
@Rankazze are you reading a book about the items in the glossary above.  Can we talk about it?

[2020-06-08 02:37] #356 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-06-08 02:38] #329 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-06-08 02:39] #340 closed, assigned to ashlingam

[2020-06-08 02:39] #271 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-06-08 02:43] #284 closed, assigned to ashlingam

[2020-06-08 05:46] ExperimentsInHonesty commented on #571
@yuikomajima i was imagining it would actually have a small version of each icon or image on it for easy reference

[2020-06-08 15:38] wesrowe commented on #562
@harishlingam an impressive piece of tutorial writing!

[2020-06-09 03:16] leestella748 commented on #526
@ExperimentsInHonesty
<img width="539" alt="image" src="https://user-images.githubusercontent.com/61727650/84102066-513f2b80-a9c4-11ea-95ff-d4886a452390.png">
Figma:https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1001%3A1263

Let me know what you think!  I didn't see a reason to change the navigation item names unless we still wanted to switch up the order of "Press",

[2020-06-09 22:32] ye-susan commented on #567
Hi @ExperimentsInHonesty, just to clarify - are we using GA along with Hotjar (since we still have the Hotjar code in place), or are we replacing Hotjar?

[2020-06-10 01:43] #556 closed, assigned to ye-susan

[2020-06-10 02:10] #533 closed, assigned to leonelRos

[2020-06-10 03:26] ashlingam commented on #503
@wesrowe

View: I have created a View titled "Master View." In the event something goes awry, the administrator can revert to the Master View to restore all reporting.

[Acquisition Report](https://analytics.google.com/analytics/web/#/report/trafficsources-overview/a167506267w233696729p219257270/): Under All Traffic > channels, I have added a Secondary dimension of Source/Medium. This will likely

[2020-06-10 03:26] ashlingam commented on #503
At some point in the future, UTM tracking may be useful to track incoming traffic sources to the website. This requires the use of UTM URLs. For example, if the team wanted to measure the number of visitors arriving at the home page from the Hack for LA Facebook page, UTM tags would serve this purpose.

UTM tags fall into one of four categories:
(1) Where is the traffic coming from?
(2) What type

[2020-06-10 03:39] ashlingam commented on #503
@ExperimentsInHonesty

The Google Analytics [Dashboard](https://analytics.google.com/analytics/web/#/dashboard/sAEuy9YsSIax7DbuH3iBpw/a167506267w233696729p219257270/) may be incorporated into the HFLA Organizational Dashboard via Google Data Studio. I would recommend doing so once a clearer picture of most valuable data has emerged. This way, all analytics information is consolidated in one place.

[2020-06-10 03:55] ashlingam commented on #503
It may be appropriate to have the incoming digital marketer or product manager build a guide page for Google Analytics. A skeleton outline of topics to cover is begun here: https://github.com/hackforla/website/wiki/Digital-Marketing-Overview

[2020-06-10 18:43] ye-susan commented on #553
@ExperimentsInHonesty Yes, explanation on how the primary main.scss is used to generate the site in the _site folder and how it differs from main.scss in the layouts folder is located in the [Styling section](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#styling-files) of the wiki

[2020-06-11 01:01] #550 closed, assigned to cnk, ruben1s

[2020-06-12 04:37] #547 closed, assigned to ruben1s

[2020-06-13 00:36] KianBadie commented on #346
I have an update:

So I modified the script that we have in my own little test repo that does seem to fetch comments made from the past 24hrs for each repo. I also made a seperate script that aggregates all the existing comments and makes a table that has each commented and how many times they commented. So I have a work in progress of a way to get updated comments and an initializer that builds t

[2020-06-13 17:42] yuikomajima commented on #571
Here is a page with images included: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1129%3A1159

[2020-06-13 22:54] ashlingam commented on #538
@ExperimentsInHonesty Could you please provide your written comments/feedback on my outline?: https://docs.google.com/document/d/1yvPIFXGD1vAqUAwL1eX2_JIqlSs8uMsJX_KlK0Vv5r8/edit?usp=sharing. I've parked images/diagrams for use in the article under Assets, but they will be embedded throughout the text in the actual draft. Once I've gathered feedback, I should be able to turnaround a draft soon aft

[2020-06-14 16:14] ExperimentsInHonesty commented on #503
Do your IPs match?  Yes or No answer.  If no, please also provide new ip, so we can see if there is a pattern.
@cnk @yuikomajima @leestella748 @ye-susan @ruben1s @DanielekPark

Last week's ips
Bonnie: 107.184.87.14 - yes
CNK: 66.215.74.250 - yes
Yuiko: 172.91.110.17 - yes
Stella: 47.136.122.181 - 47.136.122.53 - same as last week on the third check
Susan:  24.24.137.226 - yes
Ruben: 172.113.122.20

[2020-06-14 16:20] leonelRos commented on #403
I did not have a lot of time this past week to work on it. So, I do not have any updates.

[2020-06-14 16:28] ExperimentsInHonesty commented on #526
@leestella748 Can we see a mockup with the hamburger menu style where all the lines are the same length.  I think that is more common than the graduated menu currently depicted.

Re the menu order.  I think we need to add some other links anyway, So the new menu items (unless I missed something) should be Getting Started, Projects, Press, Connect.

- in the future there will be new menu items for

[2020-06-14 16:31] ExperimentsInHonesty commented on #526
for Latest actionable update see [comment above](https://github.com/hackforla/website/issues/526#issuecomment-643789867) Once the new PM starts and Stella has finished the mock ups, we will move this with a note about tasks to the development prioritized backlog.

[2020-06-14 16:44] ExperimentsInHonesty commented on #254
@tylerthome please update issue with
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-06-14 16:54] ExperimentsInHonesty commented on #559
@jbubar - in looking at the related pull request #569, I see comments by cnk, but I don't see any additional updates from you.  Maybe I am reading this incorrectly.

Please update with the following information
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-06-14 17:01] ExperimentsInHonesty commented on #553
@ye-susan thanks

[2020-06-14 17:01] #553 closed, assigned to ye-susan

[2020-06-14 17:03] tylerthome commented on #254
I may have commented on a similar issue instead of this one: there is an open draft pr #566 which contains the filter implementation and usage.

Progress: filter implementation complete, with an example UI to drive behavior for demonstration

Blocks: For code cleanliness and stability, data relevant to filtering fields should be consolidated with a consistent schema/layout such that initializing t

[2020-06-14 17:11] ExperimentsInHonesty commented on #571
@yuikomajima - Agreed all the designers should add their icons to this first version of the page @leestella748 @DanielekPark

This mockup looks great!
I think we could add a section at the top (the usual white box that goes all the way across where we say something about Why it's important to give credit and if anyone finds content on the site that needs attribution, please let us know by writing

[2020-06-14 17:16] ExperimentsInHonesty commented on #511
it looks like the action item is for me to review this and see if there are any changes required.  Also the next developer who has to do this @hannahlivnat should review it as well, and see if it makes sense to her, since she is doing this now.

[2020-06-14 17:22] ExperimentsInHonesty commented on #403
@leonelRos please provide details about how much availability you will have in the coming week.  And ETA.

Generally the format is
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-06-14 17:27] leonelRos commented on #403
Progress: only worked 10% of it
Blocks: time-limited.
Availability: Wednesday to Friday
ETA: Sunday 06-21-2020

[2020-06-14 17:51] KianBadie commented on #346
Will need to compare current contributors data with a new contributors data lists being composed of solely commenter data. If there are drastic changes, then we will need to discuss how to resolve the 2 sets of data. But if the order of contributions from commit contributions is roughly the same then maybe we can solely rely on the comments data.

[2020-06-14 17:54] yuikomajima commented on #571
@ExperimentsInHonesty I added the white hero with illustration. Would be great if we can add some better copy, if you are able to provide!

[2020-06-14 18:21] leestella748 commented on #526
@ExperimentsInHonesty
<img width="459" alt="image" src="https://user-images.githubusercontent.com/61727650/84600839-2b38e180-ae31-11ea-843b-e833d7f66fe4.png">

[2020-06-14 18:46] leestella748 commented on #571
@yuikomajima I just added my icons on the side of the mockup and have a few comments/questions.

1.  It would be great if we had a uniform size for all icons on the credits page.
2. I wasn't sure why the vector images didn't link directly to the Freepik page, so I added the links for the images I used.  Feel free to unlink them if we don't need to.
3. We could group the icons together either by pa

[2020-06-14 19:41] ExperimentsInHonesty opened #577 "Componentize the website"
### Overview
We need to make the website more modular easier to design and develop new content.   We are going to start with reusable components

### Action Items
- [x] UI/UX
   - [x] Create a new page in Figma that is all the component examples that make up a webpage on our site.
      - [x] Headers: different layout types
      - [x] etc.
  - [x] Review with Design team to determine ideal choice

[2020-06-16 03:10] ghost commented on #552
Is there a style guide for the website where I'd be able to find the specific icon or image used within the banner in the design? I've looked through the images in the assets section and wasn't able to find that particular image.

[2020-06-16 07:04] ExperimentsInHonesty commented on #552
@hannahlivnat which image specifically are you looking for?

[2020-06-16 07:22] ye-susan commented on #552
@hannahlivnat are you talking about this one?
![image](https://user-images.githubusercontent.com/49918375/84743746-3a21b000-af67-11ea-91bd-a4ccdb5582ef.png)

If you highlight the entire image in Figma, and have the right-side bar opened, there's an option to export the image, You can then save it to the assets folder

[2020-06-16 13:53] ghost commented on #552
Yes, that's exactly what I was looking for! I see what the issue was with Figma, I hadn't logged in so it wasn't displaying the right-bar. Thank you for letting me know about that feature!

[2020-06-16 21:52] KianBadie commented on #346
@cnk I have a branch that compares the 2 different sets of data. The contributors data on this branch is replaced with the data gathered from getting all the issue comments and sorted to where the top commenter is on the top. Here is a preview of how it is different

**(Commenters data on left, original on right)**
![Screenshot from 2020-06-16 14-42-03](https://user-images.githubusercontent.com/18

[2020-06-18 01:57] ghost commented on #552
I have the SCSS complete for the project-meetings page. As screen-size gets larger (~ 1400px and above), I wasn't sure whether the image and text seemed a bit too spaced out.

I've included a screenshot of the banner at 900px and the banner at 1400px. Let me know what you think.

<img width="942" alt="Screen Shot 2020-06-17 at 6 46 14 PM" src="https://user-images.githubusercontent.com/54752231/849

[2020-06-18 02:01] ghost commented on #552
Unless changes need to be made to the >1400px screen size, I just need to add an href to the onboarding link and I'll be ready to make a pull request.

[2020-06-20 17:47] ghost opened #579 "Updating NST's project card"
### Overview
Minor updates to NST project card

### Action Items

- [x]  Change spelling of 'Ben Swedlow' to 'Ben Swerdlow'
- [x] Add Ethan Hopkins to project leads as PM

[2020-06-21 00:21] ExperimentsInHonesty commented on #579
@ethanh256 Can you post a screen shot of what the changes look like on your local copy here?

[2020-06-21 00:24] ExperimentsInHonesty commented on #559
Hi @ethanh256 and @jbubar - some of this information is old already.  i.e. roles filled.  Slack me and I will give you an update and you can change the pull request and update the spreadshet.

[2020-06-21 00:30] ghost commented on #579
@ExperimentsInHonesty

**Before changes:**
<img width="942" alt="Screen Shot 2020-06-20 at 5 25 25 PM" src="https://user-images.githubusercontent.com/58455740/85214040-0a81f780-b31b-11ea-9f7e-4e02a0085beb.png">

**After changes:**
<img width="935" alt="Screen Shot 2020-06-20 at 5 24 57 PM" src="https://user-images.githubusercontent.com/58455740/85214033-f76f2780-b31a-11ea-9bf8-74ae0447ae32.png">

[2020-06-21 04:12] #579 closed, assigned to jbubar

[2020-06-21 06:41] KianBadie commented on #346
I spent some time working on both scripts (the initializer that builds all the comments data and the script we already have). The initializer now pull comments data from all repos if the repo we keep track of is under a different org.

I am not finished with the other script, but I did do a good amount of refactoring because implementing the comment fetching feature made more sense to me if I refa

[2020-06-21 15:48] leonelRos commented on #403
Progress: working with the latest mock
Blocks: time-limited.
Availability: Wednesday to Friday
ETA: Tuesday 06-23-20

[2020-06-21 16:38] ExperimentsInHonesty commented on #526
@leestella748 Hi Stella, Sorry for the delay.

 I am a little confused by the recent mockups, they don't seem to echo the new menu items I asked for in the comment referenced https://github.com/hackforla/website/issues/526#issuecomment-643789867

Specifically the new menu needs to be "Getting Started, Projects, Press, Connect"

[2020-06-21 16:40] ExperimentsInHonesty commented on #529
@jbubar re your comment last night, about how cool the site architecture is.  Was this insight gained by reading the wiki, or by exploring the site?

[2020-06-21 16:42] ExperimentsInHonesty commented on #529
@hannahlivnat @ethanh256  - Task for all new developers - Please review the documentation on this Wiki page: https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture
and tell us if there are improvements that could further your understanding and the understanding of the people who come after you.

[2020-06-21 16:50] leestella748 commented on #526
@ExperimentsInHonesty My bad!  I don't know how I missed it
<img width="764" alt="image" src="https://user-images.githubusercontent.com/61727650/85230395-92601400-b3a4-11ea-934b-e48ae26addd0.png">

Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1136%3A1159
Prototype view: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1136%3A115

[2020-06-21 16:51] ExperimentsInHonesty commented on #254
@tylerthome
Let's talk about this:

Some examples would be good.  I think you are referring to things like this, but more specificity about exactly what you need updated/changed would be helpful:

Replacing the current format
[code]

With this format
[code]

[2020-06-21 17:02] ExperimentsInHonesty commented on #559
met with Ethan last night and reviewed the order of operations for updating cards.  First we are going to accept this pull request #558 , and then redo all of the looking for to match the spreadsheet.

[2020-06-21 17:14] ExperimentsInHonesty commented on #511
@unassigned Hannah.  Mockup looks good.  Ready for Dev.

[2020-06-21 17:28] ExperimentsInHonesty commented on #254
What tyler was looking for had nothing really to do with my comments above.

@cnk is going to produce the json object that @tylerthome's code will consume.

ETA: Next week.  Yeah!!!

[2020-06-21 17:40] ExperimentsInHonesty commented on #511
@alexandrastubbs made a suggestion to improve the 2FA app instructions (in case you already have one).

[2020-06-21 17:55] ExperimentsInHonesty commented on #346
We made a decision to count all contributions (comments and commits in total, no weighting).

[2020-06-21 18:02] KianBadie commented on #346
GitHub support got back to me a week ago. They did confirm the abuse rate limit errors were happening because we were making such a short amount of request at the same time. They recommended the "the best approach would be to slow down your script, e.g. by adding some sleep statements between API calls. Another approach would be to make requests as before, and then if/when you hit the limits -- lo

[2020-06-21 18:05] KianBadie commented on #346
1. Progress - Pretty much finished with initializer script in my test environment. The data fetching script fetches recent github issue comments for each repo, but not for repos that are part of organizations with multiple sibling repos under it.
2. Blocks - None
3. Availability - Tuesday evening, Thursday and Friday most of the day
4. ETA - Sunday 6/28

[2020-06-21 18:07] ExperimentsInHonesty commented on #571
Decision made at team meeting was to create a new format for the info:

Icon Name:
Where Used:
Provider (tbd on the name):
Artist:

Note for developers: for the markdown file, we will also need image location

[2020-06-21 18:18] ExperimentsInHonesty commented on #503
@harishlingam is there a reason to leave hotjar code on the website.  Does it do anything that we are not going to do via GA?

Please mention @ye-susan in your reply

[2020-06-21 18:22] ExperimentsInHonesty commented on #503
Will coordinate with ops team and potentially John Ritchey on GA configuration.

[2020-06-21 18:42] ghost commented on #552
From decision in Sunday meeting on responsive sizing of project-meetings banner and text, I've attached screenshots of the updated mobile and larger desktop view. Link to getting-started page is also added. Let me know if you'd like me to make any other changes to the responsive views! @alexandrastubbs @ye-susan @yuikomajima

![Screen Shot 2020-06-21 at 11 34 23 AM](https://user-images.githubuserc

[2020-06-21 18:50] ExperimentsInHonesty commented on #162
catagories:

Business Analyst
PM
Content
UI/UX
Development
Ops
Data
other
QA
SEO/Marketing

[2020-06-21 19:20] alexandrastubbs opened #582 "Collect Project Leaders Surveys"
### Overview
Send out surveys to project leaders across all projects and collect responses.

### Action Items

- [ ] Bonnie to share folders for all projects
- [ ] Connect with Abby
- [ ] Send out survey to project leaders and set date for completion

### Resources/Instructions
1. [Project Leader Survey Link](https://github.com/hackforla/website/projects/2#card-38552481)
2. [Survey Comparison Boar

[2020-06-21 19:22] yuikomajima commented on #571
I made all of the changes above.

In regards to the new text format I made it the following:

Content (since we might be using not only icons and imagery but maybe videos etc. in the future)
Used in
Artist
Provider

figma file: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1129%3A1159

Please lmk if we need any changes!
I took a pass at the text in the hero, but ple

[2020-06-21 19:29] alexandrastubbs opened #583 "New Member Survey Process"
### Overview
New member survey is built, although new members are not receiving it. Identify the right medium to share the survey and set up a process to facilitate dissemination & collection.

### Action Items

- [ ] Research potential mediums for survey sharing & create proposal (and current process)
- [ ] Attain approval for proposed collection process
- [ ] Put process into place

### Resource

[2020-06-21 22:00] ashlingam commented on #503
1. Progress - Filters have been created for each of the above IP addresses.
2. Blocks - None
3. Availability - n/a
4. ETA - n/a

[2020-06-21 22:02] ashlingam commented on #503
To add/remove IP address filters, please see instructions here: https://support.google.com/analytics/answer/1034823

Steps: (1) Click the Gear icon -> (2) Under View select the drop down, then select "All Web Site Data" -> (3) Click on Filters

[2020-06-21 22:10] harishlingam commented on #503
@ye-susan @ExperimentsInHonesty I think it's worthwhile to leave the Hotjar code in place. Despite the restrictions on the free tier, 100 of 300 recordings still remain, and old recordings may be deleted to make way for new ones.

Hotjar account credentials:
Username: webadmin@hackforla.org
Password: certyh-3xozcE-kargev

[2020-06-21 22:51] ExperimentsInHonesty commented on #292
After research it was determined that we needed to place the credits on the site, so we are building that page.  See issue #571

[2020-06-21 22:51] #292 closed, assigned to nobody

[2020-06-22 00:36] #558 closed, assigned to jbubar

[2020-06-22 22:28] ye-susan commented on #567
The [Wiki](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#api-endpoints) has been updated with GA

[2020-06-22 22:28] #567 closed, assigned to ye-susan

[2020-06-23 06:22] leestella748 commented on #162
Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1284%3A102

@ExperimentsInHonesty

1. I didn't fully format the survey page since it'll be an embedded Google form, but let me know if I'm missing anything.

2. For the wins page, I think a 2-column layout works better than a 1-column layout and makes the list look more robust.  If we want to add copy up top I can

[2020-06-24 02:49] ExperimentsInHonesty commented on #503
Find ga password for developer and move hotjar user/pass to secure folder

[2020-06-24 02:59] ExperimentsInHonesty commented on #571
@yuikomajima Can you change the name from Content to Name?

[2020-06-24 03:05] ExperimentsInHonesty commented on #552
@hannahlivnat looks good to me.

[2020-06-24 06:50] cnk commented on #254
https://github.com/cnk/website/tree/project-filter has the current state of this code. Before we can proceed, we will need to make some changes to our project.md files:

1. We need to make our locations into a list
2. We need to change the way we are keeping 'looking' data. Instead of the pairs of 'category' and 'skill' that were added in #581, we need a separate list for the categories (makes it

[2020-06-24 07:02] ExperimentsInHonesty commented on #254
@cnk Can you give example of how you want the project.md file format changed.  I am generally following but not enough to execute.

[2020-06-24 14:48] cnk commented on #254
The current data for the website project looks like this:

[code]
To work well in the filtering code, we need location to be a list and we need the looking categories to be their own list. We could either make them their own top level list, or we could make sublists under looking. So either like this:

[code]

or

[code]

[2020-06-24 15:22] ghost commented on #552
Great, pull request has been put in and Ruben is reviewing

[2020-06-24 15:27] ghost commented on #529
@ye-susan Just to double-check before I start working on the style section, do I click the "edit" button within the wiki page and get started in there, or should I be creating a draft in a different spot and submitting that draft to be added to the wiki page?

[2020-06-24 16:31] rfambro2 opened #588 "Create project card for Civic Opportunity Project"
### Overview
Provide collateral for the HackforLA website

### Dependency
UI Designer Needed for Image hackforla/civic-opportunity#3

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  L

[2020-06-24 17:52] ye-susan commented on #529
@hannahlivnat I don't think there's a draft option unfortunately, so I just edit offline in VS code and paste it straight onto the wiki when I'm finished

[2020-06-24 20:30] ExperimentsInHonesty commented on #254
@cnk . I get the locations, but kind of bummed by the fact that the roles wont be tied to their categories.  It seems like its a recipe for pms to indicate that they have filled a role, but we are unclear which category it belonged to, so we leave the category on the card, not attached to any roll.  Also, precludes the ability to just list all the open roles of a certain type, and then click to fi

[2020-06-24 21:28] cnk commented on #254
I can't produce what we need for the filter in pure Liquid. But I managed to do it with hybrid of Liquid and JavaScript. Because I was working from @tylerthome's branch, I created a PR to merge into the project-filter branch of his fork: https://github.com/tylerthome/website/pulls

[2020-06-24 23:55] ghost commented on #552
Hey @ExperimentsInHonesty, Ruben merged the pull request! Should I close this issue or leave it to you or @alexandrastubbs to close?

[2020-06-25 00:31] eb46 commented on #529
@ye-susan great job putting this all together! I like how detailed the folder descriptions are, specifically the Includes folder. I don't have anything to add at the moment but I'm sure I'll get some ideas once I start using it.

[2020-06-25 01:47] alexandrastubbs opened #587 "Create a Guide: Updating Team Pages on HFLA Site"
### Overview

The team pages on the HFLA site get outdated relatively quickly with information changing frequently - leaders, meeting times, open roles, etc. We need a guide, to live in the 'toolkit hub', that provides detailed instructions for team leaders to feel empowered to update team pages on their own.

### Action Items

- [ ] Content Collection
   - [ ] Gather instructions needed to create

[2020-06-25 01:49] alexandrastubbs commented on #587
@ExperimentsInHonesty new issue created for updating team pages. Collecting info in the linked google doc. Feel free to add in information/instruction or point me in the direction of where to find instructions on how to update these fields - I would be happy to learn some of this myself.

[2020-06-25 05:01] #570 closed, assigned to ye-susan

[2020-06-25 17:24] ExperimentsInHonesty commented on #583
I added greetbot to the Resources.  It is installed on our slack account.  So all we have to do is use it is have one of the slack admins (I am one of them), message GreetBot and make changes.

I changed the current "sent right after anyone joins" message to say the following:
![Screen Shot 2020-06-25 at 9 57 41 AM](https://user-images.githubusercontent.com/37763229/85764469-5392cc80-b6ca-11ea-83b

[2020-06-26 07:00] tylerthome commented on #254
@cnk to capture what we have informally discussed in team meetings and in Slack, this is a notional example that could serve as a robust data format for the project filter:
[code]

The most important aspect of this is that some field ('attributes' in this example) be provided in a uniform way so that we can automate the process of indexing the projects by the relevant values. Since most of the cat

[2020-06-26 23:06] cnk commented on #254
1. Progress: Project data is now in the DOM in a usable way. Which filter dropdowns to create is now controlled by the filterableCategories parameter. Latest code is available at https://github.com/cnk/website/tree/project-filter
2. Blocks: None. This is  ready for a front end / JS developer to take over, style, and create a final pull request.
3. Availability: @cnk None
4. ETA: depends on someone

[2020-06-27 15:16] yuikomajima commented on #571
Name has been changed.

[2020-06-27 16:12] alexandrastubbs commented on #583
@ExperimentsInHonesty do you have contact info for the individual to connect with at CfA? I will reach out to start to inquire.

[2020-06-27 16:42] alexandrastubbs commented on #583
Before creating a proposal for where and when we should share new member survey, looking to get clarity on these things (@ExperimentsInHonesty, we can chat during our next TB):
1. What are the key differences between remote onboarding survey and new member survey?
2. What is the goal of the new member survey? To learn about the individual or to gauge effective of HFLA site?
3. Where in the journey

[2020-06-27 23:09] ghost commented on #529
@ExperimentsInHonesty @ye-susan During our Tuesday night meeting, we talked about adding a section to the style page of the wiki that detailed where different sass components/variables /etc. could be found. I was reading through the style section, and it seems like Susan has already written this out pretty well. Screenshot included below. Do we want to go more in-depth than this within the wiki?

[2020-06-28 02:10] ye-susan commented on #514
1.  Progress: ~80% done with Github Issues Page (but not 'template-izing' it yet)
2.  Blocks: Need to figure out how to make this page into a working template
3.  Availability: Open
4.  ETA: 6/30 for html page, TBD for template

[2020-06-28 15:20] leonelRos commented on #403
Hey team here is my progress

Progress: working on the last part where I need to populate the projects for each hack for LA location. The page is 90% ready and will be posting images in the issue number.
Blocks: limited time.
Availability: Wednesday to Friday
ETA: Tuesday 06-29-20

[2020-06-28 16:21] KianBadie commented on #346
1. Progress - I made progress this week, but unfortunately did not finish the task. Where I'm at right now is trying to get the script that fetches recent comments to work with the existing comments data. I did refactor the code a bit, and made it so that contributions are combined from the commit and comments data.
2. Blocks - None
3. Availability - Thursday, Friday, Saturday
4. ETA - The next st

[2020-06-28 16:41] rfambro2 commented on #588
image to use for hero:
![civic-opportunity-hero](https://user-images.githubusercontent.com/37763229/85955940-f2bbfc00-b936-11ea-8333-ebe11a3d4b42.png)
image for project card
![civic-opportunity](https://user-images.githubusercontent.com/37763229/85956016-55ad9300-b937-11ea-99ac-1aac6a78e58d.jpg)

[image source, license free to use](https://www.pexels.com/photo/photo-of-people-working-together-3734

[2020-06-28 17:16] ExperimentsInHonesty commented on #254
1. Locations needs to be made into a list (separate PR)
2. taking the whole branch and making it look like [designs](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=532%3A1455)

[2020-06-28 17:19] ExperimentsInHonesty commented on #559
@ethanh256 is going to do update today.

[2020-06-28 17:21] daniellen00 commented on #577
Currently working on this- will have a draft ready for comments/edits

[2020-06-28 17:21] ruben1s commented on #526
Update:
    Currently working on issue. Having trouble with some of the scss.

[2020-06-28 17:55] ExperimentsInHonesty commented on #162
more link
modal on the full screen
accordion on the mobile

adding in soundbite field
add github url field
if no linkedin url provided dont ask them for linkedin photo usage
people can choose either or github/linkedin

[2020-06-28 17:59] ExperimentsInHonesty commented on #571
This is ready for development.   Great Job @yuikomajima

[2020-06-28 18:07] ExperimentsInHonesty commented on #526
@leestella748 back to the drawing board.

[2020-06-28 19:11] ExperimentsInHonesty commented on #588
@rfambro2 @abi-a I have updated the blurb - it was pasted before we accepted the changes, so it had the old wording and the new. I also added some temp images, so that we can get this project up on the website asap.

[2020-06-28 19:18] ExperimentsInHonesty commented on #503
@harishlingam - sorry to bother you with this, but I have no idea where the Google Analytics password is.  Do you?

[2020-06-29 04:30] jbubar commented on #542
Did not make any progress. Had a busy week. I am available for a few hours Thurs and over the weekend. I can get this done by our next meeting on Sunday

[2020-07-01 04:58] leestella748 commented on #526
@ExperimentsInHonesty
I discussed with the dev team today about having the nav bar disappear when users scroll down and then have it reappear if the users scrolled back up.  It seemed unnecessarily confusing and difficult to prototype, while the clickable prototype from last week seemed pretty understandable.

I expanded on the prototype (try dragging down/up on the screens as if you're scrolling

[2020-07-02 03:52] ExperimentsInHonesty opened #591 "Create project card for Open Source Automations"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Add project Card to website
   Content to come from: https://github.com/OpenSourceAutomations/OSA-Website/issues/2

### Resources/Instructions
See project cards on the hackforla.org website for examples

[2020-07-02 23:17] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/86847713-9c9b3700-c061-11ea-9be9-27753e729542.png)

![image](https://user-images.githubusercontent.com/49918375/86847740-af157080-c061-11ea-829e-3fa1ad5edf60.png)

![image](https://user-images.githubusercontent.com/49918375/86416674-72bbcc00-bc7f-11ea-8add-47c92c66639f.png)

![image](https://user-images.githubusercontent.com/49918375/8641

[2020-07-03 20:44] ghost commented on #529
@ye-susan just read through the new guide page section that you posted. Very clear and easy to understand, particularly with the visuals. I think it looks great!

[2020-07-04 18:16] ghost commented on #562
@daniellen00 and I did design hand-off mid-week after she consolidated and adjusted several elements, such as arrows, for consistency. I got started on the development side this weekend.

[2020-07-04 18:52] #514 closed, assigned to ye-susan

[2020-07-05 16:11] ExperimentsInHonesty commented on #503
@ExperimentsInHonesty will email @harishlingam to see if I can get credentials

[2020-07-05 16:15] ExperimentsInHonesty commented on #494
List has been passed off to Civic Opportunity Team and is in use on the current needs spreadsheet https://docs.google.com/spreadsheets/d/1xnrwTL4kCFhecLQmXwFWVPyWjgc3DC6aQYWq8ZF_QDI/edit#gid=0

[2020-07-05 16:15] #494 closed, assigned to nobody

[2020-07-05 16:37] ExperimentsInHonesty commented on #459
Next task is to make a spreadsheet of who has technologies listed and who doesn't and then reach out to them with the following post

Hi, I am working on updating the website to make it easier for new volunteers to find projects.  We have this new area on your project cards called Technologies.  This includes things like React/Redux, Pandas, PostgresSQL, Flask, etc. that won't show up on the Langu

[2020-07-05 16:38] KianBadie commented on #346
1. Progress - Both scripts are pretty much finished. The script that initializes all the comments data and the script that fetches the commit and recent comment data both seem to work. I have a branch that has the refactored/new data fetching script that works and commits the new data.
2. Blocks - Since there is a script that initializes all comment data up to date and a script that fetches commen

[2020-07-05 16:41] jbubar commented on #529
@ExperimentsInHonesty @ye-susan @alexandrastubbs
I am really impressed with the [site architecture page](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture)! It is definitely one of the most important pages on the wiki. I really appreciate all of the educational links. I learned a lot form it. My one thought is that this page is not easily accessed through the wiki. I found

[2020-07-05 16:47] ExperimentsInHonesty commented on #275
@switchzer0 Going though each of these updates together will help with requirements building for VRMS.  Warning this will be tedious.

[2020-07-05 16:50] leonelRos commented on #403
Progress: working on styling and adding mobile versions.
Blocks: limited time.
Availability: Wednesday to Friday
ETA: Sunday 07-05-20 end of the day.

[2020-07-05 17:01] ruben1s commented on #511
Update: I'm working on it.

[2020-07-05 17:02] daniellen00 commented on #577
**Progress:** Completing this- It's taking longer than expected because the website changed compared to the Figma pages, so I have been "inspecting Element" on the site to find new measurements.
**Blocks:** Limited time
**Availability:** Thursday, Friday, Saturday, Sunday
**ETA:** Trying to finish by tomorrow 6/6

[2020-07-05 17:04] alexandrastubbs commented on #583
@ExperimentsInHonesty will reach out to Tracy to get the template used to source API licenses so it can be mimicked for slack request.

[2020-07-05 17:15] alexandrastubbs commented on #529
1. @alexandrastubbs and @ExperimentsInHonesty will review what needs to be on the product owner link. Update PM as well. Make an issue for # 6 on introduction page.

2. @jbubar will make a link in the resources page to the site architecture wiki.

3. @ethanh256 update looking for in the template of a project.md file.

[2020-07-05 17:31] #552 closed, assigned to nobody

[2020-07-05 17:32] alexandrastubbs commented on #162
@leestella748 ETA is EOD 7/5

[2020-07-05 17:54] jbubar commented on #529
added site architecture link to the [resources page](https://github.com/hackforla/website/wiki/resources) in the wiki under web developer

[2020-07-05 17:56] alexandrastubbs commented on #254
Data available: Location, Status, Technology, and Looking For.

*Location needs to be revised in markdown files (separate issue)

[2020-07-05 17:59] cnk commented on #254
Currently looks like:
<img width="1095" alt="Screen Shot 2020-07-05 at 10 57 50 AM" src="https://user-images.githubusercontent.com/5952/86539041-8f8a1680-beae-11ea-965b-2a5700b0fced.png">

[2020-07-05 18:05] alexandrastubbs commented on #559
1. Update current project needs spreadsheet
2. Update project.md template file in the wiki

[2020-07-05 18:34] alexandrastubbs commented on #555
Two different designs:

1. More immediate page - header + links below (separated by type of resource - internal and external)
2. Long-term, more modular page w/ filtering

[2020-07-05 19:08] ExperimentsInHonesty opened #593 "Update project.md file with new location format"
### Overview
We need to update the the "looking for" in each file

### Action Items
- [x] Edit every project markdown file (actually a yaml file but they have .md file extension)

Currently formatted this way
[code]

Change the format to this
[code]
  - [x] Make sure to add Remote to all projects with the status "Active"

- [x] update the Template in the wiki
- [x] submit PR with the words Fixes [

[2020-07-05 19:23] yuikomajima commented on #555
Here are some initial mockups (all images are concept.) The left one is MVP, and right one is more long term.

figma link: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967

[2020-07-05 19:23] cnk commented on #254
@ye-susan The latest code is https://github.com/cnk/website/tree/project-filter Make a new remote for my fork (just like you have 'upstream' for the main Hack For LA project) and then make a branch in your fork that starts from my project-filter branch.

[2020-07-05 19:24] alexandrastubbs opened #594 "Review Software Development Lifecycle"
### Overview
Review the [PDF](https://drive.google.com/file/d/1emxhYv9N6KuCVrG-gnqkqHdGnjhm_Qvb/view) of the HFLA Software Development Lifecycle with the site development team and collect feedback.

### Action Items
Once reviewed, update issue #178

[2020-07-05 20:16] ExperimentsInHonesty commented on #254
Dependency #593  has been assigned to @efrenmarin45 - which will have him reformat the location structure to be the following style:
[code]

[2020-07-05 21:05] leestella748 commented on #162
@ExperimentsInHonesty @alexandrastubbs
Here's the Figma link: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1552%3A3693
<img width="735" alt="image" src="https://user-images.githubusercontent.com/61727650/86542209-7e4e0380-bec8-11ea-92cb-35d7bddca4ab.png">

[2020-07-05 22:27] Adeola-Adesoba commented on #593
Hi, can I help with the new location format?

[2020-07-05 23:37] ExperimentsInHonesty opened #595 "Create sitemap for HfLA site"
### Overview
We need a sitemap so that we can see what pages we have and where we are adding new ones.

### Action Items
- [x] Product
   - [x] Define the pages and their status for the sitemap
- [x] Design
- [x] Create sitemap in figma for
   - [x] pages
      - [x] Homepage (live
      - [x] Getting Started (live)
      - [x] ToolKit (in design)
      - [x] Guide: 2FA (in development)
      - [x

[2020-07-05 23:41] ExperimentsInHonesty commented on #595
posted this in slack to @yuikomajima
ok, I know this is going to sound crazy.. but while looking at this I couldn’t help but see how this could easily be made into a collection and actually display on the website.  Meaning, if you designed out all the different ways that the images could display and their parent id, it could be built automatically
[code]

[2020-07-05 23:43] yuikomajima commented on #595
OK @ExperimentsInHonesty I have a much more simplified one right now here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1558%3A13110

We can make it the way you had mentioned, but just so we are on the same page, is this sitemap's purpose for our internal team to discuss what needs to be designed, or to be put on the website so users can navigate to pages?

[2020-07-06 00:39] ExperimentsInHonesty commented on #595
[discussion via slack between @yuikomajima and @ExperimentsInHonesty](https://docs.google.com/document/d/17FRUaj-gcT-2WmOELKK-8t371KBzy6OavqsF4vTt8xc/edit) for those who want to read the whole thing.

Summary of discussion:
@yuikomajima will create a sitemap in figma that conveys the status types above and will also make a prototype of what that might look like if displayed dynamically on the site

[2020-07-06 02:42] efrenmarin45 commented on #593
Thank you for the offer, but I finished this up earlier in the day but was having issues with my github authentication to push. All good now though.

[2020-07-06 02:51] yuikomajima commented on #595
I updated the sitemap accordingly: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1558%3A13110

[2020-07-06 03:57] ghost commented on #525
<img width="603" alt="openRolesDemo" src="https://user-images.githubusercontent.com/58455740/86554282-06043400-bf02-11ea-9b86-2fe6b7065ebe.png">
<img width="288" alt="openRolesExample" src="https://user-images.githubusercontent.com/58455740/86554284-07cdf780-bf02-11ea-8ed6-5713a010d0b6.png">

[2020-07-06 04:20] ghost commented on #559
Fixed: looking for sections of https://github.com/hackforla/website/wiki/Template-of-a-project.md-file and https://github.com/hackforla/website/wiki/Guide-to-the-Project-Layout-File

Project Needs Google Spreadsheet updated.

Issue closed.

[2020-07-06 04:20] #559 closed, assigned to nobody

[2020-07-06 16:06] ethanh256 opened #597 "Documentation for Adding Images to Wiki Pages"
### Overview
Rather than being able to drag+drop images to the Wiki, you have to generate a link to your image by adding/storing it in #525. Information about how to do this is not present in the Wiki.

### Action Items
- [ ] Determine the best location to add this information
- [ ] Add documentation describing how you should drag+drop images to #525, submitting your comment, and then editing your

[2020-07-06 20:01] ExperimentsInHonesty commented on #597
@ethanh256 please add some details about inserting images?  What code works (the native method) and the html for when u need to control sizing

[2020-07-06 23:03] ExperimentsInHonesty commented on #583
@alexandrastubbs Here is the website for the greet bot we use that currently only allows one message to be configured
https://greet.bot/. Its definitely worth writing to them.  I sent you a copy of what tracy wrote.  When I am asking for things, I make the following information clear.  We are fiscally sponsored by Code for America which is a 501c3.  And we will write a case study in the form of a

[2020-07-07 18:28] harishlingam commented on #503
@ExperimentsInHonesty Here are the login credentials for GA:

Username: webadmin@hackforla.org
Password: pezmuq-jaJja6-suhbyn

[2020-07-07 22:09] #593 closed, assigned to efrenmarin45

[2020-07-09 09:17] jbubar commented on #588
![Screen Shot 2020-07-09 at 2 12 48 AM](https://user-images.githubusercontent.com/53061723/87021666-57265900-c18a-11ea-830f-8344e4e43500.png)
![Screen Shot 2020-07-09 at 2 12 56 AM](https://user-images.githubusercontent.com/53061723/87021675-5988b300-c18a-11ea-97a9-0c4b7cf58e8b.png)
![Screen Shot 2020-07-09 at 2 13 06 AM](https://user-images.githubusercontent.com/53061723/87021681-5ab9e000-c18a-11

[2020-07-09 09:22] jbubar commented on #588
Made the project card using the [template](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file)
blocks: PDF icon, and the resources picture
Availability: Saturday evening

Questions:
what do you think?
Is the pdf icon ok?
What is the identification number for github api?
Would you like me to look into changing the img for the pdf under resources? (last img)

[2020-07-09 09:23] jbubar commented on #588
@alexandrastubbs @ExperimentsInHonesty
Who should I ask to review this?

[2020-07-09 16:03] rfambro2 commented on #588
@jbubar - This looks great! Here's a link to the [ReadMe](https://github.com/hackforla/civic-opportunity/blob/master/README.md) which may have a bit more updated information on it for your reference as well. I shot you a Slack message to address some of your other questions.

[2020-07-09 22:30] ExperimentsInHonesty opened #599 "Create project card for 100 Automations"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x]  An

[2020-07-10 04:19] ExperimentsInHonesty commented on #588
@jbubar - opps looks like we forgot to provide you with the leadership details.
![Screen Shot 2020-07-09 at 9 18 32 PM](https://user-images.githubusercontent.com/37763229/87116064-c30bce80-c229-11ea-960a-45c162a069e6.png)

I'll gather that info and post it here as a comment and let you know.

[2020-07-10 04:26] ExperimentsInHonesty commented on #588
- name: Ray Fambro
    role: Product Manager
    links:
      slack: 'https://app.slack.com/team/U015QPJS34M'
      github: 'https://github.com/rfambro2'
    picture: https://avatars.githubusercontent.com/rfambro2

[2020-07-10 18:14] alexandrastubbs commented on #110
Email sent to Nina to source more information on a possible solution.

[2020-07-10 20:17] alexandrastubbs opened #600 "HFLA Site Members Complete 2FA Set-up"
### Overview
A few HFLA site team members do not yet have 2FA enabled and need to get it enabled.

### Action Items
- [x] @leonelRos to set-up 2FA
- [x] @jbubar to set-up 2FA

### Resources/Instructions
Guide for setting up 2FA: https://github.com/hackforla/governance/issues/20

[2020-07-10 20:35] alexandrastubbs opened #601 "Product Manager Touchbase Agenda"
### Overview
Agenda for meeting between Bonnie and Alex. Meeting scheduled for 7/11 @ 8am PST.

### Agenda
 - [x] Bonnie to provide more information on #178
 - [x] Confirm HFLA team needs - UI designer, UX researcher, more developers

[2020-07-10 21:02] alexandrastubbs commented on #178
This has been added to agenda for PM TB.

[2020-07-10 21:07] KianBadie commented on #346
I have created the testing script mentioned in the previous comment. After using it, I got the same results as my "initialization" script for a project with multiple repos and a project with a single repo. So I am assuming my initilization script is correct. Now it is time to test and touch up the github-api script.

However, there is an important note that I just learned. While testing, I noticed

[2020-07-11 00:28] leonelRos commented on #600
@alexandrastubbs  I will set it up this week! Thanks

[2020-07-11 12:46] cnk commented on #346
I am of two minds about which is the better count - counting comments or counting comments plus their updates (as would be the case for the incremental counts). But either method is likely to produce the same order of contributors. So I am not worried about the counts changing if we lose the data and have to recreate it.

[2020-07-11 17:19] KianBadie commented on #346
@cnk I think you're right. Since we aren't showing total contributions, the order is more important. And I think it is pretty possible the order will stay the same. I think changing the code so that it doesn't recognize updates wouldn't be a big change in the code, so I will code it that way for now just so it is easier to test and keep track of. If we do want to keep track of updates, I think I c

[2020-07-11 19:24] alexandrastubbs opened #602 "Template for Issue Using SDLC Process"
### Overview
The 'ideal' development workflow cycle differs from the operating model for the HFLA site team. We are working to document the process the HFLA site team uses, but before we codify the model, we'd like to test the 'ideal' SDLC in practice first. This issue will be the first test of that process.

### Action Items

SDLC Test: feature = Citizen Engagement Projects

Description of the Ci

[2020-07-11 19:25] alexandrastubbs commented on #178
Bonnie & Alex have discussed and decided to test the [mocked up version](https://drive.google.com/file/d/1emxhYv9N6KuCVrG-gnqkqHdGnjhm_Qvb/view) of the SDLC in practice. We will then identify which pieces need to be removed and/or adapted based on the site team operating model.

Issue #602 is ready to be used to test the development model.

[2020-07-11 19:40] alexandrastubbs opened #603 "HFLA Team Needs Update"
### Overview
We need to keep the Hack For LA Website card up to date so that we can onboard new team members.
### Action Items
- [x] Product
  - [x] Gather the changes
     - [x] Looking for
     - [x] Team leads on this page. Please add the following information:
        - [x] Who to remove/or revise
        - [x] Who to add
           - [x] Name
           - [x] Role
           - [x] Slack membe

[2020-07-12 00:10] ghost commented on #562
I have the content and basic layout complete for the desktop version of the page, starting to work on the more detailed positioning of the arrows and captions. I have a time constraint for the next couple weeks - I'm working on my final project for G.A. until the end of July 21st!

[2020-07-12 01:40] jbubar commented on #588
Made the changes requested.
- added the leadership details // thank you Bonnie
- found the repository id for github api
- changed the pdf icon to the one suggested by @rfambro2

waiting on feedback from Ray before submitting a pull request. We are communicating on slack.

I have time tonight to finish this.
![Screen Shot 2020-07-11 at 6 36 31 PM](https://user-images.githubusercontent.com/53061723/

[2020-07-12 01:51] jbubar commented on #588
I have a couple of questions/thoughts about the PDF:
1. Could we add an icon to replace the link icon (blue arrow) for all links that end in ".pdf"?
2. if I click the PDF link, it automatically downloads. would it be possible to host it on the Hack4LA website?
3. is there an icon library that we use for the website? I just embedded a png img (green arrow) but I am not sure if that is the best way.

[2020-07-12 01:51] ExperimentsInHonesty commented on #588
@jbubar unclear about why there is an icon next to the text.  That is not standard and specifically does not fit with the rest of our links as you can see from the picture you provided.  Then the icon above should either be a pdf logo or the image from the project card.  That decision will need be decided by product (me and alex) and design (Yuiko, Stella and Danielle) after we poll the whole deve

[2020-07-12 01:55] jbubar commented on #588
Ok. I understand now. Misunderstood the instructions.
![Screen Shot 2020-07-11 at 6 53 02 PM](https://user-images.githubusercontent.com/53061723/87237181-ec526900-c3a7-11ea-9e38-37d3d2c71274.png)

Here is what I originally put before talking to ray.
![Screen Shot 2020-07-11 at 6 34 09 PM](https://user-images.githubusercontent.com/53061723/87237161-a5647380-c3a7-11ea-8e15-074a248cfaaa.png)
Happy to

[2020-07-12 02:00] ExperimentsInHonesty commented on #588
@jbubar i get why you thought it was the pm you should talk to.  But we need to maintain uniformity across all pages, and the pms have no idea what our style guide is, so they can’t answer those types of questions.  The note in parentheses was about using a pdf icon instead of the link icon.

[2020-07-12 02:02] ExperimentsInHonesty commented on #588
And before you ask... we don’t actually have a style guide and we totally need one, and it’s in progress.

[2020-07-12 07:37] ye-susan commented on #254
1. Progress: Basic styling of the filters are finished
2. Blocks: Need to fix arrow on filter when item is selected, and need to add site and language data
3. Availability: Mon-Tue, Fri-Sun
4. ETA: TBD, dependent on retrieving site and language data

![image](https://user-images.githubusercontent.com/49918375/87241366-47e81b00-c3d7-11ea-96a5-114eb340e705.png)

[2020-07-12 15:38] ethanh256 commented on #597
Issue edited to include details about how to format image insertions.

[2020-07-12 15:49] ghost commented on #571
**Progress:** Working through the update: certain questions increased progress time (will message PM)
**Blocks:** Unclarity
**Availability:** Sunday, Monday, Tuesday
**ETA:** Sunday (earliest), Tuesday (latest)

[2020-07-12 15:49] alexandrastubbs commented on #110
Spoke w/ Nina and will look into creating something similar to Code for America's slack sign up: http://slack.codeforamerica.org

Need to consider what other information needs to be collected at this point in time and if any of it is redundant to the other surveys that we share out.

[2020-07-12 15:52] alexandrastubbs commented on #583
Thanks for sharing, @ExperimentsInHonesty. This is on my to-do list to get done in the next two days. Will circle back with a first draft.

[2020-07-12 16:28] leonelRos commented on #403
<img width="1370" alt="Screen Shot 2020-07-12 at 9 21 58 AM" src="https://user-images.githubusercontent.com/50648001/87251515-24e25900-c421-11ea-9352-5d6a0f738bee.png">
<img width="1121" alt="Screen Shot 2020-07-12 at 9 24 28 AM" src="https://user-images.githubusercontent.com/50648001/87251571-7ee31e80-c421-11ea-89ad-6f914d11286b.png">
<img width="1165" alt="Screen Shot 2020-07-12 at 9 24 48 AM" s

[2020-07-12 16:45] alexandrastubbs commented on #525
![HFLA ](https://user-images.githubusercontent.com/66918724/87251956-80badb00-c43d-11ea-97a3-8c2c76aced21.png)

[2020-07-12 16:52] alexandrastubbs commented on #403
@leonelRos a helpful tool to capture your full screen is this [google chrome extension](https://chrome.google.com/webstore/detail/full-page-screen-capture/fdpohaocaechififmbbbbbknoalclacl?hl=en)

[2020-07-12 17:01] daniellen00 commented on #577
First draft: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1695%3A13302

Still need to adjust several parts, but getting there!

[2020-07-12 17:21] alexandrastubbs commented on #403
@leestella748 will update Figma to show what happens when the 'our locations' is dropped down. @leonelRos will update spelling for 'Hack Nights'.

[2020-07-12 17:21] ruben1s commented on #511
Update:
![screencapture-0-0-0-0-4000-guide-pages-2FA-2020-07-12-11_15_47](https://user-images.githubusercontent.com/33906590/87253576-27e54580-c431-11ea-8d5e-551f1f3fde38.png)
![screencapture-0-0-0-0-4000-guide-pages-2FA-2020-07-12-11_16_07](https://user-images.githubusercontent.com/33906590/87253579-2b78cc80-c431-11ea-8734-e5580942636f.png)

    Good: Finished 2FA page.

    Bad: Had to tweak scs

[2020-07-12 17:40] leestella748 commented on #403
@leonelRos done
<img width="305" alt="image" src="https://user-images.githubusercontent.com/61727650/87252980-1f3e4080-c42c-11ea-9fe2-5dcc497b6490.png">

[2020-07-12 17:54] ExperimentsInHonesty commented on #577
@ye-susan will coordinate with @daniellen00 to get consistency - so that page title and other heading names are changed to be what is reflected in the existing typograph scss https://github.com/hackforla/website/blob/gh-pages/_sass/elements/_typography.scss

[2020-07-12 18:08] alexandrastubbs commented on #503
Log-in information spreadsheet has been added to HFLA Site team folder. GA log-in information is available there.

[2020-07-12 18:08] ExperimentsInHonesty commented on #571
@ethanh256
markdown files in the _credits folder will have the following
Content (since we might be using not only icons and imagery but maybe videos etc. in the future)
Used in:
Artist:
Provider:
image url:
type: {icon, resource}
display: {false}

what to create:
collection will be called _credits
include file will be called /includes/credit-item.html
edit _config.yml to include the credits in th

[2020-07-12 18:13] ExperimentsInHonesty commented on #562
ETA is 2 weeks.

[2020-07-12 18:39] alexandrastubbs opened #605 "Update Readme with Commit Naming Language"
### Overview
Currently, commit names are often not clear or descriptive. We need to provide instructions on naming best practices.

### Action Items
- [x] @jbubar to update the [readme file](https://github.com/hackforla/website#readme)
- [x] product team to review

### Resources/Instructions
Examples of closed pull requests: https://github.com/hackforla/website/pulls?q=is%3Apr+is%3Aclosed

[2020-07-12 18:46] ruben1s commented on #511
Updated git link scss.
![screencapture-0-0-0-0-4000-guide-pages-2FA-2020-07-12-11_45_00](https://user-images.githubusercontent.com/33906590/87254141-44837c80-c435-11ea-992b-6712f9c9bc0f.png)

[2020-07-12 18:50] leonelRos commented on #403
Thanks, @leestella748.
I refactored most
 of the styling and now the page looks like that.

![screencapture-localhost-4000-hack-nights-page-2020-07-12-11_48_52](https://user-images.githubusercontent.com/50648001/87254214-bbb91080-c435-11ea-9f63-d871423e7344.png)

[2020-07-12 20:29] ghost commented on #562
@ye-susan @ruben1s -- Added the overlay image and arrow styles into the _guide-pages.scss file to be pushed up when I make a pull request for the survey-reporting-dashboard. Since there are three different arrow sizes in my project, I was thinking of adding in mix-ins for the medium to large arrow sizes as well. I could do something like...

`.medium-arrow-right-overlay(($top, $left: default-value

[2020-07-12 20:39] leestella748 commented on #403
@ExperimentsInHonesty  During the breakout room with Alex and Yuiko, we also discussed the hack nights mobile page.  The original plan was to keep the “see our locations” dropdown within the yellow COVID-19 banner, but we agreed that it made more sense to keep the items separate.  I talked to Leo as well since he’s working on the ticket, and he agreed and said he actually already has a second vers

[2020-07-12 20:45] ruben1s commented on #562
That is good. More dynamic equals better.

[2020-07-12 22:32] arunprakash87 opened #607 "Update civic tech index project card"
### Overview
New Product manager and would like to update their information.

### Action Items
Change from
[code]
to
[code]

[2020-07-13 16:17] #511 closed, assigned to ruben1s

[2020-07-13 19:10] leonelRos commented on #600
@alexandrastubbs  I just enable my 2FA

[2020-07-14 12:20] alexandrastubbs opened #609 "Schedule Brand Sprint"
### Dependency
After satisfactory status is achieved.

### Overview
As the website continues to grow, consistency in our look and feel is increasingly important. As we go back-and-forth on colors and images, we need to take a step back and think about our brand identity. We'd like to schedule a 3-hr brand sprint.

### Action Items
- [ ] Identify attendees - need to be individuals with decision mak

[2020-07-14 13:08] alexandrastubbs opened #610 "HFLA Wiki Updates"
### Overview
[Introduction to Project](https://github.com/hackforla/website/wiki/Introduction-to-the-Project) and [Joining the HackforLA.org Website Team](https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-website-team) wikis are missing some information and outdated at points. Issue #529 provides some backgroound.

### Action Items
- [x] [Move HFLA One Sheeter](https://docs.googl

[2020-07-14 13:09] alexandrastubbs commented on #610
Test this link:  Slack our PM [Alex](https://hackforla.slack.com/team/U015KCAN676) with your Gmail address.

[2020-07-14 13:23] alexandrastubbs commented on #583
@ExperimentsInHonesty do you mind clarifying where you sent the copy of Tracy's note? Apologies, but I cannot seem to find it.

[2020-07-14 13:42] alexandrastubbs commented on #110
In thinking through when an individual would encounter this survey, we have two viable options for where to put the code of conduct:

1. Add it into the Remote Onboarding Survey
2. Create a survey to replace slack self sign-up and roll both code of conduct and slack sign-up into this step

First is preferred, but depends on how many individuals actually complete this survey. We could try to make t

[2020-07-15 02:17] #346 closed, assigned to KianBadie

[2020-07-15 22:20] alexandrastubbs commented on #162
Add the following teams to the Figma:

- Civic Opportunity Project
- 100 Automations
- The Messaging Project
- Racial Justice

[2020-07-15 22:34] alexandrastubbs commented on #162
@leestella748 as we are building out the google form, we'd like to add an image at the top that corresponds to the image we have on the page. The image size is 1600x400. An example of an existing survey is: https://docs.google.com/forms/u/1/d/e/1FAIpQLSfb8IOV1oHhWCMPedZFJ0cl35Q3haomR8xMNRt2QXCEuVPwtw/viewform

[2020-07-15 22:44] alexandrastubbs commented on #162
Work in progress form can be found [here](https://docs.google.com/forms/d/1ZhyJ98nrscV3c09RT_E_sJXrHkKcUt6_a1qoChH5pQ4/edit)

embed code for show us your wins (for later date): <iframe src=“https://docs.google.com/forms/d/e/1FAIpQLScQPxxJ6lekzqWpi3hyV-yiSMxKagf8lS7zxArKbqbsgb079A/viewform?embedded=true” width=“640" height=“549” frameborder=“0" marginheight=“0” marginwidth=“0">Loading…</iframe>

[2020-07-15 22:59] alexandrastubbs commented on #110
Tabling for now due to lift required and release of VRMS.

[2020-07-15 23:05] alexandrastubbs commented on #503
We should create a guide for how to use GA on any project site. Good project for a special project coordinator.

Follow up with Bonnie on this.

[2020-07-15 23:17] alexandrastubbs commented on #403
@leestella748 some feedback to share after chatting w/ Bonnie. Happy to voice over live on Sunday.

- Given the importance of the COVID message and wanting to make sure that individuals understand that the locations are not accessible right now, we would like the locations pill to live within the yellow and upon expansion, want the yellow background to expand with the content that it sits behind
-

[2020-07-15 23:45] rfambro2 commented on #588
@jbubar @ExperimentsInHonesty - Sorry Josh. I was just trying to be proactive. Didn't mean to overstep. Thanks so much for your work on this!

[2020-07-17 17:26] ExperimentsInHonesty commented on #254
@ye-susan reminding you to push this for review as soon as you have fixing arrow on filter when item is selected resolved.  Better to launch this without all the filters first, improve after.  Agile is iterative.  Waterfall is nothing gets pushed until it's all done.  Don't get wet!

[2020-07-17 17:32] ExperimentsInHonesty commented on #588
@jbubar what is the status on finishing this up.  Where we left off in the meeting was that it was going to say Overview and show the project image (like the wiki does on this page)
![Screen Shot 2020-07-17 at 10 29 07 AM](https://user-images.githubusercontent.com/37763229/87814350-6d7e8580-c818-11ea-9857-f6ef37f851e1.png)
https://www.hackforla.org/projects/311-data

[2020-07-17 20:20] alexandrastubbs commented on #583
Email has been sent to Greet Bot to learn about non-profit pricing options for the tool.

[2020-07-18 01:58] ye-susan commented on #254
@ExperimentsInHonesty Will do! I realized that I didn't create the mobile version of the styling after fixing the desktop version, so I'm currently working on that - I'll push it as soon as I'm done

[2020-07-18 02:57] jbubar commented on #600
@alexandrastubbs I enabled 2FA. Sorry about that. Thanks for your patience

[2020-07-18 18:08] jbubar commented on #588
![screencapture-0-0-0-0-4000-projects-civic-opportunity-2020-07-18-11_12_51](https://user-images.githubusercontent.com/53061723/87859142-b0f3f500-c8e7-11ea-8b4a-ee5b5a491e8c.png)
![Screen Shot 2020-07-18 at 11 14 28 AM](https://user-images.githubusercontent.com/53061723/87859183-134cf580-c8e8-11ea-8088-63e34b9721ff.png)

[2020-07-18 18:09] jbubar commented on #588
Let me know if you want the 'Project One Page' in the getting started section.
The pull request that I opened does not have the project one page in the getting started section.

[2020-07-19 03:16] ethanh256 commented on #571
**Progress:** almost finished
**Blocks:** Time
**Availability:** Sunday
**ETA:** Sunday

[2020-07-19 07:49] ye-susan commented on #254
1.  Progress: I'm having trouble recreating the mobile version of the project filters to look like the figma, what would the designers think about the following style?
2.  Blocks: n/a
3.  Availability: Mon-Tue, Fri-Sun
4.  ETA: I can create the PR asap if the designers are okay with how the mobile looks for now, and can continue to work on making it look more like the Figma
![image](https://user-i

[2020-07-19 16:15] alexandrastubbs commented on #162
1. Progress - form not started yet
2. Blocks - none
3. Availability - Mon, Tues, Wed
4. ETA - Tuesday EOD

[2020-07-19 16:26] ghost commented on #562
I'm about 70% done with the desktop version of the site, anticipating this project being complete by following Sunday pending the mobile version.

[2020-07-19 16:29] alexandrastubbs commented on #610
For Kanban board, create 'how we use them' document and a reference to one in progress. Alex working on this.

1. Progress - slide deck is added, but need to add a how we use them doc
2. Blocks - none
3. Availability - Mon, Tues, Wed
4. ETA - updates to wiki by EOD Tuesday, outline for article by Sunday 7/26

[2020-07-19 16:30] alexandrastubbs commented on #403
Discuss name for page in today's meeting.

[2020-07-19 16:37] #600 closed, assigned to nobody

[2020-07-19 16:37] alexandrastubbs commented on #600
Both Josh & Leo have completed.

[2020-07-19 16:44] daniellen00 commented on #577
Utilized Sass Github folders for consistency between website and Figma per Susan's suggestion, and consulted with her on questions.

Also discussed [Storybook option](https://swizec.com/blog/build-a-new-design-system-in-a-couple-afternoons/swizec/9444) (via Cynthia) for a 'living style guide' with Susan. Will consult with the developers about this more today.

[2020-07-19 17:06] jbubar commented on #605
Updated the Readme file to include a request to name their pull request descriptively

[2020-07-19 17:25] alexandrastubbs commented on #403
Name to be changed to Events.

[2020-07-19 17:29] alexandrastubbs commented on #588
Change 'Project One Page' to 'Overview'. Can include in Getting Started as well.

Kian will review pull request.

[2020-07-19 17:33] #605 closed, assigned to jbubar

[2020-07-19 17:33] alexandrastubbs commented on #605
Review of instructions to come in the future. All good for now.

[2020-07-19 17:54] alexandrastubbs commented on #555
Bonnie to provide paragraph for the top of the page.

[2020-07-19 18:15] alexandrastubbs commented on #156
@yuikomajima to provide image for this page. @ExperimentsInHonesty to provide a blurb for the page.

[2020-07-19 19:00] alexandrastubbs opened #614 "About Us Page"
### Overview
Create an 'About Us' page to host information on the organization, primarily built for partner/sponsor audience, but also for individuals or potential volunteers looking to learn more about what we do.

### Action Items

Information Needed
- [x] Bonnie to share summary blurb for the page
- [x] Bonnie to share summary on workforce development
- [x] Bonnie to share list of partners
- [

[2020-07-19 19:08] alexandrastubbs opened #615 "Create Resources for Contributor Tracking"
### Overview
After Kian was successfully able to include comments as a data point for activity levels of contributors, we would like to document the process and have available to reference. This is a big win and we need to showcase it!

### Action Items
- [x] Make 100 automations card https://github.com/100Automations/Website/issues/31
   - [x] Blurb about project
- [x] generic script not specific

[2020-07-19 19:16] ExperimentsInHonesty commented on #555
@ruben1s Here is my paragraph for the top of the page:

### There is no Toolkit
Toolkit implies that there is one set of tools that is perfect for the job you are tackling!
What you will find here are tools we have found to be effective.  Think of this as the most awesome collective tool shed!
Here you can find, share, and suggest tools that are of use to the open source civic tech software commun

[2020-07-19 19:16] yuikomajima commented on #156
Image added to this page: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=532%3A1455

[2020-07-19 19:24] alexandrastubbs opened #616 "Test Adblocker on HfLA Site and Footer"
### Overview
We need to ensure that adblockers are not blocking our code from showing up to ensure that visitors to the site are able to see content on the footer.

### Action Items
Developer
- [x] Install Adblocker (see link below)
   - [x] Try to replicate issue by turning blocker on (no special settings)
- [x] If issue is confirmed, check to see if we can update code to avoid this happening aga

[2020-07-19 19:30] ExperimentsInHonesty commented on #511
new url: https://www.hackforla.org/guide-pages/2FA.html

[2020-07-19 19:32] alexandrastubbs opened #617 "Update 2FA Link on Getting Started Page"
### Overview
Update the Getting Started page to link to the new 2FA guide so that it will be easier for people to set up 2FA.

### Action Items
- [ ] Update the 2FA link on the getting started page

### Resources
Hack for LA's new 2FA guide page: https://www.hackforla.org/guide-pages/2FA.html
Hack for LA's getting started page: https://www.hackforla.org/getting-started

[2020-07-19 19:36] ExperimentsInHonesty commented on #614
Partners (past and current):
Yale OpenLab, https://openlab.yale.edu/,
Empower LA
Digital Defense Fund
Point Source Youth
SPY
LADOT
City of Santa Monica
NDICA
EnCiv.org
Balotopedia
LA City Attorney's office
LA Mayors Office
LA City Department of Personnel
LA County Homeless Initiative
LA Metro
Hope of the Valley

[2020-07-19 19:39] alexandrastubbs opened #618 "Self Onboarding Updates on Getting Started page: Wins"
### Overview
We need to link out to the new Wins page from the copy block in the Self Onboarding section of the Getting Started page so that visitors can learn about the cool accomplishments of our members.

### Action Items

Product
- [ ] Create wording for page

Development
- [ ] Development update with new links and copy

### Resources

[Getting Started page](https://www.hackforla.org/getting-s

[2020-07-19 20:02] yuikomajima commented on #184
See[ this figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1807%3A17187) for design that swaps out the projects section with updated hero and upper sections. The mockup on the right side of this frame is an idea of how we could redo the entire home page. Needs further discussion, but something to get a conversation started.

[2020-07-20 16:09] #254 closed, assigned to ye-susan

[2020-07-21 04:33] #588 closed, assigned to jbubar

[2020-07-21 05:15] ExperimentsInHonesty commented on #591
Duplicate

[2020-07-21 05:15] #591 closed, assigned to nobody

[2020-07-21 21:34] alexandrastubbs commented on #583
Received word that we are eligible for special pricing with Greetbot. The discount is 50% for non-profits, which brings the price down to $6. Need to evaluate if we have any budget (does that exist?) to spend on this, or if it is worth the spend.

[2020-07-22 05:28] KianBadie opened #625 "Fix "alt" text values in project.md files"
### Overview
For a couple of project.md files, the text value of the "alt" text produces errors in how the alt text is actually produced on the website (see image bellow). Verify that alt text is correct on the site for each project and if not, fix the "alt" text in the project.md cards so that it is correct.

Another route could be to change the way Jekyll incorporates the alt text in the _includ

[2020-07-22 06:32] leestella748 commented on #162
![wins-2](https://user-images.githubusercontent.com/61727650/88142476-6786fc80-cbaa-11ea-9d53-b94745c4f603.png)

[2020-07-22 11:15] efrenmarin45 commented on #542
**Progress:** I was able to implement the web embedding to a new dashboard page. Still need to do a mobile version but should be done before the end of the week 7/26/20.
**Blocks:** No
**Availability:** All week
**ETA:** Friday-Saturday

[2020-07-22 17:18] cnk opened #628 "Regularize existing tems in "Technologies""
One project has a / between technologies.
We have several variations on React - consolidate to one
Move SQL (PostgreSQL) to just PostgreSQL

<img width="222" alt="Screen Shot 2020-07-22 at 10 16 16 AM" src="https://user-images.githubusercontent.com/5952/88207547-cf6a3100-cc04-11ea-97c4-7b8cb10b002a.png">

[2020-07-22 18:33] alexandrastubbs commented on #162
Google form is complete [here](https://docs.google.com/forms/d/1ZhyJ98nrscV3c09RT_E_sJXrHkKcUt6_a1qoChH5pQ4/edit). Open to suggestions and/or edits. @ExperimentsInHonesty

[2020-07-23 14:51] alexandrastubbs commented on #610
PM has been updated and one-sheeter has been moved to Intro to Project Wiki. I removed the screenshot of our site because it was too small and not legible. I believe including a link to site prominently at the start of the page should suffice. Link for screenshot below in case we need it.

Will work on Kanban article next.

![Screenshot of HFLA Homepage](https://user-images.githubusercontent.com/6

[2020-07-23 17:42] #617 closed, assigned to jbubar

[2020-07-24 03:15] jbubar commented on #459
here is the [google spreadsheet](https://docs.google.com/spreadsheets/d/12Yz_q2j_1eOa7Z3ekjqTPENFHs5sbjT98qMIApZ45ts/edit?usp=sharing) to keep track of each projects technologies.

Progress: I reached out to all of the projects (except for 100automations) that have not given us the technologies that they use.
Blocks: could not find a slack channel for 100automations
ETA: depending on how quickly t

[2020-07-24 06:36] alex-anakin commented on #459
for VRMS:
back-end: Node.js/Express
DB: MongoDB
front-end: React.js
styles: SCSS

[2020-07-24 15:19] ExperimentsInHonesty commented on #459
Civic Opportunity:
None at this time.  We will fill this out when we get farther along.

[2020-07-24 15:31] ExperimentsInHonesty commented on #459
100 automations:
GitHub Pages, Jekyll, Python, Javascript

[2020-07-24 15:33] ExperimentsInHonesty commented on #459
Racial Justice:
Researching on Google, email

[2020-07-24 15:40] entrotech commented on #459
1. TDM
2. React/HTML/CSS,  Node/Express, Microsoft SQL Server, Docker, Azure App Servcie for Containers

[2020-07-24 15:42] entrotech commented on #459
1. Food Oasis
2. Reach/HTML/CSS Mapbox, Material-UI, Node/Express, Postgres with some Postgis (geographic) features, AWS, docker

[2020-07-24 23:30] KianBadie commented on #615
Should I create a generic script that isn't specific to the context of hfla before writing this so there could be code examples?

[2020-07-25 00:37] ExperimentsInHonesty opened #632 "Citizen Engagement"
### Overview
We need a page for the Citizen Engagement Projects so that we can guide interested citizens and Neighborhood Councils to our Citizen projects with the purpose of increasing engagement.

### Action Items
- [x] Product
   - [x] Identify requirements for page
      - [x] Summary of what our Citizen Engagement Portfolio is about
      - [x] How to get involved paragraph and email citizen-

[2020-07-26 00:19] ghost commented on #562
Desktop and mobile of survey reporting page complete, once they are reviewed by the team during Sunday's meeting I'll submit a pr

[2020-07-26 02:40] ruben1s commented on #555
Update: Here are the screenshots of my progress.

1. Progress:
   Completed all the html.
   Stored all assets svgs/images.
   Need to work on scss.

2. Blocks: None

3. Availability: Mon - Fri 5 pm - 7 pm

4. ETA: Friday Aug 28.

![Screenshot from 2020-07-25 19-36-29](https://user-images.githubusercontent.com/33906590/88470195-7ae9de80-ceae-11ea-9f51-c990af3662ab.png)
![Screenshot from 2020-07-25

[2020-07-26 08:15] efrenmarin45 commented on #542
**Progress:** Web and mobile views have been implemented and are working as intended in reference to the Figma files.
**Blocks:** No
**Availability:** All week
**ETA:** I am done, just need someone to review my PR

[2020-07-26 15:12] alexandrastubbs commented on #610
1. Progress - everything complete except for Kanban board article
2. Blocks - none
3. Availability - Mon, Tues, Wed
4. ETA - outline for article by Sunday 8/2

[2020-07-26 15:16] alexandrastubbs commented on #615
@KianBadie If that is not a huge lift, that would be very helpful.

[2020-07-26 15:29] alexandrastubbs commented on #503
@harishlingam sorry to bother you again - in order to log-in to GA, there is a second layer of identification confirmation that involves a text message to the number on file. Would you be able to go in and change the phone number to mine? 201-572-1361. From there I can leave as is or change to whoever will be using the account the most. Let me know!

[2020-07-26 16:28] ExperimentsInHonesty commented on #615
@KianBadie yes, it should go into the http://github.com/100automations/ ill add you to that org so that you can create the repo there.

[2020-07-26 16:30] ExperimentsInHonesty commented on #615
@KianBadie You can start a draft of what your automation is about by filling out this [issue](https://github.com/100Automations/futureautomations/issues/new?assignees=&labels=documentation%2C+review&template=-automation-proposal.md&title=%5BAutomation+Name%5D+Proposal) (which is like a questionnaire):

[2020-07-26 16:36] alexandrastubbs commented on #562
@hannahlivnat can you please include screenshots for mobile & desktop in this issue?

[2020-07-26 16:39] cayd commented on #459
1. Record Clearance
2. React

[2020-07-26 16:42] daniellen00 commented on #577
Determined with Susan that Storybook and other automatic component generating programs like Styleguidist/Docz won't work for the site after all (mostly because they're React-focused).

[2020-07-26 16:42] alexandrastubbs commented on #583
@ExperimentsInHonesty will create 100 Automations proposal to build our own Greetbot tool

[2020-07-26 16:57] alexandrastubbs commented on #542
@efrenmarin45 can you share screenshots of the above by pasting them into this issue?

[2020-07-26 16:59] alexandrastubbs commented on #599
@drubgrubby can you please update this issue?

[2020-07-26 17:00] leonelRos commented on #403
Hey guys I didn't have much time to finish the new mock up this week but I will be working on it all day today.

Progress: web and mobile version, need to add functionality
Blocks: time-limited.
Availability: Wednesday to Friday
ETA: 07-28-20

[2020-07-26 17:13] ghost commented on #562
@alexandrastubbs here they are, thank you for sharing that tool with me!

![screencapture-localhost-4000-guide-pages-survey-reporting-dashboard-guide-2020-07-26-10_10_59](https://user-images.githubusercontent.com/54752231/88485115-78c46600-cf28-11ea-8700-217b0d39c85f.png)
![screencapture-localhost-4000-guide-pages-survey-reporting-dashboard-guide-2020-07-26-10_11_42](https://user-images.githubuser

[2020-07-26 17:32] daniellen00 commented on #577
Plan after weekly meeting discussion: I will work with @ye-susan to create a Figma file with all of the website components that will match up with a corresponding Github wiki page.

[2020-07-26 17:40] alexandrastubbs commented on #614
Add in a projects section and include some cards (tiny) similar to Hack Nights page.

[2020-07-26 17:52] efrenmarin45 commented on #542
![webView](https://user-images.githubusercontent.com/51544521/88485843-140c0a00-cf2e-11ea-9acf-e21b29464a9e.gif)

[2020-07-26 17:55] efrenmarin45 commented on #542
![mobileView](https://user-images.githubusercontent.com/51544521/88485884-7533dd80-cf2e-11ea-83e2-9dc62cad5119.gif)

[2020-07-26 18:08] yuikomajima commented on #184
Added version where projects are shown as strips, and as tiles. Tile styles match with Stella's About Page card buttons.

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1988%3A17906

[2020-07-26 18:32] alexandrastubbs opened #642 "Add an SDGs page to website"
### Dependency
- [ ] 80% through with the numbered milestones that are design issues https://github.com/hackforla/website/milestones
- [ ] https://github.com/hackforla/website/issues/3302

### Overview
We would like to align our projects with the SDGs so that we can identify areas that we are over and/or under-addressing with HfLA projects.

### Action Items

Product
- [x] Create spreadsheet that

[2020-07-26 18:35] leonelRos opened #643 "Modifying reusable class components"
### Overview

We need to find the pull request that is reducing the margin at the top of all pages on the HfLA site.

### Action Items

 - [ ] Check merged PR to find the reusable class component that was modified.
 - [ ] Check current pages on the website for a possible layout failure
 - [ ] One the pull request that caused this is identified, talk with developer who submitted to understand reaso

[2020-07-26 18:41] alexandrastubbs commented on #628
Raudel to work on this once he is set up in GitHub.

[2020-07-26 18:55] ye-susan opened #645 "Fix project filter display on mobile Safari"
### Overview
The project filters do not display correct on the mobile version of Safari, so we'll have to create a workaround for mobile phones for displaying the project filters

### Action Items

- [x]  Hide filters on mobile Safari (issue #646 )
- [ ]  Render project filters on touchscreens without using :hover (which causes some inconsistency in performance on some browsers like Safari)

[2020-07-26 19:16] #506 closed, assigned to cnk, tylerthome

[2020-07-26 19:21] ExperimentsInHonesty commented on #294
This issue is closed.  We decided instead to just keep track of updated version in the wiki, instead of tracking each change and the reason for it.

[2020-07-26 19:21] #294 closed, assigned to nobody

[2020-07-26 19:24] alexandrastubbs commented on #297
@ExperimentsInHonesty has asked for this issue to be closed. It is longer relevant.

[2020-07-26 19:24] #297 closed, assigned to nobody

[2020-07-26 19:46] alexandrastubbs commented on #442
This issue ended up getting lost and we'd like to give your page an update. Can you provide updated leadership information and identify any other information on the page that you need to be updated?

https://www.hackforla.org/projects/lucky-parking

[2020-07-26 19:48] #562 closed, assigned to daniellen00

[2020-07-26 19:57] alexandrastubbs commented on #375
New issue will be created for another round of updates.

[2020-07-26 19:57] #375 closed, assigned to nobody

[2020-07-26 20:30] ExperimentsInHonesty commented on #587
@alexandrastubbs the google doc must not be in the website google drive because its giving me an a request for access.  Please move the file.

[2020-07-26 22:24] gregpawin commented on #442
Partner: Department of Neighborhood Empowerment / Department of Transportation
Tools: Jupyter Notebooks, Google Colab, AWS, React-JS
Languages: Python, JavaScript, SQL

This includes all of the current team so previous info can be discarded:

Product Owner / Data Science Lead: Greg Pawin
https://app.slack.com/team/UUEQF3AJG
gregpawin
Frontend Lead: Matthew Ginther
https://app.slack.com/team/U013GN

[2020-07-27 06:21] rblaz001 commented on #628
I wrote a Python script that creates a spreadsheet listing projects with their technologies. This way I can know what .md files need to be updated.

**Seven projects contain a list of technologies**

![project_technology_list](https://user-images.githubusercontent.com/35281980/88508280-41d76a00-cf93-11ea-826f-73c3cf470614.png)

**Here are the projects listed by technology**

![sorted_by_technology

[2020-07-27 07:28] cnk commented on #628
I like all your ideas for regularization.

[2020-07-27 13:30] alexandrastubbs commented on #587
Apologies, @ExperimentsInHonesty - new link [here](https://docs.google.com/document/d/1rI76ZpZzDYI3v3Pk9Ef_CqtXKFwj9Gi26X9pOlM_Ol0/edit?usp=sharing) and updated above.

[2020-07-27 17:20] rblaz001 commented on #628
Finished regularization of technologies for current build. I have not created a PR because there are pending PRs that add technologies to other projects and they need to be regularized as well.

The pending PRs I'm referring to are: #630 #634 #635 #636 #637 #638 #639

![Screenshot from 2020-07-27 10-19-22](https://user-images.githubusercontent.com/35281980/88571582-b988b180-cff2-11ea-9239-ea73818a

[2020-07-27 17:31] drubgrubby commented on #599
I had some GitHub issues bringing this to the finish line.  I believe they have been resolved and this is ready to merge.

[2020-07-27 19:15] #599 closed, assigned to drubgrubby

[2020-07-27 20:37] emillipede commented on #459
public tree map

- geopandas
- jquery
- leaflet
- node

[2020-07-27 22:59] nickgieschen commented on #459
NotToday

react-native

[2020-07-28 00:15] KianBadie commented on #459
Sorry, I wrongly added the "Fixes" keyword to a pull request for this. Reopening

[2020-07-28 02:43] efrenmarin45 opened #651 "Getting Started Page Accordion and Whitespace"
### Overview
The bottom of the 'Getting Started' page has a white stripe above the footer that shouldn't be there. The accordion resizes to a bigger width once the user clicks on the chevron when it should remain the same.
### Action Items
Review previous commits and find out what caused the changes on the 'Getting Started' page.
### Screenshots of Issue
<img width="1440" alt="1" src="https://user

[2020-07-28 03:14] rblaz001 commented on #628
Included regularization for recent merged pull requests.

- Mongo changed to MongoDB
- Node changed to Node.js
- React changed to ReactJS
- Azure App Service for Containers changed to Azure App Service

Note: The "Technology" filter list is starting to get really long.

![Screenshot from 2020-07-27 19-49-54](https://user-images.githubusercontent.com/35281980/88614776-53794a00-d045-11ea-8c89-a86e2e

[2020-07-28 19:52] alexandrastubbs commented on #503
@harishlingam disregard, Bonnie was able to help update settings. Thanks!

[2020-07-28 22:00] jbubar commented on #459
I messaged Kate from hellogov and Joel from write for all. Awaiting on their response. Updated public tree map and not today, waiting on a code review.

[2020-07-29 02:15] efrenmarin45 commented on #651
**Progress:** I traced back the changes associated with the 'Getting Started' page and found what was changed. Reverted back to fix the issue.
**Blocks:** No
**Availability:** All week
**ETA:** Done

[2020-07-29 02:24] #628 closed, assigned to rblaz001

[2020-07-29 03:37] ExperimentsInHonesty commented on #643
duplicate of #651

[2020-07-29 03:37] #643 closed, assigned to nobody

[2020-07-29 05:04] leestella748 commented on #614
@ExperimentsInHonesty @alexandrastubbs

I added a projects section and added a few partner logos just to see what it would look like when populated with the actual logos.

Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=2003%3A817

[2020-07-29 05:28] johnr54321 commented on #632
**About H4LA Citizen Engagement Portfolio:**
We at Hack for LA are volunteers that believe in building technology and analyzing data to make it easier to participate effectively in your community. Here, you'll find a series of products that we have built or are building to make that happen.

**How to Get Involved**
Whether you have a new idea, want to submit feedback to participate in guiding the

[2020-07-29 05:43] johnr54321 commented on #632
One pagers should be linked here: https://github.com/hackforla/product-managment/issues/3

[2020-07-29 16:57] alexandrastubbs opened #656 "Member Feature Page"
*WORK IN PROGRESS*

### Short-form Overview
In order to increase equality in tech, Hack for LA wants to highlight underrepresented talent from the HfLA community, in an effort to increase chances of employment for these individuals.

### Long-form Overview
At HfLA, we have an incredible pool of talent that is driven, eager to learn, and already trained for jobs across software development - produc

[2020-07-29 19:29] drubgrubby opened #657 "Status dropdown - On Hold count/card-pull mismatch"
### Overview
On the Status dropdown under "Current Projects" the number next to "On Hold" shows as "(7)", which I'm assuming is the count of how many cards == "On Hold".  However, when you select On Hold only three cards are displayed.

### Action Items

### Screen Shots
![e80L9XrGRc6wYlRHEf6mww_thumb_243e](https://user-images.githubusercontent.com/68244054/88843943-bf1efc80-d196-11ea-8055-ff4aed9

[2020-07-29 22:09] alexandrastubbs opened #658 "311 Data Project Page Updates"
### Overview
The website needs to keep the 311 project page up-to-date so that incoming volunteers can see the current status (meeting times, technologies, etc) and that team leads are getting credit for their positions.

### Note
This information will be collected monthly

### Action Items

**Information gathering**
- [ ] Hfla website PM to send note to project team lead to check if any changes n

[2020-07-29 23:01] johnr54321 commented on #658
Hi there.  A few updates:
1. Our regular team meeting is changing from 7pm on Tuesdays to 6pm on Thursdays.
2. Front end lead is now Adam Kendis
3. Back end lead is now Jake Mensch
4. UX lead is now Dana Chen
5. Our app web address is https://www.311-data.org
6. Please update the card on the projects page to use our social media image.

[2020-07-29 23:54] ExperimentsInHonesty opened #659 "100 Automations project card update"
### Overview
We need to make some changes to the 100automations.md file to update what displays on the webiste

### Action Items
- [ ] Add meeting time: (I have sent this info to VRMS already)
   - [ ] Wednesdays: 4:30-5:30 Management Meeting
   - [ ] Satudays 2:00pm-4:00pm Team Meeting
- [x] Change under looking for:  "content writer" to be Content Writer"
- [x] Change under looking for:  "design

[2020-07-30 04:14] ExperimentsInHonesty commented on #658
@johnr54321
please provide slack ID (not handle) and github handle for the leaders.

[2020-07-30 04:17] ExperimentsInHonesty commented on #632
@johnr54321 let's put the logos of all the NCs that have participated on the page.

[2020-07-30 23:33] ExperimentsInHonesty commented on #583
I opened a new issue with a automation proposal https://github.com/100Automations/futureautomations/issues/8

[2020-07-31 01:15] danarchen commented on #658
slack id: U0112KZPV6C
github: danarchen

[2020-07-31 01:59] adamkendis commented on #658
Slack ID: USNAHR0KE
github: adamkendis

[2020-07-31 04:42] cnk opened #660 "Background color on site homepage"
@ExperimentsInHonesty reported on the slack channel that the color behind the sponsors section was suddenly dark blue
![Screen Shot 2020-07-30 at 7 31 27 PM](https://user-images.githubusercontent.com/5952/89000925-7a39b980-d2ad-11ea-93c4-22ab45151694.png)

[2020-07-31 04:44] cnk commented on #660
Using our git history, I see this came in with  542 Organizational Dashboard (#640)	082ae96

_dashboard.scss used #app which is not specific enough - that id is on a bunch of pages. Reverting in PR soon

[2020-07-31 04:54] #660 closed, assigned to cnk

[2020-07-31 05:05] johnr54321 commented on #658
Jake:
Slack ID: ULJAWB8M8
Github: jmensch1

[2020-07-31 05:06] johnr54321 commented on #658
@ExperimentsInHonesty Let us know if you need anything else. Please assign to the appropriate person. Thanks!

[2020-07-31 05:21] johnr54321 commented on #632
![palms-logo-final-hires-300x240](https://user-images.githubusercontent.com/20999589/89002821-f1258100-d2b2-11ea-8462-64d67340c6a1.png)
![Voices Neighborhood Council](https://user-images.githubusercontent.com/20999589/89002828-f4207180-d2b2-11ea-882f-9cabf9eabb15.jpg)
<img width="47" alt="Empowerment Congress Central Area Neighborhood Development Council (ECCandDC)" src="https://user-images.github

[2020-07-31 05:22] johnr54321 commented on #632
@ExperimentsInHonesty Here you go.  Please assign to get people started.

[2020-08-01 21:48] rblaz001 commented on #386
I'm just getting over some pretty bad food poisoning so I haven't worked on this as much as I would have liked. I still need to make a 100 Automation's repo to continue developing my python script.

**Action Item Progress**
- [x] Determine desired output and process to follow
- [x] Identify data types (links, leadership, description, etc)
- [ ] Identify which items projects might not have (e.g. li

[2020-08-02 06:49] daniellen00 commented on #577
Progress: I had very limited time this week because of a final class project, but Susan and I discussed the logistics of creating a living style guide / component library page, and I did additional research. I'll have much more time this week to move forward with Susan.

[2020-08-02 06:57] ye-susan commented on #577
Progress: Also limited time this week, but I've laid out some of the typography and components of the project page onto a demo Component page.

[2020-08-02 14:54] alexandrastubbs opened #664 "Project Pages Getting Started Link"
### Overview
We need the 'Getting Started' link on each of the projects pages to go to the Getting Started page on the HfLA website so that prospective members are able to quickly begin the on-boarding process.

### Action Items
Development
- [x] Update the link in the logic for the projects pages

### Resources/Instructions
The link currently goes [here](https://github.com/hackforla/getting-start

[2020-08-02 15:14] KianBadie commented on #615
I'm sorry, I'm still not finished with this task. I am still working on making the "generic" version of the script. If you want to see the script to far, it is [here](https://github.com/KianBadie/github-api-test/blob/testing/github-util.js).

[2020-08-02 16:04] leonelRos commented on #403
Hey @alexandrastubbs  @ExperimentsInHonesty, I finished the page and it is ready for PR. I took screenshots of every version. Feel free to comment or give feedback if anything needs to change.

![screencapture-localhost-4000-hack-nights-page-2020-08-02-08_54_10](https://user-images.githubusercontent.com/50648001/89126815-b59ada80-d49d-11ea-8de0-1f363baf0a7f.png)

![screencapture-localhost-4000-hac

[2020-08-02 16:21] alexandrastubbs commented on #442
@gregpawin can you edit the above comment and add in the GitHub IDs for each individual?

[2020-08-02 16:35] alexandrastubbs commented on #607
@kathyfregoso please update us with your progress with:

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-08-02 16:39] alexandrastubbs commented on #403
@leonelRos when are you available to review this live? We have some questions we would like to address.

[2020-08-02 16:41] alexandrastubbs commented on #503
Progress - Working on learning GA.
Blocks - None
Availability - n/a
ETA - TBD, aiming for 8/16

[2020-08-02 16:41] alexandrastubbs commented on #610
Progress - Working on this, some things came up during the week
Blocks - None
Availability - n/a
ETA - Aiming for 8/9

[2020-08-02 16:44] alexandrastubbs commented on #555
@ruben1s please provide an update on your progress with:

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-08-02 16:45] ruben1s commented on #555
Update:
![screencapture-0-0-0-0-4000-toolkit-2020-08-02-09_42_28](https://user-images.githubusercontent.com/33906590/89127715-a3706a80-d4a4-11ea-9ace-bdf163b16695.png)

Still working on:
    -Getting good images
    -Cleaning up the svgs
    -Mobile view
    -Dead Links

[2020-08-02 16:45] ghost commented on #571
Progress: Finished the design
Blocks: Div does not shape well on smaller screens
Availability: This week
ETA: This week

[2020-08-02 16:49] alexandrastubbs commented on #542
Looks great!!

[2020-08-02 16:49] #542 closed, assigned to efrenmarin45

[2020-08-02 16:52] jbubar commented on #162
Progress: created the two pages. started styling them.
blocks: could not figure out how to style the embedded google form.
problems that I think I will run into: I have not figure out how to link the responses to the google form yet.  I also have no idea how to make a modal open up when the user clicks on "see more"
eta: next week
availability: will be working on this all week

[2020-08-02 16:53] drubgrubby commented on #625
Kian suggested a better fix so I made a new branch and PR.  #662 - which is in Draft mode - is the first one that should not be merged.  Just want to confirm the preferred way to "delete" un-merged PR before I try to do that.

[2020-08-02 16:54] alexandrastubbs commented on #614
- Add icons to accomplishments

[2020-08-02 17:18] alexandrastubbs commented on #555
@yuikomajima to provide images

[2020-08-02 17:38] leonelRos commented on #403
@alexandrastubbs I should be able to meet up today around 7 or 8 PM PT. Let me know if that is ok with both, if not, we can meet on Tuesday at developers meeting.

[2020-08-02 17:43] alexandrastubbs commented on #577
Dependency: need to discuss designs across website currently between product and designers

[2020-08-02 17:51] yuikomajima commented on #555
hi @ruben1s - figma doc is updated with images of the figma, zoom and github logo. Attached pngs for your reference. These have been taken from Worldvectorlogo which said it was free downloads.
![zoom-communications-logo 1](https://user-images.githubusercontent.com/56898767/89128959-18946d80-d4ae-11ea-9a97-193778aeaee0.png)
![figma-1 1](https://user-images.githubusercontent.com/56898767/89128960-1

[2020-08-02 17:53] alexandrastubbs commented on #651
@efrenmarin45 the space is still not visible on the Getting Started page. Please share an update on your progress

[2020-08-02 18:04] jbubar commented on #459
Reached out to Joel from write for all again.  Have not heard back from hellogov.

[2020-08-03 02:14] KianBadie commented on #615
1. Progress - Created some essential functions for generic GitHub API utility script.
2. Blocks - None
3. Availability - Monday, Thursday, Friday, Saturday during the day.
4. ETA - Sunday 8/08

[2020-08-03 03:46] klfregoso commented on #607
@alexandrastubbs Working on this issue today and tomorrow, should be completed before the Tuesday developer team meeting. Currently reading through the HFLA site architecture documentation, but I have already cloned and forked the repository and set up Docker.

[2020-08-03 03:51] gregpawin commented on #442
Added github IDs

[2020-08-03 20:11] #625 closed, assigned to drubgrubby

[2020-08-04 01:07] #607 closed, assigned to klfregoso

[2020-08-04 23:10] drubgrubby commented on #664
Done. PR #669

[2020-08-05 00:49] leestella748 commented on #614
Icons added!  Let me know if this is what you meant and if there are any other changes you'd like to see
<img width="218" alt="image" src="https://user-images.githubusercontent.com/61727650/89359457-bd63a600-d67a-11ea-82a6-71ebc8c74485.png">

[2020-08-05 02:52] #664 closed, assigned to drubgrubby

[2020-08-06 12:29] alexandrastubbs commented on #610
Working on How To article, draft can be found [here](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit?usp=sharing).

[2020-08-06 22:17] KianBadie commented on #615
this is a test comment to test my comment fetching script

[2020-08-06 23:04] efrenmarin45 commented on #651
**Progress:** I went back through the previous commits to see if anything was changed to cause the negative margin but found no changes to the class 'header-container'. Fixed missing space and made sure no other files were using the class.
**Blocks:** No
**ETA:** Done

[2020-08-06 23:06] efrenmarin45 commented on #651
Before:
<img width="1439" alt="Before" src="https://user-images.githubusercontent.com/51544521/89591296-afd72900-d7fe-11ea-87b5-a843cfd70a9a.png">

After:
<img width="1440" alt="After" src="https://user-images.githubusercontent.com/51544521/89591306-b5347380-d7fe-11ea-9922-9cd119790ba9.png">

[2020-08-07 18:42] alexandrastubbs commented on #601
8/7 Meeting:

- [ ] [Kanban Outline Review](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit)
- [ ] Review Product Backlog / In Progress
- [ ] [Milestones](https://docs.google.com/spreadsheets/u/1/d/12L6YE47DliyZyEwaOGCINfnQd-9dRW_Pwd941dIWufQ/edit?usp=drive_web&ouid=111992398857929077698)

@ExperimentsInHonesty

[2020-08-07 20:20] ExperimentsInHonesty commented on #387
@johnr54321 please go to the getting started here: https://www.hackforla.org/projects/civic-opportunity-project
we can take the one sheet that you make into a pdf and put it here on the page under overview.  Please attach pdf in a comment.

[2020-08-07 20:31] KianBadie commented on #615
Here is a link to the repo where I am creating the generic script: https://github.com/KianBadie/github-contributor-helper

[2020-08-07 20:57] KianBadie commented on #615
@ExperimentsInHonesty @alexandrastubbs For the second action item of "Kian to write up instructions for how to include more than just 'commits' in the Github Contributor tracking", is that a general high level of how to implement the feature? Or is this detailing more specifically how I did it? Because there are multiple ways to do it that could be described in a high level way, but describing it

[2020-08-07 21:16] alexandrastubbs opened #674 "Updates to Toolkit & 2FA Pages"
### Overview
We need to update the URLs on the Toolkit page to include the correct links for the existing guides.

### Action Items

Here are the URLs that need to appear on this page:
- [x] Github issues: https://www.hackforla.org/guide-pages/github-issues
- [x] 2FA page: https://www.hackforla.org/guide-pages/2FA.html
- [x] Survey Reporting Dashboard page: https://www.hackforla.org/guide-pages/su

[2020-08-07 21:42] alexandrastubbs commented on #403
@leonelRos we are working with Stella to identify the discrepancies in the font sizes, because it appears that there are quite a few different sizes in both desktop and mobile version. In the meantime, we have two other points of feedback that we'd like to update before pushing this live:

1. The line spacing is not correct. Can you update to look more like the Figma? For example, where you have M

[2020-08-07 22:55] leonelRos commented on #403
@alexandrastubbs, Thank you for pointing that out. Since you guys are checking on some other details. I would like to point that out that the main reason why I have those spaces in "Meetup events" is to cover the height of the "Online project teams meetings" bubble. The calendar part populates itself by calling the script from Project teams meeting page https://www.hackforla.org/project-meetings.

[2020-08-08 00:09] KianBadie commented on #615
Here is my draft for the medium article (it is a work in progress): https://docs.google.com/document/d/1ah_UkZbQCm5HnS50CKeYYr5N7W7f6fJ_4Z-CWB3BqQI/edit#

[2020-08-08 21:32] ExperimentsInHonesty commented on #659
It looks like the readme is not showing up in the getting started section.  I thought that was supposed to happen automatically, could someone look into what the logic is for the getting started section?

[2020-08-08 21:46] ExperimentsInHonesty commented on #615
@KianBadie Can you fill out this to document the automation requirements/audience, etc.:
https://github.com/100Automations/futureautomations/issues/new?assignees=&labels=documentation%2C+review&template=-automation-proposal.md&title=%5BAutomation+Name%5D+Proposal

[2020-08-08 22:07] ye-susan commented on #645
Progress: created PR #675

Please note, this solution has potential to still be buggy in that there may be double clicks when we test on different devices (it works fine on my regular browser)-- but I still want to test this solution out first since it's less verbose than my other fix. If there are bugs when we test on different devices, I'll re-do these changes with the more verbose solution.

[2020-08-08 22:58] KianBadie commented on #615
I filled out that [document](https://github.com/100Automations/futureautomations/issues/9) and made more progress on the article. In [this document](https://docs.google.com/document/d/1KmEW-UOVTIXNEn0Bh0G-aDrvTcOnjSi2W4M_gKijl3s/edit#) I have an outline for the article as well as a draft for the technical directions for implementing the contributor+issue comment functionality. You can ignore the g

[2020-08-09 01:21] ruben1s commented on #674
I have a pull request pending.
![screencapture-0-0-0-0-4000-toolkit-2020-08-08-18_09_14](https://user-images.githubusercontent.com/33906590/89722871-dd110c00-d9a3-11ea-9d5f-9abaf7b5c7a0.png)
![screencapture-0-0-0-0-4000-toolkit-2020-08-08-18_09_36](https://user-images.githubusercontent.com/33906590/89722878-e9956480-d9a3-11ea-820c-685c554eb588.png)
![screencapture-0-0-0-0-4000-toolkit-2020-08-08-1

[2020-08-09 13:15] alexandrastubbs commented on #403
@leonelRos can you share mockups of the mobile version as well?

[2020-08-09 13:21] alexandrastubbs commented on #503
Added Hotjar log-in information to the Google Sheet for log-ins.

[2020-08-09 15:47] jbubar commented on #162
https://drive.google.com/drive/folders/1Yglu0ehQQu2hhjd0Rf6AS1sPlNvPHnay
Above is the link to the google drive folder with the google form and google sheet containing the responses.

I do not think I can finish this issue in a timely manner, and it is probably best to pass it on to someone else. :). My apologies for taking two weeks and not having it done yet.

[2020-08-09 16:41] alexandrastubbs commented on #184
This is looking great! Bonnie & I changed the guide section back to the 'see all' because the guides are all live now. We also updated the roles. Some other feedback:

1. We don't have an image for getting started module, so let's leave the header the way it is currently on site. We can lead directly into the projects section
2. For projects, just need to find images for 4/8 of them.
3. For the te

[2020-08-09 16:47] alexandrastubbs commented on #184
We also need to add a section under projects for 'communities of practice'. The current communities practice are: 1) Data Science and 2) Ops. We are starting up three more for 1) UI/UX 2) Product/Project Management and 3) Development.

This will link to #678

[2020-08-09 16:55] alexandrastubbs opened #678 "Communities of Practice Page"
### Overview
We need a homepage for communities of practice which explains what they are and details how to get involved in order to grow our community.

### Action Items
Requirements gathering
- [x] Paragraph about what CoPs are about
- [ ] Instructions for joining the team meetings (join their slack channel and look for the meeting info (usually pinned or in description))
- [x] For each communit

[2020-08-09 16:56] daniellen00 commented on #577
Will discuss working with UX Designers on Style Guide after weekly website meeting.

[2020-08-09 17:00] leonelRos commented on #403
@alexandrastubbs, it does not change much since mobile version has its own properties.

![screencapture-localhost-4000-hack-nights-page-2020-08-09-09_59_56](https://user-images.githubusercontent.com/50648001/89737614-1179dc00-da27-11ea-9cd5-b811d4686c82.png)

[2020-08-09 17:02] #442 closed, assigned to klfregoso

[2020-08-09 17:06] rblaz001 commented on #386
I now have a version of the script that outputs unused data types and missing data types for all projects.
I still need create a 100 automation repo and add my work to it.
Remaining work is quality of life edits to the script, including proper command line support.

The data types that we are using are currently hard coded in the script and were obtained by using a script that collected a set of u

[2020-08-09 17:28] alexandrastubbs commented on #614
We will be adding the entire want to know more about HfLA section from the current homepage to the bottom of this page. We will also be adding a CTA to the footer that drives here.

[2020-08-09 17:30] alexandrastubbs commented on #615
Issue created in 100 Automations: https://github.com/100Automations/futureautomations/issues/9

[2020-08-09 17:35] alexandrastubbs commented on #459
Closing this issue and proceeding without Hellogov. Heard from Joel at Write for All that they do not wish to provide updates any longer.

[2020-08-09 17:35] #459 closed, assigned to ExperimentsInHonesty, jbubar

[2020-08-09 17:49] ExperimentsInHonesty commented on #526
@drubgrubby please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-08-09 19:07] rblaz001 commented on #184
@yuikomajima Here is a spreadsheet with the technologies currently used across projects
[project_technologies_updated.xlsx](https://github.com/hackforla/website/files/5048250/project_technologies_updated.xlsx)

[2020-08-09 19:33] yuikomajima commented on #184
Made the changes 1-5 in figma. Waiting on technology categories to create the technology cards.

[2020-08-09 19:55] ruben1s commented on #674
Here are my updates in my recent pull request.
-All links go to correct place.
-scss file was created.
-svg was stored in seperate place
-mobile view was optimized

![screencapture-0-0-0-0-4000-toolkit-2020-08-09-12_53_16](https://user-images.githubusercontent.com/33906590/89740666-8eb14b00-da3f-11ea-843a-ac25bc69ecab.png)

![screencapture-0-0-0-0-4000-toolkit-2020-08-09-12_53_44](https://user-ima

[2020-08-11 02:56] rblaz001 commented on #386
Added 100Automations repo. https://github.com/100Automations/script-gather-missing-data-types

[2020-08-11 20:49] KianBadie commented on #615
@ExperimentsInHonesty @alexandrastubbs
So I looked into [octokit/rest.js](https://github.com/octokit/rest.js). It is an API client for the GitHub API. It's a convenient tool to use instead of having to make API request through something like a request library (which is how I have been interacting with the GitHub API).

The way I have been currently interacting with the GitHub API is "reinventing t

[2020-08-12 04:08] #674 closed, assigned to ruben1s

[2020-08-12 12:01] drubgrubby commented on #526
- Progress
Made good progress in sorting out the site structure and figuring out where to put/insert/include files and images for this. (This is my first real coding task, so I spend more time just sleuthing than I would have liked).

- Blockers
The main challenge is that I don't know how things are put together well enough, so it takes extra time to figure out where to include things, how the CSS

[2020-08-12 21:19] alexandrastubbs commented on #184
Spreadsheet with technologies in team drive: https://docs.google.com/spreadsheets/d/146oHxCjQrmzXnj6luRgdnFaBc-2pNEr2PCxfmmvLaZU/edit#gid=0

[2020-08-12 21:22] ExperimentsInHonesty commented on #184
@Excursionpreneur please look up each of the technologies in the spreadsheet here and annotate type: https://docs.google.com/spreadsheets/d/146oHxCjQrmzXnj6luRgdnFaBc-2pNEr2PCxfmmvLaZU/edit#gid=0

[2020-08-12 21:33] alexandrastubbs commented on #184
@yuikomajima

1. Can we swap development image with the alt image you have to the right of the zoomed-in code?
2. For mobile, can we make the guides smaller and only display two (without copy block description)? They can sit next to each other, the way that the technologies and roles do. We would like to keep 'Getting the Most out of Github' and 'Building a Survey Reporting Dashboard'
3. We notice

[2020-08-12 21:36] alexandrastubbs commented on #614
@leestella748

Bonnie & I took a look at the Figma. Can we make the 'want to know more' section more like the section on the current website with card on card? Screenshot pasted here.

![Screen Shot 2020-08-12 at 5 36 21 PM](https://user-images.githubusercontent.com/66918724/90070762-62f1c780-dcc2-11ea-933c-b45a3da9cd71.png)

[2020-08-12 21:46] alexandrastubbs commented on #614
Some other notes -- where we currently have workforce development, we would like to replace with 'Hack for LA Pillars' and then include the following information below (possibly in an accordion format given the quantity of information):

Workforce Development: Enlightened self-interest is a powerful motivator.  Our members have access to mentorship, one-on-one help with job searches, and resume co

[2020-08-12 21:48] #488 closed, assigned to nobody

[2020-08-12 21:56] alexandrastubbs commented on #614
Last note - we need to find a place on this page to say "Hack for LA support’s LA’s Sustainable Development Goals (SDG) movement" and link to https://sdg.lamayor.org/.

We should include the logo as well: https://sdg.lamayor.org/sites/g/files/wph1131/f/styles/medium/public/LA.png?itok=NGcr9CbL

[2020-08-13 01:05] NivenPrasad opened #680 "Update 100Automations Project File"
### Overview
We need to update the 100Automations file to reflect a variety of changes.

### Action Items
- Add Camila Arias to Project Card
  - Role: UI/UX Designer
  - Full name: Camila Arias
  - Slack ID: U018S4VQK3M
  - GitHub handle: CamilaArias
- Update Slack channel details

### Resources/Instructions

[2020-08-13 23:06] efrenmarin45 commented on #651
**Progress:** Working on implementing changes asked by @KianBadie. Changes include removing the grey portion on the page, squashing commits, and removing any fragments of code.
**Blocks:** No
**Availability:** Friday night
**ETA:** EOD Saturday

[2020-08-15 23:15] yuikomajima commented on #184
Above changes made in figma.

[2020-08-16 02:36] ExperimentsInHonesty commented on #184
@yuikomajima I have asked Chali to provide a color version of this image,

![Screen Shot 2020-08-15 at 7 20 38 PM](https://user-images.githubusercontent.com/37763229/90325278-77d29300-df2e-11ea-8102-6e2828b6ab49.png)

so we can use it as a UI/UX pic.  But in case she doesn't or we don't like it, could we use this
https://commons.wikimedia.org/wiki/File:Wikimedia_Hackathon_2017_Vienna_9290w.jpg

[2020-08-16 04:41] drubgrubby commented on #526
**Progress**
The javascript/css for toggling the menu and images is done and seems to be working as it should.
Sadly, at the moment this is at the expense of menu styling and...well, things aren't where they're supposed to be anymore.
The next (and hopefully final) phase is to bend the CSS to my will so that everything appears according to spec.

**Blockers**
1) My CSS is kind of rusty.

**Availab

[2020-08-16 04:48] ExperimentsInHonesty commented on #162
Link the form to the page (don't do an iframe for the mvp
https://docs.google.com/forms/d/e/1FAIpQLSdF0MgS-M_Soi77qTp-MNfxMGqq85yqsHwvfHDngHAMyDQ8uQ/viewform

[2020-08-16 12:54] efrenmarin45 commented on #651
Grey bars removed:
<img width="1438" alt="Screen Shot 2020-08-16 at 5 53 32 AM" src="https://user-images.githubusercontent.com/51544521/90334776-dc204180-df84-11ea-9d5a-0b38c43984a0.png">

[2020-08-16 14:53] KianBadie commented on #615
I have updated my 100 Automations project repository to now work with octokit/rest.js and added the feature to find out contributors by repo. The last thing I want to add is the option to provide a a date parameter so you can get issue comment contributions since a given date.

[2020-08-16 16:19] alexandrastubbs commented on #656
Hi!

We are working on a project to increase opportunities for employment for select members. There is a full overview of the project and what we are hoping to achieve in this issue (above). We are still in the planning stages of this page/project and want to take a moment to ensure that we are moving in the right direction. Can you comment on this issue with the following information:

- Are you

[2020-08-16 16:36] leonelRos commented on #403
Hey guys I didn't have much time this week. I have the header to look exactly like figma file

Progress: web and mobile version need adjustments.
Blocks: time-limited.
Availability: Wednesday to Friday
ETA: 08-18-20

[2020-08-16 16:37] jbubar commented on #659
![Screen Shot 2020-08-16 at 9 35 16 AM](https://user-images.githubusercontent.com/53061723/90339163-e69e0380-dfa3-11ea-947d-eeebf83c8cee.png)
Changed ReadMe to Readme, so that it works with the liquid code on _layouts/projects.html lines 118 and 176

[2020-08-16 16:41] ExperimentsInHonesty commented on #645
@ye-susan @leonelRos this sounds good to me.  Go ahead and push it, so that we can test during meeting across everyones devices.

[2020-08-16 16:43] #645 closed, assigned to ye-susan

[2020-08-16 16:45] alexandrastubbs commented on #386
@ExperimentsInHonesty will talk to @rblaz001 about topic tags

[2020-08-16 16:47] ExperimentsInHonesty commented on #386
@rblaz001  Please fill this out, so that we can get you listed on the 100automations.org site that will soon exist:
[create a project card for a 100 automations project](https://github.com/100Automations/Website/issues/new?assignees=&labels=documentation%2C+good+first+issue&template=create-automation-card-for--automation-name-.md&title=Create+automation+card+for+%5Bautomation+name%5D)

[2020-08-16 16:49] rblaz001 commented on #386
Spreadsheet for current unused/missing data types.

Note: Unused Data Types are data types that are never used in a project card. Missing Data Types are nested data types that are missing even though the parent data types are present. (This can be one or more instances)

[missingDataTypes.xlsx](https://github.com/hackforla/website/files/5081019/missingDataTypes.xlsx)

[2020-08-16 16:50] ghost commented on #571
Done, ready to push

[2020-08-16 16:51] daniellen00 commented on #577
Small to large components ('atoms' to 'organisms' in atomic design): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1695%3A13302

[2020-08-16 16:51] alexandrastubbs commented on #659
@jbubar, Is the 'ReadMe' to 'Readme' spelled out clearly enough in the wiki? Specifically, are there references to the capitalization that is required? (It has been an issue before)

[2020-08-16 16:52] alexandrastubbs commented on #387
@johnr54321 any updates on this? Haven't seen any progress come through yet.

[2020-08-16 17:10] KianBadie commented on #659
This might be useful, but maybe we could change how to field is read to be more lenient on case sensitivity. So that "readme", "Readme", or "ReadMe". Unless you guys want a consistent naming convention, which I feel like is also a really good thing.

If you want to ignore case sensitivity in Liquid, refer to [this](https://shopify.github.io/liquid/filters/downcase/)

[2020-08-16 17:25] rblaz001 commented on #386
Notes From Bonnie:
- [x] Research Github Action integration for creating issues
- [x] Add new validation method. Provide a source .md collection file with every data type in project with a  require value or ignore value. This will be used to determine how script parses missing data types.
- [x] Add functionality to output report of missing data types of source .md file. This will make sure that so

[2020-08-16 17:49] ghost commented on #571
<img width="1438" alt="Screen Shot 2020-08-16 at 10 47 37 AM" src="https://user-images.githubusercontent.com/58455740/90340573-fe7a8500-dfad-11ea-9ed2-40bdfa4da344.png">
<img width="1434" alt="Screen Shot 2020-08-16 at 10 48 51 AM" src="https://user-images.githubusercontent.com/58455740/90340586-14884580-dfae-11ea-8cf3-141368db12b7.png">
<img width="1440" alt="Screen Shot 2020-08-16 at 10 49 05 AM

[2020-08-16 18:07] alexandrastubbs commented on #555
Can we add the current Toolkit page to the HfLA website menu? When you submit pull request for this, do not include the word 'fixes' and it should not close this issue. Mention the issue number.

[2020-08-16 18:23] johnr54321 commented on #387
I had put it on the ticket you have for the one sheets for all projects.  Will provide a link when I get to a desktop.

[2020-08-16 19:23] alexandrastubbs commented on #595
@yuikomajima can we make the following updates to the sitemap:

1. New additions to the About Us page
2. Reflect that the new About Us page will have the Connect
3. Remove Connect from menu
4. Add each of the sub-sections (team meeting times, events, locations) to the Hack Nights section

[2020-08-16 20:39] johnr54321 commented on #387
@ExperimentsInHonesty I'm hearing a few different things.  Do you need my 1 sheet?  It's on the ticket with all the 1 sheets.  If you want to use the hackforLA sign up link and use our readme for the link on our site, then that is ok now that we have instructions to tell people to contact me, I'll use that link.  We should have a link saying who the leads are and how to contact them.  Anyways, I'm

[2020-08-16 22:50] jsachsman opened #684 "Update to Civic Tech Index Page"
### Overview
Please replace Arun as Product Manager with myself.

### Action Items
Please change **from**:
  - name: Arun Prakash
    role: Product Manager
    links:
      slack: 'https://app.slack.com/team/U015GPCKUFK'
      github: 'https://github.com/arunprakash87'
    picture: https://avatars.githubusercontent.com/arunprakash87

**To**:
  - name: Jonathan Sachsman
    role: Product Manager

[2020-08-17 22:42] #659 closed, assigned to jbubar

[2020-08-18 16:20] alexandrastubbs opened #688 "Enhance Guide Page Template Responsiveness"
### Overview
We need to update the template for the guide/how to pages to be more responsive so that they adapt to the content of varying guide pages.

### Dependency
Design system

### Action Items

Development
- [ ] Set content module to fixed width of 800 pixels max (see image a below)
- [ ] Update header to be more responsive to the amount of content it holds (see image b below)

### Resources

[2020-08-18 17:02] alexandrastubbs opened #689 "Audit of key/value pairs in working files vs template"
### Dependency
https://github.com/hackforla/website/issues/386#issuecomment-785427876

### Overview
We need to ensure that the 'template of a project.md file' has the most accurate information so that developers building out markdown files can have a strong reference point.

### Background
When Josh was recently working on the 100 Automations code, he noted that 'Readme' vs 'ReadMe' was causing is

[2020-08-18 17:28] alexandrastubbs opened #690 "Team Meetings Page Time Zone Update"
### Overview
We need to display the time and time zone in a format that is understandable to the user so that they can easily understand what time a team meeting occurs and if that time suits their schedule.

### Action Items

Development
- [x] Identify & resolve the bug causing midnight (or 12:00 am) to show as 0:00 am (screenshot below)
- [x] Add in the time zone next to the time (be sure this i

[2020-08-18 17:35] alexandrastubbs opened #691 "Add Connect to Footer"
### Overview
We need to add a 'Connect' call-to-action to the footer of the HfLA site so that users can easily reach the forms that will allow them to connect with someone from the team.

### Action Items

Design
- [ ] Mock up what the footer will look with a connect CTA added to it (considering using a mail icon)

Development
- [ ] Update the footer to reflect design

[2020-08-18 17:45] alexandrastubbs opened #692 "Update Hack for LA Website Team Project Card"
### Overview
We need to update the HfLA Website Team Project Card on the website to reflect the most up-to-date information.

### Action Items

Product
- [x] Confirm what information needs to be updated from the below:
   - [x] Open roles:
        - [x] UI (wireframes) - exists already
        - [x] Junior Javascript Developers - exists already
        - [x] anyone wanting to learn how to do Git c

[2020-08-18 17:46] alexandrastubbs commented on #692
@ExperimentsInHonesty to review issue and the information needed

[2020-08-19 00:47] ExperimentsInHonesty opened #703 "Create project card for BallotNav"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x]  An

[2020-08-19 22:43] alexandrastubbs commented on #386
@rblaz001 do you have a list of all the data types? If so, can you upload to google drive and share the link here?

[2020-08-19 23:06] ExperimentsInHonesty commented on #387
@johnr54321 This doc that you listed on the one sheet, is the doc we made for the city: https://docs.google.com/document/d/1vC9TH4VAX20IKFghlUkZfsurbA4QOHyRHBYp5uRzJKA/edit?pli=1

It’s not the 1 sheet that I need.  The one sheet I need is the one where it says what the 6 months deliverables are, history, accomplishments, etc.    If you look at the ones for the other teams you will see what I mean:

[2020-08-20 01:57] rblaz001 commented on #386
@alexandrastubbs I have to make a small adjustment to the script to output all the currently used data types. I'm not home at the moment but I'll be able to upload the file and link it before tomorrow morning.

[2020-08-20 07:40] rblaz001 commented on #386
@alexandrastubbs I added an extra sheet labeled "Used Data Types" that has a list of data types used across the project cards.

https://docs.google.com/spreadsheets/d/1w59UfwbGiEAoBXjAxl4uwQe3xk5j6yFd3NxBMOm510Y/edit?usp=sharing

Note: The data types are not ordered. Also comma separated data types represent the nesting
For example One,Two,Three would look like the following in the project card
[c

[2020-08-21 01:25] gregpawin opened #693 "Lucky Parking Project Overview and Leadership Update"
### Overview
The Lucky Parking Project Leadership was recently updated but several major changes have happened and need updating. Also, the project overview information needs to be updated.

- [ ] Project Overview info needs to be updated
- [ ] Project Leadership info needs to be updated

### Resources/Instructions
**Project Overview**
[code]
This includes all of the current team so previous info

[2020-08-21 23:55] KianBadie commented on #615
@ExperimentsInHonesty I know we discussed this last Sunday, but I thought I could remember some of the points we discussed however I cannot. I pretty much finished the script in it's first form. It can fetch comment contributors, comment+commit contributors, and contributors across an organization based on commits and comments. Next thing I want to add is the ability to get comment contributions a

[2020-08-22 00:18] Arjayellis commented on #703
600 x 400 image
 Alt image text
 1500 x 700 hero image (please do not put project title on hero image)
 Alt image text
 Name of project: BallotNav
 A blurb about your project:
 Links (github, slack channel url, Testing Site, Live Site, etc.)
- GitHub: https://github.com/hackforla/ballotnav
- Slack: https://hackforla.slack.com/archives/C0191KE1XB7
 Any resources for a Getting Started link (a link t

[2020-08-22 19:35] MasSamH opened #695 "Create Project Card for Civic Tech Structure"
### Overview
Provide collateral for the HackforLA website

### Action Items

- [x] See issue from Civic Tech Infrastructure Project repository with details - https://github.com/codeforamerica/brigade-playbook/issues/9
- [ ] Add a screen shot to this issue of what the card looks like locally before submitting the PR

[2020-08-22 21:17] #658 closed, assigned to ExperimentsInHonesty

[2020-08-22 23:36] Arjayellis commented on #703
@myastark I wrote a draft for the blurb on the project card. Would love your expertise before submitting.

BallotNav aims to support absentee voters by addressing limitations caused by conflicting information from the media, hard to navigate government websites, and statewide regulations, with an efficient way to get accurate information about where, when and how to deliver your ballot in person.

[2020-08-22 23:58] Arjayellis commented on #703
New draft based on @myastark suggestion.

BallotNav aims to support absentee voters who are concerned about the present reliability of the USPS by addressing limitations caused by conflicting information from the media, hard to navigate government websites, and statewide regulations, with an efficient way to get accurate information about where, when and how to deliver your ballot in person.

This

[2020-08-23 00:02] ExperimentsInHonesty commented on #703
![boy at ballot box-600x400](https://user-images.githubusercontent.com/37763229/90967783-292a7900-e499-11ea-8662-889a803c7e5d.jpg)
Alt Image Text: Young boy at ballot drop off box title: Giving democracy a helping hand (CC BY-NC-SA 2.0) by eagle.dawg"

[2020-08-23 05:19] ruben1s commented on #555
Update:

    I am still working on the mobile versions of the toolkit page.

Desktop:
![screencapture-0-0-0-0-4000-toolkit-2020-08-22-22_17_22](https://user-images.githubusercontent.com/33906590/90971462-660c6500-e4c5-11ea-81bd-b3170b2f1dc2.png)

Ipad:
![screencapture-0-0-0-0-4000-toolkit-2020-08-22-22_17_45](https://user-images.githubusercontent.com/33906590/90971465-6ad11900-e4c5-11ea-85aa-0391a

[2020-08-23 10:34] rblaz001 commented on #386
**Progress Report**
Progress - Was able to finish refactor, add JSON support, and update README. I was also able to update repo name and logo to include Jekyll
Blockers - Need to show progress to PM and get notes
Availability: 3-4 days depending on possible job interviews
ETA:
- Automation Card: End of week at most but shooting for much sooner
- Validate Through Template Feature: 7-9 days, difficu

[2020-08-23 15:39] KianBadie commented on #615
I added more contributors methods to my script. I'm trying to cover a set of contributors data sets (like comment contribution across an org since a give time, commit contributions to a repo after a given time, etc.) I the last one I need to implement is getting commit contributions across an org after a given time. There are also special cases (empty repos) that give me errors, so I have to fix t

[2020-08-23 16:13] alexandrastubbs commented on #387
@johnr54321 any progress on this?

[2020-08-23 16:17] alexandrastubbs commented on #503
Check status of this issue: https://github.com/hackforla/civic-opportunity/issues/35

[2020-08-23 16:27] drubgrubby commented on #526
Progress
Apologies to all.  Between the evacuation, refreshing my Twitter feed to see if my house had burned, and other fire related things, I didn't get very much done this week.  Doing some flexbox study (thanks Josh), and understanding the website CSS better (thanks Ruben) was about all the progress I made.

Blockers
Only the unexpected.

Availability
Depending on wind direction, I should have

[2020-08-23 16:27] alexandrastubbs commented on #184
Need to assign someone to gather the logos for the technologies and add them to the google drive: https://drive.google.com/drive/u/1/folders/1cJgISxNCoZnV2zLMwvZeFxDWSd14zWFa

[2020-08-23 16:48] leonelRos commented on #403
Progress: web and mobile versions need adjustments.
Blocks: time-limited, redo the header.
Availability: Friday and saturday
ETA: 08-23-20

[2020-08-23 16:52] daniellen00 commented on #577
Progress: Added class names for all of the components (via Inspect Element) for existing site pages

Blocks: Had limited time this week because of final project

Availability: Will have more time this week to organize everything.

[2020-08-23 17:01] alexandrastubbs commented on #614
During our stand up, we discussed the following:

**@daniellen00 :**
- turning the top portion of the page on the right where we have the 'Hack for LA Platform' information into a letter format
- Try a version of the page with a menu at the top

**@ExperimentsInHonesty :**
- gather all the partner logos and place in this folder: https://drive.google.com/drive/u/1/folders/1DBgFWGwreCKaZoh29Xe7OG92s

[2020-08-23 17:07] ghost commented on #571
Waiting for review

[2020-08-23 17:27] alexandrastubbs commented on #615
@ExperimentsInHonesty and @KianBadie to meet Monday at 1pm PST to discuss more

[2020-08-23 17:27] daniellen00 commented on #577
Deliverable: List all of the final components and class names, with accompanying notes re: changes developers should make

[2020-08-23 17:31] jbubar commented on #162
progress: no progress
blocks: Efren and I did not find a time to meet, and I was super busy this last week
ETA: next week
availability: late mornings and early afternoons during the week.

[2020-08-23 17:35] alexandrastubbs commented on #386
@rblaz001 to make a tab with all the data types (missing, unused, used)

[2020-08-23 17:37] alexandrastubbs commented on #386
@rblaz001 to rename from 'used data types' to 'all data types'

[2020-08-23 17:49] alexandrastubbs commented on #555
@ruben1s to finish by EOD. @alexandrastubbs to visually review and @jbubar to do first pass review, @KianBadie to review as well.

[2020-08-23 17:51] alexandrastubbs commented on #162
@ruben1s to connect with @jbubar on this

[2020-08-23 17:52] alexandrastubbs commented on #595
@yuikomajima please provide an update on this issue

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-08-23 18:41] #692 closed, assigned to cnk

[2020-08-23 18:53] alexandrastubbs opened #698 "Dashboard Page Loading Time Message"
### Overview
We need to add a message that appears when the dashboard page is loading so that users know the page is in fact working and it will just take a bit longer.

### Action steps
- [ ] Development
   - [ ] ideate solutions for how we can add a message to the page while loading
- [ ] Product
    - [ ] review solution and source any needed visuals
- [ ] Development
   - [ ] implement solutio

[2020-08-23 18:58] ExperimentsInHonesty opened #699 "HfLA website repository wants to change its license type"
### Overview
The Hack for LA organization is seeking to add the appropriate licences to all projects.  You are receiving this issue because you contributed code to our repository.  If you disagree with the gpl-2.0 license being added.  Please let us know what pull request you submitted (provide a link to the pr in the comments of this issue), and we will remove the code.

We will add the licence o

[2020-08-23 19:00] alexandrastubbs opened #700 "Resolve the incorrect background on the HfLA home page"
### Overview
The homepage coloring & layout is not correct. We need to update the page so that it reflects its original design and what exists in the Figma.

### Action Items

Development
- [ ] Identify the bug or error that is causing the issue with the homepage background
- [ ] Update the background on the homepage and compare with Figma
- [ ] Review with product

### Resources/Instructions
[Hom

[2020-08-24 01:40] kcoronel commented on #703
Can we have the 1500 x 700 image be a color instead, the way HelloGov has their title project page @ExperimentsInHonesty, if we can, maybe we can pick a blue like in the image above

[2020-08-24 01:57] ExperimentsInHonesty opened #701 "Create a Guide: Setting up 1password for your Open Source Project"
### Overview
We need a guide for team leads to setup 1 pass, so that we can have all the teams using it.

### Action Items
- [x] 1Password Admins
Document the steps and upload any screen shots.  Don't worry too much about the wording.  We can review the draft after its up.  Feel free to write the HfLA specific version, we can edit it to be more generic later.
- [x] Revise, and identify what might

[2020-08-24 03:12] johnr54321 commented on #701
**Background**: 1password community edition is the place maintain our secrets. Please don't keep them in places that people can get access to. (E.G. inside your repo.) Generally, 1 password should be used for shared passwords of root accounts. You can keep your own passwords in 1pass, but please put them in a private vault and not the team vault. Generally, people who have access to these root acc

[2020-08-24 19:19] ExperimentsInHonesty commented on #701
Title: How to keep open source project passwords safe

**Why your open source project needs a password management system**
On volunteer open source projects the following constraints are important to keep in mind when setting up a password management system:
- Volunteers will come and go;
- Volunteers will need access to resource passwords;
- Passwords need to be kept safe (not in google docs, ins

[2020-08-24 20:09] johnr54321 commented on #701
Two things:
1. I don’t think we should suggest hack for la projects an option to use other password managers.  (No backup in case we lose everyone)
2. You misspelled people under who should have access

[2020-08-24 21:48] ExperimentsInHonesty opened #702 "Create a guide: Displaying your Civic Tech - Open Source - Volunteer Experience on LinkedIn"
### Overview
We need a guide for people at Hack for LA that need to work on their linkedin so that they can get jobs.

### Action Items

- [ ] PM and Bonnie
   - [ ] Gather Requirements
      - [ ] Identify people by these roles
      - [ ] Development (12)
      - [ ] UI/UX (15)
      - [ ] Business Analyst (1)
      - [ ] Ops (2)
      - [ ] SEO/Marketing (4)
      - [ ] Content (6)
      - [ ]

[2020-08-24 21:49] ExperimentsInHonesty commented on #651
Turns out that there is a little more to do on this.  @kian will writeup instructions.

[2020-08-24 22:09] ExperimentsInHonesty commented on #701
@johnr54321 I changed it above to say:

**What password management system is suitable for an volunteer open source project?**
- Hack for LA uses [1password for open source projects](https://github.com/1Password/1password-teams-open-source) on all our projects
- [Article](https://www.goodfirms.co/blog/the-9-best-free-and-open-source-password-management-software#:~:text=%231%20KeePass,weight%20and%2

[2020-08-24 22:11] johnr54321 commented on #701
Sounds good!  Thanks!

[2020-08-24 23:29] KianBadie commented on #651
@efrenmarin45 I'm sorry for not catching this earlier, the last things to get done are:
- [ ] Fix the gray bar showing up on mobile (the cause of this is the "margin-top" property that is defined in the @media query in the .header-container class).
- [ ] ~~Add padding to the bottom of the header container class so that it can be the same size as before (I think the amount of pixels is 29px that ne

[2020-08-25 01:10] ExperimentsInHonesty commented on #703
This can be both our card image and our hero image on the page, or just the hero image.  I sourced this from:
https://commons.wikimedia.org/wiki/File:Map_of_USA_with_county_outlines_(black_%26_white).png
![Map_of_USA_with_county_outlines_(black_ _white) copy-1500x700](https://user-images.githubusercontent.com/37763229/91111242-df769580-e634-11ea-9946-70089dda58c9.png)
Alt image text: Map of the un

[2020-08-25 01:39] ExperimentsInHonesty commented on #701
@johnr54321 I am going to send this to UI to mockup, but I think we will need screen shots and a how to remove people set of instructions too.  I will ask the next person I work on this with to make screen shots and add them to this issue.

[2020-08-25 01:49] ExperimentsInHonesty commented on #703
Both Randall and Karen said boy on card and map on hero.  So thats what we are going to do.

[2020-08-25 02:01] ExperimentsInHonesty commented on #651
@KianBadie and @efrenmarin45  it doesn't seem like there is a standard amount across the pages I looked at.  But I think the second one is what I would use now.  Please also mention [this](https://github.com/hackforla/website/issues/651#issuecomment-679416519) to @daniellen00 for her site audit.

[2020-08-25 02:03] johnr54321 commented on #701
Maybe invite the UI lead from the website team to 1Password to document?  We just need to change the content in them so we aren't giving away people's security information.

[2020-08-25 02:50] ExperimentsInHonesty opened #704 "Setup 1password"
### Overview
We need to add our website project passwords to the password system that Hack for LA uses so that they can be available for the organization.

### Action Items
- [ ] Read this draft: https://github.com/hackforla/website/issues/701#issuecomment-679316669
- [ ] Prepare a list of accounts and passwords that we will need to store
- [ ] Work with Bonnie to get setup on the system
- [ ] Fol

[2020-08-25 04:42] daniellen00 commented on #651
Got it!

[2020-08-26 01:55] cnk commented on #698
Has anyone changed anything on the Google Sheet? Now instead of being slow, it comes back very quickly - with a broken computer icon and a message in the Javascript console:

`Refused to display 'https://accounts.google.com/ServiceLogin?passive=1209600&osid=1&continue=https://admin.google.com/ServiceNotAllowed&followup=https://admin.google.com/ServiceNotAllowed' in a frame because it set 'X-Frame-

[2020-08-27 20:22] alexandrastubbs opened #705 "List of Github usernames for all HfLA Website contributors for license compliance"
### Overview
We need a list of everyone who has contributed code to the Hack for LA website from the start date of this repository up until today. This list will be used to tag individuals to issue number 699.

Note - the issue is not tagged on purpose, as we do not want to this issue to be tied to that one or for any actions to pop up on that issue.

### Action Items
Development
- [x] Leverage Gi

[2020-08-27 23:34] ExperimentsInHonesty opened #706 "Create Mockup Guide for Designers"
### Overview
We need a guide for designers at HfLA to encourage efficient use of the team structure and their time.

### Action Items
- [ ] PM
  - [ ] define a good example of a page design from beginning to end
- [ ] UI/UX
  - [ ] Make a draft guide that communicates the process from ideation to design ready for development with desktop and mobile responsiveness.

### Resources/Instructions
[Hack

[2020-08-28 01:48] ExperimentsInHonesty opened #707 "Create a guide: Responsible use of images on HfLA websites"
### Overview
We need a guide for image use on on our open source projects so that we can be in compliance and use best practices.

### Action Items
- [ ] PM
   - [x]  fill out rest of issue to dos
- [ ] Research and write about
   -  [x] Where to find image
   -  [x] How to do attribution
   - [x] storing images
   - [x] image formats
   - [x] sizing best practices
- [ ] Discuss and assign to  HfL

[2020-08-28 21:14] alexandrastubbs opened #708 "Update Website Project Description"
### Overview
We need to update the description for the HfLA Website team on the project card and project page to reflect our newest mission and objectives.

### Action Items
Product
- [ ] Sign off on copy (recommended copy below)

Development
- [ ] Update the copy reflected on site (both on project card and project page)

Current copy:

_The hackforla.org website is our organization's way of commu

[2020-08-28 21:15] alexandrastubbs commented on #708
@ExperimentsInHonesty please let me know if the copy above is accurate

[2020-08-29 06:14] efrenmarin45 commented on #651
**Progress:** Looked at the styling and addressed the issues brought up by @KianBadie. Fixed the margin and padding for the mobile view. Please see attached images for reference.
**Blocks:** No
**Availability:** Due to illness, availability is limited.
**ETA:** Done, submitting for review.

[2020-08-29 06:16] efrenmarin45 commented on #651
**Before:**

<img width="383" alt="Old" src="https://user-images.githubusercontent.com/51544521/91630217-618ff280-e984-11ea-8317-a262a1ad5d1d.png">

**After:**

<img width="381" alt="New" src="https://user-images.githubusercontent.com/51544521/91630220-72406880-e984-11ea-9b4d-ca602de78705.png">

[2020-08-29 08:09] efrenmarin45 commented on #162
**Progress:** Coordinated with @jbubar to go over blocks and outcomes. Went over possible workarounds for the API and went over some examples on how to do it.
**Blocks:** Need to find out the most optimal solution to implement google sheets API onto site.
**Availability:** Limited, due to illness.
**ETA:** Ongoing

[2020-08-29 17:11] ExperimentsInHonesty commented on #162
@jbubar Have you read this? https://medium.com/better-programming/make-a-team-roster-with-node-react-and-google-sheets-305b9f9ebbb1  Did you find it of any help?

[2020-08-29 17:12] jbubar commented on #162
But I thought we were trying not to use node.js

[2020-08-29 17:26] jbubar commented on #162
![screencapture-localhost-4000-wins-page-html-2020-08-29-10_22_02](https://user-images.githubusercontent.com/53061723/91642606-92524500-e9e1-11ea-8032-546ad52973b1.png)
Progress: I got it working with live data!! I have yet to style it and add the github and linkedin api call for the photos. I am working with efren and raudel.

Blocks: A few things that I am still unsure about is showing the api k

[2020-08-29 18:06] jbubar commented on #162
I was also thinking, that maybe we could do something like this for the mvp. Since, I am still figuring out the google sheets api  (the photos are of the desktop, tablet, and mobile views)
![screencapture-localhost-4000-wins-page-html-2020-08-29-11_03_44](https://user-images.githubusercontent.com/53061723/91643370-95503400-e9e7-11ea-872a-d31603976b50.png)

![screencapture-localhost-4000-wins-page-

[2020-08-30 02:37] ExperimentsInHonesty commented on #162
Temporary image to use on the MVP of the wins page:
![noun_person_2024954-scalled_to_500x500](https://user-images.githubusercontent.com/37763229/91649983-8e98df80-ea2e-11ea-94d1-656fb7edd513.png)

link for noun project page
https://thenounproject.com/search/?=2024954
attribution text: person by amantaka from the Noun Project

I also slacked the SVG in case you needed it.

The images coming from Li

[2020-08-30 03:15] leonelRos commented on #403
Hey Team, I got the design as displayed in the figma file, I still working on the arrow vectors, it won't rotate as a commanded on my code, so still working on that!

![screencapture-localhost-4000-hack-nights-page-2020-08-29-20_11_00](https://user-images.githubusercontent.com/50648001/91650403-24833900-ea34-11ea-8971-20e53e9f8d81.png)

![screencapture-localhost-4000-hack-nights-page-2020-08-29-20

[2020-08-30 09:56] efrenmarin45 commented on #651
**Progress:** Reached out to @KianBadie for further clarification and assistance on git workflow.
**Blocks:** Needed to have an up to date local repo but this has been fixed on my end.
**Availability:** Due to illness, availability is limited.
**ETA:** Sunday Evening

[2020-08-30 12:16] alexandrastubbs commented on #503
Progress: none yet
Blocks: was moving this week
Availability: some time this week to start digging in
ETA: tbd, hoping to have a better idea of what needs to be done this week

[2020-08-30 12:17] alexandrastubbs commented on #610
Progress: made some progress on the google doc draft
Blocks: moving this past week
Availability: Mon-Thurs
ETA: end of this week!

[2020-08-30 12:43] efrenmarin45 commented on #651
Providing screenshots for reference to the grey bar.

**New:**
<img width="378" alt="Screen Shot 2020-08-30 at 5 43 16 AM" src="https://user-images.githubusercontent.com/51544521/91659241-b9615300-ea83-11ea-8ee1-29b6a21ea3e3.png">

[2020-08-30 12:45] efrenmarin45 commented on #651
Noticed the chevron was misaligned on the Getting Started page accordion under certain mobile versions. Fixed in this issue as well. Images for reference below.

**Old:**
<img width="378" alt="Old" src="https://user-images.githubusercontent.com/51544521/91659367-ef9ed280-ea83-11ea-8e35-f597f4d9992d.png">

**New:**
<img width="375" alt="New" src="https://user-images.githubusercontent.com/51544521/9

[2020-08-30 13:41] KianBadie commented on #615
Spent the week learning/implementing unit testing in my script. Aiming to get 100% code coverage so I can have confidence everything is working correctly. Unfortunately I was not able finish testing completely this week as I would have liked, as I spent a good amount of the week learning. However, I think I learned a lot though and know what I need to do now to finish testing.

I also saw a a fell

[2020-08-30 15:59] drubgrubby commented on #526
**Progress**
This is complete, with the exception of the following three things (which is to say, it's not quite complete):

1) In order to use the smaller HFLA logo for the mobile site, I used the smaller, mobile logo and then scaled it up for the main site.  Because of that, it sits on the page in a slightly different way than it does currently. It seems acceptable to me, but I'd like the design

[2020-08-30 16:11] rblaz001 commented on #386
Progress - My availability changed this last week, I was unable to get any work done
Blockers - None
Availability: No more interviews or scheduling conflicts, will be available all week

Priority:
 - [x] Finish automation card
 - [x] Rename 'used data types' to 'all data types'
 - [x] Add validate through template feature

Task after priority finished:
 - [ ] GitHub actions for automatic issue cre

[2020-08-30 16:46] daniellen00 commented on #614
Progress: Page is almost ready- pending decisions on Table of Contents / HfLA Platform layouts (plus Letter from CEO)

[2020-08-30 16:50] ghost commented on #684
Made a PR: #713

[2020-08-30 17:04] ghost commented on #571
Working with Josh

[2020-08-30 17:15] cnk commented on #699
The endpoint to get all the contributors who need to be notified of this change:

https://docs.github.com/en/rest/reference/repos#list-repository-contributors

[2020-08-30 17:51] daniellen00 commented on #614
Next steps:
- HfLA Platform decision: columns with icons
- Header: Get rid of dark background
- Table of contents: Remove bulletpoints, create more side/top final options to choose from
- @ExperimentsInHonesty will write Letter from CEO

[2020-08-30 18:11] ExperimentsInHonesty commented on #555
@ruben1s sorry to hear you are feeling badly.  Get better soon, and give us a progress report 🤣

[2020-08-30 18:16] ExperimentsInHonesty commented on #695
@ethanh256 please add a screen shot to this issue of what the card looks like locally

[2020-08-30 18:23] ExperimentsInHonesty commented on #684
@ethanh256 Add a screen shot of what it looks like locally, and slack into the Civic Tech Index channel asking jonathan sachsman to approve.

[2020-08-30 18:33] ExperimentsInHonesty commented on #695
Working with team on the other related issue: https://github.com/codeforamerica/brigade-playbook/issues/9#issuecomment-683448928

[2020-08-30 18:38] ExperimentsInHonesty commented on #698
Kian and Raudel provided this info: https://stackoverflow.com/questions/3142837/capture-iframe-load-complete-event

[2020-09-02 19:59] KianBadie commented on #705
I'm not sure on the other ways this will be implemented, but I think using GitHub's API would be the quickest/easiest way to gather this data. Here are some potentially useful resources about the GitHub API that can be useful for gathering this data. I'll be listing resources about the API/API client ([octokit/rest.js](https://octokit.github.io/rest.js/v18/)) as well as relevant endpoint in the AP

[2020-09-02 22:29] ExperimentsInHonesty commented on #387
I have been unable to get John's attention on this.  Going to bring it up at the next product-management meeting

[2020-09-04 18:25] drubgrubby commented on #526
**Progress:**
I believe that this is complete according to spec

**Blockers:**
The bugs that I haven't noticed yet, and the never-ending horror-show of browser incompatibility.

**ETA**
Two days ago (as you read this)

[2020-09-04 18:43] drubgrubby opened #717 "HFLA Logo covers text on tablet display"
### Overview
On iPad (and I'm assuming other tablet) displays, the HFLA logo covers up some of the page text or page heading.

### Action Items
A decision needs to be made on how to address the issue.  The two things that come to mind are, a) making the logo smaller, or b) moving the text lower.

### Resources/Instructions
I'm guessing the fix on this will be on _header.scss and/or _header-nav.scs

[2020-09-04 20:35] ExperimentsInHonesty commented on #703
@Excursionpreneur - This project is fairly urgent.  Can you provide a progress update?

1. Progress
2. Blocks
3. Availability
4. ETA

[2020-09-04 21:12] jbubar commented on #162
![screencapture-0-0-0-0-4000-wins-page-html-2020-09-04-14_05_35](https://user-images.githubusercontent.com/53061723/92284923-f41a1f80-eeb7-11ea-9950-2a59231b138d.png)

Progress: That is how the page looks for now.

Blocks: Still working on the secrets. Need to figure out a system for the secrets. Using my api key. Not sure why Bonnie's api key is not working for me. Have not started with github ap

[2020-09-04 21:12] Arjayellis commented on #703
Removed Technical Architect from roles needed

[2020-09-04 22:35] ExperimentsInHonesty commented on #717
@drubgrubby can you try making a branch that has the logo smaller for everything but desktop?

[2020-09-05 15:30] ExperimentsInHonesty commented on #162
**This is the setup that Josh Has**

![Screen Shot 2020-09-04 at 5 14 01 PM](https://user-images.githubusercontent.com/37763229/92292443-191b8c00-eed2-11ea-8417-f24339316cf0.png)
----------------------------
----------------------------
----------------------------
oath screen
![Screen Shot 2020-09-04 at 3 52 08 PM](https://user-images.githubusercontent.com/37763229/92292391-e1acdf80-eed1-11ea-98d

[2020-09-06 04:59] ruben1s commented on #555
Update:
1. Progress: Pull request pending

2. Blocks: None

3. Availability: Mon - Fri 5pm - 7pm && Sat Sun 11am - 8pm

4. ETA: TBD

Desktop View:
![screencapture-0-0-0-0-4000-toolkit-2020-09-05-21_54_02](https://user-images.githubusercontent.com/33906590/92318535-77c03300-efc2-11ea-9f6d-b4c792cdce64.png)

Mobile View:
![screencapture-0-0-0-0-4000-toolkit-2020-09-05-21_54_30](https://user-images.g

[2020-09-06 07:45] efrenmarin45 commented on #162
**Progress:** Checked in with @jbubar in regards to progress and began working on including the github API to display github photos.
**Blocks:** Working on how to implement my code with the existing code on Josh's branch.
**Availability:** Limited, due to illness.
**ETA:** Ongoing

[2020-09-06 16:24] KianBadie commented on #615
This week I continued to unit test and modify the structure of the code. The structure I decided to commit to was to create a mixin. The flow I have been doing is modifying each method to the new format and then unit testing it. Yesterday, I had about 3 functions left to test. However today, I realized my tests might have not been implemented how they should be, which will cause a set back as I re

[2020-09-06 16:46] leonelRos commented on #403
Hey team, I still debugging the arrows. Susan and I worked on it last Thursday but we could not figure it out. This is the error I am getting:

1. The page looks fully complete.![image](https://user-images.githubusercontent.com/50648001/92330658-61978e80-f025-11ea-82b8-df536d0cc430.jpeg)

2.After going to mobile version and clicking the arrows for the drop down and go back to full desktop page we

[2020-09-06 16:54] ghost commented on #571
After a long period of time of not doing anything, I've actually made some pretty good progress today.

Progress: I cleaned up most of the SCSS file, started on fixing the responsiveness
Blocks: I have to admit, I'm not a huge fan of CSS so I've been putting this off. Sorry about that.
ETA: Today
Availability: Today

[2020-09-06 16:58] daniellen00 commented on #577
Progress: Listed components and class names for comparison. Would like to discuss with @ye-susan before providing notes for recommended changes.

[2020-09-06 17:33] ExperimentsInHonesty commented on #526
we are going to test the bold vs not bold after pr approved and merged.

[2020-09-06 17:37] ExperimentsInHonesty commented on #403
@leonelRos Let's go ahead and push the page and fix the problem after.  Also, we could use the live page to ask for help in the general channel which might get some more developers on the project.

[2020-09-06 17:53] Excursionpreneur commented on #703
I made the card on my local server, and will need to verify the text that goes into the card.  For some reason, my code kept being deleted on my local server when I tried to update index.html with the new card, so testing it was difficult.

[2020-09-06 17:57] ghost commented on #684
![image](https://user-images.githubusercontent.com/58455740/92332047-acb69f00-f02f-11ea-827b-7f0138a403e1.png)

[2020-09-06 18:16] ExperimentsInHonesty commented on #614
need mobile

[2020-09-06 18:21] ruben1s commented on #555
I made the necessary changes to the column issue on mobile view. Here are the snapshots.
![screencapture-0-0-0-0-4000-toolkit-2020-09-06-11_19_32](https://user-images.githubusercontent.com/33906590/92332479-12585a80-f033-11ea-8a97-15f0f141ee6e.png)
![screencapture-0-0-0-0-4000-toolkit-2020-09-06-11_19_59](https://user-images.githubusercontent.com/33906590/92332482-14bab480-f033-11ea-9f42-4c66f8b93

[2020-09-06 18:33] jbubar commented on #703
@Excursionpreneur Instructions for finding the project id and a template for building the project card https://github.com/hackforla/website/wiki/Template-of-a-project.md-file

Handy work of Cynthia. Im just sharing the link

[2020-09-06 21:06] cnk commented on #688
This may be a solved problem. The red callouts on this page move with the window size. Check how that page is making this work.  https://www.hackforla.org/guide-pages/survey-reporting-dashboard-guide.html

[2020-09-06 21:06] jsachsman commented on #684
Hi @ethanh256 thanks so much. We should have asked for one more change - can you change

**name**: Bonnie Wolfe
**role**: Acting PM (Project looking for a new PM)

to

**name**: Bonnie Wolfe
**role**: Technical Product Manager

[2020-09-07 01:25] ghost commented on #571
New pull request: #721

**Credits Page:** The page is now responsive to screen size changes, has no duplicate class names from other pages (all tags are custom). Made the HTML more semantic.

Examples of responsiveness of webpage on various screen sizes:

![credits](https://user-images.githubusercontent.com/58455740/92339964-739d1f80-f06d-11ea-81c5-5de3b1cd08d0.png)
![credits medium](https://user-

[2020-09-07 01:47] ghost commented on #684
@jsachsman Updated

[2020-09-07 16:08] ExperimentsInHonesty commented on #162
We identified that the data that @efrenmarin45 needs is already in the repository at the following location
_data/github-data.json. its just a mater of finding the github handle name and then from there moving up to the id.

[2020-09-07 16:38] ExperimentsInHonesty commented on #162
@jbubar I setup the following email address hflasheetsapi@gmail.com and put the password in 1password. Please accept the invitation and then I can add you to the vault so you can access.

[2020-09-07 18:01] leonelRos commented on #403
@ExperimentsInHonesty  OK, I will create the PR and assign @ye-susan to review it.

[2020-09-07 18:13] #571 closed, assigned to suazoj

[2020-09-08 20:30] ExperimentsInHonesty commented on #695
@ethanh256 I have updated the information at the bottom of this issue.  Can you confirm that you have everything you need now?  https://github.com/codeforamerica/brigade-playbook/issues/9

[2020-09-08 23:07] drubgrubby commented on #708
updated website.md file to reflect changes to project description

[2020-09-09 22:08] #684 closed, assigned to nobody

[2020-09-10 19:06] kcoronel commented on #703
Hello @Excursionpreneur any updates on this? Thank you!

[2020-09-10 21:15] alexandrastubbs commented on #387
Per dependency at the top, currently waiting for Bonnie to update [one-sheeter](https://docs.google.com/document/d/1WgTN4kTT2LNoNxq7AHp5tOl9RhMIBTjqYonPzEXPmkE/edit) before we can move forward with this issue.

[2020-09-10 21:38] alexandrastubbs commented on #614
@daniellen00

Notes on mobile (we know it is still a WIP):

1. For letter, it will be too long to show full letter on mobile, so maybe we use an accordion and just have 'letter from the editor' and then show something along the lines of 'Thank you for coming to the site. This letter is fairly long on mobile. If you'd like to read the whole thing, click here.' Upon clicking, the visitor can read th

[2020-09-10 21:48] alexandrastubbs commented on #403
@leonelRos We just looked at the [pull request](https://github.com/hackforla/website/pull/722) - who/what is the blocker now?

[2020-09-10 21:54] alexandrastubbs commented on #555
@KianBadie to connect with @ruben1s to help him understand how to refactor into a collections unit.

[2020-09-10 22:01] alexandrastubbs commented on #703
PR: https://github.com/hackforla/website/pull/724

[2020-09-10 22:06] alexandrastubbs commented on #703
@Excursionpreneur please put a screenshot of the project card from your computer into this issue, so that the stakeholder can perform their user acceptance testing.

[2020-09-10 22:15] #708 closed, assigned to drubgrubby

[2020-09-10 23:00] alexandrastubbs commented on #602
Test this on project pages. Bring up during PM meeting.

To do:
- [ ] Set up user stories board on the product repo
- [ ] Write sample user stories
- [ ] Put on PM agenda closer to event time

[2020-09-11 04:26] efrenmarin45 opened #725 "Chevron Misalignment - Getting Started Page"
### Overview
One of the chevrons on the lower panel does not align correctly. The chevron positions itself below the line under certain mobile views.

### Action Items
Find out what is causing the chevron to be misaligned under certain mobile views.

### Image Example
<img width="378" alt="Old" src="https://user-images.githubusercontent.com/51544521/91659367-ef9ed280-ea83-11ea-8e35-f597f4d9992d.pn

[2020-09-11 04:57] drubgrubby commented on #690
Completed:
1) Text showing the users time zone has been added above the calendar listings.
2) The bug that showed midnight at 0:00 has been fixed.

[2020-09-11 19:49] drubgrubby commented on #690
This shows the time zone text at the top, and that the time=0:00 has been fixed (see VRMS):

<img width="753" alt="Screen Shot 2020-09-11 at 1 02 32 AM" src="https://user-images.githubusercontent.com/68244054/92966674-d3f4de00-f42c-11ea-8d8a-a9788c9ff1e0.png">

This is the alternate/default text if the browser can't find a time zone:

<img width="727" alt="Screen Shot 2020-09-11 at 5 11 26 AM" src

[2020-09-11 20:26] #651 closed, assigned to KianBadie, efrenmarin45

[2020-09-12 17:00] ExperimentsInHonesty commented on #386
@rblaz001 checking to see if you are able to put in an update on this issue before tomorrow.

[2020-09-12 17:36] KianBadie commented on #703
I noticed that the repository name or id number was not included in out [data](https://github.com/hackforla/website/blob/gh-pages/_data/github-data.json) set. I'm guessing it is because it is not tagged hack for la. We fetch a repository that is untagged (work for la), so if ballot nav did not want to tag their repo with the needed tags, we would need to add that repo id to the [data fetching scri

[2020-09-12 20:25] rblaz001 commented on #386
**Progress**
- Finished [automation card](https://github.com/100Automations/Website/issues/29), renamed 'used data types' to 'all data types ' in output, and finished updating documentation.

Next step is to add validate through template.
 - ~~I will work on this tonight and either should finish first draft of it tonight, or will update with expected completion time.~~
 - Finished MVP for validate

[2020-09-13 04:50] ruben1s commented on #555
Update:

Progress:
    I refactored the code to use liquid. I made two collection folders 1 for the toolkit pages and 1 for the resource card pages.
    There is a pr in the pipeline. Screenshots are below.

Blocks: None

Availability: Mon - Fri 5pm - 7pm && Sat Sun 11am - 8pm

ETA: TBD

![screencapture-0-0-0-0-4000-toolkit-2020-09-12-21_48_26](https://user-images.githubusercontent.com/33906590/93

[2020-09-13 15:45] KianBadie commented on #615
I covered the minimum amount of cases I wanted to cover in my tests to be comfortable with the tool. Up next is adding technical directions to the readme on how to use the tool, publishing it on npm, and then refactoring the site to use the tool. You can see the repo [here](https://github.com/100Automations/true-github-contributors).

I also marked some action items as complete because it is simpl

[2020-09-13 16:04] KianBadie commented on #555
Putting this here just for documentation purposes. This is in regards to the collections refactoring (and should have been posted before @ruben1s above update about the collections).

Resources/guides should be collection items. The toolkit page should loop through the collection items in order to display them. Original request structure was to have one collection with a variable denoting if an it

[2020-09-13 17:16] jbubar commented on #162
Progress: Gained an understanding of github actions, and tested it out on my own project.
blocks: did not figure out onepassword. signed up but not sure how to get the password for the hflasheetsapi@gmail.com
ETA: probably by the end of wednesday (09/16/20)
Availability: today, and wednesday

[2020-09-13 17:18] ExperimentsInHonesty commented on #386
Do UX requirement gathering.
Bonnie will post on CfA slack asking for other people who have Jekyll sites and use collections.

[2020-09-13 17:23] rblaz001 commented on #386
**template.md**
[code]

[2020-09-13 17:27] ExperimentsInHonesty commented on #526
David will continue to make changes as per kian's direction on the PR

[2020-09-13 17:36] rblaz001 commented on #386
**Updated Project Card Data Types** - 9/13/2020
https://docs.google.com/spreadsheets/d/1F8ba2Kn6fjpp15zpseVqoYP7DsWVq1tpsKPusMCHF5Q/edit?usp=sharing

**Updated Template Data Types** - 9/13/2020
https://docs.google.com/spreadsheets/d/1KqqzZJOZKhX5QAB9X1wOwn_RuovRH1ikGwnQdUudbaM/edit?usp=sharing

[2020-09-13 17:41] ruben1s commented on #555
Need a field in .md file for
image url
alt text
title
title-link
description
cardType (resource / guide)
status (coming soon / live )
category

[2020-09-13 17:44] cnk opened #730 "Create a template for "Suggest a Guide" issue"
Create a GitHub issue template on the hackforla/website repository. The template should have prompts to have people enter all the information we need for the collection item for a guide.

[2020-09-13 17:45] cnk opened #731 "Create a template for "Suggest an External Resource""
Create a GitHub issue template on the hackforla/website repository. The template should have prompts to have people enter all the information we need for the collection item for an external resource.

[2020-09-13 18:05] ExperimentsInHonesty commented on #555
Not creating unique collection for guides (one already exists) just add this info to the top matter
![Screen Shot 2020-09-13 at 11 03 11 AM](https://user-images.githubusercontent.com/37763229/93025191-c23c4380-f5b0-11ea-94d3-59b81a82d6c1.png)

there will need to be a collection for resources which should match (or mostly match) the fields.

[2020-09-13 19:30] ExperimentsInHonesty commented on #703
We need the leadership info for this project
Name
Role
Github handle
slack member id

[2020-09-13 22:56] ExperimentsInHonesty commented on #703
**This is the format**
leadership:
  - name: Mya Stark
    role:
    links:
      slack: 'https://app.slack.com/team/UMC7AJLDV'
      github: 'https://github.com/myastark'
    picture: 'https://avatars.githubusercontent.com/myastark'

[2020-09-14 01:05] Excursionpreneur commented on #703
The card was updated with "project leadership". The role and links were blank, so this commit is blank for now.

![screencapture-0-0-0-0-4000-2020-09-13-18_02_03](https://user-images.githubusercontent.com/24662537/93033541-85da0900-f5eb-11ea-858c-029548094604.png)

Link to pull request - https://github.com/hackforla/website/pull/724

[2020-09-14 01:07] Excursionpreneur commented on #703
Also, here is a screenshot of the page for BallotNav

![screencapture-0-0-0-0-4000-projects-ballot-nav-2020-09-13-18_06_15](https://user-images.githubusercontent.com/24662537/93033628-e79a7300-f5eb-11ea-9255-99d269e925fd.png)

[2020-09-14 01:53] ruben1s commented on #555
Quick - Update: I made the changes requested above. Removed the toolkitGuidePages collection and migrated extra fields to the guidepages collection.

here are the snapshots of the page
![screencapture-0-0-0-0-4000-toolkit-html-2020-09-13-18_53_17](https://user-images.githubusercontent.com/33906590/93035654-73af9900-f5f2-11ea-83b9-98f44592c695.png)
![screencapture-0-0-0-0-4000-toolkit-html-2020-09-

[2020-09-14 20:37] ExperimentsInHonesty opened #733 "Update Looking for on various projects"
### Overview
We need to update what the projects are looking for on the website based on what they have asked for so that vistors can find the projects that need them easily.

### Action Items
- [ ] Go to the spreadsheet
- [ ] Make the changes identified in red and green to the project cards
- [ ] Move the red items to the deleted section below and updated date
- [ ] Change the green items to whit

[2020-09-16 04:04] Excursionpreneur commented on #703
The code was pushed to the live site by @KianBadie. After discussing the text that should go into the card, it was decided that the text provided by Mya in the comments is what is expected (not what's in the README, as I presumed and submitted earlier).

![screencapture-hackforla-org-2020-09-15-21_03_23](https://user-images.githubusercontent.com/24662537/93291061-fffac100-f796-11ea-9e0b-00900f7348

[2020-09-16 19:20] KianBadie commented on #703
The BallotNav card has been merged and is viewable on the site. Even though the @Excursionpreneur received a visual confirmation from @myastark, we updated the description to match the one provided [here](https://github.com/hackforla/website/issues/703#issuecomment-678710811) in this issue. Because there was already a visual confirmation before taking into account the information provided here, it

[2020-09-16 19:30] ghost commented on #695
![new screenshot](https://user-images.githubusercontent.com/58455740/93383176-1d23a400-f818-11ea-8334-6cf8f706a755.png)
<img width="357" alt="Screen Shot 2020-09-16 at 12 28 51 PM" src="https://user-images.githubusercontent.com/58455740/93383241-33c9fb00-f818-11ea-8f8e-aaba19c9aec3.png">

@ExperimentsInHonesty @KianBadie New fixes, issue fixed by updates to pull request #729

[2020-09-16 19:38] KianBadie opened #735 ""Undefined" associated with BallotNav Meeting Time"
### Overview
There seems to be an undefined field associated with a BallotNav meeting time on Thursday (see screenshots below). It shows up both on the BallotNav's [project home page](https://www.hackforla.org/projects/ballot-nav) and on the [project meetings page](https://www.hackforla.org/project-meetings). Needs to be troubleshooted as to where the undefined value is coming fromm.

### Action I

[2020-09-17 02:38] alexandrastubbs commented on #602
Need @ExperimentsInHonesty to create user story board on product management repo, or to provide me permissions to create the board.

[2020-09-17 02:59] drubgrubby commented on #717
@ExperimentsInHonesty - As you requested, I made a branch with a smaller logo for tablet.  As you can see, the logo no longer covers up the content.  I think it looks better.

My inclination is to wait until the hamburger nav gets merged (which should be very soon) before merging this.  It works on some of the same css and I think it will be cleaner to do it that way.

<img width="557" alt="Screen

[2020-09-17 21:26] alexandrastubbs commented on #614
@daniellen00 do you have an update on this?

[2020-09-17 21:33] alexandrastubbs commented on #526
https://github.com/hackforla/website/pull/716#issuecomment-694511325

[2020-09-17 21:35] alexandrastubbs commented on #403
@leonelRos any updates on this?

[2020-09-17 22:05] alexandrastubbs commented on #555
@ruben1s some notes below on these mocks.

Mobile:

- everything should be left justified
- Image below toolkit description should be larger (fill in the white space)
- Add more padding above the Development, Design, Project Management
- Add a space between Guides and (We Made These!)
- In box for 2FA guide, there is too much space between picture and title, title and copy block (if you are trying

[2020-09-17 22:08] alexandrastubbs commented on #162
@jbubar any updates on this?

[2020-09-17 22:19] alexandrastubbs commented on #690
https://github.com/hackforla/website/pull/726#issuecomment-694529839

[2020-09-17 22:20] myastark commented on #703
![ballotnav-pr-image-web](https://user-images.githubusercontent.com/54009156/93534111-4a944e80-f8f9-11ea-92a9-9b899fe6caae.jpg)

[2020-09-17 22:25] alexandrastubbs commented on #735
See comment in VRMS issue: https://github.com/hackforla/VRMS/issues/271#issuecomment-694531432

[2020-09-17 22:28] clockwerkz commented on #735
I believe this is on our end (vrms).. just need to figure out what property the page uses to fill out that info..

[2020-09-17 22:39] clockwerkz commented on #735
It's the "description" property in the recurringevent document. I missed adding it to the document for the Thursday recurringevent.

[2020-09-17 22:52] KianBadie commented on #735
@clockwerkz that's good to hear, thank you! Will close this issue because the `undefined` behavior is now gone (I'm assuming it is because you fixed it).
![Screenshot from 2020-09-17 15-51-25](https://user-images.githubusercontent.com/18221058/93536430-d019fd80-f8fd-11ea-9c16-e5670c2bef0a.png)
![Screenshot from 2020-09-17 15-51-42](https://user-images.githubusercontent.com/18221058/93536435-d14b2a

[2020-09-17 22:52] #735 closed, assigned to KianBadie, ruben1s

[2020-09-17 22:57] KianBadie commented on #703
@myastark Thank you for the image. I'm assuming this is the image you would like to use for the project card, while keeping the u.s map as the hero image? If so, did everything else on the page look acceptable? We got rid of the `undefined` behavior I mentioned in my [last](https://github.com/hackforla/website/issues/703#issuecomment-693609080) comment.

[2020-09-17 23:32] myastark commented on #703
@KianBadie Yes, for the project card. Keeping the map for the hero is fine, but is it the right size? or was that just a problem with the card

[2020-09-18 01:19] KianBadie commented on #703
@myastark sounds good. I can add those changes to the site within the hour. I just need an alt-text for the image first.

The map image is the correct size 1500x700 pixels. When you say "or was that just a problem with the card", did you see something in the images of the page above that looked incorrect with the image or did I interpret that incorrectly?

[2020-09-18 01:44] Arjayellis commented on #703
@KianBadie Are we able to change the "Looking for" section to "Data Scientists, UX Researchers, UI Designers, and anyone who wants to help us validate website data!"?

[2020-09-18 01:49] KianBadie commented on #703
@Arjayellis Yeah I can change it to that :+1: Would I be able to wait until tomorrow to change that (unless it is urgent) so that I can add both your change and @myastark's change in the same commit. I am waiting on @myastark's response for the alt-text for the image she provided and to see if she had any other questions about the images.

Did you see anything else you would like to change @Arjaye

[2020-09-18 02:23] ExperimentsInHonesty commented on #703
@KianBadie Alt text is "Person holding phone with ballot nav website on it".  Randall AKA Arjayellis said everything is good.

[2020-09-18 17:22] KianBadie commented on #703
@myastark @Arjayellis @ExperimentsInHonesty Updated project image/alt-text, and updated the looking for. I changed the wording of the looking for to be singular to stay consistent with the site (eg: Researchers -> Researcher) is that ok?

Also, I made it so that once the updates are merged, it will close this issue as it seems like there are no other requested changes.

Lastly, we noticed in the d

[2020-09-19 00:03] KianBadie commented on #615
Added API Documentation, installation instructions, examples for each endpoint (in a directory in the repository), and updated the `Current State` section of the [readme](https://github.com/100Automations/true-github-contributors) of the project.

The package is also available on [npm](https://www.npmjs.com/package/true-github-contributors) now!

[2020-09-19 01:33] ExperimentsInHonesty opened #738 "HelloGov update"
### Overview
We need to update HelloGov status so that people are not confused when they come to the website.

### Action Items
- [x] Development
  - [x] Change status to: Completed
  - [x] Remove content in looking section

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/_projects/hellogov.md

[2020-09-19 01:44] ExperimentsInHonesty opened #739 "Update NotToday on website"
### Overview
We need to update Not Today status so that people are not confused when they come to the website.

### Action Items
- [x] Development
  - [x] Change status to: On Hold
  - [x] Remove content in looking section

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/_projects/nottoday.md

[2020-09-19 01:44] daniellen00 commented on #614
@alexandrastubbs Hi Alex, I'm really sorry about the delay, thank you for checking in- it's been a little crazy catching up since returning from my camping trip- thank you for the notes above, I completely agree. I am 95% finished with the full expanded mobile page, and after that I will finish the collapsed version right next to it, which should be really simple. I should be done early tomorrow (

[2020-09-19 02:06] ExperimentsInHonesty opened #740 "Projects in search of PMs"
### Overview
We need a way to recruit new project managers to projects that exist only in concept form so that we can get them off the ground.

### Action Items
- [ ] Product
   - [ ] Identify current assets we have already
      - [ ] List of open projects (see open PM roles)
   - [ ] Identify assets we will need to reduce repeat questions
      - [ ] All details about current concept
      - [ ]

[2020-09-19 03:12] myastark commented on #703
we ended up killing the counter feature anyhow -i missed this update. @KianBadie please change text to:

BallotNav will help voters quickly find the location, times of operation, and due date for dropping off mail-in ballots in person. Due to COVID-19 and cuts to the United States Postal Service, some voters may feel insecure not only about going out to the polls, but also about utilizing the mail

[2020-09-19 15:56] ExperimentsInHonesty commented on #695
@KianBadie I am sorry the slack channel we provided  for CfA should have been https://cfa.slack.com/archives/C019RCM15FE

[2020-09-19 18:23] daniellen00 commented on #614
@alexandrastubbs @ExperimentsInHonesty I am almost finished but I just wanted to get your thoughts ([link](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692)) - in the collapsed version do you want every section collapsed, or should I keep sections like the quote and links always expanded (as currently shown in the Figma)?

[2020-09-19 19:09] rbajaj1997 commented on #738
Hi @ExperimentsInHonesty!
Where should the status be visible?

[2020-09-19 19:12] rbajaj1997 commented on #738
Hi @ExperimentsInHonesty! Presently I see the status for HelloGov is Active. What do we need to update it to?

[2020-09-19 20:23] KianBadie commented on #703
@myastark sounds good. Here is what the card now looks like (I just uploaded the parts that changed).
![Screenshot from 2020-09-19 13-19-47](https://user-images.githubusercontent.com/18221058/93688529-4b54ee00-fa7b-11ea-847b-c7b1134728fc.png)
![Screenshot from 2020-09-19 13-19-33](https://user-images.githubusercontent.com/18221058/93688527-4abc5780-fa7b-11ea-9441-f52e055ac398.png)

[2020-09-19 20:35] #703 closed, assigned to Excursionpreneur

[2020-09-19 23:03] KianBadie commented on #526
Merging the pull request as @cnk reminded me of the conversation we had at the last dev meeting. See my newest comment [here](https://github.com/hackforla/website/pull/716#issuecomment-695364816). It says this:

@cnk Reminded me of the conversation we had during the dev meeting regarding this pull request where we decided it would be a good idea to merge this and test live. I personally think it i

[2020-09-19 23:03] #526 closed, assigned to drubgrubby

[2020-09-19 23:23] KianBadie commented on #555
Me and @ruben1s are working on the last visual touch ups today and tomorrow morning. I intend on having this merged before tomorrow's meeting based purely on matching the figma visually. I think there are some structural changes that should happen to the code, but I think it is more important to get this page out.

[2020-09-20 15:17] jbubar commented on #162
Progress: little progress. Still testing out github actions. I got the curl command working, but i have not figured out how to generate a new file with github actions. I generated the API key from the google account that bonnie gave me and got that working too.
Blocks: I do not understand github actions yet
ETA: Next week, by next sundays meeting
Availability: after 6pm pst every day

[2020-09-20 16:48] KianBadie commented on #555
I've attached screenshots to the point that me and @ruben1s have reached at this point

I will upload the screenshots in this comment. There are places where it is still wonky (specifically landscape on mobile as you will see in my screenshots). Structurally, I think it needs changes. But I was shooting purely on visual requirements (as I assumed those were the more important ones in getting this

[2020-09-20 16:56] rblaz001 commented on #386
Progress: Still have Validate by Template in Develop branch until I finish updating documentation. I hope to finish updating the README and pushing this to master today. Won't be able to make it to meeting today.

Blockers: Moving in a week

Availability: Today (Sunday 9/20) - I'm moving in a week, won't expect to work on anything until I'm settled in to my new place

[2020-09-20 17:25] ExperimentsInHonesty commented on #695
@ExperimentsInHonesty will add a blank issue to the repo a github.com/hackforla/civic-tech-structure/ so that all contributors can comment and get credit for working on issue.

[2020-09-20 17:36] ExperimentsInHonesty commented on #614
@ExperimentsInHonesty will provide preview text for letter for mobile version

[2020-09-20 17:44] ExperimentsInHonesty commented on #614
- changing the read about us to be all on one card
- changing icons on mobile menu

1.  - platform
2. - sponsors
3. - usability hub test for donating

[2020-09-20 17:56] ExperimentsInHonesty commented on #403
@cnk will fix meeting times not loading and add timezone lang
![Screen Shot 2020-09-20 at 11 24 00 AM](https://user-images.githubusercontent.com/37763229/93718887-e01b2280-fb33-11ea-8286-47e4244456a4.png)

Issues that need to be looked at that are unassigned currently
1. The top white header needs to fill the page like the toolkit page does
https://www.hackforla.org/hack-nights-page
https://www.ha

[2020-09-20 18:17] KianBadie commented on #555
Action items since 9/20 meeting:
- [ ] Continue to fix visual bugs and move styling towards figma
- [x] Make "coming soon" guide cards have black titles, so that it is clear they are not clickable
- [x] Add dynamic padding to with for text within resource/guide cards
- [x] Increase size of svg's so that they scale better on desktop
- [x] Fix comingsoon text so that it displays properly (responsive

[2020-09-20 18:22] #690 closed, assigned to drubgrubby

[2020-09-20 19:20] cnk commented on #403
I renamed this so the url will be hackforla.org/hack-nights and made the meeting times section work. Also added the Time Zone note from the current meeting-times pages.

[2020-09-20 20:56] jbubar commented on #162
Its working! I got the page working with github actions and github secrets. I am ready to push the MVP.

Things that still need to be completed with future commits:
- github or linkedin avatar photos
- hiding extra text behind "see more" link
- adding in role and team filtering drop down
- embedding the google form within our website

![screencapture-localhost-4000-wins-2020-09-20-13_50_39](https:

[2020-09-21 18:32] ExperimentsInHonesty commented on #403
@drubgrubby will take care of the remaining issues here: https://github.com/hackforla/website/issues/403#issuecomment-695816107

[2020-09-21 18:36] ExperimentsInHonesty commented on #616
see the footer on this page which is not being blocked: https://www.vera.org/events

Also, @drubgrubby thinks it's possible that its because we added the donate button so the ad blocker is seeing the footer as an ad.

[2020-09-21 22:17] alexandrastubbs opened #743 "Remote Onboarding Survey Not Collecting All Data"
### Overview

We need the remote onboarding survey to collect & save all responses correctly so that we can analyze responses and improve our onboarding process. At present, some data is missing and not being stored, even for required questions.

### Action Items

- [x] Review the spreadsheet to note where data is missing (first four required questions)
- [x] Identify why data is missing
- [x] Tes

[2020-09-21 22:20] alexandrastubbs commented on #610
Moving Kanban progress to Issue #209

Dependency: #209

[2020-09-21 22:23] alexandrastubbs opened #744 "Review Surveys"
### Overview
We need to ensure that the surveys make sense with the rest of the Hack for LA ecosystem, that way users are presented with questions in the survey that build from their experience on the website, in meetings, etc.

### Action Items
- [ ] Bonnie & Alex to discuss which surveys made need attention and create action steps from there

### Resources/Instructions
[Survey Dashboard](https:/

[2020-09-21 22:24] alexandrastubbs commented on #209
Draft of the article: https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit

[2020-09-22 00:05] alexandrastubbs opened #745 "Milestone to Label Transition for All Issues"
### Overview
We need to start to leverage labels as a way of grouping issues, rather than using milestones to group issues. This will allow us to quickly filter the board based on a topic and free up milestones for their true purpose - tracking feature launches.

### Action Items

- [x] Create label for known groupings
- [x] Tag issues in existing milestones with the label
- [x] Remove issues from

[2020-09-24 16:24] MasSamH opened #746 "Update Civic Tech Structure Card"
### Overview

We need to add another member of our team

### Action Items

- [ ] Thad to add his details

### Resources/Instructions
https://www.hackforla.org/projects/civic-tech-structure

[2020-09-24 16:34] MasSamH commented on #695
Team meeting times and another addition to card to follow https://github.com/codeforamerica/brigade-playbook/issues/9#issuecomment-698453537 @GlowingEmber

[2020-09-24 17:49] thadk commented on #746
I put my details in: https://github.com/hackforla/website/issues/695#issuecomment-698454897

[2020-09-24 17:51] thadk commented on #746
I put my details in: https://github.com/hackforla/website/issues/695#issuecomment-698454897 and specifically https://github.com/codeforamerica/brigade-playbook/issues/9#issuecomment-698453537 — thanks @GlowingEmber

[2020-09-24 19:13] alexandrastubbs opened #747 "How to Write an Issue"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

- This is where we put the user story, typically written in the format of _'We need xxx so that xxx'_

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already bee

[2020-09-24 20:33] drubgrubby commented on #403
I made the fixes mentioned in https://github.com/hackforla/website/issues/403#issuecomment-695816107 .
1) The white background fills the header and the "pink" is gone.
2) The text for the video is now responsive and doesn't merge with the about text.
3) In the process, because there was a header-container tag that was being used from getting-started-page.scss, I created an ../elements/_containers.