[2021-03-14 07:56] kevinreber commented on #1110
Progress
Added all styling from the instructions, but my results aren't matching the Figma mock up.

<details>

<summary>Current Progress</summary>

![image](https://user-images.githubusercontent.com/42260999/111061173-db865580-8456-11eb-9778-ee079f3936bb.png)

</details>

<details>

<summary>Mock up</summary>

![image](https://user-images.githubusercontent.com/42260999/111061222-17211f80-8457-11e

[2021-03-14 10:29] jbubar commented on #1130
Made some progress. Put a few hours into this test repo.. Looks promising.
I think I should have this done before next weeks meeting

[2021-03-14 10:49] jbubar opened #1203 "Wins: adding the badges"
### Dependency
#981 Wins bag UX design testing

### Overview
@daniellex0 redesigned the way the wins cards should look when '...see more' is pressed. It includes badges!

### Action Items
- [ ] Get a look at the [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1284%3A102) and the picture of the figma below, to get an idea of what you will be adding (the badges)

[2021-03-14 10:56] abenipa3 commented on #1085
Progress: Built a working prototype as seen below. Will present during the meeting.
Blocks: Just need to revise the [document](https://docs.google.com/document/d/1ivPbOLQh_KYmG7r6Fvx5Goojc3207gDxjTmDvT9vjQ8/edit) of findings.
Availability: Open
ETA: 3/14/21
![image](https://user-images.githubusercontent.com/38295612/111065879-46e11f00-8479-11eb-935f-c00a2f3fb697.png)

[2021-03-14 12:52] daniellex0 commented on #958
Progress: I am waiting on the Join Us page to go live (should happen today) - so that I can standardize all of the pages cards, including that new pages (since it relies on reusable page card component).

Next Steps: If the Join Us page goes live, I will finish this by Tuesday's dev meeting.

[2021-03-14 12:54] daniellex0 commented on #1027
Progress: Working on this (adding more reusable component information to this wiki)

Next Steps: Should be able to finish this week

[2021-03-14 12:57] daniellex0 commented on #981
Progress: I have a new design on Figma for a few sections on the Project page including the missing timezone, and need to have @ExperimentsInHonesty approval first : https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=7891%3A0

Next steps: Get approval or edits

[2021-03-14 12:59] daniellex0 commented on #1171
Progress: I have a new design on Figma for a few sections on the Project page including the missing timezone, and need to have @ExperimentsInHonesty approval first : https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=7891%3A0

Next steps: Get approval or edits

[2021-03-14 13:03] daniellex0 commented on #765
Progress: Completed user testing of Open Roles page designs, and have a [mockup](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5326%3A26395) (with some options/questions) ready for review.

Next Steps: Get approval or edits for mockup. Verify feasibility of all features on development side. Finalize page and send to development.

[2021-03-14 13:10] daniellex0 commented on #577
Progress: Started documentation and 'Start Here' section - as well as categorizing the design system more clearly - so that new designers can onboard more easily, added image guidelines, added standard screen sizes, working on implementing auto layout and componentizing design system on Figma, nearly finished standardizing layouts and cards based on devs' continuing work on new pages.

Next Steps:

[2021-03-14 15:59] Lol-Whut commented on #1146
Progress: On my end, the gif is replaced and seems to be working, but I'm having trouble pushing changes; I'm thinking this is a git flow issue I'm encountering for the first time.
Blockers: I've made changes on my feature branch, but when I use the "git status" command, I get a "working tree clean" message. I've tried different methods of making these changes to see if my original method was the

[2021-03-14 16:42] ItsLaszlo commented on #947
Progress: working on a write up
Blockers: none
ETA: Tuesday 3/16

[2021-03-14 16:53] daniellex0 commented on #981
@tarang100 Sorry I had to adjust part of the test because of usability hub limitations, so I'll get review today and then post it on the Admin channel

[2021-03-14 16:56] Oluwafemi-Jegede commented on #969
Project Board arranged by @shaswa on Mar 14th, 5:55 pm (GMT+1) / 12:55 pm (EST)
@shaswa  Please review and arrange the project board before Wednesday meeting

[2021-03-14 17:25] tarang100 commented on #854
I am on board with this. Looks good @drubgrubby !
Should I make the changes and make a pull request for review?

[2021-03-14 17:47] #959 closed, assigned to akibrhast

[2021-03-14 17:59] abenipa3 commented on #1085
Live Preview of Prototype: https://github.com/alyssabenipayo/hello-world
Updated Document of Markdown Research: https://docs.google.com/document/d/1ivPbOLQh_KYmG7r6Fvx5Goojc3207gDxjTmDvT9vjQ8/edit#

[2021-03-14 21:28] ashleylin1 commented on #1079
https://docs.google.com/presentation/d/1slYvN1bY8IhpwteMgQ7ZFYcKzVkUpzf7SBTuk10AOWk/edit?usp=sharing
Progress:
- Added slides explaining Code for America organization,
- separated slides for tools, technologies and framework
- added links and logos to the technologies
- still need to add community of practice readme links such as https://github.com/hackforla/UI-UX/blob/main/README.md

Blockers: ne

[2021-03-15 03:15] akibrhast commented on #386
Currently I have a `on: workflow dispatch` action running that checks the files and generates a validation report. @ruben1s

- https://github.com/akibrhast/website/actions/runs/652747129
- https://github.com/akibrhast/website/blob/gh-pages/_data/project_validation_report.json

Require feedback on where you want to go next with this @cnk? @ExperimentsInHonesty ?

My Proposal
---
- Have this github

[2021-03-15 16:21] #1146 closed, assigned to Lol-Whut

[2021-03-15 20:13] drubgrubby commented on #826
@alyssabenipayo - These meeting times have been changed.  Can you please confirm that they are correct on the website?  If there is nothing else on this ticket then, I suppose, you can close it.

[2021-03-15 20:39] jbubar opened #1207 "Events: times are in the wrong order"
### Overview
AM meeting times are showing up after PM meeting times

<details>
    <summary>example image</summary>

![Screen Shot 2021-03-15 at 1 33 42 PM](https://user-images.githubusercontent.com/53061723/111217688-12fa1c80-8593-11eb-9918-7bc0634deeb9.png)

</details>

### Action Items
- [ ] fix the bug.

### Resources/Instructions
- /events/right-col-content.html
- evans pr that fixed this bef

[2021-03-15 21:21] #1168 closed, assigned to qiqicodes

[2021-03-15 21:53] drubgrubby commented on #1207
Screenshot showing times PM before AM

![screencapture-hackforla-org-events-2021-03-15-14_48_36](https://user-images.githubusercontent.com/68244054/111226140-ef889f00-859d-11eb-8da4-65664242067c.png)

[2021-03-15 22:20] #1207 closed, assigned to akibrhast

[2021-03-15 22:25] abenipa3 commented on #826
@j100892 The meeting times for [Record Clearance](https://www.hackforla.org/projects/record-clearance-project) have been updated. May you please confirm if they are correct?
![image](https://user-images.githubusercontent.com/38295612/111229115-93744980-85a2-11eb-8ddd-fd9aa27af79f.png)

[2021-03-16 03:44] ExperimentsInHonesty commented on #386
@akibrhast I like the proposal.

- Still trying to figure out how this would be used.
  - concerned that if it has one issue that has a lot of different projects in it, it will be hard to parse out.  We can't get 10 PMs to weigh in on one issue.
  - concerned about us determining that a project was not going to have something in it (like no partner) and no way to get it to stop flagging it.

Inter

[2021-03-16 04:21] akibrhast commented on #386
Currently the schema is created based on this comment  https://github.com/hackforla/website/issues/386#issuecomment-785427876 ('Current Project Must Have's') .

According to that comment, all current projects must have those keys. However it seems like if you look at the image below that key is commented out for some reason. https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/10

[2021-03-16 06:13] daniellex0 commented on #1079
@ashleylin1 Text for Communities of Practice (slide #15) https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6rM/edit#slide=id.gc5eba6fabf_0_535

[2021-03-16 15:52] akibrhast commented on #1203
@jbubar @daniellex0
This new design would have issues. Currently there is no badge length limit. As such, given the form we have this entire paragraph below can become a valid badge. Which would mess up the UI.. lol 😄 ! As shown in this figma image

<details>
<summary>Figma Image</summary>

![image](https://user-images.githubusercontent.com/32349001/111338767-937d5380-864d-11eb-906a-fef3511a13c6.p

[2021-03-16 16:36] akibrhast commented on #1196
@tarang100 The link provided in the issue is broken.

[2021-03-16 20:19] akibrhast commented on #1171
Confirming that the changes has been approved by @ExperimentsInHonesty . Removing help wanted label on it. Assigning myself to it.

[2021-03-17 01:02] shaswa commented on #1105
Contacted the PMs for BallotNav, Open community survey, 311 Data and Home Unite US about the updates needed for the tasks. Will contact them again on Friday to get an update

[2021-03-17 02:04] akibrhast opened #1212 "Timezone text needs to be consolidated into a single util.js"
### Overview
Currently the timezone text  functionality is being called in a few different places. Consolidate the function into a single util.js function.

### Action Items
- [ ] Consolidate all timezone text into a single utilities.js function

### Resources/Instructions
- project-meetings.html
- project.html
- events/right-col-content.html

[2021-03-17 02:24] danyc23 commented on #1067
Blockers: Still trying to figure out how to approach it.
Availability: three nights a week.
ETA: 03/18/2021

[2021-03-17 02:26] Lol-Whut commented on #678
Please add an update with:

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site so far."

https://gith

[2021-03-17 02:35] Lol-Whut commented on #1201
Call the new class filter-item

[2021-03-17 03:00] #1103 closed, assigned to sanchece

[2021-03-17 03:13] #1166 closed, assigned to evancchen

[2021-03-17 03:47] #1126 closed, assigned to qiqicodes

[2021-03-17 03:47] qiqicodes opened #1216 "Add margin in footer"
### Overview
We need to fix the bottom of padding in the HfLA website footer, currently the mobile view has extra bottom padding.

### Action Items
[ ]  Match bottom padding with top padding .main-footer class

Footer should look like this for mobile:
<img width="353" alt="Screen Shot 2021-03-16 at 8 44 16 PM" src="https://user-images.githubusercontent.com/68657634/111411796-6dc96c00-8698-11eb-9b3

[2021-03-17 04:01] csseu commented on #678
3/16:
_Progress:_ The community cards are marked up using Liquid so future updates can be easily done by editing .md files. Content updates were added and I think complete. A little polishing of the css layout is still needed for smooth responsiveness.
Blockers: work.
Availability: will put in a few nights this week
ETA: probably push an update for QA this Saturday

Pictures to be attached.

[2021-03-17 04:05] csseu commented on #678
<details>
<summary>desktop</summary>
<br>
<img src="https://user-images.githubusercontent.com/23020878/111413247-21cbf680-869b-11eb-89a6-b321768296b9.png">
</details>
<details>
<summary>mobile</summary>
<br>
<img src="https://user-images.githubusercontent.com/23020878/111413257-27294100-869b-11eb-9d04-9dd5c51579bd.png">
</details>
<details>
<summary>tablet</summary>
<br>
<img src="https://user-ima

[2021-03-17 17:17] tarang100 commented on #969
Project Board arranged by @tarang100 on 17th March 2021 at 22:30 IST
@shaswa please arrange the board before Sunday's meeting

[2021-03-17 17:43] shaswa commented on #838
TDM:  #1119
VRMS: Bonnie added a new PM
BallotNav: Still in priortized backlog
Write for all: Bonnie still needs to meet with Joel

[2021-03-17 17:47] shaswa commented on #1054
Please provide updates to:
- Progress
- Blockers
- Availability
- ETA
- and [use appropriate labels](https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues)

[2021-03-17 17:47] #1054 closed, assigned to shaswa, Oluwafemi-Jegede, tarang100

[2021-03-17 18:03] shaswa commented on #1041
@akibrhast, @daniellex0 This seems like an issue that contains other issues. Usually we use a feature labelled e.g. `Feature: - Events Page`
Is this issue necessary?

[2021-03-17 18:06] shaswa commented on #1041
I've added the label `Feature - Events Page` to all the referenced issue.

[2021-03-17 18:07] jbubar commented on #1130
thanks @akibrhast for your help, and for taking this over.

- [Tutorial I've been using](https://betterprogramming.pub/make-a-team-roster-with-node-react-and-google-sheets-305b9f9ebbb1)
- [working repo after following tutorial](https://github.com/jbubar/wins-backend-test)
- [Attempt to integrate with gh actions](https://github.com/jbubar/testGSheetRepo)

[2021-03-17 18:23] Oluwafemi-Jegede opened #1219 "Update Project Profile: HackforLA Website"
### Dependency
#1152 replace the 600 x 400 image for the project card.

### Overview
As a product manager of HackforLA Website I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects/website.md

### Action Items
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide

[2021-03-17 18:24] shaswa commented on #610
- [ ] We need to update the [introduction to the project](https://github.com/hackforla/website/wiki/Introduction-to-the-Project)
- [ ] Make sure there is a link to the onesheet
- [ ] Review for any additional updates

[2021-03-17 18:28] shaswa commented on #861
@drubgrubby Why is this issue in the Ice Box? Can it be moved to the prioritized backlog?

[2021-03-17 18:33] Oluwafemi-Jegede commented on #1219
600 x 400 image needs replacing:
[insert image here] #1152

Name: Oluwafemi Jegede
Role: Product Manager
Slack ID: https://hackforla.slack.com/team/U01GS3DN1R6

Technologies (please add):
- Github API
- Node

Tools (please add):
- Miro

[2021-03-17 18:38] drubgrubby commented on #861
@shaswa -> I have no idea why it's in icebox. I'm guessing there were dependencies that were removed, but it wasn't recategorized.  I will move it to prioritized backlog.

[2021-03-17 18:44] ExperimentsInHonesty commented on #1219
@akibrhast can you review the technologies list from the project profile and indicate any we have missed.  I added GitHub API and Node (is the filter built on node?)

[2021-03-17 18:56] ExperimentsInHonesty commented on #1150
Basicly you take the logo and create a white canvas that is 600x400 and then move the logo onto it reducing its size.

[2021-03-17 19:05] ExperimentsInHonesty commented on #854
Looks good!

[2021-03-17 19:05] #854 closed, assigned to drubgrubby, tarang100

[2021-03-17 20:10] ExperimentsInHonesty commented on #950
@tarang100 Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-17 20:18] akibrhast opened #1220 "hello"

[2021-03-17 20:19] #1220 closed, assigned to nobody

[2021-03-17 20:39] akibrhast opened #1221 "hello"

[2021-03-17 20:51] akibrhast opened #1222 "Beef Rendang"
Live the way you want

[2021-03-17 20:52] #1222 closed, assigned to nobody

[2021-03-17 20:52] #1221 closed, assigned to nobody

[2021-03-17 20:56] jbubar opened #1223 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1224 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1225 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1226 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1227 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1228 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1229 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1230 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:56] jbubar opened #1231 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:57] jbubar opened #1232 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:57] jbubar opened #1233 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:57] jbubar opened #1234 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:57] jbubar opened #1235 "AKib is going to make a lot of money as a developer"
And then he is going to retire and invest all of his money into biotechnology that makes high efficiency batteries

[2021-03-17 20:58] #1223 closed, assigned to nobody

[2021-03-17 20:58] #1235 closed, assigned to nobody

[2021-03-17 20:58] #1224 closed, assigned to nobody

[2021-03-17 20:58] #1225 closed, assigned to nobody

[2021-03-17 20:58] #1226 closed, assigned to nobody

[2021-03-17 20:58] #1227 closed, assigned to nobody

[2021-03-17 20:58] #1228 closed, assigned to nobody

[2021-03-17 20:58] #1229 closed, assigned to nobody

[2021-03-17 20:58] #1230 closed, assigned to nobody

[2021-03-17 20:58] #1231 closed, assigned to nobody

[2021-03-17 20:58] #1232 closed, assigned to nobody

[2021-03-17 20:58] #1234 closed, assigned to nobody

[2021-03-17 20:58] #1233 closed, assigned to nobody

[2021-03-17 21:01] drubgrubby opened #1236 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:01] drubgrubby opened #1237 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:01] drubgrubby opened #1238 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:01] drubgrubby opened #1239 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:01] drubgrubby opened #1240 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:01] jbubar opened #1241 "Sorry about all the issues"
All the issues before were tests of akib's new github issue submission form

[2021-03-17 21:01] #1241 closed, assigned to nobody

[2021-03-17 21:01] drubgrubby opened #1242 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:02] drubgrubby opened #1243 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:02] drubgrubby opened #1244 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:02] drubgrubby opened #1245 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:02] drubgrubby opened #1246 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:02] drubgrubby opened #1247 "A very difficult and scary issue that will be fun for the whole family!"
1) Submit the issue, 2) See if the issue was submitted, 3) make more coffee

[2021-03-17 21:03] #1236 closed, assigned to nobody

[2021-03-17 21:03] #1237 closed, assigned to nobody

[2021-03-17 21:03] #1238 closed, assigned to nobody

[2021-03-17 21:03] #1239 closed, assigned to nobody

[2021-03-17 21:03] #1240 closed, assigned to nobody

[2021-03-17 21:03] #1242 closed, assigned to nobody

[2021-03-17 21:03] #1243 closed, assigned to nobody

[2021-03-17 21:03] #1244 closed, assigned to nobody

[2021-03-17 21:03] #1245 closed, assigned to nobody

[2021-03-17 21:03] #1246 closed, assigned to nobody

[2021-03-17 21:03] #1247 closed, assigned to nobody

[2021-03-17 21:05] ExperimentsInHonesty commented on #1119
@VJ1285 There are other people on your team still not showing up on the leadership. What about Anam?  etc.

[2021-03-17 21:05] ExperimentsInHonesty commented on #1119
We need to add Site link to govcalc.org

[2021-03-17 21:08] akibrhast opened #1248 "Cat feeder telegram bot"
😘😎😉

[2021-03-18 01:54] VJ1285 commented on #1119
@ExperimentsInHonesty - Please add the following person to the Project Leadership page
Name: Anam Shaikh
Role: UX Research Program Designer
Github handle: anamsha
Please also add her to the contributors as well

[2021-03-18 02:10] VJ1285 commented on #1119
@ExperimentsInHonesty  - We need to add the following people to the contributors
Sanjana (Github handle: sanjana-ajit)
Jennifer (Github Handle: jchoum)

[2021-03-18 03:59] ggrrettcchhenn opened #1249 "Update Project Profile: Expunge Assist (formerly Record Clearance Project)"
### Overview
As a product manager of Expunge Assist I want my project's details to be up to date on the HackforLA website. We just changed our name and are working to rebrand across all platforms as Expunge Assist.

### Project card
https://www.hackforla.org/projects/record-clearance-project

### Action Items

- [x] Expunge Assist Team Leadership
   - [ ] Please check off everything that is ok the

[2021-03-18 05:26] daniellex0 opened #1251 "Adjust links on Join Us page"
### Overview
We need to adjust some of the links on the [Join Us page](https://www.hackforla.org/join-us)- some should open into new tabs, and one button should lead to a different URL.

### Action Items
- [x] Make each of the links in the "Volunteer with Us" card open into new tabs
- [x] Make the **"Project Volunteer"** button in the "Volunteer with Us" card lead to the [Getting Started](https://

[2021-03-18 06:21] daniellex0 opened #1252 "Fix type-o's on Join Us page"
### Overview
We need to fix some type-o's on the [Join Us page](https://www.hackforla.org/join-us) (most of them were on the original Figma as well) to make sure the page is ready to be connected to the main site

### Action Items
- [x] Advise Us card, 2nd line: change add a dash between "short term" > should be **"short-term"**
- [x] Advise Us card, 2nd line: Add **"are"** between "If you" and "d

[2021-03-18 06:34] daniellex0 opened #1253 "Increase max-width of one subheading on Join Us page"
### Overview
We need to increase the max-width of one subheading on the [Join Us page](https://www.hackforla.org/join-us) to keep it on one line instead of two, and stay consistent with the original design

### Action Items
- [ ] Adjust the max-width of the subheading **"How to help us continue to do impactful work"** on the "Help Us Keep the Lights on" card - it should have the same max-width of

[2021-03-18 06:50] daniellex0 opened #1254 "Update donation gif on Join Us page"
### Overview
We need to replace the current donation gif on the [Join Us page](https://www.hackforla.org/join-us) with the new version so that it looks cleaner / there isn't extra cut-off text on its right

### Action Items
- [ ] Replace current donation gif on [Join Us page](https://www.hackforla.org/join-us) with the new version (the new one is used on the bottom of the [About page](https://www.

[2021-03-18 06:59] daniellex0 opened #1255 "Change Join Us page URL"
### Overview
We need to change the [Join Us page](https://www.hackforla.org/join-us) URL from "join-us" to "**join**", to keep it consistent with the [About page](https://www.hackforla.org/about) URL, and the upcoming nav bar

### Action Items
- [ ] Research how to change page URL on the HfLA site
- [ ] Change the Join Us page URL from "join-us" to "join" (from https://www.hackforla.org/join-us to

[2021-03-18 07:13] daniellex0 opened #1256 "Finalize new nav bar order"
### Overview
We need to redesign the top nav bar in order to improve the site's ease of navigation, make all pages accessible from the homepage, and have a structure in which to add new pages such as the [Join](https://www.hackforla.org/join-us) and [About](https://www.hackforla.org/about) pages once they are ready

### Action Items
- [x] Redesign top-nav bar to meet above stated needs

### Resour

[2021-03-18 07:16] daniellex0 opened #1257 "Add Join page to the nav bar"
### Dependencies

These issues must be completed before the page can be added to the nav bar:

~~#1251~~   ,  ~~#1252~~  , ~~#1253~~  , ~~#1254~~ , ~~#1255~~ , #1256

### Overview
We need to add the Join page to the top nav bar of the Hack for LA website when the page is ready, so that users can access it

### Action Items
- [x] Research how to update the nav bar with a new link
- [x] Add Join pag

[2021-03-18 07:36] daniellex0 opened #1258 "Remove pink rectangle behind the mobile hamburger menu"
### Overview
We need to remove the pink rectangle that shows up behind the mobile hamburger menu when it is clicked, because it is supposed to stay white. It is unclear when or why this turned pink.

### Action Items
- [x] Determine what is causing the mobile hamburger menu background to turn pink
- [x] Remove the pink rectangle behind the mobile hamburger menu (should stay white when clicked)

##

[2021-03-18 07:45] daniellex0 commented on #1152
@shaswa @ExperimentsInHonesty just to confirm this is a UI issue, not a dev issue?

[2021-03-18 08:28] abenipa3 commented on #1085
@ExperimentsInHonesty and @daniellex0 -

Completed building the prototype. Quick Notes:
- Jekyll automatically converts MD files into HTML.
- We are able to create a navigation bar for guide pages.

Please see [site preview here](https://alyssabenipayo.github.io/hello-world/) and the [repo for this prototype](https://github.com/alyssabenipayo/hello-world).

I've also created a [document of the Mar

[2021-03-18 16:00] daniellex0 commented on #1085
@alyssabenipayo Awesome!  🎉

[2021-03-18 16:43] #1212 closed, assigned to akibrhast

[2021-03-18 17:19] #1171 closed, assigned to akibrhast, daniellex0

[2021-03-18 18:11] #678 closed, assigned to csseu, dmcneary

[2021-03-18 18:52] Oluwafemi-Jegede opened #1259 "Update issues in Ice-box with the appropriate dependency label"
### Overview

We need to tag all dependency related issues on the Ice-box of HfLA Website Project Board appropriately.

### Action Items
* Review all issue on the Ice-box section, including their dependencies
* Apply appropriate tag to issue and update issue where need be
* Collate issues with little or no clarity for next team meeting

### Resources/Instructions
[Link to the Project Board for Hac

[2021-03-18 18:54] Oluwafemi-Jegede commented on #1259
@ExperimentsInHonesty please help review the issue I just raised on the task assigned at yesterday's meeting

[2021-03-18 19:26] ExperimentsInHonesty commented on #1249
Please Change:
- Title: Expunge Assist
- Description: Expunge Assist aims to help people in California with criminal records accomplish record clearance, expungement or reduction and subsequently a second chance as a part of society.

We work with verifiable non-profits, the government and partners to build digital tools that can affect changes in the lives of these justice impacted individuals.
-

[2021-03-18 22:31] shaswa commented on #1152
@daniellex0  Thinking about it more this is a UX issue as the image itself doesn't conform to the standard resolution and ratio
https://www.hackforla.org/assets/images/projects/website.png

[2021-03-19 00:19] evancchen commented on #1125
![image](https://user-images.githubusercontent.com/62812734/111714042-05040000-880e-11eb-89bd-c4acac57f684.png)
Is this ok?

[2021-03-19 00:20] evancchen commented on #1125
![image](https://user-images.githubusercontent.com/62812734/111714151-4ac0c880-880e-11eb-99c7-108b8125e1ef.png)
This is how it used to look

[2021-03-19 02:00] ahdithebomb opened #1261 "Update the PM Section for HfLA Website Project"
### Overview
We need to remove Ahdi as PM on the Website team so that the project leadership section can be accurate on the page.

### Action Items
- [x]  Remove Ahdi as a PM on the  HfLA Team

<img width="447" alt="Screen Shot 2021-03-18 at 6 55 31 PM" src="https://user-images.githubusercontent.com/44422322/111720729-be1d0700-881b-11eb-8cb0-6e8311761d10.png">

### Resources/Instructions
[Hack for

[2021-03-19 03:29] captain-nimo commented on #1196
Please Add the following leadership info:

Name: Mahmudul Hasan Robin
Role: Product Manager (Internal)
Slack ID: UEW1MNZHT

Name: Prasadh Palanichamy
Role: Product Manager (External)
Slack ID: U0143158U80

Name: Ahdithan Uthayakumar
Role: Product Manager (Revenue and Sustainability)
Slack ID: U01FDAPULJE

[2021-03-19 03:42] akibrhast commented on #1076
@tarang100 Has this been reviewed yet? What was the decision on the review?

[2021-03-19 19:26] cnk opened #1264 "Broken link on Events page"
### Overview
We need to have the links on the events page work.  Currently its coded so that the link is on the same level as the page its coming from which is incorrect and causing the link not to work.

### Action Items
- [x] Fix the link on the events page (content comes from _data)
   - Currently the sends the user to: https://www.hackforla.org/events/getting-started
   - Needs to go to: http:

[2021-03-19 19:28] cnk opened #1265 "Home Unite Us card is using different terminology for 'wanted'"
### Overview
The home-unite-us.md file has catagories listed that are not part of the approved list which is messing up the display on the Looking for filter on the homepage.  We need to fix it, but we also need to stop it from happening on future tickets.

### History
- 2020/12/27 a new issue was opened with changes for the home unite us project
- On February 5th the issue was self assigned by th

[2021-03-19 19:34] #1255 closed, assigned to nobody

[2021-03-19 19:34] akibrhast commented on #1265
@cnk This where the validation check would have been useful 🗡️  😄

[2021-03-19 19:56] akibrhast opened #1266 "Refactor The Current Data"
### Overview
Restructuring site architecture to follow more along the lines as documented in jeklyll docs
https://jekyllrb.com/docs/

### Action Items
- [ ] Refactor the current data into data/external (including fixing the GH actions that populate it)

### Resources/Instructions
https://jekyllrb.com/docs/

[2021-03-19 20:23] akibrhast opened #1268 "Proposal to reorganize the data-only collections under a data subdirectory"
### Overview
The current state of the repo stands such that any arbitrary group of data that needs to be in a particular page or many pages is made into a collections. This does not conform well to [Jekyll documentations ](https://jekyllrb.com/docs/datafiles/) which states that

This powerful feature allows you to avoid repetition in your templates and to set site specific options without changing

[2021-03-19 21:28] cnk commented on #1268
Two questions:
1. Why does _data/internal/events.yml have the `---` used to denote front matter while the other yml files in that directory do not? Since this is data, I suspect we probably want to remove the `---` from events.yml.
2. Why did you choose not to move the communities, credits, and press collections into _data? I think the data in those directories will be easier to manage if we do ke

[2021-03-19 23:08] akibrhast opened #1273 "Building everything on a single file change"
### Overview
Build output is rebuilding a lot of things when a single file is changed. Why is this?

<details>
<summary>Build Output</summary>

[code]

</details>
<details>
<summary>File that was changed</summary>

[code]

</details>

<details>
<summary>Docker Compose file</summary>

[code]
</details>

<details>
<summary>_config.yml file</summary>

[code]

</details>

[2021-03-19 23:39] akibrhast opened #1274 "Update Jekyll"
### Overview
We need to update jekyll. We are currently using version 3.8.5 . The latest stable version is version 4.2.0.
Why do we need to update?
Because -> [Source](https://jekyllrb.com/docs/upgrading/#:~:text=We%20recommend%20you%20update%20Jekyll,update%20to%20the%20latest%20versions.)
![image](https://user-images.githubusercontent.com/32349001/111851670-83ce6b00-88ea-11eb-8067-34f1ecf07cd7.p

[2021-03-20 17:46] akibrhast opened #1276 "HELLOW THIS ISSUE WAS MADE IN SLACK"
---
name: 'Blank Issue '
about: 'Standard HackforLA issue template '
title: ''
labels: ''
assignees: ''

---

### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it

[2021-03-20 23:55] #1067 closed, assigned to danyc23

[2021-03-21 01:56] abenipa3 commented on #1085
Progress: [Completed building prototype](https://github.com/hackforla/website/issues/1085#issuecomment-801730535). Need to consult with Designers and Product.
Blocks: N/A
Availability: Open
ETA: 3/21/21

[2021-03-21 02:03] kevinreber commented on #1044
### Progress
Added all styling listed in Figma mock up.

### Blockers
There are some extra styles being applied that aren't mentioned in the Figma mock up. Consulting with @daniellex0 to see if these styles should be removed/modified.

<details>

<summary>Screenshots</summary>

Current

![image](https://user-images.githubusercontent.com/42260999/111890931-6f05dc00-89ab-11eb-944d-794fe114f74f.png)

[2021-03-21 04:49] #1248 closed, assigned to nobody

[2021-03-21 04:52] akibrhast commented on #386
## Progress
None since 5 days ago
https://github.com/hackforla/website/issues/386#issuecomment-799935288

## Blockers
Awaiting Feedback from @ExperimentsInHonesty @cnk

## Availability
Here and There

## ETA
N/A

[2021-03-21 04:55] akibrhast commented on #1130
## Progress
Work in Progress

## Blockers
Awaiting closure on
- https://github.com/hackforla/website/pull/1267
- https://github.com/hackforla/website/pull/1269

## Availability
Here and There

## ETA
Approximately not more than 2 weeks from when the above pull requests will be closed

[2021-03-21 04:57] akibrhast commented on #1201
## Progress
Almost complete. Struggling with css

## Blockers
Awaiting Closure on
- https://github.com/hackforla/website/pull/1269
- https://github.com/hackforla/website/pull/1267

## Availability
Here and There

## ETA
Approximately a week from whenever the above PR's are closed

[2021-03-21 04:59] akibrhast commented on #1266
## Progress
Done
## Blockers
N/A
## Availability
N/A
## ETA
N/A

[2021-03-21 05:01] akibrhast commented on #1268
## Progress
Done. Awaiting Merge
## Blockers

## Availability

## ETA

[2021-03-21 08:58] qiqicodes commented on #1192
Progress: Working through the html and md files.

Blockers: None.

Availability: Open on Sunday afternoon.

ETA: Desire to merge the edited alt by 3/30/21

[2021-03-21 09:05] shaswa commented on #969
Project Board arranged by @shaswa on 21st March 2021 at 5:00 EST
@Oluwafemi-Jegede  please arrange the board before Wednesday's meeting

[2021-03-21 09:41] daniellex0 commented on #1125
@evancchen Hi Evan, the yellow looks like it goes all the way to the edges of the screen, so that's good. The only issues are that the pink arrow and icon are a little too pushed up to the edges, the paragraph text is a little too crowded in the middle, and it looks like there is white area around the palm tree photo for some reason.

It should look more like it looks on the site right now, so lik

[2021-03-21 09:53] daniellex0 commented on #1203
**Progress:** The results are in, and people definitely prefer the icons over the circle badges:

<img width="500" alt="Screen Shot 2021-03-21 at 2 48 57 AM" src="https://user-images.githubusercontent.com/67400366/111900489-10168600-89f0-11eb-8c1f-6026881e7430.png">

Some of the reasons they gave:

"More consistent with overlay, cleaner look. (Circles draw too much attention and compete with the t

[2021-03-21 09:54] daniellex0 commented on #981
**Progress:** The results are in, and people definitely prefer the icons over the circle badges:

<img width="500" alt="Screen Shot 2021-03-21 at 2 48 57 AM" src="https://user-images.githubusercontent.com/67400366/111900489-10168600-89f0-11eb-8c1f-6026881e7430.png">

Some of the reasons they gave:

- "More consistent with overlay, cleaner look. (Circles draw too much attention and compete with the

[2021-03-21 09:58] daniellex0 commented on #1203
@akibrhast Sorry I missed this comment- editing this because I misunderstood your point. So the main concern is what would happen if someone wrote a really long response for the "other" option? I'm not sure how likely that is, I would think they would write that in the actual paragraph field where they explain the overview of their wins. But yes, we could remove "other" if Bonnie doesn't feel stro

[2021-03-21 15:30] daniellex0 commented on #577
Progress: Standardized page cards across the site- PR is in for review. Continued standardizing pages on site,  documentation and 'Start Here' section, working on implementing auto layout and componentizing design system on Figma, close to finished standardizing layouts and misc cards.

Next Steps: Keep adding documentation for new team members (training scheduled for 3/30), finish wiki for develo

[2021-03-21 15:33] daniellex0 commented on #1027
Progress: Continuing to work on reusable component information for this wiki- now that page cards are standardized I can move forward.

Next Steps: Finish draft and give devs for review

ETA: 3/30

[2021-03-21 15:38] daniellex0 commented on #1135
Progress: Finalizing desktop MVP designs, determining final schedule filter design, VRMS is in early steps of adjusting schedule data

Next Steps: Decide on schedule filter, finish MVP desktop design, start mobile design, and send to development

ETA: 2 weeks

[2021-03-21 15:40] akibrhast commented on #1203
@jbubar Any chance you could please edit the google forms and remove the `others` section if @ExperimentsInHonesty approves.

If bonnie does not approve of removing that section, please discuss with @daniellex0 about potential character limit values. I am going to take a stab it and say that 50 characters should be good for the upper limit

[2021-03-21 15:42] akibrhast commented on #1274
@cnk Your thoughts and opinion on this?

[2021-03-21 15:43] #1082 closed, assigned to nobody

[2021-03-21 16:17] #1266 closed, assigned to akibrhast

[2021-03-21 16:21] akibrhast opened #1278 "Fix Broken Images On About Page"
### Overview
About pages images are broken
![image](https://user-images.githubusercontent.com/32349001/111912426-da00f280-8a3f-11eb-8a83-d5a6d1e99fcf.png)

### Action Items
- [x] Fix broken image link

### Resources/Instructions
- `pages/about.html`

[2021-03-21 16:21] jbubar commented on #1276
No way! How'd you do this?

[2021-03-21 16:22] akibrhast commented on #1276
@jbubar
Type `/github` on the hfla site github notification channel to see commands

[2021-03-21 16:24] trtincher commented on #752
PR was merged. Needs approval and review before adding link to the menu

[2021-03-21 16:28] Lol-Whut commented on #1164
The week got away with me, so I didn't get to work on this yet, but I'll either have it done by the Tuesday meeting or will let someone know if I have an issue (I don't anticipate any issues at this time).

[2021-03-21 16:38] tarang100 commented on #1196
@akibrhast I have updated the link and it is working now. Please refer to the comment by @captain-nimo for updates. Thanks!

[2021-03-21 16:48] tarang100 commented on #950
1. Progress - Have not been able to devote time to this issue due to sudden increase in workload at office. Ended up prioritizing to work on more time sensitive issues. Will prioritize this issue now
2. Blockers - None
3. Availability - Flexible
4. ETA - By next week's team meeting

[2021-03-21 17:15] akibrhast commented on #1041
After discussion on 3/21/2021 . This issue is now being closed because it has been broken down into smaller issues with the label `Feature - Events Page`.

[2021-03-21 17:15] #1041 closed, assigned to nobody

[2021-03-21 17:20] #1278 closed, assigned to akibrhast

[2021-03-21 17:25] cnk commented on #1274
We are currently on the highest version supported by GitHub pages - 3.9.0.

https://pages.github.com/versions/

To find what version we are using, exec into the container and run `gem list jekyll` We see `jekyll (3.9.0, 3.8.5)`. The way Ruby gems works, it will load the latest version, so we are running 3.9.0.

When GH updates its supported versions, we may have to move too, but not before.

[2021-03-21 17:27] akibrhast commented on #1274
Understood. Thanks! I am going to close this

[2021-03-21 17:28] #1274 closed, assigned to nobody

[2021-03-21 17:32] trtincher commented on #1155
Working on it. Was short on time last week.
ETA : Next Sunday, 03/28/21

[2021-03-21 17:41] christina245 commented on #632
I've changed the screencap and added a card for the Open Community Survey

[2021-03-21 17:55] qiqicodes commented on #707
Danielle and Candice to discuss

[2021-03-21 17:57] qiqicodes commented on #1076
We will review at the next meeting on Wednesday, March 24.

[2021-03-21 18:04] abenipa3 commented on #1085
Feedback: Update the nav-bar so that it follows the users rather than freezes on the page.

References:
[About Us](https://www.hackforla.org/about/#accomplishments
)
![image](https://user-images.githubusercontent.com/38295612/111915781-34488600-8a35-11eb-82bd-c1180d770973.png)

[2021-03-21 18:06] jbubar commented on #162
This is a master issue. and all of the things that need to be done are in other issues
#981
#1166
#1163
#1155
#1130
#1104
#1070
#1061

[2021-03-21 18:06] #162 closed, assigned to jbubar

[2021-03-21 18:13] akibrhast commented on #981
Bonnie approved character limit. And add a section to be like, is there anything you would like this list to have that we missed?

[2021-03-21 18:17] qiqicodes commented on #1203
@jbubar will open a new issue with the following actions.

Desired Actions:
spreadsheet: add wording to the form that communicates that "other" wins that's left off
spreadsheet: when they check the form, if didn't get asked, put it in the bottom of the review
spreadsheet: limit the characters on input

[2021-03-21 18:36] akibrhast opened #1284 "Events Page Load Time Slow"
### Overview
The events in the events page takes more than half a second to load on every single page refresh

### Action Items
- Cache api data to local storage, and ensure that dont call api on every page refresh unless needed

### Resources/Instructions
- `pages\events\right-col-content.html`
- Store the filtered and sorted object as a string in local storage. Also store the date/and time of th

[2021-03-21 18:45] jbubar opened #1285 "wins: reworking 'other' win option"
### dependency
- [ ]  #1061

### Overview
On the wins form, there is an option for someone to add your own win ('other').

### Action Items
- [ ] Replace the question and place holder text from 'other' to 'Did we miss a win?', 'Add your own'
skdjfnsdfn

[2021-03-21 19:14] jbubar opened #1286 "Start a backend team"
### Overview
There are many things that have been placed on the back burner, and ways that we can improve our site functionality.

*** I created this issue so that we do not forget to go over it in the dev meeting... (like I forgot to go over it in the dev meeting today)

### Action Items
- [x] let the team know about the backend meeting and what it is for
- [x] come up with a time that works for

[2021-03-21 19:38] #1268 closed, assigned to akibrhast

[2021-03-21 19:47] ashleylin1 opened #1287 "Creating an image repository through Google Drive"
### Overview
We need to create a Google Drive repository of images so that we will have all the PR images in the same place.

### Action Items
- [ ] Bonnie will create a new Gmail account to use for the free storage.
- [ ] Sharing the account information with the HackforLA website team.

### Resources/Instructions
- Photos will be used for the onboarding slide deck https://docs.google.com/presenta

[2021-03-21 20:24] akibrhast commented on #1284
@danyc23  @trtincher @kevinreber Feel free to pick up/self assign on this issue if anyone of you is interested. First come first served.

[2021-03-21 20:32] daniellex0 opened #1289 "Conduct post-onboarding interviews with new volunteers"
### Overview
We need to carry out the next round of post-onboarding interviews with new HfLA volunteers in order to continue collecting data about their experience with onboarding and the HfLA website.

### Action Items
- [x] Edit potential [interview questions](https://docs.google.com/document/d/1OCzo9joL61fGjRNSHhOv8z22rkRVnfvQhq5k1EdlaAQ/edit)
- [x] @daniellex0 determine logistics of attending

[2021-03-21 21:14] qiqicodes opened #1290 "Create How-to Submit Pull Request (PR) in CONTRIBUTING.md"
### Overview
Create How-to Submit Pull Request (PR) in CONTRIBUTING.md.

### Action Items
- [ ] Put instruction in GitHub Wiki Page
- [ ] Link current issues
- [ ] Create new PR labels
- [ ] List all the necessary steps to guide volunteers to understand the proper PR workflow

### Reference Resources
https://github.com/codeforamerica/brigade-playbook/issues/119

[2021-03-22 17:13] akibrhast opened #1292 "test"

[2021-03-22 17:13] akibrhast opened #1293 "test"

[2021-03-22 17:14] #1292 closed, assigned to nobody

[2021-03-22 17:14] #1293 closed, assigned to nobody

[2021-03-22 17:16] akibrhast opened #1294 "test"
# Title ```yaml
some:```

[2021-03-22 17:16] #1294 closed, assigned to nobody

[2021-03-22 17:18] akibrhast opened #1295 "test"
# Title ```yaml
some:```

[2021-03-22 17:18] #1295 closed, assigned to nobody

[2021-03-22 17:33] akibrhast opened #1296 "test"
# Title ```yaml
some:```

[2021-03-22 17:34] #1296 closed, assigned to nobody

[2021-03-22 17:47] akibrhast opened #1297 "test"
# Title
[code]

[2021-03-22 17:47] akibrhast opened #1298 "test"
# Title
[code]

[2021-03-22 17:47] #1297 closed, assigned to nobody

[2021-03-22 17:47] #1298 closed, assigned to nobody

[2021-03-22 18:30] #1021 closed, assigned to erikaBell

[2021-03-22 18:54] akibrhast opened #1299 "test"
# Title
[code]

[2021-03-22 18:54] #1299 closed, assigned to nobody

[2021-03-22 18:55] akibrhast opened #1300 "Project Profile Card Review and Update"
identification: '273746448'
title: Civic Opportunity Project
description: >-
  The mission of the Civic Opportunity project is to develop and curate the
  journey of all volunteers that we interact with to reach their fullest
  potential. Relationship bridge-building and workforce readiness development of
  volunteers is at the core of the Hack for LA brand. We have found that this
  effort enable

[2021-03-22 18:57] #1300 closed, assigned to nobody

[2021-03-22 18:57] akibrhast opened #1301 "Project Profile Card Review and Update"
identification: '84370933'
title: ArtWatcher
description: >-
  There are thousands of works of public art scattered around the city.  There
  should be one place to see where they are and how they’re doing. We’re
  building it.
image: /assets/images/projects/adopt-civic-art.jpg
alt: Adopt civic arts.
links:
  - name: GitHub
    url: https://github.com/hackforla/adopt-civic-art
location:
  - Downto

[2021-03-22 18:58] #1301 closed, assigned to nobody

[2021-03-22 18:59] akibrhast opened #1302 "Project Profile Card Review and Update"
[code]

[2021-03-22 19:00] #1302 closed, assigned to nobody

[2021-03-22 19:01] akibrhast opened #1303 "Project Profile Card Review and Update"
[code]

[2021-03-22 19:02] #1303 closed, assigned to nobody

[2021-03-22 19:04] akibrhast opened #1304 "Project Profile Card Review and Update"
[code]

[2021-03-22 19:21] #1304 closed, assigned to nobody

[2021-03-22 20:54] #1261 closed, assigned to erikaBell

[2021-03-22 20:56] #1110 closed, assigned to kevinreber

[2021-03-23 01:56] evancchen commented on #1063
![image](https://user-images.githubusercontent.com/62812734/112081001-2df30080-8b40-11eb-9a95-553c62ce90cf.png)
This is figma

![image](https://user-images.githubusercontent.com/62812734/112081031-3e0ae000-8b40-11eb-8c93-c97237114965.png)
This is from the hackforla site

I can't see the difference

[2021-03-23 08:40] daniellex0 commented on #1063
Website version-

<img width="739" alt="Screen Shot 2021-03-23 at 1 26 20 AM" src="https://user-images.githubusercontent.com/67400366/112117203-54349280-8b78-11eb-9a52-5615cfc34007.png">

Figma version-

<img width="775" alt="Screen Shot 2021-03-23 at 1 28 03 AM" src="https://user-images.githubusercontent.com/67400366/112117219-5860b000-8b78-11eb-9dca-c9bb4b04aef0.png">

The logo images are not a

[2021-03-23 16:43] akibrhast opened #1311 "Broken Asset Links"
### Overview
The images are still broken on the [sitemap ](https://www.hackforla.org/sitemap/)page (all images) and the [credits ](https://www.hackforla.org/credits/)page (header image). These aren’t yet connected to the site so it’s not a huge rush, but they will soon through the footer

### Action Items
 - [ ] Fix Broken Image Links

### Resources/Instructions
- `pages/sitemap`
- `pages/credits`

[2021-03-23 17:11] #1045 closed, assigned to erikaBell

[2021-03-23 17:46] daniellex0 opened #1313 "Add badges to Wins page cards"
### Overview
Continuation of #1203

We need to add badges and explanatory text bubbles to the Wins page cards so that the "wins" users select in the survey can all show up on their wins cards (before they click "see more")

### Action Items
- [ ] Review the [Figma file for the Wins page badges](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0) (in **blue recta

[2021-03-23 17:56] #1311 closed, assigned to akibrhast

[2021-03-23 21:15] erikaBell commented on #1201
@daniellex0 the "(1)" "(2)" and "(5)" placement in the figma design, is the decision to "add" numbers together, under certain cases?

i.e., my question comes up when imagining a scenario where an individual comes to the page, goes to the "Looking" dropdown menu, and decides to checkbox both "Development (12)" and "Content (4)".

"Looking" would then become:  "Looking (16)"

I'm assuming "Looking (

[2021-03-23 21:40] akibrhast commented on #1201
@erikaBell Its the number of items selected.

Looking would then become : "Looking (2)"

[2021-03-23 21:41] erikaBell commented on #1201
@akibrhast Ah, thanks!

[2021-03-23 21:57] ExperimentsInHonesty opened #1315 "Create project card: Access the Data"
### Overview

We need to make a project card so that this Project's details show up on the HfLA website

### Action Items

- [ ] Development
   - [ ] Get details from Resources below
   - [ ] Create access-the-data.md file using details
   - [ ] Add images to appropriate assets folder

### Resources/Instructions
- [Details for Project Card](https://github.com/hackforla/access-the-data/issues/3)
-

[2021-03-23 22:39] kevinreber commented on #1254
<details>

<summary>Before</summary>

![image](https://user-images.githubusercontent.com/42260999/111741275-7611da80-8843-11eb-9731-6b64715f8632.png)

</details>

<details>

<summary>After</summary>

![image](https://user-images.githubusercontent.com/42260999/111741315-8aee6e00-8843-11eb-8a1a-9e1408cdab52.png)

</details>

[2021-03-23 22:39] #1254 closed, assigned to kevinreber

[2021-03-24 02:33] #1155 closed, assigned to trtincher

[2021-03-24 02:34] kevinreber commented on #1044
Progress
Received feedback from design, will have time to add updates later this week.

Blockers
Studying

Availability
evenings

ETA
End of week

[2021-03-24 02:34] ExperimentsInHonesty commented on #958
@daniellex0
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-24 02:49] averdin2 opened #1319 "Make Filter Dropdown Text Clickable"
### Overview
For accessibility reasons, we want to make sure we can click on the dropdown text to activate the checkbox. We also want to ensure that the cursor pointer appears when hovering over the text.

### Action Items
- [x] Make sure dropdown text is clickable.
- [ ] Make sure pointer shows up when hovering over dropdown checkbox text.

### Resources/Instructions
![image](https://user-images.

[2021-03-24 03:03] #752 closed, assigned to trtincher

[2021-03-24 03:04] averdin2 commented on #752
Other issues have been created to solve the rest of what needs to be completed with this page.

[2021-03-24 03:31] #1046 closed, assigned to sanchece

[2021-03-24 03:45] akibrhast opened #1321 "Change redirects to <a> tags"
### Overview
Currently when we click on some buttons which are referenced via the files listed below. It seems they were using a redirection layout.... If I may ask.. why are we not just doing `<a href='link' target="_blank">text</a>` for those files, like we are doing for other external links? There are a few other places where we are redirecting people but not using the redirection layout. So I

[2021-03-24 08:15] daniellex0 commented on #958
@ExperimentsInHonesty There is a pull request above ^. Just waiting on reviews/approval/merge

[2021-03-24 08:46] daniellex0 opened #1322 "Make adjustments to the project description pages"
### Overview
Adjust the [project description pages](https://www.hackforla.org/projects/100-automations) based on user testing feedback, following the [new design on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=7891%3A0)

### Action Items
- [ ] Review updated [Project Description page design on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for

[2021-03-24 09:10] daniellex0 opened #1323 "Edit footer to include Sitemap, Credits, Privacy Policy"
### Dependency
~Updating the sitemap #1733~
~Privacy policy getting created https://github.com/hackforla/product-management/issues/26~

### Overview
We need to adjust the footer so that we can include links to the [sitemap](https://www.hackforla.org/sitemap/), [credits](https://www.hackforla.org/credits/), and privacy policy pages

This issue replaces #797

### Action Items
- [x] Review [Figma fil

[2021-03-24 09:22] daniellex0 opened #1324 "Make the Communities of Practice page body background color beige/pink"
### Overview
We need to make the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) body background beige/pink so that it will be consistent with the rest of the website and design system

### Action Items
- [ ] Turn the body background color of the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) from gray to beige/pink (leave the he

[2021-03-24 15:11] shaswa commented on #1196
Please use the project image from [this issue](https://github.com/hackforla/311-data/issues/987) for the update

[2021-03-24 15:12] shaswa commented on #1105
311 Data image is ready, added update to #1196

[2021-03-24 17:27] tarang100 commented on #969
Project Board arranged by @tarang100 on 24th March 2021 at 22:55 IST
@Oluwafemi-Jegede  please arrange the board before Sunday's meeting

[2021-03-24 17:33] daniellex0 opened #1326 "Standardize Communities of Practice page header"
### Overview
We need to standardize the [Communities of Practice](https://www.hackforla.org/communities-of-practice) page header to make it more consistent with other HfLA site pages and make it closer to the original Figma design

### Action Items
- [ ] Reference the header [design on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25627) - make adjustm

[2021-03-24 21:15] #1164 closed, assigned to Lol-Whut

[2021-03-24 22:28] ExperimentsInHonesty commented on #618
@daniellex0 you added the help wanted tag.  Can you specify the help this issue requires?

[2021-03-24 22:29] ExperimentsInHonesty commented on #765
@daniellex0 please annotate the updates from our last meeting

[2021-03-24 22:33] ExperimentsInHonesty commented on #1076
@qiqicodes
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-24 22:34] ExperimentsInHonesty commented on #386
Met with @akibrhast - he will add notes to this doc.

[2021-03-24 23:18] ExperimentsInHonesty commented on #1265
https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/home-unite-us.md
Has the following:
[code]

I think this in part because we have not made a guide to how to put these items in the project.md file. I looked at the template and it does not have a full list: https://github.com/hackforla/website/wiki/Template-of-a-project.md-file
[code]

[2021-03-24 23:54] mdothman commented on #947
# Overview

The developer must be aware of using a terminal/console. Windows user will have to install git bash.

## "Terminalogy"

The terminal is a window that contains only text, and is used for executing text based commands. The other names are:

* Console
* Shell
* Command line
* Command prompt

If you are a windows user then you have to install git bash, but if you are a Mac user you only ne

[2021-03-25 00:00] ExperimentsInHonesty commented on #1265
Hi @thatguyish , @jbubar , @akibrhast @cnk I have provided [some detail](https://github.com/hackforla/website/issues/1265#issue-836294536) to the issue that @cnk opened.  This might make a good discussion for the team meeting on Sunday.

[2021-03-26 01:28] ExperimentsInHonesty commented on #209
Guess what team.  Nowhere in this document does it mention that only one issue should be assigned to a person at a time.  Let's discuss.

[2021-03-26 04:11] ExperimentsInHonesty commented on #1321
@akibrhast We are using the redirect to be able to have urls that we can give people during onboard or in meetup.  E.G.

https://hackforla.org/slack
https://hackforla.org/conduct

<details>
<summary>Screenshot of the Meetup which has some of the redirect links in it</summary>

![Screen Shot 2021-03-25 at 9 06 59 PM](https://user-images.githubusercontent.com/37763229/112575701-0f923c80-8dae-11eb-84

[2021-03-26 04:20] akibrhast commented on #1321
closing this issue after my conversation with @ExperimentsInHonesty .
Because the redirections are used such that it gives one the ability to write url redirects like the below example

- https://www.hackforla.org/slack/  which then redirects to https://hackforla-slack.herokuapp.com/

[2021-03-26 04:20] #1321 closed, assigned to nobody

[2021-03-26 16:35] daniellex0 opened #1329 "Update Toolkit page's mobile filter"
Dependency
~#2171~

### Overview
We need to redesign the [Toolkit page](https://www.hackforla.org/toolkit/) mobile filter banner, because the filter categories' font is too small when all filters are displayed in one row in mobile

### Action Items

Design

- [x] Review the [Toolkit page](https://www.hackforla.org/toolkit/) filter in mobile (using Inspect Element)
- [x] View the [Homepage](https:/

[2021-03-26 17:49] daniellex0 commented on #1329
@shinhope will figure out improvements to desktop version as well

[2021-03-26 18:55] averdin2 commented on #1077
Here are screenshots of the changes I made to the card:
![image](https://user-images.githubusercontent.com/10714770/112679906-f6c76c80-8e29-11eb-9227-82ae27e6d1e1.png)
![image](https://user-images.githubusercontent.com/10714770/112679993-1068b400-8e2a-11eb-90cd-f5813e7568a8.png)
Here is a screenshot of the change on my local site:
![image](https://user-images.githubusercontent.com/10714770/1126878

[2021-03-26 20:15] averdin2 commented on #1077
Here is a screenshot of the change on my local site:
![image](https://user-images.githubusercontent.com/10714770/112687809-419ab180-8e35-11eb-9aec-9247f2289896.png)

[2021-03-27 06:24] #1276 closed, assigned to nobody

[2021-03-27 06:26] daniellex0 opened #1330 "Adjust Communities of Practice page subheading font size (desktop)"
### Overview
We need to decrease the size of the subheading font on the [Communities of Practice](https://www.hackforla.org/communities-of-practice) page to keep it consistent with other pages

### Action Items
- [ ] Adjust the page card subheadings to 24px (instead of 28px) in the [Communities of Practice page](https://www.hackforla.org/communities-of-practice)

### Resources/Instructions
[Commun

[2021-03-27 21:54] daniellex0 opened #1331 "Add and edit copy and leader cards in Communities of Practice page"
### Overview
We need to add and edit some copy and leader cards on the Community of Practice page to make sure the information is all up-to-date before it goes live

### Action Items
- [ ] Review the [Figma design of the Communities of Practice page ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25627)(final design in pink rectangle) and follow the instructi

[2021-03-27 22:48] daniellex0 opened #1332 "Adjust 2FA Guide Styling"
### Overview
We need to adjust the 2FA guide styling to make it more legible / user-friendly. This is a temporary fix while the Guide pages are going through an overhaul.

### Action Items
- [x] Verify whether changing the styling on the [2FA guide](https://www.hackforla.org/guide-pages/2FA) will affect other guides' styling (for ex., the [survey reporting guide](https://www.hackforla.org/guide-pa

[2021-03-27 22:57] daniellex0 opened #1333 "Adjust the styling of the Communities of Practice page"
### Overview
We need to make the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) body background beige/pink and decrease the size of the subheading font so that it will be consistent with the rest of the website and design system.

### Action Items
- [ ] View the [Figma file of the Communities of Practice page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hac

[2021-03-27 22:57] #1330 closed, assigned to nobody

[2021-03-27 22:57] #1324 closed, assigned to nobody

[2021-03-28 00:52] daniellex0 opened #1335 "Adjust styling of Getting Started page"
### Overview
We need to adjust the styling of the Getting Started page, especially in mobile, so that it is consistent with other pages on the site and user-friendly

### Action Items
- [ ] Make sure all of these changes below will apply to both versions of the Getting Started page - getting-started.html and getting-started-with-video.html ('with video' version will be brought back as soon as we h

[2021-03-28 01:21] daniellex0 opened #1336 "Adjust styling of Wins page"
### Overview
We need to adjust the styling of the Wins page to make it more consistent with the rest of the site

### Action Items
- [x] In mobile only: make the heading ('let's celebrate together!') 32px (instead of 38px) - use rem units
- [x] In mobile only: make the "Team(s)" and "Role(s)" sections the same font size- 15px - use rem units (currently one is 12px and one is 16px)
   - [x] Try to

[2021-03-28 02:26] averdin2 commented on #1102
So, I made the necessary changes in the metro-ontime.md file, but the changes don't seem to be reaching the project card on the home page when I run on my local. They change the project page just fine though. I have added some screenshots to show what I mean:

- Project Card on HFLA website shows no changes:
![image](https://user-images.githubusercontent.com/10714770/112740419-b7844300-8f31-11eb-9

[2021-03-28 02:36] csseu commented on #1102
I think this happens because the Jekyll server sees that you updated the .md file, so it reprocesses the project page, but it fails to reprocess the home page that references the .md files in _projects. I don't know if there's a flag you can use to force it, but a quick fix is to stop the server, delete the _site folder, and then restart the server.

ETA: see this https://jekyllrb.com/docs/configu

[2021-03-28 02:49] ruqpyL2 commented on #707
Update 3/27
Progress: Reorg, smoothing, and adding more content (img compression, ELI5, more practice pointers). Maybe halfway through.
Blockers: Danielle and I both have a ton of job-work.
Availability: Enough to get it done
ETA: I think I'll have a draft by Friday next week, then it'll be Danielle's term

[2021-03-28 05:09] csseu opened #1337 "Update Project image alt texts"
### Overview

Alt texts are great for accessibility when they're properly used. I think we need to update the alt texts on the project cards - most likely to `alt=""`

### Background
I highly recommend that all developers and designers check out the "Web Accessibility in Mind" image alt text guide that Qiqi provided for the image guide:

https://webaim.org/techniques/alttext/

Based on the guide,

[2021-03-28 05:15] csseu commented on #1192
Ooh, I just saw this issue after making https://github.com/hackforla/website/issues/1337 - should I delete that one?

[2021-03-28 08:08] abenipa3 commented on #1085
Progress: Able to create a sticky nav-bar. Need to clean up before it's ready.

<details><summary>PREVIEW</summary>

![image](https://user-images.githubusercontent.com/38295612/112746073-87549880-8f61-11eb-8f57-b555dba960ae.png)

</details>

Blocks: Got unexpectedly busy this past week so I was not able to finish the prototype as soon as expected.

Availability: Open

ETA: 3/30/21

[2021-03-28 08:37] daniellex0 commented on #981
An issue to develop this is currently being worked on: #1313

[2021-03-28 08:45] daniellex0 commented on #577
Progress: PR is still in for review for standardized page cards (will hopefully be approved this week). Continued standardizing pages on site, documentation and 'Start Here' section, working on implementing auto layout and componentizing design system on Figma, close to finished standardizing layouts and misc cards. Meeting with Oskar on Monday to go over componentizing on Figma, and with new UX t

[2021-03-28 08:59] daniellex0 commented on #1152
Is there the original version of this image somewhere so that I can send the higher resolution version, OR is there a preference for a different image we can use for the hackforla.org card?

[2021-03-28 09:11] daniellex0 commented on #618
@ExperimentsInHonesty Sorry, that tag was added last week and you responded at last Sunday's meeting. Removing it now.

[2021-03-28 09:13] daniellex0 commented on #618
Progress: Added survey to bottom of CoP readme

Next Steps: Figuring out how to add link to Wins in Join page

ETA: Next meeting (4/4)

[2021-03-28 09:20] daniellex0 commented on #1151
New image file with correct specs:

![new-schools-today](https://user-images.githubusercontent.com/67400366/112747736-1666ae00-8f6c-11eb-877e-f92cfc927faf.jpg)

[2021-03-28 15:15] trtincher commented on #861
Status: Have started it still looking into the issue.
Eta: 4/3/21
Availability: Evenings, weekends mostly.

[2021-03-28 16:04] Lol-Whut commented on #1202
Progress: Getting acquainted with the issue
Blockers: Nothing so far, just timing
Availability: Evenings
ETA: Middle/end of the week
Pictures: N/A

[2021-03-28 16:10] erikaBell commented on #1201
Progress update ~

Have added filter tags, & numbers per category in parentheses.
Currently working on getting the URL params to be updated via removed filter tags & "clear all".

<img width="1440" alt="add-filter-tags-issue-1201" src="https://user-images.githubusercontent.com/67438372/112758875-539b6200-8fa5-11eb-9e3f-9fd5d9cad9d3.png">

[2021-03-28 16:29] daniellex0 commented on #1135
Progress: Finalizing desktop MVP designs, ran some designs by users, determined final schedule filter design, VRMS is in early steps of adjusting schedule data

Next Steps: Finish MVP desktop design, start mobile design, and send to development

ETA: 2 weeks

[2021-03-28 16:34] daniellex0 commented on #765
Progress: Mockup for Open Roles / Volunteer Opportunities page is close to finished- progress is tracked in #1135 . New onboarding slideshow is now being utilized. UX team attended onboarding last week and will again this week to track progress and continue interviewing volunteers.

Next Steps: Finish Volunteer Opportunities page and send to development. Start work on homepage.

[2021-03-28 16:36] daniellex0 commented on #1027
Progress: Working on Design System documentation this week, and planning to finish this developer-facing documentation this week.

Next Steps: Finish draft and give devs for review

ETA: 3/30

[2021-03-28 17:00] tarang100 commented on #799
**Update**
Working on reviewing the issues labelled as 'Feature : Wiki' and identifying that are duplicates or can be clubbed together for streamlining the issue resolution process. Should be able to finish this task by the next team meeting

[2021-03-28 17:03] akibrhast commented on #981
@daniellex0 can we close this ? Since there is an issue to develop this is currently being worked on?

[2021-03-28 17:26] akibrhast opened #1338 "Developer's need a guide path on how to handle good first issue."
### Issue Incomplete
Needs + size of issue,  then this issue can be moved to prioritized backlog.

### Overview
Create a wiki page that guides new developer on how to handle a new good first issue. Good First Issue are all usually updates/edits to the projects collection. Ensure that the instruction specifies which template to follow for a project being edited.

### Action Items
- [ ] Create a wik

[2021-03-28 17:34] qiqicodes commented on #1192
we can keep issue #1337, if I finish this issue before #1337 is fixed, I will close #1337.

[2021-03-28 17:36] daniellex0 commented on #1152
UX team will look for new image for the hackforla.org project card and project page

[2021-03-29 02:14] daniellex0 commented on #981
@akibrhast sure, that's fine by me 👍

[2021-03-29 02:43] #981 closed, assigned to daniellex0

[2021-03-29 19:01] #1077 closed, assigned to averdin2

[2021-03-29 21:11] sena-ji commented on #1258
In order to reproduce bug consistently, the outer edges of the burger icon must be pressed instead of directly on the burger icon. There is a background that is spilling on top of this icon shown in the photo. When I unchecked that, it worked and removed the color.
![image](https://user-images.githubusercontent.com/42919318/112900604-95590500-9098-11eb-9b54-07b5e220327c.png)

The color is coming f

[2021-03-29 23:36] shinhope commented on #1329
mobile version ideas:
![image](https://user-images.githubusercontent.com/79497980/112912638-db1fc880-90ac-11eb-97f5-fa1c200e7340.png)

[2021-03-29 23:36] shinhope commented on #1329
new desktop versions:
![image (1)](https://user-images.githubusercontent.com/79497980/112912665-ea067b00-90ac-11eb-80c3-12914792da06.png)
![image (2)](https://user-images.githubusercontent.com/79497980/112912669-ed016b80-90ac-11eb-8801-a300f6ba187e.png)

[2021-03-30 22:58] averdin2 commented on #1102
Thank you @ruqpyL2, those fixes helped. I was able to remove the partner link.
Here is a screenshot of the fixes:
![image](https://user-images.githubusercontent.com/10714770/113066962-51393380-9170-11eb-964d-10169721b150.png)

I also noticed that there seems to be a typo in the project description calling the project "Trailstats" and not "Railstats" so I made fixes there as well.
Here is a screens

[2021-03-30 23:35] averdin2 commented on #1264
The getting started link shown in the screenshot no longer redirects to the wrong link, but instead redirects to the correct link (http://hackforla.org/getting-started).
![image](https://user-images.githubusercontent.com/10714770/113069634-a166c480-9175-11eb-870e-97ce84fd9445.png)
After clicking the link:
![image](https://user-images.githubusercontent.com/10714770/113069714-d1ae6300-9175-11eb-9b91

[2021-03-31 02:31] #1264 closed, assigned to averdin2

[2021-03-31 02:52] #958 closed, assigned to daniellex0

[2021-03-31 04:27] #1102 closed, assigned to averdin2

[2021-03-31 04:57] abenipa3 commented on #1085
@ExperimentsInHonesty @daniellex0

I have updated the prototype with a sticky nav as seen below.

![Guide Page Prototype](https://user-images.githubusercontent.com/38295612/113092272-89f20080-91a2-11eb-8aa6-03862865a6f1.gif)

The  [Live Preview](https://alyssabenipayo.github.io/hello-world/github-issues) and [Repo](https://github.com/alyssabenipayo/hello-world) are available as well. Please feel f

[2021-03-31 04:58] #603 closed, assigned to abenipa3

[2021-03-31 17:11] tarang100 commented on #209
**Update**

_Progress_ - I have identified the ideal section in the draft guide for mentioning the practice of assigning only one issue to a person at a time. Sharing link to the exact location in the document [here](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit?disco=AAAAIK0F30Q), request @ExperimentsInHonesty feedback on this
_Blockers_ - None
_Availability

[2021-03-31 17:44] tarang100 opened #1341 "Project Card Update - BallotNav"
### Overview
We need to replace the current project card image with the image provided in the comment below

### Action Items

- [x] Replace the current image in the project file with the new image
- [x] Let BallotNav know that their issue can be closed: https://github.com/hackforla/ballotnav/issues/389

### Resources/Instructions
Current text in the project file: /assets/images/projects/ballot-na

[2021-03-31 17:44] ExperimentsInHonesty commented on #1341
![ballotnav](https://user-images.githubusercontent.com/37763229/113187783-1ab1f600-920e-11eb-9f4e-4f2b967c06eb.jpg)

[2021-03-31 17:50] tarang100 commented on #1105
**Update**
we created an issue for the hackforla.org team to do the updates

Ballotnav #1341
Open community survey #1342
Home Unite Us https://github.com/hackforla/HomeUniteUs/issues/275 - we have informed them but are yet to hear back from them
New Schools Today #1151
HfLA Website UI team will work on Railstats, New Schools Today, and the HfLA Website issues

[2021-03-31 17:52] tarang100 opened #1342 "Project Card Update - Open Community Survey"
### Overview

We need to replace the current project card image

### Action Items

- [ ]  Replace the current image in the project file with the new image

### Resources/Instructions

_Folder with the image_: /assets/images/projects/open-community-survey.jpg
_Where to find the project file_: _projects/open-community-survey.md

[2021-03-31 18:25] tarang100 commented on #1105
@Oluwafemi-Jegede
Check to see if the following has been done. Check these items on Saturday, 3rd April
- [ ] https://github.com/hackforla/HomeUniteUs/issues/275 - Check to see if they have provided the image in this issue; if they have then make a new issue on our repository for updating, similar to issue #1341
- [x] https://github.com/hackforla/website/issues/1150 - Check to see if they have fix

[2021-03-31 18:35] akibrhast commented on #1219
@ExperimentsInHonesty Which filter are you asking about ? the one on our homepage?
It's built with javascript.
But the hackforla website team is indeed using **node** as well as **github actions** and **google sheets api**

[2021-03-31 18:42] tarang100 opened #1343 "Discussion: HfLA website/other projects Team Meeting Roster"
### Overview
We need to update the HfLA Website team roster in order to identify the currently active volunteers
The website-write team currently has too many inactive members, or members who are no longer a part of hackforla.

Active Member: Someone who has made a contribution to the website repository or wiki within the last 3 months
Contribution: Code Contribution, Comment Contribution, Wiki Ed

[2021-03-31 19:09] tarang100 commented on #1085
@alyssabenipayo let's discuss during Sunday's meeting. The nav seems to be a little off from the thing that it is supposed to be showing. Also font showing as Times.....all of this could be because of our browser choice. Lets review during the meeting

[2021-03-31 19:19] tarang100 commented on #209
- The responsibility for turning this into the guide format has been handed over to the PM Communities of Practice https://github.com/hackforla/knowledgebase-content/issues/16

[2021-03-31 19:22] tarang100 commented on #1259
@Oluwafemi-Jegede please provide an update

Update:
Blockers:
Availability:
ETA:

[2021-03-31 19:24] tarang100 commented on #1286
The Product team would like to be involved in this meeting because we have a number of ideas around what the site could do that are backend related

[2021-03-31 19:35] akibrhast commented on #1085
@tarang100 If I am not mistaken the spirit and the point of this issue was to research the possibility of  the feasibility on creating a page from markdown as well as a sticky navigation.

I believe the video demonstrated by @alyssabenipayo clearly demonstrate that result of this research demonstrates that
- It is feasible to have formatted guide pages with markdown with sticky navigation

Since t

[2021-03-31 19:42] abenipa3 commented on #1085
@tarang100, @akibrhast is correct. We were researching to see if it's feasible. However, I noticed the bug as well and meant to clean it up before Sunday's meeting.

I'm speaking with Danielle at the moment to see if she has any other feedback on this issue before we close it. Also clarifying to see if we should incorporate a task for the design team to design the page, too.

We've also created a

[2021-03-31 21:16] ExperimentsInHonesty opened #1345 "Update Project Profile: Undebate"
### Overview
As a product manager of Undebate I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects_undebate.md

### Action Items

- [x] remove
   - [x] looking for
   - [x] Location
- [x] Change
   - [x] Status: completed

[2021-03-31 21:22] #1063 closed, assigned to evancchen

[2021-03-31 22:29] ExperimentsInHonesty opened #1346 "We need to consolidate our filter list for technologies"
### Overview
We need to have there only be one of any given technology showing in the filter at a given time, so that people can find all the projects having to do with any one technology at time.

### Action Items
- [x] Look at this list (https://github.com/hackforla/engineering/issues/7#issuecomment-806297796)
- [x] Find any project that is listing the technologies on the list in a way other tha

[2021-04-01 01:46] shinhope commented on #1150
![RailstatsLA image 600x400](https://user-images.githubusercontent.com/79497980/113232047-44d8d780-9251-11eb-91d8-8676ed04b134.png)

[2021-04-01 01:47] shinhope commented on #1150
![RailstatsLA image 1](https://user-images.githubusercontent.com/79497980/113232179-7ce01a80-9251-11eb-9fc3-1d34ed866f6d.png)

[2021-04-01 01:50] shinhope commented on #1150
![RailstatsLA image2](https://user-images.githubusercontent.com/79497980/113232435-f7a93580-9251-11eb-881d-05e5458a7bb4.png)

[2021-04-01 02:47] akibrhast commented on #1192
Closing #1337. Because that is a duplicate.

[2021-04-01 02:48] #1337 closed, assigned to nobody

[2021-04-01 19:55] qiqicodes commented on #1192
Added and edited alt text for all informative and decorative images, except the following:
1. Write for All Project Card
2. Building Survey Guide Page
3. Sitemap
4. About
        - Sustainability SDG icons
        - Accomplishment Wins Card
        - Donation Gif

[2021-04-01 20:04] qiqicodes opened #1347 "Accessibility Audit"
### Dependency
- [x] https://github.com/hackforla/website/issues/3859
- [ ] https://github.com/hackforla/website/issues/4300
   - [ ] and whatever issues are contained in the above epic are closed
- [ ] check the board, and if there doesn't seem to be any accessibility epics that should be done first, this can be moved to new issue approval.
  - [Accessibility issues on the board](https://github.c

[2021-04-02 17:33] #1258 closed, assigned to sena-ji

[2021-04-02 23:29] averdin2 commented on #1331
You can see my changes for the Engineering card and it's placement in the screenshot below.

I also wanted to note that the Leadership card in the Engineering card is centered rather than left aligned in the Figma design document. Not sure if we want it to be exactly like the Figma document or if it is fine as is?

![image](https://user-images.githubusercontent.com/10714770/113461079-fd2c8a00-93cf

[2021-04-02 23:38] averdin2 commented on #1331
You can see my changes adding leadership for the Project/Product Management card in the screenshot below.

I wanted to note here that the description in the Figma design document for the Project Management card seems to be inconsistent with wording for the other descriptions. What I mean is that the other descriptions start with, "This group ___", but the Figma design document says something diffe

[2021-04-03 05:00] akibrhast opened #1348 "Project Contributors Are Not Updating"
### Overview
The project contributors for each project is not displaying the up to date information.

### Action Items
- [x] Figure out why the project contributions are not showing the up to date project information.
- [x] Fix it

### Resources/Instructions
- github action `github-data.yml`
- script [ `get-project-data.js`](https://github.com/hackforla/website/blob/gh-pages/github-actions/github-

[2021-04-03 18:26] kellydinneen commented on #1048
@tarang100 Can I do this? Would be my first HfLA contribution

[2021-04-03 23:31] daniellex0 commented on #1331
Good catch, can the leadership card please be left-aligned? Thanks!

Thank you for noticing all of these details- again great catch.. I think it's okay that the description is a little different because it is a little too repetitive that they all start exactly the same (we might change the copy in the others in the near future because they are all a little too repetitive). But this one does start

[2021-04-03 23:38] kevinreber commented on #1044
### Progress
Added styling to match [Join Page](https://www.hackforla.org/join) styling.
Waiting for feedback from design.

<details>

<summary>Desktop</summary>

Before
<img src="https://user-images.githubusercontent.com/42260999/113494144-72fd2800-949a-11eb-9867-f6b4112755fd.png" width="700px" />

After
<img src="https://user-images.githubusercontent.com/42260999/113493956-fe75b980-9498-11eb-97a

[2021-04-04 09:21] abenipa3 commented on #1085
Progress: Updated prototype. See notes below. Need to consult with Designers and Product.
Blocks: N/A
Availability: Open
ETA: 4/6/21

<details> <summary>Notes Regarding Prototype:</summary>

This Prototype is to show that it is feasible to have a formatted guide page with sticky navigation.

WIPS:

- Need to find out how to add new sections into the navigation bar without needing to hard code. (t'

[2021-04-04 09:36] daniellex0 commented on #577
Progress: PR for standardizing page cards has been approved, and the changes are merged. Drafted documentation for new designers using the design system. Oskar componentized many of the reusable components on Figma. I added most of these components connected to the design system to all other pages on Figma. Continued standardizing pages on site. Working on implementing auto layout and finishing co

[2021-04-04 09:41] daniellex0 commented on #707
Update 4/4
Progress: @ruqpyL2 added a lot of missing documentation about compressing images, scaling, responsiveness, image format conversion, and general UX writing edits. (Thank you Candace!). We met and reviewed/finalized the edits together, and Candace then shaved off some extra text/polished overall guide. Next steps: verify some last points and submit.
Blockers: Busy
Availability: Enough to

[2021-04-04 09:44] daniellex0 commented on #1135
Progress: Finalizing desktop MVP designs. Editing role description page header. Missed chance to run a/b testing with new volunteers at onboarding last week- will try this week.

Next Steps: Finish MVP desktop design, start mobile design, and send to development when we have the go-ahead from VRMS, etc.

ETA: 1 week

[2021-04-04 15:36] Lol-Whut commented on #1202
Progress:
- removed "margin-bottom: 0" specification from h1 tag to add space below the header as per Figma
- changed h1 font-weight to bold as per Figma
- edited text to update wording
- added second p tag to create spacing between pieces of text
- added a span tag around word "remote" with class "underlined"; gave this class a border-bottom property with styling to match underline on Figma. (Not

[2021-04-04 16:20] daniellex0 commented on #1044
Thanks for adding the screenshots! Sent notes on Slack about making the image max-width 240px and fitting the heading on one line

[2021-04-04 16:47] jbubar commented on #1104
progress: did some styling, made some design decisions
blockers: some design decisions
ETA: by tuesday I will have another draft pr
availability: limited, in the evenings.

[2021-04-04 16:49] #1203 closed, assigned to jbubar

[2021-04-04 16:50] jbubar commented on #1104
https://github.com/hackforla/website/issues/1203#issuecomment-803635491

[2021-04-04 16:51] erikaBell commented on #1201
Progress Update: just need to work out a bug with one of the dropdown menus.

[2021-04-04 16:53] danyc23 commented on #1313
Blockers:  Haven't find any blockers yet.
Availability: Monday and Thursday.
ETA:  End of the week.

[2021-04-04 16:54] Oluwafemi-Jegede commented on #969
Project Board arranged by @Oluwafemi-Jegede  on 4th April 2021 at 5:54 GMT+1
@tarang100  please arrange the board before Wednesday's meeting

[2021-04-04 17:06] ExperimentsInHonesty commented on #1265
@ExperimentsInHonesty or another PM to make an issue for fixing the current broken details

[2021-04-04 17:15] ExperimentsInHonesty commented on #1286
@tarang100 @Oluwafemi-Jegede can either of you make Thursday at 7:30-8:30pm meeting with backend

[2021-04-04 17:33] jbubar opened #1351 "Sitemap broken"
### Overview
The sitemap is not showing icons in desktop view and the bottom page cards are off-centered

### Action Items
- [ ] fix sitemap bottom page cards positioning
- [ ] make the icons display on desktop
### Resources/Instructions
pages/sitemap.html
https://www.hackforla.org/sitemap/

[2021-04-04 17:46] ExperimentsInHonesty commented on #1192
1. mention rainbow because its a commonly referred to inclusivity symbol
2. skip
3. Making a markdown file that contains every page in an outline format with the status of the page in parenthesis after each name, and that would make it accessible.  Also the live pages (that are connected to the menu could be linked.
4. X
    1. SDG Icons (go to the UN and grab their alt text)
    2. Describe sampl

[2021-04-04 17:48] ExperimentsInHonesty commented on #1347
### Overview
There are more than 100 accessibility testing tools.  Figuring out which ones to use can be a black hole.  For guidance we recommend this article:  [Which accessibility testing tool should you use?](https://medium.com/pulsar/which-accessibility-testing-tool-should-you-use-e5990e6ef0a)

### Summary of Article
The author recommends using the tools in the following order fixing as you go

[2021-04-04 18:15] ashleylin1 commented on #1079
Blockers:
- need Bonnie's edited slide deck that she used for onboarding
- need folder of images to use on Google Drive

Availability: Friday, Saturday, Sunday
ETA: 1 week

[2021-04-04 18:37] ExperimentsInHonesty commented on #707
@ruqpyL2 @daniellex0 Please put the guide in this format: https://docs.google.com/document/d/1-8gmeC-wnfM8C8fVvmTP1BLA2WfNjKH_XJrHB1OAV6Q/edit#heading=h.8kycsl8g2y4x

[2021-04-04 18:39] ExperimentsInHonesty commented on #707
@daniellex0 and @ExperimentsInHonesty will review during weekly meeting

[2021-04-04 18:51] Lol-Whut commented on #1202
Will comment out non-remote locations in the .md files so they will be preserved but not show up

[2021-04-04 19:18] jbubar opened #1352 "button default"
### Overview
In the site guide, there is a btn class for all buttons. Would it be better to make this a default on all <button> html elemnts?
This issue is to figure that out.

### Action Items
- [ ] look into <button> html elements
- [ ] look into where .btn is used
- [ ] come up with a proposal and share it with UI/UX and the dev team.

### Resources/Instructions
[code]

[2021-04-04 20:06] erikaBell opened #1353 "Technologies dropdown bug"
### Overview
Checkmarks disappear during refresh, only on technologies dropdown—specifically after first two list items.

### Action Items

- [ ] make sure checkmarks don't disappear on refresh

### Resources/Instructions
page: current-projects.html
<details>
<summary>Technologies Checkbox Issues</summary>

<img width="939" alt="Screen Shot 2021-04-04 at 1 03 55 PM" src="https://user-images.github

[2021-04-04 20:14] qiqicodes commented on #1079
**Screenshots of Slack User Flow for Getting Started Info:**

1. Slack Welcome Page:
![HackforLA Slack - Welcome Page](https://user-images.githubusercontent.com/68657634/113520363-6c78ba00-9547-11eb-889f-e9e34a524f59.png)

2. Slack GreetBot:
![HackforLA Slack GreetBot Page Info Available for Two Weeks](https://user-images.githubusercontent.com/68657634/113520356-6387e880-9547-11eb-9765-6510d0a6472

[2021-04-04 20:56] #1348 closed, assigned to akibrhast

[2021-04-04 23:24] akibrhast commented on #826
@drubgrubby @alyssabenipayo What is the next step here? Can we close this? Is there a PR?

[2021-04-04 23:28] abenipa3 commented on #826
@akibrhast No PR. The meetings are correct based on what @j100892 provided [earlier](https://github.com/hackforla/website/issues/826#issuecomment-749906319), but because the update was back in December - I wanted to confirm with him again to see if the meeting times are still correct so that we can close the issue.

@drubgrubby  Should we proceed to close the issue or wait for confirmation?

[2021-04-04 23:48] drubgrubby commented on #826
@alyssabenipayo go ahead and close this. If the meeting times change again they can just open a new ticket at VRMS.

[2021-04-04 23:49] #826 closed, assigned to nobody

[2021-04-05 14:07] trtincher commented on #861
Unfortunately I am going to have to step back for a while from working on issues. Life and work have become a bit much to keep up with the extra work.

[2021-04-05 15:21] ashleylin1 commented on #1079
Progress: for the "What is HackforLA" slide, I...
- reviewed both slides with Bonnie and Danielle
- got feedback and changed the background so the logo fits within view
- reuploaded the logo and colors for the platform slide and its subsequent slides
- added icons to the communities of practice slide
- changed text-align and logo for all project slides
- changed color of dividing lines for all pro

[2021-04-05 16:48] akibrhast commented on #1329
@daniellex0 What is the news on this, where do you want to go with this?

[2021-04-05 16:57] #1139 closed, assigned to csseu

[2021-04-05 17:51] akibrhast commented on #1256
@ExperimentsInHonesty What is the plan in regards to the new navbar order?

[2021-04-05 18:20] daniellex0 commented on #1329
@akibrhast We are discussing, will add update here when it's finalized!

[2021-04-05 18:53] #1251 closed, assigned to akibrhast

[2021-04-05 19:02] #1252 closed, assigned to akibrhast

[2021-04-05 19:06] #1253 closed, assigned to akibrhast

[2021-04-05 19:49] daniellex0 commented on #1253
Hey @akibrhast I don't think this is fixed?

<img width="350" alt="Screen Shot 2021-04-05 at 12 48 42 PM" src="https://user-images.githubusercontent.com/67400366/113619027-4ddcf680-960d-11eb-86d0-b04c18a15f31.png">

[2021-04-05 20:49] #1351 closed, assigned to nobody

[2021-04-05 21:34] akibrhast commented on #1253
@daniellex0
<details>
<summary>Image From Live Site</summary>

![image](https://user-images.githubusercontent.com/32349001/113629952-213cd500-9635-11eb-9d39-7e5de1b70107.png)

</details>

[2021-04-05 22:24] daniellex0 commented on #1253
@akibrhast Sorry you're right, looks good now- I'm not sure why I was seeing the old version

[2021-04-05 22:57] averdin2 commented on #1331
@daniellex0 Ok, so I have a few questions about the design and implementation of the website.
 - First, here is the change I made to the design that has a single leader card aligned to the left:
<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/10714770/113633571-0c0a7b00-9622-11eb-972c-ffd858535520.png)

</details>

- My main issue is that I don't know wh

[2021-04-06 03:29] erikaBell commented on #1353
Issues are caused by "/" and filter-items containing more than two words (i.e. "React Testing Library", "Microsoft SQL Server") — potentially space, " ", related?

### I have made the following changes to filter-items under "Technologies"

- React Testing Library **==>** React Testing

- Microsoft SQL Server **==>** Microsoft SQL

- Azure App Service **==>** Azure App
-  Google Docs (Doc, Sheet, S

[2021-04-06 03:50] erikaBell commented on #1353
@ExperimentsInHonesty I just saw [issue #1346](https://github.com/hackforla/website/issues/1346) and am wondering if this one, related to filter-item naming _limitations_, should be figured out first?

Read comment above.

[2021-04-06 04:40] ggrrettcchhenn commented on #1249
**Leadership Update:**

Member Name: Andan Eddy
Role: Product Manager
Slack Member ID: U01LE6TAXQR
Github Handle: Andan-Eddy
(please keep Myranda & Gretchen as PMs)

**Title:** Expunge Assist

**Description:** Expunge Assist aims to help people in California with criminal records accomplish record clearance, expungement or reduction and subsequently a second chance as a part of society.

We work w

[2021-04-06 05:53] csseu commented on #1331
Hey Alex, I'm glad that you picked this one up. I was looking at the .md files yesterday (while making a template on the wiki) - would you please delete the recruiting-message from the cards that don't have "status: Seeking"? I realized that I left some in by mistake. Although they aren't shown on the website, they're probably confusing.

Also, if you think it makes sense, you might change the Liq

[2021-04-06 14:14] Oluwafemi-Jegede commented on #1286
@ExperimentsInHonesty I am assuming the time above is EST, that would be 00:30am my time. I will be available but I will not be able to stay more than the stipulated time which is 1hour.

[2021-04-06 15:09] akibrhast commented on #1353
@erikaBell Currently this is the consolidated list of technologies https://github.com/hackforla/engineering/issues/7 .
Based of that, I am assuming that we are not going to be changing any of those names. If @ExperimentsInHonesty Could please confirm this... ?

---
The reason the above error is occuring is due to improper and unexpected handling/parsing of the URL parameter both during setting the

[2021-04-06 15:21] akibrhast commented on #1256
Based on the following [Figma ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=6187%3A40167)Design Specification and conversations with @ExperimentsInHonesty and @daniellex0

The new navbar order is going to be as follows

![image](https://user-images.githubusercontent.com/32349001/113735056-de790c80-96c9-11eb-8fae-63a82f9879db.png)

- [ ] Remove `Press` and replace

[2021-04-06 16:42] erikaBell commented on #1353
@akibrhast curious as to what the reason for choosing `+` over `%20` is?
And assuming we keep the names as they are, which is preferred for `/` ==> `%2F` or `_` or ..

[2021-04-06 16:51] akibrhast commented on #1353
@erikaBell https://github.com/hackforla/website/issues/1030

Also in regards to your second question use `_` because it's more readable

[2021-04-06 17:33] ggrrettcchhenn commented on #1249
**Image:**
![expunge-assist-hero](https://user-images.githubusercontent.com/27507664/113753923-89d29300-96c3-11eb-8f9a-8bbd33d37376.png)

[2021-04-06 18:10] daniellex0 commented on #1202
@Lol-Whut That works, thanks Lara!

[2021-04-06 20:06] averdin2 commented on #1331
I made updates to recruiting messages and their display behavior as per @ruqpyL2's comment.

[2021-04-07 00:44] daniellex0 commented on #1331
@averdin2 Sorry about the delay Alex- yes agreed, for both sizes you mention above I think it's fine for the cards to be center-aligned and stacked!

[2021-04-07 04:37] #1201 closed, assigned to erikaBell

[2021-04-07 17:05] Oluwafemi-Jegede commented on #1152
Hi @daniellex0

Please provide update

Progress
Blockers
Availability
ETA

[2021-04-07 17:06] Oluwafemi-Jegede commented on #1105
Update requested on hackforla/HomeUniteUs#275 and #1152

[2021-04-07 17:37] ExperimentsInHonesty commented on #1152
@daniellex0 Please assign this to one of the designers to take care of.  This should be a quick fix.

[2021-04-07 17:42] ExperimentsInHonesty commented on #1105
Wrote to abby via slack today
[code]

[2021-04-07 17:52] ExperimentsInHonesty commented on #602
Will not be worked on here.  Have created a new issue on Product Management repo

[2021-04-07 17:52] #602 closed, assigned to nobody

[2021-04-07 17:52] ExperimentsInHonesty commented on #178
Will not be worked on here.  Have created a new issue on Product Management repo

[2021-04-07 17:52] #178 closed, assigned to nobody

[2021-04-07 17:53] ExperimentsInHonesty commented on #594
Will not be worked on here.  Have created a new issue on Product Management repo

[2021-04-07 17:53] #594 closed, assigned to alexandrastubbs

[2021-04-07 17:56] ExperimentsInHonesty commented on #969
@tarang100 did you organize the board for todays meeting?

[2021-04-07 18:22] ExperimentsInHonesty commented on #1202
@Lol-Whut @daniellex0 @akibrhast @jbubar There is potentially an effect if you comment out the locations, which is that on the [events page](https://www.hackforla.org/events/) the projects on the lower part of the page are either hard coded or possibly being delivered  via that that location information.  So the commenting out the currently unused locations solution is not one I would recommend.

[2021-04-07 18:26] ExperimentsInHonesty commented on #1256
@daniellex0 I had said to Akib that when we were originally discussing making it Join, it sounded a little membership like, whereas Join Us sounded more friendly and open.  I am fine with About being a single word menu item however I am not sure about the Join Us and would like to have it tested to find out what people think would be behind that link.  Or if the whole UX team thinks I am making th

[2021-04-07 18:39] erikaBell commented on #1202
Just reviewed Lara's pull request, the changes she made does not break the events page 'our locations'.

<details>
<summary>Events Pg</summary>

![image](https://user-images.githubusercontent.com/67438372/113916925-6b3ccc80-9795-11eb-80c9-5c12e48630fd.png)

</details>

[2021-04-07 18:41] ExperimentsInHonesty commented on #950
This page will help you to change your browsers time zone.  We can talk about this next time we talk: https://www.makeuseof.com/tag/trick-websites-changing-user-agent-chrome/

[2021-04-08 02:36] jbubar opened #1374 "Write documentations for how to review PR's"
### Overview
We need some documentation about how to review pull requests on this project.

### Action Items
- [x] create a new wiki page about how to review pull requests
- [x] include the information in the resources/instructions section below
- [x] include screen shots and anything necessary to make things excruciatingly clear
- [x] clarify what squash and merge is and tell them NOT to press th

[2021-04-08 02:39] jbubar commented on #1374
@akibrhast, and @qiqicodes could you review this issue?

[2021-04-08 02:45] jbubar opened #1375 "Add 'how to install git' in the CONTIBUTING.md file"
### Overview
We need a sentence or two on "how to install git" in the beginning of the CONTRIBUTING.md readme.
This could be a link to the wikipage or a few sentences.

### Action Items
- [ ] Add a few sentences on how to install git if the contributor has not yet installed it
- [ ] include necessary links

### Resources/Instructions
[git installation documentation](https://github.com/git-guides/i

[2021-04-08 02:46] jbubar commented on #1375
@RobertaFricker would you be interested in taking on this issue?

[2021-04-08 02:59] jbubar opened #1376 "Wins: fix 'share your wins' button in mobile"
### Overview
Major wins button does not resize on mobile.

### Action Items
- [ ] make it look like the [figma]()

### Resources/Instructions
- there is a class [wins-btn](https://github.com/hackforla/website/blob/8800d16cca91c55e641c78c96d4b52c38dfc21e8/_sass/components/_wins-page.scss#L69) in the sass that might have the right css styling for both mobile and tablet but it is not used in the html

[2021-04-08 03:55] #1048 closed, assigned to RobertaFricker

[2021-04-08 03:55] #1049 closed, assigned to RobertaFricker

[2021-04-08 16:23] akibrhast commented on #1374
LGTM.

[2021-04-08 16:29] #1202 closed, assigned to Lol-Whut

[2021-04-08 16:42] qiqicodes commented on #1374
Reviewed and edited, LGTM

[2021-04-08 16:58] daniellex0 commented on #1150
@shinhope Can you please add a new image with the railstats logo vertical (straight up) and white space on both sides of it to fill the space? (still with the dimensions above). Please add the new version here. Thanks you!

[2021-04-08 17:57] shinhope commented on #1150
![Railstats vertical](https://user-images.githubusercontent.com/79497980/114074375-27ab9680-9859-11eb-8a1c-ac0583050573.png)

[2021-04-08 19:59] daniellex0 commented on #1150
Looks good, thanks @shinhope ! Moving this to development

[2021-04-08 20:28] akibrhast opened #1378 "Consolidate Raw Colors To Standardized Color Variables"
### Overview
 Currently there are quite a few places in the code base where raw colors are being used. These needs to be consolidated into variable names as much as possible such that we can have a dictionary of HFLA acceptable color variable names. An effort to do this has already been started by the design team as part of the HFLA [Design Systems](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0M

[2021-04-08 21:11] daniellex0 opened #1379 "Redesign the "What is Hack for LA" slideshow"
### Overview
We need to redesign and rework the "What is Hack for LA" slide deck to be more visually organized and appealing.

### Action Items
- [x] Discuss potential changes with Bonnie
- [x] make redesign changes to the slide deck

### Resources/Instructions
["What is Hack for LA" slide deck - edited version](https://docs.google.com/presentation/d/11tuskl2WL37Nz_xzFEa-5cHNFheAsSmm7XwTeC4BXzU/ed

[2021-04-08 21:13] daniellex0 commented on #1379
@ashleylin1 update from 4/4:

[2021-04-08 21:14] daniellex0 commented on #1379
@ashleylin1 update from 4/5:

got feedback and changed the background so the logo fits within view
reuploaded the logo and colors for the platform slide and its subsequent slides
added icons to the communities of practice slide
changed text-align and logo for all project slides
changed color of dividing lines for all project slides to be lighter

need feedback on Olivia's "What is HackforLA" slide

[2021-04-08 21:18] daniellex0 commented on #1079
Sorry, I shouldn't have deleted that entire comment- just trying to separate this issue from [a new different issue for the "What is hack for LA" slide deck](https://github.com/hackforla/website/issues/1379)-

This was posted here previously by @ashleylin1 :

[2021-04-08 21:26] daniellex0 opened #1380 "Create self-onboarding slideshow"
### Dependency:
- [x] Revisit in January after table team is launched and perfects the automated GitHub Google integration
- [x] After the CfA Transition is complete.
- [ ] After homepage relaunch

### Overview
We need to create a detailed self-onboarding slideshow, to replace the broken self-onboarding video on Getting Started Page. Should be a visually pleasing and organized slideshow with Hack

[2021-04-08 21:45] daniellex0 opened #1381 "Finalize onboarding slideshow content"
### Overview
We need to finalize the information on the onboarding slideshow based on @ExperimentsInHonesty's experience and volunteer feedback so that it can be as useful as possible

### Action Items
- [ ] Add notes on this issue about changes that need to be made to the slide deck
- [ ] Add changes to the slide deck
- [ ] Implement any necessary styling edits for visual consistency

### Resourc

[2021-04-08 21:51] daniellex0 commented on #1381
- Reorganize agenda stops throughout presentation to ensure they are consistent with the slides
- Add a final "Next Steps" slide
   -  **All:** Join your Community of Practice channel on Slack and attend their next meeting
      - can include [Qiqi's screenshot](https://github.com/hackforla/website/issues/1079#issuecomment-813093156) of slack notification with all channels
   - **Devs:** join `#en

[2021-04-09 03:26] RobertaFricker commented on #1375
@jbubar As we agreed, we'll meet tomorrow to discuss the details of adding this to the CONTRIBUTING.md area.
The following changes below address "Add a few sentences on how to install git if the contributor has not yet installed it" and
"Include necessary links."
I think the CONTRIBUTING.md should have a link that links to the instructions below.
Please advise the next step, thanks.

### How to In

[2021-04-09 03:58] RobertaFricker opened #1382 "Update CONTRIBUTING.md by removing all references to Docker Toolbox - deprecated"
### Overview
Docker Toolbox has been deprecated and needs to be removed from the documentation.

### Action Items
- [ ] Remove Docker Toolbox from CONTRIBUTING.md

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md

[2021-04-09 16:02] averdin2 commented on #1331
@akibrhast  I am working on the communities of practice page and was merging some changes and ran into some conflicts. I had no problem resolving the conflicts, but changes made in this pull request: https://github.com/hackforla/website/pull/1371, is causing some issues that I wanted to run by you. The previous build of the website before this change has the communities of practice cards ordered a

[2021-04-09 16:32] daniellex0 opened #1383 "Verify Required Attendees of HfLA Projects' Team Meetings"
### Overview
We need to determine which team members are required to attend which HfLA project team meetings, so that we can create a more accurate project team meetings filter for the upcoming Volunteer Opportunities page.

### Action Items
- [ ] Review [team meetings spreadsheet](https://docs.google.com/spreadsheets/d/1xG8yQUeR17mkeClJE5gotpWFoP8z6_rE53fqAWBMpOg/edit#gid=0) (based on Events page

[2021-04-09 17:00] #1331 closed, assigned to averdin2

[2021-04-09 18:43] daniellex0 commented on #1383
1. Progress
2. Blocks
3. Availability
4. ETA

[2021-04-09 20:08] erikaBell commented on #1336
@daniellex0 , I've done the above styling. My photo below shows that a new problem arrives, with the "...see more" text. Would you like me to try to adjust that? I was looking at it, and it's set up in a way that makes it a bit tricky to work with, but since the rest of the styles were pretty easy, I don't mind trying to mess with it for a bit.

Also feel free to lmk if any of the styles I've curr

[2021-04-09 21:28] #1333 closed, assigned to evancchen

[2021-04-10 02:44] daniellex0 commented on #1336
Ohhh yikes, thanks for pointing this out @erikaBell ..

@jbubar has a lot of experience with dealing with the "See more" on this page so he might have some ideas..? Josh I know you have spent more time than you would like on "see more" so sorry to do this to you lol, but I thought you might have a quick fix in mind... if not, yeah Erika this might require some noodling around with CSS..

[2021-04-10 02:47] erikaBell commented on #1336
@daniellex0 Oops sorry, should have stated I ended up working on it cus the challenge seemed fun, lol. So I ended up getting it together. I'll just double check my work and then make a pull request (-:

[2021-04-10 02:52] daniellex0 commented on #1336
Ah ok great! Never mind @jbubar you are saved lol

[2021-04-10 04:53] #1125 closed, assigned to erikaBell

[2021-04-10 14:51] #1044 closed, assigned to kevinreber

[2021-04-10 15:38] akibrhast commented on #1286
@jbubar I believe the meeting time has been consolidated to 7:30pm to 8:30pm on thursdays. What is the next step here ?

[2021-04-10 16:18] erikaBell opened #1388 "Fix Home Page Styling"
### Overview
Some new styling on the main page seems to have skewed the layout. Need to find and remove, or change, these stylings. Issues appear on the header, filter bar and footer. Insure that changes don't create issues on other pages. May need to create new, page specific, classes.

<details>
<summary>Adjust Header Spacing: 1st photo = how it is now, 2nd photo = how it should be</summary>

<i

[2021-04-10 17:20] erikaBell commented on #1388
Fixes additionally helped other pages containing similar "Footer" content issues: projects page, press page, connect page.

[2021-04-10 21:08] RobertaFricker opened #1390 "CONTRIBUTING.md needs info about Command Line Shells and Text Editors"
### Overview
CONTRIBUTING.md file needs to include information regarding the requirement to use both a Command Line Shell and a Text Editor app.  The Text Editor app is required to create text files and perform Git merge and commit commands.

### Action Items
Add the following text under "Step 6: Work on an issue using git"

**Command Line Shell and Text Editor**

In order to work on an issue, you

[2021-04-10 21:17] abenipa3 commented on #1085
Progress: Fixed bugs prototype. Will consult with Design and Product during tomorrow's meeting.
Blocks: N/A
Availability: Open
ETA: 4/11/21

- [Live Preview](https://alyssabenipayo.github.io/hello-world/github-issues)
- [Repo](https://github.com/alyssabenipayo/hello-world)
- [Documentation of Research](https://docs.google.com/document/d/11y8YOuldNX-6ziKnDAmvIeDbKjGsdzqMad8DVu-8ewk/edit#heading=h.j

[2021-04-11 00:46] #1388 closed, assigned to erikaBell

[2021-04-11 02:41] #1376 closed, assigned to nobody

[2021-04-11 04:32] shinhope commented on #1383
1. Progress: will start messaging PMs
2. Blocks: haven't been on slack since Friday when I was assigned issue
3. Availability: Sunday and Monday afternoon
4. ETA: by next Friday

[2021-04-11 05:12] daniellex0 opened #1392 "Update the Join page"
### Overview
We need to update the Join page so that it will be ready to go live

### Action Items
- [x] In the "Advise Us" page card, remove step 3 and replace step 2 with the text below (under Instructions)
- [x] Remove the links from all of the role titles in the "Volunteer with Us" page card (they are linked to filter results that are not up-to-date)

### Resources/Instructions
[Join page](htt

[2021-04-11 05:21] daniellex0 commented on #1152
New image to add to the "HackforLA.org Website" project card:

![hacknight-women](https://user-images.githubusercontent.com/67400366/114293373-6eacae00-9a4a-11eb-8d9a-380107083b20.png)

Ready for development

[2021-04-11 05:41] daniellex0 opened #1393 "Evenly align the Events page schedule times and days"
### Overview
We need to edit the Events page schedule to match the Figma file and to look more visually aligned

### Action Items
- [ ] View and follow the instructions/notes for editing the Events page schedule in the [Events page figma file, in a purple rectangle](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=62%3A94)

### Resources/Instructions
[Events Page](http

[2021-04-11 05:54] daniellex0 commented on #577
Progress: Finished documentation for new designers using the design system. Joined dev meeting to discuss standardizing CSS. Continued standardizing pages on site. Working on implementing auto layout and finishing componentizing design system on Figma.

Next Steps: Meeting this week with Candace and Qiqi to go over dev-facing documentation of design system. Finish wiki for developing new pages wit

[2021-04-11 05:55] daniellex0 commented on #1135
Progress: Ran a/b testing with volunteers at onboarding. Finalized desktop MVP designs. Started mobile designs.

Next Steps: Get approval for MVP desktop design, finish mobile design, and send to development when we have the go-ahead from VRMS, etc.

ETA: 1 week

[2021-04-11 16:18] Arjayellis opened #1395 "Update Project Profile: [Civic Opportunity]"
### Dependency
Review and updates from Project PM

### Overview
As a product manager of Civic Opportunity, I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects/civic-opportunity.md

### Action Items
- [ ] Civic Opportunity Team Leadership
   - [ ] Please check off everything that is ok the way that it i

[2021-04-11 16:21] Oluwafemi-Jegede commented on #969
Project Board arranged by @Oluwafemi-Jegede on 11th April 2021 at 5:18 GMT+1
@tarang100 please arrange the board before Wednesday's meeting

Apologies @ExperimentsInHonesty I will not be able to attend the meeting, because I have an Emergency

[2021-04-11 16:24] Arjayellis commented on #1395
Name: Randall Ellis
Role: Product Manager
Slack Member ID: U018TL37XJ6
GitHub Handle: Arjayellis

[2021-04-11 16:24] alexilee commented on #1395
Name: Alex Lee
Role: Product Manager
Slack Member ID: U01KDATDLLQ
GitHub: alexilee

[2021-04-11 16:26] pawan92 commented on #1395
Name: Pawan Murthy
Role: Product Manager
Slack Member ID: U01FMQTN8MU
GitHub: pawan92

[2021-04-11 16:28] Oluwafemi-Jegede commented on #1105
Update

* Image provided for #1152 - awaiting development

* Awaiting feedback on  hackforla/HomeUniteUs#275

[2021-04-11 16:38] erikaBell commented on #1284
In process of researching, understanding current code and testing methods.

[2021-04-11 17:17] akibrhast commented on #1257
## Progress
Done. Awaiting Review by @daniellex0
## Blockers

## Availability

## ETA

[2021-04-11 17:18] akibrhast commented on #223
## Progress
Done. Awaiting PR review
## Blockers

## Availability

## ETA

[2021-04-11 17:19] akibrhast commented on #1130
## Progress
WIP
## Blockers
Needs permission to google cloud console from @ExperimentsInHonesty
## Availability

## ETA

[2021-04-11 17:24] qiqicodes commented on #861
Progress: Trying to replicate the bug in the current code base. The ratio of shrinking image is not as drastic as image shown in the issue.

Blockers: None.

Availability: Open on Tuesday and Friday evening.

ETA: 4/18/21

[2021-04-11 17:42] abenipa3 commented on #1085
Feedback from 4/11/21's meeting:

- Consult with our Design Team to discuss:
   - Color for Navigation Bar Links/Design.
   - Mobile Design.

[2021-04-11 19:29] akibrhast commented on #1115
There was somework done as an attempt to address this issue in the PR linked. For anyone picking this up, you should use the details on the linked PR as resources.

[2021-04-12 00:59] GLRJr commented on #1345
I made the changes to the undebated.md file, however while those changes are seen on the project page they are not being reflected on the project cards displayed on the homepage. contact me on slack to let me know how to change those, I could not find it.

[2021-04-12 03:02] daniellex0 commented on #1079
Notes from meeting with Bonnie:
- [x] Flip agenda items # 2 and # 3
- [x] Add a new slide under  "What technologies do we use?" titled "Resources for Requests and Concerns" that includes:
   - [x] # new-joiner-channel : introduce yourself, ask for help (how to join Community of Practice, etc.)
   - [x] # admin : reach out to leadership (types of issues: Code of Conduct, Github access and slack @ c

[2021-04-12 17:12] averdin2 opened #1398 "UI/UX Design for Checkboxes/Inputs"
### Overview
How should the design of checkboxes and other inputs be throughout the site? For example: Should there be a pointer on checkbox text, or just on the checkbox itself? Maybe take a look at other input items and come up with designs for those as well?

### Action Items
- [ ] Find each page on the website that uses checkboxes/ inputs and add the list in the recourses section of this issue

[2021-04-12 18:42] averdin2 commented on #1319
- I made changes so that the checkbox text makes the checkbox check or uncheck.
- As per a discussion with the team, I also made changes to the cursor behavior when hovering over the dropdown menu. See the gif below for implementation.
- Since the second action item of making a pointer over the checkbox text is a question for the UI/UX team (see issue #1398), I will not be implementing this change

[2021-04-12 19:09] RobertaFricker commented on #1345
Please put your request in the hfla-site channel.

On Sun, Apr 11, 2021 at 6:00 PM GLRJr ***@***.***> wrote:

[2021-04-12 20:22] RobertaFricker commented on #1375
This issue is now in Google docs, https://docs.google.com/document/d/1VNtAWP4yFfad1cqoXv3a8bTwlf6gUNemdbWK89i0jk0/edit?usp=sharing

[2021-04-12 20:23] RobertaFricker commented on #1390
This issue is now in Google docs, https://docs.google.com/document/d/1VNtAWP4yFfad1cqoXv3a8bTwlf6gUNemdbWK89i0jk0/edit?usp=sharing

[2021-04-12 20:54] averdin2 commented on #1071
- I changed the span to be a label.
- I also had to make some other changes like removing id from the label and giving it to the checkbox instead.
- Below is a gif with the working label so users can click label by clicking on text and checkbox. Also implemented with the filter tags.

![label_click](https://user-images.githubusercontent.com/10714770/114460095-2e5a4680-9b96-11eb-92f0-cea7b8dc7ab9.g

[2021-04-12 21:34] averdin2 commented on #1319
@daniellex0 Just wanted to let you know that I made some changes to the dropdown functionality by adding a pointer cursor as discussed last meeting. You can see the above comment for a gif showing the pointer cursor on the dropdown. These changes will go into effect on the site when PR #1399 gets approved. Below are screenshots of the CSS I needed to change in case you need to make updates to the

[2021-04-13 02:18] jbubar commented on #1375
Is that google document complete? Maybe after bonnie and the team look over it we can link to it in the contributing.md file.

[code]

[2021-04-13 02:21] #1382 closed, assigned to RobertaFricker

[2021-04-13 03:44] jbubar commented on #1313
@danyc23 any updates?
we can break this issue up into pieces to make it more manageable

[2021-04-13 18:04] #1341 closed, assigned to RobertaFricker

[2021-04-13 18:49] daniellex0 opened #1402 "UI/UX CoP & HfLA Site UX Meeting Agenda"
### Overview
The agenda for this week's discussion between Bonnie, Danielle, and Tan about the UI/UX Community of Practice and HackforLA.org website UI/UX work

#### Agenda

12:00-12:15pm
- Community of Practice meeting review
- New Volunteer Outreach

12:15-1:00pm
- Onboarding slideshow updates
- Guide annotation colors

[2021-04-13 19:36] RobertaFricker commented on #1152
The website.png image has been updated to the image shown in this issue which is 600 x 400.  It has also been added to the Project Card per screenshot below:
![image](https://user-images.githubusercontent.com/81199122/114610501-d59db300-9c54-11eb-89e5-4bf13747f68e.png)

[2021-04-13 19:41] RobertaFricker commented on #1105
Replaced image on HackForLA website's Project Card, per the following link:
https://github.com/hackforla/website/issues/1152#issuecomment-819001504

[2021-04-13 19:43] RobertaFricker commented on #1219
Updated dependency on Issue #1152 per the following link:
https://github.com/hackforla/website/issues/1152#issuecomment-819001504

[2021-04-13 20:10] #1196 closed, assigned to nobody

[2021-04-13 20:39] #1336 closed, assigned to erikaBell

[2021-04-13 20:50] #1192 closed, assigned to qiqicodes

[2021-04-13 23:09] #223 closed, assigned to akibrhast

[2021-04-14 02:13] erikaBell commented on #1122
Hey @sena-ji , could you give us an update on your status for this issue, progress blockers, ETA and availability.

Thanks (-:

[2021-04-14 02:29] erikaBell commented on #947
Hey @martham0 could you give us an Update.

Progress:
Blockers:
ETA:
Availability:

[2021-04-14 02:33] erikaBell commented on #1286
We did it, we made it. Confirming: 7:30 - 8:30 Thursdays (-;

[2021-04-14 02:33] #1286 closed, assigned to akibrhast

[2021-04-14 04:22] ItsLaszlo commented on #947
Assigning it to @mdothman as he is the one that has written up all the documentation for this.

[2021-04-14 17:21] Oluwafemi-Jegede commented on #969
Project Board arranged by @Oluwafemi-Jegede on 14th April 2021 at 6:22 GMT+1
@tarang100 please arrange the board before Sunday's meeting

[2021-04-14 18:29] averdin2 commented on #1398
@daniellex0 I'm putting you on here so you and the UI/UX team can take a look at this issue when you get a chance. I will also try to add some research and resources when I get a chance.

[2021-04-14 18:43] ExperimentsInHonesty commented on #1395
Remove partner

[2021-04-14 18:48] RobertaFricker commented on #1332
@daniellex0
Hi Danielle, I reviewed all 10  _guide-pages to confirm whether they're using the section-container class:

![image](https://user-images.githubusercontent.com/81199122/114761925-fe39b180-9d15-11eb-9fa2-0cbf514f0667.png)

The following 3 guide-pages are using it and here are the links:
**2FA**
https://www.hackforla.org/guide-pages/2FA
**github-issues**
https://www.hackforla.org/guide-pa

[2021-04-14 18:49] ExperimentsInHonesty commented on #1395
Tools: Wiki, Google Docs, Sheets, Forms, Zapier

[2021-04-14 19:22] danyc23 commented on #1392
The requested changes are done.

![Screen Shot 2021-04-14 at 12 18 20 PM](https://user-images.githubusercontent.com/42159475/114767055-085eae80-9d1c-11eb-92e0-408d0bde5ce5.png)

[2021-04-14 20:08] averdin2 commented on #861
The issue is that there is text on the bottom right image in the grid. CSS Grid will not resize the text, and since that text is tied to the element in the grid, it will not resize the right side grid elements to fit the space it needs.

I am still thinking about fixes.

[2021-04-14 21:16] erikaBell commented on #1313
@daniellex0 @jbubar are these badges in one of our folders, and I'm just not seeing it? or am I supposed to grab them from somewhere, and also not finding that?

[2021-04-14 21:57] #1152 closed, assigned to RobertaFricker

[2021-04-14 22:43] RobertaFricker commented on #1332
@daniellex0
@jbubar
After reviewing the 3 guide-pages:  2FA, github-issues and survey-reporting-dashboard, changing the section-container margin doesn't adversely affect the page display and resizing.  However the 2FA.html page has two directives for .accordion margins.  One is pointing to getting-started-page.scss (see screenshot below) and the other 2 are pointing to the 2FA.scss file (see scree

[2021-04-15 00:58] daniellex0 commented on #1332
Great, I'm glad changing the margin doesn't affect the 3 guides- in that case the changes should be good to go/ ready for a PR!

Regarding the min-width of the accordion- I'm not sure I fully understand the problem with having min-width. I see that it's min-width 150px in the smaller screen size breakpoint and min-width 835px in the larger screen size. When min-width is disabled, the accordion get

[2021-04-15 01:59] #1284 closed, assigned to erikaBell

[2021-04-15 04:14] RobertaFricker opened #1407 "Accordion Component Standardization"
### Overview
As a part of the Dev team's efforts to standardize components throughout the website, we need to standardize the accordion component. The JavaScript code needs to be standardized, and some changes with how the JavaScript manipulates the accordion styles needs to be changed. There are also some style issues with the accordion component that need to be fixed. On the 2FA page on the webs

[2021-04-15 05:49] #1345 closed, assigned to GLRJr

[2021-04-15 07:00] #1138 closed, assigned to nobody

[2021-04-15 07:22] erikaBell commented on #1332
Left comment on pull request, regarding `min-width` comments. #1406

[2021-04-15 19:15] averdin2 commented on #861
As stated in my previous comment, the issue has to do with the text in the grid not being resizable. I have come up with a few solutions, and possible suggestions for changes that should be discussed with the team that are listed below:
1. Remove the text. Removing the text makes all the images size properly, but then the external link is gone.
2. Make the picture with text itself an entire image

[2021-04-15 19:32] averdin2 commented on #1332
@daniellex0 I was looking into this issue a bit regarding the min-width, and what seems to be the issue is having min-width be 835px. When in an iPad landscape view, it causes the accordion to extend past the card as you can see in @RobertaFricker's image. I still need to look into that issue a little more to see if having min-width is necessary, but it actually seems to be the case that when min-

[2021-04-15 23:36] patrickm-tan commented on #1395
Name: Patrick Tan
Role: UX Researcher
Slack Member ID: U01RW1C1CV8
GitHub: patrickm-tan

[2021-04-15 23:39] theetank commented on #1395
Name: Tania Khan
Role: UI/UX Designer
Slack Member ID: U01LF2MSSHG
GitHub: TaniaKhan04

[2021-04-15 23:41] JC789 commented on #1395
Name: Jayashree Chauhan
Role: UX Designer Researcher
Slack Member ID: U01NZPZ4Y2E
GitHub: JC789

[2021-04-16 01:51] #1353 closed, assigned to nobody

[2021-04-16 02:08] #1090 closed, assigned to qiqicodes

[2021-04-16 23:21] jbubar commented on #1031
@Olivia-Chiong What did you mean by

[2021-04-18 00:48] akibrhast commented on #1313
@erikaBell

I believe they are not in one of our folders.

You are supposed to grab them from the figma design

<details>
<summary>How to export icons from figma</summary>

![image](https://user-images.githubusercontent.com/32349001/115130505-4d097480-9fbe-11eb-8834-a384741ce304.png)

</details>

Edit since these are icons. I would recommend to export them as .svg icons .

[2021-04-18 04:15] akibrhast commented on #947
Unassigning @mdothman after a slack conversation with him

[2021-04-18 04:16] akibrhast commented on #947
a

[2021-04-18 06:42] abenipa3 commented on #1085
Progress:

- Consulted with Design Team.
- Added Subheadings and Table of Contents to the Prototype's Nav-Bar.
- Currently designing a web version of the Guide Page.

Blocks: N/A
Availability: Open
ETA: 4/24/21

- [Live Preview](https://alyssabenipayo.github.io/hello-world/github-issues)
- [Repo](https://github.com/alyssabenipayo/hello-world)
- [Documentation of Research](https://docs.google.com/d

[2021-04-18 07:06] daniellex0 commented on #1313
Sorry about the delay @erikaBell - if I'm not mistaken, I think @jbubar may have added some (or all) of these svg's already when he worked on the overlay/popup (but these might be on a draft branch of his only..)

[2021-04-18 07:34] jbubar commented on #1313
I did not. I did a draft pr for this before we had the final design.. So I might have all of these on a branch on my repo

[2021-04-18 07:47] daniellex0 commented on #1313
@jbubar Got it, that might be good to share with @erikaBell if you still have it because it had the functionality of connecting icons with specific "wins" from the survey, right? Or even if not, whatever you had might help.. ok just found it, I'm thinking specifically of this PR- #1006

[2021-04-18 07:54] daniellex0 commented on #1332
@averdin2 Hm yeah, I just commented on the PR I'm realizing you might be right... although I do wonder what the purpose of the min-width was if anything.. maybe you can ask the devs tomorrow in the breakout room (if there's time, this isn't time sensitive) if anyone has any idea..?

[2021-04-18 10:19] daniellex0 opened #1413 "Update Getting Started page"
### Overview
We need to add information about the Communities of Practice to the Getting Started page so that it correctly reflects HfLA's onboarding

### Action Items
- [x] Review the updated [Getting Started page](https://www.hackforla.org/getting-started) design on [Figma (in purple rectangle)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A0) - added third '

[2021-04-18 10:26] daniellex0 commented on #1346
I believe this issue was closed accidentally (it hasn't been done yet), so re-opening

[2021-04-18 10:39] daniellex0 opened #1414 "Add extra word in homepage header body text"
### Overview
We need to add the word "full" in the homepage header body text because since it was recently split into two paragraphs, the first line stands out more and comes off too blunt/critical of LA

### Action Items
- [x] Add the word "full" between "its" and "potential" in the homepage header body text (first paragraph)

### Resources/Instructions
[Homepage](https://www.hackforla.org/#)
[Hf

[2021-04-18 10:51] daniellex0 opened #1415 "Adjust homepage filter tags"
### Overview
We need to adjust the homepage filter tags to make them more consistent with the original Figma design, make the 'looking' tags more understandable, make the font size more accessible, and standardize the class naming according to a discussion about this component's name at a recent dev meeting

### Action Items
- [x] Review the [Figma design for the filter tags (in purple rectangle t

[2021-04-18 15:54] akibrhast commented on #1407
https://github.com/hackforla/website/pull/1406#issuecomment-820183092

[2021-04-18 15:56] akibrhast commented on #1407
https://github.com/hackforla/website/pull/1406#issuecomment-820685412

[2021-04-18 15:57] akibrhast commented on #1407
https://github.com/hackforla/website/pull/1406#issuecomment-821943465

[2021-04-18 15:57] akibrhast commented on #1407
@erikaBell

[2021-04-18 15:58] akibrhast commented on #1407
The comments above are a continuation of the discussion regarding an issue found during this PR between @averdin2 , @erikaBell , @daniellex0  -> https://github.com/hackforla/website/pull/1406

[2021-04-18 15:59] Oluwafemi-Jegede commented on #1259
Update:

@ExperimentsInHonesty please review the issues I have gone through and updated on the ice-box

[] #759 updated dependency tag on issue

[] #221 dependency issue on this, #242 have been closed, I think work can commence on this, and dependency tag has been removed

[] #583 dependency issue https://github.com/100Automations/futureautomations/issues/8 has been unclaimed for more than 6months

[2021-04-18 15:59] #1332 closed, assigned to RobertaFricker

[2021-04-18 16:09] daniellex0 commented on #1381
Changes have been made- closing issue because #1079 has this topic covered

[2021-04-18 16:09] #1381 closed, assigned to nobody

[2021-04-18 16:16] daniellex0 commented on #1079
Progress: Made changes to slideshow based on previous onboarding.
Next steps: Interviewing users at onboarding for feedback about updated slideshow.
Blocks: None

[2021-04-18 16:21] daniellex0 opened #1416 "Finish dev documentation of Design System"
### Overview
We need to complete the developer-facing documentation of the design system so that developers can easily pickup how and when to utilize reusable components

### Action Items
- [x] Wiki files and check if the flow makes sense
   - [x] https://github.com/hackforla/website/wiki/Standardized-Components
   - [x] https://github.com/hackforla/website/wiki/How-to-create-a-page-on-Hack-for-LA

[2021-04-18 16:24] daniellex0 commented on #1416
@daniellex0 , @qiqicodes , and @ruqpyL2 are working on this

[2021-04-18 16:25] #1392 closed, assigned to danyc23

[2021-04-18 16:26] #1257 closed, assigned to akibrhast

[2021-04-18 16:29] daniellex0 commented on #577
Progress: Met with Qiqi and Candace to discuss working on dev documentation of the design system and next steps to finish componentizing, met with Oskar to continue working on implementing auto layout and finishing componentizing design system on Figma, continued adding remaining pieces to design system including new components from new pages.

Next Steps: Finish dev documentation, finish finish s

[2021-04-18 16:30] daniellex0 commented on #1135
Progress: Added text from a role listing on the UI/UX CoP roles boards

Next Steps: Get approval for MVP desktop design, finish mobile design, and send to development when we have the go-ahead from VRMS, etc.

ETA: 1 week

[2021-04-18 16:55] Oluwafemi-Jegede commented on #969
Project Board arranged by @Oluwafemi-Jegede on 18th April 2021 at 5:55 pm GMT+1
@tarang100 please arrange the board before Wedneday's meeting

[2021-04-18 17:21] kceddinger commented on #1142
@sanchece Left instructions on pr #1361

[2021-04-18 17:37] kceddinger opened #1417 "Fix Donate Image on About Page"
### Overview
The donate image is not currently showing up on the about page.

### Action Items

- [ ] Rename image from capital HFLA-Donate.gif to hfla-donate.gif.
- [ ] Change the image reference that appears on the Join Us and About page.

### Resources/Instructions
https://github.com/hackforla/website/tree/gh-pages/assets/images/about

[2021-04-18 18:55] erikaBell commented on #1375
@RobertaFricker, thanks for this in-depth file that you wrote. It inspired Akib to make these changes, to the existing [Contribution page](https://github.com/akibrhast/website/blob/gh-pages/CONTRIBUTING.md).

We were thinking we could refine your google doc to be a shared doc. for onboarding of all H4LA teams.
We would love your opinion on improving our own documentation as well.

[2021-04-18 19:21] erikaBell opened #1418 "How to grab images in liquid jekyll"
### Overview
How to grab images from a folder, and iterate through them
How to take the image names and use it for alt text

### Action Items

- [ ] research how to do this in Liquid Jekyll
- [ ] implement this

### Resources/Instructions
[Jekyll Docs](https://jekyllrb.com/docs/)

Good points of contact for help: @akibrhast @erikaBell @jbubar

_If you need to reach out_: sharing any useful documen

[2021-04-18 19:34] #1071 closed, assigned to averdin2

[2021-04-18 19:34] #1319 closed, assigned to averdin2

[2021-04-18 21:48] akibrhast commented on #1418
[code]

[2021-04-19 00:28] akibrhast commented on #1415
' However, please don't change the "Looking" title in the filter dropdown itself '  ->  @daniellex0 I agree with your initial point about changing it to role. Since that would be consistent with what we have on wins page as well. I was wondering why we shouldn't change `Looking` to `Role` . Wouldn't that be more consistent across the entire site, and cause less confusion vs a mix between role,link

[2021-04-19 05:33] akibrhast commented on #1027
@daniellex0 Where do I find the drafts for review?

[2021-04-19 05:36] akibrhast commented on #1027
I might be wrong , but is this issue related to this https://github.com/hackforla/website/issues/1416 ?

[2021-04-19 17:48] #1417 closed, assigned to akibrhast

[2021-04-19 17:48] #1418 closed, assigned to akibrhast

[2021-04-19 21:22] averdin2 commented on #861
Changes made in merged PR #1420 seems to have broken mobile responsiveness on the About page. See screenshot below.
![image](https://user-images.githubusercontent.com/10714770/115305034-91aa2280-a11a-11eb-8e7f-6d41a6b29ac1.png)

[2021-04-19 21:59] averdin2 commented on #1398
I looked at how Postmates, Doordash, and Uber Eats implement their checkboxes. Funnily enough, all three do something different 😄! In terms of where we should have a pointer on checkboxes, there doesn't seem to really be a consensus on what is best, so I guess it is up to our own discretion on how we want it implemented.

I have some resources for UX/UI principles from Google and Apple that I will

[2021-04-19 22:19] jbubar commented on #1313
@daniellex0 can we break this up into multiple issues?
can we put the overlay part into another issue?
it is a pretty big issue. let me know what you think

[2021-04-19 23:11] averdin2 commented on #861
I added some spacing for numbers and text in the SDG section of about page, as the numbers and text were becoming cramped around the 970px width range. There is a little extra spacing when on a normal desktop viewport range. See screenshots below.

<details>
<summary>Screenshots</summary>

Less cramping in tablet range

![image](https://user-images.githubusercontent.com/10714770/115314177-8e6a6300

[2021-04-19 23:31] averdin2 commented on #861
Aligned LA Mayor link so that it is centered with the left side images in the SDG section. I'm thinking maybe the text of that link should be bigger?
![image](https://user-images.githubusercontent.com/10714770/115315448-36812b80-a12c-11eb-8318-16bedb1201fd.png)

[2021-04-20 17:19] pascuas commented on #1023
<img width="960" alt="Screen Shot 2021-04-20 at 10 18 17 AM" src="https://user-images.githubusercontent.com/59798280/115438078-ce7d2480-a1c1-11eb-9d5b-8c656887576a.png">

[2021-04-20 20:04] sena-ji commented on #1122
After working on this issue, I think we should take a week or something to clean up some of the .scss files. The sitemap page had header styling and image properties that did not correlate with the header styling that was done to the credits page. I think if we remove the separate header styling class from individual pages and apply the same standard one to every page, it would be easier.

I took

[2021-04-20 20:11] sena-ji commented on #1122
![image](https://user-images.githubusercontent.com/42919318/115457605-a13c7080-a1d9-11eb-8805-027dc4adeb74.png)
![image](https://user-images.githubusercontent.com/42919318/115457633-a7cae800-a1d9-11eb-8637-df0f9730fd34.png)
Here are the photos!

[2021-04-21 00:22] RobertaFricker commented on #1150
(I removed the images due to their size as I'm using the image posted by shinhope 12 days ago)
@shinhope
@daniellex0
@shaswa
@Oluwafemi-Jegede
I resized the original image of 2000 x 2000 using Photo in Windows 10.   I used this app because it retains the transparency where Paint does not.  (For now, please disregard the black background, it's just a display issue with Photo app.)
Below is a copy o

[2021-04-21 00:44] daniellex0 commented on #1150
Hey @RobertaFricker I think you can actually just use the image that @shinhope posted in her comment above - is there an issue with that one? Sorry if this wasn't clear, the resizing part of this issue was already done by design- now it just needs to be added to the site by development

[2021-04-21 00:44] daniellex0 commented on #1150
The image in this comment: https://github.com/hackforla/website/issues/1150#issuecomment-816023698

[2021-04-21 02:41] #1023 closed, assigned to pascuas

[2021-04-21 02:41] Lol-Whut commented on #1023
closing this since merge didn't auto close :)

[2021-04-21 02:49] Lol-Whut commented on #1415
Leave "Looking" rather than switch to "Roles" (discussed in dev meeting on 4/20/2021)

[2021-04-21 03:11] jbubar opened #1425 "Add badges to the wins overlay"
### Dependency
#1313

### Overview
Redesign the win's page overlay to include the badges

### Action Items
- [ ] redesign the wins page overlay to match the figma (in blue rectangle)
- [ ] get the icons from the win icon object
- [ ] include the text of the win
- [ ] style it to look like the figma (in blue rectnagle)

### Resources/Instructions
[figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOI

[2021-04-21 03:18] Olivia-Chiong commented on #1031
Basically once changes are done, get @BryonPm to review and confirm all changes.

[2021-04-21 03:21] Lol-Whut commented on #1342
Please use this image from the following comment as mentioned by @ExperimentsInHonesty:
https://github.com/hackforla/community-survey-nc-websites/issues/16#issuecomment-811292122
![image](https://user-images.githubusercontent.com/40847248/115491993-92c87600-a226-11eb-8685-f2e71505c93b.png)

[2021-04-21 03:29] Lol-Whut commented on #1031
Note: whoever merges the pull request for this issue should handle the third action item (as discussed in dev meeting on 4/20/2021)

[2021-04-21 03:49] Lol-Whut opened #1426 "Program areas page: Fix design and alignment of project mini-card"
### Overview
Fix design and alignment of project mini-card such that it matches the Figma design

### Action Items
- [ ] Fix design and alignment of project mini-card (reference the Figma page)

### Resources/Instructions
Figma : https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website

[2021-04-21 03:50] #833 closed, assigned to akibrhast

[2021-04-21 03:53] Lol-Whut opened #1427 "Program areas: Add join a project section right above the footer"
### Overview
Add join a project section right above the footer on the Program Areas page as per figma specs

### Action Items
- [ ] Add join a project section right above the footer (reference the figma design linked below)

### Resources/Instructions
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4452%3A21046
https://www.hackforla.org/program-areas.html

[2021-04-21 17:17] #1142 closed, assigned to sanchece

[2021-04-21 18:48] shinhope commented on #1383
Progress: messaged all PMs
Blocks: waiting for Bonnie to get back to me about Civic Tech Structure

[2021-04-21 23:53] jbubar opened #1431 "Add tool tip text on hover with"
### Dependency
#1313

### Overview
Add tool tips to the badge icons on the wins page cards

### Action Items
- [ ] Add bubble (tool tip) descriptions on hover

### Resources/Instructions
[Wins page](https://www.hackforla.org/wins/)
[Figma file for the Wins page badges](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0) (in **blue rectangle**)
[tool tip tutorial

[2021-04-21 23:57] jbubar opened #1432 "Wins badge mobile view"
### Dependency
#1313

### Overview
Mobile view for wins badges

### Action Items
- [ ] make sure the cards are styled like they are in the figma
- [ ] when see more is clicked, and the card drops down.... make that part look like the figma too
- [ ] give yourself a high five

### Resources/Instructions
[Wins page](https://www.hackforla.org/wins/)
[Figma file for the Wins page badges](https://www.f

[2021-04-22 00:41] BryonPm commented on #1033
@ExperimentsInHonesty Please refer to this issue for Engage page update. It contains all updated page content and references all other issues within the comment stream.

[2021-04-22 05:33] RobertaFricker commented on #1105
Replaced image on RailStats Project Card per the following link:
https://github.com/hackforla/website/issues/1150#issuecomment-816023698

[2021-04-22 16:13] #1150 closed, assigned to RobertaFricker

[2021-04-22 16:52] Aveline-art commented on #1033
@BryonPm Attached to the bottom of the changes summary (see above) is a google link to the Engage Logo. Should it appear in any of these places:

- the project page ([link](https://www.hackforla.org/#projects))
- the engage project page ([link](https://www.hackforla.org/projects/engage))
- another page on the hackforla website (please specify)
- none of the above

Also, what is the duration for ea

[2021-04-22 18:26] RobertaFricker commented on #1414
Added the word "full" to _includes/hero.html page per screenshot below:
![image](https://user-images.githubusercontent.com/81199122/115767039-86930480-a35d-11eb-9f28-43f654f06ce5.png)

[2021-04-22 19:35] RobertaFricker opened #1434 "Fix Step 6 text in section in page of CONTRIBUTING.md to match Step 6 Table of Contents"
### Overview
Step 6, "Switch to new issue branch.....", in the Table of Contents isn't jumping to corresponding section in document.

### Action Items
Change text in Step 6 area of document to match text in Step 6 Table of Contents so that it will "jump" to the corresponding section.

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#step-6-change-to-a-n

[2021-04-23 00:45] ExperimentsInHonesty commented on #860
Format

executive_letter: |
  # Terram haustis currere praemia

  ## Et iuvenis quem

  Lorem markdownum [formidabilis hospite purasque](http://utiletirynthius.io/)!
  Voluptas certe; non est iamque speculatur **aures** Ammon, fertur, medium,
  quoque ora Vulcanum audes, totumque.

      gigabit_ocr += 3 + fullBotnetIcmp;
      if (3) {
          plain(hertz);
          on_dashboard *= 2;
      }

[2021-04-23 03:29] ExperimentsInHonesty commented on #860
what to cover:
The pandemic
The move to zoom
The growth of hack for LA
continue to be radically inclusive
Communities of Practice
Workforce development
Success of our organization is dependent on the success of our volunteers
Ages 8-70
embracing changes and cycles
help us achieve sustainability by clicking on the join page and contributing in the way that fits best for you.

I have wanted to write

[2021-04-23 14:04] #1122 closed, assigned to sena-ji

[2021-04-23 14:33] ktjnyc opened #1436 "Update Project Profile: Food Oasis"
### Overview
As a product manager of Food Oasis, I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_

### Action Items

- [ ] Food Oasis Team Leadership
   - [ ] Please check off everything that is ok the way that

[2021-04-23 16:34] #1322 closed, assigned to evancchen

[2021-04-23 16:49] #1434 closed, assigned to RobertaFricker

[2021-04-23 17:09] erikaBell opened #1439 "Wins page: don't allow comma removal on "Other""
### Overview
The wins data needs to have all comma's `split`, except for answers under the "Other" category of the wins form.
PR #1437

<details>
<summary>Comma separation issues in the "Other" category</summary>

<img width="176" alt="Screen Shot 2021-04-23 at 8 51 50 AM" src="https://user-images.githubusercontent.com/67438372/115900167-7f7afd80-a414-11eb-939a-a139d82cfcd0.png">
<br>
<br>
<img wi

[2021-04-23 19:13] akibrhast opened #1441 "Implement SCSS lint"
### Overview
We need to implement a linter for our SCSS code such that code is more maintainable and standardized over time.

### Action Items
- Create a list of possible bare minimum SCSS linter settings that we can turn on, get an output of running those SCSS linter setting on our current codebase and comment on this issue the esLint settings and the output from running it.
- Implement a github

[2021-04-23 19:14] akibrhast opened #1442 "GitHub Actions: Implement ESlint"
### Dependency
~#1441~
- #2651
- after the [spelling issues](https://github.com/hackforla/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22feature%3A+spelling%22) are done we can re-review this.
- [ ] Figure out which js files use liquid (and the least liquid in any file)
- [ ] Refactor a js file that uses liquid into two separate files
- [ ] Roll out plan for implementation
### Overview
We need t

[2021-04-23 19:26] akibrhast opened #1443 "Update Docker Compose Dev With New Features"
### Dependency
A person who has risen to the merge team and who is experiencing docker reloading the entire code base on every change and who wants to take this issue on. see notes

### Overview
We need to update our docker-compose file such that it is dynamic and based off off `.env` file settings.

### Action Items
- [ ] Docker Compose Should have the following variables coming from an `.env` fi

[2021-04-23 19:26] Aveline-art opened #1444 "Update Current Projects Page with separators"
### Overview
The 'link', 'looking for', and 'technologies' line on the project cards in the Current Projects page ([link](https://www.hackforla.org/#projects)) lacks separators between items, reducing readability.

### Action Items

- [x] Add separators (such as commas) between the items in the 'link', 'looking for' and 'technologies' lines
- [x] Ensure that the addition of separator does not alte

[2021-04-23 20:00] akibrhast opened #1445 "Implement a logging system for all hfla github actions"
### Overview
As a member of the website team, we need a system that allows us to track GitHub action logs for an extended amount of time, beyond GitHub's 90 day allowance.

### Action items

- [ ] Create some sort of system that allows logging of [Github actions logs](https://github.com/hackforla/website/actions) for an extended amount of time.
  - [ ] The logs should be stored in a .txt file in a

[2021-04-23 22:44] #940 closed, assigned to Aveline-art

[2021-04-24 01:01] RobertaFricker commented on #1413
@daniellex0   Hi Danielle, Akib asked me to start working on this issue.  I found the image in Figma, however, I'm not sure how to copy it correctly.  Here's a screenshot of what it looks like in Figma.  How do I copy all of the sections so that the hyperlinks work, etc...:
![image](https://user-images.githubusercontent.com/81199122/115942155-b0cbeb80-a45d-11eb-988c-a712e6c53626.png)

Also, here's

[2021-04-24 02:03] #1026 closed, assigned to Linda-OC

[2021-04-24 02:58] RobertaFricker opened #1450 "Fix Table of Contents Step 10 in CONTRIBUTING.md so anchor link and target text match"
### Overview
Step 10 in Table of Contents anchor link isn't "jumping" to corresponding target in CONTRIBUTING.md document.  Steps 7 - 10 are incorrect:  They s/b 7, 7a, 7b, 8 and 9.

### Action Items
- [ ] Change text in Step 10 target text to match Step 10 Table of Contents anchor link text so that the anchor link will "jump" to the corresponding section of CONTRIBUTING.md document.
- [ ] Change

[2021-04-24 02:59] Aveline-art commented on #1105
Replaced image on RailStats Project Card per the following link:
#1151

[2021-04-24 04:24] #1151 closed, assigned to Aveline-art

[2021-04-24 07:10] daniellex0 commented on #1413
Hi @RobertaFricker I'm not sure I fully understand- I think if you follow the lead of the other similar sections in the [Getting Started page](https://www.hackforla.org/getting-started), it should hopefully be pretty straightforward. But if you're trying to figure out how to code it, it might be best to consult with the devs at tomorrow's meeting..

[2021-04-24 08:04] daniellex0 opened #1452 "Adjust Credits page header"
### Overview
We need to adjust the Credits page header to standardize it with the rest of the headers on the site

### Action Items
- [ ] Make the header image max-height 240px (instead of the current percentage max-width property it has)

### Resources/Instructions
[Credits page](https://www.hackforla.org/credits/)
[Site Architecture wiki](https://github.com/hackforla/website/wiki/Hack-for-LA's-S

[2021-04-24 18:15] RobertaFricker opened #1453 "Upload correct image for Increase ratio of image on project page for Railstats LA to 3:2 #1150"
### Overview
The PR was completed, however during a new branch, the branch for this issue got blended in and the new 600 x 400 image for this issue (Railstats) was returned to the original 2000 x 2000 image.
The correct image has been re-added to the repo per screenshot below:

![image](https://user-images.githubusercontent.com/81199122/115968702-fd5f0780-a4ed-11eb-8209-ac53e0f9141b.png)

### Acti

[2021-04-24 19:12] #1453 closed, assigned to RobertaFricker

[2021-04-24 20:54] ktjnyc commented on #1436
We need to update the leadership team on the website:

**Leadership** - Remove Jenny, Tina, Lucas, Gaby, Steven, and update to the following:

Name: John Darragh
Role: Architect & Technology Lead
Slack: UFLDX9V19
Github: entrotech

Name: Erika Gill
Role: Product Manager
Slack: U01NB9SEKUJ
Github: erigilg

Name: Katie Jensen
Role: Product Manager
Slack: U01JKTLQGBF
Github: ktjnyc

Name: Andrew Stra

[2021-04-24 21:06] daniellex0 opened #1456 "Add About page images/icons to Credits page"
### Overview
We need to add the icons and vector image from the About page to the Credits page so that we are following the image use requirements

### Action Items
- [x] Review the icons and vector image that need to be credited on the Figma file for the About page - they are all on the bottom of the page in a green rectangle to the left of the pink rectangle (final About page design)
- [x] Add a

[2021-04-24 21:52] daniellex0 opened #1457 "Add Join Us page images/icons to Credits page"
### Overview
We need to add the icons and vector image from the Join Us page to the Credits page so that we are following the image use requirements

### Action Items
- [ ] Review the icons and vector image that need to be credited on the Figma file for the Join Us page - they are all on right in a green rectangle
- [ ] Add all of the credit information to the Credits page

### Resources/Instructi

[2021-04-24 22:19] daniellex0 opened #1458 "Add Sitemap page images/icons to Credits page"
### Overview
We need to add the icons and vector image from the Sitemap page to the Credits page so that we are following the image use requirements

### Action Items
- [x] Review the icons and vector image that need to be credited on the Figma file for the Sitemap page - they are all on the right in a green rectangle
- [x] Add all of the credit information to the Credits page

### Resources/Instr

[2021-04-24 23:30] RobertaFricker commented on #1413
Hi @daniellexo I'm unclear how to copy the image from the Figma page.  You
cannot just copy it as a whole image, it's in layers.  If I copy it as an
svg, it pastes in code format.
The image on the 1413 issue page doesn't retain the hyperlinks, it's just a
basic .png image.  If I copy and paste it and then hover over the
hyperlinks, it doesn't show a hand, it shows the 4-arrow symbol.

On Sat, Apr

[2021-04-24 23:45] #1450 closed, assigned to RobertaFricker

[2021-04-25 00:18] RobertaFricker commented on #1450
@erikaBell  Hi Erika, thanks for finishing this PR up.
I have to go out for a bit.
In the meantime, I'm having problems figuring out how to copy an image from
Figma.  Specifically it's the one in Issue 1413, Communities of Practice.
If I copy it from github, it's just a .png with no active hyperlinks.
If I try to copy it from Figma, it's a rodeo.  The image is in layers and
while I'm very familiar

[2021-04-25 02:40] GLRJr commented on #1315
Created .md file, added images to proper folder,new project card is showing on showing on home screen, needs identification number

[2021-04-25 05:27] kceddinger commented on #1022
<img width="610" alt="Screen Shot 2021-04-24 at 10 24 47 PM" src="https://user-images.githubusercontent.com/51894148/115981927-38902380-a54c-11eb-83d8-d33d06c52766.png">

[2021-04-25 05:39] kceddinger commented on #1022
Progress: pending user acceptance (last box above) before creating pull request
Blockers: none
Availability: free to create pull request asap
ETA: should be completed within a day or two
Pictures: see above

[2021-04-25 09:51] abenipa3 commented on #1085
**Progress:**
- Updated Prototype with Table of Contents to automate the process of nav-bar populating all headings without JavaScript.
  - We also want to resolve the nav-bar arrow issue (Jumping/Skipping a section while scrolling).

<details><summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/38295612/115989085-6b004780-a571-11eb-80d7-60a9b6522c94.png)

</details>

[2021-04-25 15:34] daniellex0 opened #1459 "Adjust size of Credits page header illustration"
### Overview
We need to adjust the size of the Credits page header illustration so that it is consistent with the Figma and other headers on the site

### Action Items
- [x] In desktop view of the Credits page, make the header illustration max-height 240px
- [x] In tablet and below, make the max-height 170px

### Resources/Instructions
[Credits page](https://www.hackforla.org/credits/)
[Site Archi

[2021-04-25 15:42] daniellex0 opened #1460 "Standardize the Communities of Practice page mobile subheadings"
### Overview
We need to adjust the subheadings (in mobile view) in the Communities of Practice page so that they are consistent with our design system

### Action Items
- [ ] Make the font size of the **mobile** subheadings in the Communities of Practice page 20px (instead of 22px)

### Resources/Instructions
[Communities of Practice page](https://www.hackforla.org/communities-of-practice)
[Site A

[2021-04-25 15:47] daniellex0 opened #1461 "Change mentions of "Hack Nights" in Credits page"
### Overview
We need to change all mentions of "Hack Nights" in the Credits page to "Events," because that is the new name of that page

### Action Items
- [x] Review the Credits page and see where "Hack Nights" shows up under "Used In"
- [x] Change all mentions of "Hack Nights" in the Credits page to "Events" instead

### Resources/Instructions
[Credits page](https://www.hackforla.org/credits/)
[

[2021-04-25 15:51] daniellex0 commented on #1413
Oh hmm that's odd... that might be good to ask the devs today as well... Have you tried "Export" the image via the right column?

FYI also here is a (draft) guide for Figma for developers, in case it's useful: https://drive.google.com/file/d/1Is5Ah0tUH07kWYG_J6HTo0RF8Z9Foi2l/view?usp=sharing

[2021-04-25 15:52] daniellex0 commented on #1413
Have you tried "Export" the image via the right column?

[2021-04-25 16:00] daniellex0 opened #1462 "Adjust Events page 'Our Locations' collapsed section in mobile view"
### Overview
We need to adjust the icons in the Events page's collapsed "Our Locations" section because it seems to have shifted partially or totally off-screen recently

### Action Items
- [ ] Review how the mobile version of the Events page's collapsed "Our Locations" section is supposed to look below and on the Figma (in red rectangle)
- [ ] Fix the collapsed "Our Locations" section so that it

[2021-04-25 16:10] daniellex0 opened #1463 "Adjust the Toolkit page filter banner"
### Overview
We need to adjust the Toolkit page filter banner so that it functions as intended, and so that its colors are consistent with our design system

### Action Items
- [ ] Change the hover text pink color to our standard HfLA pink (using the variable)
- [ ] Change the black text color from 'black' to our standard dark text variable
- [ ] Make the selected filter bold (font-weight: 700)
-

[2021-04-25 17:12] danyc23 commented on #1426
Blockers: Haven't find any blockers yet.
Availability: Monday and Thursday.
ETA: 27/04/2021.

[2021-04-25 17:15] qiqicodes commented on #1265
@tarang100 @Oluwafemi-Jegede @ExperimentsInHonesty

The first action item has been completed. What would be the next step?

Can you take a look at this issue to see if we need to put any structure in place so this doesn't happen again?

[2021-04-25 17:18] qiqicodes commented on #1343
We've made the announcement on Sunday three weeks in a row. We need to do this announcement for the Tuesday meeting as well.

[2021-04-25 17:29] akibrhast commented on #1390
This a start of restructuring the contributing . Feel free to use this and continue off of it. @averdin2 @RobertaFricker @alyssabenipayo @jbubar
https://github.com/akibrhast/website/blob/gh-pages/CONTRIBUTING.md

[2021-04-25 17:31] qiqicodes commented on #1390
@daniellex0 @ruqpyL2 @qiqicodes are working on restructuring the wiki. Here is plan:
https://docs.google.com/spreadsheets/d/1ZfLAUfpxjblvfobdewQ0SkQ9I2HqheD56c5ogrcYdiA/edit#gid=534478216

@akibrhast Here is Akib's commit on CONTRIBUTING.md
https://github.com/akibrhast/website/blob/gh-pages/CONTRIBUTING.md

@RobertaFricker @averdin2 @alyssabenipayo @jbubar will meet for further documentation detai

[2021-04-25 17:34] qiqicodes commented on #1375
This issue is similar to the following:
https://github.com/hackforla/website/issues/1390#issue-855156065

[2021-04-25 17:34] #1375 closed, assigned to nobody

[2021-04-25 17:43] abenipa3 commented on #1085
Note: Will meet with Danielle on Tuesday at 3pm.

[2021-04-25 17:46] qiqicodes commented on #1393
@sanchece can you update us with your progress? Thank you =]

https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#step-8-status-updates

[2021-04-25 17:52] qiqicodes commented on #1416
Progress: restructuring wiki navigation by categorizing. rewriting design component documents.

Blockers: @daniellex0 @ruqpyL2 @qiqicodes are meeting this week. Loop in  @akibrhast when the meeting is happening.

ETA: TBD

[2021-04-25 17:54] qiqicodes commented on #1379
@ashleylin1 can you give us an update on your progress? Thank you =]

https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#step-8-status-updates

[2021-04-25 18:08] qiqicodes commented on #1383
@shinhope Please provide the allowable meeting types from the Attendee column. So Bonnie can decide if these Civic Tech Structure meeting type can fit in the existing category.

[2021-04-25 18:33] qiqicodes commented on #1413
@jbubar pair programming with @RobertaFricker tomorrow to work this issue.

[2021-04-25 18:45] qiqicodes commented on #1315
repo ID: 330800079

Identification ID is found here:
https://api.github.com/repos/hackforla/access-the-data

Next time, can we have the repo ID provided in the issue? Also the wiki link to how to get the repo ID?

[2021-04-25 20:02] #1431 closed, assigned to nobody

[2021-04-25 20:02] #1313 closed, assigned to erikaBell

[2021-04-25 20:14] #1342 closed, assigned to wendywilhelm10

[2021-04-25 20:18] #1022 closed, assigned to kceddinger

[2021-04-25 23:11] BryonPm commented on #1033
@Aveline-art Please apply the logo to the project page. We will decide on the photo for the Engage Project Page within the next week.

Meeting times are an hour in duration.

All Team Members Sunday 4 PM-5PM PST
All Team Members Wednesday 6-7PM PST
Product Manager Meeting Wednesday 5PM-6PM PST

Please let me know if you have any other concerns.

Best,
Bryon

[2021-04-26 00:31] sena-ji commented on #1115
Took a look at the PR resources! Super helpful notes and instructions. Made some of the changes but will not make a full PR until all changes are made.

So far completed:
- Editing card font size, weight, and margin
- Added border radius and adjusted border radius

Will work on next time:
- How to make the 12px font on mobile to 1 rem
(Hopefully will get it done by Tuesday's meeting)

[2021-04-26 06:42] qaz6209031 commented on #1335
I want to work on this issue !

[2021-04-26 07:14] qaz6209031 commented on #1335
When you mention that make all the links open in the new tab, does is include the links on the top (Events Projects Press Join us...

[2021-04-26 07:40] qaz6209031 commented on #1335
How do I change the different style for mobile and web, right now I make changes on  _getting-started-page.scss, does that apply on both web and mobile?

Updated: problem solved, now I learned to use media query

[2021-04-26 17:12] ExperimentsInHonesty commented on #1249
@pascuas
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-04-26 17:32] ExperimentsInHonesty commented on #1031
@Aveline-art
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-04-26 17:49] ExperimentsInHonesty commented on #1415
@qiqicodes
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-04-26 21:30] kceddinger commented on #1461
After building my site locally, the order of the items differs from the live site although my gh-pages branch is even with hackforla/website repo.

Live site (4/26/21):
<img width="751" alt="live_site" src="https://user-images.githubusercontent.com/51894148/116148435-c297d380-a695-11eb-8c67-8ce580b9962b.png">

Local 4/26/21)
<img width="763" alt="local_with_update" src="https://user-images.githubu

[2021-04-27 00:47] qaz6209031 commented on #1460
I will work on this issue

[2021-04-27 01:49] abenipa3 opened #1469 "Suggested Edits to the Getting Started Page"
### Overview
Some information from the Getting Started Page needs clarification, so we created a Google Doc with suggested Edits.

### Action Items

- [ ] Review the suggested changes.
- [ ] Make any necessary changes.
- [ ] Create a new issue for the developers to implement the changes.

What did the father buffalo say to his child when he was on his way to school?
Bison

### Resources/Instructio

[2021-04-27 03:57] abenipa3 commented on #1390
We reviewed the documentation up to the _Clone the forked repository_ section and drafted a pull request #1471 today

We plan to meet and continue reviewing next week.

[2021-04-27 05:53] #1414 closed, assigned to RobertaFricker

[2021-04-27 05:54] qaz6209031 commented on #1459
I will work on this issue

[2021-04-27 06:31] qaz6209031 commented on #1459
Even thought I fix the issue, but the image size looks quite small in mobile, the height is only 29.91px

![image](https://user-images.githubusercontent.com/44656685/116195704-6b225380-a6e7-11eb-94b8-d72754449c02.png)

[2021-04-27 16:23] daniellex0 commented on #1329
New final mobile dropdown version of filter:

<img width="245" alt="Screen Shot 2021-04-27 at 9 21 29 AM" src="https://user-images.githubusercontent.com/67400366/116277147-0d6b2700-a73a-11eb-8fdf-b5d86cf1e79c.png">

[See design on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967) (in pink rectangle)

[2021-04-27 18:55] #1460 closed, assigned to qaz6209031

[2021-04-28 00:11] jbubar opened #1475 "Fix the Admin slack link on the getting started page"
### Overview
The admin slack link currently links to the #general channel.. not the #admin channel

### Action Items
- [ ] locate the pages/getting-started.html page in your code editor
- [ ] On line 156 change the href link from "https://hackforla.slack.com/team/UE1UG1YFP" to "https://hackforla.slack.com/channels/admin"
- [ ] run it on your machine using docker and test the admin link on the gett

[2021-04-28 00:46] daniellex0 commented on #1335
Sorry about the delayed response- no, please don't change anything in the navigation bar

Btw @qaz6209031 please assign yourself (on the top right of this issue) when you want an issue to be yours- instead of commenting 🙂. (I just did it for you)

Also, please make sure your PR is approved and merged before you assign yourself another issue next time.

Thanks!

PS good job figuring out media query

[2021-04-28 00:49] jbubar opened #1477 "Add documentation for if you don't see changes or delete the -I"
### Dependency
Talk about this in the dev meeting and edit the issue based on what is decided

### Overview
Recently, we added an incremental build flag to our jekyll serve command, This makes docker reload a whole lot faster, but it makes it so that people do not always see the changes that they made..

### Action Items
- [ ] add some documentation about deleting the generated _site folder and je

[2021-04-28 01:00] daniellex0 commented on #1459
Hey @qaz6209031 you're right, good catch- I will create a new issues for that. Thanks for notifying about this!

Also just FYI you already worked on a good second issue, so your next step is actually supposed to be work on a medium issue next- we're trying to save the good second issues for those that need one. All of this information is provided at the dev meetings Tue at 7pm PDT (tonight), so ma

[2021-04-28 01:00] jbubar opened #1478 "Reference the Repo Id wiki in the project.md template wiki"
### Dependency

- #1534

### Overview
Sometimes when people are building know project.md files they need to find the github repo Id. We should reference it in the wiki.

### Action Items
- [x] link to the repo ID article in the [template for a project.md file wiki article](https://github.com/hackforla/website/wiki/project.md-file-template) using the following text.

`If you cannot find the Github

[2021-04-28 01:53] daniellex0 opened #1479 "Update Toolkit Page subheadings"
### Overview
We need to update the 'Guides' and 'Resources' subheading sections (and their buttons) in the Toolkit page to better align the page, and accommodate upcoming changes to the mobile version of the filter banner.

### Action Items
- [x] Review images below (under arrows) to see how the updated page should look (or see the [Figma design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/H

[2021-04-28 02:09] RobertaFricker commented on #1413
Status update:
Blockers:  Need assistance on how to add image that consists of various layers into the existing .html
Questions:  Should I copy each layer separately from Figma?  How do I get the same properties from the Figma images?

[2021-04-28 02:09] #1436 closed, assigned to grhhhh

[2021-04-28 02:42] qaz6209031 commented on #1459
Hello @DanielekPark I just made a new commit and the issue should be fixed

[2021-04-28 02:43] qiqicodes commented on #1415
Progress: Features added, filter list currently is missing due to having the same class name as item in filter list dropdown

Blockers: same name as filter list

Availability: Open Tuesday night and Saturday.

ETA: Merge PR with with functional checked items tonight

[2021-04-28 02:50] averdin2 opened #1481 "Fix arrow bug on About page"
### Overview
There seems to be a problem with how the card's accordion arrows are oriented when the page is resized from desktop to mobile. The accordion arrows seem to point the wrong way, but fix themselves as the accordion is closed and reopened. See the gif below for more details.

<details>
<summary>Gif</summary>

![about_page_accordion](https://user-images.githubusercontent.com/10714770/1163

[2021-04-28 03:15] qaz6209031 opened #1482 "Develop page for 404 Error Invalid URL page"
### Overview
It's a good idea to create a page for invalid url, so instead of seeing 404, user could have more clue to see what's going on.

###
<details>
<summary>Details </summary>

![Screen Shot 2021-04-27 at 8 09 45 PM](https://user-images.githubusercontent.com/44656685/116340764-9151fd00-a794-11eb-8195-120a0f873ee4.png)
</details>

RIght now if the invalid url is provided, out page will look

[2021-04-28 03:18] akibrhast commented on #1415
@qiqicodes to create new issues that addresses this

And remove the above item from this issue. This is going to clear up her blockers on the currently drafted PR

[2021-04-28 03:32] qiqicodes opened #1483 "Change CSS class name for filter items"
### Overview
Continuum of #1415 , currently the four items in the filter list dropdown has the class name of "filter-item". New class name is necessary before the class name "filter-item" is assigned to the filter tag.

### Action Items
 - [x] Change the CSS class name to '.filter-tag' instead of .btn--current-projects-filter-tag (.filter-item name was voted/agreed on at a dev meeting, and this is

[2021-04-28 04:12] #1459 closed, assigned to qaz6209031

[2021-04-28 04:18] #1461 closed, assigned to kceddinger

[2021-04-28 04:18] #1315 closed, assigned to GLRJr

[2021-04-28 04:38] #1415 closed, assigned to qiqicodes

[2021-04-28 07:26] daniellex0 opened #1487 "Shorten paragraph width in Homepage header"
### Overview
We need to make the homepage paragraph less wide so that it aligns better with the main heading

### Action Items
- [ ] Review the 'before' (current) screenshot and the 'after' designs we are going for below (click arrows)
- [ ] Adjust the width of the header paragraph by adding a max-width: 740px property to the paragraph text class so that it will match the 'after' photo below

###

[2021-04-28 07:46] daniellex0 opened #1488 "Adjust Step 4 of Getting Started page"
### Overview
We need to adjust Step 4 of the Getting Started page to keep it up to date with current onboarding practices at HfLA

### Action Items
- [x] Review the changes to the Step 4 text in the annotated screenshot below
- [x] Replace "Project Lead" with **"Product Manager"** in # 1, per the screenshot
- [x] Replace "Admin a link to the Team Roster" with **"Product Manager your Github usernam

[2021-04-28 17:18] daniellex0 commented on #1483
Hey @qiqicodes , ok I think let's just keep the name of this ".filter-tag" because there is no point in renaming ".filter-item" everywhere it exists now in dropdowns, and ".filter-tag" does still make sense. But please do still change it from ".btn--current-projects-filter-tag" to just ".filter-item" and change it from button to div if possible :)

[2021-04-28 18:08] pascuas commented on #1249
@ExperimentsInHonesty
1. Progress- Starting
2. Blockers - None
3. Availability - Mornings
4. ETA - Friday

[2021-04-28 18:12] qiqicodes commented on #1483
@daniellex0, got it!

[2021-04-28 18:44] RobertaFricker opened #1489 "Issue #1048 completed, possible additional related change required"
### Overview
I added "& County" after LA City to LA City Attorney’s Homeless Engagement and Response Team.
Fixes Update Partner Information on HfLA Website: Heart #1048
However, shouldn't the content also be updated on the Project Card here:
"Heart is a project working directly with the **LA City** Attorney’s Homeless Engagement and Response Team. "
Please see screenshot below:
![image](https://us

[2021-04-28 20:45] qiqicodes commented on #1483
Progress: filter-tag is assigned. Figuring out the CSS to make sure the div's look like the current button's

[2021-04-28 21:23] #1335 closed, assigned to qaz6209031

[2021-04-29 00:29] #1444 closed, assigned to DGnzl

[2021-04-29 00:33] #1489 closed, assigned to RobertaFricker

[2021-04-29 00:57] #1475 closed, assigned to glenflorendo

[2021-04-29 02:08] qaz6209031 commented on #1481
Hello @averdin2 , I tried to reproduce the bug, but it seems ok for me. I used the exact screen size as you did.

![Screen Recording 2021-04-28 at 7 03 23 PM](https://user-images.githubusercontent.com/44656685/116494096-fa00ae80-a854-11eb-942e-ddd6dbafecfb.gif)

[2021-04-29 20:41] averdin2 commented on #1481
@qaz6209031 The problem should occur when you resize down from a desktop viewport into a mobile viewport. The issue is that the opened card has the arrow in the incorrect position.

[2021-04-29 20:45] averdin2 commented on #1481
@qaz6209031 You should also now have permission to the repo so you can assign yourself this issue if you want to work on it. Feel free to reach out to me on Slack if you have any other questions.

[2021-04-30 00:34] akibrhast commented on #1482
@qaz6209031 This is a great idea!
@daniellex0 Can the design team cook up something?

[2021-04-30 00:37] akibrhast commented on #1478
@jbubar What are the labels?Projects? and so on in regards to this issue?

[2021-04-30 01:22] RobertaFricker commented on #1413
Status and Blocker:
I have successfully copied 3 svg images for the Communities of Practice section.  I've added two of them to test.  I'm having issues getting space in between them per the localhost screenshot below:
![image](https://user-images.githubusercontent.com/81199122/116636622-8c1cbb80-a916-11eb-9d40-8e84c7a5a84a.png)

I wasn't able to add the svg using the `img` tag if it's in the _inc

[2021-04-30 02:59] ebele-oputa opened #1851 "Update Project Profile: Open Community Survey"
Action items reformatted by @Aveline-art

### Overview

As a product manager of Open Community Survey, I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/blob/gh-pages/_projects/open-community-survey.md

### Action Items

- [x] Update th

[2021-04-30 04:05] josiehandeveloper commented on #1462
Here are the changes I made
<img width="283" alt="Screen Shot 2021-04-29 at 9 04 03 PM" src="https://user-images.githubusercontent.com/63170710/116647092-96e34a80-a92e-11eb-8337-da018227d92e.png">

[2021-04-30 07:34] daniellex0 commented on #1482
Sure, I'll add UI/UX labels and see if anyone wants to take this on! Good idea @qaz6209031 ! 👍

[2021-04-30 16:37] #861 closed, assigned to averdin2

[2021-04-30 16:38] #1326 closed, assigned to Aveline-art

[2021-04-30 17:44] #1462 closed, assigned to josiehandeveloper

[2021-04-30 18:17] erikaBell commented on #1425
Going smoothly. I've been combining this ticket with wins mobile page ticket, since it was closely related anyway. Just have one more thing to do for mobile view. Have reached out to @jbubar for a bit of direction and am waiting to hear back.

[2021-04-30 19:38] ashleylin1 commented on #1079
Progress: Made changes to the slideshow based on feedback from Bonnie and Danielle
Next steps: same as what Danielle reiterated above about interviewing users
Blockers: none
Availability: after 5/14

[2021-04-30 19:43] ashleylin1 commented on #1379
Progress:
- Made changes to the slideshow based on feedback from Bonnie and Danielle
- slide was shared with Olivia for feedback
- moved to UX/UI folder on Google Drive

Next steps: waiting to receive feedback
Blockers: none
Availability: after 5/14

[2021-04-30 19:48] ashleylin1 commented on #815
Progress: made a copy of the page and created a version of the Impacts Page with card components from the library and fixed sizes
Next steps: need to create another version to compare against and continue working on a mobile version
Blockers: I will not be available this week; I might be able to get a little bit of work done after 5/7 but I will be mostly available after 5/14
Availability: after 5

[2021-05-01 00:16] #1393 closed, assigned to sanchece

[2021-05-01 01:16] daniellex0 opened #1497 "Add titles to Partners and Sponsors on About page"
### Overview
We need to add [title attributes](https://www.w3schools.com/tags/att_global_title.asp#:~:text=The%20title%20attribute%20specifies%20extra,validate%20on%20any%20HTML%20element) to the Partners and Sponsors logos on the [About page](https://www.hackforla.org/about/#partners) so that visitors can hover over to see the names of the organizations

### Action Items
- [ ] Review how to add [

[2021-05-01 01:25] daniellex0 opened #1498 "Fix alignment of News section in About page"
### Overview
We need to fix the News section of the About page so that it is properly aligned and closer to how it looks in the original Figma design

### Action Items
- [x] Review the original [Figma design of the About page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692) with the correct News section alignment (in pink rectangle all the way on bottom

[2021-05-01 01:34] daniellex0 opened #1499 "Standardize the Toolkit page header illustration in mobile"
### Overview
We need to make the Toolkit page header illustration smaller in mobile so that it matches the rest of the headers on the HfLA site and the design system

### Action Items
- [x] Review correct size of Toolkit page header illustration in mobile below (click arrows)
- [ ] Add max-width: 250px property to ".toolkit-svg" class in mobile (replacing the height property it has now)
- [ ] Make

[2021-05-01 05:55] shinhope commented on #1051
Progress: n/a
Blocks: midterm exams, busy week
Availability: next Tues-Thu
ETA: by next Friday

[2021-05-01 06:29] akibrhast commented on #1452
@daniellex0 This is a duplicate of https://github.com/hackforla/website/issues/1459
I am closing this.

[2021-05-01 06:29] #1452 closed, assigned to Linda-OC

[2021-05-01 21:46] averdin2 commented on #1441
So far, I am looking at using this GitHub [Action](https://github.com/marketplace/actions/lint-action#limitations). There seems to be a known issue with using Forks with this GitHub Action, so I need to look into it a little more.

As far as the linter itself, [Stylelint](https://stylelint.io/) seems like the way to go.

As far as the rules we should implement, no-duplicate-selectors, selector-pse

[2021-05-01 23:38] Aveline-art commented on #1374
@jbubar Hi! I've written some scribbles as a draft, but before I do too much work, I'd like to know more about this wiki.

1. How long/thorough do you expect it to be?
2. Who is the intended audience?

[2021-05-02 04:54] qiqicodes commented on #1483
Progress: The filter tags are buttons currently. Each filter tag appends directly after the unordered filter list. On Adidas website, their filter tags are populated within a div, and each filter tags are inside two divs, and each value of the filter tag is inside a span element.

Blockers: Should we change the current filter buttons to the span inside divs?

Availability: Open on Friday

ETA: Bas

[2021-05-02 07:45] Aveline-art commented on #1374
Progress: Currently working on first draft. About 50% complete.
Blockers: Waiting for answers to questions pertinent to the first draft (see above). Otherwise will continue complete first draft.
Availability: Will work on this for at least 3 days for 2 hours each.
ETA: Anywhere between 1-3 weeks.
Pictures: Not available for now.

[2021-05-02 08:45] glenflorendo commented on #1031
**Progress:**
Action Item 1: In progress. Most of the requested updates have been implemented.
Action Item 2: Not Started
Action Item 3: Not Started

**Blockers:**
1. Meeting times on the specific project page are fetched from the VRMS API. I asked Alex Anakin to help get this updated on their end.
2. Awaiting Engage project image-hero.

**Availability:**
I have a lot of time this week.

**ETA:**

[2021-05-02 10:29] abenipa3 commented on #1085
**Progress:**
- Discussed the Design System with Danielle + Gathered ideas for guide page designs.
- Able to include the arrow. Need to adjust it so it's inside the nav-bar box and that it highlights the sections when we scroll through the page.

<details><summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/38295612/116810033-41599a00-aaf6-11eb-9238-e3bb14a1dd64.png)

[2021-05-02 12:30] wendywilhelm10 commented on #1488
Progress: I created a PR but there were conflicts I needed to resolve.  I resolved them and thought I pushed my changes to my repository but not sure they are there.
Blockers: My lack of Git/Github knowledge.  I need help with help to resolve conflict.  I know what the code should look like.
Availability: This does not require a lot of time to complete.
ETA: If I don't get help before next Tuesday

[2021-05-02 16:12] #1463 closed, assigned to evancchen

[2021-05-02 16:20] erikaBell opened #1500 "Fix Expunge Assist image"
### Overview
Measurement issues with Expunge Assist image on front page & question to design team.

### Action Items

- [ ] Fix measurements on Expunge Assist photo
<details>
<summary>Measurement Issues</summary>

<img width="924" alt="Screen Shot 2021-04-30 at 10 48 16 AM" src="https://user-images.githubusercontent.com/67438372/116820031-cc9f5380-ab27-11eb-82e0-afcc608ff9c5.png">

</details>

- [

[2021-05-02 16:23] daniellex0 commented on #1135
Progress: Finished up and got approval for MVP desktop designs

Next Steps: Finish mobile design, and now need to also design the backend CMS (content management system) for this

ETA: 2 weeks

[2021-05-02 16:25] daniellex0 commented on #577
Progress: Met with Qiqi and Candace to continue dev documentation discussion, continued adding remaining pieces to design system including new components from new pages.

Next Steps: Finish dev documentation, finish standardizing layouts / misc cards / typography classes, finish implementing auto layout and componentizing design system.

ETA: 2 weeks (there is more to the dev documentation than ex

[2021-05-02 16:49] averdin2 commented on #1477
Bring this up during Sunday dev meeting

[2021-05-02 17:21] jbubar commented on #1477
@averdin2 @akibrhast @jbubar @erikaBell @Aveline-art @josiehandeveloper
Please bring this up in the backend meeting.

[2021-05-02 17:28] jbubar commented on #1483
@averdin2 and qiqi are going to work on this during the week. The goal is to change the `<button>` tag to a non button tag

[2021-05-02 19:43] jbubar commented on #1374
However thorough you think it deserves is the ultimate answer... but the main things that it needs is
1. how to inspect the pr
2. how to pull it to your machine and look at it on localhost
3. how to review
   - do not squash and merge
   - request changes/approve
   - how to comment on specific lines of code

The intended audience is the new developers on the team. we want new developers to be rev

[2021-05-02 23:34] BryonPm commented on #1031
Progress:
The Engage team will have a hero image selected by this Wednesday.

Blockers:
The team needs a couple of days to select an appropriate image for the hero.

Availability:
Mon. 7-9 CST
Thurs. 7-9 CST

ETA:
Wednesay

[2021-05-03 01:04] josiehandeveloper commented on #1481
https://user-images.githubusercontent.com/63170710/116833944-cc777600-ab70-11eb-85f8-fb5283745818.mov

It seems that this issue is fixed already

[2021-05-03 19:09] averdin2 commented on #1481
@josiehandeveloper Check the gif in the issue. This problem is specifically created when resizing from desktop into mobile view. Start in a desktop viewport and use the right navigation to go to any of the cards. Then resize the page and you should see the issue I am talking about. If you still have more questions, I can touch on it in Tuesday's meeting or you can reach out to me on Slack.

[2021-05-03 21:20] qiqicodes commented on #1115
@sena-ji Can you let us know your progress in regards to this issue? Thank you =]

Progress:

Blockers:

Availability:

ETA:

[2021-05-03 21:31] qiqicodes commented on #1390
@averdin2 @alyssabenipayo @jbubar Let us know your progress in regards to the documentation, thank you =]

Progress:
Blockers:

[2021-05-03 21:32] qiqicodes commented on #1383
@shinhope Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:
Availability:
ETA:

[2021-05-03 21:34] qiqicodes commented on #1378
@Lol-Whut Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-03 21:37] qiqicodes commented on #1289
@Rosalyn-broddie Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-03 21:38] shinhope commented on #1383
Yes.
Progress: messaged all PMs
Blockers: waiting for PMs of Engage, Lucky Parking, VRMS to reply
ETA: whenever they respond

[2021-05-03 21:41] qiqicodes commented on #1130
@akibrhast Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-03 21:46] qiqicodes commented on #950
@tarang100 Can you let us know your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-03 21:49] akibrhast commented on #1130
Progress: None
Blockers: Vrms,civictechindex
ETA: 2 weeks?

[2021-05-03 21:50] qiqicodes commented on #656
@christina245 Can you update us your progress in regards to this issue? Thank you =]

Progress:
Blockers:

[2021-05-03 23:34] #1487 closed, assigned to grhhhh

[2021-05-03 23:34] daniellex0 commented on #1487
This turns out not to be a problem on many people's browsers, and it's difficult to fix/not that important- so closing the issue

[2021-05-04 00:23] RobertaFricker commented on #1390
@averdin2 @alyssabenipayo @jbubar
I have removed myself from this assignment due to I've already put my document in Google docs for reference.  It contains all of the pertinent information that I feel is necessary to set up a successful development environment.  Here it is:
The Dev_Setup_Hackforla document is now in Google Docs share by everyone and here's the link:  https://docs.google.com/docume

[2021-05-04 00:27] averdin2 commented on #1390
My updates to the Contributing doc: https://github.com/hackforla/website/pull/1471#issuecomment-831615556

[2021-05-04 08:04] daniellex0 opened #1504 "Add Wins page badge icons to Credits page"
## Dependencies
#1425

### Overview
We need to add the icons from the new Wins page badges to the Credits page so that we are following the image use requirements

### Action Items
- [ ] Review the icons and vector image that need to be credited on the Figma file for the Wins page - they are all on the bottom right in a green rectangle (to the right of the large blue rectangle)
- [ ] Add all of th

[2021-05-04 08:08] daniellex0 opened #1505 "Add Toolkit page header illustration to Credits page"
### Overview
We need to add the vector illustration from the [Toolkit page](https://www.hackforla.org/toolkit/) header to the [Credits](https://www.hackforla.org/credits/) page so that we are following the image use requirements

### Action Items
- [x] View the image credit information in the comment below (scroll down)
- [x] Add the credit information to the Credits page

### Resources/Instructio

[2021-05-04 08:11] daniellex0 commented on #1505
Name: Designer life

Used in: Toolkit

Artist: stories

Provider: Freepik

(original image link: https://www.freepik.com/free-vector/designer-life-concept-illustration_7118651.htm#page=6&position=43)

[2021-05-04 08:24] daniellex0 opened #1506 "Add Communities of Practice page header illustration to Credits page"
### Overview
We need to add the vector illustration from the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) header to the [Credits](https://www.hackforla.org/credits/) page so that we are following the image use requirements

### Action Items
- [x] View the image credit information in the comment below (scroll down)
- [x] Add the credit information to the Credits

[2021-05-04 08:25] daniellex0 commented on #1506
Name: Teamwork

Used in: Communities of Practice

Artist: freepik

Provider: Freepik

(original image link: https://www.freepik.com/premium-vector/teamwork-concept-landing-page_5168259.htm#page=1&query=team%20work&position=0)

[2021-05-04 08:28] daniellex0 opened #1507 "Add Program Areas page header illustration to Credits page"
### Overview
We need to add the vector illustration from the [Program Areas page](https://www.hackforla.org/program-areas) header to the [Credits](https://www.hackforla.org/credits/) page so that we are following the image use requirements

### Action Items
- [ ] View the image credit information in the comment below (scroll down)
- [ ] Add the credit information to the Credits page

### Resources

[2021-05-04 08:29] daniellex0 commented on #1507
Name: Scrum Board

Used in: Program Areas

Artist: stories

Provider: Freepik

(original image link: https://www.freepik.com/free-vector/scrum-board-concept-illustration_7230633.htm#page=4&position=7)

[2021-05-04 08:39] #1249 closed, assigned to ggrrettcchhenn, pascuas

[2021-05-04 08:42] daniellex0 commented on #1500
@ggrrettcchhenn can someone from your team please provide a new image with the correct measurements for Expunge Assist's project card and post it in a comment below?

The one provided [in your original issue](https://github.com/hackforla/website/issues/1249) doesn't have the right standard measurements, as you can see in the screenshot below-

It should be **600x400 pixels**

Thank you!

<img widt

[2021-05-04 20:52] #1488 closed, assigned to wendywilhelm10

[2021-05-04 21:10] #1499 closed, assigned to grhhhh

[2021-05-04 22:35] averdin2 commented on #1441
ETA: I probably won't have another update for this until Thursday.
Progress Plan: I am planning on implementing this GitHub Action in my own repo, and I also want to attend the GitHub actions talk during the Engineering COP meeting on Wednesday to get some more knowledge on using GitHub actions.

[2021-05-04 23:10] sena-ji commented on #1115
@qiqicodes
Progress: Same as last time. Need to get this part done: How to make the 12px font on mobile to 1 rem.
Blockers: Catching up with some work for school. Haven't been able to make progress on this issue.
Availability: Will finish up this issue by Wednesday 5/5 when I turn in my last school project.

[2021-05-04 23:11] josiehandeveloper commented on #1481
https://user-images.githubusercontent.com/63170710/117080641-24d68100-acf3-11eb-9f01-94cabd93c7c3.mov

The issue seems like it's fixed! Whoo @averdin2

[2021-05-05 00:16] sena-ji commented on #1115
- Finished editing card heading font size and font weight.
- Added border-radius to mini project cards
- Added forcer-radius to only top of mini project cards photos to match cards
- Made the 12px font in mobile version to 16px
- Adjusted the border radius for column-card-lg--events
 **This change was already made previously**

[2021-05-05 01:59] Lol-Whut commented on #1378
Progress: Partway through assembling a list of all instances of raw colors (see link below for progress)
Blockers: Taking a while since we have several scss files
Availability: Much free-er this week!
ETA: Will finish assembling instances in next two days and loop in a designer to choose variable names; then will have a better understanding of how long it will take to cover the rest of the issue.

[2021-05-05 02:11] Lol-Whut opened #1510 "Fix CSS on Toolkit page"
### Overview
There's a CSS bug on the toolkit page and it doesn't look right. Stuck in mobile view -- check out toolkit-flex-container as possible culprit?

### Action Items
- [ ] compare the page and the Figma
- [ ] find bug (it's stuck in mobile view for some reason)
- [ ] fix bug :)

### Resources/Instructions
Page: https://www.hackforla.org/toolkit/
Figma (see pink rectangle): https://www.figm

[2021-05-05 02:12] daniellex0 opened #1511 "Remove a link from Getting Started page"
### Overview
We need to remove a "volunteer opportunities" link from the Getting Started page because it leads to a link that is not clear enough

### Action Items
- [x] View which link to remove from the [Getting Started page](https://www.hackforla.org/getting-started) in the screenshot below (it is the "volunteer opportunities" link under "Join a Community of Practice")
- [x] Remove the link (ke

[2021-05-05 02:20] Lol-Whut opened #1512 "Change name of Record Clearance markdown file"
### Overview
Change name of record-clearance.md to expunge-assist.md

### Action Items
- [x] change name of file from record-clearance.md to expunge-assist.md
- [x] run site locally and make sure nothing is broken
- [x] reference contributing file (see below) to make a pull request

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/_projects/record-clearance-project.md

[2021-05-05 04:29] abenipa3 commented on #1085
We have a feasible version of it. We are just waiting/working on the design to implement it on the site.

[2021-05-05 04:29] #1085 closed, assigned to nobody

[2021-05-05 06:47] abenipa3 opened #1515 "Create mobile version of the Guide Pages and ensure responsiveness"
### Dependency
- [x] #2978
- [ ] #3170
- [x] ~Mobile navigation audit. #2190~
- [x] https://github.com/hackforla/website/issues/1630

### Overview
We learned that Jekyll is a feasible option because it can render Markdown files into HTML as seen in #1085.

Now we need to create a mobile version of it and ensure that the codes are responsive on all screens.

### Action Items

- [x] Create a mobile

[2021-05-05 23:52] #1457 closed, assigned to grhhhh

[2021-05-06 00:04] erikaBell commented on #1061
@jbubar Is this still needed or outdated?

[2021-05-06 11:16] #1481 closed, assigned to josiehandeveloper

[2021-05-06 19:34] averdin2 opened #1519 "Remove record-clearance-hero.png from assets folder"
### Overview
The name of Record Clearance Project was changed to Expunge Assist. As a result, we also added new images to the project and the old images are no longer needed.

### Action Items
- [x] Remove record-clearance-hero.png file from assets folder
- [x] Run site locally and make sure nothing is broken
- [x] Reference contributing document (see [here](https://github.com/hackforla/website/bl

[2021-05-06 20:00] #1512 closed, assigned to jamesberke

[2021-05-06 22:39] erikaBell opened #1521 "Events page: prevent items from being "hidden""
### Overview
Starting at window size 1117 through to mobile view, event card items begin to get _hidden_.

<details>
<summary>Event Card Items Hidden</summary>

<img width="590" alt="Screen Shot 2021-05-06 at 3 26 00 PM" src="https://user-images.githubusercontent.com/67438372/117373732-ae678980-ae80-11eb-88be-7acf9185b8c9.png">

</details>

### Action Items

- [ ] refer to [Figma](https://www.figm

[2021-05-06 23:27] jamesberke commented on #1505
The toolkit page seems to be pulling this image from _includes/svg/toolkit-hero.svg but all other images on the credit page have a path through assets/images/...

from what I can tell the _includes path will not work. Do we need to save this image in the assets/images folder? @averdin2

[2021-05-06 23:41] #1497 closed, assigned to Linda-OC

[2021-05-07 02:01] josiehandeveloper commented on #1374
Hey Ava I created this google doc for myself, but I'm sure it can help others and this write up
[Writing Reviews](https://docs.google.com/document/d/1jWjqWlgrZlFneD1h74vn-aqFjvtZCT9BySFMbEIIKPU/edit?usp=sharing)

[2021-05-07 02:02] averdin2 commented on #1505
@jamesberke That is a good question. I will bring it up during today's backend meeting briefly and get back to you on what to do.

[2021-05-07 02:37] Aveline-art commented on #1374
@josiehandeveloper This looks great! Would you happen to be okay with me lifting these images into the wiki? I was just starting to collect and include them!

[2021-05-07 02:45] josiehandeveloper commented on #1374
Yeah! feel free to take images

[2021-05-07 03:16] grhhhh opened #1524 "Fix Public Tree Map Link on Events Page"
### Overview
Link the Public Tree Map page to it's Link on the Events page.

### Action Items

- [x] View which link needs to be altered on the [Events page](https://www.hackforla.org/events/) in the screenshot below
- [x]  Add public Tree Map link address (https://www.hackforla.org/projects/public-tree-map) to the Public Tree Map link tags in our-locations-content.html
- [x]  Run site locally to

[2021-05-07 07:31] abenipa3 opened #1525 "Design HfLA Guide Pages"
### Overview
We learned that Jekyll can render Markdown files into HTML as seen in #1085. We'll now design the pages.

### Action Items
- [x] Create wireframes for Guide Pages.
- [x] Consult with the design team.

### Resources/Instructions
[Hack for LA Guide Pages as Reference](https://www.hackforla.org/toolkit/)
[Hack for LA About Page as Reference](https://www.hackforla.org/about/)
[Alyssa's Re

[2021-05-07 07:36] qiqicodes opened #1526 "Rewrite Alt Text for yml files in "./_data/internal/credit" directory"
### Overview
Audit and rewrite the alt text for yml files in "./_data/internal/credit" directory. "Image of" is not necessary.

### Action Items
- [x] remove "image of"
- [x] rewrite descriptive alt text accordingly for the following yml file
   - [x] act.yml
   - [x] brochure.yml
   - [x] building.yml
   - [x] business.yml
   - [x] button.yml
   - [x] calendar-time.yml
   - [x] check.yml
   - [x]