[2021-01-25 03:10] KianBadie commented on #615
To follow up on my earlier comment, I think I have wrapped things up with the code base. If I have the desire, I might come back and touch things up for fun. But for the time being, I am calling it a day on that package. If there is anything broken with it however that I did not catch, I would be more than happy to tend to that and fix whatever is broken! As always, please let me know when work is

[2021-01-25 03:18] drubgrubby commented on #851
As it turns out, the PR that I made for this before I was out got merged.  I had assumed that it was just closed because I was out.  My bad for not confirming that.

But also good because I was going to do this anyway.  The PR that was closed took care of all of the design things that were on this issue.

I was also trying to do some JavaScript fixes, but I'll create a new issue for those.

Thank

[2021-01-25 03:18] #851 closed, assigned to drubgrubby

[2021-01-25 03:24] drubgrubby commented on #863
@ExperimentsInHonesty -> We need to get the correct hyperlink for each of the partners so we can make their images into hyperlinks on the about us page.  Who should this get assigned to? (By "who" i mean, project manager? Designer? Developer? )

[2021-01-25 03:37] drubgrubby opened #966 "About-us: Fix accodion bug on resize"
### Overview
When the page is loaded in mobile view, the accordion works.  However, if you then expand the page clicking on the section heading closes the section.

<img width="1056" alt="Screen Shot 2021-01-24 at 7 34 22 PM" src="https://user-images.githubusercontent.com/68244054/105658413-436ae780-5e7b-11eb-82d2-10f161dbaa57.png">

Similarly, if you load the page in desktop and then resize the p

[2021-01-25 03:57] drubgrubby opened #967 "About us: Recalculate navigation links"
### Overview
When the page is loaded in mobile view the link locations are calculated based on the location of the closed accordion.  If the page is then expanded to desktop the navigation links do not highlight correctly when scrolling.

As you can see on the below image, the highlighted link is "Partners" but the displayed section is "Platform"

<img width="1168" alt="Screen Shot 2021-01-24 at 7

[2021-01-25 04:07] drubgrubby opened #968 "About us: Fix nav not sticking on resize"
### Overview
When the page is loaded on mobile, in certain situations, and then expanded to desktop, the sticky nav doesn't stick where it's supposed to.   I believe this has to do with the calculation of the top of the page.

<img width="1188" alt="Screen Shot 2021-01-24 at 8 03 00 PM" src="https://user-images.githubusercontent.com/68244054/105660297-9181ea00-5e7f-11eb-8f65-b1794b638f74.png">

##

[2021-01-25 13:56] tarang100 opened #969 "Order Issues on the Project Board Columns based on function"
### Overview

- We need to arrange all Issues on the HfLA Website Project Board based on the function, in order to speed up discussions during the weekly team meetings
- We need to adhere to the following order when arranging Issues for Project Board columns titled as "Ice Box", "Prioritized Backlog", "In Progress", and "Links / Questions / In Review"
   - Development
   - Design
   - Product Mana

[2021-01-27 01:57] ExperimentsInHonesty commented on #1033
New PMs are @BryonPm @ktjnyc Alex Arballo

[2021-01-27 03:17] #830 closed, assigned to ItsLaszlo

[2021-01-27 03:51] #955 closed, assigned to Treidexy

[2021-01-27 16:34] pawan92 commented on #867
Progress: Reached out to website slack for food oasis meeting for yesterday got no response. I couldnt find the food oasis slack channel but adhi was able to tell me this morning so i will aggressively pursue getting this sorted out asap
Blockers: Food oasis team as tarang outlined
Availability: Yes
ETA: Sunday

[2021-01-27 16:42] tarang100 commented on #969
Since all new issues, irrespective of the creator or the label, are automatically added to the bottom of the columns, regular review of the Project Board is necessary to maintain the sanctity of the above-mentioned structure. As PMs it is our responsibility to do these reviews and add a comment below to specify when was the Project Board last arranged and by who.

[2021-01-27 17:00] ahdithebomb commented on #859
The same updates apply as of Sunday.

[2021-01-27 17:00] ahdithebomb commented on #799
The same updates apply as of Sunday.

[2021-01-27 17:01] ahdithebomb commented on #707
The same updates apply as of Sunday.

[2021-01-27 17:01] ahdithebomb commented on #618
The same updates apply as of Sunday.

[2021-01-28 21:54] trtincher commented on #752
@ExperimentsInHonesty It is unclear to me where to find the links for <a> tags and buttons.

[2021-01-29 00:59] mariastudnicka opened #973 "Finalize Use Stories"
### Overview
Persona development is driving our user stories. Our version is Work In Progress.

We need to complete our existing list of user stories so that we can capture all site requirements.

### Action Items
We need to finalize our existing personas needs and pain points.
- [ ] Create a survey for distribution.
- [ ] Gather email distribution list for proto-persona segments: Leaders of Paren

[2021-01-29 01:16] #973 closed, assigned to nobody

[2021-01-29 01:16] mariastudnicka commented on #973
Added this Issue to the wrong repo. : <

[2021-01-29 03:31] danyc23 commented on #954
Changed the Demo link text to Demo Site for the Undebate profile page
Changed the role text in the Undebate profile page.
Changed the description of the Undebate project on the Undebate profile page.
![Screen Shot 2021-01-28 at 6 10 08 PM](https://user-images.githubusercontent.com/42159475/106228024-50e7e080-619f-11eb-93aa-513f8a8d55e6.png)
![Screen Shot 2021-01-28 at 7 19 29 PM](https://user-imag

[2021-01-29 03:35] ddfridley commented on #954
Looks Great!

[2021-01-29 15:14] ktjnyc commented on #1033
Need to update:

- Slack: #engage

- Meeting: Sunday 4 PM PST; Wednesday 6 PST

- Leadership - Remove Teddy and update to the following
  Name: Alex Arballo
  Role: UI/UX Designer
  Slack: @alex arballo
  Github: arballoalex

  Name: Bonnie Wolfe
  Role: Agile Coach
  Slack: @bonnie
  Github: ExperimentsInHonesty

  Name: Ryan Mayott
  Role: UI/UX Designer
  slack: @Ryan mayott
  github: rmayott

[2021-01-29 19:30] daniellex0 opened #976 "Change .page-card classname"
### Overview
We need to change the current .page-card classname (that is attached to the About Us page) to any different temporary name so that page cards can be standardized across the site.

### Action Items

- [x] Change .page-card classname in sass > elements > _cards.scss file to any other name

### Resources/Instructions
[Cards scss file](https://github.com/hackforla/website/blob/gh-pages/_s

[2021-01-30 06:50] tarang100 commented on #950
**Update**

Please see the following list for information on Meeting Links _**mapped incorrectly**_ on the HfLA Events Page

   - [ ] Monday 12:30 am - 2:30 am Hack for LA Marketing Team - Leads to [HfLA Website Project Page](https://www.hackforla.org/projects/website)
      - [ ] Time
      - [ ] Name
      - [x] Link resolves to
      - [ ] Needs to be removed from site
   - [ ] Tuesday 7:00 am

[2021-01-30 18:41] DanielekPark commented on #904
1. Added the information to the writeforall file
2. Encountered problems with git unsure whether if correct commands were used
3. Currently my time is flexible to address current issue
4. Issue can probably be resolved tomorrow

[2021-01-31 01:33] samantha-yee11 commented on #963
![Updated Sitemap](https://user-images.githubusercontent.com/55968286/106372107-3fc6dd00-6321-11eb-9206-b55ec6fb99d0.png)

[2021-01-31 01:39] samantha-yee11 commented on #963
I've updated the Sitemap and added screen shots of live pages to their drafts. I have a few notes and questions:

- It looks like the Connect toolbar link should be renamed to "Join Us". Join us page is ready for development.
- I changed all of the guides under the Toolkit tab to the ones consistent with the guides live but not yet linked on the current Toolkit page. Please review to make sure the

[2021-01-31 01:39] samantha-yee11 commented on #963
**Ready to review with Product Team**

[2021-01-31 03:55] drubgrubby commented on #976
At Danielle's request, I commented out the page-card class.  The about-us page was not using this class.

A Pull Request has been created.

[2021-01-31 05:06] ahdithebomb commented on #799
Progress: Meeting table is finalized.
Blocks:  Communication/Coordination with the other PMs.
Availability: Flexible next weekend depending on the additional changes that need to be made based on feedback.
ETA: End of this upcoming week.

[2021-01-31 05:28] ahdithebomb commented on #859
Progress: The survey went through another revision.
Blocks: Unclear on what the next steps are
Availability: I Will coordinate with @nielseny to make the necessary revisions.
ETA: I Will provide an update on what the next steps are mid-week

[2021-01-31 08:01] ahdithebomb opened #979 "Update Project Profile Picture: Hack For LA"
### Overview
We need to update the picture for the HfLA Website team on the projects so that we can maintain a consistent picture quality across all the teams.

### Action Items
- [ ] First, UX/UI & Product need to align on the type of picture that we want to have.
- [ ] UX/UI will bring a couple of options as far as possible new pictures to choose from/
- [ ] Last, a picture is finalized among te

[2021-01-31 09:15] abenipa3 commented on #794
Progress: Stabilized arrows. Need to resize text.
Blocks: Text spreads over the grey area as seen below. Still experimenting with font-size till the issue resolves.
Availability: Open on Monday, Tuesday, and Wednesday.
ETA: GitHub Issues 2/2. Wiki Page - TBD
![image](https://user-images.githubusercontent.com/38295612/106379587-d1eed580-6361-11eb-81af-a721328ce36e.png)

[2021-01-31 15:29] pawan92 commented on #577
@daniellex0 Any updates?
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:31] pawan92 commented on #759
@daniellen00 Any new updates:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:32] pawan92 commented on #632
@christina245 Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:33] pawan92 commented on #936
@rh5140  Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:34] pawan92 commented on #595
@martham0 Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:35] pawan92 commented on #752
@trtincher  Could you please update:
Progress: Done except for links
Blockers: Unsure of where to find all the links
Availability: Weekday evenings and Sunday
ETA: 2/1/2021 (if blocker is addressed)

[2021-01-31 15:37] pawan92 commented on #954
@danyc23  Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:38] pawan92 commented on #960
@TeddyTelanoff  Could you please update:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:41] pawan92 commented on #209
Update:
Document is ready for another round of reviews. All the previous comments were addressed.

[2021-01-31 15:45] pawan92 commented on #939
@matthewlee626 Any updates?
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 15:48] pawan92 commented on #885
Update:
LA TDM Calculator: Reached out to Kevin regarding updating members on page accurately. Waiting for reply.
Lucky Parking: Done
New Schools Today: Project status needs to be changed to "On Hold" Created a ticket for this: https://github.com/hackforla/website/issues/955

[2021-01-31 15:56] pawan92 commented on #867
Update:
Progress: Will attend this weeks Food oasis meeting. Did not get the meeting notice in time for last week. Have also reached out to jenny.
Blockers: Food oasis team as tarang outlined
Availability: Yes
ETA: 2/2/21

[2021-01-31 17:17] tarang100 commented on #1033
@ktjnyc thanks for the update! Could you also provide details on the following items, as mentioned in your comment?

[2021-01-31 17:22] drubgrubby commented on #968
### Progress
Just getting started...so, none.

### Blockers
None, except perhaps my inability to figure out what's going on and fix it.

### ETA
Tuesday 8:03pm

[2021-01-31 17:33] ahdithebomb commented on #707
Progress:  Added some screenshots & @daniellen00 added some more commentary about image types.
Blocks: Not sure where to place the md instructions in the team wiki.
Availability: I Will coordinate with @daniellen00 and make necessary updates.
ETA: End of this upcoming week.

[2021-01-31 17:37] #976 closed, assigned to drubgrubby

[2021-01-31 17:41] daniellex0 commented on #958
Progress: Almost finished with this, but figuring out some responsiveness issues. I prioritized designer-facing aspects of the design system this week because of all of the new designers, while I gauge what works/doesn't work for the devs that are working on new pages/testing my design system classes

Next Steps: Figure out remaining issues and push

[2021-01-31 17:52] daniellex0 commented on #577
Progress: Close to finished with standardizing cards and page layouts (finished adding mobile), joined Oskar's presentation about Figma this week and I implemented Figma Styles based on design system/am starting to implement components, close to finished standardizing page card code across the site.

Next Steps: Finish implementing page card standardization across site, finish layouts and cards, s

[2021-01-31 17:54] ItsLaszlo commented on #595
Progress: The sitemap page has been finished. Need someone to review.
ETA: 2/2

[2021-01-31 17:59] matthewlee626 commented on #939
Completed all the required revisions. I  had some wording confusion that is listed on the PR, which below for convenience.

_Updated all the info; wasn't sure whether leadership that was not mentioned should be removed or left in the list. I ultimately deferred to the latter. All other revisions were quite clear and were updated per specification._

[2021-01-31 18:07] jbubar commented on #162
progress: made some progress on the new design with the badges
blocks: time
availability: limited
ETA: by next meeting for sure
Here is where its at:
![Screen Shot 2021-01-31 at 3 43 05 AM](https://user-images.githubusercontent.com/53061723/106393486-35055a00-63ac-11eb-8b94-ff7c2bf8f903.png)

still need to do some styling, and hook up the github contributor

[2021-01-31 18:27] ahdithebomb opened #981 "Wins Page Badge Icon Visibility"
### Overview
We need to modify the wins page so that there is at least a single badge is visible on the wins page per individual without having to double click on a person.

### Action Items
- [x] First, the UX/UI team will figure out what's possible.
- [x] Next, need to align and finalize/coordinate across stakeholders what the new badge will look like.
- [x] Once designed is finalized please upd

[2021-01-31 18:28] jbubar commented on #937
@gregpawin
Any updates on the Demo site, and site links?
I am merging the other changes, When you send the site links, please @ me so that I can make a new issue

[2021-01-31 18:29] tarang100 commented on #678
@dmcneary please share the update

[2021-01-31 18:33] ashleylin1 commented on #918
Progress: Updated design on Figma with fixed copy and currently adding reviewers to look over the page
Blockers: None
Availability: Weekdays after 4pm
ETA: 1 week

[2021-01-31 18:46] ahdithebomb commented on #618
Progress: Didn't have a chance to identify any net new ideas.
Blocks: None
Availability: Weeknights and weekend.
ETA: End of this upcoming week.

[2021-01-31 18:49] trtincher commented on #752
Links for page:

- Bonnie should link my LinkedIn which is https://www.linkedin.com/in/bonnieawolfe/
- Send an email to civic opportunity team should go to civicopportunity@hackforla.org
- Change Volunteer Work on a project (each one should be a link to the appropriate filtered list)
- Partner with us is currently on the home page, so you can follow what is there (Patner with us is currently on th

[2021-01-31 18:51] tarang100 commented on #632
@christina245 will add the link to  the deck with the speakers notes

[2021-01-31 18:59] tarang100 commented on #918
The PM team will review the misc labels and update the language. And @ashleylin1 will update the images not to have the lines from the screenshots

[2021-01-31 19:24] tarang100 commented on #963
- The metrics dashboard is hackforla/dashboard
- Credits link appearing on footer needs to be designed. Status should be changed to "Ready for Ideation"
- PMs will provide a chart with guide status https://github.com/hackforla/website/issues/982
- Connect is changing to Join Us

[2021-01-31 19:30] ahdithebomb opened #982 "Guide Status Creation"
### Overview
We need to create a guide status so that we can keep track of the progress on each guide to maintain alignment.

### Action Items
- [ ] First, we need to create a spreadsheet to track all the guides and finalize a format for data collection
- [ ] Next, we need to gather all of the guide information based on the selected format
- [ ] Then, a updated cadence needs to be finalized.

###

[2021-01-31 19:47] samantha-yee11 commented on #963
Changes updated. Waiting on guide statuses.

[2021-01-31 19:48] #907 closed, assigned to y20s

[2021-01-31 20:08] matthewlee626 commented on #939
@Olivia-Chiong Could you verify that the names not mentioned should be retained?

[2021-01-31 20:14] ashleylin1 commented on #918
Progress: images have been reuploaded without the lines between them.
Blocker: need the role label "UX" to be changed to "Role: UX"

[2021-01-31 20:16] Olivia-Chiong commented on #939
Names not mentioned should be left as is. Thanks!

[2021-01-31 20:25] #939 closed, assigned to matthewlee626

[2021-01-31 20:39] ExperimentsInHonesty commented on #937
This issue never got moved to the in progress, which means it skipped the weekly meeting update.
When the pull was done, the text ```Fixes #937``` was not added to the description and so it didn't close the issue
Then because the issue was not closed, evan unassigned himself from it and it remained open and in the prioritized backlog.

[2021-01-31 20:42] ExperimentsInHonesty commented on #937
@gregpawin I have vetoed the language change from

to

Unclear why you want the language change it seems like a change of purpose for the team.  We need to talk directly about that if that is going to happen and it would need to be reflected in a new proposed version of the project one sheet, etc.

[2021-01-31 20:42] #937 closed, assigned to nobody

[2021-01-31 20:42] jbubar commented on #937
@ExperimentsInHonesty The issue is unfinished, because all the links were not provided. It was left open on purpose.  We were planning on waiting on a response from @gregpawin

[2021-01-31 20:46] gregpawin commented on #937
The demo site is http://www.luckyparking.info. But it’s currently under
development. Not sure if we necessarily want to publish it anywhere.

On Sun, Jan 31, 2021 at 12:43 PM Josh Bubar <notifications@github.com>
wrote:

[2021-01-31 20:59] gregpawin commented on #937
We can keep the original language: Visualization of parking data to assist in understanding of the effects of parking policies on a neighborhood by neighborhood basis in the City of Los Angeles.

[2021-01-31 21:02] gregpawin commented on #937
Also, I'd like to update the Project leadership:
# Project Leadership:

Product Owner / Data Science Lead: Greg Pawin
https://hackforla.slack.com/team/UUEQF3AJG
gregpawin

Product Manager: Abhinav Bommakanti
https://hackforla.slack.com/team/U01EW24KL3V
abhib87

UI/UX Lead: Jacob Zwang
https://hackforla.slack.com/team/USM20BUFP
JacobZwang

Full-Stack Developer Lead: Matthew Ginther
https://hackforl

[2021-01-31 23:30] rh5140 commented on #936
Sorry for late update :(
Progress: None.
Blockers: Lack of time HAHAHAHA
Availability: Nope :( two midterms this week
ETA: If I still can't find to work on the issue next week, I will ask to be taken off the issue :( I _want_ to be able to work on it but it would be bad if I kept holding onto it when I don't have the time to do it... I will be smarter about choosing classes next quarter.

[2021-02-01 01:19] #954 closed, assigned to danyc23

[2021-02-01 01:38] #904 closed, assigned to DanielekPark

[2021-02-01 01:47] jbubar opened #984 "update luckyparking project md"
### Overview
Make updates requested [here](https://github.com/hackforla/website/issues/937#issuecomment-770448037)... at the end of this closed issue

### Action Items
- [ ] change description to: "Visualization of parking data to assist in understanding of the effects of parking policies on a neighborhood by neighborhood basis in the City of Los Angeles."
- [ ] update project leadership outlined

[2021-02-01 17:28] drubgrubby commented on #905
@ahdithebomb  - Engage already has 'Vertical' listed as 'Citizen Engagement'.  Can you please respond to @mcspach and let him know if that should be changed to 'Environment' or left as-is (or let him know who to contact to find out). Thanks.

[2021-02-01 21:15] dmcneary commented on #678
2/1 update:
Progress: HTML marked up, still working on CSS
Blockers: schoolwork, and puppies
Availability: mornings
ETA: hopefully 2/7, if not 2/9

[2021-02-02 14:03] ktjnyc commented on #1033
Progress:
      Change needed:
      - Technologies: React, Node.js, PostgreSQL, MongoDB

     No change needed:
      - Github
      - Location
      - Status
      - Tools
      - Site

Blocks:
Still to review/confirm with the team (will discuss at next team meeting on Wednesday evening):
      - title
      - description
      - image
      - Test Site
      - Demo Site
      - looking
      -

[2021-02-02 16:01] trtincher commented on #752
@ExperimentsInHonesty Should I add the site link to the navbar to replace connect now. Or should the site be reviewed and live first?

[2021-02-02 23:11] ahdithebomb commented on #905
@mcspach & @drubgrubby this was an error on my end.
Please disregard engage and continue on.

[2021-02-03 03:20] drubgrubby commented on #905
Putting issue in icebox until climate-collabathon and RailstatsLA are created.

[2021-02-03 03:25] #968 closed, assigned to drubgrubby

[2021-02-03 03:43] #895 closed, assigned to thatguyish

[2021-02-03 05:12] ExperimentsInHonesty opened #989 "Update the TDM Calc project card"
### Overview
We need to update the TDM calc project so that it properly represents the current state of leadership and open roles, etc so that new people coming to the site can join the project or get current status.

### Action Items
- [x] Development
   - [x] See issue https://github.com/hackforla/product-management/issues/37 for update details

### Resources/Instructions
_projects/tdm-calculato

[2021-02-03 05:28] ExperimentsInHonesty opened #990 "Update the Civic Tech Index project with a link to their overview (one sheet)"
### Overview
We need to add a link to the Overview for the Civic Tech Index to its project.md file

### Action Items
- [x] Add link to Overview document in card.
- [x] Confirm that it is showing up at the bottom
- [x] Add a screenshot to this issue in the comments

### Resources/Instructions
Civic Tech Index Overview: https://github.com/civictechindex/CTI-website-frontend/blob/main/Civic-Tech-Inde

[2021-02-03 05:40] ExperimentsInHonesty opened #991 "Update the 100 Automations with a link to their overview (one sheet)"
### Overview
We need to add a link to the Overview for the 100 Automations to its project.md file

### Action Items
- [x] Add link to Overview document in card.
- [x] Confirm that it is showing up at the bottom
- [x] Add a screenshot to this issue in the comments

### Resources/Instructions
100 Automations overview: https://github.com/100Automations/Website/blob/master/100-Automations-Project-One-

[2021-02-03 06:40] ExperimentsInHonesty opened #992 "Create a Project Card for Open Community Survey"
### Overview
Create a website for the Open Community Survey

### Action Items
- [ ]  Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  A

[2021-02-03 17:09] #991 closed, assigned to akibrhast

[2021-02-03 17:32] tarang100 commented on #969
Project Board arranged by @tarang100 on 03rd Feb 2021 at 23:01 (IST) / 9:32 (PST)

@pawan92 please review and arrange the Project Board before Sunday's meeting

[2021-02-03 17:53] ExperimentsInHonesty commented on #188
Finished https://docs.google.com/presentation/d/1LHtvnHb35Sw7cHzk8RYJG4a1U9RblZepsC3wL7ZEpV0/edit#slide=id.g5e46fb07f1_0_1

[2021-02-03 17:58] #188 closed, assigned to ExperimentsInHonesty

[2021-02-03 18:30] tarang100 opened #994 "Create Project Card for Climate Project"
### Dependency
Issue: https://github.com/hackforla/climate-project/issues/3

### Overview

We need to make a project card so that this Project's details show up on the HfLA website

### Action Items

- [ ] Development
   - [ ] Get details from Resources below
   - [ ] Create [PROJECT-NAME].md file using details
   - [ ] Add images to appropriate assets folder

### Resources/Instructions
- [Details

[2021-02-03 18:55] tarang100 opened #995 "Update Project Profile: BallotNav"
### Overview
As the product manager of BallotNav I need to make sure that my project is up to date on the HfLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/ballot-nav.md

### Action Items

- [ ] BallotNav Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments be

[2021-02-03 19:32] tarang100 opened #996 "Update Project Profile: VRMS"
### Overview
As a product manager of VRMS I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/vrms.md

### Action Items

- [ ] VRMS Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] t

[2021-02-03 19:52] ahdithebomb opened #997 "Update Project Profile: Write For All"
### Overview
As a product manager of Write for All I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/writeforall.md

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information i

[2021-02-03 20:02] ExperimentsInHonesty commented on #918
@ashleylin1 I changed it to role: UX - about half were one way and the other half the other way (cap and no cap).  So now they are all lowercase, if you think that was the wrong decision, please let me know.

[2021-02-03 20:07] tarang100 commented on #890
Flowchart reviewed with Bonnie in the PM Meeting on 3rd February 2021 and added to the Kanban Guide Document post Bonnie's approval

[2021-02-03 20:07] #890 closed, assigned to tarang100

[2021-02-03 20:14] #885 closed, assigned to pawan92

[2021-02-03 20:16] pawan92 commented on #209
Reached out to Alex lee from Home unite us and Jegede

[2021-02-03 23:42] thatguyish commented on #990
<img width="1280" alt="Screen Shot 2021-02-03 at 6 00 59 PM" src="https://user-images.githubusercontent.com/45778144/106823815-90a34200-664f-11eb-815e-716008328f8a.png">

[2021-02-03 23:55] ExperimentsInHonesty opened #999 "Update Project Profile: BallotNav"
### Overview
We want the BallotNav project to have a link to their project overview (one sheet) so that people who want to an overview of the project have access to one quickly.

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects/ballot-nav.md

### Action Items
- [ ] Add link to Overview document in card.
- [ ] Confirm that it is showing up at the bottom
- [ ] Add a scre

[2021-02-04 00:16] ExperimentsInHonesty commented on #831
@drubgrubby @jbubar can you both look at this issue and after discussion figure out next steps.

[2021-02-04 00:37] ExperimentsInHonesty commented on #854
I reverted back to a prior template, but it still might be too complicated.  Please try it out and let me know.

[2021-02-04 01:03] ExperimentsInHonesty commented on #905
@mcspach There is a file for railstats, it just has the projects old name (which we have to keep).  I updated the details above in the top of the issue, please read there.

[2021-02-04 01:06] #984 closed, assigned to nobody

[2021-02-04 01:09] ExperimentsInHonesty commented on #752
@trtincher Please dont change the menu when you commit.  We will do that on a separate issue after we have approved of it live .

[2021-02-04 01:52] samantha-yee11 commented on #642
Unable to begin. Each bullet needs to be an issue to assign:
- SDG Excel Sheet is not up to date. Unsure of what projects have what SDG's. (PM)
- No Projects Home page designed in Figma. This needs to be completed first. (UX)
- Project Verticals page still designed with Loreum Ipsum. Content needs to be filled in in order to know what needs to be included in design. (UX)

[2021-02-04 03:44] ktjnyc commented on #1033
No change:
- Demo site (no site to show)

Change/Update:
- Test Site - smstaging.engage.town
- Image - Our UI/UX team is working on a new logo
- Looking - UX Program Designer (remove UX designers; NLP engineers)
- Wiki - https://github.com/hackla-engage/start-here/wiki
- Description:
Engage facilitates and streamlines preparation of meeting agendas, getting word out to the local residents and comp

[2021-02-04 18:32] ExperimentsInHonesty commented on #702
@ExperimentsInHonesty to review and edit

- good article topics
- good post
- experience text

and to add formatting changes to make the doc easier to use.

[2021-02-04 23:51] drubgrubby commented on #990
@thatguyish - A couple of notes on this issue:
1) When you self-assign an issue (or if you ever assign an issue to someone else), be sure to move it from "prioritized backlog" to "in progress" (on the right column under "Project Board".
2) Do not close an issue while there's still an open pull request.  The issue needs to stay open until it has been completed and the PR merged. When the pull reque

[2021-02-04 23:53] thatguyish commented on #990
Awesome! Thank you for the feedback I will do this next time.

[2021-02-05 01:26] danyc23 commented on #932
There is some information missing and wasn't able to include them. The list is below:
- No vertical description in the issue.
- No demo Site link.
- Technologies.
- Languages.
- Tools.

Please, let me know if you have them available so I can make the changes before submitting the PR. @ExperimentsInHonesty

[2021-02-05 01:27] danyc23 commented on #932
![Screen Shot 2021-02-04 at 3 58 29 PM](https://user-images.githubusercontent.com/42159475/106976859-04a41f80-670e-11eb-9f4f-8109f0c46f98.png)

![Screen Shot 2021-02-04 at 4 09 19 PM](https://user-images.githubusercontent.com/42159475/106976790-e63e2400-670d-11eb-9d93-790b85798b01.png)

[2021-02-05 01:34] captain-nimo commented on #957
I've already talked with the `311-data` UX team about the background image. Once I get it from them, I'll attach it here.

[2021-02-05 02:35] captain-nimo commented on #957
@ahdithebomb, please find the the background image attached here.

![311_Mockup](https://user-images.githubusercontent.com/25173228/106981838-c5d39100-6730-11eb-821b-e2983118aded.png)

[2021-02-05 04:48] #990 closed, assigned to thatguyish

[2021-02-05 07:49] Olivia-Chiong opened #1003 "Update the Civic Tech Index project overview (one sheet) link"
### Overview
We need to update link to the Overview for the Civic Tech Index to its project.md file. This is an updated link different from the one in #990

### Action Items
- [x] Update the link to Overview document in card.

### Resources/Instructions
Civic Tech Index Overview: https://github.com/hackforla/product-management/blob/master/project-one-sheets/Civic-Tech-Index-Product-One-Sheet.pdf

[2021-02-05 07:59] Olivia-Chiong opened #1004 "Update the 100 Automations project overview (one sheet) link"
### Overview
We need to update link to the Overview for 100 Automations to its project.md file.

### Action Items
- [x] Update the link to Overview document in card.

### Resources/Instructions
100 Automations Overview: https://github.com/hackforla/product-management/blob/master/project-one-sheets/100-Automations-Project-One-Sheet.pdf

Project card: _projects/100-automations.md

Where it shows up

[2021-02-05 13:26] ktjnyc commented on #1033
[Issue 11 ](https://github.com/hackla-engage/start-here/issues/11) tracking new logo.

@ExperimentsInHonesty - did Empower want their logo on our project page?

[2021-02-05 17:13] IAgbaje commented on #702
Format changes have been made.

To be reviewed by @ExperimentsInHonesty.

[2021-02-06 11:55] tarang100 commented on #844
**Update**

1. The partners mentioned below have been sourced from each Project's Profile Card on the HfLA Website
2. The logos have been sourced from the official website (hyperlinked in the name) of each partner
3. For the partners that do not have logos provided next to them, the logo for that partner(s) has already been provided in the projects mentioned above or the logos could not be sourced

[2021-02-06 16:29] pawan92 commented on #969
Project board arranged by @pawan92 on Feb 6 2021 11:30AM EST

@IAgbaje Please review and arrange the project board before tuesday meeting

[2021-02-06 20:29] rh5140 commented on #936
2/6/2020 Update
I WILL COME TOMORROW!
Progress has not changed at all

Progress: None.
Blockers: Lack of time HAHAHAHA
Availability: Probably much better this week because I got through first round of midterms
ETA: Unfortunately I have done nothing so far so I don't know yet

[2021-02-07 02:39] #946 closed, assigned to evancchen

[2021-02-07 02:48] drubgrubby commented on #905
This has been returned to the icebox until climate collabathon has been created.

[2021-02-07 02:53] drubgrubby commented on #953
@thatguyish - I see that you made a PR for this issue.  Good work.

Can you please update this issue with a short description of what you did, and a screen-shot showing the updates? Don't forget to add that you opened a ticket at VRMS regarding the time change.

[2021-02-07 03:00] dmcneary commented on #678
2/6 update:
Progress: still working on CSS
Blockers: entering winter term finals, plus job training (yay!)
Availability: pretty blocked up this week, will try to make some progress mon 2/8 - wed 2/10
ETA: hopefully 2/21

[2021-02-07 06:47] ahdithebomb commented on #799
Progress: No New Updates
Blocks: Communication/Coordination with the other PMs,  Approval from @ExperimentsInHonesty
Availability: Flexible next weekend depending on the additional changes that need to be made based on feedback.
ETA: End of this upcoming week.

[2021-02-07 09:56] abenipa3 commented on #794
Progress: Started working on the Wiki Page while figuring out how to fix the text sizes via mobile.
Blocks: Text overlaps the grey area on mobile. Wasn't feeling well this past week as well, but I'm good now and looking forward to progressing further with this issue.
Availability: Open on Monday through Thursday.
ETA: GitHub Issues 2/9/21. Wiki Page TBD.
![image](https://user-images.githubusercont

[2021-02-07 12:32] matthewlee626 commented on #965
Progress: All info added to brigade-organizers-playbook.md
Blockers: Not sure why, but the card is not rendering in "Projects" on my local copy of the website. Might have something to do with the error below.
Availability: ~3 hrs, but I expect much less time.
ETA: Next Sunday (14 Feb 2021)
![image](https://user-images.githubusercontent.com/19520286/107146483-85753e00-68fd-11eb-9333-43b8a500e9e3.pn

[2021-02-07 15:51] thatguyish commented on #953
@drubgrubby  yes indeed
Added the new png to the assets folder and set the logo to it.
I also added the links for Test  Site and Site
<img width="1280" alt="Screen Shot 2021-02-07 at 10 42 29 AM" src="https://user-images.githubusercontent.com/45778144/107151582-5678bf80-6931-11eb-9970-9e70bbf14af1.png">
I modified Tyler Tome to reflect HUU Tech Lead, added Abby Hipp and Tracy Michelle In Leadershi

[2021-02-07 16:18] ahdithebomb commented on #707
Progress: I added the MD instructions to the wiki.
Blocks: Need to coordinate with Cynthia to finalize last section, and we need to add some prototypes.
Availability: I Will coordinate with @daniellen00 and make necessary updates.
ETA: End of this upcoming week.

[2021-02-07 16:45] ahdithebomb commented on #859
Progress: The survey went out this week, and we are working on the draft for the article.
Blocks: N/A
Availability: I Will coordinate with @nielseny to make the necessary revisions.
ETA:  first overall draft with survey data should be done in 2 weeks.

[2021-02-07 17:02] drubgrubby commented on #966
### Progress
Workin' on it.  I believe that I have cracked the code to solve this.  Time will tell if that's true.

### Blockers
I may be wrong and may have to come up with a different approach.

###ETA
Tuesday

[2021-02-07 17:09] ahdithebomb commented on #879
Progress: The correct image is added to the action item list for 311 data.
Blocks:
Availability: TBD
ETA: TBD, depends on when the assignee gets can complete it.

[2021-02-07 17:31] akibrhast commented on #989
## Overview
Fixes #1008

## Action Items
1.  [request](https://github.com/hackforla/product-management/issues/37#issuecomment-761925373)
2.  [request](https://github.com/hackforla/product-management/issues/37#issuecomment-772230227)

- [x] Update Title
- [x] Update Blurb
- [x] Update Partner
- [x] Update Technologies
- [x] Update Leadership

[2021-02-07 17:31] drubgrubby commented on #965
(This has been edited from an earlier version.  Bonnie suggested a diffefent fix.)

As you stated in the issue, this page is throwing a YAML exception.

The problem seems to be the apostrophe in line 6 - alt: 'Brigade Organizer's Playbook Extension Project'. It's trying to process the apostrophe within the string as part of the code and throwing a YAML Exception.

You can solve this by using doubl

[2021-02-07 17:36] daniellex0 commented on #958
Progress: Close to finished- have been coordinating with the devs that are working on new pages and using this + other reusable components, so I've been able to adjust based on their work. I'm hoping to discuss their experience/feedback in the end and figure out how best to present these components based on that. Also Alyssa's issue may rely on old page cards, so I don't want to change too much be

[2021-02-07 17:38] akibrhast commented on #989
Please take a look and let me know if it can be merged, or if there are things I could improve upon ?

@drubgrubby

[2021-02-07 17:42] daniellex0 commented on #577
Progress: Audited responsive typography on website, started wiki for developers working on new pages, provided feedback to devs that are working on new pages and learned a lot based on their designs, especially about headers, for standardizing layouts (hoping to discuss with them after to get feedback). Met with Oskar to learn about auto layout and componentizing on Figma- extremely helpful. Nearl

[2021-02-07 17:44] drubgrubby commented on #989
@akibrhast - Looks good on first glance.  We will look at it more closely at the meeting today.  If you can take a screen-shot of the changes and put them in the issue so we can see that the changes are showing up (and possibly make it faster to review) that would be good. Nice work. (Also, you might want to check the checkbox under "action items" at the top of this issue. )

[2021-02-07 18:01] akibrhast commented on #989
![image](https://user-images.githubusercontent.com/32349001/107155036-2686e780-6944-11eb-8566-86aa7b1976db.png)

![image](https://user-images.githubusercontent.com/32349001/107155095-79f93580-6944-11eb-9acd-df70651efee8.png)

[2021-02-07 18:18] IAgbaje commented on #982
Update:- To be reviewed for further directions.

[2021-02-07 18:19] mcspach commented on #932
vertical: 'Citizen Engagement'
tools: 'ArcGIS surveys, Google Docs, Zoom'

There is no demo site and there is no technologies.
Languages comes from the Github API.

[2021-02-07 18:31] christina245 commented on #632
This has been added.

[2021-02-07 18:47] danyc23 commented on #932
- tools added

![Screen Shot 2021-02-07 at 10 46 22 AM](https://user-images.githubusercontent.com/42159475/107156193-c4bd8200-6931-11eb-814d-f76fc6c6af65.png)

[2021-02-07 18:57] mcspach commented on #819
@evancchen Can you please leave an update:
Progress:
Blockers:
Availability:
ETA:

thanks

[2021-02-07 18:59] ashleylin1 commented on #918
Progress: finished added "Role: UX" label and description text for Role and Miscellaneous labels
Blockers: none; need final review over the Figma
Availability: Weekdays after 4pm

[2021-02-07 19:12] mcspach commented on #953
Bonnie has reached out to Abby, to ask for review and updates of Leadership team and for status change to 'Active'.

[2021-02-07 19:15] mcspach commented on #860
Update from Bonnie at team meeting -
I have put a pause of writing the letter because the About page is not ready to launch and the content of the letter will change based on the publish date.

[2021-02-07 19:42] ahdithebomb opened #1010 "Events Page VRMS API Implementation"
### Overview
We need to have the Events page more dynamic through the API so that this page can be accurate in a live time manner.

### Action Items
- [ ] Have the days of the week & times be generated dynamically using the VRMS API.

### Resources/Instructions
[Events Page](https://www.hackforla.org/events)

[2021-02-07 19:53] #989 closed, assigned to akibrhast

[2021-02-07 20:09] akibrhast opened #1013 "Make Partner On Project Cards Hyperlinks"
### Overview
On project pages make listed partners as active hyperlinks so that visitors can more easily check out our partners

### Action Items
- [ ] Get signed off from product
- [ ] Figure out pages that need to be updated
- [ ] Update Markdown files and update logic to show up to page cards as links
- [ ] Update logic so that page partner show up as hyperlinks, if links are provided

#### Sug

[2021-02-07 20:11] akibrhast commented on #1013
Waiting for approval by Product and happy to get working on it !

[2021-02-07 20:17] #819 closed, assigned to nobody

[2021-02-07 20:26] drubgrubby commented on #938
Duplicate issue.

[2021-02-07 20:26] #938 closed, assigned to nobody

[2021-02-07 20:42] ahdithebomb commented on #618
Progress: No Progress
Blocks:  Quarter-end at work
Availability: Weekends
ETA: 2/21.

[2021-02-07 20:43] christina245 commented on #184
We need to come up with what happens if no results show up for a user's project search. Possibly "there aren't any projects that need your talents at this time, but these are the closest matches should your skills and availability change:"

@ashleylin1

[2021-02-07 20:58] daniellex0 commented on #632
Slide deck: https://docs.google.com/presentation/d/1tfYUw0RrPOlhxAVDgMBzpuLSqliMLcw0Y1tCKGtLXOA/edit

Video: https://www.youtube.com/watch?v=TgAqb5jcSoY&list=PL65XgbSILalVD81qt-I_vfUJLEjhfdmXh&index=6

(^ both for initiative 1)

Open Community Survey (the project):

**Initiative 1** Los Angeles Department Of Neighborhood Empowerment website redesign Community Survey and Feature Prioritization Work

[2021-02-07 21:17] daniellex0 commented on #918
*Discuss with Danielle: make sure follows design system standards

[2021-02-07 21:25] daniellex0 commented on #794
@alyssabenipayo This issue has us adding more content to this page: issue #918

You can finish the issue as-is and then leave it to someone else, or you can work this into your changes- it's up to you

[2021-02-07 21:27] abenipa3 commented on #794
@daniellex0 Thanks for the update. I think I can work this into my changes. If anything, I'll keep everyone posted. Thanks.

[2021-02-08 01:54] ExperimentsInHonesty commented on #953
@abbyhipp @alexilee Can you look at the leadership.  It seems like you have indicated additions but not identified people to remove. Please verify all details.

FYI: The only status available on the site is Active, On-Hold and Completed.  This project is Active.

[2021-02-08 02:11] quyenvhle commented on #953
@tarang100 @thatguyish Confirmed that we need to remove people from the leadership team.

Please remove the following:
- Timothy Malstead
- Arshia Masih
- Sophia Alice
- Carolanne Fuchs
- Peter Plass

The following people are to be kept under leadership:
- Tyler Thome
- Abby Hipp
- Tracy Michelle

In addition, please help us change the project status to 'Active'.

[2021-02-08 07:54] akibrhast commented on #862
@drubgrubby Could you please add the Figma screenshots of the expected looks at different sizes?

[2021-02-08 14:17] drubgrubby commented on #862
@akibrhast - Sorry, I didn't get to this yesterday.

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1803%3A13692

That's the link to the about-us page design on figma.  The final design is in the green box.  If you have any questions about figma let me know.  You can also ask Danielle ( @daniellex0 ) , who has probably forgotten more about figma than I'll ever know.

[2021-02-08 18:07] #1004 closed, assigned to qiqicodes

[2021-02-08 20:48] KenMan79 commented on #819
Awesome

[2021-02-08 20:53] ExperimentsInHonesty commented on #932
@danyc23 I saw an update on the PR with reference to this issue and new screen shots, but I didn't see you make the commit for tools and vertical yet.  Please get that added so that its ready for review.

[2021-02-08 22:48] ExperimentsInHonesty commented on #932
Updated leadership to remove John, who has stepped down https://github.com/hackforla/community-survey-nc-websites/issues/2#issuecomment-754208495

@danyc23 I reviewed the file and added some notes.  This is the template that the project.md file should adhere to: https://github.com/hackforla/website/wiki/Template-of-a-project.md-file.  Please let us know if you see any discrepancies between files f

[2021-02-08 22:51] thatguyish commented on #936
Updated mayor quote based on images in figma
<img width="1280" alt="Screen Shot 2021-02-08 at 3 11 58 PM" src="https://user-images.githubusercontent.com/45778144/107291446-30891300-6a36-11eb-9c89-fdc877f97020.png">
<img width="1280" alt="Screen Shot 2021-02-08 at 5 03 10 PM" src="https://user-images.githubusercontent.com/45778144/107291454-34b53080-6a36-11eb-85f5-a835209a8c46.png">

[2021-02-09 06:23] ExperimentsInHonesty commented on #1033
@ktjnyc - this issue needs a summary (in a new comment) of what to change and then hide all the prior comments as outdated.  Please ping me on slack when this gets done, so I send it to the website team asap.

[2021-02-09 06:29] Olivia-Chiong opened #1021 "Update Project Profile: BallotNav"
### Overview
We need to update the BallotNav information on the website so that it will be correct.

### Action Items

Please update the project profile card according to https://github.com/hackforla/product-management/issues/90

[2021-02-09 06:35] Olivia-Chiong opened #1022 "Update the Youth Justice Nav project with a link to their overview (one sheet)"
### Overview
We need to add a link to the Overview for the Youth Justice Nav to its project.md file

### Action Items
- [x] Add link to Overview document in card.
- [x] Confirm that it is showing up at the bottom
- [x] Add a screenshot to this issue in the comments
- [ ] Confirm user acceptance at https://github.com/hackforla/product-management/issues/95

### Resources/Instructions
Youth Justice N

[2021-02-09 06:38] Olivia-Chiong opened #1023 "Update the Civic Tech Structure project with a link to their overview (one sheet)"
### Overview
We need to add a link to the Overview for the Civic Tech Structure to its project.md file

### Action Items
- [x] Add link to Overview document in card.
- [x] Confirm that it is showing up at the bottom
- [x] Add a screenshot to this issue in the comments
- [x] Confirm user acceptance testing at https://github.com/hackforla/product-management/issues/63

### Resources/Instructions
Civi

[2021-02-09 06:40] ExperimentsInHonesty opened #1024 "Update project: Public Tree Map"
### Overview
We need to update the status of Public Tree Map on the website

### Action Items
- [ ] Change status to "Completed"
- [ ] Remove "looking for"

### Resources/Instructions
webpage: https://www.hackforla.org/projects/public-tree-map
file location: _projects/public-tree-map.md

[2021-02-09 06:51] Olivia-Chiong commented on #1021
Please release dependency at https://github.com/hackforla/product-management/issues/90 when done

[2021-02-09 15:28] ktjnyc commented on #1033
Need to update:

Meetings: All Team Members Sunday 4 PM PST; Wednesday 6 PST
Product Manager Meeting Wednesday 5PM PST

Leadership - Remove Teddy and update to the following

Name: Bonnie Wolfe
Role: Agile Coach
Slack: UE1UG1YFP
Github: ExperimentsInHonesty

Name: Ryan Mayott
Role: UI/UX Designer
slack: U01L3BJ3QSW
github: rmayott

Name: Bryon Hart
Role: Product Manager
Slack: U01GHT3EMNZ
Github:

[2021-02-09 18:51] mcspach commented on #959
Update

Progress:
-Researched embedded Ruby syntax.
-Looked over the homepage filter for an example.
-Added 'All' category tab
-Made the links clickable, (but they don't filter the results yet)

Blockers: None
(@daniellex0 Needs some css adjustments for med screen sizes after adding the 'All' tab. Am I okay to make minor css changes to banner and links?)

Availability: Later this week.
ETA: Sunday

[2021-02-09 22:56] daniellex0 commented on #959
@mcspach Sure, feel free to make CSS changes!

I'm also realizing the banner is pretty tiny in mobile size because apparently a mobile version of this page was never actually designed, and so the devs had to figure it out on their own. Do you want me to design a quick mobile version (perhaps two rows), or would you want to try to figure something out to fix how tiny it is in mobile?

[2021-02-09 23:14] mcspach commented on #959
@daniellex0 Okay, thanks.

I will take a look at mobile and see what I can work out.

[2021-02-09 23:45] #1024 closed, assigned to nobody

[2021-02-09 23:51] #999 closed, assigned to kevinreber

[2021-02-09 23:51] jbubar commented on #999
issue was completed and merged with pr #1020

[2021-02-10 00:11] jbubar commented on #953
@thatguyish completed a pull request to update this on the site. There is just one thing.
VRMS needs to update the time.
The new meeting times are ([specified earlier in this conversation](https://github.com/hackforla/website/issues/953#issuecomment-761248700)):

The current times are:

So it is a small change! :))
I will send this message to the VRMS slack channel

[2021-02-10 00:21] jbubar commented on #953
Created an issue in VRMS here https://github.com/hackforla/VRMS/issues/490
Thanks @drubgrubby for informing me

[2021-02-10 00:24] jbubar commented on #953
Oops. @thatguyish just informed me that he has already created and issue with vrms. So I went ahead and closed the issue that I created

[2021-02-10 00:26] #953 closed, assigned to thatguyish

[2021-02-10 02:34] drubgrubby commented on #864
@evancchen - Hi Evan.  I'm going to unasign you from this issue and put it back in the icebox.  There are dependencies on this issue that need to be completed before we do it.  You can see them listed at the top of the issue.  If you can find an issue from the prioritized backlog, that is best.  If you are having trouble finding an issue, let me or Josh know.

[2021-02-10 02:46] drubgrubby opened #1026 "Correct typo in readme.md"
### Overview
There is a typo in the readme.md file that needs to be corrected so we look like we carefully proofread our content.

### Action Items

- [ ] Change the word "you" to "your" in "Step 9: Complete the pull request" of the contributing: “to make you repository and your new branch available." becomes "to make your repository and your new branch available."

### Resources/Instructions
CONT

[2021-02-10 02:51] daniellex0 opened #1027 "Create a Standard Website Page Template for Wiki"
### Dependency

#1534

### Overview
We need to create a template for new pages on the HfLA site so that new developers on the team can have an easier time building pages. This template wiki will be linked to in another bigger wiki about building new pages.

### Action Items
- [x] Research standard HTML structure of pages on the HfLA website (there is a wide variety, but find common elements)
- [x]

[2021-02-10 02:54] jbubar opened #1028 "Slack message upon win form completed"
### Overview
Every time that someone sends in a win, we have to approve it. Can you figure out how to send our slack channel a message every time that someone fills out the win form?

### Action Items
- [x] get acquainted with the google form and sheets linked below
- [x] figure out how to do an action every time that a form is submitted
- [x] figure out how to communicate with our slack
- [x] con

[2021-02-10 02:57] jbubar opened #1029 "Make a linkedin api call to grab linked in photos"
### Dependency
- [x] https://github.com/hackforla/website/issues/1076

### Overview
Create a linked in scraper to grab a linked in photo given someone's linked in profile, for the wins page

### Action Items
- [ ] write a LinkedIn scraper
- [x] figure out what is the best way to save the LinkedIn photos
- [ ] create a GitHub action to execute it

### Resources/Instructions
[LinkedIn Profile Scrape

[2021-02-10 03:09] jbubar opened #1030 "Filtering dropdowns on wins page"
### Overview
create buttons to filter by Role and Team
![Screen Shot 2021-02-09 at 7 04 16 PM](https://user-images.githubusercontent.com/53061723/107458784-a0b49900-6b09-11eb-8a52-de374066b6fc.png)

### Action Items
- [ ]

### Resources/Instructions
[figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0)
[project page](https://www.hackforla.org/#projects)

[2021-02-10 03:09] Olivia-Chiong opened #1031 "Update Project Profile: Engage"
### Overview
We want the Engage profile card to be up to date so that new volunteers can have current information when they come to the website.

### Project card
_insert url of their card here before sending - https://www.hackforla.org/projects/engage
https://github.com/hackforla/website/blob/gh-pages/_projects/engage.md

### Action Items
- [x] Update Enage project card using the information from

[2021-02-10 03:13] ItsLaszlo commented on #595
The page is done here is a preview of the site.

Web View:
![Screen Shot 2021-02-09 at 7 08 59 PM](https://user-images.githubusercontent.com/69860036/107459294-b8405180-6b0a-11eb-9ed2-9d49aac12921.png)
![Screen Shot 2021-02-09 at 7 09 13 PM](https://user-images.githubusercontent.com/69860036/107459301-ba0a1500-6b0a-11eb-9cdf-445744e94e5a.png)
![Screen Shot 2021-02-09 at 7 09 33 PM](https://user-im

[2021-02-10 03:15] matthewlee626 commented on #965
Resolved the issue.

I should note: I notice some overlap between this project and Civic Tech Structure. Is that intentional?

[2021-02-10 03:18] #957 closed, assigned to qiqicodes

[2021-02-10 03:27] tarang100 commented on #1033
@ktjnyc thank you for providing the update, this is super helpful!

A small correction is required, the Slack ID mentioned here is not the one that is needed for development. For instance, my Slack ID is not @tarang, it is U01FN9BAYTY. I am sharing a link [here](https://moshfeu.medium.com/how-to-find-my-member-id-in-slack-workspace-d4bba942e38c) that will help you understand how to find your Slack

[2021-02-10 03:58] jbubar commented on #962
@ExperimentsInHonesty, Matthew will be reaching out to you on slack to get you opinion on how you would like the contribors readme to look

[2021-02-10 04:02] jbubar commented on #844
@tarang100 Is this list fully updated? Do you have the links for each of the partners?
We want to assign this to someone, but we are unsure if all of the hyperlinks are there

[2021-02-10 04:17] #1003 closed, assigned to qiqicodes

[2021-02-10 04:32] #595 closed, assigned to ItsLaszlo

[2021-02-10 10:14] tarang100 commented on #844
@jbubar I have updated the partner list based on the information available on the HfLA website, so I think that we should run it by Bonnie before shipping it out for development. Would appreciate your thoughts on this.
As for links to the partners' websites, I have hyperlinked the name of each partner with the respective website. Does that not suffice our purpose?

[2021-02-10 13:59] ktjnyc commented on #1033
@tarang100 I've updated the slack ids in the comment above.

[2021-02-10 17:11] #932 closed, assigned to danyc23

[2021-02-10 17:51] tarang100 commented on #1033
@ktjnyc thanks! Looks good

[2021-02-10 19:40] ExperimentsInHonesty commented on #982
@IAgbaje Make an issue for

Creating Kanban project | Needs Issue | https://github.com/hackforla/website/blob/gh-pages/_guide-pages/creating-kanban-project.html |   |   |   |   | We needa guide page that Breifly explains The value of the deck (easy setting up of kanban boards on new projects).

Deck https://docs.google.com/presentation/d/1LHtvnHb35Sw7cHzk8RYJG4a1U9RblZepsC3wL7ZEpV0/edit

[2021-02-10 19:46] ExperimentsInHonesty commented on #982
Add to the following issues:
807
707
706
702
701
587
209

to update the the [Guide Tracking Sheet](https://docs.google.com/spreadsheets/d/1omYkR_WeploNuOkF3Pqsg6DhIdej5SS2EBbG9FRefbA/edit#gid=0)

[2021-02-10 19:50] ExperimentsInHonesty commented on #950
- [ ] Monday 12:30 am - 2:30 am Hack for LA Marketing Team - Leads to the [HfLA Website Project Page](https://www.hackforla.org/projects/website)
   - [ ] Tuesday 7:00 am - 7:10 am Not Today (updates) - Leads to [Not Today Project Page](https://www.hackforla.org/projects/not-today) but the word 'updates' needs to be checked
   - [ ] Tuesday 6:30 am - 8:30 am Hack4LA Happy Hour - Leads to the [HfLA

[2021-02-10 19:51] ExperimentsInHonesty commented on #950
Change day and time
**Update**

Please see the following list for information on Meeting Links _**mapped incorrectly**_ on the HfLA Events Page

   - [ ] Monday 12:30 am - 2:30 am Hack for LA Marketing Team - Leads to the [HfLA Website Project Page](https://www.hackforla.org/projects/website)
   - [ ] Tuesday 7:00 am - 7:10 am Not Today (updates) - Leads to [Not Today Project Page](https://www.hac

[2021-02-10 19:52] ExperimentsInHonesty commented on #950
Change day and time
**Update**

Please see the following list for information on Meeting Links _**mapped incorrectly**_ on the HfLA Events Page

   - [x] Monday 12:30 am - 2:30 am Hack for LA Marketing Team - Leads to the [HfLA Website Project Page](https://www.hackforla.org/projects/website)
   - [ ] Tuesday 7:00 am - 7:10 am Not Today (updates) - Leads to [Not Today Project Page](https://www.hac

[2021-02-10 19:52] ExperimentsInHonesty commented on #950
Change day and time
**Update**

Please see the following list for information on Meeting Links _**mapped incorrectly**_ on the HfLA Events Page

   - [x] Monday 12:30 am - 2:30 am Hack for LA Marketing Team - Leads to the [HfLA Website Project Page](https://www.hackforla.org/projects/website)
   - [ ] Tuesday 7:00 am - 7:10 am Not Today (updates) - Leads to [Not Today Project Page](https://www.hac

[2021-02-10 19:58] ExperimentsInHonesty commented on #950
- [x] Friday 8:30 am - 9:30 am Data Science Team - Leads to the [HfLA Website Project Page](https://www.hackforla.org/projects/website)
      - [ ] Time
      - [ ] Name
      - [ ] Link resolves to

[2021-02-10 20:10] tarang100 commented on #950
- #739
- #800
- #801
- #957
- #999
- #693

[2021-02-10 20:11] ExperimentsInHonesty commented on #950
![screencapture-hackforla-org-events-2021-02-10-12_11_07 (1)](https://user-images.githubusercontent.com/37763229/107565967-229fd300-6b99-11eb-943b-20a450f34785.png)

[2021-02-10 20:15] ExperimentsInHonesty commented on #844
@Olivia-Chiong Food Oasis has more partners.  We need to create an issue on the PM repo to identify their partners.  Can be worked on by the person doing the one sheet.

[2021-02-10 20:17] ExperimentsInHonesty commented on #844
Home Unite Us has Point Source Youth as a partner

**Update**
Partner information for Home Unite Us has been updated, on the website, as part of the ongoing update of the Project Profile Cards

[2021-02-10 20:17] ExperimentsInHonesty commented on #844
LATDM has Los Angeles City Planning as a partner

**Update**
Partner information for LA TDM has been updated, on the website, as part of the ongoing update of the Project Profile Cards

[2021-02-10 20:20] ExperimentsInHonesty commented on #844
Youth Justice Nav has two partners
1. UCLA School of Law
2. Golden Gate University School of Law

**Update - Issue created for updating the information on the website**
https://github.com/hackforla/website/issues/1047

[2021-02-10 20:21] ExperimentsInHonesty commented on #844
Heart has two partners
1. Los Angeles City Attorney's Office
2. Los Angeles County District Attorney's office

Change what it says on their card from

to
[code]
**Update - Issue created for updating the information on the website**
https://github.com/hackforla/website/issues/1048

[2021-02-10 20:26] ExperimentsInHonesty commented on #844
Work for LA
Change from

to
[code]
**Update - Issue created for updating the information on the website**
https://github.com/hackforla/website/issues/1049

[2021-02-10 20:29] ExperimentsInHonesty commented on #844
@tarang100 You can grab partners from this [deck for Food Oasis](https://docs.google.com/presentation/d/1pKv3Frjcadu6XYBsN55D9OmsnDDGy_gblA1hs_IWiKA/edit).  More to be provided later

[2021-02-10 22:03] akibrhast commented on #1030
![branchProgress](https://user-images.githubusercontent.com/32349001/107578008-2e9f8b00-6bc1-11eb-975f-99e36731a5a7.gif)

## Progress Update
If you look at the gif , you will noticed that the url changes based on the selection.

## Need Information (What should the URL look like if the items in the query string have spaces?)
Currently they look like
[code]
But the project filter in the home page d

[2021-02-10 23:43] jbubar commented on #1030
![Uploading ezgif.com-gif-maker (7).gif…]()

[2021-02-10 23:47] jbubar commented on #1030
It is up to you! I noticed the project page uses a '+' also. I am not sure why. I think the %20 makes more sense, otherwise you might get results that you are not looking for.
But at the same time consistency is really important.
I would live to hear your thoughts

[2021-02-12 23:38] ItsLaszlo commented on #1027
Progress: working on an [outline](https://docs.google.com/document/d/194hhPbQwWwjZOKYBP17U4F1hvTxHTyHEQVC6Xx5ekmI/edit?usp=sharing)
Blockers: none yet
ETA: TBD

[2021-02-12 23:42] mcspach commented on #959
Not available Saturday 2/13.

###PBNE
Still working out the exact code, but think I can solve it in one more sitting.
No blockers, just getting comfortable with liquid.
If not complete, I'll have a better update on Tuesday dev meeting.

[2021-02-13 20:47] akibrhast commented on #1030
Based on [this](https://stackoverflow.com/questions/1634271/url-encoding-the-space-character-or-20) and also due to the need of staying consistent. I am thinking we should just use '+' . Also based on really any other sides with query parameters , amazon,facebook,google,youtube ... they all seem to be using '+' for spaces in the query parameter .

[2021-02-13 23:10] akibrhast commented on #1030
The following gif demonstrates the changes made in the pull request
![issue#1030](https://user-images.githubusercontent.com/32349001/107864039-bdf9a800-6e26-11eb-88fd-07c8af3e3daf.gif)

[2021-02-13 23:19] akibrhast commented on #1029
@jbubar

  - I think this action item should to be separated into its own ticket with #1029 linked as a dependency/blocker. It also has the potential to be labeled as a  "Good First Issue". What do you think?

 - What about saving it as `_data/linkedin_data.json`  ?
 - ``` {
    {
      id: <linkedin_id>,
      image: <linkedin_image_url>
    } ```
---
To scrape the page we are going to need their

[2021-02-14 01:17] akibrhast commented on #1028
## Tentative Additional Resources
- https://github.com/markfguerra/google-forms-to-slack
- https://zapier.com/apps/google-forms/integrations/slack/
- https://medium.com/@01010111/using-google-forms-to-submit-github-issues-efdb5f876b

[2021-02-14 02:12] akibrhast commented on #1028
Since the wins submission upon approval seems to be saved under `_data/wins_data.json` and since Slack GitHub app is already part of the Hack ForLA.

We could follow this path
---
On Submit Wins Google Form -> [Create New Github Issue With Label(role:adminstrative)(winsSubmisison)](https://medium.com/@01010111/using-google-forms-to-submit-github-issues-efdb5f876b) -> [In slack subscribe to the hac

[2021-02-14 02:13] akibrhast opened #1035 "test issue 1"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-02-14 02:14] #1035 closed, assigned to nobody

[2021-02-14 02:16] akibrhast commented on #1028
This is the output of a quick test of  subscribing to hackforla/website via slack

![image](https://user-images.githubusercontent.com/32349001/107866621-c4951900-6e40-11eb-8e68-9956307ea4e1.png)

[2021-02-14 02:37] daniellex0 commented on #918
I reviewed the design for standardization with the rest of the guide page and the design system, and it's ready to go 👍

[2021-02-14 02:42] akibrhast opened #1036 "test Issue 2, subscribed to winsSubmission without winsSubmission label on slack"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-02-14 02:43] akibrhast commented on #1036
No notification received on slack

[2021-02-14 02:43] #1036 closed, assigned to nobody

[2021-02-14 02:44] akibrhast opened #1037 "test issue 3 with winsSubmission label on the issue"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-02-14 02:45] akibrhast commented on #1037
Notification Received On Slack If winsSubmission label exists

[2021-02-14 02:47] #1037 closed, assigned to nobody

[2021-02-14 02:58] daniellex0 commented on #577
Progress: Standardized responsive typography based on audit, created issue (assigned to Martha) for creating new page template wiki and am continuing to work on the connected overall new page wiki, standardized designs of existing problematic pages on site and created issues with detailed instructions for devs to implement/standardize them, working on implementing auto layout and componentizing de

[2021-02-14 03:03] daniellex0 commented on #958
Progress: A few dependencies are pending (new pages being worked on and Alyssa's issue may rely on old page cards, so I don't want to change too much before she's done). However it's ready to deploy soon and I'm still gathering some feedback/experiences from developers working on new pages (for ex. Travis found a fix for an inconsistency in the margins between page cards on different pages, which

[2021-02-14 03:37] #965 closed, assigned to matthewlee626

[2021-02-14 03:47] #936 closed, assigned to thatguyish

[2021-02-14 03:54] akibrhast opened #1038 "Test Issue 3 making a ticket with google forms"
Is this going to work?

[2021-02-14 03:58] #1038 closed, assigned to nobody

[2021-02-14 04:08] matthewlee626 commented on #962
Progress: Have collected some examples of dividing contributing content and README.
Blockers: Still awaiting some feedback about goals for this issue.
Availability: 3-5 hrs/wk
ETA: Next Sunday

[2021-02-14 04:16] akibrhast opened #1039 "test issue 4 make ticket with google form with label and assignees"
Does Slack Notify Me?

[2021-02-14 04:18] akibrhast commented on #1039
Forgot to make changes to the appScript on google forms. Label was not applied

[2021-02-14 04:18] #1039 closed, assigned to nobody

[2021-02-14 04:19] akibrhast opened #1040 "test issue 5 make ticket with google form with label and assignees"
Should Work This Time

[2021-02-14 04:21] #1040 closed, assigned to ExperimentsInHonesty, drubgrubby

[2021-02-14 04:29] akibrhast commented on #1028
Upon further testing I am now able to create a GitHub issue with labels and assignees via google forms, and get Notified on slack if and only if the issue created has a label of "winsSubmission" . All other notifications are disabled for slack, but I wont be sure how well they are working until tomorrow morning when there will be a bunch of pull requests and merges.

The following AppsScript needs

[2021-02-14 06:37] ahdithebomb commented on #969
Project Board updated by @ahdithebomb  on Feb 13 2021 10:37 PST

[2021-02-14 07:00] daniellex0 opened #1041 "Standardize Events Page (SCSS)"
## Note!
(from @akibrhast) : Since this issue is a placeholder issue on the path to standardize the events page. Do not close this issue until all the issue referencing this issue is closed.

### Overview
We need to standardize the Events page so that it is has visual consistency with the rest of the HfLA website and our design system.

### Action Items

Front-End Development

- [ ] Review the SCS

[2021-02-14 07:24] daniellex0 opened #1042 "Automate days of week in Events Page schedule - via VRMS"
### Overview
We need to automate the days of the week in the Events Page schedule, so that visitors in different time zones can view the accurate day attached to meeting times.

The meeting times are already automatically displayed in their time zone (using VRMS data), but the days of week are currently just hard-coded into the page.

### Action Items

- [ ] Research using VRMS data to automate th

[2021-02-14 07:44] daniellex0 opened #1043 "Alphabetize the Homepage project filter categories"
### Overview
We need to organize the Homepage project filter categories in alphabetical order so that users can have an easier time finding the categories they are looking for.

### Action Items

- [x] Research how the project filter on the homepage works + how the order of its categories is currently set by examining the code
- [x] Alphabetize all of the project filter categories

### Resources/I

[2021-02-14 10:02] daniellex0 opened #1044 "Standardize Project Meetings Page (SCSS)"
### Overview
We need to standardize the Project Meetings page so that it is has visual consistency with the rest of the HfLA website and our design system.

### Action Items
- [ ] Review the SCSS fixes on the [Project Team Meetings page file on Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=925%3A0) (to the right, in large orange box)
- [ ]  Implement all of t

[2021-02-14 10:14] daniellex0 opened #1045 "Adjust mobile header font size on Getting Started page"
### Overview
We need to make the font size of the header paragraph on the Getting Started page smaller on mobile so more legible for users

### Action Items
- [ ] Change only **mobile** font size of header paragraph from 27px to **18px** (or 1.125rem) using a media query

### Resources/Instructions
[Getting Started page](https://www.hackforla.org/getting-started)
[Getting Started scss file](https:

[2021-02-14 10:30] daniellex0 opened #1046 "Adjust height of header in 2FA Guide page"
### Overview
We need to make the height of the 2FA Guide page header smaller so that it fits the text inside properly.

### Action Items
- [ ] Change max-height property in **.border-right** class (the border) to **150px** (instead of 330px)

### Resources/Instructions
[2FA Guide page](https://www.hackforla.org/guide-pages/2FA)
[2FA Guide .scss file](https://github.com/hackforla/website/blob/gh-pa

[2021-02-14 11:56] abenipa3 commented on #794
Progress: Code works well in Firefox for Getting the Most out of GitHub as seen below, but not Google Chrome. Also attempting to resolve visual issues in the Survey Reporting file as seen below and discovered that outputs are not cross-browser compatible.

Blocks: Need to figure out how to make it cross-browser compatible. Also may consider restructuring and fixing the survey-reporting-dashboard-g

[2021-02-14 11:58] tarang100 commented on #844
Thanks @ExperimentsInHonesty I have made the required updates in my original comment. [Link to comment](https://github.com/hackforla/website/issues/844#issuecomment-774461659)

I have also linked the issues created for making necessary updates to the partner information on the website, in each of the comment above. Also providing a list of issues created, for easy reference
- Youth Justice Nav - #

[2021-02-14 12:49] tarang100 opened #1047 "Update Partner Information on HfLA Website: Youth Justice Nav"
### Overview
We need to update the Project Card for Youth Justice Nav to provide accurate information about the project's Partners. This will ensure correct information dissemination to all our stakeholders

### Action Items

- [x] Add "Golden Gate University School of Law" to partner list for Youth Justice Nav
- [x] Remove "Code for America" from the partner list for Youth Justice Nav
- [x] Creat

[2021-02-14 13:05] tarang100 opened #1048 "Update Partner Information on HfLA Website: Heart"
### Overview
We need to update the Project Card for Heart to provide accurate information about the project's Partners. This will ensure correct information dissemination to all HfLA stakeholders

### Action Items
- [ ] Remove "LA City Attorney’s Homeless Engagement and Response Team" from the partner list for Heart
- [ ] Add "LA City & County Attorney’s Homeless Engagement and Response Team" to t

[2021-02-14 13:14] tarang100 opened #1049 "Update Partner Information on HfLA Website: Work for LA"
### Overview
We need to update the Project Card for Work for LA to provide accurate information about the project's Partners. This will ensure correct information dissemination to all HfLA stakeholders

### Action Items
- [ ] Remove "Department of Personnel" from the partner list for Work for LA
- [ ] Add "LA City Department of Personnel" to the partner list for Work for LA
- [ ] Create a pull req

[2021-02-14 13:34] tarang100 opened #1050 "Fix the Logo for Heart - Project List Page"
### Overview
We need to fix the project picture visible for Heart on the HfLA Projects webpage. The project picture is visible on the project webpage for Heart but it is not visible on the HfLA projects webpage. Sharing screenshots below, for reference

![image](https://user-images.githubusercontent.com/75314672/107878243-392a8f00-6ef7-11eb-87c9-f797049ea229.png)

![image](https://user-images.gith

[2021-02-14 16:08] trtincher commented on #752
Progress: Daniel's notes have all been addressed and ready for another review.
Blockers: all good now
Availability: Monday, Tuesday Night, Sunday
ETA: potentially 2/14/21 (Pending Reviews)

[2021-02-14 16:38] daniellex0 commented on #981
Progress: Options posted on [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0)

[2021-02-14 17:05] drubgrubby commented on #966
### Progress
Only in my mind, none is real-life.

### Blockers
HfLA admin has taken up a lot of my time this past week.  Looks like it should be slowing down.

### ETA
I think Tuesday, so let's say next Sunday.

[2021-02-14 17:09] daniellex0 opened #1051 "Write copy for Projects Page Header"
### Overview
We need to design a header for the new projects page (which will be linked to from the homepage). The body of the page will be very similar to the current homepage.

### Action Items

**UX/UI**
- [x] Replicate the common header layout (with side-by-side heading and vector animation) shown in the [design system ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?nod

[2021-02-14 17:12] jbubar commented on #1029
@akibrhast That is great thinking! Yes, Yes, and Yes!!  I think you are right on all of the above. I like the idea of having a linkedin_data.json file, and separating out the issue of connecting it to the wins page. I think this would be a medium sized issue. And I agree with your idea to rework the form. Which one of those things would you like to do?

[2021-02-14 17:17] daniellex0 opened #1052 "Do a UX/UI Competitive & Comparative Analysis of HfLA site (focus on Homepage)"
### Overview
We need to do a C&C Analysis of the HfLA homepage to compare and contrast our website to our peers and see what we may be missing, especially for our homepage redesign

### Action Items
- [ ] Research peer nonprofit websites to compare to HfLA site
- [ ] Create and complete C&C Analysis spreadsheet comparing peer sites to HfLA site

### Resources/Instructions
[Example of C&C Analysis

[2021-02-14 18:04] ahdithebomb commented on #859
Progress: Began working on the draft, hoping to have a first pass review
Blocks: N/A
Availability: I Will coordinate with @nielseny to make the necessary revisions.
ETA: first overall draft with survey data should be done in 2 weeks.

[2021-02-14 18:08] pawan92 commented on #831
This will be looked at in the break out rooms

[2021-02-14 18:09] pawan92 commented on #935
This will be looked at further in break out rooms.

[2021-02-14 18:12] ahdithebomb commented on #707
Progress: The first draft is mostly complete with mockups/images.
Blocks: Waiting on feedback from @ExperimentsInHonesty for our first pass.
Availability: I Will coordinate with @daniellen00 and make necessary updates.
ETA: End of this upcoming week, I will also ping @jbubar to get more insights into file compression.

[2021-02-14 18:18] ExperimentsInHonesty opened #1053 "Decision: Partner Name URL Linking"
### Overview
We need to answer the question about if projects should link their partners in the partners display on the homepage and their project pages

### Action Items
- [x] Discuss with product the current state
- [x] Get decision on change required
- [x] Create new issue with change

### Resources
Some projects have urls in the who their partners are
![Screen Shot 2021-02-14 at 10 16 34 AM](h

[2021-02-14 18:19] jbubar commented on #162
@akibrhast made a pr for the filtering. #1034!!!! 🥳
We will merge it in the dev meeting.
I worked on the mobile badges.

[2021-02-14 18:21] ExperimentsInHonesty commented on #1053
Decision:
We are not linking the partner names
we are going to remove the text "(https://ladot.lacity.org/)" from the site
On the one exception - Undebate - we will leave as is.  Reason: partner project, do not want to reduce service to them.

- [x] Please make a new issue with the text we are removing "(https://ladot.lacity.org/)" from TDM calc.

[2021-02-14 18:24] ExperimentsInHonesty commented on #1013
Replaced by #1053

[2021-02-14 18:24] #1013 closed, assigned to nobody

[2021-02-14 18:26] tarang100 commented on #950
Update - Working on the issue
Blockers - None
ETA - Will complete by the end of this week
Availability - Flexible

[2021-02-14 18:42] tarang100 opened #1054 "Creating Labels to Streamline the Weekly Team Meetings"
### Overview
We need to create labels that highlight the current status of an issue to help streamline the weekly team meetings by permitting quick filtering of the Project Board. We have discussed and decided to prioritize issues based on the following possible statuses

Please only **use one label at a time** and update **before the weekly meeting**.

1. Blockers: The person assigned the issue h

[2021-02-14 18:55] #960 closed, assigned to Treidexy

[2021-02-14 18:59] abenipa3 commented on #794
Plans Going Forward (Feedback from Dev Meeting on 2/14/21):

- Focus on restructuring Getting the Most Out of Github and Guide Page files (Make it cross-browser compatible).
- Add content from issue #918.
- Create a new issue to fix Survey Reporting Dashboard for consistency.

[2021-02-14 19:03] drubgrubby commented on #678
@dmcneary - You mentioned that you wouldn't be at the meeting.  Can you please give us an issue update?  Thanks.

[2021-02-14 19:10] drubgrubby commented on #1010
@ahdithebomb - We, the developers, are a little unsure of what you asking here.  It appears that the times are already being pulled from VRMS, and dynamically changing the time based on the person's location.  How much more dynamic are we trying to make it?

[2021-02-14 19:36] jbubar commented on #831
I will look at this and contact kian before the dev meeting on tuesday

[2021-02-14 19:39] jbubar commented on #935
@drubgrubby and I are going to meet this week to go over this issue

[2021-02-14 20:05] drubgrubby commented on #1042
@daniellex0 - In looking at this issue we are not sure exactly what the problem is.  Yes, it is true that the days of the week are in the code in their fullness, but those are used to make the headings for each day of the week in the listing.

Is the problem that the wrong meeting times are showing up in the wrong days of the week?
Is there an issue that we are not seeing?

Inquiring minds want to

[2021-02-14 21:53] daniellex0 commented on #1042
@drubgrubby Yes the issue is closer to the former- that the wrong meeting day is showing up with the wrong times if the viewer is in a different time zone, especially in a different country. Monday night for us is Tuesday morning for someone in Europe, etc. This change was requested by @ExperimentsInHonesty

[2021-02-15 02:48] qiqicodes commented on #967
Progress: Fixed basic issue, aligning the highlighted link in the sticky navigation bar to the content with corresponding id after resize or orientation change . Currently adding a feature that remembers the selected highlighted link in desktop mode and transfer to the corresponding location in mobile mode, and vice versa.

Blockers: Need to figure out how to write the eventListener for the featur

[2021-02-15 07:34] qiqicodes opened #1055 "Fix buggy header navigation bar when resizing from desktop view to mobile view"
### Overview
The header navigation bar is buggy when resizing from desktop view to mobile view.

The issues follow:
- [x] The header navigation bar drops down without clicking the navigation icon.  (when resizing the page from desktop view to mobile view where the viewport width is < 768 px)
- [x] The header navigation bar disappear from page (when the navigation bar is closed by clicking the X ic

[2021-02-15 18:17] akibrhast opened #1056 "Update Project Profile: The LA TDM Calculator"
### Overview
We are removing "(https://ladot.lacity.org/)" from The LA TDM Calculator. Refer #1053

### Action Items
- [x] Remove the the linked URL from LA TDM Calculator
- [x] Adding a link to the links section
[code]

### Resources/Instructions
- https://github.com/hackforla/website/blob/gh-pages/_projects/tdm-calculator.md
- ![image](https://user-images.githubusercontent.com/32349001/107981322

[2021-02-15 18:21] #1053 closed, assigned to akibrhast

[2021-02-16 02:56] #1030 closed, assigned to akibrhast

[2021-02-16 18:23] drubgrubby commented on #1042
@daniellex0 - The following two screen shots are from time-zones that are 12 hours apart. I don't see any evidence that the schedules are showing in the wrong day. It seems that the meetings are being moved into the correct day. I may be wrong; maybe I'm not seeing it.

Do we have screen shots of the problem that we are trying to fix?

<img width="421" alt="Screen Shot 2021-02-16 at 10 13 34 AM" s

[2021-02-16 18:26] drubgrubby commented on #1010
@ahdithebomb - Is this issue the same as https://github.com/hackforla/website/issues/1042 ?

[2021-02-16 18:33] IAgbaje opened #1057 "Create a Guide Page for Kanban board setup"
### Overview
Create a guide page for Kanban board setup that briefly explains the link in the resources section.

### Action Items

- [ ] Write a text that briefly summarizes the content in the deck and what it will help users accomplish.

### Resources/Instructions
https://docs.google.com/presentation/d/1LHtvnHb35Sw7cHzk8RYJG4a1U9RblZepsC3wL7ZEpV0/edit.

[2021-02-16 18:36] drubgrubby commented on #1054
Greetings team.  I have a couple of questions about the specific labels:

1) What is the difference between status 1 and 2?
2) Often people put in their updates that they have a blocker, but the blocker is that they didn't have enough time to work on the issue.  How can we distinguish between blockers that we should look at during the meeting, and blockers that we don't need to look at during the

[2021-02-16 18:48] IAgbaje commented on #701
- [ ] This guide issue needs to be updated on our [Guide Tracking sheet](https://docs.google.com/spreadsheets/d/1omYkR_WeploNuOkF3Pqsg6DhIdej5SS2EBbG9FRefbA/edit?usp=sharing)

[2021-02-16 18:49] IAgbaje commented on #587
- [ ] This guide issue needs to be updated on our [Guide Tracking sheet](https://docs.google.com/spreadsheets/d/1omYkR_WeploNuOkF3Pqsg6DhIdej5SS2EBbG9FRefbA/edit?usp=sharing)

[2021-02-16 18:51] IAgbaje commented on #209
- [ ] This guide issue needs to be updated on our [Guide Tracking sheet](https://docs.google.com/spreadsheets/d/1omYkR_WeploNuOkF3Pqsg6DhIdej5SS2EBbG9FRefbA/edit?usp=sharing)

[2021-02-16 18:52] IAgbaje commented on #982
The above task has been completed.

[2021-02-16 19:33] dmcneary commented on #678
2/16 update:
Progress: still working on CSS, "Slack invite notice" banner and leader label-cards pending
Blockers: school
Availability: mid-day and evenings
ETA: hopefully 2/21

Progress screenshots:
![image](https://user-images.githubusercontent.com/43227293/108150253-3cee1b00-7089-11eb-9edb-fc980d62eb76.png)
![image](https://user-images.githubusercontent.com/43227293/108150276-51321800-7089-11eb

[2021-02-16 19:33] drubgrubby commented on #1050
The image was accidentally deleted in a previous PR (and I didn't notice when I merged it). The attached PR replaces the image.  There shouldn't be any other impact from the mistake that caused this, so rather than trying to roll back the commit that caused the problem it seemed easier to simply re-add the image.

[2021-02-16 20:07] daniellex0 commented on #1042
@drubgrubby @evancchen I'm about to talk with Bonnie, so I'll try to bring this up!

Edit: Sorry the meeting is rescheduled for tomorrow, but I'll hopefully have an answer then.

[2021-02-16 22:11] daniellex0 commented on #1042
Btw @evancchen maybe cross reference any changes you make with the Project Meetings page to see if the same changes should be made there too

[2021-02-16 22:12] daniellex0 commented on #1042
Btw @evancchen maybe cross reference any changes you make with the [Project Meetings](https://www.hackforla.org/project-meetings) page to see if the same changes should be made there too

[2021-02-16 22:30] akibrhast commented on #1028
@ExperimentsInHonesty Just wanted to reconfirm what you said last time in our meeting. If I am not mistaken you said 'I already have a solution for that' in regards to getting a notification on slack when the google sheet adds a new row to it. I believe the solution involved using Zapier ? I was looking into Zapier and I believe only someone with admin rights on the slack channel can add the new i

[2021-02-16 23:48] ahdithebomb commented on #879
@ExperimentsInHonesty will take responsibility for civic tech structure.

[2021-02-16 23:48] #879 closed, assigned to ExperimentsInHonesty, ahdithebomb

[2021-02-16 23:56] ahdithebomb commented on #799
Reword the project definition.
Update the read me with a link to the wiki with a list of bullets.
Update the Introduction to the Project from the refreshed one sheeter.

[2021-02-17 01:08] akibrhast commented on #1043
![image](https://user-images.githubusercontent.com/32349001/108141946-c7874800-7092-11eb-9678-51deba066a97.png)

[2021-02-17 01:14] akibrhast commented on #1055
@drubgrubby @daniellex0 I Just want to double check with everyone if this is a bug or intended behavior? Cause the above mentioned behavior is the same across the entire site.

[2021-02-17 01:16] jbubar opened #1060 "Create a wins form."
### Overview
Create a wins form to replace the current google form following the [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0)
The ultimate goal is to have this form populate a google sheet which team managers can review and approve.

### Action Items
- [x] create an html form called something like wins-form.html
- [x] populate it with questions sh

[2021-02-17 01:22] jbubar opened #1061 "connect the wins form to a google sheet"
### Dependency
Creating the wins form: #1060

### Overview
We want the new wins form to output its values to a google sheet so that site managers can review and approve them

### Action Items
- [ ] follow the tutorial below to create a google sheet that gets inputs from the new google sheet

### Resources/Instructions
[tutorial](https://medium.com/@dmccoy/how-to-submit-an-html-form-to-google-sheet

[2021-02-17 01:24] akibrhast commented on #1029
:alien: :alien: :alien: @ahdithebomb @IAgbaje @pawan92 @tarang100 :alien: :alien: :alien:
1. After looking into writing a scraper for a person's LinkedIn photo. I have discovered that it will not be possible to write an anonymous scraper for LinkedIn. LinkedIn has made impossible to crawl through their site unless you are logged in.
2. As such I believe we are going to have to create a hackforla L

[2021-02-17 01:28] akibrhast commented on #1029
@jbubar If you could please take care of separating ' use linkedin photos on wins page' into it's own issue and adding this as a dependency that would be awesome!

Once we have a both linkedin account I would like to take care of the scraper and the github actions

[2021-02-17 01:31] jbubar opened #1062 "Add the Heart.png image back"
### Overview
For some reason in [this pr](https://github.com/hackforla/website/pull/1007), we accidentally deleted the heart.png image.. please add it back.

### Action Items
- [ ] Take the following image, and add it to the assets/images/projects folder.
- [ ] title it heart.png
![heart](https://user-images.githubusercontent.com/53061723/108143344-66547a00-707c-11eb-8db2-9da4f1e273d3.png)
- [ ] c

[2021-02-17 01:36] daniellex0 opened #1063 "Align news items evenly in About Us page"
### Overview
We need to align the news articles in the bottom of the new [About Us page ](https://www.hackforla.org/about-us )more evenly (similar to the Figma mockup) so that the page keeps its visual consistency

### Action Items
- [ ] Review Figma file of About Us page (final design in green rectangle on the bottom)
- [ ] Make the website design more similar to the Figma- more evenly aligned if

[2021-02-17 01:37] jbubar commented on #1055
If I remember correctly, I think it is a bug that we all decided would not be worth the time to fix a while ago... but I think we are reconsidering it now.. lol

[2021-02-17 01:46] daniellex0 opened #1064 "Align platform items evenly in About Us page"
### Overview
We need to align the colorful platform items on the second page card from the top, left column more evenly to keep visual consistency on the About Us page

### Action Items
- [ ] Review Figma file of About Us page (final design in green rectangle on the bottom)
- [ ] Make the website design more similar to the Figma- more evenly aligned if possible

### Resources/Instructions
[About U

[2021-02-17 01:48] jbubar opened #1065 "Add --incremental to our docker-compose.yml"
### Overview
Docker takes 30 or more s to reload after saving  changes. This is quite a pain, especially when working with css.
@akibrhast told me about the --incremental tag, which speed up the reload time by at least 3 times!
I messaged @cnk about this and she said it would be fine.

### Action Items

- [x] get the approval from product
- [x] add the --incremental tag (-I) to the Jekyll serve co

[2021-02-17 01:50] jbubar commented on #1065
Hey product. I was hoping you could sign off on this. I think it would make a big difference for developers

[2021-02-17 01:54] akibrhast commented on #1029
## Update
According to @ahdithebomb

[2021-02-17 01:55] drubgrubby commented on #1055
@akibrhast (@daniellex0)-  I believe it is a bug, but it's not a bug on the about-us page, it's a bug with the mobile navigation, which is on all pages.  It seems like there are two things, one is the one that Qiqi mentioned, that if you open the mobile menu, then expand the page so the regular navigation shows, and then you shrink the page again, the navigation appears already dropped down.  I th

[2021-02-17 01:57] jbubar opened #1066 "Refactor the wins page code to be cleaner"
### Overview
I learned from akib about the html template element which can be used to significantly reduce the amount of code needed for the wins page

### Action Items
- [x] rewrite the makeCards function to populate a template rather than all the creating elements and appending children that is going on
- [x] make sure that it continues to work with the see more functionality, including the meas

[2021-02-17 01:58] qiqicodes commented on #1055
@drubgrubby Should I edit the title of this issue and address the issue as a mobile navigation issue?

[2021-02-17 02:01] jbubar opened #1067 "Bug: github images do not show up on overlay"
### Overview
For the wins page the github images do not show up on overlay
![Screen Shot 2021-02-16 at 5 59 49 PM](https://user-images.githubusercontent.com/53061723/108145729-c6e5b600-7080-11eb-973b-8950feeb0b9a.png)

### Action Items
- [ ] you know what to do

[2021-02-17 02:02] drubgrubby commented on #1055
@qiqicodes - That would be nice. Just remove the about-us reference.

[2021-02-17 02:02] ahdithebomb commented on #1010
Yes it is

[2021-02-17 02:07] jbubar opened #1068 "Add important information about content on site to the wiki"
### Dependency
- #3636
- #1534

### Overview
In the last meeting bonnie made it clear that we can never have anything from the public go onto our site without being seen first. This includes anything in any file on the site.

### Action Items
- [ ] go through the wiki and find the place/places where to put this information
- [ ] put that information in the wiki
- [ ] provide an update to this issu

[2021-02-17 02:08] akibrhast commented on #1055
### Update
The issue starts happening when moving from 767px to 768px and then it resolves it self after 850px

### Resources
[code]

[code]

- https://github.com/hackforla/website/blob/8760bd1d29cf4860eebcdeb8e91fa233c550d399/_includes/main-nav.html#L1
- _includes/hamburger-nav.html

[2021-02-17 02:22] jbubar opened #1069 "Create a new github action that will eventually replace the wins page github action"
### Overview
The current wins data contains all of the information on the [google sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit#gid=1106372497) populated by the [google form](https://docs.google.com/forms/d/1RhgDlPikDz63hoIDYQag8pUZwYtKq-ZpGG46mhVOrL0/edit?usp=drive_web)
Because we do not want anything directly published from the site without being

[2021-02-17 03:07] jbubar opened #1070 "Refactor the wins page to get its data from the new _wins-data"
### dependency
Create a new github action that will eventually replace the wins page github action: #1069
### Overview
Refactor the code to pull from the new wins data

### Action Items
- [ ] rewrite the code to pull from the new wins data
- [ ] clean up the code and delete lines that are not being used
- [ ] delete the old github action
- [ ] delete the old wins data

### Resources/Instructions
R

[2021-02-17 03:11] #1050 closed, assigned to drubgrubby

[2021-02-17 03:16] mcspach commented on #959
Update
Blockers:
If I can get some (more) help, that would be sweet.
1. bug- A few bugs w/ image not showing up after filtering.
2. bug- Tabs with more than one word title do not filter properly.
3. I will update css once the filter is 100% functional.

Here's what it looks like now. Should be clear which parts aren't working.

https://user-images.githubusercontent.com/38964454/108151176-f8fc1580-

[2021-02-17 03:22] #1043 closed, assigned to akibrhast

[2021-02-17 03:26] TeddyTelanoff commented on #1041
![image](https://user-images.githubusercontent.com/29633838/108151984-d3700b80-708c-11eb-9d8c-ee56add1a4d2.png)

This part of the figma is not very clear, @daniellex0  can you please fix it?

[2021-02-17 03:41] dmcneary opened #1071 "Refactor <span> elements on current projects dropdown menus to <label> elements"
### Overview
Currently, the dropdown menus on the "Current Projects" section of the homepage require a user to click directly on the checkbox. If each checkbox input element is wrapped in a label element, a user can also click on the text to select the checkbox.

### Details
Here's a screenshot of the relevant code:

![image](https://user-images.githubusercontent.com/43227293/108152286-92c4c200-70

[2021-02-17 03:46] ItsLaszlo commented on #935
Good source from @dmcneary https://mskelton.medium.com/auto-formatting-code-using-prettier-and-github-actions-ed458f58b7df

[2021-02-17 06:28] jbubar commented on #831
I think this issue is good to close. Thanks Kian!

[2021-02-17 06:28] #831 closed, assigned to KianBadie, jbubar, drubgrubby

[2021-02-17 15:18] akibrhast commented on #1062
Duplicate of #1050

[2021-02-17 15:18] #1062 closed, assigned to nobody

[2021-02-17 16:08] akibrhast commented on #935
@drubgrubby @ahdithebomb @martham0 @dmcneary @hackforla/owners @ExperimentsInHonesty @pawan92

[This](https://github.com/akibrhast/github-actions-test/pull/1) is a demo repo with GitHub action configured to run prettier on all pull request.

I believe you can check it out in action by creating a pull request with weirdly formatted js,md and json files .
_Before we add the new GitHub action to run

[2021-02-17 16:42] akibrhast commented on #935
Output of running prettier on master as it is.
![image](https://user-images.githubusercontent.com/32349001/108236656-24c3dd80-7115-11eb-85d8-dae7806c5724.png)

[2021-02-17 17:14] tarang100 commented on #915
**Update**

The Miro account for HfLA website has been created with hflawebsite@gmail.com; the details has been added to the 1Password Vault named "website-hackforla.org"

Till now 6 members from the website have been invited to work on the Miro Board
- Bonnie (bonnie@hackforla.org)
- Tarang (taranggupta100@gmail.com)
- Ahdi (ahdiuthayakumar@gmail.com)
- Pawan (pawanmurthy92@gmail.com)
- Danielle

[2021-02-17 18:13] ahdithebomb commented on #854
The current template is pretty straight forward in my thoughts.

However @drubgrubby and I previously talked about possibly having an example issue write-up in the wiki and just having the template list all of the various sections.

[2021-02-17 18:29] tarang100 commented on #969
Project Board arranged by @tarang100 on 17th Feb 2021 at 23:58 (IST) / 10:28 (PST)

@pawan92 please review and arrange the Project Board before Sunday's meeting

[2021-02-17 18:30] drubgrubby commented on #935
@cnk - We are looking at implementing something to clean up and standardize code being submitted. We have started down a path using Prettier, which seems promising and @akibrhast has done some great testing and research.

In your advisory capacity, can you suggest how best to proceed in implementing something like this?  It seems like it could be a great benefit, but I can see how it might cause s

[2021-02-17 19:02] ahdithebomb commented on #959
@mcspach Looks like you remove the help wanted label, what is the current status.

[2021-02-17 19:05] ahdithebomb commented on #959
Please update your issue with one of the following labels.

For Instance, in this case the correct label is Needs Update.

That doesn't mean you need to do an update right now, it means the next thing that will be done is an update. When you do it, you will remove that label and add Update added.

Blockers: Needs assistance during the meeting, external factors are preventing progress.
Help Wanted:

[2021-02-17 19:19] ahdithebomb commented on #1054
@drubgrubby

**1. & 2.** All blockers need to be looked at during the meeting to discuss time constraints and possibly redelegate the issue depending on the deadline.

 **3.** See this [explanation](https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues), let us know if you have any other questions.

[2021-02-17 19:23] ahdithebomb commented on #799
@pawan92 @tarang100 @IAgbaje @ahdithebomb will go through and clean up the Introduction to the Project page by the next Team Meeting on Sunday.

[2021-02-17 19:30] cnk commented on #935
I have some serious reservations about automating changes to our html/md files because they contain a mix of html, javascript, and Liquid template tags. We have already released a couple of bugs because someone's code editor "fixed" some things it did not understand.

Do you have a link to anything showing that prettier understands Liquid?

Something like https://prettier.io/docs/en/precommit.html

[2021-02-17 19:41] tarang100 commented on #844
@jbubar we have updated the list of partners, it is more detailed now. We can have the developers start working on integrating this into the About page. Please write back with issue number.

[2021-02-17 22:48] drubgrubby commented on #935
@akibrhast - (From cynthia)  "Do you have a link to anything showing that prettier understands Liquid?"

[2021-02-18 04:13] ltung05 commented on #803
The onboarding procedure is documented:
https://docs.google.com/document/d/1k0HYLcEhqAWLliokM_FRfva-vRjz0uEgFRCeaNFZb1k/edit

@ExperimentsInHonesty turned this over to the UI/UX team, they will help create a slide deck from here on.

[2021-02-18 04:14] akibrhast commented on #935
@cnk @drubgrubby
According to this, it seems that it Shouuuuld be fine ... :sweat_smile: :sweat_smile: :sweat_smile: :sweat_smile:
https://prettier.io/blog/2018/05/27/1.13.0.html#preserve-liquid-tag-contents-4484-by-duailibe

[2021-02-18 05:54] ahdithebomb opened #1074 "New HfLA PM Meeting time coordination"
### Overview
The weekly meeting needs to be adjusted so that a new time can be finalized among all necessary stakeholders.

### Action Items
- [x] @tarang100, @IAgbaje, and Swaroop need to coordinate a time that works best for all 3
- [x] Inform @ExperimentsInHonesty which time slots work best and have her choose one
- [ ] Finalize a time slot and send an invite

### Resources/Instructions
~~[Lett

[2021-02-18 06:31] ahdithebomb opened #1076 "Linkedin Letter for API Request"
### Overview
There needs to be a letter written so that LinkedIn can give us access to their API to be able to scrap photos directly from the website.

### Action Items
- [x] Need to revise/complete the Existing Draft (refer to the Existing Draft)
- [ ] Get stats
  - [ ] Create spreadsheet
  - [ ] Review every linked in profile, populating spreadsheet with findings
  - [ ] Present findings
- [ ] D

[2021-02-18 16:24] drubgrubby commented on #966
A Pull Request has been submitted for this issue.

[2021-02-18 23:14] #966 closed, assigned to drubgrubby

[2021-02-18 23:22] jbubar commented on #967
@drubgrubby @akibrhast The bug I found in this pr #1073 was just when you refresh the page after having clicked on a menu item
for example '/about-us#donations'
If you click on a menu item and then refresh the page does not calibrate correctly, does not have to do with mobile view..
Seems like @qiqicodes is already on that, but I though I would make a comment anyways. 😄

[2021-02-19 00:01] jbubar commented on #844
@drubgrubby Could you take this on?

[2021-02-19 02:04] drubgrubby commented on #863
The authoritative list of partners can be found on #844

[2021-02-19 02:08] drubgrubby commented on #844
@tarang100 - The issue for making the partner images into hyperlinks is #863 . I have removed the dependencies tag and added some things to make the issue look clearer, but please take a look at the issue and make (or suggest) any changes you think necessary.

Just to clarify: The list of partners is this issue.  Correct? This issue is what the developers should use to complete issue #863 .

[2021-02-19 02:12] drubgrubby commented on #863
@kevinreber - I see that you self assigned this issue.  The issue had dependencies at the time; we were waiting to get complete information about the partners.  That has now been completed.  I'm not sure where you are with your work on this issue, but be sure to go back and check the list of partners to make sure you have everything you need.  Let me know if you have any questions.

[2021-02-19 02:30] ExperimentsInHonesty commented on #209
added the draft doc to the civictechstructure.org page

[2021-02-19 02:39] ExperimentsInHonesty opened #1077 "Update project card: VRMS"
### Overview
We need to update the VRMS project card so it reflects the changes in their project.  This will enable new and perspective team members to find the correct people on the leadership to connect with.

### Action Items
- [x] Add the following information to the project markdown file:
Leadership
Name: Khushboo Shah
Role: Product Manager
Team: VRMS
Slack ID: U01EW21842X
GitHub handle: khus

[2021-02-19 07:08] Olivia-Chiong commented on #844
Food Oasis one sheet issue is https://github.com/hackforla/product-management/issues/127

[2021-02-19 08:33] daniellex0 commented on #1044
So sorry @TeddyTelanoff , I just finally fixed this! Let me know if there are any other issues

[2021-02-19 08:36] daniellex0 commented on #1044
(Just FYI @TeddyTelanoff since you might get an alert, I deleted your comment about this on the Events page issue to avoid confusion)

[2021-02-19 17:35] akibrhast commented on #1060
## Update
- The current functionality of the wins form stands such that submitting the form populate the new google sheet linked below.
Logical implementation wise and functionality wise it's almost complete. Except for two form fields that I have yet to set up.
- I have spoken to @trtincher and he is willing to take over from me to implement the css changes needed to match the figma specs
- I hav

[2021-02-19 19:31] drubgrubby commented on #935
@ExperimentsInHonesty - Not sure what the next step in decision making on this is.  Should we put in questions and discuss on Sunday?

[2021-02-20 06:50] kevinreber commented on #935
I don't remember if anyone mentioned this, but I found another option that I thought may be easier and give us more control. We can make our own ".prettierrc" file and configure the formatting so everyone has the same prettier conventions.
- https://prettier.io/docs/en/configuration.html
If you're in VSCode, the only change you'd have to do is check off the "Prettier: Require Config" box in your s

[2021-02-20 06:55] kevinreber commented on #863
Got it, thanks for the update @drubgrubby! Should have it done by next meeting.

[2021-02-20 07:09] dmcneary commented on #935
As @cnk mentioned, using Prettier locally would be an option but would force each dev to use Node, as the package is installed with npm. The advantage to running the formatter as a Github Action would be that the dependencies for the website as a project stay close to where they are now.

If anyone feels up to investigating more, I would suggest running a forked repo of the website through the Pre

[2021-02-20 11:06] tarang100 commented on #844
@drubgrubby - Yes you are right, the list of partners given in this issue is to be used for completing issue #863
Also #863 looks good! I have made minor edits to the issue to make it more detailed. Thanks for the help!

[2021-02-21 03:31] drubgrubby commented on #967
@qiqicodes - I merged the fix for the accordion bug this past week.  It shouldn't impact any of the work that you're doing on this, but just to be safe I recommend updating the branch you're working on to make it current to make sure there are no conflicts.  Let me know if you have questions about how to do that.  (You may have done it already).

[2021-02-21 04:00] daniellex0 commented on #1042
@drubgrubby @evancchen I'm not sure I updated you guys on this- Bonnie didn't realize the meeting times automatically jump down to the correct day, so you guys are right- the main problem in this issue is not an actual problem after all. But I'm glad it led to finding that bug!

[2021-02-21 04:54] dmcneary commented on #678
2/20 update:
Progress: still working on  desktop CSS, "Slack invite notice" banner and leader label-cards pending design
Blockers: school
Availability: mid-day and evenings
ETA: hopefully 2/23

[2021-02-21 07:57] tarang100 commented on #1074
The Lettuce Meet for the weekly HfLA Website PM Meeting has been set up and the timings available have been shared by all 3 PMs. Link to the [Lettuce Meet](https://lettucemeet.com/l/AEvA6)

The only common time slot available for all 3 PMs is Wednesday, 10:30 AM - 12:30 PM PST. Need to check Bonnie's availability for this slot

[2021-02-21 09:27] qiqicodes commented on #967
Thank you @jbubar @drubgrubby for looping me in the pr #1073. The helpful information regarding the variable used for tracking the state between mobile and desktop is much appreciated. I am currently working on the feature at the moment.

And in regards to the conflict, there is no conflict.

[2021-02-21 10:21] matthewlee626 commented on #962
Haven't heard back yet, so I'll check in at the Sunday meeting to see if I can get some guidelines. For now I've divided most of the README content onto a CONTRIBUTING .md file akin to what is seen in [Civic Tech Index](https://github.com/civictechindex/CTI-website-frontend/blob/main/CONTRIBUTING.md) on local repo. Will open pull req if I get the greenlight.

[2021-02-21 11:35] abenipa3 commented on #794
Progress: Researched how to resolve cross-browser compatibility issues, but not sure how to proceed. Updated text size and alignment. Pushed my latest code for review as a draft (#933).

"Final" Output for mobile via (Firefox):
![image](https://user-images.githubusercontent.com/38295612/108634652-60211d80-742f-11eb-94af-a96e3abbb125.png)

Blocks: Need a final confirmation to see if restructuring i

[2021-02-21 16:47] ItsLaszlo commented on #1027
Progress: will set up a time this week with Danielle to discuss the template
Blockers: none yet
ETA: TBD

[2021-02-21 17:07] daniellex0 commented on #958
Progress: Dependencies are pending (new pages being worked on and Alyssa's issue may rely on old page cards, so I don't want to change too much before she's done). However it's ready to deploy soon and I'm still gathering some feedback/experiences from developers working on new pages (for ex. Travis found a fix for an inconsistency in the margins between page cards on different pages, which will n

[2021-02-21 17:10] daniellex0 commented on #577
Progress: Coordinating with Martha on her issue for creating new page template wiki (and continuing to work on the connected overall new page wiki), spoke with a professional product designer in charge of design system to get better understanding of industry standards in collaborating with devs, did a lot of research about Storybook and Zeroheight (but decided to back off, may not be right for thi

[2021-02-21 17:13] daniellex0 commented on #981
Progress: Design ready for final review - https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0

[2021-02-21 17:14] mcspach commented on #959
<img width="1392" alt="Screen Shot 2021-02-21 at 9 10 21 AM" src="https://user-images.githubusercontent.com/38964454/108632604-b6d52a00-7424-11eb-8e23-bf2e09636a27.png">
<img width="1395" alt="Screen Shot 2021-02-21 at 9 10 37 AM" src="https://user-images.githubusercontent.com/38964454/108632606-b76dc080-7424-11eb-878a-2dc14c78215e.png">

Progress: Working, needs review, small CSS changes will be

[2021-02-21 17:22] daniellex0 opened #1079 "Create onboarding slideshow: Bonnie's onboarding presentation"
### Overview
We need to create a visually pleasing and organized onboarding slideshow. Slide deck should include HackforLA branding and main onboarding points, and will accompany Bonnie's zoom onboarding presentation, so that attendees can view information as they hear about it.

### Action Items
- [x] Review Bonnie's presentation notes (below)
- [x] Create detailed onboarding slideshow based on B

[2021-02-21 17:23] ahdithebomb commented on #859
Progress:  Received feedback on the draft from Bonnie and have identified the necessary folks to interview as part of next steps.
Blocks: N/A
Availability: I Will coordinate with @nielseny to divvy up the work and complete it.
ETA: 2 weeks

[2021-02-21 17:29] cnk commented on #935
Great research! I think the way forward is:

- [ ] Decide our coding standards and create a `.prettierrc` file for the project
- [ ] Update our wiki saying we use prettier with links to how to run prettier locally before you submit a PR
- [ ] Run prettier and make one large pull request fixing all the existing issues
- [ ] Create a github action that runs on each PR that checks if running prettier

[2021-02-21 17:32] daniellex0 opened #1080 "Duplicate Getting Started page and remove Self-Onboarding option from new version"
### Overview
We need to duplicate the [Getting Started page](https://www.hackforla.org/getting-started), and remove the self-onboarding option from one copy of the page, because the video link doesn't work. However we will eventually have the self-onboarding again, once the slideshow is finished, so we want to save the old version of the page.

### Action Items
- [x] Duplicate the Getting Started

[2021-02-21 17:37] #894 closed, assigned to DanielekPark

[2021-02-21 17:39] daniellex0 opened #1081 "Wrap guide cards to the left in Toolkit page"
### Overview
We need the bottom row of guide cards in the Toolkit page to be wrapped to the left, to bring it back to how it used to look before this page was standardized, and to conform with design standards.

### Action Items
- [x] Try to find a way to wrap the bottom row of guide cards to the left, instead of center, on the Toolkit page

### Resources/Instructions
[Toolkit page](https://www.ha

[2021-02-21 17:40] ahdithebomb commented on #618
Proposed Changes
- [ ] Step 3 Include the Time Commitment in the Getting Started
 I  think it makes more sense to have the high-level time commitment needed from volunteers be displayed earlier on the page. We can add that it may vary by skill-set and project, however this way I think people find out if this is something they can be apart of earlier rather than later.

[2021-02-21 17:46] daniellex0 opened #1082 "Add Site Map, Credits, and space for Privacy Policy link to site footer"
### Overview
We need to add links to the Site map page and Credits page (plus a space for the Privacy Policy page) to the footer so that visitors can access these pages.

### Action Items
- [ ] Research ways that other websites incorporate Privacy Policy, etc. links in their footers
- [ ] Mock up a design for Site Map and Credits links (including a temporarily blank space for the Privacy Policy pa

[2021-02-21 17:49] pawan92 commented on #678
@dmcneary Could you please add the labels we talked about?
Please refer to https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues for understanding on how to add the status labels

[2021-02-21 17:50] pawan92 commented on #962
@matthewlee626 Can you please add the labels for status?

[2021-02-21 17:51] pawan92 commented on #862
@danyc23 Can you please add the labels for status?
Please refer to https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues for further understanding on how to add labels

[2021-02-21 17:51] pawan92 commented on #1044
@TeddyTelanoff Can you please add the labels for status?
Please refer to https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues for understanding on how to add the status labels

[2021-02-21 17:52] pawan92 commented on #1042
@evancchen Can you please add the labels for status?
Please refer to https://github.com/hackforla/website/wiki/Instructions-for-adding-Status-Labels-to-issues for understanding on how to add the status labels

[2021-02-21 17:52] pawan92 commented on #967
@qiqicodes Can you please add the labels for status?

[2021-02-21 17:54] pawan92 commented on #918
@ashleylin1 Can you please add the labels for status?

[2021-02-21 17:54] pawan92 commented on #981
@daniellex0 Can you please add the labels for status?

[2021-02-21 17:57] ahdithebomb commented on #799
Progress: No New Updates
Blocks: Not quite clear what needs to be updated based on a conversation with @pawan92  @tarang100
Availability: Flexible next weekend depending on the additional changes that need to be made based on feedback.
ETA: TBD

[2021-02-21 17:58] ahdithebomb commented on #707
Progress:  Same as last week
Blocks: Need team's feedback to determine whether the guide makes/doesn't make sense.
Availability: I Will coordinate with @daniellen00 and make necessary updates.
ETA: TBD

[2021-02-21 17:58] daniellex0 commented on #765
Progress: Team esearched onboarding experiences, from POV of both volunteers and PM's. We synthesized research in Miro board.

Next steps: Finalize how to enact research findings and improve onboarding experience.

[2021-02-21 17:59] tarang100 commented on #752
Blockers: scss changes not being reflected in browsers.
ETA: Tuesday 2/23/19
Availability: Monday, Tuesday evening. Sunday.

[2021-02-21 18:07] kevinreber commented on #863
### Progress
- All anchor elements/links are working

### Blockers
- Should logos be saved as ".png" files or ".svg"?
- Some logos are bigger than others, is there a styling class we should add to each logo?
![image](https://user-images.githubusercontent.com/42260999/108633838-585f7a00-742b-11eb-82e1-cb120128cb00.png)
- We already have some "older" logos for some of the partners listed in #844, sh

[2021-02-21 18:14] qiqicodes commented on #967
@pawan92 I'm working on the label at the moment

[2021-02-21 18:23] qiqicodes commented on #967
**Progress:** Fixed basic issue, highlighted link in the sticky navigation bar aligns to the content with corresponding id after resize or orientation change. I can create a pr to merge the my code to the gh-pages.

Still working the feature that remembers the selected highlighted link in desktop mode and transfer to the corresponding location in mobile mode, and vice versa.

**Blockers:** Should

[2021-02-21 18:24] ExperimentsInHonesty commented on #959
@mcspach please talk to David or Josh about Pull Request readiness and draft state.  They can help you with your next steps.  Also I added a comment to your PR

[2021-02-21 18:33] christina245 commented on #632
Created a new version of the page with the proper dimensions.

[2021-02-21 18:35] jbubar commented on #162
Progress: did the mobile view with icons, still need to fix the styling on the overlay
blocks: a lot of my time has been allocated to more administrative things
availability: limited
ETA: tues

[2021-02-21 18:43] tarang100 commented on #1074
The following issue needs to be discussed during the upcoming weekly PM Meeting
https://github.com/hackforla/product-management/issues/67

[2021-02-21 18:47] ExperimentsInHonesty commented on #962
Notes from meeting
@matthewlee626 will update this issue with the following for review and @ mention Danielle
- [x] a revised copy of the README.md with a link to wiki, etc. in a comment
- [x] a copy of the CONTRIBUTING.md file in a comment

[2021-02-21 18:54] jbubar commented on #1060
Just an update. I think there is a small mistake on this git command shared above.
[code]

[2021-02-21 19:02] ExperimentsInHonesty commented on #863
@kevinreber Here is update from our meeting
Use SVG if they have it
Use PNG if not SVG exists
Logos will be width bound
Use class name Component-name—page-name (danielle will revise this guidance after you talk)

Q: We already have some "older" logos for some of the partners listed in #844, should I overwrite the "older" logo files and replace them with the updated logos in #844?
A: Yes

[SVG grab

[2021-02-21 19:15] matthewlee626 commented on #962
README.md
# Website

Hack for LA's website: https://www.hackforla.org

Please refer to the [wiki](https://github.com/hackforla/website/wiki) to learn more about the following areas.
1. Project Definition
2. Joining the Team
3. Tools by Role
4. Resources by Role
5. Agendas
6. Project Terminology

This is a standard [Jekyll](https://jekyllrb.com/) site hosted right here on [GitHub pages](https://pag

[2021-02-21 19:16] matthewlee626 commented on #962
CONTRIBUTING.md
# How to Contribute

To develop the site, you'll need to first clone the repository on to your computer. For new Git users, see the [Using Git](#using-git) section below. <br><br>

# OVERVIEW
**Set up**
1. [Join the Repo Team](#step-1-become-a-member-of-the-repository-team)

2. [Using Git](#using-git) and [Fork the Repo](#step-2-fork-the-repository)

3. [Clone to your local machine

[2021-02-21 19:19] akibrhast commented on #794
### Prospective Resource Link
https://jekyllrb.com/docs/step-by-step/04-layouts/

[2021-02-21 19:22] matthewlee626 commented on #962
@daniellex0 Please look over these and tell me if they look alright!

[2021-02-21 19:26] matthewlee626 commented on #962
@daniellex0 Let me know if these .md files look good!

[2021-02-21 19:38] danyc23 commented on #862
- Tablet view
![Screen Shot 2021-02-21 at 11 27 53 AM](https://user-images.githubusercontent.com/42159475/108636168-71baf300-7438-11eb-9747-5fa1bde3af9b.png)

- Fullscreen
![Screen Shot 2021-02-21 at 11 36 39 AM](https://user-images.githubusercontent.com/42159475/108636283-29500500-7439-11eb-9b4b-2f29478682ef.png)

[2021-02-21 19:39] ExperimentsInHonesty commented on #935
I would add to what CNK said above that we should add something to our readme (which will soon be the contributing file) about installing the prettier extension on your ide to catch formatting errors before you submit your pr.

Isn't there a github install for a CI that uses prettier?

[2021-02-21 20:02] matthewlee626 commented on #962
This issue should be good.

[2021-02-21 20:49] abenipa3 opened #1085 "Research Formatted Guide Pages Parse with Markdown"
### Overview
We need to research how to create formatted guide pages with Markdown so that the format could be reusable.

### Action Items

Developer
- [x] Research if Jekyll can use Markdown files as a collection to populate unique files from a template.
- [x] Figure out how to use how to guide pages with sticky navigation. (Visit About Us page for reference.)
- [x] Create a working HTML file dem

[2021-02-21 20:52] abenipa3 commented on #794
Researching Format Guide Pages Parse with Markdown. #1085

[2021-02-21 21:25] abenipa3 opened #1086 "Create Formatted Guide Pages Parse with Markdown"
### Dependency
After having a feasibility plan for how to create Markdown for Desktop (#1085) and Mobile (#1515), implement the formatted guide pages into Hack for LA's repo.

### Action Items

- [ ]  Implement the formatted guide pages into Hack for LA's repo.
- [ ] Create documentation on Guide Pages.

### Resources/Instructions
[Example of Markdown File of Role](https://github.com/hackforla/civ

[2021-02-21 21:51] #962 closed, assigned to matthewlee626

[2021-02-21 23:28] cnk commented on #935
We might also like to look into ignoring our giant cleanup commit when we do `git blame` https://www.moxio.com/blog/43/ignoring-bulk-change-commits-with-git-blame

[2021-02-21 23:49] qiqicodes opened #1089 "About-us: Aligns user current viewing content when resizing"
### Overview
Add a feature to resize handler, that aligns user current viewing content when resizing between mobile to desktop view.

### Action Items
- [x] Figure out what is causing the browser to behave the way it is.
- [x] add js function to current resizeHandler()

### Resources/Instructions
https://www.hackforla.org/about

[2021-02-21 23:52] qiqicodes commented on #1089
Progress: Working on the feature.

Blockers: Figuring what is causing the browser to behave the way it is.

Availability: Open on M/Tu/Th/F evening & Saturday morning & late night.

ETA: Desire to merge the new feature by 2/27/21 (It may take longer considering the complexity).

[2021-02-22 00:40] #967 closed, assigned to qiqicodes

[2021-02-22 00:45] akibrhast opened #1090 "About-Us Page: Clicking on dropdowns in mobile view should change the hash-mark"
### Overview
Clicking on dropdowns in mobile view should change the hash-mark. Ensure that clicking on the dropdowns and the linked navigation changes the history state to respect the new hash-marks

### Action Items
 - [x] Clicking on dropdowns in mobile view should change the hash-mark.
 - [x] Clicking on currently only changes the hyperlink, It should also change the history state.

### Resourc

[2021-02-22 01:03] akibrhast commented on #1069
### Update
 1. The new data file should be called _wins-data.json
 2. Make it run at 4:30am
 3. DO NOT put email in there
 4. Ensure key names respect the current key names.

[2021-02-22 01:06] akibrhast commented on #1066
## Update
1. Ensure See More button works correctly
2. Revers wins hero href for google forms

[2021-02-22 18:01] #862 closed, assigned to danyc23

[2021-02-22 18:07] akibrhast commented on #864
@drubgrubby Updated one of the dependency, since that issue is now closed

[2021-02-22 18:08] #1080 closed, assigned to matthewlee626

[2021-02-22 19:42] akibrhast commented on #864
@drubgrubby Do you think this is something that could be worked on at the moment given all the previously listed dependencies are closed ?

There are quite a few open issues that needs to be done on about us. Should this one be taken care of first as a priority?

#1089 #1064 #1063 #863 #861 #860

While none of those are dependent on this and this is not dependent on any of those.

Getting the rena

[2021-02-22 19:49] drubgrubby commented on #864
@akibrhast - This is probably as good a time as any.  The only person who is, I think, working on any of these at the moment is @kevinreber , who is working on #863 .  I'm tagging him here so he knows this is happening.  If you need, you can work together to resolve any conflicts with the file name change.

[2021-02-22 20:16] kevinreber commented on #864
I'm currently just waiting for some styling feedback from @daniellex0. I can create a PR of what I have now to avoid any possible merge conflicts and re-visit the styling in a separate issue.

[2021-02-22 22:39] drubgrubby commented on #864
@akibrhast - (if you haven't already) Can you work out with Kevin if you think he should push what he has now and then do the other changes after the rename, or if you want to wait to push the rename, or some third solution?

[2021-02-23 00:02] akibrhast opened #1093 "Refactor directory structure for github/actions"
### Overview
The directory structure of the folder github_action needs to be reorganized such that it is easier in the future to add new github actions.

### Action Items
In terms of refactoring my suggestion is
- [x] Merge action.yml into github-data.yml
- [x] Restructure `github_action` folder such that it follows the naming convention and image as noted below

REPLACE THIS TEXT -If the issue ha

[2021-02-23 00:04] akibrhast commented on #1093
## Update
The above changes are currently being tested here https://github.com/akibrhast/website

[2021-02-23 04:32] daniellex0 commented on #864
@akibrhast @drubgrubby Sorry about the delay, I was just able to get back to @kevinreber - however the edits I sent to him aren't super important, so he can push the changes and make the edits after

[2021-02-23 04:59] #863 closed, assigned to kevinreber

[2021-02-23 19:51] akibrhast commented on #1093
## Progress
The requested action items has been completed. Pull request should close this issue

## Blockers
Waiting on approval for pull request

## Availability
Not available until 3rd March

## ETA
As soon as pull request is accepted

[2021-02-23 19:52] akibrhast commented on #1069
## Progress
The requested action items has been completed.

## Blockers
Needs approval from @cnk  before I can make it into a pull request

## Availability
Not available until 3rd March

## ETA
As soon as pull request is accepted

Reached out to @cnk on slack and waiting on pull request review from her.

[2021-02-23 19:55] akibrhast commented on #1060
## Progress
The requested action items has been completed. Except for the design parts.
@jbubar and @trtincher has taken over continuing the work from my branch and I will not be making any more commits to that branch. I believe this issue can be now be closed with a creation of a new issue that states

## Blockers
None.

## Availability
Not available until 3rd March

## ETA
None.

[2021-02-23 21:37] drubgrubby commented on #860
@ExperimentsInHonesty - Dependencies have been resolved. We're a hair's breadth away from launching this, so whenever you want to send over the letter we can display it proudly on the about page.

[2021-02-24 01:06] ExperimentsInHonesty opened #1096 "Create a project card: Access the Data"
### Overview
We need to add a new project.md file and its related assets to the website so this project can recruit new volunteers.

### Action Items
- [ ] Make a new markdown file using the template and add it to the /_projects folder
- [ ] Add the assets to the /assets/images/projects folder
- [ ] Add a screen shot to the issue here and an update to the [stakeholder's issue](https://github.com/h

[2021-02-24 02:47] mcspach commented on #959
CSS has been updated to complete issue.
<img width="1317" alt="Screen Shot 2021-02-23 at 6 34 11 PM" src="https://user-images.githubusercontent.com/38964454/108940046-8b5e6500-7607-11eb-85f0-c05fcdaa0f40.png">
<img width="441" alt="Screen Shot 2021-02-23 at 6 35 35 PM" src="https://user-images.githubusercontent.com/38964454/108940052-8e595580-7607-11eb-8463-9890884579aa.png">
<img width="418" alt=

[2021-02-24 03:45] #1042 closed, assigned to evancchen

[2021-02-24 03:51] akibrhast opened #1098 "Events: Replace inline styling with class"
### Overview
Currently the days listed in the events page has styles that are appearing as classes. This probably happened due to some IDE auto change.

### Action Items
- [x] Please fix the style to match figma(the stuff highlighted in yellow, replace that text)
- [x] Replace inline styles with classes

### Resources/Instructions
- https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Web

[2021-02-24 04:30] #1093 closed, assigned to akibrhast

[2021-02-24 04:43] #1098 closed, assigned to evancchen

[2021-02-24 05:13] akibrhast commented on #1085
From @alyssabenipayo

https://docs.google.com/document/d/1ivPbOLQh_KYmG7r6Fvx5Goojc3207gDxjTmDvT9vjQ8/edit

[2021-02-24 05:39] csseu commented on #1056
Hi, new member here.
- I edited and submitted as a pull request. Not sure if I was supposed to check off the boxes.
- Do we need to open similar issues for Railstats and Jobs for Hope and put them on the board? I'm not sure what the community culture here is regarding decisions like this, so I haven't done it, but would be happy to open those if desired.

[2021-02-24 05:39] #1056 closed, assigned to csseu

[2021-02-24 06:03] csseu opened #1102 "Update Project Profile: Railstats"
### Overview
We are removing "(https://www.metro.net/)" from Railstats. Refer to #1053

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/metro-ontime.md

### Action Items

- [x] Remove (https://www.metro.net/) from the Partner field

[2021-02-24 06:05] csseu commented on #1102
![metro](https://user-images.githubusercontent.com/23020878/108955555-3892a680-7623-11eb-8cab-37ef136b2201.png)

[2021-02-24 06:08] csseu opened #1103 "Update Project Profile: Jobs for Hope"
Overview
We are removing "http://homeless.lacounty.gov/" from Jobs for Hope. Refer to #1053

Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/jobs-for-hope.md

Action Items
- [ ]  Remove "; http://homeless.lacounty.gov/" from the Partner field

[2021-02-24 06:09] ruqpyL2 commented on #1103
![HI](https://user-images.githubusercontent.com/23020878/108955894-ba82cf80-7623-11eb-905b-1118c3d4a9e5.png)

[2021-02-24 06:10] csseu commented on #1103
![HI](https://user-images.githubusercontent.com/23020878/108956028-f0c04f00-7623-11eb-85bd-0b46f26c1a21.png)

[2021-02-24 06:18] akibrhast commented on #1010
Should this issue be closed? Given that this is the same #1042 , which has already been addressed and closed.
@ahdithebomb

[2021-02-24 06:22] jbubar commented on #1060
@akibrhast can you create a new issue to style the wins form with this as a dependency. ***they can start working on it once this is merged

[2021-02-24 06:23] jbubar commented on #1044
Teddy and I are going to go over this together tomorrow at 3pm

[2021-02-24 06:25] akibrhast opened #1104 "Style the new wins form to match Figma specifications"
### Dependency
- [x] Requires the completion of #1060

### Overview
The new wins form needs to be styled to match figma specifications

### Action Items
- [ ] Style the form to match figma specifications

### Resources/Instructions
- [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0)

- The new wins form is defined under wins/wins-share-form.html

- For

[2021-02-24 06:26] akibrhast commented on #1060
@jbubar New issue created #1104 with this as dependenycy

[2021-02-24 06:51] #1010 closed, assigned to nobody

[2021-02-24 18:06] ahdithebomb commented on #707
Progress: Same as last week
Blocks: We need more assignees to take a look at this!
Availability: Depending on when assignees have time to provide feedback.
ETA: TBD

[2021-02-24 18:08] ahdithebomb commented on #799
Progress: Same as Sunday
Blocks: Need assistance to better understand what exactly needs to be updated from @ExperimentsInHonesty.
Availability: Weekends.
ETA: TBD

[2021-02-24 18:09] ahdithebomb commented on #859
Progress:  Same as Sunday
Blocks: Busy week with work.
Availability: I Will coordinate with @nielseny to divvy up the work and complete it.
ETA: 2 weeks

[2021-02-24 18:11] ahdithebomb commented on #618
Progress: No updates since Sunday
Blocks: N/A
Availability: TBD
ETA: TBD

[2021-02-24 18:42] ExperimentsInHonesty commented on #689
**Why do files in the project.md template file have hashtags?**
The fields in the project.md files that can be ignored are marked with a hashtag `#` because the files are actually yaml files, so the hashtag is being treated as ignore not a header.

**Should I leave in the # tags when I am making a file for a new project?**
If the field is available in the project.md template file then a person cou

[2021-02-24 18:46] shaswa opened #1105 "Identify all project images on projects page that are not 600x400 pixels or don't have 3:2 ratio"
### Overview
We need project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) to have a 3:2 ratio (standard resolution of 600x400 pixels or higher). So that the website appears consistent.

### Action Items

- [x]  Identify and document the px of all the images categorizing them as follows
   - [x]  images that are lower than 600x400 pixels
   - [x] images t

[2021-02-24 22:30] ExperimentsInHonesty commented on #386
Review the feasibility of the following - Editing the script so that it produces the spreadsheet (instead of it being made manually) and another tab on the sheet that has only what project should have but is missing.  In order to determine that, use the criteria below:

**Current projects must have:**
[code]

**Completed projects must have**
[code]
**_they can also have (but not mandatory)_**
[cod

[2021-02-24 22:52] ExperimentsInHonesty commented on #838
This is what remains
https://github.com/hackforla/product-management/issues?q=is%3Aopen+is%3Aissue+label%3A%22feature%3A+project+profile+card%22
As of 2/24
![Screen Shot 2021-02-24 at 2 54 36 PM](https://user-images.githubusercontent.com/37763229/109076932-3fb3c600-76b0-11eb-8a55-78eeae57eccd.png)

Write for all  - the project must be reowned by the org
VRMS - Bonnie needs to meet with Adam and ad

[2021-02-24 23:13] ExperimentsInHonesty commented on #963
This needs to be reconciled with the menu in figma.  All the status should be reflected in the title.

[2021-02-24 23:17] ExperimentsInHonesty commented on #915
@tarang100 How about putting the self invite link into a google doc and then putting a link to that on the board.  That way anyone who has access to our google drive can access but anyone who does not, can't.

[2021-02-24 23:22] Treidexy opened #1106 "Strange behavior on 'Events' page"
### Overview
On the 'Events' page, clicking on some the text "Meetup Events" or "Online Project Team Meetings" causes them to break when the viewport width is greater than 767px.

### Action Items
Disable the dropdown effect when width is greater than 767px.

### Resources/Instructions
![demo](https://user-images.githubusercontent.com/29633838/109079524-e77ec300-76b3-11eb-95a0-269b241ec891.png)

[2021-02-24 23:24] evancchen commented on #1081
![image](https://user-images.githubusercontent.com/62812734/109079815-565c1c00-76b4-11eb-810b-e7b5bd1e5962.png)
Is this okay?

[2021-02-24 23:26] Treidexy opened #1107 "Dropdowns not centered"
### Overview
On the 'Events' page, the dropdowns for "Meetup Events" & "Online Project Team Meetings" are not centered when viewport width is less then 768px.

### Action Items
a) Ask UI team for best way to solve this
or
b) If viewport width is less than 768px, center the dropdown menu's.

### Resources/Instructions

![image](https://user-images.githubusercontent.com/29633838/109079930-8d323200-7

[2021-02-25 01:34] akibrhast opened #1109 "Standardize Events Page - Update tab title"
### Overview
Browser tab title is not up to date

### Action Items
- [x] If possible, please change the name of this page on the browser tab from Hack Nights to Events - Hack for LA

### Resources/Instructions
![image](https://user-images.githubusercontent.com/32349001/109089696-a9979400-76df-11eb-9103-510aeb047894.png)
#1041

[2021-02-25 01:39] akibrhast opened #1110 "Standardize Events Page - Update header section"
### Overview
The header section of the Events page needs to be edited to match site-wide standardization

### Action Items
- [x]  Follow the instructions for standardizing the Events page header in the [Events page Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=62%3A94) (bottom right, in orange rectangle section)

### Resources/Instructions
[Events page F

[2021-02-25 01:43] akibrhast opened #1111 "Standardize Events Page - Below Header Standardization"
### Overview
Below header css needs to be updated

### Action Items
- [x] To stay consistent with other pages (including the Getting Started page), add an additional class to the div that currently has class .getting-started-page , and call this new class .content-section
- [x] Add another new class to the same div from above^ , this time with classname .events-page
- [x] Remove .getting-started-p

[2021-02-25 01:48] akibrhast opened #1112 "Standardize Events Page - Left Column Updates"
### Overview
Left column card meetup css needs to updated

### Action Items
- [x] Add more padding in column cards- should be-
```padding: 32px ```
- [x] Change name of  “.getting-started-page-card-hack-nights”
class - should be renamed -
```.column-card-lg--events```
- [x] Adjust font size and weight of column card subheadings - should be -
  - [x] ```font-size: 1.25rem    (20px) font-weight: 700

[2021-02-25 01:53] akibrhast opened #1113 "Standardize Events Page - Right Column Updates"
### Overview
Right column css and styling needs to be updated

### Action Items
- [x] Add 72px margin between heading and first paragraph (same as in the Meetup column card)
- [x] Line up image and paragraph more evenly
- [x] Onboarding link leads to wrong url- should be to Getting Started page (https://www.hackforla.org/getting-started)
- [x] Make time zone text bold- should be - `font-weight: 70

[2021-02-25 01:56] akibrhast opened #1114 "Standardize Events Page - Covid Banner and Mobile Drop Down Update"
### Overview
css needs to updated for covid banner and mobile drop downs

### Action Items
- [x] Adjust banner font size, weight, and margin - should be -
[code]
- [x] Decrease the padding of the page cards in their collapsed form- should be- `padding: 5px 15px`
- [x] Adjust the border radius- should be - ` border-radius: 20px`

### Resources/Instructions
Figma - https://www.figma.com/file/0RRPy1P

[2021-02-25 02:03] akibrhast opened #1115 "Standardize Events Page - Update Horizontal Cards and Mobile SCSS"
### Overview
The horizontal cards and some of the mobile scss in the Events page needs to be standardized to match other pages on the site

### Action Items
- [ ] Match horizontal cards and mobile scss of Events page with specs listed on the Figma file (in pink rectangle)

### Resources/Instructions
[Figma Events page file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node

[2021-02-25 02:07] akibrhast opened #1116 "Standardize Events Page - Update right columns date-time display"
### Overview
We need to edit the CSS of the Events page schedule to match the Figma file, so that the HfLA meeting dates and times will be more legible for viewers.

This involves data pulled from VRMS, and may be difficult to accomplish

### Action Items
- [x] View the instructions/notes for editing the Events page schedule in the [Events page figma file, in a purple rectangle](https://www.figma.

[2021-02-25 07:27] jbubar opened #1118 "Fix git documentation in contributing"
### Overview
Many people have been adding unnecessary files to their pull requests, @cnk recommended to change the wording on the [CONTRIBUTING.md file](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#step-6-work-on-an-issue-using-git)

In stead of suggesting for the contributors to use `git add .`, we should encourage them to add each file that they have changed, i.e. `git add

[2021-02-25 15:28] VJ1285 opened #1119 "Update Project Profile: LA TDM Calculator"
### Overview
As a product manager of LA TDM Calculator, I want my project's details (title & one-sheet) to be up to date on the HackforLA website

### Project card
Url of the project Card: https://www.hackforla.org/projects/tdm-calculator

### Action Items

- [x] Team Leadership

   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information

[2021-02-25 18:33] #1096 closed, assigned to nobody

[2021-02-26 00:20] akibrhast commented on #1060
@jbubar When do you think you will be able to make a pull request to close this issue?

[2021-02-26 00:40] ggrrettcchhenn commented on #351
record-clearance-project

1. Please remove all current open roles, and replace with Marketing/Communications.
2. Please add Andan Eddy as our third Product Manager – Slack @Andan Eddy, GitHub Andan-Eddy

[2021-02-26 03:02] #1065 closed, assigned to nobody

[2021-02-26 05:10] ashleylin1 commented on #918
Progress: status labels have been added on Figma
Blockers: unsure if issue #1054 needs to be finished or make any adjustments first
Availability: Weekdays after 4pm

[2021-02-26 06:47] daniellex0 commented on #1081
@evancchen yeah, that looks great!

[2021-02-26 07:30] daniellex0 opened #1122 "Standardize Credits Page Header"
### Overview
We need to standardize the Credits page header so that it will be more consistent with the rest of the website, and because a link to this page will soon be in the footer.

### Action Items
UI Design
- [x] Review the standard header layout in the Style Guide & Design System file on Figma
- [x] Apply the standards to the Credits page header on Figma
- [x] Discuss with @daniellex0 how t

[2021-02-26 10:52] shaswa commented on #1105
Added all the data in [Google spreadsheet](https://docs.google.com/spreadsheets/d/1qg2EHGc_whzPBwJEBbSswkX5TtiYsOQgrdyFpA_BEIY/edit?usp=sharing)

[2021-02-26 17:33] drubgrubby commented on #1090
@akibrhast - Please provide examples of what's not working and what it's user acceptance criteria should be.

[2021-02-26 17:43] akibrhast commented on #1090
@drubgrubby Notice how in the video when I click on the drop downs the hash tag in the URL does not change, in the manner it changes when you click on the side navigation which is available in desktop mode. This impedes direct linking to a particular section of the page by copying the url when in mobile.

![issue_1090](https://user-images.githubusercontent.com/32349001/109335292-d65ac100-782f-11eb

[2021-02-26 17:47] akibrhast commented on #1090
@drubgrubby Notice how in the video when I click on the drop downs the hash tag in the URL does not change, in the manner it changes when you click on the side navigation which is available in desktop mode. This impedes direct linking to a particular section of the page by copying the url when in mobile.

![issue_1090](https://user-images.githubusercontent.com/32349001/109336021-d1e2d800-7830-11eb

[2021-02-26 19:02] daniellex0 opened #1123 "Fix the broken Wins Page"
### Overview
We need to fix the Wins page because none of the Wins cards are showing up.

### Action Items
- [ ] Determine what went wrong/ what is causing the Wins cards not to show up
- [ ] Implement solution to bring the Wins page back to normal

### Resources/Instructions
[Wins page](https://www.hackforla.org/wins)

The page looks like this right now, missing the Wins cards:

<img width="400"

[2021-02-26 19:19] daniellex0 opened #1125 "Standardize Events page: add section container without restricting banner"
### Overview
We want to add a section container (class `.content-section`) to the Events page body to keep this page consistent with other pages on the HfLA website.

This container ensures that the page has the standard 16px margin in mobile view. However, it adds the margin to the yellow covid warning banner as well, and we want that component to stay full-screen width if possible.

### Action I

[2021-02-26 19:35] daniellex0 opened #1126 "Add margin in footer"
### Overview
We need to add some vertical margin in the HfLA website footer to allow more breathing room between the icons and "Follow Us" (especially in mobile)

### Action Items
- [ ] Add `margin-bottom: 54px` to the nested `.main-footer .footer-header` class
- [ ] Make sure everything looks good in both desktop and mobile

### Resources/Instructions

Footer looks like this right now in mobile:

[2021-02-26 19:37] #1123 closed, assigned to nobody

[2021-02-26 19:56] daniellex0 opened #1127 "Fix bug in Events page: collapsible column cards in desktop view"
### Overview
We need to remove the bug that is causing the Events page column cards to collapse when the top of them is clicked in desktop view (this should only be happening in mobile view), so that users don't accidentally collapse these cards on desktop if they click around.

### Action Items
- [x] Determine what is causing the Events page column cards to collapse in desktop view when the top o

[2021-02-26 20:17] daniellex0 opened #1128 "Make the About Us "Partners" section spacing look closer to the Figma mockup"
### Overview
We need to make the Partners section of the About Us page have more spacing / breathing room so that it is easier for viewers to read

### Action Items
- View original Figma mockup of the About Us "Partners" section (screenshot also available below)
- Adjust the scss of the Partners section logos to look closer to the origin design more spacing between icons
- Move the District Attorn

[2021-02-26 20:30] ExperimentsInHonesty commented on #386
@rblaz001 - sent you this on slack.  Realized you might not check slack so sending it here too

Hi.  Recently I made an update to your issue re the gather data types.  I then unassigned you intending to assign a junior person to take a look at the feasibility.  But I noticed today that the spreadsheet in the issue from the last time you produced a spreadsheet was now in the trash.  Which makes me

[2021-02-26 21:48] ExperimentsInHonesty commented on #386
Also, I have suggested he look at the code you wrote for 100automations and see if he can do some of the things you asked for there (refactoring, etc).

[2021-02-26 22:38] #1047 closed, assigned to csseu

[2021-02-27 06:15] jbubar opened #1130 "Set up Oauth for wins data google sheet"
### Overview
The wins data is currently in a spreadsheet that is visible to anyone with the link. Bonnie pointed out, that this is not ideal. In order to make this work we have to set up Oath.

### Action Items
- [x] set up OAuth with through the developer console
- [x] Change sharing settings to restricted to test it locally
- [x] change share settings back
- [x] change share settings to restrict

[2021-02-27 06:18] jbubar commented on #1130
Currently setting up Oauth. On the second step of the google guideline, and I am trying to learn how it works along the way.
I will continue working on this tomorrow

[2021-02-28 02:58] abenipa3 opened #1131 "Fix "Getting started with Docker Link" in CONTRIBUTING.md"
### Overview
Getting Started with Docker Link does not work.

### Action Items

- Fix Getting Started with Docker Link in CONTRIBUTING.md by replacing with new link (under resources listed below)

![image](https://user-images.githubusercontent.com/38295612/109406200-08514d80-792c-11eb-9548-32adbfdb855a.png)

### Resources/Instructions
[Contributing.md - Step 4 Setting Up Docker](https://github.com

[2021-02-28 07:21] matthewlee626 commented on #1076
Revised a letter draft. Seeking comments at Sunday meeting.

[2021-02-28 08:36] christina245 commented on #632
Still need access to the document for initiative 1!

[2021-02-28 10:03] abenipa3 commented on #1085
Progress: Documented findings from research in this [Google Doc](https://docs.google.com/document/d/1ivPbOLQh_KYmG7r6Fvx5Goojc3207gDxjTmDvT9vjQ8/edit) and added to the Hack for LA Drive. Ready for review.
Blocks: None yet.
Availability: Unavailable this week, but I'll be back next week (Week of 3/7). If anything, I am open to schedule a meeting.
ETA: 2/28/21

Drafted a Prototype below (Tested in p

[2021-02-28 15:52] pawan92 commented on #1081
@evancchen Hey could we get an update on this and a status label?
progress:
blocker:
Availability:
ETA:

[2021-02-28 15:54] pawan92 commented on #1109
@akibrhast Could we get an update on this please and a status label?
Progress:
Blocker:
Availability:
ETA:

[2021-02-28 15:57] akibrhast commented on #1109
## Progress
Complete

## Blockers
None

## Availability
3 hours a week

## ETA
Done

@pawan92 My bad mate, I was under the impression that if a pull request is attached to an issue that is considered to be the update? Or do we still have to update after doing the pull request?

[2021-02-28 16:02] akibrhast commented on #1111
Progress
Complete

Blockers
None

Availability
3 hours a week

ETA
Done

[2021-02-28 16:03] akibrhast commented on #1116
Progress
Complete

Blockers
None

Availability
3 hours a week

ETA
Done

[2021-02-28 16:04] akibrhast commented on #1114
Progress
Complete

Blockers
None

Availability
3 hours a week

ETA
Done

[2021-02-28 16:04] akibrhast commented on #1113
Progress
Complete

Blockers
None

Availability
3 hours a week

ETA
Done

[2021-02-28 16:05] akibrhast commented on #1112
Progress
Complete

Blockers
None

Availability
3 hours a week

ETA
Done

[2021-02-28 16:33] daniellex0 commented on #958
Progress: Dependencies are still pending (new pages being worked on and Alyssa's issue may rely on old page cards, so I don't want to change too much before she figures her page out). However it's ready to deploy soon and I'm still gathering some feedback/experiences from developers working on new pages (for ex Martha suggested this week not to include standard padding, because this varies page by

[2021-02-28 16:36] daniellex0 commented on #577
Progress: Coordinating with Martha on her issue for creating new page template wiki (and continuing to work on the connected overall new page wiki), did more research about Zeroheight (still not sure if this might be a good option- waiting to hear about Julia's experience with it at Home Unite Us)), continued standardizing designs of existing problematic pages on site creating issues with detailed

[2021-02-28 16:38] daniellex0 commented on #765
Progress: Presented onboarding research findings to Bonnie, discussed action items and next steps.

Next steps: Enact action items from research.

[2021-02-28 17:26] daniellex0 opened #1133 "Make "Looking for" section in project cards more prominent"
### Overview
We need to make the "Looking for" roles section in the project cards more prominent so that new volunteers can clearly see the available roles before onboarding/when exploring projects

### Action Items
Design

- [ ] Ideate options for new formatting/placement of "looking for" section in page cards
- [ ] Run options by design team and Bonnie/PMs
- [ ] Finalize new designs

### Resourc

[2021-02-28 17:28] ahdithebomb commented on #707
Progress: Same as last week
Blocks: We need more assignees to take a look at this!
Availability: Depending on when assignees have time to provide feedback.
ETA: TBD

[2021-02-28 17:29] ahdithebomb commented on #854
Progress: None
Blocks: TBD
Availability: Depending on what's needed
ETA: TBD

[2021-02-28 17:30] ahdithebomb commented on #799
Progress: Same as last week
Blocks: Need assistance to better understand what exactly needs to be updated from @ExperimentsInHonesty.
Availability: Weekends
ETA: TBD

[2021-02-28 17:31] ahdithebomb commented on #618
Progress: Same Updates apply since last week
Blocks: N/A
Availability: TBD
ETA: TBD

[2021-02-28 17:32] daniellex0 opened #1134 "Change contributor title and team member listing on project pages"
### Overview
We need to edit the title of the contributors on our project pages to "all-time contributors", because new volunteers assume that all of the contributors are current and so don't need more members.

In addition, to clarify current contributors we should potentially list all members that have been on a team over a month in the section that is currently for leadership team.

### Action

[2021-02-28 17:35] ahdithebomb commented on #859
Progress: Same as Sunday
Blocks: Busy week with work.
Availability: I Will coordinate with @nielseny to divvy up the work and complete it.
ETA: 3/14 for Final Draft

[2021-02-28 17:35] drubgrubby commented on #1118
@jbubar - What do you think about adding some text about how to remove something from staging after running git status if there's a file you don't want in your commit?

[2021-02-28 17:36] daniellex0 opened #1135 "Create New Page for Open Roles"
### Overview
We need to create a new page for open roles on HfLA teams, so that they are visible to the public.

### Action Items

Design
- [x] Reference onboarding research and design ideation for the open roles page (contact @daniellex0 )
- [x] Research and ideate more to determine best layout for open roles page. Reference other job board pages.
- [x] Design the open roles page

### Resources/I

[2021-02-28 17:45] daniellex0 opened #1136 "Standardize Events Page: Remove all HTML inline styling"
### Overview
We need to remove all HTML inline styling from the Events page to keep this page consistent with the rest of the site. (Some has already been removed, but now the rest needs to be done).

### Action Items
- [x] Replace all HTML inline styling with classes and the same SCSS properties

### Resources/Instructions
[Events page](https://www.hackforla.org/)

Example of the inline styling o

[2021-02-28 17:53] kevinreber commented on #864
### Progress
Trying to find the best way to manage the styling in `_about.scss`
### Blockers
The styling in `_about.scss` doesn't apply to the about page, but is used for various elements on the website(screenshots below). I'm trying to find the best way to re-organize the styles in `_about.scss` and was wondering if anyone has any good ideas?
![image](https://user-images.githubusercontent.com/422

[2021-02-28 17:57] ItsLaszlo commented on #1027
Progress: Met with Danielle and template now needs to be reviewed by the other devs
Blockers: none yet
ETA: TBD

[2021-02-28 17:57] jbubar commented on #162
Progress: I spent the week working on Oauth (#1130), and a wins refactor (#1132)
blocks: I am a bit confused on the Oauth
availability: limited
ETA: next week

[2021-02-28 18:03] qiqicodes commented on #1089
Progress: Working on the feature.

Blockers: Still need more time to figure what is causing the browser to behave the way it is.

Availability: Open on M/Tu/Th/F evening & Sunday.

ETA: Desire to merge the new feature by 3/2/21

[2021-02-28 18:06] trtincher commented on #752
Working on final small edit
ETA: 3/2/21 at latest

[2021-02-28 18:12] danyc23 commented on #1064
Progress: Still doing some fixes.
Blockers: Haven't find any blockers yet.
ETA:  3/2/2021.

[2021-02-28 19:03] dmcneary commented on #678
As per today's meeting, @ruqpyL2 will be taking charge on this completing issue going forward and I will be available for questions.

[2021-02-28 19:06] evancchen commented on #1081
Progress: Done
Blockers: none

[2021-02-28 19:22] kevinreber commented on #864
### Additional Action Items
Regarding `_about.scss` and `_about-us.scss` files
- [x] Take everything from `_about.scss` and paste into a new file `_home.scss`
- [x] Take everything from `_about-us.scss` and paste into `_about.scss`
- [x] Delete `_about-us.scss` and remove from `main.scss`
- [x] Make sure `_home.scss` is imported and compiled in `main.scss`

[2021-02-28 19:41] jbubar opened #1138 "Add another level to the pages directory structure"
### Dependency
#1139

### Overview
Proposal to restructure to directory. The Idea is to have all the pages in one directory named pages. Because we are restructuring some of the pages to be in their own dir's it would make sense to put those dir's into a pages dir.
Note: this needs to be completed quickly, because merge conflicts would be super annoying.
Please feel free to coordinate with people

[2021-02-28 19:46] #1109 closed, assigned to akibrhast

[2021-02-28 19:46] #1114 closed, assigned to akibrhast

[2021-02-28 19:46] #1111 closed, assigned to akibrhast

[2021-02-28 19:46] #1112 closed, assigned to akibrhast

[2021-02-28 19:46] #1113 closed, assigned to akibrhast

[2021-02-28 19:46] #1116 closed, assigned to akibrhast

[2021-02-28 20:08] ItsLaszlo commented on #1027
As this is done make another issue to update the wiki once #1138 is completed.

[2021-02-28 20:20] ItsLaszlo opened #1139 "Create Jekyll image path structure"
### Overview
Research how to src image urls using liquid syntax instead of hardcoding the path to avoid incorrect paths with future restructuring of site.

### Action Items

- [ ] Research how to src image urls using liquid syntax instead of hardcoding the path to avoid incorrect paths with future restructuring of site.
- [ ] Make sure nothing breaks
- [ ] please include a comment on issue #1027 a

[2021-02-28 20:43] abenipa3 commented on #1085
2/28/21 - I approve of continuing to work on this issue. Added "Create a working HTML file demo that pulls MD file." to the description.

Availability: Unavailable this week, but I'll be back next week (Week of 3/7). If anything, I am open to schedule a meeting.

ETA: 3/13/21

[2021-02-28 21:02] csseu commented on #1139
Here's one way I found to make it work:
- Update _config.yml to include a custom variable
 `imgdir: https://www.hackforla.org/assets/images/`
- In the .html or .md files, refer to the new custom variable using e.g., {{site.imgdir}}
`<img src="{{site.imgdir}}/about-us/about-us-header.svg">`

I'll poke around a little more and see if we can fold the asset/images/[subdir] part as well.

[2021-02-28 21:40] akibrhast commented on #1139
@ruqpyL2 In regards to your solution above. What about a situation when you are adding a new image on a branch that does not exist yet on the live repo/site

Having `imgdir: https://www.hackforla.org/assets/images/` will result in :

`<img src="https://www.hackforla.org/assets/images/new-page/new-page-image.svg">` .

Which would prevent images from rendering during development because this is not

[2021-02-28 21:42] thatguyish commented on #1118
Please do not close pull request until @martham0 has made necessary changes.

[2021-02-28 21:42] ExperimentsInHonesty commented on #1105
@shaswa
- [x] Make new issues on this repo for each of these fixes that is marked "Hack for LA website UI/UX team"
- [x] Make new issues on the [product management repo](https://github.com/hackforla/product-management/) - one for each of the rest of the projects
- [x] Add links to the issues in the last column in the chart

Project | Resolution | Ratio | Comments | Who will fix | Issue number
-- |

[2021-02-28 21:59] ExperimentsInHonesty commented on #1131
@alyssabenipayo Is this just subbing out the link or writing new instructions?

[2021-02-28 22:00] csseu commented on #1139
Instead of hard coding the root we could
`imgdir: assets/images`
(this actually gets us back to what Martha originally had IIRC)

[2021-02-28 22:08] csseu commented on #1139
Another way to do it, instead of editing _config.yml, would be to define in each page front matter something like
(using about-us.html as an example):

`---
layout: default
title: About Us
imgdir: assets/images/about-us/
---`
Then reference the variable {{page.imgdir}}

FWIW, I wanted to be able to reference the url variable in the imgdir variable, but it seems like there's no way to natively do t

[2021-02-28 22:10] abenipa3 commented on #1131
@ExperimentsInHonesty Hi, just subbing out the "Get Started with Docker" link. When I clicked on the link, it didn't work.

[2021-02-28 22:24] akibrhast commented on #1139
Can you apply this change you mentioned in this file/folder
https://github.com/hackforla/website/blob/gh-pages/events/our-locations-content.html

and ensure that everything renders correctly?

[2021-02-28 22:28] ExperimentsInHonesty commented on #1131
@alyssabenipayo thanks for the clarification. I have moved this to the prioritized backlog

[2021-02-28 22:44] ExperimentsInHonesty commented on #386
sent raudel and email

[2021-02-28 22:56] daniellex0 opened #1142 "Consolidate all of the scss files currently attached to the home page into the _home.scss file"
### Overview
We need to combine all of the contents of the scss files that are currently connected to the homepage into the _home.scss file to keep this consistent with other pages on the site (one scss file per page).

### Action Items
- [ ] Find all of the scss files connected to the homepage
- [ ] Move all of the content from those scss files into the combined _home.scss file (created by @kevin

[2021-03-01 03:07] #1118 closed, assigned to thatguyish, ItsLaszlo

[2021-03-01 03:29] jbubar commented on #854
I am pretty happy with the 'new issue' template the way it is right now... The only part that I think might benefit from being simplified is:

maybe just

sorry, it took me so long to share my thoughts on this.

[2021-03-01 16:58] #864 closed, assigned to kevinreber

[2021-03-01 17:39] ExperimentsInHonesty commented on #867
Task complete

[2021-03-01 17:39] #867 closed, assigned to pawan92, tarang100

[2021-03-01 17:55] ExperimentsInHonesty opened #1144 "Update Project Profile: LA TDM Calculator"
### Overview
We need the LA TDM Calculator to have the correct name on the website.

### Project card
_projects/tdm-calculator.md

### Action Items
Remove the "The" from the Title field

### Resources
https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/tdm-calculator.md

[2021-03-01 18:06] ExperimentsInHonesty commented on #838
**Status update 3/1/21**

Write for All - sent Joel at text today.

TDM - Waiting for resolution of #1144 and then signoff by TDM PM on https://github.com/hackforla/product-management/issues/37

VRMS - Bonnie to meet with Adam 3/3/21 at 4:30 - need to another product manager to the team 3/3/21

BallotNav - stuck in the website team's queue https://github.com/hackforla/website/issues/1021

[2021-03-01 18:32] ExperimentsInHonesty commented on #833
@daniellex0 are you able to signoff on this page?  Meaning are the boxes the right size, etc.  I want to send to development. https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4452%3A21046 (edited)

the wording can come during development

[2021-03-01 18:35] ExperimentsInHonesty commented on #964
This project is complete and has been marked completed #1024

[2021-03-01 18:35] #964 closed, assigned to ExperimentsInHonesty

[2021-03-01 18:48] ExperimentsInHonesty commented on #854
@jbubar thanks. @drubgrubby can you take a look at what josh has suggested?

[2021-03-01 19:05] drubgrubby commented on #854
@ExperimentsInHonesty - I think @jbubar 's changes are great!  It took me a second to process "if the actions are clear", so I'd probably make a small change:

REPLACE THIS TEXT - List the research that needs to be done, or the steps to be completed if the actions to be taken are clear.
_Note: if the steps can be divided into tasks for more than one person, we recommend dividing it up into separat

[2021-03-01 19:47] ExperimentsInHonesty commented on #632
@christina245 I just changed the permissions for the Inative 1 doc (I changed to anyone can view), but there is nothing in it.  I will add a dependency on the issue https://github.com/hackforla/product-management/issues/77 where we are working on it to let you know when its completed.

Is there another way to communicate that this is a video other than this image?  It's a lot of black
![Screen Sho

[2021-03-01 21:25] jbubar commented on #1107
@daniellex0 is there already an issue addressing this?

[2021-03-01 22:00] jbubar opened #1146 "New donation gif?"
### Overview
The current donation gif has some text to the right of it. I thought might want a new one.
here is the [link the gif live on the events page of our site](https://www.hackforla.org/about#donations)

<details >
<summary>current gif</summary>

![image](https://www.hackforla.org/assets/images/about/HfLA-Donate.gif)

</details>
<details>
<summary>new gif option</summary>

![image](https://

[2021-03-01 22:06] jbubar commented on #854
@drubgrubby @ExperimentsInHonesty That is great! Maybe we take that part out and just have it be

REPLACE THIS TEXT - List the research that needs to be done, or the steps to be completed.
_Note: if the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task._

[2021-03-01 23:18] daniellex0 commented on #1107
@jbubar I think @akibrhast mentioned there might be? Otherwise we should definitely keep this one

(I haven't made an issue for this, but Akib might have)

[2021-03-01 23:33] akibrhast commented on #1107
@jbubar @daniellex0  . I have not made an issue about it either.
So i guess this is the issue addressing this 😈

[2021-03-02 00:06] mcspach commented on #959
<img width="1440" alt="Screen Shot 2021-03-01 at 3 59 09 PM" src="https://user-images.githubusercontent.com/38964454/109576081-f4caf180-7aa7-11eb-9506-f142d3350a4d.png">
[X] - added hover effect red on links
[X] - removed 'external resources' from the filter method.

[2021-03-02 05:30] #1081 closed, assigned to evancchen

[2021-03-02 19:45] ashleylin1 commented on #1122
Status: Finished Figma on Credit Page for and discussed with Danielle
Blockers: None
Availability: after 4pm on Weekdays

[2021-03-02 23:36] shaswa opened #1150 "Increase ratio of image on project page for Railstats LA to 3:2"
### Overview
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400.

Current Resolution: 2000 x 2000 pixels
Current Ratio: 1:1

### Action Items

UX Design
- [x] Increase ratio of project image for Railstats LA  to 3:2
- [x] Update Status on #1105 and add new image to the comment

Front-End

[2021-03-02 23:38] shaswa opened #1151 "Increase ratio of image on project page for New Schools Today to 3:2"
### Overview
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400 pixels.

Current Resolution: 640 x 480 pixels
Current Ratio: 2.67:2

### Action Items

- [x] Increase ratio of project image for New Schools Today to 3:2
- [x] Add the new image file (below in comments) to replace the old on

[2021-03-02 23:41] shaswa opened #1152 "Increase resolution and ratio of image on project page for Hackforla.org Website"
### Overview
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400 pixels.

Current Resolution: 411 x 325 pixels
Current Ratio: 2.5:2

### Action Items

UX/UI
- [x] Increase ratio of project image for Hackforla.org Website to 3:2
- [x] Increase resolution of project image for Hackforla.org

[2021-03-03 00:02] shaswa commented on #1105
Created issues in each of the repos and added issue numbers

[2021-03-03 01:11] #896 closed, assigned to Lol-Whut

[2021-03-03 01:45] daniellex0 opened #1154 "Add nesting to page card component in _sitemap.scss"
### Overview
We need to nest the page-specific properties of the .pg-card-lg class in the site map page so that they don't affect page cards on other pages.

### Action Items
- [x] Nest the scss properties below (bottom of this issue) to make sure they will only apply to the page cards on the site map page

### Resources/Instructions

These properties should be nested (perhaps under `.sitemap-page

[2021-03-03 02:51] ItsLaszlo opened #1155 "Change cursor on drop down of Win page"
### Overview
When using the dropdown filters the cursor change isn't accurate. It changes to ``cursor: pointer`` when hovering over anywhere in the dropdown except for the checkbox. On the checkbox, it turns back into a normal cursor. This can be a bit confusing for the user and implies they can select the category by clicking it rather than clicking the checkbox which isn't the case.

https://www

[2021-03-03 03:09] ItsLaszlo commented on #1027
Current wiki: https://github.com/hackforla/website/wiki/How-to-create-a-page-on-Hack-for-LA-website

[2021-03-03 03:22] #1106 closed, assigned to thatguyish

[2021-03-03 03:39] #1069 closed, assigned to akibrhast

[2021-03-03 03:51] Lol-Whut opened #1156 "Fix typo on contributing readme"
### Overview
We need to fix typo on CONTRIBUTING.md. It's written as "gn-pages," but should be written as "gh-pages."

### Action Items
- [ ] "gn-pages" should read "gh-pages".

### Resources/Instructions
https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md
![image](https://user-images.githubusercontent.com/40847248/109749806-f9bf9c00-7ba0-11eb-83d0-fb91be6e1ae9.png)

[2021-03-03 05:06] #1136 closed, assigned to evancchen

[2021-03-03 05:20] #1128 closed, assigned to kevinreber

[2021-03-03 17:05] tarang100 commented on #915
**Update**

@ExperimentsInHonesty I have added the link for the Miro Board into a Google Doc located in the Google Drive for hflawebsite@gmail.com; I am also sharing the link to the above-mentioned Google doc [here](https://docs.google.com/document/d/1rAYtNXIJrjIhEDI9ncTHukL5jdBoDTUcCg-oYuXWxnY/edit?usp=sharing) for reference.

[2021-03-03 20:49] akibrhast commented on #1127
@daniellex0  This issue can be closed. It has been addressed in pull request #1147 which fixes #1106 . The current live site does not have the issue mentioned in the overview.

[2021-03-03 20:49] #1127 closed, assigned to nobody

[2021-03-03 21:46] mdothman commented on #947
## Issue

Setting up SSH keys in order to contribute varies depending on your operating system. I will need to be writing separate instructions for Windows, Mac, and Linux users for setting up ssh keys. I suggest we create a new document called INSTALLATION.md.

## Reasoning

Having access to all programs is crucial for development. In order to ensure our developers have all the necessary tools to

[2021-03-04 02:02] #1107 closed, assigned to kevinreber

[2021-03-04 20:50] akibrhast commented on #386
Which fields should be allowed to be blank could you please specify using they keywords,
REQUIRED and OPTIONAL like in the example below.
@ExperimentsInHonesty @rblaz001

1. Which Locations Should be Allowed? Should it be allowed to have multiple locations
 - ["Remote","Downtown LA","Santa Monica","South LA","Los Angeles"]

[code]

[2021-03-04 22:36] akibrhast commented on #386
@rblaz001 @ExperimentsInHonesty I generated this following the requirements listed above. Is this the type of report you are expecting/wanting? Using the comment from @bonnie -> https://github.com/hackforla/website/issues/386#issuecomment-785427876 as the source of truth

<details>
<summary>Active Projects Validation Results</summary>

[code]

</details>

<details>
<summary>Completed Projects Vali

[2021-03-04 23:37] cnk commented on #386
What are the items like:

[code]

[2021-03-04 23:45] akibrhast commented on #386
ah.. my bad... let me work on a bit more detailed error report.
But in answer to your question. The two errors in question are happening because these fields['looking','role'] in the image below are empt/null.
Where my json schema is expecting them to be a string. @cnk

![image](https://user-images.githubusercontent.com/32349001/110046175-8b521980-7d19-11eb-83de-89a2e11018fc.png)
![image](https://

[2021-03-05 00:10] akibrhast commented on #386
Edited https://github.com/hackforla/website/issues/386#issuecomment-790993825 , to give a bit more detailed report.
I was really hoping to get something along the line of
[code]
but can't seem to find the relevant information... :(

[2021-03-05 00:59] cnk commented on #386
"looking" (and probably "technologies") can be empty. Can you express that in a json schema? optional fields can exist but be empty?

[2021-03-05 01:15] akibrhast commented on #386
yewp, not a problem. I can make the looking be either string/null . But a project should always at least have technology, no?? I would be hesitant on allowing that to be empty...

[2021-03-05 01:21] akibrhast commented on #386
Updated - >  https://github.com/hackforla/website/issues/386#issuecomment-790993825
An empty looking field does not report an error. Although it is still a required key.

[2021-03-05 18:21] #1144 closed, assigned to nobody

[2021-03-06 01:43] VJ1285 commented on #838
@ExperimentsInHonesty - everything looks for the TDM calculator. I will also close issue #1144.

[2021-03-06 03:48] danyc23 commented on #1064
These are the changes made. attached a preview of the tablet and desktop views.

<details>
<summary>Tablet View</summary>
<img src="https://user-images.githubusercontent.com/42159475/110193780-dc7e0e00-7dea-11eb-86da-267ef211db33.png">
</details>

<details>
<summary>Desktop View</summary>
<img src ="https://user-images.githubusercontent.com/42159475/110193761-bc4e4f00-7dea-11eb-9bde-0aa43562b0d0.p

[2021-03-06 07:20] jbubar opened #1163 "Style the new wins form"
### Dependency
#1060

### Overview
Redesign the wins form.
The current wins form is a google form, and @akibrhast wrote a really nice html form that outputs to a new google sheet. The new form will be on the site, but not linked.
Could we redesign the new form?

### Action Items
- [ ] check out the new form
- [ ] check out the figma
- [ ] create a new design
- [ ] make some suggestions for how to

[2021-03-06 07:22] jbubar commented on #1060
edit this dependency #1163 when this issue is closed.

[2021-03-06 07:34] #1055 closed, assigned to nobody

[2021-03-06 07:43] jbubar commented on #1130
i am anticipating significant progress on this next week.
progress: found some great resources, with the help of akib and bonnie
blocker: this is new to me
availability: I will be a bit more available next week
ETA: 2 weeks

[2021-03-06 07:44] jbubar commented on #1066
progress: updated PR

[2021-03-06 07:45] jbubar commented on #935
Does anyone have any progress on this? Maybe we should discuss this in the next meeting

[2021-03-06 17:03] akibrhast commented on #1060
## Progress
Complete. Waiting on the merge of the linked pull request

## Blockers
none

## Availability
evenings

## ETA
complete

[2021-03-06 17:06] akibrhast commented on #1163
Closing this because it is a duplicate of #1104

[2021-03-06 17:06] #1163 closed, assigned to nobody

[2021-03-06 17:13] akibrhast commented on #1146
@daniellex0 Should we replace it with the new gif provided by @jbubar ?

[2021-03-06 17:28] akibrhast commented on #1027
@martham0 The instructions linked above are pretty spot on! Thank you for making that wiki!
It's done then right? Can we close/resolve this?

[2021-03-06 19:50] #1064 closed, assigned to danyc23

[2021-03-07 02:20] csseu commented on #678
**Status update 3/6:**
_Progress:_ reviewed figma and codebase to try to understand project and how things are set up. Converting the CoP content cards into a collection (_communities/) so we can iterate with Liquid.
_Blockers:_ work.
_Availability:_ will put in a few nights this week, barring work
_ETA:_ Not sure yet but shooting for two weeks.

**Status update 3/14:**  (happy pi day)
_Progress:_

[2021-03-07 02:36] daniellex0 commented on #1146
@akibrhast Sure, and it looks like the donation form has a new section about repeated donations so this is great to update- thanks for doing that @jbubar !

@ExperimentsInHonesty just confirming this is fine to replace?

The only slight concern is that since this is a narrower image it might affect the formatting, but we can make adjustments to make sure everything is centered and looks good. FYI

[2021-03-07 03:43] daniellex0 commented on #1122
Looks great @ashleylin1 , thank you! Moving this now to development.

[2021-03-07 04:02] kevinreber commented on #1110
### Progress
Just need to add some styles
### Blocker
None
### Availability
Tuesday Night
### ETA
Before Next Sunday's meeting

[2021-03-07 04:46] daniellex0 opened #1164 "Update Events Page - Left Column"
### Overview
We need to update the text and alignment on the left column of the Events page to 1. provide accurate/updated information, and 2. make it look better aligned visually

### Action Items
- [ ] Update the text of the Onboarding section (see below)
- [x] Adjust the size of the Happy Hour image to make it align better with the others (see images and potential fix below)

### Resources/Inst

[2021-03-07 05:20] daniellex0 opened #1165 "Adjust file size of some homepage project card images"
### Overview
We need to decrease the size of some of the newer homepage project card images because unnecessarily large PNG files can slow down page loading time (per our [image guide](https://docs.google.com/document/d/17AbUtj9aIA8G88O8AVJnyL1jz4cNQ3x740cmzO-2yzk/edit) PNG section)

The images should have a 3:2 ratio and a standard resolution of 600x400 pixels.

### Action Items

- [ ] Review the

[2021-03-07 05:54] daniellex0 opened #1166 "Standardize Wins Page"
### Overview
We need to standardize the Wins page to be more consistent with other pages on the HfLA site

### Action Items
- [x] Remove all CSS formatting from the heading ("Let's Celebrate Together!"). The h1 tag should already automatically give it the correct formatting
- [x] Add margin below the "Let's Celebrate Together!" heading- `margin-bottom: 56px` (in nested h1 class)
- [x] Header image

[2021-03-07 06:05] daniellex0 opened #1167 "Turn the About Page sponsor icons into links"
### Overview
We need to add links to our About page sponsors to give them proper credit

### Action Items
- [ ] Add a link to each sponsor on the [About page](https://www.hackforla.org/about) sponsors section- these should be exactly the same links as in the [Home page](https://www.hackforla.org/) sponsors section

### Resources/Instructions
[About Us page](https://www.hackforla.org/about) (scroll

[2021-03-07 06:14] daniellex0 opened #1168 "Center the Toolkit page guide cards"
### Overview
We need to center the Toolkit page guide and resource cards in the middle of the page so that they follow UI visual standards

### Action Items
- [x] Center the guide and resource cards on the Toolkit page (instead of being left-aligned).
   - [x] Ensure the bottom row of the guide cards still wraps to the left

### Resources/Instructions
[Toolkit page](https://www.hackforla.org/toolk

[2021-03-07 06:25] daniellex0 opened #1169 "Standardize dark background color on Events and Getting Started pages"
### Overview
We need to standardize the dark background on the Events and Getting Started pages to be consistent with the rest of the HfLA site and our design system

### Action Items
- [ ] Standardize the dark blue background color to variable **$color-blue-dark (#030d2d)** (030c2c is wrong)
   - [ ] Make this change on the Getting Started page dark background
   - [ ] Make this change on the Eve

[2021-03-07 08:21] abenipa3 commented on #1085
Progress: N/A - As previously mentioned in the latest comment, I was unavailable last week.
Blocks: N/A - I will continue building the prototype this week.
Availability: Open
ETA: 3/13/21

[2021-03-07 10:45] ItsLaszlo commented on #1027
Progress: needs to be reviewed by developers
Blockers: none
ETA: 3/9/20
wiki link:
https://github.com/hackforla/website/wiki/How-to-create-a-page-on-Hack-for-LA-website

[2021-03-07 12:17] qiqicodes commented on #1089
Progress: the feature is functional.

Blockers: Figuring out rebasing master branching to keep my working branch current.

Availability: Open on M/Tu/F evening & Sunday.

ETA: Desire to merge the new feature by 3/7/21.

[2021-03-07 16:19] daniellex0 commented on #958
Progress: Dependencies still pending but I will try to finish this before the Tue dev meeting regardless because it is affecting new pages being built.

Next Steps: Finish and push before Tuesday

[2021-03-07 16:22] daniellex0 commented on #577
Progress: Continued standardizing designs of existing problematic pages on site by creating issues with detailed instructions for devs to implement/standardize them, Coordinating with Martha on her issue for creating new page template wiki (and continuing to work on the connected overall new page wiki), working on implementing auto layout and componentizing design system on Figma, working on imple

[2021-03-07 16:32] daniellex0 commented on #765
Progress: Ideated and sketched potential layouts for new Open Roles page with UX/UI team, continued working on research action items

Next steps: Finish ideating and designing Open Roles page, and enacting action items from research.

[2021-03-07 16:41] trtincher commented on #752
Blocker: There are styling issues on this page being affected by un-nested classes on another page. Waiting on #1158.
ETA: 3/9/21

[2021-03-07 17:47] shaswa commented on #1074
@ExperimentsInHonesty Due to technical difficulties with Lettuce Meet, we made a new poll in [When2Meet](https://www.when2meet.com/?11160695-KGcXa). It currently has the availability for me, Taranag, and Ibraheem.

[2021-03-07 17:56] daniellex0 commented on #981
Progress: Created [usability hub a/b test](https://app.usabilityhub.com/do/e4438a764178/a36d) to run final designs by users

Next Steps: Deploy a/b test on HfLA slack, and follow up with another one re: colors

[2021-03-07 18:07] Oluwafemi-Jegede commented on #854
@tarang100 to make the changes by working with @drubgrubby

[2021-03-07 18:08] tarang100 commented on #1105
Write to project PMs for each of these projects in Slack

- Open community survey - Phoebe Ng is the UX Lead (did the logo)
- Ballot Nav - https://github.com/hackforla/product-management/issues/90#issuecomment-774725376
- 311 Data - Mahmudul is the PM for 311 Data #1196
- Home Unite Us

[2021-03-07 18:09] tarang100 commented on #1105
@ExperimentsInHonesty will bring issues back to HfLA website repo
Railstats
New Schools

[2021-03-07 18:16] Oluwafemi-Jegede commented on #1146
Approved by @ExperimentsInHonesty

[2021-03-07 18:23] #1156 closed, assigned to Lol-Whut

[2021-03-07 18:35] Lol-Whut commented on #1146
I'm going to switch out the gifs and close the issue when completed

[2021-03-07 19:05] tarang100 commented on #844
Issue is completed

[2021-03-07 19:05] #844 closed, assigned to tarang100

[2021-03-07 19:08] akibrhast opened #1171 "The cards under proiects/website url does not mention the timezone"
### Overview
Currently the hackforla project cards displaying the events meeting times does not state that the meetings times are being displayed in the users local time. This can cause confusion to people who are being onboarded, because the general assumption is since its hack4la all meeting times that are displayed are shown in PST.

### Action Items
- [ ] Discuss adding some kind of paragraph

[2021-03-08 16:43] akibrhast commented on #935
These is an image from a recent pull request I looked at. You will notice the diff is just the ide auto formatting spaces.
<details>
<summary>IDE auto formatting spaces</summary>

![image](https://user-images.githubusercontent.com/32349001/110351490-e24e3c00-8002-11eb-8194-b6a3bcc3e9ab.png)

</details>

I believe a possible solution to this would be add a `.vscode/settings.json` file[ Given that m

[2021-03-08 20:59] efrenmarin45 commented on #1167
Completed adding the links to the sponsors as well as including alternate text for accessibility. I did see that a lot of the images do not have alt text, maybe we can look into adding them.

Also. below the sponsors there are news articles where the logo's do not lead to the article only the hyperlink.

![Screen Shot 2021-03-08 at 12 58 27 PM](https://user-images.githubusercontent.com/51544521/11

[2021-03-08 21:14] #1060 closed, assigned to akibrhast

[2021-03-08 21:14] #1066 closed, assigned to jbubar

[2021-03-09 17:57] #1169 closed, assigned to evancchen

[2021-03-09 19:35] mcspach commented on #959
Need Help!

The problem is:
All the action items for this have been solved, the request has been reviewed and changed multiple times, but there is still one bug.

- We need to find out why some images do not render when the filter is applied.
-Some filters return images for one card, while missing the render on another.

<details>
<summary>Missing Image Example</summary>
<img width="1212" alt="Scr

[2021-03-09 23:16] daniellex0 commented on #1167
@efrenmarin45 That's a good idea about linking the CNN/LA Times etc logos to the articles as well, I can make an issue for that.

Also maybe mention the missing alt text at today's meeting? That should probably be an issue as well..

[2021-03-10 00:34] akibrhast commented on #1171
@daniellex0 Is there something we can do about this?

[2021-03-10 00:42] akibrhast opened #1184 "Events Page has buggy scroll on mobile"
### Overview
The drop downs in the events page has a weird behaviour on mobile(NOT mobile view on desktop). Where scrolling the page fires the resize event which in turn causes the drop downs to auto close while scrolling and trying to read it. The issue is more obvious in firefox browser compared to chrome

### Action Items
- [ ] Prevent drop downs from auto closing when being resized

### Resour

[2021-03-10 01:07] akibrhast opened #1185 "Developer's default vscode setting has a tendency to auto format entire file on save"
## Overview
Developer's default vscode setting has a tendency to auto format entire file on save. This results in LOTS of white space changes in pull request and unexpected markdown changes. For Example

<details>
<summary>IDE auto formatting spaces</summary>

![image](https://user-images.githubusercontent.com/32349001/110351490-e24e3c00-8002-11eb-8194-b6a3bcc3e9ab.png)

</details>

<details>
<sum

[2021-03-10 01:11] #1167 closed, assigned to efrenmarin45

[2021-03-10 01:13] daniellex0 commented on #1171
@akibrhast Just to confirm, are the times displayed right now on the project pages automatically local? If so I can work on writing text about this to add. Thanks for noticing this!

[2021-03-10 01:16] akibrhast commented on #1171
@daniellex0 Yes They are automatically local. It was actually noticed by one of the new folks who recently got onboarded and it caused them confusion , because lacking any information the general assumption was the time is being shown in PST

[2021-03-10 01:41] drubgrubby commented on #1184
@akibrhast -> That's really interesting, that the accordion closes as you scroll on my phone.  It's kind of cool, but not in a good way.  The about page also uses a resize event listener, but because it also has other things it checks for it doesn't seem to be an issue. Let me know when you figure this out.

[2021-03-10 01:56] #935 closed, assigned to akibrhast, trtincher, jbubar, drubgrubby, ItsLaszlo

[2021-03-10 02:29] daniellex0 commented on #1171
@akibrhast Got it, great- ok I'll draft some language/design and post the update when I'm done on this issue 👍. Just assigned myself. When I'm done I'll change it to front-end label and put it back in prioritized backlog with instructions.

[2021-03-10 03:09] akibrhast opened #1189 "Missing id content on page"
### Overview
Pages should have an id content for the screen readers to jump to main content

### Action Items
- [x] Add id of content to `_default.html`
- [x] Include a html comment within
[code]

### Resources/Instructions
- https://github.com/hackforla/website/blob/gh-pages/_layouts/default.html

[2021-03-10 03:23] #1154 closed, assigned to trtincher, daniellex0, ItsLaszlo

[2021-03-10 03:38] #1089 closed, assigned to qiqicodes

[2021-03-10 03:53] akibrhast opened #1190 "Add new .gitignore line"
### Overview
Some people uses visual studio as their IDE's, as such we should add `.vs` to the `.gitignore` file

### Action Items
- [ ] Add .vs to .gitgnore file

### Resources/Instructions
Ask @TeddyTelanoff

[2021-03-10 03:58] #1190 closed, assigned to Treidexy

[2021-03-10 04:05] kevinreber opened #1192 "Confirm every image has an alt attribute"
### Overview
We need an `alt` attribute for accessibility purposes for each image. Some images throughout the site do not have `alt` attributes

### Action Items
- [x] Confirm every image has an `alt` attribute
- [x] Add appropriate descriptions for images without `alt` attributes

### Resources/Instructions
https://www.w3schools.com/tags/att_img_alt.asp

[2021-03-10 05:21] #1185 closed, assigned to akibrhast

[2021-03-10 06:16] #1131 closed, assigned to qiqicodes

[2021-03-10 15:13] tarang100 commented on #854
**Update**

I have pinged David and Josh to understand what the proposed changes are. Will discuss, make the changes, and update the issue for the next team meeting.

[2021-03-10 15:15] tarang100 commented on #1074
The new HfLA Website PM meeting time (Wednesday, 10:30 am PST) has been decided and confirmed with Bonnie. Calendar invite shared with Bonnie, Swaroop, and Femi.

[2021-03-10 15:15] #1074 closed, assigned to shaswa, IAgbaje, tarang100

[2021-03-10 15:25] tarang100 commented on #799
**Update**

Took an update from Ahdi on Slack. He said that he couldn't make any progress as he did not get a chance to seek clarity from Bonnie, on the course of action for this issue

[2021-03-10 15:27] tarang100 commented on #209
Need to discuss the draft 'How to Use Kanban' guide with Bonnie during the weekly PM Meeting and resolve all possible pending comments. [Link to draft guide](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit#heading=h.m5h97ersfmtg)

[2021-03-10 15:30] tarang100 commented on #1054
There is a dependency on this issue as mentioned in #918. Need to check with Bonnie during the weekly PM Meeting about the next steps and if releasing the dependency is possible.

[2021-03-10 17:25] shaswa commented on #969
Project Board arranged by @shaswa on Mar 10th 12:20 pm (EST) / 9:20 am (EST)
@Oluwafemi-Jegede Please review and arrange the project board before sunday meeting

[2021-03-10 17:32] shaswa commented on #1105
@ExperimentsInHonesty Is there a document listing the PMs for each project?

[2021-03-10 18:37] tarang100 commented on #752
It looks like #1158 has been merged. Please provide an update on the status or close if the issue has been completed

[2021-03-10 18:39] tarang100 commented on #958
@daniellex0 please provide status update

[2021-03-10 18:40] tarang100 commented on #1027
Please provide status update

[2021-03-10 18:43] tarang100 commented on #577
Please provide an ETA as part of your status update

[2021-03-10 18:46] tarang100 commented on #981
@daniellex0 Please message in the Admin Slack channel with the wording you would like at channeled so that we can post it in the general

[2021-03-10 18:50] tarang100 commented on #1076
@matthewlee626
Since this issue needs a review we have moved it to the Review column. In future if you have a draft or something similar please move it to the Review Column

[2021-03-10 18:51] ItsLaszlo commented on #1027
Progress: Completed and linked in resources and website architecture
wiki link:
https://github.com/hackforla/website/wiki/How-to-create-a-page-on-Hack-for-LA-website

[2021-03-10 18:53] ItsLaszlo commented on #1027
The issue must be kept open for @daniellex0. She has a couple of things to add to it regarding the standardization of classes and components.

[2021-03-10 19:02] ExperimentsInHonesty commented on #618
@ahdithebomb we have decided to put everyone through the onboarding process for a while and stress the time commitment more there.  Also, I think we are going to open things up to people who have less time but keep them on the community of practice if they don't have enough time to join a project

[2021-03-10 19:09] ExperimentsInHonesty commented on #618
@daniellex0 I think it makes sense to incorporate some of the suggestions that @ahdithebomb was indicating in his suggestion to update the getting started.... but we we are moving to the join us replacing that.  So having a link to wins in the "Volunteer to Work on a Project" section of the join us page instead.  In the future we could also have a "get to know our volunteers stories" section and l

[2021-03-10 19:15] ExperimentsInHonesty commented on #618
@daniellex0 @Olivia-Chiong lets add people answering the onboarding survey to their first attendance at a Community of Practice meeting.

@daniellex0 Lets add the link to filling out the survey to the bottomish area of the Getting Started page.

I'll leave this issue in review in case you want clarification.

[2021-03-10 19:29] tarang100 commented on #707
@daniellex0 we have had quite a few comments. We should figure out who will be responsible for the changes that people have suggested

[2021-03-10 19:36] tarang100 commented on #209
Moving this to Icebox because of the dependency on #918

[2021-03-10 19:40] tarang100 commented on #1054
Re-explain all the Status labels to the development team

[2021-03-10 19:57] tarang100 commented on #632
@christina245 Please provide status update

[2021-03-10 20:07] tarang100 opened #1196 "Update Project Profile: 311-Data"
### Overview
The website team needs the 311-data project details to be up to date on the website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/311-data.md
### Action Items

- [ ] 311-data Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] title

[2021-03-10 20:26] tarang100 opened #1197 "Update Project Profile: Brigade Organizers Playbook"
### Overview
As a product manager of Brigade Organizers Playbook I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects/brigade-organizers-playbook.md

### Action Items

- [ ] Brigade Organizers Playbook Team Leadersh

[2021-03-10 20:48] drubgrubby commented on #854
This is my proposal for the text of the "New Issue" template.  @jbubar @tarang100 let me know your thoughts.

---

### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
_Note: If the steps can be divided into tasks for more than one person, we recommend divid

[2021-03-10 21:01] ExperimentsInHonesty commented on #940
Change the description of Civic Tech Structure
The Civic Tech Structure project seeks to improve existing structures and create new ones that make it easier to share replicable processes and practices so that the civic tech community can iterate on each other’s work, improving outcomes for the whole ecosystem.

Our Civic Tech Structure project is responsible for publishing all of our guides and ot

[2021-03-10 21:03] ExperimentsInHonesty commented on #940
The Civic Tech Structure project seeks to improve existing structures and create new ones that make it easier to share replicable processes and practices so that the civic tech community can iterate on each other’s work, improving outcomes for the whole ecosystem.

[2021-03-10 23:46] jbubar commented on #854
@drubgrubby I like that!

[2021-03-11 00:02] ExperimentsInHonesty commented on #940
Remove existing links:
Replace with these Links:
GitHub: https://github.com/hackforla/civic-tech-structure
Overview: https://github.com/hackforla/product-management/blob/master/project-one-sheets/Civic-Tech-Structure-Product-One-Sheet.pdf
README: https://github.com/hackforla/civic-tech-structure/blob/main/README.md

Leadership
Name: Bonnie Wolfe
Role: Executive Director
Slack: https://hackforla.sl

[2021-03-11 02:35] evancchen commented on #1189
It already has an id. I'm just adding the comment.

[2021-03-12 02:24] #1189 closed, assigned to evancchen

[2021-03-12 22:23] akibrhast commented on #1166
How is it automatically giving it the correct formatting?

[2021-03-13 00:56] #1184 closed, assigned to akibrhast

[2021-03-13 04:09] daniellex0 commented on #1166
@akibrhast From these scss files:

https://github.com/hackforla/website/blob/gh-pages/_sass/elements/_typography.scss
https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_typography.scss

[2021-03-14 00:49] daniellex0 opened #1201 "Add Filter Tags to Homepage project filters"
### Overview
We need to add filter tags below the homepage project filters so that users can immediately know which filters they selected, and can remove any filters easily.

This also involves adjusting some of the current filter functionality (selected filter categories no longer turn pink- instead they display the number of filters selected in parentheses)

### Action Items
- [x] Review new des

[2021-03-14 00:52] daniellex0 commented on #833
@ExperimentsInHonesty Sorry I missed this note- yes, signing off on this. It's ready to develop.

[2021-03-14 01:50] daniellex0 opened #1202 "Update homepage header - all meetings are remote"
### Overview
We need to update the homepage header to notify visitors that all of our meetings are remote

### Action Items
- [x] Review design for the header on ['Home Page (WIP)' file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=352%3A205) on Figma **(section on left, in blue rectangle)**
   - [x] For help with Figma functionality / a quick tutorial, reach out t