[2020-02-23 20:51] joelparkerhenderson commented on #303
@harishlingam Can you say more about why you need a meeting? There's a PR in my comment above that shows what changes I'm doing: https://github.com/hackforla/website/pull/315

I'll add you as PR reviewer now.

If you still feel you want a meeting, can you let me know what days and times are good for you? Or if you want to schedule one with me, my calendar is https://calendly.com/joelparkerhenderso

[2020-02-23 20:54] ashlingam commented on #282
@wesrowe @ExperimentsInHonesty @cnk Following up on Sunday's standup -- the team needs to recruit someone who has experience with Promises and JavaScript.

[2020-02-23 22:13] eselkin commented on #251
I couldn't find the original. I'm thinking I'll try to come early tomorrow and take a photo of the city hall or something to replace the one that we have now in a format that fits with your requirements.

[2020-02-24 05:38] emillipede commented on #246
@harishlingam Thank you for following up, I'm sorry I didn't address that question. In addition to github and slack, we currently just use zeplin. We're not using google docs or sheets right now.

What do you mean by non-programming languages? The repositories include css, json, and html files.

Please do not use the screenshot above. I'll work on providing an updated project image. Since that scr

[2020-02-24 17:52] ctsexton commented on #266
Let's go with the first one!

[2020-02-24 19:32] wesrowe commented on #282
We can recruit one tonight

On 2/23/20 12:54 PM, Harish Lingam wrote:

[2020-02-25 04:32] #244 closed, assigned to leonelRos

[2020-02-25 04:37] ExperimentsInHonesty commented on #308
Description: The website is focused on individuals seeking food in Los Angeles who need an up-to-date resource about food pantries and meals. Our mission is to update the existing website, foodoasis.la with a simplified UI and verified data. Future development goals include creating functionality for referral services that will allow the end user to annotate and update listings through a peer veri

[2020-02-29 08:52] johnr54321 opened #326 "Update 311 Data Card w/ Figma Model Link"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2020-02-29 08:53] #326 closed, assigned to nobody

[2020-02-29 08:53] johnr54321 commented on #326
Fixed#326

[2020-02-29 08:54] johnr54321 commented on #326
Was going to try to create a partial issue while I confirm information.  I don't have permissions on this repository to finish assigning this issue to the appropriate ppl, projects, etc.  Closing.

[2020-02-29 17:42] KPHowley commented on #327
![LATDM Hero Image](https://user-images.githubusercontent.com/49739276/75612392-c2269b80-5ad7-11ea-9430-5d61e33fa133.png)

[2020-02-29 18:24] ExperimentsInHonesty commented on #327
PM - Kevin Howley @KPHowley
Project Architect - John Darragh @entrotech
Back End Lead - Fang Liu @fyliu
Front End Tech Compliance - Mindy Morgan @mmorgs
UI/UX Lead - Nicole Doan @nekobox
Sr Full Stack Developer - Claire Nguyen @nclairesays

[2020-02-29 21:44] ashlingam opened #329 "Consolidate project boards for Scrumban workflow"
### Overview
Consolidate project boards to reflect Scrumban workflow

### Action Items
- [x] Create desired project boards
- [x] Transfer issues from existing project boards to new project boards
- [x] Archive deprecated project boards

### Resources/Instructions

[2020-03-01 18:11] ExperimentsInHonesty commented on #316
ETA today

[2020-03-01 18:18] ExperimentsInHonesty commented on #288
@sarL3y - can you update this issue with the new hero image and when you create the card, it will have this

[code]

[2020-03-01 18:49] ExperimentsInHonesty commented on #233
Proposal has been accepted
This is the "as-is" state after proposal acceptance.
image: 311-data.jpg (the original image for the project cards will remain unchanged for now)
image-hero: 311-data-hero.jpg
image-showcase: 311-data-showcase.jpg
image-event-photo1: 311-photo1.jpg
image-event-photo2: 311-photo2.jpg

[2020-03-01 18:50] #233 closed, assigned to nobody

[2020-03-01 19:39] ExperimentsInHonesty commented on #201
We added the slack field to the project card [template](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file)

To item is to edit each project card, adding
[code]

[2020-03-01 19:48] ashlingam opened #332 "Update project cards to capitalize "H" in "GitHub""
### Overview
Update project cards to capitalize "H" in "GitHub" across all project cards.

### Action Items
Update project cards to capitalize "H" in "GitHub" across all project cards.

### Resources/Instructions

[2020-03-01 19:50] ExperimentsInHonesty commented on #282
@KianBadie Did this get resolved?

[2020-03-01 19:51] ashlingam opened #333 "Check on Public Tree Map hack-for-la tag"
### Overview
Check on Public Tree Map hack-for-la tag with project lead.. Bonnie has already sent Slack message to Project Lead.

### Action Items
Check on Public Tree Map hack-for-la tag with project lead.

### Resources/Instructions

[2020-03-02 03:47] ExperimentsInHonesty commented on #286
Duplicate of Issue #288

[2020-03-02 03:47] #286 closed, assigned to ExperimentsInHonesty, sarL3y

[2020-03-02 04:02] ExperimentsInHonesty commented on #252
Use this
![hellogov-hero](https://user-images.githubusercontent.com/37763229/75644569-96023c00-5bf7-11ea-8257-abd2cd20eced.jpg)

[2020-03-02 04:05] ExperimentsInHonesty commented on #252
@kate-rose I was unable to find a graphic designer to make a hero for you.  So we going with a solid teal block for the hero.  This will make sense when the page is live. Talk to you then.

[2020-03-02 04:06] ExperimentsInHonesty commented on #255
slacked @ddfridley asking for update.

[2020-03-02 04:06] cnk commented on #193
Data collection script has been merged. Once data is in the repo, we can add code to include languages data to project cards

[2020-03-02 04:32] ashlingam commented on #251
@eselkin Hey Eli, were you able to obtain a hero image for use on your Project Home Page? Thanks

[2020-03-02 04:33] eselkin commented on #251
No, I wasn't able to make it last week. Hopefully tomorrow.

[2020-03-02 04:35] ashlingam commented on #275
Awaiting input/information from project leads of these projects:
Engage #251
Undebate #255

[2020-03-02 05:14] ExperimentsInHonesty commented on #246
@emillipede we are not changing the image on the hackforla homepage for the public tree map project.  What we are asking for is a hero image similar to the women on the top of the hack-for-la website.  A wordless image that conveys the your project's theme or at least doesn't conflict with your website's visuals.  This image will be used for a project home page for your specific project. We are cr

[2020-03-02 05:54] #291 closed, assigned to KianBadie

[2020-03-02 05:55] ashlingam commented on #276
Issue in search of a problem :)

[2020-03-02 05:55] #276 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-03-02 06:03] harishlingam opened #337 "Host Home"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  Pr

[2020-03-02 06:05] ashlingam commented on #264
Duplicate of #337

[2020-03-02 06:05] #264 closed, assigned to nobody

[2020-03-02 06:27] ashlingam commented on #189
Duplicate of #128

[2020-03-02 06:27] #189 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-03-02 19:10] WilliamMFerguson commented on #255
How about this?
![Undebate Mockup Image 2](https://user-images.githubusercontent.com/16055908/75708843-6cd4c080-5c76-11ea-9425-41520e465930.jpg)

[2020-03-02 23:32] sarL3y commented on #288
Here is the background image (1500x700):

![vrms-bg-1500x700](https://user-images.githubusercontent.com/39248174/75727878-fac2a280-5c9a-11ea-98b5-134d70bd44d6.png)

[2020-03-03 01:01] ashlingam commented on #157
@KianBadie My proposed UI edits to the current version:

- [x] Beneath “Open roles”, make bullets flush left
- [x] “Getting Started” centered horizontally with content box. Increase line space above “Getting Started” by 100%.
- [x] Getting Started carrot: Remove bolding. Reduce size by 100%. Increase space between “Getting Started” text and carrot by 100%.
- [ ] (If possible) Light grey horizontal

[2020-03-03 01:47] ddfridley commented on #255
Here is one with less text.  Having the written question is important to the meaning, but the text is pretty big.  If you could give an example of scaled down and blurry where the image will be used, we might be able to make it better.

![image](https://user-images.githubusercontent.com/3317487/75734728-94934b00-5cad-11ea-9fc1-85dce6a0a5f0.png)

[2020-03-03 02:10] ashlingam commented on #316
@leonelRos Do you have a progress update for this issue?

[2020-03-03 02:21] leonelRos commented on #316
Yeah I should be making a pull request in the next 10 min

[2020-03-03 03:11] ashlingam opened #340 "Update wiki resources page to include all links"
### Overview
Update wiki resources page to include links to all resources categorized by functional role. Include links to functional role pages at bottom of resources page.

### Action Items
- [x] Compile links to resources across all functional roles and categorize by functional role.
- [x] Insert links to each functional role at bottom of Resources page.

### Resources/Instructions

[2020-03-03 03:16] leonelRos commented on #332
@harishlingam  Every single project card has been updated from "Github" to "GitHub". It should show on the names now.

[2020-03-03 06:43] ExperimentsInHonesty commented on #255
Click here to see our work in progress for your project's homepage at hackforla's website: [undebate](https://www.hackforla.org/projects/undebate.html)

See how in this screen shot, the word undebate is appearing over the hero image.  If we used the image above it would just be a mishmash of text over the "why are you running for office" + the navigation buttons.

![Screen Shot 2020-03-02 at 10 39

[2020-03-03 07:26] ExperimentsInHonesty commented on #251
@eselkin At least temporarily we are going to use this image as the hero
![engage-hero](https://user-images.githubusercontent.com/37763229/75752236-29616d00-5cdd-11ea-92bc-7244f304e91f.jpg)

[2020-03-03 08:04] eselkin commented on #251
sounds good

On Mon, Mar 2, 2020 at 11:26 PM Bonnie Wolfe <notifications@github.com>
wrote:

[2020-03-03 14:26] WilliamMFerguson commented on #255
OK, let's try this...

![Undebate Mockup Image 3](https://user-images.githubusercontent.com/16055908/75784960-d9ec6280-5d17-11ea-80c0-f4b3f59e1486.jpg)

We can provide whatever resolution you need. The picture needs to communicate Undebate in two seconds.

[2020-03-03 21:06] #316 closed, assigned to leonelRos

[2020-03-03 21:07] #332 closed, assigned to leonelRos

[2020-03-04 03:29] cnk commented on #288
Card will be added when we merge the leadership updates

[2020-03-04 03:30] Ambmoney opened #409 "Hero Photo for 311 Website Page"
#Description
Photo needed for the 311 website page. This should be size 1500x 700

## Action Items

- [ ] Decide with team on best photo.

- [ ] Schedule Photo Shoot

- [ ] Send photo to John

## Resources

[2020-03-04 04:11] cnk opened #346 ""Contributors" only showing GitHub commits"
What is the 'contributors' GitHub API endpoint returning? I think it is people who have committed code to the repository.

How do we list/reward people who make non-code contributions? Is there GitHub data that includes contributions such as commenting on issues? Project management, etc.?

[2020-03-04 04:22] #303 closed, assigned to cnk

[2020-03-04 04:25] johnr54321 commented on #285
@harishlingam   Please see the comment here on what to update.  Thanks!  https://github.com/hackforla/311-data/issues/207#issuecomment-594295120

[2020-03-04 04:41] cnk commented on #318
Current state of project pages after 3/3/2020 DTLA hack night

https://www.hackforla.org/projects/311-data.html
https://www.hackforla.org/projects/adopt-civic-art.html
https://www.hackforla.org/projects/criminal-sentencing.html
https://www.hackforla.org/projects/curbmap.html
https://www.hackforla.org/projects/engage.html
https://www.hackforla.org/projects/equity-language.html
https://www.hackforla

[2020-03-04 04:54] ExperimentsInHonesty commented on #318
- [ ] 311-data
   - [ ] no hero - still waiting for them to provide one https://github.com/hackforla/311-data/issues/207
   - [x] add link to their wiki: https://github.com/hackforla/311-data/wiki
   - [x] add link to their slack: https://hackforla.slack.com/archives/CJY4R382X
- [ ] engage
   - [x] add hero from their [issue comment](https://github.com/hackforla/website/issues/251#issuecomment-593

[2020-03-04 06:55] charlottesauce commented on #301
![Gender Equity Hero](https://user-images.githubusercontent.com/45779646/75852984-03ea6700-5da2-11ea-9e5d-211bc85fae10.png)

[2020-03-04 06:56] charlottesauce commented on #301
I totally dropped the ball.  Thanks for your patience.

[2020-03-04 10:00] johnr54321 commented on #285
FYI.  Comment has been updated.

[2020-03-05 03:40] cnk commented on #282
@KianBadie  got this working.

[2020-03-05 03:40] #282 closed, assigned to cnk

[2020-03-05 04:24] #288 closed, assigned to cnk, sarL3y

[2020-03-06 01:19] ExperimentsInHonesty opened #351 "Place your request for changes to your project homepage here"
### Overview
You are here because you were sent a link to your temp page on the hack for LA website (hackforla.org) and we want to hear about the information you want added or changed on your project homepage.

### Action Items

- [ ] Identify which team you are writing from (engage, tdm-calculator, etc.)
- [ ] Tell us what information needs to be changed, or what new information or resource you w

[2020-03-06 01:31] ExperimentsInHonesty opened #352 "Incorporate Open Graph meta tags into each project page"
### Overview
we need to  incorporate appropriate open graph tags, because right now, if you send someone a link to a page, it shows hackforla's open graph meta data:
e.g. https://www.hackforla.org/projects/engage.html
![Screen Shot 2020-03-05 at 5 27 08 PM](https://user-images.githubusercontent.com/37763229/76041295-90159f00-5f06-11ea-8b90-ccb42d78b16c.png)

### Action Items

- [ ] Figure out what

[2020-03-06 01:35] ExperimentsInHonesty commented on #352
snipit from slack:
cnk  5:25 PM
I feel like it would be nice to have some mention of HackForLA but agree it would be nice to have the project's artwork

Bonnie  5:32 PM
good point, we should figure out what the template language is.  Maybe
[project name] is a Project of Hack for LA. [Description of project]

[2020-03-06 21:34] cnk commented on #304
We don't appear to need this.

[2020-03-06 21:34] #304 closed, assigned to ExperimentsInHonesty

[2020-03-08 16:28] cnk commented on #352
I modified the existing OpenGraph tags in the existing _includes/head.html to use a page's title, description, and image if they exist - otherwise stay with the site's defaults. Pull request #353

[2020-03-08 17:49] #352 closed, assigned to nobody

[2020-03-08 17:58] cnk commented on #346
There is a "teams" endpoint - but I think that shows anyone mapped to the repo AND I can't get any of the repos to work. All give 404 https://api.github.com/repos/hackforla/311-data/teams

We could try scraping the user or assignee on the issues url: https://api.github.com/repos/hackforla/website/issues That is a fair amount of work. Does it solve the problem that the contributors API endpoint doe

[2020-03-08 18:05] cnk commented on #346
TODO:
Email GitHub re our 311-data project. Wanting to acknowledge contributions that do not honor non-code commits.

[2020-03-08 18:21] ashlingam commented on #323
Draft survey: https://docs.google.com/document/u/1/d/12A1jWH0VI9X99mr00i1SxSJ7_QmQfrOvIAZzp_inSMU/edit?usp=drive_web&ouid=100731780837940898870

[2020-03-08 20:44] ExperimentsInHonesty commented on #285
duplicate of https://github.com/hackforla/311-data/issues/207

[2020-03-08 20:44] #285 closed, assigned to nobody

[2020-03-08 23:51] ExperimentsInHonesty commented on #318
- [x] 311 data
   - [x] add hero image from this [issue comment](https://github.com/hackforla/311-data/issues/207#issuecomment-596250233)
- [x] engage
   - [x] update eli's slack link to be: https://app.slack.com/team/U0611PL2D
   - [x] update teddy's slack link to be: https://app.slack.com/team/UAYBYQVV3
- [x] equity language
   - [x] update charlottes slack link to be: https://app.slack.com/team

[2020-03-08 23:55] ExperimentsInHonesty commented on #499
@H1Angela sorry to kick this back.  Can we get you to produce a hero image like the one above https://github.com/hackforla/record-clearance/issues/37#issuecomment-577963240. but without the words record clearance?  You can leave the paper with pen icon, that works out fine.

[2020-03-09 00:13] ExperimentsInHonesty commented on #318
@cnk  this one is different than the rest, so I am sending it to you to figure out why since you probably know the most about this:
- [x] undebate
   - [x] it looks like the project.md file located [here](https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/undebate.md) is missing the identification number at the top of the file, which is keeping its languages and contributors fr

[2020-03-09 00:55] cnk commented on #318
Undebate is missing it's id because the repo is missing it's hack-for-la tag and so won't get languages and contributors even if we put in the id. (The first call to the GitHub API is 'all projects tagged hack-for-la')

https://github.com/EnCiv/undebate

[2020-03-09 02:06] ddfridley commented on #255
![silhouettes-776666-extended-pixabay-1500x750](https://user-images.githubusercontent.com/3317487/76176971-e33e5a80-616f-11ea-8260-44c60b8db4f5.jpg)
Try this image

[2020-03-09 02:45] ExperimentsInHonesty commented on #318
@cnk undebate has added the requested tags.  Can you pull the id number now?

[2020-03-09 03:22] cnk commented on #318
Yes I have added the hero and id to Undebate #354 Tonight's 3 AM job should pull the data and it will go in the project page once that commit is merged.

[2020-03-09 05:24] joelparkerhenderson commented on #351
Thanks! Please make mobile friendly a.k.a. responsive a.k.a. when the browser window is narrower, then the page item layout changes such that the various items, icons, etc. all show up on the browser screen.

You can see an example in the Equity Language page: when the browser screen gets narrow, the project text does not reflow correctly to keep all the text on screen; the same kind of visual int

[2020-03-09 05:41] ExperimentsInHonesty commented on #318
- [x] 311
   - [x] John R: https://app.slack.com/team/UNFV029Q8
   - [x] Joyce L: https://app.slack.com/team/UQZ71S04A
   - [x] Joshua M: https://app.slack.com/team/UG4G54YUD
   - [x] Ryan S: https://app.slack.com/team/UPB2FHJCX
   - [x] Russell T: https://app.slack.com/team/UKBN4RB7G
- [x] Food Oasis
   - [x] Jenny M:  https://app.slack.com/team/UM4FE6ELQ
   - [x] Tina M:  https://app.slack.com/t

[2020-03-09 05:47] ExperimentsInHonesty commented on #318
- [x] Metro-ontime
   - [x] Cameron S:  https://app.slack.com/team/UBENYBXGV
- [x] New Schools Today
   - [x] Ben Swedlow:  https://app.slack.com/team/UKUHHS94L
   - [x] Joshua Bubar: https://app.slack.com/team/UMNNMHXV2
   - [x] Jacob Zwang: https://app.slack.com/team/USM20BUFP

[2020-03-09 05:55] ExperimentsInHonesty commented on #318
- [x] Public Tree Map
   - [x] Emily F. : https://app.slack.com/team/U1E5ADA03
   - [x] Isabelle Wagenvoord: https://app.slack.com/team/ULFE20LGY
   - [x] Mark Jackson: https://app.slack.com/team/UNQTRN0DC

[2020-03-09 06:01] ExperimentsInHonesty commented on #318
- [x] record clearance
   - [x] Angelina Molina: https://app.slack.com/team/UNG92TWSV
   - [x] Kelsey Justis: https://app.slack.com/team/UP92GTCG2
   - [x] Charlotte Soestini: https://app.slack.com/team/UA69HNWPQ
   - [x] Wesley Rowe: https://app.slack.com/team/U3C7Z2GLE

[2020-03-09 06:05] ExperimentsInHonesty commented on #318
- [x] tdm calculator
   - [x] Bonnie Wolfe: https://hackforla.slack.com/team/UE1UG1YFP
   - [x] Kevin Howley: https://app.slack.com/team/UL53VUVPZ
   - [x] John Darragh: https://app.slack.com/team/UFLDX9V19
   - [x] Nicole Doan: https://app.slack.com/team/UBPKHJJVC
   - [x] Mindy Morgan: https://app.slack.com/team/UPGMZK1KR
   - [x] Fang Liu: https://app.slack.com/team/UCE01B4AX
   - [x] Claire Ng

[2020-03-09 06:10] ExperimentsInHonesty commented on #318
- [x] undebate
   - [x] David F.: https://app.slack.com/team/U6RCX5XRD
- [x] vrms
   - [x] Matt Tapper: https://hackforla.slack.com/team/UPMRJ2R1N
   - [x] Kelsey Capps: https://hackforla.slack.com/team/USU144NL8
   - [x] Bonnie Wolfe: https://hackforla.slack.com/team/UE1UG1YFP

[2020-03-09 06:15] ExperimentsInHonesty commented on #318
- [x] website
   - [x] Kegan Maher: https://hackforla.slack.com/team/U0BMTH6A1
   - [x] Bonnie Wolfe: https://hackforla.slack.com/team/UE1UG1YFP
   - [x] Harish Lingam: https://hackforla.slack.com/team/ULYUA6MNF
   - [x] Kian Badie: https://hackforla.slack.com/team/UNAQGKW91
   - [x] please add Cnythia Kiser as Backend Lead:  https://hackforla.slack.com/team/USBB18YDR

[2020-03-09 06:18] ExperimentsInHonesty commented on #318
opps can you add
- [x] vrms
   - [x] Steven Ettinger as API integration : https://app.slack.com/team/UNFG6M8FN

[2020-03-09 06:45] leonelRos commented on #318
Ok team. I went through every single project file to check slack URLs and they all are good to go. @ExperimentsInHonesty

[2020-03-09 17:06] #318 closed, assigned to ExperimentsInHonesty

[2020-03-09 19:59] ashlingam opened #356 "Create remote onboarding survey"
### Overview
Create remote onboarding survey

### Action Items
- [ ] Draft remote onboarding survey in doc
- [ ] Solicit feedback and revise survey
- [ ] Create Google Form
- [ ] Create route to survey with URL 'http://hackforla.org/remote-onboarding'

### Resources/Instructions
Draft of survey: https://docs.google.com/forms/d/1hE2H-r5SIT4Ewzu2Vz5vSGqMYVZqQL94g4jpaLYXpGM/edit?usp=drive_web

[2020-03-09 20:22] joelparkerhenderson commented on #346
A quick easy way is for each repo to use a top level "CONTRIBUTORS.md" file.

[2020-03-10 02:20] H1Angela commented on #499
![600x400__recordClearance](https://user-images.githubusercontent.com/54191142/76273386-f833f000-623a-11ea-8e0f-48134e7516a2.png)
![1500X700_recordClearance](https://user-images.githubusercontent.com/54191142/76273390-fa964a00-623a-11ea-8697-1ee7c26511fe.png)

[2020-03-10 02:42] emillipede commented on #351
Thanks @ExperimentsInHonesty, for public tree map:

- Please remove the current screenshot. If you need a banner image right now, please use https://www.smgov.net/uploadedImages/Portals/UrbanForest/Yate%206%20%20Dave%20Baiocchi.jpg?n=9712. I have permission to use it. The image credit is Dave Baiocchi, www.studiobaiocchi.com
- Please update the project description: "Public Tree Map helps connect p

[2020-03-11 07:12] cnk commented on #193
@KianBadie has incorporated the languages data from GitHub API into the project cards so I am closing this issue.

[2020-03-11 07:12] #193 closed, assigned to nobody

[2020-03-12 02:30] ExperimentsInHonesty commented on #333
It was there, we just couldn't see it.

[2020-03-12 02:30] #333 closed, assigned to ExperimentsInHonesty

[2020-03-12 03:30] zempo opened #361 "Add rebase instructions to wiki"
### Overview
I think we need instructions in the wiki on how to rebase

### Action Items

- [ ] Decide where rebase instructions should go in the wiki
- [x] Write the new text
- [ ] Review with Bonnie

### Resources/Instructions
[Instructions](https://medium.com/@topspinj/how-to-git-rebase-into-a-forked-repo-c9f05e821c8a)

[2020-03-12 03:31] ExperimentsInHonesty commented on #251
@eselkin can you get Teddy's title for me?  We are going to push this page live tomorrow.

[2020-03-12 03:40] eselkin commented on #251
I think we'll have to keep the one that you found, because I can't find our
original... because of a lot of other circumstances I haven't been able to
make it out to Santa Monica to get a new photo.

On Sun, Mar 1, 2020 at 8:32 PM Harish Lingam <notifications@github.com>
wrote:

[2020-03-12 03:43] ExperimentsInHonesty commented on #252
Message from kate
Leadership is me (username kate-rose)
Sarah (seport)
Brett (beekley) as leadership too. Thank you!

[2020-03-12 19:11] ExperimentsInHonesty commented on #201
This got handled by a few other issues where we put all the changes in.

[2020-03-12 19:11] #201 closed, assigned to nobody

[2020-03-12 19:13] ExperimentsInHonesty commented on #246
I am closing this issue.  The temporary hero is good enough for now, and the public-tree map team can provide a new one later at their discretion.

[2020-03-12 19:17] ExperimentsInHonesty commented on #252
@zempo zempo added
[code]
and this under links
[code]
but the pull request had merge conflicts, so was not accepted.   Waiting for resubmit.

[2020-03-12 19:39] ExperimentsInHonesty commented on #351
@emillipede I'll queue your changes up for a member of the website team.  But thanks for offering to do the PR!   -  The image doesn't resolve for me though.  I get this:
![Screen Shot 2020-03-12 at 12 42 41 PM](https://user-images.githubusercontent.com/37763229/76561036-ba63e100-645f-11ea-9d5f-a0d48aeb3602.png)

[2020-03-12 19:45] ExperimentsInHonesty commented on #246
opps.  I spoke too soon.  Here are Emily's changes
https://github.com/hackforla/website/issues/351https://github.com/hackforla/website/issues/351#issuecomment-596872438

Please update the project description: "Public Tree Map helps connect people to Santa Monica's urban forest. The map includes information about each of the 35,000 trees (and vacant tree sites) in Santa Monica's publicly-owned urba

[2020-03-12 19:49] ExperimentsInHonesty commented on #157
@KianBadie is currently working on the left right scroll problem identified by Joel, on this [issue comment ](https://github.com/hackforla/website/issues/351#issuecomment-596337260)
ETA : Friday March 12th

[2020-03-13 05:57] emillipede commented on #246
image credit: Dave Baiocchi, www.studiobaiocchi.com
![Yate 6 - Dave Baiocchi](https://user-images.githubusercontent.com/22624609/76593907-d0e85780-64b4-11ea-91cf-35ec844478d8.jpg)

[2020-03-13 05:58] emillipede commented on #351
@ExperimentsInHonesty I just shared the image in #246

[2020-03-13 23:17] ashlingam commented on #323
Draft Google Form: https://docs.google.com/forms/d/1bRza8mipTH4p4j5MkFVLcOmadWlSUdS2Uv7KqJrnERs/edit

[2020-03-13 23:18] ashlingam commented on #323
1. Progress - Draft survey created. Awaiting feedback and review.
2. Blocks - N/a
3. Availability - Sunday, Monday
4. ETA - 3/16

[2020-03-13 23:22] ashlingam opened #365 "Create survey for remote onboarding"
### Overview
Create survey for remote onboarding

### Action Items
- [x] Brainstorm relevant survey questions
- [x] Draft survey questions in Google Form
- [ ] Review and edit survey draft with Bonnie

### Resources/Instructions
https://docs.google.com/forms/d/1hE2H-r5SIT4Ewzu2Vz5vSGqMYVZqQL94g4jpaLYXpGM/edit?usp=drive_web

[2020-03-13 23:22] ashlingam commented on #365
Progress - Draft survey created. Awaiting feedback and review.
Blocks - N/a
Availability - Sunday, Monday
ETA - 3/16

[2020-03-13 23:49] ashlingam commented on #128
1. Progress - No response from FullStory team. Sent follow-up message requesting contact with team.
2. Blocks - N/a
3. Availability - Sun, Mon
4. ETA - 3/19

[2020-03-14 02:05] KianBadie commented on #157
***Sorry for the lack of documentation. Here is an update***
## Current state of project home page on desktop (my local branch):
### A project with all the data we need (linked github repo, readme/wiki, defined project leadership, etc)
![current_state311data](https://user-images.githubusercontent.com/18221058/76672331-12324300-6559-11ea-9a6c-43f87e1abe70.gif)
#### Mobile iPhone 6/7/8
![current_sta

[2020-03-14 19:23] ExperimentsInHonesty opened #408 "Create project card for host home project"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
  - [x]  Alt image text
  - [x]  1500 x 700 image
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
  - [x] Tools we use

[2020-03-14 20:22] ExperimentsInHonesty commented on #408
![host-home](https://user-images.githubusercontent.com/37763229/77833603-f3f14900-70fb-11ea-890a-367639013596.png)
alt text: Cartoon picture of person

![host-home-hero](https://user-images.githubusercontent.com/37763229/77833604-fc498400-70fb-11ea-8e57-a9b44078d612.png)
alt text: Cartoon picture of person and a plus sign and a house all in a row

Name: Host Home

Blurb:
We're working with communi

[2020-03-15 03:26] cnk commented on #361
General rebase instructions? I think the main thing most folks need is a link to the GitHub docs on working with forks - especially how to keep your fork in sync with the main project repository - https://help.github.com/en/enterprise/2.20/user/github/collaborating-with-issues-and-pull-requests/working-with-forks

[2020-03-15 03:31] cnk commented on #346
Issue I raised with GitHub support:

Their response

https://developer.github.com/v3/issues/#list-repository-issues

https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue

https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts

[2020-03-15 04:11] cnk commented on #346
So bottom line is we can get non-code contributions by scraping the issues and comments API endpoints for a project - but we have to do that aggregation ourselves. There isn't an existing aggregation like there is for code commits. Since projects have a lot of issues, getting a full list would involve multiple requests per project (since I expect pagination to kick in). Is this worth the effort?
O

[2020-03-15 06:18] cnk commented on #228
I think Open Authoring is what we want: https://www.netlifycms.org/docs/open-authoring/
Starting to work on it here: https://github.com/cnk/website/tree/netlify

And these guys have fabulous docs about how to use GitHub or Netlify to edit their docs: https://axway-open-docs.netlify.com/docs/contribution_guidelines/#option-2-edit-on-netlify-cms We should shamelessly adapt those for our wiki once th

[2020-03-15 17:11] cnk opened #367 "Improve homepage styling on home page"
I found a few more things to tweak but I think we should merge this as a good start.

<img width="352" alt="Text-hidden-under-logo-iphone5" src="https://user-images.githubusercontent.com/5952/76694532-2cd7eb00-6631-11ea-8fd3-9e398faf1180.png">
<img width="734" alt="Text-hidden-under-logo-iphone6" src="https://user-images.githubusercontent.com/5952/76694529-28133700-6631-11ea-8f1d-c1d15a4c22fc.png"

[2020-03-15 17:19] ExperimentsInHonesty commented on #255
to discuss with david.  PR 318 is the one that changed the image.  We can't revert because it has other things tied to it (the id).  But we can overwrite back.

[2020-03-15 17:29] KianBadie commented on #255
@ExperimentsInHonesty As requested, here is a comparison of the 2 hero images
![Screenshot from 2020-03-15 10-29-13](https://user-images.githubusercontent.com/18221058/76706861-db1e7780-66a7-11ea-8a23-9a641eb4542e.png)
![Screenshot from 2020-03-15 10-29-20](https://user-images.githubusercontent.com/18221058/76706862-dce83b00-66a7-11ea-8648-f4ce97aae6dd.png)

[2020-03-15 17:39] ExperimentsInHonesty commented on #157
Prototype complete!!!!

[2020-03-15 17:39] #157 closed, assigned to KianBadie

[2020-03-15 17:56] cnk opened #368 "Create "Getting Started" page for remote projects"
### Overview
Create a Getting Started page. References #404.

### Action Items
- [ ] Review final wireframe for Getting Started page refresh
- [ ] Update Getting Started page based on finalized wireframe

### Resources/Instructions
Draft for v2.0: https://docs.google.com/document/d/14ACgDU4CgYhsJXI5H49CdbLzItV8IinbzDCayCgPKjY/edit
References #404

[2020-03-15 18:02] ExperimentsInHonesty commented on #246
@emillipede the image needs to be 1500 x 700.  Please crop the image and repost

[2020-03-15 18:02] cnk commented on #368
- [x] Getting started video - introduction to Hack for LA
- [x] How to choose a project
- [x] Link to [Getting Started wiki ](https://github.com/hackforla/getting-started) ??
- [x] Link to [Code of Conduct](https://github.com/hackforla/codeofconduct) ??

[2020-03-15 18:11] ExperimentsInHonesty commented on #301
@joelparkerhenderson shall we make the link public now?

[2020-03-15 18:17] ExperimentsInHonesty commented on #327
@KPHowley We are going need a new image without the words.  See what it looks like on the phone
![Screen Shot 2020-03-15 at 11 16 40 AM](https://user-images.githubusercontent.com/37763229/76707686-8df1d400-66ae-11ea-990e-db7c7aa49b4e.png)

[2020-03-15 18:41] ExperimentsInHonesty commented on #206
duplicate to pr #339 and issue #316

[2020-03-15 18:41] #206 closed, assigned to KianBadie, ashlingam, ExperimentsInHonesty

[2020-03-16 03:50] ashlingam commented on #368
Draft of page content: https://docs.google.com/document/d/1_cTOgTghyPa4JA0Azz573JLE7nA6_g3jCYTbkVoZfms/edit

[2020-03-16 16:55] emillipede commented on #246
@ExperimentsInHonesty thank you for the clarification about dimensions. please see below for an appropriate image at that size. the image credit is the same: Dave Baiocchi, www.studiobaiocchi.com. thanks again.

![Coral tree - Dave Baiocchi resized](https://user-images.githubusercontent.com/22624609/76781451-f8b51500-676b-11ea-9f93-40a6d5b3d614.jpeg)

[2020-03-16 20:50] KPHowley commented on #327
@ExperimentsInHonesty @harishlingam  - Here's an image without the words, and the words separately in case you want to do any responsive resizing or centering
![LATDM Hero Image](https://user-images.githubusercontent.com/49739276/76798566-0f1f9880-678d-11ea-80cb-9a00b95b3b52.png)

![Better for LA](https://user-images.githubusercontent.com/49739276/76798199-5e18fe00-678c-11ea-839a-a7a3d5455b76.png)

[2020-03-17 01:00] ExperimentsInHonesty opened #375 "Manage website info for all team meetings"
### Overview
This issue is to document the current meeting time/method of all teams, and to have it auto notify the website team so that they can add that info to the website when there are changes.

### Action Items

- [ ] Add or or post a comment revising your meeting time
- [ ] Add details about the method if you want it to appear on your project page (you could also only share it via slack, yo

[2020-03-17 01:21] ExperimentsInHonesty commented on #375
**Monday**

- 5:30-10:30 pm lucky parking
- 6:30-8:30 pm HelloGov
- 6:30-8:45pm Record Clearance
- 6:30-6:40 Not Today (updates)
- 6:30-8:30 pm New Schools Today
- 6:30-TBD pm Public Tree map
- 7:00-9:00 pm VRMS

**Tuesday**

- 6:30-7:30 pm Food Oasis
- 7:00-9:00 pm 311 data team meeting

**Wednesday**

- 6:30-9:00 pm Undebate
- 6-6:45pm IT + hosting + operations working group
- 6:00-7:00 pm engag

[2020-03-17 01:53] emillipede commented on #375
public tree map:
- Mondays at 6:30 pm (duration tbd)
- I'll plan to share links to the meetings in slack

[2020-03-17 01:55] ExperimentsInHonesty commented on #375
VRMS
- Wednesdays at 7:00-9:00
- we will publish the link on our project homepage (when that becomes possible, in the meantime details in slack).

[2020-03-17 03:05] poornaraob commented on #375
Undebate:
-  We planned to meet on Wednesday between 6.30p.m to 9.00p.m
-  Meeting will be hosted on the link: meet.google.com/hpe-jxin-kww
-  We have posted the link on Slack. We can also publish the link on our project homepage too.

[2020-03-17 04:49] breeze-094 commented on #375
Lucky Parking:
- Mondays at 5:30 pm-10:30 pm
- Share the meeting info through Slack pinned items and also through the home page.

[2020-03-18 02:17] itsjoycelee commented on #409
![Digital Mockup 311data HFLA](https://user-images.githubusercontent.com/59002767/76918615-f34aee00-6883-11ea-9fa4-c16763c75930.png)
Final

[2020-03-18 02:30] KPHowley commented on #375
This week The TDM Calculator team will also be meeting Wednesday from 7:00PM - 8:30PM

[2020-03-18 02:31] Cstoyanoff commented on #375
Civic Tech Index:

- Sundays at 2 p.m. - 4 p.m.
- Thursdays at 8 p.m. - 10 p.m.
- Join us at #civic-tech-index on Slack

[2020-03-18 23:51] joelparkerhenderson commented on #375
Equity Language:

  * Wednesday 7pm-9pm

For March 18 the contact info is:

  * https://zoom.us/j/415-317-2700

After March 18 the contact info is:

  * https://zoom.us/j/525121156?pwd=UUlKNTlRRkdnK2x1Y1JvMHRrMEpNQT09
  * Zoom Meeting ID: 525 121 156
  * Zoom Password: 099998

[2020-03-18 23:58] joelparkerhenderson commented on #375
IT + hosting + operations working group:

  *  Wednesday 6pm-6:45pm

For March 18 the contact info is:

  * https://zoom.us/j/415-317-2700

After March 18 the contact info is:

  * https://zoom.us/j/410239238?pwd=WXFZbXBNUFVyUkZ1NkRJcEZxMVJOUT09
  * Meeting ID: 410 239 238
  * Password: 068399

[2020-03-19 01:17] KPHowley commented on #375
The TDM Calculator project is having a meeting tonight at 7:00pm

-  The zoom link for tonight is: https://us04web.zoom.us/j/437018661

[2020-03-19 01:20] ExperimentsInHonesty commented on #375
BTW.  I add a 👍 when I add or update a teams schedule above: https://github.com/hackforla/website/issues/375#issuecomment-599829924

[2020-03-19 18:03] lucas-homer commented on #375
The FOLA team is moving their Sunday at 4pm meeting to Thursdays at 8pm (starting tonight!)

Tuesdays at 6:30pm -- [https://us04web.zoom.us/j/254220274](https://us04web.zoom.us/j/254220274)
Thursdays at 8pm -- [https://us04web.zoom.us/j/658859348](https://us04web.zoom.us/j/658859348)

[2020-03-21 05:35] leonelRos commented on #367
Hey, @cnk @ExperimentsInHonesty  I apologize for the delay on this issue. I modified the few overlapping issues we had with the mobile view.  let me know if this is correct. I can work on it again. One thing I noticed is that by removing "sign up for updates and the email field". It kind of made everything easier. we might need to check back again if we were to put that back again.

<img width="30

[2020-03-21 20:14] #365 closed, assigned to ashlingam

[2020-03-21 20:18] ashlingam commented on #368
@KianBadie @ExperimentsInHonesty The screenshots for the Online Onboarding section are overstretched vertically and need to be scaled down.

[2020-03-21 21:24] KianBadie commented on #368
@harishlingam is this something that is currently reflected on the page? If so can you please provide screenshots? And is this happening on mobile or desktop view?

[2020-03-22 17:14] cnk opened #384 "Revise Contact Us form to new section"
### Overview
Submitting the contact form at the bottom of http://hackforla.org goes to a thank-you page with a 405 status. When fixing this form, also see if the same or similar issue affected the form that was replaced by the getting started button.

The new Contact Us section will include buttons for Volunteer, Non-Profit, Government, and Other. The Volunteers button will link to the HFLA Slack

[2020-03-22 17:47] cnk opened #385 "Figure out how include master calendar on hackforla.org + meeting times on project pages"
Now that we are not meeting in 3 on site hack nights, we need to let everyone know when the teams are meeting to coordinate work.  Wish list:

- [ ] Master calendar showing all meetings of Hack for LA teams
- [ ] Times for team meetings on individual project pages
- [ ] "Add to my calendar" link for each meeting

[2020-03-22 17:56] cnk commented on #385
Create ical files for each meeting time for a team. Info we need for each ical file:

- Project name
- optional subproject name (some teams may have different meetings for front end, back end, etc)
- date/time/repeat
- zoom or other link

[2020-03-22 18:02] KianBadie commented on #385
Mock up:
![Screenshot from 2020-03-22 10-54-06](https://user-images.githubusercontent.com/18221058/77256444-88a30500-6c2b-11ea-887b-bf467b8717c7.png)

Right now, the online meetings list uses the same id/styling rules as the "#open-roles" section. The changes we made to make it look different from the Open Roles section is to make the column-count: 1. In addition, there is a css class/id that adds

[2020-03-22 18:07] cnk opened #386 "Create script to check project files for missing data"
### Overview

We need an easy way of finding out when data is missing from project cards so that we can present an uniform UX and so that functions that rely on this data can work across all projects.

### Action Items

- [X] Determine desired output and process to follow
- [X] Identify data types (links, leadership, description, etc)
- [ ] Identify which items projects might not have (e.g. live s

[2020-03-22 18:23] ExperimentsInHonesty commented on #368
All issues addressed.

[2020-03-22 20:53] johnr54321 opened #387 "Update Project Profile: 311-Data (Change Getting Started link)"
### Overview

Dependency: [Issue 18 on PM Board](https://github.com/hackforla/product-managment/issues/18)

### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update Getting started link to go here: https://github.com/hackforla/311-data/wiki/Joining-the-311-Team

[2020-03-24 17:32] yulia-kh commented on #385
@ExperimentsInHonesty What do you think about this as a first step for the master calendar? The owner of the calendar can subscribe for other calendars and include them in the iframe that google provides for us. Here is my calendar embeded in hfla website. Also, do you want to open it in a new page?
<img width="1217" alt="Screen Shot 2020-03-24 at 9 54 06 AM" src="https://user-images.githubusercon

[2020-03-24 20:33] jpmikesell commented on #375
The FOLA team is moving their Sunday at 4pm meeting to Thursdays at 8pm.

Tuesdays at 6:30-7:30pm -- https://us04web.zoom.us/j/254220274
Thursdays at 8-9pm -- https://us04web.zoom.us/j/658859348

[2020-03-25 03:39] emillipede commented on #246
@harishlingam following up - on our project page, Mark asked to be listed as a backend dev. can you please make that update? thank you.

[2020-03-25 18:08] kate-rose commented on #375
HelloGOV

Mondays at 6:30-8:30p
Zoom link to be sent to the #hellogov Slack channel.

[2020-03-26 03:30] KianBadie opened #390 "Create Calendar Page"
### Overview
Create Calendar Page in a similar style to the getting started page. The content of the page will be based off of [this comment](https://github.com/hackforla/website/issues/375#issuecomment-599829924) from issue #375.

### Action Items
- [ ] Create Calendar page with schedule

### Resources/Instructions
#375
[Getting Started Page](https://www.hackforla.org/getting-started)
[Schedule](

[2020-03-26 06:01] #390 closed, assigned to KianBadie

[2020-03-26 06:02] #367 closed, assigned to leonelRos

[2020-03-26 19:07] ashlingam commented on #271
Yuiko Majima has been onboarded to the team, including invitation to Sunday morning team meetings. I have reached out to her on Slack.

[2020-03-26 19:18] ashlingam commented on #247
Rong provided a revised list of open roles. Please update Looking For: Frontend Software Engineer, Backend Software Engineer, Advanced Data Scientist, Python Enthusiast

References hackforla/lucky-parking#40

[2020-03-26 19:33] ashlingam commented on #246
@emillipede I believe the change is now reflected on the current project card

[2020-03-26 19:34] #247 closed, assigned to nobody

[2020-03-26 19:35] ashlingam commented on #351
For Lucky Parking, @breeze provided a revised list of open roles: Frontend Software Engineer, Backend Software Engineer, Advanced Data Scientist, Python Enthusiast

[2020-03-26 20:22] ExperimentsInHonesty opened #393 "Create project card for Civic Tech Index"
### Overview
Get the project **Civic Tech Index** added to the website

### Action Items
- [ ] Use the content from this issue: https://github.com/civictechindex/website/issues/7 to create a new project card.  Call the card civic-tech-index.md (no dashes).
- [ ] Insert the screen shots requested in the Notes into this issue
- [ ] Get signoff of on which hero to use, by slacking the hfla-site chann

[2020-03-27 00:33] ashlingam opened #395 "Perform website audit"
### Overview
Perform website audit to identify areas of improvement.

### Action Items
- [ ] Perform initial review of website
- [ ] Identify potential tweaks to web page UI, including buttons

### Resources/Instructions
http://www.hackforla.org

[2020-03-27 07:17] myastark opened #396 "Not Today Description Change"
Please change to:

Not Today: Self-Defense Against Suicidal Thoughts is an app intended to help people wait out periods of suicidal thinking without acting on their thoughts.

[2020-03-27 14:41] emillipede commented on #246
Hi @harishlingam I don't see a change, he's still listed as lead

[2020-03-27 18:12] leonelRos commented on #396
The description has been updated.

[2020-03-28 20:58] ExperimentsInHonesty opened #398 "Create project card for host home project"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
  - [x]  Alt image text
  - [x]  1500 x 700 image
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
- [ ]   Add project

[2020-03-28 21:25] c-fuchs commented on #408
Tools we use:
Figma
Miro
AWS
Nginx
Terraform
Docker
AWS
DynamoDB
Style Components
Zoom
Github
Google Drive, Docs, Sheets, Slides (edited)

[2020-03-28 21:43] timmalstead commented on #408
Name: Timothy Malstead
Role: Lead Front End Web Developer, Host Homes
Slack: Timothy Malstead
Slack member ID: UQJDADYHL

[2020-03-29 17:34] ExperimentsInHonesty commented on #385
@yulia-kh we are going to hold on the each team producing their own calendar for now, but holding this in reserve, if other automated solutions don't turn out to be feasible.

[2020-03-29 17:36] #396 closed, assigned to leonelRos

[2020-03-29 18:08] ExperimentsInHonesty commented on #346
@cnk will determine if you can scrape the people who comment vs assignees.

[2020-03-29 18:14] ashlingam commented on #351
@leonelRos @yulia-kh For Hack for LA Website project card, please revise title to "Hackforla.org Website"

[2020-03-29 19:16] ashlingam commented on #368
@harishlingam Revise content of page to reflect edits discussed during team meeting

[2020-03-29 19:24] cnk commented on #361
I started looking for where to put this in the wiki and found we had some git instructions in the project README.md. They are fine up to the point where you have made some changes and need to create a pull request.

After step 4 we need to tell contributors how to push their branch to their own fork and then create a pull request. In the ideal situation, before doing that push, the contributor wou

[2020-03-29 19:43] yulia-kh commented on #351
@ExperimentsInHonesty Both files (Website and Lucky parking) have been updated. Pull request has been created.

[2020-03-29 21:35] ashlingam commented on #368
Updated draft: https://docs.google.com/document/d/1_cTOgTghyPa4JA0Azz573JLE7nA6_g3jCYTbkVoZfms/edit

[2020-03-29 21:37] ashlingam commented on #395
Suggested edits based on initial audit: [https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=0%3A1](url)

[2020-03-29 22:04] zempo commented on #361
Thank you for writing the text, @cnk

I think a solution to the tricky order of the process of forking/cloning would be a mini index of the steps covered in this process. This way, readers can quickly navigate to the approach they want to take.

### Forking and Cloning
---
1. Become a member
2. Fork
3. Clone ...
---
^It would look like this, but with a better explanation for each step and that we

[2020-03-29 23:40] ExperimentsInHonesty commented on #275
Undebate update: Bonnie Sent this request to kian for additional image tests https://github.com/hackforla/website/issues/255#issuecomment-605720161

[2020-03-29 23:42] ExperimentsInHonesty commented on #255
@KianBadie can you show us what those two images look like on mobile?  https://github.com/hackforla/website/issues/255#issuecomment-599240112

[2020-03-29 23:47] ExperimentsInHonesty commented on #251
This issue is ready to be worked .  only thing remaining is adding the tools to their project card.  Project is not going to provide title for Teddy.

[2020-03-29 23:49] ExperimentsInHonesty commented on #275
Engage update: Ready to work. https://github.com/hackforla/website/issues/251#issuecomment-605720708

[2020-03-29 23:52] ExperimentsInHonesty commented on #252
Leadership and Tools have been defined.  Add those to the project card.  Issue ready to work.  Team has not provided hero image.  We will revisit later.

[2020-03-29 23:53] ExperimentsInHonesty commented on #275
Hello Gov update: Ready to work https://github.com/hackforla/website/issues/252#issuecomment-605721300

[2020-03-29 23:58] ExperimentsInHonesty commented on #301
@charlottesauce @joelparkerhenderson I realized that we don't list what tools you use on this project.  Can you provide?  Also, I am fine with making the [live link](https://raw.githack.com/joelparkerhenderson/site_searcher/master/index.html) appear on the homepage if you are.

[2020-03-29 23:59] ExperimentsInHonesty commented on #275
Equity Language update: Waiting for project lead feedback https://github.com/hackforla/website/issues/301#issuecomment-605721997

[2020-03-30 00:01] ExperimentsInHonesty commented on #327
replace the hero with hero with no writing

[2020-03-30 00:01] ExperimentsInHonesty commented on #275
TDM update: ready to work https://github.com/hackforla/website/issues/327#issuecomment-605722441

[2020-03-30 00:03] ashlingam commented on #275
**Undebate**
Internal: Test hero images/page for proper display on mobile
Issue: https://github.com/hackforla/website/issues/255#issuecomment-605720161

**Engage**
Internal: add tools to project card
Issue: https://github.com/hackforla/website/issues/251#issuecomment-605720708

**HelloGOV**
Internal: Add leadership and tools to project card
Issue: https://github.com/hackforla/website/issues/252#is

[2020-03-30 00:53] ExperimentsInHonesty commented on #254
this issue has a pull request is we need to determine where it fits in the redesign

[2020-03-30 00:57] ExperimentsInHonesty commented on #395
This phase complete

[2020-03-30 00:57] #395 closed, assigned to ashlingam

[2020-03-30 02:32] ExperimentsInHonesty commented on #351
**Note for hackforla.org website development team**
If there are changes below this comment, please move this issue to the **in progress** column and self assign.  Then comment when you are done, and move it to the **questions** column.   Also when you do a pull request, mention this issue number but don't write Fixes pound sign issue number.

If there are no comments below this one, just move on

[2020-03-30 03:43] ashlingam commented on #128
1. Progress - @harishlingam To download recorded data and create appropriate Segments and Sessions for analytics.
2. Blocks - None
3. Availability - Mon, Sat, Sun
4. ETA - 3/30/20

[2020-03-30 03:47] ExperimentsInHonesty opened #402 "Create a new data field in the project card markdown file for no project homepage"
### Overview
Some projects should not have a project homepage for any given reason, make it possible.

### Action Items

- [ ] Add logic for a project-homepage: false in _includes/project-card.html to do the following
   - [ ] change the title to Black text, so that it does not look like a link
- [ ] Add corresponding logic item in the sample project.md card
   - project-homepage: false

### Instr

[2020-03-30 04:19] ExperimentsInHonesty commented on #275
host home update: still waiting for project lead info https://github.com/hackforla/host-home/issues/90

sent the following slack message: https://hackforla.slack.com/archives/CRWUG7X0C/p1585541914008700

[2020-03-30 04:39] ExperimentsInHonesty opened #403 "Create a Hack Nights Page"
### Overview

We are going to move to a model where the hack nights have their own pages when we go back to meeting in person. In the meantime, we need a hack nights page, that says what the status of the hack night is, while maintaining our promotion of the amazing had nights we had.

Details of what the page should contain:
- The images that used to exist on the homepage
- list of projects and i

[2020-03-30 04:51] ashlingam opened #404 "Create revised Getting Started page"
### Overview
Prototype a revised Getting Started page

### Action Items
- [x] Review Getting Started document draft
- [x] Create prototype of Getting Started page
- [ ] Update code to reflect changes in new Getting Started page mockup

### Resources/Instructions
Draft of page content: https://docs.google.com/document/d/14ACgDU4CgYhsJXI5H49CdbLzItV8IinbzDCayCgPKjY/edit#

Draft of FAQ section:
https

[2020-03-30 05:00] ExperimentsInHonesty commented on #223
Here is a where you might find resources for this: https://github.community/t5/forums/searchpage/tab/message?advanced=false&allow_punctuation=false&q=wiki

[2020-03-30 05:00] ashlingam opened #405 "Prototype calendar integration to website"
### Overview
Prototype calendar integration to website

### Action Items
Prototype calendar integration to website after API integration has been settled.

### Resources/Instructions

[2020-03-30 05:04] salice commented on #408
Name: Sophia Alice
Role: Lead Data Scientist
Slack: Sophia Alice
Member ID: UN7V7L934

[2020-03-30 05:34] c-fuchs commented on #408
Name: Carolanne Fuchs
Role: PM
Slack: Carolanne
Member ID: UPF9NSL3Y

[2020-03-30 05:36] c-fuchs commented on #408
Name: Tyler Thome
Role: Tech Lead
Slack: Tyler Thome
Member ID: ULN1M6UAH

[2020-03-30 22:21] zempo commented on #361
@ExperimentsInHonesty and @cnk , I've got the changes ready to go [here](https://github.com/zempo/website/commit/6ef994e00b93a40d5efa1077ad0cf9b68604c8d4#diff-04c6e90faac2675aa89e2176d2eec7d8).

If everything looks fine with both of you, I'll go ahead and submit a pull request

[2020-03-30 22:52] zempo commented on #386
I will make a test repo with mock data to try some solutions
It will expand upon @cnk 's previous [attempt](https://github.com/cnk/actions-test) to crawl through the project's directory.

- [ ] research options
- [ ] make test repo
- [ ] check with Bonnie

[2020-03-31 00:41] peteplass commented on #408
Peter Plass
Role: Data Scientist/AWS stress tester
Slack: Pete Plass
Member ID: UTRGDTE2Z

[2020-03-31 00:53] yuikomajima commented on #404
@harishlingam I reviewed the google doc. I wasn't sure if this was the official copy or if you were asking for my comments, that I wrote in my comments. Based on that I created a rough wire of a potential layout.

Changes from the existing site:
1. The overall process is more graphic
2. Re-organizing of self/guided onboarding
3. Addition of FAQ at the bottom

Wire: https://www.figma.com/file/0RRPy

[2020-03-31 01:38] ashlingam commented on #128
Update: Data export requires a paid plan. We may have to shift to or supplement with Google Analytics or another free-of-cost option.

[2020-03-31 03:04] zempo commented on #361
I've checked with everyone and it seems we're good to go.
I'm closing this issue for now.

[2020-03-31 03:04] #361 closed, assigned to cnk, ExperimentsInHonesty, zempo

[2020-04-02 05:20] yulia-kh commented on #228
Cynthia and I tested editing of the existing projects and it seems to work in the desired way. With proper instruction it should be very straightforward and as mentioned before can be managed without it becoming a coding task.
The current block is that incoming data schema a little different from the config file.
The next step is to figure out if we should (can?) change the config.yml to match our

[2020-04-03 02:34] #409 closed, assigned to parkderick

[2020-04-03 03:00] KianBadie commented on #255
@ExperimentsInHonesty sorry for replying so late Bonnie. I forgot about this and was reminded while looking at issues assigned to me.

Also sorry, this post will be long because I am going to post screenshots for different screen sizes
## iPhone5
![undebate_black_iphone5](https://user-images.githubusercontent.com/18221058/78319322-c81afc80-751b-11ea-99e7-7a73d823aa3f.png)
![undebate_blue_iphone5](

[2020-04-03 03:32] parkderick commented on #393
Pull request has been created.

[2020-04-03 04:46] ddfridley commented on #255
If we have to do it like this, then go with the blue silhouette image.  But please consider:

1) to make an image useful in the wide frame, and also zoomed in like this is a tough constraint, and the real information that people want is below the fold, when your on these small screen sizes.

2) In the header, with class="project=hero" there is:
[code]
You could change it to:
[code]
And then it wou

[2020-04-04 02:52] KianBadie commented on #255
@ddfridley

Thanks for the feedback, yeah that's something we can talk about and consider. I'll look more into it tomorrow :)

[2020-04-04 20:28] KianBadie commented on #255
So I did some experimenting, and here are the questions and thoughts I had:
- So basically, from what I understood, you are saying on mobile the hero image takes up more space than it merits. With the styling rules you suggested, the hero image would be much shorter, but still show the hero image with much less cropping or zooming in (at least that's how it appears when I did it). While before, th

[2020-04-04 21:24] ddfridley commented on #255
min-height: 33vh

But I see that there's no way to please every display. Either you crop
the sides, or you crop top/bottom with the way it is currently

You could use @media (orientation: landscape) and @media (orientation:
portrait) to make things different for the different layouts (and use vw
and vh to specify sizes) but I don't know how much trouble that is, and
how valuable this is vs other f

[2020-04-05 03:24] ExperimentsInHonesty commented on #404
Here are two current links for the project

Dev site: https://hosthome-staging.lacommunity.site/
Proof of Concept: https://lacommunity.site/hosthome

[2020-04-05 15:39] ashlingam commented on #128
Progress - A folder was created in the shared drive to house site analytics that will be captured on a weekly basis: https://drive.google.com/drive/folders/1QExQjXkimcKnf2VCosxiUB41NL7El4i9?usp=sharing. New Segments and Event Funnels will be created.
Blocks - None
Availability - Saturday, Sunday, Monday
ETA - 4/6/20

[2020-04-05 15:58] ashlingam commented on #404
@yuikomajima Thanks for putting this together! Overall, I really like the concept. A few questions/comments that I have:

- Is the idea to have an image or graphic within the 3 square boxes at the top? If so, how about replicating the graphic within each of the subsections below?

- I wonder if the "After Onboarding" section might be better delineated within the Step 1 box. Perhaps a horizontal se

[2020-04-05 16:05] ashlingam commented on #368
1. Progress - A refresh of the current Getting Started page is underway. @yuikomajima has created a wireframe that will make the page more graphical and easier to read: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A3. We are editing the wireframe and a final version will be shared with the group.
2. Blocks - None
3. Availability - Sunday, Saturday, Monday
4. ET

[2020-04-05 16:43] ashlingam commented on #242
1. Progress - Onboarding survey has been updated to incorporate question concerning COVID-19 response: https://docs.google.com/forms/d/1hE2H-r5SIT4Ewzu2Vz5vSGqMYVZqQL94g4jpaLYXpGM/edit. Other surveys are being updated to reflect current projects list: https://docs.google.com/forms/d/1_nar2H41_Ac-4MC2Eyx8vZGDzvflqnNgxu9irfAJWVE/edit?usp=sharing
2. Blocks - None
3. Availability - Sunday, Monday, Sat

[2020-04-05 17:32] ExperimentsInHonesty commented on #228
Show team the publiccode.yml pusher

[2020-04-05 18:00] #408 closed, assigned to yulia-kh

[2020-04-05 18:15] ExperimentsInHonesty commented on #384
@leonelRos
1. Progress - played with it
2. Blocks availability last week
3. Availability: Today
4. ETA: tomorrow

[2020-04-05 18:28] ExperimentsInHonesty commented on #404
Here are some notes from the host guide.  Some of these might be good in the faq

Answers to Questions that you haven’t asked:
How many hours should you participate?
At least 3 hours a week. Ideally, you’re putting in the meeting time AND a couple of hours, b/c meetings are for coordination/feedback and you’ll need extra time to work on something to contribute. It depends on your skillset. Ex: we

[2020-04-05 18:47] ExperimentsInHonesty commented on #385
working with VRMS team on calendar.  Waiting for data model from @sarL3y
template so far
Identification: (this is a number of the project)
Start Time: YYYY-MM-DDTHH:mm:ss.sssZ
End Time: YYYY-MM-DDTHH:mm:ss.sssZ
Meeting Name:
Meeting Description:
Meeting Type:
Meeting Location: (online, DTLA, SM, soLA)
Zoom Link:

[2020-04-05 18:47] cnk opened #413 "Don't randomize cards within status on HfLA homepage"

[2020-04-05 18:49] ExperimentsInHonesty commented on #301
Wrote to them in slack again.

[2020-04-05 18:50] ExperimentsInHonesty commented on #275
Wrote to @equity-language about this on their slack today - again.

[2020-04-05 18:54] ExperimentsInHonesty commented on #408
@yulia-kh can you reformat the text on the host home card a little bit.  Its one giant paragraph right now, should be

[2020-04-05 18:55] ExperimentsInHonesty commented on #275
Sent Yuila a message on issue about reformatting text: https://github.com/hackforla/website/issues/408#issuecomment-609464428

[2020-04-05 18:59] ashlingam opened #414 "Change Shared Housing status to On Hold"
### Overview
Change Shared Housing status to On Hold

### Action Items
Change Shared Housing status to On Hold

### Resources/Instructions

[2020-04-05 18:59] ExperimentsInHonesty commented on #275
@harishlingam has opened opened a issue #414 for changing the status of Shared housing to on hold

[2020-04-05 19:02] ExperimentsInHonesty commented on #275
Engage
Internal: add tools to project card
Issue: #251 (comment)

HelloGOV
Internal: Add leadership and tools to project card
Issue: #252 (comment)

TDM Calculator
Internal: replace hero image on project homepage
Issue: #327 (comment)

Host Home
Internal: Asked Julia to reformat description
Issue #408

Shared Housing
Internal: change status to onhold
Issue #404

---
Equity Language
External: Missi

[2020-04-05 20:03] joelparkerhenderson commented on #301
Thanks! Tools (and practices) that will help us are JavaScript coding, Svelte framework (akin to React and Vue), AWS hosting with EC2/RDS/SES.

In parallel, my preference is aim toward self-service for these, so a project team can optionally update this information; this is because the tools that we are using may need to shift soon -- we just got a bunch of feedback that we need subject-matter cre

[2020-04-05 23:30] harishlingam commented on #186
**Editable Links**
Remote Onboarding: https://docs.google.com/forms/d/1hE2H-r5SIT4Ewzu2Vz5vSGqMYVZqQL94g4jpaLYXpGM/edit
New Member: https://docs.google.com/forms/d/1UB28awbncRSbsk-YjtAt-AYQdYootj_K2bFhaahtTPI/edit
Project Leader: https://docs.google.com/forms/d/1TO6mUdFsPUsfsqRyDivNi6qXDwwGfJWueX_SueR4Yyo/edit
Government Agency: https://docs.google.com/forms/d/1kNV7f_BmaTXyqDh7nzuFXt7BMs0pzVOd8TD2

[2020-04-05 23:33] ashlingam opened #416 "Finalize UX surveys for administration"
### Overview
Review UX surveys for completion

### Action Items
- [x] Review all UX surveys for content and completion.
- [x] Identify categories of desired information and tag all questions by categories.
- [x] Produced finalized version of New Member and Remote Onboarding surveys.
- [x] Provide Wes with New Member survey update. New Member to be sent 2-4 weeks from date of remote onboarding.

##

[2020-04-06 01:56] ashlingam commented on #404
Draft for FAQ section: https://docs.google.com/document/d/1C168LU36UwYzG_MQGlxW6ens1CPewoLOr7cEwKHQofg/edit

[2020-04-06 16:02] emillipede commented on #246
summary for @yulia-kh. thank you for making these updates!

- Please remove the current screenshot image. Please use the below image (also uploaded in a comment above). If for any reason you can't use the image, please let me know and for now just remove the screenshot (our team didn't supply it, I asked that it not appear on the website). The image credit for the photograph is: "Dave Baiocchi, ww

[2020-04-07 20:01] yuikomajima commented on #404
Hi @harishlingam I created 2 variations of wires based on your comments and from comments during Sunday's meeting.

The difference between the 2 variations is wire A has graphics only for Step 3, while wire B has graphics for all steps. I personally think that maybe wire A might be cleaner and less distracting. With that being said I think we could cut down some of the copy as there is limited spa

[2020-04-07 21:53] ExperimentsInHonesty commented on #409
Issue is ready to be worked.  Simply replace current hero image with provided image.

[2020-04-07 23:42] parkderick commented on #327
Submitted request issue #327.

[2020-04-08 00:03] parkderick commented on #409
Submitted pull request issue #409

[2020-04-08 01:39] KianBadie commented on #251
@ExperimentsInHonesty just want to make sure, the only update right now is to display "Tools: None" on their project home page (I'm assuming the message in parenthesis after "tools: None" in this issue was only to be read in this issue)? I also see that the home page says looking for "NLP Engineers", while this issue says "ML engineer (NLP)." Is that intended?

[2020-04-08 02:47] c-fuchs commented on #351
For Host Home/HomeUnite.Us, please:
1) Add another meeting to the weekly schedule for 7-8 PM Tuesday nights
2) Change the name to HomeUnite.Us
3) On the project page, add the demo, wiki, and slack links to the Links section at the top:
demo link (Different from the others, don't judge): https://lacommunity.site/hosthome
wiki link: https://github.com/hackforla/HomeUniteUs/wiki
slack link: https://h

[2020-04-10 01:51] parkderick commented on #252
Pull Request submitted

[2020-04-10 05:17] #246 closed, assigned to yulia-kh

[2020-04-10 05:41] cnk commented on #252
We are still missing a last name for Kate Rose and roles for the 3 people on the leadership listing

[2020-04-10 05:44] #327 closed, assigned to KPHowley, parkderick

[2020-04-11 19:21] yuikomajima commented on #404
@harishlingam please see this link for 2 mockup variations of the 3rd wire: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=48%3A81

[2020-04-11 20:07] ashlingam commented on #416
1. Progress - Received feedback from @wesrowe concerning the Remote Onboarding survey. To discuss with him desired changes and review final version with @ExperimentsInHonesty.
2. Blocks - None
3. Availability - Saturday, Sunday, Monday
4. ETA - 04-13-20

[2020-04-11 20:11] ashlingam commented on #404
Progress - Discussed wireframe variations with @yuikomajima. Decisions on design direction made. Opting to incorporate vector graphics that help reinforce information presented and add visual interest.
Blocks - None
Availability - Sunday, Saturday, Monday
ETA - 04-17-20

[2020-04-11 20:28] ashlingam commented on #404
@yuikomajima I prefer the first variation. Here are a few comments:
- I think we can add some sort of box around each one of the 3 vector graphics at the top. Then, I'd change the blues to the red/pink tones found on the site.
- Under Step 3, we could replace the email envelope with a large "@", since it's the address, not the email they are sending. Then, I think we center the After Self/Guided O

[2020-04-11 21:18] ashlingam commented on #128
1. Progress - The HFLA Full Story account has reached its recording limit. New analytics tools to be setup. We are looking at Google Analytics and Mixpanel. To reach out to @KianBadie to insert code snippets for tools.
2. Blocks - None
3. Availability - Saturday, Sunday, Monday
4. ETA - 4/18/20

[2020-04-11 21:21] #242 closed, assigned to ashlingam

[2020-04-12 04:27] cnk commented on #402
Yulia, When I was checking things after merging I noticed that there is also a link around the image  on the card. Could you also remove that link when project-homepage is false? Thanks.

Also, the CSS to color the title black doesn't seem to be working. I am not sure why not.

[2020-04-12 05:05] yulia-kh commented on #402
@cnk Thanks, Cynthia. I removed the link around the image too. I don't know why CSS doesn't work. I can see the black title for Work for LA locally and on the deployed website. I've checked in Chrome and Firefox.
![Screen Shot 2020-04-11 at 10 03 18 PM](https://user-images.githubusercontent.com/13112628/79061007-69066780-7c40-11ea-8778-797745a7eecb.png)

[2020-04-12 17:00] #402 closed, assigned to yulia-kh

[2020-04-12 17:17] #413 closed, assigned to cnk

[2020-04-12 17:37] #393 closed, assigned to leonelRos, parkderick

[2020-04-12 17:59] ashlingam commented on #346
This issue requires some knowledge of Javascript and APIs.

[2020-04-12 18:00] cnk opened #425 "Flesh out Work For LA card so we can use its project page"
### Overview
Gather information for the Work for LA project so that we can go back to displaying its project homepage.

### Action Item
- [x] Add GitHub repo
- [x] Add leader (owner of GH repo)
- [x] Add identification (id of the GH repo) so contributors get listed

### Resources
[GitHub repo for project](https://github.com/hunterowens/workfor.la)
ID of repo: 79977929
Project Leaders ID: 1735650
P

[2020-04-12 19:26] ExperimentsInHonesty commented on #368
This is what the page used to look like.
![Screen Shot 2020-04-12 at 12 24 00 PM](https://user-images.githubusercontent.com/37763229/79077796-c5a56900-7cb8-11ea-9867-f5c82902e17c.png)

[2020-04-12 19:34] ashlingam commented on #416
<img width="33" alt="Screen Shot 2020-04-12 at 3 09 41 PM" src="https://user-images.githubusercontent.com/21990572/79078701-bb429980-7ccf-11ea-898c-fc4655c05ab3.png"> @harishlingam  starting this chat to kick around thoughts on the onboarding survey we’re discussing how to evolve remote onboarding, that’s why i took a closer look today

i’ll thread a couple reactions to the qeustions as-is, the mo

[2020-04-12 19:39] ashlingam opened #429 "Update template of project.md file"
### Overview
Update template of project.md file

### Action Items
- [ ] Incorporate all possible links into project.md file

### Resources/Instructions
[project.md template](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file)

[2020-04-12 19:48] ExperimentsInHonesty opened #430 "Change logic for project card and project homepage"
### Overview
We need to edit what is seen for projects that are completed.  Currently it does not display a project homepage, but we are going to re-enable that, and just edit what does appear.

### Action Items
For projects with a status of completed
- [x] hide getting started link (on project homepage)
- [x] write logic around not displaying getting started on projects with a completed status.
-

[2020-04-12 19:57] ashlingam commented on #416
<img width="33" alt="Screen Shot 2020-04-12 at 3 09 41 PM" src="https://user-images.githubusercontent.com/21990572/79078772-2be9b600-7cd0-11ea-8985-b7c68b26c094.png"> @harishlingam  I just looked at a couple google sheets that have been collecting data for a long time now and you might find interesting. the original onboarding survey, have you seen the results? it’s more about engagement — did you

[2020-04-12 20:09] wesrowe commented on #416
To clarify, the above note to Harish was from me :)
My overall feeling about KPIs for onboarding -- I think we want to be studying whether new joiners successfully engage and feel productive. That's the outcome we want to measure. The older survey tried to get at that question, although VRMS is probably a much better tool than a survey for measuring engagement because it captures non-engagement to

[2020-04-12 20:16] ExperimentsInHonesty commented on #416
@wesrowe 100% to what you said above.  I think that the google form surveys are a good place for us to work out what we want to ask and how to ask it.  Then when we get our process tight, then we can migrate it to VRMS when they are ready.

[2020-04-12 20:23] ashlingam commented on #416
@wesrowe Could you please share a link to the original onboarding survey you referred to? I didn't see it in the surveys folder on the shared drive.

[2020-04-12 20:27] ExperimentsInHonesty opened #431 "Cleanup Heart's project.md file"
### Overview
This project is about to become a showcase, we need to clean up the online presentation

### Action Items
- [x] Get a Hero image - Already added to the folder. See Charlotte's PR below.
- [x] Identify who the leaders of the project and their titles are
- [x] Update file with the above information
- [x] Add Wiki to the links
- [x] Remove Looking For details

### Resources/Instructions

[2020-04-12 20:42] cnk commented on #429
The way the project cards are coded, there isn't an "all possible links". We have some links that show up special sections but then any other link added to the 'links' section is displayed at the bottom of the card.

If you want examples of all possible links, I would need a list of allowed link types and then we would have to change the way the project homepage is coded to display only links that

[2020-04-12 20:50] ExperimentsInHonesty commented on #128
@harishlingam @ExperimentsInHonesty discussed and decided at this time to extend our testing to HotJar.  @harishlingam will put the code that needs to be added to the website in a new issue.  This issue will remain open for continuing the decision record.

[2020-04-12 20:51] ashlingam opened #432 "Set up Hotjar analytics tool on website"
### Overview
Set up Hotjar analytics tool on website. References #128.

### Action Items
- [x] copy fullstory code snippet into this issue as a comment.
- [x] Replace Fullstory code snippet with Hotjar code snippet.
- [x] Notify @harishlingam once completed.

### Resources/Instructions
hotjar code
[code]

[2020-04-12 20:53] ExperimentsInHonesty commented on #429
@cnk can you give us a break down of what links will appear where?

[2020-04-12 21:10] cnk commented on #429
@ExperimentsInHonesty

On the project homepage
  - links with the names "GitHub", "Site", and "Test Site" displayed in the "Links" section in the left half of the Project Overview. (I also suggested to Kian that he add "Demo Site" links to display on this section)
  - Links named Wiki and Readme are displayed under the "Getting Started" dropdown
  - All links are also displayed in the "Resources"

[2020-04-12 21:18] ExperimentsInHonesty commented on #351
please change my name from Wolf to Wolfe on civic-tech-index project homepage card.

[2020-04-12 21:37] wesrowe commented on #416
@harishlingam Can you see this: https://docs.google.com/forms/d/e/1FAIpQLSd3ayiHXV3IZMxu-cqTVvwnozwnwfdbwZjpbqCjom1QbgIImQ/viewform?usp=sf_link

[2020-04-12 22:16] ExperimentsInHonesty commented on #351
on this page: https://www.hackforla.org/project-meetings please link

civic tech index (thurs and sunday) to their project page: https://www.hackforla.org/projects/civic-tech-index
host homes change to Home Unite Us (saturday) to their project page: https://www.hackforla.org/projects/host-home

[2020-04-13 01:04] yuikomajima commented on #404
@harishlingam

Updated mockup: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=59%3A827

I made the above changes, please let me know your preference of the below:

1. Bold headings or Regular
2. "@" image instead of email for Step 3 item 1
3.  I did not put boxes around the top graphics as we now have 4 (vice 3). Please let me know If you'd still prefer the boxes. If

[2020-04-13 01:06] #414 closed, assigned to yulia-kh, ruben1s

[2020-04-13 01:50] ashlingam commented on #404
Thanks @yuikomajima

-Please double the font size of the caption underneath "Getting Started" ("Hack for LA brings together...")
-I like the bold headings. Please use all caps for the other two steps as you did in "STEP 1", which in my opinion looks good.
-Please make the '@' image just a bit larger
-No need for the boxes now
-The steps listed under Next Actions can be a bit more centered

-I've m

[2020-04-13 02:13] yuikomajima commented on #404
Hi @harishlingam thanks for your input! I have made the revisions above: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=59%3A827

[2020-04-13 02:29] ExperimentsInHonesty commented on #275
Host Home
External: Need links and to discuss with carolanne/tyler the names change issue
Issue comment: https://hackforla.slack.com/archives/DPS0US63H/p1586658260000100

[2020-04-13 02:32] ExperimentsInHonesty opened #435 "Update logic for link display on project homepages"
### Overview
Add "Demo Site" to the list of links that will display at top of page

### Resources/Instructions
https://github.com/hackforla/website/issues/429#issuecomment-612676425

[2020-04-13 02:38] ExperimentsInHonesty commented on #251
@eselkin it says no tools in your file.  Don't you guys use something, like Google Analytics, or Figma, or something else?

[2020-04-13 02:39] ExperimentsInHonesty commented on #275
Engage
External: Need tools if they have them
Issue Comment: https://github.com/hackforla/website/issues/251#issuecomment-612722781

[2020-04-13 02:42] #252 closed, assigned to cnk

[2020-04-13 02:46] eselkin commented on #251
I'm not aware of using Figma, I don't think anyone did clickable mocks in anything. Maybe sketch at one point, but I don't have those files. We use hotjar and Google Analytics. These are "tools" not languages etc., right?

[2020-04-13 02:50] ExperimentsInHonesty commented on #275
Civic Tech Index
Internal: Change Bonnie's name
Issue Comment: https://github.com/hackforla/website/issues/351#issuecomment-612677326

[2020-04-13 03:30] ExperimentsInHonesty commented on #432
fullstory snipit from _includes/head.html
[code]

[2020-04-13 03:58] ashlingam commented on #404
@yuikomajima I reviewed the new wireframe with Bonnie. Could you please make the following additional changes?
- Make the Step 1/2/3/4 image boxes at the top a 2 x 2 grid instead of 4 across
- Three edits to the copy: https://docs.google.com/document/d/14ACgDU4CgYhsJXI5H49CdbLzItV8IinbzDCayCgPKjY/edit#

Thanks!

[2020-04-13 04:07] ashlingam opened #436 "Develop a HFLA Website Product Roadmap"
### Overview
The Website is developing to reduce the volunteer dependency on Hack night Host.  We need a roadmap to prioritize the development.

### Action Items
- [x] Post request for new page content ideas in hfla general Slack channel
- [x] Brainstorm new pages for website, internally (with Hosts)
- [ ] Define value/expense  of each page development.
- [ ] Pull outstanding items from #116 and a

[2020-04-13 16:10] ExperimentsInHonesty commented on #431
@charlottesauce Can you make a hero image for this project?

[2020-04-13 19:23] cnk commented on #425
@ruben1s Please also remove the "looking" section. This project is not longer looking for volunteers

[2020-04-14 02:29] charlottesauce commented on #431
Sure. I think I'm just going to put our mocks up in an aesthetically
pleasing way for the hero.

On Mon, Apr 13, 2020 at 9:10 AM Bonnie Wolfe <notifications@github.com>
wrote:

[2020-04-15 01:41] yuikomajima commented on #404
@harishlingam I made the changes above.
One thing re: the image layout. The 2x2 grid would make the user have to scroll down to see all 4 steps, which may not be ideal. Are you thinking of a 2x2 grid that has smaller graphics?

figma link to updated wire here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=111%3A1822

figma file to prototype here: https://www.figma.c

[2020-04-15 01:59] leestella748 commented on #404
@yuikomajima  Just took a look and I think for the last part in Step 4 you can either combine the last two sentences or delete the 2nd sentence!  And if I was to nitpick, maybe try decreasing the font size of the labels "Step 1" etc. so they compete even less with the actual titles of each step.  Also, I would decrease the paragraph length for step 1: onboarding just to make it seem the same lengt

[2020-04-16 19:26] KianBadie commented on #251
@eselkin sorry for replying to your message late. To answer your question, yes these are tools not languages. The page is checking github repositories for languages. I think Google Analytics would at least qualify to be a tool. I'm not too familiar with hotjar. @ExperimentsInHonesty thoughts?

[2020-04-16 19:28] KianBadie commented on #435
I typed "Fixes #issue" in the Pull request, but it did not close the issue. Maybe because it was a comment. I will close this manually.

[2020-04-16 19:28] #435 closed, assigned to KianBadie

[2020-04-17 22:14] ashlingam commented on #404
Hi @yuikomajima, I think that the prototype looks great. Here are my comments:
- The 2x2 grid looks good, but reducing the size of the graphics (just a bit) makes sense.
- I agree with Stella's comments @leestella748. These revisions are reflected in the draft: https://docs.google.com/document/d/14ACgDU4CgYhsJXI5H49CdbLzItV8IinbzDCayCgPKjY/edit#

[2020-04-17 22:16] ashlingam commented on #404
Hi @wesrowe We are about to pass the Getting Started page mockup to development. Would you please take a look at Yuiko's mockup and share any comments you might have? Thank you!

[2020-04-17 22:20] ashlingam commented on #403
From @leestella748:
I finally had time to work on the wireframe for the Hack Nights page and had a few questions: 1.  Since we're designing a temporary page due to the coronavirus, should I include other online events such as Happy Hour?
2. Should I include the project team meetings schedule on the Hack Nights page, and if yes, is the posted schedule accurate?  https://www.hackforla.org/project-me

[2020-04-17 22:24] ashlingam commented on #403
HI @leestella748, here are my thoughts on the above:
1. Yes, I would include these other online events on the page
2. I'd love to see this in wireframe. Probably makes sense to include, since we want as few clicks as possible to get users to information of interest.
3. Good question. I imagine we have some photos on file, but likely limited. Probably a good question for Bonnie.

[2020-04-17 22:41] ashlingam commented on #416
Hi @wesrowe, I am sharing with you a survey comparison board that @ExperimentsInHonesty  and I created: https://github.com/hackforla/website/projects/2. We've used this board to collate questions across the current Onboarding Survey (OS), New Member Survey (NMS), and Old Onboarding Experience Survey (OES), the survey you shared. The New Members survey is intended to dispatch ~2 weeks after a volun

[2020-04-17 22:47] ashlingam commented on #432
Hi @wesrowe, pulling you into one other issue! We've reached the usable limit with FullStory's free plan and so we are now moving over to Hotjar. In addition, was wondering whether there is a use case for Google Analytics as a primary or secondary analytics tool. Hotjar allows for funnel tracking and heatmap analytics. Do we need anything more? Thank you!

[2020-04-18 03:24] breeze-094 opened #442 "hack for la_lucky parking webpage team leader updates"
### Overview
hack for la_lucky parking webpage team leader updates

### Action Items
for [lucky parking web page](https://www.hackforla.org/projects/lucky-parking.html), update below items:
- Partner: Seeking
- Tools: Google Colab, AWS, React-JS
- Languages: Python, JavaScript, PL/pgSQL
- Front End Lead: David Kim
- Back End Lead: Elly Kyles

[2020-04-18 03:25] breeze-094 commented on #442
@harishlingam  Could you help update the website please since I cannot assign anybody here

[2020-04-18 20:33] ExperimentsInHonesty commented on #375
host home project is now called HomeUniteUs or Home Unite Us

[2020-04-18 20:34] ExperimentsInHonesty commented on #275
The project called Host Home has been changed to Home Unite Us

[2020-04-18 22:32] yuikomajima commented on #404
Hi @harishlingam I changed the size of the 2x2 grid and updated the copy.

Most updated mockup: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=134%3A1625

Prototype: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=134%3A1625&scaling=scale-down-width

[2020-04-19 00:39] KianBadie commented on #346
***Update***

I've been working on this issue this week. What I've been trying to do is add functionality to the script we currently have in order to loop through the comments on issues (open or closed) that are tied to a repository.

The GitHub API returns responses to endpoints in pages. So for example if I ask for all the issues under a repository with 250 issues, it might return 30 issues (I t

[2020-04-19 05:06] breeze-094 commented on #351
@harishlingam
for lucky parking web page, update below items(keep the items that are not covered below):

Partner: Seeking
Tools: Google Colab, AWS, React-JS
Languages: Python, JavaScript, PL/pgSQL
Front End Lead: David Kim
Back End Lead: Elly Kyles

[2020-04-19 16:26] ExperimentsInHonesty commented on #255
@KianBadie I just got a change to read through this fully. Do you know what David means by @media orientation landscape and portrait, in terms of code?

[2020-04-19 16:29] ExperimentsInHonesty commented on #301
Talked to Joel about how to use the tools field.  Closing issue now.  Will revisit any changes on a new issue with new project name: writeforeveryone

[2020-04-19 16:29] #301 closed, assigned to joelparkerhenderson, charlottesauce

[2020-04-19 16:35] ExperimentsInHonesty commented on #251
@eselkin @KianBadie Yes, hotjar and google analytics would be a tool I would put in the tool list.  We will add them.

[2020-04-19 16:37] ExperimentsInHonesty commented on #431
@charlottesauce can I get hero from you on this, so the team can make the change today?

[2020-04-19 16:46] ExperimentsInHonesty commented on #275
Engage
Internal: Add tools: hotjar and google analytics to their project card.
Issue Comment https://github.com/hackforla/website/issues/251#issuecomment-616177640

[2020-04-19 16:48] ExperimentsInHonesty commented on #275
Home Unite Us
Internal:
Issue Comment https://github.com/hackforla/website/issues/351#issuecomment-610721690

[2020-04-19 16:50] ExperimentsInHonesty commented on #275
Meeting links page: https://www.hackforla.org/project-meetings
Internal:
Please link
- [ ] civic tech index (thurs and sunday) to their project page: https://www.hackforla.org/projects/civic-tech-index
- [ ] host homes (saturday) to their project page: https://www.hackforla.org/projects/host-home

[2020-04-19 16:53] cnk commented on #429
Blockers: unsure of what action is needed

[2020-04-19 16:56] cnk commented on #425
@ruben1s did most of the work needed for this but then did not make a pull request

https://github.com/ruben1s/website/commit/da0964b4e964c73baee12c0e92e162e6390c5795

[2020-04-19 16:59] yulia-kh commented on #228
Here's example of netlify-cms connected to the website https://yulia-kh.github.io/testing-netlify/admin/. Repo link https://github.com/yulia-kh/testing-netlify

[2020-04-19 17:04] ExperimentsInHonesty commented on #351
@breeze-094 we will be making these changes today with some slight revisions.  See below:

Lucky Parking:
Partner: Seeking
Tools: Google Colab, AWS, (this is a framework and should show up under languages automatically, if it doesn't we will re address: React-JS )
Languages: Python, JavaScript, PL/pgSQL (this should be showing up automatically - it pulls from  if its not, let's talk about why it's

[2020-04-19 17:17] ExperimentsInHonesty commented on #255
@ExperimentsInHonesty to setup a zoom meeting with @cnk , @KianBadie  & @leonelRos  with @ddfridley

[2020-04-19 17:50] cnk commented on #228
Fantastic demo!
Next steps:

- [x] Look into options for validating data as it is entered (link name options, text lengths, etc) to prevent people entering data we won't want to approve
- [x] Improve help text for each field (e.g. define differences between Site, Test Site, Demo Site link types)
- [x] Can we format the preview pane on the right of the edit form? (ideally incorporate the project pa

[2020-04-19 17:59] ExperimentsInHonesty commented on #385
@yulia-kh @cnk will go to the Monday night VRMS meeting to talk calendar

[2020-04-19 18:01] ExperimentsInHonesty commented on #384
@leonelRos and @cnk to work on it today.

[2020-04-19 18:03] breeze-094 commented on #351
@ExperimentsInHonesty
Yay , that great!
You can adjust but  just want these words showing up somewhere.

Thank you so much!

[2020-04-19 18:11] ExperimentsInHonesty commented on #128
New dependance: Adding this issue #432 to prioritized backlog.

[2020-04-19 18:20] #425 closed, assigned to cnk, ruben1s

[2020-04-19 18:32] ExperimentsInHonesty opened #444 "Update Lucky Parking"
### Overview
Project has provided some updates to be added to card and homepage

### Action Items

Partner: Seeking
Tools: Google Colab, AWS
Front End Lead: David Kim (david kim's slack member ID: UV407QSBE)
Back End Lead: Elly Kyles (Elly Kyles slack member ID: UPPLBKK71)

### Resources/Instructions
https://www.hackforla.org/projects/lucky-parking

[2020-04-19 18:35] ExperimentsInHonesty commented on #275
Lucky parking
Internal
see issue #444

[2020-04-19 18:38] ExperimentsInHonesty opened #445 "Update Team meeting schedule page"
### Overview
Update the Team meeting schedule page manually

### Action Items
please link
- [x] civic tech index (thurs and sunday) to their project page: https://www.hackforla.org/projects/civic-tech-index
- [x] host homes change to (saturday) their project page: https://www.hackforla.org/projects/host-home
- [x] add another meeting for Home Unite Us at 7-8 PM Tuesday nights

### Resources/Instru

[2020-04-19 18:41] ExperimentsInHonesty commented on #275
Team meeting page
Internal
see issue #445

Engage
Internal: Tools update
Issue #251

[2020-04-19 18:48] ExperimentsInHonesty opened #446 "Home Unite Us project card changes and related team meeting update of name"
### Overview
Has changed the name of the project, which involves quite a few things

### Action Items
- [x] Change the project name to Home Unite US
- [x] On the project page, add the demo, wiki, and slack links to the Links section:
   - [x] demo link (Different from the others, don't judge): https://lacommunity.site/hosthome
   - [x] wiki link: https://github.com/hackforla/HomeUniteUs/wiki
   -

[2020-04-19 19:56] yuikomajima commented on #403
Here's the sketches we worked on today.
![IMG_9378](https://user-images.githubusercontent.com/56898767/79698335-27c41800-823d-11ea-8f4c-1972e3bd7172.JPG)
![IMG_9377](https://user-images.githubusercontent.com/56898767/79698341-2c88cc00-823d-11ea-9880-7a4770cb0fa1.JPG)

[2020-04-19 20:09] yuikomajima commented on #404
Hi @harishlingam please see below for revised mockups with some very simple annotations.

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=134%3A1625

[2020-04-19 20:55] writeforeveryone commented on #431
@ExperimentsInHonesty

Below is the shutterstock img we talked about. It's a bit more blurry than we could tell.

image-hero: /assets/images/projects/heart-hero.jpg
alt-hero: "a line of tents under a freeway overpass"

![heart-hero](https://user-images.githubusercontent.com/63891329/79699552-11ba5580-8245-11ea-848d-ed50117d3e85.png)

[2020-04-19 20:57] charlottesauce commented on #431
@ExperimentsInHonesty

made a pull request with the changes.

[2020-04-19 21:31] leonelRos commented on #384
@ExperimentsInHonesty . @cnk  @yulia-kh  and I got the contact us form to work. Now, if we can get access to Action Network so I can work with both ends and check if they are successfully receiving the message and email from the form and implement custom fields. so we can separate real people from trolls.

[2020-04-19 22:32] #444 closed, assigned to ruben1s

[2020-04-19 23:32] ExperimentsInHonesty commented on #431
Here is the leadership of this team:

For those that we don't have github handles for, I provided a picture that you can link to for the page.  Where it usually says slack under the person, put a new link that says linkedin.  I will have to work with the dev team to change the logic so if the status is completed it uses the linked in

Marie-Aimee Brajeux
Product Manager
https://linkedin.com/in/mar

[2020-04-20 03:30] ExperimentsInHonesty commented on #275
Home Unite Us changes needed.
reaname repo
change all the links on the card as indicated in the above comment
See https://github.com/hackforla/host-home/issues/133

[2020-04-20 19:20] ExperimentsInHonesty commented on #251
Not sure why but on the [engage project page](https://www.hackforla.org/projects/engage), languages is not showing up.  Who wants to take this issue? Please self assign and post in the slack.  There was recently a pull request on this project, but I think this was broken before that happened.

Please note in your investigation that this repo is not on the hackforla repo.  Public Tree Map is also o

[2020-04-20 19:40] ddfridley commented on #351
To #undebate please change Looking for:  to "Node, React, UI/UX, Marketing/Branding/Social Media" thanks.

[2020-04-20 19:43] #446 closed, assigned to ruben1s, leonelRos

[2020-04-20 23:56] ExperimentsInHonesty opened #458 "Change logic to know which repositories to pull from if project has own GithHub org."
### Overview
Some projects have multiple repositories (usually on their github org) vs the projects that are inside of hackforla's own github org which usually only have a mono repo.  Because of this we cannot pull the contributors or Languages in the same way.

### Action Items
Define a logic that will allow us to indicate if a project has multiple repos
e.g., multiple-repo: true
and if it has it

[2020-04-20 23:57] ExperimentsInHonesty commented on #251
Hi @eselkin we updated the project card for engage, but languages didn't show up.  Upon reflection its because we built our website logic to pull from one repo on GitHub.  Since you have many repos, we are going to have to rewrite the logic to accommodate that.  It also affects the contributors that show up.  Engage is not the only project with multiple repos (HelloGov, PublicTreeMap, so this is s

[2020-04-20 23:57] #251 closed, assigned to nobody

[2020-04-21 17:44] ExperimentsInHonesty opened #459 "Tell us the Technologies (not languages) your project using"
### Overview
Volunteers want to know what frameworks projects use, so that they can better choose which project to join.

### Action Items
Write a comment in this issue with:
1. the name of your project
2. the frameworks you use (e.g., React-JS, Vue, Angular, Ember, Backbone, Express, Django, Rails, etc.)

[2020-04-21 17:59] ExperimentsInHonesty opened #460 "Add frameworks to project pages"
### Overview
Project's need a way to communicate Frameworks to volunteers

### Action Items

- [x] Add a field for Frameworks to the project.md card wiki
- [x] Write the logic for including this in the display.  It should appear under Languages.
- [x] Use team framework info collected on  - Issue #459
- [x] Add to all project cards as one commit (list projects updated in the pull request descripti

[2020-04-21 18:00] ddfridley commented on #459
1. Undebate
2. Mongo, Express, React, Node (MERN)

[2020-04-21 18:07] theswerd commented on #459
1. New Schools Today
2. ReactJS, Flutter

[2020-04-21 19:29] eselkin commented on #459
1. Engage
2. React, Django, SQL (PostgreSQL)

[2020-04-21 20:01] ashlingam commented on #404
@wesrowe Re “Set Up Compliance”, we needed a short phrase that encapsulates the steps of setting up 2FA and adopting ADA compliance. Nothing great comes to mind, but two other possibilities: “Adopt 2FA/ADA”, "Adopt Standards", or "Adopt Our Standards". What do you think?

[2020-04-22 00:45] wesrowe commented on #404
@harishlingam The word "compliance" is only part of the issue, probably. ("Compliance" is pretty awful, though, it sends shivers down the spine of anyone who has worked in a large company.)
It's also about the visual weight of the onboarding steps. From the visitor's perspective, the steps are a list of barriers to participation. That's the negative counterpoint to "steps." Fewer steps is better /

[2020-04-22 00:57] c-fuchs commented on #459
1. HomeUnite.Us
2. React, NoSQL

[2020-04-22 01:09] KianBadie commented on #346
@leonelRos
So I updated my [repo](https://github.com/KianBadie/github-api-test) to fetch every issue listed under a repository and store the "comments_url" for each issue in the github-data.json file.

However, I did just stumble upon [this](https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository), which might just be a quicker way to do what we are doing. From my impression

[2020-04-22 02:07] cnk commented on #346
Yes I think that comments url, https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository. Looks like when you are in the repository data, that url is given to you as issue_comment_url. For example in https://api.github.com/repos/hackforla/website we have "issue_comment_url": "https://api.github.com/repos/hackforla/website/issues/comments{/number}", and can just truncate that t

[2020-04-22 03:25] leonelRos commented on #346
@KianBadie @cnk yeah. I think this definitely helps us to fetch all the comments. Now, I am gonna see how can we implement this. I currently playing around on my branch. I will post when I reach a new step.

[2020-04-22 03:43] KianBadie commented on #346
@cnk @leonelRos
Yeah, @cnk you are absolutely right. I implemented that endpoint and used it to fetch all the comments. It is available to see on my repo. I think the next task could be parsing all the comments data into something more meaningful. I imagine there are going to be repeats in comment-ers, so maybe we would want to keep track of who commented how many times? And maybe we could put thi

[2020-04-22 04:01] cnk commented on #346
Yes I think you want to keep track of who commented how many times.
I would suggest you parse that API data into a list of JSON objects like we have for the data section of contributors here https://github.com/hackforla/website/blob/gh-pages/_data/github-data.json If you name it something else like "commentors" (at least for now), then we could easily swap back and forth between commentors and con

[2020-04-22 04:17] leestella748 commented on #403
@harishlingam @yuikomajima
Here is the wireframe transcribed onto Figma:  https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=153%3A139

Any feedback would be helpful!

[2020-04-22 04:25] cnk commented on #351
@breeze-094 @ExperimentsInHonesty Lucky Parking is not showing Python and React because the repository we use for getting language data shows the project as 99.9% Jupyter Notebook.

[2020-04-23 23:02] ExperimentsInHonesty commented on #403
Hi @leestella748 I have many thoughts about several of the designs.  I looked them over last night, and I am still mulling.  I will definitely have an opinion by then, but I have some questions for other people too.  This might be one where we show some options to people outside.  Thanks for coming up with so many different layout options. @harishlingam @yuikomajima

[2020-04-24 18:33] ExperimentsInHonesty opened #463 "WriteForAll project card changes and related team meeting update of name"
### Overview
Has changed the name of the project, which involves quite a few things

### Action Items
- [x] Change the project name to Write for All in all the relevant files
   - [x] image changes
      - [x] change file name of the image from write-for-everyone-hero.png to writeforall-hero.png
      - [x] change file name of the image from write-for-everyone.png to writeforall.png
   - [x] "proj

[2020-04-24 21:52] #463 closed, assigned to nobody

[2020-04-25 21:58] wesrowe commented on #432
@harishlingam let's look at hotjar together. if it has good basic analytics that works for me -- it's probably easier to use than google

[2020-04-25 22:37] KianBadie commented on #346
So I was able to compile a sorted list of commenters and how many times they commented. There is an issue though that I realized. I found that someone made a pull request, had it merged, but did not show up on the commenters list. I'm assuming this is because she just made a pull request that got merged and didn't comment on any other issues. However, she also didn't show up on the contributors da

[2020-04-25 22:43] wesrowe commented on #384
@harishlingam @cnk @ExperimentsInHonesty – i just caught up with @leonelRos about the state of the contact us section/form.
I want to shout out props to @cnk and @leonelRos for investigating this form; for years everyone assumed it actually "contacted" someone, and we didn't realize the issues below.

Product observations:
 - _the form never worked as intended._ Even if it had been sending the use

[2020-04-25 22:54] ashlingam commented on #403
Hi @leestella748 not sure where you are with your wireframe, but feel free to link them here if you have any initial work that's available for review. Otherwise, no worries since I know we have more to discuss following on Bonnie's comment.

[2020-04-25 23:00] ashlingam commented on #416
1. Progress - Engaged @wesrowe in discussion about remote and new member onboarding surveys, including strategic design, distribution, and relationship to larger project objectives. Reviewed PRD and introduced the user stories and personas board. Harish to establish finalized content of both surveys. Wes/Harish to configure dispatch of New Member Survey 1 mo. after onboarding. To be accomplished t

[2020-04-26 00:30] KianBadie commented on #346
So I made the script get a list of commenters per project that is sorted by how many comments they made. The changes are reflected on my [repo](https://github.com/KianBadie/github-api-test). Only thing that is bugging me is that I am getting an inconsistent error
![Screenshot from 2020-04-25 17-25-40](https://user-images.githubusercontent.com/18221058/80294009-dbd01200-8719-11ea-9b2b-d8ec7114551c.

[2020-04-26 15:39] ExperimentsInHonesty commented on #351
@breeze-094 - we are going to add a separate "framework" section to each project card on the website and the project homepage.    Please you post your frameworks in this issue: https://github.com/hackforla/website/issues/459

Sent her a message on slack about the above ^

[2020-04-26 15:45] ExperimentsInHonesty commented on #385
Matt was out last week for a family emergency.  He is back.  Can team members @yulia-kh @cnk will go to the Monday night VRMS meeting to talk calendar?

[2020-04-26 16:03] ExperimentsInHonesty commented on #255
Put this on hold, this week.  Trying to schedule for this week.  Sent message on slack this morning.   Please add your schedule in the thread.

[2020-04-26 16:20] ExperimentsInHonesty commented on #459
I am going to message each of the projects directly throughout the day.

311-data slack message: https://hackforla.slack.com/archives/CJY4R382X/p1587920983101900
FOLA slack message: https://hackforla.slack.com/archives/CMER3R1RD/p1587922553171400
HelloGov slack message: https://hackforla.slack.com/archives/CDA23KHKP/p1587922621006600
Metro-Ontime sent cam a private message since project is complet

[2020-04-26 16:24] yulia-kh commented on #228
Summary:
 - There is a built in way to do a basic form validation through regex pattern. This allows us to check length of the input or check for specific values.

@ExperimentsInHonesty, @cnk  It made me think what exactly do we want to check? Possible things to consider: length of the description field (min and max), allowed link names (Site, Demo, Test Site, Slack, GitHub, Readme), anything else

[2020-04-26 16:28] ExperimentsInHonesty opened #466 "Undebate hotfix. to looking for"
### Overview
Undebate has changed what they are looking for.

### Action Items
Update this field
- [ ] Looking for: Node, React, UI/UX, Marketing/Branding/Social Media

### Resources/Instructions
https://www.hackforla.org/projects/undebate
[/projects/undebate.md ](https://github.com/hackforla/website/blob/gh-pages/_projects/undebate.md)

[2020-04-26 16:29] ExperimentsInHonesty commented on #351
Created issue #466 for undebate update.

[2020-04-26 17:02] ExperimentsInHonesty commented on #351
@cnk Let's have a talk about how we can deal with project's that use Jupyter Notebook's which is obscuring their use of python.  Example: Lucky Parking.   I think its worth having @joelparkerhenderson  talk with their tech lead to see if they actually need Jupyter Notebook.  Their tech lead has reached out before, so I think this is worth exploring before we put in a lot of logic to accommodate ge

[2020-04-26 17:39] ashlingam commented on #385
1. Progress - Yulia/Cynthia participated in VRMS meeting. Still need further clarity on data model (as of now, appears focused on volunteers). CMS may be a secure way to enable dynamic update of Project Team Meetings page by project leads.
2. Blocks - Data model questions
3. Availability - Saturday anytime
4. ETA - ~2 weeks

[2020-04-26 17:56] cnk commented on #466
These edits are already in place.

[2020-04-26 17:56] #466 closed, assigned to nobody

[2020-04-26 17:59] ExperimentsInHonesty commented on #459
1. Hack for LA website
2. gh-pages, jekyll

@cnk question for you.  Why does it not show liquid as a language?

[2020-04-26 18:00] #445 closed, assigned to ruben1s

[2020-04-26 19:31] breeze-094 commented on #459
1. Lucky Parking
2. React-JS, PostgreSQL

[2020-04-26 20:24] ashlingam commented on #384
1. Progress - Harish to create Other survey and wireframe of section. Will discuss with Bonnie afterward.
2. Blocks - None
3. Availability - Sunday, Monday, Saturday
4. ETA - 4/29

[2020-04-26 20:56] ashlingam commented on #404
@yuikomajima One additional design request for you -- can you please update the corners on all boxes to be rounded?

Like this:
<img width="150" alt="Screen Shot 2020-04-26 at 4 07 36 PM" src="https://user-images.githubusercontent.com/21990572/80319794-17311600-87d8-11ea-85ef-34acb1eb5f1a.png">

[2020-04-26 20:58] ashlingam commented on #404
1. Update - @leonelRos to complete development work on new mockup.
2. Blocks - None
3. Availability - This week
4. ETA - 4/29

[2020-04-26 21:01] #368 closed, assigned to nobody

[2020-04-26 21:24] KianBadie commented on #346
1. Progress - Have a sorted list of people who have commented on repository issues.
2. Blocks - I have gotten an inconsistent error a couple of times that prevents githubapi data from being saved. If this was implemented and the site ran into the error it would be bad for project home pages.
3. Availability - Tuesday, Friday
4. ETA - Sunday 5/03 I will try to have the script in a state that it is

[2020-04-26 21:33] cnk commented on #459
Because we do not use a .liquid file extension for our template files.

[2020-04-26 23:40] harishlingam commented on #384
1. Progress
2. Blocks - None
3. Availability - Sunday, Monday, Saturday
4. ETA - 4/29

[2020-04-26 23:46] ashlingam opened #469 "Create new pages for embedded surveys"
### Overview
Our surveys now live on the shared drive. We now want to embed each of these survey forms onto their own specific web pages. References #384

### Action Items
- [ ] Create web pages for each individual survey (located in shared drive Surveys folder).
- [ ] Embed Google Form surveys on each corresponding web page.
- [ ] Add URLs for new survey pages to issue #384.

### Resources/Instru

[2020-04-26 23:51] leonelRos commented on #384
@harishlingam  @ExperimentsInHonesty are you guys ok if I hide the contact us form that we have on the website until we come up with a new one. I am ready to make that pull request!!

[2020-04-27 00:34] ashlingam commented on #384
@leonelRos We've decided to create an entirely new Contact Us section, which I'm now working on. I do not think we will be using the Contact Us form at all. I think hiding it is fine for now. Can you include a comment in the code explaining the forthcoming revision?

[2020-04-27 00:48] leonelRos commented on #384
perfect1 Will do.

[2020-04-27 01:32] johnr54321 commented on #459
For 311:
Javascript: React / Redux
Python: Flask (Sanic) / Pandas
CSS: Bulma
DB: PostgreSql

[2020-04-27 01:51] wesrowe commented on #384
@harishlingam @leonelRos Note that there is a Contact Us main menu item, so actually removing CU could have a few annoying side effects. CU is also a really expected feature on a website.
Alternatives to hiding the section:
1. swap in the old commented-out "subscribe to newsletter" code from the top of the page.
2. add a button (not a form) with a simple mailto: link, that opens the visitor's emai

[2020-04-27 01:55] ashlingam commented on #403
1. Progress - Discussed revisions to wireframe with Stella, Yuiko, Bonnie, and Harish. Decision on final concept made. Stella to produce high fidelity mockup based on results of earlier discussion. Created draft of copy for page and shared with @myastark for review and input.
2. Blocks - None
3. Availability - Throughout week
4. ETA - 5/2

[2020-04-27 02:17] ashlingam commented on #384
Hi @wesrowe I discussed a new structure to the Contact Us section with @ExperimentsInHonesty . The Contact Us menu item would not be removed. However, we will remove the Contact Us form at the bottom and replace with 4 buttons, each for Volunteer, Non-Profit, Government, and Other.

The Volunteer button will link to the Slack channel and the other 3 buttons will link to their respective survey pag

[2020-04-27 03:19] wesrowe commented on #384
@harishlingam @ExperimentsInHonesty, my suggestion was a minimal approach for the interim/very short term, a patch for the visitor experience that Leo could bang out quickly. I'm happy to hear you're already working on the more permanent approach.

[2020-04-27 05:50] leestella748 commented on #403
Hello, I would also like to get the original photos for each location card in order to design a more hi-fi mockup.

[2020-04-27 16:39] wesrowe opened #472 "Add Donate button to HFLA website"
### Overview
Visitors to the site might want to donate to HfLA. We need to enable that.

### Action Items

- research placement of donation links on similar websites; hypothesis: main nav
- UX design

### Resources/Instructions
Link may be [Donate to a Brigade](https://www.codeforamerica.org/donate-to-a-brigade), or it may be the (currently broken) [Donate to Hack for LA](https://secure.codeforame

[2020-04-27 21:19] #432 closed, assigned to ruben1s

[2020-04-28 21:05] KianBadie commented on #346
I think I have started to figure out the cause of the error. In one instance where I got the error, I inspected the list of comments for a project and found something that looked like this.
[code]
So I believe the error is coming up because the loop I have parses the comments list and expects the whole list to be comment objects. Obviously, because I ran into a rate limit violation, all of the obj

[2020-04-28 22:32] ye-susan commented on #431
PR was created - updated leadership information, wiki link, and removed 'looking for' details.

[2020-04-28 23:06] cnk commented on #346
@KianBadie were you using a Personal Access Token while running your script? I ran into rate limits with the original api scraping and was able to solve it by passing - https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line

But what you are doing might be more data intensive and so might run into the access limit even with a token.

Since

[2020-04-30 06:38] ye-susan opened #477 "Plan for how to manage security alerts on repo"
### Overview
Let's create a plan for managing security alerts on the repo that all site-managers receive, so we can create a process for handling them and know how to proceed when this happens again.

### Action Items
Create plan for handling security alerts from github
Create process (and possibly assign leaders/point-people for these issues to handle or to guide us on what to do)
Add this to the

[2020-05-01 01:57] cnk opened #478 "I need a GitHub user with a @hackforla.org email address"
To make the GH Actions contributors script quit committing as me, we need another GH user to act as the committer. We can't use the H4LA org because that isn't a real user. So I think the best option is to create a user that can be the bot committer.

We have been using   GitHub Actions Bot <hackforla-bot@hackforla.org> but that isn't a real GH user. I think a better name for creating the actual u

[2020-05-01 04:56] cnk commented on #384
@leonelRos I merged the pull request commenting out the contact form but there is still a link to it in the top navigation. Up to whether to remove it for now - or press on with adding the 4 buttons.

[2020-05-01 05:03] leonelRos commented on #384
@cnk  I forgot about that. I check the link and It doesn't redirect to the contact us form. However, I am going to comment it out as well since we are working on a new one

[2020-05-01 05:13] cnk commented on #431
Looks good - except for the links that lead nowhere. @ye-susan Do you want to take a stab at the link logic (linking to linked in rather than Slack)? Let me know if you need help finding the template that builds the links.

[2020-05-01 06:54] leestella748 commented on #403
@harishlingam @ExperimentsInHonesty @yuikomajima
Here is what I've worked on so far: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=381%3A214

1. I believe it makes sense to have the COVID-19 blurb up top, as it affects all of our events on the page. I also think it works best when spanned across the entire screen.
2.  Illustrations vs icons?
3.  I'm not sure where t

[2020-05-01 15:40] cnk commented on #478
Thanks @ExperimentsInHonesty. Worked like a charm: https://github.com/hackforla/website/commit/a8ed5efe516d98099ba3ecb565d544267db1f67e

[2020-05-01 15:40] #478 closed, assigned to cnk, ExperimentsInHonesty

[2020-05-01 19:24] ExperimentsInHonesty commented on #385
Rachel W @sarL3y are working on a data model.  I have added the model above as a comment on the following doc: https://docs.google.com/drawings/d/1-y4xhfKoM0Ic5v7YhdPMAknxkq_VONIq7uBnTF6nwYM/edit

[2020-05-01 22:18] KianBadie commented on #346
@cnk I am using a personal access token, so unfortunately it seems I am maxing out the limits.

Yeah that's exactly what I was thinking. Weirdly enough I ran the script for the first time in a couple days and immediately ran into the error. Ran the script about a minute or 2 after and it worked fine

***Update***

So I did some searching online and I am realizing that maybe I need to start thinkin

[2020-05-02 00:33] leonelRos commented on #384
@cnk @ExperimentsInHonesty  @harishlingam  the "Contact us" link in the main nav has been hidden. I check every other link on the page and everything works accordingly. Looking forward to implementing the new form.

<img width="1185" alt="Screen Shot 2020-05-01 at 5 32 27 PM" src="https://user-images.githubusercontent.com/50648001/80850621-bd628e80-8bd1-11ea-934b-b2bbbdaff3e6.png">

[2020-05-02 20:16] ashlingam commented on #384
Thanks for the update @leonelRos. I am working on a prototype for the new section and will share with the group once complete. We may reintroduce the Contact us link or replace with a Get in Touch link at that point.

Prototype of revised home page: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=352%3A205

[2020-05-02 20:37] KianBadie commented on #255
So me @leonelRos and @ddfridley had our meeting on Tuesday and here are some points we discussed. Let me know if I missed anything:
- David pointed out how using pixels to determine the height and width of elements is a problem. It is not as flexible for different screen sizes.
- On mobile, the banner image makes the content of the page start off towards the bottom of the screen (I believe this is

[2020-05-02 23:38] KianBadie commented on #346
Was not able to figure out a way to make the script work with the rate limits. GitHub has not responded yet either. I reached out to Steven Ettinger for some help and he helped bring up some ideas. One is that maybe we could break up the GitHub actions to run at different times in the day and split up the work among the actions. That way we can make half the request at X time and the other half at

[2020-05-02 23:52] wesrowe commented on #459
@harishlingam @yuikomajima or potentially others — I was just looking for the best entry point (link) to give to reactJS developers.
I'll say at the outset, maybe I'm missing something, or maybe you already have this in the planning stage...
**Use case:** I'm trying to market onboarding nights on social media. Most design/tech communities are organized around specific flavors of tech or design --

[2020-05-03 15:15] ashlingam opened #482 "Set Up Hotjar on website"
### Overview
Set up Hotjar tracking on website, including relevant Heatmaps and Recordings. Data from Hotjar will be used to inform development decisions.

### Action Items
- [x] Set up account and install Hotjar tracking on website
- [x] Activate Recordings and Heatmaps for Home Page and Getting Started Page
- [ ] Activate Recordings for the survey.html file
- [ ] Establish and activate Funnel tr

[2020-05-03 15:21] ashlingam commented on #482
1. Progress - Recordings have been activated in Hotjar. Heatmaps have been activated for Home Page and Getting Started Page. To visit dashboard on regular basis and extrapolate insights once sufficient data reaches statistical significance.
2. Blocks - None
3. Availability - Sunday, Friday, Saturday
ETA - 5/9 - 5/16

[2020-05-03 15:25] ashlingam commented on #178
1. Progress - Diagram has been revised to reflect appropriate decision flow shapes: https://drive.google.com/file/d/1EUmsEpy4LcOHb4VLl_dfE3gUFSpc_CaL/view?usp=sharing. To determine whether dedicated new web page is an appropriate next step at present point in time.
2. Blocks - None
3. Availability - Sunday, Friday, Saturday
4. ETA - TBD

[2020-05-03 15:26] #416 closed, assigned to wesrowe, ashlingam, ExperimentsInHonesty

[2020-05-03 16:19] ExperimentsInHonesty commented on #460
@wesrowe I think you meant to post the content you put here: https://github.com/hackforla/website/issues/459#issuecomment-623030779
into this issue.   Please delete it from issue #459 and repaste here.

[2020-05-03 16:23] ExperimentsInHonesty commented on #460
@cnk posted this review on pull @ruben1s pull request
https://github.com/hackforla/website/pull/480#discussion_r418717610

[2020-05-03 16:35] ExperimentsInHonesty commented on #385
Asked Matt and Rachel to join us.  If not, we are moving ahead with a model to implement redesign of team meeting display.

[2020-05-03 16:39] ExperimentsInHonesty commented on #346
@KianBadie its all time high contributions appear earlier.  Every contributor will appear, but the more total contributions you make the closer to the top of the list you are.

[2020-05-03 16:40] ExperimentsInHonesty commented on #346
@cnk - thoughts about rate limiting?  Also @KianBadie will this be less of an issue when we are pulling daily?  Or is it already rate limiting on daily.  And what are the limits

[2020-05-03 16:48] ExperimentsInHonesty commented on #431
- [x] change status to Completed

[2020-05-03 16:59] ExperimentsInHonesty commented on #403
@leestella748 fantastic new designs.  @harishlingam and I choose design #1 (on left), with the slight modification of adding the days of the week to the locations section, and ordering them this way
Monday - Westside
Tuesday - DTLA
Wednesday - South LA

[2020-05-03 17:19] yulia-kh commented on #228
User experience with pull requests is as follows.

- When a user save changes  `view preview` link shows up. Preview shows a page with changes, but doesn't apply style like bold text or heading even though these options provided (adds # or ** instead like in markdown)
- When user sets status to `In review` - pull request is created
- When a user sets status to `Draft` again - pull request is close

[2020-05-03 17:42] ExperimentsInHonesty commented on #404
@leonelRos says
1. progress: all that is left is styling at this point
2. blocks:  none
3. availability: sunday
4. ETA - end of day

[2020-05-03 17:47] ExperimentsInHonesty commented on #403
- [x] @ExperimentsInHonesty will provide images for the location cards
- [x] @leestella748 will add the images
- [ ] @harishlingam and @ExperimentsInHonesty  will review the copy

[2020-05-03 18:02] ExperimentsInHonesty commented on #477
@cnk to add a page to our wiki for developers with guidance on how to deal with automated security warnings.  Also to look at configuring the bot to provide guidance only, not PRs.

[2020-05-03 18:25] ashlingam opened #484 "Update Project Team Meetings Page"
### Overview
Update Project Team Meetings Page to reflect current Hackforla.org Website meetings.

### Action Items
- [ ] Add meeting Tuesday 7:00-8:00 pm for "Hackforla.org Website"
- [ ] Change "Hack for LA website" to "Hackforla.org Website" under Sunday

### Resources/Instructions

[2020-05-03 18:39] ashlingam opened #485 "Discuss how to process pitch submissions"
### Dependency
August 14th this issue was closed #1975 (adding a subject line: "Submitting my pitch to Hack for LA").  No one has used this link since the change launched.  We will observe this again by having Bonnie search her inbox in 30 days on 2022-02-18

### On Hold because
 we need to determine if this is necessary.  A test to be performed on issue #1975 to determine volume of need.  If a lo

[2020-05-03 18:57] ExperimentsInHonesty commented on #403
@leestella748 please make each of the project teams on the team meeting schedule be red underlined, then those will link to the projects.

[2020-05-03 19:16] ye-susan commented on #431
I've changed the status and have created a pull request

[2020-05-03 19:55] yuikomajima commented on #254
Filter items discussed on 5/3/2020:

1. Topic
2. Location
3. Language
4. Framework
5. Status
6. Site
7. Open Roles

[2020-05-03 19:56] ExperimentsInHonesty commented on #403
Here is where the images are located: https://github.com/hackforla/website/tree/gh-pages/assets/images/hack-nights

[2020-05-03 20:19] ashlingam opened #487 "Add Donate Button to Website"
### Overview
Add Donate Button to Website Home Page. This will link to Code for America Donate page. Consider inclusion on Project Home Pages.

### Action Items
- [ ] Add Donate Button to Website Home Page (and Project Home Pages).

### Resources/Instructions
https://www.codeforamerica.org/donate

[2020-05-03 20:43] yuikomajima commented on #254
Hi @harishlingam @ExperimentsInHonesty , I did a draft wire here showing 2 things. For the sake of time I used Harish's mockup and includes wires on top of the mockup for the filters.

1. How a grid may look like. Left wire is 3 column grid, right side is 2 columns but a bit more compact than what we have.

Question: is there a character limit for these cards? If we are maintaining the current cop

[2020-05-03 21:35] leestella748 commented on #403
@ExperimentsInHonesty @harishlingam Here's the updated wireframe: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=369%3A212

[2020-05-03 21:53] ashlingam opened #488 "Revise Project Home Page Getting Started drop-down"
### Overview
The Getting Started Drop-Down of the Project Home Page should not be visible for completed projects. In place of the Getting Started drop down button, the user is to be shown the following message:  "If you would like to talk to us about this completed project, please reach out to team@hackforla.org".

### Action Items
- [ ] Create revised mockup of Project Home Page to reflect comple

[2020-05-03 22:41] ashlingam opened #492 "Update design of Home Page and global elements"
### Overview
Update design of Home Page and revise global elements. A new Projects page is to be created and the current Projects section of the home page will be redesigned. This design update is an opportunity to introduce revisions to style elements found on the website globally, including navigation bar, footer, margins and spacing, and font colors and weights.

### Action Items
- [ ] Create w

[2020-05-03 22:45] #487 closed, assigned to leestella748

[2020-05-03 22:53] ashlingam opened #493 "Create new About page"
### Overview
Create new About page that links to existing About link in navigation. This section will include such elements as the organization's missions statement, leadership, operating structure of hack night meeting. The section may also take over content currently in the FAQ section of the Getting Started page.

### Action Items
- [ ] Draft copy for About page
- [ ] Create wireframe for page

[2020-05-03 23:14] ashlingam commented on #254
1. @yuikomajima We agree on going with the 3 column route. As for the character limit, thanks for bringing this up. We are going to make all descriptions limited to one sentence (so much shorter than they are now) across all projects.

2. I actually like way the layout of filtering looks on the right hand mockup, but the left hand mockup may be more mobile friendly. Please see comments below.

[2020-05-03 23:43] ashlingam commented on #384
The buttons as shown on the screen shot will link to pages as follows:

Get Started -> [Getting Started Page](https://www.hackforla.org/getting-started)
Government -> [Government Survey](https://docs.google.com/forms/d/e/1FAIpQLSfxe8Os2nAd8TJ__qPDgWoxuzZ_SAQ0kQGGDlnlNvGRqL5ppA/viewform)
Non-Profit -> [Non-Profit Survey](https://docs.google.com/forms/d/e/1FAIpQLSfZWLHCQ_dCSiGC9b6ykZIRrnrw_2XZJ8HyOV

[2020-05-04 00:01] ExperimentsInHonesty commented on #254
@yuikomajima We had this screen shot from this issue https://github.com/hackforla/website/issues/156#issuecomment-560940316
![Screen Shot 2020-05-03 at 4 59 17 PM](https://user-images.githubusercontent.com/37763229/80929293-8621e800-8d5f-11ea-88e4-7229aafeb0be.png)
where it used a mobile friend sort buttons instead of the drop downs.
also, it allows us to break up the rows if screen size dictates.

[2020-05-04 00:13] ashlingam commented on #254
@yuikomajima Just to clarify: One of the locations is "South LA" not "South Bay". Additionally, please add "Remote" as a location to the drop down.

**Concerning project filtering:**

Please see Best Buy's project filtering for an example of what we may do. Please see the execution of drop down filtering of the above page on mobile as well (screenshots are below):

https://www.bestbuy.com/site/sea

[2020-05-04 00:27] ExperimentsInHonesty commented on #254
The below screenshots represent what the user is shown after any filters have been selected. Please note that for development purposes, our design choice must be cross-compatabile across mobile and desktop browsers. In other words, we don't have the ability to show different filter styles depending on device.

### **Desktop Screenshot:**

<img width="921" alt="Screen Shot 2020-05-03 at 7 24 37 PM"

[2020-05-04 01:52] ashlingam commented on #403
Hi @leestella748 Bonnie and I had a chance to review the mockup. I took the liberty of making a few minor edits. Here is our feedback:

- Please make the days of week more prominent, since they look too small.
- In the Downtown LA Location section, you will note the grey containers that have been added to three of the projects. Please replicate for across all projects for all locations, and increa

[2020-05-04 02:59] cnk commented on #477
I created a page documenting our process and linked to it from the Web Developer page on our wiki.

https://github.com/hackforla/website/wiki/Security-Updates

[2020-05-04 02:59] #477 closed, assigned to cnk

[2020-05-04 15:44] wesrowe commented on #460
@harishlingam @yuikomajima or potentially others — I was just looking for the best entry point (link) to give to reactJS developers.
I'll say at the outset, maybe I'm missing something, or maybe you already have this in the planning stage...
Use case: I'm trying to market onboarding nights on social media. Most design/tech communities are organized around specific flavors of tech or design -- so a

[2020-05-04 15:54] wesrowe commented on #384
@harishlingam This split sends a very specific signal to the visitor that we're looking to hear from gov't or nonprofits, and everyone else is "other" -- which seems a little off-key from the rest of the site being aimed at individuals. I'm not sure if you're planning any difference in functionality between how the three groups would be handled (gov, nonprofit, other), but if splitting is necessar

[2020-05-04 23:09] cnk opened #494 "Build initial list of recruiting categories to use for filtering"
### Overview

Do some market research about an appropriate list of recruiting categories for the filtering feature

### Dependency
#254

### Action Items
- [x] Review current on boarding survey for categories
- [x] Ask Slack channel for feedback
- [x] Make a spreadsheet of the current wording used in recruiting with Drop down
   - [x] Populate spreadsheet with current needs pulled from website

[2020-05-05 00:07] KianBadie commented on #346
New message I sent to GitHub support:
Hello,

Kian Badie

[2020-05-05 05:55] ExperimentsInHonesty commented on #494
Go to the getting started page.  There is a link to an onboarding survey that had the categories we are standardizing on

[2020-05-05 16:18] cnk commented on #494
- Front-End Development
- Back-End Development
- Full Stack Development
- UI/UX Design
- Graphic Design
- Data Science
- Product Management
- Project Management
- Business Analysis
- Research (user research, usability testing)

[2020-05-05 21:10] ExperimentsInHonesty commented on #494
@cnk after taking a closer look at the list, we have decided to edit it slightly.  See below.  What are the next steps for this issue?
- PM
- UI/UX
- Development
- Data

[2020-05-05 21:30] ExperimentsInHonesty commented on #384
@wesrowe the reason we have other is because we expect all individual needs to be addressed by the getting started link.  But we felt we needed catchall for anyone who was not either a potential partner or a volunteer.  So based on your feedback could change it to Other Partner.  What language next to the button would suggest?

[2020-05-05 21:31] ExperimentsInHonesty commented on #186
Dependent on #384

[2020-05-05 21:41] ExperimentsInHonesty commented on #472
@wesrowe The only link that ever worked was https://www.codeforamerica.org/donate

It is my understanding that the url https://secure.codeforamerica.org/page/contribute/donate-to-a-brigade-today?source_codes=Brigade-page&brigade=Hack%20for%20LA%20Brigade is based off other brigades that have that, but those were setup individually for brigades, and one was never setup for Hack for LA.  CfA has sai

[2020-05-05 21:42] wesrowe commented on #384
@ExperimentsInHonesty Do the different buttons actually do different things? The differentiation of some groups is what's creating this need to actually name the "not them" group -- which will ultimately not feel very inviting to the not-them group, no matter what word you put there.

[2020-05-05 21:43] ExperimentsInHonesty commented on #191
Ice boxing for now.  Will revisit during site redesign.

[2020-05-05 21:52] ExperimentsInHonesty commented on #351
after talking with Sophia, it seems like project will move off of Jupyter Notebook and into exposed python files.  So no need to add those manually or change code to allow for manual entry.  This also follows good practice, so that they can get remote contributors by people finding them using the github api.

--- no new open issues at this time

[2020-05-05 21:53] #351 closed, assigned to ExperimentsInHonesty

[2020-05-05 21:55] ExperimentsInHonesty commented on #219
Let's start with reviewing the results of the surveys that we have conducted, matching them with the values associated with this [board](https://github.com/hackforla/website/projects/2)

[2020-05-05 22:32] ashlingam commented on #485
Hi @wesrowe, I am working on a Submit Your Pitch Google Form. Do you have any input to offer on specific questions/fields we might want to include in such a survey? The idea is to link to this survey from a button found at the bottom of the projects listing on the home page.

[2020-05-05 22:36] ashlingam commented on #472
@yuikomajima @leestella748 Following on the above, we want to decide where a Donate should be located on the home page, as well as any other locations on the website. We can discuss this on Sunday's call.

[2020-05-05 23:48] leestella748 commented on #472
@ExperimentsInHonesty I found this link https://donorbox.org/hackforla through a Github branch, though clicking on the logo in the corner leads to https://www.hacker.fund rather than our website.

[2020-05-06 00:53] leestella748 commented on #403
@harishlingam I made the changes: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=445%3A0

[2020-05-06 03:12] cnk opened #496 "Frameworks duplicated on project page"

[2020-05-06 03:17] yuikomajima commented on #254
Thanks @harishlingam I changed the edit to "South LA." I added what a mobile version could be like using the filter that was on the left-hand wire. We could let the dropdown appear right below the dropdown, or alternatively we can make it into a slide-up menu similar to best buy.

figma link: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=503%3A823

[2020-05-06 03:19] cnk opened #497 "Change "Frameworks" to "Technologies""
We also want to update the way we keep the data - change from comma separated list to indented dashes (like we use for 'looking'). This involves updating the template AND all the data (in one pull request).

@ExperimentsInHonesty would also like us to add Languages to the cards on the homepage - but this involves adding it with JS because the data is in the github_data.json we scrape from GitHub.

[2020-05-06 03:32] #496 closed, assigned to cnk

[2020-05-06 15:11] yuikomajima commented on #460
@wesrowe If I am understanding right, I think the best link to share is a link that leads to a pre-filtered list of projects. We are in the process of creating filters on the home page and once that's done we may move on with creating a project page with the same function. The new home page may include just curated projects that are pre-filtered (open roles for backend developers, designers etc.)

[2020-05-06 16:20] wesrowe commented on #485
@harishlingam Are you trying to maximize submissions or not? I can see from hotjar that it's very rare for people to make it to the bottom of the projects listings. If someone actually finds that button, i would make the actual pitch submission form as simple (and encouraging) as possible. If, on the other hand, you were going to place it somewhere more people will see it (an approach I would reco

[2020-05-06 23:28] cayd commented on #499
@ExperimentsInHonesty It looks like our hero image is not on our project homepage.

[2020-05-06 23:29] ExperimentsInHonesty commented on #499
@cayd I see that.  I will push this to the website repository and get one of the front end devs on it.

[2020-05-08 21:11] yulia-kh opened #501 "Link Submit your pitch button to website's email"
- [ ] Remove link to contact form
 - [ ] Add mailto:team@hackforla.org link

[2020-05-09 00:17] ashlingam commented on #485
@wesrowe As far as placement, there is an argument that putting the link at the bottom of the page will select for the individuals we most want to hear from. Namely, folks who've reviewed the list of current active projects and determined they have a new idea to be worked.

I like the Lean Business Canvas model, but wonder if it may be a tall ask for an initial submission (even if linked at the to

[2020-05-09 00:38] ashlingam opened #503 "Setup Google Analytics on website"
### Overview
Setup Google Analytics on website. This includes implementation of code snippets, deciding on metrics to track, and set up of the dashboard.

Repeated visits to the various sections of the website will skew dashboard data and impede the team's ability to get an accurate picture of user behavior. GA provides a mechanism to exclude individual IP addresses from data collection. See instr

[2020-05-09 07:47] #431 closed, assigned to ye-susan

[2020-05-09 23:17] #484 closed, assigned to yulia-kh

[2020-05-09 23:25] #501 closed, assigned to yulia-kh

[2020-05-09 23:59] KianBadie commented on #458
I have a [repo](https://github.com/KianBadie/github-api-test/tree/orgs) where I code work for the github api. The branch I linked, thanks to some help from StackOverflow, get's contributors from multiple repos if the repo we have registered is part of a different org other than hfla. It combines the users contributions and sorts the contributors by how many contributions they made across the repos

[2020-05-10 16:29] ExperimentsInHonesty commented on #404
@leonelRos
1. progress
2. blocks
3. availability
4. ETA

[2020-05-10 16:33] ExperimentsInHonesty commented on #430
@yulia-kh please update
1. progress
2. blocks
3. availability
4. ETA

[2020-05-10 16:33] ashlingam opened #505 "Set up Slackbot for team issue update reminder"
### Overview
Set up Slackbot for team issue update reminder. Slackbot will remind team to update their assigned issues in advance of Sunday's team meeting.

### Action Items
- [ ] Create Slackbot with issue update reminder to go out Friday evening

### Resources/Instructions

[2020-05-10 16:35] ExperimentsInHonesty commented on #469
moved to icebox because we reprioritized fixing the look of the page to get it to got temporarily to the existing form routes.

[2020-05-10 16:46] ExperimentsInHonesty commented on #346
Setup meeting with @cnk and @KianBadie  for next week with Github guy.
Cnk says "I have meetings from 1-3 Monday and 10-11 Tuesday. Other than that, I am free"

![Screen Shot 2020-05-10 at 9 44 37 AM](https://user-images.githubusercontent.com/37763229/81505285-edc9bd00-92a2-11ea-89ab-e19e3fa5b623.png)

![Screen Shot 2020-05-10 at 9 45 33 AM](https://user-images.githubusercontent.com/37763229/81505

[2020-05-10 16:50] leonelRos commented on #404
@ExperimentsInHonesty
1. The page is finished the UI part and functionality is ready to go live upon review
2. none
3. today's meeting
4. end of day

[2020-05-10 16:59] ExperimentsInHonesty commented on #494
Added a question to slack to see if we are missing anything
https://hackforla.slack.com/archives/C04502L0P/p1589129918277600
- PM
- UI/UX
- Development
- Data
- SEO/Marketing
- Content

[2020-05-10 17:02] yulia-kh commented on #430
I'm still working on the issue. I have a question about project-homepage field. Do we need it after I finish working on this issue?

[2020-05-10 17:07] ExperimentsInHonesty commented on #255
@KianBadie to make new issue and mention this issue #255 in it, and close this issue with a link to the new issue.

[2020-05-10 17:12] ExperimentsInHonesty commented on #346
setup appt for 3:20 monday.

[2020-05-10 17:16] ExperimentsInHonesty commented on #254
snipit from slack

Dean 4 minutes ago
@Bonnie Visual Designer

Bonnie < 1 minute ago
@Dean the UI/UX category encompasses graphic design too.   -  the descriptive role recruiting text on the project cards, will dive into the specifics of what they are looking for.  We are just looking for the large buckets for filtering, which reduce the amount of project cards they have to read.

[2020-05-10 17:16] ExperimentsInHonesty commented on #494
snipit from slack https://hackforla.slack.com/archives/C04502L0P/p1589129918277600
The HackforLA.org website team #hfla-site is working on a general role categories list.  Have we left anything out?
PM
UI/UX
Development
Data
SEO/Marketing
Content

Dean
Visual Designer

Bonnie
the UI/UX category encompasses graphic design too.   -  the descriptive role recruiting text on the project cards, will div

[2020-05-10 17:29] ExperimentsInHonesty commented on #385
@sarL3y posted in slack

Hey Website team! I've got an endpoint for you: https://vrms.io/api/recurringevents
I'll check in with you all at the meeting tomorrow morning, but if there's anything you need in the meantime, hit me up here.

<img width="558" alt="VRMS API - Recurring Events" src="https://user-images.githubusercontent.com/37763229/81506134-181e7900-92a9-11ea-8394-cba5ab32eb54.png">

[2020-05-10 17:29] ashlingam commented on #228
After consideration, the team decided to abandon this implementation due to unresolved technical issues. Dev will pursue a different approach.

[2020-05-10 17:29] #228 closed, assigned to cnk, yulia-kh, ExperimentsInHonesty

[2020-05-10 17:33] KianBadie commented on #458
Add requirement to fetch github projects that don't have the hack-for-la tag but we have the id. Example is work for la.

[2020-05-10 17:54] sarL3y commented on #385
### Next Steps
- [ ] @sarL3y will add a sorting function to send requested data in order by date
- [ ] Website team will begin consuming endpoint to see if all requirements are met

[2020-05-10 19:16] ashlingam opened #506 "Research and proposals for project filter implementation"
### Overview
Research and proposals for project filter implementation

### Dependency
implementation of the filter #254

### Action Items
- [x] Look at existing site architecture
- [x] Create wiki page documenting existing site architecture (Susan) (moved to issue #529)
- [x] Perform research (i.e. literature, online resources, dev team members) (Tyler) (#254)
- [x] Formulate proposals for impleme

[2020-05-10 20:35] #505 closed, assigned to ashlingam

[2020-05-10 23:26] leestella748 commented on #403
@harishlingam @ExperimentsInHonesty
Let me know if there are any additional changes you'd like to see!

Figma:  https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=545%3A2806

Prototype view: https://www.figma.com/proto/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=545%3A2806&viewport=-4611%2C-10732%2C0.6133910417556763&scaling=scale-down-width

[2020-05-10 23:36] yuikomajima commented on #254
New updates on figma:

1. Real time Filtering
2. Not real time filtering

I created a new page in figma as these pages will now be its own page. I can add more styling once we confirm which direction we will be going.

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=532%3A1455

[2020-05-11 04:21] leonelRos commented on #404
@harishlingam @ExperimentsInHonesty  I finished with a couple of touches needed before deploy. Please let me know if there is anything else I need to change.

<img width="880" alt="Screen Shot 2020-05-10 at 7 05 07 PM" src="https://user-images.githubusercontent.com/50648001/81523872-11711f80-9304-11ea-8c50-fe44d5c277ac.png">

<img width="774" alt="Screen Shot 2020-05-10 at 9 16 47 PM" src="https:/

[2020-05-11 14:10] #384 closed, assigned to ye-susan

[2020-05-11 14:21] cnk opened #507 "Change sort order for github-date.json"
We have 2 projects whose repositories are named 'website' so we are still getting unnecessary churn in our github-date.json file. Change the sort order to the 'identification' field which will always be unique.

[2020-05-11 20:17] ruben1s commented on #442
Are the front end and back end leads replacing the old ones or are they being added on? Also, do you have the web addresses to their respective githubs and slack accts?

[2020-05-11 21:19] wesrowe commented on #485
@harishlingam Generally, I have been trained by the developers I've worked with to avoid something called _premature optimization_. This basically means you shouldn't put energy into solving a problem you aren't sure you'll have. Of course there are some problems you can anticipate and must solve ahead of time. But a lot of "rich people problems" fall in this bucket. Having way too much engagement

[2020-05-11 22:36] ExperimentsInHonesty opened #509 "discussion test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2020-05-11 22:37] #509 closed

[2020-05-11 23:54] KianBadie opened #510 "Prototype new styling for project home page banner images"
### Overview
The way the banner images are displayed on project home pages currently have some issues in terms of cropping/zooming in. Prototype new styling rules to better display these images on mobile and desktop (desktop being the trickier of the two).

### Action Items
- [x] Apply mobile styling rules described [here](https://github.com/hackforla/website/issues/255#issuecomment-608226848) by

[2020-05-11 23:54] KianBadie commented on #255
Link to new issues that @ExperimentsInHonesty mentioned above: https://github.com/hackforla/website/issues/510

[2020-05-11 23:54] #255 closed, assigned to cnk, KianBadie, ExperimentsInHonesty, leonelRos

[2020-05-12 18:49] daniellen00 opened #511 "Create 2FA Guide Page"
### Overview

All members of Hack for LA need to have 2FA in their Github. Most new members need instructions for doing this. Create page for website.

### Dependency

[Guide template](https://github.com/hackforla/website/issues/514)

### Action Items

- [x] UX Writing
   - [x] Review existing guide and other resources
   - [x] Organize the wording and define elements that should be on page
   - [

[2020-05-12 20:14] #404 closed, assigned to ashlingam, ExperimentsInHonesty, leonelRos

[2020-05-12 20:32] ExperimentsInHonesty commented on #403
@leestella748 @yuikomajima @harishlingam - I made a few minor changes (added some text, etc).   This is ready to send to development, so I will put this in the prioritized backlog.

![HiFi](https://user-images.githubusercontent.com/37763229/81742266-b13dc300-9454-11ea-999a-890b819ad8f7.png)

[2020-05-12 20:37] ExperimentsInHonesty commented on #346
@cnk @KianBadie and @ExperimentsInHonesty had a meeting with Github rep, and will explore the new feature "discussions" more.  It's been enabled in beta now on the website repo.
Rep also agreed to make sure that kian's issue gets answered.  @KianBadie is there a link you can provide to the open issue, so we can email her with that?

[2020-05-12 20:43] ruben1s commented on #385
Here is the code I am trying @sarL3y
![Screenshot from 2020-05-12 13-40-47](https://user-images.githubusercontent.com/33906590/81743287-48574a80-9456-11ea-98b1-abfad1ab8d22.png)
![Screenshot from 2020-05-12 13-40-55](https://user-images.githubusercontent.com/33906590/81743293-49887780-9456-11ea-9b15-911560715d40.png)

I think we need you guys to add CORS headers that allows all because we cant con

[2020-05-12 20:52] ExperimentsInHonesty commented on #254
@yuikomajima These designs are great!  @harishlingam I have asked @myastark to write something up for the top of the pages.

[2020-05-12 21:16] ye-susan commented on #506
The wiki for [Structure  of Project Cards and Project Pages](https://github.com/hackforla/website/wiki/Structure-of-Project-Cards-and-Project-Pages) is up

[2020-05-13 02:18] daniellen00 commented on #511
@ExperimentsInHonesty for UX Writing sign-off

[2020-05-13 04:27] ExperimentsInHonesty commented on #511
This will be the first of many guides.  So like the project homepages and project cards, we will probably want some standardization, so that we can build from mark down files (like we have for the projects) to feed this design.

[2020-05-14 05:24] KianBadie commented on #458
@ExperimentsInHonesty
So I have the implementation of getting repos from orgs that are not hfla pretty much ready. I integrated it into a branch on my own fork and it works as expected.

In regards to adding the implementation for getting repos that are not tagged "hack-for-la", it seems that we need to use an undocumented API endpoint. It works, but I just wanted to give a heads up with that. Her

[2020-05-14 21:33] daniellen00 opened #514 "Create 'Anatomy of a Good GitHub Issue' Page"
### Overview

Members of Hack for LA often create new GitHub Issues in project repos. Many new and current members need instructions for doing this in a standardized format. Create page for website.

### Dependency
Guide template (no issue started yet)

### Action Items

- [x] UX Writing
   - [x] Review existing guide and other resources
   - [x] Organize the wording and define elements that shoul

[2020-05-14 22:04] KianBadie commented on #458
@ExperimentsInHonesty
So I think there is an unforeseen challenge. I don't think we are able to use Liquid/Jekyll in the github actions script because it is not being processed by Jekyll. It is being ran straight from github rather than being built by Jekyll. I have code that works that hardcodes a list of repos that are not tagged. So far the list has only one repo to account for Hack For LA.

[c

[2020-05-14 23:10] cnk commented on #458
Keeping a list of repos that do not have the 'hack-for-la' tag but that we want to track works. I might want to keep the id + the project name or github url because it will make it easier for humans to see which repos we are adding in.

But my question for the multi-repo orgs is how we are going to aggregate the contributions from multiple repos and then attached them to one project page. The curr

[2020-05-14 23:38] KianBadie commented on #458
@cnk Are you saying to keep the something like the id + project name in the list of untracked repos for readability? My current plan/what I was working on was to parse each of the files in _projects and then use string manipulation to get the id. Doesn't seem impossible. It doesn't feel completely like the best practice though

And I'm sorry, I didn't understand the second point. I'll explain what

[2020-05-15 03:01] KianBadie commented on #458
Also, another thing to fiddle with. Trying to access files in our repo through Github actions isn't proving as straightforward as I thought it would be. Looks like it's executing in some external environment where it doesn't have access to other project files. I am confident there is a way to make it happen. But just wanted to give another heads up. Like I said earlier, I have code that works for

[2020-05-15 05:57] cnk commented on #458
Yes that is what I was suggesting.

Yes. Even if you combine all the contributors from all the projects from some other org (which might or might not be a safe assumption to make), how are you going to associate the whole org contributions with a Hack for LA project card?

[2020-05-15 20:16] #405 closed, assigned to ruben1s

[2020-05-15 20:23] cnk opened #520 "Prototype API failure behavior"
Issue #405 made our project meeting schedule dynamic by pulling from the VRMS API. We need to decide what the page looks like if we do not get any data from VRMS.

At the moment we still list all the days of the week but say "no meeting scheduled".

[2020-05-15 20:28] ruben1s opened #521 "Clear Up Javascript Errors in Console"
![Screenshot from 2020-05-15 13-29-18](https://user-images.githubusercontent.com/33906590/82093505-1b9e6f80-96b0-11ea-8e26-cbf811097ace.png)

[2020-05-15 22:10] ExperimentsInHonesty commented on #520
@cnk Can’t we save the last version we got and display that instead if no new version is available?

[2020-05-16 00:38] cnk commented on #520
I don't think so. We might be able to cache on during the nightly rebuild. But even then, it is possible that we would get nothing when doing that call. So we need to know what the page looks like with no meeting data.

[2020-05-16 00:57] cnk commented on #385
@ruben1s commit https://github.com/hackforla/website/commit/a4b5ca5f57a5cda9bb464d1f8d8bd9a4e8b9b198 got this data feed filling in the project meetings summary page. Now we need to figure out how to do the same / similar thing and just display the meetings for the specific project.

[2020-05-17 01:58] #497 closed, assigned to ruben1s

[2020-05-17 06:22] KianBadie commented on #346
***Update***
Sent email to owner of the API ecosystem team, a connection we got through the person we talked to last Monday 5/11. It's pretty similar to the emails I have sent in the past, but with some updates. I also have an another update below this email.

In summary, the main issue I have been having with the GitHub API is inconsistently running into abuse-rate-limits errors in the past while

[2020-05-17 06:48] KianBadie commented on #458
***Update***
I made a pull request for this issue a couple days ago just in case the desire was there for it to be integrated. Here are some notes I added to that pull request, but I will add here as well:

- Right now, the script is hardcoding the project id that is not tagged under "hack-for-la". In the future, we can parse the _projects directory using javascript to get the project ids we need.

[2020-05-17 07:20] ye-susan commented on #506
1. Progress: Still writing draft of rest of the site's architecture (so far just the project cards and project pages are up)
2. Blocks: none at this time, although any feedback is appreciated - especially on how detailed the wiki should be
2. ETA: Aiming to finish 5/24

[2020-05-17 07:42] KianBadie commented on #510
Here are some initial before and after shots. There is room to fiddle around with the "after" shots (2nd images) to make them display better. Sorry again for lagging on this specific issue and not getting much done with it this week. I can have another go at it this week and and be more intentional with allocating time to it, because I do have a desire to work on this issue. But I think it is the

[2020-05-17 16:45] ExperimentsInHonesty commented on #254
@myastark
We need to convey the following information on this page.  We are not completely sure where all of it is going (other than the filter stuff below).  A rewrite will help us to have the next conversation with design about how to illustrate these themes.

- All projects open source
- civic tech
- for the public good
- use technology as a lever to amplify the work of our partners

The teams

[2020-05-17 16:49] ExperimentsInHonesty commented on #494
These are the categories we are going live with
- Business Analyst
- PM
- Content
- UI/UX
- Development
- Ops
- Data
- QA
- SEO/Marketing

[2020-05-17 16:53] #521 closed, assigned to ruben1s

[2020-05-17 16:56] xiosantaella commented on #488
Created a revised mockup of Project Home Page that replaces Getting Started Drop-Down with "Learn More" element

[2020-05-17 17:00] ExperimentsInHonesty commented on #494
talk to team about how we are going about this https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/311-data.md

[2020-05-17 17:15] ExperimentsInHonesty commented on #458
@cnk is going to review the PR that Kian has submitted today.  Kian and Bonnie to talk about administrative workflow for adding new projects that don't have mono repos (inside and outside hfla github org)

[2020-05-17 17:28] ExperimentsInHonesty commented on #429
@cnk will move this info to the [template](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file) and close this issue.  All new updates to template will be described on the template wiki page.

[2020-05-17 17:37] ExperimentsInHonesty commented on #385
@cnk and @ruben will look at making github action for setting nighty pull of calendar data to use as the placeholder for team meeting page, that then gets replaced by live data that is good.  Educate @ExperimentsInHonesty @ye-susan  on what kind of data validation we are doing on the vrms data when it comes in.

[2020-05-17 17:48] ExperimentsInHonesty commented on #494
make a spreadsheet of all of the current looking for and what its new category is going to be.

[2020-05-17 17:54] #507 closed, assigned to cnk

[2020-05-17 17:54] ExperimentsInHonesty commented on #507
@cnk I closed this issue manually because there was no fixes comment on the issue.  Please reopen if its still being worked on.

[2020-05-17 17:58] ExperimentsInHonesty commented on #430
work for la contact is : WorkForLA@googlegroups.com.

[2020-05-17 18:06] ashlingam opened #525 "Store images for Wiki pages"
### Ice Box
Keep in the icebox and add images to it when necessary

### Overview
This issue will store images for Wiki pages (https://github.com/hackforla/website/wiki) as a permanent store of images

### Action Items
- [x] Transfer images from #529 to this issue, as comments in the issue.
- [x] leave this issue open in the icebox when done using.

[2020-05-17 18:14] xiosantaella commented on #488
https://www.figma.com/file/AWRnpjfjzGBViEZePzyiFM/HFLA-Project-Home?node-id=0%3A1

[2020-05-17 18:15] daniellen00 commented on #514
Figma link: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=745%3A999

[2020-05-17 18:16] yulia-kh commented on #430
@KianBadie  Can you please review changes?

Getting started button for completed projects is hidden.
If we have a contact for a project we can see the provided email:

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/13112628/82156239-e0767a80-982e-11ea-8d96-ee2be047c2d2.png">

If we don't have a contact then we see hack for la email:

<img width="1049" alt="image" src=

[2020-05-17 18:20] ExperimentsInHonesty commented on #459
@ExperimentsInHonesty to do another round of encouraging reporting

[2020-05-17 18:22] cnk commented on #429
Updated the [wiki](https://github.com/hackforla/website/wiki/Template-of-a-project.md-file) with how links are displayed on the site.

[2020-05-17 18:22] #429 closed, assigned to cnk

[2020-05-17 18:23] ExperimentsInHonesty commented on #472
hackforla.org/donor route needs to be redirected to https://www.codeforamerica.org/donate
add donor button to top right of page (replacing social media icons) (in black, turns red on hover)
add donor button on bottom to the right of Follow us (in pink)

[2020-05-17 18:34] ashlingam opened #526 "Implement mobile hamburger nav"
### Overview
Create mockups for mobile hamburger nav

### Action Items
- [x] Create mockups for mobile hamburger nav in Figma
- [x] Share and discuss mockups and decide on style change

### Resources/Instructions

[2020-05-17 18:41] ExperimentsInHonesty commented on #403
@leestella748 is going to make a mobile version mockup.

[2020-05-17 19:09] ExperimentsInHonesty commented on #488
@xio, please show mockup for all three completed projects and remove getting started section and figure out sizing of the text

[2020-05-17 19:43] ExperimentsInHonesty commented on #430
@yulia-kh is the email a link?  It’s showing as black on screen shot

[2020-05-17 20:37] yulia-kh commented on #430
@ExperimentsInHonesty It's just a string now. I was thinking that we can put any wording in the contact-completed like name and email that will display "If you would like to talk to us about this completed project, please reach out to Joe Doe example@somemail.org". If we 100% sure that it's always an email address I can make it a mailto link

[2020-05-17 22:16] ashlingam commented on #482
1. Progress - Created Home Page to Getting Started funnel.
2. Blocks - Just learned that the free tier places a cap of 3 funnels and does not include page-specific recordings (only the default home page). It may be necessary to switch to a different platform. Or, Google Analytics may be able to service our needs entirely.
3. Availability - Sunday, Friday, Saturday
4. ETA - 5/20

[2020-05-17 22:33] harishlingam commented on #219
1. Progress - To date, we have preliminary data for the following three surveys: (1) Remote Onboarding (2) New Member (3) Project Leader (links in issue container above).
2. Blocks - None
3. Availability - Sunday, Saturday, Sunday
4. ETA - 5/18

[2020-05-17 22:53] harishlingam commented on #219
**Remote Onboarding Survey**

<img width="575" alt="Screen Shot 2020-05-17 at 5 51 48 PM" src="https://user-images.githubusercontent.com/21990572/82162037-18011900-9867-11ea-81fe-3c47f56e4cae.png">

<img width="576" alt="Screen Shot 2020-05-17 at 5 52 32 PM" src="https://user-images.githubusercontent.com/21990572/82162054-3a933200-9867-11ea-8cff-561e2d5d7bde.png">

<img width="572" alt="Screen Sho

[2020-05-17 23:30] ashlingam commented on #503
@wesrowe It turns out that Hotjar's free tier caps users at 3 funnels and doesn't allow page-specific recordings (only the default home page). Can Google Analytics service our needs entirely? If not, I looked into Mixpanel and their free tier appears to be more generous, including funnels and recordings by segment. Also, do we already have a Google Analytics account set up, or do we need to create

[2020-05-18 00:03] wesrowe commented on #503
@harishlingam I don't believe there is a GA account already for the HfLA website. Might as well created a new one.
As for hotjar -- honestly, for the use cases I'm aware of GA would be adequate for understanding user behavior on our site. Recordings are typically useful at the margins, and we're not there yet. GA would be good to focus on as a next step.

[2020-05-18 00:21] #458 closed, assigned to KianBadie

[2020-05-18 15:48] yuikomajima commented on #511
Please see initial mockup here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=695%3A3802

[2020-05-18 18:09] #499 closed, assigned to cayd, leonelRos

[2020-05-18 21:10] tylerthome commented on #254
To make sure I understand the most recent photo posted as it applies to the spec:

1. **South LA (0)** means that there are no projects which meet *both* in West LA and downtown. However, if the user were to check this box, they may expect to see which projects meet in *either* West LA or South LA. Is it correct to assume that checking this box would actually display *more* projects than leaving i

[2020-05-18 22:02] leestella748 commented on #403
Here is the mobile version: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=705%3A999

[2020-05-19 00:06] ye-susan opened #529 "Continuous Development of Wiki for Site Architecture"
### Overview
Research and document HFLA's site architecture.

### Action Items
- [x] Create wiki page documenting existing site architecture
- [x] Include screenshots
- [x] Research and document any API we're using (separate wiki for endpoints, related to issue #270)
- [x] Update documentation for any new features --i.e. master calendar

[2020-05-19 00:10] ye-susan commented on #506
Created new [issue #529](https://github.com/hackforla/website/issues/529), just for the wiki documentation. I'll be updating on my progress in that issue instead.

[2020-05-19 01:25] cicyhou commented on #494
Just a reminder that the hack for LA website open roles should match with the confirmed selection to minimize any confusion

[2020-05-19 20:49] daniellen00 commented on #514
@ExperimentsInHonesty for review of ux writing and Figma layout (plus Development Action Items phrasing in this Issue)

[2020-05-20 00:59] ye-susan commented on #529
![image](https://user-images.githubusercontent.com/49918375/82392972-0bf99080-99fa-11ea-921a-b305f7647ad7.png)

![image](https://user-images.githubusercontent.com/49918375/82393021-2469ab00-99fa-11ea-88a9-7b3c4766d073.png)

![image](https://user-images.githubusercontent.com/49918375/82393097-5b3fc100-99fa-11ea-862e-0f4ed8125a78.png)

[2020-05-20 01:34] ye-susan commented on #529
Update: new wiki page is up - [Hack for LA's Site Architecture](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture)
Still need to expand on projects section, styling section, and add more details about the APIs we're using

[2020-05-21 02:35] #520 closed, assigned to nobody

[2020-05-21 02:41] cnk commented on #385
Next step: @ruben1s to create a GitHub Action for saving https://www.vrms.io/api/recurringevents as _data/project-meetings-from-vrms.json

After that, we will move on to using that data to add next meetings to individual project pages.

[2020-05-22 00:56] KianBadie opened #532 "Remove inline styling throughout site"
### Overview
There are files in the site that have inline styling. Remove the inline styling and create styling classes in the appropriate scss files.

### Action Items
- [ ] Move inline styles in files in the _includes folder to classes in appropriate scss file:
   - [x] resource-card
   - [ ] hacknights: just style for background img
   - [x] project card
- [x] Move inline styles in files in _la

[2020-05-22 01:52] KianBadie commented on #346
Emailed the person we talked to about GitHub Discussions to see if they can check if the API Ecosystem team owner got our email.

[2020-05-22 02:38] KianBadie commented on #510
So I did some fiddling around and reached some improvements:
- The images we asked for project banners were 1500x700px, which is a 2.14 aspect ratio. For mobile, I altered David's rules a bit by making the width 100vw (100% width of screen) and the height 46vw (46% width of screen). This resulted in a ratio around 2.14 across all phone screens that had much less image alterations compared to the o

[2020-05-22 02:50] KianBadie commented on #510
This issue made me realize something. Initially, we asked for 1500x700px images because that is around the dimensions of the homepage hero image. However, the home page hero image has some cropping issues as well. When I said that 1500x700px should be the dimensions of the hero images for the project home pages, I did not know about this issue. That makes me think that the banner image issues are

[2020-05-23 20:29] ashlingam opened #533 "Home page style corrections"
### Overview
Make home page stylistic corrections

### Action Items
- [x] Change color of page captions (e.g. "Press", "Get in Touch") from red to black
- [x] Vertically center button descriptors within Get In Touch container with buttons

### Resources/Instructions
<img width="189" alt="Screen Shot 2020-05-23 at 3 29 03 PM" src="https://user-images.githubusercontent.com/21990572/82739980-24272380

[2020-05-23 20:43] ashlingam commented on #482
@ExperimentsInHonesty @cnk We've reached a ceiling in functionality with Hotjar's free-tier plan. It's been determined that Google Analytics and/or other open-source analytics tool will best serve our needs.

[2020-05-23 20:43] #482 closed, assigned to ashlingam

[2020-05-23 20:53] ashlingam commented on #503
@wesrowe That makes sense Wes. A new member of our team suggested looking at Matomo, an open-source GA alternative: https://matomo.org/get-matomo/, but the advantages it offers don't appear to be relevant to us. I will bring up getting GA set up in our next meeting.

[2020-05-23 21:21] harishlingam commented on #503
Matomo JavaScript Tracking code:

<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://harishlingam.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '

[2020-05-23 23:06] KianBadie commented on #532
For the inline styles in the hacknights section
[code]

I don't feel it is much worth it to remove the inline styling. The inline styling here is utilizing the Jekyll loop/variables. The styling can't be added to a class because Jekyll is determines "{{ item.image | absolute_url }}" in this file rather than the file containing the styling rules. You can avoid in line styling by setting an html ele

[2020-05-24 01:31] ashlingam commented on #503
**Google Analytics code snippet:**

[2020-05-24 01:32] ashlingam commented on #503
A Google Analytics account has been created for HFLA under the webadmin@hackforla.org account. The GA snippet is to be pasted as the first item into the HEAD tag of every page we want to track.

[2020-05-24 07:45] ye-susan commented on #529
![image](https://user-images.githubusercontent.com/49918375/82748391-4777c000-9d56-11ea-89d2-5a089db78286.png)

![image](https://user-images.githubusercontent.com/49918375/82748435-ae957480-9d56-11ea-88db-51b800164214.png)

![image](https://user-images.githubusercontent.com/49918375/82748453-d71d6e80-9d56-11ea-8376-d5d857264668.png)

![image](https://user-images.githubusercontent.com/49918375/8274

[2020-05-24 07:51] ye-susan commented on #529
Status: Updated Hack for LA's Site Architecture page, and added [Guide to the Project Layout File](https://github.com/hackforla/website/wiki/Guide-to-the-Project-Layout-File)
To Do:
- document JS scripts in project layout
- add more images
- add styling section

[2020-05-24 15:28] yulia-kh commented on #472
progress:
Button added to nav bar and footer. When clicked it redirects you https://www.codeforamerica.org/donate
<img width="797" alt="Screen Shot 2020-05-24 at 8 21 19 AM" src="https://user-images.githubusercontent.com/13112628/82757954-6e56e600-9d98-11ea-8a69-412d0d8e9f1c.png">

    blocks:
Can't figure out css for mobile. Need help with passing conditional style to {% include %}

    availabil

[2020-05-24 16:08] ExperimentsInHonesty commented on #254
@tylerthome things that have zero results should either be uncheckable, or if you can check them, it literally will deliver you no results.

[2020-05-24 16:09] ExperimentsInHonesty commented on #385
@ruben1s
1. Progress none yet
2. Blocks: @cnk can help with github actions, @ye-susan should be on that discussion.
3. Availability: M-F 8-1pm
4. ETA: early this week.

[2020-05-24 16:12] ExperimentsInHonesty commented on #430
@yulia-kh for now just make it an email.

[2020-05-24 16:22] ashlingam opened #534 "Update Home Unite Us Project Card"
### Overview
Update the Home Unite Us project card to reflect updates to team member information.

### Action Items
- [ ] Update Tim's title to read: “Front End Web Developer Lead (on loan to Food Oasis project)”
- [ ] Update Arshia Masih title to read "Front End Web Developer Lead." Arshia's Slack Member ID: UNQ8U4ZSL,  https://github.com/arshiamasih

### Resources/Instructions

[2020-05-24 16:26] ExperimentsInHonesty commented on #308
Needs the hero image to be applied.  Hero image in comment above https://github.com/hackforla/website/issues/308#issuecomment-584804725

[2020-05-24 16:46] ashlingam opened #535 "Create Outstanding Hero Images"
### Overview
Upload outstanding hero images for the projects below. Create hero images using the associated hex color codes. The images are to be 1500 x 700 with corresponding alt image text.

### Action Items
- [ ] Create hero image for Not Today: #006DEF
- [ ] Create hero image for Jobs  for Hope: #A5B2CA
- [ ] Create hero image for Shared Housing: #D9E0EC
- [ ] Create hero image for Spare: #A5B

[2020-05-24 16:47] ExperimentsInHonesty commented on #459
Here are the projects that don't have the Technologies listed
civic tech index
hellogov
TDM
Not Today
Record Clearance
Public Tree Map
VRMS
Write for All
Food Oasis
Heart
Railstats
Work for LA
Jobs for Hope
Shared Housing
Spare

[2020-05-24 16:50] KianBadie commented on #346
Unfortunately, no hear back from either the API Ecosystem team owner or the person who originally connected us.

[2020-05-24 16:54] ExperimentsInHonesty commented on #459
Please see the image below.  The one with the arrow is a project we have the technologies listed.
 The project without, doesn't have it.  We need your Project's Technologies for the new project filtering that is getting added to the website.  ACTION ITEM: ADD COMMENT TO ISSUE WITH YOUR UPDATE
![Screen Shot 2020-05-24 at 9 52 14 AM](https://user-images.githubusercontent.com/37763229/82759784-479eac

[2020-05-24 16:56] ExperimentsInHonesty commented on #506
Un - icebox this when issue #254 update of is completed.

[2020-05-24 16:58] ExperimentsInHonesty commented on #529
@ye-susan can you provide a little more status report
1. Progress (see https://github.com/hackforla/website/issues/529#issuecomment-633193987)
2. Blocks
3. Availability
4. ETA

[2020-05-24 17:03] #430 closed, assigned to yulia-kh

[2020-05-24 17:03] ye-susan commented on #529
1. Progress: 80% finished with site architecture, just need styling section. Added a wiki for Project.html Layout file like the wiki we have for project.md files. Still need to add documentation for project-meetings.html for the calendar.
2. Blocks: I have some questions about the scripts used in project.html layout
3. Availability: free
4. ETA: 5/27

[2020-05-24 17:11] yulia-kh commented on #472
That's what I've got on mobile

<img width="361" alt="Screen Shot 2020-05-24 at 10 07 15 AM" src="https://user-images.githubusercontent.com/13112628/82760145-90effb80-9da6-11ea-879a-be6e04c371f9.png">
<img width="361" alt="Screen Shot 2020-05-24 at 10 07 32 AM" src="https://user-images.githubusercontent.com/13112628/82760151-96e5dc80-9da6-11ea-8404-699daea355e0.png">

And on desktop

<img width="9

[2020-05-24 17:19] ExperimentsInHonesty commented on #254
need user stories on how this should work and UX research

[2020-05-24 17:26] ExperimentsInHonesty commented on #472
@yulia-kh move donate button up to align with text, @KianBadie will review.

[2020-05-24 17:36] ExperimentsInHonesty commented on #346
@KianBadie look for endpoint where you can get get issues updated by dates.
use that to find all issues updated after X date,
then use those issue numbers to look for comments on those issues after x date

@harishlingam suggested stack overflow search

[2020-05-24 17:39] ExperimentsInHonesty commented on #510
@KianBadie will put in a pull request, @cnk will review it.

[2020-05-24 17:42] ExperimentsInHonesty commented on #532
@KianBadie will put a pull request in.  @ye-susan will review it.

[2020-05-24 17:50] ExperimentsInHonesty commented on #514
@daniellen00
I think we need to say something about the menu (for formatting vs using markdown)
Maybe right at the top where you have the link to markdown we could put a screenshot of the menu and let them know they have the option to write markdown or use the formatting menu

Also rounded corners

@harishlingam mentioned looking at the hack nights page or getting started for overall formatting.

[2020-05-24 17:55] ExperimentsInHonesty commented on #403
@leestella748 is going to rethink the mobile version to make it less scrolly

[2020-05-24 18:03] ExperimentsInHonesty commented on #488
@xio, please show mockup for all three completed projects and remove getting started section and figure out sizing of the text

[2020-05-24 18:35] ExperimentsInHonesty commented on #385
@ruben1s to make a pull request to display
project.name + description. and make sure link is only on the project.name.

example see above https://github.com/hackforla/website/issues/385#issuecomment-626361698

[2020-05-24 19:30] ExperimentsInHonesty commented on #270
{
    "total_count": 21,
    "incomplete_results": false,
    "items": [
        {
            "id": 197452459,
            "node_id": "MDEwOlJlcG9zaXRvcnkxOTc0NTI0NTk=",
            "name": "tdm-calculator",
            "full_name": "hackforla/tdm-calculator",
            "private": false,
            "owner": {
                "login": "hackforla",
                "id": 11635254,

[2020-05-24 19:33] ExperimentsInHonesty commented on #270
this issue contains a link to the api we use.  Worth making a page in the wiki that details all our endpoints.  And at some point, just defines the information available at each.  This might actually be available on the github help site about the apis and then we could just link to that for each one.

[2020-05-24 19:34] ExperimentsInHonesty commented on #273
see issue #219 for content

[2020-05-24 20:05] ExperimentsInHonesty commented on #436
- Organizational Dashboard #542
- Support Us #273
- Speakers Bureau
- Volunteer Profile Pages
- Wins Page #162
- Toolkit Section #555
   - Guide - ADA (internal and external resources)
   - Issue Labels
   - Milestones

[2020-05-24 20:24] ExperimentsInHonesty commented on #128
This issue will reviewed again when we have Google Analytics setup #503 .  And then also review again the recent survey responses about what people think of the website.  We should do a specific report, that is all the surveys that have questions about the website, into one reporting tool that the website team can look at the weekly team meeting.

Here is a spreadsheet that contains all the survey

[2020-05-24 20:29] ExperimentsInHonesty commented on #178
Updated SDLC: https://drive.google.com/file/d/1emxhYv9N6KuCVrG-gnqkqHdGnjhm_Qvb/view?usp=sharing

[2020-05-24 20:42] ExperimentsInHonesty commented on #485
https://diytoolkit.org/tools/ with modifications

[2020-05-24 20:54] ExperimentsInHonesty commented on #178
**Term: Epic**

 - Definition: An epic is a large body of work that can be broken down into a number of smaller stories, sometimes called issues.
 - Link: https://www.atlassian.com/agile/project-management/epics

**Term: Feature**

 - Definition: A product feature is a characteristic of your product that describe its appearance, components, and capabilities. Put another way, it is a slice of busin

[2020-05-24 21:00] ExperimentsInHonesty opened #538 "Medium article covering UX work"
### Dependency
Site at satisfactory status

### Overview
Harish and Bonnie discovered requirements, Personas and User Stories, Created forms, analyzed the for value by question (revising)

### Action Items
- [x] Review sample articles
- [x] Brainstorm article content
- [x] Create flow diagram of UX process
- [x] Draft outline of article
- [ ] Review/revise article outline
- [ ] Draft article
- [ ]

[2020-05-25 00:01] ashlingam commented on #485
@wesrowe Thanks for your input, I only now saw your reply. As you said, the Lean Business Canvas forces would-be project leads to think critically a project idea. We're going to add a slightly modified version of this form to the site, albeit in the form of a Google Form survey, but a link to the actual form will be included on the site. I also take your larger point about premature optimization,

[2020-05-25 00:05] ashlingam commented on #323
Revised Figma: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=352%3A205

[2020-05-25 15:32] #385 closed, assigned to cnk, yulia-kh, ruben1s

[2020-05-25 15:33] cnk opened #541 "Add team meetings to project pages"
Mock up:
![Screenshot from 2020-03-22 10-54-06](https://user-images.githubusercontent.com/18221058/77256444-88a30500-6c2b-11ea-887b-bf467b8717c7.png)

Right now, the online meetings list uses the same id/styling rules as the "#open-roles" section. The changes we made to make it look different from the Open Roles section is to make the column-count: 1. In addition, there is a css class/id that adds

[2020-05-25 15:37] #534 closed, assigned to yulia-kh

[2020-05-25 20:40] ashlingam opened #542 "Create Organizational Dashboard page"
### Overview
Create Organizational Dashboard page to house analytics collected from surveys. Initially, the dashboard will house data from the remote onboarding, new member, and project leader surveys, but eventually, expand to include the visualized results from the other surveys in our repertoire.

Instructions to remove the vertical scrollbar have been included below. Please add/remove vertical

[2020-05-26 18:08] leonelRos commented on #308
Hero Image has been updated.

[2020-05-26 18:32] leonelRos commented on #533
@harishlingam I have changed both captions colors. let me know if this looks good to proceed to make the PR. Thanks

<img width="896" alt="Screen Shot 2020-05-26 at 11 31 21 AM" src="https://user-images.githubusercontent.com/50648001/82937097-6dfb4e00-9f44-11ea-9fa1-940c8ffda756.png">
<img width="936" alt="Screen Shot 2020-05-26 at 11 31 34 AM" src="https://user-images.githubusercontent.com/506480

[2020-05-26 21:06] leonelRos commented on #533
@harishlingam  I aligned the letters vertically and also they are between the size of the button as you can see in the first image below.

<img width="718" alt="Screen Shot 2020-05-26 at 2 03 56 PM" src="https://user-images.githubusercontent.com/50648001/82950236-cbe66080-9f59-11ea-95ff-825104e109e0.png">

<img width="712" alt="Screen Shot 2020-05-26 at 2 04 31 PM" src="https://user-images.githubu

[2020-05-26 23:10] ye-susan commented on #529
![image](https://user-images.githubusercontent.com/49918375/82958812-2936dd80-9f6b-11ea-9c00-3e380554c76a.png)

[2020-05-26 23:27] ye-susan commented on #529
![image](https://user-images.githubusercontent.com/49918375/82959675-26d58300-9f6d-11ea-860e-20cdabdba570.png)
![image](https://user-images.githubusercontent.com/49918375/82959750-58e6e500-9f6d-11ea-9de7-b01d3722657c.png)
![image](https://user-images.githubusercontent.com/49918375/82959871-ae22f680-9f6d-11ea-9711-b37f491daf69.png)
![image](https://user-images.githubusercontent.com/49918375/8295989

[2020-05-27 01:06] KianBadie commented on #346
Test comment

[2020-05-27 01:34] KianBadie commented on #346
@ExperimentsInHonesty There is a parameter we can put where we can get issues that have been updated by a certain date. See the `since` parameter on [this](https://developer.github.com/v3/issues/#parameters-3) page.

However, this does include updates like if someone updates a comment. So no new comments could be added but if someone edits a comment, it will be marked as updated.

***Edit***
It tu

[2020-05-27 06:35] #532 closed, assigned to KianBadie

[2020-05-27 20:47] ashlingam commented on #538
![IMG_3507](https://user-images.githubusercontent.com/21990572/83070592-53eb6980-a031-11ea-94a9-c106b437436a.JPG)

[2020-05-27 21:03] ashlingam commented on #538
**Possible screenshots for inclusion in article:**

<img width="677" alt="Screen Shot 2020-05-27 at 4 01 50 PM" src="https://user-images.githubusercontent.com/21990572/83071922-8302da80-a033-11ea-80ee-66f70f1368fe.png">

<img width="612" alt="Screen Shot 2020-05-27 at 4 06 02 PM" src="https://user-images.githubusercontent.com/21990572/83072263-0f150200-a034-11ea-860c-58f5c963fe35.png">

<img width

[2020-05-27 21:17] #510 closed, assigned to KianBadie

[2020-05-27 22:32] ashlingam commented on #538
@ExperimentsInHonesty Could you please skim the sample articles, then answer the questions in the brainstorm document? Links found in resources section above. Thanks!

[2020-05-27 22:55] ashlingam commented on #323
@ExperimentsInHonesty @yuikomajima @leestella748 I have added a button to our transportation survey within our Get in Touch / Volunteer with us container. Please let me know if you have any suggested changes to this layout: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=352%3A205

[2020-05-29 21:10] ExperimentsInHonesty commented on #529
Adding @ampers-and to comments and questions review.

[2020-05-30 20:03] #541 closed, assigned to ruben1s

[2020-05-30 20:39] cnk opened #547 "Javascript error on CivicTechIndex page"
### Overview
When you go to https://www.hackforla.org/projects/civic-tech-index you see an error in the JavaScript console.

`Uncaught Type Error: Cannot read property 'split' of undefined  at civic-tech-index:807`

### Detail about problem
The "Uncaught TypeError"  is happening because there is a line in the list of contributors that is NOT a GitHub user object. Instead it is the string  "Cannot

[2020-05-30 22:24] ye-susan commented on #529
![image](https://user-images.githubusercontent.com/49918375/83339948-a6be5e80-a287-11ea-8e5f-2d3344c681cd.png)

![image](https://user-images.githubusercontent.com/49918375/83339970-ec7b2700-a287-11ea-8b09-fbfd8ab87c9d.png)

![image](https://user-images.githubusercontent.com/49918375/83339985-0caae600-a288-11ea-9af2-182a5af21590.png)

[2020-05-31 01:55] yulia-kh commented on #535
<img width="1045" alt="Screen Shot 2020-05-30 at 6 54 15 PM" src="https://user-images.githubusercontent.com/13112628/83342686-1263f400-a2a7-11ea-892d-2acd018a5af6.png">
<img width="1042" alt="Screen Shot 2020-05-30 at 6 53 27 PM" src="https://user-images.githubusercontent.com/13112628/83342680-06783200-a2a7-11ea-95b0-320b469465ae.png">
<img width="1042" alt="Screen Shot 2020-05-30 at 6 53 48 PM" s

[2020-05-31 05:22] leestella748 commented on #403
Here are two versions: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=887%3A1

The first version uses separate tabs, which allows users to switch between "Events" and Locations" without so much scrolling.  However, I'm not sure if clicking on a tab will cause the whole page to reload or if we can have both tabs load on open.

For the second version, each section can

[2020-05-31 08:23] ye-susan commented on #529
1. Progress: 100% finished with site architecture. Just starting on new wiki for API endpoints
2. Blocks: clarifying questions about our API endpoints and the JSON file that was mentioned in issue #270
3. Availability: Sun - Wed
4. ETA: 6/3

[2020-05-31 15:37] ashlingam commented on #542
1. Progress - Initial dashboard created with pages for Website Performance and Brigade Analysis. Remaining survey data needs to be integrated.
2. Blocks - None
3. Availability - Through 6/3, then exit project.
4. ETA - 6/3

[2020-05-31 15:40] ashlingam commented on #178
1. Progress - Definitions and links associated with key terms, as found on SDLC diagram, along with those terms that provide relevant context. Definitions to be undergo final round of editing and outstanding terms added.
2. Blocks - None
3. Availability - Through 6/3, then exit project.
4. ETA - 6/3

[2020-05-31 16:47] ExperimentsInHonesty commented on #323
@harishlingam design looks good to me, let's add to the website.

[2020-05-31 17:11] ExperimentsInHonesty commented on #535
Please change jobsforhope to #843d78

[2020-05-31 17:31] ExperimentsInHonesty commented on #533
@leonelRos
- [x] removing About from the menus
- [x] replacing the about in mobile with Connect
- [x] replacing Contact Us with Connect on Top menu
- [x] Make the Anchor for connect go to "Want to know more about.... "
- [x] remove Get In Touch subtitle.

[2020-05-31 17:32] #535 closed, assigned to yulia-kh

[2020-05-31 17:34] #472 closed, assigned to yulia-kh

[2020-05-31 17:48] ashlingam opened #550 "New json object for team meeting schedule"
### Overview
Store new json object for team meeting schedule in /gh_pages/_data. This object will populate the team meeting page prior to the api call being made.  If API call successful, replace with new content.

### Action Items
- [ ] Store new json object for team meeting schedule in /gh_pages/_data.
- [ ] Implement changes to logic

### Resources/Instructions

[2020-05-31 17:51] ashlingam opened #551 "Revise Donate button page redirect"
### Overview
Look at Donate button page redirect. Currently, clicking the Donate button flashes a "This page is redirecting..." before landing on the Code for America donate page. We would like to mask this transition by setting the display time to 0 sec.

### Dependency
#553

### Action Items
- [x] Change wording in this file: gh-pages/_layouts/redirect.html to
   - [x] from: "This page has moved

[2020-05-31 18:02] #308 closed, assigned to leonelRos

[2020-05-31 18:16] ExperimentsInHonesty commented on #254
@tylerthome said

within categories its or (like small and medium), between different categories its an and (like small and blue).

Going to produce first version based on these catagories
Status
Location

[2020-05-31 18:23] ExperimentsInHonesty commented on #503
Remove full story and replace with GA code https://github.com/hackforla/website/issues/503#issuecomment-633163692

[2020-05-31 18:28] ashlingam commented on #323
@ye-susan Here is the Survey View Form link: https://docs.google.com/forms/d/e/1FAIpQLSeb5zITlv_OewbT_k0UMNw6kail8-Survey Edit

[2020-05-31 18:40] ExperimentsInHonesty commented on #514
![Screen Shot 2020-05-31 at 11 37 17 AM](https://user-images.githubusercontent.com/37763229/83360087-77652b80-a333-11ea-8934-94164fcdc50b.png)

[2020-05-31 19:21] ExperimentsInHonesty commented on #514
@daniellen00 Great job with the options.

@yuikomajima and the team did a little iteration on one of the pages for the top nav.  She is going to finish the top image, and this is all ready to go to development.

[2020-05-31 20:36] ashlingam opened #552 "Update Project Team Meetings page"
### Overview
Update Project Team Meetings page. Incorporate styling elements from Hack Nights Page-Online team meetings section, including vector graphic. Reference style elements from other pages as appropriate.

### Action Items
- [ ] UI/UX
   - [ ] Update Project Team Meetings page to current style guidelines
- [ ] Development
   - [ ] revise the current page

### Resources/Instructions
https:/

[2020-05-31 20:47] ExperimentsInHonesty opened #553 "Bug fix? css file discrepancy discovered during redirect research"
### Overview
Figure out discrepancy between main.css and main.scss. It looks like the file being referred to in redirect.html is main.css, but there is no main.css file anymore, there is only main.scss located /assets/css/main.scss

### Action Items
Discussion of team
- [ ] how are any of our redirects still working
- [ ] what breaks if we change the reference in redirect.html

### Resources/Instr

[2020-05-31 20:58] ExperimentsInHonesty commented on #346
@KianBadie let me know when you have time to talk about the finding above.  I think we might have a path forward on this.

[2020-05-31 21:05] cnk commented on #553
The file /assets/css/main.css is created from /assets/css/main.scss when GH pages does it's build step. If you look at any file on the live site it loads main.css.

[2020-05-31 21:54] yuikomajima commented on #552
Here's 2 options for this page. I played around with the hero as we spoke about left aligning the body.

figma file: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=925%3A1

[2020-06-01 00:21] ExperimentsInHonesty commented on #547
If by contributions you mean PRs, and you are referring to the following repository: https://github.com/civictechindex/website it does have contributions.  If you are talking about something else, please elaborate

[2020-06-01 00:28] ExperimentsInHonesty commented on #494
Notes

CNK Comment: What is the appropriate level of granularity for this list? and can we make this list comprehensive enough that any projects "looking for" description will map to one or two categories?
Bonnie Comment: we settled on the 9 categories below.

[2020-06-01 00:53] ExperimentsInHonesty commented on #270
@ye-susan to clarify - you are just going to detail the api endpoints we are already using.  You can link to this issue with the text "list of possible github api end points from repositories". So that if someone on the team in future is looking for additional info from github, they won't have to go searching for what kind of info is available.

[2020-06-01 01:14] ExperimentsInHonesty commented on #529
@ye-susan I tried to find details about how our redirect is structured:
https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#redirect-files
but it didn't have information on how the redirect works.  See #553 for some of that related info, and also feel free to talk to me about the redirects if there is anything that is unclear.

[2020-06-01 01:16] ExperimentsInHonesty commented on #529
@ye-susan please move images from this issue to issue #525 so that we can keep all the images for the wiki in one place and keep it open while closing this issue when you are done.  I think you can cut and paste the code that calls them direct from this issue and paste that code into 525, keeping you from having to change anything at the wiki end.

[2020-06-01 01:29] ExperimentsInHonesty commented on #210
Duplicate issue #273

[2020-06-01 01:29] #210 closed, assigned to nobody

[2020-06-01 01:34] ye-susan commented on #270
@ExperimentsInHonesty Thanks for the clarification! I've updated the wiki to include an [API Endpoints](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#api-endpoints) Section

[2020-06-01 01:35] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/82394556-39e0d400-99fe-11ea-99a2-5cf3525a5f56.png)

![image](https://user-images.githubusercontent.com/49918375/82393021-2469ab00-99fa-11ea-88a9-7b3c4766d073.png)

![image](https://user-images.githubusercontent.com/49918375/82394442-e9697680-99fd-11ea-9862-d6835e81ed66.png)

![image](https://user-images.githubusercontent.com/49918375/8239

[2020-06-01 01:35] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/82748391-4777c000-9d56-11ea-89d2-5a089db78286.png)

![image](https://user-images.githubusercontent.com/49918375/82748435-ae957480-9d56-11ea-88db-51b800164214.png)

![image](https://user-images.githubusercontent.com/49918375/82748453-d71d6e80-9d56-11ea-8376-d5d857264668.png)

![image](https://user-images.githubusercontent.com/49918375/8274

[2020-06-01 01:35] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/82958812-2936dd80-9f6b-11ea-9c00-3e380554c76a.png)
![image](https://user-images.githubusercontent.com/49918375/82959127-db6ea500-9f6b-11ea-975d-bff9d31fc210.png)
![image](https://user-images.githubusercontent.com/49918375/82959194-fccf9100-9f6b-11ea-8a8d-a6d4a62ca42f.png)
![image](https://user-images.githubusercontent.com/49918375/8295929

[2020-06-01 01:36] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/82959675-26d58300-9f6d-11ea-860e-20cdabdba570.png)
![image](https://user-images.githubusercontent.com/49918375/82959750-58e6e500-9f6d-11ea-9de7-b01d3722657c.png)
![image](https://user-images.githubusercontent.com/49918375/82959871-ae22f680-9f6d-11ea-9711-b37f491daf69.png)
![image](https://user-images.githubusercontent.com/49918375/8295989

[2020-06-01 01:36] ye-susan commented on #525
![image](https://user-images.githubusercontent.com/49918375/83339948-a6be5e80-a287-11ea-8e5f-2d3344c681cd.png)

![image](https://user-images.githubusercontent.com/49918375/83339970-ec7b2700-a287-11ea-8b09-fbfd8ab87c9d.png)

![image](https://user-images.githubusercontent.com/49918375/83339985-0caae600-a288-11ea-9af2-182a5af21590.png)

![image](https://user-images.githubusercontent.com/49918375/8337

[2020-06-01 01:46] ashlingam opened #555 "Create Toolkit page"
### Overview
Create Toolkit landing page. This page will house all learning resources, including internal guides and external resources.

### Action Items
- [x] UX Research
   - [x] Review existing guides and learning materials
   - [x] Organize the wording and define elements that should be on page
   - [x] Get sign off
- [x] UI Mockup
   - [x] Design mockup
   - [x] Get sign off
   - [x] Check d

[2020-06-01 01:49] ExperimentsInHonesty commented on #162
@alecg123 said: We might advertise on this page:

- volunteers finding new jobs
- the number of people affected by a project win
- new commits added to team members’ GitHub account
- experience in team settings
- project management opportunities, etc.

[2020-06-01 02:13] ExperimentsInHonesty commented on #162
I got a new job
I produced something for my portfolio
I improved my linkedin
I learned how to work better on a team
I increase the number of commits on my github profile
I learned a new language
I became proficient at github
I setup 2FA
I worked on an enterprise project
I worked on a project that will help the people of Los Angeles
I worked on two projects
I taught or mentored another person on my

[2020-06-01 02:26] ExperimentsInHonesty commented on #97
@cnk can we talk about this when you get some time.  We used to do this and then we stopped: https://github.com/hackforla/website/releases

[2020-06-01 02:32] ExperimentsInHonesty commented on #110
Hi @matikin9 , sorry this issue got iceboxed.  We do still want to add people agreeing to the code of conduct before getting a slack invite.  It seems from your last post that you might be able to help with that: https://github.com/hackforla/website/issues/110#issuecomment-521455617

[2020-06-01 02:38] ExperimentsInHonesty commented on #102
duplicate

[2020-06-01 02:38] #102 closed, assigned to nobody

[2020-06-01 02:49] ExperimentsInHonesty commented on #13
@wes are we getting junk emails to Action Network via this form.  If no, I will close this issue, if yes, reinvestigate it. LMK
![Screen Shot 2020-05-31 at 7 48 00 PM](https://user-images.githubusercontent.com/37763229/83371590-aac9a980-a377-11ea-9a70-3acd1ef851c6.png)

[2020-06-01 02:50] ye-susan commented on #529
@ExperimentsInHonesty Thanks for the feedback, Bonnie. I've just edited the [Redirect section](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#redirect-files) to include a description of how the code is pulling from the markdown files. In the styling section, I also talk about how the [sass layout](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#

[2020-06-01 02:53] ExperimentsInHonesty commented on #156
Dependence on #254 and When we are ready to do this page, we will also have to redesign the homepage #492 , because the projects, which are taking up all the space will be gone.

[2020-06-01 02:59] ExperimentsInHonesty commented on #216
Code for America is our fiscal sponsor.  This issue is closed

[2020-06-01 02:59] #216 closed, assigned to nobody

[2020-06-01 03:04] ExperimentsInHonesty commented on #469
Decided not to do this.  what we implemented is fine.

[2020-06-01 03:04] #469 closed, assigned to nobody

[2020-06-01 03:05] ExperimentsInHonesty commented on #191
Look at brigades that don't use CfA as a sponsor.

[2020-06-01 03:07] ExperimentsInHonesty commented on #186
Dependency released.

[2020-06-01 03:15] ExperimentsInHonesty commented on #492
duplicate

[2020-06-01 03:15] #492 closed, assigned to nobody

[2020-06-01 03:17] ExperimentsInHonesty commented on #98
It is possible to use Github secret keys and github actions.  We are using it in various places on the website.  See WIKI for details.

[2020-06-01 03:19] ExperimentsInHonesty commented on #119
We probably will not use google calendar anymore for these events. Any event feed will probably use the VRMS api.

[2020-06-01 03:19] #119 closed, assigned to ExperimentsInHonesty

[2020-06-01 15:59] ExperimentsInHonesty commented on #529
Hi @ye-susan on this page: https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture#redirect-files please change
donate.md: links to donorbox.org
to
donate.md: links to https://www.codeforamerica.org/donate

[2020-06-01 16:06] ExperimentsInHonesty opened #556 "Refine HackforLA page titles"
### Overview
The pages on the HfLA site should have unique names that make sense for the content that is on them.  This currently does not seem to be the case.

### Action Items
- [ ] Figure out why the titles are not showing up correctly on the following pages (likely different reasons)
   - [ ] Static HTML pages
      - [ ] https://www.hackforla.org/project-meetings (currently just says "Hack fo