[2021-08-03 22:04] Aveline-art opened #2058 "Refactor Javascript: Refactor code from Events page to external folder"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Transfer the Javascript from [this page](https://github.com/hackforla/website/blob/gh-pages/pages/events/right-col-content.html) into a new file in [this folder](https://github.com/hackforla/webs

[2021-08-04 01:59] Abel-Zambrano commented on #1980
@ExperimentsInHonesty Hello, I added the details to the "1 Password Vault."

[2021-08-04 01:59] abenipa3 commented on #2014
Progress: Reading about using the Squash deployment interface with Docker. Will start to document findings and upload them on HfLA's Drive.
Blockers: Focusing on interviews this week. Other than that, none.
Availability: Open from Tuesday night through Friday.
ETA: 8/6

[2021-08-04 02:58] adam-abundis opened #2061 "Design System: Audit Page Card CSS/HTML standard"
### Overview
We need to finalize the base HTML/CSS for the `.page-card` and classes so we can apply the standard to all the cards within the HfLA website

### Action Items
- [x] Find all instances of the HTML, CSS, or (inclusive) JS code for `.*-card` (.page-card, .small-card, .project-card, .wins-card) class.
    - [x] Document all instances on a spreadsheet in our drive with (insert column names

[2021-08-04 03:07] Aveline-art commented on #1378
* Progress: Made the pull request. Am awaiting review.
* Blockers: The pull request needs someone from the design team to give input.
* Availability: Random time here and there
* ETA: Unsure, but will be done within a day after the design team gets back to me.

[2021-08-04 03:36] Zak234 commented on #1445
Talked with Ava and it was decided that this issue should be closed due to its complexity and lack of benefits from completion. In case of being opened in the future, using REST API to download job logs seemed to be the most promising avenue although large amount of data processing would need to be done to remove the Github action code from the logs and get the data in a more readable state.

[2021-08-04 03:36] #1445 closed, assigned to Zak234

[2021-08-04 16:25] #1956 closed, assigned to Aveline-art

[2021-08-04 16:50] Aveline-art commented on #2032
Bug:

#2040 is marked (today) because a timeline is outdated by default unless proven otherwise. Without a timeline to reference, we cannot check for outdatedness.

Possible solution:

Add a new filter to see when an issue is assigned.

[2021-08-04 18:05] kristine-eudey commented on #759
I talked with @daniellex0 who told me this should now be a front-end issue, and the developers should determine if they think these items still need to be done.

[2021-08-04 18:38] janieche commented on #1911
Added two new mentor icons. The final version is in the yellow frame [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13423%3A90826).

[2021-08-04 19:30] Sihemgourou commented on #1797
Meeting 21/08/03

Things discussed:
- Github analytics: if the data are not

Actions to take:

- [x] @Sihemgourou to create an issue to remove the looking for section and create a dependency with this issue (https://github.com/hackforla/website/pull/1837)

[2021-08-05 00:04] #1944 closed, assigned to Zhu-Joseph

[2021-08-05 00:43] Aveline-art opened #2063 "Refactor Javascript: Delete unused code from survey guide page"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Delete the unused Javascript code from [this page](https://github.com/hackforla/website/blob/gh-pages/_guide-pages/survey-reporting-dashboard-guide.html).
- [x] Make sure the website still runs,

[2021-08-05 02:10] #1733 closed, assigned to JackRichman

[2021-08-05 02:11] #1872 closed, assigned to jpandh

[2021-08-05 03:09] ExperimentsInHonesty opened #2064 "Add GreenEarthOS project card"
### Overview
We need to add GreenEarthOS to the website, so that our list of projects is complete.

### Action Items
See this issue for details on project
https://github.com/hackforla/GreenEarthOS/issues/3#issuecomment-893120885

See this issue comment for logo and hero
https://github.com/hackforla/GreenEarthOS/issues/3#issuecomment-884618633
All image text for the logo : GreenEarthOS logo with te

[2021-08-05 15:08] #1974 closed, assigned to mgodoy2023

[2021-08-05 15:39] kristine-eudey commented on #1911
Design work has been reviewed and is ready for development. Image credit links are in green frame.

[2021-08-05 15:46] Aveline-art opened #2065 "GitHub Actions: Create issue at a timed interval to check for updates to GHA version"
### Overview

As a developer who maintains the repository, we need to periodically update our dependencies so that our GitHub actions do not unexpectedly break.

### Psudo-code
- [x] Discuss with the team on how often the interval should be. (Until this discussion happens, you can use a workflow_dispatch trigger to test your code for now).
- [ ] Trigger: when the update interval arrives
  - [x] Po

[2021-08-05 16:00] #1818 closed, assigned to Abel-Zambrano

[2021-08-05 17:14] kristine-eudey opened #2066 "UX Writing - Rewrite Donate Page"
### Dependency
Donor research process #2309

### Overview
We need to rewrite the text on the Donate Page to focus more clearly on **_why_** people should donate, so that rather than rehashing what HfLA is the Donate page better incentivizes potential donors to take action and to understand the impact their donation can make.

### Action Items
- [ ] Find out from Research where they are in the dono

[2021-08-05 18:27] anonymousanemone commented on #1993
Issue completed!
PS. Should I delete the footers on the side?

[2021-08-05 18:35] #1427 closed, assigned to GLRJr

[2021-08-05 20:23] Sihemgourou commented on #1797
1-1 Meeting 21/08/05

Participants: @Sihemgourou @ExperimentsInHonesty

Things discussed :
- Impact page : We have 2 types of funders: The city of LA and the non profits, and they want different things : the city is more into local impact whereas the non profits want more scalable projects. Note for the UX research team: Alesha and Josey (from youth justice nav project) they are the stakeholders t

[2021-08-05 20:57] averdin2 commented on #1833
Here is my first draft for the platform discussion template:

### Overview
In order to automate Hack for LA’s volunteer onboarding processes, we are using Google Tables and Google App Scripts to automate various onboarding processes. We need to define constraints for each of Hack for LA’s platforms to better understand how we can implement our automation scripts.

### What HfLA Platform is this is

[2021-08-05 21:01] averdin2 commented on #1833
Progress: I created a first issue template draft for discussing constraints for HfLA platforms.
Blockers: None really. I just need to have my draft checked and then we can make the issue template.
Availability: Meetings and most evenings. Scheduled.
ETA: This week the draft should be reviewed.

[2021-08-05 21:02] averdin2 commented on #1441
Progress: Made plan for review. I still need to make some changes before I can open up the PR again.
Blockers: None, I am just working on this a bit slowly.
Availability: I attend most meetings and am responsive on Slack if there are any questions regarding this issue.
ETA: I should make my changes by this weekend and then open up the PR.

[2021-08-05 21:06] averdin2 commented on #1958
Progress: I am pretty much done with the linting fixes. I need to pull current code and recheck before making a PR. I haven't decided if this should be made a PR before the acutal GitHub action gets implmented yet. I also was hesitent to make linting fixes to wins page since there is wins feature branch. May want to make a similar issue for the wins feature branch.
Blockers: None, just working slo

[2021-08-05 22:58] abenipa3 commented on #1515
@Sihemgourou @ExperimentsInHonesty Hello! Guide Pages Prototype is ready to review. I've consulted with our dev and design teams to see if they have feedback, and they said it looks good so far.

Please see the link for the prototype below and feel free to let me know if you have any questions! Thanks.

https://alyssabenipayo.github.io/guidepages-prototype/

[2021-08-06 01:29] kristine-eudey commented on #2057
@ExperimentsInHonesty please take a look at the updated design here: [Figma - Homepage Redesign 8/5/21](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13558%3A91414), and let me know your thoughts.
The UI needs further work before the low-fi is ready to head to developers to ensure the general structure/layout is as close to design system requirements (font sizing, m

[2021-08-06 03:00] averdin2 commented on #1891
### Notes for August 5th
- We decided to update issue #1407 to include standardization for the accordion component. To update this issue, we need to make action items for fixing the original issue, moving the JavaScript code into the component folder, fixing the JavaScript code so that it does not directly make new CSS, but rather adds and removes classes, and making sure all pages that use the ac

[2021-08-06 14:59] Aveline-art commented on #2032
Bug:

The time does not indicate timezone.

[2021-08-06 15:42] #1898 closed, assigned to arghmatey

[2021-08-06 16:28] janieche commented on #2020
1. Progress: Updated text copy. Need to adjust spacing to follow existing standards.
2. Blockers: None
3. Availability: 2 hours this Friday and 4 hours this Sunday
4. ETA: Next Thursday
5. Pictures:
<img width="515" alt="Screen Shot 2021-08-06 at 10 27 27 AM" src="https://user-images.githubusercontent.com/12770042/128542317-59079cc0-c9bc-48c1-9687-cba958f1ad41.png">

[2021-08-06 18:46] Aveline-art commented on #2009
* Progress: Continued the discuss on what to do with our JS code.
* Blockers: None so far.
* Availability: Will work on this only during meetings.
* ETA: In two weeks.

[2021-08-06 19:35] adam-abundis commented on #1850
1. Progress: Currently in the research/delegation phase. Created 1 issue on page card standardization (#2061)
2. Blockers: None
3. Availability: Friday Afternoon & Sunday Morning
4. ETA: TBD
5. Pictures: None so far

[2021-08-06 20:00] ahoang94 commented on #1823
@kristine-eudey

The design portion of this issue is complete and is situated in the orange rectangle to the right of the final designs (blue rectangle).

Please note that I've posed a question about cases of when a person has more badges than can be displayed in a row:

![Screen Shot 2021-08-06 at 12 55 26 PM](https://user-images.githubusercontent.com/85914721/128564727-d2f6addd-39ed-4246-b9a6-a2

[2021-08-06 20:07] #1824 closed, assigned to Aveline-art

[2021-08-07 00:07] ktlevesque19 commented on #1979
Progress: Completed
Blockers: None at this time

@kristine-eudey Just completed this so it's ready for review, there are three options in a blue square [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25627) - there was already a link to the slack channel for each card, so I did options for how to incorporate the GitHub links assuming equal hierarchy of t

[2021-08-07 00:44] Aveline-art opened #2068 "Refactor Javascript: Move donut code to external folder"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Read the notes below to understand the architecture of our JS files.
- [x] Visit [this file](https://github.com/hackforla/website/blob/gh-pages/_guide-pages/2FA.html)
  - [x] Look for the code th

[2021-08-07 00:54] Aveline-art commented on #1981
@Abel-Zambrano Please tell me more about what this issue is about in the overview. Why is this something that needs to be done? Who does this edit serve? In what what?

[2021-08-07 01:05] Aveline-art commented on #1891
### Agenda for August 12, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Announce getting sample population for UX research team. #2015
- [x] Where are we in terms of the JS [audit](https://docs.google.com/spreadsheets/d/1jWVH-1QAgcaMd3BInWEW6Zaq-z9lN-C4qJ6I3mchfNs/edit?usp=sharing)? How should we deal with the items that we still need to discuss?
- [x] @averdin2 to

[2021-08-07 01:28] Abel-Zambrano commented on #1981
@Aveline-art This issue was actually discovered by @jbubar. I don't know the in-depth details of the issue. Hopefully he's still available and can provide more details.

[2021-08-07 01:34] Abel-Zambrano commented on #1981
@Aveline-art I believe the idea was to convert the Google App Script array into an object with {key: value} to replace hardcoded keys in the wins.html file, lines 31-44

[2021-08-07 01:40] Abel-Zambrano commented on #2023
Progress: Just getting started.
    Blockers: None
    Availability: weekdays after 5pm
    ETA: Monday 8/9
    Pictures: n/a

[2021-08-07 05:19] Aveline-art opened #2069 "Adjust Projects Page Dropdown to account for length"
### Overview
The dropdown for the 'Technologies' in the projects page is getting quite long, and some awkward scrolling is required to view further into the list.

### Action Items

#### Design

- [x] Create a design for how the dropdown should behave in order to remove the awkward scrolling.

#### Development

- [x] Read through this issue to understand what the designer's solutions are.
- [x] Lo

[2021-08-07 05:23] Aveline-art commented on #2069
@hackforla/website-design Hello! This is my first design issue, so I am unsure if this is considered...good? Well done? So please review this, and reword this and then it can go straight to the backlog.

[2021-08-07 14:34] adam-abundis commented on #1921
Created a spreadsheet within the HackForLA google drive. The audit should be complete by tomorrow afternoon.
[Spreadsheet can be found here](https://docs.google.com/spreadsheets/d/1n3va-1kwGOCTP4JaXpL3TjgvS_2RWDkurb8PyCJSp-0/edit?usp=sharing)

[2021-08-07 18:25] arghmatey commented on #1927
Created draft pull request #2070 to keep track of progress.

1. Progress: Created front end and back end. Continuing research on best practices. Styling and adding the rest of component information to files still needs to be completed.
2. Blockers: Time! Busier than I expected, but I believe the hardest parts are done.
3. Availability: Monday evening, Tuesday afternoon
4. ETA: TBD - I would like t

[2021-08-08 00:20] kristine-eudey commented on #1979
Thanks @ktlevesque19, these look great! My vote is for Option 3 with the stacked icon buttons, though we can discuss at Sunday's meeting and move a design forward from there.

[2021-08-08 00:31] kristine-eudey commented on #1969
Hi @SaashaG, thanks for working on this! Please comment on this issue to add these things as discussed in our last Thursday meeting:

- Any updates
- A link to your competitive analysis
- Your design work to the [Figma footer page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3)

[2021-08-08 08:40] aalieu commented on #1619
@Aveline-art

Some questions/feedback to discuss during the meeting for this issue.

- The info icon presented in the designs had a watermark for the free version. I used a placeholder for now but it's a little bit blurry and doesn't look the greatest. Might want to replace it.
- In the designs, the arrows to expand in the FAQ for the mobile version are red while the desktop version is black. Do w

[2021-08-08 13:20] wendywilhelm10 commented on #1671
Progress: I incorporated changes into my changes and pushed back to GitHub.  Should be availabe for review again.
Blockers: None
Availability: available
ETA: Ready to reviewed again

[2021-08-08 15:53] SaashaG commented on #1969
**Progress:** Competitive Analysis complete [here](https://docs.google.com/document/d/1FqiwafJQPfnat6HCF9zaqLczNXVOKh83OuzNL1lCINg/edit?usp=sharing), moving on to design ideation
**Blockers:** n/a
**Availability**: varied
**ETA**: 8/14/21

[2021-08-08 16:23] #1027 closed, assigned to nobody

[2021-08-08 16:58] Basu3040 commented on #2015
1. Progress: The research team is meeting on 8/9 to work further on the interview template and a short demographic survey.  We will also start working on the usability testing based on the updated design. Here is the document we are working on: https://docs.google.com/presentation/d/1p5iOAOiqfWzjndOGhFkvL0FDSUfKRHrcHSmL1CA8J_c/edit#slide=id.ge77ae0ae07_0_834
2. Blockers: None
3. Availability: 1-2

[2021-08-08 17:17] Sihemgourou commented on #1619
@aalieu We Converted the PR into draft until all your questions are answered

Answers from product team:
- For step 2, the 'Join your Community of Practice's Slack Channel' hyperlink leads to https://www.hackforla.org/communities-of-practice. There was no relevant link in the old 'Getting-Started' page for this so I just chose this which I thought was the most relevant. => OK that's fine
- The get

[2021-08-08 17:30] abenipa3 commented on #1848
@Sihemgourou Update from #1515 - The prototype is ready for review.

[2021-08-08 17:34] kristine-eudey commented on #1823
This design portion of this issue has been reviewed and is ready for development. To your question above, @ahoang94, based on the previous design, badges will be limited to 5 in the collapsed view.

[2021-08-08 17:57] kristine-eudey commented on #1993
Design for this issue is approved.

[2021-08-08 18:02] Sihemgourou commented on #1797
PM-Design Meeting 21/08/09

Participants: @kristine-eudey @ExperimentsInHonesty @kevngaleu @Sihemgourou @Basu3040 @Jhay95

Things to discuss:
- we need to write down the design to dev handoff process

Things discussed:
- New issue approval: Once the issue is reviewed and validated by the leadership team, the issue should have a ready for milestone label for the product team to put the right milest

[2021-08-08 18:09] Sihemgourou commented on #1823
For now, show all the badges (as for desktop view)

[2021-08-08 18:17] Sihemgourou commented on #1979
- maybe change the wording for the github page. it should say "next steps" or something equivalent.

- please provide another option with icones and text

[2021-08-08 18:20] Sihemgourou commented on #1797
Meeting 21/08/09

Issue for the design to dev handoff :
- https://github.com/hackforla/website/issues/1823
- https://github.com/hackforla/website/issues/1993
- https://github.com/hackforla/website/issues/1845

[2021-08-08 18:22] averdin2 opened #2071 "Google Drive Google Tables Discussion Initial"
### Overview
In order to automate Hack for LA’s volunteer onboarding processes, we are using Google Tables and Google App Scripts to automate various onboarding processes. We need to define constraints for each of Hack for LA’s platforms to better understand how we can implement our automation scripts.

### What HfLA Platform is this issue Discussing?
Google Drive
### Action items for Discussion
-

[2021-08-08 18:27] anonymousanemone commented on #1993
Development said that this looks good, if there's any specific questions, please let us know on this issue and move this to developer meeting column.
PS. I think this component is already on the live web page. @Aveline-art

[2021-08-08 18:30] Basu3040 commented on #1343
Name: Basudhara Sen
Role: UX Research Lead (HackforLA website)
GitHub handle:Basu3040
SLACK ID: U027N11G75F

[2021-08-08 18:31] kristine-eudey commented on #1343
Kristine Eudey
UX Design Lead
Github handle: kristine-eudey
Slack ID: U0252CHL678

[2021-08-08 18:31] ExperimentsInHonesty commented on #1993
Make an issue for development

[2021-08-08 18:35] ExperimentsInHonesty commented on #1619
@hackforla/website-design please review and put in progress after you have your notes

[2021-08-08 18:38] ahoang94 commented on #1343
Anh Hoang
UX/UI Designer
Github: ahoang94
Slack: U025DUAKAPK

[2021-08-08 18:39] PamelaLi36 commented on #1343
Pamela Li
Role : UX Researcher
GitHub handle:  PamelaLi36
Slack ID: U026L183W3S

[2021-08-08 18:40] sobe-an commented on #1343
Sobechukwu Anwunah
Product Manager
Github: Jhay95
Slack: U029DHT0UGK

[2021-08-08 18:41] #2017 closed, assigned to nobody

[2021-08-08 18:52] anonymousanemone commented on #1908
Progress: Made hopefully last commit
Blockers: Waiting on review
Availability: 5 hrs
ETA: Should be done
Pictures: in pr

[2021-08-08 18:53] averdin2 commented on #2071
### What is Hack for LA currently doing with this platform? Is automation needed for this platform?
- We use it for storing rosters, files, app scripts.

### What are automations supposed to do for this platform? What are the minimum functional requirements for this platform?
- The automation that is needed is adding new members to shared drives.
- Automation to remove inactive users after a perio

[2021-08-08 19:08] Aveline-art commented on #2027
### Post-meeting notes, August 08, 2021

<details>
<summary>Click for notes</summary>
<be>

Meeting began at 10:56 AM.

1. Announcements
    - Automation scripts for onboarding. It involves Google App Scripts (JavaScript).
    - Please reach out to Alex if you would like to learn more.
    - Onboarded new members, Saumil and Megan!
    - Announced the Milestone Category!
2. Reviewed Dev Meeting Co

[2021-08-08 19:23] Sihemgourou commented on #1797
PM-DEV Meeting 21/08/11

Things to discuss :
- [ ] We need to make a new issue for development out of #1879 using #1739
- [x] Ask @Aveline-art about the empty columns created on the board.
- [ ]  Product team to review research plan for the homepage

Things discussed :
- HomePage v1 redesign:
    - create subpages for sdgs
    - build a randomizer for the wins
    - waiting for the component from

[2021-08-08 19:24] #1671 closed, assigned to wendywilhelm10

[2021-08-08 19:28] Sihemgourou commented on #1686
1. Progress : created a google form and checked it with Bonnie and other pms => we need to find a better way to navigate through the form (maybe use a different tool) https://forms.gle/ZrDPKYN3i8BCXj4a9
2. Blockers : none
3. Availability: 2h
4. ETA : 08/15

[2021-08-08 19:29] Aveline-art commented on #1891
### Post-meeting notes, August 12, 2021

<details>
<summary>Click for notes</summary>
<br>

- [ ] A compound is a collection of element sized components that is reusable elsewhere in the website.
  - [ ] The homepage redesign will make use of a lot of assets from other pages
  - [ ] These assets will be turned into reusable compounds
  - [ ] The compounds will live in a new directory in the _inclu

[2021-08-08 19:35] sobe-an commented on #2034
**Frontend**
Tuesday - 7 pm PST https://us02web.zoom.us/j/85991861240?pwd=bjJPSVpsY21JY1VUbGx0UVZySGRtdz09

**Backend**
Thursday - 7:30 pm PST https://us02web.zoom.us/j/85991861240?pwd=bjJPSVpsY21JY1VUbGx0UVZySGRtdz09

[2021-08-08 19:35] sobe-an commented on #2034
**Product**
Wednesday - 12 pm PST https://us02web.zoom.us/j/4451450308?pwd=U0JobzZqN0xGSXBUUkRsNlB5YzJiQT09

[2021-08-08 20:40] macho-catt opened #2073 "Config files and js files should be hidden on the live site"
### Overview
As shown and discussed during the Sunday dev meeting, there are certain config files and js files that appear on the live site if a user knows the address to put in the url. For example:

1. https://www.hackforla.org/assets/js/about.js and any other js files under assets/js
2. https://www.hackforla.org/docker-compose.yml

### Action Items
- [x] - Research a way to hide these files.
-

[2021-08-08 20:46] averdin2 commented on #1833
For MVP we have decided to focus on Google Drive access and GitHub access as a part of descoping and getting out a product quicker.

[2021-08-08 22:39] ahoang94 commented on #1823
@kristine-eudey The Figma file has been updated include multiple rows for badges.

[2021-08-09 04:23] JasonUranta commented on #2008
@JasonUranta I went with the 2nd link (The link provided by Bonnie and the link used by me) because it explained how to download the Mac Xcode Command Line Tools and Homebrew while the first link only explained how to download the Mac Xcode Command Line Tools. The 2nd link is also more informative.

[2021-08-09 04:25] ExperimentsInHonesty commented on #1445
Wiki related to this issue https://github.com/hackforla/website/wiki/Decision-Records-on-Solutions-Not-Implemented

[2021-08-09 14:25] sacamp commented on #1343
Name: Simone Campbell
Role : UX Researcher
GitHub handle: sacamp
Slack ID: U0260MKR5EJ

[2021-08-09 18:19] kristine-eudey commented on #1823
The design portion of this issue has been reviewed and approved. Thanks for updating this @ahoang94!

[2021-08-09 18:27] janieche commented on #1343
Janie Chen
UX Designer
Github: janieche
Slack: U026YB4R0AV

[2021-08-09 18:43] janieche commented on #2020
Design tasks completed. Final designs are in the pink/red rectangle. The desktop frame is linked [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13574%3A95882) and the mobile frame linked [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13574%3A97901).

<img width="264" alt="Screen Shot 2021-08-09 at 12 43 17 PM" src="https:/

[2021-08-09 20:39] kristine-eudey commented on #2020
Thanks @janieche, looks great. The design portion of this issue has been reviewed and approved.

[2021-08-09 21:58] Sihemgourou opened #2075 "Hide looking for filter on project page"
### Overview
As a developer, we need to keep the website consistent. Since the [new projects page ](https://www.hackforla.org/projects/)is now live, we need it to ensure that it appears similar to the [projects section of the front page](https://www.hackforla.org/#projects).

### Action Items

- [x] Replicate the work from #1997 to the new projects page.
- [x] Edit the header such that clicking "p

[2021-08-09 22:26] Sihemgourou commented on #1969
Hey @SaashaG just compiled a similar issue into this one, please feel free to ask me any question if needed :)

[2021-08-09 22:27] Sihemgourou commented on #2000
Closing this issue because of a duplicate issue currently in progress (#1969)

[2021-08-09 22:27] #2000 closed, assigned to nobody

[2021-08-09 22:33] Sihemgourou commented on #1948
removing @marcobarrera assignment because no update has been made since 24 days

[2021-08-09 23:25] Sihemgourou opened #2076 "Put a program area filter on project page"
### Overview
As a potential stakeholder, having a filter for program areas is useful to understanding the scope of a project.

### Action Items

- [x] Create a new filter called "program areas" for the new projects page
- [x] The filter must contain the items listed on our program areas page.
- [x] The filter must function as any other filter on the page.
- [x] It might be preferred that the filte

[2021-08-09 23:58] Sihemgourou commented on #1742
unassigning @sayalikotkar because no updates on the issue

[2021-08-10 00:03] Sihemgourou commented on #2040
Progress: Milestones implemented into  project board
Blockers: none
Availability: 2h
ETA: 08/15

[2021-08-10 00:06] Sihemgourou commented on #1730
1. Progress : meeting with Pamela tomorrow to figure out event tracking
2. Blockers : none
3. Availability : 2h
4. ETA : 08/15

[2021-08-10 00:15] Zhu-Joseph commented on #2063
Progress: Started reading through code to identify unneeded JavaScript code.
Blockers: None so far.
Availability: Random time here and there.
ETA: By the end of the week.

[2021-08-10 00:22] Sihemgourou commented on #1515
Great @alyssabenipayo ! could you put it in the review column please :)

[2021-08-10 02:34] #2023 closed, assigned to Abel-Zambrano

[2021-08-10 05:09] macho-catt opened #2077 "Mobile Responsiveness on About page: body cuts off below mobile view"
### Overview
This is a follow-up issue as mentioned in PR #1928.
Currently, below a certain breakpoint (below 375px) the sections in the body of the About page gets cut off instead of adjusting itself via a Media Query. It should not cut off and just adjust itself.

Steps to reproduce the issue -
1. Go to the about page: https://www.hackforla.org/about
2. Open the dev tools and go to the Responsiv

[2021-08-10 05:21] macho-catt commented on #2073
Progress: Started researching possible solutions based on some provided links. I tested exclusions on a test branch and they seem to be working. I need to compile a list of which pages need to be excluded, and make sure that adding them in the exclusions list does not break anything.

Blockers: None so far.
Availability: 6 hours
ETA: 1 week from now

[2021-08-10 06:51] ktlevesque19 commented on #1979
Just updated per the feedback from Sunday's meeting. Three button options, and three copy options are [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3194%3A25627). Visually I think my preference is still Option 3, the icon buttons get a little long side by side in Option 2. Thanks!

<img width="742" alt="Screen Shot 2021-08-09 at 11 46 02 PM" src="https://user

[2021-08-10 15:18] kristine-eudey opened #2078 "Add all Wins page badge icon credits to Credits page"
### Overview
We need to add all of the Wins page badge icons’ credit information to the [Credits page](https://www.hackforla.org/credits/) to follow image use compliance standards

### Action Items
- [x] Locate all icon credit information in [Wins page Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=9246%3A80729) (in green rectangle on bottom right)
- [x]

[2021-08-10 15:20] kristine-eudey opened #2079 "Adjust Donate Page - Fix Green Circles"
### Overview
We need to adjust the Donate page to make it fit with the design system and similar information on the Join Us page
### Action Items
- [x] Make the green circles illustration (Monthly/Annual/Occasional etc) match the illustration at the bottom of the [Join Us page](https://www.hackforla.org/join). For some reason the version in the Donate page has black border around the circles, but

[2021-08-10 15:37] janieche commented on #2016
Progress: Not started yet
Blockers: None
Availability: Evenings and weekend
ETA: Next Thursday

[2021-08-10 16:14] PamelaLi36 commented on #1730
Here are the steps to begin event tracking:
1. Set up Google Tag Manager
2. Identify what events we want to track
3.  Create the events in Google Tag Manager

Source: https://www.youtube.com/watch?v=oQNA8itUXOk&ab_channel=Simplilearn

[2021-08-10 16:34] PamelaLi36 commented on #1730
Progress : Attempting Event Tracking
Blockers : none
Availability : 3h
ETA : 08/15

[2021-08-10 16:46] kristine-eudey opened #2080 "Add new heading class to design system’s heading typography in the code base"
### Overview
We need to add a new heading class (“.title7”) and adjust a previous heading class (“title6") to the standardized design system headings in the code base, since an 18px heading has been added to the design system (18px heading is necessary and exists in several current pages, including the project cards).

Refer to this image from the [figma ](https://www.figma.com/file/0RRPy1Ph7HafI3

[2021-08-10 16:49] kristine-eudey opened #2081 "Apply design system heading classes to Events page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Events page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the [Events page Figma file](https://www.figma.co

[2021-08-10 16:51] kristine-eudey opened #2082 "Apply design system heading classes to Wins page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Wins page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading class “.title1” to the [Wins page](https://www.hackforla.org/wins/)

[2021-08-10 16:53] kristine-eudey opened #2083 "Apply design system heading classes to Getting Started page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Getting Started page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the screenshots below to the [Getting St

[2021-08-10 16:55] kristine-eudey opened #2084 "Apply design system heading classes to Donate page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Donate page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the [Donate page Figma file](https://www.figma.co

[2021-08-10 17:13] kristine-eudey opened #2085 "Apply design system heading classes to Homepage"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Home page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the [Home page Figma file](https://www.figma.com/fi

[2021-08-10 17:14] kristine-eudey opened #2086 "Apply design system heading classes to Toolkit page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Toolkit page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the [Toolkit page Figma file](https://www.figma.

[2021-08-10 17:15] kristine-eudey opened #2087 "Apply design system heading classes to Communities of Practice page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Communities of Practice page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading class (“.Title4”) noted in the screenshot below t

[2021-08-10 17:17] kristine-eudey opened #2088 "Apply design system heading classes to Program Areas page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Program Areas page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading class (“.Title4”) noted in the screenshot below to the [Pro

[2021-08-10 17:18] kristine-eudey opened #2089 "Apply design system heading classes to Project Team Meetings page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Project Team Meetings page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading class (“.Title3”) noted in the screenshot below to

[2021-08-10 17:19] kristine-eudey opened #2090 "Apply design system heading classes to Project Description page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Project Description page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [ ] Apply the heading class (“.Title3”) noted in the screenshot below to th

[2021-08-10 17:24] kristine-eudey opened #2091 "Apply design system heading classes to Project Description page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Project Description page headings (for accessibility/to remove the styling reliance on h tags), so that that the page can now follow the design system plan and be more accessible.
### Action Items
- [x] Apply the heading classes noted in the [Project Description page Figma

[2021-08-10 17:25] kristine-eudey opened #2092 "Update ‘Hands’ image credit link and information"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) and credit information for the ‘Hands’ image to the specific link and accurate information, because it currently has incorrect information and leads to a generic Noun Project link.
### Action Items
- [ ] Replace the generic Noun Project link for the image titled “Hands” in the [credits page](https://ww

[2021-08-10 17:26] kristine-eudey opened #2093 "Update ‘Give’ image credit link and information"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) and credit information for the ‘Give’ image to the specific link and accurate information, because it currently has incorrect information and leads to a generic Noun Project link.
### Action Items
- [x] Replace the generic Noun Project link for the image titled “Give” in the [credits page](https://www.

[2021-08-10 17:27] kristine-eudey opened #2094 "Update ‘Diversity’ image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the ‘Diversity’ image to the specific link, because it currently leads to a generic Noun Project link.
### Action Items
- [ ] Replace the generic Noun Project link for the image titled “Diversity” in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://thenounpro

[2021-08-10 17:28] kristine-eudey opened #2095 "Update ‘Global’ image credit link and information"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) and credit information for the ‘Global’ image to the specific link and accurate information, because it currently has incorrect information and leads to a generic Noun Project link.
### Action Items
- [x] Replace the generic Noun Project link for the image titled “Global” in the [credits page](https://

[2021-08-10 17:30] kristine-eudey commented on #1865
@Sihemgourou all of the issues for the missing credit links have now been created.

[2021-08-10 17:54] kristine-eudey opened #2096 "Create @hackforla.org email address for contacting research participants"
### Overview
The UX Research team needs an email address to contact potential research participants.

### Action Items

- [ ] Create Hack for LA email address. Possibilities (in order of preference) could include:
   - [ ] research@hackforla.org
   - [ ] design@hackforla.org
   - [ ] ux@hackforla.org
   - [x] siteresearch@hackforla.org
- [ ] Share login instructions with UX Research team via 1pass

[2021-08-10 18:21] Aveline-art commented on #759
This issue does not need work since the action items had been either fixed or in progress.

[2021-08-10 18:21] #759 closed, assigned to nobody

[2021-08-10 18:22] Aveline-art commented on #1981
@Abel-Zambrano Can you add this information to the action items so that this can be worked on by the team? Thank you!

[2021-08-10 18:23] Aveline-art commented on #1980
@Abel-Zambrano Can you clarify what this means?

[2021-08-10 18:27] sobe-an commented on #2034
I've updated the meeting links and time.

[2021-08-10 18:27] #2034 closed, assigned to sobe-an

[2021-08-10 18:40] #1908 closed, assigned to anonymousanemone

[2021-08-10 18:44] Sihemgourou commented on #1865
Perfect, thanks @kristine-eudey !

I'm closing this issue then :)

[2021-08-10 18:44] #1865 closed, assigned to kristine-eudey, daniellex0

[2021-08-10 18:45] kristine-eudey commented on #2057
Please see updated low/mid fidelity homepage design [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13774%3A92283), with changes made as per our discussion on 8/8.

[2021-08-10 19:54] Aveline-art commented on #2089
@kristine-eudey There seems to be overlap between this issue #2090 and #2091. It seems like one of them might be not needed?

[2021-08-10 19:55] ExperimentsInHonesty commented on #656
@christina245 did Mina get back to you with a review of the research plan. Please update this issue with whatever has happened.

[2021-08-10 19:56] ExperimentsInHonesty commented on #1343
Product needs to make new issues to add the above people to the website

[2021-08-10 20:00] #1823 closed, assigned to ahoang94

[2021-08-10 20:00] #1845 closed, assigned to ahoang94

[2021-08-10 20:09] minar68 commented on #656
Hi, Bonnie and Chriiitna,
I made a few comments on the file .

On Tue, Aug 10, 2021 at 12:55 PM Bonnie Wolfe ***@***.***>
wrote:

[2021-08-10 20:55] adam-abundis commented on #2010
### Agenda for August 10, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [x] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you f

[2021-08-10 21:46] adam-abundis opened #2097 "Update styling for 404 page (Mobile View)"
### Overview
Making styling changes for the mobile view of the 404 page so it matches the Figma design.

<details>
<br>
  <summary>Click here to see <strong>figma design (iPhone X view)</strong> with visual lines - black lines for margin, red lines for spacing</summary

![Screenshot 2021-07-26 095953](https://user-images.githubusercontent.com/21162229/127033059-1ba1a9df-3bca-4624-95cb-e1bdba4af603

[2021-08-10 23:52] #2058 closed, assigned to blakes24

[2021-08-11 00:48] #1482 closed, assigned to sena-ji

[2021-08-11 03:54] #2013 closed, assigned to macho-catt

[2021-08-11 03:59] Aveline-art opened #2100 "Refactor Javascript: Move events page js code to js folder"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Review the notes below to understand recent changes to our architecture
- [x] Move the code from [events.html ](https://github.com/hackforla/website/blob/gh-pages/pages/events.html)into the main

[2021-08-11 04:03] Aveline-art opened #2101 "Refactor Javascript: Move copy button js code to js elements folder"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Locate code for copy button [here](https://github.com/hackforla/website/blob/gh-pages/_guide-pages/github-issues.html)
- [x] Move the code to the elements directory in [assets/js](https://github.

[2021-08-11 04:38] Zhu-Joseph commented on #2043
• Progress: Assigned to myself, but will look into the issue for further details soon.
• Blockers: None so far.
• Availability: Random time here and there.
• ETA: I am thinking approximately 1 week, if not earlier.

[2021-08-11 15:45] Aveline-art commented on #1619
@aalieu It would help the design team answer your questions to have photos that highlight the context behind your questions (like screencaps with arrows or photos; [one humorous example](https://github.com/hackforla/website/issues/1908#issuecomment-877908152)). Thank you!

[2021-08-11 16:30] Abel-Zambrano commented on #1980
@Aveline-art I updated the issue. Let me know if more info is needed to clarify.

[2021-08-11 16:33] Abel-Zambrano commented on #1981
@Aveline-art All done.

[2021-08-11 16:40] adam-abundis commented on #1898
The `dependency` tag has been removed from #19

[2021-08-11 17:59] adam-abundis commented on #1898
Updated [How to create a page on the HfLA website](https://github.com/hackforla/website/wiki/How-to-create-a-page-on-the-HfLA-website) wiki page.

[2021-08-11 19:02] Aveline-art commented on #1981
@Abel-Zambrano I will also need more information on the overview and the resources to understand what the issue is about. What is the purpose of this issue? What need does this address for the team? What exactly is the context behind this task?

[2021-08-11 19:20] SaashaG commented on #1969
Progress: Design Ideation
Blockers: n/a
Availability: varied
ETA: TBD
See design option screenshots and linked [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3). Let me know your thoughts before I can move on.
![image](https://user-images.githubusercontent.com/83323065/129089902-64b53c32-0a62-46e6-9c4d-5d604187295b.png)

[2021-08-11 19:43] Sihemgourou commented on #2063
hey @Zhu-Joseph, I see that you are assigned to 2 issues. The process is that you only take 1 issue, and make sure your PR to be merged before taking another issue.

[2021-08-11 20:12] Zhu-Joseph commented on #2063
Hi @Sihemgourou, ok sorry about that! I'll just hold off for now until this issue gets merged.

[2021-08-12 02:32] PLoiya commented on #2064
We have added the overview link. Here is the link for the same - https://github.com/hackforla/product-management/blob/master/project-one-sheets/GreenEarthOS%20one%20sheet.pdf

[2021-08-12 02:34] PLoiya commented on #2064
We have a new team member. here is the info - https://github.com/hackforla/GreenEarthOS/issues/3#issuecomment-897300443

[2021-08-12 02:41] Abel-Zambrano commented on #1981
@Aveline-art I apologize, I had the wrong page referenced, it's the wins.html page. I updated the issue and provided more details. The purpose is to essentially clean the page and provide cleaner code for anyone working on that file.

[2021-08-12 03:16] aalieu commented on #1619
Uploading some pictures here so hoping that helps!

Design question 1:

The info icon presented in the designs had a watermark for the free version. I used a placeholder for now but it's a little bit blurry and doesn't look the greatest. Requested icon assistance from Ashley but still waiting on a response.

![first comp](https://user-images.githubusercontent.com/28831668/129132844-26bbb2ee-0376-4

[2021-08-12 05:27] adam-abundis commented on #1921
@hackforla/website-write Completed audit of all buttons on the HfLA website:
- **27** buttons using the `btn` class
  - **19** buttons that need to be refactored
  - **8** buttons that do not need changes

**Next Steps:** I will create an issue to standardize the 20 buttons within the [Google Sheets Button Inventory](https://docs.google.com/spreadsheets/d/1n3va-1kwGOCTP4JaXpL3TjgvS_2RWDkurb8PyCJSp

[2021-08-12 06:08] adam-abundis opened #2104 "Complete refactor/standardization of all buttons within Home Page"
### Overview
We need to refactor for buttons within the Home page from the recommendations in the CSS standardization spreadsheet (resource below) so that we have a consistent button appearance through the HfLA site.

### Action Items
- [x]  Make the 8 recommended edits for the buttons from the spreadsheet below (4 files will be updated)

1.  - [x] Update **line 4** of `website/_includes/donate-bu

[2021-08-12 06:40] adam-abundis commented on #1921
Created #2104 to track changes to HTML buttons.

[2021-08-12 06:43] adam-abundis commented on #1921
All tasks are complete for this issue.

[2021-08-12 06:43] #1921 closed, assigned to adam-abundis

[2021-08-12 16:13] kristine-eudey commented on #1619
@aalieu apologies for the delay on getting back to you regarding these design questions.

**Question 1:** Please use the high quality info icon shown in the [Misc. new images/icons ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=12314%3A95528) figma frame.

**Questions 2:** Please make the arrows in both the desktop and the mobile versions pink (the primary button c

[2021-08-12 16:16] kristine-eudey commented on #1398
@christina245

Please add an update to this issue:
- Progress
- Blockers
- Availability
- ETA

[2021-08-12 18:03] aalieu commented on #1619
@kristine-eudey

No worries!

For the first question, that was the original icon that I tried using but the free version contains a watermark which is what led me to finding a placeholder.

![image](https://user-images.githubusercontent.com/28831668/129245798-be23458f-2254-43a3-9908-3a264ed032d7.png)

 As for question 2, I'll update both arrows to pink.

Thank you for your response!

[2021-08-12 18:09] Aveline-art commented on #1904
### LIQUID

https://shopify.dev/api/liquid

[2021-08-12 19:07] kristine-eudey commented on #1619
@aalieu thanks for clarifying, I misunderstood. You should just be able to export the version from the Figma frame I linked to that doesn't have the attribution attached, as long as we credit that's okay.
<img width="1057" alt="Screen Shot 2021-08-12 at 2 57 53 PM" src="https://user-images.githubusercontent.com/16949503/129253450-badf4007-faa1-4e75-ac57-cc146e505ac0.png">
For the version below I e

[2021-08-12 20:06] ExperimentsInHonesty commented on #1797
Agenda for next meeting

Review this and decide when we will use https://github.com/hackforla/website/issues/1734
Update this issue with the links at the top.

[2021-08-12 20:32] ExperimentsInHonesty opened #2105 "Check current requirements for CCPA"
### Overview
As a leader of the Hack for LA org under Civic Tech Structure, I want to make sure we are compliant with current regulations on privacy (any in addition to privacy policy)

### Action Items
- [x] Read the Act and identify if there are specific requirements other than a privacy policy, specifically do we have to give people an opportunity to leave, or reduce cookies, etc.

### Resource

[2021-08-12 20:44] janieche commented on #2016
Progress: Started replicating desktop elements into the mobile design
Blockers: Would be good to understand best practices in noting down the spacing and sizing from "Inspect" step. I'm finding it very tedious so far and wonder if there's a more efficient way
Availability: Evenings and weekend
ETA: Next Thursday (8/19)

[2021-08-12 21:38] #1916 closed, assigned to nobody

[2021-08-12 21:38] #1881 closed, assigned to nobody

[2021-08-12 22:27] ExperimentsInHonesty commented on #2008
Next step for this is to identify size constraints of git installer and its dependents vs other methodology. and rewrite the contributing.md change to be about size.

[2021-08-12 22:33] elpen84 commented on #1577
• Progress: Completed
• Blockers: none
• Availability: 10am - 4pm pst
• ETA: created pull request for review.

[2021-08-12 22:52] kristine-eudey opened #2106 "HfLA: Design Meeting Agenda"
### Dependency
When we get a new design lead

### Overview
This issue tracks the agenda for the UX team's weekly Thursday meetings.

### Agenda Template:
Meeting: (DATE)

Participants:

**Things to discuss:**

**Things discussed:**

**Actions to take:**

### Weekly Agenda
[Meeting 8/12/21](https://github.com/hackforla/website/issues/2106#issuecomment-898030721)
[Meeting 8/19/21](https://github.com

[2021-08-12 22:54] abryant35 commented on #2007
Please update Malak Hmimy from Generalist to Data Analyst

[2021-08-12 23:09] kristine-eudey commented on #2106
Meeting: 8/12/21

**Participants:**
Anh, Basu, Simone, Sophia, Ava, Saasha, Kristin, Christina, Kristine

**Things to discuss:**
- Weekly Standup: Are you currently working on an issue?
      - If yes, what have you done on it since last Thursday?
       - Any blockers? Want feedback?
       - What do you plan to accomplish by next Thursday?
       - If no please take an issue tonight.
- Issues to

[2021-08-12 23:42] christina245 commented on #1398
Danielle had previously added a design for the checkboxes, so I'll be adding more. There currently aren't options for input design so I'll be adding those.

[2021-08-13 00:08] christina245 commented on #656
Resolved edits from @minar68. Sharing it on Slack to get more feedback from new team members.

[2021-08-13 00:13] Aveline-art commented on #2027
### Agenda for August 15, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Announce getting sample population for UX research team #2015
- [ ] Assign pull requests
- [ ] Go over creating issues. If need be a good 2nd issue to demo could be to move [this js script ](https://github.com/hackforla/website/blob/gh-pages/pages/events/events.html)to the js folder.
- [ ] Remin

[2021-08-13 03:41] averdin2 commented on #1407
@averdin2 Make a new comment about making the arrows pink from issue #1619

[2021-08-13 04:29] macho-catt commented on #2073
### Update

This is a list of items that I found to show up in the live site if the user knows the proper url:

1. pages/about
  - about-card-*.html files
2. pages/events
  - header-container-content.html
  - left-col-content.html
  - our-locations-content.html
  - right-col-content.html
3. pages/wins
  - wins-card-template.html
  - wins-filter-template.html
  - wins-hero.html
  - wins-overlay.htm

[2021-08-13 05:58] ktlevesque19 commented on #1343
Sorry, just seeing this, adding my info below:

Kristin Levesque
UX/UI Designer
GitHub: ktlevesque19
Slack ID: U022LSUKGNB

[2021-08-13 15:19] Aveline-art commented on #1891
### Agenda for August 19, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] How to organize the includes directory?
  - [x] Since some parts of a website will be reusable, how do we organize the files?
  - [x] If by page, how will we name the file if it is reused elsewhere?
  - [x] Should everything belong to includes ([see this for an example](https://github.com/hackfo

[2021-08-13 15:23] Aveline-art commented on #2032
Note: the meeting times does not account for all teams. Change the text to something like, "ask for help at your next meeting".

[2021-08-13 15:29] Aveline-art commented on #2032
Note: set the previous comment to hide (perhaps by an invisible html comment marker to identify whether the comment is created by the GHA).

[2021-08-13 15:37] Aveline-art commented on #2009
* Progress: Have not made it far in discussion, but will close once all issues are made.
* Blockers: None so far
* Availability: 2 hours
* ETA: By the end of today.

[2021-08-13 15:38] Aveline-art commented on #1378
* Progress: Done, except issues need to be made
* Blockers: None so far
* Availability: 2 hours
* ETA: By the end of today

[2021-08-13 15:41] Aveline-art commented on #2032
Note: also explain that it helps to also put pictures and questions on your issue so that people can help you, otherwise, the team will be lost. Use this as a reference: https://github.com/hackforla/website/issues/1619#issuecomment-897315561 or https://github.com/hackforla/website/issues/1908#issuecomment-877908152

[2021-08-13 16:37] sheltoG opened #2108 "Button to allow win submitter to donate"
### Dependency
- [x] ~thank you email process for wins to be set up.~ we decided this is not necessary at this point.
- [x] #1789

### Overview
When someone receives an email thanking them for submitting their win, there should be a button in the email that opens up the donation page so that they can potentially make a donation to HfLA so we can keep the organization going

### Additional Detail
P

[2021-08-13 16:49] ahoang94 commented on #1051
@kristine-eudey I can have this done by next Thursday's meeting, but I would first like some guidance as to the expectations for this new copy. What are we aiming for, compared to what's in the existing copy?

[2021-08-13 18:00] arghmatey commented on #1850
@abuna1985 Right now the design system page has an "Image page cards" subgroup and components have not been created for them. I believe both of them only appear on one page, and the defining css is on that pages scss file. I wanted to bring to your attention because I don't know if those are a part of the page-card standard or need their own issue.

[2021-08-13 18:02] arghmatey commented on #1927
Progress: Huge progress has been made since last update.
Blockers: Margins in Figma file will be changed. Image page cards have no standard component created.
Availability: Will hop back on when margins are fixed.
ETA: Dependent on blockers. Since this is only the prototype, I believe we can move on without the image page cards.
Pictures: See attached PR draft.

[2021-08-13 18:04] macho-catt opened #2109 "Moving html files from pages/about to _includes folder"
### Overview

We need to clean up how we are storing files so that they are not visible when we don't want them to be (specifically when they don't appear on the sitemap.  This includes components.

### Details
Opened as a continuation of #2073

Jekyll should not render the individual html files under pages/about if the main page, about.html, already includes and renders them in its body. Addition

[2021-08-13 18:13] macho-catt opened #2110 "Moving html files from pages/events to _includes folder"
### Overview
Opened as a continuation of #2073

Jekyll should not render the individual html files under pages/events if the main page, events.html, already includes and renders them in its body. Additionally, a user can reach the html through the url hackforla.org/pages/events/right-col-content.html, but this should be hidden.

### Action Items

- [x] Create a new directory under _includes called

[2021-08-13 18:19] macho-catt opened #2111 "Moving html files from pages/wins to _includes folder"
~~### Dependency
The feature branch wins-feature-1 needs to be merged first to avoid conflicts with solving this issue. Only work on this after that is done.
Specific blocking issues:
~~#2138~~
~~#2029~~
~~#1981~~
And check to see if there are any with [both Wins feature label and feature branch label]( https://github.com/hackforla/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22P-Feature%3A+Wins

[2021-08-13 18:20] #1378 closed, assigned to Aveline-art

[2021-08-13 18:22] macho-catt commented on #2073
New issues created:
#2109
#2110
#2111
Closing this issue

[2021-08-13 18:27] Aveline-art opened #2112 "Design System Audit: Swap colors with color variables: Reds"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the red colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (reds)
- [x] Identify an instance of the hard-coded co

[2021-08-13 18:28] #2073 closed, assigned to macho-catt

[2021-08-13 18:29] Aveline-art commented on #2112
@hackforla/website-merge As seen in the above action items, there are two files that lists our website's colors. One for the sass color variables, and the other for classes. What is the ideal use case for variables and the ideal use case for classes?

[2021-08-13 18:34] Aveline-art opened #2113 "Design System Audit: Swap colors with color variables: black, grey, and white"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the black, grey, and white colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (black, grey and white colors)
  -

[2021-08-13 18:39] Aveline-art opened #2114 "Design System Audit: Audit for hardcoded colors"
### Dependency
- [x] #4138
- [x] #2112
- [x] #2113
- [x] #2198
- [x] #2199
- [x] #2200
- [x] #2204
- [x] #2205

### Overview
We want to stop using hard-coded colors, and instead, use variables so future changes to colors in our color palette will be easier to implement on our website.

### Action Items
- [x] Check our entire code base for hard-coded colors (as opposed to a color variable).
  - [x]

[2021-08-13 19:26] Aveline-art commented on #2101
@hackforla/website-design How do we want the copy button to behave on the bottom of [this page](https://www.hackforla.org/guide-pages/github-issues) when clicked? In [Carbon](https://www.carbondesignsystem.com/components/breadcrumb/code) and [Bootstrap](https://getbootstrap.com/docs/5.0/components/breadcrumb/) the standard appears to be with a tooltip popup. Any thoughts, or should development dec

[2021-08-13 20:28] Basu3040 commented on #2015
Progress: We reviewed the "Homepage redesign Plan" and resolved most of the issues. Waiting for the PM team to give us feedback on the plan. Completed interview guide to interviewing donors, now we need to finish the survey questionnaire.
Blockers: None
Availability: 2-3 hours of collaborative and individual work
ETA: 8/16/2021

[2021-08-13 20:31] Basu3040 commented on #2015
We are looking for potential donors to get started with the interview process and survey. We reached out to the dev team and our team for possible leads.

[2021-08-14 01:46] anonymousanemone commented on #2068
1. Found the code that needs to be moved (I think), currently researching exactly what to do with the code using previous issues.
2. Lack of technical knowledge
3. 5 hours
4. By next Sunday
5. N/A

[2021-08-14 01:48] anonymousanemone commented on #2021
1. Starting to work on copy of form, need to familiarize with the form and it's parts
2. I don't see the square button in the Figma? (when I go on the website, I see it, but I'm not sure where I should put that in in Figma)
3. 5 hours
4. By next Sunday

[2021-08-14 02:53] #1978 closed, assigned to JackRichman

[2021-08-14 03:11] Aveline-art commented on #2032
Note: have instructions to swap the labels from 'To Update !' to "Status: updated'

[2021-08-14 16:29] Abel-Zambrano opened #2116 "Refactor JS: Move script from wins page into js directory"
### Overview
We need to separate `<script>` code from `wins.html` into a separate folder so we can better maintain and reuse our JavaScript code.

### Action Items

- [x] Review the notes below to understand recent changes to our architecture
- [x] Move line 25-280 from the `/pages/wins/wins.html` into a new js file in the assets/js main directory. it should be something like `/assets/js/wins.js`.

[2021-08-14 18:20] Aveline-art opened #2117 "Refactor JS: Move hamburger-nav html script to the js folder"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html.

### Action Items

- [x] Review the notes below to understand recent changes to our architecture
- [x] Move the script code [here](https://github.com/hackforla/website/blob/gh-pages/_includes/hamburger-nav.html) to a JS

[2021-08-14 18:21] #1584 closed, assigned to mehmehmehlol

[2021-08-14 20:19] #2075 closed, assigned to blakes24

[2021-08-14 23:52] adam-abundis commented on #1920
@MariannaAskova Are you still working on this issue? I do not see an update for 2 weeks now.

[2021-08-14 23:55] adam-abundis commented on #1950
@jbubar Are you still working on this? I do not see an update for 2 weeks.

[2021-08-15 00:01] adam-abundis commented on #1984
@lorenzejay Are you still working on this issue? I have not seen 3 updates for the last 3 weeks.

[2021-08-15 00:07] adam-abundis commented on #1982
@HiThereImCam Are you still working on this issue? I do not see any updates.

[2021-08-15 00:10] grhhhh commented on #2064
Progress: Project completed and pending review
Blockers: NA
Availability: I will be available during the coming week should any corrections or review be necessary
ETA: Pending Review
Pictures:
<img width="50%" alt="Screen Shot 2021-08-14 at 4 09 01 PM" src="https://user-images.githubusercontent.com/79604590/129463075-b06475d6-545e-47a3-b8fb-a682440fa0d9.png">
<img width="75%" alt="Screen Shot 2021

[2021-08-15 00:12] adam-abundis commented on #1850
Update 8/14/2021
1.  Progress: Completed #1352. Created issue #2061, #2104.
2. Blockers: No difficulties encountered.
3. Availability: Sunday afternoon, Tuesday evening, Thursday evening.
4. ETA: 4 weeks
5. Pictures: N/A

[2021-08-15 06:04] abenipa3 commented on #2014
Progress:

- Tested on squash.io and Travis CI to compare which is most feasible.
- Learned that netlify may be an alternative option for building a staging environment for our website. [[Sources](https://eduardoboucas.com/blog/2017/02/22/jekyll-staging-environment.html)]

Blockers:

- I realized this issue requires a bit of a learning curve on my end, including understanding how .travis.yml works

[2021-08-15 06:13] abenipa3 commented on #1630
Progress: Testing [markdown converter](https://github.com/hackforla/guides/issues/10). Updating prototype so that front matter locates image path so that we can achieve the [format we want for markdown file](https://github.com/hackforla/guides/issues/10#issuecomment-896934745).

Blockers: Learning more about liquid so that we can achieve the format as mentioned earlier.

Availability: 8-10 hours

[2021-08-15 06:34] SAUMILDHANKAR commented on #1975
Progress: I have created a new pull request for the issue. I have made the changes to the homepage and request a review.
Blockers: new learnings
Availability: 20 hrs
ETA: this week
Pictures: ![before](https://user-images.githubusercontent.com/843538/129469450-45063b72-3f90-4410-b2cb-44689049c3e2.PNG)
![after](https://user-images.githubusercontent.com/843538/129469449-1c4d9fa6-df6d-4fc9-b77d-28993a

[2021-08-15 07:37] smithasindagi commented on #1888
Un-assigning the task, please assign to someone available at this time.

[2021-08-15 16:24] HiThereImCam commented on #1982
@abuna1985 sorry I got really busy during my job search. I have time in the next 2 days to finish this. I can update then.

[2021-08-15 17:13] kristine-eudey commented on #1969
[Footer design versions](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14021%3A92886) are ready for feedback by product & dev.

[2021-08-15 17:14] adam-abundis commented on #1982
@HiThereImCam No worries. I completely understand. I just wanted to check-in. Just remember to update the issue (even if there is nothing new to update).

[2021-08-15 17:17] kristine-eudey commented on #2057
Most recent update to homepage redesign here: [Homepage Redesign 8/15/21](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14020%3A92817) Most current design is in pink rectangle.

[2021-08-15 17:22] kristine-eudey commented on #2016
@janieche action items for this issue have been updated to reflect answers to your above questions. Please let me know if you have any additional questions.

[2021-08-15 17:22] abenipa3 commented on #1515
Update from 8/15/2021's Meeting:

- [ ]  Make the sample issues into actual issues. (We want to be able to tell that it works when it's a real issue.)
- [x] Add submenus to the 2FA's FAQ.
- [ ] Update the page cards so that there's padding. Refer to HfLA's About Section as a reference.
- [x] Replicate the full guide of [How to Make a Guide](https://docs.google.com/document/d/1-8gmeC-wnfM8C8fVvmTP1

[2021-08-15 17:25] ExperimentsInHonesty commented on #2008
@JasonUranta  Please provide any update you have related to this issue in this issue.

[2021-08-15 17:32] kristine-eudey commented on #1051
@ahoang94 I will update this issue by EOD on 8/15/21 with further clarification about expectations for the new copy.

[2021-08-15 17:39] adam-abundis commented on #2117
@Aveline-art closing this issue because #1970 was made to address the alt text within the credits page.

[2021-08-15 17:41] sobe-an commented on #2063
@Aveline-art Please could you let us know why this issue was closed.

[2021-08-15 17:42] #2063 closed, assigned to Zhu-Joseph

[2021-08-15 18:27] ExperimentsInHonesty commented on #2112
@Aveline-art This needs to be broken out into multiple issue
the issue should be to audit one specific color to see which pages it appears (annotating in issue) and then changing all of those pages - in one pr.

[2021-08-15 18:47] ExperimentsInHonesty commented on #1979
@ktlevesque19 we have chosen Second button option and "next steps" as the text

[2021-08-15 19:07] ExperimentsInHonesty commented on #1969
@SaashaG I left a note in the figma file about preferring a version without the part that looks like this

Caps or no caps up to team and UX Research

How to order menu (either using top menu or making a new sort order) to be determined by user testing.

[2021-08-15 19:14] abenipa3 commented on #2027
### Post-meeting notes, August 15, 2021

<details>
<summary>Click for notes</summary>
<be>

Meeting started at 11:42 AM

- Designated a note-taker who will follow up on issue creation:
    - Alyssa Benipayo
- Announced getting sample population for UX research team Homepage Research - Donors / Partners / Advisors #2015
    - UX is in a research phase now.
    - They want to interview them so that

[2021-08-15 19:31] ExperimentsInHonesty commented on #815
Next step is for product to review the existing design and make sure it fits the purpose.  Then remove label and add notes and send to design by putting a design label on and asking Kristine to review

[2021-08-15 19:46] ExperimentsInHonesty commented on #2096
The email needs to be specific to this team
Brainstorm:
~hfla-site-research@hackforla.org~
~hflasiteresearch@hackforla.org~
siteresearch@hackforla.org

[2021-08-15 21:05] aalieu commented on #1619
@kristine-eudey

Awesome, thank you for your help!

[2021-08-15 23:49] ExperimentsInHonesty commented on #2096
@kristine-eudey I setup the email and added it to 1 password.  During our next meeting we I can add all the other people who who need access to the folder, and we can setup forwarders in the email that will send any mail that comes in to each of the people on the team that need it. More details during meeting.

[2021-08-16 05:08] Aveline-art commented on #2112
@ExperimentsInHonesty We currently have [nearly 40 colors](https://github.com/hackforla/website/blob/gh-pages/_sass/elements/_color-styles.scss). I feel that that might be too many issues, especially for one person to create, even with a template. I had made this issue to complete the unfinished task from #1378 , and have made a follow up audit with #2114. I want to confirm that this absolutely mu

[2021-08-16 05:22] Aveline-art commented on #2014
@alyssabenipayo To answer your question: you can create a document in the drive with your findings, and I trust you will find an appropriate place to house this information. That said, I also prefer the findings to be documented here, if possible, and if not, at least linked at the top issue.

I have also looked into, briefly, at the GitHub API to see if it would be possible to write a program tha

[2021-08-16 05:39] Aveline-art commented on #2100
@abuna1985 I feel this issue can be turned into a standardization for dropdown issue. Any thoughts?

[2021-08-16 06:50] #1577 closed, assigned to elpen84

[2021-08-16 07:02] #1033 closed, assigned to adrian-zaragoza

[2021-08-16 15:58] Aveline-art commented on #2117
@abuna1985 I never intended for this issue to be ready for review by an entity outside of me (hence the the back and forth removal of the 'ready for milestone' label). I had noticed the duplicate issue and was going to repackage this as a different issue. Is there a way for me to mark an issue as a draft so that it is safely ignored?

[2021-08-16 16:34] ExperimentsInHonesty commented on #2008
**Jason's notes**
The download link for [Git](https://git-scm.com/book/en/v2/Getting-Started-Installing-Git) in the current contributing.md (located under fork instructions) mentions several ways to install Git on a Mac (easy and more up-to-date version).

Having two options can lead to confusion for new members: it is possible that some people will see the option to use the most up to date versio

[2021-08-16 16:49] ExperimentsInHonesty commented on #2008
Current wording
Before cloning your forked repository to your local machine, you must have Git installed. You can find instructions for installing Git for your operating system [here](https://git-scm.com/book/en/v2/Getting-Started-Installing-Git).

Suggested improvement is to rewrite:
Before cloning your forked repository to your local machine, you must have Git installed. You can find instruction

[2021-08-16 16:52] adam-abundis commented on #2117
My bad. We were reviewing #1970 and were requested to close this. I'll reopen it and you can make the changes you need. It should be fine in the New Issue Approval column. Once it's ready add the 'Ready for Milestone' tag so product can move it to the appropriate column.

[2021-08-16 16:54] Andan-Eddy opened #2122 "Update Project Profile: Expunge Assist"
### Overview
As a product manager of Expunge Assist I want my project's details to be up to date on the HackforLA website. We would like to change the images for our project card and hero image.

**Note:** Replacement images can be found in the first comment below.

### Project details on HfLA site
Live Project Page: https://www.hackforla.org/projects/expunge-assist
Project md file: https://github

[2021-08-16 16:58] Andan-Eddy commented on #2122
Update project card image and hero image

current project card:
https://www.hackforla.org/#projects

replacement image:
![image](https://user-images.githubusercontent.com/78319934/129600930-f61f3834-4b25-4c18-809e-1cf3475271ec.png)

current Hero image:
https://www.hackforla.org/projects/expunge-assist

replacement image:
![image](https://user-images.githubusercontent.com/78319934/129600976-e2b15ce

[2021-08-16 18:47] Basu3040 commented on #2096
basudharas@gmail.com

[2021-08-16 20:04] PamelaLi36 commented on #2096
pli36@jh.edu

[2021-08-16 20:05] sacamp commented on #2096
onesimcam@gmail.com

[2021-08-16 20:33] adam-abundis commented on #2010
### Agenda for August 17, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you f

[2021-08-16 22:05] HiThereImCam commented on #1982
@abuna1985 update- I was following the steps on how to work off a feature branch but ran into a git issue. I contacted @jbubar and we'll be working on the issue together tomorrow.

[2021-08-17 11:18] abenipa3 commented on #2014
@Aveline-art Thanks for your feedback! Here is a documentation of my findings below.

## Findings

<details> <summary> squash.io </summary>

- Steps I took to Test and Research:
   - Created an account.
   - Selected “New Deployment.”
- Testing:
   - Tested the hfla/website forked to my repo and this is the result.
![image](https://user-images.githubusercontent.com/38295612/129712832-83b572cf-c586

[2021-08-17 13:50] kristine-eudey commented on #1051
@ahoang94 please see updated guidance for copy in the Resources/Instructions section of the issue, and let me know if you'd like to discuss or need more context.

[2021-08-17 14:45] kristine-eudey commented on #1969
@SaashaG  Feedback from all-team meeting on 8/15/21:

- The preference is for either option 1 or 2, the simplest versions (those without the top horizontal nav.) No top nav, no divider line, keep it as simple as possible.
- Add “About us” and “Press to main menu
- “Project team meetings” and “Our Locations” should be replaced with “Events” page
- Design two different versions and user test these t

[2021-08-17 15:24] kristine-eudey commented on #2096
kristine.eudey@gmail.com

[2021-08-17 15:58] cnk commented on #2014
The lack of style on the Netlify site is because the style sheet and JS references also have the 'extra' part in the url. The stylesheet is at https://pages-clone-test.netlify.app/style.css but the reference to it from the web page is https://pages-clone-test.netlify.app/pages-clone-test/style.css.

Where is "pages-clone-test" coming from? is that the branch name?

[2021-08-17 17:41] kristine-eudey commented on #1797
PM-Design Meeting 21/08/17

Participants: @ExperimentsInHonesty @kristine-eudey @Basu3040 @kevngaleu @sheltoG @sobe-an

**Things to discuss:**
Basu agenda items:
- Add research team to 1Password for siteresearch@hackforla.org
- Clarification on Homepage redesign Business Plans and KPIs
- How to reach out to more people to conduct donor interviews and conduct a short survey?
- Can we have a schedul

[2021-08-17 17:49] kristine-eudey commented on #2106
Meeting: 8/19/21

Participants: Kristine, Anh, Basu, Simone, Ava, Alyssa

**Things to discuss:**

- Updated process for completing an issue
  - What to do when you're finished with an issue:
    - Make a comment on the issue alerting that you've completed the design portion of the issue.
    - Leave issue open and drag it to the UAT column. That is where design lead will look to approve completed

[2021-08-17 18:02] Basu3040 commented on #2015
Progress: "We have made changes to the Homepage redesign plan based on the suggestions of PMs. We still have a few questions that will be discussed in the meeting.
Blockers: A few questions on KPIs
Availability:  2 hours of collaborative and  1 hour of individual work
ETA: 8/23/2021

[2021-08-17 19:32] ExperimentsInHonesty commented on #1797
@Basu3040 will decide what message needs to be sent to the general channel... something like this
[code]

[2021-08-17 19:48] #1697 closed, assigned to kristine-eudey

[2021-08-17 20:08] ExperimentsInHonesty commented on #2096
Next steps

- [x] For people invited to 1 password to accept
- [x] Bonnie to confirm them in 1 password and add to vault
- [x] for one person to log into the email address and add everyone as a forwarder.

[2021-08-17 23:23] blakes24 opened #2125 "Adjust footer position"
### Overview
We need to move the footer to a fixed position at the bottom of all pages so we can have a consistent look for the page footer no matter the width of the page (all breakpoints).

- [x] **Redirect page**: issue is present for all screen sizes
<details>
<summary>Redirect Page screenshot </summary>
<img width="1436" alt="Screen Shot 2021-08-17 at 3 14 21 PM" src="https://user-images.gith

[2021-08-18 02:08] abenipa3 commented on #2014
Thanks for your feedback, Cynthia! I updated it by deleting the base URL from the prototype's config.yml and it works now.

https://pages-clone-test.netlify.app/

The "pages-clone-test" is a prototype I made from my repository for testing.

[2021-08-18 02:16] macho-catt commented on #1920
We're putting this back to the backlog for the time being since the issue has not been worked on for two weeks.

[2021-08-18 02:17] macho-catt commented on #1950
Will contact @jbubar about the issue. If there's no contact, we will recycle the issue.

[2021-08-18 03:10] abenipa3 commented on #2014
Update from this meeting 8/17/21:

Comments:
- We're not sure how to resolve the issue with Travis CI. We discussed adding a Gem File to it, which I've initially done, but still didn't work.
   - Note: If anyone has any input or experience in Travis CI, please let us know.
- Github API will require programming and may take some time to build.
- Squash.io will be our last option since 30 hours a mo

[2021-08-18 03:40] ExperimentsInHonesty commented on #1911
@hackforla/website-design   I looked at the figma link provided above and check the blue section of the figma page and could not find the new icons.

[2021-08-18 05:09] arghmatey commented on #2079
@kristine-eudey The first action item is a duplicate of #2084. Can you please adjust this issue to be fixing the green circles only?

[2021-08-18 05:43] Aveline-art commented on #2116
@Abel-Zambrano This is no longer an issue, as it has been fixed as part of a recent PR. I will recycle this issue into a different issue.

[2021-08-18 06:17] Aveline-art opened #2127 "Tailor GHA message to improve workflow and individual responsibility when creating issues"
### Overview
As a developer, I want to have the messages posted by the GHA-bot to motivate proper behavior to ensure a smooth team workflow. For this issue, we need to tailor the message that an issue creator will see when one or more feature, role, or size labels are missing upon new issue creation.

### Action Items

#### Product

- [x] Review the message from [add-labels-template.md](https://gi

[2021-08-18 09:41] abenipa3 commented on #1515
Additional Notes from Previous Update:
- [ ] Check the headings for each section title.
- [ ] Styling not applied to subsections of the navbar in mobile and tablet. Need to update.
- [x] Edit the indentation of the subsections (See JavaScript).

[2021-08-18 15:16] jbubar commented on #1950
Pretty sure that this is done. Sorry for being mia

[2021-08-18 15:16] #1950 closed, assigned to jbubar

[2021-08-18 15:53] macho-catt commented on #2125
@blakes24 Could you specify the screen sizes you found the issue on for the three pages? Thanks!

[2021-08-18 16:48] ExperimentsInHonesty commented on #1940
- [ ]  When the "Feature Branch" label is added during issue creation, the additional text is added.
- Feasibility: Low for adding things to the top comment on an issue by adding label, not by editing because github does not the top portion of an issue (where original issue is described) as a comment
  - Example:
this link is the top of this issue https://github.com/hackforla/website/issues/1940#i

[2021-08-18 16:49] abenipa3 commented on #1630
# Action Items from 8/18/21 Meeting

In addition to the checklist mentioned in #1515:

- [x]  Add the [Slack Reminders Guide V4](https://docs.google.com/document/d/1YxwE3Edz7xXPVZ156wbIaPlQj7UUssIWN-ctTqbBilE/edit) into the prototype. (Issue for this guide also viewed [here](https://github.com/hackforla/knowledgebase-content/issues/84).)

<details> <summary> Update 8/19/21 </summary>

- _How to Se

[2021-08-18 16:58] ExperimentsInHonesty commented on #1940
@Aveline-art @Zak234 Also forgot to mention that we checked the edit revision history feature of github and you can delete the history but not roll back the edits, so that avenue was a bust.

[2021-08-18 18:27] HiThereImCam commented on #1982
@abuna1985 Hi Adam, is the current image below what you're looking for?
![current-wins-modal](https://user-images.githubusercontent.com/9407189/129952122-cd59192c-7e67-4df4-ae3b-625132927e2e.jpg)

The reason why I'm asking is because I took a look at the CSS and the icons/columns were already centered.

[2021-08-18 18:53] Aveline-art commented on #1940
@ExperimentsInHonesty @Zak234

Thinking about this further, I believe that there are actually two triggers for this action. I have simplified the issue, and hopefully it is a lot more doable. [This action ](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/add-missing-labels-to-issues.yml)by @macho-catt does most of the tasks required for this action (read the labels of a newly

[2021-08-18 19:26] ExperimentsInHonesty opened #2128 "Feasibility: Test out the new issue forms"
### Overview

As an admin on the team, we need to find the ways in which we can leverage the new issue forms feature of GH for our purposes.

### Action Items
- [x] Research the new [issue forms feature](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms).
- [x] In the below Feasibility Tests, tick off features that are confir

[2021-08-18 19:27] ExperimentsInHonesty commented on #2128
Draft that Akib made
[code]

[2021-08-18 19:37] sheltoG commented on #1407
@averdin2 please rewrite the overview to be a user story.

We need to do x for y reason

[2021-08-18 19:41] sheltoG commented on #2061
@abuna1985
Please rewrite the overview as a user story

Ex: We need to do x for y reason.

[2021-08-18 19:48] sheltoG commented on #2080
@hackforla/website-merge This issue needs more specificity for the medium level. Please edit to provide the names of the file the person would need to make changes to and any other edits that are necessary.

[2021-08-18 19:59] sheltoG commented on #2112
Per @abuna1985 and @ExperimentsInHonesty conversation this issue will get rewritten.

[2021-08-18 20:00] sheltoG commented on #2113
Per @abuna1985 and @ExperimentsInHonesty conversation this issue will get rewritten.

[2021-08-18 20:02] sheltoG commented on #2104
@abuna1985 please break this down into a separate issue for each page effected.

[2021-08-18 20:28] ExperimentsInHonesty commented on #950
Monday

- [ ] 12:00 pm - 1:00 pm Open Community Survey Team Meeting
   - [ ] Time
   - [ ] Name
   - [ ] Link resolves to
   - [ ] Needs to be removed from site
- [ ] 3:00 pm - 4:00 pm Food Oasis Management
- [ ] 6:00 pm - 7:00 pm Lucky Parking Team Meeting
- [ ] 6:00 pm - 7:00 pm Expunge Assist Team meeting on 1st & 3rd Mondays/PM on all other Mondays
- [ ] 6:00 pm - 8:00 pm Civic Tech Index Team

[2021-08-18 21:13] blakes24 commented on #2125
@macho-catt The issue has been updated to include screen sizes and an additional page.

[2021-08-18 21:26] adam-abundis commented on #1982
@HiThereImCam I would refer to the [Figma Design for the wins page(the examples in the blue border)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1209%3A0). The image above seems to match the design for the modal.

[2021-08-19 01:42] Aveline-art commented on #1891
### Post-meeting notes, August 19, 2021

<details>
<summary>Click for notes</summary>
<br>

Start 7:35 PM

How to organize the includes directory?

- Big changes should be scheduled to avoid merge conflicts.
- Should everything be in includes directory?
- Research on folder structure might be helpful.
- Might be made similar to the structure of assets folder.

Overview link at every project card n

[2021-08-19 01:43] Aveline-art commented on #1891
### Agenda for August 26, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Create a pro/con list to [merging the wins-feature-1 branch](https://github.com/hackforla/website/pull/2140).
  - [x] Is the wins-feature-1 branch good or are there more bugs to fix?
  - [x] If not merged, what is the estimate on the technical debt that will accumulate due to merge conflicts?

[2021-08-19 02:56] #2044 closed, assigned to benrempel

[2021-08-19 02:58] #2043 closed, assigned to Zhu-Joseph

[2021-08-19 03:00] #2110 closed, assigned to macho-catt

[2021-08-19 03:09] #1975 closed, assigned to SAUMILDHANKAR

[2021-08-19 03:44] macho-catt commented on #1984
This may have been fixed already by @jbubar because I cannot see the issue on my environment as well. Josh, can you confirm?
For now, we can un-assign @lorenzejay from this.

[2021-08-19 16:09] ExperimentsInHonesty commented on #2008
Current wording
Before cloning your forked repository to your local machine, you must have Git installed. You can find instructions for installing Git for your operating system [here](https://git-scm.com/book/en/v2/Getting-Started-Installing-Git).

Suggested improvement is to rewrite:
Before cloning your forked repository to your local machine, you must have Git installed. You can find instruction

[2021-08-19 18:07] sheltoG commented on #950
**WIP: Below is the audit checklist for reviewing meeting links on Hfla webpage.**

**Monday**

- [x] 12:00 pm - 1:00 PDT pm Open Community Survey Team Meeting
- [x] 3:00 pm - 4:00 pm Food Oasis Management
- [x] 6:00 pm - 7:00 pm Lucky Parking Team Meeting
- [x] 6:00 pm - 7:00 pm Expunge Assist Team meeting on 1st & 3rd Mondays/PM on all other Mondays
- [x] 6:00 pm - 8:00 pm Civic Tech Index Team

[2021-08-19 19:59] #1948 closed, assigned to blakes24

[2021-08-19 22:59] kristine-eudey opened #2129 "Update link and copy on 404 page"
### Overview
We need to update the 404 page so that it offers visitors more helpful links when they reach this page so that they can get back on track and find what they're looking for.

### Action Items

- [x] Duplicate Error page (both desktop and mobile versions) in Figma and make the below listed changes:
- [x] Replace the link to "Join Us" with a link to the sitemap page.
- [x] Update the cop

[2021-08-19 23:12] kristine-eudey opened #2130 "Gather .svg files for icons of technologies used at HfLA"
### Overview
We need .svg files of the icons for as many of the technologies used in HfLA projects, so that users exploring our projects by technology can get a quick sense of the technologies we use. This will support the homepage redesign.

### Action Items

UI/UX:
- [ ] Refer to the list of technologies in the Projects Page dropdown
- [ ] Locate .svg files for the icons of each of the technolog

[2021-08-20 02:30] SAUMILDHANKAR commented on #2093
@adrian-zaragoza Please move your issue to the in progress column by @Aveline-art

[2021-08-20 03:41] ExperimentsInHonesty commented on #2032
@Aveline-art Option 1 please

[2021-08-20 05:15] jbubar opened #2135 "Wins page remaining issues"
### Overview

We need to group action items for the `wins-feature-1` branch and Wins page. We will convert each action item into an issue and create a pull request to close the corresponding issue.

### Action Items
<i>The following actions are in order</i>
- [x] #2029
- [x] #2138
- [x] #2176
- [ ] refactor code if so inclined
- [ ] do a page audit after it is live
- [x] #2021
- [x] #2246
- [ ] pu

[2021-08-20 05:20] jbubar commented on #1981
Closing issue and rewriting it. Sorry @Abel-Zambrano and everyone if this was a headache. you are doing great

[2021-08-20 05:20] #1981 closed, assigned to macho-catt

[2021-08-20 05:30] jbubar opened #2137 "Fix a tiny thing with the wins page - hard to explain"
### Overview
When in mobile and a wins card has little text (such that there is no `...see more`), the see less does not show up.

### Action Items
- [x] figure out why
- [x] fix it

[2021-08-20 05:33] jbubar opened #2138 "Discussion to merge `wins-feature-1` branch"
### Overview
We need to determine whether we merge the `wins-feature-1` branch so that we can stop using feature branch instructions. The wins page is ready to merge now, but we should have a consensus to move forward with merging `wins-feature-1` branch.

### Action Items
- [ ] Discuss `benefits` of merging `wins-feature-1` branch
- [ ] Discuss `setbacks` for merging `wins-feature-1` branch
- [ ]

[2021-08-20 06:14] Aveline-art opened #2141 "Assess safety of website from liquid injections"
### Overview
As a developer, we must investigate new potential sources of attack, so that we can defend against them.

### Action Items

- [x] Read up on [this article ](https://mrcoles.com/inlining-json-jekyll-liquid-template/)to understand liquid injections.
- [x] Investigate the sources of our various JSON data that will be displayed on our website.
- [x] Find out how easily it would be for an

[2021-08-20 06:15] #2137 closed, assigned to macho-catt

[2021-08-20 06:36] #1984 closed, assigned to nobody

[2021-08-20 06:38] jbubar commented on #1984
Could not replicate either. I might have been fixed by accident w my last pr

[2021-08-20 06:42] HackforLABot opened #2142 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-08-20 06:47] HackforLABot opened #2143 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-08-20 07:15] anonymousanemone commented on #1993
Footer has been updated to match with live version of website.

[2021-08-20 07:15] #1993 closed, assigned to anonymousanemone

[2021-08-20 15:32] Basu3040 commented on #2015
Progress: PM team will review the interview guide
Blockers: None
Availability: 2 hours of collaborative and 1 hour of individual work
ETA: 8/23/2021

[2021-08-20 15:34] Basu3040 commented on #1797
[code]

[2021-08-20 15:56] kevngaleu commented on #1879
Everything has been properly updated on this issue. I will remove the "to update" label and move it to the "Done" column of the project board.

[2021-08-20 17:20] macho-catt commented on #2029
The fix is to add the accompanying .map file that the polyfill is supposed to come with. :D

Source: https://www.html5rocks.com/en/tutorials/developertools/sourcemaps/

[2021-08-20 17:29] macho-catt commented on #2138
- First bullet point for reasons not to merge can be fixed by this PR: #2144

[2021-08-20 17:34] abenipa3 commented on #1630
# Action Items from 8/20/21 Meeting

- [x] Create mock-ups of Guide Page before Sunday.
<details><summary> Update 8/22/21 </summary>

Created these mockups so far.

![image](https://user-images.githubusercontent.com/38295612/130365119-9c2a135a-8515-44da-837c-005527fa289a.png)

![image](https://user-images.githubusercontent.com/38295612/130365125-94d2bf2b-81e8-4dcc-96c9-43640ef37791.png)

[Figma FI

[2021-08-20 17:35] abenipa3 commented on #1515
# Update 8/20/21

Will be redesigning the Guide Pages as mention in #1630. Status of this issue: TBD

[2021-08-20 17:47] Aveline-art opened #2145 "Migrate Wins Data: Create both AF and KVF data structure"
### Overview
As a developer, to turn the wins card into a reusable component, we must first be able to generate a wins-data.json file of a more specific format than our current one. For this issue, we will create a new file with a more specific format for our repo in preparation for a data migration. This issue is part of a series that aims to migrate us to the more specific format.

### Action It

[2021-08-20 17:54] Aveline-art opened #2146 "Migrate Wins Data: Migrating from AF to KVF data structure"
~~### Dependency~~
~~#2145~~

### Overview
As a developer, to turn the wins card into a reusable component, we must first be able to generate a wins-data.json file of a more specific format. This issue is part of a series that aims to migrate us to the more specific format.

### Action Items

- [x] Read the resources/instructions below to understand your task.
- [x] Find areas in our codebase wher

[2021-08-20 17:56] Aveline-art opened #2147 "Google Apps Script: Migrate Wins Data - Stop generation of AF file"
Dependency
- [x] #2146
- [x] #3641
- [x] #4134

### Overview
As a developer, to turn the wins card into a reusable component, we must first be able to generate a wins-data.json file of a more specific format. This issue is part of a series that aims to migrate us to the more specific format.  The file `_wins-data.json` now implements the new data format, and so the file `wins-data.json` can be rem

[2021-08-20 17:59] Aveline-art opened #2148 "Google Apps Script: Migrate Wins Data - Delete AF file"
### Dependency

- #2147
- #4134
- #3641

### Overview
As a developer, to turn the wins card into a reusable component, we must first be able to generate a wins-data.json file of a more specific format. This issue is part of a series that aims to migrate us to the more specific format.

### Action Items

- [ ] Read the resources/instructions below to understand your task.
- [ ] Delete the AF versio

[2021-08-20 18:03] abenipa3 commented on #2014
- Progress:
     - Successfully deployed cloned website onto Netlify.
        - The only change made in the repo for it to work is adding a GemFile.
     - Will research and test how it works with forked repos.
- Blockers: None.
- Availability: 8
- ETA: 8/26/21
- Link: https://cloned-hfla-site.netlify.app/

[2021-08-20 18:05] ahoang94 commented on #1051
1. Progress: No progress thus far, but this will change soon.
2. Blockers: There was some uncertainty about the aims of the copy, but I believe I now have it figured out.
3. Availability: Can work on this issue over the weekend.
4. ETA: I hope to have a first draft done by Sunday's meeting (8/22) at the earliest, or mid week at the latest.

[2021-08-20 19:07] Aveline-art commented on #2009
* Progress: Made more issues. Only a few remains.
* Blockers: Some issues requires more discussion than anticipated.
* Availability: 2 hours
* ETA: Unsure.

[2021-08-20 20:24] Aveline-art commented on #1571
Unassigned due to inactivity. @gr4ssman Feel free to jump back in on an issue once you are ready to contribute!

[2021-08-21 00:34] blakes24 commented on #1920
### Update

1. Progress: Pull request made
2. Blockers: None
3. Availability: open
4. ETA: pending review
5. Pictures:

<img width="387" alt="Screen Shot 2021-08-20 at 11 49 09 AM" src="https://user-images.githubusercontent.com/62186905/130304747-a5785c25-1090-4c0b-9770-ee3688396c45.png">

[2021-08-21 00:36] adrian-zaragoza opened #2151 "Update Contribution File to add PR to Project Board"
### Overview
We need to add instructions  to add pull requests to the Project Board in order for PMs to be able to monitor pull requests.

### Action Items
- [ ] Add the sentence: "On the right sidebar, in Projects, click the gear and assign Project Board to the pull request."
at the end of this paragraph
![image](https://user-images.githubusercontent.com/77212035/130304822-a1777e28-e157-45b6-be6c

[2021-08-21 01:14] Aveline-art commented on #2014
Notes on Travis CI deployment:

- Travis CI does not actually host the repo.
  - TCI actually only test for builds against certain configurations and allows some level of testing in between builds.
    - This is useful for the dev-team but not the design team.
  - In order to host, it needs to [push the successful build to a hosting website](https://docs.travis-ci.com/user/deployment/pages/)...suc

[2021-08-21 01:56] JackRichman commented on #2077
@ExperimentsInHonesty could not replicate

[2021-08-21 02:04] JackRichman commented on #1407
@averdin2 Bonnie said she will rewrite this issue so that I can start working on it now.

[2021-08-21 02:14] janieche commented on #2016
1. Progress: Completed. The mobile version is in the yellow box and I have 4 options for the Sustainability Development Goals cards to choose from.
2. Blockers: None
3. Availability: na
4. ETA: na
5. Pictures:
<img width="140" alt="Screen Shot 2021-08-20 at 8 14 23 PM" src="https://user-images.githubusercontent.com/12770042/130307413-51430a73-6b7c-4695-af9f-c68afb04d6d5.png">

[2021-08-21 16:48] ExperimentsInHonesty commented on #1892
@glenflorendo I moved this to in progress.  You need to do that when you self assign.  Also, you need to indicate what your availability is for the next week and when you think this issue will be completed.

[2021-08-21 16:56] Aveline-art commented on #2027
### Agenda for August 22, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Assign pull requests
- [x] Go over the new issue approval board
- [x] Reminder to give a status report by the Sunday meeting

[2021-08-21 18:03] Aveline-art opened #2153 "Refactor JS: Delete unused hotjar code"
### Overview
We need to remove the script tag containing Hotjar tracking details so that we remove code unnecessary code from the codebase.

### Action Items
- [x] Review the notes below to understand recent changes to our architecture
- [x] Locate the hotjar script in [head.html](https://github.com/hackforla/website/blob/gh-pages/_includes/head.html)
- [x] Delete the script
- [x] Ensures the webs

[2021-08-21 18:08] Aveline-art commented on #2100
This issue will be as is. Once it had been moved, it can then become a standardization issue.

[2021-08-21 18:16] Aveline-art commented on #2101
Per Thursday meeting, this code will be a placeholder for the button until design gets around to completing an updated one.

[2021-08-21 18:23] anonymousanemone commented on #2068
1. Struggling to figure out what to do (what code to move, specifically. Is it the entire div, or is it just the script? And does the instruction mean to comment out the entire div?)
2. Issues
3. 5 hours
4. After resolving blocker

[2021-08-21 18:26] Aveline-art opened #2154 "Create a copy button element for our website"
### Overview
As a developer, we would like to have a design for copy buttons in our [design system ](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3).

### Action Items

- [ ] Read below to get a sense of the dev's team preference for a copy button.
- [ ] Create a copy button for our design system.
- [ ] Go over designs with the dev team to edit as necessary.

[2021-08-21 18:52] Aveline-art opened #2155 "GitHub Actions: Ask for a preliminary update when issue is assigned"
### Overview

As a developer on this team, we need to update our issue once we have been assigned them. This way we will have made our first contribution and the team is aware on our ability to deliver on the issue. This action should be placed in the [Issue Trigger](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/issue-trigger.yml) workflow and should run in parallel with the

[2021-08-21 19:59] janieche commented on #2069
1. Progress: In progress [(yellow rectangle)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14309%3A95332). Created 2 options and want to explore a 3rd with [mega menus](https://www.nngroup.com/articles/mega-menus-work-well/).
2. Blockers: Need to identify any categorizations or groupings that can be made with the entire Technologies list to create an example of a m

[2021-08-21 21:42] #2093 closed, assigned to adrian-zaragoza

[2021-08-21 23:15] SAUMILDHANKAR commented on #2092
Update

Progress: "Project is currently in the status of PR needs review. I have made the necessary changes."
Blockers: "None"
Availability: "20 hrs"
ETA: "Aug 23, 2021"
Pictures: "Attached below"

![before](https://user-images.githubusercontent.com/843538/130337078-100393a2-9443-4ef6-8a26-18426b5c8938.PNG)
![after](https://user-images.githubusercontent.com/843538/130337079-fa2a28e3-83f2-4d0f-84c1

[2021-08-22 00:59] #2109 closed, assigned to benrempel

[2021-08-22 05:29] ahoang94 commented on #1051
@kristine-eudey I have contributed a few first draft options in the green box to the left of the most recent mockup (blue rectangle).

[2021-08-22 05:33] anonymousanemone commented on #2021
1. Standardized fonts and colors according to design system
2. None
3. 5 hrs
4. Wednesday

[2021-08-22 16:39] kristine-eudey commented on #1051
@ahoang94 Great, thanks! I'll take a look and share thoughts within the next day on the drafts you came up with. Moving this back to "In Progress" until it's completely finished.

[2021-08-22 16:51] #2064 closed, assigned to grhhhh

[2021-08-22 16:55] adam-abundis opened #2158 "Complete refactor/standardization of all buttons within Communities of Practice/Program Areas Page"
### Overview
We need to refactor for buttons within the Home page from the recommendations in the CSS standardization spreadsheet (resource below) so that we have a consistent button appearance through the HfLA site.

**Note:** The buttons should have the same length and width after the changes. if it is not, please add CSS styling to make sure they match.

### Action Items
- [x]  Make the 3 recom

[2021-08-22 17:03] adam-abundis opened #2159 "Complete refactor/standardization of all buttons within Sitemap/Events Page"
## Overview
We need to refactor for buttons within the Home page from the recommendations in the CSS standardization spreadsheet (resource below) so that we have a consistent button appearance through the HfLA site.

### Action Items
- [x]  Make the 3 recommended edits for the buttons from the spreadsheet below (2 files will be updated)

1. - [x] Update **line 43** of `website/pages/sitemap.html`

[2021-08-22 17:06] Basu3040 commented on #2015
@hackforla/website-pm Waiting for the PM team to review the interview guide. The research team is meeting tomorrow to review and go through the questions. Then we will run through it and it will be all set for the interview process to begin. Thank you all.

[2021-08-22 17:48] abenipa3 commented on #1630
# Feedback from 8/22/21 Meeting

- Navbar: Team voted for navbar with bolded title:
![image](https://user-images.githubusercontent.com/38295612/130365108-59e65edf-edce-4644-88b4-31aa50f8a13d.png)

- Title: No capitalization for titles (header and section titles).

![image](https://user-images.githubusercontent.com/38295612/130365136-bb29b238-3fd6-4b19-b676-79f72815a09e.png)

![image](https://user-

[2021-08-22 18:04] kristine-eudey commented on #2079
@arghmatey The issue has been updated to refer only to fixing the green circles.

[2021-08-22 18:26] adam-abundis commented on #2061
The overview has been updated

[2021-08-22 18:32] kristine-eudey commented on #2057
@ExperimentsInHonesty Most recent version here, in pink rectangle: [Homepage Redesign - 8/22/21](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14287%3A93030)

[2021-08-22 18:40] macho-catt commented on #2077
Looks like the issue has been resolved, we will close.

[2021-08-22 18:44] #2077 closed, assigned to nobody

[2021-08-22 18:50] ExperimentsInHonesty commented on #1911
![mentor1](https://user-images.githubusercontent.com/37763229/130366601-4abae723-5958-4772-ac09-b54f9e295920.png)
![mentor2](https://user-images.githubusercontent.com/37763229/130366603-85d25f20-2532-4bff-8432-87b6bbd7da0f.png)

[2021-08-22 18:50] kristine-eudey commented on #2090
This issue was a duplicate of #2089 and is being closed.

[2021-08-22 18:51] #2090 closed, assigned to nobody

[2021-08-22 18:52] kristine-eudey commented on #2089
@Aveline-art thanks for noticing that, I closed issue #2090 as it duplicates this issue.

[2021-08-22 18:57] #2143 closed, assigned to nobody

[2021-08-22 19:05] kristine-eudey commented on #1911
@ExperimentsInHonesty the current design with the new icons are shown in the yellow rectangle [here](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13423%3A90826)

[2021-08-22 19:08] abuna1985 commented on #1833
@averdin2, @chelseybeck, @jpandh

@ExperimentsInHonesty needs an update on the progress for this issue. Please post progress here.

Thank you.

[2021-08-22 19:08] adam-abundis commented on #2071
@averdin2, @chelseybeck, @jpandh

@ExperimentsInHonesty needs an update on the progress for this issue. Please post progress here.

Thank you.

[2021-08-22 19:08] sobe-an opened #2160 "Wins submission issue formatting"
### Overview
All automatically generated issues need to have the complete set of required labels so that we have consistency across all issues

### Action Items
- [x] The automated issues with the title "Review Needed - New Wins Form Submission" need to have the following labels automatically added"
   - [x] role: product
   - [x] p-Feature: Wins Page
   - [x] good first issue
- [x] remove the fol

[2021-08-22 19:16] SAUMILDHANKAR commented on #2027
### Post-meeting notes, August 22, 2021

<details>
<summary>Click for notes</summary>
<br>

Aug 22, 2021; 10:07 AM

Note taker: Saumil

Questions, comments and announcements

1 Design: guide pages discussion and comments (figma)
	changes in title and sidebar
2 Markdown and WYSIWYG discussion

Dev team meeting project board items

1 #1378 (consolidate raw colors) moved back to done column after che

[2021-08-22 19:21] sheltoG opened #2161 "Fix new wins submission notification"
### Overview
We need to receive one notification for every win submitted so that product knows what to review.

### Action Items
[ ] Confirm we are receiving two notifications for every win submission
[ ] If we are, identify why it is happening and fix the issue

### Resources/Instructions
See the last two notifications we received #2142 & #2143

[2021-08-22 19:24] #2142 closed, assigned to nobody

[2021-08-22 19:41] kristine-eudey commented on #2016
Hi @janieche, sharing some feedback from the team meeting:

- Please find a way to incorporate the link read more about SDG's that's currently at the top of the desktop version. The wording can change if needed, but mobile users also need to be able to access this information if they'd like to, as they can on desktop.
- Please make each project an accordion to reduce page length. For an example of

[2021-08-22 19:45] ExperimentsInHonesty commented on #2064
Hi @grhhhh Garret!  We are going to make a new issue for some post pr cleanup. And good for you to note for next time.  Items on the cleanup are
The overview link does not resolve and the username of one of the people (me) was not given to you properly, and since its not a real github username you can tell because it shows a specific icon.  See here for details: https://github.com/hackforla/GreenE

[2021-08-22 19:45] sobe-an opened #2162 "Update project profile: GreenEarthOS update overview"
### Overview
We need the update the greenearthos project file so that it shows the correct information for the project.
This is also a part of the effort to standardize pdf files as per #2211

### Action Items
- [x] Change the link to the project overview so the pdf opens as a new tab
    - [x] Download a copy of GreenEarthOS's overview [pdf ](https://github.com/hackforla/product-management/blob/m

[2021-08-22 20:03] sheltoG opened #2163 "Remove "about" text from the credit page"
### Overview
We need make sure the icons on the Credit page are correctly listing which images we are using on the site, where they are used and where they came from.

### Action Items
- [ ] remove the reference to the About page (the icon on the about page is a different icon), on the credits page, under care icon, after "used in:"

 ### Resources/Instructions
Credit page URL: https://www.hackfor

[2021-08-22 20:11] grhhhh commented on #2064
@ExperimentsInHonesty Thanks for your feedback and for including me in the conversation. I'd be happy to take on making those changes if you like.

[2021-08-22 20:17] macho-catt commented on #2064
@ExperimentsInHonesty  So for the overview link, it's actually a problem with how the href tag was written and not necessarily the fact that there are spaces in the name of the file. Currently the href tag is written like this:
[code]
but it should be like this:
[code]
Where enclosing the value of the href tag ensures that everything in the name is taken into account, including the spaces. Without

[2021-08-22 21:52] PamelaLi36 opened #2164 "Add tracking code for Google Tag Manager to three pages in the code"
### Overview
We need to connect Google Tag Manager to the website in order to test out Event Tracking

### Action Items
- [x] Add Google Tag Manager script within the [`<head>` of the page](https://github.com/hackforla/website/blob/gh-pages/_includes/head.html)
- [x] Add the code snippet in the resources section to the Events (should be pages that can be interacted with)
- [x] Add the code snippet

[2021-08-23 06:06] adam-abundis commented on #2153
@ExperimentsInHonesty Are any teams using Hotjar (tracking users interactions) for the Hack for LA website?

[2021-08-23 06:16] adam-abundis opened #2165 "Complete refactor/standardization of all buttons within Join Us Page"
### Overview
We need to refactor for buttons within the Home page from the recommendations in the CSS standardization spreadsheet (resource below) so that we have a consistent button appearance through the HfLA site.

### Action Items
- [x]  Make the 4 recommended edits for the buttons from the spreadsheet below (1 files will be updated)

1.  - [x] Update **line 64** of `website/pages/join-us.html

[2021-08-23 06:23] adam-abundis commented on #2104
@sheltoG This project has been broken down to #2104, #2158, #2159, #2165, #2187

[2021-08-23 17:08] sheltoG opened #2167 "Fix URL for Expunge Assist on Hfla Events Page"
### Overview
We need to fix the URL under the Expunge Assist event for Monday's from 6-7 PM. Currently the URL link resolves to a 404 error. The correct URL it should point to is: https://www.hackforla.org/projects/expunge-assist

### Action Items
[ ] Replace current URL with the following URL: https://www.hackforla.org/projects/expunge-assist
[ ] Test to make sure it is working correctly

### Res

[2021-08-23 17:08] sheltoG commented on #950
- Opened Issue: Fix URL for Expunge Assist on Hfla Events Page #2167
- Opened Issue: Remove URL for Community of Practice: Software Developers/Front-end Weekly meeting link on Hfla Events Page #2168

[2021-08-23 17:24] sheltoG opened #2168 "Remove URL for Community of Practice: Software Developers/Front-end Weekly meeting link on Hfla Events Page"
### Overview
We need to remove the Name, Time and URL under the Community of Practice: Software Developers/Front-end Weekly meeting event for Monday's from 8-9 PM. This meeting time is not valid since the CofP meeting for engineering is on Wednesdays.

### Action Items
[ ] Remove the Name, Time and URL under the Community of Practice: Software Developers/Front-end Weekly meeting event for Monday's

[2021-08-23 19:17] Aveline-art commented on #2153
@abuna1985 hotjar is currently unused and some adblockers and browsers flags or disables it. I have spoken with @ExperimentsInHonesty and the best course of action is to remove it.

[2021-08-23 19:34] adam-abundis commented on #2153
@Aveline-art Thank you. I'm sure we have talked about this before. Just confirming.

[2021-08-23 23:26] ExperimentsInHonesty opened #2169 "Find icon author"
### Overview
We need make sure the icons on the Credit page are correctly listing which images we are using on the site, where they are used and where they came from.

### Action Items
- [x] Please find the hand and heart image next to Giving on the [about page under platform](https://www.hackforla.org/about/#platform) and add the details to the Figma for the credit file and provide details for de

[2021-08-23 23:28] ExperimentsInHonesty commented on #2163
Hi @sheltoG

Here is what you put for the issue

Here is what I changed it to

I made another issue for the other item #2169 using the following labels:
role: design
p-feature: Credit
p-feature: About Us

[2021-08-24 01:07] ExperimentsInHonesty commented on #2061
@abuna1985 the last checkbox sentence is unfinished.  It says
"Once consensus is reached, we can create an issue to"
can you update that, plz

[2021-08-24 01:14] adam-abundis commented on #2061
@ExperimentsInHonesty Last action item has been updated.

[2021-08-24 03:22] chelseybeck commented on #1833
Tasks

- [ ] Replicate table using tables@hackforla.org as owner
- [ ] Create GitHub account using tables@hackforla.org
- [ ] Create test repo for team to experiment
- [ ] Create test team for team to experiment
- [ ] Get list of all active repos & teams
- [ ] Get all Drive ID's for CoPs and projects
- [ ] Get rest of data from CoP and project rosters

[2021-08-24 03:26] averdin2 commented on #2071
We decided that the MVP for the project is only going to be focused on implementing automations for adding users to Google Drive Folders and GitHub teams. We no longer have a need for this separate discussion issue. All discussions will be in issue #1833

[2021-08-24 03:26] #2071 closed, assigned to averdin2, chelseyklein, jpandh

[2021-08-24 03:27] averdin2 commented on #1833
We closed issue #2071 so I am removing this issue's dependency on it.

[2021-08-24 05:29] adrian-zaragoza opened #2170 "Add font link to head.html file"
### Overview
Even though the font is set as "Roboto" in the [typography scss file](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_typography.scss) the font is not Roboto on actual site.  The roboto font is listed in the figma file. This font issue is affecting all the text in the site.

### Action Items
- [x] Add the links below to the head.html [file](https://github.com/hackf

[2021-08-24 14:05] Basu3040 commented on #2015
Progress: The interview guide and survey questionnaire are finished. We have run through the interviews. We will be conducting 30-40 mins interviews with each participant. We are aiming for 5 interviewees to start with. The plan is each person in the research team will conduct the interview with participants.
A review of the Research Plan will be done in the next UXR meeting.
Blockers: None
Availa

[2021-08-24 14:09] kristine-eudey opened #2171 "Change mobile menus on Toolkit page"
### Overview
We need to adjust the mobile menus on the Toolkit page so that users are only able to select a single practice area at a time in order to simplify development. We also need to adjust styling so that the dropdown menus match those used elsewhere on the site in order to follow our design system and provide a consistent user experience.

### Action Items

- [x] Duplicate current Toolkit

[2021-08-24 15:27] kristine-eudey commented on #1398
Hi @christina245 can you provide an update on this issue?

- Progress
- Blockers
- Availability
- ETA

[2021-08-24 15:55] #2007 closed, assigned to mehmehmehlol

[2021-08-24 17:44] christina245 commented on #1398
@kristine-eudey I was not at the last meeting so I'm unsure of how to proceed on this for now. Will discuss later on Slack.

[2021-08-24 17:45] #1920 closed, assigned to blakes24

[2021-08-24 18:21] Aveline-art opened #2172 "Refactor JS: Clean toolkit page script"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html. This issue is to clean up the script on the toolkit page.

### Action Items
- [x] Review the notes below to understand recent changes to our architecture
- [x] The [toolkit page ](https://www.hackforla.org/toolkit/)conta

[2021-08-24 18:40] kristine-eudey commented on #1797
Meeting: 8/24/2021

**Participants:**
@ExperimentsInHonesty @kristine-eudey @Basu3040 @kevngaleu @sheltoG @sobe-an
**Things to discuss:**

- Review new header copy for Projects page
   - #1051
   - [Figma - Projects Page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14516%3A94398)
- Functionality of Wins card on homepage redesign
- Basu requests final review/sign-o

[2021-08-24 18:46] Aveline-art opened #2173 "Design System: Audit Sticky Side Nav element"
### Overview
We need to review the current sticky side nave and create a standard for the component  so that when you see two pages with that navigation style, they function the same and that they are WCAG compliant and have the best industry practices.

### Action Items
- [x] Find all instances of the HTML, CSS, or (inclusive) JS code for the sticky side nav from all pages (one can be found on th

[2021-08-24 18:50] adam-abundis commented on #2170
@adrian-zaragoza Thank you for making this issue. I have some edits I would like you to make so I can present it to the product management team. Thank you.

1. Please **remove** the following labels  in the right-hand menu under `Labels` (the gear icon):
- `Feature Missing`
- `role missing`

2. Now **add** the following labels  in the right-hand menu under `Labels`  (the gear icon):
- `role: front

[2021-08-24 18:51] Aveline-art opened #2174 "Design System: Standardize Sticky Side Nav"
### Dependency

- #2173
- [ ] after homepage launch
- [ ] after TWE has a sticky nav page on their Design System https://hackforla.github.io/internship-website-design-system/

### Overview
As a developer, it is important to standardize our elements for all teams in the website project. For this issue, the element to standardize is the sticky side nav on the [about page](https://www.hackforla.org/a

[2021-08-24 18:57] Aveline-art commented on #2173
@abuna1985 I have made this issue and #2174 for the side nav. Please give me feedback on whether this is up to your standards for the design system and your plans for its rollout.

[2021-08-24 21:01] Aveline-art commented on #2076
@Abel-Zambrano Requirements for this has changed, as noted from this: https://github.com/hackforla/website/projects/7#card-66864847 (reproduced below)

new order: program areas, technology, status

What is your progress so far on the issue? Can this be incorporated into your issue? If not, can you create a follow-up issue from this card? If you can, once you are done, can you delete the card?

[2021-08-24 22:40] adam-abundis commented on #2135
from @jbubar on 8/19/2021

Will finish this issue after the next sun meeting, but before next Tuesday's meeting. Each of the actions will be their own issue

[2021-08-24 22:42] adam-abundis commented on #2138
From @jbubar 5 days ago:

# Reason to merge:
- the wins-feature-1 wins page is better in its current state then the current production
- everything on the wins-feature-1 page works and looks good
- only need minor touch ups
- will create a lot of new issue opportunities
- people do not have to use the feature branch anymore

# Reason to wait to merge:
- ~~the inert.js.map file error is annoying~~

[2021-08-24 23:02] adam-abundis commented on #2138
@hackforla/website-merge It seems like the big 3 remaining tasks are:
1.  Refactor CSS Styling for Wins page(visual touch-ups)
2. fix some JavaScript logic for modals, see more/see less functionality
3. Move from google form to internal form at https://hackforla.org/share-your-wins (which is live, but broken)

Task 3 (wins form) is going to take some time, but the page is still functional with a G

[2021-08-24 23:20] adam-abundis commented on #2010
### Agenda for August 24, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you f

[2021-08-25 00:07] adrian-zaragoza commented on #2170
Hi @abuna1985 Thank you for the recommendations! I have updated this issue with the recommended action items. I've also verified that this issue is now in the `New Issue Approval` column in the project board.

[2021-08-25 00:10] blakes24 opened #2175 "Project links with spaces are not read properly"
### Overview
The project link href tags need to be enclosed in quotes to avoid issues with URLs that may contain spaces.

### Action Items
- [x] In [current-projects.js](https://github.com/hackforla/website/blob/gh-pages/assets/js/current-projects.js) replace
[code]
 with
[code]
- [x] Ensure that the links still work correctly

### Resources/Instructions
https://github.com/hackforla/website/blob/8

[2021-08-25 00:15] Abel-Zambrano commented on #2076
@Aveline-art I added the "program areas" filter and am currently working on filter checkbox functionality. I can definitely add this to my issue and delete the card when done.

[2021-08-25 01:34] glenflorendo commented on #1892
Progress: Going through some docs on GitHub Actions right now.

Blockers: N/A

Availability: I'm generally available during the evenings for this week and the weekend.

ETA: I expect to be done by the end of next week, hopefully.

[2021-08-25 01:44] Aveline-art commented on #2069
Notes about all technologies we have thus far (unsorted):

[2021-08-25 02:12] Aveline-art commented on #2069
Notes about all technologies we have thus far (sorted-WIP):

#### Backend Frameworks

#### Code Review and Testing

#### Database Management and Database Tools

#### Design and Design Systems

#### Hosting/Cloud Computing

#### Libraries

#### Other - Web

#### Other - Misc.

#### Unlisted (unsure how to sort these)

[2021-08-25 02:16] jbubar commented on #2135
Amendment. Will pick at this as I have time. Will prob take me another few weeks to find the time🤦‍♂️

[2021-08-25 02:17] jbubar opened #2176 "fix the wins expanded icon styling in tablet view"
### Overview
We need to refactor the expanded wins cards in tablet view so we can have a consistent view of the wins icons within the wins card.

This is a CSS problem that is a little harder than the average medium issue.

<details>
    <summary>Click here to see the current wins page card </summary>

![Screen Shot 2021-08-19 at 10 25 40 PM](https://user-images.githubusercontent.com/53061723/1307

[2021-08-25 02:25] abryant35 opened #2177 "Update Project Profile: Access the Data"
### Overview
As a product manager of Access the Data I want my project's details to be updated on the HackforLA website

### Project card
_https://www.hackforla.org/projects/access-the-data

### Action Items

- [x] Assess the Data Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x]

[2021-08-25 04:16] #1970 closed, assigned to Aveline-art

[2021-08-25 04:18] ahoang94 commented on #2169
@kristine-eudey The correct icon author has been sourced and the information has been added to the Figma file.

![Screen Shot 2021-08-24 at 9 46 43 PM](https://user-images.githubusercontent.com/85914721/130728186-ed14e012-2d8c-4de1-9fac-37964d893e93.png)

[2021-08-25 05:17] macho-catt commented on #2080
I edited this post to add the links to the files that need to be changed as well as the variables concerned in the topic. I also included the link to the figma, plus the screenshot of the typography rules.
Thanks.

[2021-08-25 14:49] Basu3040 commented on #1696
@daniellex0  What's the target group here for the interview?

[2021-08-25 15:31] HiThereImCam commented on #1982
@abuna1985 I pulled from main and checked the styling against the figma desgin and it looks good. It looks like there is nothing to do and I recommend we close it. I am going to unassign myself. Thanks.

[2021-08-25 15:52] adam-abundis commented on #1982
@HiThereImCam did you pull from the `wins-feature-1` branch per the instructions above?

I can take a look at this later today.

[2021-08-25 17:19] HiThereImCam commented on #1982
@abuna1985 Correct. I was on a zoom call with @jbubar to ensure I was on the right branch.

[2021-08-25 17:35] #2029 closed, assigned to macho-catt

[2021-08-25 18:08] macho-catt opened #2179 "Create a wiki article to detail Github Actions"
### Overview
As a developer, it will be helpful to have a wiki article that details what the various github actions are that run for the website repository. This will also help when a developer needs to create a new action, or edit an existing action.

### Action Items
- [x] Learn the github actions that currently work on this repo
    - [x] The github actions live in this [directory ](https://git

[2021-08-25 18:40] adam-abundis commented on #1982
As I understand we are trying to adjust the icon/text in desktop view. When a user clicks on the `see more` link, it creates a modal version of that card (see below). @Abel-Zambrano or @jbubar I am going to fix the issue to address what needs to be done. It seems like there are edits to be made, but they are not mission-critical.

<details>
  <summary>Click to see current modal in desktop view</su

[2021-08-25 18:51] macho-catt commented on #2179
As per @Aveline-art, the devs will have further discussion during our Thursday backend meeting (tomorrow) that may alter some details on github action conventions. Because of this, we want to hold off on adding the 'ready for milestone' label so we can further revise the Action Items after our meeting. Thanks.

[2021-08-25 18:53] kristine-eudey commented on #2169
@ahoang94 thanks! The design portion of this issue has been completed.

[2021-08-25 18:53] #2169 closed, assigned to nobody

[2021-08-25 19:23] kristine-eudey commented on #1051
Hi @ahoang94, these copy options are great and definitely get at what we need to communicate here. I placed your wording options within the page design and brought them to discuss with Bonnie and the PM team yesterday. A few tweaks/combinations were made, which you can see reflected in [versions 4a and 4b](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14587%3A94671)

[2021-08-25 19:34] ExperimentsInHonesty commented on #2130
Hi @kristine-eudey I know Ava volunteered the dev team to work on this, but they have a big backlog of stuff that NEEDs to get done that only they can do, so this need to be the ui/ux team.  When you get to the point where you have some that its not clear what is the official logo or if there is not a easily findable logo, then product will look at those specifically and provide guidance.

[2021-08-25 19:49] kristine-eudey commented on #2130
@ExperimentsInHonesty no problem at all, design can source the files. Since only a selection of the icons are now going to be featured on the homepage, can you let me know the 10 most commonly used technologies (or whichever needs to be featured there?)

[2021-08-25 20:17] Aveline-art commented on #1329
@danyc23 There has been no updates on this, so this issue is being recycled. When you are ready to join us, please come to a meeting so that we can fill you in on our new procedures and get you started with us!

[2021-08-25 20:30] kevngaleu opened #2180 "Create a Citizen engagement page layout"
### Overview
We need to create a template page for the program area Citizen engagement so that people can find the project related to this program area.

### Action Items
Development
- [x] Develop the Donate page based on the design in [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4947%3A26584) in the pink rectangle
- [x] Do not link the page to the website

[2021-08-26 00:03] #2008 closed, assigned to JasonUranta

[2021-08-26 01:34] Aveline-art commented on #1891
### Post-meeting notes, August 26, 2021

<details>
<summary>Click for notes</summary>
<br>

Meeting notes August 26, 2021

Start: 7 PM

Note taker: Saumil

Pro/con list to merging the wins-feature-1 branch:
Pros:
- Will make it easier for devs to work on the wins page if it is part of the gh-pages branch
- Merge conflicts will continue appearing if part of wins page gets updated in the gh-pages
-

[2021-08-26 01:35] Aveline-art commented on #1891
### Agenda for September 02, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] For the VRMS API code, it might not be preferable to call the api multiple times. Is there a way to cache the data into a state variable that can be readily retrieved?
- [x] @macho-catt will propose a way to organize our github actions
    - [Google Sheet](https://docs.google.com/spreadsheets

[2021-08-26 03:19] ktlevesque19 commented on #1979
Hello, just finished this out. New button text has been updated to "Next Steps", and applied to all cards. Pink box is around newest up to date layouts. Thank you!

<img width="733" alt="Screen Shot 2021-08-25 at 8 18 01 PM" src="https://user-images.githubusercontent.com/84823624/130894959-f6953f86-089b-4481-972c-aeac1919d5e5.png">

[2021-08-26 04:32] IpshitaSingh commented on #2026
1. Progress: Changed the words in line 2 as mentioned in the issue. Not sure if there's anything more to be done.
2. Blockers: Faced (and resolved) some issues while setting up Docker
3. Availability: 2 hours
4. ETA: I think its done
5. Pictures: N/A

[2021-08-26 17:06] Aveline-art commented on #2009
Closed because completed!

[2021-08-26 17:06] #2009 closed, assigned to Aveline-art

[2021-08-26 17:41] Aveline-art opened #2182 "Refactor JS: Move script from projects.html to an external js file"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html. For this issue, we are moving the script in [projects.html](https://github.com/hackforla/website/blob/gh-pages/_layouts/project.html).

### Action Items
- [x] Review the notes below to understand recent changes to our ar

[2021-08-26 17:51] Aveline-art opened #2183 "Refactor JS: Delete unused code in project-filter.js"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html. For this issue, the code in [project-filter.js ](https://github.com/hackforla/website/blob/gh-pages/assets/js/project-filter.js)will be removed, if verified to be unused.

### Action Items
- [x] Review the notes below to

[2021-08-26 19:21] blakes24 commented on #1329
@hackforla/website-design I have a few questions about the design.

1. The non-mobile view of this page does not have the option to filter for multiple categories at once, but the proposed mobile view does (checkboxes rather than standard dropdown). I just want to make sure this is correct because it seems like the page should have the same functionality no matter the screen size.

2. The design f

[2021-08-26 23:32] kristine-eudey commented on #2106
**Meeting:** 8/26/21

**Participants:** Kristine, Basu, Alyssa, Janie, Anh, Simone, Sophia, Saasha, Ava, and Pamela

**Things to discuss:**

- Weekly standup: What progress have you made on issues you're working on in the past week? What are your goals for the next week? Any questions / anything you'd like feedback on?
- New issues in need of designers
- Homepage Redesign - Current version & plann

[2021-08-26 23:43] janieche commented on #2069
Thanks @Aveline-art ! Can the Unlisted section be called Programming Languages? Since SCSS is a syntax of a language I'd consider that a part of the language.

[2021-08-26 23:47] abenipa3 commented on #1630
## Action Items from 8/25/21 Meeting

- [x] Consult with @hackforla/website-design: What is the hero section for our Guide Page? We want our guide pages to show that we can help readers from all over the globe through our hero section.

<details><summary> Update from 8/26/21: Meeting with Design Team re: What is the Header? </summary>

- Our team suggested that we either change the image or edit t

[2021-08-26 23:53] anonymousanemone commented on #2021
Complete and Ready for Review

[2021-08-27 00:08] adam-abundis commented on #1407
@hackforla/website-merge @JackRichman and I researched Action item `#5` (change to pink accordion arrow). The style guide show #fa114f ($color-red) and not pink. It is currently set to #fA114F. I think this may have been a typo/misunderstanding. **Recommendation**: I think we can disregard this request since the color matches the style guide.

Please see the screenshot below of the Style Guide sec

[2021-08-27 05:04] Aveline-art commented on #1407
@abuna1985 the pink arrows come from [this design requirement](https://github.com/hackforla/website/issues/1619#issuecomment-897769443).

[2021-08-27 05:07] adam-abundis commented on #1407
@Aveline-art but its requesting the primary button color...which is red. Which it is.

[2021-08-27 05:09] adam-abundis commented on #1407
@Aveline-art  And the photo I provided above was from the style guide link (Figma design system file) they provided in that issue comment. The color provided is red, not pink.

[2021-08-27 05:16] Aveline-art commented on #1407
Sorry, was meant to be information about where the pink comes from. I actually talked to design about colors a while back and they have internal (and informal) color names that are different from ours. I think the color provided should match the figma.

[2021-08-27 05:32] ExperimentsInHonesty commented on #1135
@daniellex0 I would like to know who worked on the designs for this page?

[2021-08-27 05:38] adam-abundis commented on #2082
@adrian-zaragoza please close #2150 and create a new branch that splits from `wins-feature-1` instead of `gh-pages`. I added [Guide to working on a feature branch (wins-feature-1)](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch) in the resources section of the issue. Then push changes to the newly made branch and create a new pull request.

[2021-08-27 06:56] adam-abundis opened #2187 "Complete refactor/standardization of all buttons within Wins Page"
## Overview
We need to refactor for buttons within the Home page from the recommendations in the CSS standardization spreadsheet (resource below) so that we have a consistent button appearance through the HfLA site.

**Note:** The buttons should have the same length and width after the changes. if it is not, please add CSS styling to make sure they match.

### Action Items
- [x]  Make the 1 recomm

[2021-08-27 07:54] sobe-an commented on #1076
Progress: Still reviewing and updating previous drafts.
Blockers: None
Availability: Will continue working on it today
ETA: I will clean up the new draft and notify the team by tomorrow 28/08/2021

[2021-08-27 07:55] adam-abundis commented on #2187
@Zhu-Joseph I see you self-assigned this issue. It is still being reviewed and is in the `New Issue Approval` column. Feel free to check the [Prioritized Backlog Column](https://github.com/hackforla/website/projects/7#column-7198257) to see what issues are available.

[2021-08-27 17:42] Aveline-art opened #2188 "GitHub Actions: Create issues to update wiki articles on a set schedule"
### Dependency
- [x] #3636
- [x] #1534
- [ ] #2676

### Overview

As a developer on this team, we need to know schedule maintenance tasks so that all of our assets are up-to-date. For this issue, we will have a GHA create automatic issues to review and maintain certain wiki articles at a scheduled time.

### Psudo-code

- [ ] Trigger: At a certain, scheduled time (as a placeholder, use the `workfl

[2021-08-27 17:51] daniellex0 commented on #1135
Hi @ExperimentsInHonesty , this was a big page so it was all-hands-on-deck, the whole design team worked on it together

[2021-08-27 18:08] Aveline-art commented on #2069
@janieche I think that can be done. I worry though, since inside each project's page ([an example](https://www.hackforla.org/projects/311-data)), we list languages separate from technologies. We might need to ask @ExperimentsInHonesty on the distinction between tech and lang, and whether the tech dropdown needs to include langs.

I also get the feeling that for some projects, there may not have be

[2021-08-27 18:08] Zhu-Joseph commented on #2187
Hey Adam, got it! I will just check something else out!

[2021-08-27 18:18] abenipa3 commented on #1515
Issue Update 8/27/21:

- Currently redesigning the Guide Pages.
- This issue now has a dependency in the Mobile Navigation Audit (#2190).
- Updated issue description with a _Dependency_ section, added Dependency Label, and moved to the ice box.

[2021-08-27 18:56] adrian-zaragoza commented on #2082
Hi @abuna1985 , I created the new PR [2189](https://github.com/hackforla/website/pull/2189) to merge my changes with the wins-feature-1 branch. Let me know if I need to do anything else.

[2021-08-27 18:59] Aveline-art commented on #2027
### Agenda for August 29, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
- [x] Go through developer review
- [x] Assign pull requests
- [x] Monthly workflow demo: none
- [x] Go through new issue approval
- [x] Reminder to give a status report by the Sunday meeting

[2021-08-27 19:10] adam-abundis commented on #2082
Thank you @adrian-zaragoza. My apologies for not catching this earlier.

[2021-08-27 19:53] kristine-eudey opened #2190 "Perform site audit of mobile navigation"
## Dependency
#### ~We need to determine how we will add this audit of navigation elements to the design system. An issue will be created to improve the design system and determine if we need a navigation component menu added to it.~

### Overview
We need to audit all the current mobile navigation on the site and create documentation for them in the design system so that the design team is able to

[2021-08-27 20:11] Aveline-art commented on #2151
@adrian-zaragoza Don't forget to also add your issue to the project board!

[2021-08-27 20:12] Aveline-art commented on #1988
Note: this issue can be reworded as an additional check for our [add-missing-labels GHA](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/add-missing-labels-to-issues.yml). Also, this and the missing labels action needs to consider issues that are opened elsewhere and transferred.

[2021-08-27 20:21] kristine-eudey commented on #1979
The design portion has been completed and meets the requirements of the issue.

[2021-08-27 20:21] #1979 closed, assigned to ktlevesque19

[2021-08-27 20:22] adrian-zaragoza commented on #2151
@Aveline-art Thanks for the tip! I added Project Board!

[2021-08-27 21:23] ExperimentsInHonesty commented on #1135
@daniellex0 I need to know specific people because I will need to connect them with the people who are working on it now.

[2021-08-27 21:25] ExperimentsInHonesty commented on #1135
@daniellex0 for context... I am having to explain myself all over again.

[2021-08-27 23:42] Zhu-Joseph commented on #2085
Progress - Began reading through code and standardized heading classes
Blockers - None so far
Availability - Random time here and there
ETA - End of next week if not earlier

[2021-08-28 00:27] ahoang94 commented on #1051
@kristine-eudey The copy has been revised in the Artboard "[4a v2](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14743%3A95905)" (see orange box). Please note my comment to the left of the board and let me know if we should act accordingly.

[2021-08-28 01:19] arghmatey commented on #1927
Progress: PR is submitted and waiting on reviews!
Blockers: N/A
Availability: Sunday AM
ETA: N/A
Pictures: See PR

[2021-08-28 01:38] arghmatey opened #2193 "Adjust styling of Getting Started page"
### Dependency

~#1619~

### Overview

We need to adjust the styling for the [Getting Started page](https://www.hackforla.org/getting-started) so that we can match the Figma Design for the Getting Started page.

### Action Items
- [x] Update width of **.info-icon** from `.75em` to `.875rem`
- [x] Update font-weight of **.getting-started-step-title-faq** from `500` to `700`
- [x] Update `height` of

[2021-08-28 01:39] #2092 closed, assigned to SAUMILDHANKAR

[2021-08-28 03:48] Aveline-art opened #2194 "GitHub Actions: Delete Unused GHA"
### Overview
As a maintainer of the website, when assets are unused, they should be removed from the repo to keep things neat and tidy for the team. For this issue, we will be deleting the [update-comment-on-update-label.yml](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/update-comment-on-update-label.yml) GHA, which is superseded by [add-update-label-weekly.yml](https://git

[2021-08-28 05:20] abenipa3 commented on #1630
## Minutes from 8/27/21
- Reviewed [new mockups](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14708%3A100192).
    - We agreed to include the parallelogram in our hero section; it brings out more color. Preview below this section.
    - We voted on mock-ups. Preview below. Will need to redesign.
<details><summary> Mock-Up Hero Section (With Parallelograms) Previews

[2021-08-28 05:48] #2079 closed, assigned to adam-abundis

[2021-08-28 05:49] #2068 closed, assigned to anonymousanemone

[2021-08-28 09:01] abenipa3 commented on #2014
## Progress Report
Progress:

- Researched fork test with netlify. (How to deploy from forked repo?). Hit a blocker.
- Discovered Netlify's feature called _split testing_, where we could run a branch based test.
~~- Tested split testing. (More details in the next section of this update.)~~
- Made a new account for fork testing. More details in the next section of this update.

Blockers:
None. I wa

[2021-08-28 18:09] SaashaG commented on #1969
Progress: Design options linked. let me know for the final ok then I can work on mobile versions
Blockers: n/a
Availability: Varied, on vacation until Sep 12
ETA: TBD
See design options here: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3

[2021-08-28 20:03] mehmehmehlol commented on #2165
1. Progress: I have finished all the requirements on the issue and have created a pull request.
2. Blockers: The buttons did not look the same after refactoring. Details in the pull request.

[2021-08-29 02:26] ExperimentsInHonesty commented on #1407
@abuna1985 I recommend removing the last item from this issue, please tell me if you agree.

Because Alyssa is almost done with the design to turn all guide pages into being markdown driven and we will be moving this helpfile to that format.

@alyssabenipayo please review the FAQ accordion shown on the 2FA page and on the getting started page, as we may want to incorporate those into the Guide tem

[2021-08-29 03:41] Basu3040 commented on #2096
Progress: All the emails of the research team were added.
Now, how can we access the email?

[2021-08-29 06:36] #1816 closed, assigned to macho-catt

[2021-08-29 10:15] adam-abundis opened #2198 "Design System Audit: Swap colors with color variables: Oranges"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the orange colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (oranges)
- [x] Replace all instances of the hard-c

[2021-08-29 10:18] adam-abundis opened #2199 "Design System Audit: Swap colors with color variables: Yellows"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the yellow colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (yellow)
- [x] Replace all instances of the hard-co

[2021-08-29 10:22] adam-abundis opened #2200 "Design System Audit: Swap colors with color variables: Greens"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the greens colors so we can use the color variables.

### Action Items

- [ ] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (greens)
- [ ] Replace all instances of the hard-co

[2021-08-29 10:25] adam-abundis commented on #2112
@sheltoG @ExperimentsInHonesty Issue has been updated.

[2021-08-29 14:50] kristine-eudey commented on #2096
@Basu3040 answer to your question is [here](https://github.com/hackforla/website/issues/2096#issuecomment-900595702) in a previous comment. I gave more detailed info on Slack too for next steps on this.

[2021-08-29 15:11] kristine-eudey commented on #1256
**Progress:** We are currently finalizing both the [homepage redesign](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14637%3A94968) and the [expanded footer redesign](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3), which should both inform the site hierarchy as shown to users by top nav.

In moving forward with this issue and

[2021-08-29 15:56] janieche commented on #2016
1. Progress: Updated [designs](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14612%3A94916) based on feedback in yellow box.
2. Blockers: n/a
3. Availability: Evenings
4. ETA: 8/29
5. Pictures:
<img width="195" alt="Screen Shot 2021-08-29 at 9 55 19 AM" src="https://user-images.githubusercontent.com/12770042/131256906-a3ad88e4-d20b-413d-9583-07876057730f.png">

[2021-08-29 16:36] Abel-Zambrano commented on #1982
@abuna1985 I just took look at the wins-feature-1 wins page and it seems this issue was already resolved on another PR. Sorry for the confusion but we can close this issue if you agree with the current styling.
<img width="676" alt="Screen Shot 2021-08-29 at 9 33 47 AM" src="https://user-images.githubusercontent.com/67209686/131258124-20f42bf2-5081-47b3-951c-1e6f973b16ae.png">

[2021-08-29 17:02] adam-abundis commented on #1407
@ExperimentsInHonesty I think we can either:
 1. move the last item into a separate issue.
 2. Remove it entirely from the 2FA page

 It seems like the accordion for the `Getting Started Page` is nested in a card with 30px of padding. The accordion for `2FA` is nested in a section-container class that has a left/right padding of 187px and top/bottom padding of 75px. The CSS for the accordion withi

[2021-08-29 17:13] chelseybeck opened #2201 "Create mock repo and team for tables automation testing"
### Overview
The tables team needs a mock GitHub repo and team to test automations.

### Action Items

- [ ] Create a mock tables repo and make @averdin2 an admin
- [ ] Create a mock tables team and make @averdin2 an admin

[2021-08-29 17:37] Abel-Zambrano commented on #1901
@averdin2 Will change this issue into an actionable issue.

[2021-08-29 17:39] Abel-Zambrano commented on #2135
@arghmatey Will create issues after merge of wins-feature-1.

[2021-08-29 17:41] Abel-Zambrano commented on #2014
@Aveline-art @alyssabenipayo will discuss further in a meeting.

[2021-08-29 17:54] Aveline-art commented on #2021
@anonymousanemone If this is ready for review, this does not belong in the UAT column. This needs to be in in questions/review.

[2021-08-29 17:55] ExperimentsInHonesty commented on #1329
@blakes24 sorry about the confusion, the is issue need a new design before we can make the change.  I added a dependency

[2021-08-29 17:55] Aveline-art commented on #2082
@adrian-zaragoza please close this if this is done. I think this is happening because a linked PR was closed, rather than merged. When this happens, the linked issue does not close, but it does go into UAT. When closing (rather than merging) reviews, please remove the linked issue in the PR.

[2021-08-29 18:27] ExperimentsInHonesty commented on #2135
Design will change it so that see more is on the bottom of the card and text will just have three dots if it does not fit.
and on mobile it will move too.  However right now the three dots and see more don't seem aligned on mobile  and since the three dots (not red) will stay, it will need to be aligned properly.
![image](https://user-images.githubusercontent.com/37763229/131261513-7d7f46b1-9f98-4

[2021-08-29 18:38] #2138 closed, assigned to adam-abundis

[2021-08-29 18:45] ExperimentsInHonesty opened #2202 "Communities of Practice information updates: [Product]"
### Overview
As a Community of Practice Co-Lead, I need my CoP's details to be up to date on the HackforLA website.

### Action Items for requestor
   - [x] Please paste this checklist to a comment below and then check off everything that is **ok the way that it is**
[code]
   - [x] If you have someone to remove please write that below the checklist you paste in your comment
      - Example:
[code

[2021-08-29 18:46] ExperimentsInHonesty commented on #2202
- [ ] Name of CoP
      - [ ] Description
      - [ ] Meeting Times cannot be changed here.  Create an issue at VRMS for changing [meeting times](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-team-meeting-time.md&title=) if needed
      - [ ] Leadership Type:
      - [ ] Leadership
         - [ ] Name: Ebele
         - [ ] GitHub Handle:

[2021-08-29 18:49] ExperimentsInHonesty commented on #2202
- [x] Name of CoP
- [x] Description
- [x] Meeting Times cannot be changed here.  Create an issue at VRMS for changing [meeting times](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-team-meeting-time.md&title=) if needed
- [x] Leadership Type:
- [ ] Leadership
   - [ ] Name Ebele
   - [ ] GitHub Handle
   - [ ] Slack Member ID*
 - [x] Links

[2021-08-29 19:44] ExperimentsInHonesty commented on #950
@sheltoG I moved
- 2168 to https://github.com/hackforla/VRMS/issues/685
- 2167 to https://github.com/hackforla/VRMS/issues/684
to the vrms board, because hfla just gets the data from them

[2021-08-29 20:17] SAUMILDHANKAR commented on #2027
### Post-meeting notes, August 29, 2021

<details>
<summary>Click for notes</summary>
<br>

Start: 10 AM

Note taker: Saumil

 Make announcements

Abel: #2076 program areas not incrementing values
, / spaces not html friendly, might redo the function

 Go through developer review

Dev team meeting discussion column on project board

- #2138 discussion on merging with the team, will be presented to

[2021-08-29 20:49] mgodoy2023 opened #2203 "Update Donate Permalinks"
### Overview
We need to update the link for the 'Donate' button on the website. Currently it redirects to the Code for America donate page but it needs to redirect to the [Hack for LA Donate page](https://www.hackforla.org/donate). Afterwards, the [redirection](https://github.com/hackforla/website/blob/gh-pages/redirections/donate.md) link for Code for America needs to be updated to avoid conflict

[2021-08-29 22:17] ExperimentsInHonesty commented on #2203
Special note for @Aveline-art  and @abuna1985 and @mgodoy2023  More details behind this issue:
If we delete the redirect anyone who types hackforla.org/donate/ (the url with a end slash) ends up at the 404 page, but then they could just click the donate button on the page.  See https://www.hackforla.org/getting-started/ as example.  This of course brings up the question, if we should have redirect

[2021-08-29 23:10] adam-abundis opened #2204 "Design System Audit: Swap colors with color variables: blues"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the blue colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (blues)
- [x] Replace all instances of the hard-coded

[2021-08-29 23:13] adam-abundis opened #2205 "Design System Audit: Swap colors with color variables: purples,"
### Overview
As a developer, hard-coding colors only makes things difficult when colors change. For this only change the purple colors so we can use the color variables.

### Action Items

- [x] Refer to [/_sass/variables/_colors.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/variables/_colors.scss) for the current color variables (purple colors)
- [x] Replace all instances of the

[2021-08-29 23:39] adam-abundis commented on #2113
@sheltoG @ExperimentsInHonesty This task has been updated.

[2021-08-30 00:45] Aveline-art opened #2206 "GHA: Sort closed issues to correct column"
### Overview

As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we are creating a sorter that will move closed issues and PRs to the correct column by their labels when they are closed.

### Psudo-code
- [x] When an issue/PR is closed:
  - [x] If the issue/PR contains a label from the hard label list:
    - [x] Place th

[2021-08-30 00:55] Aveline-art commented on #2203
@ExperimentsInHonesty From just testing the [events page](https://www.hackforla.org/events/), we can fix this by adding end '/' to the permalinks.

Compare permalink front matter for the [events page ](https://github.com/hackforla/website/blob/gh-pages/pages/events.html)vs the [getting started page](https://github.com/hackforla/website/blob/gh-pages/pages/getting-started.html).

The donate page is

[2021-08-30 04:02] abenipa3 commented on #1630
## Minutes for 8/29/21

- Mock-Ups for Hero Section Feedback
  - Bring more color accent to the hero section.
  - Color the chart green in the [third page](https://user-images.githubusercontent.com/38295612/131282897-6a370cce-6b2c-41ef-b6bb-632716e370ab.png)
  - Add yellow to the image, either to the character's pants, shoes, or box image box in the first page.
  - Add a gradient to half of the si

[2021-08-30 16:38] kristine-eudey opened #2207 "Adjust "...See More" placement on Wins Cards"
### Overview
We need to move the "...see more" link on the Wins cards from the end of the text to the bottom right of the card in order to standardize card design, making the design and functionality the same regardless of whether the cards do or do not have expandable text.

### Action Items
Design:
- [x] Duplicate current [Wins card](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-

[2021-08-30 16:50] #2026 closed, assigned to IpshitaSingh

[2021-08-30 17:54] Aveline-art commented on #1728
@janieche This looks to be a duplicate issue. The notes here might provide additional help for your issue.

[2021-08-30 17:54] #1728 closed, assigned to nobody

[2021-08-30 18:04] Aveline-art commented on #1891
### Post-meeting notes, September 02, 2021

<details>
<summary>Click for notes</summary>
<br>

Meeting notes Sep 2, 2021

Start: 7:00 PM

Note taker: Saumil

For the VRMS API code, it might not be preferable to call the api multiple times. Is there a way to cache the data into a state variable that can be readily retrieved?

- VRMS retrieves multiple times
- need place to store api data
- const AP

[2021-08-30 18:04] Aveline-art commented on #1891
### Agenda for September 09, 2021

- [ ] Designate a note taker who will follow up on issue creation\
- [x] How do we use the new website-admin folder in the drive?
  - [x] What files belong there?
  - [x] What does not?
  - [x] How do we grant permission?
  - [x] Who gets what level of permission?
  - [x] Do we revoke permission after x time?
  - [x] Do we refresh sensitive keys in the folder?

[2021-08-31 03:13] adrian-zaragoza commented on #2082
Closing this issue because its complete.

[2021-08-31 03:13] #2082 closed, assigned to adrian-zaragoza

[2021-08-31 03:22] abenipa3 commented on #1630
## Minutes 8/30/21

- Voted on the new hero image. More details on the next post.
- Discussed how to automatically get the navigation bar collect sections and subsections (and skip the manual process in adding the titles and hrefs to the front matter.)
   - Decided to reach out to 100automations Team.
- Discussed how the Doc to Markdown works using [this example](https://docs.google.com/document/d

[2021-08-31 03:33] #2085 closed, assigned to Zhu-Joseph

[2021-08-31 03:42] #2165 closed, assigned to mehmehmehlol

[2021-08-31 03:55] #2164 closed, assigned to adam-abundis

[2021-08-31 04:35] abenipa3 commented on #1630
# Guide Page's New Hero Image

The winner is Version 1. Please click the arrows below to see the final redesigns for both Desktop and Mobile.

<details><summary> Mock-Up for Desktop </summary>

![Desktop](https://user-images.githubusercontent.com/38295612/131442246-ffa98465-b0eb-4c9c-b707-be9f37303b36.png)

</details>

<details><summary> Mock-Up for Mobile</summary>

![Mobile](https://user-images.

[2021-08-31 14:28] sheltoG commented on #1797
Meeting: 8/31/2021

**Participants**
@ExperimentsInHonesty @kristine-eudey @Basu3040 @kevngaleu @sheltoG @sobe-an

**Things to discuss**

Shelton agenda items:

- Alignment on Hfla business objectives

UX agenda items:
- Running Usability testing with donor/partner interviews
- Review new copy for [projects page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14743%3

[2021-08-31 15:33] macho-catt commented on #2111
After the feature branch merge, this is now ready to be implemented

[2021-08-31 15:37] macho-catt commented on #2179
We will have a proposal for how to refactor the current gh-action workflows to make them more manageable during the Thursday dev meeting. Afterwards, issues will be created to refactor the directory structure, and then this will be updated to reflect those changes.

[2021-08-31 16:29] averdin2 opened #2210 "Wiki needed to prevent duplicate style classes"
### Overview
As outlined in issue #1901, there are places in the codebase where the same style classes are copied and pasted in multiple different files. In order to prevent this in the future, we need to have some documentation in the wiki that documents how to proceed when duplicate styles are encountered in the code and what we can do to fix them.

### Action Items
- [x] Come up with a procedur

[2021-08-31 18:00] macho-catt opened #2211 "Standardize how 'Overview' links open pdf files"
### Dependency
- [x] #2238
- [x] #2233
- [x] #2234
- [x] #2235
- [x] #2236
- [x] #2237
- [x] #2238
- [x] #2239
- [x] #2240
- [x] #2162
- [x] #2242
- [x] #2243

### Overview
As a user, clicking on the 'Overview' link for each project page should act the same way. Currently, the 'Overview' links for each project act differently. Clicking the link should open a new tab to the pdf file directly. We wi

[2021-08-31 20:35] sheltoG opened #2212 "HfLA: PM Weekly Meeting Agenda"
### Overview
This issue tracks the agenda for the PM team weekly meeting.

### Action Items
- [ ] Copy agenda template to a new comment below
- [ ] Add the date of the agenda with comment link to the list

[code]

### Resources
- #1797
- #2607
- #1734
#### Past Agendas

[2021-08-31 20:49] sheltoG commented on #2212
Template:
Meeting: 08/31/21

Participants: @ExperimentsInHonesty @kevngaleu @sheltoG @sobe-an

Things to discuss:

1) Transition of @sobe-an from Hfla project
2) Review business objectives to inform growth and analytics strategy
3) For the revised project page come up with ideas of what we want site visitors to understand when they visit the page.  #1051
(
Things discussed:

Actions to take:

[2021-09-01 00:23] adam-abundis commented on #2010
### Agenda for August 31, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you f

[2021-09-01 02:22] averdin2 commented on #1441
Update: Just waiting on a review for this PR. I also am planning on adding one more commit tomorrow.

[2021-09-01 02:22] aalieu commented on #1619
1. Resolved changes requested by reviewers. Just waiting for the final okay for it to be merged.
2. No blockers!
3. N/A
4. Completed unless there is another problem.

[2021-09-01 02:23] averdin2 commented on #1958
Progress: Just waiting on issue #1441 to be merged to make a PR for this.

[2021-09-01 13:37] Basu3040 commented on #2096
@sacamp @PamelaLi36 Let us know if you can access the one password email.

[2021-09-01 13:53] Basu3040 commented on #2015
Progress: We have cleaned the homepage redesign research plan. Interview and survey questions are done. Next, we will create questions for usability testing and layout a detailed plan of participant recruitment.
Our one password email is, siteresearch@hackforla.org. This email will be used to communicate with the interviewees.
Blockers: None
Availability: 2 hours of collaborative and 1 hour of ind

[2021-09-01 14:03] kristine-eudey commented on #1051
Updated copy was shared with Bonnie and PM team on 8/31. Additional changes were identified as being needed.

- PM team will identify and give UX team clarity on what the most important elements that need to be mentioned on the header of our Projects page.
  - Question for PM team to answer: what do we want people to think about when they think about our projects? How do we want to frame our proje

[2021-09-01 14:28] kristine-eudey opened #2213 "Design mobile version of new homepage"
### Dependency
#2190

### Overview
We need to design a mobile version of the redesigned homepage so that the page can be launched.

### Action Items

- [ ] Refer to findings and assessments from #2190
- [ ] Design a mobile version of the redesigned homepage following the current mobile design standards in the design system and using design system components whenever possible.
- [ ] Communicate wit

[2021-09-01 16:19] ExperimentsInHonesty commented on #1630
@alyssabenipayo What font choices do we have on the website?  I looked in the design system pages and didn't see a font specified.

We also did some testing (which you can find at the bottom of the figma page).  Here is what we found.  The reason for our testing is that the titles seem a bit large, and not as sophisticated as the current Google Guides.

![image](https://user-images.githubuserconte

[2021-09-01 21:01] janieche commented on #2016
1. Progress: Updated designs with [new variations](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15053%3A95269) based on feedback during team meeting in yellow box.
2. Blockers: Need a decision on which design to move forward with
3. Availability: Not available Thurs 9/2 - Tues 9/7
3. ETA: New designs are done, pending decision
4. Pictures:
<img width="229" alt="Scr

[2021-09-02 16:56] kristine-eudey commented on #2106
**Meeting: 9/2/2021**

**Participants:** Ashley, Ava, Kristine, Alyssa, Simone

**Things to discuss:**
- Weekly standup - What progress have you made on issues you're working on in the past week? What are your goals for the coming week?
- We need to bring more designers onto the team! Know anyone?
- Figma organization & best practices / aligning the team on the convention for organizing our design

[2021-09-02 22:06] abenipa3 commented on #1630
Hi Bonnie, these are the [font choices](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3689%3A21144) that we have in our design system - I used Headings-Title 1 for the Heading-1 (48px for Desktop Size), Headings-Title 2 (36px Desktop) for the Subheadings, and the paragraphs are 20px. Just in case, I also referred to this font choice for our nav-bar [here](https://ww

[2021-09-03 00:27] Aveline-art opened #2215 "GitHub Actions: Update trigger on add missing labels GHA"
### Overview
As a developer, we need to cover edge cases on our code. For this issue, we will update the trigger for our Add missing labels to new issues job under the "[Issue Trigger](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/issue-trigger.yml)" GHA.

### Action Items

- [x] Add "transferred" to the GHA trigger noted above (line 4).
[code]
- [x] Update the if conditiona

[2021-09-03 01:03] Aveline-art opened #2216 "Audit yml collections for specific ids"
### Overview
As a developer, our data must model the way data works with a database. For this issue, we will audit items in our yml collections to check that they contain unique, non-displayed id identifiers that distinguish it from other items.

### Action Items

- [x] Search through all files in our [collections](https://github.com/hackforla/website/tree/gh-pages/_data/internal).
- [x] Look for

[2021-09-03 01:24] Aveline-art commented on #2130
@kristine-eudey Here's 12 in case some of them do not have logos. They are in no specific order, but candidates to remove might be Python and Javascript.

1. Docker
2. React
3. AWS
4. Django
5. Javascript
6. Python
7. Figma
8. Express
9. MongoDB
10. PostgreSQL
11. GitHub
12. NoSQL

[2021-09-03 05:09] adrian-zaragoza commented on #2128
Hi @Aveline-art I was able to verify the checked items in the checklist. By any chance are you free tomorrow for a quick zoom call? I have some questions regarding a couple of items on the list. Thank you!

[2021-09-03 10:05] IpshitaSingh commented on #2194
Progress: Done
Blockers: None
Availability: 2 hours
ETA: N/A

[2021-09-03 15:17] ExperimentsInHonesty commented on #1630
@alyssabenipayo Thank you for pointing out where the typography sizes were.  We made some mockups in the same [figma page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=695%3A0) (it has a blue line around it).  When you are able to join us, let's discuss.  No need to make any global changes now.

[2021-09-03 15:45] #2170 closed, assigned to macho-catt

[2021-09-03 16:21] macho-catt commented on #2179
Proposal can be found [here](https://docs.google.com/spreadsheets/d/12NcZQoyGYlHlMQtJE2IM8xLYpHN75agb/edit?rtpof=true#gid=1231634015). Updating issue to reflect the new proposal.

[2021-09-03 16:52] kristine-eudey commented on #2130
@Aveline-art thanks for compiling this list! Based on what you shared, and by looking at the most frequently used technologies on the projects page dropdown I've incorporated the icons listed below on the homepage. I think the only one here that wasn't on your list which I've added is Node.js, which is shown to be used in 7 projects on the dropdown list.

@Aveline-art and @abuna1985 please take a

[2021-09-03 17:13] macho-catt opened #2220 "GitHub Actions: Rename "Add Update Label to Issues Weekly" to "Schedule Friday 0700""
### Overview
As a member of the backend team, github actions are much more maintainable and easier to understand if they are structured based on triggers and functionality. For this issue, we want to update [add-update-label-weekly.yml](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/add-update-label-weekly.yml) and rename the action to 'Schedule Friday 0700' so all scheduled

[2021-09-03 17:38] macho-catt opened #2221 "GitHub Actions: Rename "Update Team Members" to "Schedule Thursday 1100""
### Overview
As a member of the backend team, github actions are much more maintainable and easier to understand if they are structured based on triggers and functionality. For this issue, we want to update [update-team-members.yml](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/update-team-members.yml) and rename the action to 'Schedule Thursday 1100' so all scheduled action

[2021-09-03 17:48] macho-catt opened #2222 "GitHub Actions: Rename "Update GitHub Data" to "Schedule Daily 1100""
### Overview
As a member of the backend team, github actions are much more maintainable and easier to understand if they are structured based on triggers and functionality. For this issue, we want to update [github-data.yml](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/github-data.yml) and rename the action to 'Schedule Daily 1100' so all scheduled actions that occur on 11a

[2021-09-03 19:51] abenipa3 commented on #1630
## Minutes 9/3/21

- Reviewed mockups from [figma page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15151%3A99110)
- Discussed new tool ([toc.html](https://github.com/allejo/jekyll-toc), which automatically pulls headings without needing to add the sections, titles, and hrefs in front matter.
- Reviewed font sizes for section and sub-section titles on navbar.

[2021-09-03 20:53] kristine-eudey commented on #2057
All recently discussed edits have been made and, pending approval, I think the MVP v2 is ready to go. I will work on MVP v1 in the coming days, which is the version with a simplified Program Areas section while we wait for project impact content to be finalized.

See most up to date version here:[Figma - Homepage Redesign: 9/3/2021](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Web

[2021-09-04 00:39] blakes24 commented on #2101
Progress: Pull request made
Blockers: none
Availability: 5 hours
ETA: pending approval
Pictures:
<details>
<summary>Copy button clicked</summary>

![after](https://user-images.githubusercontent.com/62186905/132076346-bd98cf1d-4139-4784-920b-233b229eb6fb.gif)

</details>

[2021-09-04 02:22] Aveline-art commented on #2101
Hi @blakes24 Just realized that my instructions were unclear after seeing the gif. For the highlighting, we would want it to not happen at all. I know that is the complete opposite of the action item, but it was a complete brain fart on my part.

[2021-09-04 02:45] Aveline-art commented on #2128
Hi @adrian-zaragoza . I am not free on the weekends, but I can do Tuesday the hour before the meeting? Please slack me if that is a good time for you!

[2021-09-04 03:02] abenipa3 commented on #2014
# Deploying HfLA Live Website to Netlify

## Prerequisites
Note: Most of the links mentioned in this section contain visuals of the steps taken to fulfill this process.

- Create an account for Hack for LA by using GitHub or Email.
- Select ["New Site"](https://user-images.githubusercontent.com/38295612/132080562-7f51bcd0-f0d1-4485-a07b-86e80b1f2245.png) from Git.
- The site will take you to the “

[2021-09-04 03:37] adrian-zaragoza commented on #2128
Here are some additional notes for the feasibility tests:

     •  Can issue forms pre-label certain templates?
		○ Pre-labels available to the form can be added and will auto label the issue once created
	•  Can issue forms pre-populate a template with static text?
		○ Issue forms can have placeholder text that disappears as soon as a user starts typing
		○ Issue forms can also have a value pre p

[2021-09-04 03:41] adrian-zaragoza commented on #2128
Link to the [blank issue demo](https://github.com/adrian-zaragoza/website/issues/new?assignees=&labels=&template=demo_blank_issue.yml) template

Link to the [demo showing features](https://github.com/adrian-zaragoza/website/issues/new?assignees=&labels=bug%2Cgood+first+issue%2Cenhancement&template=demo_features.yml&title=Title+can+be+anything)

- On the demo showing features, I made the dropdown t

[2021-09-04 10:33] sobe-an commented on #1076
@ExperimentsInHonesty Please see the new draft for review on the last page of the draft document.

[2021-09-04 21:53] blakes24 commented on #2101
Okay. I updated it so that the text doesn't get highlighted.
<details>
<summary>Updated copy button</summary>

![copy-btn](https://user-images.githubusercontent.com/62186905/132108831-356df52c-9bb7-4bf6-9b77-85f4729a4b63.gif)

</details>

[2021-09-05 15:12] Abel-Zambrano commented on #2076
Progress: built the filter, just need to work on the data that's passed in.
Blockers: matching keys from 2 objects are mismatched.
Availability: 5hrs
ETA: Monday

[2021-09-05 15:45] janieche commented on #2069
1. Progress: In progress (yellow rectangle). Created 3 options and want to explore a 4th with categorized mega menus.
2. Blockers: Can we assign the Unlisted items under existing categories?
3. Availability: Weekends and weekday evenings
4. ETA: TBD pending feedback
5. Pictures:
<img width="479" alt="Screen Shot 2021-09-05 at 9 43 11 AM" src="https://user-images.githubusercontent.com/12770042/1321

[2021-09-05 15:51] adam-abundis commented on #1850
1. Updated/Created #2112, #2113, #2198, #2199, #2200, #2204, #2205 to standardize the color variables within the site. Updated issues within the initial comment.
2. Life
3. Should be able to focus on this Monday afternoon/evening and Tuesday/Thursday evening.
4. We should have all the relevant issues ready in the next 2 weeks. The implementation may take a month or 2.

[2021-09-05 16:13] Aveline-art commented on #2027
### Agenda for September 05, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
- [x] Go through developer review column
- [x] Assign pull requests
- [x] Monthly workflow demo (see above): Pull request review.
- [x] Go through new issue approval
- [x] Reminder to give a status report by the Sunday meeting

[2021-09-05 16:16] ExperimentsInHonesty commented on #2127
@Aveline-art please add size and re-add "ready for milestone" label

[2021-09-05 16:19] ExperimentsInHonesty commented on #2145
@Aveline-art Is this required in order for the page to show up on the new homepage design. If it is the milestone will be higher.  please let me know and then re-add the ready for milestone label.

[2021-09-05 16:38] adam-abundis opened #2226 "Design System: Standardize Page Cards"
### Dependency

- [x] #2061
- [ ] #4296
- [ ] Also check in with people working on about page and Guides pages

### Overview
As a developer, it is important to standardize our elements for all teams in the website project. For this issue, the element to standardize is the cards used on the HfLA website.

### Action Items
- [ ] [Link to Spreadsheet](https://docs.google.com/spreadsheets/d/10-c3jpf4v

[2021-09-05 16:56] Basu3040 commented on #2015
Progress:
This message is for the general channel to recruit donors/partners:
HfLA UX Research team is looking to interview people who have donated money and/or service in the past for social causes.  In this study we are trying to understand their motivations to donate for a cause.  If you know someone who has given a donation and would be willing to be interviewed and be part of a short survey (

[2021-09-05 17:06] Aveline-art commented on #2145
@ExperimentsInHonesty This is not required for the homepage redesign (HPR), technically. For the HPRe, I had made a new static file (this file is not updated in real time) with the correctly formatted data, so as long as the HPRe wins card do not need the latest wins updates, then we are good.

[2021-09-05 17:09] mehmehmehlol commented on #2080
1. Progress: Just created a pull request for this issue.

[2021-09-05 17:17] macho-catt commented on #2135
@arghmatey will work on creating issues for each action items

[2021-09-05 18:23] abenipa3 commented on #1630
# Feedback from 9/5/21
- Font Discussion:
  - Oswald will be for the heading.
  - Roboto for the paragraph.
- [Website Team Vote Discussion](https://user-images.githubusercontent.com/38295612/132137229-8c578e3e-2455-4c2a-994a-c1d17ff57522.png):
  - Fully Bolded (Option 2)
  - Without the Emoji (Option 2)

# Action Item
- [x] Update the paragraph size to 16px. [[Design System-Typography]](https://w

[2021-09-05 18:36] ExperimentsInHonesty commented on #1996
Make this into a template during pm meeting wednesday

[2021-09-05 18:37] ExperimentsInHonesty commented on #2212
2021/09/08
Make a template together
https://github.com/hackforla/website/issues/1996

https://github.com/hackforla/website/issues/918 product needs to come up with the list of labels they want included in the guide and then we can meet with design to identify how the current figma needs to change.

- [x] #1051 PM team will identify and give UX team clarity on what the most important elements we wa

[2021-09-05 18:39] ExperimentsInHonesty commented on #2130
@kristine-eudey we still need to review this list some more.  Items that came up after you left the meeting were: Figma, data science technologies (Jupyter notebook, Google Colab) and anything else people put in comments below

[2021-09-05 18:42] adam-abundis commented on #2130
@kristine-eudey I think we can remove `nosql` with `Figma`. We have 2 references to specific databases. This will allow us to feature design tools.

[2021-09-05 18:47] ExperimentsInHonesty commented on #1797
review this at next meeting
https://github.com/hackforla/website/issues/2021
https://github.com/hackforla/website/issues/19
https://github.com/hackforla/website/issues/918 & https://github.com/hackforla/website/issues/916

[2021-09-05 18:49] ExperimentsInHonesty commented on #2201
The Tables team need to reach out in admin channel for a meeting time with me.  Please indicate all availability of your team.

[2021-09-05 19:04] blakes24 commented on #2027
### Post-meeting notes, September 5, 2021

<details>
<summary>Click for notes</summary>

## Dev Meeting

### Announcements

- none

### Review Column

- Sarah will create issues for wins page remaining issues #2135
- Ava will discuss deployment options with alyssa #2014

### PRs
- no progress on #2011 Mathew will reach out to Celine for pair programming
- PR #1407 still draft, ask Jack if he has m

[2021-09-05 20:57] ExperimentsInHonesty commented on #2016
@janieche I put a large purple line around the one I prefer.  Please integrate that into the designs so we can release it to development 🥳
![image](https://user-images.githubusercontent.com/37763229/132141235-5b270c89-81a3-46d9-ba16-35109979aa2c.png)

[2021-09-06 14:34] ExperimentsInHonesty commented on #19
Next steps
- [ ] Keep looking into it and find all the edge cases

**Los Angeles County**
Only supports Internet Explorer (IE)11. Other browsers like Chrome and Firefox has been tested and can be used but there may be issues with those browsers that we cannot fix/support. If there are any issues that cannot be resolved, then it is recommended to download and use Internet Explorer (IE)11.
source: h

[2021-09-06 19:01] ExperimentsInHonesty commented on #918
@kristine-eudey we need to revise this issue, let's talk about it in our next meeting

[2021-09-06 19:01] macho-catt commented on #2203
@abuna1985 @ExperimentsInHonesty @Aveline-art I suggest that for this particular issue, we can rewrite it to update the permalink for the [donate page](https://github.com/hackforla/website/blob/gh-pages/pages/donate.html) to become '/donate/' instead (as Ava) suggested. Then, change the permalink in this [file](https://github.com/hackforla/website/blob/gh-pages/redirections/donate.md) to '/codefor

[2021-09-06 19:26] Aveline-art commented on #1980
* Progress: A new admin drive was created this weekend. The next step is to move the apps script to the drive.
* Blockers: None
* Availability: 1 hour
* ETA: Soon

[2021-09-06 19:44] macho-catt commented on #2145
Progress: Got access to google app script
Blockers: N/A
Availability: 5 hours
ETA: 2 weeks
Pictures: N/A

[2021-09-06 22:39] Aveline-art commented on #1988
Closed because #2127 already solves this issue

[2021-09-06 22:39] #1988 closed, assigned to nobody

[2021-09-06 22:46] Aveline-art commented on #1543
@ExperimentsInHonesty I was wondering whether we can invite programmer from other teams to work in tandem with us on this project since it involves the organization as a whole.

[2021-09-07 00:05] ExperimentsInHonesty commented on #1543
@abuna1985 @macho-catt @Aveline-art Slack bots are amazing and many companies including 1 password have their own api integrations and sometime even slackbots.  However, on a free slack plan, we only get 5 slackbots. So what we need is some kind of super slackbot that has permissions to do everything except remove members and delete messages and then customize our interface to it, so that we can h

[2021-09-07 00:09] ExperimentsInHonesty commented on #2188
@Aveline-art I added the dependency
Dependency
Re organizing the wiki and publishing it in MKdocs or similar

Is this ok? or am I misunderstanding the issue?

[2021-09-07 00:20] ExperimentsInHonesty commented on #2108
@sheltoG I think I prematurely moved this into prioritized backlog.  I don't think we have a mechanism to email or slack the people who donate yet.  So this probably needs a dependency and another issue created or (if one is already made) linked.

@Aveline-art am I right about this, there is no email that goes out when someone submits a win?

[2021-09-07 00:24] ExperimentsInHonesty commented on #2108
Also, this issue has two role labels on it.  It only can have one (whoever needs to touch it next).

[2021-09-07 00:26] macho-catt opened #2227 "GitHub Actions: Fix edge case scenario on 'add missing labels' GHA"
### Overview
As an organization, we want to change our "size: good first issue" label to "good first issue" so that it can be referenced by GitHub and other organizations. However, doing so will break the GitHub Action:  "Add Missing Labels to Issues." Update and fix the edge case scenario for the GitHub Action so that changing the label won't break the action.

### Action Items
- [x] Understand h

[2021-09-07 02:24] averdin2 commented on #1833
We still need:
- A list of all the projects to be put in the Google Table (do we just want every project HFLA has done?).
- What permissions are needed for our GitHub accounts?
- Access and folder ids for all Communities of Practice and projects.
- Security for GitHub token in Google Script.

[2021-09-07 04:37] adam-abundis commented on #2010
### Agenda for September 6th, 2021

- [ ] Designate a note-taker who will follow up on issue creation
- [ ] Don't forget to sign in to [vrms.io](https://vrms.io)
- [ ] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped y

[2021-09-07 16:47] Aveline-art opened #2228 "Feasibility: Assess viability of automatic updates to documentation"
### Dependency
- #3636
- #2676

### Overview
As a developer, we need documentation that is up-to-date and easy to maintain that way. In this issue, we will be performing a feature assessment on having automatic updates on the wiki and our contributing documentation.

### Action Items

- [ ] Assess whether a program can:
  - [x] Perform edits to files within a repository (please test this on your o

[2021-09-07 19:04] kristine-eudey commented on #1797
Meeting 21/09/07

**Participants :** Basu, Bonnie, Kayode, Kevin, Kristine, Shelton

**Things to discuss:**
https://github.com/hackforla/website/issues/2021 - bonnie will talk to sophia then get back to ui
https://github.com/hackforla/website/issues/19 - carry this over till next meeting but clarify that is ux research
https://github.com/hackforla/website/issues/918 product will define labels and

[2021-09-07 19:37] ExperimentsInHonesty commented on #2096
@PamelaLi36 please accept the invite for 1password that I just sent.  Then we can get you added to the vault.

[2021-09-07 19:46] ExperimentsInHonesty commented on #2021
@anonymousanemone Where on the figma page is your work?

[2021-09-07 19:55] ExperimentsInHonesty commented on #918
product needs to come up with the list of labels they want included in the guide and then we can meet with design to identify how the current figma needs to change.

[2021-09-07 20:21] anonymousanemone commented on #2021
In the Wins page section @ExperimentsInHonesty

[2021-09-07 20:28] ExperimentsInHonesty commented on #2021
@anonymousanemone Yes, but where? the page is huge

[2021-09-07 20:34] ExperimentsInHonesty commented on #1797
21/9/14

**Participants:**
**Things to Discuss:**
Research
hackforla/product-management#19

Design
[Homepage](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15540%3A100583)
#918 product will define labels and then meet with Design
review of hompage design
#1051 PM team will identify and give UX team clarity on what the most important elements we want to mention on th

[2021-09-07 22:13] benrempel commented on #2193
It seems the first 2 tasks have already been addressed and merged in an earlier PR.

For the 3rd task (.step-img-intro height), I'm running into a problem. I've set `height` to `max-height`. However, the "solidarity" image doesn't dynamically resize. See screenshots.

Any suggestions? I've tried setting `width` to `max-width` and then `100%` and neither worked. I noticed that the resolution for so

[2021-09-07 23:27] janieche commented on #2016
Updated mocks can be found in the [yellow rectangle.](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15307%3A98621)

<img width="173" alt="Screen Shot 2021-09-07 at 5 27 35 PM" src="https://user-images.githubusercontent.com/12770042/132422811-556785ca-e8c5-48e8-a68c-ccf2c0ba218a.png">

[2021-09-08 00:51] anonymousanemone commented on #2021
@ExperimentsInHonesty I boxed it with an orange rectangle

[2021-09-08 00:55] janieche commented on #2069
After team feedback and voting, we decided to move forward with the mega menu (without categorized sections). There are 3 versions for desktop --
- Version A is the default with the current set of technologies.
- Version B is an example of the future version if new technologies are added. The box will become longer rather than wider (it should not go wider than 4 columns) as long as the entire lis

[2021-09-08 01:24] adrian-zaragoza commented on #2128
@ExperimentsInHonesty @Aveline-art  had an idea where we could create a github issue template for each project and use github actions to prefill the template with repository code. This idea will need to be explored more.

[2021-09-08 01:31] Aveline-art opened #2231 "Refactor JS: Move script from wins.html to an external js file"
### Overview
As a member of the website development team, Javascript code is much more maintainable and reusable if they exist in a separate folder rather than embedded with html. For this issue we will be moving the files in [wins.html](https://github.com/hackforla/website/blob/gh-pages/pages/wins/wins.html).

### Action Items
- [ ] Review the notes below to understand recent changes to our archi

[2021-09-08 02:35] SAUMILDHANKAR opened #2232 "Make engineering pre work issue template"
### Overview

Need a pre work template so new people can know how to make a new issue and know what to do when they first arrive

### Action Items

- [ ] Write a draft in comments of new template
- [ ] Ask team members for advice on what should go in template

### Resources/Instructions

[Contributing](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)
[Site architecture](https://

[2021-09-08 05:23] macho-catt opened #2233 "Update how 'Overview' link opens for 100 Automations"
### Overview
As a user, clicking on the 'Overview' link for the 100 Automations project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the mac

[2021-09-08 05:38] macho-catt opened #2234 "Update how 'Overview' link opens for Access The Data"
### Overview
As a user, clicking on the 'Overview' link for the Access The Data project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the mac

[2021-09-08 05:44] macho-catt opened #2235 "Update how 'Overview' link opens for BallotNav"
### Overview
As a user, clicking on the 'Overview' link for the BallotNav project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the machine.

[2021-09-08 05:47] macho-catt opened #2236 "Update how 'Overview' link opens for Civic Opportunity"
### Overview
As a user, clicking on the 'Overview' link for the Civic Opportunity project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the m

[2021-09-08 05:57] macho-catt opened #2237 "Update how 'Overview' link opens for Civic Tech Index"
### Overview
As a user, clicking on the 'Overview' link for the Civic Tech Index project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the ma

[2021-09-08 06:01] macho-catt opened #2238 "Update how 'Overview' link opens for Civic Tech Structure"
### Overview
As a user, clicking on the 'Overview' link for the Civic Tech Structure project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to th

[2021-09-08 06:07] macho-catt opened #2239 "Update how 'Overview' link opens for Engage"
### Overview
As a user, clicking on the 'Overview' link for the Engage project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the machine. The

[2021-09-08 07:49] IpshitaSingh commented on #2045
Progress: Made all changes, have to take and attach 'before' and 'after' pictures
Blockers: Faced a little difficulty locating the file to be changed; Docker not correctly refreshing the page
Availability: 2 hours
ETA: 1-2 days

[2021-09-08 11:03] abenipa3 commented on #1630
# Redesign Updates 9/8/21

Note: Won’t be able to attend the meeting today (Wednesday). Please see the following updates:

- Applied the following feedback from Sunday:
     - Updated Fonts for Heading to Oswald.
     - Updated paragraph sizes from 20px to 16px as seen in the design system.
     - Updated navbar section and subsection titles to reflect  [Option 2](https://user-images.githubusercon

[2021-09-08 18:20] macho-catt opened #2240 "Update how 'Overview' link opens for Expunge Assist"
### Overview
As a user, clicking on the 'Overview' link for the Expunge Assist project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the mach

[2021-09-08 18:51] macho-catt commented on #2162
@abuna1985 @ExperimentsInHonesty @sobe-an I was wondering if I can rewrite the action item for the pdfs part here to comply with the action item I am trying to accomplish for #2211
Basically standardizing how pdf files open in the website so that it just opens directly in the browser as a new tab, instead of opening it as part of a github page.

My other option would be to create an issue that is

[2021-09-08 19:19] macho-catt opened #2242 "Update how 'Overview' link opens for LA TDM Calculator"
### Overview
As a user, clicking on the 'Overview' link for the LA TDM Calculator project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the m

[2021-09-08 19:22] macho-catt opened #2243 "Update how 'Overview' link opens for Youth Justice Nav"
### Overview
As a user, clicking on the 'Overview' link for the Youth Justice Nav project should open a new tab to the pdf file directly. This is made as an action item of #2211

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the m

[2021-09-08 19:31] ExperimentsInHonesty commented on #2211
@macho-catt did you use the label collaborative work because this issue is an epic?  Or because you did this issue with another person?

[2021-09-08 19:31] ExperimentsInHonesty commented on #918
must have labels
size
feature
role

optional labels
enhancement for new features to the site or organization
bug (a bug is not necessarily time sensitive, if it is also use the time sensitive label)
time sensitive
discussion (when does this label get used?)

Labels in question
collaborative work - see issue https://github.com/hackforla/website/issues/2211 & https://github.com/hackforla/website/iss

[2021-09-08 19:33] ExperimentsInHonesty commented on #1850
@abuna1985  did you use the label collaborative work because this issue is an epic? Or because you did this issue with another person

[2021-09-08 19:44] ExperimentsInHonesty commented on #1051
@ahoang94 This is the new copy for the page

Our projects have real impact in local communities.  Use the filters below to learn about our project and the teams by Status, Technology and Program area.

There are countless opportunities to build digital products, programs and services across a number of skill levels and practice areas. Visit the [Join Us](url) page to find out how you can get invol

[2021-09-08 19:50] ExperimentsInHonesty commented on #2212
next weeks agenda

- [x] #2021 review the figma after Sophia indicates where her design work is

#1076 Sobechukwu provided her draft - next steps putting on letterhead and final edits

- [x] #1730 - Shelton - will update
- [x] #2108 - Shelton please respond to the comments on this issue

#918 product needs to come up with the list of labels they want included in the guide and then we can meet with

[2021-09-08 19:56] ExperimentsInHonesty commented on #1076
awesome edits by Sobechukwu next steps, bonnie formatting and final edits, then assign shelton for review and making contact.

[2021-09-08 20:21] ExperimentsInHonesty commented on #2127
@Aveline-art @abuna1985 @matthewlee626 This message is not current.

It show up even when they have not added labels and the issue is moved automatically now to the New Issue Approval column when its added to the board

[code]
Moving this back to new issue approval for re writing of action items

[2021-09-08 20:23] macho-catt commented on #2211
@ExperimentsInHonesty because this issue is an epic. Should that be a different label?

[2021-09-08 20:28] macho-catt commented on #2127
@ExperimentsInHonesty is there an example issue where the author did not add labels and the post showed up (when it shouldn't)? That way I can troubleshoot.

As for the second line of the post, we can make an issue to remove that or update this issue to remove that.

Thanks

[2021-09-08 23:06] ExperimentsInHonesty commented on #2127
@macho-catt What needs to happen is that someone needs to model what happens when you do each of the things below and see where it does not make any sense.  This does not need anyone from product to do this, this can be done by front end or back end leads or merge team or anyone who has been around long enough to understand how issues work.

Here is the stuff I would model to see what does not wor

[2021-09-08 23:18] kristine-eudey commented on #2190
@ashleylin1 thanks for jumping in on this! Please provide an update on this issue:

- Progress
- Blockers
- Availability
- ETA

[2021-09-09 15:34] #1911 closed, assigned to adam-abundis

[2021-09-09 16:05] ExperimentsInHonesty commented on #2232
# from the ui/ux prework template

### Overview
Fill in the following fields as you work on these items on the Hack for LA website project. Add the link of the items you worked on in the list as examples.

### Onboarding Action Items
- [ ] Join UX/UI Github and Google Drive
- [ ] Set up [2FA](https://www.hackforla.org/guide-pages/2FA.html) on Github and mark HfLA membership [public](https://docs.g

[2021-09-09 16:32] Aveline-art commented on #1891
### Post-meeting notes, September 09, 2021

<details>
<summary>Click for notes</summary>
<br>

?How do we use the new website-admin folder in the drive?
   ☐ What files belong there?
	- Wins form and any api keys for the moment until we find other way (but maybe api keys not a good idea)
   ☐ What does not?
	- however security keys might be dificult
   ☐ How do we grant permission?
	- if anyone ne