[2021-06-24 05:32] daniellex0 commented on #1823
How to check measurements in mobile with "inspect"-

Select both of these:
<img width="127" alt="Screen Shot 2021-05-19 at 11 28 33 PM" src="https://user-images.githubusercontent.com/67400366/118929973-08913180-b8fa-11eb-9a96-49aff5bcaff7.png">

And then you can measure specific elements of the page by hovering over them to replicate the designs of the Project page in mobile:

<img width="283" alt

[2021-06-24 06:25] Aveline-art commented on #1787
Note on future expansion: Although currently not required, should we pursue more complex workflows, the workflow needs to be more modular, especially when jobs or parts of jobs can be reused. This [documentation on separating actions from workflow](https://docs.github.com/en/actions/learn-github-actions/finding-and-customizing-actions#referencing-an-action-in-the-same-repository-where-a-workflow-f

[2021-06-24 06:54] Aveline-art commented on #1622
Something to consider:

As some of the categories expand, having subcategories would help isolate relevant/irrelevant articles. For example, it might be hard to locate something about pull requests in the How To: section. I don't have suggestions on splitting the How To section for now, but if this feature is preferable, I can gather suggestions during the next development meeting.

[2021-06-24 06:55] daniellex0 opened #1824 "Create new donation gif"
### Overview
We need to update the donation gif on the bottom of both the Join and About pages because the current gif is outdated and no longer consistent with the Code for America donate box, so it may confuse users and discourage them from donating.

<details >
<summary>current gif appearance in Join page (blue)</summary>

<img width="500" alt="Screen Shot 2021-06-23 at 11 47 38 PM" src="https:

[2021-06-24 07:46] daniellex0 opened #1825 "Standardize Program Areas page in mobile"
### Overview
We need to standardize the **mobile only** ~~header illustration~~ and mini project cards in the [Program Areas page](https://www.hackforla.org/program-areas) to make them look like the original [Figma mobile design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=2009%3A26149), so that the page will be ready when the time comes to launch the page.

### A

[2021-06-24 15:16] akibrhast commented on #1787
---

I am a bit unsure about the reasoning behind the need to look for an alternative to pull_request_target. Based on [this](https://securitylab.github.com/research/github-actions-preventing-pwn-requests/).
 Which states:

![image](https://user-images.githubusercontent.com/32349001/123291670-504e3e80-d4e0-11eb-933e-7ceb86bf7d3d.png)

- As you can see, the usage of two workflows and passing around

[2021-06-24 15:45] Aveline-art commented on #1787
@akibrhast I can have my script ready by tomorrow, but it is quite heavy. Since I only tested for triggers, it might be easier to perform the test with [a "hello world" script](https://gist.github.com/Aveline-art/efc0dcdab28ffd46cbe479734ab41624).

[2021-06-24 15:49] akibrhast commented on #1787
Thanks @Aveline-art , that works.

Given that the script is getting quite heavy. Have you considered moving away from inline logic to having the code and logic in its own file ?

Something along the lines of this one : https://github.com/hackforla/website/blob/gh-pages/.github/workflows/github-data.yml
Where the action makes use of this script:  https://github.com/hackforla/website/blob/gh-pages/g

[2021-06-24 15:55] #1527 closed, assigned to vickiychung

[2021-06-24 16:11] Aveline-art commented on #1787
I have dabbled with making the code more modular, actually, rather than a separate script entirely. I am not sure if a separate script is the right way to go? I would need some guidance on what the best practices would be for the repo. I will make a pull request sometime this weekend to start a discussion on this.

Two reasons:

1) It is easier to account for when the script changes. Having to wor

[2021-06-24 16:15] akibrhast opened #1826 "MAKE vscode text larger"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2021-06-24 16:18] csseu commented on #1622
That's a good idea. I trust your judgment, so if a split doesn't seem that
obvious to you right now, it could probably wait a few months (especially
if you think you'll be writing more articles).

[2021-06-24 16:42] #1570 closed, assigned to anonymousanemone

[2021-06-24 16:48] akibrhast opened #1828 "find reccomendation about using vscode terminal"
quick guide on using terminal on vscode.

reach out to engineering.

[2021-06-24 16:54] #1828 closed, assigned to nobody

[2021-06-24 20:29] Sihemgourou commented on #1477
@averdin2 could you choose a role label and then remove the label role missing please?

[2021-06-24 20:35] Sihemgourou commented on #1674
@jbubar please add a role label to this and remove the role missing label. Thanks !

[2021-06-24 20:36] Sihemgourou commented on #1477
@jbubar @akibrhast have you heard from @averdin2 ?

[2021-06-24 20:37] akibrhast commented on #1477
@sayalikotkar Yes. He was on vacation and he will be back during tonights backend meeting

[2021-06-24 21:28] Sihemgourou commented on #1797
Meeting 21/06/24

Participants : @Sihemgourou & @ExperimentsInHonesty @sayalikotkar

Things discussed:

Actions to take:

- [x] Talk with the devs about the amount of front end good second issues
- [x] Make 3 bugs issues about the project cards bugs
- [x] Do a serie of test of the mobile version of the website (design). @Sihemgourou need to make an issue with a list of all the pages connected to t

[2021-06-24 21:30] Sihemgourou commented on #1698
@ktlevesque19 @daniellex0 we discovered some problems with the live version of the page. Please don't replicate this on the figma mobile version. I am creating some issues to correct the bugs.

<details>
<summary>bug getting started card</summary>

![Capture d’écran 2021-06-24 à 23 06 39](https://user-images.githubusercontent.com/55627107/123334580-9688b980-d543-11eb-9716-fa6e242618d4.png)

</de

[2021-06-24 21:31] Sihemgourou opened #1829 "Overflow is not correct in project page cards on mobile"
### Overview
The getting started section in individual project pages tends to cut off its internal cards on mobile devices.
<details>
<summary>Bug Image </summary>

![Capture d’écran 2021-06-24 à 23 06 39](https://user-images.githubusercontent.com/55627107/123332533-e7e37980-d540-11eb-8bc1-60208ffd30b7.png)

</details>

### Action Items

- [ ] Resize the getting started sections such that  all t

[2021-06-24 21:37] Sihemgourou opened #1830 "Engage project card: Bug with the alignment of the current project team members"
### Overview
The current project team members are not aligned on mobile devices.

<details>
<summary>  Bug  </summary>

![Capture d’écran 2021-06-24 à 23 26 49](https://user-images.githubusercontent.com/55627107/123335410-b40a5300-d544-11eb-83c0-4d420fa4736c.png)

</details>

### Action Items

- [x] Realign the name and the role in the bugged card.
- [x] Ensure that the correction doesn't break

[2021-06-24 21:48] daniellex0 commented on #1708
Great job @SaashaG , thank you!

Notes for future volunteers that take on this issue:
- The source link should be to Freepik URL (not storyset editing site)
- The image name can be found below the image on Freepik and in the URL)

[2021-06-24 23:36] ExperimentsInHonesty commented on #1748
@connie-yu-dotcom the meeting times are controlled by the VRMS team.  The website just uses their API to display.  Please open an issue using this [template](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-team-meeting-time.md&title=) to update your meeting times

[2021-06-25 01:58] averdin2 commented on #1477
Sorry about the delay on this. I will take care of this ASAP!

[2021-06-25 02:55] Zak234 commented on #1749
The wiki itself is quite good but it is a little bit buried especially because this seems like a very good document for new people to view to get an idea of what steps to get to be on-boarded.

[2021-06-25 03:06] abuna1985 opened #1833 "Creating onboarding form prototype"
### Overview
Build Hack for LA website team onboarding form prototype

### Action Items
- [ ] Adding the person to Github team repo
- [ ] Adding the person to team's Google Drive
- [ ] Adding the person's basic information to the team roster (their name, github & email) and then request them to fill the rest of the fields
- [ ] Adding the person to the google calendar invites
- [ ] Trigger a follo

[2021-06-25 03:10] averdin2 commented on #1833
Working off of issue #1669 to create Google form for Website team

[2021-06-25 03:23] averdin2 commented on #1833
We need to discuss if we should be adding people to the website-write team.

[2021-06-25 06:09] arghmatey commented on #1791
A little update:

I took a look at the classes and scss file for almost all pages (minus 'dashboard' since it looks like that has a different layout). Pages I took a dive into are: About, Events, Wins, Communities of Practice, Credits, Getting Started, Join Us, Program Areas, Project Team Meetings, Sitemap, and Toolkit. Among these, there are a handful of different reasons why the headers are not

[2021-06-25 23:29] anonymousanemone commented on #1708
Complete: 6/26/21
Figma link: [Toolkit page Figma file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967) (blue rectangle on bottom left)
![Screen Shot 2021-06-25 at 4 29 02 PM](https://user-images.githubusercontent.com/86015625/123493794-76540b80-d5d2-11eb-97c3-9219d9a7c393.png)

[2021-06-26 04:23] Aveline-art commented on #1445
Design/Research questions:
- [x] Where and how will the information be stored?
- [x] What ways are there to listen for the initiation or completion of a GitHub action?
- [x] What information has to be part of the log?
- [x] Who is the end user of the logging system?
- [x] What does the current logging system lack that this needs to address? Answer: The current logging system only preserve logs for

[2021-06-27 02:23] daniellex0 commented on #1378
@pascuas Let me know if you'd like to meet about the colors btw! I can help clarify what the next steps are :)

[2021-06-27 02:54] daniellex0 commented on #1708
Great job @anonymousanemone !

[2021-06-27 03:33] daniellex0 opened #1835 "Update Wins section of About page"
### Overview
We need to update the Wins section of the [About page](https://www.hackforla.org/about/#accomplishments), because it still says "coming soon" instead of a clear link. We also need to change the Wins title to black so that people don't confuse it with a link, and even out the alignment of the title with its icon.

### Action Items
- [x] Remove 'coming soon' in the Wins section and repl

[2021-06-27 03:56] daniellex0 opened #1836 "Correctly link Events page Communities of Practice meetings"
### Overview
We need to have the Community of Practice meeting links in the [Events page](https://www.hackforla.org/events/) schedule lead to the [Communities of Practice page](https://www.hackforla.org/communities-of-practice) so that people can get more information about them (right now they just link to the Events page).

### Action Items
- [x] Link all of the Communities of Practice listings i

[2021-06-27 04:18] christina245 commented on #656
Research plan here: https://docs.google.com/document/d/1AvTU0nyrZVPZ9oTA_6ZNIrHa6sHoeAuMGqAHQcq65Ac/edit

[2021-06-27 04:30] daniellex0 commented on #1383
Btw the team meetings spreadsheet linked in the top comment will be relevant to you @cherrijeong (& Ingrid) for the Roles board- it shows which team meetings are for which members, which is important for the schedule filter (because so far in the [Events page](https://www.hackforla.org/events/) a lot of the team meetings listed don't specify if they're for PM's, designers, devs, etc)

[2021-06-27 10:41] abenipa3 commented on #1515
Progress:

- Added "Overview" in the front matter of the MD files.
- Included nav links under "In This Guide" into the md files. (Will explain in the dev meeting.)
- Fixed and updated hero section. Please see Prototype Preview below.
- Applied media query to page cards and hero section.

<details><summary>Prototype Preview (Desktop)</summary>

![image](https://user-images.githubusercontent.com/382

[2021-06-27 15:20] averdin2 commented on #1477
I finished a first draft of the steps to fix this issue. I want to ask the team if there are other suggestions on where these steps should be placed, and if there is any additional info needed. Currently, I have these steps after the steps for starting and stopping Docker.

<details>
<summary>Screenshot of document changes</summary>

![image](https://user-images.githubusercontent.com/10714770/1235

[2021-06-27 15:49] daniellex0 commented on #1699
Looks good, great job @anonymousanemone 👍

[2021-06-27 15:50] #1699 closed, assigned to anonymousanemone

[2021-06-27 16:01] daniellex0 commented on #1622
Looks like this issue is completed, closing- thank you so much for all of your great work on this @ruqpyL2 ! 🥇

[2021-06-27 16:01] #1622 closed, assigned to csseu

[2021-06-27 16:14] daniellex0 commented on #577
Progress: Wiki sidebar has gone live, and getting good feedback. Currently designing webpage for documenting components. Met with devs interested in implementing the component library webpage to give them the history and overview about the design system.

Next Steps: Finish designing dedicated webpage for components, finish dev documentation, finish standardizing layouts / misc cards / typography

[2021-06-27 16:26] daniellex0 commented on #1416
Progress: Designing component library webpage that developers will be able to reference. Met with interested developers who will be able to help implement this.
Blockers: None
Availability: flexible
ETA: 1 week (design portion of component library webpage)

[2021-06-27 16:54] daniellex0 opened #1838 "Provide City/Donor Contact Info for Homepage Redesign UX Research Interviews"
### Overview
We need to collect the contact information for City / Donor / other stakeholders to be interviewed about the homepage redesign.

### Action Items

Provide an introduction from Bonnie to the following people:

- [ ] Yihana vonRitter (works in Corporate Responsibility)
- [ ] Dept. of Neighborhood Empowerment
   - [ ] Julian
   - [ ] Gibson Nahambura (has worked on political campaigns)
-

[2021-06-27 17:20] sayalikotkar commented on #1795
Progress: Came up with a high level user flow with the help of the team.
Blockers: Need to review with team & Bonnie

[2021-06-27 17:23] adam-abundis commented on #1817
_**Update**_

**progress**: none
**What I will accomplish by Tuesday (6/29)**: I have blocked some time today/tomorrow (6/27 & 6/28) to go through the code. I still need to sit down with @jbubar to get context with the win page.
**Blockers**:  Life and personal projects.

[2021-06-27 17:43] Sihemgourou commented on #1442
@averdin2 is going to reach out to @sanchece & @glenflorendo to ask for updates and maybe take over the issue.

[2021-06-27 17:44] jbubar commented on #1549
Took this on a few days ago, have not had the chance to work on it. Will get it done before next sunday

[2021-06-27 17:46] Sihemgourou commented on #1378
@pascuas is actively working on this issue.

[2021-06-27 17:46] sayalikotkar commented on #1742
Progress: Sihem & Bonnie helped add feature labels to all issues that didn't have any assigned.
Blockers: Need to review with Bonnie & PMs if additional categories are needed
Availability: 1 hour
ETA: To discuss in PM meeting on 06/29 & complete by 07/04

[2021-06-27 18:02] Sihemgourou commented on #1352
All team meeting discussion:
- Looks like there is some consensus around this issue. Sounds like the team would like to add styles on classes rather than html tags directly.
- We need to consider standardizing html elements for accessibility
- We also might need to consider standardizing the layout variables on the site (media queries, responsive etc).

[2021-06-27 18:16] Aveline-art commented on #1787
* Progress: DONE!
* Blockers: Pull request awaiting review.
* Availability: To be determined, but most likely some time here and there throughout the week.
* ETA: See blockers.

[2021-06-27 18:32] averdin2 commented on #1477
Need to make an issue to potentially make a wiki article to explain why this issue occurs.

[2021-06-27 18:33] averdin2 commented on #1477
Also, I need to move the contents I wrote from inside the Docker section into Working on an Issue section.

[2021-06-27 19:54] akibrhast commented on #1445
Discussed with @Aveline-art  and added details in the main body.

[2021-06-27 20:20] Sihemgourou opened #1839 "Mobile Responsiveness on [hackforla.org] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [ ]

[2021-06-27 20:21] Sihemgourou opened #1840 "Mobile Responsiveness on [Join Us] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [

[2021-06-27 20:22] Sihemgourou opened #1841 "Mobile Responsiveness check on donate page"
### Overview
We need to check the mobile version of the donate page on the website  so that we correct any bug that is appearing on mobile.

### Action Items
Design:
- [x] Check the mobile responsiveness of donate page (https://www.hackforla.org/donate/) (use your mobile to do it ;) )
- [x] If there is any bug/any inconsistency or problem, however small or large, edit this issue and list the bug w

[2021-06-27 20:23] Sihemgourou opened #1842 "Mobile Responsiveness on getting-started"
### Dependency
~#1619~

### Overview
We need to check the mobile version of  the getting started page  so that we correct any bug that is appearing on mobile.

### Action Items
Design:
- [x] Check the mobile responsiveness of getting started page (use your mobile to do it ;) )
- [x] If there is any bug/any inconsistency or problem, however small or large, edit this issue and list the bug with scre

[2021-06-27 20:24] Sihemgourou opened #1843 "Mobile Responsiveness on [communities-of-practice] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [

[2021-06-27 20:25] Sihemgourou opened #1844 "Mobile Responsiveness on [project-meetings] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [

[2021-06-27 20:33] Sihemgourou opened #1845 "Mobile Responsiveness on wins page"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

### Action Items
Design:
- [x] Check the mobile responsiveness of wins page (use your mobile to do it ;) )
- [x] If there is any bug/any inconsistency or problem, however small or large, edit this issue and list the bug with screenshots  _You have more than one b

[2021-06-27 20:38] Sihemgourou opened #1846 "Mobile Responsiveness on [events page] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [

[2021-06-27 20:43] Aveline-art opened #1847 "GitHub Actions: Switching update labels when update is added"
### Overview
It is quite easy for our busy team to mislabel issues. For this action, we want the "To Update !" label to disappear when the assignee of an issue makes an update to their assigned issue, and add the "Status: Updated" label instead.

### Psudo-code
- [ ] Create a GitHub action that implements this behavior:
  - [ ] Triggers when a new comment is made to an issue with the label "To Upd

[2021-06-27 20:44] Aveline-art commented on #1847
@akibrhast @Sihemgourou  Please edit this as it fits, and please give feedback on whether we would like this feature or not! I will keep this in the ice box for now.

[2021-06-27 20:48] akibrhast commented on #1847
Looks great! I recommend for moving it to Prioritized Back Log

[2021-06-27 20:51] Sihemgourou opened #1848 "Mobile Responsiveness on toolkit"
### Dependency
- Waiting for the toolkit mobile version to be live #1515

### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

### Action Items
Design:
- [ ] Check the mobile responsiveness of toolkit page (use your mobile to do it ;) )
- [ ] If there is any bug/any inconsistency or problem, however small or large,

[2021-06-27 20:53] Sihemgourou opened #1849 "Mobile Responsiveness on [press] : [quick recap of the bug here]"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

REPLACE THIS TEXT -
1. Explain the bug that you have observed
2. Put a screenshot of the bug: you can use the following template to create a drop down image
<details>
<summary>TITLE IMAGE </summary>

PASTE_YOUR_IMAGE_HERE
</details>

### Action Items
Design:
- [

[2021-06-27 20:57] Aveline-art opened #1850 "Standardizing the HFLA Design System"
### Dependency
- [ ] Post Homepage launch when we recruit a new design team.

### Overview
With the new design system coming up, we need a way to relay to the team on what the intentions are behind the new designs.

### Detail
While we sometimes have to decide things on an "as-needed" emergency basis, the entire team benefits when we have firmer guidelines on utilizing the new designs because it r

[2021-06-27 21:02] Aveline-art commented on #1850
@jbubar @averdin2 @daniellex0

Hi! I went ahead and made a bigger issue for this to hold a bigger discussion beyond just buttons. Everything looks good, I think, for us to open issues about changing the buttons once we decide what the standards for buttons will be (when to use it, when not to use it, what tags do we use it for, etc). But if there is any thing we want to talk about in terms of othe

[2021-06-27 23:44] Sihemgourou commented on #1343
Updated the website write team and roster on June 28, 2021.

[2021-06-28 02:40] daniellex0 commented on #1850
Thank you for doing this @Aveline-art!! Getting dev buy-in is very important with implementing design systems, so I reallyyy appreciate that you all are getting involved!

As I mentioned today the button [scss classes have been standardized](https://github.com/hackforla/website/blob/gh-pages/_sass/elements/_buttons.scss), but not the HTML - I did just notice that even just on the top of the [homep

[2021-06-28 04:13] jbubar commented on #1850
@daniellex0 I am up for that! If you and @Aveline-art meet, let me know and I will jump in. Also, my apologies if I made things more complicated with the way I brought it up in the meeting

[2021-06-28 16:22] ExperimentsInHonesty commented on #1407
This issue needs clearer direction.  It has two labels that are conflicting (design and front end).

[2021-06-28 18:08] daniellex0 commented on #1619
During our discussion at yesterday's meeting with @Sihemgourou  and @sayalikotkar  we all agreed to try to finish and send off the MVP version of the Getting Started page to developers as soon as possible so that the website can up up-to-date, and because it may take some time for the person assigned to work on reformatting the layout for this page. Any future changes to the onboarding process (th

[2021-06-28 19:31] adam-abundis commented on #1850
1. Awesome. Can't wait to get started. Thank you @Aveline-art for making this issue and @daniellex0 for providing a summary of our progress so far. Once everyone feels up to speed on the situation, we need to figure how we will determine what will be added as a component. If we have instructions, a list of questions to ask before you add a component, and an established process for adding component

[2021-06-28 20:23] Sihemgourou commented on #1833
@averdin2 @abuna1985 This issue needs to be assigned to someone if it is in the progress backlog

[2021-06-28 20:42] Sihemgourou commented on #1442
@averdin2 @sanchece do you have some news about this issue ?

[2021-06-28 20:44] Sihemgourou commented on #1797
Meeting 21/06/28

Participants : @Sihemgourou & @ExperimentsInHonesty

Things discussed:
- https://github.com/hackforla/.github where to put issue template to spread to all other project repository
- hidden issues on the board https://github.com/hackforla/website/issues?q=is%3Aissue+is%3Aopen+no%3Aproject => we are going to try a manual process (asking people if they need help putting it in the re

[2021-06-28 20:47] ExperimentsInHonesty commented on #1445
This issue needs a rewrite on the top, to be in the format of all our other issues
[code]

[2021-06-28 20:48] abuna1985 commented on #1833
@akibrhast @jbubar @Aveline-art Is there a specific member of the team you want to assign to this issue?

[2021-06-28 21:56] Sihemgourou commented on #1498
Sent a slack message to @jamesberke. Will be unassigned if no news until July 1st

[2021-06-28 22:20] Sihemgourou commented on #1165
Hello @mgodoy2020 , why this issue is still open ? The PR seems closed

[2021-06-28 22:38] Sihemgourou commented on #1104
Asked @jbubar to remove himself from this issue if he is not working on it

[2021-06-28 22:41] Sihemgourou commented on #1498
@jamesberke is actively working on it. He will update the issue

[2021-06-28 22:51] Sihemgourou commented on #1743
@Zak234 Please add uptades on this issue before taking another one (I unassigned you from [this one](https://github.com/hackforla/website/issues/1825) but Please feel free to take it back once you finish working on this issue.

[2021-06-28 22:55] Sihemgourou commented on #1165
@mgodoy2023 why this issue is still open ? The PR seems closed
Please add uptades on this issue before taking another one (I unassigned you from [this one](https://github.com/hackforla/website/issues/1551) but Please feel free to take it back once you finish working on this issue.

[2021-06-28 23:03] Sihemgourou commented on #632
@ExperimentsInHonesty could you remind me to which repo and which Ali I should send the issue please  ?

[2021-06-28 23:07] Sihemgourou commented on #1849
Hey @daniellex0, I've just found this bug. Why do we also have it on the figma ?
<details>
<summary>Bug</summary>
![image](https://user-images.githubusercontent.com/55627107/123718651-08347080-d880-11eb-9eea-d630cfa6dc4b.png)
</details>

[2021-06-28 23:09] Sihemgourou commented on #1846
All is good on this page

[2021-06-28 23:09] #1846 closed, assigned to Sihemgourou

[2021-06-28 23:10] Sihemgourou commented on #1844
All is good with this page

[2021-06-28 23:10] #1844 closed, assigned to Sihemgourou

[2021-06-28 23:10] Sihemgourou commented on #1841
Donate page is still not live

[2021-06-28 23:12] Sihemgourou commented on #1840
All is good

[2021-06-28 23:12] Aveline-art commented on #1833
Let's move this to the developer meeting column, because I suspect we would want to discuss this together during meetings.

[2021-06-28 23:12] #1840 closed, assigned to Sihemgourou

[2021-06-28 23:22] Sihemgourou commented on #1833
I'm creating a note on the dev column which will mention this issue so that we can have more visibility on the priortized backlog :) Please feel free to give me feedback about this technique !

[2021-06-28 23:46] Sihemgourou commented on #656
I provided some suggestions. Don't hesitate to slack me if you need more clarity on it :)

[2021-06-28 23:47] Sihemgourou commented on #1824
@daniellex0 could we more this to the prioritized backlog?

[2021-06-28 23:54] pascuas commented on #1378
1. Was able to get through some changes of variable names.
2. No blockers right now.
3. Will have more time this week.
4. Goal is by the end of the week.

[2021-06-28 23:57] averdin2 commented on #1407
@ExperimentsInHonesty I am not sure why a design label was put on this in the first place. This is mostly a front end issue fix. I will take off the design label.

[2021-06-29 00:02] daniellex0 commented on #1849
Sorry @Sihemgourou the link doesn't work for me?

[2021-06-29 00:16] Sihemgourou commented on #1849
Sorry ! Now it works

[2021-06-29 02:07] jbubar commented on #1104
This issue has been completed sorry that it was open

[2021-06-29 02:07] #1104 closed, assigned to jbubar

[2021-06-29 05:10] Abel-Zambrano commented on #1596
All changes are complete. I currently have 1 PR open and am waiting for it to be approved.

[2021-06-29 05:55] ktlevesque19 commented on #1698
1. Progress: About 80% done creating the mobile page
2. Blocks: Been busy this week, but am back on track. Also looks like the images used on the site are different than what's in the Figma document, not sure where to access the latest header image for instance.
3. Availability: Will have some time tomorrow to finish up
4. ETA: EOD tomorrow, 6/29

[2021-06-29 05:59] daniellex0 commented on #1824
@Sihemgourou Sure, if it's approved? I can't remember if it was!

[2021-06-29 06:01] daniellex0 commented on #1849
@Sihemgourou Is it that the mayor's photo is a bit off-screen?

[2021-06-29 08:42] daniellex0 opened #1856 "Mobile Responsiveness on Join Us page : make header paragraph left-aligned"
### Overview
We need to check the mobile version of every pages on the website  so that we correct any bug that is appearing on mobile.

1. In the mobile version of the [Join Us page](https://www.hackforla.org/join), the header paragraph is center aligned- but it is supposed to be left aligned (see original [Figma design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-i

[2021-06-29 12:57] #1688 closed, assigned to Abel-Zambrano

[2021-06-29 13:05] #1477 closed, assigned to averdin2

[2021-06-29 13:11] #1829 closed, assigned to aalieu

[2021-06-29 18:11] jamesberke commented on #1498
1. Wrapped images and text in containers to fix the size of images and make them uniform. Also made the images display horizontally for tablet view to better fit the Figma design.
2. Vacation and Illness had me away from my computer for the past couple weeks
3. Full availability now, will be back to work
4. ETA is Today/Tomorrow

[2021-06-29 18:50] sena-ji commented on #1482
1. Progress: Thought it would be a good challenge for me to work on this issue. Asked Akib for some points to help me get started. Will talk about it on the meeting on Tuesday.
2. Noted above.
3. Available to work on it this week.
4. Will get a pull request up by next week's meeting for review.

[2021-06-29 19:36] Sihemgourou commented on #1797
Meeting 21/06/29

Participants : @Sihemgourou & @ExperimentsInHonesty & @daniellex0

Things discussed:
- We need a research plan for the home page:
Recap of our personas : Donors, advisers/partners.
Lets start with one user segment first   => starting with questions for donors group. We can test the interviews on @ExperimentsInHonesty friends (2 people).
Blocker : About page et donate page need to

[2021-06-29 20:08] Sihemgourou commented on #1797
@hackforla/website-design

[2021-06-29 22:54] ghost commented on #1793
The issue was computed prior and looks like no additional fixing is needed.
<img width="1440" alt="Screen Shot 2021-06-29 at 6 51 36 PM" src="https://user-images.githubusercontent.com/74923247/123877545-635f7500-d90b-11eb-80f4-07166b400e21.png">

[2021-06-30 00:20] marcobarrera commented on #1552
I've update the closing 'x' icon to the svg icon provided.

<img width="876" alt="Screen Shot 2021-06-29 at 5 16 35 PM" src="https://user-images.githubusercontent.com/24802803/123883606-41132a80-d8fe-11eb-8938-685751c1e196.png">

[2021-06-30 01:58] daniellex0 commented on #1850
@jbubar You didn't make anything more complicated, don't worry about it!! Truly I am very happy if you guys talk about the design system as much as possible, because it builds up awareness and ensures it will be used!

Ok we'll coordinate a meeting :)

I'm working on the component library designs with @ktlevesque19 this week, and will then have some ready for dev review/comments/suggestions since

[2021-06-30 02:19] #1552 closed, assigned to marcobarrera

[2021-06-30 03:38] #1743 closed, assigned to Zak234

[2021-06-30 06:27] ktlevesque19 commented on #1698
Just finished this up! Didn't have access to the top image, but the rest is there.

<img width="189" alt="Screen Shot 2021-06-29 at 11 25 35 PM" src="https://user-images.githubusercontent.com/84823624/123912080-708f5a80-d931-11eb-8b99-4fdfdf4d284a.png">

[2021-06-30 16:32] averdin2 commented on #1441
Progress: I have been done with the bulk of this work for some time now. I was looking to add a specific style rule that is not included in stylelint's rules, but I am thinking that it might just be best to not include that rule, as it could add complications to making changes to new rules in the future.

Blockers: I need to speak with Akib about the progress I have made on this issue, and we need

[2021-06-30 18:23] Sihemgourou commented on #1797
Meeting 21/06/30

Participants : @Sihemgourou & @ExperimentsInHonesty @akibrhast

Things discussed:
- Next time : lets close the loop on why people are assigned to multiple issues.
- Find out why Erika is not taking large issue

Actions to take:

- [ ] Talk with @daniellex0 about the links that are not refering to the specific image link
<details>
<summary>The links Im talking about</summary>

![C

[2021-06-30 18:48] averdin2 commented on #1850
@daniellex0 Not sure if this meeting has happened yet, but I would like to be roped in when things get scheduled

[2021-06-30 18:49] Sihemgourou commented on #1585
For product team : Title link is good

[2021-06-30 18:52] Sihemgourou opened #1865 "Title links are not specific on Credit page"
### Overview
As a user I need to be able to find the specific title link to each image on the credits page

### Action Items

- [x] Check all the images and list the ones that do not have the right title link
- [x] Create an issue template with devs
- [x] Create an issue for each images

### Resources/Instructions
https://github.com/hackforla/website/tree/gh-pages/_data/internal/credits

[2021-06-30 18:54] averdin2 commented on #1442
@glenflorendo I just want to reiterate that you do not need to worry too much about the GitHub action portion of this issue, as I already have a solution for this from working on issue #1441. Just focus on finding usable ESLint rules and I can help coordinate setting up the GitHub action.

[2021-06-30 18:56] Sihemgourou commented on #1865
List of all the images with no specific title link:
- [act](https://github.com/hackforla/website/blob/gh-pages/_data/internal/credits/act.yml)
- [agile](https://github.com/hackforla/website/blob/gh-pages/_data/internal/credits/agile.yml)
- [book](https://github.com/hackforla/website/blob/gh-pages/_data/internal/credits/agile.yml)
- [contact us](https://github.com/hackforla/website/blob/gh-pages/_d

[2021-06-30 19:42] sayalikotkar commented on #1669
Moving to icebox as this is replaced by Issue #1795

[2021-06-30 20:47] #1830 closed, assigned to vickiychung

[2021-06-30 20:55] arghmatey commented on #1850
@daniellex0 I would also like to take part in the meeting for this if it hasn't happened yet!

[2021-06-30 20:59] Sihemgourou commented on #1865
@akibrhast

[2021-06-30 21:16] Sihemgourou opened #1866 "HFLA features"
- Home page
    - [x] #1867
    - [ ] new title
    - [x] #1868

- Credits
- Wins

[2021-06-30 21:18] Sihemgourou opened #1867 "blablabla"
- [ ] bla 1
- [ ] bla 2
- [ ] bla 3

[2021-06-30 21:22] Sihemgourou opened #1868 "nnnnnn"

[2021-07-01 00:22] daniellex0 commented on #1865
@Sihemgourou These are the correct links for these:

Agile - https://thenounproject.com/search/?creator=4249001&q=agile&i=2525741
Contact Us - https://www.freepik.com/free-vector/contact-us-concept-landing-page_4661525.htm#page=1&query=contact%20us&position=13
Partnership - https://thenounproject.com/search/?creator=3694290&q=partnership&i=3193867
Action - https://thenounproject.com/search/?creato

[2021-07-01 00:27] daniellex0 commented on #1850
@averdin2 @arghmatey Sure thing!

[2021-07-01 02:05] #1748 closed, assigned to anonymousanemone

[2021-07-01 04:59] #1587 closed, assigned to alexeysergeev-cm

[2021-07-01 05:08] #1573 closed, assigned to macho-catt

[2021-07-01 08:43] daniellex0 opened #1871 "Update footer"
### Overview
We need to update the website footer so that we can include a link to the Credits page on it.

### Action Items
- [x] Review the [new footer design in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3) (in the pink rectangle)
- [x] Update the footer design to match the [Figma footer design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/H

[2021-07-01 09:02] daniellex0 opened #1872 "Update 'Agile' image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the 'Agile' image to the specific link, because it currently leads to a generic Noun Project link.

### Action Items
- [ ] Replace the generic Noun Project link for the image titled "Agile" in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://thenounproject.co

[2021-07-01 09:06] daniellex0 opened #1873 "Update 'Contact Us' image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the 'Contact us' image to the specific link, because it currently leads to a generic Freepik link.

### Action Items
- [x] Replace the generic Freepik link for the image titled "Contact Us" in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://www.freepik.com/f

[2021-07-01 09:08] daniellex0 opened #1874 "Update 'Partnership' image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the 'Partnership' image to the specific link, because it currently leads to a generic Noun Project link.

### Action Items
- [ ] Replace the generic Noun Project link for the image titled "Partnership" in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://theno

[2021-07-01 09:10] daniellex0 opened #1875 "Update 'Action' image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the 'Action' image to the specific link, because it currently leads to a generic Noun Project link.

### Action Items
- [ ] Replace the generic Noun Project link for the image titled "Action" in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://thenounproject.

[2021-07-01 09:11] daniellex0 opened #1876 "Update 'Employees' image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the 'Employees' image to the specific link, because it currently leads to a generic Noun Project link.

### Action Items
- [x] Replace the generic Noun Project link for the image titled "Employees" in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://thenounpr

[2021-07-01 09:45] daniellex0 opened #1877 "Apply design system heading classes to Sitemap page"
### Overview
We need to apply the new [standardized heading classes](https://github.com/hackforla/website/issues/1743) to the Sitemap page headings (for accessibility/to remove the styling reliance on h tags), so that we can test out applying these new heading classes, and so that the page can now follow the design system plan.

*this is the first page we are doing this for, so it's a bit of a gui

[2021-07-01 19:30] daniellex0 opened #1878 "Write copy for Donate page header"
### Overview
We need to write copy for the new Donate page header paragraph because it is currently a placeholder

### Action Items

UX Writing
- [ ] Draft a header paragraph for the donate page
- [ ] Get approval/edits from Product

Development
- [ ] Add new header text into Donate page

### Resources/Instructions
[Donate page in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-L

[2021-07-01 21:09] daniellex0 opened #1879 "Update the Program Areas > Citizen Engagement page design"
### Overview
We need to update the [Program Areas > Citizen Engagement (Figma)](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3625%3A0) page design so that it is up to date with the latest developments, and is consistent with the design system.

### Action Items
- [x] Duplicate the version of the [Program Areas Citizen Engagement page](https://www.figma.com/file/0RR

[2021-07-02 03:13] abuna1985 commented on #1833
@jbubar will update. Talked to Bonnie at the back-end meeting and will be transitioning to Google Tables. We need to research how to integrate the team spreadsheet (.csv) into Google Tables and creating forms.

[2021-07-02 03:29] abuna1985 commented on #1833
Todo for this issue:
* Check if Google Tables does everything that Google Sheets/Forms (our current process) can do.

[2021-07-02 03:59] Aveline-art commented on #1796
@Sihemgourou I am unsure what you mean by "PRE meeting"? Does it mean PRE as in the prefix "pre-"? Or is it an acronym for something?

[2021-07-02 04:25] Aveline-art commented on #1724
Backend meeting July 1, 2021 Notes:

- Consider using ~~GitHub Explorer~~ GitHub GraphQL endpoint to perform API requests for GitHub actions rather than depend on multiple disjointed RESTAPI calls,.

[2021-07-02 15:09] akibrhast commented on #1724
The above comment was made by @daniellex0 in this review, https://github.com/hackforla/website/pull/1819#pullrequestreview-693372676 .

This a one of the primary barriers that needs to be resolved to motivate communication between designers and developers .

The backend team should involve it's members in researching possible solutions such that designers can review changes made in pull request fr

[2021-07-02 16:44] #1558 closed, assigned to codessi

[2021-07-02 16:58] #1165 closed, assigned to mgodoy2023

[2021-07-02 17:01] #1836 closed, assigned to aliibsin

[2021-07-02 17:59] #1791 closed, assigned to arghmatey

[2021-07-02 18:40] akibrhast commented on #1866
this was a demo

[2021-07-02 18:40] #1866 closed, assigned to nobody

[2021-07-02 18:54] #1867 closed, assigned to nobody

[2021-07-02 18:54] #1868 closed, assigned to nobody

[2021-07-02 19:06] akibrhast commented on #1850
**Update**:
There was not an opportunity to go over this issue during the backend meeting on 7/1/2020 due to time constraints

**Potential Next Steps**:
Based of https://github.com/hackforla/website/issues/1850#issuecomment-871039223 on the 29th jun 2021

Let's schedule to talk about this next thursday(July 8th 2020) backend meeting with all parties involved . If everyone is ok with that ?

[2021-07-02 19:34] HackforLABot opened #1881 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-07-02 22:02] adam-abundis commented on #1817
@jbubar So the bug in question may from another developer testing the form. See below from the form submission:

<details>
  <summary>Wins form submission screenshot</summary>
  <img src="https://user-images.githubusercontent.com/21162229/124331514-3053f600-db44-11eb-8548-d41966cb6d60.jpg" />
</details>

**NOTE**: notice that `I set up 2FA` was not chosen.

* Property on `badgeIcon` object: **I se

[2021-07-02 22:13] adam-abundis commented on #1817
@jbubar For the double icon (issue 2 - Two of the same badges appear together within the same card),  the **`I taught or mentored a person on my team`** and **`I taught or mentored a person on another team`** use the same icon.

@jbubar @daniellex0 Should I split this duplicate icon into a separate issue?

It seems there needs to be a bigger conversation about whether these 2 icon descriptions sho

[2021-07-02 23:09] jbubar commented on #1817
@abuna1985 Great work. Can you dig a little deeper and see where it was changed?
Also, I am in support of splitting it out into another issue

[2021-07-02 23:34] adam-abundis commented on #1817
@jbubar It came in the original response from the form and uploaded on 12/1/2020 (according to google sheets version history). The form came with `I setup 2FA`.

[2021-07-03 00:03] akibrhast commented on #1817
Passer by comment on grammar, 🤣 🎉

According to this, http://www.enhancemywriting.com/setup-vs-set-up which states

It seems 'set up' is the correct vocabulary to use here.

~~@daniellex0 Should the form verbage be changed from `setup` to `set up`~~

[2021-07-03 00:42] adam-abundis commented on #1817
@akibrhast That's the thing. The option on the form is `I set up 2FA`. It just seems with the form submission someone added `I setup 2FA`. There were 5 submissions within the summary of responses, but only one existed (the bug I am investigating).

<details>
  <summary>Form submission summary (I setup 2FA/I Set up 2FA)</summary>
  <img src="https://user-images.githubusercontent.com/21162229/124338

[2021-07-03 02:04] akibrhast commented on #1817
ahhh...!! Thanks for the clarification @abuna1985 . I misunderstood.

[2021-07-03 14:44] Aveline-art opened #1884 "Research: Find a way to update non-default branches when main branch updates"
### Overview
When we work with non-default branches (such as wins-feature-1), it would be a lot easier those branches are the most up-to-date with the main branch.

### Action Items
- [ ] [Understand how branches work on GitHub](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests)
- [ ] Research ways in which we can keep non-default

[2021-07-03 15:10] Aveline-art commented on #1817
Eureka! I remember this. I believe I might have caused this problem, actually. I opened an issue almost a month ago about updating the verbage on the wins-feature branch, but forgot to mention that old responses should be updated as well, only the current form. If not already, @abuna1985 , updating the old responses should partially resolve things. #1718 and #1785 for details.

[2021-07-04 04:16] daniellex0 opened #1887 "Standardize code for large icon page cards"
### Overview
We need to standardize the scss code for the large icon page cards in the [Join Us](https://www.hackforla.org/join) and [Site Map](https://www.hackforla.org/sitemap/) pages, because they are different and we should make them the same so that there is one standard reusable code for the design system.

### Action Items
- [ ] Decide which large icon page card's code is better between the

[2021-07-04 04:42] daniellex0 commented on #1817
@abuna1985 I didn't get a chance to ask Bonnie about it this past week... I can't make it to the meeting tomorrow, but if anyone here can make it can you please ask Bonnie if it's ok to just combine 'I mentored someone in another team' and 'I mentored someone in my team' into the same one? I personally think this makes a lot of sense to combine, and everyone I've asked about this has agreed- but i

[2021-07-04 04:58] aalieu commented on #1794
Hi @daniellex0,

I was able to move the 'Getting Started' card from the 'Getting Started' section into the 'Resources' section for the project description page. There are a few problems though that I was hoping you could address.

The first one is that in both the 'Getting Started' and 'Resources' section, the code is grabbing the 'Wiki', 'Readme', and 'Overview' cards if they're available which l

[2021-07-04 05:08] aalieu commented on #1794
Hey @akibrhast @jbubar,

I was wondering if one of you could answer a question for me!

Am I allowed to edit a .md project file? In my case, some project pages have two 'Getting Started' cards in the 'Resources' section because some projects have a 'Getting Started' value under the links key (or object or whatever the right terminology it is here). The Open Community Survey project is the example

[2021-07-04 08:19] abenipa3 commented on #1515
Progress: Looked at it but haven't done much 'cause I was not feeling well this past week.
Blocker: Same as previous post. Will pick it up again today.
Availability: Open
ETA: 7/6/21

[2021-07-04 12:55] wendywilhelm10 commented on #1671
Progress: Created pull request and made minor change based on feedback.
Blockers: Discussion about one or two svg images.
Availability: Open
ETA: When decision is made about images.

[2021-07-04 16:30] Sihemgourou commented on #1734
Agenda July 4:

- [x] Best practice : When to take a new issue ? 2 issues at the same time = no
- [x] How to update your issue ? To Update label, Checkboxes ([1 example](https://github.com/hackforla/website/issues./1793),[ 2nd example](https://github.com/hackforla/website/issues/1817)); Blocker ? (Ice box, seek help)
- [x] website merge team
- [x] Credit page !
- [x] ask if everyone has the calend

[2021-07-04 16:32] ashleylin1 commented on #1619
Progress: All changes can be found on the updated designs in the purple box on the Figma Getting Started Page
Blockers: None
Availability: after 4pm

https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=13%3A0

[2021-07-04 16:36] daniellex0 commented on #1794
@aalieu

1. Keep this in one section only please (Resources)!. That redundancy is why we're getting rid of the Getting Started section

2. Yup, that's why we're actually completely getting rid of the Getting Started section- it shouldn't be on the page at all anymore. Sorry if that wasn't clear!

3.  Yes please get rid of this button and anything remaining from this Getting Started section on this

[2021-07-04 16:45] daniellex0 commented on #577
Progress: Met with Kristin to discuss the designs for the component library webpage, and she designed a great layout to follow. I will implement the layout for the rest of the components early this week.

Next Steps: Finish designing dedicated webpage for components, meet with devs to discuss rest of design system steps and implementing component library webpage, finish dev documentation, finish s

[2021-07-04 16:47] daniellex0 commented on #1416
Progress: Met with Kristin about component library webpage and she designed a great mockup for component layout. I will implement the design on the rest of the components and send the page to development. Will coordinate meeting with more interested developers on the team to discuss implementing the component library webpage.
Blockers: None
Availability: flexible
ETA: 3 days (design portion of com

[2021-07-04 16:48] daniellex0 commented on #1698
This looks great, nice job!

@Sihemgourou FYI she left our the bugs from the replicated version- this was just so that we can have a mobile reference for the page on Figma)

[2021-07-04 16:48] #1698 closed, assigned to ktlevesque19

[2021-07-04 16:54] Aveline-art commented on #1787
* Progress: DONE!
* Blockers: Pull request awaiting review.
* Availability: To be determined, but most likely some time here and there throughout the week.
* ETA: See blockers.

Note: Same as the previous progress report.

[2021-07-04 17:00] sayalikotkar commented on #1795
Update on 6.30.31:

-In the PM meeting we reviewed & updated the user flow. Based on Bonnie's suggestion we decided to check the feasibility of using Google Tables for all team rosters.
-This will be piloted with moving HfLA team's roster to google tables (Sayali to drive with website team)

[2021-07-04 17:18] Sihemgourou commented on #1352
Next action :
- discuss during next pm/design meeting with @Aveline-art, @daniellex0, and pms

[2021-07-04 17:21] Sihemgourou commented on #1793
@daniellex0 the team concluded that the images are already in the right size. Did we miss something ? If it's fine, please close this issue :)

[2021-07-04 17:28] Sihemgourou commented on #1817
The ALL team meeting decided on merging it into 1 icon : "I mentored someone". @abuna1985 suggested creating a new issue.

[2021-07-04 18:08] Sihemgourou commented on #1619
Suggestion from product team:
- Adopt our standards should be before choose a role
- The page seems good though. Let's make a ticket once the previous point is corrected.

[2021-07-04 18:13] Sihemgourou commented on #1733
@daniellex0 this issue has been without update for too long. Do you have news ?

[2021-07-04 18:20] smithasindagi opened #1888 "Migrate Google folder documents to google shared drive"
### Overview
We need to migrate existing HFLA Google folder to Google shared drive so that we are not at risk of loosing files

### Action Items

- [x] Check with Product team or leads if the [HFLA site Roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0) is upto to date with active members
- [x] Have @Olivia-Chiong create Google shared folder
- [

[2021-07-04 18:38] smithasindagi commented on #1888
HFLA Website Team Meeting @ Sun Jul 4, 2021

As per @Sihemgourou the [HFLA site Roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0) is upto date

[2021-07-04 18:41] #1787 closed, assigned to Aveline-art

[2021-07-04 18:47] evancchen commented on #1598
Progress: Still working on this issue
Blockers: None

[2021-07-04 18:58] akibrhast commented on #1817
- Merging the two terms into a single icon will be result in very spaghetti code and make maintaining the code base harder over time. As such the developer team has decided to recommend the design team to come up with a new design for one of the two options between
   - I mentored someone on my team
   - I mentored someone on another team

[2021-07-04 19:19] akibrhast commented on #1749
Closed because we have gotten enough feedback

[2021-07-04 19:19] #1749 closed, assigned to nobody

[2021-07-04 19:19] aalieu commented on #1794
@daniellex0

Got it! Thanks for the clarification – I definitely misunderstood some of the requirements.

[2021-07-04 20:07] macho-catt opened #1890 "Create a redirect file so that the "Being a part of the HFLA team" wiki article can be reached from the hfla website"
### Overview
The ["Being a Part of the Hack For LA Team" wiki](https://github.com/hackforla/website/wiki/Being-a-Part-of-the-Hack-For-LA-Team) is a good document for newcomers to get an idea of how to get on-boarded. However, finding the wiki can be difficult, and people may forget the exact url to reach it.

During the developer meeting, we discussed that making a redirect file may be the easiest

[2021-07-04 22:19] Aveline-art commented on #1273
@akibrhast Just found this while scrolling through issues about the toolkit page. Can you let us know if there is anything to do or discuss in regards to this?

[2021-07-04 22:54] Aveline-art opened #1891 "DEV TEAM Meeting Agenda Thursday🌸"
### Overview
This issue tracks the agenda for the HFLA website team and weekly roll call.

### Weekly Action Items

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Make announcements
- [ ] Do below agenda items
 - [ ] Go through project
   - [ ] Dev team column
   - [ ] In-progress
     - [ ] Help wanted label
     - [ ] To Update ! label
   - [ ] Pull requests

### Weekly

[2021-07-04 23:25] Aveline-art commented on #1724
Closing this in favor of a better way to organize ideas for meetings #1891 . Format is based on #1734 .

@abuna1985 I believe you are heading the meeting next Tuesday? If so, you can feel free to use [this](https://github.com/hackforla/website/issues/1891#issuecomment-873684556) to organize (it is also helpful if you have an emergency and we need to pick up on the agenda)

[2021-07-04 23:30] Aveline-art commented on #1891
### Agenda for July 6, 2021

- [x] Wins Page Icon Parser - Bonnie has confirmed she would like icons for `I mentored someone on my team` and `I mentored someone on another team`. I need help creating an issue for the design team to come up with an additional icon for either. [Regarding issue 1817](https://github.com/hackforla/website/issues/1817#issuecomment-873642174)
- [x] @sena-ji would like as

[2021-07-04 23:31] Aveline-art commented on #1891
### Agenda for July 8, 2021

- [x] Announce usage of labels.
- [x] @daniellex0 to speak about the backend-related portion of the design system.
- [x] @ExperimentsInHonesty to discuss the api keys in these files [1](https://github.com/hackforla/website/blob/gh-pages/assets/js/api-calendar.js), [2](https://github.com/hackforla/website/blob/gh-pages/assets/js/api-actionnetwork.js)
- [x] Discuss the b

[2021-07-05 00:01] Aveline-art opened #1892 "GitHub Actions: Refactoring adding-labels-to-pull-request action"
### Overview
We need to make sure our GHAL adding-labels-to-pull-request is organized, and readable so that we can easily make changes in the future.

### Action Items
- [x] Separate the JS logic in the two yml files (see below) into a new directory in [this directory](https://github.com/hackforla/website/tree/gh-pages/github-actions)
  - [x] Make sure the GitHub action still maintains its key fun

[2021-07-05 00:10] glenflorendo commented on #1442
I compiled a config of some proposed ESLint rules and a report of the output when I ran these rules on the current codebase. You can view these in the attached `txt` files.

**ESLint Config**
[eslintrc.txt](https://github.com/hackforla/website/files/6760795/eslintrc.txt)

**Output**
[eslint-output.txt](https://github.com/hackforla/website/files/6760794/eslint-output.txt)

As a suggestion, I think

[2021-07-05 00:13] Aveline-art commented on #1833
I am tacking on these two action items here, as it was discussed during the meeting of July 4th, 2021. Once we are at this step, we can start making this into an issue.

[2021-07-05 05:42] #1724 closed, assigned to Aveline-art

[2021-07-05 05:53] Aveline-art commented on #1884
Scrapped because branches should be kept separate and merge conflicts would always need a manual process. An automatic process does not make sense.

[2021-07-05 05:53] #1884 closed, assigned to Aveline-art

[2021-07-05 05:55] Aveline-art commented on #1847
Scrapped because of this risks over-automation. It is better for developers to learn the small ways in which we work, and also allow the team to adjust if our workflow changes.

[2021-07-05 05:55] #1847 closed, assigned to Aveline-art

[2021-07-05 08:20] macho-catt opened #1893 "Updating CONTRIBUTING.md on how to get a good first and second issue for newcomers"
### Overview
The [CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md) document is very helpful for newcomers to follow on what to do when they first join the team. It currently states how to work on an issue, but does not go into detail on how to get that first or second issue. It would be good to add a step on how to get a good first issue, how to take a good seco

[2021-07-05 19:06] sena-ji commented on #1482
1. Progress: I added the image used to the credits page. I created a skeleton of the page seen below:
![image](https://user-images.githubusercontent.com/42919318/124510691-37b81100-dd89-11eb-8822-0fa501f10189.png)
2. Blockers: I think the fonts and sizes used on Figma are not showing correctly on my screen. Also need some help with container sizing.
3. Availability: Will be asking for some help on

[2021-07-05 22:32] SaashaG commented on #1733
Progress: In Progress
Blockers: Needed clarification on a couple of pages in order tp strategize design.
Availability: Open
ETA: Completion date still TBD, meeting Rosalyn this week to draft designs

[2021-07-06 01:25] ExperimentsInHonesty commented on #1733
@SaashaG @Rosalyn-broddie You can redesign it after you update it.  We need to be able to export the image so that we can launch the page on the website.  I understand its not the ideal design but it does work.  What needs to happen now, is for the image to be updated, it to be launched on the website and then users interviewed to find out what they would like improved.

[2021-07-06 01:25] ExperimentsInHonesty commented on #1733
@daniellex0 @Sihemgourou Please see my comments here: https://github.com/hackforla/website/issues/1733#issuecomment-874395859

[2021-07-06 02:23] SaashaG commented on #1733
Thanks, we will work on updating.

[2021-07-06 18:18] daniellex0 commented on #1850
@akibrhast Sure that works, I can join Thursday's backend meeting (although I hope it doesn't take up time from other important backend topics like the onboarding automation). Maybe we can discuss the backend-related topics of the design system during the meeting, and I'll also schedule another meeting with you all about the HfLA site design system overall. I'll send a when2meet now to figure out

[2021-07-06 18:56] akibrhast commented on #1273
Let's talk about this at either the end of the tuesday meeting or during the thursday meeting.

[2021-07-06 19:49] Sihemgourou commented on #1797
Meeting 21/07/6

Participants : @Sihemgourou & @ExperimentsInHonesty & @daniellex0 & @smithasindagi

Things discussed:
- Use the website/design team to @ design team for all the issues Danielle was involved in.
- What's the process to add people on the subteams?
- Danielle is creating good second issues for the credit page (to replace the title links)
- Who will create design issues ? It has to be

[2021-07-06 23:05] jpandh commented on #1833
continuing research, will follow up during dev backend thurs meeting

[2021-07-06 23:06] daniellex0 commented on #1697
1. Progress
2. Blocks
3. Availability
4. ETA

[2021-07-07 01:42] daniellex0 commented on #1817
Hey @akibrhast , that makes sense, but is it possible to just combine the checkmark options for "mentored someone on my team/another team" in the survey into a single checkmark option (just "I taught or mentored a person) to avoid these complications?

<img width="481" alt="Screen Shot 2021-07-06 at 6 43 04 PM" src="https://user-images.githubusercontent.com/67400366/124687577-05daa380-de8a-11eb-90

[2021-07-07 03:51] adam-abundis commented on #1674
@jbubar What would you like to discuss about this issue?

[2021-07-07 03:55] Aveline-art commented on #1833
@jpandh Just for your information, when you make an update, we do want it in this format:

* Progress: "What is the current status of your project? What have you completed and what is left to do?"
* Blockers: "Difficulties or errors encountered."
* Availability: "How much time will you have this week to work on this issue?"
* ETA: "When do you expect this issue to be completed?"
* Pictures: "Add a

[2021-07-07 18:05] jbubar commented on #1427
We had to revert the pr. sorry Gary

[2021-07-07 18:23] Sihemgourou commented on #1797
Meeting 21/07/07

Participants : @Sihemgourou & @ExperimentsInHonesty & @smithasindagi

Things discussed:
Use-case impact prioritization:
- We checked the twitter historic: HFLA was a big event organizer, we cannot see our history on our website. Key messages to communicate : all the different contributors thoughout time, the community building started from hack nights.
- We need to focus our comm

[2021-07-07 20:08] akibrhast commented on #1891
Make an issue about updating the contributing.md such that, it walks people through the commands needed to do a pr review.

[2021-07-07 20:10] arghmatey opened #1898 "Standardize code for header layout"
### Overview
Create standardized header layout component html and css to ensure visual consistency, and to make creating new pages easier and more efficient.

### Action Items
- [x] Determine class names and properties necessary based on Figma file
- [x] Implement CSS and HTML changes to create standard header component to all pages that use this specific component layout
- [x] Update [How to crea

[2021-07-07 21:22] averdin2 commented on #1482
@sena-ji I spoke to Danielle about the font issue. She said not to worry about it for now. I think that there is a larger issue regarding the font that I am going to try and look into.

[2021-07-07 21:35] smithasindagi commented on #1888
New [Google Shared drive](https://drive.google.com/drive/folders/0AKWbU6_2dvZuUk9PVA) created
Created folders for Sihem and Bonnie and requested them to move their documents. Once its successful, I ll reach out to rest of team members

[2021-07-07 21:49] GLRJr commented on #1427
All good, I just talked with Danielle and we made adjustmets the footer, so
the code is good to go. If you guys want to meet up and fix the merge let
me know

On Wed, Jul 7, 2021 at 11:06 AM Josh Bubar ***@***.***> wrote:

[2021-07-07 23:26] adam-abundis opened #1899 "Create a document on taking screenshots and linking them to pull request"
### Dependency

- [x] #3636
- [x] #1534
- [ ] when the new wiki launches

### Overview
Need a wiki article (with helpful screenshots) on how to take a screenshot using the GoFullPage browser extension and include it in a pull request. Then add a link within the pull request template as a comment like below:

<details>
  <summary>Add wiki link to pull request template</summary>
   <img src="https:/

[2021-07-07 23:30] sena-ji commented on #1482
@averdin2 Thank you for the quick update! I will disregard the font for now and work on the mobile view :)

[2021-07-07 23:39] averdin2 opened #1900 "Inconsistent Image Locations"
### Overview
We need to audit the images in our folder and update to the correct path so that our images have a consistent path with where these files are located.

### Action Items
- [x] Go through the following folders and check if there are any files that are seemingly misplaced or need to be removed.
  - [x] assets/images
  - [x] _includes/svg
- [ ] Remove or relocate files that are not in the

[2021-07-08 00:02] averdin2 opened #1901 "Add your Duplicate Style Classes HERE!!!!"
### Overview
I am starting this issue off as more of a discussion place.

Currently, there are many places within the codebase where the same style classes are copied and pasted in multiple different files. We want to keep the codebase clean by maintaining a single source for classes that are being used in multiple places. We need to prioritize communicating with the team that if they are finding

[2021-07-08 17:30] ebele-oputa commented on #1851
@Aveline-art Hi! Are you the one working on this issue? Just to let you know there hasn't been any update to our project card on the website. Thanks!

[2021-07-08 17:41] Aveline-art commented on #1891
### Agenda for July 11, 2021

- [ ] Announce on how to use Slack to ask for help (devs are not the only one who can help others!)

[2021-07-08 19:00] Aveline-art commented on #1851
@ebele-oputa Hi! Currently, no one is assigned to this issue, but we will push to get it assigned. Thank you for your patience!

[2021-07-08 19:20] Aveline-art opened #1904 "Compile a resource list for various topics"
### Dependency
- #3636
- #1534

### Overview
As a developer, I need to know what resources to follow so that I can learn the best practices when it comes to designing my code.

### Action Items

- [ ] Gather a list of resources, either internal or external, pertaining to these topics:
  - [ ] Accessibility
  - [ ] CSS/SASS/SCSS
  - [ ] Documentation/Wiki
  - [ ] Design/Design System
  - [ ] GitHub

[2021-07-08 19:34] Aveline-art commented on #1904
For accessibility: [Firefox's Accessibility Inspector](https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector)

[2021-07-08 23:19] Aveline-art commented on #1824
Hello! It has taken me a while to learn the art of the gif, but I think I have outdone myself. Let me know if this suffices or if I should do anything else.

<img src="https://user-images.githubusercontent.com/62368440/125002019-d69e7080-e008-11eb-9ddb-eb432252bab9.gif" width="300" length="150" />

[2021-07-09 02:15] #1524 closed, assigned to bfirestone23

[2021-07-09 03:44] aalieu commented on #1891
### Issues for Back-End Meeting July 8, 2021

- [x] Collect people's info through google forms
  - [x] Kill Action Network API key so if someone pulls it, it doesn't pull any data. Do a one time pull of data so we have it and store it on google drive and then kill it.
  - [x] On home page, one line of code that says if hide = false, display code which is the api token?
- [x] Hide sign up for newsl

[2021-07-09 03:48] #1598 closed, assigned to marcobarrera

[2021-07-09 05:09] jpandh commented on #1833
Tables has an API that can be called directly from the Apps Script
Tables also has a number of bots (no code)
Can be triggered
Ex: new record or user gets added -> send emails, send slack notif, etc
Can use Zapier
Google tables and forms connection
Google tables has its own version of forms that can be used to add and edit data
https://support.google.com/area120-tables/answer/10011562?hl=en
You ca

[2021-07-09 05:15] jpandh commented on #1833
Following up on above, it might be easier to carry out our current proof of concept with sheets, forms, and apps script. Google tables can offer us a database for storage, but automation with Google Tables (for our use case) will most likely still require additional Apps Scripts.

[2021-07-09 15:50] daniellex0 commented on #1824
Looks awesome!! Thank you @Aveline-art !!

[2021-07-09 16:41] adam-abundis opened #1908 "Remove additional space from wins-card-mobile.svg within WIns About page (mobile only)"
### Overview
Remove the additional 31px of additional space from the `/assets/images/about/wins-card-mobile.svg`. We are currently using this `<svg>` within `pages/about/about-card-accomplishments.html`.

<details>
  <summary>Current About Page (mobile view)</summary>
  <img src="https://user-images.githubusercontent.com/21162229/124348909-81460780-dba1-11eb-8c5b-44a5669cd58d.jpg" />
</details>

<

[2021-07-09 16:46] Sihemgourou commented on #1797
Meeting 21/07/09

Participants : @Sihemgourou & @ExperimentsInHonesty
Things discussed:
- Qiqi is in charge of accessibility in CoP engineer.
- The pdf for the onesheets needs to move
- Try the spreadsheet system for 1 project and then think about the automation
Actions to take:
- [ ] check with qiqi if there is a guide for alt text for the image in the project card. Find infos about how to write

[2021-07-09 18:43] Aveline-art commented on #1891
### Agenda for July 11, 2021

- [x] Announce on how to use Slack to ask for help (leads are not the only one who can help others!)

[2021-07-09 21:39] aalieu opened #1910 "Remove hackforla newsletter signup form on home page and store code in an issue to bring back for later use"
### Overview

The hackforla newsletter signup form is currently not needed because we aren't sending any newsletters out. Remove the code for the newsletter signup form and store it in an issue so it can be reimplemented at a future date.

### Action Items

- [x] Take a screenshot of the home page with the newsletter signup form and copy the code associated with it.
  - [x] Create an issue using t

[2021-07-09 22:30] bfirestone23 commented on #1851
Hi @ebele-oputa, working on wrapping this up for you ASAP - can you please confirm if the updated partner list should include those already on the site (EmpowerLA, various Neighborhood Councils (e.g., Westlake NC)), or if the updated partner list should replace all? Thank you!

[2021-07-09 23:22] #1871 closed, assigned to marcobarrera

[2021-07-09 23:23] #1835 closed, assigned to anonymousanemone

[2021-07-09 23:24] #1873 closed, assigned to macho-catt

[2021-07-09 23:25] #1825 closed, assigned to Zak234

[2021-07-09 23:27] #1856 closed, assigned to nobody

[2021-07-09 23:28] #1572 closed, assigned to JasonUranta

[2021-07-09 23:36] adam-abundis commented on #1817
@daniellex0 Bonnie would like both options for data purposes.

[2021-07-09 23:50] adam-abundis opened #1911 "Two of the same badges appear together in the same card within the Wins Page"
### Overview
We need to have unique icons for the three types of mentoring on the wins page to indicate the difference.

### Action items
Development
- [x] Replace old mentorship badge icons with new ones as shown in linked Figma file in the yellow box, see this comment below to know which ones you are looking for https://github.com/hackforla/website/issues/1911#issuecomment-903313669

### Extra d

[2021-07-09 23:57] adam-abundis commented on #1817
Created new issue #1911 for duplicate icons on the wins page. Closing this issue since pr #1883 was merged.

[2021-07-09 23:57] #1817 closed, assigned to adam-abundis

[2021-07-10 07:09] ebele-oputa commented on #1851
@bfirestone23 The updated list should replace all. Thank you!

[2021-07-10 10:19] Sihemgourou commented on #1498
Remove @jamesberke from the issue if no updates until July 11

[2021-07-10 10:27] Sihemgourou commented on #1619
@daniellex0 please put this issue in the prioritized backlog if no dev is assigned to it yet :)

[2021-07-10 10:36] Sihemgourou commented on #1739
@mgodoy2023 are you actively working on the issue ? If yes,
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA
Thanks :)

[2021-07-10 10:40] Sihemgourou commented on #1734
Agenda July 11: @sayalikotkar will run the meeting

- [ ] Check the review column
- [ ] Check the issues with the to update label

[2021-07-10 15:29] Aveline-art commented on #1850
After Thursday's backend meeting, we have come to the conclusion that a proposal is needed on how to incorporate the design system webpages into our website. Should the new webpages be like the projects page (one template, multiple yml files), separate pages that lives in the pages directory, or some other configuration? Should all these pages be worked on in a separate branch like the wins-featur

[2021-07-10 17:47] Aveline-art commented on #1352
### Intro

I have taken a brief dive into buttons and I would like to make a somewhat informal proposal. Before I start, a few notes on what I have found after navigating other websites:

- ```<button>``` tags are mostly used for things that activates a fun animation (such as a see more/see less button), or for submitting something (like a newsletter).
- ```<a>``` tags are used when the going to a

[2021-07-10 18:18] erikaBell commented on #1551
**UPDATE:**

*As far as I can tell* this is happening from extra spacing being added to the bottom of short descriptions because we have a height requirement on `.wins-card-text` of `{ height: 88px }`.

We have this height requirement for good reasons. Changing `height` to `max-height` sustains issues.

Because the win text and badge divs are children of `.project-card wins-card` (their parent div

[2021-07-10 18:33] Aveline-art commented on #1273
As discussed, what is going on is that when the website reloads (after changes are made), Jekyll/Docker remake more pages that necessary to display the changes. According to @akibrhast their system is Windows sans WSL. The next step is to find whether:

- This is a bug with Jekyll.
- This is a bug with Docker.
- This is a bug with running our website through Windows sans WSL.

[2021-07-10 22:46] HackforLABot opened #1916 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-07-10 23:10] pascuas commented on #1378
Just finished this earlier today and created a pull request.

[2021-07-11 02:20] Abel-Zambrano commented on #1818
1. Started on it today
2. Working on issue #1596
3. Weekdays after 5 pm PST
4. 5/17/2021

[2021-07-11 05:52] mgodoy2023 commented on #1739
Hi @Sihemgourou. I am still working on this issue - haven't had a ton of time to work on it yet, but will tomorrow. I'll post an update on blockers and progress at the end of the day. Thanks.

[2021-07-11 07:39] jbubar commented on #1549
progress: It is all working, just need to do the finishing touches.. @qiqi did most of the work, I just fixed the positions of see more, see less div.. got it disappearing based on the size of the text.
blockers: The wins page is a bit of a mess.. feel the urge to clean it up
ETA: Tuesday
availability: noon - 4pm mon-sun

<details>
    <summary>mobile</summary>

![screencapture-localhost-4000-wins

[2021-07-11 07:59] abenipa3 commented on #1515
Progress: Fixed parallelogram so that it maintains its size when testing on different screen sizes.
Blockers: Need to make the rest of the page responsive. Also finding a cleaner way to make it responsive.
Availability: Open
ETA: 7/16/21

[2021-07-11 11:35] ashleylin1 commented on #1619
Progress: removed header steps in mobile design, added details to credit the new icons, switched "Adopt our standards" and "Choose A Role" steps order
Blockers: none

[2021-07-11 15:23] daniellex0 commented on #1551
@erikaBell No worries, this is not required for MVP to make the Wins page badges go live, so someone can try to sort it out after it goes live!

[2021-07-11 15:38] daniellex0 commented on #1793
@Sihemgourou Weird, for some reason sometimes it looks normal, but usually it looks too small (still).

However then if I do inspect element for mobile view and then go back to desktop, it looks right.

Not sure what is going on...?

I'll try to show how it looks during today's meeting

[2021-07-11 15:54] daniellex0 opened #1919 "Fix Communities of Practice page mobile view"
### Overview
We need to fix the [Communities of Practice page](https://www.hackforla.org/communities-of-practice)'s mobile view because somehow it has changed and some sections no longer match the original Figma design

### Action Items
- [ ] Ensure that all of the page cards (in mobile) have a consistent image height- they should match the ones in the [Program Areas page](https://www.hackforla.or

[2021-07-11 16:06] daniellex0 opened #1920 "Standardize photo page cards in mobile Events page"
### Overview
We need to try to standardize the image page cards' mobile view in the [Events page](https://www.hackforla.org/events/), because the images are too tall

### Action Items
- [x] Try to decrease the mobile view height of the images in the Events page's image cards, to match similar ones in other pages' mobile view (like [Program Areas](https://www.hackforla.org/program-areas)) - see scr

[2021-07-11 16:07] Rosalyn-broddie commented on #1733
Progress: We're almost finished with adding the necessary changes for the sitemap. We only need to finish making sure that all of the cards match the current status of the website pages.

Blockers: We haven't been able to coordinate time to meet in the past couple of days

Availability: It looks like we'll be able to set up a time tomorrow to meet. I'll have time to take a look at separately as we

[2021-07-11 16:14] daniellex0 commented on #1416
Progress: Met with developers on the team to discuss implementing the component library webpage and get feedback on designs. Am currently implementing edits and finalizing the design to send off to developers by tonight.
Blockers: None
Availability: flexible
ETA: today

[2021-07-11 16:17] daniellex0 commented on #577
Progress: Met with developers to discuss and get feedback on the component library webpage, and how to implement it. I will implement the layout for the rest of the components early this week. Colors have been standardized into variables throughout the site in a current PR by Stanley. I made a first issue for standardizing heading classes as a test- once implementation looks good, I will make issu

[2021-07-11 17:21] ExperimentsInHonesty commented on #1833
@janaspreet will add notes
Thursday team will keep working on prototype.

[2021-07-11 17:29] jbubar commented on #1551
@erikaBell I was running into this same issue yesterday when I was working on my wins issue (#1549). I think we might have to rethink how we shrink or hide the text...  I will be working on this in the next few days. lets brainstorm

[2021-07-11 17:30] ExperimentsInHonesty commented on #1843
a duplicate of 1919

[2021-07-11 17:30] #1843 closed, assigned to nobody

[2021-07-11 17:33] jpandh commented on #1833
Following up from Sunday meeting:

- Google Tables can help us organize better than sheets across across different teams that hold different types of information-so a database setting is preferred over current sheets setup
- Since Google Tables does not connect directly with Google Forms, we will be implementing and utilizing the forms form Google Tables (https://support.google.com/area120-tables/

[2021-07-11 17:36] anonymousanemone commented on #1879
1. Done
2. None
3. Open
4. Complete

[2021-07-11 17:37] ExperimentsInHonesty commented on #1498
Hi James,  Please connect with one of the PMs when/if you return to the project.  Hope you are well

[2021-07-11 17:38] ExperimentsInHonesty commented on #1498
James did not come to Sunday meeting or update issue and had not been to meetings for about 2 weeks.  Unassigned and put back in the prioritized backlog.

[2021-07-11 17:42] ExperimentsInHonesty commented on #1671
@averdin2  mentioned that he provided additional guidance to @wendywilhelm10 on the PR on Tuesday 7/6.  Waiting for @wendywilhelm10 to update this issue with ETA

[2021-07-11 17:43] ExperimentsInHonesty commented on #1739
@mgodoy2020 I am going to remove the "To update" label.  You can always remove that anytime its on your issue, and then you make an update.

[2021-07-11 17:47] averdin2 commented on #1352
I think @Aveline-art's proposal on how to implement buttons is a good idea.

[2021-07-11 17:51] ExperimentsInHonesty commented on #1352
I suggest we find all the buttons everywhere on the site, and list out
1.  what the desired action of the button is
2. how it is coded now
3. what the recommended change is.

[2021-07-11 18:12] adam-abundis commented on #1919
@daniellex0 I may have figured out the bug. So the `<svg>` is nested in an `<object>`. there is a class `header-img--communities` which has a `margin-left` of 80px. This extra 80px is being applied to the width of the `<svg>`. Please see the image below:

<details>
  <summary>Screenshot of header image with 80px of margin-left</summary>
  <img src="https://user-images.githubusercontent.com/2116222

[2021-07-11 19:10] Aveline-art commented on #1850
We will follow up with this by consulting @cnk so that we may better assess our options. Also, we will have a follow-up meeting with the development team and @daniellex0 to outline the goals with the design system pages. The goals will be added either here or a new issue. Once the above two are done, we will continue the discussion on the next Thursday meeting.

Topics for goals:
- User experience

[2021-07-11 20:09] ExperimentsInHonesty opened #1921 "Audit all buttons on hackforla.org website"
### Overview
We need to do an audit of the buttons on the website so that their coding can be consistent across the site.

### Action Items
- [x] Make a spreadsheet in the hackforla.org website shared drive with the following columns:
   - [x] **Name** (Name of button, for example, "donate button", "join us button", etc)
   - [x] **Page** (What page button appears on, can be more than one page, fo

[2021-07-11 20:10] ExperimentsInHonesty commented on #1850
reached out to @cnk to find out what she thinks about using Jekyll and she came to meeting.  Thinks its feasible to have each component have its own yml page

[2021-07-11 20:18] jbubar commented on #1596
@Abel-Zambrano
please edit the css below tablet to look a bit more like this
[code]

This is also a good opportunity to see if you got the git stuff worked out

see also #1914 for the merged pr

[2021-07-11 20:48] adam-abundis commented on #1850
## Notes from meeting with @cnk on 7/11/2021
@hackforla/website-merge
### Infrastructure
- @cnk 1 benefit of staying within the current Jekyll site (website repo) is that we will have access to current CSS files and styling available.
- @cnk initial inclination was just to do it as static pages
- @akib asked **why static?**
    - @cnk with a collection, you need data. You need a template that rend

[2021-07-11 21:31] Abel-Zambrano commented on #1596
@jbubar
I just want to confirm the changes. The requested changes will put ".program-areas-hero-svg" at a max-width of 217.7px instead of the 256px that's requested, it also looks a bit smaller. Let me know if to continue with the changes, I just wanted to be sure. I added images below for reference. Thank you.
<img width="1179" alt="Screen Shot 2021-07-11 at 2 20 01 PM" src="https://user-images.g

[2021-07-11 22:06] adam-abundis commented on #1352
I second with @averdin2 this is a good idea. We should adopt this button standardization and begin an audit.

[2021-07-11 22:09] jbubar commented on #1596
@Abel-Zambrano it is resizing based on the size of the screen, so if the screen is about 365px wide, then the picture will be about 256px, and if it is larger, it will be larger..

tbh, it looks like the figma is 80%, but danielle's picture in this issue it appears to be about 70%, so I think either would be fine.

[2021-07-11 22:25] jbubar commented on #1596
Wait... lets check in with @daniellex0  first
Danielle, do you like option 1 or 2? or something else?

<details>
    <summary>option 1: How it currently is </summary>

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/53061723/125211573-15783480-e25c-11eb-843b-f6654b8cfbba.gif)

</details>

<details>
    <summary>option 2: how it would look with max-width: percentage..</summary>

[2021-07-11 23:30] ExperimentsInHonesty opened #1923 "Update Project Profile: Engage"
### Overview
We need to update the Engage project's hero so that it will render properly.

### file locations
location of their project card: /gh-pages/_projects/engage.md
location of their current hero: image-hero: /gh-pages/assets/images/projects/engage-hero-2.jpeg

### Action Items
- [ ] replace their hero image with the one provided by
   - [ ]  downloading it, renaming it engage-hero.png and

[2021-07-11 23:47] Aveline-art commented on #1891
### Agenda for July 13, 2021

- [ ] See below [comment](https://github.com/hackforla/website/issues/1891#issuecomment-879440004)

### [Post-meeting notes, July 13, 2021]([contributing.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md))

<details>
<summary>Notes from Front-End Meeting </summary>
<br>

1. @jbubar announced he would be transitioning to the VRMS team. He would lik

[2021-07-12 01:24] #1851 closed, assigned to bfirestone23

[2021-07-12 01:25] #1890 closed, assigned to vickiychung

[2021-07-12 01:38] anonymousanemone commented on #1908
Here are my findings laid out. Please read! (And please help)
![image](https://user-images.githubusercontent.com/86015625/125218083-02269280-e277-11eb-9d32-7018b8890f85.png)

[2021-07-12 04:47] jbubar commented on #1908
@anonymousanemone this was so entertaining to read! you might be the next xkcd.

Ok this is super janky but... going off your negative padding idea...
you can do something like
[code]

But I think it is mostly because you just need a new img.. that img has a lot of extra space around the card. maybe get an svg of the wins card without the box shadow and add the box shadow on using css?

Its up to

[2021-07-12 14:53] Aveline-art commented on #1908
Fully agree with @jbubar. That image was great.

Jumping off of the new image idea, I have looked into [the history ](https://github.com/hackforla/website/pull/811) of [that page ](https://github.com/hackforla/website/issues/614). (Fun fact: I had to recreate the original folder in my own version of the directory to see the history since the original about-us folder was renamed to about). It seems

[2021-07-12 15:07] #1580 closed, assigned to JackRichman

[2021-07-12 15:12] Aveline-art commented on #1352
Closed because of proposal acceptance. Next step is: #1921

[2021-07-12 15:12] #1352 closed, assigned to nobody

[2021-07-12 15:27] Aveline-art opened #1927 "Create the design system pages"
### Overview

Jumping off of discussion that started in #1850, this will be the issue to discuss the specifics of the Design System webpages that will exist on our website.

Last comment on the [Design System webpages from #1850 ](https://github.com/hackforla/website/issues/1850#issuecomment-877859115).

### Action items

- [x] Decide on goals of the pages
- [x] Decide on design of the architectur

[2021-07-12 15:55] #1549 closed, assigned to jbubar

[2021-07-12 22:06] macho-catt commented on #1793
I briefly took a look at this because it seemed interesting, although I can't work on it because I have another PR opened at the moment.

I was able to reproduce this issue on chrome and edge, but not firefox (could not test on safari).
So I took a closer look at the CSS. At first, for the class "header-img--communities" I set the max-width to 384px and width to 100% to force it to use 384px on th

[2021-07-12 22:48] Aveline-art opened #1930 "This is a test"
This is a test

[2021-07-12 22:57] #1930 closed, assigned to nobody

[2021-07-12 23:32] jbubar opened #1933 "Tablet design for the wins page"
### Overview
There is good progress on the wins feature right now in the wins-feature-1 branch, but we have run into a design problem

The desktop behaves as expected, mobile behaves as expected, but from about 767px - 960px the wins page behavior is not perfect.

It would be great if the design team to make a decision on what to do for this tablet-ish view

<details>
    <summary>a gif of what it

[2021-07-13 00:06] ExperimentsInHonesty commented on #1671
Please provide update
1. Progress: made most of changes noted in PR
2. Blockers: have one question on one change in PR
3. Availability: open
4. ETA: this week

[2021-07-13 02:33] abenipa3 commented on #1515
**Progress:**

![guidepages-071221](https://user-images.githubusercontent.com/38295612/125380180-a297b800-e346-11eb-8e7c-c148ab5dbe72.gif)

- Hero Section Text, Diagonal, and Image are now responsive.
   - Able to make text and diagonal stay in one place when shown on smaller screens.
- Updated guide-pages.html layout to have "In this Guide" Links show on mobile-only without using divs in markdown

[2021-07-13 02:59] bfirestone23 opened #1934 "Add HackForLA newsletter sign-up form on home page"
### Dependency
Need for a Newsletter signup on the homepage

### Overview
We need to have a signup (on the webpage) for a newsletter, when we are sending one out, so that people can subscribe.

### Action Items
- [ ] Review the code we used to use for this and see if its still applicable.
- [ ] if yes,
   - [ ]  Add the code below to the home page (desired result pictured below).
   - [ ] Make sur

[2021-07-13 05:44] #1910 closed, assigned to bfirestone23

[2021-07-13 16:47] ExperimentsInHonesty commented on #1879
@anonymousanemone Here are my changes for Lucky Parking

**Current text**

**New Text**

[code]

[2021-07-13 16:54] ExperimentsInHonesty commented on #1879
@anonymousanemone Here is my changes to the text at the top

**Current Text**

**New Text**
[code]

[2021-07-13 17:36] sena-ji commented on #1482
1. Progress: I made some adjustments to the mobile view to align with Figma.

2. Blockers: I did some research to try and rearrange items on mobile view. Having a hard time getting the image to align between text boxes, Asked Alex for some help.

3, Availability: Will work on the issue throughout the week! Been lagging because of work.

Here is the mobile preview at the moment:
![image](https://us

[2021-07-13 18:21] daniellex0 commented on #1596
@jbubar Really sorry about the delay! Can you follow what other pages do (like [Join Us](https://www.hackforla.org/join))? Where there are basically two different sizes for the image?

[2021-07-13 18:35] mgodoy2023 commented on #1739
1. Progress:
- Created the donate.html _donate.scss and donate.yml files for the Donate page.
- Created a donate folder in assets/images with the images used on the page.
- Updated the main.scss file to include the _donate.scss file.

2. Blockers:
- On the credits page the image isn't showing up
- The text "Donate to Hack for LA" is not appearing all on one line on the Donate page

3. Availability

[2021-07-13 19:44] Sihemgourou commented on #1797
Meeting 21/07/13

Participants : @Sihemgourou & @ExperimentsInHonesty & @daniellex0

Things discussed:
- Research report for the homepage : about the insights from volunteers interviews, benchmark insights, usability testing. ETA : 07/18
- Process for design handoff: when design is ready, double-check with UX team (everything is componentized, wording is ok) => Lead design will review it and put a

[2021-07-13 20:12] Aveline-art commented on #1900
Following comments on #1909 , we need to decide where to place assets that are not bound by one single location (for example, one file is replicated/reused in multiple pages). The next step might be to perform a thorough audit of the website's assets to assess:

1. Which assets are currently being used.
2. Which assets are only used once.
3. Which assets are used multiple times.
4. Decide what to

[2021-07-13 20:46] #1794 closed, assigned to aalieu

[2021-07-13 21:11] Aveline-art commented on #1927
MVP for prototype:

- [ ] Have all the information on the page
- [ ] Implement it in a way that is sustainable (meaning that it is easy to maintain and add more components in the future)
- [ ] Prototype will only be buttons and page cards
  - [ ] Sidenav should work such that clicking on the links will direct the user to the right pages/sections of the page

[2021-07-13 22:14] averdin2 commented on #1891
I am not going to be able to attend the July 13th meeting, but I want to raise an issue I think needs to be addressed. I recently reviewed PR #1929. The main concern is that this issue deals with making changes to the wins page. It was not made clear in the initial issue that in order to work on the wins page, you should be making a new branch off of wins-feature-1 and not gh-pages, and also be di

[2021-07-13 22:22] averdin2 commented on #1441
Progress: I have implemented the GitHub action on my own website repo and everything works well. The last thing I need to do is connect the GitHub action to Hack for LA's website repo and make a PR for the new files I made to make this work. I most likely need to consult @Aveline-art in implementing GitHub actions on the Hack for LA website repo.

Blockers: None.

Availability: I think I am going

[2021-07-13 22:37] GLRJr commented on #1427
I created a new branch, moved my code over, here are screen shots of the new branch running in Docker:
![image](https://user-images.githubusercontent.com/29311777/125533773-49ae1067-6c48-4bba-94ef-706aa5b91dae.png)
![image](https://user-images.githubusercontent.com/29311777/125533916-06ef7089-df89-423a-a255-58641408be63.png)

[2021-07-14 01:23] ExperimentsInHonesty commented on #797
moved the acceptance box to the current requirement.  Please note that it also references the privacy policy.  So the new design can be used but it the privacy policy is not yet done, publish it with that link hidden or don't add the link.

[2021-07-14 01:26] ExperimentsInHonesty commented on #797
Replaced by #1323 1323

[2021-07-14 01:26] #797 closed, assigned to nobody

[2021-07-14 01:54] ExperimentsInHonesty commented on #525
![meeting invite image](https://user-images.githubusercontent.com/37763229/125548181-b3a1c82c-f99a-4a7e-9d97-2c4ce23f9e47.png)

[2021-07-14 02:24] jbubar commented on #1818
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:28] jbubar commented on #1911
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:31] daniellex0 commented on #1933
Please make tablet same as mobile- thank you!

[2021-07-14 02:40] jbubar commented on #1717
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:41] jbubar commented on #1594
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:41] Abel-Zambrano commented on #1619
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:42] Abel-Zambrano commented on #1692
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:42] Abel-Zambrano commented on #1717
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:42] Abel-Zambrano commented on #1739
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:43] Abel-Zambrano commented on #1793
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:43] Abel-Zambrano commented on #1816
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:43] Abel-Zambrano commented on #1850
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:44] Abel-Zambrano commented on #1824
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:44] Abel-Zambrano commented on #1872
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 02:49] Abel-Zambrano commented on #1551
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-07-14 03:53] ExperimentsInHonesty commented on #1887
@daniellex0 @macho-catt @abuna1985 have decided to use flexbox but they need to know where in the css files it should go so that it can be a standard reusable class.  Josh is suggesting putting it in here: https://github.com/hackforla/website/blob/gh-pages/_sass/elements/_cards.scss  Do you approve?  Have alternate suggestions, comments, questions, etc.?

[2021-07-14 04:32] Aveline-art commented on #1750
@jbubar I feel the issue might sound confusing. Can you review this and let me know if it looks okay?

[2021-07-14 07:41] adam-abundis commented on #1891
### Notes from Front-End Meeting July 13, 2021

1. @jbubar announced he would be transitioning to the VRMS team. He would like to spend the next few weeks organizing `wins-feature` branch. He will provide more information later this week.

1.  We discussed [@averdin2 comment above](https://github.com/hackforla/website/issues/1891#issuecomment-879440004)
    - @jbubar and @Abel-Zambrano went throug

[2021-07-14 08:20] adam-abundis commented on #1927
### Notes from Design System Team Meeting - July 14, 2020

1. [Figma Design for Design System Website](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3) content is all there. @daniellex0 needs to add space (margin).

2. Current Structure of the Figma design
[code]

3. @abuna1985 did some research on design system templates and found:
    - [A Brad Frost design

[2021-07-14 09:25] daniellex0 commented on #1919
@abuna1985  Ohhh yeah that sounds right, thank you for figuring it out!! 💯  Do you want to implement the fix, or should we make this a good section issue (or small issue) and someone can follow your instructions?

[2021-07-14 09:36] daniellex0 commented on #1887
@ExperimentsInHonesty @macho-catt @abuna1985 Sure, putting it in the _cards.scss file works- it can be in the bottom (right above 'small card'), and please also make sure to include it in the index on the top of the file.

[2021-07-14 11:41] Sihemgourou commented on #1797
Meeting 21/07/14

Participants : @ExperimentsInHonesty @smithasindagi

Things to discuss:
- [ ] Tracking plan for acquisition and revenue (and volunteers turnover)
- [ ] Product needs to define marketing objectives : https://github.com/hackforla/marketing/issues/21
- [ ] Could we have stats about the project board ?
- [ ] Review all product issues
- [ ] Problem with google analytics : /website ?
-

[2021-07-14 17:07] arghmatey commented on #1898
HTML code and reusable class names are complete for the page header.
- [x] Determine where the CSS should live for reusable classes in order to create PR
- [x] Discuss changing the template on the [How to create a page on the HfLA website](https://github.com/hackforla/website/wiki/How-to-create-a-page-on-the-HfLA-website) wiki page

[2021-07-14 17:43] Aveline-art commented on #1891
### Agenda for July 18, 2021

- [ ] Insert items here
- [x] @averdin2 There seems to be an issue with the credits page loading alt text for the images
- [x] @averdin2 How should header tags be used
- [x] @jpandh needs assistance completing a pull request for #1583

[2021-07-14 18:00] Aveline-art opened #1939 "GitHub Actions: Restoring Commandline instructions for pull requests"
### Overview
As a developer, having [Commandline instructions for Development Team ](https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests#Step3)when reviewing pull requests helps speed up development by better managing our workflow. We want the commandline instructions visible as the **second comment** of every pull request.

### Psudo-code
- [x] When a new pull request is created

[2021-07-14 18:03] #1594 closed, assigned to nobody

[2021-07-14 18:21] Aveline-art opened #1940 "GitHub Actions: Automatic response to feature branch issues"
### Overview
We need to create a GHA to post a comment on any issue that gets a label `feature: feature branch` with details about what the developer should do.  If the label gets removed, the message should be removed.  This should be a new job that runs in parallel with the other jobs under the "[Issue Trigger](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/issue-trigger.ym

[2021-07-14 18:26] Aveline-art commented on #1940
@ExperimentsInHonesty @Sihemgourou

I am not sure if I should add or edit the labels, but can either of you add the "Feature Branch" label or something akin to that, with a brief description, perhaps, "This issue involves rapid-development of a new feature". Once that is done, this issue can be moved to the backlog with the "Dependency" label removed.

[2021-07-14 18:34] Aveline-art opened #1941 "HackForLA Wiki: New Wiki article on creating issues"
### Dependency
- #1983
- #3636

### Overview

As a member of this team, I want to make sure that the issue I create follows the guidelines of this project.

### Action Items
- [ ] Create a new Wiki with an appropriate title.
- [ ] Include guidelines on creating issues.
- [ ] Guidelines must include the following information:
  - [ ] Every issue needs, **at minimum**, 3 labels: a Feature/P-Feature

[2021-07-14 18:40] Aveline-art commented on #1941
@hackforla/website

Hello team! Please leave comments on what content needs to be in this new wiki, which involves guidelines on creating new issues. Your comments will be transformed into action items. Also, if possible, please also add links to issues that you feel are very well made, with explanations as to why. Thank you for your time!

[2021-07-14 19:42] Sihemgourou opened #1942 "Product needs to define marketing objectives"
https://github.com/hackforla/marketing/issues/21

[2021-07-14 21:15] Sihemgourou opened #1943 "Update Expunge assist project profile card"
### Overview
As a product manager I need to have my project profile card up to standards

### Action Items

- [x] Replace image in the card by the new one
<details>
<summary> put this image </summary>

https://user-images.githubusercontent.com/27507664/121819463-0cd31500-cc42-11eb-8f21-afb65b0d0873.png
</details>

- [x] Change alt description to this "Image of a criminal record"
- [x] Create a pul

[2021-07-14 21:17] Sihemgourou commented on #1560
Hey @lorenzejay please put this issue in the in progress column as you are actively working on it :) Thanks !

[2021-07-14 21:23] Sihemgourou opened #1944 "Update lucky parking project profile card"
### Overview

As a product manager I need to have my project profile card up to date.

### Action Items

- [x] Remove these people from the Lucky Parking project team:
  - [x] David Kim
  - [x] Abhinav Bommakanti
  - [x] Sam Guan

### Resources/Instructions

[Lucky Parking project page](https://www.hackforla.org/projects/lucky-parking)
[Lucky parking md file](https://github.com/hackforla/website/b

[2021-07-14 21:27] Sihemgourou commented on #1500
Closing this issue after the creation of this issue https://github.com/hackforla/website/issues/1943

[2021-07-14 21:27] #1500 closed, assigned to ggrrettcchhenn, Sihemgourou

[2021-07-14 21:35] Sihemgourou commented on #1730
1. Progress : got a good hold of the GA historic
2. Blockers : NA
3. Availability : Everyday
4. ETA : July 24

[2021-07-14 21:41] Sihemgourou commented on #1797
Meeting 21/07/15

Participants :

Things to discuss:
- Put roadmap milestones on each isssue

Things discussed:
- All medium issues are administrative
- We need to recruit more designers. We need to create a card for HFLA website.

Actions to take:

- [ ] list all the roles on the onboarding link column
- [ ] ask the UR team if they want their own role label

[Issues labeled UX Research](https://g

[2021-07-14 22:38] Sihemgourou opened #1945 "Analytics on Github project board"
### Overview

As a pm at HFLA website, I need to check regularly the velocity of the delivery to adapt the roadmap and make sure that we stay on track.

### Action Items

- [x] Brainstorm with the dev team about the analytics that they would be interested in

Here are the metrics the product team needs:
- [ ] During the recent months, how much time would it take to have an issue closed based on it

[2021-07-14 23:31] lorenzejay commented on #1560
gotcha. done.

On Wed, Jul 14, 2021 at 2:17 PM Sihemgourou ***@***.***>
wrote:

[2021-07-15 02:07] Abel-Zambrano commented on #1596
@jbubar Do you want me to replicate what's on the "join us" page?
<h1>Join Us Page</h1>
<img width="945" alt="Screen Shot 2021-07-14 at 6 56 59 PM" src="https://user-images.githubusercontent.com/67209686/125715870-f5062cbe-3c96-4efd-8c46-08031386e506.png">
<h1>Program Areas Page w/edits matching Join Us Page</h1>
<img width="926" alt="Screen Shot 2021-07-14 at 7 05 34 PM" src="https://user-images.

[2021-07-15 11:02] Sihemgourou commented on #525
@ExperimentsInHonesty does this issue belong on in progress column ? Its seems the assignee was working on it a long time ago

[2021-07-15 16:29] JasonUranta commented on #1923
@rmayott Here is a screenshoot of what the new image looks like in the page on my local development branch, the image is still being cut off. Do you want to provide an image that is a bit lower.
![Screen Shot 2021-07-15 at 9 28 59 AM](https://user-images.githubusercontent.com/86503503/125823371-f58a69c9-f64d-413e-9467-5ecd1fe2a4b7.png)

[2021-07-15 18:21] daniellex0 opened #1947 "Edit Community of Practice page"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
- [ ] hello

### Resources/Instructions
[Hello](hdsahnjf)

[2021-07-15 18:24] #1947 closed

[2021-07-15 18:28] rmayott commented on #1923
@JasonUranta Hmmm interesting. Here's an [image](https://drive.google.com/file/d/1nktZFztwR14d8NWMBZR0awkvIRMAJSii/view?usp=sharing) without the logo. That should fix the issue!

[2021-07-15 18:47] daniellex0 opened #1948 "Adjust Homepage filter dropdown checkboxes and text"
### Overview
Per issue #1398 , we need to adjust the homepage filter dropdown checkboxes to have better functionality/accessibility, and to have better vertical alignment

### Action Items
- [x] In filter drop-downs, extend hover-over pointer from just the checkbox to include pointer over the text as well (sorry, screenshot won't capture this)
- [x] Improve alignment of checkboxes with their text

[2021-07-15 20:18] #1933 closed, assigned to nobody

[2021-07-15 20:28] jbubar commented on #1596
@daniellex0 @Abel-Zambrano Yes Yes!!!

[2021-07-15 20:33] jbubar opened #1950 "Wins page - make the tablet like the mobile view"
### Overview
@daniellex0 indicated in the issue below that we should have the wins page look like the mobile view in tablet (below 960px)
- #1933

### Action Items
- [x] discover where in the css and html the screen size is being used to determine the layout of the wins page
- [x] Make it so the current mobile view layout is expanded to include tablet view
- [x] Check to see that the see more see

[2021-07-15 22:24] #1877 closed, assigned to aliibsin

[2021-07-16 04:11] alexeysergeev-cm commented on #1891
### **Backend Meeting Notes July 15, 2021**

- @Aveline-art Workshop on Github Actions.
- What are our human resources for issue #1945?
- How many people do we have to work on a bigger project like Donations? => @abuna1985, @macho-catt, @averdin2
- Pull requests per week challenge e.g. nums of lines of code, nums of commits, etc.
- Reach out to Sihem about analytics
- Look up Github API endpoints

[2021-07-16 05:29] #1876 closed, assigned to celinevalentine

[2021-07-16 16:01] Aveline-art opened #1956 "GitHub Actions: Automate In Progress Issue Updates: Add Update Label"
### Overview

Dependency for #1976 and #1977

As a developer of the team, it is useful to have automation on the project board for tasks that are done on a regular basis by the leadership team.

### Action Items (for designers)

- [ ] Discuss with PM team and come up with a flow for weekly update reports on the project's assigned issues
  - [ ] Some (but perhaps not all) discussion items are in [t

[2021-07-16 16:10] Aveline-art commented on #1956
Current flow of In Progress issues:

- Every Friday, the "To Update !" label is added to issues that follow these criteria
  - The issue is in progress
  - An update has not already been made
  - The issue has an assignee and does not have a linked issue
- Once the update is made, the "To Update !" label needs to be removed by the assignee.
- If an update has not been provided for over 2 weeks, th

[2021-07-16 16:21] natenateo commented on #1944
thank you

[2021-07-16 16:33] Aveline-art commented on #1956
#### Automation 1

* Progress: Automation 1 is mostly finished, except it is currently impossible to filter issues by their columns using Restv3. GraphQLv4 will work, but does require vigorous finesse and testing as the technology is new and documentation is scant.
* Blockers: Requires more research.
* Availability: Random time here and there on weekdays
* ETA: A week

#### Automation 2

* Progres

[2021-07-16 19:32] glenflorendo commented on #1442
@averdin2 Is there anything else I should do for this issue?

[2021-07-16 21:07] averdin2 commented on #1441
### Notes
 - In the linter.yml file, on line 22 the `VALIDATE_ALL_CODEBASE: false` means that the GitHub action only checks committed files to the repo. The reason why I am not checking the entire codebase is that I do not believe it is necessary to run a check on the entire codebase for every pull request. I am going to make an issue and deal with all the errors that are in the current codebase a

[2021-07-16 21:19] averdin2 opened #1958 "Make Style Linting Fixes"
### Overview
I recently made a GitHub action for Linting our CSS, see issue #1441. I decided that this GitHub action would not lint the entire codebase, only code that is committed on the pull request. However, there are still linting issues throughout the entire code base. We need to go through and clean up that code using the linter showing all the issues.

### Action Items
- [x] Set line 22 in

[2021-07-16 21:57] averdin2 commented on #1581
@celinevalentine I saw that you closed this issue even though the pull request #1937 that links to this issue has not yet been merged. I just want to let you know that you do not need to close the issue. When the pull request is merged it will close the issue. I am reopening this issue since the pull request has not yet been merged.

[2021-07-16 21:59] #1581 closed, assigned to celinevalentine

[2021-07-16 22:22] #1560 closed, assigned to lorenzejay

[2021-07-16 23:06] averdin2 commented on #1958
#### Notes for changes in _about.scss
- On line 149, I got rid of the margin-bottom: 0 because it wasn’t doing anything. The design seems to be fine with just having margin: 12px and it was causing a linting issue.
- On line 275, I got rid of a duplicate style property for padding-left. I changed the padding-left: 23px to 10px because it matches the specifications in the Figma better.
- I commente

[2021-07-16 23:29] averdin2 commented on #1958
#### Note
- For errors regarding 'declaration-block-no-duplicate-properties', make sure that the duplicate properties are not vendor prefixes.
- [ ] After checking all issues, need to add `ignore: ["consecutive-duplicates-with-different-values"]` to .stylelintrc.json file

[2021-07-16 23:46] averdin2 commented on #1442
@glenflorendo If you are confident with your progress on the rules you researched, you can make a eslintrc config file in the root of the project folder. You can then make a pull request draft to merge that file. I am still working on the GitHub action portion of the two linting issues, but I am almost done. When I am done, I will review your proposed rules and implement it with the GitHub action.

[2021-07-17 00:19] Aveline-art commented on #1939
Reopened because tests listed on #1959 have failed (tests are #1960 and #1961). The changes were reverted with #1962. Next step is to migrate the GHA into a ```workflow_run``` trigger instead of using only ```pull_request```.

[2021-07-17 00:31] #1717 closed, assigned to marcobarrera

[2021-07-17 07:37] jbubar commented on #1750
@Aveline-art This is a great issue! I think we should call it a feature branch, because that is what they seem to call it in the industry [a cool article about gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)

Could I jump in there and edit it a little?

I changed the overview a little. I switched non-default-branch to feature branch, and called gh-pages produ

[2021-07-17 08:39] abenipa3 commented on #1515
Progress: Updated Header and Style for Desktop version as seen below. Question about margins and grid containers. Also will continue to work on styling before our next meeting.
![image](https://user-images.githubusercontent.com/38295612/126031437-7790fcec-5972-47f0-9038-cbdd4cdb4e95.png)

Blocker: N/A

Availability: Open

ETA: 7/20/21

Note: Will meet with Josh on Monday (7/19) to review progress

[2021-07-17 10:43] Sihemgourou commented on #1849
Yes

[2021-07-17 10:44] Sihemgourou commented on #1865
Hey @daniellex0 did you create all the corresponding issues or do you need some help with this matter?

[2021-07-17 10:45] Sihemgourou commented on #1734
Agenda for July 18
- [x] Guthub analytics
- [x] Github automation
- [x] Reminder about using the template when updating your issue

Actions to take:

- [x] @Sihemgourou will create an issue to change the wording on the header of the homepage

[2021-07-17 10:49] Sihemgourou commented on #1619
Hey @ashleylin1, is the deisgn ready then?

[2021-07-17 14:07] Aveline-art commented on #1750
Of course! Edit it however you'd like! I am sure you know how to word this a lot better than I do, since I am very weak with Git! Thank you for giving your expertise @jbubar !

[2021-07-17 14:08] Aveline-art opened #1963 "Transfer a copy of the GoogleAppsScript script onto a folder in this project (see )"

[2021-07-17 14:37] Aveline-art commented on #1833
@averdin2 @jpandh I have added #1963 a little early, since it sounds like a lot of people are interested in this thing we are building? Feel free to edit it however you'd like. Just from a glance I can tell that it will be a very difficult task!

[2021-07-17 15:49] Sihemgourou commented on #1482
Hey Sena, what's your ETA please ?

[2021-07-17 20:11] erikaBell commented on #1551
**UPDATE:**

Progress - found a simple CSS solution for the spacing issue between wins-text and wins-badges
Blockers - see more & see less functionality

[2021-07-17 23:38] Aveline-art commented on #1939
* Progress: Almost done!
* Blockers: Only a small bit of refactoring needed.
* Availability: Random time here and there.
* ETA: Less than 2 days.

[2021-07-18 03:29] jpandh commented on #1583
- Issue changes made, need to open a pull request
- Currently stuck on opening the pull request, following up at tomorrow's dev meeting
- ETA: within the next day

[2021-07-18 05:43] jbubar commented on #1950
Thanks Erika!

[2021-07-18 05:53] #1939 closed, assigned to Aveline-art

[2021-07-18 08:02] aalieu commented on #1619
1. Actively working on creating the new 'Getting Started' page to match the designs.
2. No blockers as of now – just actively trying CSS to get the layout correct.
3. Mostly full availability.
4. Aiming to be complete by next Sunday's meeting.

[2021-07-18 16:18] daniellex0 commented on #577
Progress: Finished designing dedicated webpage for components and met with developers to discuss and get more feedback. Sarah is now in charge of implementing the designs, and once she builds the structure will assign others.

Next Steps: Finish coordinating with devs to make sure they have what the need to implement component library webpage, finish dev documentation, and finish any loose ends in

[2021-07-18 16:20] daniellex0 commented on #1416
Progress: Finished designing dedicated webpage for components and met with developers to discuss and get more feedback. Sarah is now in charge of implementing the designs, and once she builds the structure will assign others. Adam is in charge of assigning people to standardize components as she moves along.
Remaining step: I need to finish descriptions in component webpage, and wiki page encourag

[2021-07-18 17:12] jbubar commented on #1950
progress: Did this
blockers: Found a few more bugs that I want to fix with the same pr
ETA: Tomorrow
availability: Today after 5pm

[2021-07-18 17:33] Sihemgourou commented on #1338
Discussed during All Team => @ExperimentsInHonesty to edit this issue and create another one

- [ ] Add how to take on a good first issue
- [ ] Reference all the changes to make : put check your changes locally as its own step
- [ ] Remove branche from fork
- [ ] how to stash/unstash and delete stash
- [ ] other issues about the contributing file :  #1893 , #1750

[2021-07-18 17:35] Sihemgourou commented on #1750
This issue is part of the edits that we need to make https://github.com/hackforla/website/issues/1338. Please add it in the main issue as reference

[2021-07-18 17:55] Sihemgourou commented on #1833
@chelseybeck @averdin2 @jpandh will clean up this issue together

[2021-07-18 18:35] Aveline-art commented on #1904
@qiqicodes Can you take a look at this and add any resources you may have?

[2021-07-18 18:39] Aveline-art commented on #1904
@arghmatey Will mention during engineering COP meeting on Wednesday July 21st.

[2021-07-18 18:39] macho-catt commented on #1904
Some guides I use that could be helpful.
CSS:
- general HTML/CSS: https://www.internetingishard.com/
- CSS Grid: https://css-tricks.com/snippets/css/complete-guide-grid/

General JS:
- https://javascript.info/

And a personal favorite of mine for writing good code:
- https://javascript.info/ninja-code

[2021-07-18 18:46] Sihemgourou opened #1968 "Re-write Homepage header"
### Dependency
- #3058

### Overview

As a user, I need to find the right use case to contribute in HFLA

### Action Items

- [ ] Listen to interview with bonnie / research team re personas and look at deck
- [ ] Review the text to make sure that its inclusive for all of our personas (volunteers and donors) and for different roles
- [ ] Make notes to share with project team if there are areas whic

[2021-07-18 18:54] Sihemgourou commented on #1898
Hi @arghmatey, please add a size to the issue :) thanks!

[2021-07-18 18:56] Aveline-art commented on #1941
Discussed during Sunday meeting: on the labels wiki, add some type of resource list that associates labels with resources, which will be linked in the 'how to make an issue' wiki.

[2021-07-18 18:59] #1849 closed, assigned to Sihemgourou

[2021-07-18 19:02] Sihemgourou commented on #1888
hey @smithasindagi, I've just requested the access to the drive

[2021-07-18 19:04] Aveline-art commented on #1891
## In the meeting July 18, 2021

### Issues to be made:

- [ ] @Zak234 the alt text is not loading properly, will make an issue
- [x] @arghmatey updating the label wiki #1983
     - Wiki page for all labels does not exists, but a page for updating issues with status labels does so I created an issue to update that.

### Action items:

- [x] The resources list will be mentioned during the engineeri

[2021-07-18 19:09] Aveline-art commented on #1442
@glenflorendo We will remove you from this issue until @averdin2 is done with his ESlint. Please feel free to hop back on when the dependency is completed.

[2021-07-18 19:09] Sihemgourou opened #1969 "Navigation options (like having all pages show up in footer) for many pages"
### Overview
We need to add all of the HfLA website's page links to the footer to help improve user navigation.

### Action Items

Design
- [x] Compile links to all of the HfLA website pages
- [x] Research footer examples with links on other websites
- [x] Duplicate current footer design in Figma and ideate new version with page links, Test different alternatives (should we put all the live pages

[2021-07-18 19:11] Aveline-art commented on #1482
@jbubar Sent a message on Slack, will encourage @sena-ji to do pair-programming to get unstuck

[2021-07-18 19:11] Sihemgourou commented on #1958
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA
Thanks :)

[2021-07-18 19:13] Aveline-art commented on #1710
@Aveline-art will message them and help them with possible blockers for the GHA

[2021-07-19 00:38] anonymousanemone commented on #1908
Progress: Submitted pull request, but received request for changes
Blockers: Unable to work on issue recently, needs help with how to build a tablet css class.
Availability: Unable to work on issue this entire week
ETA: Around the end of next next week

[2021-07-19 08:29] Zak234 opened #1970 "Fixing alt-text on credits.html"
### Overview
On the credits.html page, the alt-text is not loading properly. Only the first word is being put inside quotes while the rest is being ignored by the page.

<img width="582" alt="Screen Shot 2021-07-19 at 11 19 21 AM" src="https://user-images.githubusercontent.com/85966467/126127091-90706e2c-3b82-4080-8651-32c677ff4624.png">

### Action Items
- [ ] Replace <img src={{ item[1].image-ur

[2021-07-19 14:31] Aveline-art commented on #1956
@Sihemgourou @ExperimentsInHonesty Is there a label for when an item has been inactive for about 14 days?

[2021-07-19 16:24] ExperimentsInHonesty commented on #1329
@hackforla/website-merge can I get your thoughts on this... each guide has a list of categories inside of it and it might display on multiple categories so if you have the ability to check several boxes then it sounds technically more complicated than just allowing only one category to be selected.  Which seems like it would call for radio selector or just the name selector.  Please share thoughts

[2021-07-19 16:31] ExperimentsInHonesty commented on #1323
What is the next step for this issue.  Isn't it to design the table view?

[2021-07-19 16:39] mgodoy2023 commented on #1329
Whenever this gets resolved please let me know because I'd love to pick it up. Thanks!

[2021-07-19 16:51] #1875 closed, assigned to lorenzejay

[2021-07-19 16:54] #1923 closed, assigned to JasonUranta

[2021-07-19 18:37] alexeysergeev-cm commented on #1710
**1. Progress:**

I have created a Github Action that trims members from a team if they have not contributed in the past month, but there are seem to be some pitfalls. (see Blockers).

I also created my own org and team to test code.

How does it work?
* we create a list of all active contributors within the past month using Github REST APIs.
* we get all the members of the website-write team and

[2021-07-19 19:07] chelseybeck commented on #1833
I created the prelim table infrastructure for review/discussion. There are three tables here. Ideally, the CoP field from the Vols table would be a selection from the CoP names in the CoP table. Same for projects. But, Google Tables does not yet support multi select functionality so for now those columns are using tags and the CoP and Projects tables are unnecessary until that functionality is add

[2021-07-19 19:52] #1739 closed, assigned to mgodoy2023

[2021-07-19 20:12] ExperimentsInHonesty commented on #1940
Says dependency on label but no dependency listed, needs to be reviewed

[2021-07-19 20:14] ExperimentsInHonesty commented on #1442
has dependency label but no dependency listed at top

[2021-07-19 20:16] ExperimentsInHonesty commented on #1086
@alyssabenipayo It looks like the issue that this was dependent on is now resolved.  Can we move this out of the icebox and into prioritized backlog or does it need info added?

[2021-07-19 20:24] Sihemgourou opened #1973 "Create a redirection link"
### Overview
As a user, I want to be redirected to the [website homepage ](hackforla.org/) when I go to [hackforla.org/website ](hackforla.org/website/) so that I don't go to a 404 page.

### Action Items

- [x] Create a redirection file that sends users from [hackforla.org/website ](hackforla.org/website/ )to [hackforla.org](hackforla.org/)

### Resources/Instructions
[Hack for LA's Site Architec

[2021-07-19 20:24] ExperimentsInHonesty commented on #1027
@daniellex0 What are the next steps for this issue?

[2021-07-19 20:27] ExperimentsInHonesty commented on #1697
@kristine-eudey Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-19 20:28] ExperimentsInHonesty commented on #1733
@Rosalyn-broddie @SaashaG a Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-19 20:33] Sihemgourou opened #1974 "Github action: To update label not working"
### Overview
As a Product Manager, I need the [Update Comment GitHub action ](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/update-comment-on-update-label.yml)to @ message every person assigned to the issue when I put a 'To Update !' label.

#### Clarification

**How the GHA works currently:**

<details>
<summary>Sasha and Ava are assigned to the same issue. The github actio

[2021-07-19 20:52] ExperimentsInHonesty opened #1975 "Change Submit your pitch button on homepage"
### Overview
We need to have the submit your pitch button convey a subject line, so that when people click on it and send an email we can tie to the action of having clicked the button.

### Action Items
- [x] Add subject line to button action

Subject line should be:
Submitting my pitch to Hack for LA

### Resources/Instructions
Example:
[code]

[2021-07-19 21:06] Aveline-art commented on #1940
Dependency label is removed. This issue still needs a "Feature Branch" label to be created to move out of the Ice Box.

[2021-07-19 21:07] Aveline-art opened #1976 "GitHub Actions: Automate In Progress Issue Updates: Hide Old Comments"
### Dependency

- #2032

### Overview

As developers, we will update the GitHub action job "Add-Update-Label-to-Issues-Weekly" so that duplicate or outdated "update" comments are hidden, in order to improve the readability of the issue history.

### Details
  If a bot "update" comment is older than `commentByDays` (currently 7), it is either going to be duplicated with another "update" comment (if

[2021-07-19 21:08] Aveline-art opened #1977 "GitHub Actions: Automate In Progress Issue Updates: Flags Inactive"
### Overview
As a developer of the team, it is useful to have automation on the project board for tasks that are done on a regular basis by the leadership team. For this GHA, we will add a '2 weeks inactive' label when an issue has no activity by the assignee for at least 2 week.

### Psudo-code
- [x] Trigger: At the same time as [this GHA](https://github.com/hackforla/website/blob/gh-pages/.githu

[2021-07-19 21:19] Sihemgourou opened #1978 "Github actions: edit update comment action"
### Overview
As a Product Manager, I need the [Update Comment GitHub action ](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/update-comment-on-update-label.yml)to say "Please add update using this template"

### Action Items
- [ ] Edit the automation such that it say "Please add update using this template"  instead of "Please add update"

### Resources/Instructions
Don't know

[2021-07-19 21:26] abenipa3 commented on #1086
@ExperimentsInHonesty ~More info needs to be added. We have one more issue that's dependent on this one (Mobile Version #1515).~ Update: This is actually a duplicate issue for #1515. We can close this.

~I've just edited the description for this issue.~ Thanks for catching this, Bonnie!

[2021-07-19 21:47] averdin2 commented on #1958
1. Progress: I am working through all the issues, see the other comments I have, and will post on this issue for more information.
2. Blockers: None, but this issue is a low priority. I am currently assisting on issue #1833 which is a high priority. I will incrementally make updates regarding this issue throughout the week.
3. Availability: I am fairly available, but I do not need assistance on th

[2021-07-19 21:53] averdin2 commented on #1441
Progress: I have made a pull request for this issue #1957 , but I decided to make a separate issue to deal with all the linting issues in the codebase currently. I am also using that issue #1958 as a secondary means to test all the rules I have implemented in the GitHub action.

Blockers: None, but like #1958, this issue is technically a low priority, and I am assisting on issue #1833 which is a h

[2021-07-19 22:24] kristine-eudey opened #1979 "Add GitHub links to Community of Practice pages"
### Overview
We need to add GitHub links to the Communities of Practice pages in order to make GitHub more easily accessible to volunteers.

### Action Items
Design
- [x] Ideate how best to incorporate GitHub repository links for each card on the Communities of Practice page.
- [x] Duplicate the Figma frame
- [x] Come up with 2-3 versions and create desktop and mobile designs

### Resources/Instru

[2021-07-19 22:46] abenipa3 commented on #1515
@Sihemgourou @ExperimentsInHonesty Hello! I've completed creating responsive Guide Pages. Please see the following link from my repo and feel free to let me know your thoughts: https://alyssabenipayo.github.io/guidepages-prototype/

Note: Please see these following links:
![image](https://user-images.githubusercontent.com/38295612/126239636-78c0e5fd-6eeb-48f3-9165-bb7bd0b5d631.png)

[2021-07-19 22:49] #1086 closed, assigned to nobody

[2021-07-19 23:35] anonymousanemone commented on #1879
Progress: Fully complete (to my knowledge)
Blockers: None
Availability: Unable to do any work this entire week
ETA: I thought this was complete

[2021-07-20 01:09] Abel-Zambrano opened #1980 "Google Wins-Form Response Security"
### Overview
As a developer, we need to protect our data. In the Google "Wins-form (Responses), we need to improve the security of sensitive data.

### Action Items
- [x] Research any strategies, tools, or solutions to protecting leaked API keys and secrets in our apps script.
- [x] As part of the research be sure to document either here or in our google drive:
  - [x] Things that have been tried

[2021-07-20 01:12] arghmatey commented on #1898
@Sihemgourou Done!

Meeting with Danielle tomorrow to discuss my previous comment. If all is good, PR to be submitted tomorrow afternoon.

[2021-07-20 01:19] Abel-Zambrano opened #1981 "Clean wins.html"
### Overview
Clean code on wins.html

Converting Array of Arrays (rawData) into an array of objects with {key: value} pair to remove unnecessary hard coded keys and clean the file.

### Action Items

- [ ] Convert the rawData array (line 87) into an array of objects with {key: value} to replace hardcoded keys in the wins.html file (lines 31-62).
- [ ] Remove code/notes from lines 28-62 and assure

[2021-07-20 01:37] Abel-Zambrano opened #1982 "Wins Page Modal CSS"
### Overview
Wins page modal CSS icons are not aligned with text and columns are also unaligned.

<img width="1520" alt="Screen Shot 2021-07-15 at 5 29 11 PM" src="https://user-images.githubusercontent.com/67209686/126248831-e06172bc-5503-4d88-8380-9859605ed966.png">

### Action Items
- [x] Align CSS icon with text
- [x] Center columns evenly, and align with content

### Resources/Instructions

ht

[2021-07-20 01:45] arghmatey opened #1983 "Audit Website Team Labels"
### Dependency
- [x] #3636
- [x] #1534
- [ ] Relaunch of the new wiki

### Overview
As a developer, we need to ensure that our labels are up-to-date, removing unnecessary labels as required.

### Action Items
- [ ] Make an audit of all labels used by the website team. A work-in-progress audit can be seen [here](https://docs.google.com/spreadsheets/d/1jWVH-1QAgcaMd3BInWEW6Zaq-z9lN-C4qJ6I3mchfNs/edi

[2021-07-20 01:46] Abel-Zambrano opened #1984 "Wins Page "see more" Toggle/Link - Mobile Screen"
### Overview
“see more” toggle/link is not aligned with content - **Mobile Screen**

<img width="366" alt="Screen Shot 2021-07-19 at 6 44 47 PM" src="https://user-images.githubusercontent.com/67209686/126249694-80598c17-93a3-4cf5-8ade-c6c0e85e70af.png">

### Action Items
- [ ] Align "see more" with content.

### Resources/Instructions

IMPORTANT!!
This issue is working off of a feature branch!
Ple

[2021-07-20 02:02] Abel-Zambrano opened #1985 "Wins Page Responiveness - Mobile to Desktop"
### Overview
"see more” is unresponsive when going from mobile to desktop view (must be clicked in mobile) and turns to "see less" when opened in mobile and changing to desktop screen

### Action Items
- [ ] Fix onclick event listener for "see more"
- [ ] Fix "see less" to only be shown after "see more" has been clicked.

### Resources/Instructions
[Wins Page](http://localhost:4000/wins/)

IMPORTA

[2021-07-20 02:07] arghmatey commented on #1941
Went searching for the labels wiki and found one for [adding status labels](https://github.com/hackforla/website/wiki/How-to-add-status-labels-to-issues). Do we want to build on this page transforming it into an 'all labels' wiki? Or start a new page completely?

[2021-07-20 15:37] macho-catt commented on #1793
@daniellex0 I looked at this briefly. It looks like this occurs for chrome and microsoft edge, but not firefox. There are two possible fixes that I found for this:
1) You can set the class for the object that wraps the SVG to have a max-width of 384px and width of 100% so that for the desktop view, it is forced to take 384px on the first render and when the screen size changes it will change as we

[2021-07-20 16:58] ExperimentsInHonesty commented on #1329
@danyc23 I see that you reassigned this to yourself, but I'll need more info that that, because we didn't have an update from Since May 28th, even though we asked a couple of times.  So please provide an update now so I can decide if we can keep you on this issue.  Apologies if you notified the team that you were going to be out and I am just unaware.  For reference though, you do have to put that

[2021-07-20 17:56] daniellex0 commented on #1323
This has already been developed, but the Privacy Policy is still missing, and the sitemap needs your final approval before adding the new image and adding Sitemap page to the footer. Then this will be complete.

The new footer might need to be a separate issue for design, or can be added to this one- up to y'all.

Tagging @kristine-eudey to keep looped in

[2021-07-20 18:56] #1887 closed, assigned to macho-catt

[2021-07-20 19:31] ExperimentsInHonesty opened #1987 "Community of Practice Change: UI/UX"
### Overview
As a product manager of UI/UX I want my CoP details to be up to date on the HackforLA website

### Action Items for requestor
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] Name of CoP
      - [x] Description
      - [x] Meeting Times cannot be changed here.  Create an issue at V

[2021-07-20 19:33] ExperimentsInHonesty commented on #1987
Add the following people to Leadership

Felicia Swafford
slack id U0252LV021F
gihub feswafford

Kevin Wang
Slack ID: U01GZHT5CM8
github: kvnw2020

[2021-07-20 19:42] Sihemgourou commented on #1797
Meeting 21/07/20

***Participants*** : @ExperimentsInHonesty @daniellex0 @kristine-eudey @Sihemgourou @Basu3040

***Things discussed***:

Donate page:
- We have to test the writing of the donate page with user tests. Add a donate button to have a strong CTA.
- @smithasindagi proposed to talk more about the impact for donors

Sitemap:
- add an additional status for content refreshing

Program areas

[2021-07-20 19:51] Sihemgourou commented on #1985
Hey @Abel-Zambrano your issue is not on the project board, do you want to put it there ?

[2021-07-20 19:56] Sihemgourou opened #1988 "Github action : check issues that are not on the repo"
### Overview
Problem: As of today,  HFLA contributors often forget to put their issue on the project board after creating them. The results is that some issues never get done because no one can find them.

Solution: As a HFLA website contributor, I need to get notified if I forgot to put my issue on the project board so that my issue will be referenced on the project board.

### Action Items

- [

[2021-07-20 20:16] Sihemgourou commented on #1898
perfect thanks ! don't hesitate to use this template for next time

1. Progress
2. Blockers
3. Availability
4. ETA
Thanks :)

[2021-07-20 20:22] Sihemgourou opened #1989 "Create privacy policy"
### Dependency

https://github.com/hackforla/product-management/issues/26
#2105

### Instructions for HFLA team only.  Everyone else ignore
later we will need the following for the hfla site.
   - [x] Move hackforla/website#797 from icebox to prioritized backlog
- [x] Design
   - [x] Create a design for a page that is just header/content/footer with content in one box
- [ ] Development
   - [ ] De

[2021-07-20 20:28] ExperimentsInHonesty commented on #1402
This format for agendas is no longer used, closing issue

[2021-07-20 20:28] #1402 closed, assigned to nobody

[2021-07-20 20:30] ExperimentsInHonesty commented on #1989
closing this issue because there is another issue already on the product management board

[2021-07-20 20:34] ExperimentsInHonesty commented on #1692
This work will not be done because we are changing from the current format to the new happen.

[2021-07-20 20:34] #1692 closed, assigned to nobody

[2021-07-20 20:41] ExperimentsInHonesty commented on #1479
I moved this back to prioritized backlog because the changes still need to be made, however this can be made as two separate PRs, one to remove the "(We Made These!) text and another one to fix the button

[2021-07-20 21:15] danyc23 commented on #1329
Hi Bonnie, I was away for personal reasons and I mentioned it to Josh. I have done some advancements to this issue and still need to fix some small things to finish the filtering functionality. Attached you will see an image of my progress. Let me know if you have any question

<img width="426" alt="Screen Shot 2021-07-20 at 2 09 52 PM" src="https://user-images.githubusercontent.com/42159475/12639

[2021-07-21 01:36] #1596 closed, assigned to Abel-Zambrano

[2021-07-21 02:59] Aveline-art commented on #1904
GitHub Actions:

https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts
https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
https://docs.github.com/en/actions/reference/events-that-trigger-workflows

[2021-07-21 03:42] Abel-Zambrano commented on #1985
Hey @Sihemgourou I just added this issue to the project board. Thank you for reminding me.

[2021-07-21 03:57] Abel-Zambrano commented on #1891
### Notes for July 20, 2021

@abuna1985  discussed the site's CSS  and wants to find a way to address duplicate code that should be a reusable component.

@arghmatey working on design systems page. Adam provided design templates.

@danyc23  working on the Tool kit page mobile filter, he will figure out how to make the filter work.

@Aveline-art  suggested review wiki and remove old information or

[2021-07-21 05:21] Aveline-art opened #1992 "HackForLA Wiki: Audit wiki articles to bring them up to date."
### Dependency
- [x] #3636
- [x] #1534 Bonnie will sort out which issues are still needed.
- [x] #4589

### Overview
As a member of the team, it is very discouraging when the wiki documentation turns out to be unhelpful. We need to have wiki articles that are up-to-date.

### Action Items
- [ ] Perform an audit of all wiki articles, and record results in a spreadsheet.
- [ ] For each wiki article,

[2021-07-21 05:29] Aveline-art commented on #1992
@hackforla/website-admins @hackforla/website-design  I made this issue in a bit of a flurry, especially that last paragraph about the purpose of the wiki. It is only from my perspective as a developer, so that viewpoint might not match yours. I will mark this issue as Help Wanted because I have no idea how other teams uses our wiki and any feedback on such will help immensely when performing the a

[2021-07-21 06:54] #1793 closed, assigned to macho-catt

[2021-07-21 14:44] daniellex0 opened #1993 "Update main footer component in Figma design system using auto layout"
### Overview
We need to update the main (master) footer component in the Figma design system - both mobile and desktop versions - because it has been updated on the website, and the Figma component needs to reflect the changes (every page using the component will automatically be updated as well). This needs to be changed using auto layout, because the original component is in auto layout.

### Ac

[2021-07-21 14:47] ExperimentsInHonesty opened #1994 "Update Community of Practice pages"
### Dependency
- ~#1996~

### Overview
We need to update all the CoPs on the website https://www.hackforla.org/communities-of-practice with relevant lead info so that new members know who to reach out to

### Action Items
- [ ] Fill out template on behalf of the following CoPs
- [ ] send the issues to the CoP leads for them to edit/confirm

### Resources/Instructions
UI/UX
Add
- remove all

Produc

[2021-07-21 14:54] ExperimentsInHonesty commented on #128
@Sihemgourou This issue is in the icebox because of a dependency  (#503) which is now closed.  Also I added [this note](https://github.com/hackforla/website/issues/128#issuecomment-633293006) the last time we looked at this.  Can you review and see if this can be put in the prioritized backlog

[2021-07-21 16:09] ExperimentsInHonesty commented on #1329
@danyc23 - I want to talk again to the design team.  I'm not satisfied with the solution they have proposed.

[2021-07-21 16:16] kristine-eudey opened #1995 "Communities of Practice information updates: UI/UX"
### Overview
As a product manager of UI/UX I want my CoP details to be up to date on the HackforLA website

### Action Items for requestor
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] Name of CoP
      - [x] Description
      - [x] Meeting Times cannot be changed here.  Create an issue at V

[2021-07-21 16:17] ExperimentsInHonesty commented on #1985
@Abel-Zambrano
- [ ] Please fix the link  - you have linked to resources in the body of the top part, but it goes to a local host url, which doesn't work from here.
- [ ] Please fix the Overview - it is not a user story (we need to do X for Y reason)
- [ ] Please add animated gif to demonstrate what you are saying, because its not clear.

[2021-07-21 16:30] kristine-eudey opened #1996 "TEMPLATE: Communities of Practice information updates"
### Overview

### Action Items
- [x] Draft a template in the comments below:
   - [x] name (the name you want to appear on this page: https://github.com/hackforla/civic-opportunity/issues/new/choose)
    - [x] about (the user story for when we use the template)
    - [x] title: name that matches the label [INSERT NAME OF X] (e.g., Initiative Review: [INSERT NAME OF INITATIVE])
   - [x] labels (wha

[2021-07-21 16:31] kristine-eudey commented on #1994
Please see #1996 for template issue

[2021-07-21 16:35] kristine-eudey commented on #1987
Remove the following people from Leadership:

Danielle Nedivi
Tan Zhou

[2021-07-21 16:56] kristine-eudey opened #1997 "Hide "Looking for" from project cards"
### Overview
We need to hide "Looking for" from project cards because this information is rarely accurate / up to date. Keep the code/functionality in case this needs to be reversed in the future.

### Action Items
- [ ] UI/UX
  - [x] Duplicate this [Figma page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=7829%3A40586) and remove the pink tags line to start from t

[2021-07-21 17:11] lorenzejay commented on #1984
I can't seem to replicate the view for this issue. This is how it looks on my end for the mobile view. @Abel-Zambrano

![Uploading Screen Shot 2021-07-21 at 10.03.28 AM.png…]()

[2021-07-21 17:22] Abel-Zambrano commented on #1984
Hello @lorenzejay

I updated the issue instructions. Sorry, it wasn't clear. You have to pull the feature branch to your environment and then go to the page link. Don't go to the page on the live site. I just checked and the bug is still there. Let me know if you continue to have problems.

Thank you,

[2021-07-21 17:31] Abel-Zambrano commented on #1985
Hey @jbubar

I know you have been working on this feature recently, any chance you fixed this issue already? I don't see the bugs anymore.

[2021-07-21 17:47] lorenzejay commented on #1984
Gotcha, thank you for the clarification. @Abel-Zambrano

[2021-07-21 17:52] lorenzejay commented on #1984
@Abel-Zambrano and to be specific, the feature branch is the [wins-feature-1 branch](https://github.com/hackforla/website/tree/wins-feature-1) correct?

[2021-07-21 17:58] Abel-Zambrano commented on #1984
@lorenzejay correct

[2021-07-21 18:53] jbubar commented on #1985
Yes. I believe I did. This was fixed by #1954

[2021-07-21 18:53] #1985 closed, assigned to nobody

[2021-07-21 19:38] danyc23 commented on #1329
Ok, I'll be waiting for the new design. Should I move it back to In Review?

[2021-07-21 19:41] Sihemgourou commented on #1734
Agenda for July 25

- [ ] New column "New Issue Approval"
- [ ] #1983 see @ExperimentsInHonesty comment

[2021-07-21 19:45] Sihemgourou commented on #1797
Meeting 21/07/21

***Participants*** : @ExperimentsInHonesty  @Sihemgourou @Aveline-art

***Things discussed***:
- The dev team will update the wiki page to create a new issue #1983
-

[2021-07-21 19:57] ExperimentsInHonesty commented on #1983
Role: https://github.com/hackforla/website/labels?q=role%3A
Feature (that are not pages): https://github.com/hackforla/website/labels?q=feature%3A
p-Feature: https://github.com/hackforla/website/labels?q=p-Feature
Size of issue:

Labels that we might be able to delete
Dependencies (not in use on any issue)

Labels we are using but not sure why
enhancement

Bonnie is going to evaluate the following

[2021-07-21 20:09] ExperimentsInHonesty commented on #1983
Labels need to be made (shorter of course) for these priorities
Gather individual donation
Get to know HFLA organization
Home page Re-design
Program areas lack visibility
"Communicate about the impact
(on creating workforce and spreading ideology and methodology)"
Improve onboarding flow
Grant + revenue for projects by program areas
Attract senior people
Share our frameworks
The website compliance

[2021-07-21 22:23] ExperimentsInHonesty commented on #1995
Hi UI/UX community of practice leads, please add in your GitHub handle, Slack Member ID so we can update the community of practice page on the website:
Ryan Curtis
Felicia Swafford
Kevin Wang
Tan Zhou

[2021-07-21 22:24] ExperimentsInHonesty commented on #1995
Also, please remove Danielle so that new members don't reach out to her on slack.

[2021-07-21 22:36] rcurtis2 commented on #1995
Github handle: rcurtis2
Slack Member ID: U01UPE4RNHZ

[2021-07-21 22:51] ExperimentsInHonesty commented on #1996
### Template Draft

---

---

### Overview
As a Community of Practice Co-Lead, I need my CoP's details to be up to date on the HackforLA website.

### Action Items for requestor
   - [ ] Please paste this checklist to a comment below and then check off everything that is **ok the way that it is**
[code]
   - [ ] If you have someone to remove please write that below the checklist you paste in your

[2021-07-21 23:33] daniellex0 commented on #1995
FYI @ExperimentsInHonesty you already added their information here : https://github.com/hackforla/website/issues/1987

(It's in the prioritized backlog for devs to take on)

[2021-07-22 03:46] #1583 closed, assigned to jpandh

[2021-07-22 04:14] celinevalentine commented on #1498
Start working on it tonight, ETA by Sunday, 25th.

[2021-07-22 04:18] celinevalentine commented on #1498
Does it matter if each of the three are placed exactly like in Figma?

[2021-07-22 18:21] daniellex0 opened #1998 "Test Issue"
### Overview
dsfdsf

### Action Items
- [ ] sdfds

### Resources/Instructions
[dfdsg](www.hi.com)

[2021-07-22 18:25] daniellex0 commented on #1998
This was a test

[2021-07-22 18:25] #1998 closed

[2021-07-22 23:01] #577 closed, assigned to daniellex0

[2021-07-22 23:01] #1416 closed, assigned to daniellex0

[2021-07-22 23:17] daniellex0 opened #2000 "Add all website page links to footer"
### Dependency
Issue #1969

### Overview
We need to add all of the HfLA website's page links to the footer to help improve user navigation.

### Action Items

Design
- [ ] Compile links to all of the HfLA website pages
- [ ] Research footer examples with links on other websites
- [ ] Duplicate current footer design in Figma and ideate new version with page links
- [ ] Show a few new options for fo

[2021-07-23 02:42] alexeysergeev-cm commented on #1710
**Update**, PR #1986

Created GitHub Action that removes inactive contributors from the `website-write` team.
The code does filtering only for `website repository` and `website-write` team. So if a contributor is on the `website-write` team and has not been active for more than 30 days, the contributor will be removed from the team.

The contributor is active if they committed code, created/assign

[2021-07-23 04:46] Aveline-art commented on #1956
* Progress: Eureka! Managed retrieve the issues from 'In Progress' via v3API! Oh joy! The issue now is that the many api calls will get expensive, whereas v4 will suffice with only one call. For now, v3 will be used as the more familiar REST API. Since I am able to retrieve from 'In Progress', I can assume that all issues have an assignee!
* Blockers: The API (at least the Timeline API) does not s

[2021-07-23 15:58] ExperimentsInHonesty commented on #1833
@chelseybeck @averdin2 @jbubar We can use Google Data Studio to create reports. We already use it to provide an onboarding dashboard which we were able to put into an iframe and display on a website: https://hackforla.org/dashboard.  Before we create any reports, we should send a ux person from hfla team to the CoP leads to find out what information they need access to.

p.s. here is a list of vid

[2021-07-23 22:18] #1551 closed, assigned to erikaBell

[2021-07-23 23:55] averdin2 commented on #1958
#### Notes for changes in _events.scss
- On line 5, there was code that said `margin-top: 52px` but then there was another line lower `margin: 0` which overwrites that style. I changed line 5 to say `margin: 52px 0 0 0;` with the intended changes included. In the pictures below, I show what it looked like originally vs my changes. I personally don't know what the website should look like, should t

[2021-07-24 00:46] abenipa3 commented on #1515
Progress: Changed css classes and link's font colors to reflect HfLA's Design System.
![image](https://user-images.githubusercontent.com/38295612/126852641-3d4d4fc1-45a3-4265-aff2-6989bb6986e4.png)

Blocker: Figuring out how to resolve responsiveness bug as seen below. Last week, we thought we found a solution by adding a margin-left on the sticky nav, but it doesn't apply when scrolling down the

[2021-07-24 00:50] averdin2 commented on #1958
#### Notes for changes in _home.scss
- On line 428, there was originally a line `flex-basis: 100%`. This caused linting issues with a line underneath it that said `flex: 1`. The flex basis line wasn't adding any styles, and the `flex: 1` line makes the page look a lot better (this is what I kept). See the screenshots below for with only flex basis set, none set, and flex: 1 set.
<details>
<summary

[2021-07-25 00:33] kristine-eudey commented on #1697
Issue completed, Figma file has been updated and now reflects current live Events page on mobile.

[Events Page](https://www.hackforla.org/events/)
[Figma file - Events Page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=12942%3A95065)

[2021-07-25 07:18] celinevalentine commented on #1498
<img width="891" alt="Screen Shot 2021-07-25 at 12 17 05 AM" src="https://user-images.githubusercontent.com/52294389/126891065-d306eafd-49c9-46f7-be67-101296569079.png">

Is this alignment good enough?

[2021-07-25 15:11] abryant35 opened #2007 "Update Project Profile: Access the Data"
### Overview
As a product manager of Access the Data I want my project's details to be up to date on the HackforLA website

### Project card
_https://www.hackforla.org/projects/access-the-data

### Action Items

- [x] Assess the Data Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      -

[2021-07-25 17:06] ExperimentsInHonesty commented on #1983
@Sihemgourou please add this to our agenda

[2021-07-25 17:14] ExperimentsInHonesty commented on #1940
new label has been created.

[2021-07-25 18:00] JasonUranta opened #2008 "Add Directions for a Shortcut to download Git to the CONTRIBUTING.md file"
### Overview
The current directions for downloading Git on the CONTRIBUTING.md file don't work for contributors with limited hard drive space (name any other issues that require this option).

### Action Items
- [x] Look into links in resources
- [x] Decide which link is is easier to use for people new to Hack for LA.
- [x] Create step by step directions for using the chosen link or both if you de

[2021-07-25 18:01] ExperimentsInHonesty commented on #19
We will be picking this issue back up when dependency clears.
Next steps will be UX surveying which browsers Gov are using

[2021-07-25 18:08] ExperimentsInHonesty commented on #1833
@kristine-eudey will make a ux issue re the above https://github.com/hackforla/website/issues/1833#issuecomment-885737547

[2021-07-25 18:14] Zak234 commented on #1445
Still working on the Github action. Experimenting with Javascript and Graph Ql. Available basically anytime. ETA, hopefully one week.

[2021-07-25 18:24] christina245 commented on #656
@minar68 is reviewing the research plan and getting signoff from @ExperimentsInHonesty

[2021-07-25 18:26] ExperimentsInHonesty commented on #1710
plan to address new people not being kept on list
1. Everyone should add their availability and eta to an issue comment when assigned or self assigned
2. All new team members should get a prework issue that is them reading the contributing doc and setting up dev environment.

Plan to address legacy/advisory people we want to keep on the list
1. Elevate them to maintainer team

Bonnie added maintai

[2021-07-25 19:34] Jain8888 commented on #1944
This is first issue. I am still setting up my dev-environment. I am working on reading the 'how to contribute' document and will try to resolve this issue by next Sunday

[2021-07-25 19:45] Aveline-art opened #2009 "Audit Website for Javascript Code"
### Overview
As a website developer, the JS code is all over the place, so maintaining this will only grow into a bigger and bigger problem. We need a harder standard on how we house our JS code.

### Action Items

- [x] Find all instances of JS code.
- [x] Document it in a spreadsheet, with links, a few bits on how the code function, what pages the code is related to, and other findings.
- [x] Di

[2021-07-25 20:04] ExperimentsInHonesty commented on #1733
@kristine-eudey will reach out to @daniellex0 about the changes we discussed during the last meeting. If she could put those here on the issue so that either the currently assigned people or new people can finish

[2021-07-25 20:15] ExperimentsInHonesty commented on #1879
@Sihemgourou you and I need to make this into an issue for development and stick in the icebox with a dependency of another issue (which also needs to be made) which is making the mobile view of the same page.

[2021-07-25 20:20] ExperimentsInHonesty commented on #1993
I have removed @anonymousanemone from this issue, since she is on vacation.  Sophia if you have done anything on this issue, please update it with your progress, so that the next person can pickup where you left off.

[2021-07-25 20:32] Aveline-art commented on #1956
As discussed during the meeting July 25 2021, this issue will be passed onto the UX team. Several key points need to be answered before this issue (and other related issues, see below) can proceed:

- [ ] The main question is: what is the flow of the team's weekly update reports? How should the labels be used ("Status: Updated" and "To Update !" and maybe others) to support that flow?
- [ ] When s

[2021-07-25 20:40] Aveline-art commented on #1976
Moved back into the ice box per [this comment ](https://github.com/hackforla/website/issues/1956#issuecomment-886254096)

[2021-07-25 20:41] Aveline-art commented on #1977
@mgodoy2023 Hi! I have decided that this issue needs to be put on hold based on things that have happened during today's meeting. I will unassign you, but feel free to pick up a different issue. Below, you will find a link to details if you would like to know more. Let me know if you would like to speak with me.

[2021-07-25 20:42] Aveline-art commented on #1977
Moved back into the ice box per [this comment ](https://github.com/hackforla/website/issues/1956#issuecomment-886254096)

[2021-07-25 20:51] ExperimentsInHonesty commented on #192
Leader is responsive to Donor/Advisor volunteer/Partners. so no leader persona needed

[2021-07-25 20:51] #192 closed, assigned to nobody

[2021-07-25 21:16] ExperimentsInHonesty commented on #19
Contact the city (ITA) to find out what is the oldest browser their currently supporting for web browsing.  And if they have some very old ones, then finding out what is the most prevalent, meaning they might be at Microsoft version X but have a few installations of X-2

[2021-07-25 22:01] adam-abundis opened #2010 "HfLA: DEV TEAM Meeting Agenda Tuesday📝"
### Overview
This issue tracks the agenda for the HFLA website team and weekly roll call.

### Weekly Action Items

- [ ] Copy and paste the template below in the Weekly Agenda Markdown section
- [ ] Replace "MONTH DD, YYYY" with the date
  - [ ] At the top of the agenda, where it says "Agenda for MONTH DD, YYYY"
  - [ ] At the bottom of the agenda, where it says, "Post-meeting notes MONTH DD, YYY

[2021-07-25 22:05] adam-abundis commented on #2010
### Agenda for July 20, 2021

#### Announcements (10 minutes)
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Will open to the floor for any announcements
- [ ] @abuna1985 will need a someone to take notes
    - Note issues that need to be made and who will make them
- [ ] @abuna1985 will give an overview of #1850

#### Stand up update (20 minutes)
- **Returning members (1-3 minutes)**
1. What h

[2021-07-25 22:25] adam-abundis commented on #2010
### Agenda for July 27, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [x] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you fin

[2021-07-26 02:56] #525 closed, assigned to nobody

[2021-07-26 06:29] celinevalentine commented on #1498
accidentally pushed to the wrong branch, now looking for solutions to fix this git issue before I submit PR

[2021-07-26 06:39] celinevalentine commented on #1916
What specific things do you want me to review?

[2021-07-26 13:46] adam-abundis commented on #1904
## HTML
- [30 Days of HTML - Jen Kramer](https://jen4web.substack.com/about)

## CSS
- [Learn CSS Layout](https://learnlayout.com/)
- [Learn CSS Positioning - Ahmad Shadeed](https://ishadeed.com/article/learn-css-positioning/)
- [Josh Comeau CSS Articles](https://www.joshwcomeau.com/tutorials/css/)
- [Flexbox30 - Learn Flexbox with 30 Code Tidbits](https://www.samanthaming.com/flexbox30/)
- [Flexb

[2021-07-26 15:21] adam-abundis commented on #1498
@celinevalentine I added some lines and boxes (they are approximate) within the Figma design to show you the alignment. Ideally, you use the left/right margin on the whole section to achieve this. The boxes are more to show the space between each element. If have any more questions, feel free to reach out to me.

<details>
  <summary>Click here to see the figma design with my edits</summary>

![Sc

[2021-07-26 18:31] averdin2 commented on #1958
#### Notes for changes in _project-page.scss
- On line 54, I commented out an empty styles block.
- On line 157, I removed a duplicate semicolon.
- On lines 184, 207, and 348, there were two text-align properties in the css class. In each instance, `text-align: left` would have been the style attribute displayed, so I changed each line to be `text-align: left` and removed the duplicate text-align

[2021-07-26 18:42] averdin2 commented on #1958
#### Notes for changes in _toolkit.scss
- Duplicate classes on lines 146 and 263. They are both enacting styles on the height and width of particular images on the Toolkit page. Currently, the enacted styles are height and width at 14.5rem. The duplicate has a height and width at 17.5rem. I went with the one that is currently being used (changing styles on lines 147 and 148, and removed styles on

[2021-07-26 23:58] ahoang94 commented on #1845
I should have this done by the end of this week!

[2021-07-27 03:59] Abel-Zambrano commented on #1818
1. 70% complete
2. Time / Availablity
3. Weekdays after 5 pm PST
4. 7/28/2021

[2021-07-27 13:08] lorenzejay commented on #1984
I am on the specific branch with the link you provided and cannot replicate the issue. Can I get another dev to double check?

<img width="458" alt="Screen Shot 2021-07-27 at 6 05 58 AM" src="https://user-images.githubusercontent.com/63378463/127158697-f678bbdb-bfbe-45b4-889b-c4f4ced9b16c.png">
<img width="498" alt="Screen Shot 2021-07-27 at 6 06 06 AM" src="https://user-images.githubusercontent.c

[2021-07-27 16:49] kristine-eudey commented on #1823
Hi @irisxie, thanks for taking on this issue! When you first assign yourself an issue please comment what your estimated availability and ETA is for completing it, and provide weekly status updates in the format below. And please always feel free to reach out by mentioning me (or anyone else relevant to the issue) in a comment.
- Progress:
- Blockers:
- Availability:
- ETA:

[2021-07-27 23:12] Aveline-art opened #2013 "GitHub Actions: Adding missing labels to issues lacking the minimum 3"
### Overview
As a developer on the team, I need to know exactly what an issue entails so that I can quickly filter for one that is appropriate for my role and skill level.

### Scope

Our team currently requires every issue to have at minimum 3 labels: a size label, a feature (**or** p-feature) label, and a role label. This GHA will alert the team member, who created the issue, that at least one o

[2021-07-27 23:37] abenipa3 opened #2014 "Research How to Host a Replica of Our Website"
### Overview
We would like to invite designers to be more involved in reviewing pull requests but realized that it'll be a learning curve for some volunteers.

Our team came up with a possible solution to build and run a replica of our website so that everyone can easily make changes to the replica without directly making changes to our actual website/our repo.

### Action Items
- [x] Research to

[2021-07-28 04:17] Aveline-art commented on #1891
### Agenda for July 29, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Discuss with the team on how to best arrange the JS code in our repository so that it will be cleaner, and much more maintainable.
  - [x] [Link to audit spreadsheet](https://docs.google.com/spreadsheets/d/1jWVH-1QAgcaMd3BInWEW6Zaq-z9lN-C4qJ6I3mchfNs/edit?usp=sharing)
  - [x] Come up with a rollou

[2021-07-28 04:20] Aveline-art commented on #1891
### Post-meeting notes, July 29, 2021

<details open>
<summary>Click for notes</summary>
<br>

7/29/2021

**Review of JS code**

Spreadsheet of all the code locations for hfla site
https://docs.google.com/spreadsheets/d/1jWVH-1QAgcaMd3BInWEW6Zaq-z9lN-C4qJ6I3mchfNs/edit?skip_itp2_check=true&pli=1#gid=1481433092

**1) If we move the js code from html pages, where should we store it?**
- Move js code

[2021-07-28 09:07] abenipa3 commented on #1515
Using this space to make notes of what to do next before the new ETA (7/30/21):

Progress as of 7/27/21:
Responsiveness bug on page cards resolved!

Blocker:
Discovered another responsiveness bug for screens (769px — 1024px) as seen below.
![image](https://user-images.githubusercontent.com/38295612/127295445-9ff0d264-ad23-4205-9324-c01434b38031.png)

Need to fix the alignment for mobile devices as

[2021-07-28 14:19] kristine-eudey opened #2015 "Homepage Research - Donors / Partners / Advisors"
### Dependency
- [ ] #2706
- [ ] #2704
- [x] #2589
- [x] #2705

### Overview
We need to create personas for our three target user groups (volunteers, donors / partners, and advisors) in order to ensure the design of the site accounts for each of their goals and concerns, and to support alignment and communication across the team.

### Action Items
UX / Research
- [x] Compile existing volunteer res

[2021-07-28 14:25] kristine-eudey commented on #1733
@daniellex0 can you please share new sitemap image for development if it's ready?

[2021-07-28 14:57] kristine-eudey opened #2016 "Create mobile version of Program Areas / Citizen Engagement page"
### Overview
We need to add a mobile version of the **Program Areas > Citizen Engagement** page in Figma, because there is currently no mobile version (only desktop).

### Action Items
- [x] Create the mobile version of the Program Areas > Citizen Engagement page in Figma.
    - [x] Use the standard mobile width for our Figma designs (375px wide), and ensure it fits the design system/uses design s

[2021-07-28 17:15] HackforLABot opened #2017 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1tj6eQlVLFgmskoXouVt87POxYVwR1yWT2vOSQEPyDtg/edit?resourcekey#gid=1706218917)

[2021-07-28 19:35] Aveline-art commented on #1974
#### Additional resources:
[Events that trigger workflows](https://docs.github.com/en/actions/reference/events-that-trigger-workflows)
[Workflow syntax for GitHub Actions](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions)
[actions/github-script](https://github.com/actions/github-script)
[GitHub RESTAPI](https://docs.github.com/en/rest)
[GitHub GraphQL](https://docs.g

[2021-07-29 19:26] kristine-eudey commented on #1733
Design looks great! Design portion is finished. Unassigning @SaashaG @Rosalyn-broddie

[2021-07-29 19:38] kristine-eudey commented on #1733
New sitemap image:
![Sitemap -07142021](https://user-images.githubusercontent.com/16949503/127555208-82fd28b0-59dd-47d1-87b8-7350b0c3d43a.jpeg)

[2021-07-29 19:44] kristine-eudey opened #2020 "Add correct text to Program Areas page"
### Overview
We need to replace the current text in the [Program Areas page](https://www.hackforla.org/program-areas) with the correct copy, in both Figma and the website version, so that this information can be accurate and consistent with other resources.
### Action Items
Design
- [x] View the accurate copy to add to the Program Areas page in the [What is Hack for LA?](https://docs.google.com/pr

[2021-07-29 19:50] kristine-eudey opened #2021 "Adjust and standardize "Share Your Wins" form page"
### Dependency
- [ ] Until we get the research drive and wiki cleaned up we don't know if the research happened or not.
- [ ] We need to determine if users prefer a single page form or they prefer the progressive version.

### Overview
We need to adjust and standardize the [Share Your Wins](https://www.hackforla.org/share-your-wins/) form pages (not connected to the site yet) so that they have mor

[2021-07-29 22:09] #1561 closed, assigned to blakes24

[2021-07-30 03:49] #1874 closed, assigned to JackRichman

[2021-07-30 18:56] kristine-eudey commented on #1997
ETA - Sunday 8/1

[2021-07-30 18:59] Aveline-art commented on #2009
* Progress: Started discussion with the team on some of the items. Will create issues on Sunday, then continue with discussion the remaining items.
* Blockers: None so far.
* Availability: Random time here and there.
* ETA: I am thinking approximately 2 weeks, if not earlier.

[2021-07-30 22:21] janieche commented on #1911
Progress: Assigned, next steps are to look for new icons and replace in Figma
Blockers: n/a
Availability: 7/30 (evening), 7/31 (morning, early afternoon), Tuesday (evening)
ETA: Wed 8/4

[2021-07-31 02:23] ExperimentsInHonesty opened #2023 "Removing all the images that are no longer in the code."
### Overview
Currently, we have some images in the assets folder that are not being used anywhere on the site.

### Action Items
- [x] Go through the assets/images folder and check if there are any files that are not findable through searching
- [x] Remove files

### Resources/Instructions
This is the image folder:
https://github.com/hackforla/website/tree/gh-pages/assets/images

[2021-07-31 02:58] Zhu-Joseph commented on #1944
1. Progress: Started getting more familiar with code, structure, and website processes.
2. Blockers: None so far.
3. Availability: Normal working hours.
4. ETA: I think I should get it done by the end of Tuesday.

[2021-07-31 03:25] ExperimentsInHonesty opened #2025 "Contributing.md: Add docker rebuilds info"
### Dependency
- #1443

### Overview
We need to add some text to the contributing about slowness with docker to help those that experience it.

### Action Items
- [ ] Define what needs to be in this section
  - [x] Jason is going to add info about a smaller version of Git
  - [ ] Link and description of who should take on this issue in icebox about docker rebuilds https://github.com/hackforla/webs

[2021-07-31 03:30] ExperimentsInHonesty commented on #2014
@Aveline-art @alyssabenipayo please review closed issues looking for previous things we have tried and then reach out to CNK

[2021-07-31 03:36] ExperimentsInHonesty commented on #2014
@alyssabenipayo I tried to find any issues she was on related to this and could not.  Doesn't mean there was not one, but you could just reach out to her and she will tell you what we have tried. her github is cnk

[2021-07-31 03:39] abenipa3 commented on #2014
Understood! I'll reach out to her then. Thanks, Bonnie!

[2021-07-31 03:47] ExperimentsInHonesty commented on #1534
Next steps:

- [ ] reorg the wiki
- [ ] and then make a new issue to have the wiki converted into mkdocs

[2021-07-31 04:08] ExperimentsInHonesty commented on #1216
This issue got resolved during update of footer on another issue.  Verified by @Aveline-art

[2021-07-31 04:08] #1216 closed, assigned to nobody

[2021-07-31 04:19] ExperimentsInHonesty commented on #1543
We don't want to send emails but slack messages would be good.

[2021-07-31 06:09] jbubar opened #2026 "Update comment on util.js file"
### Overview
We need clear comments on code that is opaque. Update the comment on this util.js file so that it is clear what it does. https://github.com/hackforla/website/blob/89e49079d7ab06204affd21cc20bcea4ed03c516/assets/js/utils.js#L2

### Action Items
- [ ] change the words on line 2 of /assets/js/utils.js as shown below
[code]
- [ ] run the site locally to make sure nothing is broken
- [ ] p

[2021-07-31 16:21] Aveline-art opened #2027 "HfLA: DEV TEAM Meeting Agenda Sunday 🧣"
### Overview
This issue tracks the agenda for the HFLA website team and weekly roll call.

### Weekly Action Items

- [ ] Designate a note taker who will follow up on issue creation
- [ ] Make announcements
- [ ] Monthly Workflow Demos
  - [ ] 1st Sunday: No demo because all leads meeting
  - [ ] 2nd Sunday: Progress Report creation
  - [ ] 3rd Sunday: Pull Request review demo
  - [ ] 4th Sunday:

[2021-07-31 16:32] Aveline-art commented on #2027
### Agenda for August 01, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Introduce the roadmap for the next couple of weeks
  - [x] Javascript audit, and new directories
  - [x] Reorganizing our workflow with the new procedures developed in the past 3 weeks
  - [ ] Talk a bit about the homepage redesign
- [ ] Discuss new GHA trial
  - [ ] Do a sample progress update

[2021-07-31 17:25] anonymousanemone commented on #1908
I've centered the image for "below tablet" which is when the screen is under 768px, but should I also center the image for when it is "bigger than tablet" but less than desktop? Here's how it looks:
Below tablet:
![image](https://user-images.githubusercontent.com/86015625/127528782-aa628e6b-46b5-4723-8e98-7b5f97757064.png)
Over tablet:
![image](https://user-images.githubusercontent.com/86015625/12

[2021-07-31 21:00] aalieu commented on #1619
1. Nearly complete. Just working on getting icons right with Ashley and some CSS corrections.
2. No hard blockers. I know what I need to do to complete.
3. Mostly full availability.
4. Will submit PR before Tuesday's meeting.

[2021-07-31 21:29] abenipa3 commented on #1515
Progress:

- Fixed alignment for page cards on mobile and desktop.
- The only concern is that the parallelogram in the hero section.
- Other than that, this prototype is ready to review.

Blockers: None. Would like to gather feedback from our dev team before consulting with product and design.

Availability: Open

ETA: ~Tonight at 11:59pm (Will update more later.)~ Pending.

Preview: https://alyss

[2021-07-31 22:10] abenipa3 commented on #2014
@cnk  We're researching ways to build and run a replica of our website so that more volunteers would be more involved in pull request reviews, especially those who have little to no experience with Github.

So far I reviewed closed issues to see what we've tried and if there are other free and open-source automation servers apart from Travis-CI, Jenkins, and rendor.com, but not sure if I'm looking

[2021-08-01 05:03] ahoang94 commented on #1823
This issue is about halfway done and will be complete within the week!

[2021-08-01 05:45] cnk commented on #2014
We haven't tried anything towards this goal.

Looking at Render, we might be able to create a GitHub Action that builds the site and pushes it to Render (or Netlify, or similar). I suspect the hard part for that would be the permissions to push the built files to a hosting service.

Another project I work with uses Squash for just this sort of thing so I would probably start there: https://www.squ

[2021-08-01 15:27] kristine-eudey commented on #1993
@anonymousanemone Please provide update:

- Progress
- Blockers
- Availability
- ETA

[2021-08-01 15:29] kristine-eudey commented on #1979
@ktlevesque19 Please provide an update on this issue:

- Progress
- Blockers
- Availability
- ETA

[2021-08-01 15:30] kristine-eudey commented on #1969
@SaashaG Please provide an update on this issue:

- Progress
- Blockers
- Availability
- ETA

[2021-08-01 15:30] #1479 closed, assigned to macho-catt

[2021-08-01 15:34] #1943 closed, assigned to blakes24

[2021-08-01 16:26] kristine-eudey commented on #1997
Please remove "Looking" from filter bar as shown in this [Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-febsite?node-id=13299%3A90788) file.

**Before:**
<img width="646" alt="issue #1997 before" src="https://user-images.githubusercontent.com/16949503/127778156-77976871-5440-4030-9d0d-ef785b3f350f.png">

**After:**
<img width="590" alt="ussue #1997 after" src="https://user-images.g

[2021-08-01 17:04] anonymousanemone commented on #1993
Progress: Playing with auto-layout
Blockers: None
Availability: Currently occupied with developer issue and school things
ETA: Tuesday

[2021-08-01 17:11] Sihemgourou commented on #1973
Hello @blakes24

Please put this issue in the in-progress column since your are actively working on it :)

[2021-08-01 17:16] ExperimentsInHonesty commented on #1901
Discuss issue where we have been fixing class issues in specific files, and we might need to be fixing them in a higher level so that all pages can use them.

Example
PR #2005 / Issue #1919
- https://github.com/hackforla/website/pull/2005/files
- https://github.com/hackforla/website/blob/gh-pages/_sass/components/_program-areas.scss

Issue #1908  - I don't know

[2021-08-01 17:22] ExperimentsInHonesty commented on #1891
### Agenda for August 05, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Where are we in terms of the JS [audit](https://docs.google.com/spreadsheets/d/1jWVH-1QAgcaMd3BInWEW6Zaq-z9lN-C4qJ6I3mchfNs/edit?usp=sharing)? How should we deal with the items that we still need to discuss?
- [x] Do we want to do quick edits while we wait for a component to be standardized? #14

[2021-08-01 17:25] ExperimentsInHonesty commented on #1347
The review could be done now and just ignore the alt text flags.

[2021-08-01 17:33] ExperimentsInHonesty commented on #1347
We are going to make one issue using this template

https://github.com/hackforla/.github/issues/new?assignees=&labels=&template=wave-chrome-extension--accessibility-review.md&title=Wave+Chrome+Extension%3A+Accessibility+review

Ask QiQi how often we should do it

Checking the board to see if the feasibility is good (meaning there are either not a lot of outstanding issues or they are all of a spec

[2021-08-01 17:44] adam-abundis commented on #1347
@GLRJr brought up a good point for using an accessibility linter. We could use a [vs code extension from deque systems like this](https://marketplace.visualstudio.com/items?itemName=deque-systems.vscode-axe-linter)

[2021-08-01 17:55] abenipa3 commented on #1515
Just found out how it really looks like on mobile.

<details><summary>Current Mobile Preview</summary>

![image](https://user-images.githubusercontent.com/38295612/127780722-8c2ebbb4-86c4-4f08-9a9a-41eeef51d124.png)

</details>

I manually coded the parallelogram. I think a quick solution to this is downloading the svg of the hero image with the shape from our Figma and implement it on our prototy

[2021-08-01 18:04] ktlevesque19 commented on #1979
Progress: Not started
Blockers: None at this time!
Availability: I'll be tackling this early this week in the evenings
ETA: I expect to be done by this Thursday 8/5

[2021-08-01 18:09] abenipa3 commented on #2014
Thank you for your message, Cynthia! I'll research Squash to see how we could work towards the goal.

[2021-08-01 18:21] ExperimentsInHonesty commented on #1979
@ktlevesque19 Did you mean to say 6/6?

[2021-08-01 18:29] ktlevesque19 commented on #1979
Good catch, I meant this week, just updated my comment with the accurate date. Thanks!

[2021-08-01 18:36] jbubar opened #2029 "disappear the annoying error message in wins-feature-1 docker"
### Overview
This does not actually break anything.. it is just an annoying error.

<details>
    <summary>See here</summary>

![Screen Shot 2021-08-01 at 11 28 54 AM](https://user-images.githubusercontent.com/53061723/127781545-6e03499d-3854-4fbd-a386-e794afeaf99d.png)

</details>

### Action Items
- [x] figure out how to make the error go away
- [x] remove the error

### Resources/Instructions
-

[2021-08-01 18:39] jbubar commented on #2029
IMPORTANT!!
This issue is working off of a feature branch!
Please follow this wiki before creating a new branch!
[how to work off a feature branch](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-branch)

[2021-08-01 18:48] Sihemgourou commented on #1797
Meeting PM-Design

- Reprioritize the design issues
-

[2021-08-01 19:02] Aveline-art commented on #2027
### Post-meeting notes, August 01, 2021

<details>
<summary>Click for notes</summary>
<br>

- Need to write JavaScript in js folders and not in HTML files
- Created elements folder
- Review PR with a demonstration
- Discussed adding instructions when editing PR files on GitHub vs local
- Assigned reviewers on open PR

<br>
</details>

[2021-08-01 20:11] ExperimentsInHonesty commented on #1833
@averdin2
- [ ] Define platforms
- [ ] Make an issue for each platform
- [ ] Add notes/recordings etc.
- [ ] Define MVP for each inside of its issue and definition is complete add it to a MVP requirements issue

[2021-08-01 20:14] ExperimentsInHonesty commented on #1833
Move or otherwise make tables@hackforla.org to be the owner of the tables

[2021-08-01 23:39] Aveline-art opened #2032 "GitHub Actions: Improvements to 'Automate In Progress Issue Updates: Add Update Label'"
### Dependency
- ~~#1977~~
- #2634

### Overview
As a developer, we need to ensure that the GHA involving the 'To Update !' label creates clear comments and directions for the team to follow.

### Action Items

- [ ] Understand the code from the below directories.
- [ ] [JS Edits](https://github.com/hackforla/website/blob/gh-pages/github-actions/add-update-label-weekly/add-label.js)
  - [ ] ~~Add

[2021-08-02 00:31] ExperimentsInHonesty commented on #1033
The link to the wiki is correct, but the team has no content there now.  So please comment it out for now.

[2021-08-02 00:50] ExperimentsInHonesty commented on #1343
We recently changed from "Project Leadership" to "Current Project Team" on the project detail pages.  Let's have a discussion on if we want to change that for projects that have higher churn and how we would that.

[2021-08-02 00:56] ExperimentsInHonesty commented on #1273
- This issue has been closed and will be addressed on issue #1443

[2021-08-02 00:56] #1273 closed, assigned to akibrhast

[2021-08-02 01:28] Aveline-art commented on #1997
Hi @vickiychung . Please do not remove your assignment from an issue unless you are no longer working on it. If you have a linked pull request still open, the issue is still assigned to you until it is merged. This helps us sort out the issues when we maintain the project board. Thank you!

[2021-08-02 01:29] ExperimentsInHonesty commented on #1845
@ahoang94 did we accidentally skip this issue during the meeting?  Meaning do you need feedback on this?

[2021-08-02 01:31] Sihemgourou commented on #1845
We need to review this issue with the devs

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>
________________________________
De : Bonnie Wolfe ***@***.***>
Envoyé : Monday, August 2, 2021 3:29:57 AM
À : hackforla/website ***@***.***>
Cc : Sihem GOUROU ***@***.***>; Author ***@***.***>
Objet : Re: [hackforla/website] Mobile Responsiveness on wins page (#1845)

@ahoang94<https://github.com/ahoan

[2021-08-02 05:41] Aveline-art commented on #2027
### Agenda for August 08, 2021

- [ ] Designate a note taker who will follow up on issue creation
- [x] Announce new milestone feature, and a few comments on our current priority.
- [x] Review the dev meeting column
- [x] Look through [these ](https://www.hackforla.org/pages/events/left-col-content.html)[pages](https://www.hackforla.org/assets/js/about.js)
  - [x] What is going on with them?
  - [

[2021-08-02 16:21] ExperimentsInHonesty commented on #1980
@Abel-Zambrano  Is it possible to add more information to this issue?  https://github.com/hackforla/website/issues/1980  For instance, where is the folder that you are referencing.  what file contains the token, etc.  If the reason you are not putting the information in the issue is because you think its a security risk to put it in the issue.  Just put the content into the 1 password vault.  If y

[2021-08-02 16:28] ExperimentsInHonesty opened #2033 "ER: additions to the "Hack for LA's GitHub Actions" wiki guide"
### Dependency
- #3635
- #3636

### Overview
We need to add new content to the "Hack for LA's GitHub Actions" wiki guide, to provide background and GitHub links pertaining to various topics that will be useful to developers working on GHA issues.

### Action Items
We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we

[2021-08-02 16:33] ExperimentsInHonesty commented on #2033
I anticipate that someone from the @hackforla/website-merge team will make these issues.

[2021-08-02 16:37] ExperimentsInHonesty opened #2034 "Zoom links on wiki are out of date"
### Overview
We need the wiki to have up to date links so that people who are trying to join the meetings don't miss meeting

### Action Items
- [x] UI/UX
  - [x] Provide information for your meeting times in a comment below
- [x] Front/Back
   - [x] check Tuesday time and link, adding details below about changes
   - [x] provide info for Thursday backend meeting (in comment below)
- [x] Product

[2021-08-02 17:35] SaashaG commented on #1969
Progress: Starting the comp analysis
Blockers: n/a
Availability: varied
ETA:Update at next design meeting

[2021-08-02 18:12] arghmatey commented on #1927
Progress: Front end basics complete for page. Backend architecture is in progress.
Blockers: Became unexpectedly busy this week.
Availability: Freeing up 7/31 and the week of 8/2
ETA: For completion - unsure. For good progress - early next week.

Edit: This comment was meant to be left on 7/30, but internet was constantly being dropped that day and did not post.

[2021-08-02 18:49] ahoang94 commented on #1845
@ExperimentsInHonesty This was my first time working on an issue, and I was under the assumption that I was suppose to move its status to "In Review" after I completed my part. Apologies if this was incorrect!

[2021-08-02 20:14] Aveline-art commented on #1347
@qiqicodes Can you talk to us about how often an accessibility audit should be made, in your opinion? So far, we plan to perform an audit after the current slew of accessibility issues are completed. Afterwards, should an audit be performed at a regular interval? Let me know, because if so, we can create a GHA to create an automated issue.

[2021-08-02 20:25] Sihemgourou commented on #1797
Meeting 21/08/02

Participants : @ExperimentsInHonesty @Sihemgourou

Things to discuss:
- [Marketing objectives ](https://github.com/hackforla/marketing/issues/21)

Things discussed:
- We need to check the done column to congratulate people and to do QA testing
- Github repo =>
  - New issue approval : Product will check labels on all issues, and validate design issues. Ava will review dev issues.

[2021-08-02 20:40] Sihemgourou commented on #1865
1. Progress : It doesn't seems that @daniellex0 checked all the links
2. Blockers : none
3. Availability : full
4. ETA : August 15
Thanks :)

[2021-08-02 21:17] #632 closed, assigned to Sihemgourou

[2021-08-02 22:00] Basu3040 commented on #2015
Finished interview questions for the donors/partners/advisors. The document is for the review!

[2021-08-02 22:06] ExperimentsInHonesty opened #2037 "Create issues for new project impact content to be added to project md files"
### Overview
We need to add information to each project md file so that we can display it on the new Impact format

### Action Items
- [x] Identify all the projects from the slide deck and list them below by making new check boxes
   - [x] check of the boxes for
     - [x] has wording
     - [x] has sdg in sdg check 1
   - [x] Identify if its the correct sdg in sdg check 2
- [ ] Bonnie will identi

[2021-08-02 22:14] ExperimentsInHonesty commented on #759
@kristine-eudey will talk to @daniellex0  about what to do with this issue,
Is this a front end issue now?
Does this still need to be done?

[2021-08-03 03:06] #1997 closed, assigned to vickiychung

[2021-08-03 03:23] Aveline-art commented on #1927
@arghmatey You probably already know this, but I want to give you a heads up: the copy button is already a component on the website, and we are planning to make a issue to componentize it. You can feel free to put a placeholder for your template!

On that note, Bonnie also mentioned that, for MVP, there is no need to worry too much about content or styles as long as the overall object placement of

[2021-08-03 04:55] #1973 closed, assigned to blakes24

[2021-08-03 07:39] #1919 closed, assigned to JasonUranta

[2021-08-03 14:52] #1710 closed, assigned to alexeysergeev-cm

[2021-08-03 16:40] adam-abundis commented on #2010
### Agenda for August 3, 2021

- [x] Designate a note-taker who will follow up on issue creation
- [x] Don't forget to sign in to [vrms.io](https://vrms.io)
- [x] Stand up update (20 minutes)

**Standup questions for returning members: (1-3 minutes)**
1. What have you completed since the last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What are the blockers that stopped you fi

[2021-08-03 17:01] ExperimentsInHonesty commented on #2008
@JasonUranta I reworded the above.  Please add any other reasons to the overview.

[2021-08-03 17:12] daniellex0 commented on #1865
@Sihemgourou Sorry about this, I'm just finishing up some things I didn't get to wrap up before I left as it's been a crazy couple weeks- I will work with @kristine-eudey this week in making new issues for these remaining icon credits

[2021-08-03 17:59] #1942 closed, assigned to Sihemgourou

[2021-08-03 18:00] Sihemgourou commented on #1865
Perfect thank you ! I will assign you and @kristine-eudey to this issue then :)

[2021-08-03 18:08] Sihemgourou opened #2040 "HFLA.org Roadmap"
### Overview
As a product manager, I need to create a roadmap each 6 months so that the website team work more efficiently.

### Action Items

Product

- [x] Create milestones from prioritization framework
- [x] Check milestones with Bonnie
- [x] Create milestones filters
- [x] Prioritize the prioritized backlog
- [x] Check filters and milestones with Bonnie
- [x] Prioritize all the issues in the

[2021-08-03 18:09] Sihemgourou commented on #2026
Hello @Aveline-art, who is assigned to this issue ? should it belong in the prioritized backlog

[2021-08-03 18:16] Sihemgourou commented on #1797
Meeting 21/08/03

Participants : @ExperimentsInHonesty @Sihemgourou @kristine-eudey @Basu3040

Things to discuss:
- [x] Priotize design issues

Things discussed:
- [long version Research plan for home page redesign ](https://docs.google.com/document/d/1ELtk7H_uubatggRcTO9imHzdheeiPWkDLs3KZepMwh0/edit), [shorter version for donors and partners ](https://docs.google.com/document/d/1ELtk7H_uubatggRcT

[2021-08-03 18:30] Sihemgourou opened #2041 "Donation Flow"

[2021-08-03 18:31] Sihemgourou opened #2042 "Get to know HFLA"

[2021-08-03 18:31] kristine-eudey opened #2043 "Update ‘Trophy’ Icon and Credit info"
### Overview
We need to replace the Trophy icon in the Wins section of the [About page](https://www.hackforla.org/about/#accomplishments) (under Accomplishments) because the credit link for it isn’t a direct link, and the original icon link can’t be tracked down.
### Action Items
- [x] Replace the Trophy icon in the Wins section of the [About page](https://www.hackforla.org/about/#accomplishments)

[2021-08-03 18:33] kristine-eudey opened #2044 "Update ‘Sustainability’ image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the ‘Sustainability’ image to the specific link, because it currently leads to a generic Noun Project link.
### Action Items
- [ ] Replace the generic Noun Project link for the image titled “Sustainability” in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://

[2021-08-03 18:34] kristine-eudey opened #2045 "Update ‘Delegate’ image credit image name, link, and artist"
### Overview
We need to correct the [image credit Name, Name Link, and Artist](https://www.hackforla.org/credits/) for the ‘Delegate’ image to the accurate information and specific link (it currently leads to a generic Noun Project link).
### Action Items
- [x] Replace the generic Noun Project link for the image titled “Delegate” in the [credits page](https://www.hackforla.org/credits/) with [this

[2021-08-03 18:34] Sihemgourou opened #2046 "Home page"

[2021-08-03 18:35] kristine-eudey opened #2047 "Update ‘Scale’ image credit link"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) for the ‘Scale’ image to the specific link, because it currently leads to a generic Noun Project link.
### Action Items
- [ ] Replace the generic Noun Project link for the image titled “Scale” in the [credits page](https://www.hackforla.org/credits/) with [this specific link](https://thenounproject.com

[2021-08-03 18:36] kristine-eudey opened #2048 "Update ‘Book’ image credit link and information"
### Overview
We need to correct the [image credit Name link](https://www.hackforla.org/credits/) and information for the ‘Book’ image to the specific link and accurate information, because it currently includes inaccurate credit info and leads to a generic Noun Project link.
### Action Items
- [x] Replace the generic Noun Project link for the image titled “Book” in the [credits page](https://www.h

[2021-08-03 18:37] Sihemgourou opened #2049 "Onboarding flow"

[2021-08-03 18:39] Sihemgourou opened #2050 "Mesurable impact"

[2021-08-03 18:40] Sihemgourou opened #2051 "Program areas grants"

[2021-08-03 18:42] Sihemgourou opened #2052 "Sharing Guides"

[2021-08-03 18:43] Sihemgourou opened #2053 "Attract seniors"

[2021-08-03 18:43] Sihemgourou opened #2054 "Compliance"

[2021-08-03 18:46] Sihemgourou opened #2055 "Team Workflow"

[2021-08-03 18:47] Sihemgourou opened #2056 "Data strategy"

[2021-08-03 18:56] kristine-eudey opened #2057 "Homepage Redesign"
### Overview
We need the new homepage design to be completed so that it can move to development

### Action Items

- [x] Bonnie and Kristine to have a working session to pick up from previous design work and come up with a design solution that will be moved forward to development.
- [x] Low Fidelity Design
- [x] Mid Fidelity Design
- [x] High Fidelity Design
- [x] Final content in place:
   - [x]

[2021-08-03 19:00] kristine-eudey commented on #2057
I will complete low-fidelity design by Thursday 8/5, at which point it will be reviewed with the rest of design team and further issues will be created to delegate additional design work.

[2021-08-03 19:28] ExperimentsInHonesty commented on #2034
**UI UX meetings**
Thursday 5pm PST https://meet.google.com/bsf-njfy-dbb
UX/PM meeting Tuesdays at 12:15 PDT https://us02web.zoom.us/j/4451450308?pwd=U0JobzZqN0xGSXBUUkRsNlB5YzJiQT09
Research meetings happening as needed (invited via calendar invite)

[2021-08-03 21:38] ExperimentsInHonesty commented on #2007
name: Lucy Chang
slack member ID: U025WJ8CHFC
Github handle: lrchang2
Title: product manager

Sarah Nabelsi
Slack ID: U01J9V1H63F
github: Sarah Nabelsi
Title: Project Manager

Alyssa Bryant
Slack ID :U026DETL43B
Github: abryant35
Title: Product manager

Jeremy DeCarvalho
Slack ID: UFDG06RJQ
GitHub: Jeremy-D
Title: Data Analyst

name: Assel Abilova
slack member ID: U026G6WV49K
Github handle: assela