[2022-02-19 20:38] JessicaLucindaCheng commented on #2746
@SAUMILDHANKAR

It looks great! Thanks for all the work you put into it! I'm going to put it in our PM/Dev meeting agenda, so the PMs can take a look at it.

[2022-02-19 20:43] JessicaLucindaCheng commented on #2746
@Providence-o @ExperimentsInHonesty Can you please take a look at the [Web Developer wiki page](https://github.com/hackforla/website/wiki/Web-Developer) and give us feedback?

[2022-02-19 20:47] JessicaLucindaCheng commented on #2746
- Progress: Finished with updating the Web Developer wiki page and awaiting feedback from PMs
- Blockers: none
- Availability: Will update based on feedback from PMs
- ETA: Will update based on feedback from PMs

[2022-02-19 21:14] Providence-o commented on #2746
Notes:
- [x] Under 'progress through issues' bullet point, all the size issues listed should be itemized (with bullet points)
- [x] The 'Getting started' section should show the exact steps they need to take to join the team
- [ ] The wiki page should provide an overview of the devs lifecycle: from creating a good first issue to becoming a lead

[2022-02-19 21:48] JessicaLucindaCheng opened #2802 "Toolkit page: Add anchors to Guides and External Resources sections"
### Overview
We need to be able to go directly to the Guides and External Resources sections on the [Toolkit page](https://www.hackforla.org/toolkit) so that we can link to those sections from the header and footer menus. For this issue, we will add anchors to those sections.

### Action Items
- [x] See this example page that has anchors and examine the anchors with developer tools: https://www.ha

[2022-02-19 22:16] JessicaLucindaCheng commented on #2027
### Agenda for February 20, 2022
Facilitator: @JessicaLucindaCheng

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes.

**Announcements**
  - [x] Will open the floor for any announcements

**Let's celebrate our contributions/wins since last team meeting**
- [x] Congratulations @Carlos-A-P for getting your PR #277

[2022-02-19 22:50] JessicaLucindaCheng commented on #2699
# Agenda for Feb 19, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [x] Divide up any tasks from the [Dev/PM Agenda](https://github.com/hackforla/website/issues/2607)

## Items carried over from last meeting (things we didn't have time for)

## New items
Jessica
- [x] [On-call for Reviewing PRs for 1st and 2nd Is

[2022-02-20 00:07] answebdev commented on #2277
ETA: End of day 2/20/2022
Availability: Saturday (2/19/2022) (3 hours) Sunday (2/20/2022)

[2022-02-20 00:37] SAUMILDHANKAR commented on #2610
This is already addressed in the following issue: https://github.com/hackforla/website/issues/2104

[2022-02-20 16:33] JessicaLucindaCheng commented on #2690
- Progress: Coding is done. Just need to open a PR for this issue.
- Blockers: I had to work on a different issue because there was a time-sensitive bug. So, I am waiting for that PR to be approved and merged before opening another one, so that I don't have multiple prs open.
- Availability: Will update later. Just waiting for the other pr to be approved and merged.
- ETA: As soon as the other pr

[2022-02-20 17:40] usaboo commented on #2659
Availability for this week: Monday, Wednesday --> 7PM EST - 9PM EST
My estimated ETA for completing this issue: --> Thursday(24th February, 22)

[2022-02-20 17:41] JessicaLucindaCheng commented on #1734
2022-02-20

### Prework

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### New Items
- [x] For Design from Dev: I don't think the title and link for the [credit info](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724) is correct. Here is a screenshot of it:

[2022-02-20 17:58] blulady commented on #2683
Progress: "What is the current status of your project? What have you completed and what is left to do?" I am uncertain what remains to be done.
Blockers: "Difficulties or errors encountered." Still becoming familiar with interface and sop.
Availability: "How much time will you have this week to work on this issue?" I have a few days to work on this
ETA: "When do you expect this issue to be complet

[2022-02-20 18:09] ExperimentsInHonesty commented on #2733
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what you ar

[2022-02-20 18:09] ExperimentsInHonesty commented on #2733
@JackieRiley1 Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustra

[2022-02-20 18:17] ExperimentsInHonesty commented on #2589
@ShrutiMukherjee I can do 11am or 1pm next Sunday

[2022-02-20 18:20] ExperimentsInHonesty commented on #2703
She has moved to another project.

[2022-02-20 18:21] ExperimentsInHonesty commented on #2500
@JackieRiley1 I do not see that you are putting updates, as prescribed above, in the issue you are working on.  Please re-read the guidance in this issue for how to communicate on the team effectively.

[2022-02-20 18:21] riddle015 commented on #2238
Progress: "None"
Blockers: "None"
Availability: "2 hours"
ETA: "2/20/2022"

[2022-02-20 18:50] ExperimentsInHonesty commented on #2309
@tamalatrinh
We would like to try something new.  Please put next to each question the number of each objective that it relates to.

Example:
- Script Section: Motivations for Giving
- Script Question: What information do you find most useful when learning about an organization you’re interested in?
- 3. Objectives b,ii

How we would want you to annotate the Script Question in the script document:

[2022-02-20 18:56] Providence-o commented on #1797
Item for new meeting
- Speak to Simone about #2309 to present interview questions in a tabular format so that questions are directly aligned with the objectives. This helps makes sure that researchers have the objectives in mind when creating interview questions

[2022-02-20 18:59] AnyaStewart commented on #2686
I created a usability test in Maze.co and launched it on HfLA slack.
Hopefully will get enough responses soon.

[2022-02-20 19:35] SAUMILDHANKAR opened #2804 "Edit content field and remove type field from candidates.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 19:51] tamara-snyder opened #2805 "Edit content field and remove type field from center.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:00] riddle015 opened #2806 "Edit content field and remove type field from check.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:00] usaboo opened #2807 "Edit content field and remove type field from code.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:02] answebdev opened #2808 "Edit content field and remove type field from clipboard.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:08] blulady opened #2809 "Edit content field and remove type field from deliver-on-date.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:08] jqg123 opened #2810 "Edit content field and remove type field from care.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:23] JessicaLucindaCheng commented on #2807
@usaboo Thanks for writing this issue! Could you edit the following line under the Resources/Instructions section with the file name in the `[INSERT FILE NAME HERE]`?

[2022-02-20 20:24] tamara-snyder opened #2811 "Edit content field and remove type field from citizen-engagement.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:29] tamara-snyder opened #2812 "Edit content field and remove type field from community.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:33] tamara-snyder opened #2813 "Edit content field and remove type field from contact.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:36] blulady opened #2814 "Edit content field and remove type field from designer-life.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:37] SAUMILDHANKAR commented on #2810
@jqg123 I see that you have assigned this issue to yourself. Please unassign yourself from this issue and just want to remind you that you don't have to work on it either. Also, I see that in the second action item the type field is written twice so please edit that as well. Thank you.

[2022-02-20 20:38] tamara-snyder opened #2815 "Edit content field and remove type field from delegate.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:42] tamara-snyder opened #2816 "Edit content field and remove type field from commofpract.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:45] tamara-snyder opened #2817 "Edit content field and remove type field from design-team.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 20:49] tamara-snyder opened #2818 "Edit content field and remove type field from design.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 22:05] Carlos-A-P opened #2820 "Edit content field and remove type field from contact-us.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-20 23:35] usaboo commented on #2807
Updated!

[2022-02-21 01:02] usaboo opened #2821 "Edit content field and remove type field from developer-activity.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 01:07] usaboo opened #2822 "Edit content field and remove type field from diversity.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 01:12] usaboo opened #2823 "Edit content field and remove type field from donate.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 01:20] usaboo opened #2824 "Edit content field and remove type field from email.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 01:23] usaboo opened #2825 "Edit content field and remove type field from employees.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 02:17] zzhoje commented on #2037
Progress: Rechecked SDGs and Indicators, making sure they match the LA specific SDGs; Wrote project descriptions for  Not Today and New Schools Today
Blockers: None
Availability: 8 hours
ETA: Ready for Feb 21st meeting

[2022-02-21 14:41] ghost commented on #2589
@ExperimentsInHonesty Thanks Bonnie. 1 pm EST or PST? I Will set up a zoom meeting link accordingly.

[2022-02-21 14:55] usaboo opened #2826 "Edit content field and remove type field from find.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 15:00] usaboo opened #2827 "Edit content field and remove type field from folder.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 15:05] usaboo opened #2828 "Edit content field and remove type field from giving.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 15:08] usaboo opened #2829 "Edit content field and remove type field from give-love.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:13] tamara-snyder opened #2830 "Edit content field and remove type field from environmental-impact.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:15] tamara-snyder opened #2831 "Edit content field and remove type field from external-mentor.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:19] tamara-snyder opened #2832 "Edit content field and remove type field from global-wins.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:24] tamara-snyder opened #2833 "Edit content field and remove type field from group.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:28] tamara-snyder opened #2834 "Edit content field and remove type field from hammer.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:53] answebdev opened #2835 "Edit content field and remove type field from hands.yml file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 18:57] answebdev opened #2836 "Edit content field and remove type field from hands.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-21 19:04] SAUMILDHANKAR commented on #2242
Reopening this as the PR #2772 which is supposed to fix this issue isn't merged yet.

[2022-02-21 19:20] JackieRiley1 commented on #2733
The survey has been updated. Notes addressing comments from the Google Doc have been added at the bottom of the document.

[2022-02-21 19:42] answebdev commented on #2835
This is a duplicate issue. When I first created the issue and clicked the submit button, I was directed to an error page and had to rewrite and resubmit it, after which, I ended up with duplicate issues. So, ignore this issue (#2835).

[2022-02-21 19:42] #2835 closed, assigned to nobody

[2022-02-21 23:25] JasonY188 commented on #2480
Availability 3hrs
ETA 02-22-22

[2022-02-22 00:15] summerharveyux commented on #2763
you're right @sacamp, thank you! I noticed that earlier too and felt silly for asking.

@ExperimentsInHonesty please let me know if I'm correct that you'll be either 1) taking screenshots and stitching them together or 2) taking screenshots with me and sharing them with me so I can stitch them together, or neither! I have the first image for the preference test (the seflies you shared - please let

[2022-02-22 02:12] #2086 closed, assigned to Carlos-A-P

[2022-02-22 03:18] greylaw89 opened #2837 "Pre-work Checklist: Developer: Kristoffer Law"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-22 03:18] Jaretzbalba opened #2838 "Pre-work Checklist: Developer: Jaret Balba"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-22 03:22] Carlos-A-P commented on #2339
Availability: 5 hrs
ETA: Monday 2/28/2022

[2022-02-22 03:28] #2277 closed, assigned to answebdev

[2022-02-22 04:27] A-BMT02 opened #2839 "Pre-work Checklist: Developer: Ahmad Tahir"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-22 17:05] harshitasao opened #2840 "Pre-work Checklist: Developer: Harshita Sao"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-22 18:20] 1anya1 commented on #2426
Availability for this week: Tuesday - Friday,  4 hrs/day
My estimated ETA for completing this issue: Wednesday, February 23, 2022.

[2022-02-22 18:39] sacamp commented on #2763
@summerharveyux can you fill out the issue template at the top of this page so that we know what goal you are working toward? You can use [this document](https://docs.google.com/document/d/1wYWr7uJ7dZeBwAAgksP-50_GXtCBQIywiqq5F5wQA6U/edit) to help. Thanks!

[2022-02-22 18:44] summerharveyux commented on #2763
Yes, thank you! Will do that today or tomorrow, as soon as I have time.
Thanks!

On Tue, Feb 22, 2022 at 1:39 PM Simone Campbell ***@***.***>
wrote:

[2022-02-22 19:31] tamara-snyder opened #2842 "Edit content field and remove type field from id.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 19:33] tamara-snyder opened #2843 "Edit content field and remove type field from idea.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 19:35] tamara-snyder opened #2844 "Edit content field and remove type field from info.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 19:38] tamara-snyder opened #2845 "Edit content field and remove type field from job.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 19:42] tamara-snyder opened #2846 "Edit content field and remove type field from locations.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 19:45] tamara-snyder opened #2847 "Edit content field and remove type field from meetings.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 21:38] SAUMILDHANKAR commented on #2010
### Agenda for February 22, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members** (1-3 minutes)**
1. If we have new m

[2022-02-22 23:00] lindseyindev commented on #2743
Availability: 3 hours
ETA: Midnight 2/24

[2022-02-22 23:29] summerharveyux commented on #2763
Progress: filled out the issue template.

Blockers: 1) Confirming that @ExperimentsInHonesty is taking the individual screenshots. 2) Determining which of the 2 selfies linked above Bonnie would like us to test between. 3) Obtaining the individual screenshots from Bonnie and 4) potentially stitching to create the new image, if that needs to be done.

Next steps: same as blockers above.

Availabili

[2022-02-22 23:30] summerharveyux commented on #2763
**Summary of existing research findings and issues of concern as found in the Google drive:**

**Everything relevant extracted from Google Drive Folder ‘UX Research:’**
Given Issue prompt of “Review existing research findings and document in this issue a summary of the findings and the issues of concern, such as small sample size:”

- It is relevant that what is most important for volunteers to se

[2022-02-22 23:32] answebdev opened #2848 "Edit content field and remove type field from meetup.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 23:41] answebdev opened #2849 "Edit content field and remove type field from mentor.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 23:48] answebdev opened #2850 "Edit content field and remove type field from office-worker.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-22 23:53] answebdev opened #2851 "Edit content field and remove type field from partnership.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 00:18] answebdev opened #2852 "Edit content field and remove type field from people.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 00:23] answebdev opened #2853 "Edit content field and remove type field from people2.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 00:25] JessicaLucindaCheng commented on #2699
# Agenda for Feb 22, 2022

## Prework to prep for the meeting

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- https://github.com/hackforla/website/pull/2774
  - This credit might be missing and that's okay for now because I need to reach out to the designer that designed the homepage and figure out where this credit is from. We can writ

[2022-02-23 02:48] JessicaLucindaCheng commented on #2010
- answebdev for writing 8 issues
- tamara-snyder for writing 19 issues
- usaboo for writing 10 issues
- Carlos-A-P for writing 1 issue
- blulady for writing 2 issues

[2022-02-23 03:16] ExperimentsInHonesty commented on #2840
@harshitasao I have added you to the google drive, please add yourself to the roster (see link above) and then reach out to Saumil or Jessica to be added to the GitHub team.

[2022-02-23 04:00] tamara-snyder opened #2855 "Edit content field and remove type field from photo-roster.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:08] Sparky-code opened #2856 "Edit content field and remove type field from process.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:12] Sparky-code opened #2857 "Edit content field and remove type field from scrumboard.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:18] Sparky-code opened #2858 "Edit content field and remove type field from security.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:22] Sparky-code opened #2859 "Edit content field and remove type field from shield.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:49] JasonY188 opened #2860 "Edit content field and remove type field from review.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 04:57] JasonY188 opened #2861 "Edit content field and remove type field from teamwork.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 05:42] Sparky-code opened #2863 "Edit content field and remove type field from star.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 05:45] Sparky-code opened #2864 "Edit content field and remove type field from sustainability.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 05:48] Sparky-code opened #2865 "Edit content field and remove type field from team.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 05:52] Sparky-code opened #2866 "Edit content field and remove type field from technology.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 05:55] Sparky-code opened #2867 "Edit content field and remove type field from trophy.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 06:00] Sparky-code opened #2868 "Edit content field and remove type field from twofa.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 06:03] Sparky-code opened #2869 "Edit content field and remove type field from video-conference.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 06:06] Sparky-code opened #2870 "Edit content field and remove type field from website.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 06:09] Sparky-code opened #2871 "Edit content field and remove type field from winner.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 11:01] harshitasao commented on #2840
Got it! Thank you.

[2022-02-23 16:59] Carlos-A-P opened #2873 "Edit content field and remove type field from rocket.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 17:06] Carlos-A-P opened #2874 "Edit content field and remove type field from scale.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 17:07] Sparky-code commented on #2273
ETA: EOD Thursday, 2/24/22
Availability: 4-6hrs across weekday evenings

[2022-02-23 17:10] Carlos-A-P opened #2875 "Edit content field and remove type field from schedule.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 18:19] 1anya1 commented on #2784
All of the items have been completed

[2022-02-23 18:35] 1anya1 opened #2876 "Edit content field and remove type field from redo.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 18:41] 1anya1 opened #2877 "Edit content field and remove type field from resume.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 18:45] 1anya1 opened #2878 "Edit content field and remove type field from solidarity.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-23 19:36] #2159 closed, assigned to tamara-snyder

[2022-02-23 19:52] sacamp commented on #1797
## 2022-02-3 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235

[2022-02-23 19:58] sacamp commented on #2679
Progress: created an [outline](https://docs.google.com/document/d/1yZTd2aWo-D4Dhd5y8bKLm7qp2XedxgdntoAQAR5oWGc/edit) document, to discuss goals with product
Blockers: None
Availability: 1 hour Thurs, Fri, Sat
ETA: 3/2

[2022-02-23 21:12] JessicaLucindaCheng commented on #2607
For next agenda:

FYI:
- [ ] I added and prioritized any good first issues with a milestone already added to the Prioritized Backlog column because we were running out of good first issues.
- [ ] Couldn't find Shantanu's email in our roster nor the engineering roster, so I just left a comment in the pre-work: https://github.com/hackforla/website/issues/2560#issuecomment-1050392158

New Item:
- [ ]

[2022-02-23 21:29] sacamp commented on #2309
@tamalatrinh Please use [this spreadsheet](https://docs.google.com/spreadsheets/d/1hPpLu_RmaT1gKUxWPtU-5V_ZrsBZsxZCNK-3Un40WnE/edit#gid=0) to organize the questions

[2022-02-23 21:30] sacamp commented on #2498
### Meeting: 3/09/22

### Participants:

### Things to discuss:
- [ ] Starting this meeting, we will use the project board as a guide for  [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter

[2022-02-23 22:26] #2426 closed, assigned to 1anya1

[2022-02-23 22:35] summerharveyux commented on #2498
- going through Github project board 'in progress' column for organized work updates
 - Simone: creating a UX research roadmap for the HfLA site. progress: created a rough outline, starting w/ determining stakeholder needs (e.g., understanding who uses the website and why). website goals: communicate as much info about HfLA as possible, and reduce repetitive internal one-off conversations.
 - Tamm

[2022-02-23 23:10] JessicaLucindaCheng commented on #2812
@harshitasao Thanks for your interest in working on this issue. However, this issue is not ready to be worked on, so I will be unassigning you from this issue and closing your pr.

- Please pick a good first issue from the Prioritized Backlog column on the Project Board. Here are instructions on how to find issues to work on: https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#23a-a

[2022-02-24 02:58] jnmrles commented on #2726
Availability for this week: Wed-Sat 12pm-11pm CST
My estimated ETA for completing this issue: EOD 09/24

[2022-02-24 03:16] harshitasao commented on #2812
@JessicaLucindaCheng  Alright, Thank you.

[2022-02-24 03:18] harshitasao commented on #2812
@JessicaLucindaCheng Alright, Thank you.

[2022-02-24 07:03] jnmrles commented on #2667
Review ETA:  EOD 02/24
Availability: 12-9PM CEST Wed-Sat

[2022-02-24 07:12] jnmrles commented on #2715
Review ETA: 02/24 EOD
Availability: Wed-Sat 12pm-10pm cst

[2022-02-24 18:53] jenjen26 commented on #2606
@ExperimentsInHonesty @JessicaLucindaCheng I was able to bump up the text size to 16 for the [small cards](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4548%3A222) in the design system with no alternate changes to the card. I'll move this to be reviewed.

[2022-02-24 18:54] jenjen26 commented on #2614
Blockers: None
ETA 2/24/2022

[2022-02-24 18:54] jenjen26 commented on #2570
Blockers: None
ETA 2/24/22

[2022-02-24 20:07] JessicaLucindaCheng commented on #2423
@greylaw89 At the time you self-assign an issue, make sure to write in a comment your availability (how many hours you have to work on the issue this week) and ETA (when you think you will finish the issue).

[2022-02-24 20:36] JessicaLucindaCheng commented on #2721
@A-BMT02
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: (how many hours you have to work on the issue this week)
- ETA: (when you think you will finish the issue)

[2022-02-24 21:00] #2721 closed, assigned to A-BMT02

[2022-02-24 21:09] usaboo commented on #2659
Issue PR submitted! Waiting for review!

[2022-02-24 22:15] JessicaLucindaCheng commented on #2715
@jnmrles Please wait until your good second issue is approved and merged before working on this issue. I will be unassigning you from this issue for now. Once your good second issue is approved and merged, you can assign yourself to this issue again if it is still available.

While you are waiting for your pull request to be merged, please review some pull requests. Here is a guide for [How to Rev

[2022-02-24 22:55] 1anya1 commented on #2639
Availability for this week: 10 hours (Tues-Fri)
My estimated ETA for completing this issue: February 24, 2022

[2022-02-24 23:05] JessicaLucindaCheng commented on #2699
# Agenda for Feb 26, 2022

## Prework to prep for the meeting

## Recurring items
- [ ] Divide up any tasks from the [Dev/PM Agenda](https://github.com/hackforla/website/issues/2607)

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] Sunday agenda #2027: Moving the pull request demo to the fourth Sunday instead of the first (assuming we are having each 1s

[2022-02-24 23:07] SAUMILDHANKAR commented on #2840
@harshitasao Just want to confirm that you are added to the GitHub team as well as calendar meeting invites. Feel free to check off that line item whenever you are able to. Thank you.

[2022-02-24 23:08] A-BMT02 commented on #2721
Noted , i will next time

[2022-02-24 23:38] 1anya1 commented on #2639
@JessicaLucindaCheng I updated the link to the communities in the Wiki Sidebar here is the link https://github.com/hackforla/website/wiki . The change can be found under "File Template Link".
<img width="392" alt="Screen Shot 2022-02-24 at 3 37 17 PM" src="https://user-images.githubusercontent.com/52765927/155625482-a9b371ab-30d1-404e-b331-ff5c603b4ef6.png">

Please let me know if there is someone

[2022-02-25 00:26] JessicaLucindaCheng commented on #2560
@shantanushende

Hey Shantanu,

You wrote that you needed an offer letter from Hack for LA back on January 3. I am really sorry we overlooked your request for an offer letter. If you are still interested in volunteering for Hack for LA, please respond to this message and we can get you an offer letter.

Sincerely,
Jessica Cheng

[2022-02-25 00:33] JessicaLucindaCheng commented on #2607
## 2022-02-26 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-02-25 00:45] JessicaLucindaCheng commented on #2639
@1anya1 Thanks for working on this issue! I see the changes you made for the Communities of practice yml file template link. However, I compared the changes to the previous version and the link for the `Credit.yml file template` is missing now. See the comparison here:
https://github.com/hackforla/website/wiki/_Sidebar/_compare/b28cb07156f354b464abcaad37babc45db887404...0ade5b5ba306b31da1241029659

[2022-02-25 01:01] 1anya1 commented on #2639
@JessicaLucindaCheng Sorry about that. I have added Credit.yml link back to wiki. Here is the link https://github.com/hackforla/website/wiki/_Sidebar/_compare/b75c2a8efb31ea7c0c9aae22121e1005fe27c904

[2022-02-25 02:07] JessicaLucindaCheng commented on #2639
@1anya1 Thanks for making the changes. I see all the links now. Feel free to pick up a small issue to work on now.

[2022-02-25 02:07] #2639 closed, assigned to 1anya1

[2022-02-25 02:14] JessicaLucindaCheng commented on #2027
### Agenda for February 27, 2022
Facilitator: @JessicaLucindaCheng

- [x] Nominate a note-taker who will take notes during the meeting.
  - [x] In the notes, please include the developers in attendance in this meeting.
  - [x] After the meeting, Slack message the Technical Leads with the notes.

**Announcements**
  - [x] Will open the floor for any announcements
  - [x] Reminder: To stay active on

[2022-02-25 02:59] JessicaLucindaCheng opened #2886 "Update Donate page images' alt text to adhere to WCAG"
### Overview
As a developer, we need to provide clear and descriptive alt text on the Donate web page so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we can achieve our mission of inclusivity. For this issue, we will change the alt texts on the Donate web page to adhere to WCAG.

### Action Items
The following alt text changes are for the [Donate web page](https://www.hack

[2022-02-25 03:05] Sparky-code commented on #2792
ETA: Tomorrow EOD
Avail: 3hrs this weekend

[2022-02-25 05:03] tamara-snyder opened #2887 "Fix variable name in citizen-engagement.js"
### Dependency
- [x] #2480

### Overview
We need to fix a typo in a variable name so that we can reuse it reliably.

### Details
As developers, it is important to write our JavaScript variable names carefully so that we don't mistakenly declare new variables that pollute the global namespace. In this issue, we will fix a variable name typo in `assets/js/citizen-engagement.js` in order to prevent a

[2022-02-25 07:28] 1anya1 commented on #2083
Availability for this week: Tue-Fri total 9 hrs.
My estimated ETA for completing this issue: 02/25/2022

[2022-02-25 13:41] SheIsBukki opened #2888 "Update Project Profile: Guides Website"
### Overview
As a product manager of the Guides Team, I want my project's details to be up to date on the HackforLA website

### Project card
- [guides-team.md](https://github.com/hackforla/website/blob/427c0c8ae104955f91a41e9af0fc4594cce08c22/_projects/guides-team.md?plain=1)
- [Guides Team on Hack For LA Website](https://www.hackforla.org/projects/guides-team)

### Action Items

- We need to upd

[2022-02-25 16:47] tamara-snyder commented on #2605
Availability: Tuesday and Thursday evening, Friday morning (EST)
Issue completion ETA: Friday, March 4, 2022

[2022-02-25 17:47] ExperimentsInHonesty commented on #1630
@alyssabenipayo please check out how the sticky nav is done by looking at the codebase for the about page
https://hackforla.org/about

[2022-02-25 18:43] abenipa3 commented on #1630
@ExperimentsInHonesty Hi Bonnie. Thank you for your message! I checked out how the sticky nav was done in the about page by looking at our codebase, and the output was [my previous post](https://github.com/hackforla/website/issues/1630#issuecomment-1041182530).

I was able to resolve the placement of the sticky nav by adding a script as seen below.
![image](https://user-images.githubusercontent.co

[2022-02-25 20:32] 1anya1 commented on #2083
@kristine-eudey Im a bit confused am I making the changes to Getting Started Page or Events page? It looks like the link is wrong.

[2022-02-25 20:46] #2791 closed, assigned to harshitasao

[2022-02-25 21:12] JessicaLucindaCheng commented on #2887
@tamara-snyder Great job on writing this issue! I just wanted to provide some feedback:

- [x] I would recommend including any links in the Action Items in the Resources/Instructions section too.
- [x] Since this issue is dependent on another issue, please add an action item to release this issue in issue #2480. See the last Action Item in this issue as an example:  https://github.com/hackforla/we

[2022-02-25 23:05] #2726 closed, assigned to jnmrles

[2022-02-25 23:16] JessicaLucindaCheng commented on #2792
@Sparky-code You only need to do one good first issue, which you have already completed. Also, please wait until your pr for your good second issue is merged before starting on your next issue.

[2022-02-25 23:26] JessicaLucindaCheng commented on #2783
@Sparky-code I am reopening your pre-work checklist because you have not provided a progress report update for an issue you have self-assigned (besides this pre-work checklist). This pre-work checklist should stay open until you provide a progress report update. Once you do provide a progress report update, you can check off the checkbox above for Progress Reports and close this issue. Let me know

[2022-02-25 23:31] JessicaLucindaCheng commented on #2083
@1anya1 Sorry for the confusion. It should be the Getting Started page. I have edited the issue to reflect that.

[2022-02-25 23:34] JessicaLucindaCheng commented on #2784
@1anya1 I am reopening your pre-work checklist because you have not provided a progress report update for an issue you have self-assigned (besides this pre-work checklist). This pre-work checklist should stay open until you provide a progress report update. Once you do provide a progress report update, you can check off the checkbox above for Progress Reports and close this issue. Let me know if y

[2022-02-25 23:55] 1anya1 commented on #2784
@JessicaLucindaCheng hey thanks for the update. I do have a question for you. Are you referring to the first open issue that I self assigned? If so, do we add the progress note every time we create a pull request on an issue (meaning we have finished off the checklist)?

[2022-02-25 23:56] 1anya1 commented on #2083
@JessicaLucindaCheng Thank you for clarifying!

[2022-02-25 23:59] Sparky-code commented on #2783
@JessicaLucindaCheng Ok, is a progress report update different than the check I did [here ](https://github.com/hackforla/website/issues/2792#issuecomment-1050474250) or during the stand up in the meeting on Tuesday? I [added one](https://github.com/hackforla/website/pull/2885#issuecomment-1051368217) to the program-area PR based on the contributions page if that's more specifically what you're ref

[2022-02-26 00:23] JessicaLucindaCheng commented on #2523
@jqg123 As [Saumil commented](https://github.com/hackforla/website/issues/2523#issuecomment-1036986972), you still need to check off the box for a progress update, which should include the following:
[code]
You can provide that update in this issue you working on: https://github.com/hackforla/website/issues/2528. After you provide that update, you can check off the checkbox for the "Weekly, please

[2022-02-26 00:26] JessicaLucindaCheng commented on #2523
Slack messaged John about https://github.com/hackforla/website/issues/2523#issuecomment-1051393045 on Fri, Feb 25, 2022.

Edit: John said he will work on it but has limited availability because of college.

[2022-02-26 00:54] JessicaLucindaCheng commented on #2524
@Johnnie007 For this pre-work checklist, a weekly progress report is still needed to be given on an issue you are working on (not including this pre-work issue). A weekly progress report should be given every week for an open issue that you are working on.

I see you are working on issue #1498 and you gave an initial ETA and availability. However, it has been over a week since you gave that initia

[2022-02-26 00:55] JessicaLucindaCheng commented on #1498
@Johnnie007 Please provide a weekly progress report with the following:
[code]

[2022-02-26 00:59] JessicaLucindaCheng commented on #2524
Left a Slack message for Johnnie about https://github.com/hackforla/website/issues/2524#issuecomment-1051405799 on Fri, Feb 25, 2022.

[2022-02-26 00:59] JessicaLucindaCheng commented on #1498
Left a Slack message for Johnnie on Fri, Feb 25, 2022 about https://github.com/hackforla/website/issues/1498#issuecomment-1051406107.

[2022-02-26 01:03] JessicaLucindaCheng commented on #2701
@riddle015 How are you doing on this pre-work checklist? Did you have any questions?

[2022-02-26 01:10] JessicaLucindaCheng commented on #2391
@Georgema20 Did you need help or have questions? Also, please provide a weekly progress update in a comment below that includes the following:
[code]

[2022-02-26 01:15] JessicaLucindaCheng commented on #2559
@Georgema20 I'm not sure if you saw my comment above, so repeating it here.

Yes, in the issue you are working on you should give a progress report on a weekly basis that includes the following:
[code]

Also, in the future, when you leave comments in GitHub for someone, can you @ mention the person(s) you are directing the message to? This will notify the person you have a message or question for

[2022-02-26 01:19] JessicaLucindaCheng commented on #2559
Left a Slack message on Fri, Feb 25, 2022.

[2022-02-26 01:19] JessicaLucindaCheng commented on #2391
Left a Slack message on Fri, Feb 25, 2022.

[2022-02-26 01:26] JessicaLucindaCheng commented on #2784
@1anya1 It's not the first issue you work on. It's any issue you self-assign and is still open for 5 days or more; then you should provide a weekly progress update. Does that make sense?

[2022-02-26 01:28] 1anya1 commented on #2784
@JessicaLucindaCheng ok, but all of my issues have been closed in less than 5 days. Do I just need to make it for pre work checklist then?

[2022-02-26 01:30] JessicaLucindaCheng commented on #2783
@Sparky-code The progress update you have in your pr, should be in your issue: https://github.com/hackforla/website/issues/2273.

[2022-02-26 01:32] Johnnie007 commented on #1498
Going to unassign the issue. Completing a course, and I will be inactive for the next 5 weeks.

[2022-02-26 01:33] Johnnie007 commented on #2524
Completing a course, and I will be inactive for the next 5 weeks.

[2022-02-26 01:34] JessicaLucindaCheng commented on #2784
@1anya1 Yeah, you can make a progress update for this pre-work to check it off. However, make sure to include the progress update for any issues you work on in the future that is open for 5 days or longer.

[2022-02-26 01:35] 1anya1 commented on #2784
1. Progress - completed
2. Blockers - none
3. Availability - next week 10 hours (mon -fri)
4. ETA - Non applicable, finished

[2022-02-26 01:35] #2784 closed, assigned to 1anya1

[2022-02-26 01:40] #2524 closed, assigned to Johnnie007

[2022-02-26 01:54] Sparky-code commented on #2273
Progress: Completed pending a re-review. cleared and updated docker/browser to reflect visual changes in screenshots
Blockers: An error with the docker cache led me to believe this issue didn't have visual changes.
Availability: ~3hrs avail this weekend, monitoring this issue for review
ETA: Friday EOD, pending review

[2022-02-26 01:56] #2783 closed, assigned to Sparky-code

[2022-02-26 02:38] JessicaLucindaCheng commented on #2888
@SheIsBukki I need some clarification. Do you want to keep Bonnie's and Bukola's information as is on the [Guides Team page](https://www.hackforla.org/projects/guides-team) under the Current Project Team section?

[2022-02-26 04:07] JessicaLucindaCheng opened #2890 "Remove extra colons in CONTRIBUTING.md"
### Overview
As a developer, I want the [CONTRIBUTING.md](https://github.com/hackforla/website/blob/427c0c8ae104955f91a41e9af0fc4594cce08c22/CONTRIBUTING.md) to be free of typos. For this issue, we will remove extra colons in the [CONTRIBUTING.md](https://github.com/hackforla/website/blob/427c0c8ae104955f91a41e9af0fc4594cce08c22/CONTRIBUTING.md).

### Action Items
In [CONTRIBUTING.md](https://gith

[2022-02-26 05:39] JessicaLucindaCheng opened #2891 "Remove unused `alt-hero` field from 100-automations.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-02-26 06:01] JessicaLucindaCheng opened #2892 "Remove unused `alt-hero` field from 311-data.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-02-26 08:25] SAUMILDHANKAR commented on #2667
@answebdev I have edited the action item on how to make changes to our Wiki article. Please let me know if you have questions. Thank you.

[2022-02-26 18:17] answebdev commented on #2667
@SAUMILDHANKAR Thank you for letting me know. I'll let you know if I have any questions.

[2022-02-26 18:56] #2273 closed, assigned to Sparky-code

[2022-02-26 19:32] JessicaLucindaCheng commented on #2717
Closing this pre-work checklist because Brian has left the team.

[2022-02-26 19:32] #2717 closed, assigned to nobody

[2022-02-26 19:49] JessicaLucindaCheng commented on #2690
- Progress: Coding is done and pr is opened. Fixed a typo as pointed out by Tamara.
- Blockers: none
- Availability: Will update later if further changes are requested
- ETA: Will update later if further changes are requested.

[2022-02-26 22:11] Carlos-A-P commented on #2339
1. Progress - I have been busy this week as I just started my internship. It's taking me a bit to catch up to speed but I should have better time management this upcoming week.
2. Blockers - I started to make some changes on wins.js and started off by removing the function that adds the relative class to the '.wins-see-more-div' class. However, the changes in the .js file aren't visible when I run

[2022-02-26 22:31] usaboo commented on #2283
ETA --> Tuesday, March 1st
Availability --> Monday, Feb 28th; 9PM - 11PM

[2022-02-26 22:31] JessicaLucindaCheng commented on #2423
@greylaw89 Also, when you self-assign an issue, you need to move the issue from the Prioritized Backlog into the In Progress column. So, please move this issue into the In Progress column.

[2022-02-26 22:32] JessicaLucindaCheng commented on #2423
@Sparky-code I saw you moved this issue into the Questions/In Review column. Did you have a question about this issue that Kristoffer is assigned to?

[2022-02-26 23:14] greylaw89 commented on #2423
Thank you Jessica - I'll make the revisions and changes this weekend.

Kristoffer Law

On Sat, Feb 26, 2022 at 2:32 PM Jessica Cheng ***@***.***>
wrote:

[2022-02-26 23:18] Sparky-code commented on #2423
@JessicaLucindaCheng No, I'm sorry that must have been by mistake.

[2022-02-26 23:25] answebdev commented on #2667
ETA: 2/27/2022 (end of day)
Availability: 3 hours

[2022-02-26 23:48] ExperimentsInHonesty commented on #2681
@SAUMILDHANKAR

[2022-02-26 23:50] ExperimentsInHonesty commented on #2681
@JessicaLucindaCheng

[2022-02-26 23:50] ExperimentsInHonesty commented on #2681
test

[2022-02-26 23:53] ExperimentsInHonesty commented on #2707
test

[2022-02-26 23:53] ExperimentsInHonesty commented on #2707
@JessicaLucindaCheng

[2022-02-26 23:55] ExperimentsInHonesty commented on #2628
test

[2022-02-26 23:56] ExperimentsInHonesty commented on #2628
@SAUMILDHANKAR

[2022-02-27 00:00] answebdev commented on #2667
@SAUMILDHANKAR @JessicaLucindaCheng I have made the edits in the above action items and added the instructions to request the reviewers to add their review ETA and availability at the time of picking up a PR for review. I added these instructions at the end of [Step -1](https://github.com/hackforla/website/wiki/How-to-Review-Pull-Requests#Step-1), before starting with the actual review in Step 0,

[2022-02-27 00:10] JessicaLucindaCheng commented on #2423
@greylaw89 I went ahead and moved the issue into the In Progress column this time.

[2022-02-27 01:43] SAUMILDHANKAR commented on #2667
Review ETA: End of Day 2/27/22
Availability: Sunday 6-8 PM

[2022-02-27 02:12] JessicaLucindaCheng commented on #2744
@luke-karis At the time you self-assign an issue, please add your initial issue availability (how many hours you have to work on this issue this week) and the ETA (when you expect to complete the issue).

[2022-02-27 02:48] luke-karis commented on #2744
Belated Availability and ETA:
Sun: 1-2 hours, Monday: 1 hour, Tuesday 30min-1 hour
ETA: Sunday/Monday (Feb 27/28)

[2022-02-27 04:53] JessicaLucindaCheng opened #2895 "Update Current Project Team section for the Website Team"
### Overview
As a member of the Hack for LA Website team, I want the information on the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website) to be up to date. For this issue, we will be updating the Current Project Team section of the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website).

### Action Items
- [ ] Remove

[2022-02-27 07:49] #2659 closed, assigned to usaboo

[2022-02-27 08:49] SAUMILDHANKAR opened #2896 "Add weekly meeting requirements to CONTRIBUTING.md"
### Overview
As developers, we want to make sure the contributor expectations in [CONTRIBUTING.md](https://github.com/hackforla/website/blob/f42f4920dc9766f1669661228eb8c32b4462b932/CONTRIBUTING.md) are clear. For this issue, we will be adding weekly meeting requirements to [CONTRIBUTING.md](https://github.com/hackforla/website/blob/f42f4920dc9766f1669661228eb8c32b4462b932/CONTRIBUTING.md) file.

[2022-02-27 09:34] SAUMILDHANKAR commented on #2283
@usaboo Just wanted to share that in our website team, we recommend working on only one issue at a time, meaning next issue should be picked up only when the previous one is merged. You can keep working on this issue but request you to please pick up your next one only when this one is merged. Thank you.

[2022-02-27 10:06] SAUMILDHANKAR commented on #2667
@answebdev Thank you for making the changes to the wiki page. Changes look good to me, and their position is good as well. There is no need for a PR. I am approving it and closing the issue. Feel free to pick up a medium issue next. Thanks a lot. Awesome work!!

[2022-02-27 10:06] #2667 closed, assigned to answebdev

[2022-02-27 10:54] SAUMILDHANKAR opened #2897 "Edit update-instructions-template.md file"
### Overview
We need to make pictures optional in [update-instructions-template.md](https://github.com/hackforla/website/blob/gh-pages/github-actions/add-update-label-weekly/update-instructions-template.md) file which is used to request weekly progress update so that the workload of developers is reduced.

### Action Items
- [x] Review [update-instructions-template.md](https://github.com/hackforla

[2022-02-27 11:51] abenipa3 commented on #1630
# Update 2/27/22

Progress:

- Almost got the script to work so that the navbar's placement is in the proper place as seen below.
  - Working on preventing the navbar from jumping and hovering over the header when scrolling to the top.

<details><summary>  Preview </summary>

![update-02-27-22](https://user-images.githubusercontent.com/38295612/155881188-c5508429-8df1-4a12-a3b8-ffc1945b5bd2.gif)

[2022-02-27 11:52] SAUMILDHANKAR opened #2898 "Remove no-labels-template.md file"
### Overview
We need to remove [no-labels-template.md](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-issue/add-missing-labels-to-issues/no-labels-template.md) file so that the total number of bot comments are reduced, and developers would have less notifications

### Action Items
- [x] Remove  [no-labels-template.md](https://github.com/hackforla/website/blob/gh-pages/gi

[2022-02-27 15:52] tamara-snyder commented on #2480
I added a task to release the dependency on issue https://github.com/hackforla/website/issues/2887 once this issue is closed.

[2022-02-27 15:56] tamara-snyder commented on #2887
@JessicaLucindaCheng Thanks for the feedback! I made the changes mentioned in your comment — please let me know if anything else needs to be fixed.

[2022-02-27 18:21] ExperimentsInHonesty commented on #2589
@ShrutiMukherjee I am available today at 11am PST or next week at this time.  Please just show up to the all team meeting and we will drop into a breakout room.

[2022-02-27 18:54] ExperimentsInHonesty opened #2900 "Create a template: Wiki: Research Plan Review: [REPLACE WITH NAME OF PAGE]"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what next steps are

### Action Items
- [ ] Review [REPLACE WITH NAME OF PAGE] of the wiki to make sure it has the correct format
- [ ] Add any titles that are missing
- [ ] Move content into the correct categories
- [ ] Order the items the same way that they exist in the format tem

[2022-02-27 20:12] A-BMT02 commented on #2173
I will try to work on this issue

[2022-02-27 21:17] JessicaLucindaCheng commented on #2027
For the next wins/contribtutions
- Sarah for taking notes at Sunday meeting.

[2022-02-27 23:52] ghost commented on #2589
@ExperimentsInHonesty Will attend the all team meeting next Sunday and meet with you in a breakout room. See you soon.

[2022-02-28 03:36] zzhoje commented on #2037
Progress: Checked project.md files to see if the correct SDGs and Program Areas are added, rewrote project descriptions for Not Today and New Schools Today
Blockers: None
Availability: 8 hours
ETA: Ready for Feb 28th meeting

[2022-02-28 07:52] SAUMILDHANKAR opened #2901 "Google Apps Script: Fix data errors in spreadsheet used for wins page"
### Overview
The data used to generate our wins page should be error free. For this issue, we will analyze and fix the data discrepancies between the responses and review sheets used to build the wins page.

### Action Items
- [x] This issue was reopened because it failed the QA.  Read through the comments, look at the PR, and then tackle this issue
- [x] Obtain access to the Google Apps Script in

[2022-02-28 08:15] SAUMILDHANKAR opened #2902 "Add weekly time commitment requirements to CONTRIBUTING.md"
### Overview
As developers, we want to make sure the contributor expectations in [CONTRIBUTING.md](https://github.com/hackforla/website/blob/f42f4920dc9766f1669661228eb8c32b4462b932/CONTRIBUTING.md) are clear. For this issue, we will be adding minimum weekly time commitment requirements to [CONTRIBUTING.md](https://github.com/hackforla/website/blob/f42f4920dc9766f1669661228eb8c32b4462b932/CONTRIBU

[2022-02-28 09:27] SAUMILDHANKAR commented on #2660
@frankstepanski Hope you are doing well. Just wanted to share one of the decisions made during our team meeting. We are now requesting all website team members to attend at least one meeting in a week (Tuesday, Thursday or Sunday) as we strive to replicate a professional working environment within our team amongst other things. Therefore, request you to let us know which of the weekly meetings wou

[2022-02-28 09:37] SAUMILDHANKAR commented on #2744
@luke-karis Hope you are doing well. Just wanted to share one of the decisions made during our team meeting. We are now requesting all website team members to attend at least one meeting in a week (Tuesday, Thursday or Sunday) as we strive to replicate a professional working environment within our team amongst other things. Therefore, request you to let us know which of the weekly meetings would b

[2022-02-28 09:40] SAUMILDHANKAR commented on #2638
@Gorck1416 Hope you are doing well. Just wanted to share one of the decisions made during our team meeting. We are now requesting all website team members to attend at least one meeting in a week (Tuesday, Thursday or Sunday) as we strive to replicate a professional working environment within our team amongst other things. Therefore, request you to let us know which of the weekly meetings would be

[2022-02-28 09:43] SAUMILDHANKAR commented on #2715
@jnmrles Hope you are doing well. Just wanted to share one of the decisions made during our team meeting. We are now requesting all website team members to attend at least one meeting in a week (Tuesday, Thursday or Sunday) as we strive to replicate a professional working environment within our team amongst other things. Therefore, request you to let us know which of the weekly meetings would be s

[2022-02-28 09:59] SAUMILDHANKAR commented on #2743
@lindseyindev Since you have already worked on small and medium issues, so request you to please pick up medium or large issues next as that is the recommended order of progression in our website team and provides more learning opportunity. Please let us know if you have any questions or challenges while picking up a medium or large complexity issue. Thank you.

[2022-02-28 10:03] SAUMILDHANKAR commented on #2699
@JessicaLucindaCheng I reached out to Frank, Gabriel, Jovanni, Kazushi, Lindsey, Luke, Paul and Patrick regarding weekly meeting requirements on GitHub and Slack. I have emailed Frank, Jovanni and Paul. Thanks.
Following responses so far:
Kazushi - Thursday
Luke - Tuesday preferred (Thursday or Sunday if not able to make it on Tuesday)
Lindsey - got a new job and would be offboarding. I have marke

[2022-02-28 16:53] SheIsBukki commented on #2888
Hi @JessicaLucindaCheng yes, I want to. Thanks

[2022-02-28 17:30] Sparky-code commented on #2187
ETA: Wednesday 3/02/22 EOD
Avail: 1hr Tuesday 3/01, + Time needed on Wednesday while on call

[2022-02-28 18:08] JessicaLucindaCheng commented on #2010
For the next wins/contribtutions
- Sarah (blulady) for taking notes at Sun, Feb 27 meeting and reviewing a pr.
- Saumil (SAUMILDHANKAR ) wrote 3 issues and reviewed 1 pr
- Devin (Sparky-code ) reviewed 1 pr and got pr 2918 merged
- Anna (1anya1) got pr 2889 merged.
- Utkarsh (usaboo) got pr 2899 merged and reviewed 1 pr.
- Harashita (harshitasao) got pr 2903 merged.
- Tamara (tamara-snyder) review

[2022-02-28 19:55] JessicaLucindaCheng commented on #2699
# Agenda for Mar 01, 2022

## Prework to prep for the meeting

## Recurring items

## FYIs (nothing needs to be done, just keeping each other informed)
- [x] Kazushi shared with me need more time for his issue as he is not well.
- [x] Saumil is planning to take a few days off March 13-16. Will let Bonnie know on Saturday.

## Items carried over from last meeting (things we didn't have time for)

#

[2022-02-28 22:00] #2083 closed, assigned to 1anya1

[2022-03-01 03:51] #2283 closed, assigned to usaboo

[2022-03-01 04:01] JessicaLucindaCheng opened #2904 "Update blank issue form with dependency"
### Dependency
- [x] https://github.com/hackforla/website/issues/2954

### Overview
We want to make the title, description, and format of the Blank Issue form clear that it is for issues with dependencies so that it will be easier and quicker to pick an issue template and write an issue. For this issue, we will update the title and description, and move the dependency section to the top of the for

[2022-03-01 06:05] JessicaLucindaCheng opened #2906 "Testing with beta boards"
### Overview

As a developer, I want to test this new form to see if it works.

### Action Items

- [x] Testing this

### Resources/Instructions

- Links to here

### Is there a dependency?

Yes

### If Yes, please explain

Testing

[2022-03-01 06:06] JessicaLucindaCheng commented on #2906
Closing this test issue

[2022-03-01 09:50] #2890 closed, assigned to harshitasao

[2022-03-01 10:10] SAUMILDHANKAR commented on #2728
~~Add technology as per: https://github.com/civictechindex/CTI-website-frontend/issues/1062#issuecomment-1029588418
Also, left a slack message on Civic Tech Index slack channel requesting updates for this issue.~~
For technology, see the [comment](https://github.com/hackforla/website/issues/2728#issuecomment-1086737209) below.

[2022-03-01 17:52] answebdev commented on #2401
Availability: 4 hours
ETA: 3/3/2022 (end of day)

[2022-03-01 18:32] Providence-o commented on #2212
## 2022-03-01 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-01 18:33] usaboo commented on #2155
ETA - Thursday(March 3rd, 2022)
Availability - Tuesday (9 - 11PM EST)
Availability - Wednesday (9 - 11PM EST)

[2022-03-01 18:33] Providence-o commented on #2698
Date: 2022-03-01
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 11
   - [x] size, ending at 26
   - [x] features, ending at

[2022-03-01 18:40] answebdev opened #2907 "Fix misspelled word on donate.html file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-01 18:55] Providence-o opened #2908 "Write Hacktoberfest organizers to update onboarding information"
### Overview
We want new joiners (through Hacktoberfest) to read the Contributing file first before creating a good first issue.

### Action Items
- [ ] Go through the [Hacktoberfest website](https://hacktoberfest.digitalocean.com/) and check that there is no directive to study a README.md document or CONTRIBUTING.md document first
  - If research shows that such a document exists,
    - [ ] put t

[2022-03-01 19:10] Providence-o commented on #2686
@AnyaStewart please add a size label to this issue by clicking on the gear icon next to labels on the top right and choose the appropriate label from the following list

<html>
<body>
<google-sheets-html-origin>

label | Description
-- | --
size: 1pt | Can be done in 6 hours or less
size: 2pt | Can be done in 7-12 hours
size: 3pt | Can be done in 13-18 hours
size: 5pt | Can be done in 19-30 hours

[2022-03-01 19:21] Providence-o commented on #2751
@JessicaLucindaCheng @SAUMILDHANKAR this issue was opened by Reagan from the Home Unite Us team. Bonnie and I discussed this and it's definitely an important feature to add to the site. This will have the milestone: onboarding.

[2022-03-01 19:52] ExperimentsInHonesty commented on #2698
We fixed a problem with the feature missing finder (top link) and this weeks actual feature missing was 29.  Then we spent some time adding labels to the issues that didn't have them and we ended at 18

[2022-03-01 19:56] ExperimentsInHonesty commented on #1996
We created a form under new issues for [updating communities of practice.](https://github.com/hackforla/website/issues/new?assignees=&labels=role%3A+product%2CP-Feature%3A+Communities+of+Practice&template=communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice%5D)

[2022-03-01 19:56] #1996 closed, assigned to nobody

[2022-03-01 20:53] #2743 closed, assigned to lindseyindev

[2022-03-01 22:54] answebdev opened #2909 "Fix misspelled words on citizen-engagement-card.yml file from "policymaking" to "policy making""
### Dependency
- [x] https://github.com/hackforla/website/issues/3546

### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CO

[2022-03-01 22:58] #2480 closed, assigned to JasonY188

[2022-03-01 23:01] answebdev opened #2910 "Fix misspelled word on environment-card.yml file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-01 23:15] answebdev opened #2911 "Fix misspelled word on about-card-platform.html file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-01 23:25] JessicaLucindaCheng commented on #2907
@answebdev Good job writing this issue! I just wanted to provide some feedback:
- [x] In the Resources/Instructions section, please add a link to the file on GitHub. So, for this issue, it would be: https://github.com/hackforla/website/blob/gh-pages/pages/donate.html
- [x] For any good first issue you write, before the Overview section, please add the following:
[code]
- [x] Also, I know our docum

[2022-03-01 23:40] JessicaLucindaCheng commented on #2339
@Carlos-A-P If you don't see changes to code when you use Docker to view the website locally on your computer, run `docker-compose down`, then clear your cache and delete the file `.jekyll-metadata` and the directory `_site`, and then run `docker-compose up`. See if that helps with you seeing changes locally.

[2022-03-01 23:56] answebdev commented on #2907
@JessicaLucindaCheng Thank you for the feedback. I went ahead and addressed what you mentioned. Let me know if there is anything else.

[2022-03-02 00:08] answebdev opened #2912 "Fix misspelled words on home-unite-us.md file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-02 01:01] SAUMILDHANKAR commented on #2385
This issue is almost complete. The final code to be added is in this [comment](https://github.com/hackforla/website/issues/2385#issuecomment-1006157916). We couldn't test if the wins page is still functionally same because of the open issue #2901. So, the last action item is still pending and therefore, adding dependency and moving this to ice box. Again, thank you Miguel for all your hard work on

[2022-03-02 01:08] answebdev opened #2913 "Fix misspelled word on join-us.html file from "commmunity" to "community""
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-02 01:16] answebdev opened #2914 "Fix misspelled word on join-us.html file from "non-profit" to "nonprofit""
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-02 04:22] Garcia1416 commented on #2638
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
    I have completed my first issue. I need to have an issue and post a weekly update to complete the last task.
2. Blockers: "Difficulties or errors encountered."
     No blockers.
3. Availability: "How much time will you have this week to work on this issue?"
    I will have 5 hours a week

[2022-03-02 07:28] JasonY188 commented on #2458
Availability: 4hrs
ETA: 03-05

[2022-03-02 11:57] Providence-o commented on #2212
## 2022-03-03 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-02 16:25] answebdev opened #2916 "Fix misspelled words on lucky-parking.md file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-02 17:13] answebdev commented on #2401
@JessicaLucindaCheng @SAUMILDHANKAR As per the Action Items for this issue, I created separate issues for each of the listed pages so that the spelling mistakes can be fixed. The following are the pages referred to in this issue, along with the issue(s) I created for each of them:

**List of pages with issues:**

program-areas: Issue #2909 and Issue #2910
join: Issue #2913 and Issue #2914
donate:

[2022-03-02 20:06] ExperimentsInHonesty commented on #2733
@JackieRiley1 thank you for the details about consent for under 18.  ~Please add a question to the top of the survey asking yes or no, 18 or over.  If they say no, then the survey is ended.~

I found this, and it might be more applicable.  Please review
https://calschls.org/survey-administration/parental-consent/

[2022-03-02 20:20] summerharveyux commented on #2763
after speaking with @sacamp, who recently spoke with @ExperimentsInHonesty about this issue, I was instructed to create a flier with some background information and instructions for taking the Zoom screenshot images. I've created [that slide,](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/edit?usp=sharing&ouid=108150099859122206153&rtpof=true&sd=true) and saved it in the

[2022-03-02 20:23] ExperimentsInHonesty commented on #2733
See Code for America's question about gender on their [brigade census survey](http://c4a.me/census)
![image](https://user-images.githubusercontent.com/37763229/156443456-893d0419-3ac5-4304-b116-c4845d767ca0.png)

[2022-03-02 20:34] ExperimentsInHonesty commented on #2733
@JackieRiley1 Please put your research plan into the format developed on this issue
https://github.com/hackforla/knowledgebase-content/issues/138

If you have sections that are not in the current template. Please create them in your document and then note it in the guide to making a research plan issue, so that the next person who works on the guide can integrate these additional sections.

[2022-03-02 20:36] Sparky-code commented on #2187
ETA: Friday 3/04/22 EOD
Blocker: Access to google sheets is restricted, waiting for access confirmation
Avail: Wednesday 7-9p PST, and same times through friday

[2022-03-02 21:31] #2744 closed, assigned to luke-karis

[2022-03-02 22:13] dionw412 opened #2917 "Pre-work Checklist: Researcher: Dionne"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-03-02 23:15] JessicaLucindaCheng commented on #2187
@Sparky-code You should have access to the Google Sheet now, so I'm removing the "Status: Help Wanted" label. If you need help with something else, please let me know.

[2022-03-02 23:36] 1anya1 commented on #1498
Availability for this week :
Wed - Friday:  3 hours/day
My estimated ETA for completing this issue:
Thursday 3/3/2022

[2022-03-02 23:54] iilashi commented on #2501
Progress: Ongoing
Blockers: None
Availability: A few hours a day
ETA: N/A

[2022-03-03 00:42] blulady commented on #2814
I cannot figure out my blocker. I have followed the instructions on the contributing.md to the point of making a git push, I then get this error:
[code]

[2022-03-03 02:16] #2690 closed, assigned to JessicaLucindaCheng

[2022-03-03 03:02] JessicaLucindaCheng commented on #2555
- Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Blank SCSS page was added.
- Blockers: None
- Availability: 6 hours
- ETA: Tue, March 15, 2022

[2022-03-03 07:44] JessicaLucindaCheng commented on #2699
# Agenda for Mar 03, 2022

## Prework to prep for the meeting

## Recurring items

## FYIs (nothing needs to be done, just keeping each other informed)
- [x] Saumil is planning to take a few days off March 13-16. Will let Bonnie know on Saturday.

## Items carried over from last meeting (things we didn't have time for)
- [x] https://github.com/hackforla/website/pull/2774#issuecomment-1052589264

#

[2022-03-03 07:48] JessicaLucindaCheng commented on #2699
# Agenda for MMM DD, YYYY

## Prework to prep for the meeting

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [ ] Can we move the svg files in _includes folder to the assets folder?
  - [ ] This is for my plan to write issues for the guides page image and corresponding alt text.

## FYIs (nothing needs to be done, just keeping each othe

[2022-03-03 18:09] JackieRiley1 commented on #2733
I've added some additional comments in response to the [True Intent Survey](https://docs.google.com/document/d/16b-gVZCT9aI9rdkmEz1GT1Kaj8P5sYtGaT5LKZVtglM/edit?usp=sharing)

[2022-03-03 18:12] Providence-o commented on #2698
Date: 2022-03-03
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 7
   - [x] size, ending at 25
   - [x] features, ending at 1

[2022-03-03 21:52] ExperimentsInHonesty opened #2919 "Hacktoberfest 2021 analysis"
### Overview
We need to know the ending stats for the Hacktoberfest 2021 issues and pull requests so that we can communicate what is working and not working to the Hacktoberfest organizers, as well as giving ourselves guidance for Hacktoberfest 2022.

### Action Items
- [x] Create a spreadsheet for all the Hacktoberfest issues
- [ ] Review All issues with the Hacktoberfest label looking for the fo

[2022-03-03 22:07] JessicaLucindaCheng commented on #2401
- Availability: 3 hours
- Review ETA: ~Either Fri, Mar 4, 2022 or Sat, Mar 5, 2022~ Sun, Mar 6, 2022

[2022-03-03 22:26] JessicaLucindaCheng opened #2920 "Remove unused `alt-hero` field from access-the-data.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 22:30] JessicaLucindaCheng opened #2921 "Remove unused `alt-hero` field from ballot-nav.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 22:34] JessicaLucindaCheng opened #2922 "Remove unused `alt-hero` field from brigade-organizers-playbook.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 22:49] JessicaLucindaCheng opened #2923 "Remove unused `alt-hero` field from civic-opportunity-project.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 22:58] Providence-o commented on #2212
## 2022-03-05 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-03 22:58] JessicaLucindaCheng opened #2924 "Remove unused `alt-hero` field from civic-tech-index.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 23:02] JessicaLucindaCheng opened #2925 "Remove unused `alt-hero` field from civic-tech-jobs.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 23:06] JessicaLucindaCheng opened #2926 "Remove unused `alt-hero` field from civic-tech-structure.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-03 23:10] JessicaLucindaCheng opened #2927 "Remove unused `alt-hero` field from design-systems.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-03-04 02:37] SAUMILDHANKAR commented on #2689
#### Onboard Tamara Snyder to Merge Team
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation
  - [ ] Acceptance
  - [ ] Add to vaults
    - [ ] hackforla.org website vault
    - [ ] Zoom vault
    - [ ] website devs vault
- [x] Google Drive
  - [x] Add to HackforLA.org website drive as Manager
  - [x] Add to HfLA website Admin dri

[2022-03-04 06:54] SAUMILDHANKAR commented on #2505
Progress: Created a new function that adds Google form data to the summary sheet, added an on form submit trigger to the function. Almost complete, need to test on the final version.
Blockers: Final testing to be done once #2901 is merged.
Availability: Not aplicable
ETA: To be determined.

[2022-03-04 19:24] ghost commented on #2589
Hi @ExperimentsInHonesty Confirming our meeting this Sunday. I will join the all teams meeting at 10 am PST/ 1 pm EST.
Below is the document for your reference which has all the questions I am going to ask you.

Resources:
https://docs.google.com/document/d/1Cy5VtGukJDCi0UMSjgIC5EFH54U3ssIeq_elayOhChc/edit

[2022-03-04 20:23] JessicaLucindaCheng commented on #2676
- Progress: About half of the Wiki has been audited. However, didn't make any progress this week as I prioritized writing good second and small issues since we were running low on them.
- Blockers: None
- Availability: Maybe 2 hours for this but we will see if I have time this week as I have other issues I'm working on.
- ETA: Hopefully, April 7, 2022

[2022-03-04 20:29] blulady commented on #2683
Progress: I need to be able to push the correct code up to github
Blockers: struggling with pushing a specific branch
Availability: I have 8 hours to work on this
ETA: as soon as I hear back
Pictures: I haven't been able to make any changes

[2022-03-04 21:22] JessicaLucindaCheng commented on #2683
@blulady Your [progress report](https://github.com/hackforla/website/issues/2683#issuecomment-1059504566) should be in your issue #2242. Once you add your progress report to #2242, you can close this pre-work issue. (I will leave a comment in your issue #2242 to address your blocker.)

[2022-03-04 21:25] JessicaLucindaCheng commented on #2242
@blulady In response to https://github.com/hackforla/website/issues/2683#issuecomment-1059504566,

Are you trying to push changes for the branch `update-how-overview-link-opens-for-LA-TDM-Calculator_2242`? I'm asking because I'm trying to better understand the problem/blocker you are encountering.

[2022-03-04 22:14] blulady commented on #2683
Thank you!!

[2022-03-04 22:53] JessicaLucindaCheng commented on #2576
Moving this back into Ice Box because it looks like this issue may have been moved into New Issue Approval by accident.

[2022-03-04 22:56] JessicaLucindaCheng commented on #2607
## 2022-03-05 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-03-04 23:25] blulady commented on #2242
Progress: I need to be able to push the correct code up to github
Blockers: struggling with pushing a specific branch
Availability: I have 8 hours to work on this
ETA: as soon as I hear back
Pictures: I haven't been able to make any changes

[2022-03-04 23:37] tamara-snyder commented on #2605
Progress: Located the projects where the issue occurs.
Blockers: Not really a blocker, but I need to take some more time to understand how the files work together before changing anything. I'll probably end up with some questions.
Availability: Thursday evening, Tuesday and Friday morning (EST)
ETA: I didn't have as much time as anticipated to work on this this week, so my new ETA will be Friday,

[2022-03-05 01:08] SAUMILDHANKAR commented on #2505
Moving this issue to the ice box column and adding dependency since demo to the team won't work until #2901 is fixed.
<details><summary>Code so far that adds data to the Summary1 sheet</summary>

[code]

</details>

[2022-03-05 01:33] JessicaLucindaCheng commented on #2840
@harshitasao I am re-opening your pre-work issue and unchecking the boxes for "Estimate" and "Progress Report" because those still need to be done in a self-assigned issue (not including this pre-work issue). For the "Estimate" checkbox task, at the time you self-assign, you will need to write a comment in the issue with your availability(how many hours you have this week to work on the issue) and

[2022-03-05 08:19] SAUMILDHANKAR commented on #2391
@Georgema20 Moving the issue back to the Prioritized Backlog column due to inactivity. Please feel free to pick it back up when available. Will leave a slack message about the same. Thanks.

[2022-03-05 08:23] SAUMILDHANKAR commented on #2559
Closing issue due to inactivity. Will drop an email as well.

[2022-03-05 08:23] #2559 closed, assigned to Georgema20

[2022-03-05 08:34] SAUMILDHANKAR commented on #2701
@riddle015 Once you provide a progress report on #2238, you can check off the corresponding action line item in this issue. Thanks.

[2022-03-05 08:52] SAUMILDHANKAR commented on #2728
@kevindphan Just wanted to follow up regarding any update on this issue. I will leave a slack message as well. Thanks.

[2022-03-05 16:26] Providence-o commented on #2698
Date: 2022-03-05
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (open:   7   / closed: 15     )
   - [x] size, ending at (op

[2022-03-05 18:43] JessicaLucindaCheng commented on #2699
# Agenda for Mar 05, 2022

## Prework to prep for the meeting
- [ ] Check New Issue Approval `label:"Ready for dev leads"`
- [ ] Check on `label:"Status: Help Wanted"`
- [ ] Check on the following
  - [ ] Front end issues
    - [ ] In Progress column
    - [ ] Questions and Review column
    - [ ] Dev column
  - [ ] Back end issues
    - [ ] In Progress column
    - [ ] Questions and Review column

[2022-03-05 19:51] JessicaLucindaCheng opened #2928 "Remove unused alt-text field in toolkit guides html files: 2FA, creating-kanban, figma (file names abbreviated)"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in the guide pages' HTML files, so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

For this issue, we will remove the unused alt-text fields from the guide pages' HTML files.

### Details
At the top of each guide pages' HT

[2022-03-05 20:14] JessicaLucindaCheng opened #2929 "Toolkit page: Make the Guides section cards' SVGs WCAG compliant"
### Overview
We need to edit the guide card SVGs on the Toolkit webpage so that we adhere to the Web Content Accessibility Guidelines (WCAG) and we can achieve our mission of inclusivity.

### Action Items
For this issue, we will be adding the alt text property to the guide card images on the Toolkit webpage, which requires the HTML to be refactored.
- [x] Open _includes/guide-card.html in VS Code

[2022-03-05 20:29] JessicaLucindaCheng commented on #2560
I haven't heard back from Shantanu, so I will be closing this pre-work checklist for now.

[2022-03-05 20:29] #2560 closed, assigned to shantanushende

[2022-03-05 22:04] JessicaLucindaCheng opened #2930 "Remove unused alt-text field in toolkit guides html files: github-issues, use-of-images, 1password (file names abbreviated)"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in the guide pages' HTML files, so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

For this issue, we will remove the unused alt-text fields from the guide pages' HTML files.

### Details
At the top of each guide pages' HT

[2022-03-05 22:06] JessicaLucindaCheng opened #2931 "Remove unused alt-text field in toolkit guides html files: linkedin, dashboard, and using-kanban (file names abbreviated)"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in the guide pages' HTML files, so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

For this issue, we will remove the unused alt-text fields from the guide pages' HTML files.

### Details
At the top of each guide pages' HT

[2022-03-05 22:13] SAUMILDHANKAR opened #2932 "Add-update-label-to-issues-weekly workflow failed from Feb 17 - Mar 8, 2022"
### Overview
As a developer, I would like all our workflows to be error-free. For this issue, we will identify why the Add-update-label-to-issues-weekly workflow failed from [Feb 17 - Mar 8, 2022](https://github.com/hackforla/website/actions/workflows/add-update-label-weekly.yml), and fix the error if required.

### Action Items
- [x] Review the following files: [add-label.js](https://github.com/h

[2022-03-05 22:31] SAUMILDHANKAR opened #2933 "Workflow Run Set PR labels not adding labels to Pull Requests"
### Overview
As a developer, I want all my workflow runs to be successful. For this issue, we will identify and fix the error which causes the [Workflow Run Set PR labels](https://github.com/hackforla/website/actions/workflows/wr-set-pr-labels.yaml) to fail.

### Details
[Workflow Run Set PR labels](https://github.com/hackforla/website/actions/workflows/wr-set-pr-labels.yaml) is not adding labels

[2022-03-05 22:42] SAUMILDHANKAR opened #2934 "BOP project page not connected to its GitHub repo properly"
### Overview
As a developer, I want the data on all our project pages to be up to date. For this issue, we will fix an error on the [BOP project page](https://www.hackforla.org/projects/brigade-organizers-playbook) where all-time contributors are not getting displayed.

### Action Items
- [x] Review the [project.md file template](https://github.com/hackforla/website/wiki/project.md-file-template)

[2022-03-05 23:20] ExperimentsInHonesty commented on #2173
Hi @A-BMT02 The issues you are eligible to work are defined by the last issue you worked on, and you progress through issues with increasing complexity in the following order:
Good first issue
Good second issue
Small
Medium
Large

Please do not do the issues out of order.  We are trying to teach you the team methodology through the issues themselves.  If you skips to a large issue, it placed a bur

[2022-03-05 23:21] ExperimentsInHonesty commented on #2839
- FYI, I removed your assignment from #2173 with this note:https://github.com/hackforla/website/issues/2173#issuecomment-1059849162

[2022-03-05 23:28] ExperimentsInHonesty commented on #2720
@A-BMT02 I assume  you didn't mean to assign yourself this good first issue, since you already did one.  [Please look at the prioritized backlog for good second issue](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+front+end%22+label%3A%22size%3A+good+second+issue%22#column-7198257)

I am unassigning you from this issue.

[2022-03-05 23:32] ExperimentsInHonesty commented on #2838
@Jaretzbalba we don't see that you have attended any team meetings or setup your development environment (according to the items you have checked off above), or that you have self-assigned to any good first issue.  Are you interested in staying on the team?  Do you need some  help?  If you do need help, please let the team leads know.

[2022-03-05 23:34] ExperimentsInHonesty commented on #2837
@greylaw89 reminder.  Don't forget to check off the items above as you do them.

[2022-03-05 23:38] ExperimentsInHonesty commented on #2758
@priyatalwar sorry about the automated message.  Thats on all new issues.  The bot didn't know that you don't have write access to the website team repo.  We will update that message for the future .  Thanks.

[2022-03-06 00:07] #2773 closed, assigned to nobody

[2022-03-06 00:11] ExperimentsInHonesty commented on #2749
@ryantpham we are going to close this issue.  If you want to join the team, please come to one of our team meetings.  We have already added you to the Google calendar invite.  This issue can be reopened by you, once you join

[2022-03-06 00:11] #2749 closed, assigned to nobody

[2022-03-06 00:48] Carlos-A-P commented on #2339
1. Progress - I have changed the card layout within the mobile view but I ran into a blocker in the desktop view
2. Blockers - In order to cut the text and add the three dots after overflowing text I added the following code to the `.wins-card-text p`
[code]
Unfortunately, the `display: -webkit-box !important;` property seems to affect the see more button and I'm trying to find a way around it.
3.

[2022-03-06 00:53] JessicaLucindaCheng opened #2935 "Test"
### Overview

As a dev

### Action Items

- [ ] This is an action item
- [ ] Action item

### Resources/Instructions

- links

### Is there a dependency?

Yes

### If Yes, please explain

Need dependency

[2022-03-06 02:36] SAUMILDHANKAR commented on #2699
Here is the list of issues where we see Hack for LA bot moving things from Done to QA to help with troubleshooting:
- #2560
- #2759

[2022-03-06 02:45] SAUMILDHANKAR commented on #1734
Mar 6, 22

### Prework

### Recurring Items

### FYI
- Requesting few days off next week, Mar 13-16 (Saumil)

### New Items
- [x] Discussion item for meeting on Mar 6: https://github.com/hackforla/website/issues/2401
- [x] Should website leadership have access to engineering team roster?

[2022-03-06 06:28] Jaretzbalba commented on #2838
Hi Bonnie, I'm actually out of town right now on vacation but was meaning to get officially started  this Tuesday when I returned. Thank you for checking up on me!

[2022-03-06 11:36] A-BMT02 commented on #2173
I didn't realize there was an order of complexity to follow
Thank you so much for the clarification
I appreciate

[2022-03-06 11:37] A-BMT02 commented on #2839
Noted!
Thanks

[2022-03-06 11:38] A-BMT02 commented on #2720
Sorry for that

[2022-03-06 17:29] ghost commented on #2589
@ExperimentsInHonesty Is there an all team meeting today, since it is the first week of the month?

[2022-03-06 17:35] ghost commented on #2589
@ExperimentsInHonesty I just read the slack update that today's all teams meeting has been cancelled. Should we plan to meet in the next team meeting on March 13th?

[2022-03-06 18:22] ExperimentsInHonesty commented on #2037
please ignore this old list of sdgs from top of issue

#### Names of projects
- [x] 311 Data
   - [x] Has wording
      - [x] Problem
      - [x] Solution
      - [x] Impact
   - [ ] Approval of wording
      - [ ] Problem
      - [ ] Solution
      - [ ] Impact
   - [x] SDG identified
      - [x] SDG check 1 - Yes they have an SDG
      - [x] SDG check 2 - The SDG seems to not fit. SDG 11.1 "By 2

[2022-03-06 18:28] JessicaLucindaCheng commented on #2699
Sunday All Leads Notes
- https://raw.githubusercontent.com/hackforla/website/gh-pages/_projects/311-data.md
- https://www.hackforla.org/citizen-engagement
- https://docs.google.com/spreadsheets/d/1x_zZ8JLS2hO-zG0jUocOJmX16jh-DF5dccrd_OEGNZ0/edit#gid=1532664407
- https://docs.google.com/spreadsheets/d/1x_zZ8JLS2hO-zG0jUocOJmX16jh-DF5dccrd_OEGNZ0/edit#gid=16627220

[2022-03-06 19:04] ExperimentsInHonesty commented on #2607
Add to next agenda:
The CTJ team has made a new onboarding survey. We need to integrate it into the existing dashboard.  Lets talk about how at our next meeting
- issue https://github.com/hackforla/CivicTechJobs/issues/125
- get you access to their folders, etc.

[2022-03-06 19:41] blulady commented on #2242
1. from github repository website branch gh-pages click fetch upstream
2. on local repository website branch gh-pages cli git fetch upstream
3. on local repository git checkout update-how-overview-link-opens-for-LA-TDM-Calculator_2242 branch
4. fetch from origin (for some reason the tdm pdf was in my github repo but not the local one)
	still not on the local in pycharm but can see it in cli
5.beca

[2022-03-06 21:23] JessicaLucindaCheng commented on #2699
Tasks from All Leads Meeting on Sun, Mar 6, 2022

- [ ] (Both) Discuss how incorporate 3DPO data into our repo. See this for all the links: https://hackforla.slack.com/archives/D02RPFKGSPQ/p1646603992466019

(Jessica) From Issue #2481
- [x] Make issue: in order for the footer to work, there needs to be anchor tags on the join us page https://www.hackforla.org/join#volunteer
  - [x] The link should

[2022-03-06 22:31] JessicaLucindaCheng commented on #2242
@blulady When you run the command `git remote -v`, do you get the following on your terminal?
[code]

[2022-03-06 23:20] blulady commented on #2242
origin  https://github.com/blulady/website.git (fetch)
origin  https://github.com/blulady/website.git (push)
upstream        https://github.com/hackforla/website.git (fetch)
upstream        https://github.com/hackforla/website.git (push)

[2022-03-07 09:35] JessicaLucindaCheng commented on #2401
@answebdev Thanks for writing the issues to fix the misspelled words!
- [x] Saumil and I edited issue #2907, and you can take a look at that issue as an example. However, for the rest of the issues you wrote, please do the following:
  - [x] Please make the action item for changing the misspelled words into one action item because having it as two Action Items for one change may be confusing.
  -

[2022-03-07 15:19] #2187 closed, assigned to Sparky-code

[2022-03-07 19:57] usaboo commented on #2155
Provide Update
1. Progress - 1st task completed.
2. Blockers - I do understand what I am supposed to do but I do not know, I have figured out the first task but that's about it.
3. Availability - Wednesday(4PM - 6PM EST), Thursday(4PM - 6PM EST), Friday(4PM - 6PM EST)
4. ETA - Sunday 13th, March 5PM EST

### Taking much longer than expected, I have a few blockers in that I don't know if I know eno

[2022-03-07 20:18] 1anya1 commented on #1498
Provide Update
1. Progress - working on css styling
2. Blockers - family emergency
3. Availability - mon/ fri 3 hrs per day
4. ETA - Tuesday March 7th

[2022-03-07 20:20] JeannyRen opened #2936 "Add SoGoSurvey credit reference to the credit page for the Design Systems team"
### Overview

The Design Systems team will have access to SoGoSurvey's Plus plan for free. In order for them to have this access they need a SoGoSurvey credit reference on the credits webpage.

### Action Items

- [x] Add SoGoSurvey credit code (see in resources) to the credit webpage
  - [x] Mention the Design Systems team as part of the credit

**Merge Team**
- [ ] Once merged, inform the Design

[2022-03-07 20:28] JeannyRen commented on #2936
@ExperimentsInHonesty I created the issue for the SoGoSurvey credit reference for the Credit Page, but I cannot add labels to this issue.

[2022-03-07 20:50] allthatyazz commented on #2936
@JeannyRen We will address this in our meeting today.

[2022-03-07 21:37] Sparky-code commented on #2100
ETA: Wednesday 3/9/22 EOD
AVAIL: 3hrs during evenings through wednesday + On-call wednesday.
** Will be out of town 3/09-3/16 (Unavailable next wednesday)

[2022-03-07 22:33] JessicaLucindaCheng commented on #2242
@blulady

It looks like you are in "C:\Users\ssang\Documents\hackforla\website\assets\pdfs". Does changing to  "C:\Users\ssang\Documents\hackforla\website\" make a difference when you try to push?

[2022-03-07 23:39] JessicaLucindaCheng commented on #2728
@kevindphan VRMS handles meeting times. You need to submit an issue in the VRMS repo to change meeting times.

[2022-03-07 23:42] blulady commented on #2242
![Screenshot (59)](https://user-images.githubusercontent.com/67162265/157137036-7fdb90da-b88a-4da7-ada7-dd5e389e954a.png)

[2022-03-07 23:48] zzhoje commented on #2037
Progress: Documented all available problem, solution, and impact text, discerned issues to be discussed
Blockers: None
Availability: 12 hours
ETA: Ready for Mar 7th meeting

[2022-03-08 02:16] SAUMILDHANKAR commented on #2814
@blulady Is your blocker related to #2772. If yes, I would recommend marking your comment unrelated and hiding it from this issue and posting your blocker there. Thanks.

[2022-03-08 03:59] scarter31191 opened #2937 "Pre-work Checklist: Developer: Steve Carter"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-03-08 04:45] sherririllingux opened #2938 "Pre-work Checklist: Researcher: Sherri Rilling"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-03-08 08:32] SAUMILDHANKAR opened #2939 "Edit contents of add-labels-template.md file"
### Overview
As a developer, I need to edit contents of [add-labels-template.md](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md) file so that the members who are not part of the website repo would get notified about their inability to add labels

### Action Items
- [x] Review [add-labels-template.md](https://githu

[2022-03-08 09:58] SAUMILDHANKAR commented on #2749
Received a slack message from Ryan. Busy for next few months but would like to join in winter.

[2022-03-08 10:18] SAUMILDHANKAR commented on #2010
### Agenda for March 8, 2022

#### Meeting Start

- [ ] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-03-08 12:15] maybleMyers opened #2940 "Pre-work Checklist: Developer: Ben Montgomery"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-03-08 16:35] zzhoje commented on #2037
For 03-09-2022:
[Program Area Spreadsheet](https://docs.google.com/spreadsheets/d/1wkzmWck-aGTzGxiryYEUhGbKRJX8rDDT3RLsAn-E-9o/edit) - will add one-sheets in another column
[Problem, Solution, Impact Drafts Document](https://docs.google.com/document/d/16BZINmiMZLBDrRwuFlRqY63wtf_7fFV67ZhaLCstuUE/edit) - will edit using feedback from yesterday

[2022-03-08 17:25] Providence-o commented on #2908
Findings:
 - On the [beginners page](https://hacktoberfest.digitalocean.com/resources/beginners) they have information for participants new to open source on a third party website [Up for grabs](https://up-for-grabs.net/#/) where they talk about reading the contributing guidelines, but they are not directly affiliated with Hacktoberfest, so not every participant will see this.

![image](https://us

[2022-03-08 17:37] Providence-o commented on #2212
## 2022-03-08 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-08 18:14] answebdev opened #2941 "Fix misspelled word on sitemap.html file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-08 18:30] answebdev opened #2942 "Fix typo on citizen-engagement-card.html file from "throughout out" to "throughout""
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-03-08 18:39] Providence-o commented on #2698
Date: 2022-03-08
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at (open:   7   / closed: 19      )
   - [ ] size, ending at (o

[2022-03-08 18:50] allthatyazz commented on #2745
### Add  Team members:
Name: Yasaman Roostaeian
Role: Product Manager
Slack ID: U033GFQ1UQM
GitHub Handle: allthatyazz

Name: Wataru Inoue
Role: Lead UX/UI Designer
Slack ID: U02SMT4H4LR
GitHub Handle: winoue90

Name: Tammy Trinh
Role: UX/UI Designer
Slack ID: U02RZRF34DA
GitHub Handle: tamalatrinh

Name: Kelene Lee
Role: Researcher
Slack ID: U02U49VDV2L
GitHub Handle: kelenelee

Name: Dongchen Ho

[2022-03-08 18:55] allthatyazz commented on #2745
@JessicaLucindaCheng Please refer to the most recent comment for the latest members list.

[2022-03-08 20:47] ExperimentsInHonesty commented on #2699
@SAUMILDHANKAR @JessicaLucindaCheng -  @tamara-snyder @Providence-o @Sparky-code and I just moved 472 done issues to the new project board [Issues Closed 13 months or more](https://github.com/hackforla/website/projects/14)

@Sparky-code is interested in the large issue to move issues off the "Project Board" to the "Issues Closed 13 months or more" board once the issue is created and he finishes hi

[2022-03-08 21:04] JessicaLucindaCheng commented on #2607
Add to next agenda:
- [ ] Ryan https://github.com/hackforla/website/issues/2749, would like to start again in winter and wants to know if he would need onboarding again or just joining the meetings would be enough.
- [ ] ~issue #2936:~ No longer need to discuss this because https://github.com/hackforla/website/issues/2936#issuecomment-1064538117
  - This seems time sensitive. Should I just work on

[2022-03-08 21:45] JessicaLucindaCheng commented on #2699
Add to next agenda:
Discuss this with Saumil: https://github.com/hackforla/website/issues/2607#issuecomment-1062207320

[2022-03-08 22:49] JessicaLucindaCheng commented on #2936
@JeannyRen

- > @ExperimentsInHonesty I created the issue for the SoGoSurvey credit reference for the Credit Page, but I cannot add labels to this issue.

Sorry, you weren't able to add the labels. I went ahead and added the labels for you.

I will bring up this issue with Bonnie at our Dev/PM meeting on Saturday. However, I have some questions:

- As an action item in the issue, you wrote "Mentio

[2022-03-08 23:15] JeannyRen commented on #2936
Hi @JessicaLucindaCheng,

Thank you for picking up this issue so quickly. With reference to your questions, the communication regarding the credit reference for SoGoSurvey has taken place through e-mail solely. (Bonnie knows about it.)

- As an action item in the issue, you wrote "Mention the Design Systems team". Did you mean to mention the Design Systems team as part of the credit, such as "used

[2022-03-09 00:13] JessicaLucindaCheng commented on #2699
# Agenda for Mar 08, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)
- [x] https://github.com/hackforla/website/issues/2699#issuecomment-1062193721

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] https://github.com/hackforla/website/issues/2266: Are we no longer reviewin

[2022-03-09 05:24] luke-karis commented on #2751
Availability and ETA:
Wednesday, Thursday from 4-5, Saturday and Sunday from 10-12
I hope to finish this ticket by Monday March 14

[2022-03-09 19:01] sacamp opened #2945 "Wiki: Research Plan Review: User Persona Research"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what next steps are

### Action Items
- [x] Review the [User Persona Research](https://github.com/hackforla/website/wiki/Persona-Research) page of the wiki to make sure it has the correct format
- [x] Add any titles that are missing (see template below)
- [x] Move content into the c

[2022-03-09 19:04] sacamp opened #2946 "Wiki: Research Plan Review: HfLA Onboarding Research"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what next steps are

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wiki at this time. Thus, we will be adding wiki

[2022-03-09 19:08] sacamp opened #2947 "Wiki: Research Plan Review: Homepage Redesign Research"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what next steps are

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wiki at this time. Thus, we will be adding wiki

[2022-03-09 19:12] sacamp opened #2948 "Wiki: Research Plan Review: Member Feature Page Research"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what the next steps are

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wiki at this time. Thus, we will be adding w

[2022-03-09 19:16] sacamp opened #2949 "Wiki: Research Plan Review: Impact Page Research"
### Overview
We need to make all the research pages in the wiki uniform so that we can determine what is missing and what next steps are

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wiki at this time. Thus, we will be adding wiki

[2022-03-09 19:25] sacamp commented on #2679
Progress: created an [outline](https://docs.google.com/document/d/1yZTd2aWo-D4Dhd5y8bKLm7qp2XedxgdntoAQAR5oWGc/edit) document, need to expand research methods
Blockers: None
Availability: 1 hour Thurs, Fri, Sat
ETA: 3/15

[2022-03-09 19:44] sacamp commented on #1797
## 2022-03-9Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-152352

[2022-03-09 20:36] answebdev commented on #2401
@JessicaLucindaCheng Thank you for reviewing my issue and for the feedback. I have made all the changes you listed above and am ready for you to review my issue again.

[2022-03-09 21:03] sacamp commented on #2498
### Meeting: 3/09/22

### Things to discuss:

- [ ] Welcome new members!
- [ ] Review the project board as a guide for  [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22r

[2022-03-09 21:54] sacamp commented on #2763
@summerharveyux -  I showed your flyer to product and they had a couple of minor suggestions:

- use one of the screenshots posted above in the slide
-  adjust the slide to match the HfLA design system
   - include the HfLA logo which can be downloaded [here](https://github.com/hackforla/product-management/projects/2#card-51755660)
- instead of an email, have people submit their screenshots to [th

[2022-03-09 22:38] sherririllingux opened #2950 "Pre-work Checklist: Researcher: Sherri Rilling"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-03-09 22:43] summerharveyux commented on #2763
Progress: updated the flier I previously made by 1) using one of the screenshots posted above in the slide, 2) adjusting the slide to match the HfLA design system, and including the HfLA logo; and 3) adding the link to the Google Form, after adjusting the wording and color scheme on the form.[ here is the updated flier!
](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/edi

[2022-03-09 23:04] cwvivianlin opened #2951 "Pre-work Checklist: Researcher: Vivian Lin"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-03-09 23:13] cwvivianlin commented on #1789
Availability for this week: 3-4 hours this week
My estimated ETA for completing this issue: 2 weeks, i.e. March 23

[2022-03-09 23:15] #2951 closed, assigned to cwvivianlin

[2022-03-10 00:04] SAUMILDHANKAR opened #2952 "Add h tags to Getting Started page (Steps 1-3)"
### Overview
As a developer, I need to replace p tags with h tags on the headings of [Getting Started page](https://www.hackforla.org/getting-started) (Steps 1-3) so it becomes WCAG compliant

### Action Items
- [x] Review [Getting Started html](https://github.com/hackforla/website/blob/gh-pages/pages/getting-started.html) file
- [x] In line 51, change the p tag to an appropriate h tag: https://gi

[2022-03-10 00:06] JessicaLucindaCheng commented on #2401
- Availability: 3 hours
- Re-review: ~Thursday, March 10, 2022~ Friday, March 11, 2022

[2022-03-10 02:09] JessicaLucindaCheng commented on #2027
### Agenda for March 13, 2022

- [x] Nominate a note-taker who will take notes during the meeting (both in the breakout room and the main room).
  - After the meeting, Slack message the Technical Leads with the notes.
  - Also, please note the names of developers in attendance in the meeting as well.

**Announcements**
  - [x] Will open the floor for any announcements
  - [x] Reminders from Tuesda

[2022-03-10 06:46] SAUMILDHANKAR opened #2953 "Add h tags to Getting Started page (Steps 4-5)"
### Overview
As a developer, I need to replace p tags with h tags on the headings of [Getting Started page](https://www.hackforla.org/getting-started) (Steps 4-5) so it becomes WCAG compliant

### Action Items
- [x] Review [Getting Started html](https://github.com/hackforla/website/blob/gh-pages/pages/getting-started.html) file
- [x] In line 166, change the p tag to an appropriate h tag: https://g

[2022-03-10 07:33] SAUMILDHANKAR opened #2954 "Create a blank issue form with no dependency"
### Overview
As a developer, I want to create a blank issue form for issues with no dependencies as the forms (compared to templates) in some cases, are easier and more intuitive in creating a new issue.

### Action Items
- [x] Review [blank issue form](https://github.com/hackforla/website/blame/gh-pages/.github/ISSUE_TEMPLATE/blank-issue-form.yml) yml file as well as the [blank issue form](https:

[2022-03-10 08:43] SAUMILDHANKAR commented on #2242
@blulady Just wanted to check if you still have the error log that we received after `git push --set-upstream origin gh-pages` during our last meeting. Please let me know. Thanks.

[2022-03-10 09:58] SAUMILDHANKAR opened #2955 "Move old, closed issues off the Project Board"
### Overview
As a developer, I want to move old, closed issues (that are in the Done column) from the "Project Board" to the "Issues Closed 13 months or more" project so that the Project Board becomes easier to manage and faster to respond.

### Action Items
- [ ] Please go through the wiki article on [Hack for LA's GitHub Actions](https://github.com/hackforla/website/wiki/Hack-for-LA's-GitHub-Act

[2022-03-10 10:17] SAUMILDHANKAR opened #2956 "Bug: HackforLABot moving issues to wrong columns"
### Overview
As a developer, I want to fix the bug where the HackforLA bot is moving the issues to wrong columns so as to ensure that the bot actions are error free and helpful.

### Action Items
- [x] Review how and when HackforLA bot moves issues between different columns
- [x] Analyze why the issue was moved from Done to QA in #2560 and #2707 and why the issue was moved from New Issue Approval

[2022-03-10 17:37] cwvivianlin commented on #1789
@ExperimentsInHonesty @sacamp Would you be able to provide access to the Sheet in resources? Thank you!

Vivian

"Link to the review sheet: [SHEET](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit)"

[2022-03-10 18:48] A-BMT02 commented on #2280
Availability for this week: Thursday fulltime
My estimated ETA for completing this issue: 30mins

[2022-03-10 20:34] Providence-o opened #2958 "[Draft] Revise order on footer to match the join page"
### Overview
We want to revise the order on the footer to match the join page on the HFLA website
### Action Items
- [ ] Visit the Join us page
- [ ] Make a list of all of the section in the order that they appear on the page
- [ ] Edit figma to match the order

### Resources/Instructions
[Current footer design](https://github.com/hackforla/website/issues/2393)
[Join us page](https://www.hackforla

[2022-03-10 21:16] ExperimentsInHonesty commented on #2937
@scarter31191 Hi! I noticed that you self assigned a good first issue
- #2720, but you have not annotated it as required in instructions above.  See where it says:

- [x] Once you take a good first issue, you will provide estimates and progress reports.
   - [x] Estimate: Copy the below and put it in the "good first issue" that you picked.
 Check this box when you have completed this task so that

[2022-03-10 21:51] ExperimentsInHonesty commented on #2936
@JeannyRen This is getting put into the icebox with a dependency until we get a website designer on the project.  Sorry for the hassle, but we don't anyone to work on it.  If your team can loan us a designer, please have them respond  to our [pms message in  slack ](https://hackforla.slack.com/archives/C017ESHSMNG/p1646948582263239)

[2022-03-10 21:55] Providence-o commented on #2212
Add to next weeks agenda:

### Recurring Item (to be checked weekly)

-[ ] Check the status of [this comment](https://github.com/hackforla/website/issues/2936#issuecomment-1064538117) in #2936. Also check if anyone responded to the call for designers in the slack channel.

[2022-03-10 22:03] JeannyRen commented on #2936
Thank you @ExperimentsInHonesty, @allthatyazz can we spare one designer of our team for this task (incorporating the SoGoSurvey credit on the HfLA credit page)? Please, see the comment above by Bonnie :-). Thank you.

[2022-03-10 22:03] ExperimentsInHonesty commented on #2776
We need to talk about google data studio.  This issue really has nothing to do with the iframe, but rather GDS.  Its been added to our next dev meeting

[2022-03-10 22:09] ExperimentsInHonesty commented on #2212
### Issues in the new approval column that have a product label
- [ ] #656
- [x] #2435
- [x] #2450
- [x] #2459
- [x] #2473
- [ ] #2481
- [x] #2688
- [x] #2698
- [x] #2655
- [x] #2608
- [x] #2739
- [x] #2740
- [ ] #2908

### Issues in the new approval column that have a design label

- [ ] #2684
- [ ] #2685
- [ ] #2697

[2022-03-10 22:30] allthatyazz commented on #2936
@JeannyRen I will reach out to our designers to find out.

[2022-03-10 22:33] Providence-o opened #2960 "Fix Trophy link on the Credits page on the HFLA website"
### Overview
We need the external link for each image on the credit page to go to it's source.

#### Details
The Trophy link on the [Credits page](https://www.hackforla.org/credits/) goes to "Page Not Found" on the external website [The Noun Project website](https://thenounproject.com/). We need to figure out the correct image and let the dev team know the link.

### Action Items
- [ ] Browse [the

[2022-03-10 22:34] ExperimentsInHonesty commented on #2212
- The instructions for how to update a template and how to know if you can update a template should go in the getting started wiki
https://github.com/hackforla/website/issues/1996

[2022-03-10 22:49] Providence-o commented on #2686
@AnyaStewart Hi Anya, we haven't received an update for 17 days. Please provide details about where you've left off on the project, if you're continuing etc.

[2022-03-10 23:05] ExperimentsInHonesty commented on #2666
done

[2022-03-10 23:05] #2666 closed, assigned to nobody

[2022-03-11 00:04] ExperimentsInHonesty commented on #1789
@cwvivianlin can you tell us what info you need from this sheet?  It has Personally Identifiable Information on it (PII), so we restrict access to it.  I have moved this issue to the in progress column.  Once you have answered the question, please move it to the Questions column.

[2022-03-11 00:04] ExperimentsInHonesty commented on #2212
- we need to check in on her answer https://github.com/hackforla/website/issues/1789#issuecomment-1064637926

[2022-03-11 00:05] AnyaStewart commented on #2686
@Providence-o Hi, so sorry for the delay. Unfortunately I don't have the capacity to continue working on this. With the war breaking out in Ukraine, I am now too busy helping my friends and family in Russia and Ukraine.  So sorry for abandoning the issue like this.

[2022-03-11 01:27] JessicaLucindaCheng commented on #2699
# Agenda for Mar  10, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] #2952 and #2953
  - [x] You may want to change the title so we know the two issues are different
  - [x] If you want to include a link about WCAG and hea

[2022-03-11 02:10] JessicaLucindaCheng commented on #2674
Note to technical lead reviewing this issue for Ready for Milestone:
- This issue still needs a complexity label - either a good second issue or small. This is dependent on if it is just a change to the link or a whole new image is used.
- The content of this issue will need to be updated dependent on the results of issue #2960.
- If it is a whole new image, in addition to updating the credit on t

[2022-03-11 02:14] SAUMILDHANKAR opened #2961 "Remove font-size and font-weight from .getting-started-step-title-faq class"
### Overview
As a developer, I want to remove font-size and font-weight from [.getting-started-step-title-faq](https://github.com/hackforla/website/blob/5e3c221a51919423c6d3073b9c334b7e3ad3093a/_sass/components/_getting-started-page.scss#L371-L374) class because it is redundant code

### Details
We want to remove font-size and font-weight from [.getting-started-step-title-faq](https://github.com/h

[2022-03-11 03:38] scarter31191 commented on #2720
Availability for this week: Friday 3/11, Saturday 3/12, Sunday 3/13
My estimated ETA for completing this issue: Friday 3/11

[2022-03-11 06:45] poorvi4 opened #2964 "Pre-work Checklist: Developer: Poorvi"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-03-11 08:44] maybleMyers commented on #2792
Availability for this week: Saturday, Sunday and Monday
My estimated ETA for completing this issue: 3/13/2022

[2022-03-11 09:56] maybleMyers commented on #2792
Project submitted for review 3/11/2022 1:50AM

[2022-03-11 18:08] Jaretzbalba commented on #2907
Progress: Found the misspelled word
Blockers: Forgot to create a new branch to work on this issue and did a commit to my main. How can I undo this?
Availability: Mon/Wed/Friday during the day
ETA: Need help with my blocker but after that it's an easy task.
Pictures (optional): "Add any pictures of the visual changes made to the site so far."

[2022-03-11 19:35] #2242 closed, assigned to blulady

[2022-03-11 19:44] ghost commented on #2589
Hi @ExperimentsInHonesty Checking in about the Sunday meeting on March 13. I am planning to attend it and interview you in the breakout session. Does that still work for you? Let me know and I will plan my weekend accordingly. Thank you.

[2022-03-11 22:49] JessicaLucindaCheng commented on #2675
@SAUMILDHANKAR Since you are more familiar with Google AppScripts than I am. Could you review this issue for `ready for milestone`? If it's not ready, please provide feedback as to what I need to change. Thank you.

[2022-03-11 22:52] JessicaLucindaCheng commented on #2759
Closing this issue because this problem was addressed in issue #2754.

[2022-03-11 22:52] #2759 closed, assigned to nobody

[2022-03-12 00:51] Garcia1416 commented on #2638
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
    I have completed my first issue. I need to have an issue and post a weekly update to complete the last task.
2. Blockers: "Difficulties or errors encountered."
     No blockers.
3. Availability: "How much time will you have this week to work on this issue?"
    I will have 2 hours a week

[2022-03-12 01:39] SAUMILDHANKAR commented on #2528
Received an update from John: "not able to continue on this due to an upcoming job".
Unassigning and moving this issue back to new issue approval column as the issue needs a rewrite as well.
Including Jessica for reference (@JessicaLucindaCheng)

[2022-03-12 01:55] SAUMILDHANKAR commented on #2669
Unassigning @Pauljsyi due to inactivity. Moving the issue back to Prioritized Backlog column.

[2022-03-12 02:15] JessicaLucindaCheng commented on #2401
@answebdev Good job on writing issues to fix the misspellings. Feel free to pick up your next issue (either Medium or a Large size).

[2022-03-12 02:20] JessicaLucindaCheng commented on #2528
I want to make this into an epic. I will be breaking down each credit into its own small complexity issue.

[2022-03-12 03:24] JessicaLucindaCheng commented on #2896
@harshitasao At the time you self-assign any issue, please
- [x] Move the issue to the "In progress" column
- [x] Add your initial availability and ETA:
[code]

[2022-03-12 03:34] harshitasao commented on #2896
Availability for this week: Flexible
My estimated ETA for completing this issue: 12/03/2022

[2022-03-12 06:45] SAUMILDHANKAR commented on #2607
## March 12, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-03-12 07:12] JessicaLucindaCheng commented on #2699
Jessica's Compiled To Dos:
- [ ] Check off completed tasks in
  - [x] https://github.com/hackforla/website/issues/2607#issuecomment-1030273048
  - [x] https://github.com/hackforla/website/issues/2607#issuecomment-1046081480
  - [ ] https://github.com/hackforla/website/issues/2607#issuecomment-1059589633
  - [ ] https://github.com/hackforla/website/issues/2607#issuecomment-1065827734
  - [ ] https:

[2022-03-12 07:18] SAUMILDHANKAR commented on #2837
@greylaw89 Just leaving a note here since your last activity was more than 2 weeks ago. Please let us know your progress or changes in availability in a comment below. Thanks.

[2022-03-12 08:56] #2280 closed, assigned to A-BMT02

[2022-03-12 09:52] #2907 closed, assigned to Jaretzbalba

[2022-03-12 10:29] SAUMILDHANKAR commented on #2907
@Jaretzbalba Regarding your blocker, looks like your remote gh-pages does not have the commit that you mentioned in your comment. So, I am assuming it is only in your local gh-pages. You can use [git revert](https://git-scm.com/docs/git-revert) to record some new commits to reverse the effect of some earlier commits.

[2022-03-12 10:50] SAUMILDHANKAR commented on #2238
@riddle015: Just wanted to follow up regarding your progress on this issue. Please let us know if you have any questions, need help or if there is any change in your availability. I will leave a slack message as well about the same. Thanks.

[2022-03-12 10:54] SAUMILDHANKAR commented on #2701
@riddle015: Just wanted to reach out and check if you are still available to work on your issues. Please let us know. Thanks.

[2022-03-12 10:58] SAUMILDHANKAR commented on #2660
Received slack message from Frank, has an upcoming job interview next week. Would continue after that.

[2022-03-12 11:01] SAUMILDHANKAR commented on #2523
Closing this issue due to change in availability, as John has an upcoming job. Marked inactive on roster.

[2022-03-12 11:01] #2523 closed, assigned to jqg123

[2022-03-12 11:07] SAUMILDHANKAR commented on #2750
@JasonY188: Once you provide your weekly progress update on issue #2458, you can check off the progress reports action item in this issue. Thank you.

[2022-03-12 11:09] SAUMILDHANKAR commented on #2458
@JasonY188 Please share your weekly progress update on this issue. You can use the template provided in the pre work checklist. You can remove the To Update label on this issue after that. Thank you.

[2022-03-12 11:13] SAUMILDHANKAR commented on #2748
@usaboo Just wanted to follow up on the pending action item on this issue. Feel free to close this issue when all the action items are checked off. Thank you.

[2022-03-12 11:21] SAUMILDHANKAR commented on #2782
@answebdev Just wanted to follow up if you got an opportunity to provide your weekly progress report on any of the issues that you worked on. Please feel free to check off the pending items and close this issue once done. Thank you.

[2022-03-12 11:30] SAUMILDHANKAR commented on #2727
Update: Waiting for an issue where weekly progress report could be provided,

[2022-03-12 11:47] SAUMILDHANKAR commented on #2839
@A-BMT02 I am unchecking the boxes for "All tasks are complete" and "Progress Report" because "Progress Report" still needs to be done in a self-assigned issue (not including this pre-work issue). For the "Progress Report" checkbox task, in the issue you self-assigned, if it has been 5 days or longer since you self-assigned the issue, you will need to write a comment in the issue with the followin

[2022-03-12 11:53] SAUMILDHANKAR commented on #2838
@Jaretzbalba Great job in finishing up with most of the action items. Feel free to close this issue after finishing up with and checking off the pending action items. Thank you.

[2022-03-12 12:16] SAUMILDHANKAR commented on #2683
@blulady: Great job in finishing up with all the items in this pre-work checklist. Feel free to close this issue. Also, just would like to remind you to add the following whenever you pick up an issue. Thank you.
Availability for this week:
My estimated ETA for completing this issue:

[2022-03-12 12:23] SAUMILDHANKAR commented on #1630
@alyssabenipayo Just wanted to follow up regarding the progress on your issue. Please let us know. Thank you.

[2022-03-12 14:53] answebdev commented on #2782
@SAUMILDHANKAR Thank you for pointing that out. I didn't realize that I had to provide my weekly progress report for this checklist here. Maybe I misunderstood and have been doing the progress reports on the actual issues I work on. Also, I have been checking off the items, but my understanding is that I need to complete all my other issues, like good first issue, good second issue, etc. Is that c

[2022-03-12 17:00] ExperimentsInHonesty commented on #2711
one sheet https://github.com/hackforla/product-management/blob/master/project-one-sheets/Open-Community-Survey-One-Sheet.pdf

[2022-03-12 17:22] kalyaniraman commented on #2711
### Remove the following people
JoAnne Narcisse
Ebele O.
Sonu
Amy Wilkins
Jasmine Kim
Shika Zhou
Kevin
Bernard

### Add the following people

Name:  Kalyani Raman
GitHub handle: kalyaniraman
Role: PM
SLACK ID: U02QW65RU1M

Name: Mary Kate Leibman
GitHub handle: mkleibman
Role: Researcher
SLACK ID: U031V93CYB0

[2022-03-12 17:24] kalyaniraman commented on #2711
@ExperimentsInHonesty I have updated the latest list of which team members to remove and who needs to be added to the team overview page.

[2022-03-12 20:12] Providence-o commented on #2212
## 2022-03-12 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-12 20:30] Providence-o commented on #2698
Date: 2022-03-12
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (open:   5   / closed:    19  )
   - [x] size, ending at (op

[2022-03-12 20:42] JessicaLucindaCheng commented on #2699
# Agenda for Mar 12, 2022

## Prework to prep for the meeting
- [x] Check New Issue Approval `label:"Ready for dev leads"`
- [x] Check on `label:"Status: Help Wanted"`
- [x] Check on the following
  - [x] Front end issues
    - [x] In Progress column
    - [x] Questions and Review column
    - [x] Dev column
  - [x] Back end issues
    - [x] In Progress column
    - [x] Questions and Review column

[2022-03-12 20:55] JessicaLucindaCheng commented on #2768
@Gorck1416 At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-03-12 21:03] JessicaLucindaCheng commented on #2770
Closing this issue because it is already removed from the Wiki.

[2022-03-12 21:12] ExperimentsInHonesty commented on #2655
reviewed and added to site

[2022-03-12 21:12] #2655 closed, assigned to nobody

[2022-03-12 21:20] ExperimentsInHonesty commented on #2435
I have written to Joel. Check back for a response at next meeting
https://mail.google.com/mail/u/0/#search/joel%40joelparkerhenderson.com

[2022-03-12 21:28] ExperimentsInHonesty commented on #2450
I am closing this issue.  The details have been recorded in the wiki https://github.com/hackforla/website/wiki/Decision-Records-on-Solutions-Not-Implemented

[2022-03-12 21:28] #2450 closed, assigned to nobody

[2022-03-12 21:31] ExperimentsInHonesty commented on #2459
The program area audit was completed and all the necessary issues were made.  Can this be closed

- #2274
- #2287
- #2271
- #2289
- #2384
- #2273
- #2280

[2022-03-12 21:34] ExperimentsInHonesty commented on #2473
I am closing this issue. The details have been recorded in the wiki https://github.com/hackforla/website/wiki/Decision-Records-on-Solutions-Not-Implemented

[2022-03-12 21:34] #2473 closed, assigned to nobody

[2022-03-12 21:42] Providence-o commented on #2393
This is a screenshot of the footer that Kristine updated
![image](https://user-images.githubusercontent.com/97491889/158035990-afc1a412-4eb9-4bf4-a2f0-55faf8fc64c0.png)

[2022-03-12 21:46] ExperimentsInHonesty commented on #2958
- we are still working on this issue.  It stems from #2481

[2022-03-12 21:55] Providence-o commented on #2739
We updated the wiki manually today. This issue is up-to-date.

[2022-03-12 21:55] #2739 closed, assigned to Providence-o

[2022-03-12 22:24] SAUMILDHANKAR commented on #2782
@answebdev Sorry if I was not clear enough, the progress report needs to be provided on the actual issues not here. I just wanted to say that since you worked on issue #2401 for more than a week, you could have used it to provide a weekly progress report in the format as mentioned in this pre-work checklist and checked off your only pending item here. I understand you would be working on a large i

[2022-03-12 22:26] JessicaLucindaCheng commented on #2339
@Carlos-A-P If you still need help with your blocker, could you push your code for this issue into a topic branch on your forked repo? I think it will help me see your code in context with other code so I can try to help you with your blocker.

[2022-03-12 22:46] JessicaLucindaCheng commented on #2754
Note root of problem was fixed in pr #2761 and was merged on to the feature branch `feature-tech-dropdown`.

[2022-03-12 22:46] #2754 closed, assigned to JessicaLucindaCheng

[2022-03-12 22:55] JessicaLucindaCheng opened #2972 "DRAFT: Make 3 column lang/tech dropdown adjust number of rows if more lang or tech are added"
- Desktop should also have a scroll bar
- Add info about mobile menu and to check the mobile menu has a scroll bar

### Overview
As a developer, I want to update the Languages/Technologies dropdown menu on the Projects page to be 3 columns with a scroll bar so that we can provide a better user experience for our end-user.

### Details
#### Feature Branch
The pull request created from this issue sh

[2022-03-12 22:57] JessicaLucindaCheng commented on #2397
Work on the language/technologies dropdown will continue in issue #2972 because this issue is very confusing and complicated to navigate with all the comments across the issue and prs itself, and the significant changes from the initial issue itself.

[2022-03-12 22:57] #2397 closed, assigned to JessicaLucindaCheng

[2022-03-12 23:01] blulady commented on #2683
Thanks Saumil!! Will do.

[2022-03-12 23:01] #2683 closed, assigned to blulady

[2022-03-12 23:16] blulady commented on #2758
Hey,
I would like to assign myself this issue. I just want to clarify, the task is to delete the names listed (and their information) from the .yml file.
Please Advise,
Sarah

[2022-03-12 23:27] answebdev commented on #2782
@SAUMILDHANKAR Okay, I understand now. I guess I just understood it in a different way. But thanks for the clarification. So, yes, I will be working on a large issue next, and I will provide a weekly progress report here if it takes more than a week. And now I wonder...I haven't started my large issue yet, but what if it does not take more than a week? Should I still provide a weekly report here s

[2022-03-12 23:43] Providence-o commented on #2908
We want to write the Hacktoberfest organizers about their invalid/spam label definition because it's different from the [GitHub label guide](https://docs.github.com/en/issues/using-labels-and-milestones-to-track-work/managing-labels) they provided on their website, and we don't want to apply such labels to our participants' issues

[2022-03-13 03:10] Garcia1416 commented on #2768
Availability: I will have 3 hours to work on this issue
    ETA: I expect to finish this issue next week

[2022-03-13 07:05] cwvivianlin commented on #1789
I understand--In this case, that's ok, I don't need to see the sheet to do the research. Thanks!

[2022-03-13 07:20] cwvivianlin commented on #1789
**Progress:**
-[research plan](https://docs.google.com/document/d/10pir-ln3-5KRkF4Ue3hpAh8nPYah9j_FMM7GHAK6zfE/edit) created. Would appreciate reviewing it with UXR/product.
-[Wiki page ](https://github.com/hackforla/website/wiki/Wins-submission-process-research)created.

**Blockers:**
-Research plan review
-In the plan I listed some questions/concerns I have (highlighted in yellow)

**Next steps:

[2022-03-13 10:49] abenipa3 commented on #1630
Hi everyone, I apologize for the late response. Here is my update:

Progress:

- Working on responsiveness for the webpage.
  - Ready to add to the HfLA repo afterward.

Blockers:
- Would like to discuss with the Dev team the size of this issue during Sunday's meeting as well.

Availability:
- 6 hours on the weekend

ETA:
- Would like to discuss with the dev team regards to the plan for this issue

[2022-03-13 16:05] sacamp opened #2974 "Create onboarding UXR issues"
### Overview
We need to create issues from the Action Steps spreadsheet that was generated from the onboarding research project. This will enable the continuation of UX research based on the insights generated from previous research.
### Action Items

- [x] Review the ```Creating and Working with GitHub Issues``` for how to create issues
- [x] Review the ```onboarding research summary``` slide dec

[2022-03-13 16:31] sacamp commented on #1789
@cwvivianlin please use the following [template](https://docs.google.com/document/d/1EA5ZYHExu_RC8mfUAgxLxwJ-m_cMsGx_yAjE77gMXqw/edit) for your research plan. Create a copy and edit as needed. Thanks!

[2022-03-13 16:56] #2792 closed, assigned to maybleMyers

[2022-03-13 17:22] riddle015 commented on #2701
I'm still available. I'm being blocked by my good second issue. Will try to make it to office hours on Thursday to get help with it.

Thank you

Hiram

[2022-03-13 17:23] riddle015 commented on #2238
@SAUMILDHANKAR I need help on this issue. I'm having trouble accessing the correct file structure.

Thanks

Hiram

[2022-03-13 17:27] Providence-o commented on #2607
#### Item for next meeting

- [ ] Product to inform devs that a new [Wins page](https://github.com/hackforla/website/wiki/Wins-page) has been created in the wiki and needs to be updated
- [ ] Dev/PM to spend some of the time at this meeting to discuss with Alyssa how the issue will be progressing going forward including:
  - [ ] Alyssa will complete the styling
  - [ ] Alyssa will create a separat

[2022-03-13 18:08] skarakaya1 opened #2975 "Pre-work Checklist: Researcher: [Suveyda]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-03-13 18:09] Providence-o opened #2976 "Onboard & Offboard: Design"
### Dependency
- When there is a new design team member to onboard/off-board

### Overview
We need to have a checklist of items to do when a designer onboard and off-boards so that the process can be consistent and fast.

### Action Items
- [ ] Copy template to comment below
- [ ] Add name of person
- [ ] Check off as done

[code]
[code]

### Resources/Instructions
-  1password.com
-  [HfLA Google

[2022-03-13 18:15] Providence-o commented on #2976
#### Onboard @phuonguvan

- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public
- [ ] GitHub
     - [ ] Add to team write
        - [ ] Change membership to maintainer
     - [ ] Add to  [PM team](https://github.com/orgs/hackforla/teams/website-pm)
- [ ] Figma
  - [ ] invite
  - [ ] acceptance
- [ ] 1password

[2022-03-13 18:25] #2975 closed, assigned to skarakaya1

[2022-03-13 18:55] ghost commented on #2589
Progress: Conducted internal stakeholder interview with Bonnie on user group - volunteers.
Blockers: None
Availability: 6-7 hours
ETA: Going to transcribe the interview and thematically code it on Miro in the coming week

Resources:
https://drive.google.com/drive/folders/13pkSi9Irsklume_osxpiYvAtwZqhxh6K
https://github.com/hackforla/website/wiki/Volunteer-Research-Org#current-status
https://docs.g

[2022-03-13 19:15] #2751 closed, assigned to luke-karis

[2022-03-13 19:33] #2100 closed, assigned to Sparky-code

[2022-03-13 19:55] A-BMT02 commented on #2839
@SAUMILDHANKAR  For the moment , i have'nt worked on an issue that takes up to five days
If i am getting this correctly , i have to wait till i work on an issue that takes up to five days , add the progress Report and then i can check the  "Progress Report" checkbox task ?
Thank you for your time

[2022-03-13 21:11] abenipa3 opened #2978 "Create Guides Markdown Converter (Google Apps Script)"
*****************************

## ==> FEATURE NOW BEING DEVELOPED [THIS REPOSITORY](https://hackforla/knowledgebase) <==
## ==> SEE [HISTORY WIKI](https://github.com/hackforla/knowledgebase/wiki/History) FOR WORK DONE SO FAR <==

*****************************
### Overview
As developers, we want a Google Apps Script to convert the current guides in Google Docs to markdown files, so that the markdow

[2022-03-13 22:25] abenipa3 commented on #1630
# Update - 3/13/22

Progress:
- Created a new issue focusing on Markdown Converter https://github.com/hackforla/website/issues/2978
- Will focus on styling the Guide Pages and creating a feature branch in the HfLA Repo at this time.

Blockers: N/A

Availability: 6 hours (Weekend)

ETA: 3/19/22

[2022-03-13 22:25] SAUMILDHANKAR commented on #2728
Update: New person would be taking over this issue and get back with updates or changes if required, as suggested by Kevin.

[2022-03-14 04:10] JasonY188 commented on #2458
1. Progress - finished 7 of 8 tasks
2. Blockers - still looking at code for one image in sponsors section of About page
3. Availability - 3 hrs
4. ETA - 03-15

[2022-03-14 04:33] scarter31191 commented on #2271
Availability for this week: 3/14, 3/15, 3/16
My estimated ETA for completing this issue: 3/14

[2022-03-14 07:19] SAUMILDHANKAR commented on #2839
@A-BMT02 Yes, your understanding is correct. Thank you.

[2022-03-14 07:26] SAUMILDHANKAR commented on #2782
@answebdev You can still work on issues after you finish your large issue. I would suggest to keep this per-work checklist open until you find an opportunity to provide a progress report.

After you check off all the items, you can close this issue. No need to tag me or Jessica. Thank you for your great work.

[2022-03-14 07:28] SAUMILDHANKAR commented on #2238
@riddle015 Thanks for getting back. Requesting @JessicaLucindaCheng to follow up on this. Thank you.

[2022-03-14 21:27] A-BMT02 commented on #2656
Availability: 1 hour
ETA: in 24 hours

[2022-03-14 22:09] dionw412 commented on #2309
Availability for this week: Monday, Wednesday, Thursday
My estimated ETA for completing this issue: March 21, 2022

[2022-03-14 22:44] #2838 closed, assigned to Jaretzbalba

[2022-03-14 23:13] answebdev commented on #2782
@SAUMILDHANKAR Okay, I got it. Thank you for letting me know. And I'll be sure to close this issue after I check off all the items. Thanks again.

[2022-03-14 23:49] Carlos-A-P commented on #2339
1. Progress - Still working on the blocker, submitted a PR to show where I'm currently at https://github.com/hackforla/website/pull/2977
2. Blockers - same blocker where `display: -webkit-box` is affecting the see more button by hiding it
3. Availability - 3 hrs this week
4. ETA - 03/20/2022

[2022-03-15 02:45] scarter31191 commented on #2271
for this issue am I just adding `program-area:  - Environment` to the `green-earth-os.md` file? or am I making it visible on the card?

[2022-03-15 05:56] poorvi4 commented on #2795
Availability for this week: Today (Mar 14 2022)
My estimated ETA for completing this issue: Today (1-3 hrs)

[2022-03-15 14:34] #2891 closed, assigned to maybleMyers

[2022-03-15 15:20] #2887 closed, assigned to Jaretzbalba

[2022-03-15 17:25] Providence-o commented on #2976
#### Onboard @phuonguvan
- [x] Google Drive
   - [x] Add to drive
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [ ] Check for Public
- [x] GitHub
     - [x] Add to team write
- [ ] Figma
  - [x] invite
  - [ ] acceptance
 - [ ] Prework checklist
    - [ ] sent
- [ ] 1password
     - [ ] invitation
     - [ ] acceptance
     - [ ] add to vaults
       - [ ] hackforla.org we

[2022-03-15 17:27] Providence-o commented on #2976
#### Onboard @stellaaparkk
- [x] Google Drive
   - [x] Add to drive
- [ ] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [ ] Check for Public
- [x] GitHub
     - [x] Add to team write
- [x] Figma
  - [x] invite
  - [x] acceptance
- [ ] Prework checklist
    - [ ] sent
- [ ] 1password
     - [ ] invitation
     - [ ] acceptance
     - [ ] add to vaults
       - [ ] hackforla.org w

[2022-03-15 17:30] Providence-o commented on #2212
## 2022-03-15 Agenda and notes for PM meetings

### Prework
- [ ] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-15 17:41] Providence-o commented on #2976
#### Onboard @hangjoyce
- [x] Google Drive
   - [x] Add to drive
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [ ] Check for Public
- [x] GitHub
     - [x] Add to team write
- [ ] Figma
  - [x] invite
  - [ ] acceptance
 - [ ] Prework checklist
    - [ ] sent
- [ ] 1password
     - [ ] invitation
     - [ ] acceptance
     - [ ] add to vaults
       - [ ] hackforla.org web

[2022-03-15 19:11] Providence-o commented on #2936
@hangjoyce hi, I've assigned this issue to you. When you're able to start working on it please move it from the 'prioritized backlog' to the 'in progress' column using the drop down on the right pane above.
![image](https://user-images.githubusercontent.com/97491889/158453390-5a4327cf-3351-4b94-8dc4-eea06f8933d5.png)

[2022-03-15 19:12] hangjoyce commented on #2936
Got it. Thanks

[2022-03-15 20:49] A-BMT02 commented on #2656
I have a blocker

[2022-03-15 20:51] A-BMT02 commented on #2656
I have a blocker
How do i import the "paragraph2" class to the "getting-started" html page

[2022-03-15 20:53] A-BMT02 commented on #2656
I have a blocker
How do i import the "paragraph2" class to the "getting-started" html page

Do i just give the paragragh to be changed a classname of "paragraph2" or i have to import it from the "_typography.scss"?

[2022-03-15 20:55] JessicaLucindaCheng commented on #2978
Next steps:
- [x] Discuss this issue with Bonnie.
- [x] Once we move the Google Apps Script and any relevant file(s) to [Markdown Converter folder](https://drive.google.com/drive/folders/1A7fCpYTakb_3wCOv7fSM8oyN-wTkisA0), the following links need to be updated:
  - [x] Action Items section

  - [x] Resources/Instructions section

[2022-03-15 21:17] #2720 closed, assigned to scarter31191

[2022-03-15 22:17] JessicaLucindaCheng commented on #2271
@scarter31191 To the green-earth-os.md, you are just adding
[code]
After adding that, you should see the changes on the card because the code for making it visible already exists. If you don't see it, try the instructions in [2.7.b.i. What if you cannot see your changes locally within Docker? in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#i-what-if-you-canno

[2022-03-15 23:47] JessicaLucindaCheng commented on #2010
### Agenda for March 15, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update
Each member will give a quick update and popcorn to the next person

- **Returnin

[2022-03-16 01:47] luke-karis commented on #2901
ETA: March 23
Availability: Monday, Tuesday, Wednesday from 4 pm - 5 pm, Saturday and Sunday 10 am - 12 pm

[2022-03-16 02:57] fernandoqueue opened #2985 "Pre-work Checklist: Developer: Fernando Quintero"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-03-16 14:26] ExperimentsInHonesty commented on #2936
@JeannyRen just letting you know that we got a designer on this because we have to rework the page to create a new section for this type of credit.  We will get back to you to let you know the status in a week.   We don't yet have an ETA for deployment.

[2022-03-16 15:17] #1498 closed, assigned to 1anya1

[2022-03-16 18:05] JackieRiley1 commented on #2663
 
### Name of initiative
-True Intent Survey

### Problem statement
-We don’t have data to indicate who is using the Hack for LA website, their goals, or if they are successful in achieving their goals.

### Objective/Desired Impact
- Determine the reasons users are visiting the Hack for LA website and if they are successful in achieving their goals.

### Success Metrics

Success may be defined in

[2022-03-16 18:36] JackieRiley1 commented on #2663
[Requirements for True Intent Survey](https://docs.google.com/spreadsheets/d/1ShPMAC8OiydmPqo5SlD-YwGF1rreED_D13SYpcEcSBA/edit?usp=sharing)

[2022-03-16 18:42] 1anya1 commented on #2173
Availability for this week: 8 hrs
My estimated ETA for completing this issue: Tuesday March 22, 2022

[2022-03-16 19:28] cwvivianlin commented on #1789
@sacamp  Thank you, will do!

**Progress:**

Research plan updated: https://docs.google.com/document/d/10pir-ln3-5KRkF4Ue3hpAh8nPYah9j_FMM7GHAK6zfE/edit

I also created the script: https://docs.google.com/spreadsheets/d/1F4iiSmD0wFRZ4YHj8Y4-nooUZFmn0jlZriyG_eI8ZEs/edit#gid=0

[2022-03-16 19:36] sacamp commented on #2763
@summerharveyux great job updating the flyer. For the google form, please add a header image with a logo such as the one used in this [form](https://docs.google.com/forms/d/e/1FAIpQLScXnJSyCXgO_RCAuCyOkG4sqGILpAepTlJ0HOaK4H_ccEVmNw/viewform)

The logo can be found in the following issue: https://github.com/hackforla/knowledgebase-content/issues/58

[2022-03-16 19:47] ExperimentsInHonesty commented on #2763
I am checking off the teams as I add it to their agenda  Using the Agenda Tracker
https://github.com/orgs/hackforla/projects/5

#### Projects to check
- [ ] [100 Automations](https://github.com/100automations/website)
- [x] [311 Data](https://github.com/hackforla/311-data)
- [x] [Access the Data](https://github.com/hackforla/access-the-data)
- [ ] [BallotNav](https://github.com/hackforla/ballotnav

[2022-03-16 19:48] ExperimentsInHonesty commented on #2763
@summerharveyux lets discuss next week what we got after I reach out to all the teams.

[2022-03-16 20:00] sacamp commented on #2498
### Meeting: 3/16/22

### Things to discuss:

- [ ] New member intro!
- [ ] Review the project board as a guide for  [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role

[2022-03-16 20:01] Providence-o commented on #2212
Add to next meeting

### Tasks
- [ ] Add form from #2763 to the [agenda for all the teams ](https://github.com/orgs/hackforla/projects/5)

[2022-03-16 20:35] ExperimentsInHonesty commented on #1076
Created a [new spreadsheet](https://docs.google.com/spreadsheets/d/1dvdB6uZLmogcnCzCe54ZASuAecxwrm6SECG2g8Fl-DE/edit) to track
who has a job after hfla
what the linkedin status of people who are on the wins is (do they have hfla, do they have new job listed)

[2022-03-16 21:04] JessicaLucindaCheng commented on #2238
@riddle015

- I assume you already added the pdf to `/assets/pdfs`. If you mean you are having trouble figuring out how to format the link in markdown, here are a couples examples from the current codebase:
  - https://github.com/hackforla/website/blob/b883cd0cbef033de9ac0ef0abe1de8c7058996f9/_projects/100-automations.md?plain=1#L52-L53
  - https://github.com/hackforla/website/blob/b883cd0cbef033d

[2022-03-16 21:14] #2896 closed, assigned to harshitasao

[2022-03-16 21:41] summerharveyux commented on #2763
incredible! thank you so much for all of this, @ExperimentsInHonesty ! that checklist is especially helpful.

yes, looking forward to obtaining images as you reach out to teams! thank you!

i'll of course take care of the "Hack for LA Website" team, so I just checked that one off your list.

[2022-03-16 22:06] summerharveyux commented on #2763
Progress: updated the google form I previously made by adding a header with the HfLA logo.

Blockers: 1) Hanging tight while @ExperimentsInHonesty shares the flier at team meetings, so that folks can take and upload Zoom screenshots to the google form. 2) Determining which of the 2 selfies linked above Bonnie would like us to test between. 3) Determining how many Zoom screenshots I should be expec

[2022-03-17 00:18] answebdev commented on #2455
ETA: 3/23/2022 (end of day)
Availability: 6 hours

[2022-03-17 01:30] JessicaLucindaCheng commented on #2339
@Carlos-A-P

When I compared your changes with the current live website using developer tools,
- your code has hidden set to true: `<div class="wins-see-more-div" hidden="true">`
- while the current live website doesn't have a hidden attribute: `<div class="wins-see-more-div">`.

I think the changes you made may have impacted the logic in the addSeeMore() function in wins.js, which deals with whet

[2022-03-17 05:16] Carlos-A-P commented on #2339
@JessicaLucindaCheng thank you, I was able to resolve the blocker by removing the code that was unnecessary within the addSeeMore() function

[2022-03-17 20:12] ExperimentsInHonesty commented on #2607
Please add to next meeting, changing out the current image we have on the about page, partner section, for these two orgs

Los Angeles County Homeless Initiative
from [real-help-lasting-change.svg](https://github.com/hackforla/website/blob/gh-pages/assets/images/partners/real-help-lasting-change.svg)
to https://homeless.lacounty.gov/wp-content/uploads/2018/09/HI_Logo_lasting-change-v3.png

And

Go

[2022-03-17 22:56] JessicaLucindaCheng commented on #2699
# Agenda for Mar 17, 2022

## FYIs (nothing needs to be done, just keeping each other informed)
- [x] Steve is taking a few days off until Tuesday, March 22.
- [x] Discuss the issue Alyssa is working on.

## Recurring items
- [x] New merge team members?

## Items carried over from the last meeting (things we didn't have time for)

## New items
- [x] We alternate taking days off
- [x] Slack reminde

[2022-03-17 23:06] JessicaLucindaCheng commented on #2656
@A-BMT02 You don't need to import the classes because

For more info, see [Hack for LA's Site Architecture](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture).

So, you can add paragraph2 as a class to the starting HTML tag. For example, if I wanted to use paragraph2 class for a paragraph, I would do something like the following in the starting tag, `<p class="paragraph2">`

[2022-03-18 00:46] JessicaLucindaCheng commented on #2027
### Agenda for March 20, 2022
Facilitator: Jessica Cheng

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please also note attendance.

**Let's celebrate our contributions/wins since last team meeting**
- Tamara (tamara-snyder) reviewed 3 prs.
- Anna (1anya1) got medium pr 2969 merged.
- Adolf (answebdev) revi

[2022-03-18 01:44] ExperimentsInHonesty opened #2987 "Update Project Profile: 311data"
### Overview
As a product manager of 311 Data I want my project's details to be up-to-date on the HackforLA website

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects/311-data.md

### Action Items

- [x] 311 Data Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:

[2022-03-18 01:51] ExperimentsInHonesty commented on #2987
Change Partner from
EmpowerLA
to
Los Angeles Department of Neighborhood Empowerment

### Remove
Dana Chen
Kevin Perez
Adam Kendis
Matt Webster

### Add
Eric Cho
Role: Product Manager
Slack ID: U02E95SPK4N
GitHub: echoproject

Name: Prasadh Palanichamy
Role: Product Manager
Slack ID: U0143158U80
GitHub: pras4u

[2022-03-18 13:13] A-BMT02 commented on #2656
Noted
Thank You!

[2022-03-18 13:18] harshitasao commented on #2840
Progress: Still haven't done "Progress Report".
Blockers:  Facing no blockers.
Availability: Flexible.
ETA:  ASAP.
Pictures: N/A.

[2022-03-18 13:37] JessicaLucindaCheng commented on #2555
Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Blank SCSS page was added.
Blockers: None
Availability: 6 hours
ETA: Tue, March 22, 2022

[2022-03-18 13:43] JessicaLucindaCheng commented on #2746
Progress: Have started second draft of page but not done with editing it yet
Blockers: none
Availability: Not sure
ETA: Sat, Mar 26, 2022

[2022-03-18 13:45] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress this week as I prioritized writing good second and small issues since we were running low on them.
Blockers: None
Availability: Maybe 2 hours for this and I will try to get other developers to help write issues at Sunday meeting
ETA: Hopefully, April 7, 2022

[2022-03-18 14:06] #2605 closed, assigned to tamara-snyder

[2022-03-18 15:02] #2758 closed, assigned to blulady

[2022-03-18 15:10] #2795 closed, assigned to poorvi4

[2022-03-18 15:24] #2271 closed, assigned to scarter31191

[2022-03-19 04:38] JessicaLucindaCheng commented on #2775
All the issues for this epic have been written and prioritized.

[2022-03-19 05:01] JessicaLucindaCheng commented on #2699
# Agenda for Mar 19, 2022

## Prework to prep for the meeting
- [x] Check New Issue Approval `label:"Ready for dev leads"`
- [x] Check on `label:"Status: Help Wanted"`
- [x] Close epics that have all the issues within it completed. Check `label:"epic"`
- [x] Check on the following
  - [x] Front end issues
    - [x] In Progress column
    - [x] Questions and Review column
    - [x] Dev column
  - [

[2022-03-19 05:12] JessicaLucindaCheng commented on #2771
This was created to draft a template before actually creating it in the issues templates. Since the template has been created, this issue can be closed.

[2022-03-19 05:12] #2771 closed, assigned to nobody

[2022-03-19 06:23] macho-catt opened #2990 "Update Lucky Parking project page"
### Overview
We need to ensure that links and info on the Lucky Parking project page resolve properly and are up to date.

### Action Items
- [x] Update the test site url for the [lucky parking project page](http://www.luckyparking.org/) to http://www.luckyparking.org/
- [x] Update the project page info for current dev team lead

## Note
Bonnie asked for me to update the link with a pull request.

[2022-03-19 16:25] SAUMILDHANKAR commented on #2607
## Mar 19, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-03-19 16:33] SAUMILDHANKAR commented on #2750
@JasonY188 Thanks for sharing your weekly progress report on #2458. Feel free to check-off the action item. Also, you can close this issue if you have completed all the action items. Thank you.

[2022-03-19 16:36] SAUMILDHANKAR commented on #2458
@JasonY188 Thank for sharing your weekly progress report. Feel free to check off the action item in #2750 and close that issue if rest of the items are done. Thanks.

[2022-03-19 16:40] SAUMILDHANKAR commented on #2748
@usaboo Just wanted to follow up on the pending action item on this issue. Feel free to close this issue when all the action items are checked off. Thank you.

[2022-03-19 16:49] SAUMILDHANKAR commented on #2715
@jnmrles Just wanted to follow up regarding your progress on this issue. Please let us know if you have any questions, need help or your availability has changed. I will leave a slack message as well about the same. Thanks.

[2022-03-19 17:04] maybleMyers commented on #2940
Progress: I have 3more issues to complete
Blockers: No big difficulties
Availability: 6 hours
ETA: 4/1/2022

[2022-03-19 17:07] SAUMILDHANKAR commented on #2423
@greylaw89 I am planning to unassign you from this issue due to inactivity. Feel free to work on this or any other issue when your availability changes. Thank you.

[2022-03-19 17:08] SAUMILDHANKAR commented on #2837
@greylaw89 I am planning to close this issue due to inactivity. Feel free to reopen and work on it when your availability changes. Thank you.

[2022-03-19 19:40] JessicaLucindaCheng commented on #2061
@Sparky-code
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-03-19 20:09] JessicaLucindaCheng commented on #2768
@Gorck1416 Please give a progress report in a comment in this issue. See what you need to include in your progress report and more information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue)

[2022-03-19 20:09] SAUMILDHANKAR commented on #2985
@fernandoqueue Good job adding the labels and moving this issue to the project board. Please check off the action items above as well for the steps that you have already completed. Thank you.

[2022-03-19 20:15] JessicaLucindaCheng commented on #2141
@tamara-snyder
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-03-19 20:39] JessicaLucindaCheng commented on #2699
# Jessica
## Sat, Mar 19
11:30am-1:30pm
  - Responded to Slack messages
  - Did pre-work in https://github.com/hackforla/website/issues/2699#issuecomment-1072941690
  - Added items to Dev/PM agenda

[2022-03-19 22:20] JessicaLucindaCheng commented on #2978
@alyssabenipayo
- [x] Include a list of features. In other words, what exactly do we need the md converter to do.
- [x] Identify existing converter in the issue that is currently used.

@JessicaLucindaCheng
- [x] Add an action item to identify additional converters that might work.
- [x] Add an action item to identify/look for if there are any open-source code that we can use in our own converter

[2022-03-19 22:38] JessicaLucindaCheng commented on #1630
@alyssabenipayo Check out https://100automations.org/all_guides

[2022-03-19 23:07] Sparky-code commented on #2061
Availability: 2hrs on Sun, 7-9p M/W/F next week
ETA: Next Thursday

[2022-03-19 23:16] Providence-o commented on #2607
Providence to reach out to the Noun project and inform then that we use their images on our website and attribution on our credits page. Sometimes the images stop appearing on the noun projects site. What (if anything) do they want us to do in cases like this.
- Send links to HFLA [credits page ](https://www.hackforla.org/credits/)
- Example [credit icon affected](https://thenounproject.com/icon/i

[2022-03-19 23:39] Providence-o commented on #2212
Discuss https://github.com/hackforla/website/issues/2455#issuecomment-1017723029 with new lead designer. Related issue https://github.com/hackforla/website/issues/2686#issuecomment-1018927250

Make https://github.com/hackforla/website/issues/2607#issuecomment-1073128481 more detailed and send to the Noun Project

[2022-03-20 04:30] abenipa3 commented on #2978
# List of Features Required
The following are features of what we need the MD Converter to do:
-	Find the file (guide) within the folder or drive.
o	File can be found by reference or name if it exists.
-	Reads the contents of the file, including:
o	Headings
o	Bulleted lists
o	Numbered lists
o	Multileveled lists
o	Indentations and Spaces
o	Font styles (bold, italics, underline)
o	URLS
o	Images
o	Te

[2022-03-20 04:56] abenipa3 commented on #1630
# Update 3/19/22

Progress:

- Provided requirements needed for https://github.com/hackforla/website/issues/2978.
- Formatting Markdown to match Google Doc before I continue styling.
  - This will only be done for testing purposes. Once we complete the MD Converter, it will be completely automated.

Blockers: N/A

Availability: 6 hours (Weekend)

ETA: 3/16/22

# Next Steps

Will place respective f

[2022-03-20 05:40] Garcia1416 commented on #2768
Progress: I still need to change the lines. I have created a branch but have not changed anything in the files
    Blockers: None
    Availability: 5 hours
    ETA: Monday March 21
    Pictures (optional): n/a

[2022-03-20 14:35] Providence-o commented on #2212
## 2022-03-20 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-20 14:42] Providence-o commented on #2698
Date: 2022-03-20
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (open: 4      / closed:   19   )
   - [x] size, ending at (o

[2022-03-20 16:10] JessicaLucindaCheng commented on #2895
@Benji-Montgomery When you self-assign an issue, please move it to the In Progress column.

[2022-03-20 16:27] frankstepanski commented on #2660
UPDATE
Progress: Merged
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Completed
Pictures: https://github.com/hackforla/website/pull/2741

[2022-03-20 16:27] #2660 closed, assigned to frankstepanski

[2022-03-20 17:07] phuonguvan opened #2993 "Pre-work Checklist: Designer: [Phuong Van]"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-03-20 18:28] tamara-snyder commented on #2141
@JessicaLucindaCheng Thanks for reminding me!

Availability this week: 4 hours
ETA: Three weeks from now (April 10, 2022)

[2022-03-20 18:38] #2895 closed, assigned to maybleMyers

[2022-03-20 18:55] blulady commented on #2888
ETA: Monday 3.21.22
Availability: Tuesday 3.22.22 1-6pm

[2022-03-20 23:33] iilashi commented on #2501
Progress: Ongoing
Blockers: None
Availability: Few hours daily
ETA: N/A

[2022-03-21 01:01] #2748 closed, assigned to usaboo

[2022-03-21 01:02] usaboo commented on #2748
@SAUMILDHANKAR I have closed it now! Thank you for reminding.

[2022-03-21 07:48] #2238 closed, assigned to riddle015

[2022-03-21 15:36] JackieRiley1 commented on #2663
The True Intent survey has been updated to reflect any changes from previous conversations. The document includes comments based on our discussion from the UX research team.

I have also created a spreadsheet which states the requirements for the survey and some commercial options. The analytic integrations will depend on the survey selected. Based on the information I have reviewed, if there is a

[2022-03-21 21:01] ExperimentsInHonesty commented on #2936
@JeannyRen we have the designer you sent us working on this.

- This issue will get finished in design, and then we will open a new issue for development and let you know the issue number in your issue https://github.com/hackforla/design-systems/issues/350

[2022-03-22 00:45] #2990 closed, assigned to macho-catt

[2022-03-22 01:21] JeannyRen commented on #2936
Thank you for keeping me updated!

[2022-03-22 02:23] #2987 closed, assigned to maybleMyers

[2022-03-22 03:59] pattshreds commented on #2084
**Progress:** Title classes are assigned in HTML.
**Blockers:** The title 4 element and the first title7 element don't seem to be the correct sizes. Need to figure out where to define their sizes.
**Availability:** This week 6pm - 8pm
**ETA:** Thursday 3/24/22