[2022-03-22 04:24] RyanCahela opened #2999 "Pre-work Checklist: Developer: Ryan Cahela"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-03-22 05:42] poorvi4 commented on #2927
Availability: Monday-Tuesday (9:00-11:00 pm)
ETA: 3 hours

[2022-03-22 18:35] #2888 closed, assigned to blulady

[2022-03-22 18:41] #2768 closed, assigned to Garcia1416

[2022-03-22 21:32] SAUMILDHANKAR commented on #2010
### Agenda for Mar 22, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-03-22 22:44] cwvivianlin commented on #1789
@sacamp Would you like me to use Hfla calendly to recruit? Or I could also use my own. lmk. I'm ready to recruit. Thank you!

[2022-03-23 00:41] JessicaLucindaCheng commented on #2699
# Agenda for Mar 22, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)
- [x] https://github.com/hackforla/website/issues/2952#issuecomment-1075792069

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] https://github.com/hackforla/website/issues/2669: Remember to uncheck check

[2022-03-23 00:46] JessicaLucindaCheng commented on #2952
@Jaretzbalba This issue was in the New Issue Approval column, so it is not ready to be worked on. Please only work on issues from the Prioritized Backlog column.

**How to find issues to work on:**
1) In the "Onboarding info/links" column on the far left of the Project Board, scroll down the column until you see the cards that say "Sort by Front-end Issues" and "Sort by Back-end Issues".
<img widt

[2022-03-23 01:13] JessicaLucindaCheng commented on #2010
- Devin Krizwold (Sparky-code) reviewed pr 2992.
  - Tamara Snyder (tamara-snyder) reviewed prs 2992 and 2962.
  - Sarah Sanger (blulady) reviewed prs 2991 and 2994.
  - Utkarsh Saboo (usaboo) reviewed prs 2984 and 2982.
  - Ben Montgomery (Benji-Montgomery) reviewed pr 2996 and got pr 2992 merged.
  - Saumil Dhankar (SAUMILDHANKAR) reviewed prs 2962 and 2995.
  - Luke Karis (luke-karis) reviewed

[2022-03-23 01:24] sherririllingux opened #3003 "Zoom Onboarding Experience Surveys"
### Overview
We need to create surveys at the end of each section of the Zoom Onboarding slides to gather feedback from new volunteers on their experiences during the onboarding process (about the process).  So that we will get a more complete picture (higher response rate during onboarding than after).

### Action Items
- [x] Review the Zoom Onboarding slide decks
  - [x] Bonnie's presentation

[2022-03-23 02:02] luke-karis commented on #2901
Updated ETA and Availability:
ETA: March 28
Availability Friday, Saturday, Sunday 1-2 hours each day
Progress: Got access to Drive folder, I plan to really get going on this during the weekend
Blockers: None

[2022-03-23 03:03] PMKnight opened #3004 "Pre-work Checklist: Developer: [michael myatt]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-03-23 03:59] JessicaLucindaCheng commented on #2010
### Post-meeting notes

<details>
  <summary><strong>Click to see the meeting notes for March 22, 2022</strong></summary>
  Note-taker: Ryan Cahela
  Notes 03_22_22
# Attendees Status Update
## Poorvie Rao
Completed the second good issue, hoping to start first medium issue by next Tuesday.
Current blockers: None so far.
Icebreaker: Looking for suggestions on movies or tv shows
---
## Luke Karis
Wo

[2022-03-23 16:30] answebdev commented on #2782
Progress Report for current Large Issue #2455

- Progress: Have redesigned the navbar according to the figma design (i.e., navbar items Our Work, Join Us, Get in Touch, etc. with dropdown items) and got most of the basic styling done
- Blockers: I got the redesigned navbar dropdown working, but all of the dropdown items are in one separate `.yml`. file, and they should be in separate files. I am c

[2022-03-23 16:30] #2782 closed, assigned to answebdev

[2022-03-23 16:32] answebdev commented on #2455
**Progress Report**

- Progress: Have redesigned the navbar according to the figma design (i.e., navbar items Our Work, Join Us, Get in Touch, etc. with dropdown items) and got most of the basic styling done (though still need to finish some styling)
- Blockers: I got the redesigned navbar dropdown working, but all of the dropdown items are in one separate `.yml`. file, and they should be in separ

[2022-03-23 17:53] RyanCahela commented on #2911
Availability: 03/23/22 2PM - 5PM (PST)
ETA: 1hr or less

[2022-03-23 18:22] sherririllingux opened #3005 "Quiz for New Volunteers to Help w/ Team Selection"
### Overview
We need to create a quiz for new UX Research volunteers who are going through onboarding, that can help them assess whether they are interested in and have the skills to lead a team or whether they'd be better suited for a role within the team, not in leadership.

### Action Items

- [x] Review **Communities of Practice** on Github
- [x] Review **Developer Self-Test** as an example to

[2022-03-23 18:58] sacamp commented on #1797
## 2022-03-23Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235

[2022-03-23 19:14] ghost commented on #2589
Progress: Transcribing Bonnie's interview this week.
Blockers: None
Availability: 6-7 hours
ETA: This will be completed before next week.

Resources:
https://docs.google.com/document/d/1kj8wWrykXJiE5RJk4S-iJNgJXrXm9kocV84QJ0ZcdlI/edit

[2022-03-23 19:15] ExperimentsInHonesty commented on #2733
@JackieRiley1 I have responded to your comments/questions with same.  Looking forward to next version

[2022-03-23 19:48] sacamp commented on #2498
### Meeting: 3/23/22

### Things to discuss:

- [ ] Team photo for Summer's research!
- [ ] Review the project board as a guide for  [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query

[2022-03-23 19:49] ExperimentsInHonesty commented on #3003
@sherririllingux good job making this issue.  You are definitely headed in the right direction.  I made come collaborative additions/revisions (which, by the way, is pretty typical for even experienced issue writers).

I updated some parts of the issue:

I edited the overview section just a little for clarity (I might have actually made it too long...)

I added another presentation review requirem

[2022-03-23 20:05] Providence-o commented on #2936
@hangjoyce Thank you for the work on the credits page.  Let's see if we can't get the vendor to agree to what we have provided before we have you do a different version.

@jeannyren Can go back to them and see if you can't get them to agree to the below layout.   See details below:

We will not be able to use the HTML as specified because it does not fit with our compliance requirements for WCAG.

[2022-03-23 21:07] summerharveyux commented on #2763
Progress: Bonnie has shared the flyer with 8 teams, and 3 teams have uploaded images as of 3.23. There are 16 teams left for Bonnie to reach out to. I just (3.23 UX meeting) discussed with @sacamp that I don't need *all* the screenshots from *all* the teams in order to run the preference test. We discussed that I can potentially run the preference test with as many screenshots as I have at the tim

[2022-03-23 23:08] JessicaLucindaCheng commented on #2760
@Jaretzbalba
Since you have already worked on a small issue, we request that you please pick up a medium issue as your next issue as that is the recommended order of progression for members of the Website Team, and it provides you with the opportunity to learn how to work on more complex issues that are less prescriptive. Also, since we have a limited number of Small issues and each one takes a wh

[2022-03-23 23:18] Jaretzbalba commented on #2760
@JessicaLucindaCheng Sorry for the confusion! Still learning a lot right now so was just trying to help out where I could. I'll definitely pick up a medium issue for my next one, thanks!

[2022-03-24 02:49] Sparky-code commented on #2061
Progress Update: Spreadsheet made and added to the drive under the audits folder. Research is in progress.
Avail: Friday afternoon
ETA: Friday EOD
Potential Blocker: clarification on last couple of items in issue checklist

@abuna1985 Can you clarify the dependency items in this issue? I see that I'm being asked to add the spreadsheet link when I finish this issue but I'm not sure what you mean by

[2022-03-24 02:59] #2911 closed, assigned to RyanCahela

[2022-03-24 05:21] JessicaLucindaCheng commented on #2061
@Sparky-code Adam is no longer part of the Website Team, so please refer questions to Saumil, Tamara, and me. I edited the release dependency action item for merge team to deal with after this issue is closed and move the sub-action item to edit issue #2226 for you to complete as part of this issue.

"Release dependency on #2226 " means to check off the dependency in the issue 2226 and move the is

[2022-03-24 09:14] maybleMyers commented on #2502
Progress: stuck
Blockers: having a hard time understanding assets/js/current-projects.js. I have never used the jekyll/liquid before.
Availability: 10 hours/week
ETA: not sure

[2022-03-24 09:33] phuonguvan commented on #2679
@sacamp Hey! This is the team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:00] phuonguvan commented on #1968
@KayodeAlabi Hey! This is the team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:03] phuonguvan commented on #2317
@JessicaLucindaCheng Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:09] phuonguvan commented on #2105
@Rankazze Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:14] phuonguvan commented on #2316
@Providence-o Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:19] phuonguvan commented on #2613
@ememercy21 Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:20] phuonguvan commented on #2084
@JessicaLucindaCheng @pattshreds Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:25] phuonguvan commented on #2727
@SAUMILDHANKAR  @JessicaLucindaCheng Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:29] phuonguvan commented on #2500
@JackieRiley1 Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:31] phuonguvan commented on #2615
@ilashi Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know as soon as possible!

[2022-03-24 10:38] phuonguvan commented on #1994
@ExperimentsInHonesty Hey! This is the design team lead and it's been two weeks since you worked on the project.  Please let me know if you are going to continue working!

[2022-03-24 10:51] phuonguvan commented on #2937
@scarter31191 Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know your progress or availability as soon as possible!

[2022-03-24 10:53] phuonguvan commented on #2688
@Providence-o Hey! This is the design team lead and I was wondering if you are still working on this project. Bonnie told me to update you guys so let me know your progress or availability as soon as possible!

[2022-03-24 15:14] sacamp commented on #2679
@phuonguvan hi! I’m the current UX research lead so yes I am still on the project

[2022-03-24 15:51] JackieRiley1 commented on #2500
Hello,
What project are you referring to?
Jackie

On Thu, Mar 24, 2022 at 4:29 AM phuonguvan ***@***.***> wrote:

[2022-03-24 18:12] RyanCahela commented on #2089
ETA: 3 Hours or less.
Availability: 12 (Noon) - 5PM 03/24/22

[2022-03-24 18:44] Providence-o commented on #2212
## 2022-03-24 Agenda and notes for PM meetings

### Prework
- [ ] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-03-24 18:52] Providence-o commented on #1797
## 2022-03-24 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-03-24 20:13] Providence-o commented on #2616
@mccormackstudio We have changed the text to

Does this fit with the guidance that you have read?

[2022-03-24 20:33] ExperimentsInHonesty commented on #1797
Add to next agenda to ask Simone if this need that design surfaced is on their radar
- Audit and conduct usability tests current user flows, determine the most important ones, and ideate ways to improve them that will achieve user’s and HFLA needs and goals.

[2022-03-24 21:07] 1anya1 commented on #2173
Progress: Still researching
Blockers: None
Availability: 8hrs
ETA:  By monday Mar 28, 2022

[2022-03-24 21:11] 1anya1 commented on #2961
Availability: 2 hours
Review ETA: Friday, March 25, 2022

[2022-03-24 21:16] ExperimentsInHonesty commented on #2212
Inability to maintain proper attribution due to images disappearing from site.

Good day,

I am a Product Manager at Hack for LA and I am writing concerning an issue we have experienced a couple of times in crediting the images sourced from your website.

We are following all the guidance given on your site about proper attribution, specifically:
"The format should be “Icon name” by Creator Name,

[2022-03-24 22:01] blulady commented on #918
I am uncertain what the following refers to (from the instructions above): Remove the text provided above, from the Google Doc on [‘How to’ use a Kanban board](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit), by referencing [this comment](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit?disco=AAAALDOzoHo)

[2022-03-24 22:29] blulady commented on #918
Also in the text I am instructed to use it says "Something something here", I am fairly confident that we don't actually want this on the website but would like confirmation.

[2022-03-24 23:22] JessicaLucindaCheng commented on #2084
@phuonguvan Updates are in the pr associated with this issue https://github.com/hackforla/website/pull/2723. See the most recent comments by @pattshreds https://github.com/hackforla/website/pull/2723#issuecomment-1077115270 and by me (@JessicaLucindaCheng) https://github.com/hackforla/website/pull/2723#issuecomment-1077115270

[2022-03-24 23:27] JessicaLucindaCheng commented on #2901
@luke-karis Thanks for providing an updated ETA and availability but if you are providing a progress update please also include   Progress and Blockers. Here is more information about providing a progress update: https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue

Once you have completed a progress report that includes progress, blocker, availabi

[2022-03-24 23:30] JessicaLucindaCheng commented on #2727
@SAUMILDHANKAR @phuonguvan Luke is still working on this pre-work.

I left a comment for Luke in the issue they're working on: https://github.com/hackforla/website/issues/2901#issuecomment-1078478725

[2022-03-25 00:10] SAUMILDHANKAR commented on #2961
@1anya1 This issue is not ready to be worked upon yet. Please pick issues from the Prioritized Backlog column only. Requesting you to unassign yourself from this issue. Further, please work on one issue at a time, I see you are currently working on issue #2173. Thank you.

[2022-03-25 01:15] scarter31191 commented on #2942
Availability for this week: 3/25
My estimated ETA for completing this issue: 3/25

[2022-03-25 02:16] kathrynsilvaconway opened #3009 "Pre-work Checklist: Developer: Kathryn Silva Conway"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-03-25 02:46] JessicaLucindaCheng commented on #2317
I'm reopening this issue because I still need to check if this issue has been completed or there are items that still need to be done

[2022-03-25 03:51] #2760 closed, assigned to Jaretzbalba

[2022-03-25 04:45] #2715 closed, assigned to jnmrles

[2022-03-25 05:42] iilashi commented on #2615
Progress: Complete
Blockers: None
Availability: A few hours daily
ETA:

[2022-03-25 07:16] harshitasao commented on #2290
Availability : Flexible
My estimated ETA : 26/03/2022

[2022-03-25 21:16] sherririllingux commented on #3003
Thank you so much Bonnie @ExperimentsInHonesty and Simone @sacamp.

[2022-03-25 21:18] sherririllingux commented on #2974
Currently finished with first of four issues. Should be completed with all four by the end of the weekend.

https://github.com/hackforla/website/issues/3003

[2022-03-25 22:13] JessicaLucindaCheng commented on #2722
- Progress: Some of the issues related to the epic have been written
- Blockers: None
- Availability: None this week for this issue
- ETA: April 25, 2022

[2022-03-25 22:14] JessicaLucindaCheng commented on #2689
- Progress: Just need to update the templates
- Blockers: None
- Availability: 3 hours
- ETA: March 31, 2022

[2022-03-25 23:10] JessicaLucindaCheng commented on #2027
### Agenda for Mar 27, 2022
Facilitator: Jessica Cheng

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Ryan Cahela (RyanCahela) took notes at Tuesday's meeting and got pr 3006

[2022-03-25 23:15] JessicaLucindaCheng commented on #918
@blulady This issue has a "role: product" label, so this issue is for Product Managers. If you were looking for a Medium developer issue to work on, I recommend looking for the "label:"Size: Medium" and one of the following role labels: "role: front end" or "role: back end/devOps".

You can see all the filters by role and size in the following cards in the Onboarding infos/links column. (Note: You

[2022-03-25 23:20] JessicaLucindaCheng commented on #2745
Note: I'm self-assigning and working on this issue because it has been over a month and still hasn't been completed even though it is time sensitive.

- Availability: 1 hour
- ETA: Today, March 25, 2022

[2022-03-26 00:05] sherririllingux opened #3011 "Research What Volunteers Want to See in Onboarding Videos"
### Overview

The research is to find out what parts of the onboarding deck volunteers would like to have made into videos so that they could have watched, or send it to a friend, etc. either prior to an onboarding or after. This will go on the website and supplement the onboarding slide deck.

### Action Items

- [ ] Review _Example UXR Interview Instructions_ for inspiration
- [ ] Review _Exampl

[2022-03-26 00:28] kathrynsilvaconway commented on #2926
Availability: about 30 minutes
ETA: within the next 24 hours.

[2022-03-26 03:36] #2727 closed, assigned to luke-karis

[2022-03-26 04:58] JessicaLucindaCheng commented on #2699
# Agenda for Mar 26, 2022

## Prework to prep for the meeting
- [x] Check New Issue Approval `label:"Ready for dev leads"`
- [x] Check on `label:"Status: Help Wanted"`
- [x] Close epics that have all the issues within it completed. Check `label:"epic"`
- [x] Check on any prs with "Changes requested"
- [ ] Check on the following
  - [ ] Front end issues
    - [ ] In Progress column
    - [ ] Questi

[2022-03-26 14:32] JeannyRen commented on #2936
@hangjoyce Thank you so much for your help!!!!!! You have helped a lot with speeding up this process. It is much appreciated. I will remove the update label for you. You can ignore the github-bot.

[2022-03-26 15:12] #2942 closed, assigned to scarter31191

[2022-03-26 15:43] JeannyRen commented on #2936
Update @Providence-o :

Thank you for the update. I have gotten back to them. Thank you also for providing the reasoning behind the design decisions. That was very useful. Let's see what happens :-)

[2022-03-26 16:23] scarter31191 commented on #2902
Availability for this week: 3/26, 3/27
My estimated ETA for completing this issue: 3/27

[2022-03-26 18:38] frankstepanski commented on #2669
Availability for this week: Saturday and Sunday afternoon
My estimated ETA for completing this issue: By or before Sunday 1pm EST

[2022-03-26 19:44] SAUMILDHANKAR commented on #2607
## Mar 26, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-03-26 20:07] SAUMILDHANKAR commented on #2701
@riddle015 Hi Hiram, I see that you have already provided weekly progress reports in your good second issue, so you can check off that action item at top. Also, feel free to close this issue if all the remaining items are complete. Thank you.

[2022-03-26 20:29] SAUMILDHANKAR commented on #2638
@Gorck1416 Good job in finishing all the action items in this pre-work checklist (including the weekly progress report). Please check-off the pending action item and close this issue. Thank you.

[2022-03-26 21:01] SAUMILDHANKAR commented on #2839
@A-BMT02 Just wanted to remind, you can use issue #2656 to provide weekly progress report and close this issue. Thank you.

[2022-03-26 21:07] A-BMT02 commented on #2656
Progress: Done with the checklist and awaiting final review
Blockers: No difficulties
Availability: Whole weekend
ETA: Done and awaiting review

[2022-03-26 21:14] JessicaLucindaCheng opened #3016 "Partners: Change the image for Los Angeles County Homeless Initiative"
### Overview
As a developer, I want the logos for our partners to be up to date so that
- we maintain professionalism on our website and
- are consistent with the current logos the partners use for themselves.

For this issue, we will replace an old partner logo image with a new one.

### Action Items
- [x] Remove `real-help-lasting-change.svg` from `assets/images/partners` directory
- [x] For the

[2022-03-26 21:15] #2839 closed, assigned to A-BMT02

[2022-03-26 21:16] A-BMT02 commented on #2839
@SAUMILDHANKAR
Done and Closed issue
Thanks!

[2022-03-26 21:20] SAUMILDHANKAR commented on #2937
@phuonguvan Steve is still working on this issue. Once the pending action items are checked-off, this issue would be closed. Thank you.

[2022-03-26 21:28] scarter31191 commented on #2937
I'm done with this issue. How do I close this issue?

[2022-03-26 21:32] #2837 closed, assigned to greylaw89

[2022-03-27 05:36] Sparky-code opened #3018 "CONTRIBUTING.md: Additional Column Filtering Description in Section 2.2"
### Overview

As a developer, I would like to clarify the process for choosing new issues to work on, so that higher priority issues can be worked upon first.

### Details

Feedback from new members found that practice for choosing most time sensitive issues wasn't entirely clear. This issue aims to reiterate the best practice.

### Action Items

- [x] Add the text specified below to the bottom of

[2022-03-27 06:51] SAUMILDHANKAR commented on #2675
@JessicaLucindaCheng Thanks for writing the issue. My suggestions:
- We could go for a shorter title like "Fix question mark error on Wins page" or something similar. I remember from our team meetings to make titles succinct.
- I would also suggest adding the following points as reminders in the action items (this might help avoiding accidental changes to the production script)
    - make copies o

[2022-03-27 08:44] #2745 closed, assigned to JessicaLucindaCheng

[2022-03-27 09:49] phuonguvan commented on #2612
1. Progress: Finish 3 alt texts, waiting for review
2. Blockers: Confused if I am changing the alt of the title or information below it
3. Availability: All week
4. ETA: 2 weeks

[2022-03-27 13:57] JackieRiley1 commented on #2663
Progress:
The True Intent survey has been updated to reflect any changes from previous conversations. The document includes comments based on our discussion from the UX research team. All questions posed have been answered.

I have also created a spreadsheet which states the requirements for the survey and some commercial options. The analytic integrations will depend on the survey platform select

[2022-03-27 15:33] frankstepanski commented on #2669
There already is a nosql.svg in the google drive, can I just use that one?

Progress: Asked @SAUMILDHANKAR a question on the existing NoSQL.svg file in google drive.
Blockers: Waiting for clarification and then will complete.
ETA: Today

[2022-03-27 15:56] JessicaLucindaCheng commented on #2745
@allthatyazz Updates have been made to https://www.hackforla.org/projects/design-systems. Leave a comment below to let me know if updates look good to you or if you need additional changes. Thanks.

![updated-design-systems-page](https://user-images.githubusercontent.com/31293603/160218744-35eb4d4c-96f7-481c-b617-802e8d1b40ff.png)

[2022-03-27 15:57] JessicaLucindaCheng commented on #2745
@allthatyazz Updates have been made to https://www.hackforla.org/projects/design-systems. Leave a comment below to let me know if updates look good to you or if you need additional changes. Thanks.

![updated-design-systems-page](https://user-images.githubusercontent.com/31293603/160218744-35eb4d4c-96f7-481c-b617-802e8d1b40ff.png)

[2022-03-27 16:03] JessicaLucindaCheng commented on #2669
@frankstepanski Since you are working on this issue, please move it to the In Progress column. Thanks.

[2022-03-27 19:16] #2638 closed, assigned to Garcia1416

[2022-03-28 00:35] sherririllingux opened #3019 "Add More Detail About the Scope of HfLA"
### Dependency
Homepage/About page launch

### Overview
We need to provide information about the scope of Hack for LA's activities, including working with  City of LA and other organizations/networks.

### Details
This was a requirement surfaced during [Homepage Redesign Research](https://github.com/hackforla/website/wiki/Homepage-redesign-research) conducted April 2021 - July 2021

### Action Ite

[2022-03-28 00:40] JessicaLucindaCheng commented on #2027
For next Sunday agenda, revisit resolving merge conflict demo and do it more completely.

[2022-03-28 00:44] JessicaLucindaCheng commented on #2010
Next agenda: Should we revisit resolving merge conflict demo and do it more completely?

[2022-03-28 01:19] JasonY188 commented on #2750
All tasks are completed.

[2022-03-28 01:19] #2750 closed, assigned to JasonY188

[2022-03-28 06:14] poorvi4 commented on #3016
Availability: March 27th, 10:00-11:00 pm
Estimated time needed: 3 hours

[2022-03-28 06:26] JessicaLucindaCheng commented on #3016
@poorvi This issue is not ready to be worked on. I will be un-assigning you from this issue. Please pick and work on a Small issue from the Prioritized Backlog column. Here is more information on where to find issues to work on: https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#23-where-can-i-find-github-issues-to-work-on

[2022-03-28 06:34] poorvi4 commented on #3016
Ah ok that makes sense and thank you!

[2022-03-28 06:52] poorvi4 commented on #2939
Availability: Monday, Wednesday, Thursday 9-11 pm
Estimated time to complete: 5 hours (not familiar with github automations)

[2022-03-28 15:38] tamara-snyder commented on #2141
Progress: I've read up on how Liquid injections can occur and located files where data is read from JSONs on the site and whether they use uri_escape. I still need to look through all the JSON data and gain a clearer understanding of how it is used on the site.
Blockers: None
Availability: 4 hours
ETA: April 10, 2022

[2022-03-28 15:41] #2926 closed, assigned to kathrynsilvaconway

[2022-03-28 17:25] Sparky-code commented on #2061
Progress Update: Found more relevant info as I was reading through resources, synthesize and summarize is taking longer than I thought.
Avail. ~1hr/day M-F (Plus on call on wedneday
ETA: This friday 4/01
Potential Blockers: creating a clear document from a lot of new information in a timely manner, dont expect this to be the case.

[2022-03-28 22:33] zzhoje commented on #2037
Progress: Problem, Solution, Impact drafts written up until Civic Tech Infrastructure
Blockers: None
Availability: 6 hours
ETA: Ready for Mar 28th meeting

[2022-03-28 23:56] SAUMILDHANKAR commented on #2669
@frankstepanski Hi Frank, sure, you can use the file that is already in the google drive. Thanks for checking.

[2022-03-29 01:42] #2902 closed, assigned to scarter31191

[2022-03-29 03:54] KazushiR opened #3021 "Add the following text to `_projects/jobs-for-hope.md`"

[2022-03-29 03:55] #3021 closed

[2022-03-29 07:17] #2941 closed, assigned to kathrynsilvaconway

[2022-03-29 21:53] SAUMILDHANKAR commented on #2010
### Agenda for March 29, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next perso

[2022-03-29 22:07] SAUMILDHANKAR commented on #2027
Survey results for team meeting link preference:
Total 14
Members using team meeting link from Google calendar (7): Ben, Sarah, Saumil, Jessica, Carlos, Kathryn, Steve
Members using team meeting link from Slack (4): Utkarsh, Tamara, Frank, Adolf
Members using team meeting link from Join us wiki (0)
Members using team meeting link from project board (0)
No response 3

[2022-03-29 23:18] SAUMILDHANKAR commented on #2010
Added to our agenda.

[2022-03-29 23:18] cwvivianlin commented on #1789
I am having difficulty recruiting the type of user I want. I sent out the Calendly link on Slack yesterday, so far no one has signed up.

I would like to recruit someone who is interested in sharing what've they've learned as a volunteer (the idea is that if they are interested in sharing, they are the people who might submit a Win). Doesn't matter if they are current or past volunteers. 5 total w

[2022-03-29 23:22] #2656 closed, assigned to A-BMT02

[2022-03-30 00:16] JessicaLucindaCheng commented on #2806
Reopening this issue because the requested changes have not been implemented by a new developer.

[2022-03-30 00:25] JessicaLucindaCheng commented on #2699
# Agenda for Mar 29, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [ ] Proposed change to pre work
    - [x] Progress through issues with increasing complexity in the following order:
        - Good first issue (you should wo

[2022-03-30 00:29] SAUMILDHANKAR commented on #2699
# Agenda for MMM DD, YYYY

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items

## Items carried over from last meeting (things we didn't have time for)

## New items
- [ ] Proposed change to pre work
    - [ ] Progress through issues with increasing complexity in the following order:
        - Good first issue (you should wo

[2022-03-30 06:30] JessicaLucindaCheng commented on #2317
- Issue and pr review ETA to see where this issue is at: Wed, Mar 30

[2022-03-30 08:49] abenipa3 commented on #1630
# Update 3/30/22

Progress:
- Formatted Markdown file to match Google Doc.
- Working on moving the files into HfLA repo.

Blockers: N/A

Availability: 8 hours

ETA: 3/31/22

[2022-03-30 17:59] ghost commented on #2589
Progress: Transcribing Bonnie's interview this week.
Blockers: Health issue last week derailed of meeting this deadline.
Availability: 6-7 hours
ETA: This will be completed before next week.

Resources:
https://docs.google.com/document/d/1kj8wWrykXJiE5RJk4S-iJNgJXrXm9kocV84QJ0ZcdlI/edit

[2022-03-30 18:58] sacamp commented on #1797
## 2022-03-30 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-03-30 19:07] Sparky-code commented on #2061
@hackforla/website-merge

[Link to folder in H4LA Drive](https://drive.google.com/drive/u/3/folders/1QOO7At0y6gDJtCD-ius4SauYdpkJJ3W8)

[Link to Write-up](https://docs.google.com/document/d/1U390nhv2zgftuCdJ5UCGNeWuQAjhDYQck3-icaY0gH0/edit#heading=h.m6f5w51lv4kh) [Additional Resources]
[Link to Spreadsheet](https://docs.google.com/spreadsheets/d/10-c3jpf4vtXKcwLiBC4Z3wqN777xlxbErHS4QNq-e8o/edit#gi

[2022-03-30 19:18] sacamp commented on #1789
@cwvivianlin please add the recruitment messaging to a comment in this issue.
Then, @ExperimentsInHonesty can use the text to message the general slack channel.
Additionally, we can reach out directly to individuals. Lets discuss this [spreadsheet](spreadsheet) at our next meeting.

[2022-03-30 19:30] sacamp commented on #2663
@JackieRiley1 we have made some adjustments to your spreadsheet and have added some potential survey options. Can you go through these options, as well as any other potential survey options you know of, and do a competitor analysis of the features of each, noting them on the spreadsheet?

[2022-03-30 20:12] ExperimentsInHonesty commented on #3005
@sherririllingux - I can't evaluate this issue until I understand what the recommendations that led to this being added to the spreadsheet are.  The action required was to look at the research and determine what exactly was being asked.  At this point, we don't even know if an issue is required.

[2022-03-30 20:17] dionw412 commented on #2309
Progress: Revised research plan to target corporate donors
ETA: March 30, 2022

[2022-03-30 20:36] ExperimentsInHonesty commented on #3019
An item that I already know is missing, is details about our leadership.  Board of Directors, team leads, etc.  It's hard to tell if we are an inclusive organization in name only.  Meaning, we talk about it on the about page, but a visitor has no way of knowing it's true because they can't see our pictures.

[2022-03-30 20:46] sacamp commented on #2498
### Meeting: 3/30/22

### Things to discuss:

- [ ] Team photo for Summer's research!
- [ ] Review the project board as a guide for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=

[2022-03-30 21:07] summerharveyux commented on #2763
Progress: Bonnie has shared the flyer with 8 teams, and 3 teams have uploaded images as of 3.30 ( the same # of teams and uploaded images as of last week). There are 16 teams left for Bonnie to reach out to. Last week, (3.23 UX meeting) discussed with @sacamp that I don't need all the screenshots from all the teams in order to run the preference test. We discussed that I can potentially run the pr

[2022-03-30 21:15] cwvivianlin commented on #1789
@ExperimentsInHonesty This is the recruiting message, thank you for posting on the general slack channel:

Hi! I am a UX researcher on the HfLA website team. I am conducting user research on the “[Wins](https://www.hackforla.org/wins/)” page:trophy:, which features volunteer achievements in their own words (it could be gaining cross-function collaboration experience, etc. Wins don't have to be get

[2022-03-30 21:54] answebdev commented on #2455
- Progress: Worked on and finished CSS according to Figma design; need to work on CSS for smaller screen sizes
- Blockers: Though I mostly worked on the CSS since the last Progress Report, I still need to work on getting the dropdown items into in separate `.yml` files and getting this to work (as of now, the dropdown items _are_ in separate `.yml` files, but my blocker is getting everything to wo

[2022-03-30 21:59] A-BMT02 commented on #2392
Availability for this week: 6hrs
My estimated ETA for completing this issue:  Next Weekends(Saturday or Sunday)

[2022-03-30 22:12] #2354 closed, assigned to 7kram

[2022-03-30 22:36] JessicaLucindaCheng commented on #2317
The homepage has been implemented completely but will make new issues to address the following:
- [ ] Program Area images should be `alt=""` and is related to issue #2354. The alt text also impacts the images on the Program Areas page.
- [ ] Infinity symbol should have a descriptive alt text.
- [ ] Communities of Practice section images should have `alt=""` and `/` from the end of the img tag.

[2022-03-30 22:37] JessicaLucindaCheng commented on #2317
@phuonguvan The Homepage has been implemented completely except for some alt text related changes that need to be made and can be addressed in separate issues. Thus, I'm closing this issue.

[2022-03-30 22:37] #2317 closed, assigned to arghmatey

[2022-03-31 00:39] JessicaLucindaCheng commented on #2689
#### Onboard Adolf Schmuck to Merge Team
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation
  - [ ] Acceptance
  - [ ] Add to vaults
    - [ ] hackforla.org website vault
    - [ ] Zoom vault
    - [ ] website devs vault
- [x] Google Drive
  - [x] Add to HackforLA.org website drive as Manager
  - [x] Add to HfLA website Admin dri

[2022-03-31 02:05] #2089 closed, assigned to RyanCahela

[2022-03-31 02:37] kathrynsilvaconway commented on #2641
ETA: Before 6pm on 4/02/2022
Availability: 9am-12pm on Sat, 4/02.
*Likely it will be done by tomorrow night, but Sat is the time I can commit to.

[2022-03-31 08:02] #2290 closed, assigned to harshitasao

[2022-03-31 17:25] JeannyRen commented on #2936
@Providence-o, @ExperimentsInHonesty, @allthatyazz. The SoGoSurvey platform team has approved the credit reference as is. So we can proceed :-)

[2022-03-31 18:46] phuonguvan commented on #2612
1. Progress: Finish all alt texts, waiting for review
2. Blockers: Not sure if all of them are correct
3. Availability: All week
4. ETA:

[2022-03-31 18:53] JessicaLucindaCheng commented on #2061
@Sparky-code I don't have access to this document: [Link to Write-up](https://docs.google.com/document/d/1U390nhv2zgftuCdJ5UCGNeWuQAjhDYQck3-icaY0gH0/edit#heading=h.m6f5w51lv4kh) [Additional Resources]

Please make sure the document is in the `HackforLA.org website` Google Drive.

[2022-03-31 19:32] ExperimentsInHonesty commented on #3016
@JessicaLucindaCheng is this ready for me to put a milestone on it?  Not sure why its still in draft

[2022-03-31 19:39] phuonguvan commented on #2936
@JeannyRen Great! We'll hand this to the development team and keep you informed.

[2022-03-31 19:41] ExperimentsInHonesty commented on #2699
Please make an issue for development from this https://github.com/hackforla/website/issues/2936

[2022-03-31 19:42] ExperimentsInHonesty commented on #2607
Follow up with this
- Please make an issue for development from this https://github.com/hackforla/website/issues/2936
- The citizen engagement page has been reviewed, and we are ready for issues to get made for development, see https://github.com/hackforla/website/issues/2570

[2022-03-31 19:45] ExperimentsInHonesty commented on #2501
@ilashi Can you provide an update that includes when you think you will have this completed?

[2022-03-31 19:49] ExperimentsInHonesty commented on #2613
@ememercy21 we never got an update on this issue from you, so we are assuming you are off the project.  If you do want to rejoin, just message us in the slack channel

[2022-03-31 20:07] JessicaLucindaCheng commented on #2699
@ExperimentsInHonesty

Will get that done asap.

[2022-03-31 20:11] #2570 closed, assigned to jenjen26

[2022-03-31 20:26] JessicaLucindaCheng commented on #2689
@SAUMILDHANKAR I'm done editing the templates. Passing this on to you to check if we need to add/modify anything else in the templates: https://github.com/hackforla/website/issues/2689#issue-1105203766.

[2022-03-31 20:44] Sparky-code commented on #2061
@JessicaLucindaCheng Should be good to go, I'd mixed up the google account I was working from. Theres a Design Systems folder in the drive under audits that I've added a link to in my initial comment

[2022-03-31 21:34] JessicaLucindaCheng commented on #2936
@phuonguvan

- Is there a link to the Figma design for the SoGoSurvey credit?
- Also, from https://github.com/hackforla/website/issues/2936#issuecomment-1076770029,  I noticed the following from the image.

<details>

  <summary>Click here to see image I am referring to</summary>

  ![image](https://user-images.githubusercontent.com/97491889/159786181-66206938-fc2a-4a46-9d9d-c01586936b55.png)

</d

[2022-03-31 21:50] JessicaLucindaCheng opened #3022 "Credits page: Add SoGoSurvey for the Design Systems team"
### Overview
As a member of Hack for LA, I want to add SoGoSurvey to the [Credits page](https://www.hackforla.org/credits/) so that the Design Systems team will have access to SoGoSurvey's Plus plan for free. For this issue, we will update the [Credits page](https://www.hackforla.org/credits/) to include a new type of credit and add SoGoSurvey to the page.

### Screenshots
Below are screenshots of

[2022-03-31 22:25] hangjoyce commented on #2936
@JessicaLucindaCheng Hi Jessica, I was the designer of this issue. Thank you for pointing out the typo and the link, I fixed it. You can find the design in Hack for LA Website Figma file > Issac's Page > Credit Page. The new design (both web and mobile ver) is in the blue box on the Credit Page. Please let me know if you had problem finding it.

[2022-03-31 23:33] SAUMILDHANKAR commented on #2689
@JessicaLucindaCheng Thank you. I have added updating On-call spreadsheet to our template. Also, planning to remove setup chrome shortcut action item once you confirm, since it is not applicable to our team.

[2022-04-01 00:55] JessicaLucindaCheng commented on #2689
@SAUMILDHANKAR

I'm not sure what setup chrome shortcut refers to, so you could ask Bonnie about it before you delete it.

[2022-04-01 01:56] SAUMILDHANKAR commented on #2699
# Agenda for Mar 31, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [ ] Divide up any tasks from the [Dev/PM Agenda](https://github.com/hackforla/website/issues/2607)

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] FYI:  https://docs.google.com/spreadsheets/d/1uq65QGw

[2022-04-01 02:05] scarter31191 commented on #2625
Availability:  4/1 - 4/4
ETA:  4/4

[2022-04-01 02:18] kathrynsilvaconway commented on #2641
Test adding this image to my issue
![add_pr_to_pb](https://user-images.githubusercontent.com/81049661/161181526-23ae511c-e991-4cc6-a0a4-d8db19dd69ca.png)
:

[2022-04-01 05:59] JessicaLucindaCheng opened #3023 "Homepage redesign: Add anchor to Get In Touch section"
### Overview
As a developer, I want to be able to go directly to the Get In Touch section on the redesigned homepage so that I can quickly and easily go to that section without scrolling. For this issue, we will add an anchor to the Get In Touch section.

### Details
<details>
  <summary><h4>Screenshot of Get in Touch Section on the Redesigned Homepage</h4></summary>
  <img width="949" alt="get-in

[2022-04-01 17:05] JeannyRen commented on #2936
@cunninghamej Hereby the process with regards to the access to the SoGoSurvey Plus program. Once the reference is online I can contact the SoGoSurvey team and include the necessary details :-)

[2022-04-01 22:37] JessicaLucindaCheng commented on #2775
- Progress: All the issues have been written but now I need to add a dependency to all the issues.
- Blockers: Still a little confused as to what to do with this epic, especially with additional action items.
- Availability: Not sure.
- ETA: Tue, April 12, 2022

[2022-04-01 22:47] JessicaLucindaCheng commented on #2555
Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Blank SCSS page was added.
Blockers: None
Availability: 6 hours
ETA: Tue, April 26, 2022

[2022-04-01 22:49] JessicaLucindaCheng commented on #2746
Progress: Have started second draft of page but not done with editing it yet
Blockers: none
Availability: Not sure
ETA: Tue, Apr 26, 2022

[2022-04-01 22:51] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress as I'm trying to get through all the issues I need to write and prioritizing issue writing for now.
Blockers: None
Availability: Maybe 2 hours for this
ETA: Hopefully, April 7, 2022

[2022-04-01 23:05] JessicaLucindaCheng commented on #3022
**Questions for PMs During Dev/PM Meeting**
- [x] Confirming we are downloading the logo from https://www.sogosurvey.com/static/ONLINE-SURVEY-IMAGES/ONLINE-SURVEYS-COMMON/logoM.png? Yes
- [x] I saw this in the Figma design:
  <img width="511" alt="sogosurvey-logo-text" src="https://user-images.githubusercontent.com/31293603/161399053-3da25799-62a8-4a77-b83b-08fb02563ef6.png">
  This may be confusi

[2022-04-01 23:28] SAUMILDHANKAR commented on #2699
# Agenda for Apr 02, 2022

## Prework to prep for the meeting
- [x] Check New Issue Approval `label:"Ready for dev leads"`
- [x] Check on `label:"Status: Help Wanted"`
- [x] Close epics that have all the issues within it completed. Check `label:"epic"`
- [x] Check on any prs with "Changes requested"
- [x] Check on the following
  - [x] Front end issues `label:"role: front end"`
    - [x] In Progre

[2022-04-01 23:56] #2384 closed, assigned to KazushiR

[2022-04-02 01:10] answebdev commented on #2061
Review ETA: 4/1/2022 (end of day)
Availability: 2 hours

[2022-04-02 01:25] answebdev commented on #2061
@Sparky-code After double-checking the instances of the HTML, CSS, or JS code for the `.*-card` (.page-card, .small-card, .project-card, .wins-card) class with the [spreadsheet](https://docs.google.com/spreadsheets/d/10-c3jpf4vtXKcwLiBC4Z3wqN777xlxbErHS4QNq-e8o/edit#gid=1157217661), I found another instance of the `.page-card` class in `_sitemap.scss` (line 33) that is not on the spreadsheet:

htt

[2022-04-02 01:43] Sparky-code commented on #2061
@answebdev nice catch, thanks - just added to the spreadsheet now.

[2022-04-02 01:53] answebdev commented on #2061
@Sparky-code Great! You're welcome.

[2022-04-02 06:14] JessicaLucindaCheng commented on #3016
@ExperimentsInHonesty

It's ready for you to put a milestone on now.

[2022-04-02 06:20] JessicaLucindaCheng opened #3025 "Partners: Change the image for Golden Gate University School of Law"
### Overview
As a developer, I want the logos for our partners to be up to date so that
- we maintain professionalism on our website and
- are consistent with the current logos the partners use for themselves.

For this issue, we will replace an old partner logo image with a new one.

### Action Items
- [x] Remove `ggu-school-of-law.png` from `assets/images/partners` directory
- [x] For the new im

[2022-04-02 08:11] JessicaLucindaCheng opened #3026 "Join Us page: Add anchors to sections Advise Us, Volunteer with Us, and Partner with Us"
### Overview
We need to be able to go directly to the Advise Us, Volunteer with Us, and Partner with Us sections on the [Join Us page](https://www.hackforla.org/join) so that we can link to those sections from the header and footer menus.  For this issue, we will add anchors to those sections.

### Action Items
In [pages/join-us.html](https://github.com/hackforla/website/blob/gh-pages/pages/join-u

[2022-04-02 08:23] JessicaLucindaCheng opened #3027 "Events page: Remove projects from Our Locations section"
### Overview
As a developer, I want to update the Our Locations section on the [Events page](https://www.hackforla.org/events/) so that it reflects Hack for LA going fully remote and no longer doing in-person meetings. For this issue, we will remove projects from the Our Locations section on the [Events page](https://www.hackforla.org/events/) following the new Figma design for it.

### Details

#

[2022-04-02 16:18] harshitasao commented on #2840
Progress: Still haven't done "Progress Report".
Blockers: Facing no blockers.
Availability: Flexible.
ETA: ASAP.
Pictures: N/A.

[2022-04-02 17:39] cwvivianlin commented on #1789
@ExperimentsInHonesty I am refining my script for my first user testing on Monday! I have additional questions. Can you tell me more about what you are trying to get to re: "how people would like to be notified when their win is accepted"? Besides email, is there any other means of notification you had in mind (Slack, etc.)? My thought is to show them a screenshot of a simple email telling them th

[2022-04-02 19:51] SAUMILDHANKAR commented on #2607
## Apr 2, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-04-02 20:30] SAUMILDHANKAR commented on #2701
@riddle015 Hello Hiram, Hope you are doing well. Just wanted to follow up if you are planning to pick up your next issue. Please let us know if your availability has changed. I will leave a slack message about the same as well. Thanks.

[2022-04-02 20:39] SAUMILDHANKAR commented on #2840
@harshitasao Thanks for sharing the update. Hope your exams went well. Please feel free to pick up a medium issue next. Really appreciate your great work.

[2022-04-02 20:51] SAUMILDHANKAR commented on #2940
@Benji-Montgomery Thanks for doing your weekly progress report in your medium issue, you can check off that action item above. Also feel free to check off the remaining items and close this issue once done. Please let us know if you have any questions or need help with any of the pending action items. Thanks.

[2022-04-02 20:53] SAUMILDHANKAR commented on #2502
@Benji-Montgomery Just wanted to follow up regarding your blocker. Please let us know if you have made progress or need help. Thanks.

[2022-04-02 21:03] SAUMILDHANKAR commented on #3004
@PMKnight: Hello Michael, thanks for checking-off some of the action items above, however, I see that you haven't picked up your good first issue yet. Please let us know if you need help with that or if you have any other questions. I will reach out to you on slack as well. Thanks.

[2022-04-02 21:38] SAUMILDHANKAR commented on #2937
@scarter31191 Hi Steve, good job in finishing up with all action items. I just wanted to check if you have already shared a weekly progress report in the following format:
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

I looked up all your issues but couldn't find one. Please let me know if I have missed. Once that is done you can just click close issue button at the bottom of your

[2022-04-02 22:05] ExperimentsInHonesty commented on #2960
The rep from the Noun project said we don't need to make a change when their icon disappears from their collection.

![image](https://user-images.githubusercontent.com/37763229/161402843-d47e6b55-52df-48d1-88ba-705980ceefda.png)

[2022-04-02 22:05] #2960 closed, assigned to nobody

[2022-04-02 22:06] ExperimentsInHonesty commented on #2674
See note [on the https://github.com/hackforla/website/issues/2960](https://github.com/hackforla/website/issues/2960#issuecomment-1086732073)

[2022-04-02 22:06] #2674 closed, assigned to nobody

[2022-04-02 22:28] ExperimentsInHonesty opened #3028 "Confirm with the team lead that they have added you to the zoom meeting calendar invites and GitHub repository"

[2022-04-02 22:46] ExperimentsInHonesty commented on #2728
Technologies: Add AWS

change github to https://github.com/civictechindex/CTI-website-frontend
change wiki to https://github.com/civictechindex/CTI-website-frontend/wiki

add tools: Google docs, Figma, Usability Hub

[2022-04-02 23:39] JessicaLucindaCheng commented on #3022
Temporarily pulling this issue for a day since we may need to change the directions a little bit
- [X] Need to figure out if we can do this issue without moving all the iconography yml files to a new folder --> We can. Changes made to instructions.
- [x] Need to add back `tool-type: survey` to code

[2022-04-03 03:32] harshitasao commented on #2840
Yeah, it went pretty well.

Sure.

[2022-04-03 05:19] frankstepanski commented on #2669
UPDATE
Progress: Have submitted a pull request. Awaiting approval
Blockers: None
Availability: Monday and Tuesday
ETA: Upon PR approval
Pictures: https://github.com/hackforla/website/pull/3030

[2022-04-03 06:54] JessicaLucindaCheng commented on #2936
Link to the development issue for adding SoGoSurvey to the Credits page: #3022

[2022-04-03 09:10] JessicaLucindaCheng commented on #2481
- [x] Is Contact Us is supposed to go to the Get In Touch section of redesigned homepage? Yes
<details>
  <summary>Get In Touch</summary>
  <img width="949" alt="get-in-touch" src="https://user-images.githubusercontent.com/31293603/161420525-bb555ede-ec94-479b-83a2-95b9c6b60c55.png">
</details>

- [ ] Differences between #2455 and #2393. We should be consistent. Which do you prefer? Probably title

[2022-04-03 15:59] cwvivianlin commented on #1789
Progress: I've recruited 3 users! Need 2 more. First user testing starts tomorrow.

[2022-04-03 16:20] SAUMILDHANKAR opened #3031 "Project board performance is too slow/times out/or crashes"
### Overview
As team leads, we would like our project board to be responsive. In order to ask GitHub for help, we need to identify all the types of freezing and crashing so that we can communicate it effectively to GitHub.

### Detail
Anyone who experiences freezing or crashing, should detail their experience, how to replicate and an animated GIF if possible. See examples below for how to document

[2022-04-03 16:31] ExperimentsInHonesty commented on #2728
@JessicaLucindaCheng @SAUMILDHANKAR @tamara-snyder It turns out that the team has two repos and unless we scrape both for the languages, the language display will not be accurate.

Here is the one we are scrapping https://github.com/civictechindex/CTI-website-frontend
Here is the one we also need to scrape https://github.com/civictechindex/CTI-website-backend.

I realize this might require a chang

[2022-04-03 16:34] ExperimentsInHonesty commented on #2728
See this issue comment for latest team member updates
https://github.com/civictechindex/CTI-website-frontend/issues/1062#issuecomment-1086903518

Updated the above comments with the latest team members as well.

[2022-04-03 16:39] ExperimentsInHonesty commented on #2027
Please check this at the end of your team meeting today https://github.com/hackforla/website/issues/2728#issuecomment-1086903359 - hopefully they have updated by then.

[2022-04-03 17:16] elizabethhonest opened #3032 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-04-03 17:17] #2993 closed, assigned to phuonguvan

[2022-04-03 19:04] JessicaLucindaCheng commented on #2061
@JessicaLucindaCheng
Availablity: 6 hours
Review ETA: Tue, April 5, 2022

[2022-04-04 03:41] luke-karis commented on #2901
Updated ETA and Availability:
ETA: April 8
Availability: Monday, Tuesday, Wednesday, Thursday 4-5/5:30 pm
Progress: Started working on figuring out what the issue is
Blockers: none

[2022-04-04 22:58] A-BMT02 commented on #2392
Blocker : How do i get the graphics below ?
Should i make it using CSS or its provided somewhere ?

![Screenshot (179)](https://user-images.githubusercontent.com/30394037/161645885-6e1bb21e-f4a2-48a7-81e4-7e228a0d8fad.png)

The design is on figma https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=11166%3A91022

[2022-04-04 23:11] KazushiR commented on #3025
I will go ahead and start working on this issue.

[2022-04-05 03:43] #2764 closed, assigned to Jaretzbalba

[2022-04-05 15:24] #2669 closed, assigned to frankstepanski

[2022-04-05 17:06] #2641 closed, assigned to kathrynsilvaconway

[2022-04-05 17:37] Providence-o commented on #2212
## 2022-04-05 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-04-05 17:42] Providence-o commented on #2698
Date: 2022-04-05
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (open:   4   / closed:  19    )
   - [x] size, ending at (op

[2022-04-05 18:06] Providence-o commented on #2607
New Item for next agenda

Product

- [ ] Talk about the wiki and receive status updates on progress that has been made since last review
- [ ] The 'size missing' label automation is not working for the Prework issues. See example [here](https://github.com/hackforla/website/issues?q=is%3Aissue+-label%3A%22Size%3A+Good+second+issue%22+-label%3A%22Size%3A+Large%22+-label%3A%22Size%3A+Medium%22+-label

[2022-04-05 19:23] ExperimentsInHonesty commented on #525
![screencapture-hackforla-org-2022-04-05-12_15_42](https://user-images.githubusercontent.com/37763229/161832703-c1bd974b-29fc-4231-91c9-8e33982fa5bd.png)

[2022-04-05 21:52] ExperimentsInHonesty commented on #525
![screencapture-hackforla-org-about-2022-04-05-14_51_50](https://user-images.githubusercontent.com/37763229/161855857-c597fb9e-c5df-417d-a6a4-8d635f47db39.png)

[2022-04-05 22:03] JessicaLucindaCheng commented on #3022
@Jaretzbalba
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

Also, I added a link at the bottom of the Resources section for the Liquid templating language that is used by Jekyll.

[2022-04-05 22:29] SAUMILDHANKAR commented on #3018
@Sparky-code Just wanted to share with you some of the formatting edits I made to the issue:
- Enclosed your note in triple backticks, to create a fenced code block which is easier to copy
- Added your image to a collapsible dropdown

Thanks again for writing the issue.

[2022-04-06 01:08] iilashi commented on #2501
Progress: WIP
Blockers: None
Availability:
ETA: TBD

**Notes:**

![image](https://user-images.githubusercontent.com/92768477/161874777-61086965-9ca7-4260-bf28-1bea2156a03d.png)
![image](https://user-images.githubusercontent.com/92768477/161874905-2998402b-c5e5-4b21-b990-2eb4b40eea32.png)

A *red star has been added next to any page titles that don't have existing pages to match them. Meaning there

[2022-04-06 01:31] JessicaLucindaCheng commented on #3025
@KazushiR
- At the time you self-assign an issue, please move this issue to the In Progress column.
- At the time you self-assign an issue, make sure to write in a comment the following:
  - Availability: "How much time will you have this week to work on this issue?"
  - ETA: "When do you expect this issue to be completed?"

[2022-04-06 01:36] JessicaLucindaCheng commented on #2392
@A-BMT02 When you have a blocker or question, in addition to asking your question in a comment in your issue, please post in the hfla-site channel on Slack your blocker or question so that we know you have a blocker. We may miss your question/blocker if you just post it in a comment in GitHub.

[2022-04-06 01:57] kathrynsilvaconway commented on #2934
Availability: 5-6 hours
ETA: End of the day on 4/10

[2022-04-06 02:00] JessicaLucindaCheng commented on #2392
@ExperimentsInHonesty
On the current website, the graphics for the green donation circles is an svg image. Did you want the green circles to still be an image or did you want it changed to be using scss and code?

[2022-04-06 03:33] JessicaLucindaCheng commented on #2061
@Sparky-code Good job with the write-up and identifying all the cards.
- [x] I left comments and suggestions in your [Write-up](https://docs.google.com/document/d/1U390nhv2zgftuCdJ5UCGNeWuQAjhDYQck3-icaY0gH0/edit#heading=h.m6f5w51lv4kh). Please take a look in the Doc.
- [ ] As for the [Spreadsheet](https://docs.google.com/spreadsheets/d/10-c3jpf4vtXKcwLiBC4Z3wqN777xlxbErHS4QNq-e8o/edit#gid=1157217

[2022-04-06 03:34] JessicaLucindaCheng commented on #2061
@SAUMILDHANKAR @tamara-snyder Could you also do a review of the write-up and spreadsheet? The links are in this comment https://github.com/hackforla/website/issues/2061#issuecomment-1083518792. Mostly, I'm not exactly sure what columns should be in the spreadsheet. (See my comments/review: https://github.com/hackforla/website/issues/2061#issuecomment-1089749420.)

[2022-04-06 04:29] JessicaLucindaCheng commented on #2746
To ask PM about [Web Developer](https://github.com/hackforla/website/wiki/Web-Developer) wiki page:
- [x] I wanted to include a link to [Software Lifecycle Diagram](https://drive.google.com/file/d/1emxhYv9N6KuCVrG-gnqkqHdGnjhm_Qvb/view?usp=sharing). Did this get moved? I don't have access.
- [ ] Question about:

Does a link to [Being a Part of the Hack for LA Team](https://github.com/hackforla/web

[2022-04-06 06:08] harshitasao commented on #2592
ETA : one week
Availability : Flexible

[2022-04-06 16:50] Sparky-code commented on #2061
@JessicaLucindaCheng Thanks for all the great feedback. I've gone through the [write up](https://docs.google.com/document/d/1U390nhv2zgftuCdJ5UCGNeWuQAjhDYQck3-icaY0gH0/edit#heading=h.m6f5w51lv4kh) in response to your comments and made a [template ](https://docs.google.com/spreadsheets/d/10-c3jpf4vtXKcwLiBC4Z3wqN777xlxbErHS4QNq-e8o/edit#gid=1333195431)in the spreadsheet. I had a few questions base

[2022-04-06 19:41] ExperimentsInHonesty commented on #3025
@KazushiR

Please respond to Jessica's message above https://github.com/hackforla/website/issues/3025#issuecomment-1089629351

[2022-04-06 20:02] ExperimentsInHonesty commented on #3031
Image of trying to move an issue from one column to another with a timer
![screenrecordtest7](https://user-images.githubusercontent.com/37763229/162060917-2b9e405b-5480-41ef-acda-f665f199e7a1.gif)

[2022-04-06 20:09] ExperimentsInHonesty commented on #3031
Image showing that the board goes into a cycle of loading when you use the scroll bar (starts 16 seconds in, and continues to the 1 min mark)
![screenrecordtest8](https://user-images.githubusercontent.com/37763229/162061991-f7d7d02d-9961-43df-aada-20859e246d6f.gif)

[2022-04-06 20:10] JessicaLucindaCheng commented on #2061
I don't know if that makes the most sense. For me, I think it makes more sense to look at each card on a page and audit it that way. For reference, this was the issue from the button audit: https://github.com/hackforla/website/issues/1921. I think the goal for this issue (in terms of the spreadsheet) is similar but for cards. Also, I think your audit may need to include HTML.

We should ask Bonnie

[2022-04-06 20:11] ExperimentsInHonesty commented on #3031
The speed test on the computer  for the above screenshots
![image](https://user-images.githubusercontent.com/37763229/162062603-8626c12e-3b04-44c4-a14c-1d52f8992f9c.png)

[2022-04-06 20:19] KazushiR commented on #3025
[code]

[2022-04-06 20:42] JessicaLucindaCheng commented on #2211
Note: All the issues to change the Overview links are completed. The only remaining action items are to check that all overview links that appear on the homepage work the same way and to add a link and note to the homepage launch issue https://github.com/hackforla/website/issues/2481

[2022-04-06 20:48] JessicaLucindaCheng commented on #1630
@alyssabenipayo Please provide an update (progress, blockers, availability, eta). Thanks.

[2022-04-06 20:51] JessicaLucindaCheng commented on #2455
@answebdev Do you need help with your blocker?

[2022-04-06 20:52] JessicaLucindaCheng commented on #2173
@1anya1 Please provide an update that includes Progress, Blockers, Availability, and ETA. Thanks.

[2022-04-06 20:52] abenipa3 commented on #1630
Thanks, Jessica.

Progress:

- Moved files into repo. Resolving issue with SCSS file after moving (styling doesn't show in the file.)
- If not able to resolve by today, will reach out during tomorrow's office hours.

Blockers: SCSS issue as mentioned above. Otherwise, none.

Availability: 8 hours

ETA: 4/8/22

[2022-04-06 20:54] JessicaLucindaCheng commented on #2027
### Agenda for Apr 10, 2022
Facilitator: Jessica Cheng

- [x] Ask design before going to break out rooms about green circles https://github.com/hackforla/website/issues/2392#issuecomment-1089659051
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

[2022-04-06 20:58] JessicaLucindaCheng commented on #2999
@RyanCahela Please provide an update on your progress on this prework checklist. Let us know if you have questions or need help.

Edit: Sent a Slack message and an email on Wed, Apr 6, 2022 as well.

[2022-04-06 21:19] JessicaLucindaCheng commented on #2985
@fernandoqueue Please provide an update on your progress on this checklist. Also, did you have any questions in regards to this prework checklist?

Edit: Sent a Slack DM and an email on Wed, Apr 6, 2022 as well.

[2022-04-06 21:19] JessicaLucindaCheng commented on #2964
@poorvi4 Please provide an update on your progress on this prework checklist. Let us know if you have questions or need help.

Edit: Sent a Slack DM and email on Wed, Apr 6, 2022 as well.

[2022-04-06 21:20] Jaretzbalba commented on #3022
Availability: 4hrs
ETA: Wed 4/13/2022

[2022-04-06 21:20] JessicaLucindaCheng commented on #2141
@tamara-snyder
Please give a progress report in a comment in this issue. See what you need to include in your progress report and more information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue)

[2022-04-06 21:21] JessicaLucindaCheng commented on #2634
@blulady
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-04-06 21:22] JessicaLucindaCheng commented on #2939
@poorvi4
Please give a progress report in a comment in this issue. See what you need to include in your progress report and more information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue)

[2022-04-06 22:05] answebdev commented on #2455
@JessicaLucindaCheng Yes, I think I do. Basically, I have the navbar redesign finished and working according to the Figma designs (see below). But what I'm stuck on is getting the dropdown items into separate `.yml` files like we previously talked about. As of now, all of the navbar items and their dropdown items are in one file (`main.yml`), and it works, as you can see below. But when I tried cr

[2022-04-06 23:43] JessicaLucindaCheng commented on #1630
@alyssabenipayo We don't have office hours nor meetings the 1st through 7th of every month because it is a planning week.

For your blocker, did you import it to [_sass/main.scss](https://github.com/hackforla/website/blob/gh-pages/_sass/main.scss)?

[2022-04-06 23:49] JessicaLucindaCheng commented on #2455
@answebdev Don't worry about writing issues for the anchors because I am writing them already. I will provide you with what the anchor links should be so you can still add them to your code (but since the anchors aren't implemented on the webpages it just won't jump to the specified sections).

I'll get back to you on your blocker about the separate yml files for the menu and let you know about th

[2022-04-07 00:39] blulady commented on #2634
Thanks Jess.
Availability: 8 hours
ETA: Wednesday 4.13.22

[2022-04-07 00:40] SAUMILDHANKAR commented on #2607
Pending tasks from previous agenda (Saumil):
- [x] Create an issue to fix a problem with the BOP project and any other project that cannot put a hack-for-la topic tag on itself see these comments for details - Saumil will take a look at it.
   - https://github.com/hackforla/website/issues/2605#issuecomment-997477244 - hack-for-la topic figure out how it "works for la" does it
   - https://github.c

[2022-04-07 00:53] answebdev commented on #2455
@JessicaLucindaCheng Okay, I'll wait for the anchor tags so that they can at least be in the code. Okay, let me know. Thank you!

[2022-04-07 01:24] JessicaLucindaCheng commented on #2675
@SAUMILDHANKAR I really appreciate you taking the time to give me feedback on writing this issue. I made the requested changes, except I left the title more descriptive because I felt being descriptive and clear was more important than being super succinct. (Though I did shorten the title a bit.)

Please put a `ready for milestone` label on if you think it's ready. Otherwise, let me know what else

[2022-04-07 01:28] JessicaLucindaCheng commented on #2699
# Agenda for Apr 7, 2022

## Prework to prep for the meeting (Jessica plan to complete on Fri)
- [x] Check New Issue Approval `label:"Ready for dev leads"`
- [x] Check on `label:"Status: Help Wanted"`
- [ ] Close epics that have all the issues within it completed. Check `label:"epic"`
- [x] Check on any prs with "Changes requested"
- [ ] Check on the following
  - [ ] Front end issues `label:"role

[2022-04-07 01:33] JessicaLucindaCheng commented on #2770
This was already fixed in the Wiki, so closing this issue.

[2022-04-07 01:33] #2770 closed, assigned to nobody

[2022-04-07 01:48] JessicaLucindaCheng commented on #2934
@kathrynsilvaconway This issue is not ready to be worked on. I will be unassigning you from this issue. Please work on an issue from the Prioritized Backlog. (Below are detailed instructions for how to do that.)

**How to find issues to work on:**
1) In the "Onboarding info/links" column on the far left of the Project Board, scroll down the column until you see the cards that say "Sort by Front-en

[2022-04-07 03:22] tamara-snyder commented on #2141
@JessicaLucindaCheng Oh my goodness, how time flies! So sorry about that. I will write an update now.

[2022-04-07 03:45] tamara-snyder commented on #2141
Progress: I've checked everywhere that JSON data is used on the site. Everything is covered by uri_escape except for a few spots, and it looks like those render data from an already escaped object (I plan on double-checking this because I'm a little confused right now). As far as I can tell from what I've been reading, since we're not dealing with any HTTP, there's not really any other way for an

[2022-04-07 06:36] poorvi4 commented on #2964
Progress: Working on small issue (issue #2939)
Blockers: Not sure how to test github action/workflow on a non- default branch (non-main branch). Template md file does not update when trying to run the github action despite changing the file on a branch.
Availability: 3 hours
ETA: Tonight or tomorrow morning
Pictures: NA

[2022-04-07 09:12] phuonguvan opened #3034 "Project Description Page: Add Problem, Solution, and Impact Section"
### Overview
We need to design an additional section on each individual project page that displays the Problem, Solution, and Impact & SDG info so that development can build the content into the site.

### Details
The content design has already been created (sort of), on the Citizen Engagement page.  But it may or may not fit onto the current width of the project page

### Action Items
- [x] Revie

[2022-04-07 10:17] phuonguvan opened #3035 "About Page: Allowing users to see highlights from each year in the Accomplishments Section"
### Overview
We need to have visitors who see the accomplishments in the about page, be able to understand the full breadth of what we have accomplished over the last two years, while not making the section so huge that no one looks at it.

### Details
- It should be broken up by year
- There should also be a way for product to be able to add the orgs achievements without having to send it back to

[2022-04-07 19:04] JessicaLucindaCheng commented on #2481
@zzhoje I noticed discrepancies in the capitalization of certain words in the menu design for our navigation bar header compared to the menu design for the footer.
<details>
  <summary>Partial Screenshot of Header Nav Bar Design</summary>
  <img width="272" alt="submit-your-pitch-and-get-in-touch-in-nav-header" src="https://user-images.githubusercontent.com/31293603/161420415-2c08c720-7ebc-40b6-8c

[2022-04-07 20:54] #3032 closed, assigned to nobody

[2022-04-07 20:54] #2781 closed, assigned to nobody

[2022-04-07 20:54] #2550 closed, assigned to nobody

[2022-04-07 21:12] #2671 closed, assigned to nobody

[2022-04-07 21:16] ExperimentsInHonesty commented on #803
[New slides](https://docs.google.com/presentation/d/127UC7q5JOgc5oPev4bbEdydchany-rVBkPRn4w6DMek/edit#slide=id.g10c55e2c17c_0_0) were created from this video.
We no longer use the video

[2022-04-07 21:16] #803 closed, assigned to ltung05

[2022-04-07 21:16] Providence-o commented on #2607
Item for next agenda

Product

- [ ] This open issue #2400 is in the Done column. The HackfoLAbot moved it from the New issue approval to the Done column

[2022-04-07 21:18] #2562 closed, assigned to summerharveyux

[2022-04-07 21:19] #2361 closed, assigned to nobody

[2022-04-07 21:32] ExperimentsInHonesty commented on #2272
This seems like a duplicate issue for https://github.com/hackforla/website/issues/2384

[2022-04-07 21:32] #2272 closed, assigned to nobody

[2022-04-07 21:34] #2737 closed, assigned to nobody

[2022-04-07 21:36] ExperimentsInHonesty commented on #2694
@phuonguvan please review this

[2022-04-08 00:28] JessicaLucindaCheng commented on #2455
@answebdev Can you push your code to your topic branch on your remote forked repo? This way I can see your code and try to help you better.

Also, here are the links for the anchors. The links won't jump to the sections yet because that hasn't been implemented on the pages but they should go to the webpage for now. You'll need to modify them for your purposes since I don't think the menus will use

[2022-04-08 01:35] JessicaLucindaCheng commented on #2711
@kathrynsilvaconway At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

Also, please move the issue to the In Progress column.

Also, you only need to do one small issue, which you have already done. If you need to do more than one

[2022-04-08 01:43] JessicaLucindaCheng commented on #2939
@poorvi4 Your comment https://github.com/hackforla/website/issues/2964#issuecomment-1091133534 in the pre-work should be a comment in this issue. Once you have added the progress report to this issue, you can check off the "Progress Reports" check box in your pre-work checklist.

Also, please move this issue to the In Progress column.

@SAUMILDHANKAR Can you help Poorvi with their blocker?

[2022-04-08 02:10] JessicaLucindaCheng commented on #2746
Brainstorming maybe including something like the following in [Being a Part of the Hack for LA Team wiki page](https://github.com/hackforla/website/wiki/Being-a-Part-of-the-Hack-For-LA-Team)

**Junior Developers**
Junior developers should aim for completing the following at a minimum before moving onto another team.
- [ ] Pre-work developer checklist
- [ ] Self-assign and complete
  - [ ] 1 good f

[2022-04-08 05:00] JessicaLucindaCheng commented on #2746
@SAUMILDHANKAR I'm done editing the [Web Developer](https://github.com/hackforla/website/wiki/Web-Developer) wiki page for now. I tried implementing the requests in this https://github.com/hackforla/website/issues/2746#issuecomment-1046104161 while keeping in mind the conversations about the wiki we had during previous meetings, such as making the page shorter and dividing the contents of the page

[2022-04-08 07:05] JessicaLucindaCheng commented on #1338
Closing this issue because instructions for handling good first issue is already part of the CONTRIBUTING.md 2.1 through 2.7.e: [Part 2: How the Website team works with GitHub issues](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#part-2-how-the-website-team-works-with-github-issues)

Also, any improvements or additions can be made as part of the wiki audit: https://github.com/

[2022-04-08 07:06] #1338 closed, assigned to nobody

[2022-04-08 07:40] JessicaLucindaCheng commented on #1630
@alyssabenipayo At the top of this issue, I added an action item to release dependency once this issue is merged.

[2022-04-08 09:36] abenipa3 commented on #1630
@JessicaLucindaCheng Thanks for the reminder. Also, I imported it to _sass/main.scss and it worked. The only thing now is that the content is scattered. Fixing it now. Thank you!

<details> <summary> Preview </summary>

![image](https://user-images.githubusercontent.com/38295612/162409251-5337ecb3-e34d-48ba-962d-ff03a95e387d.png)

</details>

[2022-04-08 17:38] #3025 closed, assigned to KazushiR

[2022-04-08 19:12] #2339 closed, assigned to Carlos-A-P

[2022-04-08 23:59] JessicaLucindaCheng commented on #2689
- Progress: Done editing the template, except for not knowing what the Chrome Extension refers to.
- Blockers: None
- Availability: N/A because this is just an onboarding/offboarding checklist that is an ongoing issue and only done when needed.
- ETA: N/A because this is just an onboarding/offboarding checklist that is an ongoing issue and only done when needed.

[2022-04-09 00:01] JessicaLucindaCheng commented on #2722
- Progress: Some of the issues related to the epic have been written. After I finalize the individual issue format in terms of dependencies, I may put this back into the prioritized backlog for someone else to work on.
- Blockers: None
- Availability: Not sure
- ETA: April 25, 2022

[2022-04-09 01:12] JessicaLucindaCheng commented on #2711
@kathrynsilvaconway Not sure if you saw my comment above: https://github.com/hackforla/website/issues/2711#issuecomment-1092355398

[2022-04-09 01:49] kathrynsilvaconway commented on #2711
@JessicaLucindaCheng Sorry, I actually submitted a PR on this issue last night. There was a typo in my PR, it was linked it to the wrong issue. I just fixed that. I also completely forgot to move the issue to 'in progress.' Dumb little mistakes. I will be more careful going forward.

[2022-04-09 03:05] SAUMILDHANKAR commented on #2607
## Apr 9, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-04-09 03:47] scarter31191 commented on #2625
Progress: Haven't Started The issue yet due to interviews, but now my time is cleared.
Blockers: None
Availability:  3hrs per day
ETA:  4/11
Pictures: No visual changes

[2022-04-09 16:22] SAUMILDHANKAR commented on #2701
@riddle015 Thanks for letting me know that you are planning to take up your next issue in the upcoming week. Also, wanted to check if the pending action items in this issue are complete. If yes, feel free to close this issue. Thanks.

[2022-04-09 16:27] SAUMILDHANKAR commented on #2937
@scarter31191 Thanks for providing your weekly progress update in your latest issue. Looks like all your action items are complete. Great job! Please close this issue by clicking on the close issue button at the bottom of this issue. Thank you.

[2022-04-09 16:33] SAUMILDHANKAR commented on #2964
@poorvi4 Thanks for sharing your update. Just wanted to add that the weekly progress report about your latest issue should be posted on that issue itself. Once you do that, please feel free to close the corresponding action item in the above checklist. Thank you.

[2022-04-09 16:39] SAUMILDHANKAR commented on #3004
@PMKnight Hello Michael, just wanted to follow up if your availability has changed, since haven't heard from you in a while. Please let us know. Will reach out to you on slack as well. Thank you.

[2022-04-09 16:43] ExperimentsInHonesty commented on #2711
@kathrynsilvaconway Sorry for this last min ask... but can you add one more person to the project

Name: Tugba Metinyurt
GitHub handle: Tugba
Role: Researcher
SLACK ID: U02NF293BRQ
@ExperimentsInHonesty Yes, I will add it tonight and push the changes.

[2022-04-09 16:45] SAUMILDHANKAR commented on #3009
@kathrynsilvaconway Just wanted to follow up on one of your pending action items about "Progress through issues with increasing complexity". Please let me know if you have questions about it. If not, feel free to check it off. Thank you.

@SAUMILDHANKAR Hi, I didn't check it off only because I haven't completed a medium issue yet and I thought I was supposed to finish that first. I can check it of

[2022-04-09 16:59] answebdev commented on #2455
@JessicaLucindaCheng Thank you. I've pushed the code to my topic branch on my forked repo. Here is the link to my topic branch: https://github.com/answebdev/website/tree/navbar-redesign

What about the anchor link for "Submit Your Pitch" for the Join Us submenu? Would it be "/#submit-your-pitch"?

[2022-04-09 17:00] SAUMILDHANKAR commented on #2502
@Benji-Montgomery Just wanted to share some of the resources on Jekyll/liquid you might find helpful:
- https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture
- https://jekyllrb.com/docs/liquid/
- https://jekyllrb.com/docs/step-by-step/01-setup/
- https://shopify.github.io/liquid/tags/control-flow/

You can also post your blocker on our slack channel or add help wanted label on

[2022-04-09 17:04] SAUMILDHANKAR commented on #2940
@Benji-Montgomery Please feel free to check off your weekly progress report action item in the checklist above, since you have already done that in your latest issue. Thank you.

[2022-04-09 21:44] SAUMILDHANKAR commented on #2746
@JessicaLucindaCheng Thanks for editing the wiki page. Just finished my edits as well. Will add it to our tech leads agenda for further discussion. Thanks.

[2022-04-09 22:47] JessicaLucindaCheng commented on #2929
@JessicaLucindaCheng See if you can use this: https://drive.google.com/drive/folders/1Pd07M-1hocCBrISiQ3x136-FivC9NLh1

Edit: It won't make a difference because this is an svg converted from a png. Thus, they are the same size. Also, the spacing issue is caused by original line of code in Liquid template language being `{% include {{ guide.svg }} %}`, which added the space after the image and befo

[2022-04-09 22:48] ExperimentsInHonesty commented on #2607
- Good first issue (one per person)
- Good second issue (one per person)
- Small (one per person, with some exceptions, see below)
- Medium (you can work on more than one medium issue, but only one at a time)
- Large (you can work on more than one large issue, but only one at a time)

You can work on back-to-back small issues if it meets the following criteria:
  - you are learning something new a

[2022-04-10 00:53] SAUMILDHANKAR commented on #2392
@JessicaLucindaCheng Bonnie said to ask design for an image of it at Sunday meeting.

[2022-04-10 01:06] SAUMILDHANKAR opened #3038 "Pre-work Checklist: Developer: [replace brackets with your name]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-10 01:25] JessicaLucindaCheng opened #3039 "Pre-work Checklist: Developer: [replace brackets with your name]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-10 01:57] SAUMILDHANKAR commented on #2746
Notes from PM:
- [ ] (Saumil) Remove duplicate steps in the getting started section in the wiki page that is already in the pre-work.
- [ ] (Saumil) In regards to the devs' lifecycle requested by PM, we will edit the [how to Being a part of the hack for la team](https://github.com/hackforla/website/wiki/Being-a-Part-of-the-Hack-For-LA-Team) wiki page.
    - [ ] Ask other developers what they want

[2022-04-10 02:45] sherririllingux commented on #3005
I have not been able to find data backing up the need for a volunteer quiz. I am currently waiting on access to Google Docs to possibly find information about why a quiz is needed, but looking through the wiki pages, there is nothing that backs up the [action step](https://docs.google.com/spreadsheets/d/1NjrbicVDyd8aTXfPXUAdlX2xg9F3Ez9VThj4EwG-ouw/edit#gid=0) for a quiz. The action steps do specif

[2022-04-10 02:58] sherririllingux commented on #2974
I have added a comment in issue [#3005](https://github.com/hackforla/website/issues/3005) and issue [#3011](https://github.com/hackforla/website/issues/3011) on what I'm working on and researching. I'm currently trying to figure out what data backs up the need for these issues. I haven't found anything that constitutes an issue for each, but I'm waiting on access to Google Docs and Miro to researc

[2022-04-10 03:09] sherririllingux commented on #3011
I am currently waiting on Miro access to research the need for a Hack for LA/Code for America video since there is already one on the Events page. Once I find out any more information as to why this was brought up as an issue, I will update the team & Bonnie.

[2022-04-10 03:21] JessicaLucindaCheng commented on #3031
- Jessica's Availability: 3 hours
- ETA to contact GitHub: Sunday, April 17, 2022

[2022-04-10 03:26] SAUMILDHANKAR commented on #3031
Availability: 5 hours
ETA to contact GitHub: Sunday, April 17, 2022

[2022-04-10 03:39] JessicaLucindaCheng commented on #2455
@answebdev Submit your pitch is the current way it opens for the Submit your pitch button now.

I'll try to take a look at your code before tomorrow's meeting and comment in this issue. However, feel free to bring it up in the meeting if we have time for discussion.

Edit: I didn't get a chance to look at your code yet but I will later today.

[2022-04-10 11:53] JessicaLucindaCheng commented on #2746
Also, we should add links to relevant template Wiki pages

[2022-04-10 15:42] zzhoje commented on #2481
@JessicaLucindaCheng I think it would make more sense for these navigation menu items to be in title case, which it seems like the footer is already going for. In title case, the two examples you pulled would be “Submit Your Pitch” and “Get in Touch”. I just think it will be easier for us to keep all of the titles/headers/footers/buttons consistent this way, and title case tends to give more symme

[2022-04-10 17:10] ExperimentsInHonesty commented on #2975
Simon said she had indicated she got a job and has left the team.

[2022-04-10 17:12] ExperimentsInHonesty commented on #1789
Yeah!!! ^

[2022-04-10 17:15] ExperimentsInHonesty commented on #2500
@JackieRiley1 sorry for the confusion.  Phu was checking in on your because we have not gotten updates from you on this issue... but this issue should have been closed.  Sorry for the mixup.

[2022-04-10 17:22] Providence-o opened #3040 "HfLA: PM/Design Meeting Agenda 2022"
### Dependency
- When we are ready to bring designers back to the team.  There should be another issue for recruiting a lead designer that will be the dependency for this issue.

### Overview
This issue tracks the agenda for the weekly meeting between the Design lead and the product managers.

### Action Items
- [ ] Copy agenda template to a new comment below
- [ ] Add the date of the agenda with

[2022-04-10 17:22] ExperimentsInHonesty commented on #2529
No longer deemed necessary

[2022-04-10 17:22] #2529 closed, assigned to nobody

[2022-04-10 17:27] JessicaLucindaCheng commented on #2520
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?
10 hours

[2022-04-10 17:28] Providence-o commented on #2212
Items for next week Agenda

- [ ] Create message for weekly reminder on 'hfla-site' slack channel to remind people to give updates on their issues on GitHub
- [ ] I added #3040 the Agenda from All Teams organization repo. It needs to be triaged so that it can be placed in the correct date column

[2022-04-10 17:28] ExperimentsInHonesty commented on #2589
@ShrutiMukherjee I recommend Otter.ai.  We have used it with Research teams on several projects with great success.  If the recording with me is too long to use the free version, let Simone know, so that we can use one of Hack for LA's paid otter accounts to do the transcription.

[2022-04-10 17:29] kathrynsilvaconway commented on #3009
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?

9 Hours

[2022-04-10 17:30] blulady commented on #2683
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?
it looks like it took 1 month
but I guess it took 12 hours

[2022-04-10 17:31] tamara-snyder commented on #2664
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?

10 hours (including attendance of first meetings)

[2022-04-10 17:31] Sparky-code commented on #2783
Dev Review: How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?
~8hrs

[2022-04-10 17:32] Carlos-A-P commented on #2753
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?
12 hrs

[2022-04-10 17:32] Providence-o commented on #3040
Add to next agenda
- [ ] Discuss #2694 with Phu

[2022-04-10 17:34] answebdev commented on #2782
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue? 6 hours

[2022-04-10 17:41] ExperimentsInHonesty commented on #2027
- https://github.com/hackforla/website/pull/2977#issuecomment-1094334610

[2022-04-10 18:06] PMKnight commented on #2909
Availability for this week: 8 hours
My estimated ETA for completing this issue: 2 hours

[2022-04-10 18:07] PMKnight commented on #3004
How much time did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue?
5 hours

[2022-04-10 18:24] harshitasao commented on #2592
Progress : Going through the linked docs to make myself familiar with Github Actions.
Blockers : None so far.
Availability : Flexible.
ETA : Till next Sunday.

[2022-04-10 18:27] JessicaLucindaCheng commented on #2392
@phuonguvan This is the issue related to the green circles for the mobile design on the Donate page we discussed today on (Sun, Apr 10). Please let me know when you fix the problem in the Figma so we can download the circles as an image with all the text.

[2022-04-10 18:29] #2840 closed, assigned to harshitasao

[2022-04-10 19:24] #3009 closed, assigned to kathrynsilvaconway

[2022-04-10 20:17] SAUMILDHANKAR commented on #2061
@SAUMILDHANKAR ~~Review ETA: 4/10/22~~ Sorry, couldn't finish review yesterday
Availability: Today 7-9 PM
Revised review ETA: EOD 4/11/22

[2022-04-10 20:24] elizabethhonest opened #3041 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-04-11 13:16] JessicaLucindaCheng commented on #2455
Updated ETA for trying to figure out blocker: Tue, April 12, 2022

Edit: Sorry, going to delay this by a day. New date is Wed, April 14, 2022

[2022-04-11 16:12] ExperimentsInHonesty commented on #2037
@zzhoje I think we need to recruit another writer to the team.  So that we can finish the text in this doc
[Problem, Solution, Impact for Project Cards](https://docs.google.com/document/d/16BZINmiMZLBDrRwuFlRqY63wtf_7fFV67ZhaLCstuUE/edit)

[2022-04-11 20:25] ghost commented on #2589
@ExperimentsInHonesty I have the transcript but need access to the Miro board to code and analyze the qualitative data from your interview and previous interviews of volunteers. The free Miro board has reached its plan limit and I am not able to edit any frame to add my data there.

[2022-04-11 20:27] ghost commented on #2589
Progress: Coding and Analyzing user needs from interviews of volunteers and internal stakeholder interview
Blockers: Need access to Miro to code and analyze data. Current Miro has reached the plan limit and not letting me edit the frames to add all the data there.
Availability: 6-7 hours
ETA: Will finish depending on when I get access to Miro.

[2022-04-11 20:36] sacamp commented on #2589
@ShrutiMukherjee we are working on a solution to get you edit access to Miro, this should be resolved by Wednesday

[2022-04-11 20:44] ghost commented on #2589
@sacamp I have some hours on Friday to work on this issue. Will pick it up then. Thanks.

[2022-04-11 23:56] skarakaya1 commented on #2975
Hi All,

Yes , I found a full time UX job shortly after onboarding, thanks
On Sun, Apr 10, 2022 at 1:10 PM Bonnie Wolfe ***@***.***>
wrote:

--
Suveyda KARAKAYA, Ph.D.
The University of Tennessee, 2013

[2022-04-12 01:39] SAUMILDHANKAR commented on #2711
@ExperimentsInHonesty Just want to confirm if the role of Kalyani Raman is Product Manager or Project Manager. Currently, it is listed as PM above and I understand we generally have Product Managers in various projects but just wanted to make sure. Please let me know.
Also, I noticed while checking the GitHub links, for Tugba, GitHub profile mentions developer whereas above it is listed as researc

[2022-04-12 05:44] luke-karis commented on #2901
ETA and Availability:
ETA: April 18
Availability: Tuesday 5:00-7:00, Thursday 4:00-5:00, Saturday and Sunday 10:00-12:00
Blockers: Kinda, but a little hard to articulate. I'm going to work more on this on Tuesday and hopefully come up with blockers to bring up a stand up.

[2022-04-12 13:18] tamara-snyder commented on #2061
Availability: 2 hours
Review ETA: Tuesday, 4/12/2022

[2022-04-12 15:09] ExperimentsInHonesty commented on #2212
We need to clean up the agendas for design.

We need to let Phu know she is responsible for the open roles for design
https://github.com/hackforla/UI-UX/projects/3#card-68944804

We need to make sure she monitors the ux channel mentioned on the card
hfla-site-ux

[2022-04-12 16:39] SAUMILDHANKAR commented on #2010
### Agenda for APR 12, 2022

#### Meeting start

- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Congratulations Kathryn for reviewing PR 2984, 3042, 3043 and making multiple last minute changes for PR 3036
  - [x] Thanks Jason for making the changes as requested to PR 2984 for a medium complexity issue
  - [x] Thanks Sarah for reviewing PR 3036 for a small complex

[2022-04-12 17:14] Providence-o commented on #2212
## 2022-04-12 Agenda and notes for PM meetings

### Prework
- [ ] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-04-12 17:18] Providence-o commented on #3040
- [ ] We need to let Phu know she is responsible for the [open roles for design](https://github.com/hackforla/UI-UX/projects/3#card-68944804)
- [ ] We need to make sure Phu monitors the ux channel mentioned on the card hfla-site-ux

[2022-04-12 17:19] Providence-o commented on #3040
## 2022-04-14 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each Lead and Org rep
       - [ ] [Bonnie](https://github.

[2022-04-12 17:24] Sparky-code commented on #2061
Progress Update: Finished Research, Gathered instances of cards across site, Template chosen for Spreadsheet Audit
Blockers: Pending discussing with @JessicaLucindaCheng to discuss columns on spreadsheet, pending feedback from reviews on same
ETA: TBD
Avail 6hrs across M/F

[2022-04-12 17:33] SAUMILDHANKAR commented on #2711
@kalyaniraman Hello Kalyani, I need your help on the following points:
- I see your role is listed as PM above but we are not sure if we should go with Product Manager or Project Manager.
- On the Open community survey project page, under All-time contributors, I see Tugba's GitHub handle as TugbaMet, whereas in a comment above it is just Tugba, So just wanted to confirm that.

I will leave a slac

[2022-04-12 17:34] Providence-o commented on #2964
@poorvi4 Before closing your pre-work issue, please assign a size label (from one of the point systems below) giving an estimate on how long it has taken you to work through the checklist. The size label can be found by clicking the gear icon next to 'Label' on the right above.
![image](https://user-images.githubusercontent.com/97491889/163020160-39b88328-d22e-4861-a082-4d6c46c5a67c.png)

[2022-04-12 17:37] Providence-o commented on #2950
@sherririllingux Before closing your pre-work issue, please assign a size label (from one of the point systems below) giving an estimate on how long it has taken you to work through the checklist. The size label can be found by clicking the gear icon next to 'Label' on the right above.
![image](https://user-images.githubusercontent.com/97491889/163020160-39b88328-d22e-4861-a082-4d6c46c5a67c.png)

[2022-04-12 17:39] Providence-o commented on #2917
@dionw412 Before closing your pre-work issue, please assign a size label (from one of the point systems below) giving an estimate on how long it has taken you to work through the checklist. The size label can be found by clicking the gear icon next to 'Label' on the right above.
![image](https://user-images.githubusercontent.com/97491889/163020160-39b88328-d22e-4861-a082-4d6c46c5a67c.png)

[2022-04-12 17:50] Providence-o opened #3045 "DRAFT- Credit Page: Images used on website removed by original creator from the source site"
### Overview
As a user, clicking on

As a user, clicking on the 'Overview' link for each project page should act the same way. Currently, the 'Overview' links for each project act differently. Clicking the link should open a new tab to the pdf file directly. We will convert each action item into an issue and create a pull request to close the corresponding issue. Then, as a last action item, we wi

[2022-04-12 18:07] Providence-o commented on #2698
Date: 2022-04-12
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at (open:      / closed:      )
   - [ ] size, ending at (open:

[2022-04-12 18:30] Providence-o commented on #3023
@KazushiR are you no longer working on this issue? I can see that you assigned yourself to it, moved it from the prioritized backlog to inprogress and then removed it from the board entirely and you're still assigned to it.

Additionally on another issue #3016 , it looks like you removed it from the prioritized backlog and the project board.

Also in #2961, you assigned yourself, added a milestone

[2022-04-12 18:32] Providence-o commented on #2607
Add to next agenda

Product

- [ ] Discuss https://github.com/hackforla/website/issues/3023#issuecomment-1097054763
- [ ] This issue https://github.com/hackforla/website/issues/2392#issuecomment-1099576584 has been fixed

[2022-04-12 18:45] kalyaniraman commented on #2711
@SAUMILDHANKAR Hello Saumil,
- My role is Product Manager
- My apologies, the GitHub Handle is TugbaMet. When i copied over and pasted i must have missed it. Thankyou for checking.

[2022-04-12 19:44] SAUMILDHANKAR commented on #2061
@Sparky-code Sorry for the delay in my review and thanks for your awesome work on this issue so far. I understand the issue has been evolving as we go so this might not be a complete review but just want to share a few points that might be helpful:
- Thanks for bringing up this issue for discussion in the Sunday meeting and we can incorporate the suggestions so that the requirements are more well

[2022-04-12 19:55] SAUMILDHANKAR commented on #2711
@kalyaniraman Thanks for letting me know. Will request changes accordingly.

[2022-04-12 20:18] RyanCahela commented on #3016
Availability: 4/12/22 2PM - 5PM
ETA: 3 Hours

[2022-04-12 20:25] tamara-snyder commented on #2061
Hi @Sparky-code, I just wanted to say that your write-up is very thorough and I learned a lot. You should totally publish a version of this on Medium.

In regards to the spreadsheet, it is looking a lot better! I agree with Jessica and Saumil about possibly needing a few changes on the columns.

A few thoughts:
- I think it would be clearer to use File Path instead of File Name since it'd be easie

[2022-04-12 20:45] #2950 closed, assigned to sherririllingux

[2022-04-13 00:54] SAUMILDHANKAR commented on #2699
# Agenda for APR 12, 2022

## Prework to prep for the meeting (Jessica plan to complete on Thu)

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [ ] Check if this issue has been completed: https://github.com/hackforla/VRMS/issues/1098

## Items carried over from last meeting (things we didn't have time for)

## New items
- [x] https://hackforla.slack.com/

[2022-04-13 01:23] #2711 closed, assigned to kathrynsilvaconway

[2022-04-13 03:10] tamara-snyder opened #3047 "Pre-work Checklist: Developer: [replace brackets with your name]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-13 03:10] ericvennemeyer opened #3048 "Pre-work Checklist: Developer: Eric Vennemeyer"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-13 03:10] trishajjohnson opened #3049 "Pre-work Checklist: Developer: Trisha Johnson"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-13 03:10] greg-nice opened #3050 "Pre-work Checklist: Developer: Greg Gomes"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-13 03:11] #3047 closed, assigned to tamara-snyder

[2022-04-13 03:47] kathrynsilvaconway commented on #2961
ETA: Bythe end of the day on 4/19
Availability: 4 Hours

[2022-04-13 03:55] KazushiR commented on #3023
Apologies. I was trying to assign myself to an issue that I could work on. I will be working on this issue. Apologies on the confusion.

Availability: 4/15/22 10AM - 2PM
ETA: 4 Hours

[2022-04-13 18:58] sacamp commented on #1797
## 2022-04-13 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-04-13 18:59] sacamp commented on #2763
![image](https://user-images.githubusercontent.com/70714034/163251251-7fb1d34e-5b07-4567-80ce-c8241bd4dfdb.png)

[2022-04-13 19:19] cwvivianlin commented on #1789
Progress: Testing with 7 users complete! I'm in the analysis phase. I will be able to present next Sunday, the soonest.

[2022-04-13 20:01] JackieRiley1 commented on #2663
Progress: I have read the survey tool's information provided on their website, sampled a trial version (when available), and reached out to customer support to complete the table comparing each of the potential survey tools. My findings are summarized in [the True Intent Survey Criteria Spreadsheet](https://docs.google.com/spreadsheets/d/1ShPMAC8OiydmPqo5SlD-YwGF1rreED_D13SYpcEcSBA/edit?usp=sharin

[2022-04-13 20:06] sacamp commented on #2763
@summerharveyux - I discussed this with Bonnie and she suggested do a quick test between both of the images in the above comment and then test the preferred image against the stitched zoom image.

[2022-04-13 20:16] sacamp commented on #2498
### Meeting: 4/13/22

### Things to discuss:

- [ ] Miro update
- [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%

[2022-04-13 20:59] ghost commented on #2589
Progress: Coding and Analyzing user needs from interviews of volunteers and internal stakeholder interview
Blockers: Need access to Otter.ai from Hack for L.A. The free version let me transcribe for only 29 mins. The interview is about 60 mins.
Availability: 6-7 hours
ETA: Will finish this week depending on when I get access.

[2022-04-13 21:43] answebdev commented on #2455
**Progress Report**

- Progress: Have finished everything (except for the blocker), and have added the anchor links to the `.yml` files as per Jessica's previous comment.
- Blockers: I got the redesigned navbar dropdown working, but all of the dropdown items are in one separate `.yml`. file, and they should be in separate files. I am currently stuck on getting this to work (i.e., they are in now i

[2022-04-13 21:54] Claudiahamilton-png opened #3051 "Pre-work Checklist: Researcher: Claudia Morgan"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-04-13 23:07] gardenqu opened #3052 "Pre-work Checklist: Developer: Quanayzia Garden"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-13 23:13] JessicaLucindaCheng commented on #2961
@kathrynsilvaconway This is issue isn't ready to be worked on as it is still in "New Issue Approval" column.

- [ ] Please unassign yourself from this issue.
- [ ] Then, look for an issue to work on in the Prioritized Backlog. (Detailed instructions below if needed.)

**How to find issues to work on:**
1) In the "Onboarding info/links" column on the far left of the Project Board, scroll down the c

[2022-04-13 23:20] JessicaLucindaCheng commented on #3023
@KazushiR At the time you self-assign an issue, please move the issue from the "Prioritized Backlog" to the "In Progress" column. For detailed instructions, see [2.4.b Move this issue from the ‘Prioritized Backlog’ to the ‘In progress’ & back](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#24b-move-this-issue-from-the-prioritized-backlog-to-the-in-progress--back) in the CONTRIB

[2022-04-14 01:16] kathrynsilvaconway commented on #2391
ETA: End of the day on 4/19
Availability : 6 hours

[2022-04-14 02:46] scarter31191 commented on #2625
@JessicaLucindaCheng For this issue do we want the same comment to be used like 'Status: Updated'. But instead replace 'Status: Updated' with 2 weeks inactive?

[2022-04-14 03:12] Carlos-A-P commented on #2802
Availability: 1 week
ETA: 4/20/2022

[2022-04-14 04:02] #3016 closed, assigned to RyanCahela

[2022-04-14 04:20] JessicaLucindaCheng commented on #2061
@Sparky-code The spreadsheet for the audit is definitely improved and looking good. In addition to the recommendations from Saumil and Tamara, I would like the following:
- Since all the cards may not need changes, so you may want to consider including a "Change (Y/N)?" column similar to the column in the audit spreadsheet for alt attributes: [Alt Attribute Review](https://docs.google.com/spreadsh

[2022-04-14 04:27] JessicaLucindaCheng commented on #2027
### Agenda for April 17, 2022
Facilitator: Jessica Cheng

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Note-taker: Tamara

**Let's celebrate our contributions/wins since last team meeting**
- Saumil (SAUMILDHANKAR) reviewed pr 3036, merged pr

[2022-04-14 07:35] phuonguvan commented on #2392
@JessicaLucindaCheng I couldn't understand the problem with the green circles on the Figma. The preview's image looked perfectly fine to me unless you wanted it to be converted into a different format? When I downloaded the preview, the image has all of the texts unless you want to change it to change the dark layout when it is exported. Please tell me what is wrong with the issue!

[2022-04-14 08:28] JessicaLucindaCheng commented on #2455
@answebdev I took a look at your code and have a few notes.
- It looks like you created your topic branch off of gh-pages and not "feature-homepage-launch". You should base your topic branch off of "feature-homepage-launch" because that is what your pr will be merged into. See the Details section above for instructions.
- For your blocker,
  - The files you have in navsub directory should look mor

[2022-04-14 17:08] ericvennemeyer commented on #3048
I have my first blocker, right in the pre-work checklist. In part 1.6.a of Setting Up The Development Environment, after running `docker-compose up` on my forked and locally cloned website repo, I get the following error:

[code]

The above is followed by a long stack trace, which I can also paste in if it will be helpful.

I did a quick google on the error, and some results suggest that Ruby 3 is

[2022-04-14 19:38] ExperimentsInHonesty commented on #2694
The design is now correct, the rest of the steps listed above in action items still need to be done.

[2022-04-14 19:42] Providence-o commented on #2212
Add to next agenda
Items
- [x] Remove dates from all the milestones so that the overdue notification stops showing.
- [ ] Review #2615 and #2571 to make sure the alt text audit is done

[2022-04-14 20:03] phuonguvan commented on #2392
@JessicaLucindaCheng Is the image's preview correct?
![Frame 1 (2)](https://user-images.githubusercontent.com/100561599/163466890-ebdde378-85e7-4627-b54d-d00ac7329ed7.png)
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17065%3A104582

[2022-04-14 20:23] ExperimentsInHonesty commented on #2616
This is ready for QA

[2022-04-14 20:29] phuonguvan commented on #2614
It's ready for QA.

[2022-04-14 20:30] Providence-o commented on #2572
This issue is ready for QA

[2022-04-14 21:35] SAUMILDHANKAR commented on #2625
@scarter31191 For this issue we want a comment to be posted whenever a 2 weeks inactive label is added to an issue. You can use the format similar to this [comment](https://github.com/hackforla/website/issues/2625#issuecomment-1092536660) but it should be customized for the 2 weeks inactive label. Currently, we are posting same comment with both "To update" label and "2 weeks inactive" label even

[2022-04-14 21:39] Providence-o commented on #2614
The video has a title 'Play talk' in the code . Is a title the equivalent of an alt ?

The title should be 'Coding a better government'

[2022-04-14 22:42] JessicaLucindaCheng commented on #2392
@phuonguvan Yes, that looks good. Thank you so much for your help.

[2022-04-14 23:02] JessicaLucindaCheng commented on #2392
You can download the image from here: https://drive.google.com/drive/folders/1Pd07M-1hocCBrISiQ3x136-FivC9NLh1

[2022-04-14 23:03] JessicaLucindaCheng commented on #2392
@A-BMT02

You can download the image from here: https://drive.google.com/drive/folders/1Pd07M-1hocCBrISiQ3x136-FivC9NLh1

[2022-04-14 23:59] ericvennemeyer commented on #3048
Full error message and stack trace for the Docker/Jekyll error described above:

[code]

[2022-04-15 01:16] SAUMILDHANKAR commented on #3031
Video showing the board becomes unresponsive if you try to scroll after filtering the board with an existing label
- Internet speed test: Download 48 Mbps, Upload 11 Mbps

https://user-images.githubusercontent.com/843538/163502531-70107070-2614-4fec-920f-29baa3036ac1.mp4

[2022-04-15 01:30] SAUMILDHANKAR commented on #2699
# Agenda for APR 14, 2022

## Prework to prep for the meeting (Jessica plan to complete on Thu)
- [ ] Check New Issue Approval `label:"Ready for dev leads"`
- [ ] Check on `label:"Status: Help Wanted"`
- [ ] Close epics that have all the issues within it completed. Check `label:"epic"`
- [ ] Check on any prs with "Changes requested"
- [ ] Check on the following
  - [ ] Front end issues `label:"rol

[2022-04-15 02:28] Wny-Duong opened #3053 "Pre-work Checklist: Developer: Wilny Duong"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-15 02:30] alfredo-mejia opened #3054 "Pre-work Checklist: Developer: Alfredo Mejia"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-15 02:33] eodero opened #3055 "Pre-work Checklist: Developer: Erick Odero"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-15 07:47] abenipa3 commented on #1630
# Update 4/14/22

Progress: Got the layouts fixed. Just need to adjust the footer.
![image](https://user-images.githubusercontent.com/38295612/163541667-2c514b88-774d-4d03-83a8-c76fab71b4bb.png)

Blockers:
Question: Is it best practice to have different class names so scss won't alter class names of the same name from other pages of the website? For instance, I have a class name called `sticky-nav

[2022-04-15 16:20] gregpawin opened #3056 "Update Project Profile: Lucky Parking"
### Overview
As a product manager of Lucky Parking I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/lucky-parking.md

### Action Items
- [ ] In [_projects/lucky-parking.md](https://github.com/hackforla/website/blob/gh-pages/_projects/lucky-parking.md), update the [Lucky Parking](https://www.hackforl

[2022-04-15 19:39] ExperimentsInHonesty commented on #2763
@sacamp @summerharveyux I have reached out again to all the teams and added a note (hopefully a little clearer this time).  If we don't have enough responses for a test by the time I get back on the 28th.  I'll go do it myself in every meeting.

[2022-04-15 20:18] ExperimentsInHonesty opened #3058 "HfLA website: Drive Migration"
### Overview
We need to finish the drive migration from the old to the new drive

### Action Items
- [x] Confirm that you have access to the old and new drives, if not see instructions
- [x] Finish filling out the spreadsheet
- [x] Make a list of the people we need to contact and add it to this issue as check boxes
- [x] Create letter
- [x] Create booking link
- [x] Create a FAQ
- [x] Create form

[2022-04-15 21:26] cwvivianlin commented on #1789
@sacamp Can you point me to the presentation template please? Thank you.

[2022-04-16 01:21] SAUMILDHANKAR commented on #2607
## Apr 16, 22 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-04-16 01:32] sanya301 opened #3059 "Update Project Profile: GreenEarthOS"
### Overview
As Admin team I want the Green Earth project's details to be up to date on the HackforLA website so that people don't try to join it.

### Action Items
- [x] Observe the existing syntax of the [front matter block](https://jekyllrb.com/docs/front-matter/) inside of the [green-earth-os.md](https://github.com/hackforla/website/blob/gh-pages/_projects/green-earth-os.md) file and find the

[2022-04-16 01:41] SAUMILDHANKAR commented on #2221
@poorvi4 Requesting to unassign from this issue and move it back to new issue approval column so it can be re-prioritized. Please hold-off on picking-up a new issue until your previous issue has been merged. Thank you.

[2022-04-16 02:09] sanya301 commented on #3059
The following need to be updated:

## Remove:
- leadership
  - [x]  Akila Sankaran
  - [x] Samay Nathani
  - [x] Jessica Forrest-Baldini
  - [x] María-Inés Montes

## Add:
- Leadership
  - [x] Name: Sanya Nijhawan
    - GitHub handle: sanya301
    - Role: Product Manager
    - SLACK ID: U031FLYS561
  - [x] Name: Raji Pradheap
     - GitHub handle: rpradheap
     - Role: Product Manager
     - SLAC

[2022-04-16 04:06] SAUMILDHANKAR commented on #3023
@KazushiR Just wanted to remind you that a medium issue should be picked up once your small issue has been merged. Please see the following link for the reasons of this progression: https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#21-hack-for-la-contributor-expectations. Therefore, requesting you to please pick up a medium issue next once this one has been merged. Also, please mo

[2022-04-16 07:38] SAUMILDHANKAR commented on #1630
@alyssabenipayo Thank you for sharing your update. I discussed your blocker with Jessica and adding her here for further discussion (@JessicaLucindaCheng). Since, all the scss classes are compiled in the main.scss file before being used on the website, so I think we need to explore further if having same class names is the best approach. Also, wanted to suggest that it would be a better idea if we

[2022-04-16 08:20] SAUMILDHANKAR commented on #3031
Hackf for LA website team's project board key metrics:
- Number of columns: 15
- Number of cards: 1235
- Number of contributors: 177
- Number of workflows/automations/GitHub actions: 15
- Number of labels: 116

[2022-04-16 08:47] SAUMILDHANKAR commented on #3031
### Bug report draft
- From: Saumil Dhankar
- Organization: Hack for LA
- Subject: Project board performance is too slow/times out/or crashes
- What type of issue is this?: Permanent - Occurring repeatedly
- Is this issue blocking you?: Blocking
- Last known working date - Around 6 months ago.
- What issue are you facing?
Following project boards both of which are part of Hack for LA organization

[2022-04-16 10:14] abenipa3 commented on #1630
@SAUMILDHANKAR @JessicaLucindaCheng Thanks for letting me know! I'll create a new issue this week after I finish fixing the styling as mentioned in my previous update. Thanks again.

[2022-04-16 19:29] SAUMILDHANKAR commented on #3009
@kathrynsilvaconway Hi Kathryn, I didn't see any issue where you had to do your weekly progress report yet. Therefore, this issue as well as the corresponding action item should stay open until you post a weekly progress report on your issue. It should follow the following format:
[code]
So, please reopen this issue and move it back to the In-progress column. Once you are done with your weekly pro

[2022-04-16 19:42] SAUMILDHANKAR commented on #2701
@riddle015 Hope you are doing well. Please let me know if you are still planning to pick up your next issue or your availability has changed. Will leave a slack message as well. Thank you.

[2022-04-16 19:53] SAUMILDHANKAR commented on #2940
@Benji-Montgomery Just wanted to follow up on your pending action items. They are mostly for your understanding, once you go through them, please check them off and close this issue.
Also, noticed that you haven't picked up your medium issue next. Please let us know if your availability has changed or have any questions. Thank you.

[2022-04-16 19:58] SAUMILDHANKAR commented on #2937
@scarter31191 Hi Steve, please close this issue by clicking on the close issue button at the bottom of this issue. Will leave a slack message as well. Thank you.

[2022-04-16 19:59] JessicaLucindaCheng commented on #3031
Unassigned myself because I didn't do any work on this issue since I was sick for a few days. Thus, Saumil has been doing all the work and looks is almost done with it.

[2022-04-16 20:05] JessicaLucindaCheng commented on #2555
Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Blank SCSS page was added. (See [Developer's Notes](https://github.com/hackforla/website/issues/2555#issuecomment-1001147824) for more details.)
Blockers: None
Availability: 6 hours
ETA: Tue, April 26, 2022 but hopefully sooner

[2022-04-16 20:06] JessicaLucindaCheng commented on #2775
Progress: All the issues have been written and prioritized but now I need to add a release dependency to all the issues.
Blockers: None
Availability: 6 hours
ETA: Tue, April 19, 2022

[2022-04-16 20:09] SAUMILDHANKAR commented on #2173
@1anya1 Please let us know if you are still working on this issue or your availability has changed. Will leave a slack message as well. Thank you.

[2022-04-16 20:16] SAUMILDHANKAR commented on #2999
@RyanCahela I see some of your suggested readings (in the action items list above) are still pending and just wanted to check if you had questions or need more time completing them. If you are already done with them, please check them off. Thank you.

[2022-04-16 20:26] SAUMILDHANKAR commented on #2964
@poorvi4 I see some of your suggested readings (in the action items list above) are still pending and just wanted to check if you had questions or need more time completing them. If you are already done with them, please check them off. Thank you.

[2022-04-16 20:32] SAUMILDHANKAR commented on #2985
@fernandoqueue Planning to close this issue because of inactivity. Please let us know when your availability changes so we can help you work on your issues. Will let you know on slack and email as well. Thank you.

[2022-04-16 21:35] SAUMILDHANKAR commented on #3048
@ericvennemeyer Thanks for sharing your blocker. Hope someone more experienced with Docker will get back to you on our slack channel. I will keep an eye out for solutions as well. I just moved your prework issue to New Issue Approval, since PM is supposed to move pre-work issues to In-progress once they take a look. Just wanted to let you know. Thanks,

[2022-04-16 21:42] SAUMILDHANKAR commented on #3053
@Wny-Duong Thanks for adding the role labels to this issue, good job. Please feel free to check off the corresponding action item above.

[2022-04-16 21:58] JessicaLucindaCheng commented on #2155
@usaboo Please give a progress report in a comment in this issue. See what you need to include in your progress report and more information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue)

[2022-04-16 22:18] JessicaLucindaCheng commented on #2607
- [ ] Any changes to our Sunday meeting because of Easter? Post a message on #hfla-site Slack channel: Anyone who is observing Easter Sunday or wanting to take Easter Sunday off please do so. However, there will be a meeting tomorrow (Sun, Apr 17, 2022 from 10am-12pm) for anyone who wants to join us at that meeting.
- [ ] Discuss Bug report draft; https://github.com/hackforla/website/issues/3031#i

[2022-04-16 22:33] SAUMILDHANKAR commented on #2481
Decision made by Bonnie: It is going to be "Submit your Pitch" and "Get in Touch"

After the website homepage launch, research will look into a global change for all the menu items and their corresponding page/section titles.

[2022-04-17 00:15] SAUMILDHANKAR commented on #2689
We are going to leave the chrome shortcut as it is but add more description to it as well as a link.

[2022-04-17 00:23] tamara-snyder commented on #2141
Progress: Just need to finish my write-up. Had some interviews this week, so I didn't have as much time to work on this issue as originally anticipated.
Blockers: None
Availability: 3 hours
ETA: Tuesday, April 19, 2022

[2022-04-17 01:18] ericvennemeyer commented on #3048
@SAUMILDHANKAR Thanks for the heads-up. I've actually found a solution to the Docker issue that will, at least temporarily, allow me to run the website locally. I'll assign myself my first issue and finish the rest of my prework checklist items on Monday.

[2022-04-17 01:56] SAUMILDHANKAR commented on #2699
# Agenda for APR 16, 2022

## Prework to prep for the meeting (Jessica plan to complete on Thu)
- [x] Check `label:"time sensitive"` in Prioritized Backlog.
  - [x] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or

[2022-04-17 08:06] SAUMILDHANKAR commented on #2689
#### Onboard Devin Krizwold  to Merge Team
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation
  - [ ] Acceptance
  - [ ] Add to vaults
    - [ ] hackforla.org website vault
    - [ ] Zoom vault
    - [ ] website devs vault
- [x] Google Drive
  - [x] Add to HackforLA.org website drive as Manager
  - [x] Add to HfLA website Admin d

[2022-04-17 16:23] #2917 closed, assigned to dionw412

[2022-04-17 16:23] #2938 closed, assigned to nobody

[2022-04-17 16:35] sacamp commented on #2536
This is being worked on in issue #2309

[2022-04-17 16:35] #2536 closed, assigned to nobody

[2022-04-17 16:37] sacamp commented on #2900
@ExperimentsInHonesty can we turn this issue into a template?

[2022-04-17 17:14] ExperimentsInHonesty commented on #3005
I was the instigator for this issue.  The problem we are trying to solve is that during onboarding, people don't know which project to choose.  It's easy for the developers because we do it based on experience, and HfLA website is a level 1 development team, and the other hackforla website development teams are level 2, which means there is less of a guided path.

[2022-04-17 17:24] JessicaLucindaCheng commented on #2027
https://hub.docker.com/r/jekyll/jekyll/tags

[2022-04-17 17:54] #2937 closed, assigned to scarter31191

[2022-04-17 18:39] Sparky-code opened #3060 "Demo Issue"
### Overview
What the title mean and **why**

### Action Items
what we are doing to accomplisth that

- [ ] dafa
- [ ] asdf
- [ ] asdf

### Resources/Instructions
Links

[2022-04-17 18:45] #3060 closed, assigned to nobody

[2022-04-17 19:21] eodero commented on #2910
- [x] Availability for this week: 2hrs
- [x] My estimated ETA for completing this issue: 4/22/2022

[2022-04-17 20:28] ExperimentsInHonesty commented on #2926
@kathrynsilvaconway fyi, if you were looking to put this on your resume, here is what it might say.  These words are a combo of what Steve Carter wrote and my edits.
- Removed unused code from the codebase to ensure the website load time is as low as possible and to make the code easier to maintain.

[2022-04-18 01:57] Wny-Duong commented on #2912
Availability for this week: 8 hours
My estimated ETA for completing this issue: Monday, April 18th

[2022-04-18 03:47] Wny-Duong commented on #2912
Leaving a note in case the pull request made does not seem to match action items. There is no change from scaleable to scalable because the description that was recorded in the issue has changed since the issue was first posted.

from: `description: We're working with community non-profits who have a Host Home initiative to develop a workflow
management tool to make the process scaleable`
to: `des

[2022-04-18 15:30] #2939 closed, assigned to poorvi4

[2022-04-18 19:12] kalyaniraman commented on #2711
We verified the website and all looks good.

[2022-04-18 20:04] JessicaLucindaCheng commented on #3060
@Sparky-code When you close an issue you were using for demos, please add the `Ignore: Demo` label, so that QA knows they don't need to look at this issue. Thanks.

[2022-04-18 22:10] A-BMT02 commented on #2392
Thank you @JessicaLucindaCheng
Working on it

[2022-04-19 00:41] SAUMILDHANKAR commented on #2212
Sorry, I just accidentally clicked on agendas card. Please ignore.

[2022-04-19 00:54] JessicaLucindaCheng commented on #1630
@alyssabenipayo With the way the SCSS files are set up to be imported all into one main.scss file, it is best to have different names.
I'm not sure if the sticky nav for the about page is named/coded as a re-usable component; however, here is a wiki on [Standardized Components](https://github.com/hackforla/website/wiki/Standardized-Components) and there is a section on [Page-Specific Class](https:

[2022-04-19 00:56] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress as I was sick most of this week.
Blockers: None
Availability: Maybe 2 hours for this
ETA: Hopefully, April 26, 2022

[2022-04-19 00:59] abenipa3 commented on #1630
@JessicaLucindaCheng Noted! Thank you so much for the help and for following up with me.

[2022-04-19 01:12] SAUMILDHANKAR commented on #2498
After website homepage launch, research will look into a global change for all the menu items and their corresponding page/section titles. [Related comment](https://github.com/hackforla/website/issues/2481#issuecomment-1100764836)

[2022-04-19 02:51] matt-arofin opened #3063 "Pre-work Checklist: Developer: Matthew Arofin"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-19 03:24] Olanrewaju-Ak opened #3064 "Olanrewaju Akinola"

[2022-04-19 03:28] Olanrewaju-Ak opened #3065 "Pre-work Checklist: Developer: Olanrewaju Akinola"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-19 03:50] nathan944 opened #3066 "Pre-work Checklist: Designer: Jonathan Nathan"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-04-19 04:48] #2912 closed, assigned to Wny-Duong

[2022-04-19 07:10] SAUMILDHANKAR commented on #2010
### Agenda for APRIL 19, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Thank you Tamara for taking notes for the Sunday All-team meeting as well as helping the team on the hfla-site slack channel
  - [x] Thanks Jessica for reviewing PR 3057 for a small issue PR 3043 for a medium issue as well a

[2022-04-19 09:15] JessicaLucindaCheng commented on #2455
@answebdev Could you please change the following 2 menu items to have the following capitalization?
- `Submit your Pitch`
- `Get in Touch`

This decision came from https://github.com/hackforla/website/issues/2481#issuecomment-1100764836

[2022-04-19 14:10] Sparky-code commented on #3055
Good Morning @eodero, Can you check off items as you complete them, it helps us track progress and will help you with organizing the onboarding process.

[2022-04-19 15:29] answebdev commented on #2455
Okay, got it.

[2022-04-19 16:05] 1anya1 commented on #2173
@SAUMILDHANKAR Thank you for follow up. I am still workin on this issue.
Progress: Still researching
Blockers: None
Availability: 8hrs
ETA: By monday April 25, 2022

[2022-04-19 17:07] ericvennemeyer opened #3068 "Fix "no implicit conversion of Hash into Integer" error when running docker-compose up locally"
### Overview
As a new volunteer developer, I want to be able to run `docker-compose up` without encountering a "no implicit conversion of Hash into Integer" error, so that I can run the website locally using Docker.

For this issue, we will be investigating and finding a solution to the "no implicit conversion of Hash into Integer" error.

### Details
Several new volunteers have experienced a "no

[2022-04-19 17:21] ericvennemeyer commented on #3068
@SAUMILDHANKAR @JessicaLucindaCheng @tamara-snyder @answebdev just created a new issue for the Docker error that new volunteers have been experiencing. As this is my first new issue, please let me know if you have any suggestions as to how it could be improved.

Progress: Determined a temp fix, but still looking into permanent solution.
Availability: Wednesday 4/20: 2hrs, Thursday 4/21: 2hrs
ETA:

[2022-04-19 17:26] gold-o opened #3069 "Pre-work Checklist: Designer: Gold O."
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-04-19 17:31] Providence-o commented on #2212
## 2022-04-19 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-04-19 17:33] Providence-o commented on #2698
Date: 2022-04-19
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at (open:    5  / closed:    20  )
   - [x] size, ending at (op

[2022-04-19 18:01] #2910 closed, assigned to gardenqu

[2022-04-19 22:09] Wny-Duong commented on #3053
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Spread out over three days, only about 5 hours in total. 3 hours for meetings and orientation/onboarding stuff and getting  added to drives and Github. 2 hours of actually reading through, assigning myself to an issu

[2022-04-19 22:39] gardenqu commented on #3052
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? 7 hours

[2022-04-19 22:58] gardenqu commented on #2215
I have removed myself from this issue

[2022-04-20 00:17] trishajjohnson commented on #2913
Availability for this week: 6 hours
My estimated ETA for completing this issue: 2 hours

[2022-04-20 01:34] SAUMILDHANKAR commented on #2699
# Agenda for APR 19, 2022

## Prework to prep for the meeting (Jessica plan to complete on Thu)

## FYIs (nothing needs to be done, just keeping each other informed)
- FYIs: I added the following to the Dev/PM agenda
  - [x] [Migration to Google Analytics 4](https://support.google.com/analytics/answer/10089681?utm_campaign=2022-q1-gbl-all-gafree&utm_source=google-growth&utm_medium=email&utm_conten

[2022-04-20 01:42] trishajjohnson commented on #2913
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Approximately 3-4 hours

[2022-04-20 01:46] kathrynsilvaconway commented on #2391
1. Progress: Got theGained better overall understanding of how we organize CSS and HTML. basic style of the dropdown menu in place. Nav bar appears above 480px, dropdown appears for everythin below. Feeling confident I can finish it this week.
2. Blockers: Struggling to understand how html and CSS are organized on the site in general. I can't tell if there are existing classes I should be using or

[2022-04-20 03:11] JayBarbanel opened #3070 "Pre-work Checklist: Developer: [JayBarbanel]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-20 04:10] tamara-snyder commented on #2141
@hackforla/website-merge

Here it is! An assessment of [Liquid injection vulnerabilities on our site](https://docs.google.com/document/d/1aJxb7KPL4zQKL1XUR8mwzP4tY6c3m223OpDmhX9MmEg/edit#). I'm quite new to security-related things, so any and all feedback is welcome.

Thanks!

[2022-04-20 15:09] cwvivianlin commented on #1789
Progress: working on presentation slides.
Find the presentation in the Wiki: https://github.com/hackforla/website/wiki/Wins-submission-process-research

[2022-04-20 15:36] kathrynsilvaconway commented on #2926
Thanks, Bonnie!

[2022-04-20 18:25] ghost commented on #2589
Progress: Working on synthesizing data for user needs from previous volunteer interviews and internal stakeholder interview
Blockers: Can I get access to the User Persona issue because I am working on that simultaneously as well. Will be easier to keep the stuff for that issue separate.
Availability: 6-7 hours
ETA: Data synthesis on Miro should be available before the end of this week. Linked to n

[2022-04-20 18:53] sacamp commented on #1797
## 2022-04-20 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-04-20 19:12] ExperimentsInHonesty commented on #2763
Here are the [images that show us in person](https://drive.google.com/drive/folders/1DtQ2Kgj40ZufKg5E4bPm40rA5rHJiekl)  - 2019-06-18

[2022-04-20 19:46] JessicaLucindaCheng commented on #3056
@riddle015 This issue is not ready to be worked on, so I will be unassigning you. Please pick an issue from the Prioritized Backlog column. (Below are detailed instructions for how to do so if you need it.)

**How to find issues to work on:**
1) In the "Onboarding info/links" column on the far left of the Project Board, scroll down the column until you see the cards that say "Sort by Front-end Iss

[2022-04-20 19:52] JessicaLucindaCheng commented on #3056
@gregpawin There is an unchecked Action Item that says, "Open an issue on VRMS to update the meeting times and provide the link to the new issue in the comment below". Did you need your meeting times updated too? If yes, you will need to fill out [VRMS Add/edit team meeting time template issue](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-t

[2022-04-20 19:56] sacamp commented on #2900
This issue was created into a template for future use.

[2022-04-20 19:56] #2900 closed, assigned to sacamp

[2022-04-20 19:57] gregpawin commented on #3056
Sorry, I didn't know what that meant. No, we don't need them updated. I went ahead and checked it.

[2022-04-20 20:28] sacamp commented on #2498
### Meeting: 4/20/22

### Things to discuss:

- [ ] Research updates
   - [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+r

[2022-04-20 20:43] summerharveyux commented on #2763
Progress: Simone reached out to Bonnie to determine which of the 2 selfies she recommends, and Bonnie logically suggested we do a preference test to determine which selfie we should then compare against the stitched Zoom screenshots. Bonnie then reshared the selfie images with me (since all I had was a screenshot) and I launched the preference test between the 2 selfies. I'll compile quant and qua

[2022-04-20 21:04] JessicaLucindaCheng commented on #3056
@gregpawin

Thanks for letting me know. Sorry for the confusion. I agree that Action Item is confusing and will update the template so it is clearer

[2022-04-20 21:45] JessicaLucindaCheng commented on #3059
@sanya301 There is an unchecked Action Item that says, "Open an issue on VRMS to update the meeting times and provide the link to the new issue in the comment below". Did you need your meeting times updated too? If yes, you will need to fill out [VRMS Add/edit team meeting time template issue](https://github.com/hackforla/VRMS/issues/new?assignees=&labels=1+week+change+request&template=add-edit-te

[2022-04-20 21:59] RyanCahela commented on #2999
Provide Update
1. Progress: I've been setting up a new development environment the last few days. Now I think I'm at a point where I can start reviewing PR's and continue with reading the documentation.
2. Blockers: none
3. Availability: 2 Hours 4/20/22
4. ETA: 3 days

[2022-04-20 22:04] #2589 closed, assigned to nobody

[2022-04-20 22:05] RyanCahela commented on #2728
Availability: Weekdays, 3-5PM.
ETA: Friday 4/22/22.

[2022-04-20 22:08] answebdev commented on #2455
**Progress Report**

- Progress: Got feedback/help back from Jessica and started addressing some of the feedback: Had previously created my topic branch off of "gh-pages", instead of "feature-homepage-launch", so I have now created my topic branch of of "feature-homepage-launch" and worked on my getting my code into this new topic branch; addressed capitalization as mentioned in a comment; updated

[2022-04-20 22:15] JessicaLucindaCheng commented on #2728
@RyanCahela Since you have already completed a Small issue, please work on a Medium size issue for your next issue.

[2022-04-20 22:18] RyanCahela commented on #2728
@JessicaLucindaCheng OK, should I unassign myself from this issue?

[2022-04-20 22:26] ExperimentsInHonesty commented on #2686
@sacamp @phuonguvan can you talk about this issue, and figure out why it has both a design and research label on it.  If there are tasks for design, please make a new issue with the Design action items on it.

[2022-04-20 22:27] RyanCahela commented on #2934
Availability: Weekdays, 3-5PM.
ETA: Friday 4/22/22.

[2022-04-20 22:28] Claudiahamilton-png commented on #3051
Availability for this week: Fridays, Saturday, Sundays. (4-6 hours)
My estimated ETA for completing this issue:

[2022-04-20 22:30] #3051 closed, assigned to Claudiahamilton-png

[2022-04-20 22:41] sijiapitts opened #3071 "Pre-work Checklist: Designer: Sijia"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-04-20 23:07] JessicaLucindaCheng commented on #2901
@SAUMILDHANKAR I changed your Action Item

to

This removes the problem "Also, for _wins-data.json, UniqueID shouldn't be there yet because the Google Apps Script related to issue https://github.com/hackforla/website/issues/2385 hasn't been added to the product script.", which needs to be addressed in a separate issue.

[2022-04-20 23:19] JessicaLucindaCheng commented on #2141
Availability: 3 hours
Review ETA: Sat, Apr 23, 2022

[2022-04-21 00:21] luke-karis commented on #2901
ETA and Availability Update:
ETA: 4/27
Availability: Sunday 4/25 - Wednesday 4/27 for 1-2 hours each day (assuming I'm feeling better)
Blockers: I'm been feeling a little sick this past week so I haven't made a lot of progress on this. Hopefully I'll feel better soon and be able to work on this during my availability.

[2022-04-21 00:53] SAUMILDHANKAR commented on #2212
**FYI**
Based on our team meeting discussion on Sat, 4/16, we have decided to go with requesting all newcomers to add a comment answering the question `How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?` in their prework issues instead of adding the size label. [Relat

[2022-04-21 01:00] SAUMILDHANKAR commented on #2964
**Updated decision**
@poorvi4 Based on our team meeting discussion on Sat, 4/16, requesting you to add a comment answering the question `How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?` in a comment below instead of adding the size label. Thank you.

Note: This is

[2022-04-21 01:38] JessicaLucindaCheng commented on #3068
@ericvennemeyer Good job on writing the issue! I made the following changes to what you wrote:
- I added the following last Action Items
  - [ ] After conferring with the leads, implement the solution in a topic branch in your forked repo
  - [ ] Open a pull request
- I moved what you wrote in the Overview into the Details section. Then, I wrote an Overview as a user story by following the [Give a

[2022-04-21 01:55] JessicaLucindaCheng commented on #3068
@Providence-o @ExperimentsInHonesty Even though Eric has not completed a good first issue yet, Bonnie (at the Sun, Apr 17 meeting) said it was okay for Eric to start work on this issue because Eric has already done a lot of research and work associated with figuring out a fix to the error.

Also, I know usually we wait until the issue has been given a Milestone by a PM and prioritized in the Prior

[2022-04-21 02:03] eodero opened #3074 "Pre-work Checklist: Developer: Erick Odero"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-04-21 04:31] sanya301 commented on #3059
@JessicaLucindaCheng I must have missed that, but no we do not need to update the meeting times

[2022-04-21 21:39] SAUMILDHANKAR commented on #2699
# Agenda for APR 21, 2022

## Prework to prep for the meeting
- [ ] Check `label:"time sensitive"` in Prioritized Backlog.
  - [ ] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [ ] Check th

[2022-04-21 23:17] SAUMILDHANKAR commented on #3031
Waiting for response from GitHub support on Ticket  # 1594518

[2022-04-22 02:13] #2913 closed, assigned to trishajjohnson

[2022-04-22 20:56] RyanCahela commented on #2934
@SAUMILDHANKAR @JessicaLucindaCheng

I've been trying to run get-project-data.js in a sandbox on my machine but I get stopped by the rate limit for unauthenticated requests. I know there is a reference to a process.env.token on line 17.

I'm wondering if there is an official auth token I can use locally to find out when and where the script is failing?

The more I look at the script the more I thi

[2022-04-22 21:08] nathan944 commented on #2501
Availability for this week:

1. Progress: I've completed 'program areas', with 2 more tasks to be completed.
2. Blockers: N/A
3. Availability: A few hours
4. ETA: By Sunday (4/24/22) this week, for the review
Images:
![image 2](https://user-images.githubusercontent.com/76053494/164793693-8368f4b4-c6f5-4964-a8d1-4b3f27a27834.png)

[2022-04-22 22:16] JessicaLucindaCheng commented on #1850
- Progress: None
- Blockers: Needing to figure out what to do with this issue going forward and what issues still need to be written.
- Availability: Not sure
- ETA: Not sure

[2022-04-22 22:20] JessicaLucindaCheng commented on #2746
- Progress: 80% done. Need to remove anything that is repeated in the Getting Started section that is already in the pre-work. Also, need to move resources to a different Wiki page and link back to Web Developer page.
- Blockers: None
- Availability: Not sure
- ETA: Hopefully, Saturday, April 30, 2022

[2022-04-22 22:21] JessicaLucindaCheng commented on #2722
Progress: Some of the issues related to the epic have been written. After I finalize the individual issue format in terms of dependencies, I may put this back into the prioritized backlog for someone else to work on.
Blockers: None
Availability: Not sure
ETA: April 27, 2022

[2022-04-22 22:28] ericvennemeyer commented on #3068
@JessicaLucindaCheng Thanks for the adjustments to my original issue. I'm going to wrap up work on it for this week. Please find my progress report below. The next meeting I will be able to attend is this coming Tuesday, 4/26, at 7pm.

i. `Progress`: I have determined that reverting to older issues of Ruby and Jekyll within a Docker container will have no impact on the security or functioning of t

[2022-04-23 06:36] SAUMILDHANKAR commented on #3052
Closing this issue as I heard from Quanayzia on slack about no longer able to volunteer with Hack for LA due to personal events.

[2022-04-23 06:36] #3052 closed, assigned to gardenqu

[2022-04-23 06:52] JessicaLucindaCheng commented on #2141
@tamara-snyder Good job on the write-up. It looks good. I just wrote a couple of comments in the Google Doc.

Also, I added an Action Item to the issue, which I think is needed for having another developer fix the code based on your recommendations. (Let me know if my Action Item is confusing or unclear because I wasn't sure how to word it.)

[2022-04-23 07:03] SAUMILDHANKAR commented on #2607
## APR 23, 2022 Meeting Agenda - did not have a meeting

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the i

[2022-04-23 07:46] JessicaLucindaCheng commented on #2625
@scarter31191 I see there is still a "Status: Help Wanted" label. Did you still need help or have other questions?

Edit: Also, I sent a Slack message about it on May 4, 2022.

[2022-04-23 11:15] JessicaLucindaCheng commented on #2916
@eodero
- When you self-assign an issue, please move the issue to the In Progress column. See instructions for how to do this in [2.4.b Move this issue from the ‘Prioritized Backlog’ to the ‘In progress’ & back](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#24b-move-this-issue-from-the-prioritized-backlog-to-the-in-progress--back).
- At the time you self-assign an issue, make

[2022-04-23 16:21] harshitasao commented on #2592
Progress: 4 task completed, Some are left.
Blockers: Have some clarification question.
Availability: Sunday (11am-1pm) IST
ETA: Till monday

[2022-04-23 16:23] harshitasao commented on #2592
Progress: 4 task completed, Some are left.
Blockers: Have some clarification questions.
Availability: Sunday (11am-1pm) IST
ETA: Till Wednesday

[2022-04-23 20:53] JessicaLucindaCheng commented on #3068
@ericvennemeyer Thanks for the update! We can discuss the next steps at the Tue, Apr 26 meeting.

[2022-04-23 20:59] ExperimentsInHonesty commented on #3040
Add to next agenda, discussing the differences between the templates for development (which have evolved over the last two months) and the one for design. We probably need to look at the new content they have added for lessons learned to update the one for design

[2022-04-23 21:03] SAUMILDHANKAR commented on #2701
@riddle015 Hi Hiram, I noticed that the small issue that you last picked wasn't ready to be worked upon. Please pick your next small issue from the Prioritized Backlog column. Based on the role filter that you want to go for, it should be the top small issue in the Prioritized Backlog column once you filter by small issues. I can demo this for you in our next team meeting as well. Please let me kn

[2022-04-23 21:07] SAUMILDHANKAR commented on #2940
@Benji-Montgomery Hope you are doing well. Planning to close this issue due to inactivity. I will leave a slack message as well about the same. Please feel free to join us back when your availability changes. Thanks.

[2022-04-23 21:24] SAUMILDHANKAR commented on #3004
@PMKnight Please share your weekly progress report using the below format on your issue #2909:
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

Once you do that, you can check-off the corresponding action item above. Thank you.

[2022-04-23 21:39] Sparky-code commented on #2061
Progress: Not much, still have to go through and implement the changes and updates to the spreadsheet, got a bit tunnel-visioned on a school project and this took the hit time wise.
Blockers: Just finding the time.
Availability: M/W/F 6+hrs
ETA: Hope to make solid progress this week.

[2022-04-23 22:19] SAUMILDHANKAR commented on #2699
# Agenda for APR 23, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [ ] Divide up any tasks from the [Dev/PM Agenda](https://github.com/hackforla/website/issues/2607)
- [ ] Check if this issue has been completed: https://github.com/hackforla/VRMS/issues/1098

## Items carried over from last meeting (things we did

[2022-04-23 23:06] JessicaLucindaCheng commented on #2699
# Agenda for APR 21, 2022

## Prework to prep for the meeting
- [x] Check `label:"time sensitive"` in Prioritized Backlog.
  - [x] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [x] Check th

[2022-04-23 23:07] JessicaLucindaCheng commented on #2699
# Agenda for APR 23, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [ ] Divide up any tasks from the [Dev/PM Agenda](https://github.com/hackforla/website/issues/2607)
- [x] Check if this issue has been completed: https://github.com/hackforla/VRMS/issues/1098

## Items carried over from last meeting (things we did

[2022-04-23 23:23] trishajjohnson commented on #3041
Review ETA: 10 AM 4/23/22
Availability: 5-8 PM Saturday

[2022-04-24 00:41] poorvi4 commented on #2964
@SAUMILDHANKAR
1. How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

I would say anywhere 2-3 hours (including attending the first meeting)

[2022-04-24 00:54] poorvi4 commented on #2395
Progress: Just started.
Blockers: None so far
Availability: 4 - 6 hours
ETA: Not sure. Tentative: next Sunday
Availability: Saturday/Sunday (4 hours)

[2022-04-24 14:17] JessicaLucindaCheng commented on #2027
### Agenda for Apr 24, 2022
Facilitator: Jessica Cheng

**Before Breakout Rooms**
- [x] Let UX team know Simone isn't going to be at the meeting today
- [x] Reminder no meetings the 1st-7th of every month. There will be an all leads meeting on Sun, May 1st; if you are interested in joining, please put your email in the chat and we will add you.

**Dev Meeting**
- [x] Nominate a note-taker who will

[2022-04-24 15:35] JessicaLucindaCheng commented on #2914
@JayBarbanel
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-04-24 15:37] JessicaLucindaCheng commented on #2775
Progress: All the issues have been written and prioritized but now I need to add a release dependency to all the issues. I have added release dependency to some of the issues already but just need to finish the rest.
Blockers: None
Availability: 6 hours
ETA: Sun, May 1, 2022

[2022-04-24 15:39] JessicaLucindaCheng commented on #2555
Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Started on the styling of the page: most of desktop is done, need to complete mobile styling. (See [Developer's Notes](https://github.com/hackforla/website/issues/2555#issuecomment-1001147824) for more details.)
Blockers: None
Availability: 6 hours
ETA: Tue, April 26, 2022 b

[2022-04-24 15:43] JessicaLucindaCheng commented on #2909
@PMKnight
Please give a progress report in a comment in this issue that includes Progress, Blockers, Availability, and ETA. See what you need to include in your progress report and more information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue)

[2022-04-24 15:47] JessicaLucindaCheng commented on #2183
@Wny-Duong
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-04-24 15:47] JessicaLucindaCheng commented on #2793
@matt-arofin
At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-04-24 16:16] Wny-Duong commented on #2183
Availability: 8 hours
ETA: Monday, 4/25.

Sorry about that! I thought the ETA was just for first issues and progress reports.

[2022-04-24 16:40] matt-arofin commented on #2793
Ohh thank you for the reminder, I'll keep that in mind moving forward! In the meantime, here's my progress update for this week:

- `Progress`: Completed 2 action items requesting changes to the 'content' and 'type' fields of the `_data/internal/credits/avatar.yml` file.
- `Blockers`: No blockers encountered thus far.
- `Availability`: I will be blocking off 8 hours this week between Wednesday and

[2022-04-24 17:50] #3066 closed, assigned to nathan944

[2022-04-24 19:59] SAUMILDHANKAR commented on #2607
## Apr 30, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-04-24 22:02] elizabethhonest opened #3080 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-04-25 02:15] Sparky-code commented on #2916
Hey @eodero, Some things with this issue got caught after I'd merged it so I'm reopening the issue for you to address them. Sorry for any confusion over the back and forth.

_NOTE: You should be able to work on the same branch you created for this issue but you will probably need to open a new PR._

- [ ] Make sure to check off the action items at the top of this issue as you complete them.
- [ ]

[2022-04-25 15:44] cwvivianlin commented on #1789
Progress: Presentation slides and recommendation list complete. I plan to present in the 5/1 meeting (Sunday).

[2022-04-25 16:43] Sparky-code opened #3082 "Bump node-fetch from 2.6.1 to 2.6.7 to resolve a security vulnerability"
### Overview

As a developer, I would like website team repo to be free of security vulnerabilities. For this issue, we will address the security vulnerability alert related to node-fetch.

### Details

This issue addresses a security issue in node-fetch version < 2.6.7 that was automatically prompted by GitHub's [dependabot](https://github.com/dependabot).

Note: Node-fetch is vulnerable to expos

[2022-04-25 20:37] JackieRiley1 commented on #2663
Progress: I was informed that I would be able to get a Hack for LA email and information about getting a  free account from Survey123.

Blockers: Once I can get access to email and a Survey123 account, I can proceed to creating a survey and testing the survey features.

Availability: 3 Hours

ETA: This will depend on when I am able to get access to the email and Survey123 account.

[2022-04-26 02:15] SAUMILDHANKAR commented on #2934
@RyanCahela Hi Ryan, thanks for bringing this up. Looks like a good approach to me but, unfortunately, I am not aware if there is an official auth token that can be used. I will keep an eye out for it and will check with PM as well but that would be towards the end of the week. Sorry for the delay.

[2022-04-26 13:56] #2793 closed, assigned to matt-arofin

[2022-04-26 14:25] #2183 closed, assigned to Wny-Duong

[2022-04-26 21:12] SAUMILDHANKAR commented on #2010
### Agenda for APRIL 26, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Thanks Kathryn for taking the meeting notes in our Sunday meeting as well as reviewing PR 3079 for a good first issue
  - [x] Congrats Wilny for getting your PR 3081 for a good second issue merged.
  - [x] Thanks Devin for w

[2022-04-27 00:54] SAUMILDHANKAR commented on #3009
Kathryn updated weekly progress report in issue 2391. So, moving this to Done.

[2022-04-27 00:59] SAUMILDHANKAR commented on #3049
@trishajjohnson Hi Trisha, I just noticed that you haven't updated any of your issues with the weekly progress report using the following format:
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

So, I have unchecked the corresponding action item. Please feel free to check it off again once you are done with it. Thank you.

[2022-04-27 01:04] SAUMILDHANKAR commented on #3054
@alfredo-mejia Hi Alfredo, looks like you have set-up your dev environment and are all set to pick up your first issue. Good job! Please feel free to post in the [hfla-site slack channel](https://app.slack.com/client/T04502KQX/C4UM52W93) if you have any questions or need help. Thank you.

[2022-04-27 01:07] SAUMILDHANKAR commented on #3055
@eodero Hi Erick, great job working on your first issue. Just requesting to check off the action items in this issue above as you go. Thank you.

[2022-04-27 01:14] SAUMILDHANKAR commented on #3065
@Olanrewaju-Ak I remember from our last meeting you were setting up your dev environment. Just wanted to follow up on that if it is going well. Please feel free to post on our [hfla-site slack channel](https://app.slack.com/client/T04502KQX/C4UM52W93) if you have any questions or need help. Thank you,

[2022-04-27 01:18] SAUMILDHANKAR commented on #3074
@eodero Hi Erick, I just noticed that you have 2 pre-works open. Here is the link to your other pre-work issue: https://github.com/hackforla/website/issues/3055. Requesting to close the one that you aren't using. Thank you.

[2022-04-27 01:34] SAUMILDHANKAR commented on #2699
# Agenda for APR 26, 2022

## Prework to prep for the meeting

## FYIs (nothing needs to be done, just keeping each other informed)

## Recurring items
- [ ] Check if this issue has been completed: https://github.com/hackforla/VRMS/issues/1098

## Items carried over from last meeting (things we didn't have time for)

## New items

## Notes from meeting

## Tasks
- [ ] Add checking every active dev

[2022-04-27 01:40] trishajjohnson commented on #3049
Progress Update:

1. Progress - just about finished. Just need to post this update and close issue.
2. Blockers - none.
3. Availability - 6hrs this week.
4. ETA - end of day Wednesday.

[2022-04-27 01:41] trishajjohnson commented on #3049
@SAUMILDHANKAR how do I close this issue once all tasks are done?

[2022-04-27 02:13] JessicaLucindaCheng commented on #2555
- Progress: Finished with the issue and opened a pr.
- Blockers: None
- Availability: Will update if there are any requests for changes
- ETA: Will update if there are any requests for changes

[2022-04-27 02:32] trishajjohnson commented on #2892
Availability for this week: 6hrs
My estimated ETA for completing this issue: end of day Thursday

[2022-04-27 02:36] Sparky-code commented on #2141
Reviewing:
ETA 4/26-27 EOD
Avail: 2hrs

[2022-04-27 03:50] Sparky-code commented on #2802
Hello @ExperimentsInHonesty, while reviewing the PR for this issue I noticed that the buttons for 'suggest a guide' and 'suggest a resource' on the toolkits page don't actually connect to anything and appear broken, though they just don't have links.

I understand you're the stakeholder here so I wanted to get your input on whether it would make sense to have something like an onclick class for th

[2022-04-27 16:03] Sparky-code commented on #2141
Good Morning @tamara-snyder Write up looks good, I really don't know much about liquid so it was cool to learn some things. I added a couple comments that might be helpful for organization / clarification but over all, great job!

[2022-04-27 20:07] sacamp commented on #2498
### Meeting: 4/27/22

### Things to discuss:

- [ ] Research updates
   - [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+r

[2022-04-27 20:29] gold-o commented on #3034
Availability for this week:

1. Progress: I have brainstormed ideas for the issue and need to review them with the design lead
2. Blockers: N/A
3. Availability: 5 hours
4. ETA: Second week of May

Images:

![image](https://user-images.githubusercontent.com/38343775/165625445-fa01ac02-e218-4b00-8ad2-f1530f46966e.png)

[2022-04-27 21:12] summerharveyux commented on #2763
Progress: Finished the preference test (was aiming for N=115, achieved N=121. The quant finding is that Selfie hackforla/product-management#1 was the clear winner! Already finished analyzing the qual findings for Selfie hackforla/product-management#2, and in progress on analyzing the qual findings for Selfie hackforla/product-management#1 and creating the final slide deck as I go.
Once all the qua

[2022-04-27 21:58] #3071 closed, assigned to sijiapitts

[2022-04-27 22:06] #3069 closed, assigned to gold-o

[2022-04-27 22:28] sijiapitts commented on #3035
1. Progress: Shared my design ideas with Phu and received feedback. The next step is to create low-fi prototypes (web version) using the actual content.
2. Blockers: No blockers on my end. Phu might need to check with the developers to see if we can use pictures in the accomplishment section.
3. Availability: 6+ hours
4. ETA: The low-fi prototypes will be completed by the next team meeting on 5/4

[2022-04-28 01:49] answebdev commented on #2455
**Progress Report**

- Progress: Got feedback/help back from Jessica and started addressing some of the feedback.
- Blockers: I have been having Docker issues since last week, and have not been able to work on this issue, since I was working on my Docker issue. Got Docker issue resolved, but currently have another issue.
- Availability: 6 hours
- ETA: 5/4/2022 (depending on Docker issues)

[2022-04-28 02:39] ericvennemeyer commented on #3068
@JessicaLucindaCheng @SAUMILDHANKAR Update per the website team meeting on Tuesday, 4/26:

To follow up on last night's meeting, I rechecked the images listed in the [official Jekyll Docker image registry](https://hub.docker.com/r/jekyll/jekyll/tags). As mentioned, none of them exactly match the versions of Jekyll/Ruby that we're looking for. However:

1. If we're looking to match the Jekyll versi

[2022-04-28 03:54] #3055 closed, assigned to eodero

[2022-04-28 03:55] eodero commented on #3074
- [x] How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
- About 2 weeks. Had to re-do some of the tasks on the checklist

@SAUMILDHANKAR  Thanks I closed the other one

[2022-04-28 04:26] eodero commented on #2916
@Sparky-code Hello, thanks for the comments. For the double quotes, I did not intentionally edit or change from single quotes. I use VS Code, I have checked and didn't see any linter extension installed and I don't know how to disable the feature it has been enabled by default. Can you advise. Thanks

[2022-04-28 04:36] answebdev commented on #2916
@eodero This might be something to do with the auto-formatting when you save on VS Code. I had the same issue when I started, where it was automatically changing to double-quotes, for example. If you are on Windows, do Control - Shift - P in VS Code. Then up top, search for and select **File: Save without Formatting**. This should save your file without automatically formatting and changing the qu

[2022-04-28 18:36] Olanrewaju-Ak commented on #3065
Hello @SAUMILDHANKAR , i had issues installing the docker desktop because it does not run on Windows 10 Home. I had to download Docker Toolbox and VirtualBox. After installing and trying the docker compose-up code from the guideline, it does not seem to be working well. I will post pictures on the slack channel so you or anyone else could help

[2022-04-28 20:05] RyanCahela commented on #2934
@SAUMILDHANKAR @JessicaLucindaCheng @tamara-snyder

I think I've found a solution for this bug, it's in get-project-data.js on line 166 "cfa" should be changed to "codeforamerica".

I'm trying to test the solution by manually running the "update github data" action in my forked repo. I'm getting a 'Input required and not supplied: token" error.

There is a reference to  ```token: ${{ secrets.HACKF

[2022-04-28 22:01] ericvennemeyer commented on #3068
@JessicaLucindaCheng @SAUMILDHANKAR One last update for the week:

i. `Progress`: I've reached out to both Ops and Engineering teams on Slack, and have had responses on both channels. @cnk pointed out the H4LA team does not typically have a lot of devops expertise, and thus it would still be preferable to find an existing Docker image that stays pinned to what GH Pages uses. Following her advice,

[2022-04-28 23:20] #2914 closed, assigned to JayBarbanel

[2022-04-28 23:33] SAUMILDHANKAR commented on #3031
Update: Ticket has been updated and the issue has been escalated to the GitHub engineering team. Forwarded the latest update on webadmin@hackforla.org.
Blocker: Waiting to hear back from the engineering team
ETA: 1 week.
Availability: 2 hours this week.

[2022-04-29 00:11] SAUMILDHANKAR commented on #2699
# Agenda for APR 28, 2022

## Prework to prep for the meeting
- [ ] Check `label:"time sensitive"` in Prioritized Backlog.
  - [ ] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [ ] Check th

[2022-04-29 04:44] Sparky-code commented on #2061
Progress: adding more detail to track locations of cards on each page, clarifying spreadsheet with input from reviews and linked audit references. Cross referencing and finding a few more instances I'd missed.
Blockers: Having some issues with searching in VSC and would like to take some time to go over why these issues are happening and making sure i'm not missing anything else.
Avail: Friday 2-3

[2022-04-29 13:26] tamara-snyder commented on #2141
Progress: I need to make updates according to the feedback in the Google doc.
Blockers: None
Availability: Monday morning, 2 hours (traveling this weekend)
ETA: 05/03/2022

[2022-04-29 17:01] sherririllingux commented on #2974
I'm currently working on the issue from the action steps that is asking for a self-quiz to determine where new volunteers should be placed based on their goals, experience, and skills. It is issue #3005.

[2022-04-30 18:53] SAUMILDHANKAR commented on #2699
# Agenda for APR 30, 2022

## Prework to prep for the meeting
- [ ] Check `label:"time sensitive"` in Prioritized Backlog.
  - [ ] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [ ] Check `l

[2022-04-30 19:20] SAUMILDHANKAR commented on #3049
@trishajjohnson Sorry, I was not clear enough in my earlier comment but the weekly progress update needs to be posted in the issue that you are currently working on (other than this prework issue). So, I am unchecking the action item for now but please feel free to check it off once you post on an issue. Thank you.

FYI: To close an issue, just click on close issue button at the bottom of the issu

[2022-04-30 19:53] JRHutson opened #3084 "Update Project Profile: Home Unite Us"
### Overview
As a product manager of Home Unite Us I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/home-unite-us.md

### Action Items

- [x] Developer: Update the [Home Unite Us project info page](https://www.hackforla.org/projects/home-unite-us) Team Leadership as requested by the PM:
   - [x] PM:

[2022-04-30 20:07] SAUMILDHANKAR commented on #3074
@eodero I just added your response to the question in comment above. Thanks for closing the other issue.

[2022-04-30 20:15] SAUMILDHANKAR commented on #2676
Progress: Not much progress but will spend time on this during the planning week.
Blockers: None
Availability: 1-hour next week
ETA: 2 weeks

[2022-04-30 22:08] ExperimentsInHonesty commented on #3050
@greg-nice - I am checking in on you.  Did you decide not to volunteer with Hack for LA?  Or are you confused about next steps?

[2022-04-30 22:12] ExperimentsInHonesty commented on #3049
@trishajjohnson - Just checking in with you to see how onboarding is going.  It looks like you finished your first issue.  Congrats.  On your second issue (the one you are working on now), it looks like you have not moved it to the in progress column.  Please do that.
https://github.com/hackforla/website/issues/2892

[2022-04-30 22:22] ExperimentsInHonesty commented on #3065
Please don't close the issue until we get you fully onboarded.

[2022-05-01 04:34] ExperimentsInHonesty commented on #2606
@jenjen26 great work. Sorry for the delay in reviewing this.  I am moving it to the dev's attention so that they can make an issue for it.

[2022-05-01 04:38] ExperimentsInHonesty commented on #2607
- What should PMs do with issues that are ready for devs to look at to make issues from.  What column should I put them in.  They are closed.  Is it supposed to go into new issue approval?  - See example https://github.com/hackforla/website/issues/2606
- I think the wins page spreadsheet  is messed up. I just saw a message telling me to review a win, and it says its from October and November of la

[2022-05-01 04:40] #3041 closed, assigned to nobody

[2022-05-01 05:38] kathrynsilvaconway commented on #3027
ETA: 5/17/22 End of day.
Availability: 12 hours

[2022-05-01 07:03] #3022 closed, assigned to Jaretzbalba

[2022-05-01 17:08] sacamp commented on #2733
Questions have been revised and survey implementation options are being explored in issue #2663

[2022-05-01 17:08] #2733 closed, assigned to JackieRiley1

[2022-05-01 17:31] sacamp commented on #2686
This was a collaboration issue between the design and research team. A designer working on the top nav design wanted to do research validating some options and subsequently worked with the research team to attempt to develop a research plan. I believe the designer started working on the research plan but did not perform the research.

[2022-05-01 18:25] JessicaLucindaCheng commented on #2699
### All Leads Meeting Notes May 1, 2022
- [x] (Saumil) Anything in the Done column if it's open leave it in there. Also, if it is less than 30 days old in the column leave it in there. **Update: Changed number of days in #2955 from 60 to 30 as requested in the meeting.**
- [ ] (Both tech leads) Discuss videos (low priority):
  - [ ] New members' journey
    - [ ] Setting up prework
    - [ ] Walki

[2022-05-02 00:10] SAUMILDHANKAR commented on #2934
@RyanCahela Great job in figuring out the changes required. Yes, I do have access to the repo token that you mentioned and we can use it for testing. Just want to make sure that we change it once the test is complete. So, please let me know how and when you would like the token to be shared. We can also setup some time around Tuesday meeting time or some other time if you would prefer to do it in

[2022-05-02 03:01] SAUMILDHANKAR commented on #3068
@ericvennemeyer Thanks for sharing your update and making great progress on your issue. Just wanted to let you know that there is no website team meeting on Tuesday, 5/3. Our next team meeting would be the Sunday all-team meeting on 5/8. We would still be doing one-off meetings if required and following up on slack channel as well. Keep up the good work. Thank you.

[2022-05-02 20:54] Jaretzbalba commented on #2355
Availability: 4hrs
ETA: Wed 5/4/2022

[2022-05-02 22:44] zzhoje commented on #2037
Progress: Problem, Solution, Impact drafts written up to Design Systems

[2022-05-02 23:30] SAUMILDHANKAR opened #3088 "Change alt text for hero image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the hero image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are either inaccurate or t

[2022-05-03 00:18] SAUMILDHANKAR opened #3089 "Change alt texts for images on citizen engagement page"
### Dependency
- [x] #3091
- [x] #3088
- [x] #3090
- [x] #3093
- [x] #3092
- [x] #3094
- [x] #3095
- [x] #3096
- [x] #3097
- [x] #3098
- [x] #3099
- [x] #3100
- [x] #3101
- [x] #3102
- [x] #3103
- [x] #3104
- [x] #3105
- [x] #3106
- [x] #3107

### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this epic, we will write the issues to ch

[2022-05-03 02:42] ExperimentsInHonesty commented on #3056
Also add the Overview doc.  Here is the PDF https://github.com/hackforla/product-management/blob/master/project-one-sheets/Lucky-Parking-One-Sheet.pdf

[2022-05-03 05:30] luke-karis commented on #2901
ETA and availability update:
Progress: Started working on the scripts in the admin drive rather than my janky copy and pasted one. Unfortunately not too much other progress to report
ETA: 5/9/22
Availability: Monday 1 hour, Tuesday 1-2 hours, Wednesday (maybe) 1 hour, Saturday and Sunday 1-2 hours
Blockers: none

[2022-05-03 17:41] ericvennemeyer commented on #3068
@SAUMILDHANKAR Thanks for the heads-up, I had forgotten there are no meetings this week. Unfortunately, I can't make the all-team meeting on Sunday, 5/8. I will continue to work on this issue, however, and will be available for a one-off meeting or Slack discussion if you would like to check in before next Tuesday 5/10. My schedule should get less weird after this week, so I will be able to attend

[2022-05-03 20:05] SAUMILDHANKAR opened #3090 "Change alt text for card image in 311 data md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the 311 data project card image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are eithe

[2022-05-03 22:29] SAUMILDHANKAR opened #3091 "Change alt text for sdg image in 311 data md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the 311 data project's sustainability development goal image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be c

[2022-05-03 23:20] SAUMILDHANKAR opened #3092 "Change alt text for card image in access the data md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the access the data project card image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they ar

[2022-05-03 23:36] SAUMILDHANKAR opened #3093 "Change alt text for sdg image in access the data md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the access the data project's sustainability development goal image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page shou

[2022-05-03 23:48] SAUMILDHANKAR opened #3094 "Change alt text for card image in engage md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the engage project card image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are either

[2022-05-03 23:55] SAUMILDHANKAR opened #3095 "Change alt text for sdg image in engage md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the engage project's sustainability development goal image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be cha

[2022-05-04 00:05] SAUMILDHANKAR opened #3096 "Change alt text for card image in lucky parking md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the lucky parking project card image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are

[2022-05-04 00:12] SAUMILDHANKAR opened #3097 "Change alt text for sdg image in lucky parking md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the lucky parking project's sustainability development goal image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should

[2022-05-04 00:22] SAUMILDHANKAR opened #3098 "Change alt text for card image in open community survey md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the open community survey project card image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because t

[2022-05-04 00:31] SAUMILDHANKAR opened #3099 "Change alt text for sdg image in open community survey md file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the open community survey project's sustainability development goal image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement pag

[2022-05-04 00:44] SAUMILDHANKAR opened #3100 "Change alt text for CFA logo image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the CFA logo image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are either inaccurate

[2022-05-04 01:21] SAUMILDHANKAR opened #3101 "Change alt text for LA neighborhood councils image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the LA neighborhood councils image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are ei

[2022-05-04 01:29] SAUMILDHANKAR opened #3102 "Change alt text for Palms neighborhood council image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Palms neighborhood council image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are

[2022-05-04 01:34] SAUMILDHANKAR opened #3103 "Change alt text for Echo Park neighborhood council image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Echo Park neighborhood council image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they

[2022-05-04 01:40] SAUMILDHANKAR opened #3104 "Change alt text for LA county open data image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the LA county open data image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are either

[2022-05-04 01:46] SAUMILDHANKAR opened #3105 "Change alt text for voices neighborhood council image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the voices neighborhood council image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are

[2022-05-04 01:53] SAUMILDHANKAR opened #3106 "Change alt text for Mid-city neighborhood council image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Mid-city neighborhood council image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they a

[2022-05-04 01:58] SAUMILDHANKAR opened #3107 "Change alt text for Marvista community council image in citizen engagement html file"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Marvista community council image on [citizen engagement page](https://www.hackforla.org/citizen-engagement).

### Details
Designers and PMs identified that some alt texts in the Citizen Engagement page should be changed because they are

[2022-05-04 06:37] SAUMILDHANKAR commented on #2570
Issues have been created and are being tracked in #3089, so moving this issue to done column.

[2022-05-04 07:11] phuonguvan commented on #2106
### Meeting: 05/04/22
Participants: Phuong, Bonnie, Sijia, Nathan

Task Items:
- [ ] Review Sijia's lo-fi and hi-fi wireframes #3035
- [ ] Review Johnathan's site map progress #2501
- [ ] Review Citizen Engagement Figma #2694
- [ ] Ask questions regarding #2601
- [ ] Figure out a backup time meeting for PM and Design to meet if the design lead can't come

[2022-05-04 11:06] abenipa3 commented on #1630
Hello! I'm sorry for the late update. Here's my progress-

Progress: Working on standardizing components.
Blockers: N/A
Availability: 6 hours
ETA:  Should be done with standardizing by today (5/4/22) or Friday (5/6/22) at the latest.

[2022-05-04 18:59] sacamp commented on #1797
## 2022-04-20 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-05-04 19:13] ExperimentsInHonesty commented on #3011
Sheri got miro access.

[2022-05-04 19:46] ExperimentsInHonesty commented on #3011
Just reviewed the Research this originates from:
wiki: https://github.com/hackforla/website/wiki/Onboarding-Research
[Slide presentation](https://docs.google.com/presentation/d/1P0ilYzzrF6aG_WRMPNfiAHU7x3n_n1p1mSvuSIxof-g/)
and it seems like we made all the changes that addressed the underlying issue when we added the about page and the new homepage that are about to launch.

However, I think that

[2022-05-04 23:24] JessicaLucindaCheng commented on #3068
@ericvennemeyer I think an update on this issue with progress, blockers, availability, and ETA would suffice for a check in. Also, if there was anything you would like to discuss, I think a Slack discussion will work, unless you think a one-off meeting would be a better way to discuss it depending on the discussion item.