[2021-11-02 17:38] Aveline-art commented on #2179
The article first draft has been completed ([link](https://github.com/hackforla/website/wiki/Hack-for-LA's-GitHub-Actions)). Please give feedback here, so that further edits can be made! Please let me know if it is useful to everyone!

[2021-11-02 17:50] macho-catt opened #2423 "Accessibility: Change bold to strong in 2FA.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 17:55] macho-catt opened #2424 "Accessibility: Change bold to strong in about-card-donations.html"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
To be WCAG compliant and ensure the same experience to all users, we want to change b tags to strong tags.

### Action Items
- [ ] Change all the b tags to strong tags within `_includes

[2021-11-02 17:58] macho-catt opened #2425 "Accessibility: Change bold to strong in donate.html"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
To be WCAG compliant and ensure the same experience to all users, we want to change b tags to strong tags.

### Action Items
- [x] Change all the b tags to strong tags within `pages/don

[2021-11-02 18:21] macho-catt opened #2426 "Accessibility: Change bold to strong in step 2 of getting-started.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 18:23] macho-catt opened #2427 "Accessibility: Change bold to strong in step 3 of getting-started.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 18:24] macho-catt opened #2428 "Accessibility: Change bold to strong in step 4 of getting-started.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 18:25] macho-catt opened #2429 "Accessibility: Change bold to strong in step 5 of getting-started.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 18:26] macho-catt opened #2430 "Accessibility: Change bold to strong in step 1 of getting-started.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 18:38] kristine-eudey commented on #916
Progress: Have been sidetracked by other work and have not yet begun.
Blockers: None, just time
Availability: 2 hours this week
ETA: Sunday 10/7

[2021-11-02 18:44] macho-catt opened #2431 "Accessibility: Change bold to strong in join-us.html"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
To be WCAG compliant and ensure the same experience to all users, we want to change b tags to strong tags.

### Action Items
- [x] Change all the b tags to strong tags within `pages/joi

[2021-11-02 18:52] kristine-eudey commented on #2304
I have reached out personally to 2 recent website team UX alums, Basu and Janie, who have both agreed to contribute their wins. They should be coming in shortly. Currently, there is 1 UI-UX win currently on the site that would be good on the homepage randomizer. Of the other 3, 1 is talking about the wins of the project rather than of the volunteer, 1 appears to be from someone who wasn't in UI-UX

[2021-11-02 19:28] jjung99 commented on #2430
Hi, I would like to work on this issue:)

[2021-11-02 19:50] macho-catt commented on #2430
Hi @jjung99, to contribute to our repo, you do need to join the HackForLA organization first. Please check this [website](https://www.hackforla.org/getting-started) to learn more on how to join our team. Thanks!

[2021-11-02 19:51] macho-catt commented on #2422
Hi @isayakmondal , to contribute to our repo, you do need to join the HackForLA organization first. Please check this [website](https://www.hackforla.org/getting-started) to learn more on how to join our team. Thanks!

[2021-11-02 21:09] macho-catt opened #2433 "Update 100-Automations Readme link"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly and are up to date.

### Action Items
- [x] Change the Readme link for 100 Automations so it resolves to the correct url

[2021-11-02 21:10] ahoang94 commented on #2154
@kristine-eudey @ExperimentsInHonesty

I have no prior insight as to why the initial 'copy' button was designed the way that it was, but I think that Kristine's provided logic as to making it 'light' is sound. After all, these buttons aren't true CTAs, but rather tools that developers may choose to use at their discretion.

As to the length of time that the tooltip is displayed, my thought is to d

[2021-11-02 21:41] macho-catt opened #2434 "Update Civic Opportunity Project GitHub link"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly and are up to date.

### Action Items
- [x] Change the GitHub link for Civic Opportunity Project so it resolves to the corre

[2021-11-02 22:01] macho-catt opened #2435 "Update outdated Demo link for Write for All"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 22:07] macho-catt opened #2437 "Remove outdated Site link for Spare"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-02 22:17] SAUMILDHANKAR opened #2438 "GitHub Actions: Improvements to error logs in add-label.js"
### Overview
As a developer, we need to ensure that the GHA to add labels produces a more descriptive error log when failing because currently it produces a generic error statement which might not be too helpful while debugging.

### Action Items
- [x] Become familiar with how the [GitHub action](https://github.com/hackforla/website/blob/gh-pages/.github/workflows/add-update-label-weekly.yml) "Add

[2021-11-03 01:10] #1571 closed, assigned to nobody

[2021-11-03 02:20] ExperimentsInHonesty commented on #2232
review this with the developers to see if they think anything is missing
[Issue: Pre-work Template - Developers](https://github.com/hackforla/website/issues/new?assignees=&labels=good+first+issue%2C+role%3A+front+end%2C+role%3A+back+end%2C+Feature%3A+Onboarding%2FContributing.md&template=pre-work-template--dev.md&title=Pre-work+Checklist%3A+Developer%3A+%5Breplace+brackets+with+your+name%5D)

###

[2021-11-03 02:52] ExperimentsInHonesty commented on #1256
Thanks!  looks amazing

[2021-11-03 02:52] #1256 closed, assigned to kristine-eudey

[2021-11-03 02:55] #2422 closed, assigned to nobody

[2021-11-03 02:56] ExperimentsInHonesty commented on #2422
marked as true

[2021-11-03 02:58] ExperimentsInHonesty commented on #2154
I agree.  We will keep it as is designed.  Thanks @kristine-eudey @ahoang94

[2021-11-03 02:58] #2154 closed, assigned to ahoang94

[2021-11-03 03:04] Rankazze commented on #2105
According to the CA Office of the Attorney General.  The California Consumer Privacy Act

**No. The CCPA does not apply to nonprofit organizations or government agencies.**

See Section A.  General Information about the CCPA #6

https://oag.ca.gov/privacy/ccpa

[2021-11-03 03:15] Rankazze commented on #1989
@ExperimentsInHonesty   I have completed the Draft HackforLA Privacy Policy
https://docs.google.com/document/d/19x1KsMTU-QBdopiV08HSBQ0i4g1ChrcPZ8ZXmUK50cY/edit#heading=h.1kvk4qkoxhzw

[2021-11-03 09:05] abenipa3 commented on #1630
## 11/3/2021

Progress:

- Updated CSS to apply font hierarchy.
- Found possible solutions for extracting "Guide Authors" section from content.
  - Working on updating liquid code for guide page layout to be able to extract the "Guide Authors" section

Blockers:

- Learning more about Liquid.
- Need to edit JavaScript to have arrow follow the user as they scroll.

Availability: Open

ETA: 11/6/21

[2021-11-03 22:23] macho-catt commented on #2127
Two new issues need to be created so this can be closed:
1. ~~Issue to update no-labels-template.md so that the message given by the bot is up to date with how the current issue creation workflow is~~ the message is already updated so this is done
2. Issue to update add-labels-tempate.md so that the bot creates a message if labels are missing.

[2021-11-03 23:38] macho-catt opened #2441 "Remove outdated links for Home Unite Us"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly. If they are outdated or no longer work, they should be removed.

### Action Items
- [x] Remove the Demo link for Home Unite

[2021-11-03 23:49] macho-catt opened #2442 "Delete outdated page: getting-started-with-video.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-11-03 23:56] ExperimentsInHonesty commented on #2435
Bonnie will write to Joel and find out what happened to the domain name.

[2021-11-04 02:27] macho-catt opened #2443 "Update Expunge Assist Slack link"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly and are up to date.

### Action Items
- [x] Change the GitHub link for Expunge Assist so it resolves to the correct url

[2021-11-04 02:32] macho-catt opened #2444 "Update HelloGov Slack link"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly and are up to date.

### Action Items
- [x] Change the GitHub link for HelloGov so it resolves to the correct url
    - **Li

[2021-11-04 02:38] macho-catt opened #2445 "Update Food Oasis Slack link"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to ensure that links on the website resolve properly and are up to date.

### Action Items
- [ ] Change the GitHub link for Food Oasis so it resolves to the correct url
    - **

[2021-11-04 02:39] macho-catt commented on #2363
All issues have been created. Closing

[2021-11-04 02:39] #2363 closed, assigned to macho-catt

[2021-11-04 03:54] arghmatey commented on #2317
Creating homepage-launch-feature branch to use for pull request instead.

[2021-11-04 12:16] doboianh commented on #2431
Can i do it

[2021-11-04 15:31] macho-catt commented on #2431
hi @doboianh. Thank you for your interest in contributing to our organization. If you would like to contribute to our repository, you need to join our organization first. To join, please check this [website](https://www.hackforla.org/getting-started).

Joining involves being onboarded to our team, and following the contributing document. We only allow volunteers to work and fix one issue at a time

[2021-11-04 16:23] #2344 closed, assigned to Steph0088

[2021-11-04 16:25] #2091 closed, assigned to edeneault

[2021-11-04 17:31] macho-catt commented on #2179
@Aveline-art I looked at the draft, and it looks good! Of course we're still in the process of moving stuff over, but the architecture is what we're aiming for. It is missing info on the scheduled triggers (in terms of how they will look under the .github directory and how they differ from normal triggers) and workflow run triggers (how it's different from normal triggers, why we do it and the sec

[2021-11-04 21:33] kristine-eudey opened #2446 "Update "Current Pages" in Figma (Credits, Sitemap, Program Areas, and Program Areas: Citizen Engagement)"
### Overview
We need to update the "Current Pages" file in Figma so that it accurately reflects both the current live versions of the **Credits, Sitemap, Program Areas, and Program Areas: Citizen Engagement** pages on the site, as well as the most updated Figma designs (which may or may not currently be live, but are approved for development).

### Action Items

- [x] Go to the "Current Pages" sec

[2021-11-04 21:34] kristine-eudey opened #2447 "Update "Current Pages" in Figma (Projects Page, Individual Project Page, Join Us)"
### Overview
We need to update the "Current Pages" file in Figma so that it accurately reflects both the current live versions of the **Projects Homepage, Individual Projects Page, and Donate** pages on the site, as well as the most updated Figma designs (which may or may not currently be live, but are approved for development).

### Action Items

- [x] Go to the "Current Pages" section in Figma
-

[2021-11-04 21:34] kristine-eudey opened #2448 "Update "Current Pages" in Figma (Nav Components, Toolkit, Guide Page, Donate)"
### Overview
We need to update the "Current Pages" file in Figma so that it accurately reflects both the current live versions of the **Nav Components (Top Nav & Footer), Toolkit, Guides, Donate** pages on the site, as well as the most updated Figma designs (which may or may not currently be live, but are approved for development).

### Action Items

- [x] Go to the "Current Pages" section in Figm

[2021-11-04 21:35] kristine-eudey opened #2449 "Update "Current Pages" in Figma (Homepage, About Us, Wins, Organizational Dashboard)"
### Overview
We need to update the "Current Pages" file in Figma so that it accurately reflects both the current live versions of the **Homepage, About Us, Wins, and Organizational Dashboard** pages on the site, as well as the most updated Figma designs (which may or may not currently be live, but are approved for development).

### Action Items

- [x] Go to the "Current Pages" section in Figma
-

[2021-11-04 22:47] kristine-eudey commented on #2106
### Meeting: 11/4/21

### Participants: Issac, Anh, Kristine, Jenna, Matthew, Simone, Alyssa, Ida, Jackie, Anya, Kristin

### Weekly Stand-Up (via [Project Board - In-Progress](https://github.com/hackforla/website/projects/7#column-7198228)) / Updates:
- If you have not updated your issue this week, please take a minute to do so now~
- Another new teammate, introductions!
- Kristine announcement

[2021-11-04 23:23] ExperimentsInHonesty commented on #2450
This looks like a test template for project updates.  For HackforLA website team to review

[2021-11-05 00:24] ahoang94 commented on #2129
@kristine-eudey I noticed that 'sitemap' is presented as both one and two words around the website (e.g., the sitemap page, the footer). We should choose one option and make it consistent across the website.

[2021-11-05 00:31] SAUMILDHANKAR opened #2451 "Update donate section on multiple pages to be the same component"
### Overview
We need to componentize the donate section on multiple pages to ensure consistent changes and formatting.

### Action Items
- [x] Notice the donate section on the following two links: [HfLA - Donate](https://www.hackforla.org/donate/) and [HfLA - Join](https://www.hackforla.org/join)
- [x] Extract the html file from the donation part of the [HfLA - Join page](https://www.hackforla.org

[2021-11-05 02:22] SAUMILDHANKAR commented on #2027
### November 7, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Make announcements
    - [x] For our design system, the winner is Nucleus.
- [x] Assigning pull request reviews
- [x] Wins celebrations
    - [x] @amnak1284 made her first pull request and it was merged. Congratulations, great work. #2411
    - [x] @Steph0088 also made their first pull request and was mer

[2021-11-05 10:15] abenipa3 commented on #1630
## 11/5/2021

Progress:

- Figured out how to split the Guide Authors from the content and place it in it's own page card.
  - Updated liquid code.

<details> <summary> Before Updating </summary>

![image](https://user-images.githubusercontent.com/38295612/140494291-6890578b-6ffb-47dc-8a49-4faf824322d4.png)

</details>

<details> <summary> After Updating</summary>

![image](https://user-images.git

[2021-11-05 17:16] abenipa3 commented on #1630
# Things Discussed 11/5/21

- Reviewed prototype so far.

# Action Items
- Test on How to Set Up Slack Reminders.
- Learn how to write a script for the following:
  - Delete error messages after using the Doc to Markdown Conversion
  - Find section: Guide Authors and create a new page card for it.
  - Script that takes the first paragraph as the Overview (What's in the Guide?)
  - Script that adds

[2021-11-05 18:42] elizabethhonest opened #2454 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-11-05 20:20] macho-catt opened #2455 "Implement the new design for the top navigation bar"
### Dependency
- [x] https://github.com/hackforla/website/issues/3023
- [x] https://github.com/hackforla/website/issues/3026

### Overview
We need to implement the [new figma design](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=14120%3A92883) for our main navigation bar so it's more user friendly.

<details>
  <summary>Click here to see current HfLA navigation bar<

[2021-11-05 21:20] macho-catt commented on #2395
hi @edeneault, please move this to the "in progress" column of the project board. Thanks!

[2021-11-05 21:54] edeneault commented on #2395
Done.  Thanks for the reminder.

On Fri, Nov 5, 2021 at 2:20 PM Matthew Cacho ***@***.***>
wrote:

--
Etienne Deneault
https://etiennedeneault.com/
***@***.***
702 677-1326

[2021-11-05 22:27] macho-catt opened #2456 "Update the images on the credits page so they're all the same width"
### Overview
We need to ensure that the images on the credits page have the same width so the page looks uniform and professional.

### Action Items
- [x] Adjust the css of the div class that contains the image (.icon-left) so the width is uniform across all images
    - [x] Maintain a proper aspect ratio for the height
    - [x] Adjust the image size as necessary for smaller viewport screens (res

[2021-11-06 00:05] macho-catt opened #2457 "Update the image location for partners"
### Overview
We need to refactor the location for the partners images so they become reusable for other components.

### Action Items
- [x] Move the file directory `assets/images/about/partners` one level up so it becomes `assets/images/partners`
- [x] As a result of the above change, change the paths of the partner images in the following file:
    - [x] [partners.yml](https://github.com/hackforl

[2021-11-06 00:12] macho-catt opened #2458 "Update the image location for sponsors"
### Overview
We need to refactor the location for the sponsors images so they become reusable for other components.

### Action Items
- [x] Delete the existing `assets/images/sponsors` directory along with its contents
- [x] Move the file directory `assets/images/about/sponsors` one level up so it becomes `assets/images/sponsors`
- [x] As a result of the above change, change the paths of the spons

[2021-11-06 04:01] macho-catt opened #2459 "Update partners.yml so each partner have a program-area property"
### Dependency
This issue will be able to be closed when the following issues are completed
- ~#2271~
- ~#2384~

### Overview
We need to update our data files so liquid references become easier to implement.

### Action Items
- [x] For each partner in the partners.yml file, add a new property called `program-area` and add the proper program-area value(s) in that field

<details>
<summary>Example f

[2021-11-06 04:03] macho-catt commented on #2459
@ExperimentsInHonesty is there a list or document somewhere that details which program area (or program areas) a partner supports? I can't seem find anything other than the partners under the citizen engagement page. That way we can reference which program areas each partners support more easily.

[2021-11-06 05:46] macho-catt opened #2460 "Implement the figma design for the copy button element in the design system"
### Dependency
After Design adds the classes to the components in figma, review if this is still necessary.

### Overview
We need to update the design system with new elements so developers can use them in the website.

### Details
Create new classes to implement the design for the copy button. Afterwards, add the copy button information in the [design system page](https://www.hackforla.org/design

[2021-11-07 13:49] oneamanish commented on #2424
Hello,
can you assign me?

[2021-11-07 13:49] oneamanish commented on #2424
Hello,
can you assign me?

[2021-11-07 17:32] kristine-eudey commented on #2304
I've heard back from 2 UX team members that have recently submitted wins, but they are not yet live on the site. @ExperimentsInHonesty, once these are approved and go live to the site they can be added to the homepage randomizer.

[2021-11-07 17:43] sacamp commented on #2015
Progress: Individual donor persona completed. Will begin institutional donor research next.
Blockers: None
Availability: 3-4 hours individually and collaboratively
ETA: 12/7/21
Pictures: [Individual donor research results](https://docs.google.com/presentation/d/1qJZMH92gPwCt3d34Ba5RFvw4ZnH-NAqej2wQRPn5yXE/edit#slide=id.g100598eeae6_0_296)

[2021-11-07 17:44] SAUMILDHANKAR commented on #1977
Progress: The error related to postComment function was fixed by making sure const threeDayCutoffTime is properly referenced everywhere. Mathew and Glen also helped in resolving a generator related issue. Further, while testing discovered that for some reason during the loop there is never a match between index and timeline.length-1 and so the code is not working as it should. Would work on fixing

[2021-11-07 18:57] ExperimentsInHonesty commented on #2130
Bonnie to talk with Developers to see if we want to put these in the code folders or link to it from the online design system

[2021-11-08 15:41] ExperimentsInHonesty opened #2462 "Update project card: Guides Team"
### Overview
We need the current team of volunteers to show up on the Guides team project card on the website so that new volunteers will know who to reach out to.

### Action Items
Add the following
- name: Bonnie Wolfe
   role: Product Manager
    links:
      slack: 'https://hackforla.slack.com/team/UE1UG1YFP'
      github: 'https://github.com/experimentsinhonesty'
- name: Carol Zhu
   role: Pr

[2021-11-08 17:03] #2357 closed, assigned to adrian-zaragoza

[2021-11-08 19:15] sacamp opened #2463 "volunteers"

[2021-11-08 19:15] #2463 closed

[2021-11-08 19:48] Aveline-art commented on #2179
@macho-catt I wasn't too sure what to comment on for the scheduled triggers since the file does not exist in the architecture yet. Should it be added now, or later when the refactoring has reached that stage?

[2021-11-08 23:12] kristine-eudey opened #2464 "Update Citizen Engagement page's h4 titles to match Figma design"
### Overview
We need to adjust ~the SDG card padding and~ the font color of the H4 titles so that they match the Figma design and the design system color usage guidelines.

Jessica removed the action item of updating the SDG card padding from this issue. (See https://github.com/hackforla/website/issues/2464#issuecomment-1014110882 for more information.)

### Action Items
- [x] **Adjust color of H4

[2021-11-08 23:33] kristine-eudey opened #2465 "Ensure consistent spelling of "Site Map" across the site"
### Overview
We need to ensure "Site Map" is written consistently across the site as two words, vs one word so that we optimize our site for SEO and maintain professionalism across the site by sticking to consistent wording/spelling of terms.

### Action Items

- [x] Change spelling in footer to "Site Map".
   - [x] Note: new footer design has correct spelling, but if it will be some time until th

[2021-11-08 23:40] kristine-eudey commented on #2129
@ahoang94 thank you for noticing the inconsistency in spelling. We decided in Sunday's team meeting to go with "Site Map" as two words. I have created #2465 to correct inconsistencies in this spelling on the site.

Design portion of this issue is completed and has been approved, ready for dev issue. Final design can be found here: [Figma - 404 Page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0M

[2021-11-08 23:40] #2129 closed, assigned to ahoang94

[2021-11-09 08:14] arghmatey commented on #2317
Development is complete.

I need the homepage-launch-feature branch created as I wasn't able to create a parallel branch myself. The wins response edits also need to be pushed in order to display the chosen homepage wins.

[2021-11-09 08:19] arghmatey commented on #2304
I have added a column to the Wins-form (Responses) Google sheet. If wins are chosen to be on the homepage, the value of this column should be changed to "TRUE". I have already changed current wins to reflect the appropriate value. On approval of an incoming win, if it will not be featured on the homepage the value should be set to "FALSE" and visa versa.

[2021-11-09 11:51] oneamanish commented on #2425
see my pull req.

[2021-11-09 16:24] jenjen26 commented on #2446
**Progress:** Completed and moved to In Review 11/22
**Blockers:**

**Availability:**
**ETA:**

[2021-11-09 18:10] macho-catt commented on #2425
Hi @oneamanish, to contribute to our repo, you do need to join the HackForLA organization first. I will close your pull request. Please check this [website ](https://www.hackforla.org/join)to learn more on how to join our team.

[2021-11-09 18:10] macho-catt commented on #2424
Hi @oneamanish, to contribute to our repo, you do need to join the HackForLA organization first. Please check this [website ](https://www.hackforla.org/join)to learn more on how to join our team.

[2021-11-09 18:57] ExperimentsInHonesty commented on #1989
I have edited and accepted the privacy policy.

[2021-11-09 18:57] #1989 closed, assigned to Rankazze

[2021-11-09 19:03] jenjen26 commented on #2354
Progress: completed 11/19
Blockers: none.
Availability:
ETA: moved to UAT

[2021-11-10 00:21] macho-catt commented on #2179
@Aveline-art  I believe in our discussion before we just decided to rename the current scheduled triggers to the times they trigger, then if we need to add new triggers on a specific time we either add them to existing triggers (if they make sense) or create a new workflow for the new scheduled time. Does that make sense? If so, we could add that info now.

[2021-11-10 00:33] macho-catt commented on #2010
### Agenda for November 9, 2021

#### Meeting Start
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Assign note taker

#### Stand-up update (5-10 minutes)
- [x] Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What current blockers stop

[2021-11-10 00:51] Aveline-art commented on #2179
Alright, second draft is done! @macho-catt

[2021-11-10 03:27] #2270 closed, assigned to nobody

[2021-11-10 03:57] JimGeist opened #2468 "Pre-work Checklist: Developer: Jim Geist"
### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-pr and #hfla-site Slack channels
- [x] Share your Gmail address with the team lead
- [x] (once added to the drive) Add yourself to the [team roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaF

[2021-11-10 16:07] ExperimentsInHonesty commented on #2294
This issue is about using the native github forms making tool to make issues easier to fill out.  We could use it to allow people to suggest guides.  Here is an [example](https://github.com/akibrhast/website/issues/new?assignees=octocat&labels=bug%2Ctriage&template=bug.yml&title=%5BBug%5D%3A+) of an issue template that uses it.

The problem is that you still have to have a GitHub account to open a

[2021-11-10 16:18] ExperimentsInHonesty commented on #2294
This issue is about using the native github forms making tool to make issues easier to fill out.  We could use it to allow people to suggest guides.  Here is an [example](https://github.com/akibrhast/website/issues/new?assignees=octocat&labels=bug%2Ctriage&template=bug.yml&title=%5BBug%5D%3A+) of an issue template that uses it.

You still have to have a GitHub account to open an issue.
Which works

[2021-11-10 16:19] ExperimentsInHonesty commented on #2295
see notes on related issue https://github.com/hackforla/guides/issues/128

[2021-11-10 20:00] kristine-eudey commented on #1797
### Meeting: 11/10/21

### Things to Discuss:

- [ ]  Need new designers added to GitHub
- [ ] 4 issues for new designers in New Issue Approval
   - [ ] #2446,
   - [ ] #2447
   - [ ] #2448
   - [ ] #2449

- [ ] Discuss HfLA Figma account

### Decisions Made:
- Isaac, Simone, and Kristine have been added as maintainers on GitHub. New members can be added to our repo here: https://github.com/orgs/h

[2021-11-10 20:20] ExperimentsInHonesty commented on #2468
@JimGeist anytime you see anything in brackets on a template, it usually means that you replace the value including the brackets.

[2021-11-10 20:22] ExperimentsInHonesty opened #2471 "Pre-work Checklist: Designer: Bonnie Wolfe"
### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site-ux and #hfla-site Slack channels
- [ ] Share your Gmail address with the team lead
- [ ] (once added to the drive) Add yourself to the [team roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GC

[2021-11-10 20:41] #2389 closed, assigned to sacamp, Basu3040

[2021-11-10 21:06] ExperimentsInHonesty commented on #221
This isssue has been replaced with a defined research plan conducted by UX lead and team #1289

[2021-11-10 21:06] #221 closed, assigned to nobody

[2021-11-10 21:16] ExperimentsInHonesty commented on #2360
Updates made

[2021-11-10 21:16] #2360 closed, assigned to kristine-eudey, ExperimentsInHonesty

[2021-11-10 21:21] ExperimentsInHonesty commented on #1797
Next meeting we must sort out the Figma!

[2021-11-10 21:24] edeneault commented on #2395
Hi Matt,

I have a question about the checks in this issue...  They refer to users opening up an issue, but this particular issue is about creating PR cards for newly opened PR's.  Is it just copy/paste error?

A+

Etienne

[2021-11-10 21:42] #2341 closed, assigned to nobody

[2021-11-10 21:43] macho-catt commented on #2395
@edeneault  Yup, it's just a copy paste error. It should be Pull Requests.

[2021-11-11 00:53] ExperimentsInHonesty commented on #2473
Suggestion for  project update template
---
Update Project Profile: [name of project]

---

[ DELETE BEFORE SUBMITTING: Please fill this out and add comments with any up-to-date information about your project below, so that developers on the Hack for LA website team can update your project information. After you submit this new issue, post a link to it on #hfla-site slack channel with this message

[2021-11-11 02:36] macho-catt opened #2474 "Update the Citizen Engagement page so the project data is dynamic"
### Overview
We need to update the Citizen Engagement Page so that the data is dynamically rendered using liquid.

### Action Items
- [x] For each of the projects that are currently in the [Citizen Engagement page](https://www.hackforla.org/citizen-engagement), edit the corresponding md file under the [_projects collection directory](https://github.com/hackforla/website/tree/gh-pages/_projects) so

[2021-11-11 02:47] macho-catt opened #2475 "Update the Organization images list under the Citizen Engagement page so it's dynamic"
### Dependency
- #2459

### Overview
We need to update the Citizen Engagement Page so that the data is dynamically rendered using liquid.

### Action Items
- [x] Under the section "Organizations We Work With," update the html so that the images are rendered from the data files
    - [x] Use liquid to loop through the list of images under the [partners.yml](https://github.com/hackforla/website/blob

[2021-11-11 05:06] ghost commented on #2175
I think the file that needs to be changed is current-projects.js not current-projects.html. Can someone confirm this?

[2021-11-11 07:09] macho-catt commented on #2175
@amnak1284 it's current-projects.html, line 427. It's written in liquid and not js.

[2021-11-11 19:34] ghost commented on #2175
@macho-catt  My scripts section looks like this

<img width="404" alt="Screen Shot 2021-11-11 at 11 19 51 AM" src="https://user-images.githubusercontent.com/16737379/141356466-c543460c-141e-4ba5-9d33-b74b2488637d.png">

[2021-11-11 19:39] macho-catt commented on #2175
@amnak1284 the issue is asking to update line 427, not the scripts section.

In particular, this line:
https://github.com/hackforla/website/blob/8a6df1dcd270c17403fa75c5842be9aa07ab3fa9/_includes/current-projects.html#L427

[2021-11-11 22:38] blakes24 commented on #2175
@amnak1284 you're right. The issue was created before the javascript got moved to a separate file so the link in the resources section is to an old version of the file.

This is the line that needs to be updated:

https://github.com/hackforla/website/blob/823a06c316bb621c505f5a8d6b1774d1c42adb9c/assets/js/current-projects.js#L414

[2021-11-11 22:45] macho-catt commented on #2175
whoops, my mistake. Yes, @blakes24 and @amnak1284 are correct.

[2021-11-11 23:36] ktlevesque19 commented on #1398
Progress: Not started, this week got away from me!
Blockers: None a this time
Availability: Will work on this tomorrow and Saturday
ETA: Expecting to have this ready for review ahead of Sunday's meeting.

[2021-11-12 00:31] kristine-eudey commented on #2106
### Meeting: 11/11/21

### Participants:

### To Discuss
- Introducing new Design Lead!
- New team member intro
- Proposed change UX Research meeting time
- Weekly Stand-Up (via [Project Board - In-Progress](https://github.com/hackforla/website/projects/7#column-7198228)) / Updates:
   - If you have not updated your issue this week, please take a minute to do so now~
- Design Critique / Sharing wo

[2021-11-12 02:48] AnyaStewart commented on #2448
Hi!

I have put my work in a blue box and some comments there as well.
Notes:
1. TOP NAV: Current live version of the top nav has a dropdown, but I couldn't find the design of that dropdown.
2. FOOTER: I couldn't find the designs for the new footer for mobile.
3. TOOLKIT: The designs match?
4. DONATE: The designs match?
5. GUIDES: I couldn't compare pages for the same guides, but from I can tell t

[2021-11-12 07:14] abenipa3 commented on #1630
## 11/11/2021

Progress:

- Unfortunately, I was sick this past week, so I was not able to make much progress.
- Doing better now, so planning to make progress this weekend and create an update.
- Reached out to our Dev Team to see when we could collab so that we could resolve the image folder path issue.
- Will be able to attend the Guides Meeting next Wednesday on 11/16.

Blockers:

- Mentioned

[2021-11-12 16:24] kristine-eudey commented on #2304
I don't have access to the Wins-form (Responses) Google sheet, but the 2 UX wins we'd like to feature in the randomizer are by Thomas Philip Franklin II (shown above) and Basudhara Sen. Basudhara's was just submitted and approved on the sheet by Bonnie, though not yet on the live site so I can't screenshot it to add here.

[2021-11-12 16:35] macho-catt commented on #2304
There is a monthly trigger to update the wins, but I can manually trigger it.

[2021-11-12 16:47] macho-catt opened #2476 "test"
### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" label to this issue
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack channels
- [ ] Share your Gmail address with the team lead
- [ ] (once added to the drive) Add yourself to the [team roster](https://docs.google

[2021-11-12 16:48] #2476 closed, assigned to nobody

[2021-11-12 17:07] macho-catt commented on #2202
to bring up this Sunday with @ExperimentsInHonesty

[2021-11-12 17:32] IsaacDesigns commented on #2449
- Progress:
(Just self-assigned)

- Blockers:

- Availability:

- ETA:

[2021-11-12 17:40] glenflorendo commented on #1892
Awaiting review on PR.

[2021-11-12 18:32] ExperimentsInHonesty opened #2477 "Communities of Practice information updates: Product"
### Overview
As a Community of Practice Co-Lead, I need my CoP's details to be up to date on the HackforLA website.

### Action Items for requestor
   - [x] Please paste this checklist to a comment below and then check off everything that is **ok the way that it is**
[code]
   - [ ] If you have someone to remove please write that below the checklist you paste in your comment
      - Example:
[code

[2021-11-12 18:33] ExperimentsInHonesty commented on #2477
- [x] Name of CoP
- [ ] Description
   - change to:  PMs from different projects come together in this group to share effective practices, give and get mentorship, set product management standards, and create guides and templates by discovering effective practices from all Hack for LA teams
- [ ] Meeting Times cannot be changed here.  Create an issue at VRMS for changing [meeting times](https://gi

[2021-11-13 17:58] JimGeist commented on #2468
Completed Docker setup on my desktop computer. The laptop is next but a whole bunch of other things are needed for that!
Forked, cloned, and docked the website locally to get familiar with the layout and also looked at the live website at hackforla.org.
Running through a docker tutorial.

[2021-11-13 19:13] Abel-Zambrano commented on #2125
Progress: Fixed footer on all pages except redirect page.
Blockers: n/a.
Availability: 2hrs
ETA: 11/19/2021

[2021-11-14 05:58] jenjen26 commented on #2354
**To Discuss for 11/14/21 meeting:** Do we think these images provide meaningful information or are they decorative?
[Program Area Page](https://www.hackforla.org/program-areas)

**Decorative:**

- supplementary to link text to improve its appearance or increase clickable area
- illustrative of adjacent text but not contributing information ("eye-candy"); for formatting
- identified and described

[2021-11-14 16:03] macho-catt commented on #2027
### Agenda for November 14, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations
    - [x] @Emmettlsc made his first PR #2469. Good job on your first issue!
    - [x] @amnak1284 finished her second PR #2452 and is now working on her third issue. Keep up the good work!
- [x] Make announcements
- [x] Assigning pull request reviews
- [x] Go through the proje

[2021-11-14 16:07] #2454 closed, assigned to nobody

[2021-11-14 16:42] macho-catt opened #2479 "GitHub Actions: Change Linter version to @v4 when source code bug is fixed"
### Dependency
~Source code fix on https://github.com/github/super-linter/issues/2128~

### Overview
We have to update the version for our linter when the source code bug is fixed to ensure that everything is up to date.

### Details
There is a bug with super linter v4.8.3 (the latest version) where the image for the release is missing. Because of this, all GitHub actions related to linting will f

[2021-11-14 17:15] macho-catt commented on #1850
Progress: None
Blockers: Lower priority versus other projects
Availability: 2 hours next week
ETA: N/A
Pictures: N/A

[2021-11-14 17:15] macho-catt commented on #1958
Will reach out again to @averdin2

[2021-11-14 17:16] macho-catt commented on #2232
Template has been updated, should be ready to close unless there are additional points to add

[2021-11-14 17:17] macho-catt commented on #2407
Progress: Can show iframe on specific pages, but height is static
Blockers: Other projects / life
Availability: 2 hours
ETA: next week
Pictures: N/A

[2021-11-14 17:44] SAUMILDHANKAR commented on #1977
Progress: Need to change code logic (perhaps using a filter) as issues not getting properly processed within the isTimelineOutdated function loop.
Blockers: not at this time
Availability: 10 hrs
ETA: 11/22/2021

[2021-11-14 17:48] kristine-eudey commented on #2328
Progress: None since last update
Blockers: None, have just been busy with other work on the project
Availability: 2 hours this coming week
ETA: Sunday 11/21

[2021-11-14 17:49] kristine-eudey commented on #916
Progress: None since last update
Blockers: None, have just been busy with other work on the project
Availability: 2 hours this coming week
ETA: Sunday 11/21

[2021-11-14 17:55] R-Tomas-Gonzalez opened #2480 "Refactor JavaScript: Move script from citizen-engagement.html to external file"
### Overview
JavaScript is much more maintainable and reusable if it exists in an external folder, rather than including it into the html doc. Please make a new file and place all required JS there.

### Action Items

- [x] Create a new file [here](https://github.com/hackforla/website/tree/gh-pages/assets/js) and name it citizen-engagement.js

- [x] Remove the JavaScript from this [page](https://g

[2021-11-14 18:15] ExperimentsInHonesty commented on #1708
Bonnie will close this issue and make a new one (putting in icebox) to revisit the toolkit page once we have some finished guide.

[2021-11-14 18:20] ExperimentsInHonesty opened #2481 "Initiative: homepage launch"
### Overview
We need to track and support the final wrap up items for the homepage launch, so that it can be completed.

#### Details
The homepage launch is overdue by at least a year, because we have not been actively monitoring its final issues.

### Action Items
- [x] List all the areas that will need to be in good shape before the homepage launch
- [x] Identify what needs to be done to fix the

[2021-11-14 18:30] kristine-eudey commented on #1797
### Meeting: 11/17/21

### Things to Discuss:

- [x] Discuss Figma
- [x] Clarification about research New issue approval and prioritized backlog
- [x] https://github.com/hackforla/website/issues/2354 ]
- [x] Design Issues Kristine/Isaac will create in the coming week:
   -  Create mobile version of new nav bar
   - Rethink how we use hero images on Guides
   - Create Design Issue template

### Dec

[2021-11-14 18:49] ExperimentsInHonesty commented on #2130
@macho-catt create new issue for having the svgs uploaded to the assets folder

[2021-11-14 18:49] #2130 closed, assigned to kristine-eudey

[2021-11-14 19:22] ExperimentsInHonesty commented on #1989
@macho-catt to make a new issue for the privacy policy getting added as a page on the website

[2021-11-14 19:23] ExperimentsInHonesty commented on #2356
- https://github.com/hackforla/website/issues/2356#issuecomment-939420187

[2021-11-14 19:27] ExperimentsInHonesty commented on #2357
@macho-catt to make an issue for adding the github links to the communities of practice that are missing them.  See this repos readme for the links to repos
https://github.com/hackforla/communities-of-practice/blob/main/README.md

[2021-11-14 19:30] ExperimentsInHonesty commented on #2481
About page
Program Areas Pages
Projects Technologies being up to date
Communities of practice page up to date
Wins randomizer
Join us page
wins - see more issue not resolved
https://www.hackforla.org/about/#news
in order for the footer to work, there needs to be anchor tags on the join us page https://www.hackforla.org/join#volunteer
revise order on footer to match the join page
ask Sarah to make

[2021-11-14 23:32] ExperimentsInHonesty commented on #2317
@arghmatey We are still in the process of adding wins to the random list, but there are enough now to prove if it's working properly.  See this [sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1301054877&fvid=2044070941) to know what should be appearing

[2021-11-15 00:37] iilashi commented on #2447
Progress: Self-Assigned
Blockers: None at the moment!
Availability: Will be working on it in the coming days.
ETA: Ideally by this week's Thursday meeting.

[2021-11-15 01:33] macho-catt opened #2483 "Upload .svg files for various HfLA technologies into the assets/images directory"
### Overview
We need to upload the .svg files for various HfLA technologies used in different projects so we can use them in the future.

### Action Items
- [x] Download the .svg files from the [Google Drive](https://drive.google.com/drive/u/1/folders/1Vq4_CAM0vbJWQLsszne2PeQu5y3r3MeO)
- [x] Create a new directory under [assets/images](https://github.com/hackforla/website/tree/gh-pages/assets/imag

[2021-11-15 02:08] macho-catt opened #2484 "Add GitHub link to community of practice: Ops"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to update the community of practice GitHub links so we can provide the end-user with more information about our communities.

### Action Items
- [x] Update line 27 of the file `

[2021-11-15 03:00] macho-catt opened #2485 "Update the Program Areas page so the projects are dynamically rendered"
### Overview
The Program Areas page mini cards need to be rendered dynamically so they match the results from the project filters.

### Details
Currently, the [program-areas.html](program-areas.html) file use liquid to loop through each program area yml file under [_data/internal/program-areas/](https://github.com/hackforla/website/tree/gh-pages/_data/internal/program-areas). Projects for each pro

[2021-11-15 03:14] macho-catt opened #2486 "Create a new Privacy Policy page for the website"
### Overview
We need to add a Privacy Policy to our website to detail our views and procedures on the information collected from visitors.

### Action Items
Design
- [x] Refer to the approved privacy policy draft in the [drive](https://docs.google.com/document/d/19x1KsMTU-QBdopiV08HSBQ0i4g1ChrcPZ8ZXmUK50cY/edit#heading=h.1kvk4qkoxhzw)
- [x] Create a new Figma page titled "Privacy Policy"
- [x] Cre

[2021-11-15 03:17] macho-catt commented on #2357
@macho-catt created the issue for Ops, @adrian-zaragoza will create the issue for PM and UI/UX sections

[2021-11-15 04:46] macho-catt opened #2487 "Remove languages from the technologies field for each project"
### Overview
We need to remove the languages from the technologies field for each project so we can properly implement languages as its own filter field.

### Action Items
- [x] Go through each .md file under the [_projects collection](https://github.com/hackforla/website/tree/gh-pages/_projects) directory and remove any instances of a language under the 'technologies' property
    - [x] Click [th

[2021-11-15 05:25] macho-catt opened #2488 "Add languages to the technologies project filter"
### Dependency
#2487

### Overview
The languages for each project under the projects page should be included as a filter with the Technologies

### Action Items
- [x] Become familiar with the JS in the [project.html](https://github.com/hackforla/website/blob/gh-pages/_layouts/project.html) and how it obtains the languages used for a project from [_data/external/github-data.json](https://github.com

[2021-11-15 05:49] adrian-zaragoza opened #2489 "Add GitHub link to community of practice: Project/Product Management"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to update the community of practice GitHub links so we can provide the end-user with more information about our communities.

### Action Items
- [x] Add the following lines on l

[2021-11-15 05:55] adrian-zaragoza opened #2490 "Add GitHub link to community of practice: UI/UX"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
We need to update the community of practice GitHub links so we can provide the end-user with more information about our communities.

### Action Items
- [ ] Update line 32 of the file `

[2021-11-15 09:49] abenipa3 commented on #1630
## 11/15/2021

Progress:

- Applied design and tested on How to Set Up Slack Reminders.

<details><summary>Work in Progress</summary>

![image](https://user-images.githubusercontent.com/38295612/141760261-bc07d534-7242-49be-921f-5c13a1a2cdb9.png)

Will update CSS to match the Guide Author section to our Design.

</details>

Blockers:

Learning how to write a script for the following:
- [x] Delete

[2021-11-16 04:24] #1892 closed, assigned to glenflorendo

[2021-11-16 04:58] macho-catt commented on #2231
This is a duplicate of #2116, so I'm closing this

[2021-11-16 04:58] #2231 closed, assigned to nobody

[2021-11-16 05:08] #2111 closed, assigned to macho-catt

[2021-11-16 05:10] #2232 closed, assigned to macho-catt

[2021-11-16 05:18] ExperimentsInHonesty commented on #2407
@macho-catt Weirdly on one of my screens it looks fine, and another one is does not.  Both on the same computer.  two different chrome windows

![image](https://user-images.githubusercontent.com/37763229/141925222-53f9b9f0-8a11-48eb-adda-50060a883cf1.png)

![image](https://user-images.githubusercontent.com/37763229/141925351-bde14d83-6c6d-4981-977b-09c3f0770b50.png)

[2021-11-16 05:29] macho-catt commented on #2179
@Aveline-art it looks good to me! Thank you for this :)

[2021-11-16 05:32] macho-catt commented on #2407
@ExperimentsInHonesty you may have to clear your cache and exit all browsers, then reopen. Another clean way of testing this is opening the webpage in incognito mode.

[2021-11-16 16:51] macho-catt commented on #2010
### Agenda for November 16, 2021

#### Meeting Start
- [x] Sign in to [vrms.io](https://vrms.io)
- [ ] Assign note taker

#### Stand-up update (5-10 minutes)
- [x] Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What current blockers stop

[2021-11-16 17:12] kristine-eudey commented on #2354
Hi @jenjen26, we discussed this at the Sunday meeting 10/14. I shared your findings with Bonnie and the team, she would like to review the articles you shared and we will revisit at the 11/17 meeting with UX and Product leads. Since your suggestion is something we could potentially apply site-wide to improve accessibility, a bit more consideration is needed. Will update here after that meeting and

[2021-11-16 18:33] #2342 closed, assigned to JimGeist

[2021-11-16 23:31] #2175 closed, assigned to nobody

[2021-11-17 01:03] #2468 closed, assigned to JimGeist

[2021-11-17 03:47] SAUMILDHANKAR opened #2496 "Pre-work Checklist: Developer: Jovanni Morales"
### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove the "role missing" label
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack channels
- [x] Share your Gmail address with the team lead so you can be added to the Google Drive
- [x] (On

[2021-11-17 16:37] #2362 closed, assigned to chrisfoose

[2021-11-17 17:42] kristine-eudey opened #2497 "Remove Projects from "Our Locations" section of Events page"
### Overview
We need to remove the Projects from the "Our Locations" section of [Events](https://www.hackforla.org/events/) page in order to more accurately reflect the now fully-remote nature of the organization. We need to keep the 3 photo tiles for Westside, Downtown, and South LA in order to show HfLA's base and connection to the Los Angeles area.

### Action Items

- [x] Duplicate the Events

[2021-11-17 18:18] sacamp opened #2498 "HfLA: UXR Meeting Agendas"
### Dependecy
When we get a new research lead

### Overview
This issue tracks the agenda for the UXR team's weekly Wednesday meetings.

### Agenda Template:
Meeting: (DATE)

Participants:

**Things to discuss:**

**Things discussed:**

**Actions to take:**

[2021-11-17 18:27] sacamp commented on #2309
Waiting for introduction to corporate donor representatives.

[2021-11-17 18:29] sacamp commented on #2015
Progress: Individual donor persona completed. Will begin corporate donor research next.
Blockers: waiting on corporate donor introductions
Availability: 3-4 hours individually and collaboratively
ETA: 12/7/21

[2021-11-17 19:10] ExperimentsInHonesty commented on #1630
@alyssabenipayo thanks for the update.  You are making great progress 😁

[2021-11-17 19:24] kristine-eudey commented on #2393
@macho-catt I just updated the order of menu items in the "Join Us" section of the footer to match the order they appear on the Join Us page.

[2021-11-17 19:25] kristine-eudey commented on #2455
@macho-catt I just updated the order of menu items in the "Join Us" section of the top nav to match the order they appear on the Join Us page.

[2021-11-17 20:21] ExperimentsInHonesty commented on #2473
Product needs to cleanup this issue so its clearer what to do next.

[2021-11-17 20:26] ExperimentsInHonesty commented on #186
Next step for hackforla.org website research team on this issue is
review the responses to the onboarding survey to see if any of the information is relevant to the current iteration of the webiste and its future plans.

[2021-11-17 20:43] ExperimentsInHonesty commented on #2354
I have not read the articles proceed on your collective judgement and please annotate in the wiki what the decision is, along with the links to the articles, in case other team members want to revisit this in the future

[2021-11-17 21:57] sacamp commented on #2498
### Meeting: 11/17/21

### Participants: Simone, Summer, Jackie, Anya

### Things to discuss:

- Team member intros
    -    name, background, what you want to learn

- Team structure and workflows (brainstorming)
    -    defining team values and priorities:

 -Github tour/overview
- New researchers complete the prework issue
- Current donor/partner/advisor research project
- No meeting next week

[2021-11-17 22:18] summerharveyux opened #2499 "Pre-work Checklist: Researcher: Summer Harvey"
### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack channels
- [x] Share your Gmail address with the research team lead
- [x]  (once added to the drive) Add yourself to the team roster.
- [x]  Confirm with the research team lead that they have

[2021-11-17 22:21] JackieRiley1 opened #2500 "Pre-work Checklist: Researcher: Jackie Riley"
### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [X] Add yourself to the #hfla-site-ux and #hfla-site Slack channels
- [X] Share your Gmail address with the research team lead
- [x]  (once added to the drive) Add yourself to the team roster.
- [x]  Confirm with the research team lead that they have

[2021-11-17 22:38] chrisfoose commented on #2362
Is this done?

[2021-11-18 03:36] sacamp commented on #19
Progress: Self-Assigned
Blockers: None
Availability: Will reach out to ITA in the coming week
ETA: 12/1

[2021-11-18 23:21] kristine-eudey commented on #2304
Please include Janie Chen's win as a "Yes" on the randomizer, that will put us to 2 designers and 1 researcher being featured.

[2021-11-19 00:32] kristine-eudey commented on #2328
@ExperimentsInHonesty I've created a new version which uses the current image but replaces the graphics shown on the iPad with icons showing things we discussed as representing our Civic Tech projects (magnifying glass, data, teamwork, guide). Please let me know your thoughts.

![Screen Shot 2021-11-18 at 7 25 21 PM](https://user-images.githubusercontent.com/16949503/142518362-de9b53b5-99d6-4716-a

[2021-11-19 00:33] kristine-eudey commented on #2106
### Meeting: 11/18/21

### Participants: Anh, Jenna, Isaac, Summer, Kristine, Simone, Matthew , Jacqueline

### To Discuss:

- Weekly Standup
- Sharing work completed in the last week

### Items Discussed:
**Issue updates:**
- Isaac learning to create more issues on Kanban board for the team
- Simone met with research team to set intentions and goals for upcoming weeks:
continue with persona creat

[2021-11-19 00:54] IsaacDesigns opened #2501 "Update Site map"
### Overview
We need to update the Figma site map page so that it accurately represents the current state of the Hack for LA site.

### Action Items
- [x] Duplicate the most recent version of the sitemap page in Figma and add to Draft Pages section.
- [x] Rename copy to be
[code]
- [x] Review the live site, checking for any inconsistencies between the status of pages on the live site and what is s

[2021-11-19 05:04] macho-catt commented on #1958
PR is opened and is being reviewed

[2021-11-19 18:42] jenjen26 commented on #2354
The team judgment at 11/18 design meeting was for the images to be considered decorative, therefore null alt text. I have updated the google document to reflect these changes.

[2021-11-20 02:12] JimGeist commented on #2237
Only blocker right now is lack of time! I hope to have a change to look at this over the weekend.

[2021-11-21 12:42] macho-catt commented on #2027
### Agenda for November 21, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations
    - [x] @chrisfoose made his second PR #2470. Keep up the good work!
    - [x] @amnak1284 finished her third PR #2482. Good job working on these issues so fast, and please feel free to pick up a new issue, or DM me directly if you want me to assign you a specific one.
- [x]

[2021-11-21 13:07] macho-catt commented on #2202
I updated #2291 based on the discussion last Sunday and releasing the dependency on it.

[2021-11-21 13:07] #2202 closed, assigned to adrian-zaragoza

[2021-11-21 14:58] macho-catt commented on #2182
Availability: 2 hours
ETA: by Sunday next week

[2021-11-21 15:05] macho-catt opened #2502 "Create a copy of the project page with only two filters: technology and language"
### Dependency
- ~#2488~

### Overview
We need a copy of the project page with only the technology and language filter to ensure that the page filters properly

### Action Items
- [x] Create a new page based off of the current [project page](https://www.hackforla.org/projects/)
    - [x] The new page's permalink should be set to `/projects-check/`
    - [x] The page should only be reachable via pe

[2021-11-21 16:12] elizabethhonest opened #2503 "Test for updated api token"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-11-21 16:15] macho-catt commented on #2503
I updated the token since it recently expired. This is just a test to ensure that api works with the new token

[2021-11-21 16:15] #2503 closed, assigned to nobody

[2021-11-21 16:43] macho-catt opened #2505 "Enhance wins sheets to support selection for homepage randomizer"
### Dependency
- [x] #2901
- [x] #4134
- [x] #3641

### Overview
We need enhancements to Wins-form (Responses) to help PMs in identifying which wins entries should be displayed in the website homepage randomizer.

### Action Items
- [ ] Follow sections 1-3 in the Wins Apps Script Development Process[^4].  Note that in this issue you will only be modifying the Apps Script `wins-form-responses` so a

[2021-11-21 17:00] kristine-eudey commented on #2449
Hi @IsaacDesigns - can you give an update on this issue to let the team know your progress/blockers/eta on this? And also
please add a label to your section (your name / issue # / status / date). Thank you!

[2021-11-21 17:47] SAUMILDHANKAR commented on #1977
Progress: New code logic works fine in adding labels and comments as required. Also, a matchall error (might be related to regex) came up when I deleted a cross reference in another issue. Would be working on this next.
Blockers: Matchall error during cross referencing.
Availability: 10 hrs
ETA: 11/28/2021

[2021-11-21 18:21] kristine-eudey commented on #2370
Update this issue with all the pages that need audit.

[2021-11-21 19:07] SAUMILDHANKAR commented on #2407
@macho-catt will add the relevant code to project.md file in the wiki.

[2021-11-21 22:55] #2477 closed, assigned to macho-catt

[2021-11-21 23:31] ExperimentsInHonesty commented on #2459
### Next steps
- [x] Product
  - [x] Create a comment with the new content for the partners.yml file.
  - [x] Use the prior audit and make a list of all projects that need a program area update/revision.
  - [x] add the backend label on to the issue and remove product

[2021-11-21 23:32] ExperimentsInHonesty commented on #2459
- name: Empower LA
  image: /assets/images/about/partners/empower-la.png
  link: https://empowerla.org/
  program-area:
    - Citizen Engagement
- name: Code for America
  image: /assets/images/about/sponsors/code-for-america.svg
  link: https://www.codeforamerica.org/
  program-areas:
     - Vote / Representation
- name: Yale Open Lab
  image: /assets/images/about/partners/yale-open-labs.svg
  li

[2021-11-21 23:59] ExperimentsInHonesty commented on #2291
Added[ issue template](https://github.com/hackforla/website/issues/new?assignees=&labels=role%3A+product&template=communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice%5D) to repo

[2021-11-21 23:59] #2291 closed, assigned to nobody

[2021-11-22 00:05] JimGeist commented on #2237
Completed issue and issued pull request.

[2021-11-22 01:43] AnyaStewart commented on #2448
All done. See my previous comment.

[2021-11-22 16:37] IsaacDesigns commented on #2449
Progress: 80% done

Blockers: Need to find Figma files. Had trouble understanding the instructions.

Availability: I have 4 hours to work on this issue

ETA: By Wednesday 24th

[2021-11-22 17:22] Zhu-Joseph commented on #2392
2. Blockers: Working on the CSS to adjust styling

[2021-11-22 17:50] jenjen26 commented on #2312
**Progress:** Working on making gradient smoother in FIGMA
**Blockers**: Discussing format of final asset with Matt from dev team.
**Availability:** 5 hours
**ETA**: 12/4

[2021-11-22 18:46] IsaacDesigns opened #2511 "Create mobile version of new footer"
### Overview
We need to create a mobile version of the new footer so that it can be implemented and launched alongside the desktop version.

### Action Items

- [x] Familiarize yourself with the desktop version of the site’s new footer in Figma
- [x] Create a section to the right of the desktop version for the mobile design
- [x] Review the Mobile Navigation Audit in Figma to familiarize yourself

[2021-11-22 19:10] IsaacDesigns opened #2512 "Reorganize “Current Pages” page in Figma to make this page more useful for team"
### Overview
We need to clean up and organize the “Current Pages” page in Figma so that it is accurate and up to date, easier to navigate and understand, and more useful as a single source of truth on current page designs for all members of the team.

### Action Items
- [x] Refer to recent work completed by Jenna, Anya, Ida, and Isaac to compile all live versions and the most up to Figma designs f

[2021-11-22 19:15] IsaacDesigns opened #2513 "Create mobile version of new top nav"
### Dependency
- #2686

### Overview
We need to create a mobile version of the new top nav bar so that it can be implemented and launched alongside the desktop version.

### Action Items

- [x] Familiarize yourself with the desktop version of the site’s new top nav bar
- [x] Create a section to the right of the desktop version for the mobile design
- [x] Review the Mobile Navigation Audit in Figma

[2021-11-22 20:05] #2182 closed, assigned to macho-catt

[2021-11-22 20:17] #2237 closed, assigned to JimGeist

[2021-11-23 06:31] ghost commented on #2485
Progress: Currently I have created a branch and am now going to look into how to solve the issue
Blockers: currently there are no blockers
Availability:  This week I have 4 hours to work on this issue
ETA: either tomorrow or next Tuesday
Pictures:  No visuals so far

[2021-11-23 09:25] abenipa3 commented on #1630
## 11/23/2021

Progress:

- Reviewed HfLA current projects for reference to call the image folder path as mentioned [here](https://github.com/hackforla/website/issues/1630#issuecomment-968714568)
- Working on applying the script to html file.
- Have yet to cover the rest of the bullet points from previous update.

Blockers: N/A

Availability: 6

ETA: 11/30/21 (Subject to Change)

[2021-11-24 03:58] Abel-Zambrano commented on #2125
Progress: Complete
Blockers: Pending Review
Availability: n/a
ETA: n/a

[2021-11-24 11:42] macho-catt commented on #2407
Added new lines at the end for iframes:
https://github.com/hackforla/website/wiki/project.md-file-template

[2021-11-24 11:42] #2407 closed, assigned to macho-catt

[2021-11-24 20:54] ExperimentsInHonesty opened #2515 "Create template for Reviewing the alt text on all pages"
### Overview
We need to create a template so that we can easily make issue for the design team to check each page on the site in a consistent way.

### Action Items
- [x] Create template draft in comment below
- [x] Talk to Matthew to find out if dev is going to make this list
  - [x] revise after Matthew conversation
- [x] review with Bonnie
- [x] have Bonnie help you make it into a template on t

[2021-11-24 20:56] ExperimentsInHonesty commented on #2515
# Template draft
---
title: Alt Text Audit - Design
description: Template issue to create page audit issues for designers
default title: Review the alt text for [insert page name here] page images and ensure that they adhere to WCAG
default labels: design, feature: Accessibility, size: small
---

### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines

[2021-11-24 21:22] ExperimentsInHonesty commented on #2447
@ilashi I see that you moved this issue into the questions column.  Please leave a comment indicating what the question is.

[2021-11-24 21:26] ExperimentsInHonesty commented on #2448
@kristine-eudey There seems to be confusion on how to know if this issue is done, meaning did we as a team do all that was required?  If you could provide what the criteria @IsaacDesigns can use to make that decision, it would be greatly appreciated.

[2021-11-24 21:31] ExperimentsInHonesty commented on #2328
@kristine-eudey yes, I think this is perfect.  The only improvement I can think of is it not being male just because the constituency of non profit leads is mostly female. In the meantime I will make this issue as closed given you are done with your tenure.  And ill hand this off to @arghmatey

Hi Sarah, do you have time to change out the Civic Tech Structure image on the homepage redesign?  If ye

[2021-11-24 21:32] #1708 closed, assigned to nobody

[2021-11-25 06:37] arghmatey commented on #2328
Civic Tech Infrastructure image has been updated, and new commit has been pushed to #2373. Closing issue.

[2021-11-27 04:43] ahoang94 commented on #2486
A desktop version of the [Privacy Policy page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17845%3A139750) has been created in Figma.

I am awaiting feedback before I create a mobile version of the page.

[2021-11-27 05:15] iilashi commented on #2447
I completed the issue and want it to be reviewed by the team to make sure everything is correct!

[2021-11-28 10:28] SAUMILDHANKAR commented on #1977
Progress: As per testing, labels getting added as required for the issues created in the project board of the forked repo.
Blockers: None
Availability: 10 hrs
ETA: NA

[2021-11-28 15:44] macho-catt commented on #2027
### Agenda for November 28, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations
    - [x] @JimGeist finished his second PR #2237. Good job, and feel free to pick up a third issue.
- [x] Make announcements
- [x] Assigning pull request reviews
- [x] Go through the project board
    - [x] Dev team meeting discussion items
    - [x] In progress column/questi

[2021-11-28 16:41] IsaacDesigns commented on #2446
All pages look good except for Program Areas. Please organize it the same as the other pages.

Also, add the status of pages within the live sitemap similar to how I did in my issue similar to yours.

[2021-11-28 17:24] IsaacDesigns commented on #2449
Added the Figma sitemap and status of each page within the sitemap.

[2021-11-28 17:24] #2449 closed, assigned to IsaacDesigns

[2021-11-28 17:55] IsaacDesigns commented on #2515
Progress: In progress
Blockers: Need to know if Matt wants to continue with the current way or create templates
Availability: 6 hours
ETA: December 5th

[2021-11-28 18:15] ExperimentsInHonesty commented on #2515
@macho-catt I think there might be some confusion on this issue https://github.com/hackforla/website/issues/2515.  Isaac Cruz and I have already made the [template for designers.](https://github.com/hackforla/website/issues/2515#issuecomment-978213787)  What we  need to know from you, is: Is development going to make a list of all the images on a page and put them in the spreadsheet (each page on

[2021-11-28 18:23] ExperimentsInHonesty commented on #2401
Bumping this back to your inbox @isletprogramiz I don't see that you have joined the hackforla website team. Have you been to our onboarding? Or how did you find us? We welcome new contributors, I want to make sure you have access to our tools.

[2021-11-28 18:30] ExperimentsInHonesty opened #2517 "Choose figma spell check plugin for this project"
### Overview
We need all new designs to be spell checked by their designers.

### Action Items
- [ ] Identify which figma plugin for catching spelling errors that the team should use

### Resources/Instructions
[Figma spell check plug in SPELL](https://www.figma.com/community/plugin/754026612866636376/SPELLL---Spell-Checking-for-Figma-%26-FigJam)
[Figma spell check plug in Spellchecker](https://ww

[2021-11-28 18:37] ExperimentsInHonesty commented on #2173
@adrian-zaragoza I see that you removed your assignment.  Do you want this issue to be moved back to prioritized backlog?

[2021-11-28 19:01] ExperimentsInHonesty commented on #2486
@ahoang94 The page looks good.  Do you want a new issue made for the mobile or will you continue on this issue?  If you will continue on this issue, please move this back to in progress.

[2021-11-28 19:58] adrian-zaragoza commented on #2173
Hi @ExperimentsInHonesty , Yes that is correct. This should be moved back to the prioritized backlog.

[2021-11-28 20:15] ExperimentsInHonesty commented on #2446
@jenjen26 The [HfLA - Program Areas - Citizen Engagement](https://www.hackforla.org/citizen-engagement) is live on the site, its just not linked to a menu at this point.  You can still check it.

[2021-11-29 03:06] ahoang94 commented on #2486
@ExperimentsInHonesty I will revise this issue and add a mobile component to the checklist.

[2021-11-29 03:20] IsaacDesigns commented on #2446
@jenjen26 No need to finish this issue. It will be resolved when I finish issue https://github.com/hackforla/website/issues/2512.

[2021-11-29 08:57] abenipa3 commented on #1630
## 11/29/2021

Progress:

- Created a script to pull image path folder with Liquid!
  - Still in the work in progress because I may have questions for the Dev Team - figuring out how to make the images appear now without needing to add to the front matter.
- Working on regex to find and remove errors/alerts that appear with JavaScript after converting from Docs to Markdown.
- Simultaneously lookin

[2021-11-29 18:57] edeneault commented on #2395
Progress: Still pending resolution of permissions issue in PR
Blockers: Permissions issue when submitting PR.  GHA functions correctly on branch.
Availability: 2-4 hrs
ETA: TBD based on troubleshooting of permissions issue.

Details:  Permissions issue is not resolved yet.  I pushed to my branch and added checkoutV2 as the first step using HLFA Bot token.  Waiting for advice on how to proceed.

No

[2021-11-29 23:02] IsaacDesigns commented on #2447
No need to finish this issue. It will be resolved when I finish issue https://github.com/hackforla/website/issues/2512.

[2021-11-29 23:02] #2447 closed, assigned to iilashi

[2021-11-29 23:03] #2446 closed, assigned to jenjen26

[2021-11-29 23:04] IsaacDesigns commented on #2448
@AnyaStewart No need to finish this issue. It will be resolved when I finish issue https://github.com/hackforla/website/issues/2512.

[2021-11-29 23:04] #2448 closed, assigned to AnyaStewart

[2021-11-30 02:20] IsaacDesigns commented on #2448
@kristine-eudey I'm looking for the Guides live site page. The linked Guides pages in this issue goes to Toolkit. Please update the Guides page link when you get the chance.

[2021-11-30 03:39] ExperimentsInHonesty opened #2518 "Pre-work Checklist: Developer: Bonnie Wolfe"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:40] sydneywalcoff opened #2519 "Pre-work Checklist: Developer: Sydney Walcoff"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:41] JessicaLucindaCheng opened #2520 "Pre-work Checklist: Developer: Jessica Cheng"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:42] anthonysim opened #2521 "Pre-work Checklist: Developer: Anthony Sim"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:43] lopezpedres opened #2522 "Pre-work Checklist: Developer: Miguel Lopez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:44] jqg123 opened #2523 "Pre-work Checklist: Developer: John Guan"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 03:47] Johnnie007 opened #2524 "Pre-work Checklist: Developer: Johnnie Hicks"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-11-30 18:53] IsaacDesigns commented on #2106
# Meeting: 12/2/21

### Participants: Isaac, Simone, Summer, Jenna, Anya, Ida, Stephen, Shruti

### To Discuss:
- New member, Stephen, introduction!!!
- Would like to know where the research documents are located to help inform future designs.
- Figma spellchecker plugin and Google screenshot extension.
- Weekly standup (sharing work in progress and completed in last week).
- Rather than have only

[2021-11-30 20:16] macho-catt commented on #2010
### Agenda for November 30, 2021

#### Meeting Start
- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Assign note taker

#### Stand-up update (5-10 minutes)
- [x] Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What current blockers stop

[2021-11-30 20:53] jenjen26 commented on #2497
**Progress**: Assigned to self 11/30
**Blockers:** none currently
**Availability:** ~10hrs this week
**ETA:** 12/10

[2021-12-01 02:48] lopezpedres commented on #2522
Availability for this week:
    -Wednesday  : 12:00 pm - 3:00  pm
    -Thursday:  3 pm- 5:30 pm
    -Sunday: 9 am - 12 pm

My estimated ETA for completing this issue:
    - 2021/12/02

[2021-12-01 03:24] #2445 closed, assigned to ojafero

[2021-12-01 16:33] ExperimentsInHonesty commented on #1630
@alyssabenipayo thanks for update.

[2021-12-01 17:35] kristine-eudey commented on #2328
@arghmatey I'm not sure if you had access to a large enough file for the updated image, since the one I pasted in the issue was just a screenshot. I just uploaded the square cropped images in both 900px and 1200px size to the [Drive folder](https://drive.google.com/drive/folders/1pDthtEiPKgn998deuPAlCiqvcd4mlmvr?usp=sharing).

[2021-12-01 18:59] sydneywalcoff commented on #2443
Availability for this week: available all today (wed)
My estimated ETA for completing this issue: done by today

[2021-12-01 19:26] sacamp commented on #2309
Waiting for introduction to corporate donor representatives.

[2021-12-01 19:28] sacamp commented on #2015
Progress: Onboarded new UX team members, working on tailoring research plan to each user group
Blockers: none
Availability: 2-4 hours collaborative
ETA: 12/15

[2021-12-01 19:38] sacamp commented on #19
Progress: Contacted ITA regarding browser usage
Blockers: Waiting on ITA response
Availability: 1 hour
ETA: Pending ITA response

[2021-12-01 19:50] #2522 closed, assigned to lopezpedres

[2021-12-01 20:00] ahoang94 commented on #2486
The mobile version of the Policy Page has been laid out: https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17947%3A123030

[2021-12-01 20:04] kristine-eudey commented on #1797
### Meeting: 12/1/21

### Things to Discuss:

### Decisions Made:
- Kristine to make Isaac organizer of weekly UX team meeting, Isaac & Bonnie to then transfer the ownership of that meeting to the website@hackforla.org
- Kristine to update "Onboarding new members to the team" Google doc (currently out of date since recent updates to process)
- Issac and Bonnie will review all the pages on the curr

[2021-12-01 20:07] anthonysim commented on #2434
Availability for this week:
- Fri (12/3/21): 5:00 - 7:00 PM
- Sat (12/4/21): 12:00 - 1:30 PM
My estimated ETA for completing this issue: 12/4/2021

[2021-12-01 20:46] sacamp opened #2527 "Create a reference document containing summaries/definitions of target user groups"
### Overview
We need to create a reference document containing summaries/definitions of different target user groups so that researchers have a common understanding of the types of user groups we aim to research in #2015 .
### Action Items

- [x] watch UX team's interview with Bonnie about different stakeholders
- [x] create a document containing definitions of the following groups:
   - [x] volun

[2021-12-01 21:16] kristine-eudey opened #2528 "Add credits for photos and icons for redesigned homepage"
### Overview
We need to add credits for all new icons and photographs used in the redesigned version of the homepage so that the Credits page is up to date.

### Note: Feature Branch
The pull request created from this issue should be pushed into a feature branch called "feature-homepage-launch." Please note this [wiki article](https://github.com/hackforla/website/wiki/How-to-work-off-of-a-feature-

[2021-12-01 21:27] jqg123 commented on #2441
Availability for this week: 10hr
My estimated ETA for completing this issue: 12/2/21

[2021-12-01 21:33] IsaacDesigns commented on #2512
@ExperimentsInHonesty I tried organizing the screens lengthwise but I ran into the same issue of there not being enough room on the Figma page. What way do you recommend me to organize it?

[2021-12-01 21:58] sacamp opened #2529 "Create interview guides for each type of user interview"
### Overview
We need to create interview guides that can be used during user interviews with our different user groups.

### Action Items

- [ ] Read the individual donor research plan as an example
- [ ] Define overarching research question for each user group
- [ ] Write interview questions which address overarching research questions

### Resources/Instructions
[Donor research plan](https://doc

[2021-12-01 23:05] summerharveyux commented on #2499
Availability for this week: Wed until 9pm, Thurs 5-8pm EST
My estimated ETA for completing this issue: by our next meeting on Wed, 12/8

[2021-12-01 23:12] Stephen-Parent opened #2531 "Pre-work Checklist: Designer: Stephen Parent"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2021-12-02 01:54] ghost opened #2533 "Pre-work Checklist: Researcher: Shruti Mukherjee"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2021-12-02 03:24] #2521 closed, assigned to anthonysim

[2021-12-02 03:28] JimGeist commented on #2383
1. ems-triage-tracker.md file created and updated as required.
2. 'The EMS Triage Tracker app provides the ability to both primary and secondary triage during Mass Casualty Incidents, as well as provide incident command with tools to view and direct the operaiton of all personnel involved.' from the overview pdf was added as a description for the card.
2. Hero and logo pngs were copied to assets/i

[2021-12-02 03:37] lopezpedres commented on #2235
Availability for this week:
    -Thursday: 3 pm - 5:30 pm
    -Sunday: 9 am - 12 pm
My estimated ETA for completing this issue: 2021/12/05

[2021-12-02 13:06] muditchoudhary commented on #2431
Hey 👋 I would like to work on this issue. I've just finished reading the contributing guidelines and have some questions to ask :
- I don't know about Docker. Can I do this issue ?
- Is it optional or compulsory to install/use Docker? Btw I'm happy to learn it as I go ahead.
- Could you tell what could be the possible size of this repository?
-  Also I've found some little typos in the contributin

[2021-12-02 17:30] JackieRiley1 opened #2536 "Donor Focused UX Research Plan"
### Overview
The purpose is to create a UX research plan focused on increasing donations. We currently have a research plan focused on multiple user groups, but would like to extract the donor related information to make the plan more focused.

### Action Items
Review existing UX studies focus on how non-profits increased donations.
Revise existing research plan

### Resources/Instructions
Existin

[2021-12-02 19:02] jqg123 commented on #2356
Availability for this week: 10h
My estimated ETA for completing this issue: 12/3

[2021-12-02 19:38] kristine-eudey opened #2537 "Preference test for Homepage hero section"
### Overview
We need to preference test the hero section of the homepage in order to learn whether the [current version](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16301%3A101535) or [newly designed version](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=16091%3A101199) appeals most to potential and actual users of our site. We then

[2021-12-02 22:16] jenjen26 commented on #2312
Progress: Completed - ready to review with design team 12/2 meeting.
Blockers: Where best in design system documentation to place asset?
Availability:
ETA: 12/2

Before:

![135118379-479334c2-e2c8-4a5c-8831-9eb787ec67ec](https://user-images.githubusercontent.com/64928677/144510404-0954cba7-7cf0-4df6-bc41-52db16999e3f.png)

After:
![Screenshot 2021-12-02 160536](https://user-images.githubuserconten

[2021-12-03 01:33] ExperimentsInHonesty opened #2539 "Pre-work Checklist: Developer: Bonnie"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" label to this issue and remove t

[2021-12-03 02:43] anthonysim commented on #2234
Availability for this week:
Wed (12/8): 5 - 7 PM
Fri (12/10): 5 - 7 PM
Sat (12/11): 11 - 1 PM
My estimated ETA for completing this issue: 12/11/2021

[2021-12-03 17:44] Johnnie007 commented on #2524
Availability for this week 12/5 -12/11:
Tuesday & Thursday  Evenings/Night EST
My estimated ETA for completing this issue:
15 mins

[2021-12-03 18:39] sydneywalcoff commented on #2519
Update
1. Progress - Submitted PR
2. Blockers - waiting for review
3. Availability - full
4. ETA - waiting for PR review

[2021-12-04 00:25] SAUMILDHANKAR commented on #1977
Progress: Waiting for review.
Blockers: None
Availability: 10 hrs
ETA: N/A

[2021-12-04 02:27] Abel-Zambrano commented on #2125
Progress: Complete
Blockers: Pending Review
Availability: n/a
ETA: n/a

[2021-12-04 14:25] edeneault commented on #2395
Progress: Progress Negative - need to re-code due to incompatibility of GHA action
Blockers: no blockers
Availability: Unsure.  Started new job, not sure what the time demand will be.
ETA: 2 weeks
Pictures: N/A  back-end

[2021-12-04 18:20] ExperimentsInHonesty opened #2542 "Pre-work Checklist: Researcher: Bonnie"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2021-12-04 23:40] #2443 closed, assigned to sydneywalcoff

[2021-12-04 23:41] #2441 closed, assigned to jqg123

[2021-12-04 23:41] Stephen-Parent commented on #2511
Progress: New design is complete and ready for review
Blockers: NA
Availability: 3+ hours
ETA:
Pictures: (left is new, right is current)
![image](https://user-images.githubusercontent.com/94029486/144727908-85f09b3a-250c-4819-9670-3f0b2cdc14f0.png)

[2021-12-04 23:42] #2433 closed, assigned to lopezpedres

[2021-12-04 23:44] #2434 closed, assigned to anthonysim

[2021-12-04 23:45] #2490 closed, assigned to Johnnie007

[2021-12-04 23:45] #2425 closed, assigned to jnmrles

[2021-12-04 23:55] #2179 closed, assigned to Aveline-art

[2021-12-05 04:34] SAUMILDHANKAR opened #2544 "Update the Current Project Team Section for HfLA Website Project"
### Overview
We need to update the project team section of the HFLA Website project page to properly reflect the current members of the leadership team.

### Details
We need to remove Mathew Cacho, Sihem Gourou, Kristine Eudey and add Tomas Gonzalez, Saumil Dhankar, Isaac Cruz, and Simone Campbell on the Website team project page leadership section.

### Action Items
- [x] Remove Mathew Cacho and

[2021-12-05 12:45] JessicaLucindaCheng commented on #2484
Availability for this week: Any time, except Sunday 10am-12pm
My estimated ETA for completing this issue: Sunday, December 5, 2021

[2021-12-05 15:53] JessicaLucindaCheng commented on #2520
Completed all tasks.

[2021-12-05 16:38] macho-catt commented on #2027
### Agenda for December 5, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations (11/30 - 12/5)
    - [x] The following developers all finished their first issues. Good job, and feel free to pick up a good second issue!
        - @ojafero, @sydneywalcoff, @jqg123, @lopezpedres, @anthonysim, @Johnnie007, @jnmrles
- [x] Make announcements
- [x] @macho-catt c

[2021-12-05 16:52] macho-catt commented on #2515
@ExperimentsInHonesty I spoke to @IsaacDesigns and we decided we will split up the pages on the website and update the spreadsheet together.

[2021-12-05 16:56] IsaacDesigns commented on #2515
Progress: I have confirmed with @macho-catt that Design and Development will split up the pages and design will annotate all of them.
Blockers: Waiting for @macho-catt to make a list of pages for Design to add to the spreadsheet.
Availability: 4 hours
ETA: NA

[2021-12-05 17:08] macho-catt commented on #2515
List of pages (12 in total):

Devs
- [About page](https://www.hackforla.org/about/)
- [Projects page](https://www.hackforla.org/projects/)
- [Events page](https://www.hackforla.org/events/)
- [Getting Started](https://www.hackforla.org/getting-started)
- [Join Us page](https://www.hackforla.org/join)
- [Sitemap](https://www.hackforla.org/sitemap/)

Design
- [Toolkit](https://www.hackforla.org/tool

[2021-12-05 18:35] #2511 closed, assigned to Stephen-Parent

[2021-12-05 19:15] ExperimentsInHonesty commented on #2496
@jnmrles One last item that was not on the original instructions but has since been added

- [ ] Once you take a issue, please add the following in a comment
[code]
- [ ] Weekly, please also provide an update on the issue
[code]
- [ ] Once all tasks are completed, close this issue

[2021-12-05 19:23] #2486 closed, assigned to ahoang94

[2021-12-05 19:42] macho-catt commented on #2515
https://docs.google.com/spreadsheets/d/1abMlPOX88zHTV29E4BFxAYwahCxgJN28Mn95cXr8jak/edit#gid=2047679475

About page @macho-catt
Projects page @JimGeist, @anthonysim
Events page @lopezpedres, @SAUMILDHANKAR (completed)
Getting Started @R-Tomas-Gonzalez
Join Us page @JessicaLucindaCheng
Sitemap @Johnnie007

[2021-12-05 20:32] anthonysim commented on #2515
Projects Page - bottom half only

https://docs.google.com/spreadsheets/d/1abMlPOX88zHTV29E4BFxAYwahCxgJN28Mn95cXr8jak/edit#gid=68583811

Availability for this week:
Wed (12/8): 5 - 7 PM
Fri (12/10): 5 - 7 PM
Sat (12/11): 11 - 1 PM

My estimated ETA for completing this issue: 12/8/2021

[2021-12-05 23:14] ExperimentsInHonesty commented on #2328
@arghmatey did you see Kristine's last comment

[2021-12-05 23:30] ExperimentsInHonesty commented on #2544
@SAUMILDHANKAR please add the removal of sihem and Kristine and the addition of Issac and Simone and the new tech leads.

[2021-12-05 23:37] arghmatey commented on #2328
@kristine-eudey @ExperimentsInHonesty Great! I believe the image was a little smaller than the others, so I'll replace it now. Thank you!

[2021-12-05 23:54] ExperimentsInHonesty commented on #2128
It is feasible and we are now using it to update communities of practice
[issue template](https://github.com/hackforla/website/issues/new?assignees=&labels=role%3A+product&template=communities-of-practice-information-updates.yml&title=Communities+of+Practice+information+updates%3A+%5BINSERT+NAME+OF+Community+of+Practice%5D)

[2021-12-05 23:54] #2128 closed, assigned to macho-catt

[2021-12-05 23:57] macho-catt commented on #2374
I can finish this by tonight
Hours: 3 hours
Eta: tonight

[2021-12-06 00:07] ExperimentsInHonesty commented on #2374
@hackforla/website-merge I have updated the form.  Whats next?

[2021-12-06 00:17] lindseyindev opened #2547 "Pre-work Checklist: Developer: Lindsey Dinkel"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-06 09:01] abenipa3 commented on #1630
## 12/6/2021

Progress:

- No updates from the last post, except for updating code for the image path. Couldn't find a convenient time to meet with devs last week, so scheduled to meet with Matthew to ask questions today (12/6/21).

Blockers: N/A

Availability: 6

ETA: 12/30/21

[2021-12-06 17:07] #2531 closed, assigned to Stephen-Parent

[2021-12-06 20:44] JessicaLucindaCheng commented on #2419
Availability: 7am - 5pm Thu, Dec 9 - Sat, Dec 11
ETA: Sun, Dec 12, 2021

[2021-12-06 21:15] IsaacDesigns commented on #2312
@jenjen26 there seems to have been a misunderstanding with this issue. The gradient looks great but we all we need is the gradient, not the background image. Please update and add in comment. Thank you!

[2021-12-06 21:29] jenjen26 commented on #2312
@IsaacDesigns I am currently discussing with Matt from the dev team where best to place the final gradient overlay in the Figma files. Once we figure that out, I will update with the final gradient and location in the Figma file.

[2021-12-07 00:56] elizabethhonest opened #2550 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-12-07 01:30] Johnnie007 commented on #2094
Availability for this week 12/5 -12/11:
Tuesday & Thursday Evenings/Night EST
My estimated ETA for completing this issue:
15 mins

[2021-12-07 01:52] anthonysim commented on #2487
Availability for this week:
Thurs (12/9/2021): 5-7 PM
Sat (12/11/2021): 12-2 PM
Sun (12/12/2021): 12-2 PM

My estimated ETA for completing this issue:
Sunday (12/12/2021)

[2021-12-07 03:32] ExperimentsInHonesty opened #2552 "Update Project Profile: VRMS"
### Overview
As a product manager of VRMS I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/vrms.md

### Action Items

- [x] VRMS Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [x] t

[2021-12-07 03:35] ExperimentsInHonesty commented on #2552
Description: VRMS is a browser-based software tool created by Hack for LA (HfLA) for volunteer organizations to curate participant journeys and further organizational goals of workforce development and project impact. By collecting and using relevant data, VRMS is able to automate repetitive tasks; match volunteers with projects, relevant training and job opportunities; measure engagement with pro

[2021-12-07 03:41] jbubar opened #2553 "TYPO - change GitHub hand to GitHub handle"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2021-12-07 03:44] JimGeist commented on #2383
Some changes were requested -- there were comments in the ems-triage-tracker.md from the template that required removal, and a second change was required because "program area:" had to change to "program-area:".
Changes were pushed and issue is awaiting final review and merge.

[2021-12-07 05:05] R-Tomas-Gonzalez opened #2554 "Implement the new design for the footer: mobile"
~### Dependency~
-  ~#2393~

### Overview
We need to update the mobile view of the footer on the website to reflect the new design in Figma.

### Details
We are changing the way the mobile footer looks. We will be adding sections to the footer that include: "Our Work", "Get in Touch", "Join Us", and "Toolkit.

<details>
<summary>Current Mobile Footer</summary>
<img width="373" alt="Screen Shot 202

[2021-12-07 05:41] R-Tomas-Gonzalez commented on #2010
### Agenda for December 7, 2021

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Assign note taker

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesday?
3. What current blockers stop you f

[2021-12-07 05:59] abenipa3 commented on #1630
## 12/6/2021 and 12/7/2021 - Reviewing Script that Pulls Image Path Folder

Progress:

- Reviewed script to pull image path folder with Liquid with Matthew
  - We reviewed the script I created (as seen below) according to what we have on our [current projects page](https://github.com/hackforla/website/blob/gh-pages/assets/js/current-projects.js) as suggested by our Dev Team.
      - Script loops o

[2021-12-07 06:14] R-Tomas-Gonzalez opened #2555 "Create new privacy policy page"
### Dependency
- [x]  ~#2690~

### Overview
Create a new privacy policy page to properly inform users about how the website collects, uses, stores, and protects data from site visitors.

### Details
We're creating a new privacy policy page. The content can be found in the google drive and the design can be found in the figma design under the resources/instructions section.

### Action Items

- [x]

[2021-12-07 07:21] JessicaLucindaCheng commented on #2515
Completed listing the current alt text for images on the Join Us webpage in the following spreadsheet:
https://docs.google.com/spreadsheets/d/1abMlPOX88zHTV29E4BFxAYwahCxgJN28Mn95cXr8jak/edit#gid=390597843

[2021-12-07 14:23] mrgeraffe-kun commented on #2553
Hello, can I get assigned with this issue?

[2021-12-07 15:58] IsaacDesigns commented on #2515
Will go over on how to do these tasks with the design team at 12/9 meeting. Then create issues for each page after @ExperimentsInHonesty creates template.

[2021-12-07 23:15] JessicaLucindaCheng commented on #2419
Hana Stevenson's Slack id is UJ32EQ9LG.

[2021-12-07 23:55] jqg123 commented on #2528
Availability for this week: 20h
My estimated ETA for completing this issue: 12/14/21

[2021-12-08 01:33] #2484 closed, assigned to JessicaLucindaCheng

[2021-12-08 01:48] jqg123 commented on #2528
I have a blocker. I do not know where to source the new icons from. The previous icons have photos in the assets folder. I have added a discussion teamwork link. I have attempted to download the svg from the link and add it to the images. The result was a blank pictures. Possibly the picture is scaled too large or I do not know the format of the svg file. I am working on the add-credit-icon-redesi

[2021-12-08 02:36] macho-catt commented on #2528
@jqg123 you can export the image from the figma design. I can show you in tonight's meeting.

[2021-12-08 02:38] #2356 closed, assigned to jqg123

[2021-12-08 02:38] #2383 closed, assigned to JimGeist

[2021-12-08 03:16] JessicaLucindaCheng commented on #2417
Availability: 7am - 5pm Thu, Dec 9 - Sat, Dec 11
ETA: Sun, Dec 12, 2021

[2021-12-08 03:37] SAUMILDHANKAR opened #2558 "Pre-work Checklist: Developer: Lamar Robinson"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-08 03:58] SAUMILDHANKAR opened #2559 "Pre-work Checklist: Developer: George Ma"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-08 04:02] SAUMILDHANKAR opened #2560 "Pre-work Checklist: Developer: Shantanu Shende"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-08 17:26] jenjen26 commented on #2312
@IsaacDesigns

Here is the asset: [Final Gradient](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=18173%3A122891)

I placed the gradient in the [Project Description Page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/?node-id=7891%3A0) in a box underneath the 'final version' outlined in pink.

[2021-12-08 19:14] sacamp commented on #1797
### Meeting: 12/8/21

### Things to Discuss:

Research:
- [x] send researcher an invitation to preferred github handle "summerharveyux" and delete the "summerharvey" account
- [x] researchers are interested in quantitative work - can we access data for website analytics?
- [x] new issue approval review

### Decisions Made:

[2021-12-08 19:30] sacamp commented on #2498
### Meeting: 12/8/21

### Participants: Simone,

### Things to discuss:

- [x] making sure researchers have submitted their individual pre-work issue and are able to check off all boxes
- [x] progress update: working on/progress or blockers
- [x] walkthrough issues on the github board (each team member will self assign onto an issue or continue working on their current issue)
   - [x] #2561
   - [

[2021-12-08 19:51] sacamp opened #2561 "Audit the existing HfLA website UX research on drive"
### Overview
We need to document the resources from the previous UX research projects in order to create templates to use again in subsequent rounds of research and avoid repeating research projects.

### Action Items

- [x] Add each document from the Wiki to the resources below
- [x] Create HfLA website UX research audit spreadsheet (add it to the resouces below)
  - [x] Make a tab to annotate al

[2021-12-08 20:21] ExperimentsInHonesty commented on #1730
@PamelaLi36 I have unassigned you from this issue

[2021-12-08 20:47] ExperimentsInHonesty commented on #2537
This issue needs a link to whatever data came out of the donor and user research that is related to this homepage image.

[2021-12-08 21:05] JackieRiley1 commented on #2500
Availability for this week: Tues, Wed, Thurs
My estimated ETA for completing this issue: 2 hours

[2021-12-08 22:05] #2533 closed, assigned to nobody

[2021-12-08 22:07] summerharveyux opened #2562 "Pre-work Checklist: Researcher: Summer Harvey"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2021-12-08 22:22] #2519 closed, assigned to sydneywalcoff

[2021-12-08 22:28] lopezpedres commented on #2296
Availability for this week:
Wed (12/8/2021): 10 AM - 3 PM
Sat (12/11/2021): 1 PM - 5 PM
Sun (12/12/2021): 10-2 PM

My estimated ETA for completing this issue:
Sunday (12/12/2021)

[2021-12-08 22:30] sydneywalcoff commented on #2236
Availability for this week: wed, thurs, and fri
My estimated ETA for completing this issue: by tomorrow(thurs)

[2021-12-08 22:40] zzhoje opened #2563 "Pre-work Checklist: Designer: Zoe Zhong"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2021-12-08 22:46] ghost commented on #2561
Availability for this week: 6 hours every week
My estimated ETA for completing this issue: next two weeks

- [x] Weekly, please also provide an update on the issue
[code]

[2021-12-08 23:06] zzhoje commented on #2563
1. Progress: complete
2. Blockers
3. Availability
4. ETA

[2021-12-08 23:06] #2563 closed, assigned to zzhoje

[2021-12-08 23:52] IsaacDesigns commented on #2106
# Meeting: 12/9/21

### Participants:

### To Discuss:
- New member, Zoe, introduction!!!
- @ExperimentsInHonesty Current Goals:

    - We want the Hack for LA site to better represent the Hack for LA organization, and communicate the value of Hack for LA to all user groups (Donators, Volunteers, Communities of Practice, etc..). We want to get them excited about the organization, its values, and w

[2021-12-09 00:01] Stephen-Parent commented on #2361
Progress: Reviewing existing font weights
Blockers:
Availability: 6 hrs
ETA: Dec 18
Pictures:

[2021-12-09 00:11] IsaacDesigns commented on #2515
Progress: 80% complete
Blockers: Need @ExperimentsInHonesty to turn this into a template
Availability: 4 hours
ETA: NA

[2021-12-09 00:14] IsaacDesigns commented on #1398
@ktlevesque19 It looks like you are not volunteering anymore so I will unassigned you from this issue.

[2021-12-09 02:31] #2094 closed, assigned to Johnnie007

[2021-12-09 04:20] #2235 closed, assigned to lopezpedres

[2021-12-09 07:10] SAUMILDHANKAR commented on #2544
@ExperimentsInHonesty I have added the requirements and changed the size label to small. Thank you.

[2021-12-09 16:07] Johnnie007 commented on #2267
Hey, I believe that the `target="_blank"` has been set using the Jekyll Template in the _includes folder. Link to code: https://github.com/hackforla/website/blob/gh-pages/_includes/wins-page/wins-card-template.html#:~:text=%3Cspan%20class%3D%22wins%2Dcard%2Dicons,%3C/span%3E

In the win.js file, there is a comment to delete the makeIcon and makeElement function. Link to code: https://github.com/ha

[2021-12-09 16:08] Johnnie007 commented on #2267
Are we able to confirm this? @macho-catt

[2021-12-09 16:41] isletprogramiz commented on #2401
i am new to open source so can you guide me what i have to do and how at initial

[2021-12-09 19:51] IsaacDesigns commented on #2312
Looks good! Thanks!

[2021-12-09 19:51] #2312 closed, assigned to jenjen26

[2021-12-09 22:09] IsaacDesigns commented on #2370
@ExperimentsInHonesty hse decided that we will divide all pages up between designers and developers in issue https://github.com/hackforla/website/issues/2515.

Then design will annotate the alt text within each page.

[2021-12-09 22:09] #2370 closed, assigned to nobody

[2021-12-09 22:20] IsaacDesigns opened #2567 "Review the alt text for Toolkit page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Toolkit page.

#### Details
Developers identified that some alt texts in the Toolkit page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the

[2021-12-09 22:45] IsaacDesigns opened #2568 "Review the alt text for Donate page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Donate page.

#### Details
Developers identified that some alt texts in the Donate page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the W

[2021-12-09 22:54] IsaacDesigns opened #2569 "Review the alt text for Wins page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Wins page.

#### Details
Developers identified that some alt texts in the Wins page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the WCAG

[2021-12-09 22:54] #2236 closed, assigned to sydneywalcoff

[2021-12-09 23:11] sydneywalcoff commented on #2396
Availability for this week: Friday, Sat, Mon, Tue, Wed
My estimated ETA for completing this issue: Fri Dec 10, 2021

[2021-12-09 23:19] IsaacDesigns opened #2570 "Review the alt text for Citizen Engagement page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Citizen Engagement page.

#### Details
Developers identified that some alt texts in the Citizen Engagement page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succ

[2021-12-09 23:22] IsaacDesigns opened #2571 "Review the alt text for Communities of Practice page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Communities of Practice page.

#### Details
Developers identified that some alt texts in the Communities of Practice page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but shor

[2021-12-09 23:26] IsaacDesigns opened #2572 "Review the alt text for Credits page images and ensure that they adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Credits page.

#### Details
Developers identified that some alt texts in the Credits page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the

[2021-12-10 00:18] #2234 closed, assigned to anthonysim

[2021-12-10 00:27] macho-catt commented on #1850
Un-assigning myself since I will be leaving the team soon.

[2021-12-10 00:31] macho-catt commented on #1958
Will reach out again to @averdin2 to update the PR

[2021-12-10 00:56] IsaacDesigns commented on #2512
Progress: Need to find out what other pages that we have that are missing from the Current Pages Figma page.
Blockers: Will ask @Bonnie where I can find them
Availability: 4
ETA: 12/16/2021

[2021-12-10 01:21] summerharveyux commented on #2527
Progress: I finished watching Bonnie's interview, typed up all my notes from it on the 3 groups of advisors, financial partners, and local government partners, and added my notes to the Google doc that @ShrutiMukherjee started and shared with me, so I believe my assignment on this is complete
Blockers: None.
Availability: Task completed from my side.
ETA: Task completed from my side.

[2021-12-10 01:26] summerharveyux commented on #2537
weekly availability: 1 hour Friday night, 1 hour Monday night, 1 hour Tuesday night

[2021-12-10 01:55] #2125 closed, assigned to Abel-Zambrano

[2021-12-10 05:28] AnyaStewart commented on #2513
The issue is awaiting review.

[2021-12-10 05:47] abenipa3 commented on #1630
# 12/9/21

Progress:
- Reviewed script that automatically calls pulls image path folder with Dev Team and came up with an alternative solution. [[Details Here]](https://github.com/hackforla/website/issues/1630#issuecomment-987594087)
- Researching script with Google Apps Script as suggested by Dev Team that would add front matter to the page (and front matter would have display:false, if needed)

[2021-12-10 15:24] IsaacDesigns commented on #2513
Looks good to me. I will send I over for Bonnie to take a look at it and let us know if the issue was completed correctly.

[2021-12-10 15:54] anthonysim commented on #2487
Progress: Plan to finish this weekend.
Blockers: None
Availability:

Availability for this week:
Thurs (12/9/2021): 5-7 PM
Sat (12/11/2021): 12-2 PM
Sun (12/12/2021): 12-2 PM

My estimated ETA for completing this issue:
Sunday (12/12/2021)
ETA: "When do you expect this issue to be completed?"

Pictures: N/A

[2021-12-10 16:40] anthonysim commented on #2487
Hi @macho-catt, did you want me to remove (delete all the technologies listed) or comment them out? I'm just wondering in case that information might come in handy later down the line.

[2021-12-10 18:28] #2512 closed, assigned to IsaacDesigns

[2021-12-10 18:37] IsaacDesigns commented on #2515
I created Issues to audit the alt text for each of these pages:

Design
- [Toolkit](https://www.hackforla.org/toolkit/)
- [Donate](https://www.hackforla.org/donate/)
- [Wins](https://www.hackforla.org/wins/)
- [Citizen Engagement](https://www.hackforla.org/citizen-engagement)
- [Communities of Practice](https://www.hackforla.org/communities-of-practice)
- [Credits](https://www.hackforla.org/credit

[2021-12-10 18:47] macho-catt commented on #2485
Hi @amnak1284, just wanted to see what your progress on this issue is?

[2021-12-10 18:48] macho-catt commented on #2127
Will finish this issue this week (by Sunday)
Availability: 2 hours

[2021-12-10 21:00] jenjen26 commented on #2497
Redesigned to show 3 location image cards and removed all day of the week and project information. Ready for review.

[Redesign of events page for desktop and mobile](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=18112%3A126109)
![Screenshot 2021-12-10 144729](https://user-images.githubusercontent.com/64928677/145639447-9a8b662b-0c72-4966-a63e-a76a6f66d18d.png)

[2021-12-11 00:35] anthonysim commented on #2474
Availability for this week:
Wed - 12/15/21: 5 to 7 PM
Thurs - 12/16/21: 5 to 7 PM
Sat - 12/18/21: 12 to 2 PM

My estimated ETA for completing this issue:
Sat - 12/18/21

Edit: Currently updating the citizen-engagement.html page to make it more "DRY." New estimate for completing this issue:
Sun - 12/26/21

[2021-12-11 02:06] lindseyindev commented on #2444
Availability for this week: 5 hours
My estimated ETA for completing this issue: by Sunday 12/12

[2021-12-11 18:55] ExperimentsInHonesty opened #2576 "Update Project Profile: LA TDM Calculator"
### Dependency
- Waiting for TDM team to provide the link and the leadership info https://github.com/hackforla/tdm-calculator/issues/1028

### Overview
As a product manager of TDM, I want my project's details to be up to date on the HackforLA website

### Project card
- their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_
- file you will be updatin

[2021-12-11 19:08] ExperimentsInHonesty commented on #2576
The TDM team will be updating the leadership portion of the team list and providing a public link to the site

[2021-12-12 09:41] JessicaLucindaCheng commented on #2417
- Progress: Done and PR made
- Blockers: None
- Availability: 7am-9am PST Mon-Thu, Dec 13-16, 2021
- ETA: Already completed

[2021-12-12 16:26] zzhoje commented on #2066
Availability for this week: 6-8 hours
My estimated ETA for completing this issue: likely by the end of December

[2021-12-12 16:46] SAUMILDHANKAR commented on #2027
### Agenda for December 12, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations (12/5 - 12/12)
    - Following developers all finished their second issues: @sydneywalcoff (#2564), @JessicaLucindaCheng (#2556), @Johnnie007 (#2551), @anthonysim (#2549), @lopezpedres (#2545), @jqg123 (#2538) and @JimGeist (#2535). Feel free to pick up any Small, Medium, or

[2021-12-12 17:02] SAUMILDHANKAR commented on #1977
Progress: Waiting for review.
Blockers: None
Availability: 10 hrs
ETA: N/A

[2021-12-12 17:16] JackieRiley1 commented on #2536
Research plan draft has been created. It will undergo revisions as more information is learned and data is collected.

[2021-12-12 17:51] macho-catt commented on #2374
Once the form is updated, there is nothing else that needs to be done (nothing needs to be changed in the code). We can do a test submission for QA. Afterwards, we can close this issue.

[2021-12-12 17:52] sacamp commented on #2015
Progress: Individual donor persona completed.
Blockers: waiting on corporate donor introductions
Availability: 3-4 hours individually and collaboratively
ETA: 1/7/21

[2021-12-12 17:54] sacamp commented on #19
Progress: Contacted ITA regarding browser usage
Blockers: Waiting on ITA response
Availability: 1 hour
ETA: Pending ITA response

[2021-12-12 17:58] sacamp commented on #2527
[Reference document containing summaries/definitions of target user groups](https://docs.google.com/document/d/18FnLUCApXPzMB_hdtMmNrLwPcC0dsStwT___IsHWgcU/edit)

[2021-12-12 18:06] sacamp commented on #2309
Waiting for introduction to corporate donor representatives.

[2021-12-12 18:16] SAUMILDHANKAR commented on #1977
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site so far."

[2021-12-12 18:31] sacamp commented on #1797
### Meeting: 12/15/21

### Things to Discuss:
Research
- [ ] address issue #2401
   - updated the issue to reflect design and development will make seperate issues.  Developments should be put on the icebox until design is done.
- [x] review issue #2589

### Decisions Made:

[2021-12-12 18:52] ExperimentsInHonesty commented on #2515
@IsaacDesigns Did this template get made

[2021-12-12 18:55] ExperimentsInHonesty commented on #2513
@AnyaStewart Please add screen shots into the issue

[2021-12-12 20:15] SAUMILDHANKAR commented on #1977
Reopening the issue. Closed it accidentally.

[2021-12-12 20:18] #2547 closed, assigned to lindseyindev

[2021-12-12 22:21] macho-catt commented on #2553
hi @Yogeshp0012 . Thank you for your interest in contributing to our organization. If you would like to contribute to our repository, you need to join our organization first. To join, please check this [website](https://www.hackforla.org/getting-started).

Joining involves being onboarded to our team, and following the contributing document. We only allow volunteers to work and fix one issue at a

[2021-12-12 22:22] macho-catt commented on #2431
@brightmudit you would need to join the organization first to be able to contribute to this repository. Please refer to this [website](https://www.hackforla.org/getting-started) on how to do that.

Additionally, you would need to install and use docker to run a local version of the website on your environment.

[2021-12-12 22:31] #2127 closed, assigned to macho-catt

[2021-12-12 22:32] macho-catt opened #2579 "test issue - to be closed immediately"
Testing github action when the proper labels are not added

[2021-12-12 22:33] macho-catt commented on #2579
github action works, closing

[2021-12-12 22:33] #2579 closed, assigned to nobody

[2021-12-12 22:34] macho-catt opened #2580 "test issue 2 - to be closed"
Testing github action to ensure that proper comment is added when all labels are added

[2021-12-12 22:34] macho-catt commented on #2580
github action worked, closing

[2021-12-12 22:34] #2580 closed, assigned to nobody

[2021-12-12 22:35] macho-catt opened #2581 "test issue 3 - to be closed"
Testing github action to ensure that bot comments when not all labels are added

[2021-12-12 22:35] macho-catt commented on #2581
Github action works, closing

[2021-12-12 22:35] #2581 closed, assigned to nobody

[2021-12-12 23:16] ExperimentsInHonesty commented on #2419
@JessicaLucindaCheng fyi, for the future, please use the [full page screen shot chrome extension](https://chrome.google.com/webstore/detail/gofullpage-full-page-scre/fdpohaocaechififmbbbbbknoalclacl?hl=en
) to make the screen.  So in the case of this issue it would look like this:
![screencapture-hackforla-org-projects-design-systems-2021-12-12-15_14_42](https://user-images.githubusercontent.com/3

[2021-12-12 23:17] ExperimentsInHonesty commented on #2419
sent design team a message to have them signoff on issue

[2021-12-12 23:20] Georgema20 commented on #2559
Availability for this week: Monday evening/night, Tuesday early morning, Wednesday early morning and evening/late night, Thursday early morning, Friday early morning, and noon.

My estimated ETA for completing this issue: 2 days?

[2021-12-12 23:25] JessicaLucindaCheng commented on #2419
@ExperimentsInHonesty I'll be sure to do that in the future. Thanks.

[2021-12-12 23:36] ExperimentsInHonesty commented on #2395
Hi @edeneault I thought I would check in with you to see how the new job is going?

We are going to close the pr related to this issue, since it requires a full rewrite.  If you want to work on this issue and your schedule allows, please let us know and we will keep you assigned, otherwise you can pick up a new issue when you become free again.  Will unassign you on 2021-12-18 if you haven't heard

[2021-12-13 00:23] ExperimentsInHonesty commented on #2524
@Johnnie007

I noticed on your next issue https://github.com/hackforla/website/issues/2267 that you did not post availability when you self assigned.

Then you did post a note when you had a question, and later followed up by at mentioning Matt (which was awesome)

When you didn't get a response, you did not bring it up at the team meeting today.  Feel free to put things in the column labeled Deve

[2021-12-13 00:27] ExperimentsInHonesty commented on #2444
@lindseydotdev Hi!  So I noticed you said you had 5 hours available this week, and thought you would be done by Sunday (today), can you provide an update with what happened.

If you get stuck, the team meetings time are the time to discuss things.  Here is where you would place your issue so that it can be reviewed during the meeting:
**Development team meeting discussion items 🤔**
https://github.

[2021-12-13 00:33] ExperimentsInHonesty commented on #2523
Let's talk about what to do when no one responds to your updates on the issue in a timely manner.

[2021-12-13 00:34] ExperimentsInHonesty commented on #2487
@anthonysim fyi, don't move your issue into QA on the board.  The system will do that manually when the pr is merged.  Thanks!

[2021-12-13 00:42] ExperimentsInHonesty commented on #2311
I am going to close the issue and development will make a new issue, and then reference this one.

[2021-12-13 00:42] #2311 closed, assigned to ahoang94

[2021-12-13 00:43] ExperimentsInHonesty commented on #2312
Development will make a new issue for replacing the css with this

[2021-12-13 00:45] Georgema20 commented on #2559
Provide Update
1. Progress
Finished everything except my second issue (will be taking that on tomorrow)
2. Blockers
Nothing. Just mild confusion, but getting through it.
3. Availability
Monday evening/night, Tuesday early morning, Wednesday early morning and evening/late night, Thursday early morning, Friday early morning, and noon.
4. ETA
This issue should be finished by tomorrow if no major tech

[2021-12-13 01:32] ExperimentsInHonesty commented on #2554
@R-Tomas-Gonzalez I added the feature branch label to this issue.

[2021-12-13 01:37] ExperimentsInHonesty commented on #2554
@R-Tomas-Gonzalez

-  it looks like there is already an issue for the design team to make a new footer, that is closed with the submission of the new footer design. #2511  I don't think Issac knew that Adam has already created issue #2393

- If you think that resolves the dependency, close the redundant issue with a note, and remove the dependency and link to the issue where the work can be found

[2021-12-13 01:40] AnyaStewart commented on #2513
<img width="202" alt="Top Nav Mobile 1212201 notes" src="https://user-images.githubusercontent.com/91104694/145739642-73744632-3608-49ef-8376-3a4cee84cd04.png">
<img width="661" alt="Top Nav Mobile 1212201" src="https://user-images.githubusercontent.com/91104694/145739645-810aa91b-3bf6-40d9-8f8d-6378a243c2dc.png">

[2021-12-13 01:41] ExperimentsInHonesty commented on #2555
@R-Tomas-Gonzalez There needs to be a link to the Figma file where the design can be found

[2021-12-13 03:23] lindseyindev commented on #2444
@ExperimentsInHonesty pull request submitted waiting for review! Sorry for the delay I have been adjusting to a new dev environment and that was my only blocker

[2021-12-13 03:26] iilashi commented on #2501
Progress: Issue is on hold until further notice.
Blockers: No known status of pages Civic Tech thru Workforce Development
Availability: A few hours a day
ETA: N/A

[2021-12-13 13:25] edeneault commented on #2395
Hi Bonnie,

I hope that this message finds you well.  I apologize for going MIA for the
last two weeks, starting the new job has required a lot of work. I loved it
and I am learning a lot which makes me happy. I would like to ask if you
would be Ok with me taking a 4 week hiatus until I get adjusted to the work
volume at work?  I really want to keep contributing to HFLA, I just have a
little bit t

[2021-12-13 14:14] Johnnie007 commented on #2524
@ExperimentsInHonesty Thanks for reaching out. I noticed that my comment lacks detail. All in all, the issue was resolved when the Wins page was converted to use the Jekyll template( I believe in a previous issue). So no work needs to be done on the #2267 issue. The issue just needs to be closed. I'll be sure to leave a more detailed comment on the issue.

[2021-12-13 14:38] Johnnie007 commented on #2267
This task has been resolved when the Wins page was converted to use the Jekyll Template. The template includes the attribute and value for `target="_blank"` that would open up a new tab on the web browser when the icon is clicked. This code has already been merged to the main branch, and no additional work needs to be done on this issue.

LINK HERE: https://github.com/hackforla/website/blob/gh-pag

[2021-12-13 18:39] lindseyindev commented on #2194
Availability: evening 12/13 & 12/14
ETA: Will try by midnight 12/13, else by midnight 12/14

[2021-12-13 18:52] IsaacDesigns commented on #2515
@ExperimentsInHonesty I need you to show me how to make the template when you get the chance.

[2021-12-14 00:10] sydneywalcoff commented on #2552
Availability this week: Wed-Fri
My estimated ETA for completing this issue: Wed Dec 15, 2021

[2021-12-14 00:11] ExperimentsInHonesty opened #2585 "Update Accomplishments"
### Overview
We need to update the accomplishments part of the About page on the website.

### Action Items
- [x] Review with Bonnie the projects that she knows have accomplishments
- [x] Reach out to all the project to find out if they have any
- [x] Provide guidance to the teams about what you are looking for

### Resources
https://www.hackforla.org/about/#accomplishments
Projects on the website

[2021-12-14 00:17] summerharveyux commented on #2537
12/13 update: just read and typed notes on the article linked above, and have a few questions prepared for the UXR meeting on 12/15.
next step: reviewing our existing research findings and documenting in this issue a summary of them.
obstacle: only that I need to find those existing research findings! will ask Simone about that now.

[2021-12-14 01:38] zzhoje commented on #2066
On hold to work on updating accomplishments for the about page

[2021-12-14 01:40] zzhoje commented on #2585
Availability for this week: 10 hrs

[2021-12-14 01:53] #2348 closed, assigned to Georgema20

[2021-12-14 01:54] #2444 closed, assigned to lindseyindev

[2021-12-14 03:44] KazushiR opened #2586 "Pre-work Checklist: Developer: Kazushi Rickert"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-14 13:38] muditchoudhary commented on #2431
Ok, I've sign up for the next on-boarding session.

Thank You.

[2021-12-14 18:52] ghost commented on #2527
Progress: Finished watching Bonnie's interview and typed up the definitions of volunteers, individual donors, and institutional donors on the google sheet. There is not much about "volunteers" in this interview.
Blockers: None
Availability: Task completed from my side.
ETA: Task completed from my side.

[2021-12-14 19:27] KazushiR commented on #2586
Availability for this week:  Anytime this week but Tuesday night.
My estimated ETA for completing this issue: 2 days or so.

Progress
Finishing up and will take on a first issue. Will attend the weekly meeting. (Will have to leave early for tonights meeting).
Blockers
Getting used to the work flow for this group and looking through the instructions
Availability
Anytime after 4 PM on the weekdays.

[2021-12-14 20:35] IsaacDesigns commented on #2497
@jenjen26 This looks good to me!

[2021-12-14 21:32] JackieRiley1 commented on #1730
Status Updated
The HackforLa pages which have associated Google analytics can be found here: https://drive.google.com/file/d/1aIF3v2gYyTgiZIhCm8SGAwRhoHSLyIRp/view?usp=sharing

[2021-12-14 21:38] JackieRiley1 commented on #1730
Status Updated
Google analytics related to donors/donations can be found here:
https://docs.google.com/document/d/1Pfp-gUOaP4K27VAA3g3UzUu7dSaHlMIJ/edit?usp=sharing&ouid=100049940379560348939&rtpof=true&sd=true

[2021-12-14 22:07] SAUMILDHANKAR commented on #2010
### Agenda for December 14, 2021

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [ ] Assign note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tuesd

[2021-12-15 02:12] #2396 closed, assigned to sydneywalcoff

[2021-12-15 02:13] #2487 closed, assigned to anthonysim

[2021-12-15 02:25] macho-catt commented on #2267
So the linked code does open up a new tab, but I believe the problem is when you click on "see more" when on desktop view. This opens up a modal, and when you click on linkedin/github on the modal it should open a new tab (currently it opens on the same tab).

As to why the class "needs to be deleted" according to the comment, I don't really know why. I would say the previous developer who worked

[2021-12-15 03:49] #1958 closed, assigned to averdin2, macho-catt

[2021-12-15 04:43] lopezpedres commented on #2385
Availability for this week: 10 hrs.
My estimated ETA for completing this issue: 2021/12/28

[2021-12-15 11:05] JessicaLucindaCheng commented on #2457
Availability: Th, Dec 16 and Tu, Dec 21 7am-10am
ETA: Tu, Dec 21

[2021-12-15 20:16] sacamp opened #2589 "Conduct an internal stakeholder interview with Bonnie re volunteers"
### Overview
We need to setup a stakeholder interview with Bonnie to obtain insight on HfLA volunteers to complete this reference [document](https://docs.google.com/document/d/18FnLUCApXPzMB_hdtMmNrLwPcC0dsStwT___IsHWgcU/edit?usp=drive_web&ouid=110157642717183613031)
### Action Items

- [x] Read this [article](https://www.userinterviews.com/ux-research-field-guide-chapter/internal-stakeholder-inte

[2021-12-15 20:27] ExperimentsInHonesty commented on #2533
Welcome to the team.  I am reopening this issue so that it can be completed.  Please meet with Simone for guidance, Thanks!

p.s. its about adding labels, and I think when you filled this out, it didn't have them pre-selected.

[2021-12-15 21:03] ExperimentsInHonesty commented on #1797
## 2021-1-22 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the QA
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [x] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22+label%3A%22feature%3A+onboa

[2021-12-15 21:06] #2527 closed

[2021-12-15 21:11] ExperimentsInHonesty commented on #2515
Sorry for the delay.  Have added you as an admin.

[2021-12-15 21:18] sacamp commented on #2498
### Meeting: 12/15/21

### Participants: Simone,

### Things to discuss:

- [ ] No meeting next week (12/22), are team members available to meet on 12/29?
- [ ] Github issue and  pre-work issue reminders
- [ ] Progress update: working on, progress, blockers
- [ ] Review issues on the [prioritized backlog](https://github.com/hackforla/website/projects/7#column-7198257) (each team member will self a

[2021-12-15 22:11] summerharveyux commented on #2537
provide update
1. Progress: have read the article, will decide tonight w/ the team what images to present
2. Blockers: didn't know where to access existing findings but Simone shared the link with me
3. Availability: Thurs night 5-8pm
4. ETA: after 12/25, since we're taking a holiday break

[2021-12-15 23:17] #2194 closed, assigned to lindseyindev

[2021-12-16 01:18] JessicaLucindaCheng opened #2591 "Broken link in CONTRIBUTING.md"
### Overview
As a developer, we need to make sure our guide for how to contribute is accurate. For this issue, we will fix a broken link.

### Action Items
- [ ] On line 615 in ```CONTRIBUTING.md``` change
[code]
to
[code]

- [ ] Commit and push changes to your branch on your forked repository
- [ ] In CONTRIBUTING.md on your remote branch, check that the link redirects to section [2.7.e Working o

[2021-12-16 03:11] SAUMILDHANKAR opened #2592 "GitHub Actions: Remove merged PRs from the Project Board"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want the cards of the merged pull requests to automatically be removed from the Project Board.

### Action Items

- [x] Review the notes below to understand the GitHub actions architecture we are currently moving towards
- [x] This should be a new job und

[2021-12-16 05:07] #2296 closed, assigned to lopezpedres

[2021-12-16 15:19] JackieRiley1 commented on #191
I will work on "Examining other non-profit donor pages for reference and collecting best practices."

[2021-12-16 17:10] Johnnie007 commented on #2267
Availability for this week:
Thursday 9 pm - 10 pm EST
My estimated ETA for completing this issue:
15 mins

[2021-12-16 17:52] sydneywalcoff commented on #2552
Updated ETA: Today Thursday, Dec 16 21

[2021-12-16 20:14] lindseyindev commented on #2465
Availability: 3 hours
ETA: by midnight 12/18

[2021-12-16 23:22] IsaacDesigns commented on #2106
# Meeting: 12/9/21

### Participants:

### To Discuss:

### Items Discussed:

### Actions to take:

[2021-12-17 01:22] Stephen-Parent commented on #2361
Progress: Reviewed font usage and found the main problems are too many font styles and some consistency issues. Consider removing Title 5 because it sees limited use. Title 6 is redundant/unused. Title 7 should be removed because it shares the settings of the button style. Paragraph 4 should also be removed because it too sees little to no use.
Blockers:
Availability:
ETA:
Pictures: For now, to vi

[2021-12-17 03:11] #1977 closed, assigned to SAUMILDHANKAR

[2021-12-17 03:27] elizabethhonest opened #2595 "this is a test issue - closing"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2021-12-17 03:27] macho-catt commented on #2595
test issue worked, closing

[2021-12-17 03:28] #2595 closed, assigned to nobody

[2021-12-17 03:37] abenipa3 commented on #1630
# 12/16/21

Progress:
- Researched Google Apps Script as suggested by Dev Team.
- Currently developing Markdown converter using Google Apps Script- the goal of the script is to address the following issues:
  - Automatically add front matter to the Guide Page.
  - Find the first and last sections (Overview and Guide Authors) to create a new page card for it.
  - Serve as an alternative to the Docs

[2021-12-17 03:47] IsaacDesigns commented on #2106
# Meeting: 12/16/21

### Participants: Anya, Simone, Shruti, Ida, Jackie, Stephen, Summer, Isaac

### To Discuss:
- [Project Board](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
- Prioritized issues - We need to work on the most important prioritized issues first.
### Items Discussed:
• Stephen working on font size and desirability issues. He found

[2021-12-17 05:10] JimGeist commented on #2408
**Progress**: Issue was investigated Monday night. Best fix was to change the sass settings so the bubble appears above the icons instead of below. Work was tested locally first with making changes in inspector. Changes were finalized and a pull request was made on Dec. 16, 2021.
**Blockers**: Conceptual first because I tried to dynamically determine the top position of the bubble using transforms

[2021-12-17 08:05] SAUMILDHANKAR opened #2596 "Pre-work Checklist: Developer: Maggi Mamdouh"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" label to this issue and remove t

[2021-12-17 17:58] macho-catt commented on #2392
@Zhu-Joseph since this has been inactive for a while, I will unassign you. Please feel free to pick up this issue again when you have the time. Thanks

[2021-12-17 17:58] macho-catt commented on #2462
@Emmettlsc since this has been inactive for a while, I will unassign you. Please feel free to pick up this issue again when you have the time. Thanks

[2021-12-17 17:59] macho-catt commented on #2485
@amnak1284 since this has been inactive for a while, I will unassign you. Please feel free to pick up this issue again when you have the time. Thanks

[2021-12-17 18:12] #2087 closed, assigned to Georgema20

[2021-12-17 23:24] IsaacDesigns opened #2597 "Correct Misspelled Words in Figma"
### Overview
Our website needs to be free of misspellings so that our reputation for quality is maintained. In this issue you will audit Figma screens for any misspellings and report them to development to correct them in the Hack for LA site.

### Action Items
   - [x] Identify which Figma plugin for catching spelling errors that you think the team should use and document (in the comments of this

[2021-12-17 23:41] #2586 closed, assigned to KazushiR

[2021-12-17 23:49] JessicaLucindaCheng opened #2598 "Desktop version of Getting Started page displays on Surface Duo size screen"
### Overview
As developers, we need to make sure that the website displays correctly on various devices. In this issue, we will fix the Getting Started page from displaying the desktop version to displaying the mobile version on a Surface Duo size screen.

<details>
<summary>Current Getting Started Page on Surface Duo Size Screen</summary>

![getting-started-page-on-Surface-Duo](https://user-image

[2021-12-18 15:37] IsaacDesigns commented on #2361
@Stephen-Parent These are very helpful findings. I will make an issue to revise the Font Styles in Figma screens and style guide based on your recommendations. I'm moving this audit to the Design System page.

[2021-12-18 17:21] JessicaLucindaCheng commented on #2457
- Progress: Completed
- Blockers: Waiting for review approval and merging
- Availability: Not applicable because completed issue and waiting for feedback. Will update availability if changes need to be made once I receive feedback.
- ETA: Completed already

[2021-12-18 18:11] ExperimentsInHonesty commented on #2576
Development Site: [tdmdev.azurewebsites.net](https://tdmdev.azurewebsites.net)
Live Site:  [tdm.azurewebsites.net](https://tdm.azurewebsites.net)

[2021-12-18 20:44] SAUMILDHANKAR opened #2600 "Apply new gradient overlay for Projects pages"
### Overview
We need to use a new gradient for the hero-image overlay on Project pages so that it looks smooth, visually pleasing and is applied consistently to Project page hero images.

### Action Items
- [x] Identify where the [gradient image file](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=18173%3A122891) must be placed in the code repository.
- [x] Make the

[2021-12-18 21:44] IsaacDesigns opened #2601 "Revise Text Styles in Figma's Design System"
### Overview
 We noticed that the Titles and Headers in the design system needs to be revised because the only difference between text variations are the size and boldness of them. How can we revise the typography section of the Design System to work better together without size and boldness of fonts being the only variation options between Titles and Headers?

### Action Items
- [x] Create a Figm

[2021-12-18 23:34] SAUMILDHANKAR commented on #2559
@Georgema20: Please share your availability and ETA for all the issues on the issues themselves instead of here on pre work template. Thank you.

[2021-12-18 23:34] anthonysim commented on #2397
Availability for this week:
Wed 12/23/2021: 5 - 7 PM
Fri 12/24/2021: 5 - 7 PM
Sat: 12/25/2021: 12 - 2 PM
My estimated ETA for completing this issue: Sunday 1/2/2022

[2021-12-19 01:25] #2515 closed, assigned to IsaacDesigns

[2021-12-19 02:29] R-Tomas-Gonzalez opened #2604 "Need to change "Current Project Team" with "Project Team""
### Overview
When projects are completed, there is no longer a "current project team". Therefore, we need to change the words from "Current Project Team" to "Project Team" on completed projects.

### Action Items
<details>
<summary>Picture Summary of Changes needed</summary>
If the status is completed, the h1 tag should say "Project Team" instead of "Current Project Team"
<img width="917" alt="Scr

[2021-12-19 03:22] R-Tomas-Gonzalez opened #2605 "Hide all time contributors - dependent on current project team number"
### Overview
If there are less all time contributors than the current project team, hide the div that contains the all time contributors.

### Action Items
An example of this issue can be found in the [EMS Triage Tracker](https://www.hackforla.org/projects/ems-triage-tracker) page. There are less all time contributors than on the current project team.

- [x] Locate the projects where this issue oc

[2021-12-19 03:51] R-Tomas-Gonzalez opened #2606 "Wrap resource titles on project page"
### Dependency
 - [ ] ACTIONS ITEMS IN THIS ISSUE WILL BE COMPLETED IN ISSUE #3449. When that issue is approved and moved to the prioritzied backlog, this issue is complete. Remove ready for dev leads label .
### Overview
Currently, the resource cards on the individual projects pages do not follow design patterns, and do not look great when there is more than one row of text. Redesign these cards

[2021-12-19 04:18] #2457 closed, assigned to JessicaLucindaCheng

[2021-12-19 06:51] JessicaLucindaCheng commented on #2555
- Availability: Unsure for the next two weeks (Dec 19 - Jan 2) due to the holidays
- ETA: Tuesday, January 11, 2022

[2021-12-19 08:27] SAUMILDHANKAR commented on #2027
### Agenda for December 19, 2021

- [x] Designate a note taker who will follow up on issue creation
- [x] Wins celebrations since last meeting
    - Congratulations @lopezpedres for getting third pull request (small back end issue) #2590 merged. Good job!
    - Congratulations @sydneywalcoff for getting third pull request (small front end issue) #2574 merged. Thanks for your contribution!
    - Co

[2021-12-19 09:52] SAUMILDHANKAR commented on #2596
@engmaggi Hi Maggi, please feel free to reach out to me if you have any questions. Thanks.

[2021-12-19 09:58] SAUMILDHANKAR commented on #2586
@KazushiR: Thanks for finishing up with this checklist. Feel free to pick up a good first issue from the prioritized backlog column. Let me know if you have any questions.

[2021-12-19 10:01] SAUMILDHANKAR commented on #2560
@shantanushende: Thanks for finishing up with this checklist. Please feel free to pick up a good first issue from the prioritized backlog column. Let me know if you have any questions. Or you can post in our slack channel.

[2021-12-19 16:30] IsaacDesigns commented on #2190
Progress: Analyzing the mobile navigation audit and asking previous design lead, @kristine-eudey for clarification.
Blockers: Need more clarification for analysis and next steps.
Availability: 4 hours
ETA: Before the new year

[2021-12-19 16:34] IsaacDesigns commented on #1398
Volunteers have been making progress on this issue but the action item checkboxes have not been touched. This comment https://github.com/hackforla/website/issues/1398#issuecomment-898044374 tells me that @christina245 or @ktlevesque19 might have made more progress.

I am currently asking the previous design lead @kristine-eudey for clarification on this issue.

[2021-12-19 19:46] ExperimentsInHonesty commented on #2361
@IsaacDesigns I am adding this to our agenda doc for our next meeting

[2021-12-19 20:16] ExperimentsInHonesty commented on #2417
This issue was followed completely and the developer did a good job.  I am keeping it open because while QAing it, I compared it against another page and found out that they were not consistently styled.  I am adding a note here about it, to investigate the problem.  The original assignee does not need to do anything.

This is a new PR(#2417), but when I look at the headers for these two pages the

[2021-12-19 20:16] #2417 closed, assigned to JessicaLucindaCheng

[2021-12-19 20:50] ExperimentsInHonesty opened #2607 "HfLA: Dev/PM Agenda and Notes"
### Overview
This issue tracks the agenda and notes for the Development/PM meeting

### Action Items
- [ ] Add the Date of the next meeting below
- [ ] Link the Agenda/Notes from meeting

### Resources/Instructions

#### Template
[code]

#### Prior and upcoming meetings
[2021-12-18](https://github.com/hackforla/website/issues/2607#issuecomment-997461322)
[2022-01-02](https://github.com/hackforla/w

[2021-12-19 21:06] ExperimentsInHonesty commented on #2607
## 2021-12-18 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the QA
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] [Front End](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22feature%3A+onboarding%2Fcontributing.md%2

[2021-12-19 21:19] ExperimentsInHonesty commented on #2607
## 2022-01-07 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the QA
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] [Front End](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22feature%3A+onboarding%2Fcontributing.md%2

[2021-12-19 21:39] ExperimentsInHonesty opened #2608 "HfLA: Content/PM Agenda and Notes"
### Dependency
- When we are ready to bring content person back to the team.  There should be another issue for recruiting a content lead that will be the dependency for this issue.

### Overview
This issue tracks the agenda and notes for the Content/PM/Org meeting

### Action Items
- [ ] Add the Date of the next meeting below
- [ ] Link the Agenda/Notes from meeting

### Resources/Instructions

#

[2021-12-19 21:40] ExperimentsInHonesty commented on #2608
## 2021-12-20 Meeting Agenda and Notes

### Prework to prep for meeting
- [x] Review the QA
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] [UX writing](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+writing%22#column-1549

[2021-12-19 22:58] ExperimentsInHonesty commented on #2605
@R-Tomas-Gonzalez This page is not a good example of this.  Triage tracker is a good example.  The BOP project has another issue, which is: our page is not connected to the repo properly.  It has the same use case as Work For LA.  We will discuss at next meeting.

[2021-12-19 23:27] anthonysim commented on #2474
@ExperimentsInHonesty @R-Tomas-Gonzalez, so created a card in `_includes` that iterates through the md files in `_projects` and generates a card for each item that has a program-area of Citizen Engagement and visible of true.

My question is this, the src links and alt links need to be dynamic as well for the img tags. Should these be added as properties in the md files that has to do with Citizen

[2021-12-20 00:15] ExperimentsInHonesty commented on #2604
@R-Tomas-Gonzalez I read the instructions above.  The pages are dynamic.  One should never edit the _sites folder, that is built when the static site generator builds the site and will be overwitten the next time the site is built.

There needs to be an if statement that checks to see what the status is of the project is and if the project is completed, it displays the wording Project Team, else i

[2021-12-20 00:17] ExperimentsInHonesty commented on #2606
Having seen the proposed solution, I am going to add this to the design team agenda, because it doesn't look that great now that I see it. I hate my own suggestion

[2021-12-20 01:25] ExperimentsInHonesty commented on #2374
@macho-catt I think I saw a test submission come through already on this.  Is that what this is? https://github.com/hackforla/website/issues/2595

 If yes, please write back here and close this issue.

[2021-12-20 02:46] lindseyindev commented on #2483
Availability: 3 hours
ETA: midnight 12/23

[2021-12-20 04:14] R-Tomas-Gonzalez commented on #2606
Sounds good. Thank you. Do I need to do anything with this issue?

[2021-12-20 15:00] JimGeist commented on #2554
I hope for a quick turnaround on this and am shooting for Thursday, December 23. I will know more once I start looking at the files.

[2021-12-20 18:07] R-Tomas-Gonzalez commented on #2554
Jim. Hold off on working on this for now... Will contact you via slack. Thanks.

[2021-12-20 21:01] sydneywalcoff commented on #2488
Availability: Full :)
ETA : Tuesday Dec 21, 2021

[2021-12-21 00:10] ExperimentsInHonesty commented on #2608
## 2022-01-03 Meeting Agenda and Notes

### Prework to prep for meeting
- [ ] Review the QA
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] [UX writing](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+writing%22#column-1549

[2021-12-21 00:19] ExperimentsInHonesty commented on #615
next steps are cleaning up this issue and then putting a ux writer label on it.

[2021-12-21 00:24] ExperimentsInHonesty commented on #2020
The items in this issue have already been completed.

[2021-12-21 00:24] #2020 closed, assigned to janieche

[2021-12-21 00:32] ExperimentsInHonesty commented on #2585
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-12-21 00:55] SAUMILDHANKAR commented on #2483
@lindseyindev: Thanks for adding your availability and eta. Just wanted to share a point from our Sunday team meeting. We are now requesting all developers to add eta and availability at the time of picking up an issue or when you are assigned to an issue. You are already doing this, so nothing needs to be done at your end. Just wanted to let you know. Thanks for your awesome work.

[2021-12-21 01:00] SAUMILDHANKAR commented on #2267
@Johnnie007: Just wanted to share a point from our Sunday team meeting. We are now requesting all developers to add eta and availability at the time of picking up an issue or when you are assigned to an issue. Just wanted to let you know. Thanks for your awesome work.

[2021-12-21 01:03] SAUMILDHANKAR commented on #2382
@jnmrles: Just wanted to share a point from our Sunday team meeting. We are now requesting all developers to add eta and availability at the time of picking up an issue or when you are assigned to an issue. Just wanted to let you know. Thank you.

[2021-12-21 01:06] SAUMILDHANKAR commented on #2528
@jqg123: Thanks for adding your availability and eta. Just wanted to share a point from our Sunday team meeting. We are now requesting all developers to add eta and availability at the time of picking up an issue or when you are assigned to an issue. You are already doing this, so nothing needs to be done at your end. Just wanted to let you know. Thanks for your awesome work.

[2021-12-21 01:07] zzhoje commented on #2585
1. Progress: completed spreadsheet; contacting managers to confirm accomplishments and ask for more details
2. Blockers: none
3. Availability: for now 6 hours this week due to holidays and 10 hours next week
4. ETA: draft by Jan 3rd

[2021-12-21 01:13] SAUMILDHANKAR commented on #2362
@chrisfoose: Yes, it is done. Please feel free to pick up any small, medium or large issue. Also, wanted to share a point from our Sunday team meeting. We are now requesting all developers to add eta and availability at the time of picking up an issue or when you are assigned to an issue. Just wanted to let you know. Thank you.

[2021-12-21 01:47] summerharveyux commented on #2537
Update:

1. Progress: I just reviewed existing research findings and document in this issue (see below) a summary of the findings and the issues of concern, such as small sample size.
2. Blockers: I was surprised to find minimum relevant info in the google drive. I was expecting to see something about previous testing of the hero image, such as concept testing maybe, and something about sample siz

[2021-12-21 02:55] JimGeist opened #2610 "Update line 4 of `website/_includes/donate-button.html` with HTML from the `Reccomendation` column"

[2021-12-21 04:57] JessicaLucindaCheng commented on #2555
@IsaacDesigns I'm working on creating the privacy policy page and adding its image to the credits page.
1. For the credits page, is there a specific alt text you want for the privacy policy image?
2. For the privacy policy page, is there a specific alt text you want for the privacy policy image?

Also, can I confirm this [Slack id](https://hackforla.slack.com/team/U0255408P8Q) is yours?

[2021-12-21 05:03] JessicaLucindaCheng commented on #2555
@R-Tomas-Gonzalez For the privacy-policy.yml, what is the difference between content and type?

[2021-12-21 08:57] #2552 closed, assigned to sydneywalcoff

[2021-12-21 16:48] IsaacDesigns commented on #2555
@JessicaLucindaCheng If you are referring to the hero images then you can just null the alt text.
It's hard to tell with that Slack link but here is my id: U0255408P8Q
-Isaac Cruz

[2021-12-21 20:59] IsaacDesigns opened #2612 "Review alt text for WCAG compliance on About page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the About page.

#### Details
Developers identified that some alt texts in the About page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the WCA

[2021-12-21 21:03] IsaacDesigns opened #2613 "Review alt text for WCAG compliance on Projects page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Projects page.

#### Details
Developers identified that some alt texts in the Projects page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to t

[2021-12-21 21:07] IsaacDesigns opened #2614 "Review alt text for WCAG compliance on Events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Events page.

#### Details
Developers identified that some alt texts in the Events page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the W

[2021-12-21 21:10] IsaacDesigns opened #2615 "Review alt text for WCAG compliance on Getting Started page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Getting Started page.

#### Details
Developers identified that some alt texts in the Getting Started page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct.

[2021-12-21 21:14] IsaacDesigns opened #2616 "Review alt text for WCAG compliance on Join Us page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Join Us page page.

#### Details
Developers identified that some alt texts in the Join Us page page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. Accord

[2021-12-21 21:16] IsaacDesigns opened #2617 "Review alt text for WCAG compliance on Sitemap page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will tackle the images under the Sitemap page.

#### Details
Developers identified that some alt texts in the Sitemap page should be reviewed because they are either inaccurate or too long. Ideally, alt text should be descriptive but short and succinct. According to the

[2021-12-21 22:01] JessicaLucindaCheng commented on #2555
@IsaacDesigns Thanks for responding! Is the alt text also null when the image is on the credits page?
<img width="268" alt="privacy-policy-credit" src="https://user-images.githubusercontent.com/31293603/147002887-ab548fe3-427d-424a-9d2f-7b52cee9c68b.png">

[2021-12-21 22:05] SAUMILDHANKAR commented on #2010
### Agenda for December 21, 2021

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a first time note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete be

[2021-12-22 02:53] JessicaLucindaCheng opened #2619 "Edit the link to deleted resource on Wiki"
### Overview
As a member of the team, we need to ensure the Wiki is an up to date and accurate resource. For this issue, we will remove a link to a deleted resource on our Wiki page.

### Action Items

- [x] Strikethrough the link for "Developers' Guide to Using Figma" on the Home page of the Wiki by placing the link within ~ and add "File seems to be deleted" after that as shown below:
`- ~[Devel

[2021-12-22 03:12] #2465 closed, assigned to lindseyindev

[2021-12-22 11:13] abenipa3 commented on #1630
### 12/22/21

(I won't be able to attend Wednesday's meeting as I planned, but here are my updates for now.)

Progress:
- Developed a basic Markdown Converter with Google Apps Script, so far the converter can do the following:
  - Convert Doc to Markdown format.
![image](https://user-images.githubusercontent.com/38295612/147083799-9033b209-6bea-4f0a-9e10-ed540958cbb2.png)
  - Find all images and s

[2021-12-22 18:40] IsaacDesigns commented on #2555
@JessicaLucindaCheng Yes.

[2021-12-22 18:54] IsaacDesigns commented on #1797
## Meeting: 12/22/21

### Things to Discuss:
##### Design
- [x] Tomas needs Bonnie's opinion on making an issue to reorganize the page headers the card section
- [x] Permission to make an issue to improve how the gradient looks over each pages hero image that will work for all pages hero images. Reference [gradient issue.](https://github.com/hackforla/website/issues/2312)
- [x] How does Bonnie wan

[2021-12-22 19:55] JessicaLucindaCheng commented on #2555
@R-Tomas-Gonzalez Never mind. I found out the difference between content and type. Here is a link: https://github.com/hackforla/website/issues/571#issuecomment-657256359

[2021-12-22 23:37] IsaacDesigns commented on #2106
# Meeting: 12/23/21

### Participants: Jenna, Saumil, Isaac

### To Discuss:
- Anyone working on an issue may iterate it to make more sense.
- Open position as Co-Design Lead! I might be starting a freelance project next week that will take away time from Hack4LA.
- New [Hack for LA Short Term Goals and Strategies doc](https://docs.google.com/document/d/1FxwgdnWBbbQ8Pi3tspnukZTWwXtqnRXfNkNhVMEloY0

[2021-12-23 00:01] IsaacDesigns commented on #1398
### Issue Update:
Several people were assigned to this issue at different times but no one really made any significant progress.

[2021-12-23 04:08] JessicaLucindaCheng opened #2622 "Remove the link for "Developers' Guide to Using Figma" on the Home page of the Wiki"

[2021-12-23 04:16] JessicaLucindaCheng commented on #2622
Created this issue by accident when I accidentally clicked on an action item in the other issue.

[2021-12-23 04:16] #2622 closed

[2021-12-23 16:38] jenjen26 commented on #2571
Progress: waiting for team review
Blockers: none
Availability:
ETA: complete

[2021-12-23 17:02] R-Tomas-Gonzalez commented on #2555
Great job researching! Thanks for the note!
Cheers,
-Tomas

[2021-12-23 20:48] IsaacDesigns commented on #2066
@ExperimentsInHonesty if @zzhojewe doesn't have the bandwidth have other designers that would like to work on this issue.

[2021-12-23 20:55] IsaacDesigns commented on #2501
This issue is on hold until @ExperimentsInHonesty and I can update the development status of the Current Pages page in Figma.

[2021-12-23 20:58] IsaacDesigns commented on #2567
Progress: Done with the Audit
Blockers: Need another designer to review my work
Availability: Enough time
ETA: When another designer is finished with a similar Alt text issue I will review their work and have them review mine.

[2021-12-23 21:04] IsaacDesigns commented on #2190
#### Issue status clarification:
I dont think the full audit should be added to the Design System, but it would be helpful to go through and identify if there's anything there that isn't represented in the Design System. Anything found that isn't represented in the Design System should then be assessed to determine if it should either be added to the DS, or changed to match something similar in th

[2021-12-23 21:18] sydneywalcoff commented on #2488
Tuesday was ambitious with the holiday
Updated ETA: Sunday Dec 26, 2021

[2021-12-24 00:22] ExperimentsInHonesty commented on #2607
next meeting
I want to move the surveys in this folder but I don't want them to break.  Lets test out the wins form
https://drive.google.com/drive/folders/1f3ReNv-uQ408JqQ4jwyufx78-E1yoNws?usp=sharing

[2021-12-24 08:53] SAUMILDHANKAR commented on #2558
@lrobinson823: Just wanted to follow up if you had any questions or need any help. Please let me know. Thanks.

[2021-12-25 04:18] SAUMILDHANKAR commented on #2607
## 2022-01-02 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the QA
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] [Front End](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22feature%3A+onboarding%2Fcontributing.md%2

[2021-12-25 10:13] SAUMILDHANKAR opened #2625 "GitHub Actions: Add a comment to be posted with 2 weeks inactive label"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want a comment to be posted whenever 2 weeks inactive label is added to an issue.

### Details
Currently, we are posting the same comment with both the `To update !` label and `2 weeks inactive` label even though there should be separate comments for each

[2021-12-25 22:11] JessicaLucindaCheng opened #2626 "Individual project pages' Wiki and Overview should not have alt="/""
### Overview
As a developer, we need to make sure the site follows Web Content Accessibility Guidelines (WCAG). For this issue, we will fix the Wiki and Overview images' attribute `alt="/"` on the individual project pages' resources section. Examples of pages with this problem: [Civic Tech Index](https://www.hackforla.org/projects/civic-tech-index), [100 Automations](https://www.hackforla.org/proj

[2021-12-25 22:15] ExperimentsInHonesty commented on #1797
items for next meeting agenda
- This is the item I was refering to
![h1 with h3 regular](https://user-images.githubusercontent.com/37763229/147394454-60a01b86-1171-4093-a57a-f340bf61e87b.png)
![typography](https://user-images.githubusercontent.com/37763229/147394476-5d2460d4-9fea-433c-bba8-b383311df0e4.png)

[2021-12-25 23:50] JessicaLucindaCheng opened #2627 "Project hero image missing alt attribute"
### Prerequisite
Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overview
As a developer, we need to make sure the site follows Web Content Accessibility Guidelines (WCAG). For this issue, we will add `alt=""` attribute to the hero image on the Projects page.

[2021-12-26 01:36] JessicaLucindaCheng opened #2628 "DRAFT: Identify and fix inconsistent code indentation in a SCSS file"
### Overview
As a developer, we need to make sure the code is easy to read. In this issue, we will identify and fix inconsistent indentation in [_getting-started-page.scss](https://github.com/hackforla/website/blob/d3b10fadfefa646ade8bdd5e3de6b89fa1ad466b/_sass/components/_getting-started-page.scss) using [Lint SCSS](https://github.com/hackforla/website/blob/78ddb139237e60fe91582c8bca706455dcf45be

[2021-12-26 02:44] lopezpedres commented on #2385
Progress:

***Done***
- Asked and got permission to get access to the drive [HfLA website Admin ](https://drive.google.com/drive/u/0/folders/0APij3x0zmh7aUk9PVA)
-  Made a copy, in my own drive, of the Google Sheets file with Its corresponding [App Script](https://script.google.com/home/projects/18uQ6VT7PGZ5skTLD-KDACf3DpMCMPi0WCcl2hBKhTFhi8F0tJKuq0Z9A/edit) from the file  [Wins-form (Responses)](

[2021-12-26 08:35] SAUMILDHANKAR commented on #2027
### Agenda for December 26, 2021

- [ ] Nominate a first time note taker who will follow up on issue creation
- [ ] Wins celebrations since last meeting
    - Congratulations @lindseyindev for getting third pull request (small front end issue) #2599 merged. Keep up the good work. 🥇 🥇 🥇
- [ ] Make announcements
- [x] Assigning pull request reviews
- [x] Go through the project board
    - [x] Dev te

[2021-12-26 09:10] JessicaLucindaCheng opened #2629 "jQuery needs to be placed alphabetically in the Technologies filter on the Projects page"
### Overview
As a developer, we should make sure the website is intuitive to use. In this issue, we will fix jQuery being placed last on the Technologies filter on the Projects page.

<details>

<summary>Current Technologies filter</summary>

![technologies-filter-jQuery](https://user-images.githubusercontent.com/31293603/147403546-a771536b-a0cf-4472-8ce9-7b1755a97a54.jpg)

</details>

### Action

[2021-12-26 09:11] SAUMILDHANKAR commented on #2619
@JessicaLucindaCheng Let's bring this up in the Sunday meeting just to make sure the file hasn't been moved to some other location. If so we can update the link.

[2021-12-26 09:37] SAUMILDHANKAR commented on #2505
Availability: 10 hrs per week. Tuesday and Thursday evenings.
ETA: 1/10/22

[2021-12-26 10:04] SAUMILDHANKAR commented on #2408
We missed looking at the changes in responsive design mode which has some errors, so reopening this issue.

[2021-12-26 10:21] JessicaLucindaCheng commented on #2555
# Developer's notes

## Label

**Action items**
- [x] Add the url to this the [label description](https://github.com/hackforla/website/labels?q=Privacy+Policy)

## Credits

**Action items**
- [x] Create a privacy-policy directory in assets/images directory.
  - [x] Add privacy-policy.jpg into the privacy-policy directory.
- [x] Create and add privacy-policy.yml to _data/internal/credits directory.

[2021-12-26 10:26] JessicaLucindaCheng commented on #2555
- **Progress:** Placed the hero image in the assets folder and created privacy-policy.yml for credits page
- **Blockers:** None
- **Availability:** Unsure for this week (Dec 26 - Jan 2) due to the holidays
- **ETA:** Tuesday, January 25, 2022 because I forgot to account for the time it takes to test the page on various browsers and for responsiveness in my original ETA

[2021-12-26 16:38] lindseyindev commented on #2081
Availability: 5 hours
ETA: midnight 12/29

[2021-12-26 17:35] ExperimentsInHonesty commented on #2625
I have moved this to the top of the Prioritized backlog because of the time savings and volunteer management value

[2021-12-26 18:36] JimGeist commented on #2456
1. Progress:  I found that there is a maxwidth attribute tag. The maxwidth downsizes larger images but it does not upscale smaller images. Adding in a wdith tag for the image in the inspector console fixed the image sizes. However, not all the images will have the same 'icon' size width because some of the image files have negative space on either side of the image.
1. Blockers: No difficulties, b

[2021-12-26 18:41] ExperimentsInHonesty commented on #2385
open a new issue, and self assign to Please add the instruction on when and how to encode a token to the contributing.md file

[2021-12-26 18:56] ExperimentsInHonesty opened #2631 "Revise Program Area on Open Community Survey Project Details"
### Overview
We need to revise the program area information to the Open Community Survey project so that it will show up correctly in the program area filter and the citizen engagement page

### Action Items
- [x] Review the project.md file model in the Resources section
- [x] Revise the following text on `_projects/open-community-survey.md`

from
[code]
to
[code]

### Resources/Instructions
File

[2021-12-26 19:10] ExperimentsInHonesty commented on #1323
- This issue is complete enough.  The design has implemented, and the privacy policy is being added on another issue.  The footer is about to change substantially on this issue https://github.com/hackforla/website/issues/2554

[2021-12-26 19:10] #1323 closed, assigned to nobody

[2021-12-27 05:03] Aveline-art opened #2632 "Bug on code of conduct"
### Overview
This is a bug that I have found.

When I was searching through Google for our code of conduct, it gave me a link to an incomplete page. Please look at the resources for more information.

Note: Might overlap with #110. I'm not sure 😔

### Action Items
- [ ] Explore ways to keep [Broken code of conduct page](https://www.hackforla.org/CODEOFCONDUCT.html) from displaying when the site is

[2021-12-27 06:27] #2544 closed, assigned to Georgema20

[2021-12-27 08:06] #2267 closed, assigned to Johnnie007

[2021-12-27 09:23] SAUMILDHANKAR opened #2633 "Edit content field and remove type field from 404.yml credits file"
### Dependency
- [x] - #2642

### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start w

[2021-12-27 09:52] SAUMILDHANKAR opened #2634 "GitHub Actions: 2 weeks inactive label bug"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want the 2 weeks inactive label should be posted only after 14 days of inactivity from the time the issue is assigned.

### Action Items

- [x] Review add-label.js file located at (https://github.com/hackforla/website/tree/gh-pages/github-actions/add-upda

[2021-12-28 03:38] pattshreds opened #2636 "Pre-work Checklist: Developer: Patrick McGuigan"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-28 03:38] wiltsai opened #2637 "Pre-work Checklist: Developer: William Tsai"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-28 03:40] Garcia1416 opened #2638 "Pre-work Checklist: Developer: Gabriel Garcia"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2021-12-28 11:04] JessicaLucindaCheng opened #2639 "Update link to the communities of practice yml file template in our Wiki's Sidebar"
### Overview
As a developer on the team, we need to ensure the Wiki is an up to date and accurate resource. For this issue, we will update the link [Communities of practice yml file template](https://github.com/hackforla/website/wiki/Communities-of-practice-yml-file-template) in our Wiki's Sidebar.

### Action Items
- [x] Change the link in our Wiki's Sidebar from
[code]
to
[code]
  - [x] In the "

[2021-12-28 23:36] JessicaLucindaCheng opened #2641 "Add how to place a pull request on the Project Board in CONTRIBUTING.md"
### Overview
As developers, we need to make sure our guide on how to contribute is up to date. In this issue, we will include a section on how to add a new pull request to the Project Board.

### Action Items
- [x] Currently in [CONTRIBUTING.md](https://github.com/hackforla/website/blob/e33b5d42e8c048255b2448ca5567f511c85dc1c2/CONTRIBUTING.md), there is a section 3.1.b.[iv. Complete pull request (

[2021-12-28 23:58] JessicaLucindaCheng opened #2642 "Update Credits yml file template"
### Overview
As a member of the team, we need to ensure the Wiki is an up to date and accurate resource. For this issue, we will update the [Credits yml file template](https://github.com/hackforla/website/wiki/Credits-yml-file-template).

### Action Items
This will be an issue worked on and discussed during development team meetings.
- [x] Figure out why there are two name values for (content and

[2021-12-29 00:24] SAUMILDHANKAR commented on #2629
@ExperimentsInHonesty I see the milestone has already been added, but was not sure if the issue should just be added to the prioritized backlog or sorted as well. So, I am leaving the ready for milestone label on and will bring it up in future discussion. This applies to #2627 as well.

[2021-12-29 01:33] jnmrles commented on #2382
Progress: It seems that the needed updates for this issue are already made prior to assigning it to myself. Should I close this?

[2021-12-29 01:39] SAUMILDHANKAR commented on #2010
### Agenda for December 28, 2021

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a first time note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete be

[2021-12-29 02:56] zzhoje commented on #2585
1. Progress: contacted all managers; started writing drafts
2. Blockers: none
3. Availability: 10 hours
4. ETA:  drafts for Jan 3rd meeting

[2021-12-29 19:45] IsaacDesigns commented on #1797
## 2021-12-29 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [x] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [x] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2021-12-29 20:23] ExperimentsInHonesty commented on #2361
Isaac you can close this issue, once you revised issue https://github.com/hackforla/website/issues/2601 to addresses the Light Regular Medium Bold found on this comment https://github.com/hackforla/website/issues/1797#issuecomment-1001077278

[2021-12-29 20:26] #2328 closed, assigned to kristine-eudey

[2021-12-29 20:30] ExperimentsInHonesty commented on #2401
@isletprogramiz You are welcome to work on our projects, in order to join the organization, please see this webpage https://www.hackforla.org/getting-started, then once you have attended one of our onboarding sessions we can help you work on this issue.  Remind us when you show up, that you came to work on this issue.

It is free to join our organization.

[2021-12-29 20:54] ExperimentsInHonesty commented on #2066
@IsaacDesigns can you talk to Kristine about the guidance she wrote.

[2021-12-30 00:19] JimGeist commented on #2408
Issue was revisited, fixed, and tested with desktop browser window > 960px width; desktop browser window width < 960px; responsive tablet, ipad, ipad pro and mobile phone sizes.

The display problem that caused the re-opening of the issue was addressed. When the window is not wide enough for the modal window, the WINS card is expanded to show all the WINS and text when one of the badges are clicke

[2021-12-30 00:49] #2483 closed, assigned to lindseyindev

[2021-12-30 02:29] JimGeist commented on #2456
1. Progress: I found that there is a maxwidth attribute tag. The maxwidth downsizes larger images but it does not upscale smaller images. Adding in a wdith tag for the image in the inspector console fixed the image sizes. However, not all the images will have the same 'icon' size width because some of the image files have negative space on either side of the image.
1. Blockers: None - rework for T

[2021-12-30 02:50] SAUMILDHANKAR commented on #2382
@jnmrles: Thanks for checking this. Yes. looks like needed updates are already there.
@ExperimentsInHonesty: I have confirmed the HelloGov project is showing up when we add the program areas filter. It is also being reflected in the [hellogov.md file](https://github.com/hackforla/website/blob/gh-pages/_projects/hellogov.md). So, I am closing this issue.

[2021-12-30 02:50] #2382 closed, assigned to jnmrles

[2021-12-30 04:33] lindseyindev commented on #2641
One thing I would recommend specifying in the instructions is the step to select the website project on the pull request

<details>
<img src="https://gyazo.com/fe19d5ca303074fabd0b0922c2821260.png"/>
</details>

[2021-12-30 07:49] isletprogramiz commented on #2401
Ya
I am participating  in Jan 5 meet
Hope this will help me to understand how to process further
Thanku for replying:)

[2021-12-30 08:31] #2474 closed, assigned to anthonysim

[2021-12-30 08:35] iilashi commented on #2568
Progress: Waiting to review with team
Blockers: None
Availability:
ETA: Complete

[2021-12-30 09:21] SAUMILDHANKAR commented on #2395
Moving the issue back to prioritized backlog.

[2021-12-30 10:29] SAUMILDHANKAR commented on #2641
@JessicaLucindaCheng: We have issue - #2395 in prioritized backlog for automatically moving PRs into the project board. So, this issue might not be required (depends on which one gets merged first).

[2021-12-30 22:08] JessicaLucindaCheng commented on #2641
@lindseyindev Good suggestion! I updated my original post to try to include your recommendation.

[2021-12-30 22:10] JessicaLucindaCheng commented on #2641
@SAUMILDHANKAR Since it will be fixed in issue #2395, should we close this issue then?

[2021-12-30 22:29] IsaacDesigns commented on #2106
# Meeting: 12/30/21

### Participants: Ida, Simone, Jenna, Isaac

### To Discuss:
- [x] Current goal [Hack for LA Short Term Goals and Strategy](https://docs.google.com/document/d/1FxwgdnWBbbQ8Pi3tspnukZTWwXtqnRXfNkNhVMEloY0/edit?usp=sharing). We need to improve the design system. Bonnie recommends everyone to watch this video about design systems: https://www.youtube.com/watch?v=_pfyLVXTVSQ
- [x]

[2021-12-30 22:54] IsaacDesigns commented on #2567
@jenjen26 has participated to review this issue and close it if it is done.

[2021-12-30 22:56] IsaacDesigns commented on #2571
I've participated to review this issue and close it if it is done.

[2021-12-30 23:36] IsaacDesigns commented on #1398
@ExperimentsInHonesty this issue seams outdated and I wanted to know if it is still a priority. If it is I would like more clarification on the task that is asked.

[2021-12-31 04:09] lrobinson823 commented on #2489
Availability: 6:00 - 8:00 pm pst M-F
ETA: 12/30/21

[2021-12-31 07:57] abenipa3 commented on #1630
12/30/21

Progress:
Reached out to Dev Team to have access to the admin folder to refer to the app script as reference.
Haven't had the chance to work on it this past week. Should be able to catch up after the holiday.

Blockers: N/A

Availability: 6

ETA: 1/12/21

[2021-12-31 08:37] SAUMILDHANKAR commented on #2641
@JessicaLucindaCheng It might take a while before that issue is worked upon and there might be a lot of PRs which might benefit from this in the meantime. Also, it is a good practice to double check if it has been placed in the project board in case the automation fails for some reason. So, good idea to keep this issue. I will add ready for milestone.

[2021-12-31 18:02] IsaacDesigns commented on #2190
1. Progress: Will add the findings to the design system
2. Blockers: After looking at [Figma - Mobile Navigation Audit](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=15122%3A95165) it seems like there was confusion as to what a mobile navigation menu is because all of the components listed are not navigation menus.
3. Availability: 4 hours
4. ETA: N/A

[2021-12-31 20:24] IsaacDesigns commented on #2571
@jenjen26 in the "Area/ Section in Code" column it looks like you put the actual code and I cannot locate what image you are referring to with this code. Please revise the "Area/ Section in Code" column with appropriate names. For examples see the tabs of other google sheet page's "Area/ Section in Code" column.

So others don't make this mistake I've changed "Area/ Section in Code" to "Area on Pa

[2021-12-31 20:57] IsaacDesigns commented on #2568
Hi @ilashi great job auditing the Donate page!

[2021-12-31 21:00] #2568 closed, assigned to iilashi

[2022-01-01 00:35] anthonysim commented on #2397
Progress: I haven't started as of yet.
Blockers: 1) Where these <li> tags are generated on current-projects.html 2) how to just change technologies and not impact the other dropdowns 3) I'm thinking it might require changing the tags to <div> and using css grid?
Availability: See above comments.
ETA: 1/8/2022
Pictures: N/A.

[2022-01-01 09:40] SAUMILDHANKAR commented on #2558
@lrobinson823 Great job on finishing all the items and picking up your good first issue. One last item is closing this issue. You can find the button to close the issue at the bottom of this page. Thank you.

[2022-01-01 09:42] SAUMILDHANKAR commented on #2596
@engmaggi Hi Maggi, just following up to see if you had any questions while working with this checklist. Feel free to reach out to me if you need help.

[2022-01-01 19:53] lindseyindev commented on #2464
ETA: by midnight 1/4/2022
Availability: 5 hrs [between 1/2-1/4]

[2022-01-01 23:52] SAUMILDHANKAR commented on #2604
@Georgema20: This issue needs a rewrite, so I will unassign you and move this issue to new approval column. Please take up another issue from the Prioritized column. Thank you.

[2022-01-02 09:19] JessicaLucindaCheng commented on #2555
- Progress: None this week
- Blockers: None
- Availability: 6 hours total by working on it Thu-Fri, Jan 6-7, 2022
- ETA: Tuesday, January 25, 2022

[2022-01-02 10:10] SAUMILDHANKAR commented on #2027
### Agenda for January 02, 2022

- [ ] Nominate a first time note taker who will follow up on issue creation
- [ ] Wins celebrations since last meeting
    - Congratulations @anthonysim for getting fourth pull request (medium back end issue) #2603 merged. Keep up the good work. 🥇 🥇 🥇 🥇
    - Congratulations @lindseyindev for getting fourth pull request (small back end issue) #2624 merged. Awesome,

[2022-01-02 10:23] SAUMILDHANKAR opened #2649 "Tablet for testing"
### Dependency
When we get a little closer to homepage launch

### Overview
We need to get an actual tablet for the website team so we can test the changes on an actual device instead of a simulator

### Action Items
- [x] Make a list of available tablets in the market
- [x] Seek feedback from tablet users on our [general slack channel](https://hackforla.slack.com/archives/C04502L0P)
- [x] Discuss

[2022-01-02 10:28] SAUMILDHANKAR opened #2650 "GitHub Actions: Bot adding and removing the same label"
### Overview
As a developer, we have to ensure that our kanban board is organized for all teams so that productivity is high. For this issue, we want to know why the GitHub action bot is adding and removing the same label and change the code logic so it doesn't do that.

### Action Items
- [x] Please go through the wiki article on [Hack for LA's GitHub Actions](https://github.com/hackforla/website

[2022-01-02 10:30] SAUMILDHANKAR opened #2651 "Explore, document and make a new issue to implement linters which can be installed locally"
### Overview
In this issue, we will explore and implement linters which can be installed locally so that developers can identify errors before making a PR

### Action Items
- [x] Explore linters (Example: [Super-Linter](https://github.com/github/super-linter)) which can be used for HfLA website repo
- [x] Demo a use case in your local environment during the team meeting
- [x] Make sure the dev tea

[2022-01-02 10:32] SAUMILDHANKAR opened #2652 "Refactoring: Multiple if else statements in add-label.js to be combined into functions"
### Dependency
- [x] #2634

### Overview
For this issue, we need to refactor multiple if else statements in [add-label.js](https://github.com/hackforla/website/blob/gh-pages/github-actions/trigger-schedule/add-update-label-weekly/add-label.js) file so that our code quality and efficiency improves.

### Action Items

- [x] Review add-label.js file located at (https://github.com/hackforla/website/bl

[2022-01-02 10:35] SAUMILDHANKAR opened #2653 "DRAFT: Pre work checklist bot comments are currently addressed to author, should be addressed to the name in title"
### Overview
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructions
REPLACE THIS

[2022-01-02 16:19] JackieRiley1 commented on #191
I've compiled a checklist of best practices for non-profits and evaluated the Hack for LA website based on those best practices. https://docs.google.com/document/d/1bJMw4cDRTXrxHykJg5NDOJpJPAh_D9qm4QgpYGyQJtw/edit?usp=sharing

[2022-01-02 17:53] ExperimentsInHonesty commented on #2619
This link has not been moved to another location, someone has accidentally deleted it and we can't get it back.

[2022-01-02 17:55] ExperimentsInHonesty commented on #2634
@SAUMILDHANKAR   Do we want to make sure there has not been an unassignment?

[2022-01-02 17:58] ExperimentsInHonesty commented on #2641
What do you think about putting a note on the other issue #2395 to revert this pr once the other is done?

[2022-01-02 18:24] ExperimentsInHonesty commented on #1398
I have re-written the issue  - Isaac will hide all the comments

[2022-01-02 18:39] ExperimentsInHonesty commented on #2606
@IsaacDesigns Please rewrite issue, keeping Tomas's mockups

[2022-01-02 18:42] ExperimentsInHonesty commented on #2419
Didn't hear back from them. Went ahead an closed this issue

[2022-01-02 18:42] #2419 closed, assigned to JessicaLucindaCheng

[2022-01-02 18:54] ExperimentsInHonesty commented on #2513
@AnyaStewart Gave notes to Isaac during meeting.  Happy to talk about it directly, if you come to team meeting
- white semi transparent background on menu does not work, with words showing through
- The red underline seems to be new to the site, we don't do black text with red underline any place else.
- I would like to see the other options

[2022-01-02 18:55] ExperimentsInHonesty commented on #2106
Please review at next team meeting
https://github.com/hackforla/website/issues/2513
https://github.com/hackforla/website/issues/2497

[2022-01-02 18:57] ExperimentsInHonesty commented on #2497
@jenjen26 Please make the desktop version the same square as the mobile.

[2022-01-02 20:17] ExperimentsInHonesty commented on #2395
@edeneault Hope you had a lovely holiday.  Thank you for the response (it helped us clean this up).  We hope your new job is great and look forward to having you back anytime. 🥇

[2022-01-02 20:36] ExperimentsInHonesty commented on #1797
- #2632

[2022-01-02 20:42] ExperimentsInHonesty commented on #2634
@SAUMILDHANKAR says it will skip the loop if there is no assignee.

[2022-01-02 20:56] ExperimentsInHonesty commented on #2641
@JessicaLucindaCheng is going to revise to indicate in the contributing file that its being automated and that they should still check manually to confirm in case of automation breakage.

Please put the ready for milestone label back on this when you are done.

[2022-01-02 20:57] JessicaLucindaCheng commented on #2641
Revision ETA: Tue, Jan 4, 2022

[2022-01-02 22:56] ExperimentsInHonesty commented on #2560
@shantanushende please add a label for front end or backend or both.  Depending on what is appropriate for you.

[2022-01-03 03:40] jenjen26 commented on #2497
@ExperimentsInHonesty @IsaacDesigns Changing the desktop version to square appears to go against the design system currently. I am more than willing to make the change - just wanted to confirm prior to completing.

[2022-01-03 03:53] jenjen26 commented on #2571
@IsaacDesigns I edited and it's ready for review.

[2022-01-03 04:00] jenjen26 commented on #2567
@IsaacDesigns I noticed in the current alt text you've written null and then not to change as image is decorative. I think this needs to be edited to show that yes, the text has to be changed to alt="". Even when decorative, all the images require an alt label in the code.

[2022-01-03 20:48] zzhoje commented on #2585
Progress: most drafts written
Blockers: more info needed from BallotNav, TDM Calculator, and Youth Justice Nav (sending messages to their slack channels right now)
Availability: 8-10 hours
ETA: after we review these drafts, I can get the final versions to you by the next meeting (Jan 10th)

[2022-01-03 21:29] tamalatrinh opened #2654 "Pre-work Checklist: Designer: Tammy"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-01-04 00:08] elizabethhonest opened #2655 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-01-04 04:44] shantanushende commented on #2560
Hey Bonnie,
legally I need to report my employment to my international student services
before I start work. For that, I need an offer letter. I have attached the
request below!

https://github.com/hackforla/governance/issues/61#issuecomment-992626831

Thank You
Shantanu Shende

On Sun, Jan 2, 2022 at 5:56 PM Bonnie Wolfe ***@***.***>
wrote:

[2022-01-04 09:42] SAUMILDHANKAR commented on #2010
### Agenda for January 4, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a first time note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete befo

[2022-01-04 10:10] SAUMILDHANKAR opened #2656 "Changing text size for Getting Started page"
### Dependency
- [x] ~https://github.com/hackforla/website/issues/2690~

### Overview
We need to make sure the text sizes for the header section on the Getting Started page is consistent with the rest of the site.

### Action Items
- [x] Review the text sizes of all the project pages.
- [x] Change the text size of Getting Started page by using the SCSS class `paragraph2` for the paragraphs in the