[2022-01-04 10:59] SAUMILDHANKAR commented on #2385
@lopezpedres Thanks for making a PR. Please add the final code changes that you have made here. Also, the mobile and desktop screenshots of the wins page that you see in your local env after merging PR as well as the unique ID that is generated in wins-data.json file. It will be helpful to get all this documented with this issue. I will add the changes to the main gs code app script and close the

[2022-01-05 00:33] lopezpedres commented on #2385
@SAUMILDHANKAR Thank you! I'll attach the two screenshots here:

<details>
<summary> Mobile Screenshot</summary>

![screencapture-localhost-4000-wins-2022-01-04-16_12_57](https://user-images.githubusercontent.com/63615112/148141464-bfaf8d91-7bc4-4032-8834-7356c921ff40.png)

</details>

<details>
<summary> Desktop Screenshot</summary>

![screencapture-localhost-4000-wins-2022-01-04-16_24_39](https:

[2022-01-05 02:18] JessicaLucindaCheng opened #2657 "Fixing comment on 2FA Guide Page"
### Overview
As developers, we need to make sure any comments we make in the code do not show up on the live website and that code comments are easy to understand. For this issue, we will add the end tag `-->` on a comment so it does not show on the bottom of the [2FA Guide page](https://www.hackforla.org/guide-pages/2FA) and we will indent the comment start tag to make it easier to understand the

[2022-01-05 02:22] JessicaLucindaCheng opened #2658 "Investigate why Credits page displays each item alphabetically locally but in a different order on the live website"
### Dependency
- [ ] #2265

### Overview
As developers, the website seen locally on our computers should look the same as the live website. For this issue, we will investigate why the Credits page displays each credit alphabetically when running the code locally on the computer but in a different order on the live website.

### Action Items
**Feasibility**
- [ ] Investigate why the Credits page di

[2022-01-05 02:29] JessicaLucindaCheng opened #2659 "Make a sentence easier to understand in CONTRIBUTING.md"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-01-05 03:32] frankstepanski opened #2660 "Pre-work Checklist: Developer: Frank Stepanski"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2022-01-05 03:55] JessicaLucindaCheng opened #2661 "Delete the about-us.html file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-01-05 07:26] lindseyindev commented on #2464
Progress: Have researched sizing and compared to figma, multiple containers are not sized matching figma specs, need to discuss with tech leads as only adjusting bottom padding does not make the container match the figma design.
Blockers: Sizing of containers
Availability: 3 hours
ETA: Will attend office hours on Thursday, should have next steps or resolution by EoD 1/6
Pictures (optional):
<detai

[2022-01-05 18:22] IsaacDesigns commented on #2606
@ExperimentsInHonesty I've rewritten the issue and it looks good to go.

[2022-01-05 19:58] sacamp commented on #19
Progress: Contacted ITA regarding browser usage
Blockers: Waiting on ITA response
Availability: 1 hour
ETA: Pending ITA response

[2022-01-05 20:16] ExperimentsInHonesty commented on #1797
## 2021-12-29 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [x] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [x] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-01-05 20:29] ExperimentsInHonesty opened #2662 "Create personas: volunteers"
### Dependency
- #2561
- #2589

### Overview
We need to have personas so that we can evaluate if the features we are developing service the audience

### Action Items

- [x] Collate data from previous interviews on google drive of volunteers and product managers.
- [x] Create Miro board for Volunteer Persona data analysis and synthesis.
- [x] Transfer data from volunteer interviews, product manage

[2022-01-05 20:30] ghost commented on #2561
Progress: Creating an Excel Sheet of all the existing UX research on a website redesign
Blockers: Large amount of data to parse through in order to distill relevant information. Not a blocker really but more of a challenge.
Availability: 6-7 hours
ETA: By Jan 6
Pictures: "Add any pictures of the visual changes made to the site so far."

[2022-01-05 20:38] ExperimentsInHonesty commented on #2561
@ShrutiMukherjee please put a link to the spreadsheet you are creating in the top of this issue under resources.

[2022-01-05 20:46] jenjen26 commented on #2606
Progress: initiated issue and reading resources
Blockers: none
ETA: 01/12

[2022-01-05 21:16] ExperimentsInHonesty commented on #2632
I realized why this page is in our main dir: https://github.com/hackforla/website/blob/gh-pages/CODEOFCONDUCT.md  Its part of GitHub's health files https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file

So the question is how do we keep it from displaying when the site is googled.

[2022-01-05 21:21] sacamp commented on #2498
### Meeting: 1/5/22

### Participants: Simone, Shruti, Jackie, Summer
### Things to discuss:

- [x] Migrating to a new Google Drive [folder](https://drive.google.com/drive/folders/1we_k_Hd0vwBmCxcDaX_C6L9JUMX7xO63)
   - [x] Please copy any documents that you have created on the old drive to the new Drive
   - [x] all new documents from this point forward need to be added to the new Drive
- [x] Pro

[2022-01-05 22:43] SAUMILDHANKAR commented on #2641
@JessicaLucindaCheng: Thanks for the revision. Just added a small note for future changes.

[2022-01-05 22:57] summerharveyux commented on #2537
1. Progress: discussed the preference test language with the team tonight. updated the preference test to reflect that new language, and shared the link with the team for distribution. distributed it to several UX-relevant slack groups (1) HfLA general; 2) Research Ops, 3) Hexagon UX, 4) UXPA Boston, 5) UX Research and Strategy, 6) People Nerds, 7) UX Rescue, 8 ) Ideate Labs, 9) Delta CX). will be

[2022-01-05 22:57] JessicaLucindaCheng commented on #2641
@SAUMILDHANKAR Thanks for looking at my issue write up again! Instead of adding that line to the Wiki, would it be better to create an issue dependent on this issue and the GHA one too? However, I'm not sure if an issue can have more than one dependency. My reason is creating a note in the contributing.md to do something later may be missed or forgotten later. Let me know what you think.

[2022-01-05 23:28] SAUMILDHANKAR commented on #2385
[code]
lines 7, 8, 9 to be added in the main code.

[2022-01-06 00:51] IsaacDesigns commented on #2601
Progress: To make this issue more efficiently worked on I must first create an issue to connect the design system's components/styles to to Figma's latest screen designs.
Blockers: None
Availability: n/a
ETA: This week

[2022-01-06 00:54] IsaacDesigns commented on #2497
@jenjen26 Thanks for addressing this and going off of the design system. We can review this in Thursday's meeting.

[2022-01-06 18:46] AnyaStewart commented on #2513
@ExperimentsInHonesty Thank you for your feedback! Sunday meetings are getting hard to attend for me, but I will try to this week. My comments are in bold.

- white semi transparent background on menu does not work, with words showing through. **I agree, it was my concern as well**
- The red underline seems to be new to the site, we don't do black text with red underline any place else. **It is us

[2022-01-06 21:34] JackieRiley1 commented on #1696
Here is the planning guide for the impact research methods
(https://docs.google.com/document/d/1-rX6jkKYqrkeDvHVtSjAN2Wm2HdKx6rQb5zvmvg_Y6k/edit?usp=sharing)

I have made recommendations for the type of UX methods needed for the Impact page: (https://docs.google.com/document/d/19a2aOiB7vQ79Vme20fzSZdbO9UzGOB65G3NZuXQLD6s/edit?usp=sharing)

[2022-01-06 21:46] JackieRiley1 opened #2663 "Roadmap: Research: True Intent Survey"
### Dependency
- #2733
- Bonnie to setup survey123

### Overview
We need to determine feasibility and priority of the true intent survey so that we know when to work on it.

### Action Items
- [x] Copy [roadmap template](https://github.com/hackforla/website/wiki/Roadmap-template, add it to a comment below, and fill out
- [x] Define requirements for the survey in a spreadsheet
   - [x] Find commerc

[2022-01-06 22:02] IsaacDesigns commented on #2190
Progress: I have determined the next steps in this issue is to identify if there's anything in this audit that isn't represented in the Design System. Anything found that isn't represented in the Design System should then be assessed to determine if it should either be added to the DS.
Blockers: None
Availability: 3 hours
ETA: 5 days

[2022-01-06 22:43] ghost commented on #2561
Resources: https://docs.google.com/spreadsheets/d/1ZdUOlFx0DrM6jUfjcIwGw42Fpgba_pQVlaKPL-DBy38/edit#gid=0
Progress: Creating an Excel Sheet of all the existing UX research on a website redesign
Blockers: Large amount of data to parse through in order to distill relevant information. Not a blocker really but more of a challenge.
Availability: 6-7 hours
ETA: By Jan 12

[2022-01-06 22:50] IsaacDesigns commented on #2601
I've rewritten this issue and will talk to @ExperimentsInHonesty about what I will do about connecting the latest Figma designs to the design system.

[2022-01-06 23:10] IsaacDesigns commented on #2106
### **Meeting: 01/06/22**

**Participants:** Isaac, Stephen, Shruti, Tammy, Jenna, Ida, Jackie, Simone

**To Discuss:**

- [x] Have someone take notes for this meeting
- [x] Welcome new member Tammy!!!
- [x] Starting February we will start having no weekly meetings for the 1st week of each month. This will help us plan for the month ahead and work an anything else we need to. Because of how slow i

[2022-01-06 23:29] IsaacDesigns commented on #2571
@jenjen26 thanks for updating the issue!

[2022-01-06 23:29] #2571 closed, assigned to jenjen26

[2022-01-06 23:36] IsaacDesigns commented on #2567
@jenjen26 Thanks for the feedback. I've updated the spreadsheet for you to review.
https://docs.google.com/spreadsheets/d/1abMlPOX88zHTV29E4BFxAYwahCxgJN28Mn95cXr8jak/edit?pli=1#gid=2039163984

[2022-01-07 00:06] #2489 closed, assigned to lrobinson823

[2022-01-07 00:33] jenjen26 commented on #2567
@IsaacDesigns I've marked this issue done.

[2022-01-07 00:34] SAUMILDHANKAR opened #2664 "Pre-work Checklist: Developer: Tamara Snyder"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2022-01-07 00:34] #2567 closed, assigned to IsaacDesigns

[2022-01-07 00:48] iilashi commented on #2569
Progress: Waiting for team review
Blockers: None
Availability:
ETA: Complete

[2022-01-07 01:33] tamalatrinh commented on #2597
My estimated ETA for completing this issue: 3-6 hrs

[2022-01-07 02:49] SAUMILDHANKAR commented on #2397
Status and program areas appear switched in the after image as well as Figma. Needs to be discussed in Sunday meeting with design in case another issue is required for this.

[2022-01-07 03:38] lindseyindev commented on #2464
@IsaacDesigns

Hi Isaac! Question for design on this: I figured out with my team that to make the website container match the figma design the image size and the font size also need to be updated to match (right now they're all different dimensions)

There was some concern on my team that the minimum font size must be 16px across the website (possibly for accessibility reasons?), can you confirm i

[2022-01-07 04:13] elizabethhonest opened #2666 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-01-07 11:07] SAUMILDHANKAR commented on #2027
### Agenda for January 09, 2022

- [x] Nominate a first time note taker who will follow up on issue creation
- [x] Wins celebrations since last meeting
    - Congratulations @lrobinson823, @sydneywalcoff, @JimGeist for getting their pull requests #2648, #2646, #2647 merged. Well done. 🥇
- [x] Make announcements
    - [x] #2635 demo and review.
    - [x] Collaborative working on [draft issues](http

[2022-01-07 11:40] SAUMILDHANKAR commented on #2505
Progress: Went over different sections of code.gs file. Will start creating the new section next and test adding data from review sheet to response sheet in personal copy and repo.
Blockers: Need more analysis for the follwing column headers:
Date Live on homepage start | Date Live on homepage end | # of times appeared on website
Availability: 5 hrs
ETA: 1/15/22

[2022-01-07 12:32] SAUMILDHANKAR opened #2667 "Edit Wiki to request review ETA and availability"
### Overview
As developers, we want the PR review process to be more efficient, so we will add instructions in Wiki for the PR reviewers to add their review ETA and availability.

### Action Items
- [x] Review the Wiki article [How to review a pull request](https://github.com/hackforla/website/wiki/How-to-review-pull-requests)
- [x] Analyze which section would be the best place to add instructions

[2022-01-07 12:34] SAUMILDHANKAR opened #2668 "GitHub Actions: Review ETA and availability"
### Overview
Team members reviewing a PR should add their review ETA and availability (in a comment) at the time of assignment so the team is aware of the timeline and the review process becomes more efficient.

### Action Items
- [x] Review the notes below to understand the GitHub actions architecture we are currently moving towards
- [x] Please go through the wiki article on [Hack for LA's GitHu

[2022-01-07 12:36] SAUMILDHANKAR opened #2669 "Add svg icon for NoSQL to the website repo and delete non svg icons from Google Drive folder"
### Overview
We need .svg file of the icon for NoSQL, so that users exploring our projects by technology can get a quick sense of the technologies we use.

### Action Items
- [x] Locate .svg file for the icon of NoSQL.
  - [x] This can often be found by googling "logo [technology]", for example "logo NoSQL"
- [x] Have a copy of the downloaded .svg inside the directory named "technologies-icons" wi

[2022-01-07 12:43] #2456 closed, assigned to JimGeist

[2022-01-07 22:01] ExperimentsInHonesty commented on #1534
Met with dev team and started working on it.  See top of issue for spreadsheet

[2022-01-07 23:41] JessicaLucindaCheng opened #2670 "Update the section on how to add a pull request to the project board in CONTRIBUTING.md"
### Dependencies
- [x] https://github.com/hackforla/website/issues/2641
- [x] https://github.com/hackforla/website/issues/2395

### Overview
As developers, we need to make sure our guide on how to contribute is up to date. In this issue, we will update the section on how to add a new pull request to the Project Board.

### Action Items
- [x] In the section on "How to add your pull request to the p

[2022-01-08 01:36] JessicaLucindaCheng commented on #2641
Spoke with @SAUMILDHANKAR and he agreed we should create a new issue dependent on this issue and dependent on the Issue https://github.com/hackforla/website/issues/2395 for automating putting PRs on the board. I will create this new issue.

[2022-01-08 02:47] elizabethhonest opened #2671 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-01-08 03:58] frankstepanski opened #2673 "Correct Link to Git Gui Wiki from Contributing.md"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-01-08 15:47] MukulKolpe commented on #2673
Hey @frankstepanski can I work on this issue?

[2022-01-08 20:48] JessicaLucindaCheng opened #2674 "Fix Trophy's link on Credits page leading to a "Page Not Found" on external site"
### Dependency
- [x] ~#2960~

### Overview
As developers, we should make sure links to external web pages exist. For this issue, we will fix where the Trophy link should redirect to.

<details>
  <summary>Screenshot of problem: Trophy link on Credits page</summary>
  <img width="212" alt="credits-trophy-link" src="https://user-images.githubusercontent.com/31293603/150619089-7b84154d-6c73-4ed8-977f

[2022-01-08 20:51] JessicaLucindaCheng opened #2675 "Wins page: Fix question marks appearing where apostrophes are expected"
### Overview
As developers, we want to make sure the website displays information correctly so that the information is accurate and our website looks professional. For this issue, we will figure out what is causing the apostrophes to change to question marks in the Google Apps Script and fix the problem.

<details>
  <summary>Screenshot of problem: Question marks where apostrophes are expected</su

[2022-01-08 21:18] frankstepanski commented on #2673
@MukulKolpe Hi, this issue first needs to be reviewed by Bonnie and moved to the Prioritized Backlog Column before it can be assigned. I probably will assign it to myself afterward.

[2022-01-08 23:18] #2488 closed, assigned to sydneywalcoff

[2022-01-09 00:49] JessicaLucindaCheng commented on #2397
@anthonysim @SAUMILDHANKAR @R-Tomas-Gonzalez I noticed in the Figma all three columns are smaller and are more towards the left side. This differs from our current website. Is this a separate issue too or part of this issue?

[2022-01-09 03:59] SAUMILDHANKAR opened #2676 "Audit and reorg HfLA website wiki"
### Depreciated
- [x] #3635
- [x] #3636
- [x] #4589

### Overview
We need to audit and reorganize the HfLA website wiki pages so they can be moved to MkDocs

### Action Items
- [x] Research the current  [HfLA website wiki](https://github.com/hackforla/website/wiki) pages
- [ ] FIll out the information required on [audit spreadsheet](https://docs.google.com/spreadsheets/d/1QzfMX3URWfpfeoun34jRm8oDO

[2022-01-09 04:36] SAUMILDHANKAR opened #2677 "Draft: Adding scroll bar to the technologies dropdown in mobile version of projects page"
### Overview
As a developer,
REPLACE THIS TEXT - Clearly state the purpose of this issue in 2 sentences or less

### Action Items
REPLACE THIS TEXT - List the research to be done, or the steps to be completed.
Note: If the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instructio

[2022-01-09 11:35] abenipa3 commented on #1630
1/9/2022

Progress: Still working on markdown converter. Will need to reach out to Dev Team if I have further questions
Blockers: Won't be available tomorrow (Monday) and Tuesday.
Availability: 6 hours
ETA: 1/12/21

[2022-01-09 11:50] JessicaLucindaCheng commented on #2675
@SAUMILDHANKAR @R-Tomas-Gonzalez

1. Did you want it so that any backend developer can take this issue and would need to just ask a technical lead for access to the wins submission Google Sheet?

2. I don't have access to the wins Google Sheet and don't know what the link for it is. Can one of you add it to the Resources section?

[2022-01-09 12:37] JessicaLucindaCheng commented on #2628
Going to discuss this issue write up with @SAUMILDHANKAR during meeting time.

[2022-01-09 14:56] JessicaLucindaCheng commented on #2555
@R-Tomas-Gonzalez You wrote "Create a corresponding privacy-policy.scss file under /_sass/components directory". Did you mean _privacy-policy.scss?

[2022-01-09 16:31] JessicaLucindaCheng commented on #2555
- Progress: started on the html page
- Blockers: none
- Availability: 6 hours
- ETA: Tuesday, January 25, 2022

[2022-01-09 16:39] R-Tomas-Gonzalez commented on #2555
Yes

[2022-01-09 17:49] IsaacDesigns commented on #1797
## 2022-1-12 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [x] review any issues that are in the new issue approval column
   - [x] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [x] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235

[2022-01-09 17:51] IsaacDesigns commented on #2654
H @tamalatrinh, it looks like you have two more task items to check off in this issue. Please complete them and close this issue when completed, thanks!

[2022-01-09 17:53] sacamp opened #2679 "Create a UXR Roadmap for HfLA Website"
### Overview
We need to create a UXR roadmap in order to prioritize and communicate current and future UX research projects for the website.

### Action Items
- [x] Define scope: describe the high-level goal for the product (website).
- [x] Describe the current state of the research done on the product from the new content added to wiki #2680
- [ ] Define themes:
   - [ ] Key issues:
      - [x] p

[2022-01-09 18:03] sacamp opened #2680 "Add relevant information to UX research wiki page"
### Overview
We need to flesh out the UX research portion of the wiki so that all resources and work are centrally located and easily accessed.

### Action Items

- [x] review the current UXR page on the wiki
- [x] add pages/ links to relevant information to the wiki
- [x] Organize links onto separate pages
- [x] Add summaries and descriptions of completed works

### Resources/Instructions
HfLA we

[2022-01-09 18:24] ExperimentsInHonesty commented on #1734
2022-01-09

### Prework
- [ ] PM to review the New Issue Approval Column for
  - [ ] Design
  - [ ] Research
  - [ ] Front End
  - [ ] Back End

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

[2022-01-09 19:56] #2654 closed, assigned to tamalatrinh

[2022-01-09 21:06] JessicaLucindaCheng opened #2681 "DRAFT: Issues to create by developers"
Thank you for wanting to help us write an issue! Before writing an issue, please read [How to create issues](https://github.com/hackforla/website/wiki/How-to-create-issues).

### Instructions
1. Look through the issues that need to be written up below and pick one to create/write up.  If you have questions, please contact the person who wrote it through Slack.
2. In the Issue creator/writer field

[2022-01-09 22:14] JessicaLucindaCheng commented on #2681
To Dos for Jessica:
- Add instructions for someone using a template
  - Should add instructions to pre-check if an issue exists before adding it to this list of issues to create.
- Try to make it similar to the one for pms/devs meeting template
- Add instructions for how to add Slack id/link: Example: https://hackforla.slack.com/team/U02NWK24H3N
  -  Should I do it with name? Example: [Jessica Che

[2022-01-09 22:44] JessicaLucindaCheng commented on #2681
If you have questions about this problem, contact [Jessica Cheng](https://hackforla.slack.com/team/U02NWK24H3N) through Slack.

### What is the problem?
In issue #2676 and #2397, GitHub Actions is removing the Ready for Milestone label after a Technical Lead places it on the issue.

### Link(s) (if any): https://github.com/hackforla/website/issues/2676, https://github.com/hackforla/website/issues/

[2022-01-10 03:51] zzhoje commented on #2585
Progress: more concise versions written
Blockers: just need info from BallotNav (have followed up again)
Availability: 6 hours (traveling to see relatives, so I can't make the Jan 17th meeting, but I will continue to work on edits if needed and update this issue throughout next week)
ETA: soon; hopefully we can publish these accomplishments after a few more tweaks :)

[2022-01-10 09:46] SAUMILDHANKAR commented on #2628
@JessicaLucindaCheng Added an action item to ensure the changes don't break the existing flow.

[2022-01-10 18:04] lindseyindev commented on #2464
@IsaacDesigns Hi Isaac! I am not able to move forward on this issue as it needs to be rewritten

The figma design has font-size 14px for the text in part 1 when the minimum allowed font size is 16px so adjusting the padding will not make the website match the figma

If you agree that this needs to go back to design please let me know so I can move this to new issue approval for re-work

[2022-01-10 23:46] tamara-snyder commented on #2631
Availability for this week: Weekday evenings except Wednesday (EST)
My estimated ETA for completing this issue: By Sunday, but probably earlier

[2022-01-11 02:41] JessicaLucindaCheng commented on #2397
Bonnie says it was fine the way it is with the columns spread out for this issue.

[2022-01-11 03:40] blulady opened #2683 "Pre-work Checklist: Developer: Sarah S"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2022-01-11 18:09] IsaacDesigns commented on #2501
@ilashi I have updated the status of each page in Figma's "Current Pages" page to reflect the current status and near future status for when the site launches this month.

[2022-01-11 19:40] IsaacDesigns opened #2684 "Update the Design System"
### Overview
We need to audit all the latest Figma screens to find out what new elements need to be added to the design system.

### Details
- There are many new Figma design elements that are not using the design system.
- Once this issue is complete we will create a separate issue to update the design system with these findings.

### Action Items
- [ ] Define the approach you will take (write in

[2022-01-11 20:06] IsaacDesigns opened #2685 "Make Recommendations to improve the use of Figma's Styles & Components"
### Problem
Many of Figma's latest designs (In red container) are designed without using "Styles and Components" that are attached to the Design System. This makes it difficult to make mass updates, rebrands, and redesigns, as well as onboard new designers. There are also elements within the design system that have not been created into components. Find a way to ensure that all elements are reusab

[2022-01-11 20:11] IsaacDesigns commented on #2569
@ilashi Issue looks good to me, good job!

[2022-01-11 20:11] #2569 closed, assigned to iilashi

[2022-01-11 20:35] JessicaLucindaCheng commented on #2675
1. Tomas said just tech lead is fine
2. I'm just going to leave out the resource because I don't have access to it nor a link for it.

[2022-01-12 01:03] tamalatrinh commented on #2597
Progress: 1/4 of the way through
Blockers: NA
Availability: WED + THU 2 hrs per day
ETA: 3 more hours to completion

[2022-01-12 01:12] SAUMILDHANKAR commented on #2010
### Agenda for January 11, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a first time note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete bef

[2022-01-12 03:22] anthonysim commented on #2397
Availability for this week: 6 hours
My estimated ETA for completing this issue: Sunday 1/22/2022

Additional technologies were added which changed the size of the dropdown. Currently waiting for/need to ask design to okay the current Version C before moving forward with adding a dropdown slide-bar for both desktop and mobile.

[2022-01-12 04:02] AnyaStewart commented on #2513
**Update**

After the Sunday meeting with here are the next steps agreed:

1. Explore ways to incorporate the menu link turning red in a clicked state in accordance with the design system
2. Explore the ways to show the menu links in the top nav vs links across the whole site (it's ok if it differs)
3. Do research on the top navigation menu links: Our Work and Get in Touch have separate pages for

[2022-01-12 13:50] sacamp commented on #2680
Added link to relevant documents to the [UI UX Researcher wiki page](https://github.com/hackforla/website/wiki/UI-UX-Researcher)

[2022-01-12 19:50] sacamp commented on #1797
## 2021-12-29 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-01-12 20:22] ExperimentsInHonesty commented on #2680
Please make seperate pages for each type of research, and add information such as Dates & summary of each link

[2022-01-12 20:38] ExperimentsInHonesty commented on #2680
Research plan #1
Title: Volunteers
Links:
- Research Plan
- Scripts
- Interviews
- Analysis/Synthesis
- Presentation of Findings

[2022-01-12 20:45] ExperimentsInHonesty commented on #19
@sacamp will check to see if they have responded, if not,
add note saying they never responded
put in the prioritized backlog
when someone wants to be assigned, then they self assign, and tell the lead to put a link to this issue on [Bonnie's agenda with Julien](https://github.com/hackforla/governance/issues/63) with the following note: ready for contact with  ITA regarding browser usage

[2022-01-12 21:04] sacamp commented on #2498
### Meeting: 1/12/22

### Participants: Simone, Summer, Jackie, Tammy, Anya and Shruti
### Things to discuss:

- [ ] Designate a note taker for today's meeting
- [ ] Research request from Anya
- [ ] Progress update: working on, progress, blockers
- [ ] [Drive file access issues](https://drive.google.com/drive/folders/1we_k_Hd0vwBmCxcDaX_C6L9JUMX7xO63)

### Meeting notes:
-	Introductions.
-	Progres

[2022-01-12 21:05] ExperimentsInHonesty commented on #2190
The navigation elements should be added to the design system if they are not there and if they are there, then the mobile views needed to be added as a context example.  In order to accommodate that, add two more columns
Desktop context example, Tablet, Mobile

[2022-01-12 22:02] jenjen26 commented on #2606
@IsaacDesigns I created three different designs that we can review/critique at our design meeting tomorrow.

![Screenshot 2022-01-12 160002](https://user-images.githubusercontent.com/64928677/149229897-d9a2556c-3ec0-4f2e-aea8-3c7471763259.png)

[2022-01-12 22:59] summerharveyux commented on #2537
Progress: Discussed in 1/12 team meeting that we have N=104 participants so far (that I collected since last week's meeting by posting multiple times in different UX slack groups), and it's split 51%/49% for the two images (lol).
Next steps: getting for ~11 more participants so we achieve our goal sample size of 115 (even though I don't think it'll change the results much). compiling the qualitati

[2022-01-13 03:15] JessicaLucindaCheng commented on #2628
@SAUMILDHANKAR Should this be labeled with "Dependency"? I think this issue https://github.com/hackforla/website/issues/2651 you are drafting needs to be done first, which is installing linters locally. Then, running all the code through it locally to fix all the issues including this one. Then we could configure the linters for the repo and test out how it behaves on the repo. What do you think?

[2022-01-13 03:18] #2462 closed, assigned to adam-abundis

[2022-01-13 04:02] JessicaLucindaCheng commented on #2681
If you have questions about this problem, contact [Jessica Cheng](https://hackforla.slack.com/team/U02NWK24H3N) through Slack.

### What is the problem?
github-actions adds and removes the "Status: Updated" label in issue #2397 at the same time. Also, github-actions adds and removes the "To Update!" label at the same time in issue #2317.

### Link(s) to the problem (if any): issue #2397, #2317

##

[2022-01-13 22:11] IsaacDesigns commented on #2106
### **Meeting: 01/13/22**

**Participants:**Tammy, Jenna, Simone, Summer, Anya, Isaac, Saumil, Jacqueline

**To Discuss:**

- [x] Have someone else take notes for this meeting
- [x] Unless the research team has anything to share with the design team they will no longer be required to attend Thursday's design meetings.
- [x] [Designer Accountability check](https://github.com/hackforla/website/issue

[2022-01-13 22:43] iilashi commented on #2501
Progress: WIP
Blockers: None at the moment
Availability: A few hours a day
ETA: In the next few days

[2022-01-14 08:27] abenipa3 commented on #1630
1/14/2022

Progress:

- Continuing with Styling the Guide Pages.
- Got a recent update that Google Docs' Add-On (Doc to Markdown) provides the option to remove alerts.
  - Decided to continue to use the Add-On for now, but to continue building Markdown Converter with Google Apps Script for the following reasons:
    - Images would not be generated in order after the extension converted Docs to Mar

[2022-01-14 15:10] IsaacDesigns commented on #2190
Progress: Bonnie and I have determined that the navigation elements should be added to the design system if they are not there and if they are there, then the mobile views needed to be added as a context example. In order to accommodate that I will add two more columns for Desktop, Tablet, and Mobile context example.
Blockers: None
Availability: 4 hours
ETA: 1/21/2022

[2022-01-14 20:30] jenjen26 commented on #2606
@IsaacDesigns I've updated the issue with the changes we discussed: annotations of each option to show the differences and logos/imgs reflective of the current project pages including 2 rows. I scanned through all the project pages and they currently range from 2-7 cards - not sure if this will impact decision making.

[Three small card designs for feedback at Sunday meeting](https://www.figma.com

[2022-01-14 22:20] JessicaLucindaCheng commented on #2681
If you have questions about this problem, contact [Saumil](https://hackforla.slack.com/team/U02AG2K2BB3) through Slack.

### What issue needs to be created?
Explore linters available for local installation

### Issue Creation (below is for the person creating and writing up the issue to fill out)
- Issue creator/writer: @SAUMILDHANKAR
- Issue #2651
- Availability:
- ETA for writing this issue:

[2022-01-14 22:44] AnyaStewart opened #2686 "Moderated Usability Test for the top navigation design (mobile)"
### Overview
We need to perform usability testing to assess the functionality of the top nav menu (mobile) . We want to ensure that mobile users will be able to access website content using the accordion style navigation design.

### Action Items
These are not an exhaustive list of tasks. There may be some important steps that have not been considered when writing this issue. Be sure to add task i

[2022-01-14 23:59] JessicaLucindaCheng commented on #2607
## 2022-01-15 Meeting Agenda

### Prework to prep for meeting
- [x] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] [Front end](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+front+end%22)
      - [x] Once front end is checked, check [backend](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%2

[2022-01-15 01:11] ememercy21 opened #2687 "Pre-work Checklist: Designer: [Mercy Eme]"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-01-15 01:36] ememercy21 commented on #2613
provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-15 01:38] #2687 closed, assigned to ememercy21

[2022-01-15 23:18] ExperimentsInHonesty commented on #2664
@tamara-snyder Once you have given an progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [ ] Weekly, please also provide an update on the issue
[code]

[2022-01-15 23:55] ExperimentsInHonesty commented on #2488
Looks good.  Only items remaining (to be handled on another issue) are to
1. make it so that if its a lanugage when you select it, it show up with the chip saying language: javascript vs what it says now technologies: javascript.
2. go through all project.md files that have the language also under technology, to remove anything that is showing up as a language (e.g., docker is actually dockerfile)

[2022-01-16 00:26] ExperimentsInHonesty commented on #2656
Please change this issue to call the proper class.  @JessicaLucindaCheng  is going to make an issue so this gets put into the icebox until that is complete

[2022-01-16 02:32] JessicaLucindaCheng commented on #2027
### Agenda for January 16, 2022
Facilitator: @JessicaLucindaCheng

- [x] Nominate a note-taker who will follow up adding notes to the "Notes from meeting section" at the bottom of this agenda
- [x] Wins celebrations since last meeting
    - Congratulations @abuna1985 for getting their pull request #2678 merged. Well done. 🥇
- [x] Make announcements
  - [x] https://github.com/hackforla/website/pull

[2022-01-16 04:36] lindseyindev commented on #2464
Talked to Isaac, text color still needs to be changed and design is now aware of the difference between figma and allowed font, Isaac confirmed design will work to update the figma soon and we'll bring up the issue in the Sunday meeting.
Will have a better ETA and next steps after 1/16

[2022-01-16 07:54] Architsharma7 commented on #2627
Hey , if no one is working on this, can i do?

[2022-01-16 08:03] Architsharma7 commented on #1566
Hey,if no one is working on it,can i do it?

[2022-01-16 16:02] sacamp commented on #2686
Hi @AnyaStewart, this is a good start to the issue. One thing it needs are action items. What are the next steps required to make progress on this issue? Will we need a research plan?  Are there any resources we can refer to for this research? @summerharveyux feel free to add your insight as well.

[2022-01-16 17:55] JessicaLucindaCheng commented on #1734
# 2022-01-16

### Prework

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### Questions
- Question for UX Design from Development: For the Typography section of the [Figma Design Systems](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3), can the Class names all be

[2022-01-16 18:53] JackieRiley1 commented on #1696
Jackie shared the "Planning for Impact Page" document at the team meeting on 1/16.  Bonnie, Simone, Providence and Jackie will meet again on 1/19 @3PM (Central) to prioritize users groups and research questions to inform the content of the impact page.

[2022-01-16 19:28] ExperimentsInHonesty commented on #2408
@JimGeist We are going to close the PR you made.  I am sorry we were not clearer that we expected the tool tip to simply lay on top of the other assets, instead of trying to fit inside the card, which led you to think that you needed to come up with a novel solution about where to place it (which was a change that was not desired).  This is a good lesson for us to be more detailed, or to provide d

[2022-01-16 19:29] ExperimentsInHonesty commented on #2408
@JimGeist Tomas indicated you had a person reason for having to jump off this ticket.  I have unassigned you to spare your inbox from future work on it.

[2022-01-16 19:34] ExperimentsInHonesty commented on #2606
@jenjen26 Use design #3

[2022-01-16 19:39] IsaacDesigns commented on #2497
@jen please add in a comment where in the design system it says to make the Desktop cards rectangle rather than square.

[2022-01-16 19:55] ExperimentsInHonesty commented on #2605
The file website/_data/external/github-data.json is being built by something, and the BOP project is not showing up in it, which is why the BOP project page does not show all time contributors https://www.hackforla.org/projects/brigade-organizers-playbook

[2022-01-16 19:58] ExperimentsInHonesty commented on #2607
- We need an issue to fix a problem with the BOP project and any other project that cannot put a hack-for-la topic tag on itself see these comments for details
   - https://github.com/hackforla/website/issues/2605#issuecomment-997477244
   - https://github.com/hackforla/website/issues/2605#issuecomment-1013941235

[2022-01-16 20:07] ExperimentsInHonesty commented on #2554
I hid the [comment](https://github.com/hackforla/website/issues/2554#issuecomment-992033003) after updating the dependency.  It was confusion on my part.  This issue is ready to work

[2022-01-16 22:16] ExperimentsInHonesty opened #2688 "Onboard & Offboard: Product"
### Dependency
- Onboarding a new pm

 ### Overview
We need to have a checklist of items to do when a product manager onboard and offboards so that the process can be consistent and fast.

### Action Items
- [ ] Copy template to comment below
- [ ] Add name of person
- [ ] Check off as done

[code]
[code]

### Resources/Instructions
-  1password.com
-  [HfLA Google Drive](https://drive.google.com/

[2022-01-16 22:22] ExperimentsInHonesty opened #2689 "Onboard & Offboard: Tech Leads and Merge team"
### Dependency
When we need to onboard some new people to the tech lead team

### Overview
We need to have a checklist of items to do when a technical lead or merge team member onboard and offboards so that the process can be consistent and fast.

### Date Updated
- **2022-03-16**
- When you integrate the changes from the [Changelog](https://github.com/hackforla/product-management/wiki/Onboard-Off

[2022-01-16 22:29] ExperimentsInHonesty commented on #2607
## 2021-01-22 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] [Front End](https://github.com/hackforla/website/projects/7?car

[2022-01-16 22:46] ExperimentsInHonesty commented on #2212
Next meeting agenda
- This issue is currently in the new issue approval
   - Discuss how projects can provide updates: https://github.com/hackforla/website/issues/2450

[2022-01-16 22:48] ExperimentsInHonesty commented on #2597
@tamalatrinh please provide a link to the spreadsheet.

[2022-01-16 22:50] ExperimentsInHonesty commented on #2401
This is being held in the new issue approval column until it has a link for the spreadsheet that design is working on.

[2022-01-16 23:03] ExperimentsInHonesty commented on #2374
the new projects are appearing on the form

[2022-01-16 23:03] #2374 closed, assigned to nobody

[2022-01-17 02:11] JessicaLucindaCheng opened #2690 "Add paragraph classes 1-3 to codebase"
### Overview
As developers, we use reusable SCSS classes for styling Hack for LA webpages. For this issue, we will add the paragraph classes 1-3 defined in the [Design System](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3689%3A21144) to our codebase.

**Note:** We will not be writing classes for paragraph classes 4-5 because the font size is illegible and should n

[2022-01-17 02:51] JessicaLucindaCheng commented on #2555
- Progress: Some of the content has been added to the HTML.
- Blockers: This is more of an obstacle/hurdle than a true blocker. I had to restart doing the HTML page as the template I used may not be up to date. I had to pause adding the content to the HTML page when I realized the content in the Figma wasn't exactly the same as the content in the Privacy Policy Draft Google Doc, such as punctuatio

[2022-01-17 03:28] JessicaLucindaCheng commented on #2464
@lindseyindev I updated the issue above and removed the action item to adjust the SDG padding. Once the Design Team has updated the Figma for Citizen Engagement, they can let us know if they still want us to change the padding for it.

[2022-01-17 03:39] JessicaLucindaCheng commented on #2464
@IsaacDesigns After discussing with you during [today's meeting](https://github.com/hackforla/website/issues/1734#issuecomment-1013922203), I removed the action item to "Adjust bottom padding of SDG card so that it matches the Figma design." for this issue. After the Design Team updates the Figma design for the Citizen Engagement page to match what is currently on the website, we can write a new i

[2022-01-17 05:23] JessicaLucindaCheng commented on #2397
Updated issue to reflect following new Version C and implementing mobile design with scrollbar. (See comment: https://github.com/hackforla/website/pull/2672#issuecomment-1013904367 for more info)

[2022-01-17 06:25] JessicaLucindaCheng commented on #2677
Closing this draft issue because it will be addressed in this issue #2397

[2022-01-17 06:25] #2677 closed, assigned to nobody

[2022-01-17 06:30] JessicaLucindaCheng commented on #2653
It was decided in [Dev/PM meeting on Jan 15, 2022](https://github.com/hackforla/website/issues/2607#issuecomment-1013550364) that we will not implement this. For pre-work checklists, the author and the assignee should be the same person, which means the assignee should be creating the pre-work issue themselves. Thus I will be closing this draft issue.

[2022-01-17 06:30] #2653 closed, assigned to nobody

[2022-01-17 15:06] IsaacDesigns commented on #2654
@tamalatrinh this issue will have pages in the Resources/Instructions section that you can't find on the live H4LA site https://github.com/hackforla/website/issues/2512

[2022-01-17 15:07] IsaacDesigns commented on #2597
@tamalatrinh this [issue](https://github.com/hackforla/website/issues/2512) will have pages in the Resources/Instructions section that you can't find on the live H4LA site

[2022-01-17 17:27] pattshreds commented on #2633
Availability for this week: Today 1.17.2022 all day.
My estimated ETA for completing this issue: Within the next hour.

[2022-01-17 18:02] IsaacDesigns commented on #1797
## 2022-1-19 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [x] review any issues that are in the new issue approval column
   - [x] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [x] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235

[2022-01-17 18:12] pattshreds commented on #2627
**Availability for this week:** 1.17.2022 all day.
**My estimated ETA for completing this issue:** Within the next hour.

[2022-01-17 18:18] mccormackstudio opened #2692 "Pre-work Checklist: Designer: Jiayi McCormack"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-01-17 18:45] mccormackstudio commented on #2616
provide update
1. Progress: just started
2. Blockers: finish current issue pre-work checklist
3. Availability:
4. ETA:

[2022-01-17 19:55] IsaacDesigns opened #2694 "Redesign Citizen Engagement project card with 16px text"
### Overview
There is text within the Figma's Citizen Engagement page that is 14px. According to the Design System the minimum size of all text should be 16px. Redesign this page with the correct text size to reflect the live sites design.

<details>
<summary>Figma Screenshot</summary>
<img width="897" alt="Screen Shot 2021-12-18 at 9 49 12 PM" src="https://user-images.githubusercontent.com/794267

[2022-01-17 22:19] tamalatrinh commented on #2597
Update: I tried SPELL, Spellchecker, and CopyDoc test kit. I decided to go with CopyDoc because it was the easiest to use. Corrected the misspellings in Figma. Linked the spreadsheet as well.

[2022-01-17 22:19] #2597 closed, assigned to tamalatrinh

[2022-01-18 02:44] SAUMILDHANKAR opened #2695 "Identify and fix inconsistent code indentation in a SCSS file"
### Dependency
- [ ]  #2651
- [ ] #4264

### Overview
As a developer, we need to make sure the code is easy to read. In this issue, we will identify and fix inconsistent indentation in [_getting-started-page.scss](https://github.com/hackforla/website/blob/d3b10fadfefa646ade8bdd5e3de6b89fa1ad466b/_sass/components/_getting-started-page.scss) using [Lint SCSS](https://github.com/hackforla/website/blo

[2022-01-18 02:53] SAUMILDHANKAR commented on #2628
This could be done independently of #2651, so wanted to keep it separate.

Also, closing this issue as #2695 will be used to fix this (so that anyone can reach out to the author in case there are more questions)

[2022-01-18 02:53] #2628 closed, assigned to nobody

[2022-01-18 04:07] IsaacDesigns opened #2697 "Design Lead Tasks"
### Overview
This is a list of tasks and issues create for the design lead to complete. It should be ordered from highest to least priority.

### Action Items
- [ ] Add tasks from weekly meeting agendas
- [ ] Add issues that need to be created

### Tasks
- [ ] Make an issue to recruit another Design Lead
  - [x] [Posting](https://github.com/hackforla/UI-UX/projects/3#card-76736352) on Design Open

[2022-01-18 19:27] ExperimentsInHonesty opened #2698 "Weekly Label Check"
### Dependency
2022-06-01

### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check for issue issues that have not yet been added to [project board](https://github.com/hackforla/website/issues?q=is%3Aissue+is%3Aopen+no%3Aproject)
   - [ ] add to project board
- [ ] Check the following links (Links for ch

[2022-01-18 20:02] Providence-o commented on #2698
Date: 2022-01-18
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at 16
   - [ ] size, ending at 32
   - [ ] features, ending at

[2022-01-18 20:27] ExperimentsInHonesty commented on #2212
Template for future meetings

[code]

[2022-01-18 20:43] ExperimentsInHonesty commented on #1443
I think this issue will never get worked on if it sits in the icebox but no one knows about it.  Can we add something to the CONTRIBUTING.md so that if anyone has a problem with it AND they rise to the level of merge team, they can take on this issue.

[2022-01-18 20:51] ExperimentsInHonesty commented on #2212
## 2022-01-18 Agenda and notes for PM meetings

### Prework

### New Items
- [ ]
- [ ] Carry items that did not get addressed down into items for next weeks agenda

### FYIs
-

### Notes from Meeting
- Created template for future meetings
- reviewed how to do the audit
- reviewed how to release items from icebox
- What should be in a dependency
- We want to make releasing the dependencies be on th

[2022-01-18 21:02] ExperimentsInHonesty commented on #2212
## 2022-01-22 Agenda and notes for PM meetings

### Prework
- [ ] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side panel to see if issue is closed
  - [ ] if open, do nothing
  - [ ] if closed
     - [ ] mov

[2022-01-18 23:21] SAUMILDHANKAR commented on #2010
### Agenda for January 18, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tu

[2022-01-19 01:18] JessicaLucindaCheng opened #2699 "HfLA Website: Technical leads meeting agenda (and office hours attendance)"
### Overview
As technical leads, we want a meeting agenda for when we meet to discuss problems and keep each other informed. This issue will be where all our meeting agendas are.

### Members on leave
- Poorvi shared on 5/28/22, planning to take a break for an additional 2-3 weeks.

### Notes (need to be documented somewhere permanently, in addition to this agenda)
- [Docker compose up times for d

[2022-01-19 01:24] JessicaLucindaCheng commented on #2699
## Week of Jan 15-21, 2022

### Meeting Notes and Ongoing Important Tasks
- https://github.com/hackforla/website/issues/2607
- https://github.com/hackforla/website/issues/1734
- https://github.com/hackforla/website/issues/2027
- https://github.com/hackforla/website/issues/2010
- https://github.com/hackforla/website/issues/1534
  - https://github.com/hackforla/website/issues/2676

### Tasks
**Tomas

[2022-01-19 03:56] riddle015 opened #2701 "Pre-work Checklist: Developer: Hiram Riddle"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2022-01-19 04:07] NamanhTran opened #2702 "Pre-work Checklist: Developer: Namanh Tran"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" label to this issue and remove t

[2022-01-19 05:22] #2627 closed, assigned to pattshreds

[2022-01-19 07:10] riddle015 commented on #1564
Availability for this week: 10
My estimated ETA for completing this issue: 1/23/2022

[2022-01-19 13:05] sacamp commented on #2561
Hi @ShrutiMukherjee, please remember to add an update about your progress on this issue. Thanks!

[2022-01-19 13:09] rhiannab opened #2703 "Pre-work Checklist: Researcher: Rhianna Bennett"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-01-19 13:18] sacamp opened #2704 "Create personas: corporate donors"
### Dependency
- Create google calendar for the script https://github.com/hackforla/website/issues/2309

### Overview
We need to have personas so that we can evaluate if the features we are developing service the target audience.

### Action Items

- [ ] Review [research plan and interview guide](https://docs.google.com/document/d/1ELtk7H_uubatggRcTO9imHzdheeiPWkDLs3KZepMwh0/edit) for donors, and

[2022-01-19 13:25] sacamp opened #2705 "Create personas: partners"
### Overview
We need to have personas so that we can evaluate if the features we are developing service the target audience.

### Action Items

- [x] Review this summary of [user groups](https://docs.google.com/document/d/18FnLUCApXPzMB_hdtMmNrLwPcC0dsStwT___IsHWgcU/edit)
- [x] Create an interview guide containing research objectives and questions, and interview questions
- [x] Peer review intervi

[2022-01-19 13:27] sacamp opened #2706 "Create personas: advisors"
### Overview
We need to have personas so that we can evaluate if the features we are developing service the target audience.

### Action Items

- [x] Review this summary of [user groups](https://docs.google.com/document/d/1w72QFeBa-S32O9djdERvPxR3kq89AiulRP_2Ezdt66A/edit)
- [x] Write a research plan
  - [x] Create an interview guide containing research objectives and questions, and interview quest

[2022-01-19 13:54] sacamp commented on #2680
Progress: I have made separate pages for each type of research. I still need to add descriptions for each project and organize within each subpage.
Blockers: Need to speak with previous UX lead (Danielle) for context on some previous work
Availability: 1-2 hours
Links: https://github.com/hackforla/website/wiki/UI-UX-Researcher

[2022-01-19 15:13] ghost commented on #2561
Hi Simone,
My grandfather is unwell back home in India and is in the hospital. I have not been doing well emotionally and needed to take some time off to be with my family virtually. Have kept sometime before the meeting today to update the audit google sheet and the issue here. Thanks for the reminder.

[2022-01-19 18:01] BrianCodes33 commented on #2273
Looks like this has already been worked on?
<img width="403" alt="Screen Shot 2022-01-19 at 9 52 11 AM" src="https://user-images.githubusercontent.com/13526442/150187621-ec3b924a-4f9c-440c-86f8-04e26864de87.png">

[2022-01-19 20:13] ghost commented on #2561
Resources: https://docs.google.com/spreadsheets/d/1ZdUOlFx0DrM6jUfjcIwGw42Fpgba_pQVlaKPL-DBy38/edit#gid=0
Progress: Created an Excel Sheet of all the existing UX research on a website redesign
Blockers: None
Availability: 6-7 hours
ETA: Finished

[2022-01-19 20:22] ExperimentsInHonesty commented on #2685
Schedule a meeting between Hana/Design systems team and Isaac and Bonnie (potentially 10 min during Monday 1pm PST meeting)

[2022-01-19 20:47] sacamp commented on #2498
### Meeting: 1/19/22

### Participants:
### Things to discuss:

- [x] Designate a note taker for today's meeting
- [x] Progress update: working on, progress, blockers
- [x] Work on top nav issue #2686

### Meeting notes:

[2022-01-19 21:16] JessicaLucindaCheng opened #2707 "DRAFT: Move the "...see more" to the bottom right of the card for each card on the Wins page"
Bottom right of every card put red “...see more” instead of in the paragraph
- for both mobile and desktop it should be in the same place on every card
- also, make sure paragraph ends at the end of line (currently see more cuts it off)

### Overview
As members of the Hack for LA website team, we want each page to have the best user experience possible. For this issue, we will edit the format of t

[2022-01-19 22:25] summerharveyux commented on #2537
Progress: Shared in 1/19 team meeting final results (https://docs.google.com/presentation/d/1imm90Dve3ngSAAa2jEVfwGFMQkXtNvKThLkf8iRYl2I/edit?usp=sharing), since we reached N=116 participants and I was able to create affinity diagrams for all the qualitative findings.
Next steps: Simone asked me to add my notes to the presentation so she can share it with Bonnie on Sunday (since I cannot attend th

[2022-01-19 23:13] summerharveyux commented on #2498
Progress update: Summer
 - shared preference test findings and recommendations
 - to do: 1) put your Miro board on the team Miro board and 2) give notes for the main points for each slide, for Simone to share with Bonnie

Progress update: Shruti
 - working on auditing existing UX research
 - has linked all the issues from Github
 - wanted to ask Simone: Bonnie mentioned creating user personas for

[2022-01-20 02:16] SAUMILDHANKAR commented on #2505
Progress: Didn't make much progress, since took a lot of days off last week.
Blockers: Need more analysis for the following column headers:
Date Live on homepage start | Date Live on homepage end | # of times appeared on website
Availability: 5 hrs
ETA: 1/30/22

[2022-01-20 02:31] SAUMILDHANKAR commented on #2636
@pattshreds: Hi Patrick, please assign this issue to yourself. Further, once you have given a progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [ ] Weekly, please also provide an update on the issue
[code]

Reopening this issue for now. Thanks.

[2022-01-20 02:40] SAUMILDHANKAR commented on #2558
@lrobinson823 Hi Lamar, once you have given a progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [ ] Weekly, please also provide an update on the issue
[code]

Thank you.

[2022-01-20 02:41] AnyaStewart commented on #2686
@IsaacDesigns would you pls elaborate on what you mean by taking the sitemap into account?

[2022-01-20 03:01] SAUMILDHANKAR commented on #2559
@Georgema20: Hi George, I am reopening this issue since some of the items in the checklist are pending.

Also, once you have given an progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [x] Weekly, please also provide an update on the issue
[code]

Thank you.

[2022-01-20 03:11] SAUMILDHANKAR commented on #2524
@Johnnie007 Once you have given an progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [ ] Weekly, please also provide an update on the issue
[code]

[2022-01-20 03:20] SAUMILDHANKAR commented on #2523
@jqg123 Once you have given a progress report on an issue (other than your newly assigned status), then you can check off the box above and close this issue.  See the following section above

- [ ] Weekly, please also provide an update on the issue
[code]

[2022-01-20 06:16] SAUMILDHANKAR commented on #2409
This has already been implemented in #1977 so closing this issue.

[2022-01-20 06:16] #2409 closed, assigned to nobody

[2022-01-20 07:26] SAUMILDHANKAR commented on #2683
@blulady Hi Sarah, good progress on this issue. Please move this issue from new issue approval column to the [in progress (actively working)](https://github.com/hackforla/website/projects/7#column-7198228) column. Thank you.

[2022-01-20 15:52] IsaacDesigns commented on #2686
@AnyaStewart Since there will be new pages launching soon the menu items will change. See [Figma site map](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=12457%3A96372) @ilashi is currently updating in this [issue](https://github.com/hackforla/website/issues/2501).

I've added copies to Figma's Top Nav page of the new homepage and sitemap for you to use. We can talk

[2022-01-20 17:05] IsaacDesigns commented on #2455
@ExperimentsInHonesty is the new menu still relevant? You had told me that we don't have a Get IN Touch page on Wednesdays meeting. The menu items are also not consistent with the new sitemap and Home page design.

[2022-01-20 18:30] #2598 closed, assigned to Georgema20

[2022-01-20 19:42] jenjen26 commented on #2497
@IsaacDesigns
The new locations page follows the '[large card' format](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=6195%3A42255) in the design system for the image, which was what the [old locations page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=8552%3A0) was using.

Since we've removed the text section to the right of the imag

[2022-01-20 19:57] jenjen26 commented on #2606
Progress: updated design guide with style 3 including measurements, updated content example on style guide
Blockers: how to update CSS on style guide
ETA: 01/31

[2022-01-20 20:42] #2499 closed, assigned to summerharveyux

[2022-01-20 21:08] ExperimentsInHonesty commented on #2597
@tamalatrinh Excellent work!! Thank you so much, this is going to be really helpful for the devs 💃

[2022-01-20 21:23] pjpatel021 opened #2708 "Pre-work Checklist: Researcher: Priyanka Patel"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-01-20 21:45] pjpatel021 commented on #2706
Availability: 8 hours/week
ETA: 2 weeks

[2022-01-20 21:46] #2708 closed, assigned to pjpatel021

[2022-01-20 23:35] IsaacDesigns commented on #2106
### **Meeting: 01/20/27**

**Participants:** Isaac, Jenna, Anya

**To Discuss:**
- [x] The team needs a new design lead because Isaac is leaving in a a few weeks.
- [ ] Summer will present the results of the home screen hero image preference tests.
- [x] [Designer Accountability check](https://github.com/hackforla/website/issues)
-
**Task Items:**
- [ ] @jenjen26 will check the contrast accessibil

[2022-01-20 23:52] SAUMILDHANKAR commented on #2660
@frankstepanski Hi Frank, good progress on this issue. Please move this issue from new issue approval column to the [in progress (actively working)](https://github.com/hackforla/website/projects/7#column-7198228) column. Thank you.

[2022-01-20 23:54] SAUMILDHANKAR commented on #2638
@Gorck1416 good progress on this issue. Please move this issue from new issue approval column to the [in progress (actively working)](https://github.com/hackforla/website/projects/7#column-7198228) column. Thank you.

[2022-01-20 23:55] SAUMILDHANKAR commented on #2637
@wiltsai good progress on this issue. Please move this issue from new issue approval column to the [in progress (actively working)](https://github.com/hackforla/website/projects/7#column-7198228) column. Thank you.

[2022-01-21 00:07] iilashi commented on #2572
Progress: WIP
Blockers: None
Availability: A few hours a day
ETA: Saturday (1/22)

[2022-01-21 00:41] iilashi commented on #2501
Progress: Ongoing
Blockers: None
Availability: A few hours a day
ETA: n/a

[2022-01-21 01:15] JessicaLucindaCheng commented on #2660
@frankstepanski Also, please assign this pre-work issue to yourself. Thank you.

[2022-01-21 01:18] JessicaLucindaCheng commented on #2638
@Gorck1416 Also, please assign this pre-work issue to yourself. Thank you.

[2022-01-21 18:47] ghost commented on #2589
Progress: Going to read the articles and work on the interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: Interview questions should be ready by Jan 26

[2022-01-21 18:57] Georgema20 commented on #2559
Provide Update
1. Progress
Finished one medium PR - waiting for it to be checked. Reviewed one small PR.
2. Blockers
No blockers
3. Availability
This entire weekend
4. ETA
Everything is done.

[2022-01-21 21:06] #2703 closed, assigned to nobody

[2022-01-21 21:44] AnyaStewart commented on #2513
Progress: The issue requires research, new issue has been created for that #2686
Blockers: Research needed
<img width="382" alt="Screen Shot 2022-01-21 at 1 43 38 PM" src="https://user-images.githubusercontent.com/91104694/150604156-b14d16c3-b789-4a8d-b5ee-21fd742db065.png">
 any pictures of the visual changes made to the site so far."

[2022-01-21 21:56] AnyaStewart commented on #2686
@IsaacDesigns unfortunately, I got held up and couldn't make it to the meeting yesterday.

I see what you mean, but haven't the information architecture already been considered when designing the desktop version? Or at least it should have been considered at that stage?
Same goes for future pages - haven't this already been considered when creating the desktop version?

I thought that for the #251

[2022-01-21 23:03] IsaacDesigns commented on #2686
@AnyaStewart I'm not sure about the process of how they designed the navigation but I will ask @bonnie about it on Sundays meeting. What confused me was that Bonnie had said that there is no "Get in Touch" page but they have made this [issue](https://github.com/hackforla/website/issues/2455) to build this new desktop navigation.

[2022-01-21 23:47] JessicaLucindaCheng commented on #2656
@ExperimentsInHonesty @SAUMILDHANKAR I added the dependency on https://github.com/hackforla/website/issues/2690 to the issue above.

[2022-01-22 00:11] JessicaLucindaCheng commented on #2690
@ExperimentsInHonesty @SAUMILDHANKAR
1) I put Action Items for Technical Leads/Merge Team to release dependency and move the dependent issue to the New Issue Approval column. However, I'm not sure if that's the responsibility of Technical Leads, Merge Team member, or someone else who does those tasks.
2) Can I be assigned to this too? I need at least two of the paragraph classes for the other issu

[2022-01-22 01:36] JessicaLucindaCheng commented on #2674
I did an initial search for the correct link but could not find the trophy icon nor the artist on [The Noun Project website](https://thenounproject.com/).

[2022-01-22 02:17] KPHowley commented on #2576
TDM Members to add to Website:

Name: Seena Iype
GitHub handle: seenaiype
Role: Product Manager
SLACK ID: Seena Iype / U024C8A6H29

Name: Jane He
GitHub handle: Jane4925
Role: UX Research Lead
SLACK ID: Jane He / U01RDSRT46R

Name: Cathy Duong
GitHub handle: cduong5
Role: UI/UX Designer
SLACK ID: Cathy Duong / U028TU0981M

Name: Fang Liu
GitHub handle: fyliu
Role: Fullstack Developer
SLACK ID: @ F

[2022-01-22 16:19] Johnnie007 commented on #1498
Availability for this week 1/23 -1/30:
Tuesday & Thursday Evenings/Night EST
My estimated ETA for completing this issue:
45 mins

[2022-01-22 16:24] ExperimentsInHonesty opened #2711 "Update Project Profile: Open Community Survey"
### Overview
As a product manager of Open Community Survey I want my project's details to be up to date on the HackforLA website

### Project card
Their card URL: https://github.com/hackforla/website/tree/gh-pages/_projects/open-community-survey.md

### Action Items

- [x] Open Community Survey Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please p

[2022-01-22 16:29] ExperimentsInHonesty commented on #2711
### Add link
- Overview: https://github.com/hackforla/product-management/blob/master/project-one-sheets/Open-Community-Survey-NC-Websites-One-Sheet.pdf

### Remove the following people
JoAnne Narcisse
Ebele O.
Sonu
Amy Wilkins
Jasmine Kim
Shika Zhou

### Add the following people
 Name
 GitHub hand
 Role
 SLACK ID

[2022-01-22 18:00] JessicaLucindaCheng commented on #2641
@ExperimentsInHonesty I revised the issue as requested.

[2022-01-22 18:42] pattshreds commented on #2657
**Availability:** All day today 1.22.2022
**ETA:** Within the next hour

[2022-01-22 18:51] JessicaLucindaCheng commented on #2657
@pattshreds This isn't ready to be worked on. Please pick an issue from the Prioritized Backlog column. I will be moving this back to the New Issue Approval column and un-assigning you.

[2022-01-22 19:32] mccormackstudio commented on #2692
Progress: "What is the current status of your project? What have you completed and what is left to do?"
one item left, waiting for login credentials to Figma

Blockers: "Difficulties or errors encountered."
n/a

Availability: "How much time will you have this week to work on this issue?"
3hrs

ETA: "When do you expect this issue to be completed?"
after receiving Figma access

Pictures: "Add any pi

[2022-01-22 21:23] pattshreds commented on #2619
@SAUMILDHANKAR  @JessicaLucindaCheng Finished this issue. Added strikethrough to "Developers' Guide to Using Figma", and added "File seems to be deleted" after the link.

[Link to the Wiki Homepage](https://github.com/hackforla/website/wiki)

[2022-01-23 00:06] SAUMILDHANKAR commented on #2559
@Georgema20 Hey George, so we want you to do a weekly progress update on an actual issue that you are working on and not on this pre work checklist. Please keep this issue open until you have done that. Thank you.

[2022-01-23 00:21] JessicaLucindaCheng commented on #2641
@JessicaLucindaCheng After speaking with @Providence-o, what section to add to the contributing.md. Jessica will make changes to clarify that in this issue.

[2022-01-23 00:21] Georgema20 commented on #2559
Please elaborate.

Do you want me to go on the issue I am working on and just basically
comment on my progress, blockers, and such? Is that it?

On Sat, Jan 22, 2022 at 4:06 PM Saumil Dhankar ***@***.***>
wrote:

[2022-01-23 01:15] JessicaLucindaCheng commented on #2604
Removed `Ready for Milestone` label as the issue was already in the Prioritized Backlog (before it was moved to the In Progress column) and had a milestone already.

[2022-01-23 01:25] JessicaLucindaCheng commented on #2699
# Week of Jan 22-28, 2022

## Saumil (Technical Lead)
### PRs
  - [ ] https://github.com/hackforla/website/pull/2623 (I need to discuss 2FA with Bonnie so I can look at bot account before merging this - Saumil))
  - [ ] https://github.com/hackforla/website/pull/2635 (Still some tests pending, I will be running the tests by the end of this week, 1/23 - Saumil)
  - [ ] https://github.com/hackforla/w

[2022-01-23 01:38] JessicaLucindaCheng commented on #2555
- Progress: None this week
- Blockers: More of another hurdle. Realized that we don't have the paragraph classes defined in the Design System in Figma in our codebase.
- Availability: 6 hours
- ETA: Tuesday, February 8, 2022. I'm adding another week as I didn't account for the classes to not exist, and so I may have to wait for those to be created for me so that I can use them.

[2022-01-23 03:44] ExperimentsInHonesty commented on #1797
add to the next agenda
- Discuss [figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=2009%3A26149) migration plan
- Figure out how we are going to add accomplishments for multiple years
  - https://www.hackforla.org/about/#accomplishments
  - https://github.com/hackforla/website/issues/2585
  - update this issue with details of what we decided https://github.com/h

[2022-01-23 06:18] pattshreds commented on #2084
**Availability:** 1.23.2022, I will be available for 2-4 hours. Will be busy from ~9:30am - ~5:00pm.
**ETA:** 1.23.2022 ~8pm latest.

[2022-01-23 06:33] lindseyindev commented on #2204
Availability: 5 hours
ETA: By midnight  1/27

[2022-01-23 06:36] SAUMILDHANKAR commented on #2027
### Agenda for January 23, 2022

- [x] Nominate a note-taker who will follow up adding notes to the "Notes from meeting section" at the bottom of this agenda
- [x] Wins celebrations since last meeting
    - Congratulations @sydneywalcoff for getting #2682 a medium sized front end issue merged. Great job.
    - Congratulations @Georgema20 for getting #2665 a medium sized front end issue merged. Kee

[2022-01-23 07:06] #2629 closed, assigned to sydneywalcoff

[2022-01-23 17:20] IsaacDesigns commented on #2572
@ilashi I believe you are correct in that the images should have alt text but I don't think it should be changed to what you are suggesting. The reason is because the current alt text gives more clarification of the images than the change you are suggesting. I'm also thinking about the edge case of what alt text would be most helpful for someone who is blind that uses a screen reader.

[2022-01-23 18:14] JessicaLucindaCheng commented on #1734
2022-01-23

### Prework

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### Questions
- Question for UX Design: Are paragraphs supposed to be the same font size across different size screens (mobile, tablet, desktop) for the privacy policy page?
  - Just follow what is on the Figma design in terms of f

[2022-01-23 18:18] Aveline-art opened #2712 "Emails about failed workflow run happening daily"
### Overview
I am getting emails daily about a failed run (see details below). Please fix this!

### Action Items

- [x] Find out what is happening
- [x] Fix it

### Resources/Instructions
<details>
<summary>Email in question</summary>
<br>
<img src="https://user-images.githubusercontent.com/62368440/150692183-34160fcb-f467-484d-93d2-17adf7ffec50.png" width="600" length="300" />
<br>
</details>

[

[2022-01-23 18:27] ExperimentsInHonesty commented on #2537
Notes for @summerharveyux

- I love that the deck uses the image on each slide to communicate.
- It would be good if each slide (that can) had an image of what you are trying to illustrate (placement of header text is the example that comes to mind)
- This deck needs to use a template specific to this project (see this issue https://github.com/hackforla/knowledgebase-content/issues/29)
- The insig

[2022-01-23 18:58] IsaacDesigns commented on #2497
@jenjen26 yes we have agreed that we will go with your square image design and we will have to add this new square image to the design system.

[2022-01-23 19:05] ExperimentsInHonesty commented on #2500
@JackieRiley1 Please see this issue for instructions about how to do updates every week on your issue.  Once you have done that two weeks in a row then you can close this issue.  Remember to provide an overall ETA for completion and on the next issue you work on, do that when you first self assign.

[2022-01-23 19:11] AnyaStewart commented on #2686
All the concerns resolved during the Sunday meeting, ready to have a milestone added by product.

[2022-01-23 19:44] ExperimentsInHonesty commented on #2401
@isletprogramiz I have not seen you join the website team yet.  Did you come to our hackforla onboarding yet?

@isletprogramiz
https://github.com/hackforla/website/issues/2401#issuecomment-1002910759

[2022-01-23 19:48] ExperimentsInHonesty commented on #2689
@JessicaLucindaCheng @SAUMILDHANKAR please review the list above and see if there are additonal items that need to be added or if we need to remove some.

[2022-01-23 19:49] Aveline-art commented on #2632
@ExperimentsInHonesty Jekyll's [configuration ](http://jekyllrb.com/docs/configuration/options/)accepts file exclusions, which prevents the file from being considered when site is built. Not sure if this works, but worth a shot?

[2022-01-23 20:16] ExperimentsInHonesty commented on #2287
Team members

Name: Syed Danish Imran
Role: Product Manager
Slack ID:U020Z27JB1S
GitHub handle: sdimran

Name: Sharad Gaurav
Role: Product Manager
Slack ID: U01RETBMLKS
GitHub handle:SharadGaurav7

Name: Ava Li
Role: Full Stack Developer
Slack ID:U01B73XGCKV
GitHub handle: Aveline-art

Name: Sarah Williams
Role: Software Developer
Slack ID:U01S1S75NLW
GitHub handle: arghmatey

Name: Jen Chung
Role

[2022-01-23 20:50] mccormackstudio commented on #2692
received Figma access, issue complete

[2022-01-23 20:50] #2692 closed, assigned to mccormackstudio

[2022-01-24 00:15] tamara-snyder commented on #2631
**UPDATE**
Progress: Have submitted a pull request. Awaiting approval
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Upon PR approval
Pictures: https://github.com/hackforla/website/pull/2700

[2022-01-24 00:17] tamara-snyder commented on #2664
Progress: Have submitted a pull request and written an update on first issue. Awaiting PR approval
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Upon PR approval
Pictures: https://github.com/hackforla/website/pull/2700

[2022-01-24 00:18] #2664 closed, assigned to tamara-snyder

[2022-01-24 01:19] zzhoje commented on #2585
Progress: all updates made
Blockers: no blockers ( I see the doc from BallotNav)
Availability: 8-10 hours this week
ETA: 3rd versions ready to be checked for meeting tomorrow

[2022-01-24 01:30] iilashi commented on #2572
@IsaacDesigns I definitely agree now that I look at it, I've went ahead and made the changes needed.

[2022-01-24 03:35] JRHutson opened #2715 "Update Project Profile: Home Unite Us"
### Overview
As a product manager of Home Unite Us I want my project's details to be up to date on the HackforLA website

### Project card
https://www.hackforla.org/projects/home-unite-us

### Action Items

- [ ] Home Unite Us Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] tit

[2022-01-24 03:37] JRHutson commented on #2715
Leadership:
Add the following people

Name: Regan Hutson
Role: Product Management
Slack ID: U0602E4LA
GithHub Handle: JRHutson

Name: Kristy Points
Role: Product Management
Slack ID: U02FMMKPG7M
GitHub Handle: kpoints

Name: Abiha Ali
Role: Product Management
Slack ID: U02RW9T17PY
GitHub Handle: abiha1234

Name: Erik Guntner
Role: Front End Developer
Slack ID: U0103MJB0AZ
GithHub Handle: erikguntn

[2022-01-24 03:37] JRHutson commented on #2715
Modify Description

The Home Unite Us project is developing a workflow management tool for community non-profits to automate and scale their existing Host Home initiatives, prioritizing streamlining of caseworkers' repetitive workloads, reducing institutional bias, and effectively capturing crucial data.

Host Home programs are centered around housing young people, 18 - 25 years old. Their approac

[2022-01-24 03:37] JRHutson commented on #2715
Overview link

https://github.com/hackforla/product-management/blob/master/project-one-sheets/Home-Unite-Us-One-Sheet.pdf

[2022-01-24 03:37] JRHutson commented on #2715
Tool Updates:
Remove: Miro, Teraform, Dynamo DB,

[2022-01-24 03:38] JRHutson commented on #2715
Meeting Schedule Update:
Move Design Meeting to Tues 7:00-8:00PM every other Tuesday
Update Product Team Meeting to Tues 6:00-7:00 PM every week
Remove Weds Product Meeting

[2022-01-24 15:37] pattshreds commented on #2084
**Progress:** Classes assigned, just need to define in SASS.
**Blockers:** Wasn't sure if I had to define the classes in the SASS file, talked to Saumil and learned I do so I'm doing that this morning.
Update: Having trouble repositioning the first h1 element to left align with the paragraph beneath it. Changing it to
text-align: left; doesn't move it so I need to find why it won't move left.

**A

[2022-01-24 21:00] JessicaLucindaCheng commented on #2619
- Availability: 6 hours
- Review ETA: Monday, January 24, 2022

[2022-01-24 21:49] #2464 closed, assigned to lindseyindev

[2022-01-24 22:23] JessicaLucindaCheng commented on #2619
@pattshreds Looks good to me. Thanks for working on this issue! Feel free to start working on another issue.

[2022-01-24 22:23] #2619 closed, assigned to pattshreds

[2022-01-24 22:36] SAUMILDHANKAR commented on #2010
### Agenda for January 25, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note taker who will follow up on issue creation.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members (1-3 minutes)**
1. What have you completed since last Tuesday?
2. What do you plan to complete before next Tu

[2022-01-25 00:24] ExperimentsInHonesty commented on #2585
This has been approved and is ready to be added. [Google Doc with Final Drafts of Accomplishments](https://docs.google.com/document/d/1bZ6BUtiq-eArLMExOtYYE_NJdjY-Vqt7nhdtEU8k-cA/edit)

[2022-01-25 00:26] #2585 closed, assigned to zzhoje

[2022-01-25 00:44] ExperimentsInHonesty commented on #2607
Add to the next agenda
- [x] Discuss how to change the accomplishment section of about page so that it shows the current year and a has an accordion for 2020, which when the chevron or a more link is clicked it loads more accomplishments
  - Accomplishments content update is done #2585
  - https://github.com/hackforla/website/blob/gh-pages/_data/internal/accomplishments.yml  (has the 2020 content

[2022-01-25 01:13] zzhoje commented on #2037
Progress: Just assigned
Blockers: None yet
Availability: 8-10hrs this week
ETA: will have all SDGs audited and maybe new ones proposed next Monday (1/31)

[2022-01-25 03:59] Pauljsyi opened #2716 "Pre-work Checklist: Developer: Paul Yi"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-01-25 06:03] BrianCodes33 opened #2717 "Pre-work Checklist: Developer: Brian Borin"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-01-25 18:01] Providence-o commented on #2688
#### Onboard @Providence-o
- [x] Google Drive
   - [x] Add to drive as Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
- [x] GitHub
     - [x] Add to team write vault
     - [x] Change membership to maintainer
- [x] Figma
  - [x] invite
  - [x] acceptance
- [x] 1password
     - [x] invitation
     - [x] acceptance
     - [x] add to vaults

[2022-01-25 18:28] Providence-o commented on #2698
Date: 2022-01-25
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at 11
   - [ ] size, ending at 28
   - [ ] features, ending at

[2022-01-25 18:51] Providence-o commented on #2212
## 2022-01-25 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=-label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [x] click on issue title
  - [x] review dependency in the side pannel to see if issue is closed
  - [x] if open, do n

[2022-01-25 19:46] ExperimentsInHonesty commented on #2698
Removed the size missing label from the two issues.  Good first issue is a size label.

[2022-01-25 20:06] ExperimentsInHonesty commented on #2688
Perform offboarding to all people marked as inactive on roster

[2022-01-25 23:48] JessicaLucindaCheng commented on #2641
I made the clarifications as requested.

[2022-01-26 00:53] JessicaLucindaCheng commented on #2658
I looked into it and figured out the order displayed locally is by key value. However, for the live website, I'm not sure what the key value is for each credit item. Also, it may be hard to see if a potential fix would fix it for the live website since we wouldn't see it until it was deployed/merged.

Edit: I'm putting this issue in the Ice Box until we have separate repos for production and devel

[2022-01-26 01:35] SAUMILDHANKAR commented on #1564
@hackforla/website-merge Since audit is currently going on in #2572, please let @IsaacDesigns (design lead) know about the changes.

[2022-01-26 01:37] SAUMILDHANKAR commented on #1566
This issue may be outdated or may conflict with the current audit in issue #2572. Moving it to the New Issue Approval column for further discussion.

[2022-01-26 01:39] SAUMILDHANKAR commented on #1563
This issue may be outdated or may conflict with the current audit in issue #2572. Moving it to the New Issue Approval column for further discussion.

[2022-01-26 01:40] SAUMILDHANKAR commented on #1562
This issue may be outdated or may conflict with the current audit in issue #2572. Moving it to the New Issue Approval column for further discussion.

[2022-01-26 04:16] JessicaLucindaCheng commented on #2553
@blulady You don't need to do two first good issues. I think you already are doing this one https://github.com/hackforla/website/issues/2431. Also, we ask that you please only work on one issue at a time and wait for your pull request to be merged before working on another issue. Thank you.

[2022-01-26 14:49] pattshreds commented on #2084
**Progress:** Moved the first h1 element with a negative margin.
**Blockers:** Moving the h1 element without using a negative margin. I couldn't get anything else to work, including flex properties.
**Availability:** Today through Friday 1.28.2022 I have a few hours each night.
**ETA:** I don't want to keep changing this everyday so I'll just say by Friday 1.28.2022 although it will likely be fini

[2022-01-26 17:49] Aveline-art commented on #2287
Screenshots
---

[Project card desktop](https://user-images.githubusercontent.com/62368440/151217250-282ad5f8-74cc-4e8f-b491-efa1ae7477d5.png)
[Project card mobile](https://user-images.githubusercontent.com/62368440/151217487-b4900281-a0ef-412c-99d8-77784262ee76.png)

[Project page desktop](https://user-images.githubusercontent.com/62368440/151217676-b27355cc-e624-4f72-a287-90e2d53277cd.png)
[Proj

[2022-01-26 19:45] IsaacDesigns commented on #1797
## 2022-1-26 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [x] review any issues that are in the new issue approval column
   - [x] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [x] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235

[2022-01-26 19:47] sacamp commented on #2680
Progress: I am organizing the links according to Bonnie's last comment. While doing this, I am compiling a list of missing documents or information that needs to be added.
Availability: 1-2 hours

Current notes:
- onboarding research: full body of research, including analysis and presentations, but no research plan
- open roles page: research questions but no research plan

[2022-01-26 19:52] #2572 closed, assigned to nobody

[2022-01-26 20:55] sacamp commented on #2498
### Meeting: 1/26/22

### Participants:
### Things to discuss:

- [ ] Designate note taker for today's meeting
- [ ] Progress update: working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22) if you are in need of a new issue to work on

### Meeting notes:

- Simone is working on the resear

[2022-01-26 21:16] SAUMILDHANKAR commented on #2683
During the team meeting, we have decided that PM/Leadership team will move the Pre-work checklist issues from New Issue Approval column to In progress column. So, @blulady you can ignore my previous comment. Thanks.

[2022-01-26 21:18] SAUMILDHANKAR commented on #2660
During the team meeting, we have decided that PM/Leadership team will move the Pre-work checklist issues from New Issue Approval column to In progress column. So, @frankstepanski you can ignore my previous comment. Thanks.

[2022-01-26 21:19] SAUMILDHANKAR commented on #2637
During the team meeting, we have decided that PM/Leadership team will move the Pre-work checklist issues from New Issue Approval column to In progress column. So, @wiltsai you can ignore my previous comment. Thanks.

[2022-01-26 22:00] JessicaLucindaCheng commented on #2027
Add these to the Wins for Sun, Jan 30 meeting:
- https://github.com/hackforla/website/pull/2696
- https://github.com/hackforla/website/pull/2709
- https://github.com/hackforla/website/pull/2714
- https://github.com/hackforla/website/pull/2718
- https://github.com/hackforla/website/pull/2700
- https://github.com/hackforla/website/pull/2710
- https://github.com/hackforla/website/pull/2672
- Also, in

[2022-01-26 22:12] summerharveyux commented on #2537
Next steps:

[2022-01-26 22:45] summerharveyux commented on #2537
Progress: talked w/ Simone at weekly meeting about Sunday's presentation, and what my next steps should be. I understand my next steps are to update the slide deck to address Bonnie's bullet points, so it's a reference for designers: make it clear what users liked and didn't, so they can pick a new hero image.

Next steps: 1) reach out to Anya via slack to get the ball rolling on that approved iss

[2022-01-26 23:09] IsaacDesigns commented on #1564
We've just finished the audit of the credits page and the only change is to the first header image.

[2022-01-26 23:40] summerharveyux commented on #2537
@sacamp I have a question about one of Bonnie's bullet points above.
Her 3rd bullet says this desk need to use a template specific to this project, but the issue she linked doesn't provide a powerpoint template (that I'm seeing). Is there a template I should be using?
I can model my deck after the other deck in the 'Research Presentations' folder in the Homepage Redesign Research folder, if that i

[2022-01-27 01:22] R-Tomas-Gonzalez commented on #2663
@SAUMILDHANKAR and @JessicaLucindaCheng Hey y'all, this was brought to my attention a while ago. And I don't have the bandwidth for this any longer. I am now gearing up for a new full-time role and I need to put all my attention in studying for that. I assigned myself to this issue today to remind myself to let you guys know about this. Please message [Jackie](https://hackforla.slack.com/team/U02H

[2022-01-27 01:25] R-Tomas-Gonzalez commented on #2663
Also, just wondering... @ExperimentsInHonesty Does this need to go over to design team to have them build out what the survey should look like? That might be helpful in having the lead team get this ball rolling as well.

[2022-01-27 03:52] SAUMILDHANKAR commented on #2610
@JimGeist Hi Jim, I am planning to close this issue since it is not very clear. Feel free to reopen and finish writing it if you want. Thank you.

[2022-01-27 04:11] Providence-o commented on #1797
## 2022-2-2 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-152352

[2022-01-27 04:17] Providence-o commented on #2212
## 2022-01-29 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=-label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do n

[2022-01-27 04:27] Providence-o commented on #2607
## 2022-01-27 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] [Front End](https://github.com/hackforla/website/projects/7?car

[2022-01-27 05:56] JessicaLucindaCheng opened #2720 "Remove non-existent classes from citizen-engagement-cards.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-01-27 06:11] JessicaLucindaCheng opened #2721 "Remove non-existent classes from citizen-engagement.html"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Before you claim or start working on an issue, please make sure you have read our [How to Contribute to Hack for LA Guide](https://github.com/hackforla/website/blob/7f0c132c96f71230b8935759e1f87

[2022-01-27 06:40] mayanknoldus commented on #2721
I would like to work on this issue. Could you please assign me this.

[2022-01-27 07:41] JessicaLucindaCheng commented on #2721
@mayanknoldus Thanks for your interest in working on this issue. However, this issue is not ready to be worked on. Also, to work on any of our issues, you need to join Hack for LA. (There are no fees for joining.) If you are interested in joining, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).

[2022-01-27 08:29] SAUMILDHANKAR commented on #2717
@BrianCodes33 Hi Brian, I am reopening this issue and moving it to In progress column since some of the items are not done yet. Please add yourself as an assignee to this issue as well. Thanks.

[2022-01-27 17:16] JessicaLucindaCheng commented on #2641
@Providence-o I made the clarifications as requested.

[2022-01-27 18:24] blulady commented on #2553
Hey,
Sorry!! What is my next action with regards to this issue?
All Apologies,
Sarah

[2022-01-27 18:31] JessicaLucindaCheng commented on #2553
@blulady I will unassign you and put the issue back in the Prioritized Backlog.

[2022-01-27 18:41] JessicaLucindaCheng opened #2722 "Remove unused alt-hero in project md files"
### Dependency
- [x] https://github.com/hackforla/website/issues/3209
- [x] https://github.com/hackforla/website/issues/2891
- [x] https://github.com/hackforla/website/issues/2892
- [x] https://github.com/hackforla/website/issues/2920
- [x] https://github.com/hackforla/website/issues/2921
- [x] https://github.com/hackforla/website/issues/2922
- [x] https://github.com/hackforla/website/issues/2923

[2022-01-27 18:47] blulady commented on #2553
I appreciate your patience. Thank You!!

[2022-01-27 19:01] jenjen26 commented on #2497
Progress: I added this to the [Large Cards](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=6195%3A42255) in the design system.
Blockers: how to complete CSS and naming convention portion in design system
ETA 01/31

[2022-01-27 22:00] JessicaLucindaCheng commented on #2555
- Progress: Have added all the content (words) to the HTML file. Credit for hero image is added and label is updated with URL. Blank SCSS page was added.
- What still needs to be done: It needs to be styled.
- Blocker/Reason for stopping work on this issue: Need paragraph classes to style the text.

[2022-01-27 22:40] ExperimentsInHonesty commented on #2673
@MukulKolpe
We require all Code Contributors to
1. Join our organization by going through [Hack for LA onboarding](https://www.hackforla.org/getting-started).  It's free to join!
2. Read the [onboarding section of our WIKI](https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-Website-Team).
3. Read our [CONTRIBUTING](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md

[2022-01-27 23:06] #2424 closed, assigned to BrianCodes33

[2022-01-27 23:23] #1564 closed, assigned to riddle015

[2022-01-27 23:34] #2431 closed, assigned to blulady

[2022-01-27 23:45] #2631 closed, assigned to tamara-snyder

[2022-01-28 00:38] mccormackstudio commented on #2616
Progress: completed on google sheet, move to questions in review
ETA: will close / mark as done after review and correct anything needed

[2022-01-28 03:09] ExperimentsInHonesty commented on #2552
![vrms](https://user-images.githubusercontent.com/37763229/151480681-f5c6fc60-fc9b-4ce0-9dc2-93286a819ae4.png)

[2022-01-28 06:06] lindseyindev commented on #2204
Updating issue; not finished
Blockers: time
Availability: 1/29-1/30 - 4 hours
ETA: midnight 1/30 pending no technical blockers

[2022-01-28 09:32] iilashi commented on #2501
@ExperimentsInHonesty Is this the finalized version of the navigation bar that I should follow? Or are updates/changes still being made? Because the navigation shown on the completed current pages doesn't match the one shown below.

![image](https://user-images.githubusercontent.com/92768477/151522575-d6654ccd-0551-4460-8855-7d339698d445.png)

[2022-01-28 16:47] BrianCodes33 commented on #2391
Hi @abuna1985 . I'd like to work on this issue. I am seeing the new design on Figma that the team would like to implement on mobile view. Is there a specific breakpoint the design team would like to fire the dropdown (for tablet view as well)? Is it possible to have this dropdown menu items on desktop view to simplify the solution? Similar to the main page program areas...

<img width="845" alt="S

[2022-01-28 19:20] Pauljsyi commented on #2553
Availability for this week: Friday 1pm - 5pm
My estimated ETA for completing this issue: 2 hours

[2022-01-28 22:57] SAUMILDHANKAR commented on #2663
Some of the relevant questions that came up during my discussion with Tomas:
True Intent Survey Questions
1. Is this going to live on the website for a certain amount of time?
2. Could this be a reusable component of the website
3. Design - Do we want design to create the visual aspects of the survey?
4.a. Google Forms does not have much flexibility as far as visuals go, can we stray away from Goo

[2022-01-28 23:40] SAUMILDHANKAR commented on #2699
# Week of Jan 29- Feb 5, 2022

## Saumil (Technical Lead)
### PRs
  - [ ] https://github.com/hackforla/website/pull/2623 (I need to discuss 2FA with Bonnie so I can look at bot account before merging this - Saumil))
  - [ ] https://github.com/hackforla/website/pull/2635 (Still some tests pending, due to 2FA, will discuss in PM meeting on 2/5 - Saumil)
  - [x] https://github.com/hackforla/website/p

[2022-01-29 01:20] Pauljsyi commented on #2716
Progress:  Complete
Blockers: none
Availability:
ETA: Friday
Pictures: N/A

[2022-01-29 02:32] SAUMILDHANKAR commented on #2716
@Pauljsyi: Great job in finishing up with all the items. Feel free to close this issue when you get a chance. Thanks.

[2022-01-29 02:33] #2716 closed, assigned to Pauljsyi

[2022-01-29 02:50] SAUMILDHANKAR commented on #2391
@BrianCodes33 Request to please unassign yourself from this issue and move it to Prioritized backlog column. You can pick a good second issue from the prioritized backlog column using this link: https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22size%3A+good+second+issue%22. Once your good second issue is merged, you can come back and work on this issue. Thanks.

[2022-01-29 02:59] SAUMILDHANKAR commented on #2238
@riddle015 Request to please add your availability and ETA for completing the issue once you pick up an issue. Thanks.

[2022-01-29 03:04] SAUMILDHANKAR commented on #2702
@NamanhTran Just wanted to follow up if you had any questions while working on the checklist. Feel free to let me know through a comment here or on slack. Thanks.

[2022-01-29 03:09] SAUMILDHANKAR commented on #2676
Progress: Didn't make much progress last week, but will work on it this week.
Blockers: None
Availability: 2 hrs
ETA: 2/5/22
Pictures:

[2022-01-29 03:49] JessicaLucindaCheng commented on #2607
## 2022-01-29 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] [Front End](https://github.com/hackforla/website/projects/7?car

[2022-01-29 06:09] JessicaLucindaCheng commented on #2699
## Jan 29 - Feb 4, 2022, Task List for Jessica (Merge Team)

### Meeting Notes and Ongoing Tasks
- [ ] https://github.com/hackforla/website/issues/2607
  - [ ] Check pre-work developer checklists
  - [x] !!!Write issue to fix readme based on dev/pm notes about it - Jessica
  - [x] Add link in pre-work template to any issues they work on requested by Bonnie. Ask or research if it's possible. - This

[2022-01-29 06:51] pjpatel021 commented on #2706
1. Progress: Working on user interview guide for advisors and waiting for Sunday team meeting to follow up with Bonnie on leads for recruits.
2. Blockers: N/A
3. Availability: 7 hrs
4. ETA: 2 weeks
5. Pictures: N/A

[2022-01-29 09:01] #2604 closed, assigned to Georgema20

[2022-01-29 19:46] Providence-o commented on #2698
Date: 2022-01-29
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 9
   - [x] size, ending at 24
   - [x] features, ending at 1

[2022-01-29 20:24] #2636 closed, assigned to pattshreds

[2022-01-29 22:06] JessicaLucindaCheng opened #2726 "Clarify steps in README.md for Code Contributors"
### Overview
As developers, we want the README.md to have clear steps for people looking to contribute to our codebase. In this issue, we will update the "Contributing" section in the README.md to have clearer steps for code contributors.

### Action Items
- [x] Currently, the [Contributing section in the README.md starting on line 16](https://github.com/hackforla/website/blob/2e3c45fede99e61f4795

[2022-01-29 23:29] abenipa3 commented on #1630
## 1/29/2022 Update

Progress:

- Styled Guide Pages as seen below.
  - Need to fix the navbar (it appears stuck at the bottom of the screen when testing) and update the code to make responsiveness work.
  - Images are out of order after Docs to Markdown Extension converted. There are also forward slashes added at the end of some sentences, which happened after the extension was updated.
    - Cur

[2022-01-30 00:42] JessicaLucindaCheng commented on #1734
2022-01-30

### Prework
- [ ] PM to review the New Issue Approval Column for
  - [ ] Design
  - [ ] Research
  - [ ] Front End
  - [ ] Back End

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### New Items
- [x] Make Jessica a maintainer for the repo

[2022-01-30 06:29] SAUMILDHANKAR commented on #2027
### Agenda for January 30, 2022

- [x] Nominate a note-taker who will follow up adding notes to the "Notes from meeting section" at the bottom of this agenda
- [x] Wins celebrations since last meeting 🥇🥇🥇
  - [x] Congratulations @lindseyindev for getting fifth PR #2696 merged (small front end issue). Great job!
  - [ ] Congratulations @BrianCodes33 for getting #2709 merged (first issue). Awesome!

[2022-01-30 18:36] luke-karis opened #2727 "Pre-work Checklist: Developer: Luke Karis"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-01-30 19:57] Stephen-Parent commented on #2694
Progress: NA
Blockers: NA
Availability: Mon - Fri 5PM-8PM
ETA: 2/6/22
Pictures: NA

[2022-01-30 19:59] JessicaLucindaCheng commented on #2712
@Aveline-art
Thanks for the tips on letting us know what might be happening! I updated the expired token used in the workflow that was failing. Are you still getting emails about the Update GitHub Data workflow failing?

[2022-01-30 20:49] Aveline-art commented on #2712
I have not been receiving emails for the last couple of days. I am not sure when the token was updated, but I'm happy that it is no longer bothering my inbox! Thank you @JessicaLucindaCheng

[2022-01-31 03:50] #2287 closed, assigned to Aveline-art

[2022-01-31 04:22] kevindphan opened #2728 "Update Project Profile: Civic Tech Index"
### Dependency
[Issue tracking this on Civic Tech Index project board](https://github.com/civictechindex/CTI-website-frontend/issues/1062)

### Overview
As a product manager of Civic Tech Index I want my project's details to be up to date on the HackforLA website

### Project card
[Civic Tech Index Card Link](https://github.com/hackforla/website/blob/gh-pages/_projects/civic-tech-index.md)

### Ac

[2022-01-31 04:25] kevindphan commented on #2728
**Remove the following people:**

Levi Adissi
Iffath Sultana
Maria Studnicka
Shipra Prakash
Emily Marinaro

[2022-01-31 04:33] kevindphan commented on #2728
**Add the following people:**

 - name: Sean Sada
    role: Product Manager
    links:
      slack: https://hackforla.slack.com/team/U016XE06ZS5
      github: https://github.com/smsada
    picture: https://avatars.githubusercontent.com/smsada

 - name: Dennis Chatkhan
    role: Frontend Developer
    links:
      slack: https://hackforla.slack.com/team/U01B4S459CZ
      github: https://github.com/

[2022-01-31 04:35] kevindphan commented on #2728
**Edit Meeting Times:**

Please remove Wed 12:30-1:00PM Product Manager's meeting

Other meeting times are correct.

[2022-01-31 06:09] lindseyindev commented on #2204
Realized an SVG was disappearing after I changed the fill color from a hardcoded hex value to a variable. After researching it seems it's a bit tricky to use a variable as a color for an SVG as an SVG is not part of the DOM.. I believe there's still a way to use a variable color by formatting the SVG in a different way but more time needed to research and test.
This is the SVG for reference websit

[2022-01-31 06:38] JessicaLucindaCheng commented on #2699
# Agenda for Tue, Feb 1, 2022

## Prework to prep for the meeting

**Jessica**
- [x] Update and add comment to clarify  https://github.com/hackforla/website/pull/2672
- [x] Update with additional notes so the reviewer understands why I'm creating this pr https://github.com/hackforla/website/pull/2724
- [ ] Learn Google App Scripts
  - [x] Go over the documentation in Drive
  - [ ] Go over official

[2022-01-31 06:52] #2553 closed, assigned to Pauljsyi

[2022-01-31 07:24] SAUMILDHANKAR commented on #2610
Closing the issue since the requirements are not clear.

[2022-01-31 07:24] #2610 closed, assigned to nobody

[2022-01-31 07:31] SAUMILDHANKAR commented on #2505
Progress: Added a row on the homepage summary sheet with formulas to calculate respective number of positions (eg. engineers, designer, data analyst and so on) which have TRUE on the Homepage.
Blockers: Will need help to access bot account for testing.
Availability: 3 hrs
ETA: 2/8/22

[2022-01-31 17:39] ghost commented on #2589
Progress: Going to read the articles and work on the interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: Interview questions should be ready by Feb 2

[2022-01-31 18:04] zzhoje commented on #2037
Progress: Finished auditing SDGs
Blockers: None
Availability: 8 hrs
ETA: ready for 1/31 meeting
Link for LA specific SDGs: https://sdgdata.lamayor.org/

[2022-01-31 19:48] ExperimentsInHonesty commented on #2212
Add to next agenda
- [ ] Discuss update needed to
   - [ ] https://github.com/hackforla/website/wiki/Introduction-to-the-Project
   - [ ] https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-Website-Team

### FYI
- Left Jessica Cheng a message on slack

### Tasks
- We need to add to the onboarding and offboarding
  - adding people to the project page https://www.hackforla.org/projec

[2022-01-31 19:56] ExperimentsInHonesty commented on #2607
Add to next agenda
- This needs an update asap https://github.com/hackforla/website/wiki/Web-Developer because I need to have a landing page for people coming from the [self paced onboarding slide deck](https://docs.google.com/presentation/d/1bueC40PkklLSJVPttiFeYJvcB69PgJx8pxZK5G7gzzo/edit#slide=id.g10c55e2c17c_0_30)
  - There is a line that says "Read through Hack for LA Site Architecture. If yo

[2022-02-01 04:24] luke-karis commented on #2427
Availability for this week: Weekdays after 4:00 pm EST
My estimated ETA for completing this issue: Done by Today, Monday 1/31/22

[2022-02-01 09:13] #2427 closed, assigned to luke-karis

[2022-02-01 10:02] #2657 closed, assigned to tamara-snyder

[2022-02-01 17:38] Providence-o commented on #2212
## 2022-02-01 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-02-01 17:50] Providence-o commented on #2698
Date: 2022-02-01
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 8
   - [x] size, ending at 22
   - [x] features, ending at 1

[2022-02-01 19:11] JessicaLucindaCheng opened #2731 "Update leadership and technologies in website.md"
### Overview
As a member of the Hack for LA Website team, I want the information on the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website) to be up to date. For this issue, we will be updating the leadership and technologies sections of the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website).

### Action Items
In [_

[2022-02-01 20:43] ExperimentsInHonesty commented on #2731
@JessicaLucindaCheng Can you also add
Technologies: Google App Scripts, GitHub Actions, VRMS API (and anything else you can think of that we are using)

[2022-02-01 22:21] JessicaLucindaCheng commented on #2731
@ExperimentsInHonesty I updated the issue to add the requested technologies. I couldn't think of any other additional technologies that we use.

[2022-02-01 22:36] JessicaLucindaCheng commented on #2731
- Availability: 1 hour
- ETA: Wed, Feb 2, 2022

[2022-02-02 00:20] summerharveyux commented on #2537
Progress: Addressed all of Bonnie's comments on the slides. Spoke with Isaac about presenting to design team on 2/3, was later reminded by Shruti that there's no meetings the first week of the month, rescheduled w/ Isaac to present to design team on 2/10. link to edited slides: https://docs.google.com/presentation/d/1lFY4bGDYicZDIbj5CNxhiiNGNq479cOOj3-pbD_ifqM/edit?usp=sharing

next steps: present

[2022-02-02 01:52] Pauljsyi commented on #2240
Availability: Wednesday 12-3pm, Thursday 12-3pm.
ETA: 1 hour

[2022-02-02 02:50] #2712 closed, assigned to JessicaLucindaCheng

[2022-02-02 02:51] JessicaLucindaCheng commented on #2712
Closed issue because Update GitHub Data workflow no longer failing after updating an expired token.

[2022-02-02 03:50] BrianCodes33 commented on #2239
Is there a reason why there are two .pdf extensions at the end of the file name? Don't think I've ever seen that. I also changed the markdown fiile, and it's still linking to Github for some reason.

here is the code i edited in md file: `url: '../assets/pdfs/Engage-Product-One-Sheet.pdf.pdf'`

[2022-02-02 03:54] BrianCodes33 commented on #2239
Availability for this week: Evenings M-F
ETA: 2-3 Days

[2022-02-02 06:57] JessicaLucindaCheng commented on #2238
@riddle015 Also, please move this issue into the "In Progress" column since you are actively working on it.

[2022-02-02 06:59] JessicaLucindaCheng commented on #2240
@Pauljsyi Since you are actively working on this issue, please move this to the "In Progress" column. Thanks.

[2022-02-02 15:01] riddle015 commented on #2701
Provide Update
1. Progress: "Just starting"
2. Blockers : "None"
3. Availability: 5 hours this week
4. ETA: 2/6

[2022-02-02 15:08] riddle015 commented on #2238
Progress: Just starting
Blockers: None
Availability: ~7 hours
ETA: 2/6

[2022-02-02 16:53] ExperimentsInHonesty commented on #2212
@Providence-o I have updated the [roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0) with the roles and highlighted the ones where we don't know what to put

[2022-02-02 17:55] sacamp commented on #2680
Progress: Pages have been organized. While doing this, I compiled some notes on incomplete projects

Notes:
Research projects initiated, but no data collected:
- member feature page

Research projects with some data collected, but incomplete (no formal research plan)
- HfLA google analytics

Ongoing research projects
- persona research:
   -  corporate donors
   - volunteers
   - advisors

[UX Res

[2022-02-02 20:00] ExperimentsInHonesty commented on #2212
Add to next agenda
- discussing this  the problem with the Metrics Dashboard page. Start the discussion by visiting about page and then move on to the links it connects to.

[2022-02-02 20:00] JessicaLucindaCheng commented on #1562
From the Sun, Jan 30 meeting, we need to modify this issue once issue #2572 has been reviewed and approved by QA/UAT. Temporarily Moving this issue to development team meeting discussion items until tech leads can review it.

[2022-02-02 20:01] JessicaLucindaCheng commented on #1563
From the Sun, Jan 30 meeting, we need to modify this issue once issue #2572 has been reviewed and approved by QA/UAT. Temporarily Moving this issue to development team meeting discussion items until tech leads can review it.

[2022-02-02 20:01] JessicaLucindaCheng commented on #1566
From the Sun, Jan 30 meeting, we need to modify this issue once issue #2572 has been reviewed and approved by QA/UAT. Temporarily Moving this issue to development team meeting discussion items until tech leads can review it.

[2022-02-02 20:04] Providence-o commented on #2212
## 2022-02-05 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-02-02 20:05] JessicaLucindaCheng commented on #1564
Note about this issue: https://github.com/hackforla/website/pull/2714#issuecomment-1027656125

[2022-02-02 20:27] JackieRiley1 commented on #2663
In response to some of the questions above:

Ideally, we would want at least 400 responses. This may mean leaving it live for a month and then reevaluating. It sounds like there are various ways to create a survey that fits our needs.  I might suggest that the survey's integration into Google analytics be prioritized to allow easier data analysis. We could make minor changes to the survey if that

[2022-02-02 21:30] ExperimentsInHonesty opened #2733 "Create a Survey: True Intent"
### Overview
We  need to create a true intent survey so that we can determine who our users are, what their goals are for accessing the website and if they are able to achieve their goals.

### Action Items
- [X] Create survey questions
- [x]  Review with Product

### Resources/Instructions
[True Intent Instructions and Survey Questions](https://docs.google.com/document/d/16b-gVZCT9aI9rdkmEz1GT1Ka

[2022-02-02 21:31] ExperimentsInHonesty commented on #2663
- This issue originally was too large.  So I moved the creation of the survey to another issue #2733

[2022-02-02 21:31] JessicaLucindaCheng commented on #2239
@BrianCodes33

- Good catch! The name of the file should be `Engage-Product-One-Sheet.pdf`. Once you download the file, you can rename it so it only has one .pdf extension.
- If you make changes to code and don't see it when you use Docker to view the website locally on your computer, run `docker-compose down`, then clear your cache and delete the file `.jekyll-metadata` and the directory `_site`,

[2022-02-02 21:43] ExperimentsInHonesty commented on #2733
@JackieRiley1

I saw this referred to two different ways by members of the Research team
From this survey: What is your ethnicity? (Optional)
Another survey (I don't remember which ) it was racial identity.

Please find out what best practices are currently and report back, and talk with team lead about how we will capture the best practices in the wiki for future survey reference

We should use a

[2022-02-02 21:47] ExperimentsInHonesty commented on #2733
@JackieRiley1 please indicate size of issue using the points system

[2022-02-02 22:00] #2500 closed, assigned to JackieRiley1

[2022-02-03 02:51] Georgema20 commented on #2391
Hi, Been working on this for a while....Need some help. No OH tomorrow so don't know where to go. Guess I will go next OH? Can not find if you guys already have a class to make a div a filter kinda bar.

[2022-02-03 05:57] JessicaLucindaCheng commented on #2731
- Progress: Completed and created a pr for it
- Blockers: None
- Availability: Will update if pr reviewer(s) request changes
- ETA: Will update if pr reviewer(s) request changes

[2022-02-03 08:34] abenipa3 commented on #1630
# Update 2/3/22

Progress: Finally figured out how to fix the navbar, which was initially stuck at the bottom.
Now I need to make it stick to the side.

<details><summary>  Before  </summary>

![image](https://user-images.githubusercontent.com/38295612/152304823-8065f0bd-8d51-4a37-b74d-6a9accce22a1.png)

</details>

<details><summary>  After  </summary>

Please disregard the images in the content

[2022-02-03 18:00] tamara-snyder commented on #2707
If I'm not mistaken, I just assigned myself to an existing issue that will accomplish this: [Update the card format for the Wins page for Desktop/Mobile #2339](https://github.com/hackforla/website/issues/2339)

[2022-02-03 20:04] JessicaLucindaCheng commented on #2690
- Availability: 6 hours this week
- ETA: Tuesday, February 8, 2022

[2022-02-03 21:44] JessicaLucindaCheng commented on #2524
@Johnnie007 I'm reopening your pre-work checklist because a weekly progress report still needs to be given on an issue you are working on (not including this pre-work issue). A weekly progress report should be given every week for an open issue that you are working on.

I see you are working on issue #1498 and you gave an initial ETA and availability. However, it has been over a week since you gav

[2022-02-03 21:49] JessicaLucindaCheng commented on #2707
@tamara-snyder Good catch! Thanks for letting me know!

[2022-02-03 21:49] JessicaLucindaCheng commented on #2707
Closing this issue because it is already addressed in issue #2339

[2022-02-03 21:49] #2707 closed, assigned to nobody

[2022-02-03 23:50] JessicaLucindaCheng commented on #2699
# Agenda for Thu, Feb 3, 2022

## Prework to prep for the meeting

**Jessica**

**Saumil**

## Recurring items

## FYIs (nothing needs to be done, just keeping each other informed)

## New items

**From Jessica**
- [x] After a developer finishes their good first and second issue, can they skip to a medium issue? No, we want to stick to the following progression: First -> Second -> Small -> Medium

[2022-02-04 01:21] #2731 closed, assigned to JessicaLucindaCheng

[2022-02-04 01:37] SAUMILDHANKAR commented on #2437
@KazushiR Please add your issue to the In progress column and share your ETA and availability for working on this issue. Thank you.

[2022-02-04 01:45] Pauljsyi commented on #2669
ETA: 2 hours
Availability: Friday 5pm

[2022-02-04 01:50] KazushiR commented on #2437
@SAUMILDHANKAR I have updated the progress of this issue and I will see if I can get this done sometime next week.

[2022-02-04 01:57] SAUMILDHANKAR commented on #2437
@KazushiR Thank you for moving the issue to the In progress column. Just wanted to share the format to be used while picking up an issue:

Availability for this week:
My estimated ETA for completing this issue:

[2022-02-04 06:09] #2240 closed, assigned to Pauljsyi

[2022-02-04 17:16] JessicaLucindaCheng commented on #2339
@tamara-snyder Please work on and complete a small issue before working on a medium-size issue. Please un-assign yourself from this issue and place it back in the prioritized backlog. Then pick a small issue to work on.

[2022-02-04 17:18] tamara-snyder commented on #2339
@JessicaLucindaCheng Oh whoops, sorry! Will do.

[2022-02-04 17:51] JessicaLucindaCheng commented on #2397
- Availability: 6 hours
- ETA: Fri, Feb 4, 2022

[2022-02-04 18:13] JessicaLucindaCheng commented on #2391
@Georgema20 Sorry that we did not have office hours to answer your question. However, feel free to ask us on Slack when you have questions or if you want to set up a time to meet to discuss your issue outside of our normal meeting times. I'm not sure if we already have a filter component or not, so let me do some research and I'll get back to you within a couple of days.

[2022-02-04 18:14] ghost commented on #2589
Progress: Working on the interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: The interview guide should be ready before Wed UX meeting on google drive.

[2022-02-04 19:10] JessicaLucindaCheng commented on #2607
## 2022-02-05 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-02-04 19:42] #2239 closed, assigned to BrianCodes33

[2022-02-04 19:55] JessicaLucindaCheng commented on #2392
@abuna1985 Thanks for working on this issue! Could you please provide a weekly progress report that includes the following:
[code]
If you have questions, please let me know. Thank you.

[2022-02-04 20:02] JessicaLucindaCheng commented on #2392
I left a Slack message on Fri, Feb 4, 2022 for Adam.

[2022-02-05 00:58] ExperimentsInHonesty commented on #2715
site: https://homeunite.us/

[2022-02-05 02:29] SAUMILDHANKAR commented on #2266
@blakes24 Hi Blakely, Just wanted to follow up on if you are still working on this issue. Please let us know. Thank you.

[2022-02-05 03:00] elizabethhonest opened #2737 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-02-05 07:23] SAUMILDHANKAR commented on #2702
@NamanhTran: Hi Namanh, I am planning to close this issue, since haven't heard from you in a while. If you want you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:23] #2702 closed, assigned to NamanhTran

[2022-02-05 07:27] SAUMILDHANKAR commented on #2637
@wiltsai: I am planning to close this issue, since haven't heard from you in a while. If you want, you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:27] #2637 closed, assigned to wiltsai

[2022-02-05 07:30] SAUMILDHANKAR commented on #2638
@Gorck1416: Hi Gabriel, I am planning to close this issue, since haven't heard from you in a while. If you want you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:33] SAUMILDHANKAR commented on #2523
@jqg123: Hi John, I am planning to close this issue, since haven't heard from you in a while. If you want, you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:36] SAUMILDHANKAR commented on #2558
@lrobinson823: Hi Lamar, I am planning to close this issue, since haven't heard from you in a while. If you want you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:38] SAUMILDHANKAR commented on #2560
@shantanushende: Hi Shantanu, I am planning to close this issue, since haven't heard from you in a while. If you want you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:39] SAUMILDHANKAR commented on #2596
@engmaggi: Hi Maggi, I am planning to close this issue, since haven't heard from you in a while. If you want you can work on it later based on availability. I left a message for you on Slack stating the same. Thank you.

[2022-02-05 07:39] #2596 closed

[2022-02-05 17:20] JessicaLucindaCheng commented on #2559
@Georgema20 Yes, in the issue you are working on you should give a progress report on a weekly basis that includes the following:
[code]

Also, in the future, when you leave comments in GitHub for someone, can you @ mention the person(s) you are directing the message to? This will notify the person you have a message or question for them. Thanks.

[2022-02-05 17:48] JessicaLucindaCheng commented on #2496
@jnmrles Did you have any questions or need help with this pre-work checklist? Also, are you still interested in working on this issue? Please let me know by Friday, February 11, 2022. If I do not hear back from you by then, I will close this issue and I will unassign you from other open issues you have.

[2022-02-05 17:51] JessicaLucindaCheng commented on #2496
I sent a Slack message to Jovanni.

[2022-02-05 18:33] JessicaLucindaCheng commented on #2689
@ExperimentsInHonesty  @SAUMILDHANKAR I wasn't sure if I was allowed to edit the original post/checklists, so I copy and pasted the checklists below. I made edits below along with some notes about some checklist items I wasn't sure about.

@SAUMILDHANKAR Feel free to make edits to the checklists below.
[code]
[code]

[2022-02-05 19:09] JessicaLucindaCheng commented on #2681
Closing this issue because we aren't going to implement this.

[2022-02-05 19:09] #2681 closed, assigned to JessicaLucindaCheng

[2022-02-05 20:14] Providence-o commented on #2698
Date: 2022-02-05
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 6
   - [x] size, ending at 24
   - [x] features, ending at 1

[2022-02-05 20:34] Providence-o opened #2739 "Update 'Introduction to Project' wiki page"
### Overview
We need to update the [Introduction to the project](https://github.com/hackforla/website/wiki/Introduction-to-the-Project) to replace outdated information.

### Action Items
- [ ] study wiki page and highlight what needs to be updated
- [ ] create draft of new and updated wiki page
- [ ] Bonnie to approve draft document
- [ ] PM to update wiki page

### Resources/Instructions
[Introdu

[2022-02-05 20:43] Providence-o opened #2740 "Update 'Joining the HFLA.org website team' wiki page"
### Overview
We need to update the [Joining the HFLA website team](https://github.com/hackforla/website/wiki/Joining-the-HackforLA.org-Website-Team)  to replace outdated information.

### Action Items
- [ ] We are currently in the process of moving the old wiki to the new [website-wiki repo](https://github.com/hackforla/website-wiki), so we will not be making any changes or additions to the old wi

[2022-02-05 21:19] Providence-o commented on #2731
Changes look good. Thank you.

[2022-02-05 21:20] JessicaLucindaCheng commented on #2675
@SAUMILDHANKAR Since the files needed to fix this issue are in the protected admin drive, should I restrict this issue to admins/leads that have access to the drive to work on? Or can it be open to other developers and they would just have to ask a lead for access (similar to how Matt wrote issue #2385)?

[2022-02-05 23:54] JessicaLucindaCheng commented on #2674
@JessicaLucindaCheng This needs to bring up during Sunday meeting with Design.

[2022-02-06 10:43] SAUMILDHANKAR commented on #2675
@JessicaLucindaCheng It can be open to other developers as well. (like Matt's issue). Thanks for bringing it up.

[2022-02-06 16:18] lindseyindev commented on #2204
Couldn't get the SVG to accept a variable color tried multiple different syntaxes including fill="var(--dodgerblue)" and
<img width="592" alt="Screen Shot 2022-02-06 at 8 06 52 AM" src="https://user-images.githubusercontent.com/89806097/152689901-a905be27-64f3-481b-8881-b0701c30806e.png">

going to move forward and finish the issue as I looked through the other SVGs on Hack for LA and variable col

[2022-02-06 16:56] frankstepanski commented on #2660
Availability for this week:
My estimated ETA for completing this issue: Today

**UPDATE**
Progress: Have submitted a pull request. Awaiting approval
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Completed
Pictures: https://github.com/hackforla/website/pull/2741

[2022-02-06 17:00] frankstepanski commented on #2673
Availability for this week:
My estimated ETA for completing this issue: Today

UPDATE
Progress: Have submitted a pull request. Awaiting approval
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Completed
Pictures: https://github.com/hackforla/website/pull/2741

[2022-02-06 18:02] JessicaLucindaCheng commented on #1734
2022-02-06

### Prework

### Recurring Items
- [ ] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### New Items
 - [x] For Design from Development: The Trophy link on the [Credits page](https://www.hackforla.org/credits/) goes to "Page Not Found" on the external website [The Noun Project website](https://thenounproject.com/). H

[2022-02-06 18:16] SAUMILDHANKAR commented on #2409
I closed this issue since this was accomplished in #1977, however, now we need to create a new issue which posts comments every week so the review is timely and efficient. My question is should we edit this issue or create a new issue?

[2022-02-06 18:25] ExperimentsInHonesty commented on #2497
@jenjen26
FYI: When you put things in the review column, please be as specific as possible about who needs to review and why.  This will ensure that you get the fastest response possible   E.g. on this issue you could have written:

Next Steps:
- [ ] For Design Team or Design Lead to review and sign off or provide comments
- [ ] When design team or lead is done, Product team needs to review and pr

[2022-02-06 18:52] ExperimentsInHonesty commented on #2497
@jenjen26 Thanks for the new work.  Looks perfect, we will turn it over to Development now to make a new issue where they define the classes that are currently in use by adding them to the design system (because it seems like they are missing now).

[2022-02-06 18:52] #2497 closed, assigned to jenjen26

[2022-02-06 18:53] ExperimentsInHonesty commented on #2606
@jenjen26 Thank you for this work.  We will make a new issue for development to update the classes to reflect the new design and implement the change

[2022-02-06 18:53] #2606 closed, assigned to jenjen26

[2022-02-06 19:10] IsaacDesigns commented on #2606
Thank you @ExperimentsInHonesty I have added an extra step to this issue action items for you to update the design system. Once updated make sure to remove the [3 small card designs](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=18798%3A126490) from the design system and put them in their appropriate place.

[2022-02-06 19:31] sacamp commented on #1696
Will follow up with @JackieRiley1  on current status of the issue.

[2022-02-06 19:41] frankstepanski commented on #2591
Availability for this week:
My estimated ETA for completing this issue: Today

UPDATE
Progress: Have submitted a pull request. Awaiting approval
Blockers: None
Availability: Weeknights (EST) and Sunday
ETA: Completed
Pictures: https://github.com/hackforla/website/pull/2742

[2022-02-06 20:16] Providence-o commented on #2212
## 2022-02-08 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-02-06 20:53] SAUMILDHANKAR commented on #2699
We need more research on if the following members are inactive: Blakely Burns, Sarah Williams, Abel Zambrano and Glen Florendo.
 - [x] Reached out on slack.
 - [x] Follow up action based on response.

[2022-02-06 23:28] JessicaLucindaCheng commented on #2699
Items for next agenda
- [ ] To check and adjust #hfla-site-pr settings, click on "Manage reminder" in one of the messages in that channel.
  - [ ] If we want to include all prs (even ones without assigned reviewers), we need to uncheck "Require review requests". (Though, we should assign ourselves as reviewers or make into drafts any old prs that tech leads should handle.)
  - [ ] Are people check

[2022-02-07 00:17] JasonEb opened #2743 "Communities of Practice information updates: Ops"
### Overview
We need to add information on the COP page so it is up to date.

### Action Items
- [x] Please make the following changes (Note: Find and add the complete links for GitHub handle and Slack IDs in the Ops.yml file):
[code]
- [x] Make sure the changes are reflected in your repo

### Resources/Instructions
- Webpage where changes should be reflected: [Hackforla COP page](https://www.hack

[2022-02-07 01:04] #2408 closed, assigned to R-Tomas-Gonzalez

[2022-02-07 01:56] JessicaLucindaCheng commented on #2391
@Georgema20 In the Design System in Figma here are the filters we have (Note: Some of the SCSS properties in the classes have changed): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=4532%3A444

If you are looking for the current SCSS class definitions and properties, they are here: https://github.com/hackforla/website/blob/063e211e2b6765e631a62af0f211941cef527f71/_s

[2022-02-07 02:33] JessicaLucindaCheng commented on #2010
@SAUMILDHANKAR Under Weekly Agenda Markdown in the [top post](https://github.com/hackforla/website/issues/2010#issue-952363728), I updated the template, made a few changes, and added a couple of items to the template.

I tried to make the template reflect what we currently use in our agendas but feel free to change the template or remove items I added to the template.

[2022-02-07 05:01] JessicaLucindaCheng commented on #2010
For next meeting:
- Remind everyone to update their forked gh-pages and merge their forked gh-pages into their topic branch.

[2022-02-07 05:22] SAUMILDHANKAR commented on #2673
@frankstepanski: Hi Frank, Thanks for working on this issue and providing ETA and availability. Please note the following while working on your next issue:
  - The issue should remain open until the PR has been merged. Infact, once the PR is merged the issue is closed automatically. So, I am going to reopen this issue now.

[2022-02-07 05:55] SAUMILDHANKAR commented on #2591
@frankstepanski: Please note the following items:
  - I have mentioned this in your good first issue as well, the issue should remain open until the PR is merged.
  - Request you to pick up only one issue at a time. Please do not pick up your next issue until your previous issue has been merged. This is really important and helps in managing our project board, keeping track of things and so on..

[2022-02-07 06:34] Garcia1416 commented on #2638
Progress: I need to start my first issue and a weekly report in the comment section.
    Blockers: No blockers
    Availability: I will have 4 hours to complete this task
    ETA: I expect to have this issue completed in 2 days
    Pictures: n/a

[2022-02-07 07:18] #2591 closed, assigned to frankstepanski

[2022-02-07 07:21] SAUMILDHANKAR commented on #2660
@frankstepanski This issue should remain open until you have provided a weekly progress report on any of your issue:
- [x] Weekly, please also provide an update on the issue
[code]
Feel free to check it off in the action items at the top and close the issue once you mark it complete. Reopening the issue for now.

[2022-02-07 07:30] SAUMILDHANKAR commented on #2409
During the team meeting, we decided to move this to Done as this issue is not related to the above comment.

[2022-02-07 07:54] SAUMILDHANKAR commented on #2010
### Agenda for February 8, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will follow up on adding notes to the "Post-meeting notes" section below.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members** (1-3 minutes)**
1. If we have new members present, brief introducti

[2022-02-07 17:54] JessicaLucindaCheng commented on #2010
@SAUMILDHANKAR Thanks for doing the Tuesday agenda! I apologize for not being clear about where the template is in this post https://github.com/hackforla/website/issues/2010#issue-952363728. I cleaned up the comment/post with the template so hopefully it's clearer now.

Also, I updated and edited your agenda for tomorrow (Feb 8, 2022) above.

For the Wins section, I put the wins in code formatting

[2022-02-07 18:00] zzhoje commented on #2037
Progress: Added indicators
Blockers: None
Availability: 8 hours
ETA: ready for 2/7 meeting

[2022-02-07 18:21] Aveline-art opened #2744 "Communities of Practice information updates: Engineering"
### Overview
We need to add information on the COP page so it is up to date.

### Action Items
- [x] Please make the following changes (Note: Find and add the complete links for GitHub handle and Slack IDs in the Engineering.yml file):
[code]
- [x] Make sure the changes are reflected in your repo

### Resources/Instructions
- Webpage where changes should be reflected: [Hackforla COP page](https://

[2022-02-07 20:03] JessicaLucindaCheng commented on #2689
@SAUMILDHANKAR I updated the templates in https://github.com/hackforla/website/issues/2689#issue-1105203766. I wasn't sure about some of the checklist items, so you will see comments next to some items; edit or remove my comments if you do know the answer. Feel free to make edits to the checklists.

[2022-02-07 21:10] #2081 closed, assigned to lindseyindev

[2022-02-07 21:19] JessicaLucindaCheng commented on #2690
- Progress: None yet
- Blockers: None
- Availability: 6 hours
- ETA: Tuesday, February 15, 2022

[2022-02-07 21:26] nasimbiglari opened #2745 "Update Project Profile: Design systems"
### Overview
As a product manager of Design systems I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/blob/gh-pages/_projects/design-systems.md

### Action Items

- [ ] Design systems team Leadership
   - [ ] Please check off everything

[2022-02-07 21:28] JessicaLucindaCheng commented on #2606
@IsaacDesigns
- It looks like this issue isn't quite ready for development. Let Saumil or me know when it is ready. Thanks.
- Also, should this issue be reopened since you moved it to the In progress column?

[2022-02-07 21:34] nasimbiglari commented on #2745
### Tools:
 Figma, Google docs, Zoom, Otter.ai

[2022-02-07 21:41] nasimbiglari commented on #2745
Meeting times are all correct.

[2022-02-07 21:46] JessicaLucindaCheng commented on #2397
I took over this issue from the original assignee (Anthony), who has left Hack for LA. I just wanted to let you know there are differences in Anthony's implementation compared to the Figma design on the technologies/languages dropdown on the Projects page:

- For the desktop version, the height of the dropdown is 380px for tablet and desktop views, which is a shorter height than 493px that was rec

[2022-02-07 22:19] JessicaLucindaCheng opened #2746 "Update the Web Developer wiki page"
### Overview
As a developer, I want the [Web Developer wiki page](https://github.com/hackforla/website/wiki/Web-Developer) to be up to date and an informative resource for developers interested in joining our team and for current developers on the team. For this issue, we will update the [Web Developer wiki page](https://github.com/hackforla/website/wiki/Web-Developer).

### Action Items
- [x] We

[2022-02-07 22:35] JessicaLucindaCheng commented on #2746
@ExperimentsInHonesty @Providence-o I normally wouldn't assign myself to an issue in the New Issue Approval column. However, since updating the Web Developer Wiki page was asked to be done ASAP during our Dev/PM meeting on [2022-Feb-05] (https://github.com/hackforla/website/issues/2607#issuecomment-1030273048), I have gone ahead and assigned myself and @SAUMILDHANKAR to this issue, so we can start

[2022-02-08 03:23] codessi opened #2747 "Pre-work Checklist: Developer: Johan Suh"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-08 03:47] usaboo opened #2748 "Pre-work Checklist: Developer: Utkarsh Saboo"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-08 03:52] ryantpham opened #2749 "Pre-work Checklist: Developer: Ryan Pham"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-08 04:09] SAUMILDHANKAR commented on #2523
@jqg123 Thanks for getting back to me on Slack. Please update your progress on #2557 as well. Thank you.

[2022-02-08 04:19] SAUMILDHANKAR commented on #2699
# FYIs Week of Feb 6-13, 2022

## Saumil (Technical Lead)
### PRs
  - [ ] https://github.com/hackforla/website/pull/2623 (Jessica will follow up)
  - [ ] https://github.com/hackforla/website/pull/2635 (Saumil will follow up)

### Weekly/periodically
  - [ ] Update tokens (Needs team discussion)
  - [ ] Create and update weekly responsibilities for technical lead
  - [ ] Issue creation (2): 2 hrs

[2022-02-08 05:33] JasonY188 opened #2750 "Pre-work Checklist: Developer: Jason Yee"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-08 09:31] Garcia1416 commented on #2659
Availability for this week: 4 hours
My estimated ETA for completing this issue: 1.5 weeks

[2022-02-08 18:06] Providence-o commented on #2698
Date: 2022-02-08
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 10
   - [x] size, ending at 26
   - [x] features, ending at

[2022-02-08 19:13] Providence-o commented on #2747
@codessi we have added you to the google calendar invites for the website team and the google drive. Please fill out the roster

[2022-02-08 19:18] Providence-o commented on #2748
@usaboo we have added you to the google calendar invites for the website team and the google drive. Please fill out the team roster (see link above). Reply to our comment when you are done so you can be added to the hack for LA website git hub team

[2022-02-08 19:20] Providence-o commented on #2749
@ryantpham we have added you to the google calendar invites for the website team and the google drive. Please fill out the team roster (see link above). Reply to our comment when you are done so you can be added to the hack for LA website git hub team

[2022-02-08 19:22] Providence-o commented on #2750
@JasonY188
we have added you to the google calendar invites for the website team and the google drive. Please fill out the team roster (see link above). Reply to our comment when you are done so you can be added to the hack for LA website GitHub team

[2022-02-08 19:25] JRHutson opened #2751 "Add condition to event sorting to group by project."
### Overview
Would like to update display of events so that team meetings from the same team appear together if they are at the same time.

### Details
Currently Home Unite Us has two meetings at the same time that alternate from week to week. The display order is separating them, so someone might not think to look for the second meeting. After sorting events by time, we need to add a sort by team

[2022-02-08 19:27] JRHutson commented on #2751
I do not have permission to edit issue labels in this repo.

[2022-02-08 19:51] ExperimentsInHonesty commented on #2212
- [ ] Research
      - [ ] [All Issues on board](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198227)
      - [ ] [All Issues on board with Ready for Milestones](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22+label%3A%22ready+for+milestone%22#column-7198227)

[2022-02-08 19:52] ExperimentsInHonesty commented on #2212
- [ ] Research
  - [ ] [All Issues on board](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198227)
  - [ ] [All Issues on board with Ready for Milestones](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22+label%3A%22ready+for+milestone%22#column-7198227)

[2022-02-08 20:04] Providence-o commented on #1797
## 2022-MM-DD Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-02-08 23:11] jqg123 commented on #2523
Done

[2022-02-09 00:14] Carlos-A-P opened #2753 "Pre-work Checklist: Developer: Carlos Perez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-09 01:36] ExperimentsInHonesty commented on #2699
@SAUMILDHANKAR @JessicaLucindaCheng Can you check on what is going on with the project pages?  Tons of extra space in the top section
It's a problem on all pages.

See https://www.hackforla.org/projects/open-community-survey

And here is an image from 311
![image](https://user-images.githubusercontent.com/37763229/153106216-d9d123c6-8b1a-425f-9931-2afaefa7879a.png)

[2022-02-09 01:47] ExperimentsInHonesty opened #2754 "Fix Project Profile page bug: Technologies not wrapping"
### Overview
We need the Technologies line to wrap the same way that the Languages does, so that it does not collide with the Description text

#### Details
All the project pages are controlled by one layout. Do not edit the code for a single project, but rather the layout page.

### Action Items
- [x] Review the Civic Tech Jobs project page
- [x] Review the 311-data project page
- [x] Figure out

[2022-02-09 01:52] ExperimentsInHonesty commented on #2699
@SAUMILDHANKAR @JessicaLucindaCheng I made a new issue, please review and update as necessary
- https://github.com/hackforla/website/issues/2754
I included a screen shot in there so you can see it, and here it is for quick reference

![image](https://user-images.githubusercontent.com/37763229/153107196-d6d868c8-1edd-4014-a779-01a43b434d71.png)

[2022-02-09 02:17] ExperimentsInHonesty commented on #2607
I added two items to the dev agenda since they seemed time sensitive
- https://github.com/hackforla/website/issues/2699#issuecomment-1033241006
- https://github.com/hackforla/website/issues/2699#issuecomment-1033250666

[2022-02-09 02:51] JessicaLucindaCheng commented on #2754
- Availability: 2 hours
- ETA: Today (February 8, 2022)

[2022-02-09 06:40] priyatalwar opened #2758 "Communities of Practice information updates: [PRODUCT MANAGEMENT Community of Practice]"
### Overview
As a member of Hack for LA, I want the information on the website to be accurate and up to date. For this issue, we will update the information for Project/Product Management section on the [Communities of Practice page](https://www.hackforla.org/communities-of-practice).

### Action Items
- [ ] In [_data/internal/communities/project-management.yml](https://github.com/hackforla/websit

[2022-02-09 06:41] JessicaLucindaCheng commented on #2397
Reopening this issue because it caused a bug as seen in issue #2754. Thus, pr #2757
reverts pr https://github.com/hackforla/website/pull/2724 and pr https://github.com/hackforla/website/pull/2672 to fix the issue with the technologies field not being wrapped on the detail project profile page. This was caused by `id="technologies"` being used by both the Languages/Technologies dropdown and the tec

[2022-02-09 06:57] JessicaLucindaCheng opened #2759 "DRAFT: Fix the Technologies field on the project information pages and the Languages/Technologies dropdown having the same id="technologies""
- Add details of what it currently looks like in the branch and what it all should look like when done
- Add link to how to work on feature branches and also instructions
- Put relevant page links

### Overview
As developers, we need to fix the bug in our code that messes up the formatting for the individual project information pages without impacting the Languages/Technologies dropdown. For this

[2022-02-09 07:29] JessicaLucindaCheng commented on #2754
- Progress: I figured out what was causing the problem. It was caused by `id="technologies"` being used by both the Languages/Technologies dropdown and the technologies field on the detail project profile page. PR #2757 will fix the issue by reverting the SCSS changes in the technologies dropdown that caused the problem. However, this is only a temporary fix and the issue with the `id="technologie

[2022-02-09 10:01] SAUMILDHANKAR commented on #2699
@ExperimentsInHonesty We have reverted the PR which seems to have been causing the issue on project pages as identified by Jessica. Project pages look fine now. Thanks for sharing the issue.

[2022-02-09 14:36] IsaacDesigns commented on #2616
@mccormackstudio great job so far on this issue. I see that you repeated "Running Hack for LA costs money" in the alt text of the donation chart. From a user experience point of view I don't see how changing it to that would provide any more valuable information to the user but rather be redundant. Can you revise it to maybe see what other alt text we can put to make it more valuable to the user.

[2022-02-09 15:24] JessicaLucindaCheng commented on #2754
Reopening this because the root of the problem with `id="technologies"` has not been addressed.

[2022-02-09 15:24] IsaacDesigns commented on #2190
Finished adding components to Design System. We will need to create an issue to add two more columns for Desktop, and Tablet context examples.

[2022-02-09 15:24] #2190 closed, assigned to IsaacDesigns

[2022-02-09 17:22] priyatalwar commented on #2758
It is not allowing me to change the role

[2022-02-09 18:43] ghost commented on #2589
Progress: Working on the interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: Going to brainstorm interview questions in today's UX research meeting and discuss the next steps.

Resource: https://docs.google.com/document/d/1Cy5VtGukJDCi0UMSjgIC5EFH54U3ssIeq_elayOhChc/edit

[2022-02-09 19:58] #2680 closed, assigned to sacamp

[2022-02-09 20:13] ExperimentsInHonesty commented on #2607
add this as fyi to next agenda
- Add "size: not counted" label to issues that closed because they are duplicate, or we are not going to work on them.

[2022-02-09 20:13] ExperimentsInHonesty commented on #2212
### FYI
- Add "size: not counted" label to issues that closed because they are duplicate, or we are not going to work on them.
- Add the size not counted label to the audit links

[2022-02-09 20:16] mccormackstudio commented on #2616
@IsaacDesigns Thank you for checking! I changed to "We need your support", hopefully helps, if not, I will keep thinking!

[2022-02-09 20:29] JasonY188 commented on #2428
Availability for this week:   W TH 7-8:30pm
My estimated ETA for completing this issue:  2-09-22

[2022-02-09 21:15] sacamp commented on #2498
### Meeting: 2/16/22

### Participants: Simone, Shruti, Jackie, Tammy, Dionne
### Things to discuss:
- [ ] Designate note taker for today's meeting
- [ ] Progress updates: working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22) if you are in need of a new issue to work on

### Meeting not

[2022-02-09 22:00] JessicaLucindaCheng opened #2760 "CONTRIBUTING.md: how to progress through issues according to complexity"
### Overview
As a developer on the team, I want to know how to progress through issues according to its complexity so I know what issue I am eligible to work on next. For this issue, we will update the CONTRIBUTING.md file with information about issue progression based on complexity.

### Action Items
- [x] Figure out where in [CONTRIBUTING.md section 2.1 Hack for LA Contributor expectations](http

[2022-02-09 22:47] summerharveyux commented on #2537
Progress: ready to present to design team on  2/10. link to edited slides: https://docs.google.com/presentation/d/1lFY4bGDYicZDIbj5CNxhiiNGNq479cOOj3-pbD_ifqM/edit?usp=sharing

next steps: present to design team on 2/10.

blockers: none

availability: 2 hours Wed night, 3 hours Thurs night

[2022-02-09 23:15] sacamp commented on #2561
issue has been completed and the spreadsheet can be found on the user research wiki page.

[2022-02-09 23:15] #2561 closed, assigned to nobody

[2022-02-10 06:16] luke-karis commented on #2243
Availability for this week: Thursday after 8pm, Friday after 4pm
My estimated ETA for completing this issue: not sure, I'm a little blocked right now but I'm going to look at this with fresh eyes on Thursday and if I'm still stuck I'll reach out to the channel.

[2022-02-10 08:33] SAUMILDHANKAR commented on #2728
@kevindphan Just wanted to confirm if there are any changes to links, partner, tools and status before adding a milestone on this issue. Please let us know. Thank you.

[2022-02-10 20:14] ghost commented on #2589
Progress: Finalized interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: Working with Simone to figure out an appointment with Bonnie for the stakeholder interview.

Resource: https://docs.google.com/document/d/1Cy5VtGukJDCi0UMSjgIC5EFH54U3ssIeq_elayOhChc/edit

[2022-02-10 20:32] JessicaLucindaCheng commented on #2699
# Agenda for Feb 10, 2022

## Prework to prep for the meeting

## Recurring items

## Items carried over from last meeting (things we didn't have time for)
- [x] #2642 - We need to make a decision on the two fields, so this can go forward. - keep content-type: image (and video) and standardized)

## New items

Jessica
- [x] To check and adjust #hfla-site-pr settings, click on "Manage reminder" in

[2022-02-10 22:11] #2428 closed, assigned to JasonY188

[2022-02-10 22:34] JessicaLucindaCheng commented on #2754
- Progress: Fixed the problem and opened a pr to address the issue
- Blockers: None
- Availability: Will update if changes are requested
- ETA: Will update if changes are requested

[2022-02-10 23:24] JessicaLucindaCheng commented on #2607
Add to next agenda:
- Clarification on whether new developers should move their own checklists from New Approval column to In Progress or if PMs want to do that in order to get introduced to new devs digitally (including removing Ready for Milestone labels and putting a milestone on the prework issues)
- For issue we are closing that are not worked on, we need to create labels, such as ignore: dup

[2022-02-11 00:39] IsaacDesigns commented on #2106
### **Meeting: 02/10/22**

**Participants:** Isaac, Jenna, Ida, Summer, Bonnie
**To Discuss:**
- [x] Last day for Isaac as team lead.
- [x] Summer will present the results of the home screen hero image preference tests.
- [x] [Designer Accountability check](https://github.com/hackforla/website/issues)
- [x] Bonnie will discuss next steps.
**Task Items:**
- [ ] Design team needs to figure out what

[2022-02-11 00:49] SAUMILDHANKAR commented on #2505
Progress: Identified an error in the response sheet, this might be related to the function insertLatestFormSubmitIntoReviewSheet. Will work on resolving this as similar function might be required for this issue.
Blockers: No blockers right now.
Availability: 3 hrs
ETA: 2/15/22

[2022-02-11 01:03] JessicaLucindaCheng commented on #2746
@SAUMILDHANKAR I have already updated with what I think should go in here but I wasn't sure whether some links under Getting Started should go under Other Helpful Resources (and vice versa): https://github.com/hackforla/website/wiki/Web-Developer

Also, I didn't add a line to contact Technical Leads if they have questions because the UX Researcher one doesn't include that and I couldn't figure out

[2022-02-11 01:43] ExperimentsInHonesty opened #2763 "Images of zooms for homepage"
### Overview
We need to preference test the hero section of the homepage in order to learn whether the in-person selfie that Bonnie provided in the hfla-site-ux Slack channel on 2/10 or the newly created image of stitched together Zoom meeting screenshots appeals most to potential and actual users of our site. We then can use these learnings to make a data-informed decision about which to move for

[2022-02-11 01:43] ExperimentsInHonesty commented on #2763
![image](https://user-images.githubusercontent.com/37763229/153525480-ba55499d-cc69-4d53-8be3-b378b7385cfe.png)

[2022-02-11 01:45] ExperimentsInHonesty commented on #2763
![image](https://user-images.githubusercontent.com/37763229/153525635-48526ae4-e648-4c5f-9512-93a153c8b06a.png)

[2022-02-11 02:40] Stephen-Parent commented on #2694
Progress: Redesigned with correct font size
Blockers: NA
Availability: NA
ETA: NA
Pictures:
![image](https://user-images.githubusercontent.com/94029486/153529643-be8cc2a4-cffd-49c6-ad89-6306e66ce4ff.png)

[2022-02-11 03:39] JessicaLucindaCheng opened #2764 "Update project cards to show Tools"
### Overview
As a developer, I want Tools to show up on the project cards on the [Projects page](https://www.hackforla.org/projects/) so that the information on the individual project info pages is the same as on the project cards.

### Action Items
- [x] See how the Tools field values are in the md files under `_projects` directory. (To find the md files with a Tools field, you will need to use t

[2022-02-11 03:51] JasonY188 commented on #2233
Availability - 2-15 2-17 7-8pm
ETA - 2-15

[2022-02-11 04:13] Carlos-A-P commented on #2661
Availability for this week: 4 hours
My estimated ETA for completing this issue: .5 weeks

[2022-02-11 07:15] lindseyindev commented on #2204
ETA: midnight 2/11
Availability: 3 hours

[2022-02-11 14:18] Rankazze commented on #2105
1. Progress:  This issue has been researched and findings have been commented above.
2. Blockers: None
3. Availability: N/A
4. ETA:  Completed
5. Pictures: N/A

[2022-02-11 14:21] Rankazze commented on #2105
@ExperimentsInHonesty   This issue can be moved to Done.

[2022-02-11 19:53] tamara-snyder commented on #2159
Progress: Requested access to the Google sheets document
Blockers: Awaiting access
Availability: Sunday evening and Tuesday, Thursday, and Friday mornings (EST)
ETA: Should have this done by the end of next week

Edit: I have access to the document now!

[2022-02-11 21:22] tamalatrinh commented on #2309
**Progress:** Was assigned issue 2 days ago (Feb 9)
**Blockers:** Waiting for/to discuss next steps at this week's Sunday 2/13 meeting

- intros/ where to find interviewees
- agreeing on interview questions

**Availability:** Next 2 weeks?  I created a calendly for 2/15 - 3/1 with openings Tues - Thurs.
Here's the live link: https://calendly.com/siteresearch/45?month=2022-02
**ETA:** Not sure sinc

[2022-02-11 22:56] SAUMILDHANKAR commented on #2689
#### Offboard R-Tomas-Gonzalez from Tech Lead
  - [x] 1password removal (Only Bonnie can do this)
    - [x] remove from team vaults
       - [x] hackforla.org website vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer in website drive
   - [x] remove from admin drive
- [x] Slack
    - [x] Remove from website-merge channel (Need admin access to remove)
- [x] Roster
  - [x] m

[2022-02-11 23:41] SAUMILDHANKAR commented on #2689
#### Onboard Jessica Cheng to Tech Lead
- [x] 1password (Only Bonnie can do these steps)
     - [x] invitation
     - [x] acceptance
     - [x] add to vaults
       - [x] hackforla.org website vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] Add to website drive as Manager
   - [x] Add to admin drive as Manager
   - [x] Update [on-call spreadsheet](https://docs.google.com/spreadsheets/d/1

[2022-02-12 00:28] JessicaLucindaCheng commented on #2607
## 2022-02-12 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-02-12 04:02] Carlos-A-P opened #2766 "Attend weekly team meetings:"

[2022-02-12 04:27] SAUMILDHANKAR commented on #2523
@jqg123 Once you have given a progress report on an issue (other than this issue), then you can check off the box above and close this issue. I understand this might happen when you are working on another issue which takes long time to complete. Until that time this issue should remain open, so I am reopening this issue. See the following section above

- [ ] Weekly, please also provide an update

[2022-02-12 14:52] Providence-o commented on #2212
## 2022-02-12 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [x] click on issue title
  - [x] review dependency in the side pannel to see if issue is closed
  - [x] if open, do no

[2022-02-12 15:04] Providence-o commented on #2698
Date: 2022-02-12
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 10
   - [x] size, ending at 27
   - [x] features, ending at

[2022-02-12 17:31] Providence-o commented on #2739
To confirm to Bonnie that all planned additions have been executed except:
Impact Page - to showcase the impact of our projects to potential partners and new volunteers and demonstrate how their work can make a difference.
Organizational Metrics Page - to help us analyze where and what our members are doing and how we can help them better
Roles- All available roles users can volunteer for and help

[2022-02-12 19:26] JessicaLucindaCheng commented on #2496
@jnmrles I am closing this pre-work checklist since I have not heard back from you. You can re-open this issue when you are ready to work on it again.

[2022-02-12 19:26] #2496 closed, assigned to jnmrles

[2022-02-12 20:03] JessicaLucindaCheng commented on #2392
@abuna1985 Since I haven't heard back from you and there has been no progress updates, I'm going to unassign you from this issue and move it back to the Prioritized Backlog.

[2022-02-12 20:29] SAUMILDHANKAR commented on #2746
@JessicaLucindaCheng Thanks for updating the page. I checked all the links, redirecting fine. Thank you.

[2022-02-12 20:36] JessicaLucindaCheng commented on #2683
@blulady Did you have questions about anything on this checklist? Let me know. Thanks.

[2022-02-12 20:57] JessicaLucindaCheng commented on #2746
@SAUMILDHANKAR The links redirected fine. That wasn't a problem. The problem for me was figuring out what content should be in the Getting Started section and which should be in the Other Helpful Resources section. Currently, I think we have too much in the Getting Started section, since it is geared towards people just starting out. When you are done editing it, let me know because I want to make

[2022-02-12 21:03] JessicaLucindaCheng commented on #2559
@Georgema20 I couldn't find your Slack id to contact you and I'm not sure if you saw my comment above: https://github.com/hackforla/website/issues/2559#issuecomment-1030663441

[2022-02-12 21:08] JessicaLucindaCheng commented on #2690
- Progress: Coding is done. Just need to open a PR for this issue.
- Blockers: I had to work on a different issue because there was a time-sensitive bug. So, I am waiting for that PR to be approved and merged before opening another one, so that I don't have multiple prs open.
- Availability: Will update later. Just waiting for the other pr to be approved and merged.
- ETA: As soon as the other pr

[2022-02-12 22:05] JessicaLucindaCheng opened #2768 "Contributing.md: stopping mid issue text update"
### Overview
As a developer, I want the [CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md) to have accurate instructions. In this issue, we will update a line in section [2.6.b What to do if you have to stop working mid issue](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#26b-what-to-do-if-you-have-to-stop-working-mid-issue).

### Action Item

[2022-02-12 22:14] JessicaLucindaCheng commented on #2768
@ExperimentsInHonesty @Providence-o In terms of wording, is this what we want to change [line 457 in the How to Contribute to Hack for LA document](https://github.com/hackforla/website/blob/ca3b53c3d4a5bdd0a4e0e413fe839e7862aef530/CONTRIBUTING.md?plain=1#L457) from
[code]
  to
[code]
  ?

[2022-02-12 22:55] JessicaLucindaCheng opened #2770 "DRAFT: Remove `alt-hero` line from project.md template in the Wiki"
### Overview
As a developer, I want to make sure our Wiki is up to date and accurate. For this issue, we will remove the `alt-hero` field in the [project.md file template](https://github.com/hackforla/website/wiki/project.md-file-template) in the Wiki.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. Howeve

[2022-02-12 23:25] SAUMILDHANKAR commented on #2699
Label to be checked by dev leads: https://github.com/hackforla/website/issues?q=is%3Aopen+is%3Aissue+label%3A%22Ready+for+dev+leads%22

[2022-02-13 01:28] blulady commented on #2683
Hey Jessica,
Thanks for reaching out. I do have questions.
1.The template is to go under the 'Provide Update' section of the checklist?
2. I didn't see the "To Update!" label but I did add "Status: Updated" to the labels on this issue. Did I understand the directions correctly?

[2022-02-13 01:48] Providence-o commented on #2212
## 2022-02-19 Agenda and notes for PM meetings

### Prework
- [x] #2698
- [x] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-02-13 01:58] SAUMILDHANKAR opened #2771 "DRAFT: Edit content field and remove type field from [INSERT FILE NAME HERE].yml file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-13 02:50] JessicaLucindaCheng commented on #2642
All action items are completed, so I'm closing this issue.

[2022-02-13 02:50] #2642 closed, assigned to SAUMILDHANKAR, JessicaLucindaCheng

[2022-02-13 03:07] JessicaLucindaCheng commented on #2027
### Agenda for February 13, 2022

- [x] Nominate a note-taker who will follow up adding notes to the "Notes from meeting section" at the bottom of this agenda

**Announcements**
  - [x] Will open the floor for any announcements
  - [x] Quickly go over reminders from Tue, Feb 8 meeting
    - [x] Remind everyone to update their forked gh-pages and merge their forked gh-pages into their topic branch.

[2022-02-13 03:25] theecrit opened #2773 "Pre-work Checklist: Developer: [Jess]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-13 06:09] jqg123 commented on #2528
I have no idea how to resolve the conflicts. Perhaps there were update while I was away? I have tried to update the website from upstream first before I submitted.

[2022-02-13 08:45] SAUMILDHANKAR opened #2775 "Edit content field and remove type field from yml credit files"
### Dependency
- [x] #2806
- [x] #2830
- [x] #2833
- [x] #2874
- [x] #2863
- [x] #2864
- [x] #2865
- [x] #2861
- [x] #2866
- [x] #2867
- [x] #2868
- [x] #2869
- [x] #2870
- [x] #2871
- [x] #2633
- [x] #2791
- [x] #2792
- [x] #2793
- [x] #2794
- [x] #2795
- [x] #2796
- [x] #2797
- [x] #2798
- [x] #2799
- [x] #2800
- [x] #2804
- [x] #2810
- [x] #2805
- [x] #2811
- [x] #2808
- [x] #2807
- [x] #2816
-

[2022-02-13 10:02] #2661 closed, assigned to Carlos-A-P

[2022-02-13 10:22] abenipa3 commented on #1630
# Update 2/13/22

Progress:

- Updated Guide Authors Section with the respective authors' names, social media links (LinkedIn and Github, if applicable), and their profile picture as seen in the preview.
- Been working on how to make the sticky navigation stick in a grid template.

<details><summary>  Preview </summary>

![screencapture-127-0-0-1-4000-guide-pages-how-to-set-reminders-in-slack-2022

[2022-02-13 10:42] SAUMILDHANKAR opened #2776 "Google Data Studio related error on Dashboard page"
### Overview
As a developer, I want to make sure that up-to-date data is reflected on the [Dashboard page](https://www.hackforla.org/dashboard/). For this issue, we will fix the error where data related to remote onboarding is not visible on the dashboard page.

### Action Items
- [x] Request [Google data studio](https://datastudio.google.com/reporting/16J9XI19pQejSDNFvjl_V3ZezJ502rM_a/page/qx6RB)

[2022-02-13 10:49] SAUMILDHANKAR opened #2777 "Audit for changing labels from size to complexity"
### Overview
As a developer, I would like to track the size of an issue in terms of number of hours. In order to achieve that, we need to perform an audit to identify where size labels are currently being used in automations or other files before changing it to complexity.

### Details
We are planning to edit the following labels:
- ```Size: Good second issue``` to ```Complexity: Good second issue

[2022-02-13 17:58] JessicaLucindaCheng commented on #1734
2022-02-13

### Prework

### Recurring Items
- [x] Review anything in the [Questions and Review](https://github.com/hackforla/website/projects/7#column-8178690) Column

### New Items
- [x] Follow up on issue #2773, onboarding pending.
- [x] Request feedback on epic issue #2775
- [x] For the [ignore labels](https://github.com/hackforla/website/labels?q=ignore), what color do you want them to be?

[2022-02-13 18:33] tamalatrinh commented on #2309
The calendly in the messaging document needs to be changed to the current calendly

[2022-02-13 18:36] tamalatrinh commented on #2309
update messaging with time options

[2022-02-13 18:50] BrianCodes33 commented on #2355
I'll be removing myself from the issue for the time being.

Here is the code I worked on and it works for desktop and mobile on the new Figma design for the product page header. If someone wants to cut and paste this code in correct files and work on fixing details (like tablet view), this is a good starting point for working on this issue as most of the layout is already done...make sure to match

[2022-02-13 18:55] SAUMILDHANKAR commented on #2773
Bonnie helped Jess from Open Oakland on 2/12 so she can model it for her own brigade.

[2022-02-13 19:44] SAUMILDHANKAR commented on #2699
docker-compose up times after deleting .jekyll-metadata and _site
Hiram Riddle 33 seconds
Jessica Cheng 60 seconds
utkarsh saboo 75 secs
Jason Yee 62 sec
Sarah S 52.94 sec
Carlos Perez 60s
Saumil 94.22 secs

[2022-02-13 20:13] JessicaLucindaCheng commented on #2607
Add to next meeting agenda:
- Can we include the dial-in information for Zoom meetings? Just in case someone drops off or has internet problems.

[2022-02-13 22:14] JessicaLucindaCheng commented on #2683
@blulady If you are referring to this GitHub Action comment: https://github.com/hackforla/website/issues/2683#issuecomment-1035937446
1) Please copy and paste the template in a new comment below and fill our your progress so far in terms of what items you still have left to do.
2) Usually you will see a "To Update!" label at the same time you get a GitHub Action comment asking for a progress updat

[2022-02-13 22:22] JessicaLucindaCheng commented on #2683
@blulady In the [checklist](https://github.com/hackforla/website/issues/2683#issue-1098615276), I unchecked two boxes: the initial availability and ETA, and the weekly progress report. This pre-work checklist should stay open until those are provided on an issue you assign yourself.

When you assign yourself to an issue, your initial availability for the week and ETA should be put on the issue in

[2022-02-14 01:57] JessicaLucindaCheng commented on #2642
Note about decisions made: For the [Credits yml file template](https://github.com/hackforla/website/wiki/Credits-yml-file-template), originally, it had both the `content` and `type` field, which seemed similar in terms of its use, and neither field was used in the code itself. Thus, we decided to remove the `type` field because only one of the fields is necessary if they contain the same informati

[2022-02-14 05:05] luke-karis commented on #2243
I have a blocker. I believe that I have made all the changes suggested in this ticket: downloading and copying the pdf into assets/pdfs and changing the overview link in the markdown file.

These changes can be found on this branch in my forked website repo [Update-youth-justive-nav-overview-link-2243
](https://github.com/luke-karis/website/tree/Update-youth-justive-nav-overview-link-2243)

The ov

[2022-02-14 22:11] summerharveyux commented on #2537
Progress: presented to the design team on 2/10. Bonnie was at this meeting, and we decided to prep materials for and subsequently run another preference test (see new issue: https://github.com/hackforla/website/issues/2763). this new preference test will be between two new images (if I understood correctly): an image Bonnie has from a pre-COVID, in-person meeting, and an image that will be created

[2022-02-14 22:11] #2537 closed, assigned to summerharveyux

[2022-02-14 22:21] summerharveyux commented on #2763
Progress: decided in design meeting on 2/10 that we'll prep materials for and subsequently run another preference test.

@ExperimentsInHonesty, am I recalling correctly that this next preference test will use an image you already have from pre-COVID? If so, can you please share that image? I'm not seeing it from our 2/10 meeting. And, I know the second image will be created of stitched together sc

[2022-02-14 22:33] Carlos-A-P commented on #2088
Availability for this week: 4 hrs
My estimated ETA for completing this issue: 2/17/22 Thursday

[2022-02-15 20:46] JessicaLucindaCheng commented on #2606
@ExperimentsInHonesty @IsaacDesigns @jenjen26 I know it was decided to go with design 3 at a Sunday meeting but I just checked the font size for the design 3 resource cards and it is 14px, which is too small according to the [note in the Typography section of the Design System](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3689%3A21144) and minimum legible font size

[2022-02-15 22:49] tamara-snyder commented on #2159
Progress: All tasks finished. I just need to create a pull request
Blockers: None
Availability: Thursday and Friday morning (EST)
ETA: Most likely by Thursday morning

[2022-02-15 23:03] SAUMILDHANKAR commented on #2746
@JessicaLucindaCheng I have made some changes to make the Getting Started section more concise. Please take a look. Thank you.

[2022-02-15 23:04] JessicaLucindaCheng commented on #2747
Closing this issue because Johan told me they won't be able to commit to Hack for LA.

[2022-02-15 23:04] #2747 closed, assigned to codessi

[2022-02-16 00:23] SAUMILDHANKAR commented on #2010
### Agenda for February 15, 2022

#### Meeting Start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

- **Returning members** (1-3 minutes)**
1. If we have new m

[2022-02-16 00:41] #2558 closed, assigned to lrobinson823

[2022-02-16 03:18] elizabethhonest opened #2781 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-02-16 03:51] answebdev opened #2782 "Pre-work Checklist: Developer: [Adolf Schmuck]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-16 03:52] Sparky-code opened #2783 "Pre-work Checklist: Developer: Devin Krizwold"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-16 03:52] 1anya1 opened #2784 "Pre-work Checklist: Developer: Anna Filatova"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add the "role: front end" or "role: back end" label*(s) to

[2022-02-16 07:11] abenipa3 commented on #1630
## Update 2/15/22

Reached out to our dev team for help regarding how to make the sticky nav stick.

Will find out how to apply JS to adjust the placement of the nav as suggested by our team.

I also found this [site](https://abouolia.github.io/sticky-sidebar/) that might help me as well.

![image](https://user-images.githubusercontent.com/38295612/154213967-c27d9240-a31e-489d-884f-e9b1de8f7228.pn

[2022-02-16 19:02] sacamp commented on #2679
Progress: Self-assigned the issue
Blockers: Need to acquire product roadmap (if any) to determine focus areas
Availability: 4+ hours
ETA: Wed. 2/23

[2022-02-16 19:05] sacamp commented on #2309
Hi @tamalatrinh, please remove the "2 weeks inactive" label after updating your issue. Thanks!

[2022-02-16 19:38] Sparky-code commented on #2430
Availability for this week: 4hr
ETA for this issue: 30min

[2022-02-16 20:47] Providence-o commented on #1797
Task
- Simone and Providence to work together to create roadmap for hfla website so that roadmap can be created for user research
https://github.com/hackforla/knowledgebase-content/issues/59
https://github.com/hackforla/VRMS/wiki/Join-the-Team

[2022-02-16 20:56] sacamp commented on #2763
@summerharveyux I believe the images are posted in the hfla-site-ux slack channel.

[2022-02-16 21:53] ghost commented on #2589
Progress: Finalized interview guide using archival material from the UX research folder.
Blockers: None
Availability: 6-7 hours
ETA: Working with Simone to figure out an appointment with Bonnie for the stakeholder interview.

Resource: https://docs.google.com/document/d/1Cy5VtGukJDCi0UMSjgIC5EFH54U3ssIeq_elayOhChc/edit

[2022-02-17 01:12] answebdev commented on #2429
1. Progress: Finished, submitted pull request
2. Blockers: None
3. Availability: 3 hours
4. ETA: 2/16/2022 (end of day)

[2022-02-17 05:48] Garcia1416 commented on #2442
Availability for this week: 6 hours
My estimated ETA for completing this issue: 1 week

[2022-02-17 10:56] #2437 closed, assigned to KazushiR

[2022-02-17 20:19] tamalatrinh commented on #2309
- Messaging has been updated with time option (highlighted in yellow)
       -New link to calendly has been updated

- Script draft has been updated
       -'passionate' changed to 'care deeply about'
- Demographic questions will only be shared with **individual** donors

Waiting for product to review:
1. [Messaging](https://docs.google.com/document/d/1JyzHMXfANykFkwLENiSQYb5yCV0LCIO0i3FA5odgFM0/e

[2022-02-17 22:00] iilashi commented on #2501
Progress: Ongoing
Blockers: Some pages are still WIP, cannot update until status is provided
Availability: A few hours a day
ETA: N/A

[2022-02-18 00:18] #2233 closed, assigned to JasonY188

[2022-02-18 00:26] JessicaLucindaCheng commented on #2659
@Gorck1416 It looks like you already are doing issue https://github.com/hackforla/website/issues/2442 and have an open pull request for it. You only need to do one good first issue. I will be unassigning you from this issue.

[2022-02-18 00:49] #2243 closed, assigned to luke-karis

[2022-02-18 01:19] #2430 closed, assigned to Sparky-code

[2022-02-18 03:38] #2088 closed, assigned to Carlos-A-P

[2022-02-18 03:39] SAUMILDHANKAR commented on #2528
I changed the size label to medium since scope of work involved now is greater than a small issue.

[2022-02-18 16:40] Garcia1416 commented on #2638
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
        I have submitted my first pull request. All I need to do is close this issue.
    2. Blockers: "Difficulties or errors encountered."
         No blockers.
    3. Availability: "How much time will you have this week to work on this issue?"
        I will have 6 hours to complete this i

[2022-02-18 22:50] #2442 closed, assigned to Garcia1416

[2022-02-18 22:53] JessicaLucindaCheng commented on #2676
- Progress: Didn't work on it this week but did a few times the within the last month
- Blockers: Finding time to work on this issue
- Availability: Not sure
- ETA: Not sure
- Pictures: none

[2022-02-19 01:08] JessicaLucindaCheng opened #2791 "Edit content field and remove type field from act.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:24] JessicaLucindaCheng opened #2792 "Edit content field and remove type field from agile.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:28] JessicaLucindaCheng opened #2793 "Edit content field and remove type field from avatar.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:33] JessicaLucindaCheng opened #2794 "Edit content field and remove type field from board.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:39] JessicaLucindaCheng opened #2795 "Edit content field and remove type field from book.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:45] JessicaLucindaCheng opened #2796 "Edit content field and remove type field from brochure.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 01:57] JessicaLucindaCheng opened #2797 "Edit content field and remove type field from building.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 02:04] JessicaLucindaCheng opened #2798 "Edit content field and remove type field from business.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 03:14] Carlos-A-P commented on #2086
Availability for this week: 6hrs
My estimated ETA for completing this issue: 1 week

[2022-02-19 05:37] #2429 closed, assigned to answebdev

[2022-02-19 06:40] SAUMILDHANKAR commented on #1498
@Johnnie007 Please share your weekly progress report. Thanks.

[2022-02-19 06:43] SAUMILDHANKAR commented on #2524
@Johnnie007 Please share your weekly progress report and then you can check off the item in the checklist above. Thanks.

[2022-02-19 06:50] SAUMILDHANKAR commented on #2238
@riddle015 Just wanted to follow up regarding your progress on this issue. Please let us know if you have any questions or need help. Thanks.

[2022-02-19 06:58] SAUMILDHANKAR commented on #2505
Progress: Didn't work on this issue last week. Made progress on the issue to fix the bug in 2 weeks inactive label.
Blockers: No blockers right now.
Availability: 3 hrs
ETA: 2/25/22

[2022-02-19 07:03] SAUMILDHANKAR commented on #2266
I am unassigning @blakes24 due to inactivity and moving the issue to prioritized backlog column so the pending items can be worked upon.

[2022-02-19 08:04] SAUMILDHANKAR commented on #2727
@luke-karis I am reopening this issue since the weekly progress report is still pending. Once you have done that in any of your issues, please feel free to check off the line item and close this issue. Thanks.
Provide Update on the following items weekly:
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-02-19 18:47] JessicaLucindaCheng commented on #2607
## 2022-02-19 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-02-19 19:34] JessicaLucindaCheng commented on #2391
@Georgema20 Did you need help or have questions? Also, please provide a weekly progress update in a comment below that includes the following:
[code]

[2022-02-19 19:46] JessicaLucindaCheng commented on #2638
@Gorck1416 I'm reopening this issue and unchecking the weekly update box because you haven't put a progress update in an issue you are working on (not including this pre-work issue). This weekly update should occur every week you are working on an issue.

- [ ] Weekly, please also provide an update on the issue
[code]

[2022-02-19 20:02] JessicaLucindaCheng opened #2799 "Edit content field and remove type field from button.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 20:11] JessicaLucindaCheng opened #2800 "Edit content field and remove type field from calendar-time.yml credits file"
### Prerequisite
1. Be a member of Hack for LA. (There are no fees to join.) If you have not joined yet, please follow the steps on our [Getting Started page](https://www.hackforla.org/getting-started).
2. Please make sure you have read our **[Hack for LA Contributing Guide](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md)** before you claim/start working on an issue.

### Overv

[2022-02-19 20:33] Providence-o commented on #2698
Date: 2022-02-19
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 10
   - [x] size, ending at 29
   - [x] features, ending at