[2022-05-04 23:35] ericvennemeyer commented on #3068
@JessicaLucindaCheng Sounds good, I'll post an update on Friday. At the moment, I don't think I have anything more to discuss, but will reach out on Slack if something comes up in the next two days. Thanks.

[2022-05-05 01:22] JessicaLucindaCheng commented on #3056
@ExperimentsInHonesty

I added Action Items for adding the Overview and its PDF in the issue above in order to make it clear for the developer that implements this issue.

[2022-05-05 01:43] JessicaLucindaCheng commented on #2061
@Sparky-code Sorry, I forgot to add a follow up comment here about the `page-card.md` file based on the discussion with Bonnie a few weeks ago. The `page-card.md` should not be part of this audit, so it can be removed from the spreadsheet.

Edit: Here is the decision record for it: [Maintaining the Design System webpages](https://github.com/hackforla/website/wiki/DR:-Maintaining-the-Design-System-

[2022-05-05 01:48] JessicaLucindaCheng commented on #2775
Progress: All the issues have been written and prioritized and a release dependency Action Item has been added to all the issues. All the issues are now ready to be worked on.
Blockers: None
Availability: 6 hours
ETA: Wed, May 4, 2022

[2022-05-05 03:55] JessicaLucindaCheng commented on #2027
### Agenda for May 8, 2022
Facilitator: Jessica Cheng

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Note-taker: Saumil

**Let's celebrate our contributions/wins since last team meeting**
- Adolf (answebdev ) answering questions, reviewed and m

[2022-05-05 17:45] RyanCahela commented on #2934
Hey @SAUMILDHANKAR sorry for the delayed reply, I'm going out of town today and I'll be back Wednesday. If you want to slack me the token I can work on the testing next Wednesday and if I run into any problems I'll join the Thursday office hours. Let me know if that would be the best way to send the token or if there is a better way you had in mind. Thanks!

[2022-05-05 20:06] ExperimentsInHonesty commented on #2361
#2601 has been updated as requested.  This issue is good to be marked as done.

[2022-05-05 20:16] #2936 closed, assigned to hangjoyce

[2022-05-05 20:18] ExperimentsInHonesty commented on #2936
@phuonguvan We need to make a new issue for copying The finished design
 from [Figma, Credits page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1074%3A0)

to the [Figma, Current Pages](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A0)

See [Figma Housekeeping, Current pages](https://github.com/hackforla/website/wiki/Figma-Hous

[2022-05-05 20:27] ExperimentsInHonesty commented on #3034
@gold-o Phu and I reviewed your questions, and you can remove all of the items you suggested
✔️can remove picture
✔️make all text 16 pt
✔️don’t have to have the 311 title
✔️can lengthen card

[2022-05-05 23:40] JessicaLucindaCheng commented on #3004
@PMKnight Please provide a progress update that includes Progress, Blockers, Availability, and ETA in a comment below. Also, let us know if you have questions or need clarification by reaching out to us on the #hfla-site Slack channel.

If we don't hear back from you by Thu, May 12, 2022, we will close your pre-work, un-assign you from #2909, and close your pr.

Edit: Sent an email and Slack messa

[2022-05-05 23:41] JessicaLucindaCheng commented on #2909
@PMKnight Please give a progress report in a comment in this issue that includes Progress, Blockers, Availability, and ETA. See more detailed information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue). If you are taking a leave of absence or a vacation, please also let us k

[2022-05-06 03:35] JessicaLucindaCheng commented on #2502
@jnmrles
- [ ] At the time you self-assign an issue, make sure to write in a comment the following:
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"
- [x] Also, please move this to the In Progress column. Edit: I moved this to In Progress because I think this got missed during our checks since it wasn't in the In

[2022-05-06 03:56] JessicaLucindaCheng commented on #2455
@answebdev Please give a progress report in a comment in this issue that includes Progress, Blockers, Availability, and ETA. See more detailed information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue).  If you are taking a leave of absence or a vacation, please also let us

[2022-05-06 04:15] JessicaLucindaCheng commented on #2892
@trishajjohnson Please give a progress report in a comment in this issue that includes Progress, Blockers, Availability, and ETA. See more detailed information in [section 2.5 Reporting progress on your issue in CONTRIBUTING.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue).  Also, if you are taking a leave of absence or a vacation, please

[2022-05-06 04:55] answebdev commented on #2455
Progress: Started addressing some of the feedback, e.g., adding the anchor links - all that's left is getting it to work with the nav items in separate `.yml` files as opposed to having all the navbar items in one `.yml` file.
Blockers: I was mostly trying get my Docker issue fixed, so I was not able to work on this navbar issue. As of now, my Docker is working, though I'm not sure how I got it to

[2022-05-06 07:34] Wny-Duong commented on #3053
Progress: I still have the small, medium, and large issues remaining. Every else is complete.
Blockers: My time availability has prevented me from getting a satisfactory amount of work done this week. My time availability should become more free in following week.
Availability: 8 hours this week and the next foreseeable weeks.
ETA: May 22nd, assuming at least one issue gets completed every week on

[2022-05-06 14:39] dionw412 commented on #2309
1. Progress: I have completed revising the research plan to target corporate donors. Will try to meet with Bonnie to discuss research plan
2. Blockers: N/A
3. I will work on this issue for 3 hours
4. ETA: I expect to complete this issue on 5/25/22
5. Pictures: None

[2022-05-06 15:47] trishajjohnson commented on #2892
Apologies, I got swallowed whole by some interviews/take-homes.

Progress: I need to push changes and create pull request to be reviewed/approved.
Blockers: None
Availability: 6hrs
ETA: pushed EOD 5/6, reviewed hopefully end of week
Pictures: None

[2022-05-06 17:05] trishajjohnson commented on #3049
Progress: All items are completed, just needs to be closed.
Blockers: None
Availability: 6hrs
ETA: End of week.
Pictures: None

[2022-05-06 17:06] trishajjohnson commented on #3049
@SAUMILDHANKAR may I close this issue now?

[2022-05-06 17:08] trishajjohnson commented on #2892
@JessicaLucindaCheng I have 2 questions: when fetching upstream, do I need to be in the issue branch or gh-pages branch? Also, when preparing to push changes to my fork, do I add/commit/push from the issue branch or gh-pages?

[2022-05-06 19:27] SAUMILDHANKAR commented on #2607
## May 7, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-05-06 21:33] SAUMILDHANKAR opened #3109 "Modifying GitHub actions for label change from size to level"
### Dependency
- [x] #2777

### Overview
As a developer, I would like to track the size of an issue in terms of number of hours. In order to achieve that, we need to modify GitHub action automations or other files before changing size labels to level.

### Details
We are planning to edit the following labels:
- ```Size: Good second issue``` to ```level: Good second issue```
- ```Size: Small``` to

[2022-05-06 22:12] SAUMILDHANKAR opened #3110 "Edit label info for the HFLA wiki and contributing.md file"
### Dependency
- [x] #3109

### Overview
We are in the process of renaming the "Size" labels to "Complexity" to better clarify the purpose of the label. For this issue, we will edit the [contributing.md](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md) file and the [How to read and interpret labels](https://github.com/hackforla/website/wiki/How-to-read-and-interpret-labels) wiki

[2022-05-06 22:43] JessicaLucindaCheng commented on #2699
# Agenda for May 6, 2022

## Prework to prep for the meeting
- [x] Check `label:"time sensitive"` in Prioritized Backlog.
  - [x] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [x] Check `la

[2022-05-06 23:43] JessicaLucindaCheng commented on #2892
@trishajjohnson

Answer: For fetching upstream, if you mean updating your repo, you would want to be in gh-pages

Answer: Your issue branch, which would be the branch you made for the issue you are working on.

[2022-05-06 23:55] JessicaLucindaCheng commented on #2964
Poorvi shared on 4/26/22 with @SAUMILDHANKAR, planning to take a break for 3 weeks.

[2022-05-06 23:57] JessicaLucindaCheng commented on #2746
Progress: 80% done. Need to remove anything that is repeated in the Getting Started section that is already in the pre-work. Also, need to move resources to a different Wiki page and link back to Web Developer page.
Blockers: None
Availability: Not sure
ETA: Hopefully, Saturday, May 14, 2021

[2022-05-06 23:58] JessicaLucindaCheng commented on #2722
Progress: Some of the issues related to the epic have been written. After I finalize the individual issue format in terms of dependencies, I may put this back into the prioritized backlog for someone else to work on.
Blockers: None
Availability: Not sure
ETA: Hopefully, May 14, 2022

[2022-05-07 00:20] ericvennemeyer commented on #3068
Hello @SAUMILDHANKAR @JessicaLucindaCheng! (Not sure if I need to tag you guys in each update, let me know if not.)

Cool news!

i. `Progress`: Because it seems unlikely the official Jekyll Docker maintainers will get to my issue anytime soon, I forked the whole repo and modified their Dockerfile to build a custom GH Pages image on my own computer. After some futzing, this eventually worked, and I

[2022-05-07 01:25] SAUMILDHANKAR opened #3111 "Update GitHub actions for issue creators not part of website-write team"
### Overview
We need to make sure that the GHA that adds a reminder to all new issues about adding missing labels is only activated by people who have write access to the repo, so that people don't get a reminder message that they can't comply with.

Example:  product mangers from other hack for LA teams open issues to ask for updates to their project card.  But they don't have write access to our

[2022-05-07 01:51] SAUMILDHANKAR opened #3112 "GHA: Sort pull requests to correct column"
### Dependency
- [x] #3265

### Overview

As a developer, we have to ensure that our Kanban board is organized for all teams so that productivity is high. For this issue, we are creating a GitHub action that will change the status-column of each Pull Request (PR) based on its review progress.

### Details
Currently, the following status-columns in our [Project Board](https://github.com/orgs/hackfo

[2022-05-07 15:46] SAUMILDHANKAR commented on #2701
@riddle015 Just a reminder to pick up your small issue next. Will leave a slack message as well. Thank you.

[2022-05-07 15:51] #2940 closed, assigned to maybleMyers

[2022-05-07 15:58] SAUMILDHANKAR commented on #2173
@1anya1 Just wanted to follow up on your progress update. Please let us know in a comment below. Thank you.

[2022-05-07 16:11] SAUMILDHANKAR commented on #2999
@RyanCahela I just noticed that you shared the weekly progress report using the following format:
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

in your pre-work issue and not on any of the other issues. Therefore, I am unchecking the corresponding action item. Once you have shared your weekly progress report on any other issue using the above format, please feel free to check off

[2022-05-07 16:20] SAUMILDHANKAR commented on #3004
@PMKnight Please let us know if you are still working on your assigned issue #2909. Thank you.
Note: Your issues will be closed if we don't hear back from you by May 12.

[2022-05-07 16:59] SAUMILDHANKAR commented on #2392
@A-BMT02 Please share your progress update. Also, let us know if you are planning to attend any of the team meetings next week so that our team meeting requirements can be satisfied which apply to all the members in the website team. Thank you.
Note: Will leave a slack message and email as well.

[2022-05-07 17:04] SAUMILDHANKAR commented on #3054
@alfredo-mejia Please let us know if you are still working on this issue or you availability has changed. Thank you.
Note: Will leave a slack message and email as well.

[2022-05-07 17:12] SAUMILDHANKAR commented on #3053
@Wny-Duong You can check off the action item about progressing through issues small, medium, large as it is just for your understanding and you are aware of it now. However, the weekly progress report which has to posted on an issue other than this prework issue using the following format:
Provide Update
1. Progress
2. Blockers
3. Availability
4. ETA

is still pending. Once you do that you can che

[2022-05-07 19:54] SAUMILDHANKAR commented on #3070
@JayBarbanel Hope you doing well. Great job finishing up with your first issue. However, I just noticed you haven't started working on your second issue next. Please pick up your good second issue and update this pre-work as you go accordingly. Thank you.

[2022-05-07 20:16] SAUMILDHANKAR commented on #3065
@Olanrewaju-Ak Just wanted to follow up and check if you were able to set up your Docker based on the discussion on slack. Please let us know if you have more questions. If your blocker is resolved now. you can go ahead and pick up your good first issue. Thanks.

[2022-05-07 20:22] #2985 closed, assigned to fernandoqueue

[2022-05-07 20:36] SAUMILDHANKAR commented on #2395
@poorvi4 Unassigning you from this issue because you have more than one issue assigned to you right now (not including prework issue). Thank you.
**Note:** One should not pick up a new issue until the PR for their previous issue has been merged.

[2022-05-07 20:57] SAUMILDHANKAR commented on #2221
@poorvi4 Unassigning you from this issue since you are on a break. Just to make sure this issue could be worked upon if someone is available in the meantime. Please feel free to pick it back up when you join back and if this issue is still available. Thank you.

[2022-05-07 21:44] JessicaLucindaCheng commented on #3068
@ericvennemeyer Thanks for all your hard work on this issue! You don't have to @ mention us every time you give a progress update. You only have to @ mention us if you have a question, want feedback, or want us to respond to something.

[2022-05-07 22:28] JessicaLucindaCheng commented on #2607
- [ ] lets talk about the developer guidance that is in our Figma getting started page.
  - [ ] Write issue to update it
  - [ ] Add it to prework

### Items for next week's agenda
- [ ] Make a vault for 2FA recovery codes

[2022-05-07 22:54] Wny-Duong commented on #3053
I didn't realize that I missed that checkbox. Thanks for reminding me, Saumil.

[2022-05-07 23:12] Wny-Duong commented on #2728
Availability: 5/7 - 5/8 (6 hours), 5/11 (2 hours)
ETA: Wednesday, 5/11

[2022-05-08 03:39] #2892 closed, assigned to trishajjohnson

[2022-05-08 04:29] ExperimentsInHonesty commented on #2464
@phuonguvan lets discuss this with @JessicaLucindaCheng to get us up to speed on this issue and determine if there are next steps for design.

[2022-05-08 04:47] ExperimentsInHonesty commented on #2927
~@JessicaLucindaCheng @SAUMILDHANKAR When I look at the current file, it seems like line 12 alt hero is still there.  The PR shows its removed.  But its still in the live file.  Am I misunderstanding something?~
nevermind.  When I clicked on the link above to go to the file, it took me to a file that no longer exists that still has that info.

[2022-05-08 04:50] #2927 closed, assigned to poorvi4

[2022-05-08 05:00] ExperimentsInHonesty commented on #2555
Hi Dev Team - Next steps is to make an issue to add the link to the privacy policy page to the bottom of the website.  Currently, the menu says
Credits | Site Map | Join Us
please change it to
Credits | Site Map | Privacy Policy | Join Us
and link Privacy Policy to https://www.hackforla.org/privacy-policy

[2022-05-08 13:16] harshitasao commented on #2592
Progress: Almost done.
Blockers: Have some doubts.
Availability: Monday (3pm-5pm) IST
ETA: As quickly as possible.

[2022-05-08 16:06] SAUMILDHANKAR commented on #3023
@KazushiR As per our last discussion, unassigning you from this issue so you could pick up a medium issue next which would be more in line with your issue progression. But if you feel like you have already done substantial amount of work for this issue and would like to finish it before moving on to the next issue, you can pick up this issue again instead and work on it. I will leave it up to you,

[2022-05-08 16:09] Olanrewaju-Ak commented on #3065
@SAUMILDHANKAR I have been able to resolve it. I will go ahead to work on my first issue. Thank you

[2022-05-08 17:57] cwvivianlin commented on #1789
-Progress: Presented at Sunday meeting on 5/8.

-Need to put put recommendations into the "Action Steps" template: https://docs.google.com/spreadsheets/d/1NjrbicVDyd8aTXfPXUAdlX2xg9F3Ez9VThj4EwG-ouw/edit#gid=0

-Bonnie suggested interviewing folks from Content, Data Science, Accessibility: We need to connect with the following people for your research [@Qiqi Zheng] [@Kiki](Accessibility) [@Karina

[2022-05-08 18:07] Sparky-code commented on #2061
Progress: Formatting and reviewing the instances of card elements.
Blockers: Take home for job is taking up a lot of my time
Availability: 2-3hrs this week + (as tbd)
ETA: Ongoing

[2022-05-08 18:34] Olanrewaju-Ak opened #3113 "In line 166, change the p tag to an appropriate h tag: website/pages/getting-started.html Line 166 in 96f02c4 <p class="getting-started-step-title-header">STEP 4: <strong>Choose a Role</strong></p>"

[2022-05-08 18:51] ExperimentsInHonesty commented on #2464
@phuonguvan please make a new issue to determine what to do on this:

Website has
the box at 280 width
And the SDG image at 120x120

Figma
the box at 318 width
And the SDG image at 88x88

Design to decide which of those is preferred.  If website is fine, then we leave as is, if website needs to change, then a new issue will be created.  Its quite possible that the text on the SDG icon is too small

[2022-05-08 19:46] ExperimentsInHonesty commented on #3031
@SAUMILDHANKAR please paste the emails here as well so we can easily follow along.

[2022-05-09 06:58] Sparky-code opened #3115 "Requirements Gathering for 'Suggest a Guide' Button Link on Toolkits Page"
### Dependency
- [ ] When we are ready to prioritize the toolkit again

### Overview
We need to gather requirements for developing how people on the toolkit page can suggest new guides so that we always have a queue of guides to work on and that we are responsive to the community's needs.

### Detail
The `Suggest a Guide` button on the page does not resolve (dev says there is no reference link, si

[2022-05-09 23:53] SAUMILDHANKAR commented on #2934
@RyanCahela Sounds good to me. Will share the token on slack, however, just wanted to check if we change the repo in [line 11](https://github.com/hackforla/website/blob/857d3161b00c01b73fe35318dcb248248d2093da/.github/workflows/github-data.yml#L11) to your personal repo and also create a test bot account with similar privileges as hackforlabot account, we can avoid sharing the token. Please let me

[2022-05-10 01:19] SAUMILDHANKAR commented on #2010
### Agenda for MAY 10, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Congratulations Wilny for getting your PR 3114 merged for a small issue
  - [x] Thanks Harshita for reviewing PR 3114 for a small issue
  - [x] Congratulations Olanrewaju for creating your first PR 3116 for a small issue
  - [

[2022-05-10 03:32] macho-catt commented on #3056
ETA: By next Monday
Availability: 3 hours
Progress: Just started
Blockers: None

[2022-05-10 11:13] phuonguvan opened #3117 "Redesign Citizen's Engagement's SDG sizes and related padding"
### Overview
We need to make sure that all text on the site is minimum 16pt, including text on the SDG icons, which will also require padding changes  to accommodate.

### Details
We need to make sure that the Website and the Figma design match for the Citizen Engagement page, so that the current website has the most up-to-date design decisions and that the Figma file is ready for future iteration

[2022-05-10 15:45] Sparky-code commented on #2728
avail: 5/10 - 1hr
ETA: EOD Tuesday 5/10

[2022-05-10 16:39] #2728 closed, assigned to Wny-Duong

[2022-05-10 21:28] phuonguvan commented on #3040
## 2022-05-10 Agenda

- [x] Review New issue #3117
- [ ] Ask questions about making new issue regarding #2361
- [x] Discuss the differences between the templates for development & design

[2022-05-10 22:14] ExperimentsInHonesty commented on #2601
This issue originated with my discussion with Isac about why we don't have multiple weights for fonts see this for example: https://github.com/hackforla/website/issues/1797#issuecomment-1001077278

While it is necessary to refine the design system fonts, its important to have an overall plan first.

[2022-05-10 22:57] summerharveyux commented on #2763
Progress: Finished analyzing the qual findings for Selfie hackforla/product-management#1 and creating the final slide deck. shared that slide deck with @sacamp , since I cannot attend the 5.11 UX meeting because of a UX interview

Blockers: None

Next steps:

Use however many Zoom screenshots we have by then (we have 8 as of 4.27, so that's definitely enough for the preference test), stitch them t

[2022-05-10 22:58] Sparky-code opened #3118 "Fix alignment and scaling of resource links"
### Overview

As developers, we want to ensure that the behavior of the page is consistent between content types and across all platforms. For this issue, we will fix the mobile alignment of the Resources cards on the  project details pages.

### Action Items
- [x] Explore an individual project page in mobile view to see the alignment issues.
- [x] Edit the [_project-page.scss](https://github.com/

[2022-05-11 00:29] SAUMILDHANKAR commented on #2400
ETA: 5/25/22
Availability: 2 hrs per week

[2022-05-11 01:27] SAUMILDHANKAR commented on #2699
# Agenda for MAY 10, 2022

## Prework to prep for the meeting
- [ ] Check `label:"time sensitive"` in Prioritized Backlog.
  - [ ] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [ ] Check `l

[2022-05-11 03:12] Richey24 opened #3119 "Mobile Responsiveness Rejoice"
### Overview

<details>
<summary>TITLE IMAGE </summary>
![image](https://user-images.githubusercontent.com/77212035/134111368-bc5dfa08-0dd3-47be-a0e2-a60c6a362bf7.png)
</details>

### Design:

- [X] Check the mobile responsiveness of this page (use your mobile to do it ;) )
- [X] If there is any bug/any inconsistency or problem, however small or large, edit this issue and list the bug with screens

[2022-05-11 03:15] Richey24 opened #3120 "Pre-work Checklist: Rejoice"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Meet with team lead to introduce you to the project, in

[2022-05-11 03:16] SAUMILDHANKAR commented on #3119
Closing this. Created by error.

[2022-05-11 03:16] #3119 closed

[2022-05-11 03:16] Richey24 opened #3121 "Pre-work Checklist: Developer Full Stack: Rejoice"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 03:21] juliansmith0 opened #3122 "Pre-work Checklist: Developer: Julian Smith"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 03:21] geedtd opened #3123 "Pre-work Checklist: Developer: Gerardo Cazares"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 03:21] mchavezm opened #3124 "Pre-work Checklist: Developer: Monica Chavez"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 03:22] alan-zambrano opened #3125 "Alan Zambrano"

[2022-05-11 03:23] #3125 closed

[2022-05-11 03:26] oliviaywangn opened #3126 "Pre-work Checklist: Developer: Olivia Wang"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 03:36] alan-zambrano opened #3127 "Pre-work Checklist: Developer: Alan Zambrano"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 04:23] SAUMILDHANKAR commented on #3120
Deleting the issue as created by error.

[2022-05-11 04:23] #3120 closed

[2022-05-11 13:17] ExperimentsInHonesty opened #3128 "Pre-work Checklist: Developer: Bonnie Wolfe"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-11 17:38] sacamp commented on #2679
Progress: Self-assigned the issue
Blockers: Need to acquire product roadmap (if any) to determine focus areas
Availability: 4+ hours

[2022-05-11 18:08] sacamp commented on #1797
## 2022-05-11 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-05-11 20:05] sacamp commented on #2498
### Meeting: 5/18/22

### Things to discuss:

- [ ] Research updates
   - [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+r

[2022-05-11 20:34] ExperimentsInHonesty commented on #3005
User Research methods:
- personas
- interviews
- surveys
- user testing of mockups
- usability testing of working product

Leading a team
Qualitative Analysis (Affinity mapping)
Quantitative Analysis
Accessibility standards

[2022-05-11 20:38] ExperimentsInHonesty commented on #3005
User Researcher and Research Lead

Statements
I feel comfortable :
1. Taking work and breaking it into smaller tasks so that multiple people can work on it
1. Organizing and Leading meetings
1. Googling examples when I don't have the answer
1. Reviewing content/examples from other teams (when provided) to replace a successful process
1. Creating Guidance for others after I have learned how to do s

[2022-05-11 20:51] ExperimentsInHonesty commented on #3005
Program Designer
Defining an overarching strategy for all the research (research roadmap)

Instructional Design
Making slides that teach people how to do the research methods for the specific tasks (ie., affinity mapping, coding, etc.)

[2022-05-11 21:25] SAUMILDHANKAR commented on #3031
@ExperimentsInHonesty GitHub support team has suggested to try out the new style project board which is in beta version. For the website team, it might not be the best step as we have a lot of issues and it might be very inconvenient if it doesn't go well. Should be tried out on a smaller project first. Look forward to your feedback on this. Below is the entire conversation I have had with the Git

[2022-05-11 23:27] JessicaLucindaCheng commented on #2901
@luke-karis Please provide a progress update with Progress, Blockers, Availability, and ETA

[2022-05-12 01:39] JessicaLucindaCheng opened #3129 "Footer menu: Add link to the Privacy Policy page"
### Overview
As a stakeholder, I want a link to the [Privacy Policy page](https://www.hackforla.org/privacy-policy) in the footer menu so that visitors to the website can navigate to our Privacy Policy.

### Action Items
- [ ] Add the link to the Privacy Policy page to the footer at the bottom of the website.
  - [ ] Currently, the footer shows:
[code]
    Please add the privacy policy link in the

[2022-05-12 01:48] JessicaLucindaCheng commented on #2555
@ExperimentsInHonesty

- I started issue #3129, which will address your request.

[2022-05-12 02:35] SAUMILDHANKAR commented on #2934
@RyanCahela Hi Ryan, another approach that came up during our tech lead meeting discussion was to create a PR without testing in your repo. Since, the change is minor (changing 'cfa' to 'codeforamerica') the risk is low, we can try it for a day and revert if required. Look forward to hearing from you.

[2022-05-12 06:34] SAUMILDHANKAR commented on #2607
## May 12, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-05-12 09:21] JessicaLucindaCheng opened #3130 "Add credits for images for redesigned homepage"
### Dependency
- [x] #3131
- [x] #3294
- [x] #3295
- [x] #3296
- [x] #3331
- [x] #3336
- [x] #3337
- [x] #3342
- [x] #3351
- [x] #3352
- [x] #3353
- [x] #3358
- [x] #3415
- [x] #3416
- [x] #3418
- [x] #3423
- [x] #3775

### Overview
We need to add credits for all new images used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

[2022-05-12 09:24] JessicaLucindaCheng commented on #2528
This issue will be broken down and implemented in this epic #3130 because
- Some of the credits exist on the feature branch but need some of the information changed because it has outdated/inaccurate info.
- Some credits need to be created from scratch but the image exists on the feature branch already.
- One credit needs to be created and needs an image added.
- It will make it easier to review e

[2022-05-12 09:24] #2528 closed, assigned to nobody

[2022-05-12 09:37] JessicaLucindaCheng opened #3131 "Edit credit for Discussion Teamwork image for redesigned homepage"
### Overview
We need to edit a credit for a new image used in the redesigned version of the homepage so that the [Credits page](https://www.hackforla.org/credits/) is up to date.

### Details
From the [Homepage Redesign Credits in Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=17951%3A122724), here is a screenshot of the credit's information for reference:
  <

[2022-05-12 15:28] SAUMILDHANKAR opened #3132 "Creating issues to update alt texts on Events page"
### Dependency
- [x] #3255
- [x] #3281
- [x] #3279
- [x] #3280
- [x] #3282
- [x] #3286
- [x] #3300
- [x] #3308
- [x] #3316
- [x] #3307
- [x] #3310
- [x] #3314
- [x] #3309
- [x] #3312
- [x] #3315
- [x] #3313
- [x] #3311
- [x] #3284
- [x] #3278
- [x] #3306

### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this epic, we will write issu

[2022-05-12 20:00] SAUMILDHANKAR opened #3133 "Our Events - Meetup Events - Onboarding"

[2022-05-12 20:02] #3133 closed

[2022-05-12 20:08] SAUMILDHANKAR commented on #3120
Deleting this issue as Rejoice is a developer and used the designer template by error.

[2022-05-12 21:05] ExperimentsInHonesty commented on #2607
Notes:
Ethan Strominger

[2022-05-12 21:55] ExperimentsInHonesty commented on #3031
Please pass this message along

Hi GitHub.

First let me say - I love  you!  Seriously!  I think I am your biggest fan.

I like the idea of the beta project boards.  But I don't think that you understand just how powerful your issue labels are.  Because if you did, you would not have made a tool that completely ignores what they can do and removed the ability to filter the board by them.

We will

[2022-05-12 21:58] ExperimentsInHonesty commented on #3031
Please pass this message along

Hi GitHub.

First let me say - I love  you!  Seriously!  I think I am your biggest fan.

I like the idea of the beta project boards.  But I don't think that you understand just how powerful your issue labels are.  Because if you did, you would not have made a tool that completely ignores what they can do and removed the ability to filter the board by them.

We will

[2022-05-12 22:09] ExperimentsInHonesty commented on #3031
We are interested, but right now the beta boards are only at the org level.  If we were part of the conversion scrip beta would it be available at the repo level?

When the script is used, does it move the issue from the current board to the new version or does it just add the project to the issue?  We would want to have it on both the old and the new, so that we could compare our experience.

As

[2022-05-12 22:09] answebdev commented on #2455
Progress: Redesign is done and working, but I need to get the nav items in separate `.yml` files as opposed to having all the navbar items in one `.yml` file. This is what I've been working on, but have been stuck on getting this to work.
Blockers: Getting the dropdown navbar items to work in separate `.yml` files. Have reached out for help and am currently waiting for feedback.
Availability: 6 ho

[2022-05-12 22:31] thomasdemoner opened #3135 "Update Project Profile: EXPUNGE ASSIST"
### Overview
As a product manager of EXPUNGE ASSIST I want my project's details to be up to date on the HackforLA website

### Project card
Insert url of your project card here before sending: https://github.com/hackforla/website/blob/gh-pages/_projects/expunge-assist.md

### Action Items

- [ ] EXPUNGE ASSIST Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and

[2022-05-12 22:45] thomasdemoner commented on #3135
### Team leadership: REMOVE ALL CURRENT and ADD:

- Name: Thomas Demoner
   - Github handle: @thomasdemoner
   - Role: Product Manager, Development
   - Slack ID: U02DFJ72V8Q

- Name: Valeriya Metla
   - Github handle: @ValeriyaMetla
   - Role: Product Manager, Research
   - Slack ID: U02NWJ2H8M6

- Name: Jamie Siu
   - Github handle: @jamiesiu
   - Role: Product Manager, Design
   - Slack ID: U03

[2022-05-13 07:08] abenipa3 commented on #1630
Progress: Finished standardizing components. Finalizing adjusting styling for sticky nav.
Blockers: N/A
Availability: 6 hours
ETA: ~~5/13/22~~ 5/17/22 (I was under the weather this past weekend. Updated ETA)

Next Steps:
- [x] Note what files were added to the HfLA repo.
- [x] Create a new issue on the next steps regarding sticky navigation.

<details> <summary> Preview </summary>

![screencapture

[2022-05-13 15:14] tamara-snyder commented on #2141
@Sparky-code @JessicaLucindaCheng Thank you both for your feedback on this doc! I've edited it based on your comments and left a clarification question for Devin. Would love to get a re-review when you get the chance.

[2022-05-13 23:26] ericvennemeyer commented on #3068
i. `Progress`: Looked a little into the possibility of creating an automated system to ensure the GH-Pages dependencies are up to date when a new image is built. Unfortunately, I think this could be complicated from a technical standpoint, and might also make Docker slightly more complicated for new volunteers to use. (In the past, the h4la site repo included its own dockerfile, and the pre-work i

[2022-05-14 16:26] SAUMILDHANKAR commented on #2934
Reopening this issue and moving it back to In-progress column as we are still testing if the code changes will work correctly and as expected in our main hackforla/gh-pages branch. Will revisit this issue in 2-3 days and close it if workflow run goes well or will revert the above PR as soon as an error is detected.

[2022-05-14 20:24] frankstepanski commented on #3059
Question: Just for clarification, am I just updating the [markdown file](https://github.com/hackforla/website/blob/gh-pages/_projects/green-earth-os.md)?

Availability for this week: Monday and Tuesday
My estimated ETA for completing this issue: Monday or Tuesday

[2022-05-15 05:36] JessicaLucindaCheng commented on #3115
@Sparky-code Please add this Issue to the Project Board. Thanks.

[2022-05-15 05:42] JessicaLucindaCheng commented on #2455
@answebdev Sorry for the delay in getting back to you about your blocker. Good job so far on your work on the navigation bar. Here are my suggestions:
- The yml files in `_data/navigation/navsub` have a position, menu, and submenu field. For example for our-work.yml,
[code]
  - The position will help order the menu items
  - The menu will be the main menu item
  - The submenu will contain the subm

[2022-05-15 05:55] JessicaLucindaCheng commented on #3059
@frankstepanski
- > Question: Just for clarification, am I just updating the [markdown file](https://github.com/hackforla/website/blob/gh-pages/_projects/green-earth-os.md)?

Answer: Yes
- In the future, if you have questions, a blocker, or need help, please post them in the hfla-site Slack channel or ask them during meeting time; otherwise, we may miss it.
- You have already completed a Small iss

[2022-05-15 06:08] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress as other tasks took priority, such as making more issues so we have enough.
Blockers: None
Availability: Maybe 2 hours for this
ETA: Hopefully, June 8, 2022

[2022-05-15 06:44] JessicaLucindaCheng commented on #2027
### Agenda for May 15, 2022
Facilitator: Jessica Cheng

- [x] Everyone introduce yourself
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well. Note-taker: Carlos

**Let's celebrate our contributions/wins since last team meeting**
- Jessica (JessicaLuc

[2022-05-15 16:13] cwvivianlin commented on #1789
Progress:
-Action steps spreadsheet created
-Reviewed above spreadsheet with Bonnie

Todo:
-Based on comments from Bonnie, create issues to implement action steps

Blocker:
-I need access to this doc to learn how to write issues:
https://docs.google.com/document/u/0/d/1wYWr7uJ7dZeBwAAgksP-50_GXtCBQIywiqq5F5wQA6U/edit

[2022-05-15 16:13] SAUMILDHANKAR commented on #3063
@matt-arofin Just noticed that you haven't checked off the action item corresponding to familiarizing with Figma. Please let us know if you have questions or need help. Will reopen this issue but feel free to close it once that is done.
Also, noticed that you haven't picked up your next issue and it has been a while now. Please let us know if you are still planning to pick your next good second is

[2022-05-15 16:22] SAUMILDHANKAR commented on #3121
@Richey24 Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:25] SAUMILDHANKAR commented on #3122
@juliansmith0 Hello Julian, my name is Saumil and I am one of the tech leads of the website team. Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:29] SAUMILDHANKAR commented on #3123
@geedtd Hello Gerardo, my name is Saumil and I am one of the tech leads of the website team. Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:31] SAUMILDHANKAR commented on #3124
@mchavezm Hello Monica, my name is Saumil and I am one of the tech leads of the website team. Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:32] SAUMILDHANKAR commented on #3126
@oliviaywangn Hello Olivia, my name is Saumil and I am one of the tech leads of the website team. Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:33] SAUMILDHANKAR commented on #3127
@alan-zambrano Hello Alan, my name is Saumil and I am one of the tech leads of the website team. Just wanted to follow up on your progress with this issue. Please check-off the above action items as you go along. Also, were you able to set up your dev environment? Feel free to post in our hfla-site slack channel if you have questions. Thank you.

[2022-05-15 16:34] cwvivianlin opened #3139 "Write a short copy describing Wins"
### Overview
Based on the Wins submission research findings, users are confused about what a Win is. Write a short copy of what a Win is for (a)[ the Wins page](https://www.hackforla.org/wins/) and (b) the first page of the[ Wins submission form](https://docs.google.com/forms/d/e/1FAIpQLSeTiFjtxKbYgrJHAdFUovXlE55BdwwUQ9NePOXRY2q-h-w1tg/viewform), to give users context.

User quote:
“It would be he

[2022-05-15 16:36] SAUMILDHANKAR commented on #3128
@ExperimentsInHonesty Hi Bonnie, just wanted to check if this issue needs to stay open. Please let me know. Thank you.

[2022-05-15 16:39] alan-zambrano commented on #3127
@SAUMILDHANKAR Hi, I wasn't sure who the team lead was, so I'm stuck on the second step. I'm supposed to be added to a Google Drive and be added to Zoom calendar invites.

[2022-05-15 16:50] cwvivianlin opened #3140 "Write copy explaining "brief overview" question on Wins form"
### Overview

Based on the Wins submission research findings, users are confused about what is expected in the "brief overview" question on p.4 of the Win submission form. Users would like word count suggestions, and additional guidelines on what we want them to write.

### Action Items

 - [ ] Review research presentation: https://docs.google.com/presentation/d/1RU80s0ep8azGb7V3IUQ3N-8dDmzQH7oV1n

[2022-05-15 16:53] phuonguvan opened #3141 "Pre-work Checklist: Designer: Emily Tat"
### Prerequisite
We are looking forward to having you on our team.  Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new designer on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Meet with team lead to introduce you to the project, in

[2022-05-15 17:02] cwvivianlin opened #3142 "Set up notification email to submitter once their Win is published"
### Overview

Based on user research, users would like to be notified via email once their win is published to the hfla website. They would like a link to their published win. The notification process needs to be setup. `

### Action Items

- [ ] Review research findings related to user preference for notification after their win is submitted.

https://docs.google.com/spreadsheets/d/1F4iiSmD0wFRZ4

[2022-05-15 17:45] cwvivianlin opened #3143 "Add editing feature for win submission form"
### Overview
Based on the Wins submission research findings, users would like an opportunity to edit their wins after they submit so they have more control over their submitted info.

### Action Items
- [ ] Review Wins research presentation deck: https://docs.google.com/presentation/d/1RU80s0ep8azGb7V3IUQ3N-8dDmzQH7oV1nn8q_peTUY/edit#slide=id.g125914bb1ac_0_275
<img width="915" alt="image" src="ht

[2022-05-15 18:46] Khadijahibidapo opened #3144 "Pre-work Checklist: Developer: Khadijat Ibidapo Idris"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-15 19:52] JessicaLucindaCheng commented on #2339
- Need to write issue for this: https://github.com/hackforla/website/pull/2977#issuecomment-1094341044

[2022-05-16 16:54] cwvivianlin opened #3145 "UX research results re: Win social media strategy"
### Dependency
- When we are ready to do social media, it will get added to the roadmap.  And then this issue can be prioritzed.

### Overview

Please reference UX research results re: Win social media strategy when HfLA decides to pick up social media

### Action Items

- [ ] Review Wins research wiki, especially regarding research question 3, "Do volunteers share HfLA content on social media, an

[2022-05-16 17:02] cwvivianlin commented on #1789
Progress:
-Action steps issues created
- #3139
- #3143
- #3140
- #3142
- #3145

Ticket complete!

[2022-05-16 17:02] #1789 closed, assigned to cwvivianlin

[2022-05-16 22:26] SAUMILDHANKAR commented on #3144
@Khadijahibidapo: As discussed in our team meeting yesterday, the labels haven't been updated on this issue yet. Please try adding them again. Also, please check off the action items as you make progress on this issue. Thanks.

[2022-05-16 22:38] SAUMILDHANKAR commented on #3121
@Richey24 I noticed that you have edited the title of this issue and added Full stack. Requesting you to revert it back to as it was before, for consistency. Also, please feel free to add both "role: front end" and "role: back end" to this issue. Thank you.

[2022-05-16 22:45] SAUMILDHANKAR commented on #2010
### Agenda for MAY 17, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Congratulations to all new members: Khadijah, Kaia, Seth, Lovepreet, Murtaza, Arpita for creating your pre-work issues.
  - [x] Thanks Mathew for creating a PR 3146 for a small issue.
  - [x] Thanks Tamara, Jaret for reviewing

[2022-05-16 22:57] summerharveyux commented on #2763
Progress: just stitched together the Zoom screenshots to compile the Zoom image to use in the 3rd preference test (out of anticipated 4 total tests). launched that 3rd preference test comparing the selfie without tongues sticking out, and the zoom image. launched it to a bunch of slack groups. will relaunch if needed, until we get N=115 :)

Blockers: None

Next steps:
 relaunch test if needed, unt

[2022-05-17 00:26] luke-karis commented on #2901
ETA and Availability Update:
ETA: 5/25
Availability: Monday, Tuesday 1-2 hours
Blockers: None

[2022-05-17 00:29] macho-catt commented on #3056
Status: Done and opened PR #3146
ETA: N/A
Availability: 3 hours
Progress: Done and opened PR #3146
Blockers: None

[2022-05-17 02:52] KBWells77 opened #3147 "Pre-work Checklist: Developer: Kaia"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 02:52] scorbz9 opened #3148 "Pre-work Checklist: Developer: Seth Corbett"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 02:52] loveshah751 opened #3149 "Pre-work Checklist: Developer: [Lovepreet]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 02:57] mmogri opened #3150 "Pre-work Checklist: Developer: Murtaza Mogri"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 03:05] arpitapandya opened #3151 "Pre-work Checklist: Developer: Arpita Pandya"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 03:13] arpitapandya opened #3152 "Pre-work Checklist: Arpita Pandya"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-17 06:03] trishajjohnson commented on #3084
Availability: 6hrs
ETA: EOD Thurs 5/19/22

[2022-05-17 17:53] Providence-o commented on #2212
## 2022-05-17 Agenda and notes for PM meetings

### Prework
- [ ] #2698
- [ ] Check the[ icebox column](https://github.com/hackforla/website/projects/7?card_filter_query=label%3Adependency#column-7198227) to make sure that none of the issues with Dependencies have been cleared
  - [ ] click on issue title
  - [ ] review dependency in the side pannel to see if issue is closed
  - [ ] if open, do no

[2022-05-17 18:00] Providence-o commented on #2698
Date: 2022-05-17
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at (open:      / closed:      )
   - [ ] size, ending at (open:

[2022-05-17 19:00] Providence-o commented on #3040
Add to next agenda:

- [x] discuss #3117 to explain how we (product) modified the content of this issue.

[2022-05-17 19:58] ExperimentsInHonesty commented on #2607
Saturday agenda
Talk about the dashboards
https://datastudio.google.com/reporting/fcde9ed3-f775-4fa1-b138-02da57e8db60/page/4WIsC/edit
https://datastudio.google.com/u/0/reporting/98d7a4a7-9092-44f9-937f-cd3cd2a9cd27/page/p_tovnbxkbuc

sheet
https://docs.google.com/spreadsheets/d/1OZFg3xgpH1gflQTUT7ImZlLW0Co3mvGt-jLTJhKRNk8/edit#gid=687489002

[2022-05-17 20:15] mxajPrice opened #3153 "Update Project Profile: Access the Data"
### Dependency
- [x] Access the Data needs to provide an updated pdf for the Overview
- [x] ACTION ITEMS IN THIS ISSUE ARE ADDRESSED IN #3447. When that issue is completed please reach out to the author of this issue, AJ Price, and get sign-off on User Acceptance

### Overview
As a product manager of Access the Data I want my project's details to be up to date on the HackforLA website

### Project

[2022-05-17 20:28] mxajPrice commented on #3153
Please DELETE:

- Partner (we currently do not have one)
- Links: Overview (this document is outdated)
- Tools: Sketch, phonecalls
- Resources: Overview
- Current Project Team: Sarah Nabelsi, Alyssa Bryant, Assel Abilova, Jeremy DeCarvalho, Malak Hmimy

Please ADD:

- Our [current logo](https://drive.google.com/file/d/1GVGG8ie6eRbQUjUj2aM9tyPGhhUTs91W/view?usp=sharing)
- Tools: Google Drive, GitHu

[2022-05-17 22:16] juliansmith0 commented on #3122
@SAUMILDHANKAR Hi Saumil! I'll be working more through this today. I do have a blocker on Step 1.6 of the Dev setup. I posted the error I'm receiving in the hfla-site channel on Slack (here: https://hackforla.slack.com/archives/C4UM52W93/p1652825159579999). I will copy here as well for ease of reference and in the mean time am jumping to other steps.

Here is the more detailed output from running

[2022-05-18 02:32] juliansmith0 commented on #3122
@SAUMILDHANKAR Scratch the above! Got a solution in Slack from Eric that worked.

That being said, for you and @JessicaLucindaCheng,  per 1.6.a in CONTRIBUTING.md: "NOTE: If it takes longer than 2 minutes to build your website using docker-compose up, please let the [technical leads](https://github.com/hackforla/website/wiki/Meet-the-Team) know about this and add your website build time in a comme

[2022-05-18 02:37] juliansmith0 commented on #1443
per 1.6.a in CONTRIBUTING.md: "NOTE: If it takes longer than 2 minutes to build your website using docker-compose up, please let the [technical leads](https://github.com/hackforla/website/wiki/Meet-the-Team) know about this and add your website build time in a comment to https://github.com/hackforla/website/issues/1443. Also, once you are part of the merge team, you can work on https://github.com/

[2022-05-18 03:14] Sparky-code opened #3154 "Pre-work Checklist: Developer: Devin Krizwold (TEST)"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-18 03:14] arpitapandya opened #3155 "Pre-work Checklist: Developer: Arpita Pandya"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-18 03:15] juliansmith0 commented on #2423
Availability for this week: 5 hours
My estimated ETA for completing this issue: Friday, May 20, 2022

[2022-05-18 03:17] Sparky-code opened #3156 "Pre-work Checklist: Developer: Dev (DEMO)"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-18 03:18] juliansmith0 commented on #3122
**How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?**

~2 hours 46 minutes (166 minutes) -- this not including onboarding and the meeting I attended Sunday.

[2022-05-18 03:24] #3155 closed, assigned to nobody

[2022-05-18 03:24] #3151 closed, assigned to nobody

[2022-05-18 03:31] arpitapandya opened #3157 "Add this issue to the Project Board under the Projects section (gear in right side panel)"

[2022-05-18 11:53] JessicaLucindaCheng commented on #3156
@Sparky-code When you open an issue and it is only for a demo,
- [ ] Please put the `Ignore: Demo` label. This lets PMs and technical leads know they don't need to check these issues and reduces their work.
- [ ] Also, if you are not going to use this issue again for a demo, please close it and put it in the Done column.

 Thanks.

[2022-05-18 11:58] JessicaLucindaCheng commented on #3154
@Sparky-code See my comment [here](https://github.com/hackforla/website/issues/3156#issuecomment-1129914347). However, you may want to use the `Ignore: Test` label instead of `Ignore: Demo` label depending on which label fits this issue better. Thanks.

[2022-05-18 14:22] #3154 closed, assigned to nobody

[2022-05-18 14:37] Sparky-code commented on #3156
@JessicaLucindaCheng Got it, sorry about that. meant to clean up after the meeting last night but got distracted.

[2022-05-18 14:37] #3156 closed, assigned to nobody

[2022-05-18 15:24] Sparky-code commented on #2061
Avail: 5hrs
ETA: Sunday 5/22

[2022-05-18 15:26] Sparky-code commented on #2141
@tamara-snyder Sounds great, I'll take a look in the timeframe below
Avail: 1-2hrs
ETA: 5/18-19 EOD

[2022-05-18 17:20] ghost commented on #2662
1. Progress: Analyzing and synthesizing data from previous interviews and internal stakeholder interviews on Miro.
2. Blockers: Need to discuss with the UX research lead how to approach the user persona because there are multiple kinds of 3. people who volunteer at HackforLA with different skill sets. Need more nuance in the persona or multiple volunteer personas.
3. Availability: 6-7 hours
4. ETA

[2022-05-18 18:19] sacamp commented on #3145
@cwvivianlin quick question, why was this placed in the icebox instead of new issue approval? Usually there is a dependency if an issue is in the icebox.

[2022-05-18 18:30] sherririllingux commented on #2974
I am currently working on some revisions of the Onboarding quiz. Should be done by the end of the week for review.

[2022-05-18 18:54] sacamp commented on #1797
## 2022-05-11 Agenda and Notes

### Prework to prep for meeting

### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-1523

[2022-05-18 22:19] scorbz9 commented on #2633
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
Answer: ~4.5 hours

[2022-05-18 23:29] answebdev commented on #2455
Progress: Updated `.yml` files for submenu navbar items (added "position", "menu", and "submenu" fields) to make it easier to iterate through main menu items; updated URLs for submenu items to the correct URLs
Blockers: Not yet, as I just started addressing what was in the feedback
Availability: 6 hours.
ETA: 5/25/2022

[2022-05-19 00:55] geedtd commented on #2796
Availability for this week: Available Thursday May 19th all day, 5-20 before 3PM, Sunday 5-22 All Day
My estimated ETA for completing this issue: I think I should have it done by end of day Thursday 5-19

[2022-05-19 00:57] geedtd commented on #3123
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

Ran into the jekyll issue and trade to troubleshoot that for about an hour, disregarding the jekyll-docker deployment issue it took 30 minutes for pre-work up to this point, and the 2 hour zoom on boarding.

[2022-05-19 03:48] geedtd commented on #3123
Provide Update
1. Progress: All done with my first issue, #2796
2. Blockers: None
3. Availability: Anytime before 3PM for the most part, not available on Saturday
4. ETA: Completed

[2022-05-19 20:15] Providence-o commented on #3040
- [ ] ask Bonnie about Miro- is it still relevant? And do we have login ?
- [ ] Adding Phu to 1password ?

[2022-05-19 20:40] frankstepanski commented on #3059
Sorry, broke my ankle Sunday night. I will get to this on Friday.
ETA: Friday

[2022-05-19 21:04] SAUMILDHANKAR commented on #1630
@alyssabenipayo Hope you are doing well. Just wanted to follow up on the next steps for this issue. Looks like we are almost there. Please let us know. Thank you.

[2022-05-19 21:14] cwvivianlin commented on #3139
@ExperimentsInHonesty @sacamp

Would love to get our writer on board for this! Who is our writer? Is the person active? Should be quick ticket to implement.

Thanks!

Vivian

[2022-05-19 23:19] ExperimentsInHonesty commented on #2607
- Please add prioritizing this to your agenda https://github.com/hackforla/website/issues/3135

[2022-05-20 01:28] abenipa3 commented on #1630
Hi Saumil. Thanks for following up with me. Absolutely - quick update: I finished my issue. I was going to post as soon as I create a pull request and gather my notes. (Notes include file locations related to the Guide Pages and references that would help when I create a new issue on the next steps.) Will update again tonight! Thanks again!

<details> <summary> Image Preview </summary>

Note: Plea

[2022-05-20 02:23] SAUMILDHANKAR commented on #3135
@thomasdemoner I have checked off GitHub, Slack links as well as technologies since they don't need an update. Hope that is fine. Thank you.

[2022-05-20 02:32] SAUMILDHANKAR commented on #2607
## May 28, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column

[2022-05-20 02:48] #2633 closed, assigned to scorbz9

[2022-05-20 03:01] alyssabenipayo commented on #1630
Notes for self - Will be modified

<details> <summary> Sticky Nav Bar Issue </summary>

Before Scrolling -
![image](https://user-images.githubusercontent.com/38295612/169441791-f2ace100-b244-44fc-a6c7-d7e004014506.png)

After Scrolling -
![image](https://user-images.githubusercontent.com/38295612/169441478-d8dc86d2-21d9-41f5-91c0-1b232adf82d2.png)

</details>

[2022-05-20 03:39] #2423 closed, assigned to juliansmith0

[2022-05-20 07:28] trishajjohnson commented on #3084
Progress: Just need to review and submit for pull request.
Blockers: None
Availability: 1hr
ETA: EOD 5/20/22
Pictures: None

[2022-05-20 13:55] Wny-Duong commented on #2554
Availability:  (05/20-05/22): 6 hours, (05/25-05/29): 10 hours
ETA: Sunday, 5/29.

[2022-05-20 16:05] #2796 closed, assigned to geedtd

[2022-05-20 16:18] tamara-snyder commented on #2141
@Sparky-code @JessicaLucindaCheng I believe I have resolved Devin's last comment. If you get a chance, a final review of the doc would be helpful. In the meantime, I can get to work writing the issues to make these fixes. Realistically, that will probably be done next week.

[2022-05-20 17:34] Sparky-code commented on #2141
@tamara-snyder looks great! Reads very clearly now. 👍

[2022-05-20 21:50] SAUMILDHANKAR commented on #2953
Moving the issue for reprioritization as per this [comment](https://github.com/hackforla/website/pull/3116#issuecomment-1126565335)

[2022-05-20 22:16] SAUMILDHANKAR commented on #2952
@riddle015 Thanks for picking up this issue. Please move it to In progress column. Also, please share your progress update. Thank you.

[2022-05-20 22:36] SAUMILDHANKAR commented on #1443
@juliansmith0 Thanks for adding your comment regarding the time taken to run `docker-compose up` for the first time. Just wanted to check if the long time taken was only for the first time or if the time improved considerably during your subsequent attempts to run `docker-compose up`. Please let us know. Thanks again for sharing.

[2022-05-20 22:42] SAUMILDHANKAR commented on #3148
@scorbz9 Please post the [time spent so far comment](https://github.com/hackforla/website/issues/2633#issuecomment-1130620460) in a comment below. Thank you.

[2022-05-20 22:57] SAUMILDHANKAR commented on #3031
Progress: Reached out to GitHub with the above suggested questions. Got a response that the engineering team is looking into it and will get back.
Blockers: No blockers
Availability: 1 hr
ETA: Depending on response from the support team. There should be an update by next week.

[2022-05-20 23:31] ericvennemeyer commented on #3068
i. `Progress:` Attended Ops team meeting Wednesday night. They were amenable to the idea of opening a Hack For LA account on Docker Hub and hosting a custom Docker image for the website team there, and also potentially to Ops volunteers maintaining the image. Details still need to be ironed out, but as a next step they requested I open an issue in the hackforla/ops repo and ultimately pitch the id

[2022-05-21 00:22] SAUMILDHANKAR commented on #2173
@1anya1 Please let us know if you are still working on this issue or your availability has changed. Will leave a slack message as well. Thank you.

[2022-05-21 00:27] SAUMILDHANKAR commented on #2400
Progress: Did preliminary research on CodeQL. Planning to start configuring in my own repo next week.
Blockers: No blockers
Availability: 1 hr
ETA: 5/30/22

[2022-05-21 15:10] #3105 closed, assigned to geedtd

[2022-05-21 22:27] Sparky-code commented on #2027
### Agenda for May 22nd, 2022
Facilitator: Devin Krizwold

- [ ] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Adolf (answebdev) reviewed 3163, 3158, 3134, 3162, merged 3163.
- Har

[2022-05-22 17:06] Olanrewaju-Ak commented on #2794
ETA: End of the day on 5/24
Availability: 1 hours

[2022-05-22 17:20] blulady commented on #3082
ETA: Thursday (5/26)
Availability: Thursday - Saturday (5/26 - 5/28)

[2022-05-22 17:25] Sparky-code commented on #2027
@Sparky-code next week's PR review demo

[2022-05-22 17:28] Carlos-A-P commented on #2955
Availability: 2 week
ETA: 6/01/2022

[2022-05-22 17:34] Sparky-code opened #3164 "Create a demo issue for Sunday meeting"
### Overview

Showcasing the templates for issue creation. Walk though to visualize the process.

### Action Items

- [ ] Doing the first goal that helps you understand the particulars of the isse
- [ ] do x see that y fails
- [ ] do z see that a fails
- [ ] document how that failure occurs
- [ ] propose a sulution

### Resources/Instructions

good

### Is there a dependency?

Yes

### If Yes, ple

[2022-05-22 17:43] sijiapitts commented on #3035
1. Progress: Completed the web version Hi-fi design, waiting for review. For the mobile version, I created 2 solutions for the problem "users should be able to view 2020 and 2019 achievements easily after they finish broswing the 2021 achievements", waiting for review.
2. Blockers: No blockers
3. Availability: 6 hours

[2022-05-22 18:39] answebdev commented on #2934
@SAUMILDHANKAR and I had a discussion and we went over the code, and we couldn't find anything that would be an issue because of the code changes. Since everything looks fine, we are closing this issue.

[2022-05-22 18:39] #2934 closed, assigned to RyanCahela

[2022-05-22 18:55] macho-catt commented on #3056
Status: Will do the changes requested in pr
ETA: by next Sun
Availability: 2 hours
Progress: need to update PR
Blockers: None

[2022-05-22 23:25] answebdev opened #3165 "GHA: Update 'getCommentContributors' Function"
### Overview
As a developer, I want to update the array comment for the `getCommentContributors` Function to make it more descriptive so that it is clearer and easier to understand.

### Details
Currently, the comment written is the same as the comment in the previous function, although the functions do not return the same thing.

### Action Items
- [x] Read and understand the code in the file [ge

[2022-05-22 23:38] answebdev opened #3166 "Update Array Comment for the 'constructContributorParams' Function"
### Overview
As a developer, I want to update the comment for the function and make it more descriptive so that it is clearer and easier to understand.

### Details
The function `constructContributorParams` that the comment is written for is actually just for the parameters and it does not fetch comment contributors for a given repo.

### Action Items
- [x] Read and understand the code in the file

[2022-05-23 00:58] #3164 closed, assigned to nobody

[2022-05-23 01:37] snigbehara opened #3167 "Pre-work Checklist: Developer: Snigdha"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-05-23 06:55] mmogri commented on #2797
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
2 hours

[2022-05-23 16:13] Sparky-code commented on #2625
Good Morning @scarter31191 Checking in on the status of this issue and if the "Status: Help Wanted" label was still relevant. Please include a comment with your availability and ETA in your reply, Thanks!

[2022-05-23 16:41] Sparky-code commented on #2061
Progress: None
Blockers: Available time
Avail: 3-4hrs
ETA: Ongoing

[2022-05-23 18:06] scorbz9 commented on #3148
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
Answer: ~4.5 hours

[2022-05-23 20:33] SAUMILDHANKAR commented on #2010
### Agenda for MAY 24, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Congratulations Murtaza for getting PR 3168 for your good first issue merged as well as creating another PR 3173 for a good second issue.
  - [x] Thank you Alyssa for creating a large issue 3170 for Guide pages.
  - [x] Thanks

[2022-05-23 20:53] mmogri commented on #2923
Availability: several hours
ETA: Friday, May 27

[2022-05-23 21:01] SAUMILDHANKAR commented on #2689
#### Onboard Jaret Balba to Merge Team
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation

[2022-05-23 21:22] abenipa3 opened #3170 "Guide Pages - Sticky Navigation Fix"
### Dependency
- [ ] Guides interface is relaunched.
- [x] https://github.com/hackforla/website/issues/1630

### Overview

As a developer, we need to make sure that our web page is visually appealing for people to view when visiting our website.   For this issue, we will correct issues found in the sticky navigation bar of the Redesigned Guide Pages.

### Action Items

- [ ] Correct the scroll in

[2022-05-23 21:44] SAUMILDHANKAR commented on #2964
@poorvi4 Hi Poorvi, hope you're doing well. Just wanted to follow up if you are planning to join back the website team now. Please let us know if you need more time. Thank you.

Reached out on slack and email as well on 5/28.

[2022-05-23 22:11] SAUMILDHANKAR commented on #3049
@trishajjohnson Hi Trisha, just a reminder, you can close this issue. Thank you.

[2022-05-24 00:22] SAUMILDHANKAR commented on #2699
# Agenda for MAY 24, 2022

## Prework to prep for the meeting
- [ ] Check `label:"time sensitive"` in Prioritized Backlog.
  - [ ] If any of them have been in the Prioritized Backlog (since it was initially prioritized) for a month or more, determine which of these issues need to be assigned to developers at the next meeting, such as any Project Profile updates or CoP update issues.
- [ ] Check `l

[2022-05-24 02:02] #2797 closed, assigned to mmogri

[2022-05-24 02:08] SAUMILDHANKAR commented on #3121
@Richey24 Hello Rejoice, hope you are doing well. Just wanted to follow up on your progress with this prework issue. Did you get your dev environment setup? Please check off the action items as you make progress and look forward to you picking up your good first issue. Thanks. (Will reach out on slack as well)

[2022-05-24 02:23] #2920 closed, assigned to scorbz9

[2022-05-24 02:23] #3157 closed

[2022-05-24 02:27] SAUMILDHANKAR commented on #3152
@arpitapandya Just wanted to follow up on your progress with this issue. Please check off the action items above as you go along. Also, please self assign this issue. Thank you.

[2022-05-24 02:35] scorbz9 commented on #3026
Hi @Pauljsyi! Just FYI I moved this one to the In progress column as you appear to still be currently assigned to it.

[2022-05-24 02:37] #2794 closed, assigned to Olanrewaju-Ak

[2022-05-24 03:05] SAUMILDHANKAR commented on #3153
Hello @mxajPrice, do you want any changes to be made to the technologies and description sections as well? Please let us know if changes are required. If not, please check off the corresponding action items above. Thank you.

[2022-05-24 03:13] SAUMILDHANKAR commented on #3149
Hello @loveshah751, my name is Saumil and I am one of the technical leads of the website team. Just wanted to follow up on your progress with this issue. Please let me know if you have questions or your availability has changed. Thank you.

[2022-05-24 04:10] juliansmith0 commented on #2921
Availability for this week: 6 hours
My estimated ETA for completing this issue: Thursday, May 26, 2022

[2022-05-24 05:42] harshitasao commented on #2592
Progress: not much progress.
Blockers: None.
Availability: Wednesday, Thursday, Friday 2 hours.
ETA: ASAP.

[2022-05-24 19:08] dionw412 commented on #2309
1. Progress: Updated [Research Plan to target corporate donors](https://docs.google.com/document/d/160-4HZmpLhLpVDsPmPg9Ivy3CZ9hn17xxJtZHGm4rXU/edit). Would like Bonnie to review for any questions
2. Blockers: None
3. Availablity: 1.5 -2 hours/ day (Tues, Wed, Thurs)
4. ETA: The issue should be completed by 5/25/22

[2022-05-25 01:22] JessicaLucindaCheng opened #3175 "Onboard & Offboard: Junior Developers"
### Overview
We need to have a checklist of items to do when a new developer onboards and offboards so that the process can be consistent and fast.

### Action Items
Each time you do an onboarding or offboarding session:
- [ ] Copy the relevant template (either onboard or offboard) into a new comment below.
- [ ] Depending on the template you are using, do one of the following:
  - [ ] For the onb

[2022-05-25 02:25] #3049 closed, assigned to trishajjohnson

[2022-05-25 14:40] #2921 closed, assigned to juliansmith0

[2022-05-25 19:21] Providence-o commented on #2212
Add to next agenda

### Task
- [ ] Create issue for design team to crate custom hfla website team backgrounds for zoom

- [ ] Ask design team (from research ) if they need user personas (for the different user groups)  and what they use them for and how they would use them and how it helps them in their work and if they helps them in their work. This is because they dont know what it is being crea

[2022-05-25 21:19] summerharveyux commented on #2763
Progress: only have 53 users, need 115. relaunching across all the slack groups to help get N=115 :)

Blockers: None

Next steps:
relaunch test if needed, until we get N=115. analyze and synthesize the quant and qual data.
After that, do a 4th and final preference test comparing the original hero image and the "winner" of the 3rd preference test, to quantify if/how much better the final image is t

[2022-05-26 00:33] kathrynsilvaconway commented on #2955
Hi Carlos, I am moving this over to the 'in progress' column for you.

[2022-05-26 00:41] kathrynsilvaconway commented on #1750
ETA: End of day on 6/08/2022
Availability: 6-10 hours.

[2022-05-26 11:45] mxajPrice commented on #3153
@SAUMILDHANKAR:

Description Update: See the updated description in this comment https://github.com/hackforla/website/issues/3153#issuecomment-1146298473
~Access the Data is an initiative aimed at identifying and addressing the areas where data literacy education within our communities is needed most. With government policies increasingly relying on data and data analysis, it becomes imperative to

[2022-05-26 18:08] ghost commented on #2662
1. Progress: Creating User Personas for Volunteers

2. Blockers: Need to understand who is going to use the personas. That will determine what kind of volunteer persona to create. What is the end goal? People who volunteer at HackforLA with different skill sets. Need more nuance in the persona or multiple volunteer personas.

3. Availability: 6-7 hours

4. ETA: Depending on the response from upcom

[2022-05-26 19:55] gregpawin commented on #3056
Updated Marie's title--no longer interested in being lead.

[2022-05-26 20:52] juliansmith0 commented on #2930
Availability for this week: 4.5 hours
My estimated ETA for completing this issue: Sunday, May 29, 2022

[2022-05-27 02:40] JessicaLucindaCheng commented on #2554
@Wny-Duong Here are the anchor links. These anchors may not all work since they may not all have been implemented yet. To check you can click on the links and see if they go to an anchor.
- [ ] Press is www.hackforla.org/about#news
- [ ] Volunteer with Us is www.hackforla.org/join#volunteer
- [ ] Partner with Us is www.hackforla.org/join#partner
- [ ] Advise Us is www.hackforla.org/join#advise
- [

[2022-05-27 12:52] #2928 closed, assigned to scorbz9

[2022-05-28 00:27] ericvennemeyer commented on #3068
i. `Progress`: Opened [new issue in Ops team repo](https://github.com/hackforla/ops/issues/28) to create decision record re: building and hosting a custom Docker image in a HFLA Docker Hub repo, and potentially having Ops volunteers maintain the code going forward. Began researching GitHub Actions as a possible means of automatically building and pushing that image when the code is updated. Also l

[2022-05-28 06:38] Wny-Duong commented on #2554
Update
1. Progress: Mobile footer is roughly implemented with working links and placeholder links where anchors haven't been added yet. The current work done matches the Desired Mobile Footer layout for most mobile screen resolutions except for very small ones (less than 360px in width) as this causes the social media icons to become formatted strangely. There's also some inconsistencies with how

[2022-05-28 07:20] SAUMILDHANKAR commented on #2701
@riddle015 Hi Hiram, jusr wanted to follow up on your pending action items above. You can check them off and close this issue if you are done with them. Also, please provide an update on #2952. Thank you.

[2022-05-28 07:25] SAUMILDHANKAR commented on #2999
@RyanCahela Hope you are doing well. Please feel free to pick up your next issue. Thanks.

[2022-05-28 07:37] #3004 closed, assigned to PMKnight

[2022-05-28 07:42] #3054 closed, assigned to alfredo-mejia

[2022-05-28 07:49] SAUMILDHANKAR commented on #3053
@Wny-Duong Great job in finishing up with all the action items in this issue. You can close this issue now. Thank you.

[2022-05-28 07:55] SAUMILDHANKAR commented on #3107
@JayBarbanel Please move this issue to the In-progress column. Also, please provide your ETA and availability. Thank you.

[2022-05-28 07:57] SAUMILDHANKAR commented on #3070
@JayBarbanel Just wanted to follow up on your progress with this prework issue. You can use #3107 to provide weekly progress update. Thank you.

[2022-05-28 08:04] SAUMILDHANKAR commented on #3065
@Olanrewaju-Ak I have unchecked your weekly progress report action item as you haven't posted an update using the format in any of your issues. Also, please pick up your good second issue next. Thank you.

[2022-05-28 08:07] SAUMILDHANKAR commented on #3059
@frankstepanski Sorry to hear about your accident. Hope you get well soon.

[2022-05-28 08:10] SAUMILDHANKAR commented on #3026
@Pauljsyi Please add your ETA and availability for this issue. Thank you.

[2022-05-28 08:15] SAUMILDHANKAR commented on #3063
@matt-arofin Planning to close this issue due to inactivity. Please let us know when your availability changes. Will leave a slack message and email as well. Thank you.

[2022-05-28 08:39] SAUMILDHANKAR commented on #3122
@juliansmith0 Reopening this issue as you haven't provided a weekly progress update using the format shared in the action item above. Once, you do that in any of your issues going forward, feel free to close this prework issue. Thanks.

[2022-05-28 08:45] SAUMILDHANKAR commented on #3123
@geedtd Reopening this issue as you haven't provided a weekly progress update using the format shared in the action item above (this should be done in an issue other than prework issue). Once, you do that in any of your issues going forward, feel free to close this prework issue. Thanks.

[2022-05-28 08:51] SAUMILDHANKAR commented on #3126
@oliviaywangn Hello Olivia, hope you are doing well. I just noticed you haven't finished setting up your dev environment yet. If you have any questions or need help, please feel free to post in our hfla-site slack channel. Thank you.

[2022-05-28 08:59] SAUMILDHANKAR commented on #3150
@mmogri Unchecked weekly progress update action item as you haven't provided a weekly progress update using the format shared in the action item above. Once, you do that in any of your issues going forward, feel free to check it off. Also request you to post time spent so far in a comment below, I noticed you have posted it in one of your issues. Thanks.

[2022-05-28 09:02] SAUMILDHANKAR commented on #3152
@arpitapandya Good job on making progress with your prework issue. Looks like your dev environment is all setup. Please pick up your good first issue next. Thank you.

[2022-05-28 09:03] SAUMILDHANKAR commented on #3127
@alan-zambrano Good job on making progress with your prework issue. Looks like your dev environment is all setup. Please pick up your good first issue next. Thank you.

[2022-05-28 18:02] #2084 closed, assigned to pattshreds

[2022-05-28 20:12] SAUMILDHANKAR commented on #3124
@mchavezm Hi Monica, looks like your dev environment is all setup. Great job! Please pick up your good first issue next. Thanks.

[2022-05-28 20:16] SAUMILDHANKAR commented on #3144
@Khadijahibidapo Thanks for adding the label. Just wanted to check if you have been able to setup your dev environment yet. Please post a comment in our hfla-site slack channel if you have any questions or need help. Thank you.

[2022-05-28 20:23] SAUMILDHANKAR commented on #3147
@KBWells77 Hope you are doing well. Just wanted to check if you have been able to setup your dev environment yet. Please post a comment in our hfla-site slack channel if you have any questions or need help. Thank you.

[2022-05-28 20:25] ExperimentsInHonesty commented on #2607
The donate header and the join us header are different heights from the top of the page.  Sup with that?

also it looks like there is an issue with a button on the toolkit Mobile page. Its too close
![40C3C460-DD06-4E9E-8647-E2C37204D503](https://user-images.githubusercontent.com/37763229/170842092-ac669fa6-9cbe-43ef-80ce-008057d10bb7.png)

[2022-05-28 20:27] ExperimentsInHonesty commented on #2802
~@Sparky-code did the issue that you raised [above](https://github.com/hackforla/website/issues/2802#issuecomment-1110506971) get made into an actual issue?  If yes, please put a link to it here~

Nevermind.  I found it https://github.com/hackforla/website/issues/3115

[2022-05-28 20:35] Providence-o commented on #2938
This is a duplicate of #2950

[2022-05-28 20:41] Providence-o commented on #1797
Add to next agenda

- People assigned to more than 1 issue
- [ ] https://github.com/hackforla/website/issues/assigned/dionw412
- Members not active (update pre-work in QA after discussion)
- [ ] https://github.com/hackforla/website/issues/assigned/ivicoded

[2022-05-28 20:43] ExperimentsInHonesty commented on #2391
@kathrynsilvaconway I noticed the menu carrots are different than our other menus.  Has this received design sign off?
<details>
<summary>Toolkit</summary>

![EB8D98B2-3DD5-46CA-A0B0-A7DDFC4D6B6B](https://user-images.githubusercontent.com/37763229/170842245-b8393adf-5189-42dc-92ad-396273452ba5.png)
</details>

<details>
<summary>Projects page</summary>

![2C754979-29B5-405D-915C-1BD8AF8908D7](http

[2022-05-28 20:47] Providence-o commented on #3040
Add to next agenda

- People assigned to more than 1 issue
- [ ] https://github.com/hackforla/website/issues/assigned/nathan944
- Members not active (update pre-work in QA after discussion)
- [ ] https://github.com/hackforla/website/issues/assigned/nathan944

[2022-05-28 20:48] ExperimentsInHonesty commented on #2607
reopened and added to review column
- https://github.com/hackforla/website/issues/2391#issuecomment-1140327068

[2022-05-28 21:03] mchavezm commented on #2798
Availability for this week: 3 hours
My estimated ETA for completing this issue: 5/31/22

[2022-05-28 21:06] mchavezm commented on #2798
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

3.5 hours

[2022-05-28 21:26] SAUMILDHANKAR commented on #2173
@1anya1 Planning to unassign you from this issue due to inactivity. Please let us know when your availability changes. Will send an email as well. Thanks.

[2022-05-28 21:27] ExperimentsInHonesty commented on #2715
@JRHutson please let us know if the changes we made match what you asked for by adding a comment to this issue.

[2022-05-28 21:34] ExperimentsInHonesty opened #3177 "Update Current Project Team section for the Website Team"
### Overview
As a member of the Hack for LA Website team, I want the information on the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website) to be up to date. For this issue, we will be updating the Current Project Team section of the [Hackforla.org Website project information page](https://www.hackforla.org/projects/website).

### Action Items
 In the leade

[2022-05-28 21:38] ExperimentsInHonesty commented on #3177
Hi @phuonguvan Please add your name and title as you want it to appear on the https://www.hackforla.org/projects/website page

[2022-05-28 21:39] ExperimentsInHonesty commented on #3040
Please review this issue and update, then you can remove the ready for design lead https://github.com/hackforla/website/issues/3177

[2022-05-28 21:44] ExperimentsInHonesty commented on #2607
This issue is closed, but I would like to discuss https://github.com/hackforla/website/issues/2751

[2022-05-28 22:17] ExperimentsInHonesty commented on #3148
Hi @scorbz9 - It looks like you have not been doing the initial acceptance text on the issues you are picking up (see https://github.com/hackforla/website/issues/2928 - p.s. good job getting it same day as assignment):
[code]

I read through the instruction above, and it was not clear that you need to do that.  So we will revise them.  Please add the acceptance text on the next issue you pick up.

[2022-05-28 22:21] ExperimentsInHonesty commented on #3150
@mmogri said in their good first issue: https://github.com/hackforla/website/issues/2797#issuecomment-1134256000

[2022-05-28 22:33] ExperimentsInHonesty commented on #3123
Hi @geedtd  - It looks like you have not been doing the initial acceptance text on the issues you are picking up after the good first issue:
[code]

I read through the instruction above, and it was not clear that you need to do that.  So we will revise them.  Please add the acceptance text on the issue you are on now:
https://github.com/hackforla/website/issues/3023

[2022-05-28 22:38] ExperimentsInHonesty commented on #3126
@oliviaywangn We did not hear from you last week after we reached out and its been 18 days since you joined the team, please write back as a comment on this issue
1. Progress: "What is the current status of your getting set up? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this

[2022-05-28 22:41] ExperimentsInHonesty commented on #3152
@arpitapandya We did not hear from you last week after we reached out and its been 12 days since you joined the team, please write back as a comment on this issue
1. Progress: "What is the current status of your getting set up? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this

[2022-05-28 23:06] #2802 closed, assigned to Carlos-A-P

[2022-05-28 23:15] poorvi4 commented on #2964
@SAUMILDHANKAR sorry for the late update however given my work schedule in the coming weeks , is it possible to take another 2-3 weeks off? If not, I understand. Sorry for any inconveniences and delays.

[2022-05-29 00:38] sherririllingux commented on #2974
Finishing up the revision that Bonnie and Simone suggested and will be sending link to Simone tonight.

[2022-05-29 01:41] JessicaLucindaCheng commented on #2027
### Agenda for May 29, 2022
Facilitator: Jessica Cheng

- [x] Nominate a note-taker who will take notes during the meeting. Note-taker: juliansmith0
  - [x] Please note the names of members present in the meeting as well.
  - [x] After the meeting, Slack message the Technical Leads with the notes.

**Let's celebrate our contributions/wins since last team meeting**
- Harshita (harshitasao) for revi

[2022-05-29 02:23] JessicaLucindaCheng commented on #2964
@poorvi4 Yeah, sure. Let us know when you are ready to join back.

[2022-05-29 02:31] JessicaLucindaCheng commented on #3124
@mchavezm said in https://github.com/hackforla/website/issues/2798#issuecomment-1140329672:

[2022-05-29 02:39] JessicaLucindaCheng commented on #2391
Leaving a note here to show you what I see on my Galaxy Note 9 using Firefox:
<details>
  <summary>Galaxy Note 9 using Firefox screenshot</summary>

  ![Screenshot_20220528-193610_Firefox.jpg](https://user-images.githubusercontent.com/31293603/170849639-b2c75171-ec92-4f1f-b994-d164ce28cb26.jpg)

</details>

[2022-05-29 04:12] JessicaLucindaCheng commented on #1850
We are no longer updating/maintaining the [Design System webpages](https://www.hackforla.org/design-system). Read [Maintaining the Design System webpages](https://github.com/hackforla/website/wiki/DR:-Maintaining-the-Design-System-webpages) for more info.

[2022-05-29 04:14] JessicaLucindaCheng commented on #1850
Unassigning Saumil and myself because we will both soon be leaving the team. No additional progress was made on this epic.

[2022-05-29 04:22] JessicaLucindaCheng commented on #2722
Progress: Some of the issues related to the epic have been written. After I finalize the individual issue format in terms of dependencies, I may put this back into the prioritized backlog for someone else to work on.
Blockers: None
Availability: Not sure
ETA: July 9, 2022

[2022-05-29 04:24] JessicaLucindaCheng commented on #2746
- Progress: 75% done. Still needs to be done:
  - [ ] Remove anything that is repeated in the Getting Started section that is already in the pre-work.
  - [ ] Move resources to a different Wiki page and link back to Web Developer page.
  - [ ] See if anything in [About the Website Development Team](https://github.com/hackforla/website/wiki/About-the-Website-Development-Team) is duplicated elsewher

[2022-05-29 04:32] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress as other tasks took priority, Also, any pages that have already been audited may have to re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Maybe 2 hours for this
ETA: Not sure

[2022-05-29 09:51] Olanrewaju-Ak commented on #2922
ETA: End of the day on 5/29
Availability: 1 hour

[2022-05-29 11:35] Olanrewaju-Ak commented on #3065
1. Progress: Worked on Good second issue #2922. pull request created
2. Blockers: none
3.Availability:
4. ETA: 30/5
5. Pictures: None

[2022-05-29 13:00] JessicaLucindaCheng commented on #2607
FYI: The repo now only allows Squash and Merge for PRs because it will help keep the commit history of the repo easier to read

[2022-05-29 15:40] JessicaLucindaCheng commented on #2699
Jessica's To Do List

# Create issues
- [ ] #2569
- [ ] Write an issue to update https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#v-after-pull-request-is-submittedmerged
- [ ] Write an issue to identify which VS Code plugin to use for future development -> spell check see issue #2401
- [ ] For Getting Started page, audit h tags to use title classes and remove existing font proper

[2022-05-29 17:11] oliviaywangn commented on #3126
Hi, I had issues opening up Docker and I messaged the slacker chat for help, but because I am on a windows 10 it was harder for people to help me. Jessica Cheng gave me this link (https://github.com/hackforla/website/wiki/Add-local-user-accounts-to-the-docker-users-group-on-Windows-10), but I could not find "Local Users and Groups" on my computer. I did not know when was the best time to ask for h

[2022-05-29 17:23] arpitapandya commented on #3152
@ExperimentsInHonesty @SAUMILDHANKAR I have picked Good first issue https://github.com/hackforla/website/issues/2878 and working on it. No blockers. I am expecting to complete before end of next week. I am available min 10hrs a week.

[2022-05-29 17:28] riddle015 commented on #2952
ETA: 5/30/2022
Availability: 3 hours

[2022-05-29 17:44] ExperimentsInHonesty commented on #2601
@nathan944 Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-05-29 18:39] ExperimentsInHonesty commented on #2401
@answebdev can you tell us what VScode plugin you used?

[2022-05-29 18:49] gold-o commented on #3034
**Progress:** I have completed the low-fi prototypes and the design lead and I had a voting session with the team to decide which prototype to develop into a hi-fi prototype. I am currently in the progess of developing the hi-fi prototype.
**Blockers:** I have to brainstorm ways to enlarge the SDG icon and fit it into the prototype in progress
**Availability:** 4-6 hours
**ETA:** By the 5th of Jun

[2022-05-29 18:53] nathan944 commented on #2601
1. Progress: So far I've been able to create the different variations for each title.  Right now, I still have to change and separate each variation by its class
2. Blockers: None
3. Availability: 20/hours
4. ETA: I'll have it ready for review for Wednesday's meeting (6/1/22), if everything is ok during review the issue should then be ready to be added to the design system, but for now I don't hav

[2022-05-29 18:56] answebdev commented on #2401
@ExperimentsInHonesty Are you talking about a plugin for finding spelling mistakes? If so, I do not use a plug-in for that. I used a Chrome Extension called [Spell Check](https://chrome.google.com/webstore/detail/spell-check/ofbiibdnnhllfldbglbhmiojndiepejl?u_producttype=chrome-extension-759435&u_country=us&funnel=esign&gclid=CjwKCAjwzt6LBhBeEiwAbPGOgWBYIwbWhghZ-uWgoMQS16y7t8pHC7kKXM0RQjeg27To0YlY

[2022-05-29 19:15] macho-catt commented on #3056
Status: Updated PR
ETA: n/a
Availability: 2 hours
Progress: updated PR
Blockers: None

[2022-05-29 19:20] SAUMILDHANKAR commented on #2607
Tasks for next meeting from devs:
- [ ] Reminder for Bonnie: The comment brought up by dev to Jessica: https://hackforla.slack.com/archives/C03J386UN64/p1653757013886009
- [ ] Can I give Ethan Strominger access to our Admin Google Drive to work on https://github.com/hackforla/website/issues/2978? I don't see Ethan (GitHub: ethanstrominger) as a member of Hack for LA. See: https://github.com/orgs/h

[2022-05-29 19:27] elizabethhonest opened #3180 "Review Needed - New Wins Form Submission"
A new wins form submission has just been created. Please navigate to the link below to review it.<br><br>- [Wins Submission Google Sheet](https://docs.google.com/spreadsheets/d/1fXmYrmNtrgdzkM_odGIRbSwdaea3yS0cTLCJUzZ6Sc0/edit#gid=1706218917)

[2022-05-29 23:32] KBWells77 commented on #3147
@SAUMILDHANKAR  Hi thank you for your comment, I was having some issues just with looking into which download options were best for my computer and such but I've been working on it today and have been able to move further, thanks.

[2022-05-30 00:39] SAUMILDHANKAR commented on #3063
Update: Heard back from Matthew on Slack. Would be updating availability later this week. Also, planning to pick up an issue next.

[2022-05-30 02:39] alan-zambrano commented on #2799
- Progress: Finished
- Blockers: None
- Availability: 3hrs
- ETA: Finished

[2022-05-30 02:42] alan-zambrano commented on #3127
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?: 15 hrs

[2022-05-30 02:43] alan-zambrano commented on #2799
Availability for this week: 3 hrs
My estimated ETA for completing this issue: Finished

[2022-05-30 14:35] ExperimentsInHonesty commented on #2212
@Providence-o please respond to Ivy.  She has messaged you a couple of times in the slack
![image](https://user-images.githubusercontent.com/37763229/171014220-8cdde3c0-3bd8-4ed1-952e-153564a0fdc3.png)

[2022-05-30 21:49] mmogri commented on #3150
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
2 hours

[2022-05-30 21:51] mmogri commented on #2923
1. Progress - completed; just updated PR to clarify no visual changes as requested
2. Blockers - waiting on final review
3. Availability - flexible this week
4. ETA - as soon as PR review is completed

[2022-05-30 22:39] JessicaLucindaCheng commented on #2909
Pulling this issue from the Prioritized Backlog until I can speak with the PM about it.

Edit: Spoke to PM about it and added a dependency.

[2022-05-31 04:31] JessicaLucindaCheng commented on #2141
@tamara-snyder Sorry for the delay in reviewing your write up again. Everything looks good now. The write up is clear and concise. Good job.

[2022-05-31 05:52] JessicaLucindaCheng commented on #3153
@mxajPrice
- Tools are any technologies or software used by the whole team, such as Figma and Google Docs.
- Technologies are any software or anything else used by only the developers on your team, such as  GitHub Pages, Google Apps Script, or GitHub Actions,. Also, technologies do **not** include any languages, such as Jupyter Notebook.

So, do you want any changes to be made to the technologies

[2022-05-31 06:45] JessicaLucindaCheng commented on #2699
## Thursday, May 26, 2022 Office Hours Attendance
- Carlos Perez
- Wilny Duong
- Eric Vennemeyer

[2022-05-31 17:57] #2799 closed, assigned to alan-zambrano

[2022-05-31 22:29] SAUMILDHANKAR commented on #3031
@ExperimentsInHonesty @JessicaLucindaCheng Below are the emails since our last discussion on May 19th. Engineering team has proposed to set up a call for help on migration.

Guy (GitHub Support)

May 31, 2022, 10:52 AM UTC

Hi Saumil,

Thanks for your patience while the engineering team have worked on this.

They have a few answers for you, and would also like to propose having a call with you.

Y

[2022-05-31 22:50] JessicaLucindaCheng commented on #2952
@riddle015 Please move this issue to the "In Progress" column.

Edit: I have gone ahead and moved it to the In Progress column this time. However, in the future, please remember to move the issue to the In Progress column at the time you self-assign an issue. Thanks.

[2022-05-31 23:05] SAUMILDHANKAR commented on #2010
### Agenda for MAY 31, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] **Let's celebrate our contributions/wins since last team meeting**
  - [x] Congratulations Arpita for creating PR 3185 for a good first issue.
  - [x] Thanks Tamara for adding yourself as a reviewer on PR 3185.
  - [x] Thanks Phu for creating a PR to update per-work template for designers.
  - [x] Co

[2022-06-01 00:34] luke-karis commented on #2901
ETA and Availability Update:
ETA: 6/7/22
Availability: Thursday, Friday, Saturday, Sunday, Monday, Tuesday 1-2 hours
Blockers: None

[2022-06-01 01:12] #3127 closed, assigned to alan-zambrano

[2022-06-01 01:32] #2878 closed, assigned to arpitapandya

[2022-06-01 01:48] answebdev commented on #2455
This message is to say that I'm going to be taking a week off starting today...I need to get a lot of things done for work.

[2022-06-01 01:55] #2923 closed, assigned to mmogri

[2022-06-01 03:13] MohamadAlsyouf opened #3186 "Pre-work Checklist: Developer: Mohamad Alsyouf"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-06-01 03:13] angietechcafe opened #3187 "Pre-work Checklist: Developer: Angela Saccone"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-06-01 03:14] DonaldBrower opened #3188 "Pre-work Checklist: Developer: Don"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-06-01 03:25] juliansmith0 commented on #2172
Availability for this week: 5 hours
My estimated ETA for completing this issue: Sunday, June 5, 2022

[2022-06-01 03:31] JessicaLucindaCheng commented on #3082
@blulady Please move this issue into the "In Progress" column

Edit: I have gone ahead and moved it to the In Progress column this time. However, in the future, please remember to move the issue to the In Progress column at the time you self-assign an issue. Thanks.

[2022-06-01 03:39] a-sana opened #3189 "Pre-work Checklist: Developer: [Sana Ahmed]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-06-01 03:58] RobenusW opened #3190 "Pre-work Checklist: Developer: Robenus Waktole"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack cha

[2022-06-01 04:17] oliviaywangn commented on #2800
Availability: 5 hours
ETA: 2 weeks

[2022-06-01 08:06] phuonguvan opened #3191 "Designing a virtual Zoom background"
### Overview
When we present our organization to stakeholders and interviewers, we need a professional and dynamic Zoom background that represents HFLA.

### Action Items
- [x] Brainstorm ideas for designs
- [x] Review ideas with the design lead
- [ ] Design low-fi prototypes of the Zoom background
- [ ] Review low-fi designs with the design and product lead
- [x] Design hi-fi prototypes of the ba

[2022-06-01 22:00] mmogri commented on #2777
Progress: just self-assigned
Blockers: TBD
Availability: 2 hrs for the rest of this week
ETA: 06/15/2022

[2022-06-01 22:57] JessicaLucindaCheng commented on #2689
#### Onboard Tamara Snyder to Tech Lead
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [ ] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [ ] Invitation

[2022-06-01 23:30] nathan944 commented on #2601
Progress: I finished the draft of the new text style typography, which meant separating the classes and variations as discussed in the last meeting. Currently, we need to review it with the whole team to see if they approve of it and whether the developers believe they can implement it.
Blockers: None
Availability: 9 hours this week
ETA: If the team approves everything on Sunday (6/5/22) then I'll

[2022-06-01 23:51] abenipa3 commented on #1630
Progress: Pull request is under review.
Blockers: N/A
Availability: N/A
ETA: N/A

[2022-06-02 02:31] Carlos-A-P commented on #2955
1. Progress - Currently still learning how to approach this issue while I'm learning more about GitHub actions
2. Blockers - no blockers at the moment
3. Availability - 1 week
4. ETA - 6/8/2022

[2022-06-02 08:38] JessicaLucindaCheng commented on #2699
@JessicaLucindaCheng Write wiki page with definitions for tools, technologies, and languages and link to project profile template

[2022-06-02 19:26] mxajPrice commented on #3153
ADD Technologies:

- CKAN

Thank you!

[2022-06-02 20:07] ExperimentsInHonesty commented on #2958
This issue can be closed.  The current footer in [figma, footer page](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3417%3A3) says
#### Join Us
- Donate
- Advise Us
- Volunteer with Us
- Partner with Us
- Submit your Pitch

[2022-06-02 20:07] #2958 closed, assigned to nobody

[2022-06-02 21:08] JessicaLucindaCheng commented on #3153
@mxajPrice I added the GitHub profile links for team members you want added by editing your comment here: https://github.com/hackforla/website/issues/3153#issuecomment-1129288007.
  - I couldn't find Judson Lester's GitHub profile. Could you add their GitHub profile link?
  - Also, could you double check those profile links are to the correct GitHub profiles?

Thanks.

[2022-06-02 21:41] JessicaLucindaCheng commented on #2699
Notes for updating the template:

# Agenda for MMM DD, YYYY

## Prework to prep for the meeting
**Must do:**
- [ ] Check the bottom of the Prioritized Backlog for any developer issues (`label:"role: front end"`, `label:"role: back end/devOps"`, `label:"role: dev leads"`) that are miss prioritized and reprioritize them.
- [ ] Check New Issue Approval for the following labels:
  - [ ] `label:"role:

[2022-06-02 22:15] JessicaLucindaCheng commented on #1842
These were the dev issues:
- https://github.com/hackforla/website/issues/2396
- https://github.com/hackforla/website/issues/2417

[2022-06-02 22:20] JessicaLucindaCheng commented on #2570
@SAUMILDHANKAR I see you have commented https://github.com/hackforla/website/issues/2570#issuecomment-1116975337 that you already wrote the issue. After you commented with the issue(s) you made, please remove the `ready for dev leads` label so we don't spend extra time checking issues that already have been followed up by a dev lead.

I will remove the label this time.

[2022-06-02 23:43] JessicaLucindaCheng commented on #1723
Duplicate of https://github.com/hackforla/website/issues/1498

[2022-06-03 00:08] JessicaLucindaCheng commented on #1562
Since devs will be making follow up issue(s) for https://github.com/hackforla/website/issues/2572 and the alt text should actually be `alt=""`, I am closing this issue since it will become a duplicate.

[2022-06-03 00:08] #1562 closed, assigned to nobody

[2022-06-03 00:08] JessicaLucindaCheng commented on #1563
Since devs will be making follow up issue(s) for https://github.com/hackforla/website/issues/2572 and the alt text should actually be `alt=""`, I am closing this issue since it will become a duplicate.

[2022-06-03 00:08] #1563 closed, assigned to nobody

[2022-06-03 00:11] JessicaLucindaCheng commented on #1566
Since devs will be making follow up issue(s) for https://github.com/hackforla/website/issues/2572 and the alt text should actually be `alt=""`, I am closing this issue since it will become a duplicate.

[2022-06-03 00:12] #1566 closed, assigned to nobody

[2022-06-03 00:36] JessicaLucindaCheng commented on #3143
Added a `ready for dev lead` label because this issue needs to be reviewed and edited by a dev lead before a `ready for milestone` label is added to it.

[2022-06-03 01:11] tamara-snyder commented on #2689
#### Onboard Kathryn Silva Conway to Merge Team
- [x] If you are onboarding a tech lead or merge team member, please set up a 1 hour time slot to meet with them so that you can go through this checklist with them, and add them to and tell them about everything they are gaining access to.
- [x] 1password (Only Bonnie/Admin can do these steps and this should only be set up for tech leads)
  - [x] In

[2022-06-03 01:56] JessicaLucindaCheng commented on #2689
@SAUMILDHANKAR We need to update this. @JessicaLucindaCheng  will update it.
- [x] Update instructions for the change log and clarify it
- [x] Update "Add name" update so it says add name and role
- [x] Add action item to copy paste template and click Comment button before checking off items
- [x] Template
  - [x] Explain update on-call spreadsheet and specify what to update. Also, add link in-lin

[2022-06-03 02:06] mchavezm commented on #2798
Update
1. Progress - I completed the work and created a pull request for this task.
2. Blockers - I wanted to review with the team but couldn't access the office hours 6/2/22, the link in the slack channel wasn't working for me.
3. Availability - 4 hours
4. ETA - PR is open (6/5/22)

[2022-06-03 04:51] JessicaLucindaCheng commented on #2481
DR made for this decision: [DR: Capitalization of menu items in nav bar and header](https://github.com/hackforla/website/wiki/DR:-Capitalization-of-menu-items-in-nav-bar-and-header)

Not sure if this was passed on to research: "After the website homepage launch, research will look into a global change for all the menu items and their corresponding page/section titles."

[2022-06-03 07:07] JessicaLucindaCheng commented on #2699
@SAUMILDHANKAR This needs to be saved somewhere that's not an agenda because it got lost in the Sun dev meeting agenda since old agendas keep getting hidden as time goes on. Maybe you should put it in a Wiki page or somewhere else?
Text below is from: https://github.com/hackforla/website/issues/2027#issuecomment-1082417760

Survey results for team meeting link preference:
Total 14
Members using te

[2022-06-03 07:22] #3053 closed, assigned to Wny-Duong

[2022-06-03 09:42] JessicaLucindaCheng opened #3194 "Remove unused `alt-hero` field from ems-triage-tracker.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 09:50] JessicaLucindaCheng opened #3195 "Remove unused `alt-hero` field from engage.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 09:55] JessicaLucindaCheng opened #3196 "Remove unused `alt-hero` field from expunge-assist.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:00] JessicaLucindaCheng opened #3197 "Remove unused `alt-hero` field from food-oasis.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:03] JessicaLucindaCheng opened #3198 "Remove unused `alt-hero` field from green-earth-os.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:07] JessicaLucindaCheng opened #3199 "Remove unused `alt-hero` field from guides-team.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:09] JessicaLucindaCheng opened #3200 "Remove unused `alt-hero` field from heart.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:11] JessicaLucindaCheng opened #3201 "Remove unused `alt-hero` field from hellogov.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:13] JessicaLucindaCheng opened #3202 "Remove unused `alt-hero` field from home-unite-us.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:15] JessicaLucindaCheng opened #3203 "Remove unused `alt-hero` field from jobs-for-hope.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:18] JessicaLucindaCheng opened #3204 "Remove unused `alt-hero` field from lucky-parking.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:20] JessicaLucindaCheng opened #3205 "Remove unused `alt-hero` field from metro-ontime.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:22] JessicaLucindaCheng opened #3206 "Remove unused `alt-hero` field from new-schools-today.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:25] JessicaLucindaCheng opened #3207 "Remove unused `alt-hero` field from not-today.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 10:27] JessicaLucindaCheng opened #3208 "Remove unused `alt-hero` field from open-community-survey.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:01] JessicaLucindaCheng opened #3209 "Remove unused `alt-hero` field from public-tree-map.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:03] JessicaLucindaCheng opened #3210 "Remove unused `alt-hero` field from shared-housing-project.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:05] JessicaLucindaCheng opened #3211 "Remove unused `alt-hero` field from spare.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:07] JessicaLucindaCheng opened #3212 "Remove unused `alt-hero` field from tdm-calculator.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:10] JessicaLucindaCheng opened #3213 "Remove unused `alt-hero` field from undebate.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:12] JessicaLucindaCheng opened #3214 "Remove unused `alt-hero` field from vrms.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:14] JessicaLucindaCheng opened #3215 "Remove unused `alt-hero` field from website.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:15] JessicaLucindaCheng opened #3216 "Remove unused `alt-hero` field from writeforall.md project file"
### Overview
As a developer, I want to make sure unused code is removed from the codebase in project cards so that
- time to load the website is as low as possible,
- it's easier to understand the code, and
- time to review the code is reduced.

### Details
In project md files, `image-hero` is a decorative background image and `alt-hero` is the alt text associated with `image-hero`. However, `alt-

[2022-06-03 11:41] tamara-snyder commented on #2141
Progress: Just need to write the issues. Haven't had time this week and I'm traveling the next couple days, so will work on this next week.
Blockers: None
Availability: 3 hours
ETA: Friday, June 10, 2022

[2022-06-03 11:52] JessicaLucindaCheng commented on #2798
@mchavezm There were no office hours today. Sorry for not updating the Slack reminder. There are no meetings the 1st-7th of every month. The next office hours/meeting is on Thu, June 9.

[2022-06-03 13:25] mxajPrice commented on #3153
Updated Judson's GitHub.  All others are correct.

[2022-06-03 15:20] summerharveyux commented on #2763
Progress: just hit N=115 on 6.3!

Blockers: None

Next steps: analyze and synthesize the quant and qual data, make a slide deck.
After that, do a 4th and final preference test comparing the original hero image and the "winner" of the 3rd preference test, to quantify if/how much better the final image is than the new image, and quantify impact.

Availability: 2 hours Thurs, Fri, and Sat.

[2022-06-03 17:09] sijiapitts commented on #3035
1. Progress: Confirmed the final design for web and mobile. What's left: Check the margins. Design screens for 2019 and 2020 accomplishment
2. Blockers: No blockers
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: By the next meeting

[2022-06-03 19:03] kalyaniraman opened #3217 "Update Project Profile: Open Community Survey"
### Overview
As a product manager of Open Community Survey I want my project's details to be up to date on the HackForLA website

### Project card
URL: https://github.com/hackforla/website/tree/gh-pages/_projects/open-community-survey.md

### Action Items

- [ ] Open Community Survey Team Leadership
   - [x] Please check off everything that is ok the way that it is, and if not, please provide the

[2022-06-03 19:06] kalyaniraman commented on #3217
Add the Following People

Name: Ambareen Sultana
GitHub handle: ambersu123
Role: Product Manager
SLACK ID: U03FQ1BBGP4

[2022-06-03 19:36] mxajPrice commented on #3153
Sorry, I have a new update to the description:

With government policies increasingly relying on data and data analysis, it becomes imperative to increase citizens' access and understanding of local government data in order to be effective advocates for their communities.

We are currently working on an MVP, which is a website that will serve as a foundation for the continued Access the Data proje

[2022-06-03 21:24] #2798 closed, assigned to mchavezm

[2022-06-04 00:19] JessicaLucindaCheng commented on #2722
All issues have been written for this epic.

[2022-06-04 00:53] SAUMILDHANKAR commented on #2607
## June 4, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-06-04 04:14] #2922 closed, assigned to nobody

[2022-06-04 10:43] JessicaLucindaCheng commented on #2497
Dev follow up issue for this is #3027

[2022-06-04 11:03] JessicaLucindaCheng commented on #2567
Dev issue to implement changes: #2929

[2022-06-04 11:05] JessicaLucindaCheng commented on #2568
Dev leads need to write another issue to update donate page images' alt text since QA reviewed it. So, double check the requested changes in the spreadsheet match what was implemented in #2886. If it isn't, write an issue for devs to fix it.

[2022-06-04 16:05] Sparky-code commented on #2061
Progress: None
Blockers: Available time
Avail: 3-4hrs
ETA: Ongoing

[2022-06-04 16:17] matt-arofin commented on #3063
Progress: Reviewed the Figma design system page and familiarised myself with the practices for developers. Will be closing this issue and choosing a new one.
Availability: 3 hours 06/05/22

[2022-06-04 19:58] DonaldBrower commented on #3188
I had a non-blocking issue while setting up the development environment:

* Running `docker-compose up` fails with the following output.  It fails because Ruby can't find the `webrick` package:

[code]

* [This issue from the jekyll project](https://github.com/jekyll/jekyll/issues/8523) says that webrick isn't included in Ruby 3.x versions, and that it should be included manually.

* For a work ar

[2022-06-04 20:19] arpitapandya commented on #3216
Availability for this week: 6hrs
My estimated ETA for completing this issue: 1hr

[2022-06-04 21:02] DonaldBrower commented on #2877
**Availability for this week:**
Today, Saturday 6/4 until 6pm.

**My estimated ETA for completing this issue:**
Before 4pm today.

[2022-06-04 21:09] DonaldBrower commented on #2877
**How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?**

First meeting (orientation on 5/31): 2 1/2 hours
Pre-work: about 4 hours across 3 days

[2022-06-04 22:20] SAUMILDHANKAR commented on #2673
@frankstepanski change not implemented in section 2.7.c in the contributing.MD, so reopening this issue.

[2022-06-04 22:35] ExperimentsInHonesty commented on #2673
Hi @frankstepanski when Providence was doing the QA (what happens after an issue gets merged) we determined that this issue was not completed.  Please fix and submit a new pr.

[2022-06-04 22:56] ExperimentsInHonesty commented on #2391
@kathrynsilvaconway I have reopened this issue.  It's actually larger than originally thought, but let's have you make a new issue for the outstanding problem.

Here is the problem.

You created a new dropdown filter css instead of using one that already existed.  Its not surprising that you didn't use one that already existed, because it's in a specific SCSS file related to another page.  The sol

[2022-06-04 22:59] scorbz9 commented on #2097
Availability for this week: 6h
My estimated ETA for completing this issue: 6h

[2022-06-04 23:44] JessicaLucindaCheng commented on #2354
QA approved already. Dev leads need to write issues and/or epic for this.

[2022-06-04 23:46] SAUMILDHANKAR commented on #2569
Icon should not have alt text.

[2022-06-05 00:08] #2877 closed, assigned to DonaldBrower

[2022-06-05 00:33] #2930 closed, assigned to juliansmith0

[2022-06-05 00:43] ExperimentsInHonesty opened #3220 "Update how 'Overview' link opens for Home Unite US"
### Overview
As a user, clicking on the 'Overview' link for the Home Unite US project should open a new tab to the pdf file directly.

### Details
When clicking the 'Overview' link, each project page acts differently. Some open to a google docs page, others open to a github page that hosts the pdf file, and another downloads the pdf file locally to the machine. There needs to be a standard in how

[2022-06-05 01:50] ExperimentsInHonesty commented on #2401
@JessicaLucindaCheng @answebdev It was my fault for not being clear enough, but everyone who has touched this issue seems to have misunderstood the mission.  So let's talk about what we should do next.

### The mission
The mission is to have a VS code plugin, that has a matching version we can put as a check when PRs are made in github (like code climate for spelling) .. and when I say matching, i

[2022-06-05 15:55] JessicaLucindaCheng commented on #2555
Sorry, I forgot to put my note here from my pr. I recommend follow up with PM and Design about the notes I left in Figma and Google Docs and also the following:
- There are differences in content (words, punctuation, contractions, etc) in the Google Doc vs the Figma desktop design vs the Figma mobile design. These differences are commented on in the Google Doc and Figma. The Figma desktop design w

[2022-06-05 17:00] kathrynsilvaconway commented on #2391
Hi Bonnie, I think I was way off base with this issue from the start. I thought they justed wanted me to take the toolkit navbar and put it in a dropdown menu. It didn't seem like it had any relationship to the filter menus on the other pages. I will at how the other files in the elements folder are built and start writing an issue this coming week.

[2022-06-05 17:25] ExperimentsInHonesty opened #3222 "Recruit volunteers for team open roles"
### Dependency
- [ ] need to recruit new team members to website team

### Overview
We need a data analyst to work on the open issues we have so that we can move the project forward.

### Action Items
- [ ] Copy the template X.03 (where X is the number of the practice area) from the practice area for the role (see practice areas below in resources) into a comment.  (e.g., under the 1 Data Science

[2022-06-05 18:12] ExperimentsInHonesty opened #3223 "Feasibility Review: wins form entry edit feature"
### Overview
Users would like the opportunity to be able to edit their wins after it is submitted so that they can have more control over their submitted info. For this issue, as a developer, we will determine
  1)  the feasibility of allowing users to edit their wins submissions, and
  2) then how to identify a changed win on the spreadsheet so that its status is switched to Display:False and the

[2022-06-05 19:28] JessicaLucindaCheng commented on #2568
@JessicaLucindaCheng is writing the dev issues for this.

[2022-06-05 19:28] JessicaLucindaCheng commented on #2567
@JessicaLucindaCheng is writing the dev issues for this.

[2022-06-05 19:36] JessicaLucindaCheng commented on #2699
Closing this agenda.

`@tamara-snyder` If you want something similar to this and have meetings with other dev leads, feel free to open a new issue and just copy what you need from this.

- Some FYIs:
  - Members on leave: Poorvi shared on 5/28/22, planning to take a break for an additional 2-3 weeks.
  -

[2022-06-05 21:40] alan-zambrano commented on #3220
Availability for this week: 3 hrs
My estimated ETA for completing this issue: Finished

[2022-06-05 21:54] JessicaLucindaCheng commented on #3210
@arpitapandya You only need to do one "good second issue", so I'm going to unassign you from this issue.

[2022-06-05 21:56] JessicaLucindaCheng commented on #3216
@arpitapandya After you open a pr, please leave your issue in the In Progress column.

[2022-06-05 22:35] JessicaLucindaCheng commented on #2935
Reopening to test how issues work with beta project board

[2022-06-06 14:53] arpitapandya commented on #3216
Thanks Jessica

[2022-06-06 21:19] KazushiR commented on #3109
Progress: self-assigned
Availability: 6 hrs for the rest of this week
ETA: 06/17/2022

[2022-06-06 21:55] matt-arofin commented on #3215
`Availability`:  2 hours Wednesday, Friday and Saturday
`ETA`: Thursday 06/09/22

[2022-06-06 22:05] JessicaLucindaCheng commented on #3177
@tamara-snyder Please add your information to this issue to update the leadership information for the Website Team on the website. Also, please remove @SAUMILDHANKAR and me.

[2022-06-06 22:26] tamara-snyder commented on #3177
Hi @phuonguvan, I've made some updates to this issue draft. When you get a chance, could you please check that your information is correct? Feel free to edit as needed. Thanks!

[2022-06-07 00:00] sherririllingux commented on #2974
I sent revisions for onboarding quiz to Simone to look over and advise if more revisions are needed.

[2022-06-07 01:20] #3216 closed, assigned to arpitapandya

[2022-06-07 05:46] DonaldBrower commented on #3214
**Availability for this week**:
6 Hours (This evening, Tuesday and Wednesday evenings)

**My estimated ETA for completing this issue**:
Tonight, before 12a.

[2022-06-07 07:47] SAUMILDHANKAR opened #3227 "Create a wiki page for details on new PR columns"
### Dependency
- [x] #3112
- [x] #3229
- [x] #3636

### Overview
As a developer, I would like critical processes to be documented in a wiki page. In this issue, we will create a wiki page with details about the new PR columns as well as the process flow of how a PR moves through these columns.

### Details

New columns for PRs would be:

- PRs that need a reviewer assigned
- PRs that need changes

[2022-06-07 07:58] SAUMILDHANKAR opened #3228 "Document the secrets of the HfLA website repo"
### Dependency
- [x] #3290 - this is good enough at this point to be satisfied

### Overview
We need to document where the project's secrets are being used, how to access and update them, so that we can use this info in another issue.

### Details
We are going to create a GHA generated issue to tell us to update secrets on the repo on biannually.  In order for the person to work the issue, they wi

[2022-06-07 08:09] SAUMILDHANKAR opened #3229 "Creating issues: Review GHAs in wiki pages"
### Dependency
- [x] #3274
- [x] #3283

### Overview
As a developer, I would like up to date information about our GitHub actions in a wiki page. For this epic, we will write issues to review and update wiki pages for [each GitHub action](https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions#hack-for-las-ghas) which will then be added to dependency items above.

### Action Items
- [ ] This

[2022-06-07 08:18] SAUMILDHANKAR opened #3230 "Create a wiki page for linters used by the HfLA website team"
# Dependency
- #1442
- #2651
- #3636

### Overview
As a developer, I would like critical processes to be documented in a wiki page. In this issue, we will create a wiki page with details about how linters are being used in our repo.

### Action Items
- [ ] Explore how [wiki pages](https://github.com/hackforla/website/wiki) are organized in our repo.
- [ ] Decide which section would be appropriate

[2022-06-07 20:30] sei1122 opened #3232 "Update Project Profile: Food Oasis"
### Overview
We'd like to update our current team members on this page: https://www.hackforla.org/projects/food-oasis

### Action Items
- [x] Please remove the people currently listed under Current Project Team on https://www.hackforla.org/projects/food-oasis
- [x] In [_projects/food-oasis.md](https://github.com/hackforla/website/blob/gh-pages/_projects/food-oasis.md?plain=1), please update the le

[2022-06-07 23:21] EmilyTat commented on #3117
Availability for this week: 6 hrs
My estimated ETA for completing this issue: EOD 06/10/22

[2022-06-07 23:22] EmilyTat commented on #3141
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?

15 days

[2022-06-07 23:42] EmilyTat commented on #3117
Provide Update
1. Progress - I have completed steps 1 & 2, reviewing screenshots and making a working copy of the 16pt version with a blue line around it in Figma File.
2. Blockers - All text on website and Figma file is 16 pt - unsure what needs changing - is it the text on the actual image? Unsure how to edit this in Figma.
3. Availability - 6 hrs
4. ETA - EOD 06/10/22

[2022-06-07 23:43] EmilyTat commented on #3117
Want to discuss and work together on this in next Design Team Meeting, thank you!

[2022-06-08 00:14] SAUMILDHANKAR commented on #2906
Reopening to test the beta board.

[2022-06-08 00:28] SAUMILDHANKAR opened #3233 "Test Beta Board Notes"
### Overview
We want to test how the beta project boards will work within the Website repo.

### Action Items
Figure out the answers to these questions
- [x] How to get a project board to be associated with a repo, such as the Website repo?
  - Ans:
    1. Create a new beta project board
    2. Add an issue from the repo you want the board associated with by
      - By clicking `+ Add item`

[2022-06-08 00:36] JessicaLucindaCheng opened #3234 "Testing converting a card to an issue on the classic project board"
Saumil created this card
Jessica is converting it into a issue

[2022-06-08 00:37] #3234 closed

[2022-06-08 18:34] dionw412 commented on #2309
Progress: I will ask the UX lead permission to be added to 1 password and access to email.
Blockers:
Availability: 2 hours on Wednesday, 2 hours on Friday
ETA: July 6, 2022
Pictures: None

[2022-06-08 18:51] #2945 closed, assigned to nobody

[2022-06-08 18:55] sacamp commented on #1797
### Recurring items:
 - [ ] review any issues that are in the new issue approval column
   - [ ] [Design](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+design%22)
   - [ ] [Research](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-15235217)
 - [ ] Accountability and Support Check.
    - [ ] Review a

[2022-06-08 19:04] Olanrewaju-Ak commented on #3018
ETA: End of the day on 6/10
Availability: 1 hour

[2022-06-08 19:42] ExperimentsInHonesty commented on #2663
Bonnie needs to setup survey123

[2022-06-08 20:09] sacamp commented on #2498
### Things to discuss:

- [ ] Team updates
- [ ] Research updates
   - [ ] Review the project board for [progress updates](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+research%22#column-7198228): working on, progress, blockers
- [ ] view [prioritized backlog](https://github.com/hackforla/website/projects/7?card_filter_query=label%3A%22role%3A+user+rese

[2022-06-08 20:10] matt-arofin commented on #3217
`Availability`: 3 hours, Friday and Saturday
`ETA`: 06/15/2022

[2022-06-08 20:16] JessicaLucindaCheng commented on #3107
@JayBarbanel I have gone ahead and moved this issue to the In Progress column this time. However, in the future, please remember to move the issue to the In Progress column at the time you self-assign an issue. Thanks.

[2022-06-08 20:22] Olanrewaju-Ak commented on #3065
1. Progress: Worked on a small issue: CONTRIBUTING.md: Additional Column Filtering Description in Section 2.2 #3018, pull request created
2. Blockers: none
3. Availability:
4. ETA: 6/10
5.Pictures:
![2-After](https://user-images.githubusercontent.com/103976465/172709913-f598ad90-184c-4763-91bf-e5cd527c0a59.jpg)

[2022-06-08 20:41] ghost commented on #2662
1. Progress: Creating User Personas for Volunteers

2. Blockers: Need to understand who is going to use the personas. That will determine what kind of volunteer persona to create. What is the end goal? People who volunteer at HackforLA with different skill sets. Need more nuance in the persona or multiple volunteer personas.

3. Availability: 6-7 hours

4. ETA: Depending on the response from the S

[2022-06-08 22:12] answebdev commented on #2455
Progress: Took a week off to get things done for work, so I did not work on this issue.
Blockers: Not yet, as I just started addressing what was in the feedback
Availability: 6 hours.
ETA: 6/15/2022

[2022-06-08 22:23] #2458 closed, assigned to JasonY188

[2022-06-08 22:33] #3141 closed, assigned to EmilyTat

[2022-06-08 22:49] sijiapitts commented on #3035
1. Progress: Completed the final design for web and mobile except for a few blockers.
2. Blockers: - Missing 2019 accomplishments. - Missing program area for two projects (indicated on the figma file). - Heading is inconsistent (H4 on web, but H5 on mobile)

Solved Blockers: Font size on the dropdown menu is 14.4px. I have confirmed with Phu and changed them to 16px.

[2022-06-08 23:15] phuonguvan commented on #3040
## 2022-06-09 Agenda

- [x] Questions about #3177
- [x] Review [Sijia's Figma](https://www.figma.com/file/MVRUNtLFjuamihX8PQg2Ic/Hack-for-LA-about%2Faccomplishment?node-id=117%3A12876)
- [x] Review [Gold's Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=22417%3A129125)
- [x] Review [Johnathan's Figma](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-L

[2022-06-09 00:42] #3215 closed, assigned to matt-arofin

[2022-06-09 19:15] smsada opened #3236 "Update Project Profile: Civic Tech Index"
### Overview

As a product manager of Civic Tech Index I want my project's details to be up to date on the HackforLA website

### Action Items

- [ ] Civic Tech Index Team Leadership
    - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
        - [x] title
        - [x] description
        - [x] image

[2022-06-09 19:17] smsada commented on #3236
**Remove the following people:**
Joyce Kim
Vance Dubberly
Adaeze Nwaezeigwe

**Add the following people:**
- name: Iffath Sultana
    role: Product Manager
    links:
    slack: https://hackforla.slack.com/team/U01JQ2V3NRZ
    github: https://github.com/DrIffathsultana
    picture: https://avatars.githubusercontent.com/driffathsultana

**Update the following people:**
 - name: Bhaggyalakshmi
    r

[2022-06-10 04:22] phuonguvan commented on #2501
There are external links on the website that lead to Google forms to links that would make the users leave the website (ex. transportation's survey in hackforla.org)
![image](https://user-images.githubusercontent.com/100561599/172989331-1a4ed09c-378d-4c84-8504-dd72a6cf1c6b.png)
There is a suggestion to use Iframes which creates a mini-frame where the user is able to access the Google form in the s

[2022-06-10 04:22] #2501 closed, assigned to nathan944

[2022-06-10 17:23] blulady commented on #3082
Progress: I have completed the first few check marks. I need to read: A page about dependabot and enabling alerts/updates and the
Blockers: As of right now, just need to read the instructions
Availability: 4 hours to work on it this weekend
ETA: Uncertain how many hours it will take
Pictures (optional): Currently no visual changes

[2022-06-10 23:12] ericvennemeyer commented on #3068
i. `Progress`: Attended Ops team meeting Sunday 6/5. Explained issue and my recommended fix to Bonnie and the Ops team. It was decided that HFLA will begin maintaining/hosting our own GitHub Pages Docker image. To achieve this, I will:

- Create a new Docker Hub account for HFLA
- Push the Docker image I've created to the newly-created [HFLA ghpages-docker repo](https://github.com/hackforla/ghpage

[2022-06-11 00:16] SAUMILDHANKAR commented on #2400
Progress: Not much progress since last week but will have more time next week.
Blockers: No blockers
Availability: 1 hr
ETA: 6/20/22

[2022-06-11 00:34] SAUMILDHANKAR commented on #3031
Progress: Jessica was able to create the project at the org level, associate the project to the repo and then access the project at the repo level. Jessica and I will demo it to Bonnie on Sunday (or later as time permits) and based on her feedback will decide on the next steps.
Blockers: No blockers
Availability: 1 hr
ETA: Depends on the discussion on Sunday.

[2022-06-11 01:22] #3214 closed, assigned to DonaldBrower

[2022-06-11 03:12] DonaldBrower commented on #3068
Hey @ericvennemeyer, I was also having issues with `docker-compose up`, but it was a different error than the one you mention at the top of the thread.  [Here's the issue and my workaround](https://github.com/hackforla/website/issues/3188#issuecomment-1146677190) -- just in case it's relevant to the new image.

[2022-06-11 06:10] oliviaywangn commented on #3126
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings?
About 7-8 hours
ETA: 3 weeks
availability 8 hours/week

[2022-06-11 06:12] oliviaywangn commented on #2800
Progress: Have edited the yml file, but I am not sure how to upload it. Will join Sunday meeting for help.
Availability: 4 hours
ETA: 1 week

[2022-06-12 04:33] JessicaLucindaCheng commented on #3223
Temporarily putting what I wrote in the issue above here because I can't seem to save my edits in the top post.

Edit: This was copied to the top and saved successfully.

### Overview
Users would like the opportunity to be able to edit their wins after it is submitted so that they can have more control over their submitted info. For this issue, as a developer, we will determine the feasibility of

[2022-06-12 05:34] JessicaLucindaCheng commented on #3031
Notes on how to create the project at the org level, associate the project to the repo and then access the project at the repo level

### Action Items
Figure out the answers to these questions
- [x] How to create the project at the org level?
  - Ans:
    - Go to https://github.com/hackforla
    - Click on "Projects" tab
    - Click on green "Create project" button on the right of your screen
- [x

[2022-06-12 06:06] riddle015 commented on #2952
Pull request has been submitted. Please let me know if there is anything else I need to do for this issue.

Thanks for you patience
Hiram

[2022-06-12 06:10] #2701 closed, assigned to riddle015

[2022-06-12 06:10] riddle015 commented on #2701
Completed all the items in the checklist!

Best,
Hiram

[2022-06-12 06:40] JessicaLucindaCheng commented on #2658
@JessicaLucindaCheng Figure out how to get view access only to the file. Otherwise, we may need to restrict this to dev leads.

[2022-06-12 06:41] JessicaLucindaCheng commented on #3223
@JessicaLucindaCheng Figure out how to get view access only to the file. Otherwise, we may need to restrict this to dev leads.

**Edit:**
Figured this out and documented it here: https://docs.google.com/document/d/1j1JTX5XzotgVCVZ91ImvenedPN5-IVjdSKDukq1B9iE/edit#heading=h.w3njgwlls6h0  (only accessible by Merge Team or Tech Lead)

[2022-06-12 16:27] JessicaLucindaCheng opened #3238 "Donate webpage: Update image alt text for animated gif to adhere to WCAG"
### Overview
As a developer, we need to provide alt text that adheres to the Web Content Accessibility Guidelines (WCAG) so that we can achieve our mission of inclusivity. For this issue, we will change the alt text for the animated gif image of someone making a donation on the Donate webpage to adhere to WCAG.

### Action Items
The following alt text change is for the [Donate webpage](https://www

[2022-06-12 16:45] JessicaLucindaCheng commented on #2568
@JessicaLucindaCheng is finished writing the dev issues for this. So, removing the `ready for dev lead` label and moving this to the Done column.

To address the following:

Issue #3238 was written to fix an alt text that still need to be fixed. The rest of the alt text were implemented correctly in issue #2886

[2022-06-12 16:48] tamara-snyder commented on #2027
### Agenda for June 12, 2022
Facilitator: Tamara Snyder

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Arpita (arpitapandya) got PRs #3221 and #3185 merged
- Jason (JasonY188

[2022-06-12 17:22] #2916 closed, assigned to eodero

[2022-06-12 17:24] Sparky-code commented on #3144
@Khadijahibidapo Just wanted to check if you have been able to setup your dev environment yet. Please post a comment in our hfla-site slack channel if you have any questions or need help. Thank you.

[2022-06-12 17:30] Sparky-code commented on #2625
@scarter31191 Checking in to see how your availability is and if you are still working on this issue or if I should unassign you. If you can please add an update to your availability and ETA if you are still working on this issue. Thanks!

[2022-06-12 17:43] vaisali89 opened #3239 "Pre-work Checklist: Researcher: Vaisali Krishna Kumar"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-06-12 19:29] SAUMILDHANKAR commented on #3031
Did a demo today with Bonnie on how to create the project at the org level, associate the project to the repo and then access the project at the repo level. Looks good for the next steps.

Decided to go ahead and set up a call with the GitHub support team to discuss the next steps for migration. Would bring up in the Dev/PM meeting tomorrow and finalize the meeting times with Tamara, Jessica, Saum

[2022-06-12 19:40] Khadijahibidapo commented on #3144
Thank you. I have. @Sparky-code

[2022-06-12 20:46] JessicaLucindaCheng commented on #2555
Reopening this because some things need to be fixed based on meeting with Bonnie.
- [x] Fix the Privacy Policy content to match the content in https://docs.google.com/document/d/19x1KsMTU-QBdopiV08HSBQ0i4g1ChrcPZ8ZXmUK50cY/edit#heading=h.1kvk4qkoxhzw.
- [x] Fix the Google Docs where indicated by suggested edits and comments. Then, resolve the comments.
- [ ] Fix Figma if it is a quick fix. If not

[2022-06-12 21:46] JessicaLucindaCheng commented on #2746
- Progress: 75% done. Still needs to be done:
  - [ ] Remove anything that is repeated in the Getting Started section that is already in the pre-work.
  - [ ] Move resources to a different Wiki page and link back to Web Developer page.
  - [ ] See if anything in [About the Website Development Team](https://github.com/hackforla/website/wiki/About-the-Website-Development-Team) is duplicated elsewher

[2022-06-13 01:21] JessicaLucindaCheng commented on #2689
- Progress: I still need to update this issue based on the comments in here: https://github.com/hackforla/website/issues/2689#issuecomment-1145512547
- Blockers: None
- Availability: Not sure
- ETA: July 9, 2022 (at the latest but hopefully will get this done sooner)

[2022-06-13 01:21] JessicaLucindaCheng commented on #2676
Progress: About half of the Wiki has been audited. However, didn't make any progress as other tasks took priority, Also, any pages that have already been audited may have to re-audited if there were changes to the page since it was audited.
Blockers: None
Availability: Not sure for this week
ETA: Not sure

[2022-06-13 01:26] JessicaLucindaCheng commented on #3217
@matt-arofin This issue isn't ready to be worked on yet because it was still in the New Issue Approval column when you picked it. I am unassigning you from this issue and moving this back to New Issue Approval.

For how to find issues to work on, please read [Part 2: How the Website team works with GitHub issues](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#part-2-how-the-web

[2022-06-13 01:38] JessicaLucindaCheng commented on #3217
@kalyaniraman I saw you wanted to add Ambareen to leadership, so I unchecked leadership (including Name, GitHub handle, Role, SLACK ID) above since a person needs to be added. Did you need any changes to any of the following:
  - links
     - Github
     - Slack
     - Test Site
     - Demo Site
     - Site
  - technologies
  - partner
  - tools
  - status

If changes are needed, please let us kno

[2022-06-13 01:41] nathan944 commented on #2601
Bonnie with the help of Phu will look further into this issue, to get developers to come up with a way to implement the potential new text style.

[2022-06-13 16:02] sei1122 opened #3240 "Update Project Profile: Food Oasis"
### Overview
Please add Hannah to the Current project team
https://www.hackforla.org/projects/food-oasis

Name: Hannah Zulueta
GitHub handle: hanapotski
Role: Full Stack Engineer
Slack ID *: U9SCMTNK0

[2022-06-13 18:33] JessicaLucindaCheng commented on #3240
@sei1122
- I had the info for Hannah to be added as part of issue https://github.com/hackforla/website/issues/3232.

Thus, I am closing this issue.

[2022-06-13 18:33] #3240 closed, assigned to nobody

[2022-06-13 18:51] ericvennemeyer commented on #3068
Hey @DonaldBrower, thanks for sharing that! I've seen that webrick error mentioned during my researches, and I had _thought_ it was a problem between `Ruby 3.x` and `Jekyll 4.x`, but the `jekyll/jekyll:pages` image still uses `Jekyll 3.8.5`. So I'm not sure why that is now the default error that people on the website team are getting. Regardless, it's all somewhat related to the error that kicked

[2022-06-13 19:19] JessicaLucindaCheng commented on #2401
Once we identify the spell checker to be used, please update and edit issue #2909 by
  - [ ] Checking off the dependency for this issue
  - [ ] If all dependencies are checked off, please move issue #2909 to the New Issue Approval column and remove the Dependency label

[2022-06-13 20:15] kalyaniraman commented on #3217
@ExperimentsInHonesty Can you please let me know what the below items are?

- links
  - Test Site
  - Demo Site
  - Site

[2022-06-13 20:33] A-BMT02 commented on #2839
Un-assigning this issue as i will not be available for the next two weeks

[2022-06-13 20:56] JessicaLucindaCheng commented on #2607
## June 13, 2022 Meeting Agenda

### Prework to prep for meeting
- [ ] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [ ] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [ ] Check to see how new team members are doing
       - [ ] Check 2 week inactive label on the in progress column

[2022-06-13 21:10] JessicaLucindaCheng commented on #2607
- Availabilities to set up GitHub call (and anything not chosen Saumil can use to schedule for his resume):
  - 10AM Pacific Tue, June 14
  - 1:30pm Pacific Wed, June 15
  - 2pm Pacific Thu, June 16
  - dev/pm meeting time Monday 2pm
- What issues should devs look at in the Questions and Review column?
  - Ans:
    - Check any issues with the following labels:
      - label:"role: back end/devOps"

[2022-06-13 21:17] ExperimentsInHonesty commented on #3050
Hi @greg-nice we didn't hear back from you on the issue, we are trying one last time on slack.  Please reply inside the issue (Slack messages disappear)

[2022-06-13 21:19] JessicaLucindaCheng commented on #2607
What issues should devs look at in the Questions and Review column?
Ans:
- Check any issues with the following labels:
  - label:"role: back end/devOps"
  - label:"role: front end"
  - label:"role missing"
- Look at the comments in the issue to see what is going on and figure out what follow up needs to happen

[2022-06-13 21:21] ExperimentsInHonesty commented on #2391
@kathrynsilvaconway please put a link to the new issue here, once you create it.  Then you can close this issue 😀

[2022-06-13 21:23] ExperimentsInHonesty commented on #2401
@answebdev can you respond to my question in this comment https://github.com/hackforla/website/issues/2401#issuecomment-1146721700

[2022-06-13 21:57] answebdev commented on #2401
@ExperimentsInHonesty Sorry, I think I didn't think the question was directed at me. My mistake. But I think it best to make a new one.

[2022-06-13 22:00] ExperimentsInHonesty commented on #3153
@mxajPrice where is the new overview page?

[2022-06-13 22:12] JessicaLucindaCheng commented on #2607
- labels, how useful to us, how useful to tech leads, how it is useful to new members --> Jessica put more details for these notes

[2022-06-13 22:17] mchavezm commented on #3090
Progress: I'm starting this issue today.
Blockers: none so far
Availability: 5 hours
ETA: Assuming no issues, should be done by Tue June 13, 2022.
Pictures: n/a

[2022-06-14 01:06] mxajPrice commented on #3153
@ExperimentsInHonesty there isn't one.  We do not have a roadmap at the moment and the one on there is outdated information so it needs to be removed.

[2022-06-14 02:30] seantokuzo opened #3242 "Pre-work Checklist: Developer: Sean Simpson"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-14 02:31] Mattre7 opened #3243 "Pre-work Checklist: Developer: [Matthew Eichler]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-14 02:43] DonaldBrower commented on #3068
@ericvennemeyer -

The latest versions  of `jekyll/jekyll:pages` (at least the current and previous one) use `Jekyll 3.9.2` -- this version [doesn't rely on the `pathutil` gem](https://github.com/envygeeks/pathutil/issues/4#issuecomment-1109187554), which was the [cause of the `no implicit conversion of Hash into Integer` error](https://github.com/envygeeks/pathutil/issues/4).

That leaves the `we

[2022-06-14 03:13] scarter31191 commented on #2625
@Sparky-code

Availability: 1hrs per day
ETA: 6/27
Blockers: The issue seems a bit complex for my understanding, some files seem like they need to be changed or added, I would like to go over my thought process with someone more senior.

[2022-06-14 03:26] trz832 opened #3244 "Pre-work Checklist: Developer: Troy Zhu"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-14 03:44] KalpanaTA opened #3245 "Pre-work Checklist: Developer: [Kalpana Thangam]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-14 04:00] LilyLuo001 opened #3246 "Pre-work Checklist: Developer: [Lily Luo]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-14 04:00] tiffany-wong opened #3247 "Tiffany"

[2022-06-14 16:04] bradyse commented on #3005
Hi @sacamp ,

@ExperimentsInHonesty asked me to review this issue to determine if the UXR quiz is ready for onboarding. The tl;dr version of my review: There are too many "I feel comfortable statements" that are not specifically related to UXR. Knowing about the 8 skills listed is great but asking people if they have previous experience is better. I recommend onboardees self-score their responses.

[2022-06-14 17:05] ericvennemeyer commented on #3068
@DonaldBrower Thanks for the explanation. I do remember reading that issue early on, but didn't know how to understand it at the time. If GitHub Pages ever moves to Ruby 3, this will be super helpful information to have when updating the Dockerfile.

[2022-06-14 20:59] arpitapandya commented on #3238
Availability for this week: 6hrs
My estimated ETA for completing this issue: 1.5hr

[2022-06-14 22:17] blulady commented on #3082
<details>
    <summary>Step 1: Enable Dependency Graph, Dependabot Alerts, Dependabot Security Updates</summary>

![Screenshot (158)](https://user-images.githubusercontent.com/67162265/173699678-e2c1d232-6958-4fb0-94f4-35594fc18412.png)

</details>

<details>
    <summary>Step 2: Make sure that I am seeing the alert in my repository</summary>

![Screenshot (159)](https://user-images.githubusercont

[2022-06-14 22:55] summerharveyux commented on #2763
Progress: just launched pref test comparing the winner of the 3rd preference test (the self, with no tongue sticking out) to the original hero image, to quantify if/how much better the final image is than the new image, and quantify impact.
Blockers: none
Next steps: analyze and synthesize the quant and qual data, make a slide deck.
Availability: 2 hours Thurs, Fri, and Sat.

[2022-06-14 23:26] JessicaLucindaCheng commented on #3238
@arpitapandya This issue isn't ready to be worked on yet because it was still in the New Issue Approval column when you picked it. I am unassigning you from this issue and moving this back to New Issue Approval.

For how to find issues to work on, please read [Part 2: How the Website team works with GitHub issues](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#part-2-how-the-we

[2022-06-14 23:27] SAUMILDHANKAR commented on #3031
Reached out to GitHub to set up a meeting on migration from classic to beta board. Below is what I wrote yesterday:

[2022-06-15 00:32] luke-karis commented on #2901
ETA and Availability Update:
ETA: 6/21/22
Availability: Wednesday 1.5-2 hours, Saturday 1 hour, Sunday 2-3 hours, Monday all damn day if I need to
Blockers: None

[2022-06-15 01:59] tamara-snyder commented on #2010
### Agenda for June 14, 2022

#### Meeting start

- [x] Sign in to [vrms.io](https://vrms.io)
- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-06-15 02:22] troywzhu opened #3248 "Add this issue to the Project Board under the Projects section (gear in right side panel)"

[2022-06-15 03:06] Sparky-code opened #3249 "Pre-work Checklist: Developer: Devin DEMO"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [ ] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-15 20:37] #2952 closed, assigned to riddle015

[2022-06-15 20:37] #3249 closed, assigned to nobody

[2022-06-15 20:43] #2906 closed

[2022-06-15 20:45] Sparky-code commented on #2625
Hey @scarter31191 Thanks for getting back to me!
That's understandable, I don't have experience with GitHub actions but I want to say @usaboo does?
I would say that posting to the #general or #hfla-site channel in slack would be a good way to shout out to those who may have more experience. If nothing else, we can talk it out at Thursday office hours or Sundays all hands.

[2022-06-15 21:10] sacamp opened #3250 "Pre-work Checklist: Researcher: [Simone]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-06-15 21:10] olivioso opened #3251 "Pre-work Checklist: Researcher: [Olivia Donaldson]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-06-15 21:11] hellorachelschwartz opened #3252 "Pre-work Checklist: Researcher: Rachel S"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-06-15 21:19] sandarshp opened #3253 "Pre-work Checklist: Researcher: [Sandarsh]"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events

### Overview
As a new researcher on the HfLA website UX team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site-ux and #hfla-site Slack

[2022-06-15 21:33] #3250 closed, assigned to sacamp

[2022-06-15 21:37] JessicaLucindaCheng commented on #3031
Edit: Notes from here are copied to #3265, so that all notes related to moving to Projects beta are in one issue.

Notes from June 15 meeting with Josie from GitHub
- The beta projects have an issue limit of 1200. Currently, we have 1195. Thus, the first thing we need to do is Archive some issues or somehow reduce the number.
-  On our current project board, Bonnie discusses how we have cards with

[2022-06-15 22:01] vaisali89 commented on #3003
Availability for this week: 4+ hrs
My estimated ETA for completing this issue: 6/29

[2022-06-15 22:01] #3239 closed, assigned to vaisali89

[2022-06-15 22:27] sijiapitts commented on #3035
1. Progress: Reviewed and confirmed the final design for web. Next step: Will do an audit on all the drop down menus (mobile view), then create an consistent drop down menu design.
2. Blockers: Waiting for copies for: 2019 accomplishment National Day of Civic Hacking (NdoCH)
3. Availability: 5 hours
4. ETA: By the next meeting

[2022-06-16 01:21] #3090 closed, assigned to mchavezm

[2022-06-16 01:51] angietechcafe opened #3254 "Update new developer checklist"
### Overview

As a new developer, I would like instructions to be more clear. For this issue, we will update the Developer Prework Checklist.

### Action Items
- [ ] Add a line there that says these steps can be completed in any order

### Resources/Instructions
- Prework issue template for new developers (https://github.com/hackforla/website/blob/gh-pages/.github/ISSUE_TEMPLATE/pre-work-template-

[2022-06-16 01:53] answebdev commented on #2455
Progress: Did not have time to work on this issue this past week due to having a lot to do for work.
Blockers: Not yet, as I just started addressing what was in the feedback
Availability: 6 hours.
ETA: 6/22/2022

[2022-06-16 05:53] SAUMILDHANKAR commented on #3228
Need to split this issue into 2, one for exploring and the other for documenting.

[2022-06-16 05:57] SAUMILDHANKAR commented on #3031
Below is the latest response from the GitHub support team:

[2022-06-16 07:07] SAUMILDHANKAR opened #3255 "Change alt text for westside location image on events page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt text s

[2022-06-16 18:17] kathrynsilvaconway opened #3256 "Create filter_dropdown.scss File in Elements Folder"
### Overview

Currently, the dropdown filters menus on the projects page and the toolkit page use different SCSS classes, which creates visual inconsistency for the user and also makes it hard for future developers to apply changes correctly. We need to create an SCSS file the will contain all the classes necessary to build our filter menus and store it in the [elements folder](https://github.com/

[2022-06-16 18:32] tamara-snyder opened #3257 "Refactor code in current-projects.js to avoid Liquid injection vulnerability"
### Overview

As a developer, I want to keep the sites I work on secure by escaping Liquid injection vulnerabilities so that site remains secure.

### Action Items
- [x] Read this [audit of the HfLA website's Liquid injection vulnerabilities](https://docs.google.com/document/d/1aJxb7KPL4zQKL1XUR8mwzP4tY6c3m223OpDmhX9MmEg/edit#) for a better understanding of the current state of the site's security

[2022-06-16 18:41] tamara-snyder commented on #2141
- Progress: I've created https://github.com/hackforla/website/issues/3257 to resolve my findings.
Blockers: Now I just need someone to review it!
Availability: 1 hour
ETA: Thursday, June 23

[2022-06-16 19:32] matt-arofin commented on #2931
`Availability`: Friday - Sunday, 7 hours
`ETA`: Monday 06/20/22

[2022-06-17 00:59] eodero commented on #2804
1. Progress: initiated
2. Blockers:
3. Availability: 3 hours
4. ETA: 6/23/2022
5. Pictures (optional):

[2022-06-17 01:02] #3018 closed, assigned to Olanrewaju-Ak

[2022-06-17 02:48] #3084 closed, assigned to trishajjohnson

[2022-06-17 03:07] oliviaywangn commented on #2800
Progress: have pushed the changes to git hub and submitted a PR
Availability: 1 hour

[2022-06-17 23:51] ericvennemeyer commented on #3068
i. `Progress`: New image is tested and ready to go. Resolving some permissions/account issues with Docker Hub and our new [hackforla/ghpages-docker](https://github.com/hackforla/ghpages-docker) repo, but should have this resolved shortly.

ii. `Blockers`: The permissions/account issues mentioned above.

iii. `Availability`: Provisionally Tuesday 6/21 and Wednesday 6/22 (after noon)

iv. `ETA`: Nex

[2022-06-19 15:59] mmogri commented on #2777
Progress: minimal (work conference and family obligations past couple weeks)
Blockers: TBD
Availability: >10 hours
ETA: 06/25/2022

[2022-06-19 16:28] tamara-snyder commented on #2027
### Agenda for June 19, 2022
Facilitator:

- [x] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

**Let's celebrate our contributions/wins since last team meeting**
- Kathryn (kathrynsilvaconway) merged a PR
- Trisha (trishajjsohnson) got a PR merged
-

[2022-06-19 17:37] ExperimentsInHonesty commented on #3003
@vaisali89 I am going to move this issue for you, to the inprogress column.  Next time you can do it yourself.  Ask at a team meeting if you don't know how.

[2022-06-19 18:10] mmogri commented on #3150
Progress: Completed
Blockers: None
Availability: 0
ETA: Completed

[2022-06-19 18:10] ExperimentsInHonesty commented on #2401
Dev lead to make a new issue from this comment https://github.com/hackforla/website/issues/2401#issuecomment-1146721700

Also, add the following as the last action item in the issue you write:
[code]

[2022-06-19 18:10] #2401 closed, assigned to answebdev

[2022-06-19 19:00] ExperimentsInHonesty commented on #2686
@olivioso Please

- [x] self assign this issue
- [x] move it to the in progress
- [x] make a screen recording of what we are experiencing
- [x] sent Phuong the message below
- [ ] Review usability research plan example
- [ ] Revise the Research plan for this issue
- [ ] Review with Simone

[code]

[2022-06-19 19:25] ExperimentsInHonesty commented on #2606
We are using option 3 on this figma page [3 small card designs](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=18798%3A126490)

Note there is an example of what it is supposed to look like when there are longer and shorter lines and there are details for dev  off to the left side
![image](https://user-images.githubusercontent.com/37763229/174497230-bca7e219-23f7-4c6e

[2022-06-20 00:43] arpitapandya commented on #2953
Availability for this week: 6hrs
My estimated ETA for completing this issue: 1.5hr

[2022-06-20 07:39] gold-o commented on #3034
Progress: I have completed the hi-fi prototypes.
Blockers: N/A
Availability: N/A
ETA: This issue is completed (06/19)
Pictures:

![Screen Shot 2022-06-20 at 12 37 28 AM](https://user-images.githubusercontent.com/38343775/174549562-aabe4ce2-a9dd-451b-9749-ac948b96ff6c.png)

**This is ready for development**

[2022-06-20 07:39] #3034 closed, assigned to gold-o

[2022-06-20 19:43] RobenusW commented on #3190
I have a school issued Chromebook, so I am not able to download Git. This for the next issue, which says, "Complete steps 1.1 - 1.6". Is there a way to work around this.

[2022-06-20 20:13] RobenusW commented on #3190
For one part of the issue, https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#part-1-setting-up-the-development-environment, I have to download Git and Docker (1.2 and 1.5). I am using a school-issued Chromebook, so I am unable to download a lot of programs. Is there a work around this, because a lot of the rest of the parts of the onboarding is dependent on these.

[2022-06-20 21:37] JessicaLucindaCheng opened #3265 "Epic: Project migration from classic to beta"
### Dependency
- [x] When the new projects boards are out of Beta (currently not stable enough to create GHAs against)
- [x] #2777
- [x] #3109

### Details
- "Projects (classic) will be sunset on August 23, 2024."
- <img width="488" alt="Screenshot 2024-06-12 091646" src="https://github.com/hackforla/website/assets/40799239/3a31cad8-68ba-4c39-9e74-17abe444ae88">
- November 19, 2024: The [REST API

[2022-06-20 21:40] JessicaLucindaCheng commented on #3265
The notes below are copied from https://github.com/hackforla/website/issues/3031#issuecomment-1156971748

Notes from June 15 meeting with Josie from GitHub
- The beta projects have an issue limit of 1200. Currently, we have 1195. Thus, the first thing we need to do is Archive some issues or somehow reduce the number.
-  On our current project board, Bonnie discusses how we have cards with filters

[2022-06-20 21:41] clayton1111 opened #3266 "Pre-work Checklist: Developer: Clayton"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] BeckettOBrien opened #3267 "Pre-work Checklist: Developer: Beckett"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] AsherEngelberg opened #3268 "Pre-work Checklist: Developer: Asher"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] Zak234 opened #3269 "Pre-work Checklist: Developer: Sakari"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] lilyarj opened #3270 "Pre-work Checklist: Developer: Lily"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] tunglinn opened #3271 "Pre-work Checklist: Developer: Tung"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:41] MCoding1 opened #3272 "Pre-work Checklist: Developer: Melodie E."
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 21:55] JessicaLucindaCheng commented on #3265
Notes below copied from https://github.com/hackforla/website/issues/3031#issuecomment-1153077541.

Notes on how to create the project at the org level, associate the project to the repo and then access the project at the repo level

### Action Items
Figure out the answers to these questions
- [x] How to create the project at the org level?
  - Ans:
    - Go to https://github.com/hackforla
    - Cl

[2022-06-20 22:29] JessicaLucindaCheng commented on #3031
@SAUMILDHANKAR Bonnie archived a whole bunch of issues in the Done column on the current Project Board and the current Project Board seems to work better. Can this issue be closed then?

Also, I wrote issue #3265 to address migrating from Project classic to beta, since that seems like it will be a bigger/separate issue and might be out of scope for this issue.

[2022-06-20 22:46] raswani2023 opened #3273 "Pre-work Checklist: Developer: Riya"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-20 22:58] SAUMILDHANKAR opened #3274 "Review and update wiki page: GHA: add update label weekly"
### Overview
As a developer, I would like up to date information about our GitHub Actions in a wiki page. For this issue, we will review and update the wiki page for [GHA: add update label weekly](https://github.com/hackforla/website/wiki/GHA:-add-update-label-weekly).

### Action Items
- [x] Read the information about the add-update-label-weekly GHA [here](https://github.com/hackforla/website/wik

[2022-06-21 01:12] #2800 closed, assigned to oliviaywangn

[2022-06-21 01:44] kathrynsilvaconway opened #3275 "Pre-work Checklist: Developer: Kathryn DEMO"
### Prerequisite
We are looking forward to having you on our team. Please make sure to attend the general Hack for LA onboarding to get the process started https://meetup.com/hackforla/events.

### Overview
As a new developer on the HfLA website team, fill in the following fields as you complete each onboarding item.

### Action Items
- [x] Add yourself to the #hfla-site and #hfla-site-pr Slack ch

[2022-06-21 02:02] #3275 closed, assigned to kathrynsilvaconway

[2022-06-21 02:44] luke-karis commented on #2901
ETA and Availability Update
ETA: June 28
Availability: Friday, Saturday, Sunday 2-3 hours
Blockers: None

[2022-06-21 08:24] SAUMILDHANKAR commented on #3031
@JessicaLucindaCheng Thanks for writing the issue for migration. I agree follow up items might be out of scope for this issue, so closing this issue. Thanks for all your help.

[2022-06-21 08:24] #3031 closed, assigned to SAUMILDHANKAR

[2022-06-21 13:47] A-BMT02 commented on #3027
Availability: 2 hours
ETA: in 24 hours

[2022-06-21 14:13] olivioso commented on #2686
@phuonguvan We need to have design work on a clickable prototype.  The one that is on the Figma page is not useable because when we go to it, it keeps showing the Figma menu bar on hover when  trying to hit the hamburger menu (I'm having trouble adding the gif to this message. Hopefully the link below will work.)
https://drive.google.com/file/d/1kNGttL9EF71BIatwWhBPsef7psQrCdAp/view?usp=sharing

[2022-06-21 16:21] MCoding1 commented on #3272
Currently Finished up to 1.5 docker task, will continue from there

[2022-06-21 19:50] kathrynsilvaconway commented on #2391
The elements in this issue will be reworked in the future to make the dropdown more consistent with other filter menus on the site. This menu should ultimately use the same classes used by the filters on the wins and projects pages. I have created a new issue to move all of classes for the projects filter over to the elements folder. This will allow future developers to access them more easily:
-

[2022-06-21 19:50] #2391 closed, assigned to kathrynsilvaconway

[2022-06-21 22:40] sijiapitts opened #3277 "Design a fix the dropdown menu design for projects page"
### Overview
During a site audit on Figma design file and on the website, we noticed that the drop-down menu design is not consistent. Each page has its own font size, margin, padding, etc.

We decided that the first step is to fix the dropdown menu on the toolkit page. Afterwards, we will move on to the projects page and wins page.

- Toolkit page issue #3626
- Wins page issue #3627

**Update**

[2022-06-21 22:45] sijiapitts commented on #3035
- Working on ticket [#3277](https://github.com/hackforla/website/issues/3277)

[2022-06-21 23:15] Wny-Duong commented on #2010
### Agenda for June 21, 2022

#### Meeting start

- [ ] Sign in to [vrms.io](https://vrms.io)
- [ ] Nominate a note-taker who will take notes during the meeting. After the meeting, Slack message the Technical Leads with the notes. Please note the names of members present in the meeting as well.

#### Stand-up update (5-10 minutes)
Each member will give a quick update and popcorn to the next person

[2022-06-22 00:51] tamara-snyder opened #3278 "Update alt text for Engage project image on the Events page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Engage project image on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt

[2022-06-22 00:57] answebdev opened #3279 "Change alt tag for Lucking Parking image on events page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt text s

[2022-06-22 01:03] tamara-snyder opened #3280 "Update Events page alt text for Not Today image to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the Not Today project image on the [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally,

[2022-06-22 01:03] Sparky-code opened #3281 "Update HelloGOV Alt Text on Events Page: our-locations-content.html"
### Overview

As developers we want to ensure that we ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). This issue addresses the alt text for the HelloGOV event.

### Action Items

- [ ] In the file _includes/events-page/our-locations-content.html, change the following alt text:

From
[code]
To
[code]

- [ ] **For merge team**: Once the pull request associated

[2022-06-22 01:13] BeckettOBrien commented on #3267
I've run into an issue while trying to run the website server. `docker-compose up` runs normally until it throws an error saying `'require': cannot load such file -- webrick (LoadError)`. So far I have tried:
* Following the same steps on another, non-WSL machine to make sure that it isn't an issue with my local environment, but I get the same error
* I was able to get the site running by adding a

[2022-06-22 01:19] kathrynsilvaconway opened #3282 "Update Alt Text for Westside New Schools Today Image on Events Page"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt text s

[2022-06-22 01:22] tamara-snyder opened #3283 "Create a wiki page for github-data GHA"
### Overview

As a developer, I would like to have up-to-date information about our GitHub actions in a wiki page. For this issue, we will create a Wiki page for the github-data GHA.

### Action Items

- [x] Read the information about the github-data GHA [here](https://github.com/hackforla/website/wiki/HfLA-GitHub-Actions#hack-for-las-ghas)
- [x] Understand how the workflow operates
    - [x] Read

[2022-06-22 01:23] answebdev opened #3284 "Change alt tag for Public Tree Map Project image on events page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt text s

[2022-06-22 02:48] lilyarj commented on #3270
Docker won't run for me, it keeps showing me this:

[+] Running 1/1
 ⠿ Container hfla_site  Recreated                                          0.1s
Attaching to hfla_site
dhfla_site  | ruby 3.1.1p18 (2022-02-18 revision 53f5fc4236) [x86_64-linux-musl]
^R
hfla_site  | Configuration file: _config.yml
hfla_site  | Configuration file: _config.docker.yml
hfla_site  |             Source: .
hfla_site  |

[2022-06-22 02:50] BeckettOBrien commented on #2876
Availability for this week: 6+ Hours
My estimated ETA for completing this issue: Less than 1 Hour

[2022-06-22 02:52] clayton1111 commented on #2811
Availability for this week: Very available
My estimated ETA for completing this issue: Hopefully soon. It's my first issue so I am trying to figure out how everything works

[2022-06-22 02:53] BeckettOBrien commented on #2876
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? Probably 6-7 hours (including the internship onboarding meeting)

[2022-06-22 05:24] #2876 closed, assigned to BeckettOBrien

[2022-06-22 06:38] JessicaLucindaCheng commented on #3257
@tamara-snyder I took a quick look at the issue you wrote since you requested it and it looks like nobody has reviewed this issue yet. First, good job with what you have written so far.
- In the Overview, I added a "so that" part to what you wrote. I wasn't sure what to write for that, so feel free to change it.
- In the 2nd action item, in the 2nd sub-action item, where you wrote `JSON.parse(deco

[2022-06-22 07:09] JessicaLucindaCheng commented on #3175
Just testing what the template looks like in this comment

#### Offboard [INSERT PERSON'S NAME HERE]
- [ ] In our [HackforLA.org website Google Drive](https://drive.google.com/drive/folders/0AKWbU6_2dvZuUk9PVA), change membership to “Viewer”.
- [ ] Mark them `Inactive` in our [Hack for LA Website Team Roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit)

[2022-06-22 07:14] JessicaLucindaCheng commented on #3175
Just testing what the template looks like in this comment

#### Onboard [INSERT NAME OF EACH PERSON HERE]
- [ ] Person leading onboarding: please introduce yourself
- [ ] On GitHub, go to https://github.com/orgs/hackforla/people and search for their GitHub handle.
  - [ ] If you search for their GitHub handle and can’t find it, they are not a member of Hack for LA.
    - [ ] If they are not a memb

[2022-06-22 10:09] A-BMT02 commented on #3027
Blocker : What should be the breakpoint  from the mobile to desktop

[2022-06-22 14:08] summerharveyux commented on #2763
Progress: wrapping up data collection on pref test hackforla/product-management#4 now (N=113 this second, will hit 115 within an hour for sure). analyzing data and creating slide deck, hope to finish it for tonight's UX team meeting
Next steps: analyze and synthesize the quant and qual data, make a slide deck.
Availability: 2 hours Thurs, Fri, and Sat.

[2022-06-22 15:46] Zak234 commented on #2650
I checked the pull request and I don't think this is a code issue. The person accidentally wrote the wrong issue number whose labels were pulled for the pull request and then changed it to the correct one which led to the GitHub action removing some of the previous labels while keeping the others as the two issues shared some labels in common.

[2022-06-22 15:57] kathrynsilvaconway opened #3286 "Change alt tag for VRMS Project image on events page to adhere to WCAG"
### Overview
We need to ensure that alt text for images adhere to Web Content Accessibility Guidelines (WCAG). For this issue, we will change the alt text for the westside location on [Events page](https://www.hackforla.org/events/).

### Details
Designers and PMs identified that some alt texts in the Events page should be changed because they are either inaccurate or too long. Ideally, alt text s

[2022-06-22 19:02] lilyarj commented on #2810
Availability for this week: I am very available this week
My estimated ETA for completing this issue: I believe I have completed the first part of this issue, and I submitted the pull request. If the pull request is approved and it is merged then I will complete the second part which should not take very long.

[2022-06-22 19:03] lilyarj commented on #3270
How many hours did it take you to finish the pre-work up to and including adding your initial ETA and availability for your good first issue, including attending your first meetings? It has taken me around 6 hours to finish the pre-work, and complete my good first issue (I believe).

[2022-06-22 21:03] tamara-snyder commented on #2607
## June 23 Meeting Agenda

### Prework to prep for meeting
- [x] Review the [QA](https://github.com/hackforla/website/projects/7#column-15490305)
   - [x] Prework issues: Add notes to this meeting agenda as a discussion or FYI item (if no action needs to be taken).
     - [x] Check to see how new team members are doing
       - [x] Check 2 week inactive label on the in progress column
          -

[2022-06-22 21:15] tamara-snyder commented on #3270
@lilyarj I am reopening your Pre-Work because you still need to do a progress update in the issue you are assigned to. Please keep your Pre-Work open until you have provided a weekly update on an issue. You can use the following format:
[code]
See [this section of the HfLA Wiki](https://github.com/hackforla/website/blob/gh-pages/CONTRIBUTING.md#25-reporting-progress-on-your-issue) for more details