[2017-08-23 23:00] jjandoc opened #20 "Set up CMS preview"
There's a preview panel in the Netlify CMS. The preview panel is essentially a React component that provides an instant live preview. Would be great to get that working by anyone who has some React experience.

[2018-01-17 04:12] jjandoc opened #18 "Set up deployment hook to notify slack room of deployments"

[2018-06-06 16:43] joshuazrobins opened #16 "Add Project: Spare"
**Title:** Spare
**Description:** Connecting people in need of clothing and other essentials with people in the community who have things to spare. Like one on one Goodwill. The main objective is to foster interactions between the housed and un-housed. The donation is the vehicle for building these connections throughout our community.
**Partner/Stakeholder:**
**Looking For:**
**Links:**
* Github

[2018-06-06 16:43] joshuazrobins opened #15 "Add Project: Clean Air LA"
Title: Clean Air LA
Description:
Partner/Stakeholder:
Looking For:
Links:
* Github?
* Social Media?

Needs an image too :)

[2018-07-18 03:50] jjandoc opened #3 "Port over form submissions and Action Network integration"
The two forms should be broken out to individual components. Action Network API communication should be abstracted out to a service so that it can be shared between the two form components. Axios is the ajax library we're using. Quick sign up only needs to submit to Action Network, then can show a confirmation. Suggestion box first submits to Action Network, then submits to the Netlify form. See o

[2018-07-18 03:51] jjandoc opened #4 "Set up CMS configuration"
Should just be a matter of copying over the CMS files (https://github.com/hackforla/website-redesign/tree/master/app/admin) to the `static` directory and updating configs as necessary.

[2018-07-18 03:52] jjandoc opened #5 "Make footer social icons white"
Footer icons are dark grey/black. They need to be white. Site can be previewed here: https://h4la.netlify.com/

[2018-07-18 03:53] jjandoc opened #6 "White list h4la.netlify.com domain for calendar API"
Calendar API requests are getting blocked. I assume it's just a matter of white-listing the domain at h4la.netlify.com. We should also ensure that `localhost` and `*.hackforla.org` are white-listed.

[2018-07-18 08:40] ctsexton commented on #6
Done - have white-listed those but currently the site is just using an API key I set up in my personal account. Might be more appropriate to set one up in a Hack for LA account?

[2018-07-25 04:02] #5 closed

[2018-07-25 04:02] #3 closed

[2018-07-31 22:15] jjandoc opened #7 "Fix Github icon"

[2018-07-31 22:16] jjandoc commented on #6
@matikin9 is there a good account we can use for setting up a H4LA-owned api key

[2018-08-08 02:54] jjandoc commented on #4
This is up. Any Netlify project administrator should be able to add new editors.

[2018-08-08 02:54] #4 closed

[2018-09-13 15:31] joshuazrobins opened #9 "Fix Calendar Plugin Displaying "All Day" Events Incorrectly"
The 3 events shown in the screenshot below take place 1 day after it is shown in the widget. For Example, Emily Uyeda is marked as visiting on Tuesday, but it is listed as Monday.

![image](https://user-images.githubusercontent.com/1521996/45498613-48f28780-b72f-11e8-8b79-48f17cf41e0d.png)

[2018-11-14 04:32] matikin9 opened #10 "Filter out strings that mention the hack nights"
Right now the code is set up to filter out the calendar items referencing our normal hack nights.  However, because it's looking for an exact match using "!==",  it is allowing the "Canceled" events to still show.  The comparison needs to look for "Westside Hack Night" or "DTLA Hack Night" within the event name string instead of an exact match.

https://github.com/hackforla/website/blob/98d11aca31

[2018-11-14 16:01] #10 closed

[2018-11-17 19:58] thekaveman opened #13 "CAPTCHA on Contact Us form"
From @joshuazrobins:

[2018-11-17 20:00] thekaveman commented on #6
@jjandoc @matikin9 was there ever any change with this, or still under @ctsexton account?

[2018-11-17 20:20] thekaveman opened #14 "Dedicated Projects page"
The current project listing design and implementation worked well for the smaller number of projects that we started with.

We have a bit of a "good" problem now, in that both DTLA and Westside are going strong (and with the forthcoming South LA night, and maybe others in the future -- LA *is* quite large), so new project teams are spinning up left and right.

https://hackforla.org should be the p

[2018-11-17 21:34] matikin9 commented on #6
I never got around to it but I should do that from my account.

[2018-11-18 01:30] matikin9 opened #17 "Create Blog page."
Still in planning mode.  Need volunteer(s) willing to write posts.

Content ideas:
- Hack night recaps.
- One-time event recaps.
- Upcoming events - more frequently than our monthly newsletter.
- Calls for resources (SaMo space, SouthLA space, volunteers for events)
- Feature projects, a la CodeForPhilly:
  - https://codeforphilly.org/blog/not_in_philly--a_shared_call_to_serve
  - https://codeforp

[2018-11-18 01:32] matikin9 opened #19 "IE 11 display issues"
Some *ahem* government entities *ahem* are forced to use IE in their offices.  It was brought to my attention that the page does not fail gracefully in IE 11.  We should look into whether or not there is a simple fix.

[2018-11-18 01:35] thekaveman commented on #14
@matikin9 writes:

[2018-11-18 01:36] thekaveman commented on #14
@joshuazrobins writes:

[2018-11-27 22:19] joshuazrobins commented on #13
Instructions too 😄 All you'll need is the 2 keys, which I can provide at the time of request!

![image](https://user-images.githubusercontent.com/1521996/49115307-4fcd6880-f24f-11e8-8391-b87f46eb794b.png)

[2018-12-12 04:05] matikin9 commented on #17
@thekaveman - can we add an icon to the header for Medium, and link to the HFLA Medium account? https://medium.com/hack-for-la

[2018-12-12 07:20] thekaveman commented on #17
@matikin9 for sure. Should I just find an icon somewhere, do we have a kit?

[2018-12-12 07:21] thekaveman opened #22 "Add Medium icon/link"
From @matikin9 in #17.

Icon should link to the HfLA Medium blog: https://medium.com/hack-for-la

[2018-12-13 06:42] #22 closed

[2018-12-13 06:47] BReyell commented on #7
@thekaveman This was fixed in #23 and should be closed.

[2018-12-13 06:48] thekaveman commented on #7
Thanks again, I referenced the wrong one in the PR merge.

[2018-12-13 06:48] #7 closed

[2018-12-13 09:17] thekaveman commented on #18
Done. Notifications are being sent to the **#hackforla-site** channel.

[2018-12-13 09:17] #18 closed

[2018-12-20 12:24] saintach opened #26 "Contact Us form submission not routing to /thank-you page"
I was trying to contact HackforLA via the contact form on the website for the potential volunteering opportunity. Interestingly, my email address was sent to `api.actionnetwork.org`.

[https://github.com/hackforla/website/blob/master/pages/index.vue#L201](url)

I guess I will just reach out to someone here via opening issue 😃

Ref for debugging:
![screen shot 2018-12-20 at 4 13 18 am](https://user

[2019-04-23 06:01] #16 closed

[2019-04-23 06:03] thekaveman commented on #20
Not relevant as we move away from Netlify.

[2019-04-23 06:03] #20 closed

[2019-04-23 06:09] thekaveman commented on #26
Thanks for this report @saintach. We're moving away from this web infrastructure, to one where ActionNetwork is the main email capture mechanism. So this shouldn't be an issue going forward!

[2019-04-23 06:09] #26 closed

[2019-04-23 06:10] ExperimentsInHonesty commented on #19
@matikin9 can you confirm that this is still an issue.

[2019-04-23 06:13] thekaveman commented on #17
@matikin9 now that our site will be hosted here in `gh-pages` using Jeykll (what originally started as a blogging platform) - this blog feature could be easier to implement directly in the site. On the other hand, we have the Medium site setup.

Do we want to pursue blogging on hackforla.org? Abandon the idea altogether? Or maybe just keep it on the pile but not focus on it until other work happen

[2019-04-23 06:27] ExperimentsInHonesty opened #64 "Check code for accessibility WCAG 2"
This issue is being held until some other open issues are closed, and the site is ready to be reviewed.
--------------
WCAG 2 Checklist (https://webaim.org/standards/wcag/checklist).

Document what changes, according to the checklist, need to be made and submit as a reply to this issue or in a google doc.

The website to view is: https://hackforla.github.io/website/

[2019-04-23 06:32] ExperimentsInHonesty opened #65 "Add Open Graph Markup tags to header"
Add Open Graph Markup tags to header.html in the _includes folder of the gh-pages branch

Guide: https://developers.facebook.com/docs/sharing/webmasters#markup

This is to ensure that when the website is shared on slack, facebook, twitter, etc. It automatically displays with an image and Title instead of just the URL.

Feel free to ask for more information if you don't know what text to put into t

[2019-04-23 06:37] ExperimentsInHonesty opened #66 "Add favicon back into the header"
The gh-pages version of the site is missing its favicon.  The code from master needs to be reviewed to see/replicate the favicons inclusion into the gh-pages version on the head.html page in the _includes folder.

The image may or may not need to be copied over depending on if it uses a unique image that is not already being used on the site.

[2019-04-23 06:50] ExperimentsInHonesty opened #67 "Change IMG url code to conform to new standard"
This is the new site in development: https://hackforla.github.io/website/
the files are in the gh-pages branch.

Here is the new standard: https://ben.balter.com/jekyll-style-guide/config/#url

The files that will need to be edited are any .html files in the _includes folder that reference images.

[2019-04-23 08:02] ExperimentsInHonesty opened #68 "Review/document github kanban project boards automation settings with Kate from hellogov"
Task:
Sit with Kate and document each of her columns automation settings for the hellogov project board.

Goal:
Publish the guidelines for other projects to use.

Questions:
Where and how to publish the info
What other things need to be published related to this.

[2019-04-23 08:11] ExperimentsInHonesty opened #69 "Add the calendar section back into the website and get API working"
The Code that Bonnie, Drew and Roland wrote needs to be integrated with the current version of the new website and then get the Google Calendar API working properly.

[2019-04-25 21:26] ExperimentsInHonesty commented on #15
Josh said this project never got off the ground.  Closing issue - no need to add to the website.

[2019-04-25 21:26] #15 closed

[2019-04-30 06:17] ExperimentsInHonesty opened #72 "Add Heart project to new website"
Here is the content for the file to be called heart.md.
This file needs to go into the gh-pages _projects folder
[code]
This is the image that needs to be called heart.png and put into the gh-pages folder /assets/images/projects
![heart](https://user-images.githubusercontent.com/37763229/56943529-c1e2fb80-6ad4-11e9-9445-21e121f53ddc.png)

[2019-04-30 06:41] ExperimentsInHonesty opened #73 "Add Heart project to old/currently-live website"
Here is the content to be added to master static/content/index.md
[code]
This is the image that needs to be called heart.png and put into the folder master static/images/uploads/
![heart](https://user-images.githubusercontent.com/37763229/56943529-c1e2fb80-6ad4-11e9-9445-21e121f53ddc.png)

[2019-04-30 16:12] matikin9 commented on #19
Looks much better now, except there's a lack of space between the project cards.  Also, not sure if this is intentional but the project cards are listed in a single column, as if for a mobile screen:

![image](https://user-images.githubusercontent.com/1873072/56976571-1c597780-6b28-11e9-886e-7506d1acc8a9.png)

[2019-04-30 18:27] abregorivas opened #74 "move sponsors section below contact us and before the footer"

[2019-04-30 19:14] abregorivas commented on #64
Accessibility can be tested using two separate tools.

- Wave extension https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh
- Chrome lighthouse site testing which is the chorme dev tools under audit tab.

[2019-04-30 19:30] abregorivas opened #75 "Review and fix accessibility issues using chrome extension "WAVE" tool."
Steps:
1. add WAVE chrome extension: https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh

2. visit gh-page live site https://hackforla.github.io/website/
3. click the extension and review the red flags.
4. Run the same steps for the development site (localhost). Ensure that the chrome extension has the "Allow access to file URLs" enabled.
5. Fix each iss

[2019-05-01 00:57] matikin9 commented on #17
@thekaveman Keep it on the pile but no need to focus on it now, especially since we don't have anyone creating content for a blog yet.  There's pros/cons to both, I'm not super opinionated either way.

[2019-05-01 22:58] abregorivas commented on #19
There are two major tools for cross-browser testing. However, there their trial versions are short and there may need to be a paid version that can be used across the organization.

- BrowserStack https://www.browserstack.com/
-LambdaTest https://www.lambdatest.com/

[2019-05-01 23:03] ExperimentsInHonesty commented on #19
This issue is being iceboxed until we finish this iteration of website and then we will run tests and figure out where we go from there.

[2019-05-01 23:14] abregorivas commented on #75
This feedback comes from Drew de Rosario and each section should be reviewed.

Best Practices
- Links to cross-origin destinations are unsafe
	https://developers.google.com/web/tools/lighthouse/audits/noopener
	- when using target=_blank we need to add rel="noopener" to the tag
		ensures that new page runs in a separate process
- Browser errors were logged to the console
	this will fix itself when

[2019-05-01 23:16] ExperimentsInHonesty commented on #65
Pull request https://github.com/hackforla/website/pull/77
has comments with request for change as of 5/1/19 noon.

[2019-05-01 23:44] #67 closed, assigned to abregorivas

[2019-05-02 00:39] ExperimentsInHonesty opened #78 "Update artwatcher project"
Include location as downtown

[2019-05-02 00:47] abregorivas opened #79 "rename api files with "api-youdesiredname""
examples: api-calendar

[2019-05-02 00:56] abregorivas opened #80 "fix form submission in contact-us"
After hitting submit the message shows that a valid email is required even though an email has been provided.

[2019-05-02 01:01] abregorivas opened #81 "Move contact-us form out of about section and put in index.html"

[2019-05-02 06:31] thekaveman commented on #75
@abregorivas this seems like a duplicate/extension of #64 - can we consolidate notes/tracking of accessibility testing into either this issue or that one (and close the one that isn't needed).

[2019-05-02 17:49] thekaveman commented on #69
See #6, we may need to revisit the whitelist for the Google Calendar API.

[2019-05-02 20:35] abregorivas commented on #6
Who has access to white list "localhost:4000"

[2019-05-02 20:45] abregorivas commented on #64
This feedback comes from Drew de Rosario and each section should be reviewed.

Best Practices

Links to cross-origin destinations are unsafe
https://developers.google.com/web/tools/lighthouse/audits/noopener
when using target=_blank we need to add rel="noopener" to the tag
ensures that new page runs in a separate process
Browser errors were logged to the console
this will fix itself when we get im

[2019-05-02 20:46] abregorivas commented on #75
Closing issue and added Drew's feedback to issue #64

[2019-05-02 20:58] abregorivas commented on #74
Pull request was approved by Bonnie! Closing issue

[2019-05-02 20:58] #74 closed, assigned to nobody

[2019-05-02 22:47] abregorivas opened #83 "Rename url to link_url in press md files & update include with new name"

[2019-05-03 00:04] ExperimentsInHonesty commented on #79
I should have noticed that the file that references that had not been changed
https://github.com/hackforla/website/blob/gh-pages/_layouts/default.html
before merging the commit with the file name changed.  But I have communicated the required change to roland and he is going to include it #80

[2019-05-03 01:24] #79 closed, assigned to ExperimentsInHonesty

[2019-05-03 02:35] #80 closed, assigned to abregorivas

[2019-05-03 03:23] #83 closed, assigned to nobody

[2019-05-04 04:07] abregorivas opened #88 "Hero bg image does not appear in gh-pages site."
I believe the issue is that in assets/css/main.scss line 5 should be $absolute_url: "{{site.url}}"

[2019-05-04 18:06] ExperimentsInHonesty commented on #81
pull has been merged and issue resolved

[2019-05-04 18:06] #81 closed, assigned to nobody

[2019-05-05 01:56] #88 closed, assigned to nobody

[2019-05-05 23:46] #69 closed, assigned to abregorivas, ExperimentsInHonesty

[2019-05-07 06:25] #66 closed, assigned to abregorivas

[2019-05-08 22:41] #72 closed, assigned to nobody

[2019-05-08 23:38] ExperimentsInHonesty commented on #64
This issue has been replaced by issue #75

[2019-05-08 23:38] #64 closed, assigned to nobody

[2019-05-08 23:38] ExperimentsInHonesty commented on #75
This issue replaced issue #64 which has now been closed

[2019-05-08 23:46] ExperimentsInHonesty commented on #19
This issue will come out of the icebox after the cut over and 24 hours for ISP cache clearing.  ETA 5/14

[2019-05-09 00:15] ExperimentsInHonesty opened #97 "Setup version and release structure for HfLA website"
### Dependency
- Homepage launch

### Overview:
Professionalize the HfLA website development environment by using appropriate versioning, setting milestones and releases.

### resources:

- https://semver.org
- Engineering guide https://github.com/hackforla/knowledgebase-content/issues/154

### examples:
https://github.com/CityOfLosAngeles/mobility-data-specification/releases

[2019-05-09 00:27] abregorivas commented on #6
hackforla.org is already whitelisted. Unless a new domain is added this issue is closed.

[2019-05-09 00:27] #6 closed

[2019-05-09 00:43] ExperimentsInHonesty opened #98 "Gh-pages environment variable research"
## Overview
To determine if there is a way to replicate obfuscation available in frameworks like react and vue, with a combination of environment variables and storing secrets

## resources:

- https://gist.github.com/nicolashery/5756478
- https://developer.github.com/actions/managing-workflows/storing-secrets/

[2019-05-09 00:50] abregorivas commented on #78
note the location is
La Kretz Innovation Center, Room 401
525 S Hewitt St, Los Angeles, CA 90013

[2019-05-09 03:01] thekaveman commented on #97
Ok, so for `master` I went back into the history and did my best to estimate some [version tags](https://github.com/hackforla/website/tags), following the structure of [semver](https://semver.org).

This is easy to do, even retroactively. Just figure out the commit hash of where to apply the tag, make sure the branch containing that commit is checked out, and use the command:

[code]

For example,

[2019-05-09 05:23] ExperimentsInHonesty commented on #97
Issue moved from Prioritized Backlog in migrate 1.x to 2.0 to  2.x development because we are done versioning pre launch

[2019-05-09 05:41] ExperimentsInHonesty commented on #73
We have stopped updating master so this change will not be made.  It will wait until new site launches

[2019-05-09 05:41] #73 closed, assigned to nobody

[2019-05-09 19:45] #78 closed, assigned to stu562

[2019-05-10 01:27] ExperimentsInHonesty opened #102 "Change /slack to go through code of conduct first"
## Overview

We want to change it so you can't self invite to the slack channel without accepting the code of conduct.

## Details
Right now if you go to http://hackforla.org/slack it redirects to https://hackforla-slack.herokuapp.com/

If you go to http http://hackforla.org/conduct it takes you here: https://github.com/hackforla/codeofconduct

## Action item
???????????

[2019-05-11 00:40] ExperimentsInHonesty commented on #65
Pull request 77 closed and replaced by PR #93 which is now merged.
@seanholahan @abregorivas is this issue resolved?

[2019-05-11 00:50] ExperimentsInHonesty commented on #75
- light the way image description needs changing
  - It currently says "no parking sign" .
  - It should say "Veteran returned from service to civilian life"
- work for la  image description needs changing
  - It currently says "building of city la department"
  - it should say "Los Angeles City Hall building"

[2019-05-11 01:04] ExperimentsInHonesty commented on #75
I posted a comment in slack about how the image now appears when you send someone the link
![Screen Shot 2019-05-10 at 6 02 39 PM](https://user-images.githubusercontent.com/37763229/57563053-0d579e00-734e-11e9-9bbd-61ef25d24a6a.png)

[2019-05-12 03:52] ExperimentsInHonesty commented on #65
Spoke to Roland.  The issue is resolved.

[2019-05-12 03:52] #65 closed, assigned to seanholahan

[2019-05-12 05:24] ExperimentsInHonesty opened #103 "Discuss what our plan for next phase of development will entail"
## Overview
There are different methodologies for determining site requirements.  If we pick which type we want to use we can keep the team engaged.

## Options
- In person [Design sprint](https://www.gv.com/sprint/)
- online survey of members
- Website User Behavior Modeling #128
- Other: ____________(please add other options to this document, or to comments).

## Action Item
Please add your note

[2019-05-13 03:15] ExperimentsInHonesty commented on #75
PR request104 by Drew fixes the project light the way and work for la websites image description.  Only thing left is updating the image in the open graph tag.  This issue is being moved to the 2.x project development board

[2019-05-14 03:59] thekaveman opened #105 "Release the gh-pages site"
This is a tracking issue for the steps to take to make the cut-over from Netlify to gh-pages official.

These steps more-or-less have to happen at the same time/close together.

## 1. GitHub

- [x] fix #106 (proposed solution in #107)
- [x] update the site URL in `_config.yml`
- [x] make `gh-pages` the [default branch](/hackforla/website/settings/branches)
- [x] remove [Netlify webhook](/hackforla

[2019-05-14 05:38] thekaveman opened #106 "Implement redirects on gh-pages site"
We have a few [redirects currently active](https://github.com/hackforla/website/blob/master/static/_redirects) on the Netlify site. We need to support these in the new gh-pages site as well.

[2019-05-14 05:56] thekaveman commented on #106
[This blog post](https://superdevresources.com/redirects-jekyll-github-pages/) has a fairly good run-down of the options, TLDR;

1. Use the (GitHub approved) [JekyllRedirectFrom](https://github.com/jekyll/jekyll-redirect-from) plugin
2. Create a Layout that does client-side redirect via `<meta>` tag and javascript fallback.

Personally I've used Option 2 before and it's relatively straightforward.

[2019-05-14 07:00] #106 closed, assigned to thekaveman

[2019-05-15 01:19] #105 closed, assigned to thekaveman

[2019-05-21 03:10] Rankazze opened #109 "Potential malicious link"
Under Projects
  CurbMap Project Description
      Links:  Site link pushes to potential malicious path

[2019-05-21 05:31] ExperimentsInHonesty commented on #109
Please paste the url of the page you found the link on, and the malicious link it posts too and a screen shot

[2019-05-21 05:57] abregorivas opened #110 "Create a Code of Conduct Page"
### Dependency
Tabling for now due to lift required and release of VRMS 0.4 - you can check vrms by opening in a browser window https://vrms.io

### Overview
We want to add people seeing / agreeing with the code of conduct before they can get a slack invite, without making it prone to breaking if CfA changes code of conduct that we are forking.

### Background
HFLA code of conduct is located at ht

[2019-05-21 05:59] Rankazze commented on #109
Page I found link on:  https://www.hackforla.org/#projects
Malicious link on: https://curbmap.com/
![image](https://user-images.githubusercontent.com/50686892/58071673-46fc8600-7b52-11e9-8c27-5fa8c72ab3e1.png)
![Screenshot_2019-05-20 Hack for LA](https://user-images.githubusercontent.com/50686892/58071911-efaae580-7b52-11e9-9d19-74573b583be9.png)

[2019-05-21 06:09] abregorivas opened #111 "Improve Performance on images"
A lighthouse audit test recommended converting images to a next gen image and or to optimize images. We need to review our png and jpg images and improve the performance on our images.

Follow the guide at the following site.
https://developers.google.com/web/tools/lighthouse/audits/webp
https://developers.google.com/web/tools/lighthouse/audits/optimize-images

Need the following:
- An explanation

[2019-05-21 06:22] abregorivas opened #112 "Performance: Refactor JS files to exclude babel"
Light house test shows that we could improve our performance by not using babel CDN.
Need the following:
- Refactor the following two files to only use vanilla javascript. No Babel
   "api-actionnetwork.js",  "api-calendar.js"
- Update the head.html _include file to remove the Babel CDN script tag.
- Move issue #117 from icebox once this issue is completed

[2019-05-21 18:59] ExperimentsInHonesty opened #113 "Add survey to website's redirects"
## Overview

We need a survey to evaluate the current user experience on the website and help guide the next phase of development

## Action items

1. add a redirect from hackforla.org/survey to https://docs.google.com/forms/d/e/1FAIpQLSeaYOBwNdXnOErDcjN44D_e-95vulfEpvg0_2n4CTGZlZuUuA/viewform

[2019-05-22 03:20] #113 closed, assigned to stu562

[2019-05-22 03:47] S-Vairon opened #116 "Website User Experience - CTA improvements"
**Adding direct CTA elements to the website**

The primary goal of the website being to have people attend a first meeting, to meet the group and understand what this is all about, helpful modifications would be:

- Replacing the top page newsletter subscription CTA by a direct, welcoming, invitation to attend next meetup.

- Adding precise information about next meetups (place and date) on the to

[2019-05-22 22:53] thekaveman commented on #110
@abregorivas @ddrosario sorry if I missed a convo at DTLA, but I'm not sure I agree with this approach of porting the CoC into the website.

The reason it is in the repo is because this was Code for America's CoC, and we as a Brigade forked it. They have subsequently updated the upstream, and added some additional docs around Slack usage and the expectations at Summit (the CfA conference). In my m

[2019-05-23 03:35] ExperimentsInHonesty commented on #110
@thekaveman I agree about replicating the content and then it getting out of date is not the ideal way to do it.  Do you have another way that we can accomplish an attractive version of the code of conduct, and insert it into the click stream so that they don't get a slack invite without agreeing to it?

[2019-05-23 03:37] ExperimentsInHonesty commented on #110
p.s. I added people from the team that I thought could benefit from the planning part of this issue from UI/UX to implementation and stability.  This is a good issue to see how and why we make the decisions we do.

[2019-05-23 23:01] thekaveman commented on #110
The "attractiveness" of the content should be a secondary concern; the words themselves are what matter here.

I think we should go all the way down the stack to the Heroku app that sends the Slack invite link. Rather than try and hijack the click stream with redirects everywhere, I'd rather we build this directly into the sign-up app so we know it is part of the flow.

**EDIT:** i think this is t

[2019-05-27 19:49] ExperimentsInHonesty opened #117 "Consolidation of JS files to improve load performance Discussion"
## Overview

Light house test shows that we could improve our performance by having a single js file.

## On Hold
Reason: pending issue #112 completion

### Discussion Item
- Check to see if Performance is above 80% and determine if it is necessary to do this step
If it is, discuss with tech lead if its worth the hit to site maintainability .

### Action items - on hold
- Combine the two files int

[2019-05-27 19:59] abregorivas opened #118 "Slack auto invite email response should be changed"
## Overview
Currently the response from the auto invite shows that it comes from Viky but it should come from Nina.

## Action Item
We need to find out how configure slack to set which slack owner email is used to send the welcome response email.

[2019-05-27 20:09] ExperimentsInHonesty opened #119 "Generate new Calendar API keys"
## Overview

Nina & Bonnie will setup a role email account in our hackforla.org gmail suite to host the new calendar and provide new API keys

## On Hold
- Pending completion of #98  - Research issue
- And a future issue which will be the actual steps and implementation of the method designed in the research

## Action Items
Nina & Bonnie will setup a role email account in our hackforla.org gmail

[2019-05-27 20:20] ExperimentsInHonesty commented on #110
Let's talk about this post Summit.  And possibly table this until after we figure out what the plan for the site is moving forward

[2019-05-27 20:48] #75 closed, assigned to thekaveman, abregorivas, ExperimentsInHonesty

[2019-05-27 21:05] ExperimentsInHonesty commented on #13
Wrote to Josh to ask him about keys

[2019-05-27 23:08] ExperimentsInHonesty opened #120 "Updating version 2.0 with related commits"
## Overview

It looks like there are commits after the 2.0 tag was applied.  Is there a way to fix that?

## Action Item
Discussion Can and should we update 2.0 to commit to 74778e6e which seems to be the end of the CNAME edits.  vs where it is now with 0f5c466.

[2019-05-27 23:15] ExperimentsInHonesty opened #121 "Organizing updates to site into branches"
## Overview

Discussion about using branches to store approved pull requests, until we are ready to push a version update or pushing each version to gh-pages, as we are now, but then retroactively assigning version tag.

## Action Item
Discussion

[2019-05-27 23:20] ExperimentsInHonesty opened #122 "Create 2.0.1 tag"
## Overview

We need the next tag to assign to the next release

## Action Item

Create the tag 2.0.1

[2019-05-27 23:23] ExperimentsInHonesty commented on #103
Also, at what point does leadership add what they need on the site for current activities, like outreach to new project partners (e.g., ACLU, etc).

[2019-05-28 04:45] ExperimentsInHonesty opened #123 "Add a new field to project files called Display"
## Overview

We need an easy way to make project cards display or not display temporarily on the site for various reasons

## Action required
@thekaveman , reviews my proposal and if he agrees we make the change specified in the recommendation or an alternate recommendation per Kegan's review.

## Recommendation
Add a new field to project .md files called Display, with the value of true or false.

[2019-05-28 16:24] thekaveman commented on #123
Seems like a reasonable approach to get something going until we figure out the categorization and other things we've talked about for Projects.

From an implementation point of view, it might be easier to add a new field `hide: true` to the couple of cards you want to hide, instead of having to add `display: true` to *all* of the cards. The logic just has to invert in the include.

[2019-05-28 16:29] thekaveman commented on #122
Typically the tag is created *after* all the commits have been made for the release. E.g. if there are some open PRs for the next release, they should all be merged into `gh-pages`, then a tag created on the HEAD.

Tag creation has to be done locally (and to push, you have to have write access on this repo):

[code]

Once the tag is pushed, you can start [drafting a new release](https://github.com

[2019-05-28 16:37] thekaveman commented on #120
Tags should be considered read-only once they are created. You never want to re-write the version to point to a different commit, you just tag/release a new version.

The decision can be a little arbitrary of when to create tags/versions.  It might be more confusing since our code and content are both in the repo. I look for more substantive features/fixes to increment the tag - I don't think we n

[2019-05-28 16:42] thekaveman commented on #121
Please see my comments in #120 and #122 regarding when/how tags/versions are created.

Note that just because a commit is merged into `gh-pages`, it does not necessarily mean you have to tag/release. It's OK to stack a few up. It's also OK (as you suggest here) to create e.g. a `dev` branch that collects all related PRs for a new tag/release until ready. This is typical in larger software projects

[2019-05-28 16:51] thekaveman commented on #121
I'm actually going to close this as a duplicate of the earlier #97.

[2019-05-28 16:51] #121 closed, assigned to thekaveman, abregorivas, ExperimentsInHonesty

[2019-05-28 16:54] thekaveman commented on #118
(Or can we make it come from team@hackforla.org?)

For me this is a larger issue related to the comments I left in #110 and the original issue #102 - ideally we should get control of the Heroku app so we can make this and other changes as needed.

[2019-05-28 16:59] thekaveman commented on #97
Copying my comments from the duplicate #121:

[2019-05-28 17:00] thekaveman commented on #122
Closing as a duplicate of #120.

[2019-05-28 17:00] #122 closed, assigned to nobody

[2019-05-28 17:00] thekaveman commented on #120
Copying my comments from the duplicate #122:

[2019-06-03 03:58] stu562 commented on #111
There is a command line tool called cwebp

WebP | PNG | JPG | GIF
-- | -- | -- | --
Lossy compression | ✓ | ✓ | ✓ | ✗
Lossless compression | ✓ | ✓ | ✓ | ✓
Transparency | ✓ | ✓ | ✗ | ✓
Animation | ✓ | ✗ | ✗ | ✓

Around 25-30% savings

https://bitsofco.de/why-and-how-to-use-webp-images-today/

[2019-06-03 04:43] seanholahan commented on #111
we can use Webp with the new html5 <picture> element so that there is a fallback for older/incompatible browsers that either don't support Webp, or the picture element (only one image is loaded). However when we are using images with the CSS Background Image, we would need to use JS to check for browser compatibility. If we specify multiple background images they will all be loaded. I know we are

[2019-06-04 01:54] ExperimentsInHonesty commented on #98
@ExperimentsInHonesty & @ddrosario need to talk about where we are on this research.

[2019-06-04 01:57] ExperimentsInHonesty commented on #111
This issue requires review by @thekaveman @ddrosario @ExperimentsInHonesty to determine next steps

[2019-06-04 03:27] brandonjturner commented on #118
The response from the auto invite will always say it is from the Primary Owner of the slack. We can create a slack account with team@hackforla.org and assign that as the primary owner so that is the email that shows up on the auto invite email. Only Viky's account can set a new primary owner so we will need to reach out to her for her password or ask her to set the primary owner to the team@hackfo

[2019-06-05 01:37] ddrosario commented on #98
It looks like the way to store secrets on GitHub is through GitHub Actions. GitHub Actions is in public beta. I still have not received a key, but we should probably put this on hold till Actions exits beta and is fully supported.

https://developer.github.com/actions/

[2019-06-06 03:49] #112 closed, assigned to nobody

[2019-06-06 03:50] abregorivas commented on #112
Pull request for  issue#125 moved babel file to body vs having in head. Improved performance.

[2019-06-10 22:40] ExperimentsInHonesty commented on #118
@thekaveman believes that any of the owners can make this change, not just the primary owner (Vyki).  To be verified by Bonnie by looking at Nina's view on Tuesday 6/11.

[2019-06-10 22:49] ExperimentsInHonesty commented on #123
Closed by pull request #124

[2019-06-10 22:49] #123 closed, assigned to ExperimentsInHonesty

[2019-06-10 22:52] ExperimentsInHonesty commented on #111
@stu562 @seanholahan - Please update this issue with your latest findings.

[2019-06-10 22:53] #120 closed, assigned to thekaveman, ExperimentsInHonesty

[2019-06-10 22:59] ExperimentsInHonesty commented on #117
This line of inquiry has been closed.  We ended up moving the babel cdn call to bottom of file which improved performance sufficiently.  Pull request #125

[2019-06-10 22:59] #117 closed, assigned to thekaveman, abregorivas, ExperimentsInHonesty

[2019-06-10 23:14] ExperimentsInHonesty commented on #109
Closed with PR #123

[2019-06-10 23:14] #109 closed, assigned to ExperimentsInHonesty, Rankazze

[2019-06-10 23:14] abregorivas commented on #97
Here are two links to surge to have a continues deployment for Jekyll. May be handy...

https://surge.sh/help/deploying-a-jekyll-project
https://surge.sh/help/deploying-continuously-using-git-hooks

[2019-06-11 18:02] brandonjturner commented on #13
reCAPTCHA v3 returns a score for each request without user friction. The score is based on interactions with your site and enables you to take appropriate action.

If we can get reCAPTCHA v3 site keys for the domain we can have an invisible CAPTCHA check setup with a few lines of code inserted to the _includes/head.html. This will require no user interaction.

We can add an additional secondary ch

[2019-06-11 19:43] joshuazrobins commented on #13
If you wanted to take this on, I've got the keys needed to get it implemented.

[2019-06-11 19:58] brandonjturner commented on #118
Only the Primary Owner can transfer ownership of a workspace or org.

https://get.slack.help/hc/en-us/articles/204401633-Transfer-primary-ownership

[2019-06-11 20:01] brandonjturner commented on #13
@joshuazrobins I would like to take this on. Just to confirm these keys you generated are the ones you refer to in Nov 2018 post. Are they the same since we moved the site to gh-pages and had a redesign? Would you need to regenerate? If they are good still I am ready to take this on.

[2019-06-11 20:03] joshuazrobins commented on #13
Yep I'll send you those keys via Slack. We created a site in the Google reCAPTCHA Admin Console, so we could track it and everything... so it shouldn't need updating.

[2019-06-11 21:53] ExperimentsInHonesty opened #126 "Cross Platform hacknight image standardization"
### Overview

When you click our meetup link from the hfla site it takes you to a page that has our hero image for the overall meetup account, but no images for our individual hack nights.  We need to change that so the user experience is more consistent.

Current images being used on the website to represent the DTLA and Santa Monica hack nights are too small for use at meetup (see Requirements)

[2019-06-12 00:36] seanholahan commented on #111
So I ran audits on the site with next-gen(webp) formatted images and without,
using the webp results in a slightly lower performance score (by one to two points), with an increase of about .1s for most performance metrics.

Seeing that using the <picture> element/webp results in a slightly worse score, I would not recommend going forward the <picture> element/webp image format. Yes, it does get ri

[2019-06-12 00:46] entrotech opened #127 "Update Jobs for Hope link to deployed site"
In _projects/jobs-for-hope.md, change the url for the deployed site from https://jobsforhope.digitalservice.la/
to https://jobs-for-hope.herokuapp.com/

[2019-06-12 01:00] ExperimentsInHonesty opened #128 "Website User Behavior Modeling - current visitor data gathering"
### Dependencies
- #1730
- #542: ~Organizational Dashboard~
- #503: ~Google Analytics~
- After dependency is cleared, read through whole issue and either rewrite or make a new issue that has the relevant information.

### Overview
We need to model the behavior of people on the current hfla website.

### Action Items

- [ ] Review Modeling Questions.
- [ ] Add any others behaviors to track and thei

[2019-06-12 03:46] ddrosario commented on #126
I found bigger versions of the DTLA and Santa Monica pictures. Are these pictures fine or would we want to use different images that are more related to Hack for LA?

Santa Monica [image](https://static.businessinsider.sg/2018/07/07/586e8e70ee14b6c7148b6a30.jpg)
La Kretz [image](https://pbs.twimg.com/media/DFA-wNpXgAA4oFO.jpg)

[2019-06-12 17:41] ExperimentsInHonesty commented on #126
Bonnie to update meetup account with images from the hack nights.

[2019-06-12 17:45] ExperimentsInHonesty commented on #111
Closing this issue because suggested improvements from lighthouse will not result in increased performance.

[2019-06-12 17:45] #111 closed, assigned to ExperimentsInHonesty

[2019-06-12 22:49] #127 closed, assigned to ddrosario, ExperimentsInHonesty

[2019-06-12 23:02] thekaveman commented on #128
IMHO any click/etc. tracking should have an explicit purpose or hypothesis. E.g. we could theoretically have click-tracking on every link on the site, but why? Are there specific questions we're hoping to answer by having more granular use data? If not, I suggest we hold off on this until those questions are formulated.

[2019-06-13 00:58] ExperimentsInHonesty commented on #126
The images on the meetup account have been updated.

[2019-06-13 00:58] #126 closed, assigned to ExperimentsInHonesty

[2019-06-16 20:08] ExperimentsInHonesty commented on #128
@thekaveman I agree.  I have updated the issue.

[2019-06-18 03:48] brandonjturner commented on #13
To implement reCAPTCHA on our static GitHub pages configuration we need a cloud service to handle the server side scripting. IBM Cloud Services or Amazon Web Services are examples that work with reCAPTCHAv3. Do we have an H4LA account with either of those services?

[2019-06-19 02:43] stu562 commented on #128
I was able to take a look at fullstory, simple sign up and got it to work on my local machine, it only needs a script added to the head of the main html file.
It tracks all users session into the signed up account.

For privacy concerns, adding css selectors to exclusion list from FullStory user's account dashboard is possible.

[2019-06-25 21:15] gawaragcha commented on #14
Hey y'all,
  My name is Chris McKee. Sorry if I do this incorrectly. I'm not clear on all the formatting I see on this page.

Here are a few thoughts on the dedicated projects page, which I like, and which I discussed with Bonnie June 17th at the Hack For LA meeting in Santa Monica:

1. I am happy to collect more information about each project and write them up for the pages.

2. I will also be us

[2019-06-27 19:10] ExperimentsInHonesty commented on #13
@brandonjturner - Is there a captcha that doesn't require us to have cloud service to handle the server side scripting?

[2019-07-02 03:07] switchzer0 commented on #128
I think a way to focus what we're optimizing around would be on generating more of the two critical inputs to H4LA output (skills, project ideas):
- converting more new people/skills to show up at events (they'll get manually matched at events)
- converting more new ideas or partner-orgs/departments into potential projects (again, they'll get manually matched after H4LA reviews them)

Only after t

[2019-07-02 23:14] switchzer0 commented on #103
Firstly, I know there's a lot of background information I'm missing because I just showed for the first time a week ago, so please consider my comments with my myopia in mind.

My actual thoughts: I think step 1 is a design sprint, step 2 is behavior-modeling/data-collection. I think there's value in going into this process with a perspective as opposed to a blank slate. Experienced members of H4L

[2019-07-02 23:28] switchzer0 commented on #17
My vote is for medium. I strongly support using social platforms with built-in audiences for blogging, or really anything...web2. Content is of little value without an audience. Medium, and linked shortened content from IG/FB/T provide that audience effectively and capitalize on organic boosts through readers' networks when we garner likes/shares on those platforms.

[2019-07-02 23:37] switchzer0 commented on #14
I support a distinct projects page. One feedback theme we're seeing on the hackforla.org/survey is that people find the overall page very informative but overwhelming. 58% of respondents want to find project information; safe to say it's a very important element to visitors, worthy of its own page.

I really like the point by @gawaragcha No. 7 about simple distinctions between current and "mission

[2019-07-03 00:39] owenjoseph opened #132 "Add Shared Housing project card to website"
### Overview
From @ExperimentsInHonesty's [DTLA Team Project Manager Responsibilities](https://docs.google.com/document/d/1lmQXW_4KOC3HDGdA0-wgEqDJlROYdKzDslK2wrDLJbQ/edit?usp=sharing) doc:

### Action Items
- [x] Gather items
  - [x] 600 x 400 image
  - [x] Name of project
  - [x] A blurb about your project
  - [x] Links (website, github, etc.)
  - [x] What you are looking for skills wise
  - [x]

[2019-07-03 18:48] owenjoseph commented on #132
![black-collaboration-cooperation-943630](https://user-images.githubusercontent.com/39287217/60617362-6eb54f80-9d88-11e9-8ea6-c88d26dfc1d0.jpg)

@Martyna-S ^that's the image @abregorivas shared on slack for the project card^

[2019-07-07 00:50] Martyna-S commented on #132
Tentative project name: "Shared Housing Project". Aaron is planning on hosting a team activity in the next few weeks to come up with a project name as a team, so we can update if the name changes.

[2019-07-07 00:51] Martyna-S commented on #132
Project blurb: LA Family Housing, an LA-based non-profit working to end the homelessness crisis, engaged the help of Hack for LA to identify and design a more efficient & effective solution for matching multiple individuals who experience homelessness as potential co-tenants, and placing the matched individuals in suitable shared housing units.

[2019-07-07 00:52] Martyna-S commented on #132
@owenjoseph can you provide the GitHub links?

[2019-07-07 00:56] Martyna-S commented on #132
Skills we're looking for: project management, product management, design-thinking, user research, user interviews, UX design, UI design, front & back-end web development, scrum / agile project management & product delivery

[2019-07-09 00:46] brandonjturner commented on #13
@ExperimentsInHonesty I can't find a foolproof client-side only solution.

[2019-07-10 00:19] abregorivas commented on #132
Our current github link is
https://github.com/hackforla/shared-housing
Note: Once we come up with our project name this link will change.

[2019-07-13 08:55] ExperimentsInHonesty commented on #132
This project card is ready to be added to the hackforla website

[2019-07-13 09:02] ExperimentsInHonesty commented on #13
@brandonjturner  -I had a conversation with @thekaveman last Monday and he said he would setup the cloud service we need.  We will move this ticket back when Kegan has set that up.

[2019-07-23 01:43] ExperimentsInHonesty opened #133 "Address Security Messages in Github"
### Overview
Github is sending security messages for libraries that are no longer in use.  We need to make them stop

### Action Items
@thekaveman will write Github and ask them how to resolve permanently.

[2019-07-23 01:51] thekaveman commented on #133
Message sent to GitHub support.

[2019-07-23 02:39] gitklu commented on #128
Current progress and low-fidelity wireframes for website re-design:
[Hack for LA Website Redesign](https://docs.google.com/document/d/147dkULzPX5i8hJCzXoMGoJnDEPkKhk9VhpcFMRe5VJE/edit# )

(Doc includes link to survey results of website feedback.)

[2019-07-23 03:05] ExperimentsInHonesty commented on #128
See me for fullstory user/pass

[2019-07-23 03:24] thekaveman commented on #13
I'm kind of annoyed that we need to setup a back-end service just to do this, and especially if it's just for Google's AI to suck up more user data and make decisions for us anyway.

What if we started simple with a hidden input that normal users won't fill out, and we block submissions that have a value in that field (i.e. the "honeypot" approach)? This may inadvertently block some users that hav

[2019-07-23 03:25] gitklu opened #134 "Add card for South LA's Wednesday meetup"
### Overview
Create new card on website to represent South LA's Wednesday meetup

### Action Items
Gather these items and attach them to this issue.  Notify @ExperimentsInHonesty when completed

- [ ] 600 x 400 image of sip and sonder
- [ ] Location

### Resources/Instructions
see https://hackforla.org for how the other hack nights look

[2019-07-23 03:45] gitklu opened #135 "Create project card for 311-data"
### Overview
Provide collateral for the HackforLA website

### Action Items

- [ ] 600 x 400 image
- [ ] Name of project
- [ ] A blurb about your project
- [ ] Links (website, github, etc.)
- [ ] What you are looking for skills wise
- [ ] Partner(s)
- [ ] Location

### Resources/Instructions
See project cards on the hackforla.org website for examples

[2019-07-23 03:45] gitklu opened #137 "Create project card for 311-data"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
- [ ]   Add project Card to website

### Resources/Instructions
See project cards on the hackf

[2019-07-23 03:46] gitklu opened #136 "Create project card for tdm-calculator"
### Overview
Provide collateral for the HackforLA website

### Action Items

- [ ] 600 x 400 image
- [ ] Name of project
- [ ] A blurb about your project
- [ ] Links (website, github, etc.)
- [ ] What you are looking for skills wise
- [ ] Partner(s)
- [ ] Location

### Resources/Instructions
See project cards on the hackforla.org website for examples

[2019-07-23 03:46] gitklu opened #148 "Create project card for tdm-calculator"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
- [x]   Add project Card to website

### Resources/Instructions
See project cards on the hackf

[2019-07-24 03:03] laurenjsandberg commented on #137
**Name of project:** 311 Data

**Blurb:** The 311 Data project seeks to empower local Neighborhood Councils to improve the ideation and analysis of their initiatives using the wealth of publicly available 311 data.

**Links:** Github - https://github.com/hackforla/311-data

**Skills needed:** TBD

**Partner(s):** EmpowerLA

**Location:** Downtown LA

[2019-07-24 03:25] laurenjsandberg commented on #137
600 x 400 px image

![311 project pic](https://user-images.githubusercontent.com/33303993/61762791-f985da80-ad87-11e9-96ac-81062ffe1daa.jpg)

[2019-07-24 03:26] laurenjsandberg commented on #137
@ExperimentsInHonesty please see above for project card details - we're ready to update!

[2019-07-30 03:24] ExperimentsInHonesty commented on #13
@thekaveman I am concerned that this might make the less navigatable for people that use screen readers.  Thoughts?

[2019-07-31 00:14] thekaveman commented on #13
@ExperimentsInHonesty that is a valid concern - a honeypot input would appear as a standard form input to a screen reader, and if filled in, could prevent that user from submitting the form. The site itself shouldn't be any less navigable beyond that, though.

As usual there's a trade-off: do we get so much spam that we absolutely need something in place ASAP, even if just temporary? Or is spam no

[2019-08-06 03:29] thekaveman opened #138 "Update Mission Statement"
### Overview

Hack for LA has finally updated our Mission Statement! We'd love to get this up on the website in place of our current "mission statement" (towards the bottom):

![image](https://user-images.githubusercontent.com/1783439/62508931-2d1c2800-b7be-11e9-9c45-309a6cf31444.png)

### Action Items

Replace the above text with our new Mission Statement:

Keep the first sentence about "Hack for

[2019-08-12 21:14] matikin9 commented on #134
@ExperimentsInHonesty

**Image:**
![sip-and-sonder](https://user-images.githubusercontent.com/1873072/62898793-3439bd80-bd0b-11e9-9d2e-02e5c62599c0.jpg)

**Details:**
South LA
Wednesdays at 6:00pm

Sip & Sonder
108 S Market St.
Inglewood, CA 90301

[2019-08-13 03:19] thekaveman commented on #133
GitHub responded!

They have indicated they resolved the issue for this repository, and they're working on a general bug fix.

[2019-08-13 03:42] ExperimentsInHonesty commented on #13
Now that github actions has been publicly announced we can use the secret keeping function to hide the keys using environment variables.  My understanding is that we won't need a cloud service to do this.  What do you you think @brandonjturner.

[2019-08-14 05:04] heylittlehouse commented on #137
I created a pull request to add the card here: #142

[2019-08-14 05:05] heylittlehouse commented on #132
I created a pull request to add this card here: #141

[2019-08-14 23:23] matikin9 commented on #110
Hi everyone - I just wanted to comment that I've updated the app the runs the slack invite.  It's now using: https://github.com/emedvedev/slackin-extended

To add the Code of Conduct directly, we'll have to fork that repo and then make our changes.  I'll deploy the new version to the Heroku account running the app.

In the meantime, can we add a link on the website to our existing Code of Conduct?

[2019-08-15 05:14] #138 closed, assigned to thekaveman, ashlingam

[2019-08-17 20:45] tabatahg opened #143 "Add Twitter Icon on Webpage"
Add twitter icon on webpage for twitter account.

[2019-08-19 18:57] #137 closed, assigned to nobody

[2019-08-19 18:59] #132 closed, assigned to nobody

[2019-08-20 02:58] ExperimentsInHonesty opened #145 "Create project card for the Not Today project."
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image - to be provided by @myastark
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
- [x]   Add project Card to website

### Resources/Instructions

[2019-08-22 05:49] thekaveman commented on #143
The Twitter icon is currently in the footer, but it should be in the header as well - maybe even instead of Facebook in the header, since we see more activity on Twitter.

[2019-08-22 05:50] thekaveman commented on #133
Closing for now, seems to be resolved.

[2019-08-22 05:50] #133 closed, assigned to thekaveman

[2019-08-23 23:24] #134 closed, assigned to thekaveman, matikin9, tamurafatherree, ExperimentsInHonesty

[2019-08-24 23:34] dreams0ng commented on #148
[LATDM PROJECT CARD.pdf](https://github.com/hackforla/tdm-calculator/files/3537651/LATDM.PROJECT.CARD.pdf)

[2019-08-27 19:49] ExperimentsInHonesty commented on #145
Name of Project: Not Today: Self-Defense Against Suicidal Thoughts
Project blub: NotToday is a mobile app for people who suffer from chronic suicidal ideation (thoughts).  It allows people to time-shift their desire to live across suicidal/non-suicidal dissociated mental states.
Link: Github https://github.com/hackforla
 What you are looking for skills wise: Flutter, Mobile Development UI/UX, Empa

[2019-08-27 21:38] myastark commented on #145
![NotToday-Logo---D3 copy](https://user-images.githubusercontent.com/54009156/63809918-5bca8180-c8d8-11e9-815c-4695097e5658.png)

[2019-08-28 03:05] ExperimentsInHonesty commented on #145
Alt text for image: person being supported art by c.w. moss

[2019-08-28 03:24] nekobox commented on #148
![TDM Card Image (600x400)](https://user-images.githubusercontent.com/14010934/63823404-9ba95d00-c908-11e9-9ed9-cc866bb2f668.jpg)

[2019-08-28 05:12] nekobox commented on #148
**Name of Project**: LA TDM Calculator
**Blurb**: We’re building a TDM web calculator for LADOT. It scores proposed real estate developments in real-time and aims to discourage exceeding parking requirements to reduce the occurrence of single-occupancy trips to new developments.
**Links**: https://github.com/orgs/hackforla/teams/tdm-calculator (Github)
**Partner**: LA Department of Transportation

[2019-08-28 05:18] ExperimentsInHonesty commented on #148
per Nichole : Alt image text: LA TDM Calculator Landing Page (Mock Up)

[2019-08-28 17:14] thekaveman commented on #118
I think this has been solved, right @matikin9? You transferred ownership and updated the auto-invite email address.

[2019-08-28 20:23] matikin9 commented on #118
@thekaveman yup, confirmed resolved.  Closing out this issue.

[2019-08-28 20:23] #118 closed, assigned to matikin9, ExperimentsInHonesty

[2019-08-28 20:29] matikin9 commented on #17
This one got implemented at some point (icon is in the upper right corner!) so I'm closing this out.

[2019-08-28 21:53] ExperimentsInHonesty commented on #145
Turns out I put the wrong url for the Github link: https://github.com/hackforla/not-today

[2019-08-28 21:53] ExperimentsInHonesty commented on #145
Also. I reverted the commit from the merge above because something else was wrong with it.  Going to review now.

[2019-08-28 22:54] joshuazrobins opened #150 "HFLA logo placement in the header is inconsistent depending on size of browser window"
### Overview
The Hack for LA logo (upper-left corner) in the header is placed inconsistently across differing browser window sizes. See the images below:

Mobile:
![image](https://user-images.githubusercontent.com/1521996/63897944-c8fb1700-c9ab-11e9-92d0-255d37914453.png)

Desktop:
![image](https://user-images.githubusercontent.com/1521996/63897950-cf898e80-c9ab-11e9-91e1-63fbe23ed63a.png)

### Ac

[2019-10-08 02:11] #148 closed, assigned to nekobox, dreams0ng, ExperimentsInHonesty

[2019-10-15 02:37] #143 closed, assigned to ashlingam

[2019-10-15 03:51] thekaveman opened #156 "Prototype the Projects page"
### Overview

We want to start prototyping a dedicated Projects page. This task will eventually roll up into #14.

###  Dependency
#254 filtering and When we are ready to do this page, we will also have to redesign the homepage #492 , because the projects, which are taking up all the space will be gone.

### Action Items

1. Create a new page under `/projects`
2. Render the current list of project

[2019-10-15 03:54] thekaveman opened #157 "Prototype a Project Home Page"
### Overview

We want to start prototyping a dedicated page for each Project. These are already being rendered by Jekyll, but we need to add more details. This task will eventually roll up into #14.

### Action Items

1. Edit the existing Project layout under `_layouts/project.html`
2. Fill out details, assets, etc.
3. Render links as cards.

[2019-10-22 23:55] McRawly opened #158 "Update ReadMe to add instructions for new team members beyond dev environment."
### Overview
Does the working READme file easily on-board new team members?

### Action Items
- [x] Add the following information as a comment to this issue:
   - [x] GitHub permissions process for new users?
   - [x] Git fork and clone instructions for new users?
   - [x] Getting added to slack and google drive folders, anything else?

### Resources/Instructions
PUT LINK TO README.md FILE HERE:
h

[2019-10-23 00:56] McRawly opened #159 "Current-Pages clean-up"
### Overview
Change display of project cards on Current Pages section of home page (current-pages.html) to photo, project name, and status with a link to a more in depth "single-project" HTML page.

This change will have to coincide with addition of Projects page and Project Specific Page

### Action Items

- [x] Modify Project Cards to show: image, project name, status, and Learn More button.
- [

[2019-10-23 01:14] McRawly opened #160 "Project Card "Status" Color Code mark"
### Overview
Add styling and code for displaying a "Status" indicator as an overlay on the project card image.

![sample_overlay](https://user-images.githubusercontent.com/18178289/67347293-7c890f00-f4f6-11e9-962e-b3ffd11973da.png)

### Action Items

- [x] Add status to Project Cards (also a task for Issue #159 )
- [ ] Add status element to Current-Projects page cards (current-projects.html)
- [ ]

[2019-10-23 01:23] McRawly opened #161 "Conform "Not Today" logo image to proper aspect ratio and size"
### Overview
Replace the "Not Today" project card with an image padded on each side to fit the square Not Today logo to the wide-aspect-ratio.

### Action Items

- [ ] Conform square logo to proper aspect ratio AND size.

See other project logo sizes for correct image size.

### Resources/Instructions
Good first issue.

[2019-10-23 01:53] alecg123 opened #162 "Develop Wins page"
### Overview
Wins Page will document our project successes as well as individual team members 'growth+development+and achievements'; including new hires and skills.

One of our HackForLA Website Update Objectives is to “Present a clear and compelling value proposition for participants in projects.” Essentially what can a volunteer get out of volunteering for Hack for LA?

### Action Items
- [x] Pr

[2019-10-23 02:49] McRawly commented on #156
![image](https://user-images.githubusercontent.com/18178289/67352480-f9bb8080-f504-11e9-9ee8-7bc25642a64c.png)
Is this the latest design idea?  I'm thinking of assigning this task to Matt. Hopefully I'm not superceding Brandon's work.

[2019-10-23 03:10] alecg123 opened #163 "Add Margin to Homepage Sections"
### Overview
On homepage, when one clicks the menu links and go to the subsections of the page, (ex: # projects) the browser brings the top of the screen to the start of the section and the menu bar consequently is displayed over the section heading text.

### Action Items
- [ ] Add margin to proper elements (menu or sections) so this functionally looks good.

If guidance is needed, find a front e

[2019-10-23 04:00] sarL3y commented on #157
Here's a v1 for the Project-specific page. I'll take a stab at the Projects Page in the other issue next.

Edit: Found a better wireframe tool.

[Project-Specific Page Prototype v1 (Desktop).pdf](https://github.com/hackforla/website/files/3760791/Project-Specific.Page.Prototype.v1.Desktop.pdf)

![Project-Specific Page Prototype v1 (Desktop)](https://user-images.githubusercontent.com/39248174/67368

[2019-10-23 09:06] sarL3y commented on #156
v1 of the Projects Page wireframe with sort functionality for your consideration:

[Projects Page Prototype v1 (Desktop).pdf](https://github.com/hackforla/website/files/3761362/Projects.Page.Prototype.v1.Desktop.pdf)

![Projects Page Prototype v1 (Desktop)](https://user-images.githubusercontent.com/39248174/67376902-baf3ed80-f539-11e9-9581-151a1353167e.png)

[2019-10-25 00:15] brentjayingram commented on #161
@alecg123 Can I work on this?

[2019-10-28 01:42] McRawly commented on #161
@bingr001 yes, I've assigned you the task.

[2019-10-28 22:06] #145 closed, assigned to heylittlehouse, ExperimentsInHonesty, myastark

[2019-10-30 03:18] sarL3y commented on #160
**First iteration:**
![Screenshot from 2019-10-28 23-05-11](https://user-images.githubusercontent.com/39248174/67826357-757b7700-fa89-11e9-9dcc-e33c04e8224b.png)
Feedback: The Status tag might be difficult to see over the image
Suggested changes: Move the tag to the right of the title, below the image

**Second iteration:**
![Screenshot from 2019-10-29 15-05-28](https://user-images.githubuserconte

[2019-10-30 03:53] McRawly opened #499 "Create project card for Record Clearance"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image for the project card that appears on hackforla.org
     - [x]  Alt image text
  - [x] 1500 x 700 hero image for the project home page
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you

[2019-10-30 06:14] brentjayingram commented on #163
Can I work on this?

[2019-11-02 04:27] McRawly commented on #158
@harishlingam I had started this issue to track the change I had made to the readme.
Perhaps we can continue to make updates to the comment below until we're happy, for now the comment below is what I have for review by Kegan.

[2019-11-02 04:31] McRawly commented on #158
# website

This is a standard [Jekyll][jekyll] site hosted right here on [GitHub pages][ghpages].

There are two options for developing the site locally: (1) Using the environment container "Docker" or (2) using Ruby and Jekyll directly ensuring you're using the same exact environment we're developing in. Therefore the first approach is recommended and very easy to use. The second approach is not

[2019-11-02 04:34] McRawly commented on #158
I feel that using GitHub Desktop is much easier than command line Git for new users. I've been using it for a class project and it's worked out well. It helps with branches and rebasing (though instructions would be helpful there anyway).

[2019-11-02 04:37] McRawly commented on #158
@thekaveman @alecg123 @sarL3y @KianBadie @ExperimentsInHonesty @harishlingam this seems to be an easier approach to drafting an update to the readme than pushing changing and having Kegan review it.

[2019-11-03 04:45] Rankazze opened #167 "Update Project Card on the HackforLA website [Shared Housing Project]"
### Overview
Provide collateral for the HackforLA website

### Action Items

  - [ ]  What you are looking for skills wise: please omit all positions/skills.  Now looking for Graphics Designer
  - [ ]  Partner(s) LA Family Housing
 - [ ]   Update project Card on website

### Resources/Instructions
See project cards on the hackforla.org website for examples

[2019-11-03 20:20] ExperimentsInHonesty commented on #167
@Rankazze & @c-fuchs  I am moving this to the https://github.com/hackforla/website/projects/2 for action.  I'll send this card back to you when the update to the project card has been completed.

[2019-11-03 20:23] ExperimentsInHonesty commented on #167
@McRawly Please assign this to one of the developers.  When its been completed, and pushed to the website, please @ me here so I can move it back to the project board for Shared Housing.

[2019-11-04 03:29] ExperimentsInHonesty opened #168 "Add project logo or image to HackforLA's website repository"
### Overview
By adding the project's logo/image to your project's primary repository, we will be able to dynamically deliver up to date information about your project to the hackforla.org website.  Also when people add the link to the repository in LinkedIn or Slack, or other social media it will automatically use the image as well as the description, improving the link's chances of getting clicke

[2019-11-04 03:33] ExperimentsInHonesty opened #169 "Fix challenge with code-for-america results not being complete"
### Overview
Add codeforamerica as well as code-for-america topic tag searching (concatenated)

### Action Items

- [ ] Get the code from @ExperimentsInHonesty 's notebook
- [ ] Edit code
- [ ] Submit PR

### Resources/Instructions
N/A

[2019-11-04 18:53] ashlingam opened #170 "Create project wiki"
### Overview
Create a wiki for use by all members of the project.

### Action Items
- [x] Review 311 Project Wiki
- [x] Create Resources page
- [x] Create Tools page
- [x] Create Team page
- [x] Create Agendas page
- [x] Create Deliverables page

### Resources/Instructions
Reference wiki: https://github.com/hackforla/311-data/wiki

[2019-11-05 03:46] ashlingam opened #172 "Verify MIT License requirements"
### Overview
Verify compliance with MIT License requirements for use of graphic assets.

### Action Items
- [x] Read online MIT License guides
- [x] Create any requisite terms of use or citations for assets used

### Resources/Instructions
https://opensource.org/licenses/MIT
https://tldrlegal.com/license/mit-license

[2019-11-05 03:52] ashlingam opened #173 "Source copyright safe social media icons"
### Overview
Verify sourcing/copyright of social media icons. Two of them are currently out of date, and all of them might not be in license compliance

### Action Items
- [x] Perform online research to source social media icons to replace existing ones
- [x] Replace existing social media icons with new set
- [x] Upload revisions to site

### Branding Resources/Guidlines
G Suite folder for all [so

[2019-11-05 03:55] ashlingam opened #174 "Create Product Management process diagram"
### Overview
Create Product Management process diagram to explain sequential steps in the product development process from user story ideation to product launch to product analytics.

### Action Items
- [x] Create process flow diagram
- [x] Get feedback on process flow diagram from Bonnie
- [x] Revise and post process flow diagram to wiki

### Resources/Instructions

[2019-11-05 04:03] ashlingam opened #175 "Add user stories to Kanban board from revised PRD"
### Overview
Add user stories to Kanban board from revised PRD

### Action Items
- [  ] Translate new epics to user stories and add to associated Kanban board

### Resources/Instructions

[2019-11-05 04:17] StephenVNelson commented on #167
I am currently working on this.

[2019-11-05 19:15] ashlingam opened #176 "Create UX interview forms (all personas)"
### Overview
Create a persona interview form to be administered by UX designer or product manager during onboarding nights. The purpose of the form is to elucidate additional must-haves, wants, and nice-to-haves for the HFLA website. Data collected from this research will be used to create, revise, and filter the total set of available user stories into an MVP definition.

### Action Items
- [x] A

[2019-11-07 20:59] ExperimentsInHonesty opened #177 "Which accessibility testing tool should you use?"
### Overview
Figure out which accessibility tool is right for testing the accessibility of the newly added project status indicator and indicate your recommendation in this issue.

There are more than 100 accessibility testing tools.  Figuring out which ones to use can be a black hole.  For guidance we recommend this article:  [Which accessibility testing tool should you use?](https://medium.com/p

[2019-11-10 08:02] KianBadie commented on #177
Thank you for the starting resources for search of what accessibility tool to use Bonnie! I've only done a little bit of research, but it definitely does seem like a little bit of a rabbit hole trying to find "the ones" to use.

As a starting point, using a combination of the trio of aXe, SiteImprove, and WAVE sound ok to me. Like they would be able to pick up at least low hanging fruit? I will tr

[2019-11-10 08:55] ExperimentsInHonesty commented on #177
This issue is template I built to introduce all developers to the concept if useability testing.  I think you have the concept now.  So, its time to just start experimenting and as you make pr requests, if they are going to change the look of the site, run whatever accessabilty tools you think are appropriate and mention which in your pull requests so others can learn from reading the closed issue

[2019-11-10 22:38] KianBadie commented on #177
Got it, makes sense, I will be doing that from now on then!

[2019-11-12 03:04] ExperimentsInHonesty commented on #177
@harishlingam you can close this when you have finished reading.

[2019-11-12 04:04] ashlingam opened #178 "Development workflow diagram"
### Overview
Update SDLC (Sample Software Development Lifecycle) diagram to incorporate Glossary hyperlinks and branding.

### Dependency
#602

### Action Items
- [x] Add branding to diagram
- [x] Replace boxes with diamond's and indicate yes/no decision points
- [ ] Test process on new feature #602.
- [ ] Create web page with embedded diagram and hyperlinks to Glossary of Terms page
- [ ] Choose

[2019-11-12 04:11] ashlingam opened #179 "Create HackforLA.org Website Wiki"
### Overview
Create Getting Started guide for project wiki

### Action Items
- [x] Draft 'Who are you?' section
- [x] Create pages for each volunteer type and corresponding hyperlinks
- [x] Create stepwise ordering of wiki hyperlinks for each volunteer type
- [x] Get Bonnie's feedback on Getting Started section
- [x] Accessibility compliance information is too dense. Include  accessibility guide t

[2019-11-12 04:29] #167 closed, assigned to McRawly, KianBadie, ExperimentsInHonesty, Rankazze

[2019-11-13 19:17] brentjayingram commented on #161
I believe this was fixed with: https://github.com/hackforla/website/pull/166

[2019-11-19 03:11] ExperimentsInHonesty commented on #161
Closed by pull request #166

[2019-11-20 03:12] #168 closed, assigned to McRawly, ExperimentsInHonesty

[2019-11-20 18:48] ExperimentsInHonesty opened #181 "Finalizing Github setup for new team members"
### Overview
All team members need to have 2 Factor Authentication setup on their Github accounts.  And it is good (but optional) if they have their Hack for LA membership marked public.

### Action Items

- [x] After hackforla github admin adds the new person to our github and to team, and notifies you, then send them the message via slack and ask them to follow up with you when completed with 2F

[2019-11-20 18:57] ashlingam opened #182 "Evaluate UX survey forms"
### Overview
Evaluate UX survey forms. Do side-by-side comparison of survey forms. Determine which one to use for upcoming on boarding nights.

### Action Items

### Resources/Instructions

[2019-11-20 19:45] ashlingam opened #183 "Move old survey form to current Google drive folder"
### Overview
Move old survey form to current Google drive folder so that it can compared and potentially revised.

### Action Items

### Resources/Instructions

[2019-11-23 03:45] ExperimentsInHonesty commented on #128
decided to setup a project specific email.  Will organize with Wes

[2019-11-23 03:46] KianBadie commented on #157
First iteration of project page made around Oct 21st

![Screenshot from 2019-10-21 20-21-38](https://user-images.githubusercontent.com/18221058/69472560-a84f1d00-0d60-11ea-9abb-eb3a1cdd2e8d.png)

[2019-11-23 03:47] #161 closed, assigned to brentjayingram

[2019-11-23 03:49] KianBadie commented on #157
Second iteration of project page based off of wire frame made by @sarL3y

![Screenshot from 2019-11-18 19-21-00](https://user-images.githubusercontent.com/18221058/69472583-dc2a4280-0d60-11ea-913f-a5e346633126.png)

[2019-11-23 03:53] KianBadie commented on #160
Screenshots of what the status indicators look like.

![Screenshot from 2019-11-22 19-52-03](https://user-images.githubusercontent.com/18221058/69472645-a043ad00-0d61-11ea-8388-4a8a8e1fa584.png)
![Screenshot from 2019-11-22 19-52-13](https://user-images.githubusercontent.com/18221058/69472650-a3d73400-0d61-11ea-8e44-e32712e9abcd.png)

[2019-11-23 04:00] ExperimentsInHonesty opened #184 "Prototype the hackforla.org home page"
### Overview
Update design of Home Page and revise global elements. A new Projects page is to be created and the current Projects section of the home page will be redesigned.

### Action Items
- [ ] Review the other prototypes
- [ ] Create wireframe for updated home page
- [ ] Create mockup for updated home page

### Resources/Instructions
[Lucid Chart](https://www.lucidchart.com/pages/)
https://w

[2019-11-23 05:19] KianBadie commented on #173
The Facebook app and Github branding resources were only available in .esp or .png, which might have conflicted with the current way we implement the icons. I converted it to a .svg using an application called [inkscape](https://inkscape.org/). Is that ok?

As a result of the conversion, there is a lot of inkscape metadata in the .svg file, but it can be deleted without affecting the .svg itself.

[2019-11-23 06:16] KianBadie commented on #173
Also, this is something I am confused about. According to the guidelines for the[ Facebook app branding resources](https://en.facebookbrand.com/facebookapp/assets/f-logo?audience=landing), it states:

Similar on the [Twitter Guidelines](https://about.twitter.com/en_us/company/brand-resources.html)

Does this create problems for us? Is it that big of a deal to change the color to match our current

[2019-11-24 00:43] KianBadie commented on #173
Just for conversation sake, here's a preview of what the "original" colors would look like on the main nav bar.
![Screenshot from 2019-11-23 16-42-37](https://user-images.githubusercontent.com/18221058/69487525-5bc31a80-0e10-11ea-9fc0-f7264ce3d557.png)

[2019-11-24 03:11] ExperimentsInHonesty commented on #173
I think it depends on where we are displaying the icons.  It sounds like we are using the icons appropriately on the home page (black and white).  But on the project pages, in the resource section it makes sense to use the color icons.

[2019-11-24 21:25] ysjiang18 commented on #157
![Project Page Wireframe Revision](https://user-images.githubusercontent.com/38798303/69501853-d9912f80-0ebd-11ea-9be8-3644592ad62c.png)
I made some minor changes, the overall page looks great.

[2019-11-25 04:47] ysjiang18 commented on #184
![Home Page Wireframe](https://user-images.githubusercontent.com/38798303/69513060-69a19a00-0efb-11ea-9075-432074f2332e.png)

https://www.figma.com/file/zwhb0eT9YjHYwxcfoxLa7s/HackforLA-Website?node-id=0%3A1
Please click on the link to go to Figma file to comment. Once we can confirm on the wireframe, then I will continue on with the prototype.

[2019-11-25 07:25] StephenVNelson commented on #156
I have created the basic design and rudimentary filtering functionality. I would like to talk with one of the reviewers for some feedback.

[2019-11-25 23:16] ashlingam opened #185 "Create UX interview forms for external personas"
### Overview
Create UX interview forms for external personas

### Action Items
- [ ] Create UX interview form for non-profit stakeholders
- [ ] Create UX interview form for government stakeholders
- [ ] Create UX interview form for friends of Hack for LA
- [ ] Create UX interview form for prospective funders

### Resources/Instructions
https://www.interaction-design.org/literature/article/how-to-c

[2019-11-25 23:18] ashlingam opened #186 "Administer UX interview forms to organizational stakeholders"
### Overview
Review the existing stakeholder contact/survey forms to see how they have been utilized and how we might utilize them.

### Action Items
- [ ] Get access to the form responses
- [ ] review reason for asking each question (see board 2)
- [ ] Discuss with Research lead proposed actions

### Resources/Instructions
Board with all the questions defined https://github.com/hackforla/website/

[2019-11-25 23:21] ashlingam opened #187 "Create new folder with templates and graphic assets"
### Overview
Create new folder with templates and graphic assets

### Action Items
- [x] Create new folder with templates and graphic assets (i.e. social media icons, logos, etc.)
- [x] Transfer relevant templates and graphic assets to folder

### Resources/Instructions

[2019-11-25 23:48] ashlingam opened #188 "Create Kanban board how-to deck"
### Overview
Create Kanban board how-to deck that instructs new members on how to use GH project boards.

### Action Items
- [x] Create Kanban board how-to deck
- [x] Upload Kanban board how-to-deck to assets folder
- [x] Add to Appropriate location (Civic Tech Structure readme)

### Resources/Instructions
https://github.com/hackforla/civic-tech-structure/blob/main/README.md
[Github: Kanban board

[2019-11-25 23:51] ashlingam opened #189 "Implement analytics tools into website"
### Overview
Implement analytics tools into website

### Action Items
- [x] Collect information on implementation of analytics tools (John Ritchie from 311 is assisting)
- [x] Select optimal tools and decide on metrics of interest
- [x] Upload and activate tools

### Resources/Instructions

[2019-11-25 23:57] ashlingam opened #190 "Create Hack Night project onboarding protocol"
### Overview
Create Hack Night project on boarding protocol

### Action Items
- [ ] Write up Hack Night project on boarding protocol

### Resources/Instructions
Notes for onboarding:
- Add their information to project roster.
- Add them to Google Drive Hack for LA folder: "Hi X, here is access to the folder for the Hack for LA website. Thanks, Harish"
- Start a card for Bonnie: "Bonnie, Add X to f

[2019-11-26 00:11] ashlingam opened #191 "Create donor solicitation strategy"
### Overview
Create donor solicitation strategy and web page

### Action Items
- [x] Examine other non-profit donor pages for reference and collect best practices.
- [ ] Figure out which brigades are not on list (i.e., have their own fiscal sponsor), and analyze their approach.
- [ ] see what code for america is doing.
- [ ] Analyze data from donor UX forms
- [ ] Create donor solicitation strategy

[2019-11-26 00:23] ashlingam opened #192 "Write user stories for Hack for LA Leader persona"
### Overview
Write user stories for Hack for LA Leader persona

### Action Items
- [ ] Write some user stories that describe your needs and wants as a Hack for LA leader within the [Personas and User Stories](https://github.com/hackforla/website/projects/6) board

### Resources/Instructions

[2019-11-26 03:19] ashlingam opened #193 "Add project-specific language metadata to Project Home Page"
### Overview
Collect project-specific language data

### Action Items
- [ ] Collect project-specific language data from project leads and enter into spreadsheet on Google Drive
- [ ] Slack Stephen Nelson link to spreadsheet so he can add to yml and update page

### Resources/Instructions
Where Jekyll stores it data [overview](https://jekyllrb.com/docs/datafiles/)

[2019-11-26 03:56] ashlingam opened #194 "Perform comparative analysis of website donor pages"
### Overview
Perform comparative analysis of website donor pages.

### Action Items
- [x] Perform comparative analysis of 5 nonprofit websites' individual donor and institutional sponsor pages.
- [x] Distill effective practices of successful CfA brigades
- [x] https://www.councilofnonprofits.org/tools-resources/corporate-sponsorship

### Resources/Instructions

https://topnonprofits.com/examples/d

[2019-11-26 04:13] ashlingam opened #195 "Add new members at Team Level to project on GitHub"
### Overview
Add new team members to project on GitHub

### Action Items
- [ ] Add 'mailemalin'
- [ ] Add 'jmrshll'
- [ ] Add 'linndaqun'
- [ ] Add 'Kayala47'
- [ ] Add 'Antonio-revilla''
- [ ] Update Team Roster to reflect

### Resources/Instructions

[2019-11-26 04:14] ashlingam opened #196 "Add 'linndaqun' at Team Level to project GitHub"
### Overview
Add 'linndaqun' to project GitHub

### Action Items
- [ ] Add 'mailemalin' to project GitHub
- [ ] Update Team Roster to reflect

### Resources/Instructions

[2019-11-26 04:15] ashlingam opened #197 "Add 'jmrshll' at Team Level to project GitHub"
### Overview
Add 'jmrshll' to project GitHub

### Action Items
- [ ] Add 'mailemalin' to project GitHub
- [ ] Update Team Roster to reflect

### Resources/Instructions

[2019-11-26 04:15] ashlingam opened #198 "Add 'Kayala47' at Team Level to project GitHub"
### Overview
Add 'Kayala47' at Team Level to project GitHub

### Action Items
- [ ] Add 'mailemalin' to project GitHub
- [ ] Update Team Roster to reflect

### Resources/Instructions

[2019-11-26 04:16] ashlingam opened #199 "Add 'antonio-revilla' at Team Level to project GitHub"
### Overview
Add 'antonio-revilla' to project GitHub

### Action Items
- [ ] Add 'mailemalin' to project GitHub
- [ ] Update Team Roster to reflect

### Resources/Instructions

[2019-11-28 01:19] KianBadie commented on #173
Hello @harishlingam and @ExperimentsInHonesty, I've finished reqorking/updating the social icons in the nav bar. There is one more social icon, which is the meetup one:

![Screenshot from 2019-11-27 17-17-42](https://user-images.githubusercontent.com/18221058/69769480-d5714600-1139-11ea-8327-bb891e5b7ada.png)

Would you like me to get a proper source for this icon as well? And in addition, would y

[2019-11-30 00:26] sarL3y opened #201 "Add Slack channel field on each project.md card"
Add the project's slack channel link to a field on the project-specific page

[2019-12-01 22:42] KianBadie commented on #187
Added to the folder the social media icon svgs I am currently using in my branch.

[2019-12-03 00:18] StephenVNelson commented on #156
So I have fully functioning filtering and the basic design.
1. There is one issue where the top margin of the footer is making a white space at the bottom of the page. I'm open to suggestions as far as how we handle that because changing the footer CSS would change everything on every page.  (see screenshot below)
2. When @harishlingam and I talked last week I let him know that currently none of t

[2019-12-03 01:08] ExperimentsInHonesty opened #202 "Non hack night event not showing up on homepage"
### Overview
The non hack night events must show up on the homepage.  Its supposed to pull that from the meetup api, and display on the area set aside for that

### Action Items
Figure out if the Meetup API is returning data at all.
If it is, figure out why its not parsing it onto the homepage

### Resources/Instructions
ask Kegan if you need help.

[2019-12-03 03:09] ashlingam opened #203 "Recruit technical code reviewer"
### Overview
Recruit technical code reviewer

### Action Items
Recruit technical code reviewer

### Resources/Instructions

[2019-12-03 03:56] KianBadie commented on #173
What the updated social media icons look like.

Header:
![Screenshot from 2019-12-02 19-55-10](https://user-images.githubusercontent.com/18221058/70019308-b1e53b80-153d-11ea-9bc1-d460c85b9d0c.png)

Footer:
![Screenshot from 2019-12-02 19-55-03](https://user-images.githubusercontent.com/18221058/70019307-b14ca500-153d-11ea-8b75-a983b6adb6dc.png)

[2019-12-03 18:25] ashlingam opened #205 "Remove Hacker Fund logo (and text) from page bottom"
### Overview
Remove Hacker Fund logo from page bottom

### Action Items
Remove Hacker Fund logo from page bottom

### Resources/Instructions

[2019-12-03 18:29] ashlingam commented on #173
This looks great Kian! Look forward to seeing it on the site.

[2019-12-03 18:47] ashlingam opened #206 "Move UX survey to hackforla.org/survey/[X]"
### Overview
Move UX survey to hackforla.org/survey/[X]

### Action Items
Move UX survey to hackforla.org/survey/[X].

The [X] will represent a unique identifier specific to the persona administered. This will allow us to collect persona specific data.

We will use a separate spreadsheet to map identifiers to personas.

### Resources/Instructions

[2019-12-03 18:57] Rankazze opened #207 "Remove Hackerfund from Sponsor section on homepage"
### Overview
Remove Hackerfund from Sponsor section on homepage

### Action Items
Remove Hackerfund logo from Sponsor section on homepage

[2019-12-03 18:58] ashlingam commented on #184
This wireframe looks to be a great starting point. Selena will be revising it after reviewing the collected qualitative UX research.

(1) Not sure how much press HFLA has gotten to date. If its threadbare, it might be better to omit such a section for now until the organization accrues more articles.
(2) I believe the sponsors would be better listed on a dedicated Donor page, which we're working o

[2019-12-03 19:02] Rankazze opened #208 "Add Sip & Sonder logo to Sponsor section on homepage"
### Overview
Add Sip & Sonder logo to Sponsor section on homepage

### Action Items
Add Sip & Sonder logo to Sponsor section on homepage

### Resources/Instructions
https://www.sipandsonder.com/

[2019-12-03 19:10] ashlingam opened #209 "Create a Guide: Using Kanban Project Boards for Team Effectiveness"
### Dependency
- #918

### Overview
We need a guide that exaplains how and why we use kanban for new members so that they will have an overview.

### Action Items
- [x] Create draft doc
- [ ] identify how doc is different from guide published on website
- [ ] send to UI for mockup

- [ ] This guide issue needs to be updated on our [Guide Tracking sheet](https://docs.google.com/spreadsheets/d/1omYk

[2019-12-03 19:16] ashlingam opened #210 "Build Partnerships/Sponsors web page"
### Overview
Build Sponsor page

### Action Items
- [ ] Build sponsor web page based on wireframes
- [ ] User test and get feedback
- [ ] Publish

### Dependencies
Get feedback from the survey
Get wireframes done

### Resources/Instructions

[2019-12-03 20:11] ExperimentsInHonesty commented on #202
I forgot that the non hack night events listing is driven by a google calendar. I added the event to our google calendar and its showing up perfectly on the website now.

[2019-12-03 20:11] #202 closed, assigned to KianBadie, StephenVNelson, ashlingam

[2019-12-03 20:12] #207 closed, assigned to nobody

[2019-12-04 04:08] GeorgeSu commented on #205
@ExperimentsInHonesty Hey Bonnie, I noticed the website still says that Hack for LA is a project group of Hacker Fund. Does this need to be removed as well? If so, can you let me know what you want to replace the text with, thanks!

<img width="923" alt="Screen Shot 2019-12-03 at 8 06 20 PM" src="https://user-images.githubusercontent.com/7980047/70111886-8418f900-1608-11ea-862c-0935931503df.png">

[2019-12-04 21:39] #208 closed, assigned to nobody

[2019-12-04 21:50] ExperimentsInHonesty commented on #205
@GeorgeSu Thank you for surfacing this.  Let's replace the text

Current text: Hack for LA is a project group of Hacker Fund and the official Los Angeles Chapter of Code for America.

Replacement text:  Hack for LA is a project and the official Los Angeles brigade of Code for America.

[2019-12-04 22:58] #185 closed, assigned to ashlingam, ysjiang18, myastark

[2019-12-05 02:40] StephenVNelson commented on #206
@harishlingam  Is this in progress? If so should we move it to "in progress"? If it's not in progress may I work on it?

[2019-12-05 02:44] StephenVNelson commented on #150
@ExperimentsInHonesty @RyanCahela What's the update on this? Is it alright if I take it on?

[2019-12-06 00:38] ashlingam commented on #206
@StephenVNelson I've moved to in progress. Happy to have your help, though waiting to hear back from @newdra24 to sort out access to the data, which he has. The idea is to have 4-5 domain subfolders, specific to each persona that completes the survey. This way the data is segregated, but the same form is used.

[2019-12-06 21:55] ExperimentsInHonesty opened #257 "Create project card for new-schools-today"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
- [x]   Add project Card to website

### Resources/Instructions
See pr

[2019-12-09 01:37] KianBadie commented on #157
Here is a current work in progress of the prototype for the project page
![Screenshot from 2019-12-08 17-35-54](https://user-images.githubusercontent.com/18221058/70400755-4f7ab800-19e1-11ea-9e43-84313a4fe656.png)
![Screenshot from 2019-12-08 17-36-05](https://user-images.githubusercontent.com/18221058/70400756-51447b80-19e1-11ea-836c-091f34af442b.png)

[2019-12-10 04:44] #163 closed, assigned to KianBadie

[2019-12-10 04:51] #160 closed, assigned to McRawly, KianBadie, ExperimentsInHonesty

[2019-12-12 00:01] ExperimentsInHonesty commented on #206
@harishlingam why is this in the review column?

[2019-12-12 00:18] ashlingam commented on #206
@ExperimentsInHonesty Probably should have pinged you instead. Was intended as a reminder to review/approve the pull request so the new survey URLs will be operational on the live site.

[2019-12-12 23:14] KianBadie commented on #187
Am I allowed to close this issues since it is in the "Done" section, or is it important to keep it open? This goes for other "done" issues as well.

[2019-12-16 04:25] ashlingam opened #215 "Retrieve list of successful brigades with donor/sponsor pages"
### Overview
List of successful brigades with donor/sponsor pages

### Action Items
Retrieve list of successful brigades with donor/sponsor pages. This will serve as reference for the HFLA Website buildout of a donor/sponsor website section.

### Resources/Instructions
https://www.codeforamerica.org

[2019-12-16 05:23] ashlingam opened #216 "Distill compliance requirements for corporate sponsorship"
### Overview
Distill rules/requirements for donor/sponsor solicitation

### Action Items
Distill rules/requirements for donor/sponsor solicitation, including legal, tax deduction, marketing/advertising, and donation match.

### Resources/Instructions

https://codeforsanfrancisco.org/sponsor/

https://www.councilofnonprofits.org/tools-resources/corporate-sponsorship

https://www.adlercolvin.com/rev

[2019-12-17 03:10] ExperimentsInHonesty commented on #215
Here is the [brigade budget spreadsheet](https://docs.google.com/spreadsheets/d/1DODGZyLItHJrvzJEmznHzYXh3pqHvPgTnNRnE1jokF4/edit?usp=sharing)

[2019-12-17 07:47] Rankazze opened #217 "TDM Calculator card status update request"
### Overview
Project card status update request from "on hold" to "active".

### Action Items
Please update the status on the TDM Calculator card from "on hold" to "active".

@ExperimentsInHonesty

[2019-12-22 05:44] harishlingam opened #219 "Collect HFLA stats for use on donor/sponsor pages"
### Overview
Collect impressive HFLA stats on project successes, the outsize impact of project teams on LA civic life, etc. that can shed meaningful light on the importance of giving to HFLA. This information will be added to the Donor/Sponsor pages to justify contribution to stakeholders.

### Action Items
Collect impressive HFLA stats for use on donor/sponsor pages

### Resources/Instructions

[2019-12-22 06:18] ashlingam opened #220 "Create Sponsor page"
### Overview
Create Sponsor page

### Action Items
- [ ] Wireframe Sponsor page based on comparative research and UX survey data
- [ ] Code Sponsor page and submit pull request

### Resources/Instructions

http://codeforsanfrancisco.org

[2019-12-22 16:33] ashlingam opened #221 "Administer UX interview forms to internal stakeholders"
### Dependencies
~Issue #242~

### Overview
Administer UX survey forms to various stakeholders. Announce survey at hack night and email appropriate parties.

### Action Items
- [ ] Administer survey at DTLA Hacknight
- [ ] Administer survey at Westside Hacknight
- [ ] Administer survey at SOLA Hacknight
- [ ] Administer online survey via email blast and Meetup links
- [ ] Set up word cloud account

[2019-12-22 16:45] KianBadie commented on #157
Current state of the page:
![Screenshot from 2019-12-22 08-37-03](https://user-images.githubusercontent.com/18221058/71324716-4d136600-2497-11ea-9145-ac78a0038d84.png)

Accepting any kind of feedback. The place I have most in mind right now is the banner, and how to make it look nice.

[2019-12-23 00:19] ashlingam opened #222 "Add Getting Started guide as link field to each project card"
### Overview
Add "Getting Started" guide as link field in Markdown of each project card.

### Action Items
Add "Getting Started" guide as link field in Markdown of each project card. This link will direct users to the Getting Started documentation specific to a project. Projects without such documentation will not have such a link.

### Resources/Instructions

[2019-12-23 00:25] ashlingam opened #223 "Add XML tree to site"
### Overview
Add navigation site tree to Wiki.

### Action Items
Add navigation site tree to Wiki. See if a plug-in is available that will provide breadcrumb navigation to each page of the Wiki.

### Resources/Instructions

[2019-12-23 00:29] ashlingam opened #224 "Project-specific Getting Started documentation"
### Overview
Project-specific Getting Started documentation

### Action Items
Request that all projects via their Slack channel indicate where their Getting Started documentation lives. Project cards on the HFLA website will link to this documentation via a Getting Started link.

### Resources/Instructions

[2019-12-23 01:04] ashlingam opened #225 "Create data visualization in Excel sheet of composite survey data"
### Overview
Create data visualization in Excel sheet of composite survey data

### Action Items
Create data visualization in Excel sheet of composite survey data. Get feedback from Bonnie/Kegan when completed and request approval of the pull request.

### Resources/Instructions

[2019-12-24 21:36] ExperimentsInHonesty commented on #199
@harishlingam please close this issue and the issues related to it.  If it still needs to be done, please make into one issue

[2019-12-24 21:38] ExperimentsInHonesty commented on #199
@harishlingam I believe this is the issue you created to replace this and the other issues: https://github.com/hackforla/website/issues/195

[2019-12-24 23:11] ExperimentsInHonesty opened #226 "Create a project card for Undebate"
### Overview
The Undebate project needs to be added to the website

### Action Items
Add new undebate.md file to hackforla.org website, populated with the info for the project
Make sure you use the last image posted, not the prior image.

### Resources/Instructions
[Collateral](https://github.com/EnCiv/undebate/issues/23)

[2019-12-24 23:18] ExperimentsInHonesty commented on #205
This issue is not completed yet.  The text is still there.

[2019-12-24 23:19] ExperimentsInHonesty commented on #177
@harishlingam can we close this issue now?

[2019-12-24 23:31] ExperimentsInHonesty opened #227 "Reconcile issues not showing up on any project board"
### Overview
There are open issues that are not on the project boards.

### Action Items

- [ ] review the missing issues
- [ ] assign them to the appropriate boards, or close them.

### Resources/Instructions
Go to this [url](https://github.com/hackforla/website/issues?utf8=%E2%9C%93&q=no%3Aproject+type%3Aissue+is%3Aopen) to see all issues that are not on any project board.

[2019-12-25 02:39] ExperimentsInHonesty opened #228 "Look at installing a CMS to be able to update project card information without code"
### Overview
It would be nice if we had a way for predictable changes to the project cards, to be managed without it becoming a coding task.

The changes that have come up in the past two weeks that could have been managed by this are:

- Removing a partner from a project card (food oasis)
- Changing the status on a project card from On Hold to Active (tdm-calculator)
- Adding a project card to a

[2019-12-25 02:44] #173 closed, assigned to KianBadie, ashlingam

[2019-12-25 02:59] #150 closed, assigned to nobody

[2019-12-25 03:09] #217 closed, assigned to ExperimentsInHonesty

[2019-12-25 03:14] #205 closed, assigned to ExperimentsInHonesty

[2019-12-29 06:27] ExperimentsInHonesty commented on #157
potentially adding link to see a demo, not jus a site.

[2019-12-29 06:39] ExperimentsInHonesty commented on #157
I think the challenge with the banner is that we are trying to make something work for the banner that is only designed to work for the cards.  Why don't we just request a different image from the projects for the project specific page.  it allows them to come up with something that is more narrative.

[2019-12-29 07:00] ExperimentsInHonesty commented on #157
![Screen Shot 2019-12-28 at 10 59 13 PM](https://user-images.githubusercontent.com/37763229/71553521-b75f6580-29c5-11ea-892e-0f0391069dc7.png)
This screenshot was taken from the hellogov.org website.  What about using it as a placeholder for a second image, that is not the card image

[2019-12-29 19:36] KianBadie commented on #157
I like that idea @ExperimentsInHonesty, and I think that would also be a great image for the banner. I think in order for that to be implemented, we would have to create a banner property on the project cards. Because currently, the project page is a layout that jekyll is using, so I wouldn't be able to hard-code this in for this specific page, but would have to check for a variable that is part o

[2019-12-29 21:26] ExperimentsInHonesty commented on #157
@KianBadie in order to add a second image to the project's md file, we need to decide what to rename the current image field and a host of other questions.  I am going to open an issue for this discussion and I will get back to you with his answer.

[2019-12-29 23:10] ExperimentsInHonesty opened #233 "Figure out naming convention for additional images"
### Overview
The project cards and future project home pages are fed content from the files in website/_projects.  Inside of that file there is only one image designated.
image: /assets/images/projects/311.jpg.
we need to be able to specify multiple images for projects (banner, event photo, ???, etc.)

### Action Items
Review **suggested new file architecture sample** for restructuring of image fi

[2019-12-29 23:20] KianBadie commented on #157
@ExperimentsInHonesty Sounds good!

[2019-12-30 23:36] ashlingam commented on #199
@ExperimentsInHonesty That's correct. The individual cards for each new member were redundant and consolidated into one card. All new members on the Team Roster have been added to GitHub now and I'm closing the redundant open issues.

[2019-12-30 23:36] #199 closed, assigned to ashlingam

[2019-12-30 23:37] #198 closed, assigned to ExperimentsInHonesty

[2019-12-30 23:37] #197 closed, assigned to ExperimentsInHonesty

[2019-12-30 23:37] #196 closed, assigned to ExperimentsInHonesty

[2019-12-31 00:07] #220 closed, assigned to KianBadie, ashlingam

[2019-12-31 00:21] ashlingam commented on #225
@ExperimentsInHonesty @thekaveman I've created an Excel workbook (https://docs.google.com/spreadsheets/d/1zo4I6NiGPgkweC1OIrcLaGDrK-FTGke6PfJREla-VdQ/edit?usp=sharing) that links to each of our separate UX survey forms (Google Forms provides dynamic data export). The workbook automatically updates as new surveys are completed. I've replicated the pie graphs provided in the Google Forms and also cr

[2019-12-31 01:03] ashlingam commented on #227
Not sure why I overlooked this. I've reviewed the open issues from the list you linked and closed or assigned them to project boards as appropriate. Thank you @ExperimentsInHonesty

[2019-12-31 01:03] #227 closed, assigned to nobody

[2019-12-31 01:04] #181 closed, assigned to ashlingam

[2019-12-31 01:04] #195 closed, assigned to ExperimentsInHonesty

[2019-12-31 01:04] #182 closed, assigned to ashlingam

[2019-12-31 01:05] #179 closed, assigned to ashlingam, myastark

[2019-12-31 01:05] #190 closed, assigned to ashlingam

[2019-12-31 01:05] #183 closed, assigned to ExperimentsInHonesty

[2019-12-31 01:05] #187 closed, assigned to KianBadie, ashlingam, ExperimentsInHonesty

[2019-12-31 01:05] #158 closed, assigned to nobody

[2019-12-31 01:06] #170 closed, assigned to ashlingam

[2019-12-31 01:06] #175 closed, assigned to ashlingam

[2019-12-31 01:06] #174 closed, assigned to ashlingam

[2019-12-31 01:06] #176 closed, assigned to ashlingam

[2019-12-31 01:06] #194 closed, assigned to ashlingam

[2019-12-31 01:06] #172 closed, assigned to KianBadie, ashlingam

[2019-12-31 01:07] #215 closed, assigned to ExperimentsInHonesty

[2019-12-31 01:07] #177 closed, assigned to ashlingam

[2019-12-31 01:08] #159 closed, assigned to nobody

[2019-12-31 02:34] ExperimentsInHonesty commented on #193
@StephenVNelson is working on this Jan 1-1 week.  demo on 6th

[2019-12-31 03:09] ashlingam opened #235 "Identify URL of general HFLA Meetup page vs. Westside-specific Meetup page"
### Overview
Identify URL difference between general HFLA Meetup page and Westside-specific page

### Action Items
- [ ] Identify URL difference between general HFLA Meetup page and Westside-specific page
- [ ] Check-in with Kian to update "Join our Meetup" call to action button

### Resources/Instructions
https://www.meetup.com/hackforla/

[2019-12-31 03:14] ashlingam opened #236 "Retrieve JSON file for website repo"
### Overview
Retrieve JSON file for website repo to review available actionable data fields

### Action Items
Retrieve JSON file for website repo
Attach JSON file to this issue

### Resources/Instructions

[2019-12-31 03:40] ashlingam opened #237 "Add Getting Started drop down section within Project Home Page"
### Overview
Add Get Started drop down within Project-specific page

### Action Items
Add Get Started drop down within Project-specific page, which contains Getting Started call-to-action with links to Markdown files. The projects that have it will uncomment it and add it in. If projects have a Getting Started guide, a Getting Started button will display.

For iteration 0, every button will link t

[2019-12-31 03:45] #222 closed, assigned to nobody

[2019-12-31 05:55] ashlingam opened #239 "Create background color mockup variations for project's section of HFLA Home Page"
### Overview
Create background color mockup variations for Projects section

### Action Items
- [ ] Create 3 mockup variations of background color for Projects section using the the following three background colors: (1) light grey (2) taupe (3) white with drop shadow for project cards (4) gradient continuation from page top to page bottom (no break).
- [ ] Verify against compliance with ADA color

[2019-12-31 05:57] ashlingam opened #240 "Split test Projects section color variations at hacknight"
### Overview
Split test Projects section color variations at hack night

### Action Items
Split test Projects section background color mockup variations at next Westside Hacknight.

### Resources/Instructions
color variations are in #239

[2019-12-31 06:00] ashlingam opened #241 "Cleanup project shared drive"
### Overview
Cleanup shared drive

### Action Items
Cleanup shared drive. Currently, there are several duplicate files that need to be removed.

### Resources/Instructions

[2019-12-31 06:04] ashlingam opened #242 "Revise UX survey forms and link to website"
### Overview
Revise UX survey forms for distribution to organization.

### Action Items
- [x] Revise Google UX survey forms to split questions by Yes/No and free-form response types.
- [x] Revise Excel dashboard to reflect changes to survey.
- [x] Collect royalty-free images for use in survey banner
- [x] Update project lists across all surveys
- [x] Post project leader survey in Project Lead Slac

[2019-12-31 06:41] StephenVNelson commented on #156
Here is the preview of the projects page as a part of the full website.
![image](https://user-images.githubusercontent.com/20952309/71612482-81e98200-2b55-11ea-805a-6bc4fad0143b.png)

[2019-12-31 06:47] StephenVNelson commented on #156
Just did a pull request #243 that is ready for review

[2019-12-31 18:19] ashlingam opened #244 "Create a project card for HackforLA.org Website"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image (for hackforla homepage project card)
  - [x] 1500 x 700 Hero image (similar to hackforla homepage)
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]

[2019-12-31 18:24] ashlingam commented on #244
@KianBadie @ExperimentsInHonesty HackforLA.org Website should have a card added to the website.

[2019-12-31 19:55] #241 closed, assigned to ashlingam

[2019-12-31 23:03] StephenVNelson commented on #236
@KianBadie @ExperimentsInHonesty @harishlingam
# Example Of GitHub API Call
Here is some data I pulled with postman using the API call that Kegan put together. It has detailed results form everything that is under the _hack-for-la_ topic, which is ostensibly all the data from [this GitHub search](https://github.com/search?q=topic%3Ahack-for-la). _notice both the API return and this seach have 21 i

[2020-01-02 02:48] KianBadie commented on #244
@harishlingam Sounds good! Is there currently information for what values will go in the fields for description, looking for, links, etc.?

[2020-01-02 02:52] KianBadie commented on #237
Is this something we want to be implemented immediately, so it shows on the project homepage? Or is this going to be implemented along with the development of the project-specific page, and integrated to the home page when the project page get's rolled out?

@ExperimentsInHonesty @harishlingam

[2020-01-02 03:12] KianBadie commented on #201
@harishlingam @ExperimentsInHonesty is this field going to be a subfield of the existing "links" field? Or a new field of it's own? Some projects have a Slack link under the "links" field already.

Also, for retrieving the slack links, would we just have to reach out to the project managers or do the digging on the github repo for the projects?

[2020-01-02 19:04] ExperimentsInHonesty commented on #226
@KianBadie please post a screen shot of what the card looks like on your computer into this issue.

[2020-01-03 04:49] KianBadie commented on #226
@ExperimentsInHonesty oh yeah I can do that, sorry about that. I'll try to do that along with my post next time before I make a pull request.

[2020-01-03 04:52] KianBadie commented on #226
![Screenshot from 2020-01-02 20-51-00](https://user-images.githubusercontent.com/18221058/71707837-b5205100-2da1-11ea-8851-e8f5c3e8cfc3.png)

[2020-01-03 09:40] #226 closed, assigned to KianBadie

[2020-01-05 22:21] ashlingam commented on #201
@KianBadie My thought would be to leave this as a subfield of the Links field for now until we have completed a rendition of the 'Get Started' drop down. It may make sense to relocate a Slack button into this drop down section. I'll think about this some more and wireframe out for us to discuss.

[2020-01-05 23:08] ExperimentsInHonesty commented on #156
@StephenVNelson Please revert the sort controls to the prior version (white).  Also, please have the default position of the selectors say Location and Status

[2020-01-07 02:22] KianBadie opened #246 "Update Project Profile: Public Tree Map"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is

[2020-01-07 02:25] KianBadie commented on #246
As I was typing this, I realized something. While we have an example of a good project banner, should all the project banners across the site be the same size? That way, if a user clicks from project to project there will be consistency. If so, what should the size of the project banner be? A quick and shallow google search threw up some numbers like 16:9 for ratios for banner images.

[2020-01-07 03:40] #14 closed

[2020-01-07 03:44] #103 closed, assigned to thekaveman, matikin9, abregorivas, S-Vairon, ExperimentsInHonesty

[2020-01-07 04:19] ashlingam opened #247 "Update Project Profile: Lucky Parking"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [ ] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is

[2020-01-07 04:22] harishlingam opened #248 "Update Project Profile: Not Today"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-07 04:24] harishlingam opened #249 "Update Project Profile: New Schools Today"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-07 04:25] ashlingam opened #250 "Update Project Profile: Record Clearance"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-07 04:25] ashlingam opened #251 "Update Project Profile: Engage"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] Updated wording, if necessary, on the project card (see [hackforla.org](https://www.hackforla.org/)).
- [x] Information on which tools your team is using for the project (Ex: Figma, Balsamiq, Photoshop, etc.). This i

[2020-01-07 04:26] ashlingam opened #252 "Update Project Profile: helloGOV"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is

[2020-01-07 04:27] ashlingam opened #253 "Update Project Profile: Public Tree Map"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [x] Update "Looking Fo

[2020-01-07 04:34] ashlingam opened #254 "Create project filtering on HFLA Home Page"
Create project filtering on home page that allows for filtering by programming language, location, and project status. This filtering replicates the functionality found on the Projects List page as wireframes earlier.

[2020-01-07 04:42] nickgieschen commented on #248
In terms of technology, we're using React Native and Expo (probably).

[2020-01-07 04:43] myastark commented on #248
Text: Not Today is mobile app for people who suffer from chronic suicidal thoughts. The goal of the app is to provide support for not moving from thought to action in any given day.
Website: not-today.app
Getting Started: https://github.com/hackforla/not-today/blob/master/start-here/Not-Today%20Deck%203.0.pdf

[2020-01-07 04:43] ashlingam opened #255 "Update Project Profile: Undebate"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [ ] Updated wording, if necessary, on the project card (see [hackforla.org](https://www.hackforla.org/)).
- [x] Information on which tools your team is using for the project (Ex: Figma, Balsamiq, Photoshop, etc.). This i

[2020-01-07 04:49] breeze-094 commented on #247
- Description: A platform looking for nearby street parking with least possibility of getting citation
- Tools: Google Colab and its dependency
- Looking for:  Python, Machine Learning, Deep learning, Data Science.
- Link is update to date
- Banner to be updated later
- readme: https://drive.google.com/open?id=1gnEUpcPIu8AX5bw1kPIZdubwcDDtsI-y; https://drive.google.com/open?id=1-7G2inkbz4o14AHIX1V

[2020-01-07 04:57] jacoronilla commented on #248
![NotToday_header](https://user-images.githubusercontent.com/15912618/71869488-14929f80-30c7-11ea-8b66-5a962253163f.png)

[2020-01-07 04:57] ghost commented on #257
NEEDED ASAP, before Jan. 9, 2020.

[2020-01-07 16:57] ddfridley commented on #255
@harishlingam The instructions say that the banner image should be 16:9 but the example you show is 10:1 (1298x129) .  Can you clarify what you are looking for?  Is it to replace what's on the hackforla site now, or is it for a new use?

When you say "update the fields" I'm not sure how, but I think you mean by leaving a comment here.  If something else, please let me know.

For tools, please add

[2020-01-07 18:25] jacoronilla commented on #248
Project Tools: Github, Google Drive, Padlet
Design Tools: Invision, Invision Studio or Sketch

[2020-01-07 18:26] jacoronilla commented on #248
Looking For: Design (UX, Product, Research)

[2020-01-07 18:56] harishlingam opened #256 "Create project card for VRMS Project"
SUMMARY:
Create project card for VRMS Project.

ACTIONS:
Emulate format and include content as found on other project cards.

[2020-01-07 18:56] ashlingam opened #288 "Create project card for VRMS Project"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image (for hackforla homepage project card)
  - [x] 1500 x 700 Hero image (similar to hackforla homepage)
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]

[2020-01-09 17:26] ghost commented on #257
Finished: [Profile](https://docs.google.com/document/d/1AOiuwxfXEkg_SlIVzzIzen5XEUAZ1IIs0PhNT2k7Sz0/edit?usp=sharing)

Image:
![hflaprofile](https://user-images.githubusercontent.com/58455740/72090061-1eccbd80-32c2-11ea-8c0e-7c81491a163c.jpg)

[2020-01-09 20:34] ExperimentsInHonesty commented on #257
My suggested rewrites.  Please comment below with your suggested rewrites or comments.

Image:
above - waiting for approval from speaker who's face is depicted.

Alt Image text:

Team working during meeting with remote Advisor via zoom screen

Project Name:

New Schools Today

Project Blurb:

We’re building a platform for students across LA County to create more accessible school-related apps and

[2020-01-09 20:49] ghost commented on #257
Hi Bonnie, Yamato also took this picture: ![hfla-team-profile](https://user-images.githubusercontent.com/58455740/72103192-8fcd9e80-32dd-11ea-8631-2710fb25839e.JPG), would that be better?

possible Alt-text: team discussing ideas and possible features during Monday meeting

[2020-01-09 21:13] ExperimentsInHonesty commented on #257
Approval given by speaker MB for picture use via CfA Slack on 1/9/2020 at 12:47 Pacific time.

@ethanh256

[2020-01-10 02:15] KianBadie commented on #157
From a Zoom meeting with Bonnie on 1/6:
[Necessary context for the "Getting Started" feature](https://github.com/hackforla/website/issues/237)

- The main [Hack for LA Getting Started readme](https://github.com/hackforla/getting-started) will be on each project page under the "Getting Started" section.
- Adding another field to each project md file called "resources" that is similar to the existin

[2020-01-10 02:16] KianBadie commented on #237
From a Zoom meeting with Bonnie on 1/6:

- The main [Hack for LA Getting Started readme](https://github.com/hackforla/getting-started) will be on each project page under the "Getting Started" section.
- Adding another field to each project md file called "resources" that is similar to the existing "links" field (which currently holds every link associated with the project). Resources will now cont

[2020-01-11 02:19] KianBadie commented on #237
Creating a to do list for myself:

[X] Every project links to generic Hack for LA readme
[X] Check for existing readme or wiki and display it if exists
[X] If none exists, create call to action button to create one
[X] Create drop down menu feature, with the ability to close it

Also keeping track of things that came up during development that I wanted to bring up:

- What is going to be the name

[2020-01-11 20:06] ashlingam commented on #237
_Is this something we want to be implemented immediately, so it shows on the project homepage? Or is this going to be implemented along with the development of the project-specific page, and integrated to the home page when the project page get's rolled out?_

@KianBadie First, some clarification on terminology. We are no longer using "project-specific page":

Project Home Page: Page specific to e

[2020-01-11 20:15] ashlingam commented on #237
I have asked @ysjiang18 to wireframe the drop down section so we can have clarity on what this should look like.

[2020-01-12 00:38] ExperimentsInHonesty commented on #237
Q & A
Q1:  Can a project have both a wiki and readme?
A1: If a project has a readme and a wiki, the wiki displays.  The wiki should link to the readme if there is one.

Q1a: If so, how would the naming of that work in the md card?
see the example of a md project card below.
md card example:
title: Shared Housing Project
description: The shared housing team works on creating an efficient & effectiv

[2020-01-12 17:56] ashlingam opened #259 "Obtain list of DTLA projects to Slack request for information"
### Overview
Obtain list of DTLA projects to call for information by issue

### Action Items
Please send Harish list of DTLA projects. Harish will join Slack channels and request project leads to furnish information as outlined in their issue.

### Resources/Instructions

[2020-01-12 18:42] ExperimentsInHonesty commented on #224
this got combined with other issues related to each project #246, #247, #248, #249... #255

[2020-01-12 18:42] #224 closed, assigned to ashlingam

[2020-01-12 19:52] ExperimentsInHonesty opened #260 "Determine best image size for project homepage hero image"
### Overview
There needs to be a hero image that is unique for each of the project pages, and project leads need to know what those dimensions are. The dimensions of all hero images is to be: 1500 x 700 px.

### Action Items

- [x] Team discuss Charlotte's suggestions
- [x] Annotate this issue with additional questions
- [x] Send questions to Charlotte
- [ ] Review feedback
- [ ] Make decision on

[2020-01-12 19:57] ExperimentsInHonesty commented on #260
Notes from team meeting:
1. Project Homepage definitely needs a hero image because projects want to feel that its custom to their project.
2. We have changed the page to use a gradient similar to the hackforla.org homepage
3. The current hero image on the  hackforla homepage is 1500x719.
4.  Charlotte is suggesting 1800 x 700 for the project page.

Q for @charlottesauce : What is the benefit of 18

[2020-01-13 08:26] charlottesauce commented on #260
@ExperimentsInHonesty -- posted this in slack in response to stephen's find in the slack channel. Posting it here for posterity so it doesn't disappear into the ether.

(below found by stephen)

---------my response below---------

Hi all! As I’m sure you’ve discovered, hero image dimensions aren’t an exact science. :)

A 16:9 ratio is fine (I’m guessing the 1600x500 is a typo which should say 160

[2020-01-13 08:34] charlottesauce commented on #260
Sorry, I realize I didn't directly answer you question.

 In short:

1800x700 is somewhat arbitrarily chosen based on another site I think looked fine.

The (arbitrary) benefit of 1800x700 it is that it allows for a nicer image quality on retina screens, and more space for content beneath.

I think 1500x700 also works (and looks) totally fine.

[2020-01-14 03:47] ashlingam commented on #255
Hi @ddfridley, 1) please provide all requested information as a comment on this page, as you've already started to do. 2) We've just updated our issue card to specify dimensions for the banner image. Please let me know if you have any other questions!

[2020-01-14 03:48] emillipede commented on #253
Public Tree Map documents all 35,000 public trees (and vacant tree sites) in Santa Monica's urban forest. The map includes contextual information compiled from open datasets, digitized city records, and federal ecosystem services values. To reflect tree plantings and removals, the map updates every day.

Links: [Github](https://github.com/orgs/Public-Tree-Map/projects/1), [Test Site](https://publi

[2020-01-14 04:20] #259 closed, assigned to ExperimentsInHonesty

[2020-01-14 04:35] jacoronilla commented on #248
![not-today-header-1500x700](https://user-images.githubusercontent.com/15912618/72314566-45815000-3644-11ea-94e0-a558272bc691.png)

[2020-01-14 06:30] StephenVNelson commented on #254
submitted [this pull request](https://github.com/hackforla/website/pull/261) to add filters to the front page.

[2020-01-14 06:39] StephenVNelson commented on #193
Update:
I now have a GitHub action that successfully
1. Checks out gh-pages branch
2. Makes an API call
3. sends the data to the GitHub workflow
4. forwards that data to a GitHub action that saves it as a JSON file
5. activates a GitHub action that adds all new content to the repository and commits the file

What is left to do is:
- [ ] Clean up code and add comments
- [ ] Add logic that stops the

[2020-01-15 01:11] harishlingam opened #262 "Update Project Profile: 311 Data"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-15 01:11] harishlingam opened #263 "Update Project Profile: FOLA"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-15 01:11] ashlingam opened #308 "Update Project Profile: FOLA"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is

[2020-01-15 01:12] ashlingam opened #264 "Update Project Profile: Host Home"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-15 01:12] ashlingam opened #265 "Update Project Profile: Jobs for Hope"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-15 01:13] ashlingam opened #266 "Update Project Profile: Metro OnTime"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is

[2020-01-15 01:13] harishlingam opened #267 "Update Project Profile: TDM Calculator"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [ ] Update "Looking Fo

[2020-01-15 01:13] ashlingam opened #327 "Update Project Profile: TDM Calculator"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
Provide in the comments below:
- [x] Obtain project card info
    - [x] updated wording if necessary on the project card (see [hackforla.org](https://www.hackforla.org/))
    - [x] information on which Tools your team is using for the project (Ex: figma

[2020-01-15 01:14] ashlingam opened #268 "Update Project Profile: Shared Housing"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [x] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [x] Update "Tools" Section to display the tools being used for the project (Ex: figma, Balsamiq, photoshop, etc.)
- [x] Update "Looking Fo

[2020-01-16 23:03] Rankazze commented on #268
No updates at this time.  Thanks!

[2020-01-18 01:30] KianBadie commented on #237
Current progress:
![Screenshot from 2020-01-17 17-25-05](https://user-images.githubusercontent.com/18221058/72656178-6bfa0080-394e-11ea-8ac8-1cdab3430d35.png)
![Screenshot from 2020-01-17 17-24-44](https://user-images.githubusercontent.com/18221058/72656177-6b616a00-394e-11ea-814a-832a2bd4152d.png)

Feedback:
- A lot of red from a combination of the buttons and theme of the site.
- Make the "x" gr

[2020-01-18 01:43] KianBadie commented on #157
From Zoom meeting on 1/11:
The discussion in #237 is also related to this

- It seemed that the page had better feedback when it was going in this direction:
![Screenshot from 2020-01-17 17-36-37](https://user-images.githubusercontent.com/18221058/72656446-132b6780-3950-11ea-9247-a2638d5d68eb.png)
- Changing green background to a blue that matches the end of the gradient on the project banner.
- C

[2020-01-19 18:28] ExperimentsInHonesty commented on #203
Success!!! added Cnythia to the team : @cnk

[2020-01-19 18:28] #203 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-01-19 18:30] #260 closed, assigned to ExperimentsInHonesty, charlottesauce

[2020-01-19 19:26] ExperimentsInHonesty commented on #257
when you do the pull request ask cnk to review.
use fixes # and issue number on pull request

[2020-01-19 19:44] ExperimentsInHonesty opened #269 "Move template to correct folder"
### Overview
Move template file from website to .github repository

### Action item
Move the template update-project-profile---name-of-project-.md in this folder
https://github.com/hackforla/website/tree/gh-pages/.github/ISSUE_TEMPLATE
to this folder
https://github.com/hackforla/.github/tree/master/.github/ISSUE_TEMPLATE

[2020-01-19 19:46] ExperimentsInHonesty commented on #235
This does not seem to be possible.  Alternative would be setting up different meetup accounts.  Which has the downside of bifurcating our membership and hurting the new hacknight SOLA

[2020-01-19 19:46] #235 closed, assigned to ExperimentsInHonesty

[2020-01-19 20:06] ExperimentsInHonesty commented on #128
@harishlingam  to get login sorted.

[2020-01-20 03:19] ashlingam opened #270 "Scrape JSON file for UX relevant fields"
### Overview
Scrape JSON file for any UX applicable fields.

### Action Items
- [ ] Scan JSON file and extract fields that may be of potential use and notate as comment within this issue.
- [ ] Discuss with Bonnie how identified fields may be actionable.

### Resources/Instructions
https://github.com/hackforla/website/files/4013609/exampleOfAPICall.json.zip

[2020-01-20 03:19] #236 closed, assigned to KianBadie, StephenVNelson, ashlingam, ExperimentsInHonesty

[2020-01-20 03:29] ashlingam opened #271 "Recruit UI/UX specialist to join team"
### Overview
Recruit UI/UX specialist to join team

### Action Items
Recruit a UI/UX specialist during a Westside or DTLA onboarding night.
Direct recruit to project wiki so s/he can join team.

### Resources/Instructions

[2020-01-20 03:35] ashlingam opened #272 "Create Project Home Page hero image for HackforLA website"
### Overview
Create Project Home Page hero image

### Action Items
Create Project Home Page hero image. Possibilities include:
- Collage image composed of snippets from the many mockups we have created to date.
- A singular horizontal banner image that effectively communicates our project.

### Resources/Instructions
see issue #244

[2020-01-20 03:43] ashlingam opened #273 "Create Support Us page"
### Overview
Create content for Support Us page that will appeal to large and small donors alike.

#219 contains data showing impact of project teams that can shed meaningful light to financial stakeholders on the importance of giving to HFLA.

### Dependency
#191

### Action Items
- [ ] Project Management & HfLA Leadership
   - [ ] Review [Donor-Sponsor solicitation strategy](https://github.com/h

[2020-01-20 03:45] #225 closed, assigned to ashlingam

[2020-01-20 04:23] harishlingam opened #274 "Create GitHub new issue templates"
### Overview
Create GitHub new issue templates for common issues

### Action Items
Create GitHub new issue templates for common issues. Create MD files to reflect information/fields for commonly created issue types.

### Resources/Instructions

[2020-01-20 04:40] ashlingam opened #275 "Review status of In-Progress "Update Project Profile cards""
### Overview
Review status of In-Progress "Update Project Profile cards"

### Action Items
Review status of In-Progress "Update Project Profile cards". Identify which projects have submitted their information and which have not. Follow up with project leads of those projects with outstanding information and identify/resolve any roadblocks they may have.

### Resources/Instructions
https://github.c

[2020-01-20 04:42] ExperimentsInHonesty commented on #244
![Screen Shot 2020-01-19 at 11 12 47 AM](https://user-images.githubusercontent.com/37763229/72699233-63472d00-3afc-11ea-9ecb-38dba8059d6b.png)

 Alt image text for project card image:, wireframe sample from new website
 Name of project: hackforla.org website
 Links (website, github, etc.): Site=hackforla.org
 What you are looking for skills wise: UI (wireframes), Photoshop
 Tools your team uses (e

[2020-01-20 04:47] ExperimentsInHonesty commented on #244
See issue #272

[2020-01-20 05:03] ashlingam opened #276 "Validate hero images provided by teams against required specification"
### Overview
Validate hero images provided by teams against required specifications.

### Action Items
Review images already submitted by teams for "Update Project Profile" cards. Check for compliance with 1500 x 700 px dimension standard, ADA standards, and provide teams with HFLA home page hero image as reference sample.

### Resources/Instructions

Inspiration image for hero images:
<img width=

[2020-01-20 05:14] ashlingam opened #277 "Collect royalty-free images for insertion into survey headers"
### Overview
Collect royalty-free images for insertion into survey form headers.

### Action Items
Scout for appropriate images on web by survey persona and save to shared drive. Agree on final selections for insertion into revised survey form headers.

### Resources/Instructions
Shared drive: https://drive.google.com/drive/u/0/folders/1p76K0FgfiAWeIIEyoyJ_Iik8FVj8cBjT
Wikimedia: https://commons.w

[2020-01-20 05:19] ashlingam opened #278 "Follow up with FullStory team regarding login access"
### Overview
The FullStory set up for Harish does not provide access to the HFLA FullStory account.

### Action Items
Read online literature and/or contact FullStory to resolve account access to the HFLA FullStory account.

### Resources/Instructions
https://www.fullstory.com/contact/

[2020-01-21 01:06] cnk commented on #269
This can be closed once https://github.com/hackforla/.github/pull/1 is closed.

I have already closed https://github.com/hackforla/website/pull/279 and verified new issues are now able to see the issue templates from hackforla/.github

[2020-01-21 03:39] ExperimentsInHonesty commented on #248
@jacoronilla do you have a wiki or other getting started link?  I did a little update to the descriptions of the items required above.  Please review

[2020-01-21 03:44] ExperimentsInHonesty commented on #275
Transferred Not-Today [issue](https://github.com/hackforla/not-today/issues/23) and added note

[2020-01-21 03:54] cnk commented on #239
Light backgrounds are tough if you are going to have the correct contrast ratio with the default header color (#fa114f) But if you leave the current heading color (#333) "Current Projects" doesn't really 'pop'

Here is what the page looks like if you just continue the previous background:
<img width="861" alt="HackForLA-continue-gradient" src="https://user-images.githubusercontent.com/5952/7277404

[2020-01-21 16:20] #269 closed, assigned to cnk

[2020-01-23 00:12] KPHowley commented on #327
![LATDM Hero Image](https://user-images.githubusercontent.com/49739276/72945515-e05ae800-3d30-11ea-984a-4162b4eeed66.png)

**The LA TDM Calculator**
The LA TDM Calculator is a web app, created in conjunction with the Department of Transportation, aimed at helping real estate developers design projects that are better for Los Angeles.  The TDM Calculator will be implemented alongside a new ordinanc

[2020-01-24 02:12] H1Angela commented on #499
![600x400__recordClearance](https://user-images.githubusercontent.com/54191142/73039486-1a002180-3e0b-11ea-80a8-ea359b7ca3d8.png)
Alt Text: Record Clearance Project 600x400px
![1500X700_recordClearance](https://user-images.githubusercontent.com/54191142/73039487-1a98b800-3e0b-11ea-8c00-b8f03ae8f424.png)
Alt Text: Record Clearance Project 1500x700px

NAME: Record Clearance Project

ABOUT: Record Cl

[2020-01-24 05:53] ExperimentsInHonesty commented on #499
@H1Angela - thank you very much for the update.  I will move this issue to the website repository for addition to the website as soon as possible.

[2020-01-24 05:54] McRawly opened #280 "Create project card for Record Clearance"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image for the project card that appears on hackforla.org
     - [x]  Alt image text
  - [x] 1500 x 700 hero image for the project home page
     - [x]  Alt image text
  - [ ]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [ ]  What you

[2020-01-25 19:23] ashlingam opened #281 "Write up description for hackforla's Project Home Page"
### Overview
Write up description for Project Home Page

### Action Items
Write up description for Project Home Page. Take a look at other project's description for reference. Insert content into MD file of web page.

### Resources/Instructions

[2020-01-26 00:17] KianBadie commented on #237
Current progress 1/25:
![dropdown](https://user-images.githubusercontent.com/18221058/73128948-2318fc00-3f8d-11ea-8d08-152483587dcd.gif)

Feedback:
- Having the project title instead of the book icon for project readme's would be better. As a result, we don't need to use "readme" as the title of the card, but can also call it "Getting Started"
- Move this section back to it's own card
- Instead of

[2020-01-26 17:24] #278 closed, assigned to ashlingam

[2020-01-26 18:19] ExperimentsInHonesty commented on #228
Cynthia's update is that it's going to work great.  May not be appropriate for website, but possibly 311 project.
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 18:20] ExperimentsInHonesty commented on #128
@harishlingam please update with:
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 18:21] ExperimentsInHonesty commented on #233
@ExperimentsInHonesty provide update
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 18:41] ashlingam opened #282 "Get contributor information for display on Project Home Pages"
### Overview
We need to display the contributors to a project on the Project Homepages.  We are going to pull that information from the teams.

### Action Items

- [x] Review Github json file to determine location of information.
- [x] Run test to identify what information comes back when you query that endpoint
- [x] Experiment with parsing the data into a useable format for the project

### Reso

[2020-01-26 18:46] ExperimentsInHonesty commented on #193
@StephenVNelson Please provide an update here so we can arrange for a handoff.
1. Progress
2. Blocks
3. Availability (if you can be available for a few handoff questions, etc).
4. ETA

[2020-01-26 18:49] ExperimentsInHonesty commented on #244
@harishlingam please update with:
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 18:50] ExperimentsInHonesty commented on #237
@KianBadie  please update with:
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 18:51] ExperimentsInHonesty commented on #257
@sugarsyntax please update with:
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 19:17] ExperimentsInHonesty commented on #244
@ExperimentsInHonesty will write the blub after the 27th.

[2020-01-26 19:23] ExperimentsInHonesty commented on #282
This is an excerpt from the above json file

{
    "total_count": 21,
    "incomplete_results": false,
    "items": [
        {
            "id": 197452459,
            "node_id": "MDEwOlJlcG9zaXRvcnkxOTc0NTI0NTk=",
            "name": "tdm-calculator",
            "full_name": "hackforla/tdm-calculator",
            "private": false,
            "owner": {
                "login": "hackforla",

[2020-01-26 19:32] ExperimentsInHonesty commented on #239
@leonelRos please shrink your screen size when you do the screen shots, so we can see more of the page for context

[2020-01-26 19:34] leonelRos commented on #239
Will do! Thanks again.

On Sun, Jan 26, 2020 at 11:32 AM Bonnie Wolfe <notifications@github.com>
wrote:

[2020-01-26 19:38] ExperimentsInHonesty commented on #266
@sent to Cam via team slack channel on Sunday 1/26/20 11:38am

[2020-01-26 19:43] ExperimentsInHonesty commented on #275
Transferred food-oasis [issue](https://github.com/hackforla/food-oasis/issues/238)

[2020-01-26 19:45] ExperimentsInHonesty commented on #275
Transferred 311 data [issue](https://github.com/hackforla/311-data/issues/207)

[2020-01-26 19:46] ExperimentsInHonesty commented on #255
@ddfridley do you have an updated image for our hero?

- [ ] Hero image to be displayed on Project Home Page at 1500 x 700 px

[2020-01-26 19:47] ExperimentsInHonesty commented on #275
Left David a note on undebate [issue](https://github.com/hackforla/website/issues/255) asking for hero image

[2020-01-26 19:57] ExperimentsInHonesty opened #283 "Create new project card for Lucky Parking"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
      - [ ]  Alt image text
  - [ ]  Hero image to be displayed on Project Home Page at 1500 x 700 px
      - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (website, github, etc.)
  - [ ]  What you are looking for skills wise

[2020-01-26 19:58] ExperimentsInHonesty commented on #275
Transfered lucky parking [issue](https://github.com/hackforla/lucky-parking/issues/40).  It's a new project with no card on the home page yet.  We still need some images from them.

[2020-01-26 20:15] ashlingam opened #284 "Check status of project information cards"
### Overview
Check status of project information cards. Make a lists of cards for DTLA and Westside.

### Action Items
- [ ] Go through project cards and evaluate status of information
- [ ] Create list of Westside projects and list of DTLA projects and indicate which projects have furnished information and which have not.
- [ ] Add information as a comment in the issue so that Bonnie can follow u

[2020-01-26 21:19] ExperimentsInHonesty commented on #247
This issue has been replaced with https://github.com/hackforla/lucky-parking/issues/40 since they had no card to update.

[2020-01-26 21:24] ExperimentsInHonesty commented on #275
Sent Metro Ontime a message in slack asking for an update.
Bonnie  11:39 AM
@Cam we need an update to this issue: https://github.com/hackforla/website/issues/266

[2020-01-26 21:27] ExperimentsInHonesty commented on #275
Posted a message for Undebate on Issue #255 and on Slack asking David for the hero image.

Bonnie  1:27 PM
Hi @david looks like the only thing missing is the hero image - https://github.com/hackforla/website/issues/255

[2020-01-26 21:34] ExperimentsInHonesty commented on #251
- [ ] Added @eselkin to hfla github org.
- [ ] Sent a slack message, asking him to accept invitation and to let me know, so I can assign him to this issue.

[2020-01-26 21:36] ExperimentsInHonesty commented on #275
Posted a message for Engage on Issue #251 and on slack.

[2020-01-26 21:39] ExperimentsInHonesty commented on #275
Assigned Kate to the Hello Gov issue #252 and sent her a message on slack

[2020-01-26 21:42] ExperimentsInHonesty commented on #246
Hi @emillipede we have updated this issue's specifications, it's now ready for your team.

[2020-01-26 21:44] ExperimentsInHonesty commented on #275
Updated and slacked Emily on the Public Tree map issue #246  and sent her a message on slack.

[2020-01-26 22:13] ExperimentsInHonesty commented on #288
@sarL3y Please provide an update:
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-01-26 22:16] ExperimentsInHonesty commented on #275
Updated and slack Matt on the VRMS [issue](https://github.com/hackforla/VRMS/issues/19).

[2020-01-26 22:46] ExperimentsInHonesty commented on #275
@harishlingam on Monday please review if there has been any action taken by the teams mentioned here, since my last post:

**Santa Monica teams that we need updates or cards from:**
Not Today (readme, hero image)
Undebate (hero image)
HelloGov (everything)
Lucky Parking (hero image, 600 x 400 image)
Public Tree Map (everything)
VRMS - (card created)

**Santa Monica teams that have completed update

[2020-01-26 23:13] ctsexton commented on #266
@harishlingam @ExperimentsInHonesty

## Project card image
I don't have a "hero" style image unfortunately, but we are using this as our logo currently. It would be good to update that on the project card on hackforla.org.
![logo_network](https://user-images.githubusercontent.com/32211826/73143320-8a968080-404d-11ea-8267-43989c78471e.png)

## Project card wording
### Railstats LA
Railstats LA trac

[2020-01-26 23:19] ExperimentsInHonesty commented on #266
@ctsexton Do you need a ui person to help with a hero image?

[2020-01-27 00:07] eselkin commented on #251
@teddycr, check this
- [x] wording seems fine
- [x] tools: None (we don't have a clickable prototype or anything)
- [x] Looking for: Product Manager, Project Manager (with the focus on growing the project), UX designers, React developers, ML engineer (NLP)
- [x] links look ok
- [x] Hero image is ok
- [x] Wiki hasn't been updated in a minute: https://github.com/hackla-engage/Engage-Product-Document

[2020-01-27 00:10] eselkin commented on #251
Actually, our image is small, but I'll look for the original or an alternate.

[2020-01-27 02:30] leonelRos commented on #239
1) Hey, guys,

 I have been playing around with these colors. Feel free to let me know how it looks or any feedbacks. I use gradient colors mixing the one requested above

<img width="1225" alt="Screen Shot 2020-01-26 at 6 22 33 PM" src="https://user-images.githubusercontent.com/50648001/73146788-1669d600-4069-11ea-8aed-da709acec871.png">

It starts with a gray color and drops down to a very light

[2020-01-27 02:49] leonelRos commented on #239
2) This one here starts with Taupe and drops down to a very light beige(maybe misspelled) color.
<img width="1217" alt="Screen Shot 2020-01-26 at 6 44 54 PM" src="https://user-images.githubusercontent.com/50648001/73147453-57171e80-406c-11ea-951f-332e1177420b.png">

<img width="1218" alt="Screen Shot 2020-01-26 at 6 45 11 PM" src="https://user-images.githubusercontent.com/50648001/73147456-5c74690

[2020-01-27 03:00] ctsexton commented on #266
@ExperimentsInHonesty sure, if someone wants to create one we can discuss it on Tuesday

[2020-01-27 17:34] sarL3y commented on #288
<img width="1440" alt="Hero Image" src="https://user-images.githubusercontent.com/39248174/73198623-24ab0700-40e8-11ea-9d44-9138476c74a0.png">
<img width="600" alt="Project Card Image" src="https://user-images.githubusercontent.com/39248174/73198624-24ab0700-40e8-11ea-9918-1f4476f8d619.png">

[code]

[2020-01-27 17:37] sarL3y commented on #288
@harishlingam @ExperimentsInHonesty Please review the additions above and let me know if you need any more info.

[2020-01-27 18:42] ddfridley commented on #255
![undebate-sf-da-1500x700](https://user-images.githubusercontent.com/3317487/73203254-8f147500-40f1-11ea-8ef9-42c59cfb73f5.jpg)

[2020-01-27 22:08] ashlingam opened #285 "Update Project Profile: 311 Data"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
  - [x]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (website, github, etc.)
  - [ ]  What you are looking for skills wise
  - [ ]  Partner(s)
  - [ ]  Location
- [ ]   Add project Card to website

### Resources/Instructions
See pr

[2020-01-27 22:43] ashlingam opened #286 "Update Project Profile: VRMS"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ] Gather items
     - [ ] 600 x 400 image
          - [ ] Alt image text
     - [ ] Hero image to be displayed on Project Home Page at 1500 x 700 px
          - [ ] Alt image text
     - [ ] Name of project
     - [ ] A blurb about your project
     - [ ] Links (website, GitHub, etc.)
     - [ ] What you are looking fo

[2020-01-27 22:57] #250 closed, assigned to nobody

[2020-01-28 03:10] kate-rose commented on #252
Update wording of anything currently on the project card (see hackforla.org)

HelloGOV is helping grassroots organizations connect supporters to their state assembly and state senate representatives for call campaigns to advocate on the legislation that matters most to their work. The HelloGOV webapp generates a campaign shortlink that can be used in texts, social posts, and more.

 Update "Tools"

[2020-01-28 04:09] emillipede commented on #246
hi @ExperimentsInHonesty, a couple of weeks ago I provided what we had in #253

[2020-01-28 04:11] emillipede commented on #253
nb - I did make a small change to the wording

[2020-01-28 04:29] ddfridley commented on #255
![undebate-sf-da-centered-1500x700](https://user-images.githubusercontent.com/3317487/73235513-a419f400-4143-11ea-945e-e0855842f107.png)
Here is a better version for that aspect ration.

[2020-01-28 09:01] ExperimentsInHonesty commented on #252
@kate-rose We have to have a banner image, for the project homepages, it's not optional.  Let me know if you need the loan of a UI person to make one, if you don't have someone on your team with that skill set.

Note to website team, here is the url direct to the readme: https://github.com/helloGov/webapp/blob/master/README.md

[2020-01-28 09:04] ExperimentsInHonesty commented on #275
Received an update from Kate on the HelloGov issue #252 , still need hero image, asked if she needed support in producing that.

[2020-01-28 09:32] ExperimentsInHonesty commented on #239
@leonelRos Not sure why the garcetti quote is not staying white.  It should remain separate.  Hard to get the feel without that.

[2020-01-28 09:41] ExperimentsInHonesty commented on #239
TOP
![Screen Shot 2020-01-28 at 1 50 47 AM](https://user-images.githubusercontent.com/37763229/73253054-a21a5a00-4170-11ea-8d18-b1de80ced8d9.png)

BOTTOM
![Screen Shot 2020-01-28 at 1 40 32 AM](https://user-images.githubusercontent.com/37763229/73252203-397ead80-416f-11ea-9d63-5cf0a4777e15.png)
#f5f7f5

[2020-01-28 09:42] ExperimentsInHonesty commented on #239
TOP
![Screen Shot 2020-01-28 at 1 49 07 AM](https://user-images.githubusercontent.com/37763229/73252950-726b5200-4170-11ea-8240-238bb76c5c96.png)

BOTTOM
![Screen Shot 2020-01-28 at 1 42 03 AM](https://user-images.githubusercontent.com/37763229/73252324-6af77900-416f-11ea-9f47-c133b81e5644.png)

#f7f5f5

[2020-01-28 09:44] ExperimentsInHonesty commented on #239
TOP
![Screen Shot 2020-01-28 at 1 47 51 AM](https://user-images.githubusercontent.com/37763229/73252833-4223b380-4170-11ea-8191-ddc72eb8e938.png)

BOTTOM
![Screen Shot 2020-01-28 at 1 43 51 AM](https://user-images.githubusercontent.com/37763229/73252485-aa25ca00-416f-11ea-9abd-a2df6ca0fdbf.png)

#f5f6f7

[2020-01-28 09:45] ExperimentsInHonesty commented on #239
TOP
![Screen Shot 2020-01-28 at 1 46 21 AM](https://user-images.githubusercontent.com/37763229/73252730-0c7eca80-4170-11ea-8d53-1ef472d5b951.png)

BOTTOM
![Screen Shot 2020-01-28 at 1 44 56 AM](https://user-images.githubusercontent.com/37763229/73252587-d2adc400-416f-11ea-83c0-2af31f8e1ce8.png)

#f7f7f5

[2020-01-28 19:51] leonelRos commented on #239
@ExperimentsInHonesty  that is because I also change the background color of the Garcetti quote. I might have misunderstood the directions above.  Anyways, I am working on the cards project now.  I will update soon!!

[2020-01-29 04:04] charlottesauce commented on #272
I brainstormed a few options for hero images. Below are three iterations, in order of my personal preference. Let me know what you think. Happy to tweak/make changes!

### **Version 1**
The current site with a hammer and a blue bg (color can be easily changed). The first img is my proposed "project card" to match with the hero for continuity.

![hfla-site project card](https://user-images.githubus

[2020-01-30 05:07] ExperimentsInHonesty commented on #272
I really like the hammer image and the reference to the homepage hero image.

[2020-01-30 05:53] melodylaishram commented on #240
Split Test Projects Section Color Variation Results:

Green: 6
Pink: 14
Blue: 5
Grey (last color variation): 7 votes

Pink being the overall winner with 37.5% of votes captured.

[2020-01-30 21:53] #277 closed, assigned to ashlingam, ExperimentsInHonesty

[2020-01-30 22:11] ashlingam commented on #272
Nice work @charlottesauce -- of the three, I like concept 1 the most! I think the color scheme works.

[2020-01-31 01:18] charlottesauce commented on #272
Thanks @ExperimentsInHonesty and @harishlingam ! :)

I went ahead and cleaned up the combo of concept 1 so that the project card mimics the hero a bit more faithfully. It's here for you.

I'm concerned about how gradient on gradient (when you add text to the hero?) will look and have attached no gradient versions below just in case.

Let me know what else I need to do to help close this issue, e.g

[2020-01-31 22:47] KianBadie commented on #237
Sorry for the late update @ExperimentsInHonesty, I am going to update my current progress now, but plan on having another update by our meeting on Sunday because I plan on working on it today and tomorrow.

1. Progress:
![Peek 2020-01-31 14-45](https://user-images.githubusercontent.com/18221058/73579818-6e715580-4438-11ea-9820-539628c25eee.gif)
I had a version where I made a mock readme for 311 da

[2020-02-02 18:28] ExperimentsInHonesty commented on #157
@KianBadie will do a Mobile optimization proposal
@ExperimentsInHonesty is going to provide a image naming schema and how to provide links at top vs all resource links
### dependancies
are need github api integration for languages and contributors.

[2020-02-02 18:47] ExperimentsInHonesty commented on #193
hero image https://github.com/hackforla/website/issues/272

[2020-02-02 18:48] ExperimentsInHonesty commented on #244
hero image https://github.com/hackforla/website/issues/272

[2020-02-02 19:00] ExperimentsInHonesty commented on #228
Cnythia will meet with Steven on Monday to learn about the github integration and github actions.

[2020-02-02 19:12] ExperimentsInHonesty commented on #237
What to do if they click the button "help us make one" If you are at hack night talk to the project manager, if you are remote, send us a slack message (slack message links to the team's slack channel).

[2020-02-03 21:24] KianBadie commented on #157
Posting current progress in case any UI/UX people would like to do anything with the page. I am not a UI/UX person at all, so please feel free to let me know anything as it can help tremendously! (Sorry @ExperimentsInHonesty , I know I was supposed to post this 1 week ago so UI/UX people could potentially work on this). Let me know if better pictures are needed.

### With Readme provided by projec

[2020-02-03 21:41] KianBadie commented on #157
And in terms of mobile optimization, I am not sure how a proposal for things like this usually look. But I can try to make implement it on my branch and then provide pictures. I was just going to use the media queries used by css to aplly different style rules when screen sizes are smaller than 480px, which is already a varable defined in the sass.

[2020-02-03 22:13] KianBadie commented on #157
### Lastly, some topics/points that have come up during my development that I wanted to post here for record keeping/possible discussion:

1. We mentioned in a previous meeting having a field for "prioritized links" that will display at the top section of the project home page/the projects page. Is this still a feature we want? If so, how will we determine what prioritized links are? This also lea

[2020-02-03 22:16] KianBadie commented on #237
### Lastly, some topics/points that have come up during my development that I wanted to post here for record keeping/possible discussion:

1. If project has no readme, we will display a call to action section. Once pressed, we talked about displaying a message that says to talk to a project manager if they are at a hack night or to send a slack message. So a link to the slack channel will be neces

[2020-02-04 04:52] ExperimentsInHonesty commented on #237
Answer 1: clicking the red "help make one" button will pop some text to the right that says -
Once you are on the hack for LA slack channel (self invite), please post a note in our [channel] indicating your interest.

the channel link will be delivered from the md file, because we will add a channel specific slack link to all project files.

[2020-02-04 04:59] ExperimentsInHonesty commented on #157
the links will look like:

[code]

[2020-02-04 17:46] thekaveman commented on #157
Answer 2.

Last night we discussed the idea of turning this section into a proper YAML list instead of a comma-separated string, which removes the parsing problem.

So instead of:

[code]

We have:

[code]

[2020-02-05 03:14] cnk commented on #282
### First iteration TO DO:

- [ ] 1. Merge github actions code from @StephenVNelson - https://github.com/hackforla/website/issues/193
- [ ] 2. Make credential information variable
- [ ] 3. Create an API user for the production commits (insert info into variables from step 2)
- [ ] 4. Figure out how to run checks on daily schedule on hackforla/website repo but not everyone's forks.
- [ ] 5. Make ve

[2020-02-05 05:31] leonelRos commented on #257
fix #257. Also, I don't see the status of this project so I will leave it like that as of now. @ExperimentsInHonesty

[2020-02-05 18:08] ExperimentsInHonesty commented on #237
Answer 2: Actually, lets display both but the order of display will be wiki, then readme.

[2020-02-05 18:10] ExperimentsInHonesty commented on #237
Answer 3.  I think all projects have a readme at this point, but the red button will encourage any projects that don't.

[2020-02-05 18:28] ExperimentsInHonesty commented on #157
@thekaveman
@KianBadie asked the following:

Dialog on 1.

And we decided at the meeting to do the following:
- name: link text here
  url: https://www.example.com
  show_at_top: true

But then Kian and I were talking wed and we realized that it might be easier to leave out the
show_at_top: true
and just put if its going to show on the pages, into the include that builds the page.  So the logic is

[2020-02-05 18:34] thekaveman commented on #157
I'm not sure I follow what you mean here. Assuming the links are still represented as a YAML list, are you suggesting the template/include would e.g. check if the current link (inside a loop) is the GitHub link, and if so render it? This seems more complicated and error prone to test for URL patterns vs. being explicit with a property on the link data itself.

Alternatively are you suggesting that

[2020-02-05 18:47] KianBadie opened #291 "Proposal to change project.md file format to update "Looking For""
### Overview
We want to accommodate the use of commas in "Looking For" descriptions.

### Action Items
- [ ] Edit a sample project md file in the following way
Current State:

[code]

Future State:

[code]
- [x] write logic for project hompage include to display
- [x] add screenshot to issue
   - [ ] Get sign off by Bonnie
- [ ] Edit all project files

### Resources/Instructions
[Additional dialog

[2020-02-05 21:07] ExperimentsInHonesty commented on #157
@thekaveman

I was suggesting that our org decides we always want to display specific important links in the top part of the project homepages (github, test site, launch site)
![Screen Shot 2020-02-05 at 12 56 56 PM](https://user-images.githubusercontent.com/37763229/73882494-085d4780-4817-11ea-8ae6-8be09bef55df.png)
See this link for the whole mockup https://github.com/hackforla/website/issues/15

[2020-02-05 21:09] ExperimentsInHonesty commented on #157
Answer 6. I created a wiki page that has a link to the template we are currently using.  We will update when we change the standard.

[2020-02-05 21:47] KianBadie opened #292 "Create icon sourcing page in resources section of wiki"
### Overview
Create page in the resources section of the wiki that helps visitors see sourcing, modifications, and licenses of icons we are using

### Dependencies
- Finish icon choices for site

### Action Items
- [ ] Determine format/method of displaying resource licenses and descriptions.

### Goals
- [ ] Display license file link
- [ ] Source of icon
- [ ] What modifications were made

### Res

[2020-02-05 21:57] KianBadie opened #293 "Determine Icons used on site"
### Overview
Determine all icons that will be used on the site.

NOTE: must be worked on by someone with access to project homepage prototype

### Action Items
- [ ] Identify if classes are controlling the color of social icons to see if additional color icons are needed
- If no,
   - [ ] source new icons
   - [ ] Document source and license of icons
 - if yes
   - [ ] remove classes on resource s

[2020-02-05 22:09] ExperimentsInHonesty opened #294 "Project.md file format changes log"
### Overview
This issue contains all proposals for changes to the project.md files (including links to their relevant discussions) and dependencies.

### Action Items
[ ] Post vetted proposal to comment
[ ] Assign reviewers
[ ] Indicate if there are Template Issue dependencies, and if so which
[ ] Once approved create issue using [template](https://github.com/hackforla/website/issues/new?assignees

[2020-02-05 22:11] KianBadie opened #295 "Change gradient for hero image on home page"
### Dependency
After the whole site has reached 80% satisfactory, and the other pages are in progress

### Overview
We need to evaluate if we should change the gradient on hero to surround image rather than having a linear gradient from bottom 3rd of the image to bottom of the image.

### Special Note
If we do, we need to be light handed with the gradient at the top. See letterboxd resource provid

[2020-02-05 22:27] thekaveman commented on #157
@ExperimentsInHonesty

Thanks for the explanation, I understand now. I'm often wary of making logic choices like this based on string matching, since it is so easy to introduce casing/spelling errors. On the other hand, it removes the need to update each project.md when a new "required" link comes online. On the other other hand, it also somewhat removes the distributed content editing nature of u

[2020-02-05 22:29] KianBadie opened #296 "Improve social icons"
### Overview
The social icons do not look good when they are large.

### Examples
- Github icon is slightly cut off on right side:
![Screenshot from 2020-02-05 14-18-22](https://user-images.githubusercontent.com/18221058/73888418-73604b80-4822-11ea-85d7-a0992589d080.png)
- Slack icon is off centered:
![Screenshot from 2020-02-05 14-18-37](https://user-images.githubusercontent.com/18221058/73888427

[2020-02-05 22:36] ExperimentsInHonesty commented on #157
Answer 1. Created new issue #297 to change the project.md file format, and add logic to the project homepage include to render specific links at top.
Answer 2. Issue is created to implement our decision on how to reform the looking for in project.md #291
Answer 3. We decided we should provide details about where icons on the site came from in the wiki resources section.  Issue to assemble that inf

[2020-02-05 23:31] ExperimentsInHonesty opened #297 "Proposal to change project.md file format to create uniform links across projects"
### Overview
We need a way to tell the project homepage which links to render at the top, and be able to add or remove links in the future.  This should be across all project homepages.

NOTE: must be worked on by someone with access to project homepage prototype

### Action items
- [x] submit this proposal as comment to issue #294 and follow instructions there.
- [x] Indicate current state
engage

[2020-02-05 23:40] ExperimentsInHonesty commented on #157
Currently waiting details about how to render the contributors and Languages of projects.

[2020-02-06 00:20] ExperimentsInHonesty commented on #257
@leonelRos can you do another pull request to use the picture I got approval on?  Sorry it was not clear from my comment.  Here is the picture I have approval on: https://github.com/hackforla/website/issues/257#issuecomment-572666670

Also, when you do that pull request, in the pull request notes itself, you need to write
[code]
otherwise this issue won't close automatically.

[2020-02-06 00:53] ExperimentsInHonesty commented on #294
### Proposal Title
Proposal to change project.md file format to create uniform links across projects

### Proposal summary
We need a way to tell the project homepage which links to render at the top, and be able to add or remove links in the future.  This should be across all project homepages.

### Current state
engage.md has the following
[code]
public-tree-map.md has the following:
[code]
### F

[2020-02-07 00:59] ExperimentsInHonesty opened #301 "Create project card for Equity Language project"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image
  - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (website, github, etc.)
  - [x]  What you are looking for skills wise
  - [x]  Partner(s)
  - [x]  Location
  - [x] Leadership
  - [ ] Tools
- [x]   Add project Card to website

[2020-02-07 01:30] joelparkerhenderson commented on #301
I bought an image on iStockPhoto that we can use to start, until someone comes up with something better. I'll Slack it to you now.

Placeholder blurb until someone comes up with something better: “Gender equity is a priority for society and we want to improve gender inclusivity in our city and in our communications and with our websites.”

Roles I see we need ASAP: To make the deadline for the ann

[2020-02-07 03:07] charlottesauce commented on #301
Angela gave us some feedback on our blurb and suggested this iteration, which Joel and I think is great.

### The Blurb

[2020-02-08 06:23] ExperimentsInHonesty commented on #301
@charlottesauce please at me when this issue is completely filled out.

[2020-02-08 06:58] charlottesauce commented on #301
Hi @ExperimentsInHonesty  Sorry, I was a little confused about where to "gather" these assets. I'm just going to comment with them here, in the order above.

###  600 x 400 image
![hfla-site-hero-600x400](https://user-images.githubusercontent.com/45779646/74080702-c3ded100-49fb-11ea-9a69-bbacbdda7e5e.png)

###  Alt image text
The word "Equity" in many colors with the E and Q resembling a document

[2020-02-08 07:11] ExperimentsInHonesty commented on #301
@joelparkerhenderson and @charlottesauce please review the way job roles are described on the hackforla.org website, and give me an abbreviated version of the Looking for that is in line with the other projects.  At the onboarding and on the meetup listing I can use the longer text you have provided.

[2020-02-08 07:12] ExperimentsInHonesty commented on #301
@charlottesauce sorry, I realized that the issue we opened on the repo was the day before we upgraded our project requirements.  Can you provide the following other items.  I will still post the card on the website, with the info you have provided, but if you can provide the other information, when you have a chance.
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)

[2020-02-08 08:26] charlottesauce commented on #301
@joelparkerhenderson I'm not sure of other roles needed, but here's my stab at shortening the text so we can throw it on the site sooner. Does this work for now @ExperimentsInHonesty ?

### What you are looking for skills wise
Business Analyst (BA) to work on authentication and authorization (AA) practices for a governmentt team, Information Technology (IT) Role to work with the BA role on AA

###

[2020-02-09 01:27] ExperimentsInHonesty commented on #301
This is what the card will look like
![Screen Shot 2020-02-08 at 5 26 49 PM](https://user-images.githubusercontent.com/37763229/74094561-3c936b00-4a98-11ea-8d04-866e1b4ad7a0.png)

[2020-02-09 01:44] ExperimentsInHonesty commented on #301
We decided not to make the link public at this time.

[2020-02-09 01:44] KianBadie commented on #291
@ExperimentsInHonesty
For my example I used the LA Metro Health Monitor project
**Project card on homepage**
![Screenshot from 2020-02-08 17-33-33](https://user-images.githubusercontent.com/18221058/74094626-2934cf80-4a99-11ea-991e-22c8ba18d53f.png)

**metro-ontime.md code snippit**:
[code]

**current-projects.html logic code snippit**:
[code]
I avoided putting the styling rule in a class because

[2020-02-09 03:40] KianBadie commented on #296
@ExperimentsInHonesty
**New Github icon**:
![Screenshot from 2020-02-08 19-36-30](https://user-images.githubusercontent.com/18221058/74095790-5d64bc00-4aaa-11ea-943a-e143a7b66548.png)

**New Slack icon**:
![Screenshot from 2020-02-08 19-37-21](https://user-images.githubusercontent.com/18221058/74095796-7a00f400-4aaa-11ea-9c38-2075f60e7bd7.png)

**New**:
![Screenshot from 2020-02-08 19-39-07](https

[2020-02-09 03:53] KianBadie commented on #296
@ExperimentsInHonesty
Also, just realized I totally worked on this on accident. I thought it was assigned to me. But what I was actually looking at was the issues I created, not assigned.

[2020-02-09 06:44] KianBadie commented on #237
Added a first draft of the pop up text for when a user is interested in helping create a readme:
![Peek 2020-02-08 22-43](https://user-images.githubusercontent.com/18221058/74097718-7712fd00-4ac4-11ea-964e-0bcd2ae9a6a1.gif)

[2020-02-09 18:15] ExperimentsInHonesty commented on #228
The progress report for this is:

1. Progress - non last week
2. Blocks - redirected to another project
3. Availability - NA
4. ETA - 3/1/2020

[2020-02-09 18:18] ExperimentsInHonesty commented on #233
Decision made
image-card (for card on homepage)
image-hero (for image on project homepage)
mage-event-photo1: 311-photo1.jpg
image-event-photo2: 311-photo2.jpg

In order for this to be deployed.  We need to do a new pull request that changes all the references to image to image-card in every project.md file and in the logic in the project include.

ETA end of 2/9.

[2020-02-09 18:23] ExperimentsInHonesty commented on #291
This is the code for displaying links
[code]

[2020-02-09 18:26] ExperimentsInHonesty commented on #291
progress report is

1. Progress - mostly done, will update based on comments (making it similar to existing links section)
2. Blocks - none
3. Availability - sunday/monday no problem.
4. ETA 2/10

[2020-02-09 18:28] ExperimentsInHonesty commented on #244
1. Progress - none
2. Blocks - too many open issues and meetings
3. Availability - limited for this project
4. ETA 2/9

[2020-02-09 18:30] #281 closed, assigned to ExperimentsInHonesty

[2020-02-09 18:30] cnk commented on #282
1. Progress
   * Hand off from Stephen Nelson
   * Worked with Stephen Ettinger on building a version using Promise
   * Built a playground to test actions outside of website repository
2. Blocks
   * Promises not working
3. Availability
   * Good. This is my current project
4. ETA
   * Full version: unsure
   * Build a static db.json we can use for placing languages and contributors on current pr

[2020-02-09 18:31] #272 closed, assigned to charlottesauce

[2020-02-09 18:35] ashlingam opened #302 "Change website home page background color"
### Overview
Change website home page background color

### Action Items
Change website home page background color. Reference Issue #240 for the chosen color.

### Resources/Instructions
#240

[2020-02-09 18:37] ExperimentsInHonesty commented on #237
1.  Changed some, still need to change to show wiki before readme
2. none
3. Sunday/monday
4. 2/10

[2020-02-09 18:41] ExperimentsInHonesty commented on #292
See https://github.com/hackforla/website/issues/296 - for icon update details.

[2020-02-09 18:56] ExperimentsInHonesty commented on #282
ask thekaveman to review.

[2020-02-09 19:01] ashlingam opened #303 "Update home page project cards to prioritize by status"
### Overview
Update home page project cards to prioritize by status

### Action Items
Update home page project cards to prioritize by status: (1) Inactive projects should display lower on the page, whereas active ones should display earlier (2) Randomly sort projects.

- [x] Prioritize cards in the following order:
1. Active 2. Rebooting 3. Completed 4. On Hold

- [x] Sort projects randomly within

[2020-02-09 19:12] ExperimentsInHonesty commented on #303
@KianBadie is recommending that we move the following code to its own include
line 8-49 from this file: https://github.com/hackforla/website/blob/gh-pages/_includes/current-projects.html
[code]
then we would loop through project cards, looking for active and then calling the include, and then rebooting, etc.

[2020-02-09 19:16] ExperimentsInHonesty commented on #303
@StephenVNelson @cnk Do either of you have any suggestions on any other ways we could sort the cards on first view on the hompage with active appearing at top.  See previous comment for Kian's suggestion.

[2020-02-09 19:20] ExperimentsInHonesty commented on #244
The hackforla.org website is our organization's way of communicating with new volunteers, stakeholders, and donors.  This project is a good place to start for new volunteers looking to polish their git protocol skills (branches, separation of concerns, etc.).  We are currently in a redesign phase, using CI/CD in the run up to demoing the new version at Code for America's Summit 2020 in Washington,

[2020-02-09 19:29] cnk commented on #303
I like the suggestion of making the card itself a separate include. No matter how we go about sorting (multiple loops through site.projects or an inline sort), having the card's display logic in its own file will make the sorting logic easier to understand

[2020-02-09 20:09] cnk opened #304 "Create a user to use for commits from GitHub Actions"
Create a GitHub user with commit access to the website project. We need this for committing the daily digest of GitHub data so project cards can display language and contributor data from GitHub's API

[2020-02-09 22:04] jpmikesell commented on #308
Proposed wording: Your updated resource for food pantries and meals in Los Angeles.
Tools we use: figma, photoshop, sketch, pencil and paper, phone calls.
Testing site: http://food-oasis.herokuapp.com/  live site: foodoasis.la
We're currently creating 3 min videos to introduce people to our users and the project.
readme: https://github.com/hackforla/food-oasis/blob/master/README.md

![food oasis h

[2020-02-10 00:27] ExperimentsInHonesty commented on #308
@jpmikesell
replace hero image with just picture - no words
update proposed wording to be longer
Looking for: Project Management, Junior Python developers (2) , documentarian (UX) - specifically someone to help with the wiki for onboarding and communicating to stake holders what the project is about.

[2020-02-10 20:34] KianBadie commented on #291
Update with revisions in code @ExperimentsInHonesty. The code is written to be identical to the way it is implemented in the links section.

**Screenshot**:
![Screenshot from 2020-02-10 12-33-06](https://user-images.githubusercontent.com/18221058/74187486-83e93b00-4c01-11ea-9e87-af68dca625c3.png)

**Revision in code**:
[code]

[2020-02-10 21:05] KianBadie commented on #237
@ExperimentsInHonesty
Added logic that checks if a link field called "Wiki" exists:
![Screenshot from 2020-02-10 13-00-48](https://user-images.githubusercontent.com/18221058/74189557-8057b300-4c05-11ea-95aa-7ef584d89ca9.png)
The way the logic is implemented, it will search/display the Wiki first if it exists.

If either a Wiki or Readme does exist, then this call to action section will not show up

[2020-02-11 00:53] joelparkerhenderson commented on #303
My opinion about the active project card order: do it with randomization, either per build or per view.  Randomization is the best way to be fair and balanced among all the active projects, and also gives us the best data about what's compelling to our visitors.

If the order isn't random, then I advocate for the order to be by quality impact, which to me means the projects that will help us the m

[2020-02-11 01:50] ashlingam commented on #128
1. Progress - Reviewing collected data. Reviewing FullStory best practices, appropriate segment builds, and event funnels.
2. Blocks - None
3. Availability - Mon, Thurs, Fri, Sun
4. ETA - 2/16

[2020-02-11 02:51] KianBadie commented on #157
Added logic to display prioritized links at the top:
![Screenshot from 2020-02-10 18-49-11](https://user-images.githubusercontent.com/18221058/74207867-13104600-4c36-11ea-83e2-9a44dfd7b8c8.png)
![Screenshot from 2020-02-10 18-49-23](https://user-images.githubusercontent.com/18221058/74207870-14da0980-4c36-11ea-851d-7bb846f65556.png)
The actual logic itself is not pretty. I had simpler/prettier log

[2020-02-11 03:16] KianBadie commented on #293
While I was working on fixing the social icons in issue #296, I found out that classes do indeed control the colors of the icons (at least with the ones I was using). For example:
![Peek 2020-02-10 19-07](https://user-images.githubusercontent.com/18221058/74208540-d7c34680-4c38-11ea-8c18-13a2fee0812e.gif)
The Twitter icon has the same behavior. The Facebook, Github, and Medium icons are already bl

[2020-02-11 19:16] jpmikesell commented on #308
The primary objective is to update the existing website, foodoasis.la with a simplified UI and verified data. The website is focused on individuals seeking food in Los Angeles who need an up-to-date resource about food pantries meals. Our next step will be to create a tool for social services that will be a cross between Wiki and Stack Overflow.

[2020-02-11 19:18] jpmikesell commented on #308
![food oasis homepage hfla 1500x700 produce](https://user-images.githubusercontent.com/54608811/74270498-2c5dd480-4cc0-11ea-9d45-2251abed9566.jpg)

[2020-02-11 19:19] ExperimentsInHonesty commented on #308
The website is focused on individuals seeking food in Los Angeles who need an up-to-date resource about food pantries and meals. Our mission is to update the existing website, foodoasis.la with a simplified UI and verified data.  Future development goals include creating functionality for referral services that will allow the end user to annotate and update listings through a peer verification sys

[2020-02-11 23:10] joelparkerhenderson commented on #303
I have code ready to show you all, on its own topic branch, when you have some kind way to push a branch to the repo. Thanks!

[2020-02-12 01:18] KianBadie commented on #303
@ExperimentsInHonesty
So I have an implementation of listing the project cards in the order that we want (without randomization. If that is going to be implemented let me know and we can figure out how to combine @joelparkerhenderson's and the feature of listing projects by status). It involved moving the project cards to their own includes files titled "project-card.html". What Kegan showed me la

[2020-02-12 01:27] KianBadie commented on #291
@ExperimentsInHonesty I totally forgot if we talked about this/made a decision last night, but is my example/code clear to go? Should I add it to the rest of the project cards?

[2020-02-12 02:38] KianBadie commented on #157
@ExperimentsInHonesty @harishlingam
In regards to last nights discussion with wanting icons with color before deciding what resource cards would look like, I mocked up what the page/resource card options would look like with icons with color if you were still interested at looking at them. I threw a facebook icon in there for more examples:

**1. (Original)**
![Screenshot from 2020-02-11 18-21-59]

[2020-02-12 02:48] cnk commented on #304
If we use this auto commit action, we shouldn't need this user: https://github.com/stefanzweifel/git-auto-commit-action

[2020-02-12 03:54] cnk commented on #291
@KianBadie I am not Bonnie but I think your code looks good.

[2020-02-12 04:01] cnk commented on #302
The color decided on was #f7f5f5

[2020-02-13 02:28] thekaveman commented on #303
@KianBadie

That's a bummer, i forgot about that limitation. I think I didn't fully understand what we were talking about the other night (I didn't realize it was related to this issue), so I may have given poor advice. I see three approaches:

## 1. Filter for `hide` first, check `status` in each loop

This is what you suggested. You can [test for `nil` (empty/false) using `where`](https://jekyll

[2020-02-13 07:35] joelparkerhenderson commented on #303
Something like this JavaScript pseudocode?

[code]

[2020-02-14 21:23] KianBadie commented on #303
@thekaveman
I like the idea for having a separate includes ```project-list```. That would clean up the ```current-projects.html``` even more. A question with comparing the 1st and 2nd solution. Are there any preferences? I feel like having one or the other or both solutions would both work out, so I'm not sure what to lean towards.

Also a question with the 3rd solution. So all the rendering would

[2020-02-14 22:44] ExperimentsInHonesty commented on #303
Point of clarification:  I appreciate @joelparkerhenderson ‘s suggestion about randomization, and we will consider that for another iteration along with sorting by projects that have the biggest need for them members, or sorting by projects that the org most wants to highlight.

This issue should be focused on prioritizing the display of cards by status in the order delineated in the original open

[2020-02-15 22:48] ashlingam commented on #242
1. Progress - All Google Survey forms have been revised to incorporate questions specific to stakeholder. Excel workbook has been updated and no longer includes a composite spreadsheet, since survey forms are not homogenous. Ready to post to website and share URL links.
2. Blocks - None
3. Availability - Mon, Thurs, Fri, Sun
4. ETA - 2/16

[2020-02-15 23:53] ashlingam commented on #128
### **A quick overview of FullStory basics**

**FullStory Fields**

FullStory provides the following data for any Segment: Usage trends over time, Segment Health (events per session, session length, and active time), Click type (Rage, Error, Dead), Device/Browser/Screen Resolution Breakdown, Website Referrers.

**Page Insights**

Within each Session Playback, we can view Page Insights. Page Insigh

[2020-02-15 23:54] ashlingam commented on #128
**Current Insights**

@cnk @ExperimentsInHonesty The overwhelming percentage of rage clicks are on project cards of the home page (these do not currently link anywhere). Consequently, rage click data will coincide with dead click data.

Heavy usage by our Website Team may be biasing data.

**Event Funnels**

We want to think about event funnels that may be useful to us. These can be built by Click

[2020-02-16 00:01] ashlingam commented on #242
@ExperimentsInHonesty I believe the user surveys are now ready to be deployed. I brought over a few relevant questions from the Project Leader survey to the New Member survey that concern skills (https://docs.google.com/forms/d/1UB28awbncRSbsk-YjtAt-AYQdYootj_K2bFhaahtTPI/edit?usp=drive_web).

I think the next step is to host the surveys on the website and associate each Google Form with a corresp

[2020-02-16 17:26] ashlingam commented on #128
1. Progress - 1. (i) Reviewed collected data and FullStory literature (ii) Drafted overview page of how FullStory works (provided above, as well as added to wiki under Data Scientist section) (iii) Updated Excel workbook based on revised survey forms. 2. Next steps: establish metrics of interest, appropriate Event Funnels, and corresponding Segment builds.
2. Blocks - Saw notification on FullStory

[2020-02-16 18:26] joelparkerhenderson commented on #128
Great info thanks for summarizing and sharing! Your data matches my testing of real world users.

What needs to happen ASAP to get the project card for gender-equity pointing to a URL? My ideal URL is https://hackforla.org/gender-equity

[2020-02-16 18:29] #296 closed, assigned to KianBadie

[2020-02-16 18:38] ExperimentsInHonesty commented on #237
Approved and Closed!  Yeah!!!

[2020-02-16 18:38] #237 closed, assigned to KianBadie

[2020-02-16 18:41] ExperimentsInHonesty commented on #239
Mockups complete.  Decision made on issue #240

[2020-02-16 18:41] #239 closed, assigned to KianBadie, ashlingam, ExperimentsInHonesty, leonelRos

[2020-02-16 18:54] cnk commented on #282
@thekaveman My proposed data structure for each project is as follows. If we start grabbing more data for each project we could add a key + data. Is this OK by you?

    {"id": <project.id>,
     "name": <project.name>,
     "languages": {"url": <project.languages_url>,
                   "data": ["Ruby", "HTML", "Dockerfile"]
                   },
     "contributors": {"url": <project.contributor

[2020-02-16 18:57] cnk commented on #282
Contributor info url: https://api.github.com/repos/hackforla/VRMS/contributors

[2020-02-16 19:19] cnk opened #311 "Order contributors by most recent commit"
To encourage people to get involved, we want to order contributors by most recent commit rather than the total commits provided in the GitHub contributors API. This will require some manipulation of the contributors data.

Related to:  #282

[2020-02-16 19:24] JacobZwang commented on #257
![Group Photo Full](https://user-images.githubusercontent.com/59858341/74611228-b9cd6a00-50ae-11ea-94fc-edfd820e9d60.jpg)
![Group Photo Raw](https://user-images.githubusercontent.com/59858341/74611231-bfc34b00-50ae-11ea-9886-886a4327baf3.jpg)
![Group Photo 7x15](https://user-images.githubusercontent.com/59858341/74611234-c6ea5900-50ae-11ea-9b7c-5f86b934adf5.jpg)

[2020-02-16 19:37] ExperimentsInHonesty commented on #242
@harishlingam create an issue that has all the routes
eg
hackforla.org/survey1
https://docs.google.com/forms/d/1UB28awbncRSbsk-YjtAt-AYQdYootj_K2bFhaahtTPI/edit?usp=drive_web

drop in website folder.

[2020-02-16 19:43] ExperimentsInHonesty commented on #275
Wrote to Not Today: https://github.com/hackforla/not-today/issues/23#issuecomment-586744680

[2020-02-16 19:50] ExperimentsInHonesty commented on #275
Posted request for update on Lucky Parking https://github.com/hackforla/lucky-parking/issues/40#issuecomment-586745188

[2020-02-16 19:52] ExperimentsInHonesty commented on #246
https://github.com/hackforla/website/issues/253#issuecomment-573986790
Public Tree Map documents all 35,000 public trees (and vacant tree sites) in Santa Monica's urban forest. The map includes contextual information compiled from open datasets, digitized city records, and federal ecosystem services values. To reflect tree plantings and removals, the map updates every day.

Links: Github, Test Sit

[2020-02-16 19:56] ExperimentsInHonesty commented on #246
![Screen Shot 2020-02-16 at 11 54 26 AM](https://user-images.githubusercontent.com/37763229/74611709-28142b80-50b3-11ea-8271-6746679100e1.png)

[2020-02-16 19:56] #253 closed, assigned to nobody

[2020-02-16 19:56] ExperimentsInHonesty commented on #275
public tree map is done.

[2020-02-16 19:59] ExperimentsInHonesty commented on #275
vrms is done.

[2020-02-16 20:01] ExperimentsInHonesty commented on #275
food oasis is done.

[2020-02-16 20:04] ExperimentsInHonesty commented on #275
moved 311 data issue to in progress and assigned John to it.

[2020-02-16 20:08] ExperimentsInHonesty commented on #275
moved issue tdm to their board, assigned kevin.

[2020-02-16 20:10] ExperimentsInHonesty opened #312 "Create project card for Slack Redactor"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2020-02-16 20:10] ExperimentsInHonesty commented on #312
reach out to William Buck about moving the repo, authentication, etc.

[2020-02-16 20:11] ExperimentsInHonesty commented on #275
Slack redactor
https://github.com/hackforla/website/issues/312

[2020-02-16 21:35] joelparkerhenderson commented on #311
Good idea! Here's how GitHub enables creating a commit with multiple authors: https://help.github.com/en/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors

[2020-02-16 21:36] ExperimentsInHonesty commented on #266
@ctsexton we have a couple of projects that need help with hero images.  I am still looking for someone to help with that.  In the meantime, which of these do you like better.  I will use one as a placeholder until we get something better.

![Screen Shot 2020-02-16 at 1 18 23 PM](https://user-images.githubusercontent.com/37763229/74612929-d6719e00-50be-11ea-9758-90cd3ad61c55.png)

![metro_rail_lin

[2020-02-16 21:37] ExperimentsInHonesty commented on #275
I made two temp heroes for metro-ontime #266 and asked for Cam's input.

[2020-02-16 22:04] ExperimentsInHonesty commented on #255
@ddfridley How about something like this... but with different peoples pictures, not the same ones repeated.
![Screen Shot 2020-02-16 at 2 01 34 PM](https://user-images.githubusercontent.com/37763229/74613634-e12f3180-50c4-11ea-85be-fdac8e957772.png). And names below.   I am sure I can get consent from everyone at CfA and we can get a screen shot of anyone on any of my video calls, if I ask them,

[2020-02-17 19:52] joelparkerhenderson commented on #303
@KianBadie For the future, the Liquid code is:

-     {%- for item in site.projects -%}
+        {% assign items = site.projects | sample: site.projects.size - 1 %}
+        {%- for item in items -%}

[2020-02-17 21:09] joelparkerhenderson commented on #303
This pull request code does the sort by status, and within that by random, during build time: https://github.com/hackforla/website/pull/315

The relevant code:
[code]

[2020-02-17 21:41] #240 closed, assigned to ashlingam

[2020-02-17 22:01] ashlingam commented on #157
@ysjiang18 We are taking a second look at the Project Home Page to improve its UI. Our question at the moment: how best can we display the contributors on the project? For instance, if a project has 20 contributors, do we show all of them on page-load, or a select portion? If a select portion, how can one view the remaining contributors if they so choose?

[2020-02-17 22:30] ashlingam opened #316 "Create website routes to survey forms"
### Overview
Create routes to survey forms on website

### Action Items
- [x] Identify the appropriate website file to be edited to route to individual Google Survey forms.
- [x] Insert routes to each form using the URL data provided in the Survey Tracker spreadsheet.

### Resources/Instructions
Survey Tracker: https://docs.google.com/spreadsheets/d/1kteHB0OlAssR5m5sVYopfO0aazCBGOYClYttaGHfR1s/edi

[2020-02-17 23:12] ashlingam commented on #316
From @KianBadie: "the files we touch are survey1, survey2, survey3, survey4, and survey5. When you type in the url "hackforla.org/survey[survey#]", the website will redirect you to wherever it is defined in the respective survey file. The redirect links are defined under a field called "redirect_to"

Example of survey1.md:

layout: redirect
permalink: /survey1
redirect_to: https://docs.google.com/

[2020-02-17 23:15] ashlingam commented on #128
Update: Inquiry sent 2/17 to FullStory regarding free subscription plan for non-profits. Awaiting reply.

[2020-02-18 00:34] KianBadie commented on #157
Here are some screenshots for testing that are more in context

### Regular
**Gif:** ![Peek 2020-02-17 16-23_vanilla](https://user-images.githubusercontent.com/18221058/74693957-eebae900-51a2-11ea-8f38-1600f3385adb.gif)
**Screenshot:** ![Screenshot from 2020-02-17 16-24-03](https://user-images.githubusercontent.com/18221058/74693987-0a25f400-51a3-11ea-93da-fe3db0a3acac.png)
### Border Top
**Gif:**

[2020-02-18 18:46] thekaveman commented on #157
Not sure if this has come up in the discussion, but the information is available via GitHub API: https://developer.github.com/v3/repos/#list-contributors

[2020-02-18 21:06] KPHowley commented on #327
Link to our readme me on GitHub: [Read Me](https://github.com/hackforla/tdm-calculator/blob/develop/README.md)

[2020-02-19 02:23] KianBadie opened #318 "Collect Project Leadership Information"
### Overview
Collect leadership roles information for each project that will be displayed in project home page.

### Action Items
For each project collect:
- [ ] Who project leaders are
- [ ] Which role each leader has in the project
- [ ] Slack contact information

### Resources/Instructions
This wireframe: ![image](https://user-images.githubusercontent.com/18221058/74795203-29438500-527a-11ea-89

[2020-02-19 02:25] KianBadie commented on #318
@ExperimentsInHonesty
I forgot if Slack was the medium of communication we decided on shooting for first. If it wasn't, please let me know and I will edit the issue accordingly (that goes for any other necessary edits as well). Also, I didn't know how to structure the action items, so I hope the way it is currently structured is fine. Again, if any necessary edits are needed or if I am missing inf

[2020-02-19 02:45] #302 closed, assigned to leonelRos

[2020-02-19 02:57] #257 closed, assigned to leonelRos

[2020-02-19 04:56] cnk commented on #282
@thekaveman @KianBadie @ExperimentsInHonesty My experiments with the GitHub API have hit a wall. The code I developed with promises / await runs when run from the command line but when executed from a GitHub action all happens AFTER the action has moved on. So I get no data.

Will need to regroup with someone with JavaScript expertise. In the mean time, I committed the data structure and sample da

[2020-02-19 06:24] KianBadie commented on #318
Another thing that came up, do we want to get images of these leaders? If not, what would we do to replace the wireframe? We can get github avatar picture links and hardcode those in the project md file.

[2020-02-20 01:59] KianBadie commented on #157
@ExperimentsInHonesty @harishlingam
Just added a first iteration of the Project Team card based off of mock data added to _data/github.json and record-clearance-projectt.md files. (Order of contributors/leadership is arbitrary).

### Gif
![Peek 2020-02-19 17-45](https://user-images.githubusercontent.com/18221058/74893609-9ff78580-5341-11ea-9a3c-4c820af72838.gif)
### Stills
![Screenshot from 2020-0

[2020-02-21 01:01] leonelRos commented on #244
@ExperimentsInHonesty @harishlingam  I can't find the blurb for the HACKFORLA project card. I checked both issues #244 and #272 and can't find them. Please let me know.

[2020-02-22 18:26] ExperimentsInHonesty commented on #327
@KPHowley remove LATDM and LADOT leave all the other text.

[2020-02-22 18:27] ExperimentsInHonesty commented on #327
when done send the issue to bonnie in slack with the text, "ready to move to Website repository."

[2020-02-22 20:08] ashlingam commented on #157
@KianBadie @ExperimentsInHonesty @ysjiang18 Thanks for putting this together Kian. It's really helpful to see this iteration of the Project Home Page with dummy data added in.  A couple requests: (1) Can you increase the margins between each project resource box as we did on last call? (2) Now seeing the photos added in, I propose we split test the resource boxes Monday evening with: (a) red color

[2020-02-22 20:13] ashlingam commented on #157
@ysjiang18 (Just copying my earlier message here): Basically, we are looking for a wireframe that iterates on the mockup we already have, specifically, improving the way contributors are shown beyond a certain number (drop down?carousel? etc.). Following that, how can we improve the look of the Getting Started carrot, which when clicked displays the content box immediately below?

[2020-02-23 18:45] ashlingam commented on #303
@ExperimentsInHonesty @joelparkerhenderson Please arrange a meeting to discuss this implementation and what if any changes need to be made.

[2020-02-23 19:07] ashlingam commented on #252
@kate-rose  Posted to HelloGOV Slack channel to request update: https://hackforla.slack.com/archives/CDA23KHKP/p1582484825000900

[2020-02-23 19:18] ashlingam commented on #246
@emillipede Could you please provide a list of software tools used (e.g. Photoshop, Figma, pen & paper, etc.)? What non-programming languages do you use on your project? Thanks!

[2020-02-23 19:19] ashlingam commented on #251
@eselkin Could you please provide an ETA on the updated hero image for your project? Thanks!

[2020-02-23 19:23] ashlingam commented on #266
@ctsexton Sent message in Slack

[2020-02-23 20:46] ashlingam opened #323 "Create and Add survey for transportation and parking to website"
### Overview
The DLTA Hack Night must relocate to a new meetup space by June. Create a survey to understand the needs and priorities of DLTA, SOLA, and Westside attendees with respect to transportation and parking.

### Action Items

- [x] Brainstorm relevant survey questions
Parking is free-of-cost?
Parking spaces are readily available
Location is accessible by rail
Want their email address as we